[2020-08-22 19:14] irshadkn opened #9140 "TensorFlow 2 Object Detection API Installation"
**I used the following command for testing TF 2 Object Detection API Installation**
[code]
Python Version: 3.8.2
Tensorflow Version: 2.3.0
Operating System: Ubuntu

**Getting this error:**

======================================================================
ERROR: test_create_ssd_models_from_config (__main__.ModelBuilderTF2Test)
test_create_ssd_models_from_config (__main__.ModelBuilderTF2Test)

[2020-08-23 09:09] keremnymn opened #9141 "Object Detection Training Stops With "^C" Need Help"
Hello, I'm trying to train EfficientDet on my custom dataset. In spite of the EfficientDet backbone (D0-D1-D2-D3), Google Colab just kicks me out giving an error like this:

`W0823 08:47:59.941824 140512077502208 optimizer_v2.py:1275] Gradients do not exist for variables ['top_bn/gamma:0', 'top_bn/beta:0'] when minimizing the loss.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/ten

[2020-08-23 17:56] celalutku commented on #9033
I just want to convert my model (transfer learned object detection at TF2) to tflite model and use it in your android demo. Is the new code capable of doing so?

Thank you

[2020-08-23 20:31] ItsMeTheBee opened #9142 "Disable augmentation in training pipeline"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html

## 2. Describe the issue

Hey there!

Not sure if this is a bug because nobody see

[2020-08-24 03:53] azin20 commented on #9140
we get the same error!!!

======================================================================
ERROR: test_create_ssd_models_from_config (__main__.ModelBuilderTF2Test)
ModelBuilderTF2Test.test_create_ssd_models_from_config
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/object_detection/build

[2020-08-24 07:03] jiunoh commented on #7816
I am having the same issue. My version is 2.3.0 and my model(base) never reached BLEU 27 or 26. It stopped at about 25.7.
I modified the vocab_size to 33945 because it was hardcoded to different number(33708). train_steps was 800000 and max_length was 256.
(By the way, where did 27.7 come from? I cannot find the expected score in README, and baseline score in the paper was 27.3)

[2020-08-24 07:07] ivs-pychen opened #9143 "Accuracy loss of converted tf-lite model"
I use the export_tflite_ssd_graph.py to convert the model to TFLite compatible graph(.pb file). Then, I use tflite_convert to convert the .pb file to tf-lite format. Is there any accuracy loss of the tf-lite model?
The following is the command :
tflite_convert \
--graph_def_file=/home/ubuntu/ssd_mobilenet_v2/tflite_graph.pb \
--output_file=/home/ubuntu/ssd_mobilenet_v2/model.tflite \
--output_form

[2020-08-24 09:09] jinuhwang commented on #8608
Pretty sure it's not the best way but replacing the line to
[code]
did the trick for me.

[2020-08-24 09:12] saikumarchalla commented on #9139
@wwdok Could you please provide access to the colab  to reproduce the issue at our end.Thanks!

[2020-08-24 10:41] fisakhan commented on #3176
How do you confine TensorFlow to a single core and single thread?

[2020-08-24 12:56] wwdok commented on #9139
Hi,  is the link (https://colab.research.google.com/drive/1bZIkJ-wnMNqwSjQt8KMzF7dAvHRNedJk#scrollTo=WcE6OwrHQJya) i post in the description okay ?

[2020-08-24 13:18] xinliupitt commented on #7816
Hi jiunoh! Could you post your complete parameter settings? That is, apart from vocab_size, train_steps, what did you set for other parameters? Then I am able to understand your situation more detailedly.

[2020-08-24 13:22] ouzzane commented on #4203
I had almost the same problem [ici](https://github.com/tensorflow/models/blob/master/research/deeplab/eval.py)
tensorflow.python.framework.errors_impl.InvalidArgumentError: assertion failed: [`labels` out of bound] [Condition x < y did not hold element-wise:] [x (mean_iou/confusion_matrix/control_dependency:0) = ] [255 255 255...] [y (mean_iou/Cast_1:0) = ] [6]
	 [[{{node mean_iou/confusion_matrix

[2020-08-24 13:27] ouzzane commented on #8792
@AndreiBaraian I had the same problem, did you find a solution

[2020-08-24 13:33] AndreiBaraian commented on #8792
@ouzzane yes actually, thank you for reminding, I will also close this issue.

My problem was when providing the ground-truth. Segmentation masks had to be save using np.uint8.
So, make sure that it is something like this: cv2.imwrite(filename, img.astype(np.uint8))

Hope it helps.

[2020-08-24 13:33] #8792 closed

[2020-08-24 14:00] saikumarchalla commented on #9140
@irshadkn Could you please provide the exact steps/commands you had executed before running into issue. Thanks!

[2020-08-24 14:02] janpisl commented on #8399
Hi, I am experiencing a similar issue, described more in details [here](https://stackoverflow.com/questions/63552169/some-python-objects-were-not-bound-to-checkpointed-values) but I don't see how to solve it based on the information here. Can you please offer some advice?

Thank you!

[2020-08-24 14:48] ouzzane commented on #8792
@AndreiBaraian I didn't count well, it's in the eval.py script?

[2020-08-24 15:10] AndreiBaraian commented on #8792
@ouzzane No, separately. It was my script for generating the masks.

[2020-08-24 15:17] StphMe commented on #9142
I have the same issue. Even with no augmentation the images look darker then they should be. I also checked the tf-record files. In them the images are correctly saved.

[2020-08-24 15:21] Poemtech commented on #7640
same issue.
Tensorflow 2.2
Windows 10
Cuda 10.1
cudnn 8.0.2.39

[2020-08-24 15:23] ouzzane commented on #8792
ok thank you very much for your help @AndreiBaraian

[2020-08-24 18:27] azin20 commented on #9140
I'm following these steps for Python Package Installation:
cd models/research
# Compile protos.
protoc object_detection/protos/*.proto --python_out=.
# Install TensorFlow Object Detection API.
cp object_detection/packages/tf2/setup.py .
python -m pip install --use-feature=2020-resolver .

However after running "python -m pip install --use-feature=2020-resolver ." I get:

Usage:
  /opt/conda/bin/py

[2020-08-24 18:30] thagstrom123 commented on #7118
I am running both to compare with the same config file inception (pets). The loss rate is way way better using the train.py even if both run reasonably smooth, still trying to figure out why this is.

[2020-08-24 18:31] denisb411 opened #9144 ""Input shape axis 0 must equal 1" when using EfficientDet D0 on tensorflow-serving 2.3.0"
I train the model normally using `model_main_tf2.py` passing the pipeline_config_path using the ssd_efficientdet_d0_512x512_coco17_tpu-8.config pipeline config, which refers to the model of efficientdet d0.

It trains successfully as I used to do with faster_rcnn_resnet101 (tf 1.5).

I export the model using the script  `exporter_main_v2.py`. It exports succesfully and it can be normally loaded by

[2020-08-24 19:01] mgon5170 commented on #9133
Error arose due to num_classes. Default config file was set for 90 classes, I tried 1 class (custom dataset has 1 class to add) and 91 classes. Result was the same valueError (with different tensor shapes). When num_classes=90, the code continued to the next step but did not appear to train.  As seen in the output below the code jumped straight towards evaluation. Any insight would be appreciated.

[2020-08-24 19:02] thagstrom123 commented on #5112
I have an issue of getting the same performance with model_main as I got with train.py. The loss seems to improve at a much slower rate using the same config file.

[2020-08-24 19:07] CptK1ng commented on #8999
@pn12 using a greater batch size should just lead to an enrollment of the model. If you want to infer on another huge dataset, it is preferred to infer a batch of images instead of singles ones to save time.

[2020-08-24 21:57] yahiya6006 commented on #8331
The way i did was just deleted the checkpoint from the folder and added these lines to the config file

fine_tune_checkpoint: "PATH_TO_BE_CONFIGURED/model.ckpt"
from_detection_checkpoint: true

It actually restores the parameters from the provided model.ckpt file of mobilenet v3 and creates a new checkpoint file.

My training actually started and i did trained it for about 23k steps and got a loss

[2020-08-24 22:24] rsandler00 commented on #9138
Ok, I think I figured out the issue:
In https://github.com/tensorflow/models/blob/master/research/object_detection/model_lib.py#L459
[code]
Since `hparams` in never passed to `create_model_fn`, `load_pretrained` is set to False, regardless of what is in `train_config.fine_tune_checkpoint`, and thus the checkpoint does not get loaded. This seems like a bug to me.

To fix this I just set `load_pretr

[2020-08-24 22:59] peri044 commented on #9054
@allenwang28 Sorry for the delay. Had to switch tasks. I figured how to use it for fine-tuning. Thanks for the info.

[2020-08-24 23:58] ashiqimranintel opened #9146 "Customize Log steps flags isn't working"
I am using latest TF with the latest TF models. I am trying to run object detection models (Retinanet and maskrcnn). I want to check the performance after each step. That's why I put the flag --log_steps=1, but for some reason it's showing performance result after 100 steps. Then I tried to change the default value

/official/utils/flags/_benchmark.py

def define_log_steps():
  flags.DEFINE_intege

[2020-08-25 00:03] ashiqimranintel opened #9147 "Customize log_steps for object detection model"
I am using latest TF with the latest TF models. I am trying to run object detection models (Retinanet and maskrcnn). I want to check the performance after each step. That's why I put the flag --log_steps=1, but for some reason it's showing performance result after 100 steps. Then I tried to change the default value

/official/utils/flags/_benchmark.py

def define_log_steps():
  flags.DEFINE_intege

[2020-08-25 00:34] ambigus9 commented on #8892
For me works, the training process starts correctly! :+1:

[2020-08-25 03:43] DLMasterCat commented on #9143
similar question
After I converted it into tflite format with Qunantized UINT8 the output would always become the same, which leads to accuracy drop

[2020-08-25 04:12] #9147 closed

[2020-08-25 04:12] saberkun commented on #9146
#9147 is duplicated. Use this issue as the master.

[2020-08-25 04:44] jiunoh commented on #7816
full command:
[code]

I thought that the max_length limited the score, so I tried

[code]

(used newstest2013 as eval set and newstest2014 as test set this time)
but both results were about 25.7. never reached 27 or 26 anyway.
I did not changed other hyperparameters(learning rate, dropout rate, etc) except the vocab_size.
Also, I inserted try/except in the transformer_main.py

[code]
because somet

[2020-08-25 07:06] CptK1ng commented on #8990
Did you already solved your problems? I ran in to the same issue. Using the saved_model.pb from the object detection api. Tried `tf.saved_model.load` as well as `tf.keras.models.load_model`

[2020-08-25 07:24] CptK1ng commented on #9142
You should normalize your inputs. After normalization between 0 and 1, it should displayed correctly.

This step is also recommended to improve the learning process. By normalizing inputs, you prevent your training from exploding gradients

[2020-08-25 07:26] CptK1ng commented on #9140
You can run `pip install pip --upgrade` to get the latest pip version. I ran into the same yesterday and I was able to resolve it by updating pip

[2020-08-25 07:28] Berbas95 commented on #9123
That was just a type error. This is not the problem, but thank you.

[2020-08-25 07:33] CptK1ng commented on #9115
Like @Moritz-Weisenboehler  already mentioned, this is due the fact, that for tensorboarf bisualization, the image need to be scaled into 0 to 1 values. This should solve your problem.

[2020-08-25 08:25] zishanahmed08 commented on #4778
Did someone try it out with the tf2 scripts?

[2020-08-25 09:24] gtsoukas commented on #9140
Switching from Python 3.8 to Python 3.7 resolved the issue.

Example Dockerfile:
[code]

[2020-08-25 10:31] saikumarchalla commented on #9139
@wwdok Still i could not be able to access the colab that you have shared.Thanks!

[2020-08-25 11:55] jagob opened #9148 "'image/encoded' is required but could not be found, during training Context R-CNN"
I am trying to train the Context R-CNN model. Below is my progress so far.
Seems some steps only work using tf1 while others only using tf2.

Any suggestions or experiences are highly appreciated.

# Prerequisites

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [

[2020-08-25 12:00] wwdok commented on #9139
@saikumarchalla Is this one okay ：https://colab.research.google.com/drive/1bZIkJ-wnMNqwSjQt8KMzF7dAvHRNedJk?usp=sharing , this time i copy the link from the share buttton instead of copy from URL of browser.

[2020-08-25 12:01] afaq-ahmad commented on #9140
Thanks its solved my problem, using anaconda on window

[2020-08-25 14:00] xinliupitt commented on #7816
I am glad to see your detailed params! I think I found the key problem. The following is my command:

[code]
I got BLEU score 28.4 at around 250k steps.

My batch size is very large, 24576, with `param_set=big`. I use 8 "V100" GPUs in Google Cloud Platform to run this model.

Although you use `param_set=base`, it still needs a large batch size. Since you have 1 GPU, it may not be able to efficient

[2020-08-25 15:49] srjoglekar246 commented on #9033
@celalutku Yup!

[2020-08-25 16:02] HadesReturns commented on #8892
Hi,
I am trying to use centernet for one my projects. Current I was just testing it out on the normal RBC dataset, but I am getting checkpoint related error when using the CentreNet Model. I am attaching my config and log file(sorry for the long file, its just repeated errors).
[Config.txt](https://github.com/tensorflow/models/files/5124924/Config.txt)
[Error_CenterNet.txt](https://github.com/tens

[2020-08-25 16:06] ivs-pychen opened #9149 ".config file eval_config"
What do the num_examples and max_evals parameter mean in the eval_config of .config file?
If I use the data in TF Record format, the num_examples need to be the number of test data or the number of TF Record files?
And when I run the model_ main.py, after a few training steps, evaluation process evaluate indefinitely.
So, how to set the parameters for evaluation process

[2020-08-25 17:01] DanilKonon opened #9150 "evaluating model with eager_eval_loop"
I am trying to evaluate my resnet model with eager_eval_loop function from model_lib_v2.py.

In my tf record I have about 11 000 images. Yet when I try to use this function, it doesn't work. As far as I understand the problem is in 790 line of model_lib_v2.py: for i, (features, labels) in enumerate(eval_dataset):.

The problem is that eval_dataset is infinite, it doesn't finish.
Here is a part of

[2020-08-25 17:15] etatbak opened #9151 "EfficientDet Training loss=nan"
I'm training my custom model with EfficientDet D0 but after 700 steps I am getting loss as nan value. Is there someone who has the same problem?
TensorFlow 2.3.0 with GTX 1060 10.1 CUDA

Here my training overview:
![image](https://user-images.githubusercontent.com/46399056/91206063-d1914500-e706-11ea-926f-39c5c9fb1bb4.png)

I am using default config file parameters. Image size 512x512 and batch_si

[2020-08-25 18:07] dome272 commented on #2676
you are a legend

[2020-08-25 18:28] ymodak commented on #9142
For more context also refer this [thread](https://github.com/tensorflow/models/issues/9115#issuecomment-677508264)

[2020-08-25 18:49] vighneshbirodkar commented on #8892
@HadesReturns
As I mentioned in [my comment](https://github.com/tensorflow/models/issues/8892#issuecomment-671983240) you should set fine_tune_checkpoint_type to "fine_tune".

[2020-08-25 19:48] akshilsharma003 commented on #8721
I run the above mentioned commands but it retirns missing input file what should I do please help

[2020-08-25 20:38] elvinaqa commented on #7644
Same error?

[2020-08-26 00:25] azin20 opened #9154 "Tensorflow 2 Object Detection API: Error loading TFRecord images (coco)"
I'm trying to run object detection model from one of the config files
[code]
Coco dataset is downloaded from tensorflow-dataset api
https://github.com/tensorflow/datasets

which is bunch of tfrecord files.

when running below command,

[code]

I got the error in loading tfrecord files (saying can not decode file)

[code]

[2020-08-26 01:07] HadesReturns commented on #8892
Hey Vignesh
Thanks a lot for your help, I was apparently changing the wrong parameter of the fine_tune_checkpoint when setting it to fine_tune. Its all working now, thanks a ton for your help.

[2020-08-26 02:04] HadesReturns commented on #8892
Also @vighneshbirodkar do you have any idea how I can obtain mAP score for CentreNet when training the model as I only get loss values and few images in tensorboard.
[Log.txt](https://github.com/tensorflow/models/files/5127141/Log.txt)
![Tensorboard](https://user-images.githubusercontent.com/28929695/91246865-4c547180-e794-11ea-9bc4-91a6a7f3ca1a.PNG)

[2020-08-26 04:13] saikumarchalla commented on #9139
@wwdok Please go to File -> Save a copy as a GitHub Gist and share the link of the new gist created with us. Thanks!

[2020-08-26 06:20] cswwp opened #9155 "can't install delf in colab"
I have download the models repo, and upload to my google driver, and then connect with colab. i change current dir path to colab dir '/content/drive/My Drive/landmark/models-master/research/delf/delf/python/training', then i run bash install_delf.sh,  and it occur error 'install_delf.sh: line 83: /content/drive/My\: No such file or directory'. Anyone help?

[2020-08-26 06:22] cswwp commented on #9064
How you install delf with colab?

[2020-08-26 06:36] jiunoh commented on #7816
I see. My GPU is RTX 2080ti 11GB RAM, so I reduced my batch size too much. I will try 4096 or bigger(although it will may not reach 27, as you said).
For the exception ValueError, it seems not overfitting because the exception occurred even at step 20K~40K, which is the early stage of training. But maybe it also would be due to the batch size, I suspect.

It helped me a lot. Thank you for comments

[2020-08-26 10:06] vighneshbirodkar commented on #8892
@HadesReturns You need to launch a separate eval job for that.
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md#evaluation

[2020-08-26 11:20] saikumarchalla commented on #9116
@dreamitpossible1  Any update on this?

[2020-08-26 11:23] saikumarchalla commented on #9149
@ivs-pychen  Could you please fill the issue template.

If possible, share colab link or simple stand alone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-26 13:02] HadesReturns commented on #8892
Thanks a lot

[2020-08-26 13:17] egirgin opened #9156 "Inference TF2 Tutorial "PATH_TO_BE_CONFIGURED" and model name mismatch error."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/inference_tf2_colab.ipynb

## 2. Describe the issue

For this Colab tutorial I tr

[2020-08-26 13:21] #9149 closed

[2020-08-26 13:50] wwdok commented on #9139
@saikumarchalla Sorry for the repeated trial~ I saved it to local computer and upload it to google drive : https://drive.google.com/file/d/1cT9PLLrx6UCBEHI0v8pCQWEo9ZFzsmVL/view?usp=sharing. Acturally i didn't change any code of orginal notebook other than uncomment the gt_boxes, and it does not report error, just not show the GIF result as the screenshot in the description shows .

[2020-08-26 15:36] ChristofHenkel opened #9157 "How to asses weights of DELG?"
How can I asses the weights of the pretrained models and convert to numpy arrays? @andrefaraujo A lot of "normal" functionalities do not work after the model has been ported to tf2.0

[2020-08-26 19:02] andrefaraujo commented on #9155
not sure. Maybe try following the step-by-step instructions starting [here](https://github.com/tensorflow/models/blob/master/research/delf/INSTALL_INSTRUCTIONS.md#tensorflow) and below. That will be more informative to know which part of the installation is not working.

[2020-08-26 19:02] #9155 closed

[2020-08-26 19:06] andrefaraujo commented on #9157
You can always access this via the checkpoint within the pretrained SavedModel.

As per https://www.tensorflow.org/guide/saved_model,

[2020-08-26 19:06] #9157 closed

[2020-08-26 23:24] aavishkarmishra commented on #8505
@mickeystroller Is there anything left which I can do as I am beginner as it would be a great opportunity to learn.

[2020-08-27 07:49] dexter2406 opened #9158 "BikeVideo dataset (vid2depth) doesn't exist"
About the vid2depth.

Hi! I want to use your BikeVideo dataset (look amazing), but the link given in your official website is invalid. Could you re-release the dataset?

Thank you very much!

[2020-08-27 08:30] TolgaBkm commented on #9151
I have the same problem with EfficientDet D4.
![D4](https://user-images.githubusercontent.com/57003251/91416865-a61e6f80-e858-11ea-8aa9-4a3076a19a1e.PNG)

[2020-08-27 13:13] TannerGilbert commented on #9151
One of my viewers had the same problem. Changing the batch size from 1 to 4 solved the problem

[2020-08-27 13:52] FishermanZzhang opened #9159 "centernet didn't have regularization_losses"
I wonder centernet  didn't have regularization_losses  and how to add it
https://github.com/tensorflow/models/blob/master/research/object_detection/meta_architectures/center_net_meta_arch.py#L2952

[2020-08-27 13:54] FishermanZzhang commented on #9156
yet,  https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/centernet_resnet101_v1_fpn_512x512_coco17_tpu-8.config#L14

[2020-08-27 18:15] Furjoza commented on #9102
It should work now. Sorry!

[2020-08-27 18:23] preronamajumder commented on #3196
It is not a good idea to have different height and width for the image resizer in case you want to convert it to uff to run on edge devices. Because you need to manually put the ratios in the uff config file. and the function that is used to calculate the ratios take only one variable as input. so for 300x300, the ratios would be calculated for 300. but for your case 260x346, if you input either 2

[2020-08-28 03:57] s0r2637 commented on #9002
Thank you!  I will try

[2020-08-28 03:57] #9002 closed

[2020-08-28 04:03] s0r2637 opened #9161 "is there an example to train both object and keypoint detector in TF2 object detection API?"
I know that the tensorflow model zoo has CenterPoint models that are capable of both object and keypoint detection.  Is there an example script for training keypoint estimator in addition to object detection?

[2020-08-28 05:19] koolvn commented on #9151
I also have the same problem. I've tried d1 and d2.
![image](https://user-images.githubusercontent.com/48523533/91523732-ed6b3580-e916-11ea-8cd8-cd1a94ceacac.png)
Also, it seems that network is not learning at all.. I have a custom .tfrecord dataset. The config file is attached.

[pipeline_d2.config.txt](https://github.com/tensorflow/models/files/5140141/pipeline_d2.config.txt)

[2020-08-28 05:22] #8671 closed

[2020-08-28 05:25] saberkun commented on #9075
We don't manage the tutorials. I will reassign this to a colleague.
A very simple way to write a position encoding is: https://github.com/tensorflow/models/blob/master/official/nlp/xlnet/xlnet_modeling.py#L108

[2020-08-28 05:27] #9028 closed

[2020-08-28 08:55] DevelopedByAnurag opened #9162 "Centernet model"
Hii guys,
Is it possible to get a genral size centernet pertained model similar to ssd_mobinet that has no restriction on the size of input image and those images can be dynamic?

[2020-08-28 09:04] moneypi commented on #8731
Same problem.

[2020-08-28 09:50] shahidammer commented on #9033
I'm also getting this `**_NameError: name 'graph_matcher' is not defined_**` when I am trying to export it to tflite (android)
**model**: ssd_resnet50_v1_fpn_640x640_coco17_tpu-8
**tt_nightly**
**Python** 3.8

[2020-08-28 11:18] joe983 commented on #8711
Following these instructions on colab

[https://towardsdatascience.com/detailed-tutorial-build-your-custom-real-time-object-detector-5ade1017fd2d]

At this step:
`!python /content/drive/'My Drive'/object_detection/models/research/object_detection/export_inference_graph.py \
    --input_type=image_tensor \
    --pipeline_config_path=/content/drive/'My Drive'/object_detection/models/research/object_

[2020-08-28 11:21] TolgaBkm commented on #9151
I have also tried to increase the batch size to 4. However, I still got loss=NaN around 50k steps of training.

[2020-08-28 11:27] shahidammer commented on #9031
@MeghnaNatraj I used your give script to export the model to a tflite but I am getting this

`2020-08-28 11:20:09.890462: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1402] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 14636 MB memory) -> physical GPU (device: 0, name: Tesla V100-SXM2-16GB, pci bus id: 0000:00:04.0, compute capability: 7.0)
2020-08-28 11:20:10.

[2020-08-28 12:11] geeheim commented on #9151
Try to reduce the learning rate, this should solve the problem. The models are usually trained with a large batchsize, eg.: 128 for efficient_det d3, when adjusting this parameter (eg: 128 -> 4) makes sure to also change the learning rate, since your gradients are a lot noisier. I would divide the learning rate by the same factor.

[2020-08-28 12:30] ravikyram commented on #9161
@s0r2637

Can you go through this [link ](https://github.com/xingyizhou/CenterNet) and see if it helps you. Thanks!

[2020-08-28 12:45] geeheim commented on #9162
Did you tried to export the checkpoint (e.g. this one: http://download.tensorflow.org/models/object_detection/tf2/20200713/centernet_hg104_512x512_coco17_tpu-8.tar.gz) and replace the resizer method with the identity_resizer? I think that should work.

[2020-08-28 13:08] qraleq commented on #9136
Any update on this issue?

[2020-08-28 14:13] s0r2637 commented on #9161
HI

I looked into the link briefly, but that link is providing instructions on using PyTorch for training.  Is there anything specifically using TFOD API?

[2020-08-28 15:14] koolvn commented on #9151
Thank you for an advice! I've never thought that learning rate could cause a problem like that.
Now I'm training EfficientDet D1 on GTX 1080 Ti with batch size = 6 and LR = 0.003 with warmup. It looks promising.
![image](https://user-images.githubusercontent.com/48523533/91583351-88412f80-e96a-11ea-9a63-876b19424fe3.png)

Here's [my pipeline config](https://github.com/tensorflow/models/files/51428

[2020-08-28 17:24] jaeyounkim commented on #9158
@rezama Can you fix this issue?

[2020-08-28 20:00] AHAMMADMEJBAH commented on #8608
This method works for me, Try it out.

`layers1= tf.compat.v1.layers.dense(tf_x, 10, tf.nn.relu) `
`output= tf.compat.v1.layers.dense(layers1, 1)`

[2020-08-28 21:04] ruthvik92 commented on #8613
@asgtech : any insights on how to get the corresponding image that causes this error?

[2020-08-29 07:54] legacyai commented on #8953
Likely a bug in TF 2.3.0

[2020-08-29 11:21] Harsh188 commented on #8704
Hi @jaeyounkim @djdongjin! I'd love to help out. I just went through the research paper, I'm still a rookie to this field so I'd definitely need some guidance. Also, I'm unable to find the RoBERTa folder under the master branch in `models/official/nlp/`.

[2020-08-29 16:24] tanmher opened #9164 "ImportError: No modules named 'nets'"
Hello!

Upon running this command in the object_detection directory "python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config"

it says that
ImportError: No modules named 'nets'

I tried to set the pythonpath but it didnt work.

I hope someone could help me fix this issue. Thanks in advance
![image](https://user-images.githubuserconte

[2020-08-29 17:24] Paranormaly opened #9165 "Converting custom model to tflite (Object Detection 2 API)"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ Y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

## 2. Describe the issue

Is it possible to convert a custom all the

[2020-08-29 18:05] ravikyram commented on #9164
@tanmher
It is the problem with path.When running locally, the tensorflow/models/ and slim directories should be appended to PYTHONPATH.
Please, refer this[ link](https://github.com/tensorflow/models/issues/1842) and see if it helps you. Thanks!

[2020-08-29 19:01] tanmher commented on #9164
Hi! thanks for the response.

export is not working. I try set instead of export. Then after that I run setup.py build and setup.py install

Then run this code python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config

Sorry please bear with me, I'm a second year college student and I'm still learning. thanks

[2020-08-29 19:33] tanmher commented on #9164
Hi! It worked thank you. I user this

run this command
set PYTHONPATH=C:\tensorflow1\models
set PYTHONPATH=C:\tensorflow1\models\research
set PYTHONPATH=C:\tensorflow1\models\research\slim

instead of export PYTHONPATH="$PYTHONPATH:tensorflow/models/research:/tensorflow/models/research/slim"

[2020-08-30 10:44] akashbangera758 commented on #8437
Hey, I'll fix this and send a PR, if no one's working on it.

[2020-08-30 11:47] xNeophyte commented on #9110
@Agiledom It looks like [Runtime 2.2](https://cloud.google.com/ai-platform/training/docs/runtime-version-list#2.2) has been added to AI Platform. I'm hoping that this issue will go away on that version of the runtime. I won't get a chance to try it out for a few days, but when I do I'll let you know how it goes.

[2020-08-30 14:01] syiming commented on #8775
Closing this issue due to lack of activity. Please reopen it if you have further questions. Thanks!

[2020-08-30 14:01] #8775 closed

[2020-08-30 14:03] syiming commented on #8667
Closing this issue due to lack of activity. Please reopen it if you have further questions. Thanks!

[2020-08-30 14:03] #8667 closed

[2020-08-30 14:05] syiming commented on #8972
Closing this issue due to lack of activity. Please reopen this issue if you have further questions. Thanks!

[2020-08-30 14:05] #8972 closed

[2020-08-30 14:58] BandaruMeghana opened #9168 "Unable to create/update the checkpoints during training"
Hi team,

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/faster_rcnn_resnet101_v1_640x640_coco17_tpu-8.config

## 2. Describe the bug
I'm using the faster RCNN 640x640 model for object detection on a custom dataset. During the training, I see that the events file, ```events.out.tfevents.1598792593.Meghana.23775

[2020-08-30 20:16] mihir-chauhan opened #9169 "TFLiteConverter (Saved Model -> TFLite) NameError: name 'graph_matcher' is not defined"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-30 20:28] mihir-chauhan commented on #9169
I have tried using tf-nightly, but that does not work because when I try running on an Android phone, it gives an error:
[code]

[2020-08-30 21:16] dinis-rodrigues commented on #9136
Yup, same issue here. in TF 1 this is works properly, while in TF 2 it does not...

[2020-08-31 04:59] sainisanjay commented on #3196
@preronamajumder Did you use transfer learning or you train the model from scratch? I believe, If you change the height and width you can not use the pre-trained model (300x300) for weight initialization.

[2020-08-31 05:19] yang07ly commented on #6622
I faced the same error as @paviddavid in the method `MergeFromString`.

@annie-surla I'm unable to use `export_inference_graph.py` to generate `frozen_inference_graph.pb`. The author @pkulzc in issue #8844 suggests that "placeholder and frozengraph are all TF1 features. In TF2 you should use SavedModel. See exporter_main_v2.py". So I'm under impression that SavedModel consists of the feature of fr

[2020-08-31 05:45] yang07ly commented on #9047
@Farjad3253 may I ask how did you get a frozen graph?

I'm asking because in Issue #8844 :

[2020-08-31 06:12] ravikyram commented on #9164
@tanmher

Please close this thread if it solves your question. Thanks!

[2020-08-31 07:09] raz-SX commented on #9033
@srjoglekar246 - any updates?

[2020-08-31 08:16] DevelopedByAnurag commented on #9162
@geeheim no because I have images with a Mixed size

[2020-08-31 08:34] Fetulhak opened #9170 "mAP decreases as training steps increase in faster rcnn tensorflow object detection api"
Evaluate annotation type *bbox*
DONE (t=4.24s).
Accumulating evaluation results...
DONE (t=0.07s).
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.314
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.844
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.155
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= small | max

[2020-08-31 10:01] ItsMeTheBee commented on #9142
Do I need to normalize my training dataset or is there a function in the training pipeline i can simply add to achieve this without modifying all of my images??

[2020-08-31 11:13] #9164 closed

[2020-08-31 11:31] yang07ly commented on #8412
+1. I'd greatly appreciate this feature because I need this for my research project! Or can anyone offer any insights on obtaining these metrics?

[2020-08-31 11:51] KuznetsovIllya commented on #9057
Hi, @CarrierDiagnostics
I had the same error - this means model_main_tf2.py can't find config file. I've found, that in some internet manuals the command for running training used parameter **pipeline_config**. However, **pipeline_config_path** should be used instead. Check the name of parameter you use and the the path to the config file.

[2020-08-31 12:01] ravikyram commented on #9165
@Paranormaly

Yes we can convert TF OD models to TF lite. I have converted SSD Resnet 50 model for your reference. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/659dbd9538565ef7b70657f7b67ef68a/untitled286.ipynb). Thanks!

[2020-08-31 12:12] ravikyram commented on #9169
@mihir-chauhan

Can you please see the [comment](https://github.com/tensorflow/models/issues/8844#issuecomment-658458890) and see if it helps you.Thanks!

[2020-08-31 13:14] saikumarchalla commented on #9138
@rsandler00   Can you go ahead and resolve the issue if it was resolved. Thanks!

[2020-08-31 13:27] ravikyram commented on #9161
@s0r2637

Sorry for the incorrect link. Please, go through the [link](https://www.tensorflow.org/hub/tutorials/tf2_object_detection) and see if it helps.

Also, this question is better asked on StackOverflow. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-08-31 14:06] TolgaBkm commented on #9136
I also have the same issue. I have to stop the training once in a while, run evaluation manually and resume the training process afterwards.

[2020-08-31 14:10] DevanshBheda opened #9171 "Error while running model_main_tf2.py in eval mode."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-31 15:00] mgon5170 opened #9172 "Config files do not correlate with the model zoo type -- detection zoo results in "classification" checkpoints"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md

https://github.com/tensorflow/models/blob/master/research/ob

[2020-08-31 15:38] mihir-chauhan commented on #9169
@ravikyram

Thanks for the reply. To train the model, I am using `model_main_tf2.py`, but to convert I am using `exporter_main_v2.py` as @pkulzc had commented. Once it has outputted in the output directory, I then would use `export_tflite_ssd_graph.py` and then `tflite_convert.exe` to convert to tflite, but the `NameError: name 'graph_matcher' is not defined` error happens when using `export_tflit

[2020-08-31 17:15] Agiledom commented on #9110
@xNeophyte Thanks for this! Unfortunately, there isn't [TPU support](https://cloud.google.com/ai-platform/training/docs/runtime-version-list#tpu-support) yet, but it should in theory work for GPU's. I haven't run extensive tests yet, but I did manage to get a model training on a simple GPU setup.

[2020-08-31 20:18] s0r2637 commented on #9161
Hi,

I looked at this link and I see that you can infer keypoints from the pre-trained model.  But how to train a keypoint detector on custom datasets?

[2020-09-01 00:40] yang07ly commented on #9171
I think your batch size is too big in your config. Try using a batch size of 1.

[2020-09-01 02:28] dreamitpossible1 commented on #8322
This is wrong

[2020-09-01 04:17] mihir-chauhan opened #9175 "Converting SSD MobileNet v2 320x320 From Saved Model to TFLite - tensorflow.lite.python.convert.ConverterError: requires all operands and results to have compatible element types"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-01 04:23] dinis-rodrigues commented on #4778
@ChowderII Thanks for the explanation, I've struggle really hard to find a way to make custom metrics. I guess I was missing the changes in the coco_evaluation.py file...

[2020-09-01 04:37] himsR opened #9176 "Poor training performance of delg"
Hello,
I cloned the delg repo and tried to train delg on landmark clean -v2  with the default resnet-50 backbone for a while on a 2- gpu machine (TITAN-V+1080 ti)
for several iterations(batch size - 26, lr-.001). It seems that the model is not learning anything at all. My output is somthing like:

Validation(3000.000000)

I0831 23:19:53.560219 139707578869504 train.py:519] : desc: 0.000020

I0831

[2020-09-01 04:52] sajjadaemmi commented on #9175
it is duplicate to https://github.com/tensorflow/models/issues/9033

[2020-09-01 04:56] ChowderII commented on #4778
@dinis-rodrigues I'm not sure about custom metrics. I know that the metrics I was interested in already had a function in coco_evalaluation.py I have no idea how one could go about to add his/her very own custom metrics but if you are looking for metrics that coco_eval provides, I suggest trying out my blob of text! Good luck!

[2020-09-01 04:59] ChowderII commented on #9087
I'm very sorry to multi post but is there anything I can do to help you help me?
Let me know if my problem is not clear or needs clarification. Thank you!

[2020-09-01 05:23] mihir-chauhan commented on #9175
Hi @sajjadaemmi

Thanks for the info, looks like @srjoglekar246 is working on releasing a script to convert TF2 models to TFLite on the issue you had mentioned. I will watch that thread so I can use that script soon too!

[2020-09-01 05:47] kunal-lalwani commented on #8128
Were you able to solve the issue?

I get the issue with ssd v2 model :
type.dimensionCount == 0 == type.dimensions == nullptr (type.dimensionCount == 0 = 1, type.dimensions == nullptr = 0)

[2020-09-01 05:58] Paranormaly commented on #9165
Thankx @ravikyram I already tried this code (I found the link in another issue) with EfficientDet
Are you sure this code will work for the entire models [tf2_detection_zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) ? Are these models compatible with mobile use? or just SSD ..

[2020-09-01 06:12] ravikyram commented on #9165
@Paranormaly

Thanks for the update.Ideally it should work with all the models. I have tested with some models and i was not facing any problem.If you are facing the issue with any particular model please file a new issue.Thanks!

[2020-09-01 06:37] ravikyram commented on #9175
@mihir-chauhan

This issue is duplicate of #9033. Can we close the issue here and track the issue in #9033 . It will help us to follow easily. Please let us know. Thanks!

[2020-09-01 06:55] AMDonati opened #9177 "DifferentiableFIVO: tensorflow version"
## 1. The entire URL of the documentation with the issue
https://github.com/AdrienCorenflos/differentiableFIVO

## 2. Describe the issue

@dieterichlawson, I would like to know which tensorflow 1.X version is needed to run the code.
Many thanks,
Alice

[2020-09-01 07:33] malekiamir opened #9178 "training deeplab on cityscapes dataset"
I'm trying to train deeplab on cityscapes dataset,
I've converted the dataset to tfrecord successfully but there is a problem running the train.py
`
Traceback (most recent call last):
  File "train.py", line 23, in <module>
    from deeplab.datasets import segmentation_dataset
ImportError: cannot import name 'segmentation_dataset' from 'deeplab.datasets' (/home/rahbinsanat/tensorflow/models/resear

[2020-09-01 08:55] PallawiSinghal commented on #4061
**This is the command, customise it according to the parameters used in training.**

python deeplab/export_model.py --checkpoint_path=/code/models/research/deeplab/weights_input_level_17/model.ckpt-22000 --export_path=/code/models/research/deeplab/frozen_weights_level_17/frozen_inference_graph.pb --model_variant="xception_65" --atrous_rates=6 --atrous_rates=12 --atrous_rates=18 --output_stride=16

[2020-09-01 08:57] PallawiSinghal commented on #5806
**This is the command, customise it according to the parameters used in training.**

python deeplab/export_model.py --checkpoint_path=/code/models/research/deeplab/weights_input_level_17/model.ckpt-22000 --export_path=/code/models/research/deeplab/frozen_weights_level_17/frozen_inference_graph.pb --model_variant="xception_65" --atrous_rates=6 --atrous_rates=12 --atrous_rates=18 --output_stride=16

[2020-09-01 09:21] egirgin commented on #9133
Same here. I'm using Faster R-CNN ResNet101 V1 800x1333 pretrained model from ModelZoo to predict PascalVOC2007.
I ran prediction via the following command :

[code]

I got the following error :

[code]

my_model.config file :

[code]

All the log:

[code]

[2020-09-01 10:03] ChenYingpeng opened #9179 "DELG export model problem"
# Trianing

`python3 train.py \
  --train_file_pattern=gldv2_dataset/tfrecord/train* \
  --validation_file_pattern=gldv2_dataset/tfrecord/validation* \
  --imagenet_checkpoint=resnet50_weights_tf_dim_ordering_tf_kernels_notop.h5 \
  --dataset_version=gld_v2_clean \
  --logdir=gldv2_training/ \
  --delg_global_features`

# Export model
`python3 model/export_global_model.py --ckpt_path=gldv3_trainin

[2020-09-01 10:24] #9178 closed

[2020-09-01 10:43] egirgin commented on #9133
I didn't tried it but, maybe you want to edit your "label_map.txt" file so that it has 90 classes but the additional ones never occur in your dataset so that, thanks to "unbalanced classes" phenomena, the additional ones are started to be forgotten and your own classes dominates them.

[2020-09-01 11:06] ID56 opened #9180 "Distributed training on Kubernetes (Azure AKS) cannot utilize GPUs properly"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-01 11:20] ravikyram commented on #9139
@wwdok

I tried in colab and was able to execute succesfully. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0407cded7fb7d384b8294e2502417379/untitled289.ipynb).Thanks!

[2020-09-01 11:52] PK-BondiLabs commented on #9171
I've got the same issue using my own project.  It worked well when I tested on Oxford Pet Dataset.

[2020-09-01 12:13] egirgin commented on #9156
I trained my own model and now I can understand the paths but the tutorial still remains as failed. You can close this issue if you want so.

[2020-09-01 12:22] abhi-kumar commented on #9032
That Inspur size error was resolved  with
[code]

Still TRT conversion didn't speed up things much.

[2020-09-01 12:33] jhonjam commented on #8412
Hello, I solved the problem by modifying the code available [in](https://towardsdatascience.com/confusion-matrix-in-object-detection-with-tensorflow-b9640a927285)

In which I generate two .txt files; one referring to the predictions made by the model and the other to the ground truth (name2="TXTPREDICIONRCNN1/Im{}.txt".format(conttpredic), name="TXTVERDAFUNDAMENTALRCNN/Im{}.txt".format(contt))

Th

[2020-09-01 12:47] LokmenChwaya commented on #8802
I got the same error, any solution please?

[2020-09-01 13:30] ravikyram commented on #8911
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-01 13:30] #8911 closed

[2020-09-01 13:33] ravikyram commented on #8925
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-01 13:33] #8925 closed

[2020-09-01 13:35] ravikyram commented on #8927
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-01 13:35] #8927 closed

[2020-09-01 13:36] ravikyram commented on #8928
@fly2008begin

Any update on this issue please. Thanks!

[2020-09-01 13:39] ravikyram commented on #9048
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-01 13:39] #9048 closed

[2020-09-01 13:40] angyee opened #9181 "W0901 18:59:43.630363 140028609734464 deprecation.py:317] From /home/ayennam/.virtualenvs/sensable3_8/lib/python3.8/site-packages/object_detection/inputs.py:259: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version. Instructions for updating: Use `tf.cast` instead."
## 6. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- Mobile device name if the issue happens on a mobile device:
- TensorFlow installed from (source or binary):na
- TensorFlow version (use command below):2.2.0
- Python version:3.8
- Bazel version (if compiling from source):na
- GCC/Compiler version (if compiling from source):na
- CUDA/cuDNN version: 10.1/7.6.

[2020-09-01 14:29] p135 commented on #8802
Train in tensorflow 1.15
On Tue, Sep 1, 2020 at 8:47 AM Lokmen Chwaya <notifications@github.com>
wrote:

[2020-09-01 14:52] ambigus9 opened #9182 "How to plot feature maps from Region Proposal Networks of Faster R-CNN?"
Is there a way to plot feature maps from Region Proposal Networks of  exported model that has Faster R-CNN ResNet50 V1 640x640 architecture?

[2020-09-01 15:14] mihir-chauhan commented on #9175
@ravikyram

Sure, we can close this issue. I just want to make sure that the script by @srjoglekar246 will fix this issue and will work on an Android phone without getting the `java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model` error?

[2020-09-01 17:21] mihir-chauhan commented on #9169
Will this TFLite conversion bug be fixed by the script from @srjoglekar246 and will work on an Android phone without getting the `java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model` error? If so, I can watch issue #9033 and close this issue so I can use that script too!

[2020-09-01 17:34] saikumarchalla commented on #8966
@Deep-learning-practitioner  Could you please check the above comment. Please go ahead and close the issue if it was resolved.Thanks!

[2020-09-01 17:41] ravikyram commented on #9181
@angyee

Can you please elaborate the issue. If you want to ignore the warning messages by using below code.

[code]
If it doesn,t help please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in finding the root cause of the issue. Thanks!

[2020-09-01 18:05] srjoglekar246 commented on #9169
Yup, that is the expected behavior. The first version of the script will only support SSD models, but we will be exploring other model-types as followups.

[2020-09-01 18:57] mihir-chauhan commented on #9169
Ok, thank you very much, @srjoglekar246. I will close this issue.

[2020-09-01 18:57] #9169 closed

[2020-09-01 19:20] #9175 closed

[2020-09-01 19:31] ecatkins commented on #9136
Also hitting the same issue trying to port my code over from TF1 to TF2. I previously was using Weights & Biases to sync to Tensorboard so that I could monitor the progress of training... and now not sure what to do

[2020-09-01 20:21] andrefaraujo commented on #9179
The current exporting code is not yet supporting DELG models. We will push an update soon that should fix this. Stay tuned :)

[2020-09-01 20:27] andrefaraujo commented on #9176
Hi @himsR , thanks for trying out the DELG training code. This is still work-in-progress to a good extent, stay tuned as more updates will come in the following weeks.

Regarding what you observed: @dan-anghel has also noticed some issues when training, depending on the learning rate, batch size, number of GPUs, etc. In particular, recently when training with 4 GPUs, batch size of 128, decreasing

[2020-09-01 20:29] dinis-rodrigues commented on #9136
Just checked related issues, it seems that evaluation while training, as we did in TF 1 is not supported with TF2's model_main_tf2.py

[2020-09-01 21:41] FilloFolla commented on #7640
Same problem.
Win 10
TensorFlow GPU 2.3.1
Cuda 10.0 (it's the same with 10.1)
Cudnn 7.6.5.32
NVIDIA GeForce GTX 1050

Memory of GPU is almost all used, but GPU is 0% in use :-(

[2020-09-01 21:45] Panaroja commented on #9172
You should be able to use it for 'detection' just by changing the value of the fine_tune_checkpoint_type from 'classification' to 'detection'.

[2020-09-01 22:03] Panaroja opened #9183 "[TF 2 Object Detection API] Unable to run evaluation - TypeError: expected str, bytes or os.PathLike object, not NoneType"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ Y ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ Y ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Y ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are

[2020-09-01 22:08] huberemanuel commented on #9183
You need to specify the model_dir parameter

[2020-09-01 22:10] huberemanuel commented on #9183
You need to specify the `model_dir` parameter, you actually mention this parameter on the "Steps to reproduce" section, but you are no using it on "Describe the bug" section. Did you try passing this parameter?

[2020-09-01 22:15] k8280627 commented on #8726
Hi @tombstone @jch1 @pkulzc,

just wanted to bump this up and see if there's any update on this issue. Please let me know if you need additional information.

[2020-09-01 22:34] Panaroja commented on #9183
If I could *facepalm* myself here, that would be the place. Indeed, even though I was looking at this several times, time after time I was skipping this exact parameter.

[2020-09-01 22:34] #9183 closed

[2020-09-01 22:44] Panaroja commented on #9171
This seems to be purely memory dependent.
As suggested above, change the batch size to the smaller value (preferably - use the batch size of 1) and then proceed with executing the procedure.

[2020-09-02 02:08] rybread1 commented on #7640
Same problem.
Windows 10
TensorFlow GPU 2.3.0
Cuda 11.0
Cudnn 8.0.3.33
NVIDIA GeForce GTX 1070

Memory is almost 100% full, GPU is 0%. Model goes on to train using CPU.

[2020-09-02 03:09] jvishnuvardhan commented on #9140
@irshadkn Is this resolved for you? Can you please try the suggestion in previous posts and let us know whether it worked for you or not. thanks!

If this was resolved for you, then please close the issue. Thanks!

[2020-09-02 04:01] mackdelany commented on #9115
@Moritz-Weisenboehler @CptK1ng sorry to bother... when do you scale your images into 0 to 1 values? I assume you are writing images into TFRecord files as jpg byte streams?

Are you using the [NormalizeImage](https://github.com/tensorflow/models/blob/52bb4ab1d8dd42f033762b698a8acffc1b639387/research/object_detection/protos/preprocessor.proto) data augmentation setting? Or something a bit more expl

[2020-09-02 05:20] Harsh188 commented on #8533
https://github.com/huggingface/transformers/pull/4901#issue-432363045

[2020-09-02 05:33] Harsh188 commented on #8705
Hi @Vishal-V! I'd love to help out in any way please let me know if I could help you in any step of the process :)

[2020-09-02 07:45] matinslh opened #9185 "Export Inference Graph feature in TF2 and create frozen inference graph and how test on new image"
I am working with tensorflow 2. I could run completely but the problem is that I can't create frozen inference graph in tf2. so how should I test on new image without having frozen inference graph and what should I use instead of it, since exporter_main_v2.py does not create inference graph.

[2020-09-02 07:50] angyee commented on #9181
trying to run the training script

/models-master_new/research/object_detection $ python model_main_tf2.py --model_dir=ssd300  --pipeline_config_path=ssd300/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.config

then get stuck at

Instructions for updating: Use `tf.cast` instead

[2020-09-02 08:26] 2020zyc opened #9186 "TypeError: ('Not JSON Serializable:', tf.float32)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [yes] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2020-09-02 08:38] ravikyram commented on #9171
@DevanshBheda

Can you please reduce the batch size and let us know  if the issue still persists. Thanks!

[2020-09-02 08:46] taoxingpan opened #9187 "It seems the function "capture_video()" has not been implemented"
@ofirnachum thanks a lot for your code, is really helpful.
I am using the code <https://github.com/tensorflow/models/blob/master/research/efficient-hrl/eval.py>, but in line 161, I meet the error "AttributeError: module 'eval_utils' has no attribute 'capture_video'".

Would you like to provide the code for this function 'capture_video()'?

[2020-09-02 09:03] AzinPoshtyar commented on #9140
pip install pip --upgrade could help to resolve the issue.
Thank you.

[2020-09-02 09:45] etatbak opened #9188 "CenterNet image_resizer"
I train my custom model with **CenterNet HourGlass104 1024x1024** My dataset contains only images with **720:1280** size. In config file when I change **keep_aspect_ratio_resizer** as **720:1280** it doesn't detect accurately. But when I set aspect_ratio as **1280:1280** or **1024:1024** it works much better.
Someone please can explain why I get better results with these scales even I have lower s

[2020-09-02 11:35] PK-BondiLabs commented on #9171
Evaluation batch size is 1. It was working when I just had TensorFlow version 2.2 ( Anaconda virtual Environment). I set up another virtual Environment for TensorFlow nightly version, and currently, I've got two separate virtual envs. I tested with both versions, non of them works.

[2020-09-02 11:47] wzmJimmy opened #9189 "DELG implementation does not have the auto-encoder as cited in paper."
## The DELG paper

According to the latest version [DELG paper](https://arxiv.org/pdf/2001.05027.pdf), the local feature part of DELG is slightly different from DELF. It apply an auto-encoder on features and then use the attention weights on reconstructed features. losses of  auto-encoder reconstruction and attention classifier are used together to train the local features. Just like the two scree

[2020-09-02 12:15] DevanshBheda commented on #9171
@ravikyram Reducing the batch size worked for me. Thanks for recommending that. This solves the eval script issue. Can you suggest me a way to run this eval script after every training step as per old version? Should I open a new feature for this?

[2020-09-02 12:47] canhld94 commented on #6106
same issue here (custom dataset)

[2020-09-02 13:55] reedts commented on #9148
I'm encountering the exact same issue.

Any news on this?

[2020-09-02 15:16] ofirnachum commented on #9187
Unfortunately, the video capture I used is not feasible to open-source. I do know others have been able to implement alternative mechanisms, which you may be able to use; see here: https://github.com/tensorflow/models/pull/6731/files

[2020-09-02 15:16] #9187 closed

[2020-09-02 16:25] andrefaraujo commented on #9189
Yes, currently the auto-encoder is missing, you are right. We are planning to add it soonish, hopefully within the coming month.

[2020-09-02 16:47] yanchuangzhao opened #9190 "How to use the re-traiend InceptionV3 to predict unknown images in Google Colab."
Dear all,
I am learning how to use InceptionV3 in Google Colab. I follow an exercise as follows:

https://github.com/google/eng-edu/blob/master/ml/pc/exercises/image_classification_part3.ipynb

By this exercise, we can obtain a CNN model that is pre-trained on  ImageNet and re-trained by cat&dog dataset. This model is also validated. Then we can use this model to classify new unknown images to det

[2020-09-02 17:13] ravikyram commented on #9026
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-02 17:13] #9026 closed

[2020-09-02 17:13] shivasj commented on #9190
Follow these steps to make a prediction from a new file

Load the image from disk
`
test_x = []
# read image
image = cv2.imread("path to image")
# convert to rgb
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
test_x.append(image)`

Then pre-process the test image:
`
test_x = np.asarray(test_x)
test_processed_x = test_x.astype("float")/255.0
`
Then you can predict from your model like this:

`
test

[2020-09-02 19:07] mgon5170 commented on #9172
Thanks, I wasn't sure if that was a valid option.

[2020-09-02 19:07] #9172 closed

[2020-09-02 19:17] fxpaquette commented on #7900
@carlobambo @alexqdh @pkulzc @tombstone
So I found the source of the bug. Below is the solution for the SSD detectors but it could be easily adapted to work with RCNN and other net architectures.

In [models/research/object_detection/meta_architectures/ssd_meta_arch.py](https://github.com/tensorflow/models/blob/3f3ecc47de53d1c127889912a0a3ab3c74635a42/research/object_detection/meta_architectures/s

[2020-09-02 19:38] fxpaquette commented on #9185
You have to use the saved_model folder created by exporter_main_v2.py

[code]

We don't have to deal with Session and GraphDef anymore

[2020-09-02 20:38] onlymanal commented on #7530
i have same issue,
TensorFlow = 2.3
when i try to use placeholder i should use Sessions to run, but it doesn't run, if i delete placeholder it successfully run
`import tensorflow as tf
tf.compat.v1.disable_eager_execution()

v1 = tf.Variable(2)
v2 = tf.Variable(4)
p1 = tf.compat.v1.placeholder(tf.float32)
r1 = tf.add(v1, v2)
print(r1)
s = tf.compat.v1.Session()
print(s.run(r1, feed_dict={p1: 5.5})

[2020-09-02 20:53] wzmJimmy commented on #9189
That's great, hope it will come out soon.

Moreover, I have another question. **The paper itself has conflicted descriptions about which is the local descriptor**:

<img width="640" alt="截屏2020-09-03 上午4 12 21" src="https://user-images.githubusercontent.com/35741367/92031984-0868fa00-ed9c-11ea-8131-b598afcde98b.png">

- According to the graph above (The 3.2 Model section), the local descriptor sho

[2020-09-02 23:13] andrefaraujo commented on #9189
The local descriptor is the encoded low-dimension representation. I didn't see it mentioning "the reconstructed feature S' as local descriptor" as you mentioned.

Correct!

No, there is no activation function there. The paper hints at this: "Note that, contrary to S, the local descriptors L are not restricted to be non-negative."

[2020-09-02 23:37] wzmJimmy commented on #9189
Thank you for helping me explain it.

I just found that I misunderstood the first two pictures. They use encoded low-dimension representation as local descriptor as well. Whereas, if that's the case. Why does it pool on the reconstructed feature S' with attention weight before attention classifier, rather than pool directly on the local descriptor? That could help the local descriptor capture more

[2020-09-03 02:21] SungmanHong commented on #8450
It happend to me... also...

[2020-09-03 04:29] mihir-chauhan commented on #9169
@srjoglekar246, Could you please let me know the status of the review for your script? Thanks!

[2020-09-03 07:09] DevanshBheda opened #9192 "Evaluate after training for a step or epoch for object detection"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [Y] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

## 2. Describe the feature you request

If we could evaluate across eval data whil

[2020-09-03 07:10] reedts commented on #9148
Okay, after digging in a bit I could successfully start a training run.

I added the option `--output_type tf_example` to the call of `add_context_to_examples.py` to make it output standard `tf.train.Examples` instead of example sequences into the output tfrecord. I then also removed `input_type: TF_SEQUENCE_EXAMPLE` from the pipeline configuration file.

Training then started but gave me CUDA out

[2020-09-03 07:51] cl886699 commented on #9136
me too

[2020-09-03 07:55] ImMrMa opened #9193 "there has the bug when use keras"
https://github.com/tensorflow/models/blob/f2c76e41f668b30cc6714ed8a866c07cc2f2275a/official/nlp/modeling/networks/bert_encoder.py#L215
The right code should be:
[code]
tf.keras.models.load_model(
    filepath, custom_objects=None, compile=True, options=None
)
The api should work fine with this code rewrite

[2020-09-03 08:12] CptK1ng commented on #9115
@mackdelany There are 2 possible steps in your program where normalization could be applied:

1. Generating and preparing your train and val data. For example if you read images from disk into numpy arrays, you can directly apply a normalization.

2. In your training pipeline. If you use tf keras, you can normalize your inputs after the "Input" declaration.

A simple and yet effective way of scali

[2020-09-03 08:14] CptK1ng commented on #9142
@ItsMeTheBee you can add the following to your training pipeline to rescale all images:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/Rescaling?hl=de

`inputs = Rescaling(scale=1.0 / 255)(input)`

[2020-09-03 08:54] matinslh commented on #9185
Thanks for your response which is alot to me. I woukd be grateful if you help me in this case. I am in the object detection directory. I want to know which part of this code I missed that doe not create anything.

# Import packages
import os
import cv2
import numpy as np
import tensorflow as tf
import sys

# Import utilites
from utils import label_map_util
from utils import visualization_utils as

[2020-09-03 09:13] ItsMeTheBee commented on #9142
@CptK1ng This is based on training using tf.keras right?
Because tight now I´m only working with the TensorFlow Object Detection API to train networks and I´m not really familiar with using a python script and writing the pipeline myself (but I would be very glad if you could point me towards a tutorial/ repo for EfficientDet or MobileNet to train object detection that uses regular scripts instead

[2020-09-03 09:30] terryzhangthu commented on #9033
Any updates?
Met the same issue when converting a  "ssd_mobilenet_v2"  saved_model to tflite by "export_tflite_ssd_graph.py"

[2020-09-03 09:37] hahmad2008 commented on #9033
Hello @srjoglekar246 , Any update?

[2020-09-03 09:58] ravikyram commented on #8957
@sumathi16

Will it be possible to share the sample data to reproduce the issue in our environment.Thanks!

[2020-09-03 10:12] yanchuangzhao commented on #9190
Many thanks, Shivasj. I used your code. but there is an error in the line
" test_predictions = model.predict(test_processed_x, batch_size=1)"

It seems related to the shape of input. I attached the error.
![error](https://user-images.githubusercontent.com/70510978/92102311-b85f5700-edde-11ea-9ae8-5648494aa01b.png)

[2020-09-03 12:49] shivasj commented on #9190
@yanchuangzhao would you be able to share your code in a colab notebook?

[2020-09-03 12:58] yanchuangzhao commented on #9190
here is the link:

https://colab.research.google.com/drive/170Lo9FSF04_5wXdVRs423N0e-fJd2iaE?usp=sharing

[2020-09-03 13:26] shivasj commented on #9190
@yanchuangzhao Sorry i missed the resize step. After you read the test image you need to resize to 150,150 as your inception base model input size you specified was 150x150

So add this line:
`image = cv2.resize(image, (300,300), interpolation = cv2.INTER_AREA)`

after:
`image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)`

That should fix the issue

[2020-09-03 13:51] fxpaquette commented on #9185
I suggest you do a print(image) and print(output) to see if the image was correctly loaded (opencv doesn't give an error when the path is not found, it just assigns None to the returned object) and to see the dictionnary containing the predictions. Also you import vis_util but are not using it anywhere to add the bounding boxes.

[2020-09-03 14:16] yanchuangzhao commented on #9190
@shivasj Thank you so much, Shivasj, It works now. I check the results. The shape of 'test_predictions' is (1,1). There is only one value. How to interpret it?
In my previous experience, the length of  'test_predictions' should be the same as the number of classes. We have two classes (i.e., cat and dog). But Why there is only one value in the final results?

[2020-09-03 14:27] shivasj commented on #9190
@yanchuangzhao glad that worked!

So test_predictions is an array of predictions for the number of inputs you supplied to it. Since you had only one image it is 1.

To get the prediction values you can do this:
`pred = test_predictions[0][0]

if pred < 0.5:
 pred_label = "Cat"
else:
 pred_lable = "Dog"`

[2020-09-03 14:41] yanchuangzhao commented on #9190
@shivasj Got it! I need to learn more. Jajajaja. So nice to discuss this with you. I gained a lot. Another question, how should I do if I want to predict multiple images at once.
Now I have a fold that has ten/more new unknown images. This fold is located in my Google Drive.

[2020-09-03 15:38] srjoglekar246 commented on #9033
Our MLIR converter for TFLite has been [updated](https://github.com/tensorflow/tensorflow/commit/c66e39713e484b5bbbe3f97c238acba129e62ea1). The detection team is reviewing the script to export the intermediate SavedModel (similar to what export_tflite_ssd_graph does today)

[2020-09-03 15:58] CptK1ng commented on #9142
I have not train a tf2 object detection api model yet, just tf1 versions. Maybe you can try to normalize the image when you create your tf record. Honestly, i have no glue.

[2020-09-03 16:20] shivasj commented on #9190
To predict from multiple images just add more images to:
`test_x.append(image)`

Then your test_predictions will have mulitple elements. One for each of the element in test_x

[2020-09-03 16:20] andrefaraujo commented on #9189
1) We found that pooling on the local descriptor directly can be difficult, because it will lead to a lower dimensionality pooled feature, which may have a difficult time optimizing the classifier (consequently, the attention layers cannot be learned so well). Also, if we allow the local descriptors to be tuned directly based on this loss, it may produce abstract/high-level representations which m

[2020-09-03 17:04] srjoglekar246 commented on #9033
The script [just landed](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md), and it currently only supports the SSD models. We plan to look into other architectures soon...

Could you try conversion and let me know if things work?

[2020-09-03 18:12] sajjadaemmi commented on #9033
@srjoglekar246
export_tflite_graph_tf2.py script workes well on ssd_mobilenet_v2_320x320_coco17_tpu-8
but you should change --pipeline_config_path to --pipeline_config_dir in [readme](https://github.com/tensorflow/tensorflow/commit/c66e39713e484b5bbbe3f97c238acba129e62ea1)

now convert to tflite not worked. how i can use this?

[2020-09-03 18:16] srjoglekar246 commented on #9033
@sajjadaemmi Thanks for catching that! For conversion, use the converter on [command line](https://www.tensorflow.org/lite/convert/cmdline#usage) as:

[code]

For post-training quantization, use the converter's Python API.

[2020-09-03 18:18] sajjadaemmi commented on #9033
it makes a file with 2kb size :-1:

[2020-09-03 18:19] srjoglekar246 commented on #9033
Can you paste the exporting & conversion commands you ran?

[2020-09-03 18:24] sajjadaemmi commented on #9033
i run this command in google colab:

[code]
i zepped the saved_model and sent for you for testing

[saved_model.zip](https://github.com/tensorflow/models/files/5170493/saved_model.zip)

[2020-09-03 19:51] srjoglekar246 commented on #9033
Seems to be working for me:
[model.tflite.zip](https://github.com/tensorflow/models/files/5170868/model.tflite.zip)

If your TFLite version is old, you might need to specify --experimental_new_converter during conversion.

[2020-09-03 19:58] yanchuangzhao commented on #9190
@shivasj
I understand what you mean. But I think the point of my question is how to pass all the images to the "image". By the line,
"image = cv2.imread("/content/gdrive/My Drive/datasets/CatVsDog/userdata/cat.2001.jpg")"
I can pass only one image to the variable of 'image' once. Maybe we a 'for' sentence can read the images one by one. But I guess there is a function that can pass all the images

[2020-09-03 20:23] tc64 opened #9195 "finetune BERT-Tiny"
python 3.7.6
tf 2.3.0-dev20200620
running on Jupyter Notebook instance in google cloud

I'm able to fine-tune for the SST-2 task using the BERT models mentioned here: https://github.com/tensorflow/models/tree/master/official/nlp/bert

Is it expected that finetuning would work for BERT-Tiny, or other models linked to from here? https://github.com/google-research/bert

It seems from the logs like pe

[2020-09-03 20:28] tc64 commented on #9195
this is the command to run fine tuning:

[code]

[2020-09-03 20:43] epsilon11101 opened #9197 "6961MiB Allocated"
Hi everyone, when I am training a model no matter what it is, it always allocated 6961MiB on my GPU Quadro RTX 4000, what does it allocate on my memory?

So, for this reason, I need to modify the batch size to 8 to 2, what do you recommend to me?

Where the images allocated? in RAM o VRAM?

I tested : RESNET101(1024X1024) , EFFICIENTD2 , RESNET101(640X640).

[2020-09-03 21:04] fgerard commented on #6519
@csingh27 I think the masks are computed in the 3rd  stage

[2020-09-03 22:24] mihir-chauhan commented on #9033
@srjoglekar246 Thank you so much for helping us fix this issue!

When I run the tflite_convert, for some reason, it makes the `.tflite` file around 500-600 bytes. What would be causing this?

[2020-09-03 22:26] andrefaraujo commented on #9179
Here you go: https://github.com/tensorflow/models/pull/9191

Now, you should be able to export the DELG models, see the added instructions on the README.

[2020-09-03 22:26] #9179 closed

[2020-09-03 22:28] srjoglekar246 commented on #9033
@mihir-chauhan That is unexpected, if you are using our new converter (enabled by `--experimental_new_converter=True` for older versions of TF). Were you able to generate the SavedModel using the exporting script, around 20-30MB in size?

[2020-09-03 22:30] mihir-chauhan commented on #9033
@srjoglekar246 My SavedModel is around 7,000 KB. Do I use `--experimental_new_converte=True` for the tf_convert or for the export_tflite_graph_tf2?

[2020-09-03 22:34] srjoglekar246 commented on #9033
The SavedModel should probably be larger. Can you paste your command to export?

[2020-09-03 22:35] mihir-chauhan commented on #9033
Sure! Here it is:
[code]

[2020-09-03 22:41] mihir-chauhan commented on #9033
By the way, my original model from which I use the `export_tflite_graph_tf2.py` is only around 7,500 KB.

[2020-09-03 22:43] srjoglekar246 commented on #9033
True. Have you confirmed that the original SavedModel does inference correctly?

[2020-09-03 22:46] mihir-chauhan commented on #9033
I believe I did do inference on it.

[2020-09-03 22:52] srjoglekar246 commented on #9033
I see. In that case, unless there were any error logs from the exporter or converter, the TFLite model should be fine. Its difficult to say what might have gone wrong from the converter without the input SavedModel to inspect :-)

You could probably use Netron to see if the TFLite model has ops you expect, and [benchmark it](https://www.tensorflow.org/lite/performance/measurement) as a sanity test

[2020-09-03 22:59] mihir-chauhan commented on #9033
Thank you, @srjoglekar246. Could you please try converting this model and see if you result in a ~500 byte `tflite` model? That would be really great :)
[saved_model.zip](https://github.com/tensorflow/models/files/5171791/saved_model.zip)

[2020-09-03 23:41] srjoglekar246 commented on #9033
@mihir-chauhan  Was able to convert your model: [model.tflite.zip](https://github.com/tensorflow/models/files/5171881/model.tflite.zip).

For the exporting script, you need to combine the `checkpoint` & `ckpt-0` files under a common directory, and use that as `trained_checkpoint_dir`.

[2020-09-03 23:49] mihir-chauhan commented on #9033
Oh. Thanks a lot, @srjoglekar246!!! I'll test again and let you know if it works.

[2020-09-04 00:50] mihir-chauhan commented on #9033
@srjoglekar246, I am actually running into the same problem. This time, I have `ckpt` and `checkpoint` in the same checkpoint folder directory. I have tried it multiple times and it still gives the same 500 byte file. Can you please try converting this to a tflite? I did the `exporter` script already. I just want to see if the problem is before exporting or after exporting using `export_tflite_gra

[2020-09-04 02:23] jennya commented on #9033
I'm having issues both building and running my ssd mobilenet tflite model on my macbook, though everything works fine on a v100 machine.

After retraining a ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8 model on a v100, I verified that I could run inference with that tf model on both the v100 and my macbook. I'm also able to export the tf model to tflite on the v100, and can run inference with the

[2020-09-04 02:34] mihir-chauhan commented on #9033
@srjoglekar246, I just tried converting the base [`SSD MobileNet v2 320x320`](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz) to a tflite and looks like it still gives me a 500 byte tflite model. Could you please let me know how you set up your environment.

[2020-09-04 02:36] mihir-chauhan commented on #9033
@jennya, one of the guys from the TensorFlow team made a [https://github.com/tensorflow/models/issues/9033#issuecomment-686628182](script) to do this. That README has the instructions to use it. I am still having some problems with that, however.

[2020-09-04 02:38] mihir-chauhan commented on #9033
@srjoglekar246, I just tried converting the [`SSD MobileNet v2 320x320`](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz) into a `tflite` and looks like it still is giving me a 500 byte model. Could you please let me know how you set up your environment to convert correctly?

[2020-09-04 06:03] change2014 commented on #9017
use exporter_main_v2.py script only for exporting the models. By default it exports recent checkpoint present in checkpoint_dir. If you want it to export a particular checkpoint then change model_checkpoint_path in checkpoint file.

[2020-09-04 06:05] change2014 commented on #8886
use exporter_main_v2.py script only, for exporting the models. By default it exports recent checkpoint present in checkpoint_dir. If you want it to export a particular checkpoint then change model_checkpoint_path in checkpoint file.

[2020-09-04 06:05] change2014 commented on #8844
use exporter_main_v2.py script only, for exporting the models. By default it exports recent checkpoint present in checkpoint_dir. If you want it to export a particular checkpoint then change model_checkpoint_path in checkpoint file.

[2020-09-04 06:07] harikudil commented on #8997
Hi,
I have a similar problem as above. I am training Mask R-CNN, using the model '_Mask R-CNN Inception ResNet V2 1024x1024_', with custom data set.
I run using command:
`python model_main_tf2.py --model_dir=CP
--pipeline_config_path=training/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8.config --alsologtostderr`

I get the following error
![image](https://user-images.githubusercontent.com/

[2020-09-04 07:37] Gourav-Hydra commented on #8424
**### I am running this code and getting error** @pkulzc

import tensorflow as tf
from Data_Handler import build_data_subsets

# Function to measure accuracy by comparing model output to the correct answers
# If the max value for the actual and expected values is in the same position then answer is correct, otherwise not
def measure_accuracy(actual, expected):
    num_correct = 0
    for i in rang

[2020-09-04 07:50] hahmad2008 commented on #9033
@srjoglekar246
can I use same [script](https://github.com/tensorflow/tensorflow/issues/42114#issuecomment-671593386) now?

[2020-09-04 09:15] yanchuangzhao commented on #9190
@shivasj
Hi, Shivasj. I solved my problem using a 'for loop' to pass all the images in a folder to the varibable 'images'. Now the code works well. Many thanks for your information.  I really gain a lot. Nice knowing you.

[2020-09-04 09:44] bilalsoomro commented on #8128
@kunal-lalwani No, I moved on because I didn't find a solution for this model.

[2020-09-04 10:07] ItsMeTheBee commented on #9142
Hm alright, thanks anyways!

It would be good to know how to configure the training pipeline to fix this.
Maybe @ymodak could help out here?

Apart from that I´m not sure why my training performs so badly if this is just a visualization issue.
I used the same dataset to train a yolo network and it works very well. I converted the dataset to the needed format and checked the boxes with the provided

[2020-09-04 10:16] Gowtham171996 commented on #9169
Please let us know if you have any solutions.

  File "/home/gowtham/Desktop/localtests/livellotrain/models/research/object_detection/export_tflite_ssd_graph.py", line 146, in <module>
    tf.app.run(main)
  File "/home/gowtham/.local/lib/python3.8/site-packages/tensorflow/python/platform/app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "/hom

[2020-09-04 11:22] Paranormaly commented on #9165
@ravikyram  If that's the case ( all the models compatible with tflite) great. I'm gonna test the models I want to use than if something went wrong I'm gonna open new issue.

[2020-09-04 11:22] #9165 closed

[2020-09-04 12:48] sajjadaemmi commented on #9033
@srjoglekar246 model.tflite that you sent for me, works on my inference.
but still i cant convert to tflite and my output is 500 Byles.

this is my command:
[code]

[2020-09-04 14:28] srjoglekar246 commented on #9033
@mihir-chauhan Your post-export SavedModel seems to be correct, so looks like there is some inconsistency with the converter.

@sajjadaemmi @hahmad2008

We had to land a [change](https://github.com/tensorflow/tensorflow/commit/c66e39713e484b5bbbe3f97c238acba129e62ea1) to our converter, which might not be present in your downloaded version. Could you update it to the latest nightly and check?

[2020-09-04 15:35] mihir-chauhan commented on #9169
@Gowtham171996 This was fixed by @srjoglekar246's script, you can go to #9033 to use the new converter scripts.

[2020-09-04 17:17] tc64 commented on #9195
note: above should be sst-2 not 4

[2020-09-04 17:56] nicolas-gervais opened #9200 "tensorflow 2.3.0 requires numpy<1.19.0,>=1.16.0, but you'll have numpy 1.19.1 which is incompatible."
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the bug

I get the following when creating a new Anaconda environment.

All I did before that was
[code]

## 3. Steps to reproduce

See above

## 4. Expected behavior

An installation with no dependency failure.

## 5. Additional context

Include any logs that would be help

[2020-09-04 23:27] mihir-chauhan commented on #9033
@srjoglekar246 Thanks! It also is able to convert into a `~11,000 KB` model. However, on the Android/Java side, I am still getting `java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model`. How can I resolve that?

[2020-09-04 23:35] itimmisriis commented on #8862
Is there seriously no way to export a detection model to TFLite in TF2?

[2020-09-05 03:15] ravikyram commented on #9200
@nicolas-gervais

pip will automatically install/upgrade requirements, but it won't downgrade.You can manually install any version of a package.

Please, downgrade numpy to 1.18.5 and see if the issue still persists.
[code]

Thanks!

[2020-09-05 05:10] angyee commented on #9181
???

[2020-09-05 05:11] vupx commented on #8839
Anyone fix this problem yet? I'm new and have no way to run the tutorial, I have no idea what to put in the PATH_TO_BE_CONFIGURED in the config file for hourglass, and the hg file is nowhere to be found

[2020-09-05 05:20] Ravi-Nayak commented on #7703
im still getting error after downgrading my tensorflow from 1.5 to 1.4
please can anyone say what is wrong with the code in 1.5 ?

[2020-09-05 06:02] itimmisriis opened #9201 "SSD detection model can not be exported to TFLite (TF2) - urgently needed"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-05 06:19] itimmisriis commented on #9201
I believe @srjoglekar246 could be of great help here/.

[2020-09-05 06:54] xNeophyte commented on #9110
Just wanted to confirm that TPU isn't supported yet for runtime 2.2. When I tried, I received this error message from AI Platform:
`Error: The specified runtime version '2.2' is not supported for TPU training. Please specify a different runtime version.`

[2020-09-05 08:41] gangmuk opened #9202 "gpuoptions in ConfigProto is not applied properly while running transformer model."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-09-05 16:03] hahmad2008 commented on #9033
.

@srjoglekar246, As in my [ISSUE](https://github.com/tensorflow/tensorflow/issues/42735), I can convert the model to TF LITE using  (TF-Select ops). Can we now convert ssd model without using (TF-slect ops)??

If so could you please provide a script to convert the model such as [this one I used previously](https://github.com/tensorflow/tensorflow/issues/42114#issuecomment-671593386)? What to dow

[2020-09-06 01:02] 2020zyc commented on #9186
any solution? thanks

[2020-09-06 02:33] srjoglekar246 commented on #9033
@hahmad2008 Please take a look at the [README](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md). You will need to use the latest nightly for tflite_convert.

[2020-09-06 02:37] srjoglekar246 commented on #9033
@mihir-chauhan Can you post your code snipper for inference? Are you using the object detection app as a reference? It might be some issue with wrong constants used for num_classes, etc.

[2020-09-06 02:37] srjoglekar246 commented on #9033
(Closing the bug since the the conversion use-case is complete)

[2020-09-06 02:37] #9033 closed

[2020-09-06 02:40] srjoglekar246 commented on #9201
@itimmisriis You just need to update your tflite_convert to the latest nightly :-). SSD conversion requires a new change landed in our converter.

[2020-09-06 02:47] hahmad2008 commented on #9033
So it is now pushed? this nightly (tb-nightly-2.4) version? only the latest version of nightly I need to install?

[2020-09-06 02:54] srjoglekar246 commented on #9033
And use the latest exporting script in the README.

[2020-09-06 03:09] hahmad2008 commented on #9033
This one? or there is anything else?

[code]

[2020-09-06 03:33] mihir-chauhan commented on #9033
@srjoglekar246, I am using the object detection app to detect using the camera stream and the model.

How would I fix that issue? Is that issue when converting to `tflite`?

[2020-09-06 05:03] YijinLiu opened #9204 "ValueError: train_pb2.load_all_detection_checkpoint_vars unsupported in TF2"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [Y ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/...

## 2. Describe the feature you request

model_lib_v2.py doesn't support load_all_detection_chec

[2020-09-06 06:11] chenGitHuber commented on #9195
Hi,

Checkpoint files from https://github.com/google-research/bert (including BERT-Tiny) are in TF1 checkpoint format and are not expected to work with our TF2 code. You need to convert them to TF2 checkpoint format using the following tool:

https://github.com/tensorflow/models/blob/master/official/nlp/bert/tf2_encoder_checkpoint_converter.py

[2020-09-06 06:11] #9195 closed

[2020-09-06 06:22] chenGitHuber commented on #9193
Hi

Thanks for proposing this fix. We added a test in [this commit](https://github.com/tensorflow/models/commit/c2d3fdc0c718e4e11a0610e4b03d4e56640271ff), which verifies that tf.keras.models.load_model() API works with bert_encoder.py now.

This was fixed by the following commit from tensorflow-keras a while ago:
https://github.com/tensorflow/tensorflow/commit/311c8d233bd040df18d7815491fce4f96ea78

[2020-09-06 06:22] #9193 closed

[2020-09-06 06:27] chenGitHuber commented on #8533
Hi Harsh188,

Thanks for your interest. We have released the [mobile_bert_encoder.py](https://github.com/tensorflow/models/blob/master/official/nlp/modeling/networks/mobile_bert_encoder.py) and will release the converted checkpoint and more soon.

[2020-09-06 06:53] chenGitHuber commented on #9117
Hi monologue1107,

Thanks for reporting this issue.

The underlying problem is that ```reloaded_model``` expects a list of tensors as input, while ```get_predictions_and_labels()``` method feeds the model with a dict of tensors. We will try to unify the input type. As a workaround, when using ```reloaded_model = tf.saved_model.load(MODEL_PATH)```, you can convert the [inputs](https://github.com/te

[2020-09-06 06:54] #9117 closed

[2020-09-06 07:36] chenGitHuber commented on #9186
Hi 2020zyc,

Thanks for reporting this bug. I will send a fix shortly.

[2020-09-06 08:00] estelleaf commented on #5342
Hi! How did you achieve 78%?

Any update on the topic?
Does it need to be pretrained on COCO to achieve the results they report? What should be the training output stride? What about pretraining Xception on JFT? And batchnormalization fine tuning?

[2020-09-06 14:15] TannerGilbert commented on #8872
They added a guide (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md) but I still couldn't get it to work.

[2020-09-06 17:08] hahmad2008 commented on #9033
what do you mean with **latest exporting script**? shall I need to update tensorflow source and build it from my side? or you meant the following?

[code]

[2020-09-06 17:10] hahmad2008 commented on #9033
@mihir-chauhan , @sajjadaemmi Hi Guys:
Could you please help me with where to start? I need to convert the model into tflite without using TF-Select ops.

[2020-09-06 19:27] saberkun commented on #9200
We are waiting for TF team to confirm the support of numpy 1.19.x

[2020-09-06 21:03] chenGitHuber commented on #9186
This [commit](https://github.com/tensorflow/models/commit/c60951b148f66d337084b07fa5da52b8246b6600) fixed the problem. Please try again.

[2020-09-06 21:03] #9186 closed

[2020-09-07 00:54] itimmisriis commented on #9201
That fixed my issue, thank you so much. For anyone else with this issue, if you are trying to load the model onto a mobile app, make sure to use the nightly tflite library for your platform as well.

[2020-09-07 00:54] #9201 closed

[2020-09-07 03:10] mihir-chauhan opened #9205 "Using TF2.4 TFLite Model in Android App"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-07 03:58] AzinPoshtyar commented on #9154
@ymodak Could you please help me to resolve the issue?

[2020-09-07 07:10] tohidarehman1988 commented on #5360
i am getting the same issue.
can you help regarding that how you had solved

[2020-09-07 09:39] estelleaf commented on #5342
Hi!
Could you explain how you get to 78%? What were the parameters you used?
Batch size? Crop size? Lr? BN tuning? OS? Backbone (which and pretrained on?)?

@aquariusjay
What was the training protocol you used in order to get the reported IoU of Deeplabv3+ on cityscapes? Is there something specific? Like pretrain on BN first or on Coco to get the 78.79 of the shared checkpoint or the 79.14 of the

[2020-09-07 10:01] drorsimon commented on #5342
@estelleaf
I was working on it about 2 years ago so I don't really remember the parameters.
That said, I am 99% sure I used the training protocol described in the original paper with a batch size of 12 images (batch of 3 images x 4 GPUs)

[2020-09-07 12:13] innat commented on #7687
FYI,

I've encountered this [answer](https://stackoverflow.com/a/61553047/9215780) from SO. In summary:

[code]

[2020-09-07 14:13] hahmad2008 commented on #9033
Hi @srjoglekar246
I got this error after converting, check [this](https://github.com/tensorflow/tensorflow/issues/42735#issuecomment-688351178)

[2020-09-07 14:14] hahmad2008 commented on #9205
@srjoglekar246 after converting using the latest script you mentioned,[ I got this error](https://github.com/tensorflow/tensorflow/issues/42735#issuecomment-688351178)

[2020-09-07 14:59] hahmad2008 commented on #9033
@sajjadaemmi I used the same script to export inference graph (to be input to the tf lite converter)
But after converting I have almost as you had 500byte tf model!!! Could you please help me with what is wrong with this?

btw I used the latest version of 'nightly'

`import tensorflow as tf
saved_model_dir = 'path/saved_model'
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
c

[2020-09-07 15:01] danlapko opened #9206 "How to run DeepLab demo.ipynb in multi-scale mode?"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [*] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/deeplab

## 2. Describe the issue

Is it possible to run deeplab demo.ipynb in multi-scale and left-right flipped

[2020-09-07 15:11] Jconn commented on #9115
@CptK1ng is this requirement new to tensorflow 2? I have had no problems with visualization of my tfrecord files using tensorboard/tf 1.14 and 1.15 .

[2020-09-07 15:30] hahmad2008 commented on #9033
@srjoglekar246 @sajjadaemmi
I have successfully converted the tf model, but now the output detection was 100 now is only 10! the performance is so bad now! I had converted the model previously using  **supported_ops**  and the performance was really good but now is very bad :(

[2020-09-07 15:43] xuheyang commented on #6659
I encountered the same problem, how did you adjust evaluate.py? Thank you!

[2020-09-07 15:43] xuheyang commented on #6659
I encountered the same problem, how did you adjust evaluate.py? Thank you!@yoavnaveh5

[2020-09-07 16:14] tc64 commented on #9195
@chenGitHuber thank you

[2020-09-07 16:53] srjoglekar246 commented on #9205
Please use the latest nightly version of tflite_convert to use the latest
changes :-)

On Mon, Sep 7, 2020 at 7:14 AM hahmad2008 <notifications@github.com> wrote:

--
*Sachin Joglekar |* * srjoglekar@google.com <srjoglekar@google.com>|* *|*
*+1-650-309-9486 *

[2020-09-07 17:10] epsilon11101 commented on #9197
sorry i solve it

[2020-09-07 17:10] #9197 closed

[2020-09-07 19:13] AngshuBh10 commented on #8047
But i can't use keras with this version keras needs tensorflow 2.2 or above

[2020-09-07 19:16] mihir-chauhan commented on #9205
Hi @srjoglekar246, will updating the tf-nightly version fix the issue I am running into or @hahmad2008's issue? Thanks!

[2020-09-07 22:42] Etheryramirezrs commented on #8138
Did you solve the error? I have the same issue

[2020-09-08 02:24] mailtohemantha commented on #8047
create an environment using anaconda navigator. Then install keras version
u need. If you want to use GPU support, then install keras GPU version.

On Tue, Sep 8, 2020 at 3:14 AM Angshuman Bhattacharjee <
notifications@github.com> wrote:

--

K.A.S.H. Kulathilake
Senior Lecturer in CS/IT
Department of Computing
Faculty of Applied Sciences
Rajarata University of Sri Lanka

[2020-09-08 07:20] ravikyram commented on #8942
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-08 07:20] #8942 closed

[2020-09-08 07:24] ravikyram commented on #8975
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-08 07:24] #8975 closed

[2020-09-08 07:39] shawntyshawny opened #9208 "how to get the mAP graph?"
Have i written custom code?
 -No
OS Platform and Distribution:
 -Windows10
TensorFlow installed from:
 -pip install tensorflow
TensorFlow Version:
 -1.15.0
Bazel Version:
 -N/A
CUDA/cuDNN version:
 -10.0/7.6.5
GPU model and memory:
 NVIDIA GTX 2060s
Exact command to reproduce:
 python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config

[2020-09-08 08:42] Bhawnapriya11 opened #9209 "No checkpoint specified (save_path=None); nothing is being restored."
https://github.com/tensorflow/models/blob/master/research/object_detection/exporter_main_v2.py

The checkpoints are saved under the training folder as ckpt-X.data-00000-of-00001 and ckpt-X.index. also a train folder is generated with the tfevent file but still the error comes that No checkpoint is specified, the training went well still there's issue with idenitification of checkpoints.

 No check

[2020-09-08 09:49] TheEternalToast commented on #8312
Not sure if this should be a new issue, but I found a possible reason for this:
On https://www.tensorflow.org/install/gpu?hl=nb it is reported that tensorflow 1.15 requires CUDA 10.1.
But I've looked through the Dockerfile for `tensorflow/tensorflow:1.15.2-gpu-py3-jupyter` on https://hub.docker.com/layers/tensorflow/tensorflow/1.15.2-gpu-py3-jupyter/images/sha256-2c2ddc9780724ee528757f44beb16dac30

[2020-09-08 12:57] ravikyram commented on #9208
@shawntyshawny

Please, go through the [link](https://towardsdatascience.com/detailed-tutorial-build-your-custom-real-time-object-detector-5ade1017fd2d) and see if it helps you. Thanks!

[2020-09-08 13:12] kyscg commented on #8702
Reopening issue because native tf2 conversion hasn't been completed @moneypi

[2020-09-08 13:44] shawntyshawny commented on #9208
Thank you for the response, Sir! About to try this within 2 days after I fix some monitor issues. I'll update as soon as I can. Thank you sir!

[2020-09-08 14:14] MediavoiceSrL opened #9211 "AttributeError: use_cpu_nms"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

## 2. Describe the bug

I followed instructions to install tensorflow 2 as described in the link above in "Python Package Installation" section.
The installation ends whitout errors.

## 3. Steps to reproduce

When I try to run test

python object_detection/build

[2020-09-08 15:37] wwdok commented on #9139
@ravikyram My colab always stoped at the last code cell and no gif appear...

[2020-09-08 15:40] srjoglekar246 commented on #9033
@hahmad2008 I followed up on your case [here](https://github.com/tensorflow/tensorflow/issues/42735#issuecomment-688962667), lets avoid updating this issue :-)

[2020-09-08 15:42] srjoglekar246 commented on #9205
@mihir-chauhan This might be a bug with our detection app, that needs to be updated for TF2 models. Lemme take a look at this.

[2020-09-08 15:48] ravikyram commented on #9139
@wwdok

But in my colab i can run successfully and we can see gif.
Which TF version you are using. I checked with TF version 2.3 and i am not seeing any issue.
Can you please try with TF version 2.3 and see if you are still facing issue. Thanks!

[2020-09-08 16:31] yshvrdhn commented on #7651
@sumedhvdatar hey were able to find the layer ?

[2020-09-08 16:57] epsilon11101 opened #9212 "hardware requirements"
Hello everyone I'm recently decided to use the TF2 model zoo, but I have a question,  which are the hardware requirements for running the models with a batch size of, 64, etc?
Thanks!

[2020-09-08 17:47] wwdok commented on #9139
Actually, last time i already use TF2.3, but still failed, BUT just now i succeeded ! Maybe it is because the connection of network of colab is unstable ? I am not sure, anyway it works, that is fine ~

[2020-09-08 17:47] #9139 closed

[2020-09-08 18:01] srjoglekar246 commented on #9205
@mihir-chauhan You will need to modify the app code based on the model you are using. See [these parameters](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/app/src/main/java/org/tensorflow/lite/examples/detection/DetectorActivity.java#L52).

For example, `TF_OD_API_IS_QUANTIZED` should be false since you are not using a quantized model, unless you used [p

[2020-09-08 21:19] jvishnuvardhan commented on #9140
I am closing this issue as it was resolved. Please feel free to reopen if the error persists. Thanks!

[2020-09-08 21:19] #9140 closed

[2020-09-08 21:24] jvishnuvardhan commented on #8988
@tanvirrazin Is this resolved by the suggestion from @dapladoc?
Please close the issue If this was resolved already, Thanks!

[2020-09-09 02:53] VincentCa commented on #6659
Hi @xuheyang @yoavnaveh5 ,
You should find that each line contains data for a single inference call on a triplet of frames (1, 2, 3): the frame ID, followed by (tx, ty, tz, rx, ry, rz) as translation and rotation from 1 -> 2, followed by the same structure for 2 -> 3. Depending on how you generated these triplets (offsets), it is therefore also possible that you have multiple estimates for the sam

[2020-09-09 03:09] mihir-chauhan commented on #9205
Hi @srjoglekar246,

I have played around with the parameters and creating the tflite model using different parameters like `image_shapes`, etc. but it looks like it still is giving me the same error. Could you please try making a `.tflite` model based on the [`SSD MobileNet v2 320x320`](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz

[2020-09-09 04:43] shawntyshawny opened #9213 "PR - Curve and other metrics"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [Y] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/...

## 2. Describe the feature you request

Integrate PR-Curve in to tensorboard and add other metrics as well as Dis

[2020-09-09 07:05] x12901 opened #9214 "Link not working Page not found"
[https://github.com/tensorflow/models](url)
Announcements

May 7, 2020 | **MnasFPN with MobileNet-V2 backbone** released for object detection

[https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md#mobile-models](url)
This means the document link is no longer valid.

[2020-09-09 07:18] shakey-cuimiao opened #9215 "How to use tensorRT to accelerate deeplabv3 +"
tensorflow:1.4.0
python:3.6.9

[2020-09-09 07:27] ravikyram commented on #9212
@epsilon11101

Please, refer [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements) ,[link1](https://timdettmers.com/2018/12/16/deep-learning-hardware-guide/).

This question is better asked on StackOverflow since it is not a bug or feature request. Thanks!

[2020-09-09 07:37] ravikyram commented on #9214
@x12901

Are you refering to the below links.
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md

Thanks!

[2020-09-09 10:16] ravikyram commented on #9177
@AMDonati

This issue is more suitable to google-research repo. Please, file a new issue in [google-research repo](https://github.com/google-research/google-research/issues). I am closing the issue here. Thanks!

[2020-09-09 10:16] #9177 closed

[2020-09-09 10:43] laporastrelli opened #9216 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Invalid argument: Reduction axis 1 is empty in shape [1,0]"
## Prerequisites
- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## System information:
Top-level directory of the model: object_detection
OS Platform and Distribution: Windows 10
TensorFlow i

[2020-09-09 13:43] srjoglekar246 commented on #9205
[detect.tflite.zip](https://github.com/tensorflow/models/files/5195529/detect.tflite.zip)
Note that it has 300x300 input dimensions for some reason :-/.

[2020-09-09 13:45] KuenstlicheIntelligenz commented on #9179
There are also a small bugs in extractor,py starting in line 214:
[code]
`score_threshold_tensor` and `max_feature_num_tensor` have to be swapped.

[2020-09-09 14:31] muhosevo commented on #8523
i still deal with same problem, i havent solved yet. have a solution about it?

[2020-09-09 14:32] muhosevo commented on #8523
bro, you solved it ?

[2020-09-09 15:13] epsilon11101 commented on #9212
thanks @ravikyram  and sorry!

[2020-09-09 15:13] #9212 closed

[2020-09-09 16:23] adjuras commented on #5028
Lower the regularization weight
[code]
Also I think you might be getting 0 precision because evaluation score threshold is set to 0.5. So since you are getting low confidence scores in the beggining of the training none of the detections are taken in the consideration.

  // Minimum score threshold for a detected object box to be visualized
  optional float min_score_threshold = 13 [default = 0.5]

[2020-09-09 17:07] andrefaraujo commented on #9179
Sorry, I don't see the bug. The part you are referring to around line 214 refers to the TF1-based models. In this case, the ordering of arguments would follow the order of the `feeds` list (`'input_image:0'`, `'input_scales:0'`, `'input_abs_thres:0'`, `'input_max_feature_num:0'`), which seems the right ordering here? Please let me know if I am missing something.

Also, I think that `output` is not

[2020-09-09 20:58] ashiqimranintel opened #9217 "How to run evaluation only for TF 2.X Resnet50 model"
I am using latest TF and TF model. Could you guide me through about how to run evaluation only with a Resnet50 checkpoint?

[2020-09-09 22:45] ashiqimranintel commented on #8530
Hi @peri044, I am facing simiar issue like you did initially, I am getting evalution accuracy is around 0.001 with pre-trained resnet50 checkpoint. I have two questions.
1) which line did you add self.model.load_weights(flags_obj.model_dir) in the resnet_runnable.py to make it work?
2) On classifier_trainer.py, could you share your scripts to run for the evaluation. For some reason, my latest chec

[2020-09-09 23:18] rajansaini691 opened #9218 "8-bit Quantization of RetinaNet"
# Prerequisites
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

## 2. Describe the bug

Applying 8-bit quantization to RetinaNet produces the following error:
[code]
I am using the new converter and have `allow_custom_ops` set to `True`, so this is unexpected.

## 3. Steps to reproduce
1. Downloa

[2020-09-09 23:39] #9218 closed

[2020-09-10 00:05] mihir-chauhan commented on #9205
Hi @srjoglekar246,

I have tried the model you sent and have tried testing with both setting `quantized` variable to `true` and `false` and it seems that either way, I am getting the same error.

This is the error I am running into: `java.lang.NullPointerException: Internal error: Cannot allocate memory for the interpreter: tensorflow/contrib/lite/kernels/reshape.cc:56 stretch_dim != -1 (12 != -1)

[2020-09-10 00:56] dan-anghel commented on #9176
Hi @himsR , @andrefaraujo. I created the following PR which updates the documentation with hyperparameter values we tested on 8xP100 and 4xP100 machines: https://github.com/tensorflow/models/pull/9219.

[2020-09-10 03:51] #9176 closed

[2020-09-10 06:27] ravikyram commented on #9216
@laporastrelli

Can you please go through #4433 and see if it helps you. Thanks!

[2020-09-10 06:39] ajayraju111 commented on #9209
yes I'm also facing the same issue with tf 2 please help

Traceback (most recent call last):
  File "exporter_main_v2.py", line 159, in <module>
    app.run(main)
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python37\lib\site-packages\absl\app.py", line 300, in run
    _run_main(main, args)
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python37\lib\site-packages\absl\app.py", line 251

[2020-09-10 06:46] ravikyram commented on #8976
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-10 06:46] #8976 closed

[2020-09-10 06:49] ravikyram commented on #8853
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-10 06:49] #8853 closed

[2020-09-10 06:51] ravikyram commented on #9093
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-10 06:51] #9093 closed

[2020-09-10 06:52] ravikyram commented on #9065
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-10 06:52] #9065 closed

[2020-09-10 06:54] ravikyram commented on #9121
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-10 06:54] #9121 closed

[2020-09-10 07:10] KuenstlicheIntelligenz commented on #9179
Oh, i think you are right. Shame on me. Thanks for checking it.

[2020-09-10 08:06] sourangshupal commented on #8997
@harikudil With batch size 1 and 2 it worked for me perfectly. Which model you were using from the model zoo? I used Retianet50

[2020-09-10 08:09] ibrahimsoliman97 commented on #8808
Which part of the new code that cause this issue ?

[2020-09-10 08:54] harikudil commented on #8997
@sourangshupal, I use "Mask R-CNN Inception ResNet V2 1024x1024", Since TF2 offers Mask based output for Mask RCNN only in this model.

[2020-09-10 09:00] Horcrux1 commented on #7640
Is there any actual solution to this problem? I am having the same problem:
[code]

[2020-09-10 09:01] sourangshupal commented on #8997
@harikudil I tried in Google Colab it work for me. But i have not tried in local machine

[2020-09-10 09:40] laporastrelli commented on #9216
@ravikyram I think the solution proposed in #4433 is what I am mentioning in the issue above

I tried to use:
[code]
but, as mentioned, it didn't really help.
Do you have any other suggestions on this ?
Thanks

[2020-09-10 09:49] serenadeRay commented on #8892
https://github.com/tensorflow/tensorflow/issues/33150

[2020-09-10 09:57] harikudil commented on #8997
@sourangshupal  I have also tried in Colab, TF2 seems to take all the available RAMs and the training immediately quits with a `^C `command. My dataset has train with 100 images of size 1280x720 and test of 20 images of same size. how much is your dataset?

[2020-09-10 12:12] 2017csz0006 opened #9220 "KeyError: "The name 'vggish/fc2/Relu:0' refers to a Tensor which does not exist. The operation, 'vggish/fc2/Relu', does not exist in the graph.""
I am following the demo google colab tutorial provided on ''https://github.com/tensorflow/models/tree/master/research/audioset/vggish'' to extract embeddings. I am getting errors on cell 32 as **''KeyError: "The name 'vggish/fc2/Relu:0' refers to a Tensor which does not exist. The operation, 'vggish/fc2/Relu', does not exist in the graph."**

[2020-09-10 13:24] sourangshupal commented on #8997
@harikudil My dataset is smaller that i tried with 50 images in train and 10 in validation.

[2020-09-10 13:30] Paranormaly opened #9221 "TF2 Object Detection API 2 on Jetson Nano"
I'm trying to install OD API 2 on Jetson nano but no luck yet.
There is an error message
**No local packages or working download links found for tensorflow>=2.3.0**
I already installed the latest release nvidia tensorflow which is [tensorflow-2.2.0+nv20.8-cp36-cp36m-linux_aarch64.whl](https://developer.download.nvidia.com/compute/redist/jp/v44/tensorflow/tensorflow-2.2.0+nv20.8-cp36-cp36m-linux_aa

[2020-09-10 15:28] george14georgiou commented on #9148
i followed exacly your steps @reedts  but at the ending of training i got this:  "ValueError: Please make sure context_features and valid_context_size are in the features"

[2020-09-10 17:42] aavishkarmishra commented on #9209
Hello, I would like to work on this issue. Can anyone explain me from where I can start ?

[2020-09-10 18:58] ashiqimranintel opened #9223 "ValueError("Shapes %s and %s are incompatible" % (self, other)) ValueError: Shapes (1000,) and (1001,) are incompatible"
Using latest model-garden
Using latest TF

I want to evaluate pretrained resnet50 model from https://github.com/tensorflow/models/tree/master/official/vision/image_classification/resnet#pretrained-models

I having  ValueError("Shapes %s and %s are incompatible" % (self, other)) ValueError: Shapes (1000,) and (1001,) are incompatible error.

Any suggestions?

[2020-09-10 20:39] srjoglekar246 commented on #9205
Aah... I am not sure. You will need to inspect both the Skystone model & the SSD model with something like Netron. The inputs that the app code expects might not be the same.

You can look at the [tensorflow example app](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection) to see how to use TFLite in Java.

[2020-09-10 21:27] mihir-chauhan commented on #9205
I put the model in Netron and the main visual difference between the model made from 1.14 and 2.4 is: the name is `serving_default_input:0` instead of `normalized_input_image_tensor`, in the 2.4 model. Another difference is the very ending part where it says `TFLite_Detection_PostProcess:` for the 1.14 model, but on the 2.4 model, it uses `StatefulPartitionedCall:`.

It also has more layers toward

[2020-09-10 21:30] srjoglekar246 commented on #9205
The changed tensor names are expected. The model still works in terms of what the tensors mean. TOCO cannot convert TF2 detection models.

Not sure why the TF Examples app is over-writing the model. Does it 'create' a detect.tflite file?

[2020-09-10 21:34] mihir-chauhan commented on #9205
Yes, it is overwriting the `detect.tflite` model that I put into the folder upon the Gradle run. I think the gradle.download may be causing that issue, however.

[2020-09-10 23:38] One2Remember commented on #9171
Was having a similar issue, though no explicit mentions of memory issues. Reduced the eval batch size from 8 to 1 et voila! It worked. Thank you all

[2020-09-11 01:01] x12901 commented on #9214
Yeah, thanks.

[2020-09-11 01:01] #9214 closed

[2020-09-11 01:28] cdomkam commented on #9181
Having similar issues where model_main_tf2.py is "hanging at tf.cast" warning step

[2020-09-11 04:01] Deep-learning-practitioner commented on #8966
Closing the issue but, I should say that in tf2 frozen graphs are depreciated but they are still posssible.

[2020-09-11 04:01] #8966 closed

[2020-09-11 04:01] plakal commented on #9220
Thanks for reporting the issue.

We recently updated the VGGish code to drop the final ReLU non-linearity so the embedding is now pre-ReLU and there is indeed no tensor named vggish/fc2/Relu:0. I didn't test the embedding demo notebook when I updated the code. I'll work on getting the notebook itself into the repo (and then fix it) so we don't miss this in the future.

[2020-09-11 04:46] 2017csz0006 commented on #9220
Thank you. I fixed that error but getting some more error in further lines of the code. It will be very helpful if you fix the example code asap.

[2020-09-11 05:16] sayakpaul opened #9224 "Guide to serialize a model trained using the eager mode and use it to run inference"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb

## 2. Describe the issue

The few-sho

[2020-09-11 08:01] jazberna1 commented on #8138
Hi,

I am afraid I didn't solve it. Actually I ended up using Mask R CNN.
https://github.com/matterport/Mask_RCNN

Jorge

[2020-09-11 08:05] turowicz commented on #8892
How is this closed? The error still occurs

[2020-09-11 09:05] GPhilo commented on #8872
I believe the tool they added is broken. I'm trying to export a pretrained SSD Resnet50 FPN model (which they claim should be compatible). The export doesn't raise any errors, but the generated tflite file doesn't work (also no error raised, but the output info is nonsense and the output data is a single scalar 0 for all 4 outputs).

These are the steps I took to run my test:

1) install the lates

[2020-09-11 09:31] turowicz commented on #8876
Can we get an ETA on this? This is very important for QoL aspects of using TF.

I can see why people are fleeing to Pytorch.

[2020-09-11 09:40] dsnsabari commented on #8051
I also got the same error. How we can resolve it?

[2020-09-11 10:09] turowicz opened #9226 "train_input_images oversaturated / gamma"
The input images the TensorBoard shows me are strangely augmented in terms of colour saturation and gamma. Any idea how can I fix it? Is it the wrong file format or compression?

My augmentation options:

[code]

![image](https://user-images.githubusercontent.com/1055391/92909461-6befc900-f427-11ea-9301-dc77d171c291.png)

[2020-09-11 10:29] sourangshupal commented on #8997
@harikudil Can you share the dataset i will try from my end and let you know

On Thu, Sep 10, 2020 at 3:27 PM harikudil <notifications@github.com> wrote:

[2020-09-11 10:33] turowicz opened #9227 "Evaluate while Training in Object Detection"
In TF1.x we were able to run evaluation automatically during a training on a single GPU. Is it possible to achieve the same?

[2020-09-11 11:07] KuenstlicheIntelligenz commented on #9179
One small thing, and i may be wrong again, but train.py in line 308 you call:
[code]
but in line 80 in delf_model.py in the AttentionModel you return:
[code]
so you record the probability not the score, right?

[2020-09-11 12:17] saikumarchalla commented on #9217
@ashiqimranintel  Could you please confirm if it is related to #9223. If so, Please close this issue and we can track the issue [here](https://github.com/tensorflow/models/issues/9223).Thanks!

[2020-09-11 12:28] ravikyram commented on #9126
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-11 12:28] #9126 closed

[2020-09-11 12:36] shawntyshawny commented on #9208
Managed to make mAP graph show using model_main.py

1. How can I show this training and validation loss in a single graph

![image](https://user-images.githubusercontent.com/70835409/92925836-b4ca7080-f46d-11ea-9abf-cb5cba1d300e.png)

This is what I see in my tensorboard

![image](https://user-images.githubusercontent.com/70835409/92925881-c875d700-f46d-11ea-818e-8d3b5c161241.png)

2. My loss_1 an

[2020-09-11 12:43] turowicz commented on #9226
Another example:

![image](https://user-images.githubusercontent.com/1055391/92926988-30f89000-f43d-11ea-9b7c-d62c752d31b6.png)

[2020-09-11 12:51] turowicz opened #9229 "Stoping and restarting training script starts from scratch"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-11 13:42] vighneshbirodkar commented on #8892
@turowicz What is the config you are using and what checkpoint have you downloaded to use with it ?

[2020-09-11 13:50] turowicz commented on #8892
I am using the Efficientnet D1 checkpoint and config from the TF2 Model Zoo.

[2020-09-11 13:51] turowicz commented on #9229
@vighneshbirodkar this is the problem

[2020-09-11 13:53] turowicz commented on #9226
The color / brightness continue even with all augmentation removed.

[2020-09-11 13:54] turowicz commented on #9226
Another question: shouldn't I have bounding boxes displayed in there?

[2020-09-11 14:23] vighneshbirodkar commented on #9229
Can you inspect the contents of your model dir (argument passed as `--model_dir`) and paste the contents here. And also the content of the checkpoint file. It would also be helpful to see the entire config file you are using.

[2020-09-11 14:24] vighneshbirodkar commented on #8892
Can you copy paste the contents of the checkpoint file ? Or share it through a gist ?

[2020-09-11 14:30] turowicz opened #9230 "Config difference GPU/TPU"
What is the difference between GPU and TPU configs in the Model Zoo?

https://github.com/tensorflow/models/tree/master/research/object_detection/configs/tf2

I'm worried that all my trainings are going wrong because I'm trying to run locally on my GPU, but the published configs can only be used with a TPU.

[2020-09-11 14:32] turowicz commented on #9229
@vighneshbirodkar

I download the model from the following URL and don't change anything:
http://download.tensorflow.org/models/object_detection/tf2/20200711/efficientdet_d1_coco17_tpu-32.tar.gz

I'm running on a GPU Nvidia V100.

My config is

[code]

[2020-09-11 14:48] ashiqimranintel commented on #9217
It's not same issue.

[2020-09-11 14:49] turowicz commented on #8892
@vighneshbirodkar here: https://github.com/tensorflow/models/issues/9229

[2020-09-11 15:30] vighneshbirodkar commented on #9229
If you are loading from a pre-trained checkpoint, these warnings are expected. According to the code [here](https://github.com/tensorflow/models/blob/master/research/object_detection/meta_architectures/ssd_meta_arch.py#L1324) we are just loading the weights for `_feature_extractor`. We are not loading weights for `_box_predictor` because it lets you change the box prediction parameters according t

[2020-09-11 15:38] srjoglekar246 commented on #8872
@GPhilo Can you try the latest nightly for tflite_convert?

[2020-09-11 15:39] srjoglekar246 commented on #8872
EfficientDet support is being explored....

[2020-09-11 16:32] mgon5170 opened #9231 "Custom Training, no custom code - checkpoint won't load for training but will for evaluation"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-11 16:34] turowicz commented on #9229
@vighneshbirodkar

Full logs attached:
[run-1.log](https://github.com/tensorflow/models/files/5210432/run-1.log)
[run-2.log](https://github.com/tensorflow/models/files/5210433/run-2.log)

Below you can see how the run number 2 doesn't pick up the loss, but starts from scratch. The step numbers are in line though.

Run 1 Loss:
[code]

Run 2 Loss:
[code]

[2020-09-11 16:47] andrefaraujo commented on #9179
Yeah, this terminology is confusing and not optimal at all -- sorry. I just double-checked, and we are doing the right thing.

Internally in the model, we call `prob` the attention scores post-activation (in delf_model.py, you can see `prob = self.activation_layer(score)`). This is actually not really a "probability" (values are not even in the range [0-1]). They are just a version of attention sc

[2020-09-11 17:33] mgon5170 commented on #9230
I haven't gotten my code to fully run so I'm not 100% certain but I think it handles it outside of the config file. I haven't made any changes to the config file outside of the directory paths and this was the first output I got:

SSD) USER$ python object_detection/model_main_tf2.py --pipeline_config_path=${PIPELINE_CONFIG_PATH} --model_dir=${MODEL_DIR} --alsologtostder
2020-09-10 09:38:48.794458:

[2020-09-11 19:00] mgon5170 commented on #9231
Tried by using fine_tune_checkpoint: "/xxxxx/models-09-08-20/research/object_detection/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0"

and received the following error(s). Any idea what I need to change? The issue seems to be with the checkpoint I pulled. The checkpoint directory contains: checkpoint, ckpt-0.data-00000-of-00001, and ckpt-0.index

(SSD) USER$ python object_detection/m

[2020-09-11 19:11] mgon5170 commented on #9231
I have tried to run by using fine_tune_checkpoint: "/xxxxx/models-09-08-20/research/object_detection/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/checkpointz/ckpt-0"

The following output resulted... What does "Killed:9" mean??? And should there be so many unresolved objects in the checkpoint?

(SSD) User$ python object_detection/model_main_tf2.py     --pipeline_config_path=${PIPELINE_CONFIG_PATH}

[2020-09-11 20:14] ngokhoa96 opened #9232 "Loading trained DELG model problem"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-12 06:54] robisen1 commented on #5360
Delete all the flags before you assign them like this:

 for name in list(flags.FLAGS):
      delattr(flags.FLAGS,name)

[2020-09-12 09:17] KevinCS17 commented on #9208
sorry but I still dont get it how to add mAP, can you show me more specific to add that mAP?

[2020-09-12 10:25] turowicz commented on #9230
I get that, but my question was related to individual config values that may have been chosen for TPU use. Otherwise why put TPU in the file name?

[2020-09-12 10:39] FreddyColi opened #9233 "Shape cut at 5d?"
I am a bit confused about the following:
The [paper](https://arxiv.org/pdf/1704.03549.pdf) says at Figure 2: Cut inception-v3 on mixed_5d **16*16*288**.
However, the [inception implementation](https://github.com/tensorflow/models/blob/643d492b83391de5c401bb17a72d217b5ac796a9/research/slim/nets/inception_v3.py#L191) has a 35*35*288 shape at 5d.

[2020-09-12 11:11] ngokhoa96 commented on #9232
The same error occurred when I tried to follow [DELG Instruction](https://github.com/tensorflow/models/blob/master/research/delf/delf/python/delg/DELG_INSTRUCTIONS.md) in extract_features steps:
[code]
[code]

[2020-09-12 11:28] BushraSaif opened #9234 "Need help in tensor flow 2 object detection API"
I am a research student. I am doing research on
____On plant local fruits maturity indices recognition from RGB images_____
I am using tensor flow 2 object detection API for Faster Rcnn inception V2 Coco model. I installed all dependencies and set a virtual environment using Anaconda.

********ERROR1*********
I am facing an issue while generating a Tf record. I checked this on different mediums an

[2020-09-12 15:28] sayakpaul commented on #9033
[Here's a notebook](https://github.com/sayakpaul/E2E-Object-Detection-in-TFLite/blob/master/Object_Detection_in_TFLite.ipynb) that might be useful. It shows how to use the latest TFLite converter to convert a TFLite compatible graph.

[2020-09-12 16:29] ravikyram commented on #9234
@BushraSaif

Can you please follow the [link](https://towardsdatascience.com/how-to-train-a-tensorflow-2-object-detection-model-25d4da64b817) and see if it helps you.
Also, refer below tutorial
https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/object_detection_tutorial.ipynb

Thanks!

[2020-09-12 18:37] ThomDumont commented on #2025
VOCÊ É UM DEUS, MONSTRO UM INSANO !!! MUITO OBRIGADO

[2020-09-12 18:55] andrefaraujo commented on #9232
For the last message, my guess is that you may be missing to set `is_tf2_exported` to true (this should be set whenever using models trained/exported with TF2), see explanation: https://github.com/tensorflow/models/blob/master/research/delf/delf/protos/delf_config.proto#L90

For the previous message: it's similar. Basically, you shouldn't call `prune()` on a TF2-exported model (the `prune()` funct

[2020-09-12 18:55] #9232 closed

[2020-09-12 19:57] mgon5170 commented on #9230
I assume it's what they used to generate the model/checkpoints.

[2020-09-13 02:29] 2020zyc commented on #8357
I encountered the same error:

"ValueError: call() should not modify its Python input arguments. Check if it modifies any lists or dicts passed as arguments. Modifying a copy is allowed."

REPRODUCTION:

I used the almost latest code(0907) from "https://github.com/tensorflow/models/tree/master/official/nlp/transformer/";

I trained the model and restored the weights in the prediction mode successf

[2020-09-13 02:40] 2020zyc commented on #8357
**Part of the error log, it seems the "decoder_stack"  is the source of the error**:

File "/home/xxx/pycharm_proj/models-master-0907/official/nlp/modeling/ops/beam_search.py", line 635, in sequence_beam_search
    return sbs.search(initial_ids, initial_cache)
  File "/home/xxx/pycharm_proj/models-master-0907/official/nlp/modeling/ops/beam_search.py", line 414, in search
    parallel_iterations=1)

[2020-09-13 05:09] 2020zyc opened #9235 "ValueError: call() should not modify its Python input arguments"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [yes] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2020-09-13 07:57] vighneshbirodkar commented on #9229
I understand the issue now. I will do a bit more investigating.

[2020-09-13 10:05] pratiksonawane06 opened #9236 "i am facing the same problem please help"
AttributeError                            Traceback (most recent call last)
<ipython-input-43-31bf89ff98cf> in <module>
----> 1 masking_model.output_shapes

AttributeError: 'AutoTrackable' object has no attribute 'output_shapes'

[2020-09-13 10:42] NitinSaini18 commented on #8965
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
I used this code but I am facing same error
AttributeError: module 'tensorflow' has no attribute 'combat'

[2020-09-13 12:40] pardeep-kesnani1234 opened #9237 "Issue with Training CenterNet Resnet50 V2 Keypoints 512x512 with TF2 object detection api"
Hello i am trying to train CenterNet Resnet50 V2 Keypoints 512x512 with hand dataset 'https://www.robots.ox.ac.uk/~vgg/data/hands/downloads/hand_dataset.tar.gz' on TF2 Object Detection Api  but facing issue with label_map.pbxt and don't know how to resolve this issue.

Errors i got during training:
File "/usr/local/lib/python3.6/dist-packages/object_detection/builders/model_builder.py", line 991,

[2020-09-13 14:24] armaanpriyadarshan opened #9238 "Running TensorFlow Lite on the Raspberry Pi with Converted TF2 Models"
# Prerequisites

I'm running TensorFlow 2.3.0
I've Converted a TensorFlow 2 Model to TensorFlow Lite

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on

[2020-09-14 01:54] 2020zyc commented on #9186
Thank @chenGitHuber. I could save a .pb model now at the training stage, but I failed in saving a .pb model as I changed the mode to  "mode=predict". I submitted a bug issue [here](https://github.com/tensorflow/models/issues/9235#issue-700498479).

The error is:
**ValueError: call() should not modify its Python input arguments. Check if it modifies any lists or dicts passed as arguments. Modifying

[2020-09-14 02:10] thaink commented on #8401
I assumed this issue is fixed with the updated tutorial.

[2020-09-14 02:10] #8401 closed

[2020-09-14 03:27] saberkun commented on #9235
This is a troublesome keras behavior which enforces serialization over all layer calls.
If you want to get an inference-only savedmodel, please follow this test case:
https://github.com/tensorflow/models/blob/master/official/nlp/transformer/transformer_test.py#L67

[2020-09-14 04:23] ravikyram commented on #9236
@pratiksonawane06

I think this is compatibility issue with TF 2.x and you should have not faced this with TF 1.x. You can try using [`tf.compat.v1.data.get_output_shapes`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/data/get_output_shapes).

It will be clear if you share more information by filling [issue template](https://github.com/tensorflow/models/issues/new/choose).

Please, let

[2020-09-14 04:55] saikumarchalla commented on #9190
@yanchuangzhao  Closing this issue since it is resolved already.Thanks!

[2020-09-14 04:55] #9190 closed

[2020-09-14 06:02] ravikyram commented on #9226
@turowicz

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Please, let us know which pretrained model you are using and share related code .Thanks!

[2020-09-14 06:15] x12901 opened #9239 "No OpKernel was registered to support Op 'NcclAllReduce'"
I'm trying to train my model using mask_rcnn, but it's reporting an error.
`python official/vision/detection/main.py --strategy_type=mirrored --num_gpus=4 --model_dir=model_dir --mode=train --model=mask_rcnn --config_file="my_maskrcnn.yaml"`
I tried training with 1 GPU and it didn't work.
`python official/vision/detection/main.py --strategy_type=one_device --num_gpus=1 --model_dir=model_dir --mode

[2020-09-14 06:35] ravikyram commented on #9227
@turowicz

Can you please elaborate about the issue & the context.Thanks!

[2020-09-14 06:47] x12901 commented on #9239
1 gpu

2020-09-14 14:19:19.090399: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
C:\ProgramData\Anaconda3\lib\site-packages\official\modeling\hyperparams\params_dict.py:431: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full de

[2020-09-14 06:58] ravikyram commented on #9239
@x12901

 Please take a look at this link for multiple GPUs. t`f.config.experimental.set_memory_growth `which attempts to allocate only as much GPU memory as needed for the runtime allocations. Please, refer this [guide](https://www.tensorflow.org/guide/distributed_training)

Also, please go through similar issues l[ink](https://github.com/tensorflow/models/issues/8560),[link2](https://github.com/

[2020-09-14 07:11] pratiksonawane06 commented on #9236
sir i am sharing the link of my module which i used  https://github.com/tensorflow/models
https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/object_detection_tutorial.ipynb
above is the link of program i used
![Screenshot (59)](https://user-images.githubusercontent.com/71178254/93054695-58db3400-f687-11ea-8b84-d066d1a4e7b6.png)
please help me out sir
thankyo

[2020-09-14 07:51] Ahmad-Omar-Ahsan opened #9240 "AttributeError: super_categories"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-14 08:03] 2020zyc commented on #9235
@saberkun thanks.
I test the code successfully(https://github.com/tensorflow/models/blob/master/official/nlp/transformer/transformer_test.py#L67).

Now my code is:
[code]
But the same error occured: **ValueError: call() should not modify its Python input arguments. Check if it modifies any lists or dicts passed as arguments.**

Shouldn't I use the create_model() function(https://github.com/tensorf

[2020-09-14 08:50] GPhilo commented on #8872
@srjoglekar246 using tf-nigtly it seems the conversion works, I'd maybe put a line in the guide (and a check in the script?) that mentions the requirement for the latest TF version, as currently the object detection API has only TF 2.2 as a requirement and it's a bit confusing when both the conversion script and the converter don't raise any warning (and generate an empty model).

[2020-09-14 09:07] turowicz commented on #9230
Let me rephrase the question:

"Is it a good idea to take a TPU config and run further training it on GPU, or do we need to change something in that file for better results?

[2020-09-14 09:08] KevinCS17 opened #9241 "MobilenetV2 high vall_loss and false detection"
Hello I am using SSD_Mobilenet V2 from the tensorflow 2 model zoo
I use SSD Mobilenet V2 because I want to make realtime detection using Android Later.
I am using google colab GPU to train
my batch size is 32
and 8000 step

my dataset is form google open image V6 that already anotated
https://github.com/DmitryRyumin/OIDv6

1000 human_body
1000 bicycle
1000 car
1000 motorcycle
336 Stop_sign

I dont

[2020-09-14 09:08] TannerGilbert commented on #8655
Could be fixed by #9225

[2020-09-14 10:19] saikumarchalla commented on #9237
@pardeep-kesnani1234 Could you please fill the issue template. Also, provide the top-level directory of the model you are using ?.Thanks!

[2020-09-14 10:40] ravikyram commented on #9236
I have tried in colab with TF 2.3 and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d1740bcfa5182ec39750561e091a1555/untitled349.ipynb).Thanks!

[2020-09-14 11:17] turowicz commented on #9227
@ravikyram 'object_detection/model_main.py' runs both training and evaluation as a single command, so you can leave it for the weekend and come back on monday to see the results. In contrast, `model_main_tf2.py` requires us to stop the training, run the evaulation manually and then restart the training. It makes the process impossible to be left alone for long periods of time.

[2020-09-14 11:20] turowicz commented on #9226
@ravikyram

# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file yo

[2020-09-14 11:44] hichemfelouat commented on #8812
I tried to use it with mask rcnn but it did not work?

InvalidArgumentError: Incompatible shapes: [1,2,2] vs. [1,1,1,100,4] [Op:Sub]

[2020-09-14 11:57] shawntyshawny commented on #9208
@KevinCS17

I just ran the model_main.py script for training.
`python model_main.py --model_dir=training --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config`
take note that model_main.py uses --model_dir=training. Also mAP graph will show after the first eval (10mins I think)

[2020-09-14 13:13] x12901 opened #9242 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbe in position 135: invalid start byte"
I want to train with mask_rcnn. In order to train on multiple GPUs for win10, I added some code to the main.py line 89
`strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"],
                                            cross_device_ops=tf.distribute.HierarchicalCopyAllReduce())
`
Then the program reported an error, and I tried the solution, but couldn't find anything in the Offici

[2020-09-14 13:15] x12901 commented on #9239
Thank you.This problem is solved.I added some code to the main.py line 89
strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"], cross_device_ops=tf.distribute.HierarchicalCopyAllReduce())。

[2020-09-14 13:15] #9239 closed

[2020-09-14 14:00] CptK1ng commented on #9115
@Jconn To the best of my knowledge, this restriction was already present in tf 1.x. I see no issue with your scaling.

[2020-09-14 14:25] krn-sharma opened #9243 "Architecture of Tensorflow model Zoo"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

Where i can find full architecture of all the pre-trained model of Tensor

[2020-09-14 14:45] cefaci commented on #8530
@allenwang28 Thanks for this, could finally train on the TPU and export as tflite

[2020-09-14 15:40] srjoglekar246 commented on #8872
Thats fair. I will add a note to the g3doc so its clearer moving forward. Thanks!

[2020-09-14 15:40] #8872 closed

[2020-09-14 16:07] Hishok opened #9244 "Evaluation Graphs on Tensorboard"
Hi,

I am using GCP to run a faster rcnn model using the TF2 OD API. In tensorboard the evaluation losses are only at one point is there a way to see how the evaluation loss develops over the number of steps. Can be seen in the graph below of how the evaluation loss is only at 50k.

![image](https://user-images.githubusercontent.com/49961772/93109928-8f777580-f6ac-11ea-8756-a457adf5cfbd.png)

The

[2020-09-14 17:12] ravikyram commented on #9242
@x12901

Can you please refer [link1](https://stackoverflow.com/questions/42339876/error-unicodedecodeerror-utf-8-codec-cant-decode-byte-0xff-in-position-0-in/42340744), [link2](https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s) and see if it helps you.
If you are still facing the issue, request you to share colab link or simpl

[2020-09-14 17:27] crawfordxx opened #9245 "'utf-8' codec can't decode byte 0xbe in position 55: invalid start byte"
I have already tried to add "rb" when I read the file, it still return this error

(tensorflow1) D:\tensorflow1\models\research\object_detection\legacy>(python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ ssd_mobilenet_v1_pe
ts.config)
2020-09-15 01:24:22.297601: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart6

[2020-09-14 19:36] peri044 commented on #8530
@ashiqimranintel
1) I added model.load_weights call immediately after defining the model [https://github.com/tensorflow/models/blob/master/official/vision/image_classification/resnet/resnet_runnable.py#L64](https://github.com/tensorflow/models/blob/master/official/vision/image_classification/resnet/resnet_runnable.py#L64)

2)  I used Resnet CTL implementation for training and evaluation [https://g

[2020-09-14 20:31] Namburger commented on #7275
Any progress on this?
I'm also experiencing this and it just seems like the GPU isn't being utilized at all:
[code]

[2020-09-14 20:44] ashiqimranintel commented on #8530
Thanks @peri044, it worked for me. I tried with CTL implementation.

[2020-09-14 20:58] ashiqimranintel commented on #8530
@peri044, I tried with classifier_trainer.py, getting following issue
**ValueError("Shapes %s and %s are incompatible" % (self, other)) ValueError: Shapes (1000,) and (1001,) are incompatible**

Were you successful to use classfier_trainer.py for the evaluation?

[2020-09-14 21:00] allenwang28 commented on #8530
@ashiqimranintel you can fix that issue in classifier_trainer.py by adding in a line [here](https://github.com/tensorflow/models/blob/master/official/vision/image_classification/configs/examples/resnet/imagenet/gpu.yaml#L37)

[code]

[2020-09-14 21:42] mihir-chauhan commented on #9205
@srjoglekar246, Is there a way to fix this issue in testing the model?

[2020-09-14 21:47] srjoglekar246 commented on #9205
I am not that familiar with Android development, unfortunately :-(

[2020-09-14 22:13] SamLee514 commented on #9211
I had this issue when I pulled the other day because I hadn't rebuilt the protos (use_cpu_nms looks like it was only recently added). Fixed by running protoc object_detection/protos/*.proto --python_out=. from models/research as per this guide: https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html#protobuf-installation-compilation

[2020-09-14 22:42] mihir-chauhan commented on #9205
That's alright :). Is there someone that you can assign to this issue to help me out? Thanks!

[2020-09-15 00:09] #7825 closed

[2020-09-15 01:17] x12901 commented on #9242
Sorry, I didn't find anything in my code to change.  official/vision/detection/main.py
[code]
The error points to line 125, and I looked at section_executor.py and there seems to be nowhere to change it.
Link to my code:
[https://github.com/x12901/models/blob/master/official/vision/detection/main.py](url)

[2020-09-15 04:36] saikumarchalla commented on #9116
@dreamitpossible1  Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-15 04:36] #9116 closed

[2020-09-15 05:05] DevelopedByAnurag opened #9247 "TF2 Object detection Pretrained models"
Why is there so much contains while using Pretrained models provided to us by TF2 as All the models have a strictly defined Image size which was not at TF1 models.

Also, TF2 lacks various models like models for mobile devices and so on.

[2020-09-15 06:25] 2017csz0006 opened #9248 "VGGish smoke test failure with embedding mismatch"
I am following the demo google colab tutorial provided on ''https://github.com/tensorflow/models/tree/master/research/audioset/vggish'' to extract embeddings. I am getting errors on cell 32 as

**''Traceback (most recent call last):
  File "<ipython-input-11-42eeecd623d1>", line 3, in <module>
    np.testing.assert_allclose(

  File "/home/pratibha/anaconda3/envs/vggish_env/lib/python3.8/site-pack

[2020-09-15 06:43] turowicz commented on #9229
@vighneshbirodkar @saikumarchalla @gowthamkpr any ideas?

[2020-09-15 07:49] ravikyram commented on #9241
@KevinCS17

Request you to share the colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-09-15 08:14] KevinCS17 commented on #9241
sure.. @ravikyram Thanks..
I make a little bit change last night
and change the batch size to 64
and its pretty good but still overfitting
https://colab.research.google.com/drive/1skziU5ABgVlg2XTmLRrRXAYpTLmrb7AD?usp=sharing

it already can detect car, person/human body, bicycle, motorcycle

but it cant detect any stop sign

so i just know that batch size change its really effected

[2020-09-15 08:32] BushraSaif commented on #9234
@ravikyram I read this above-mentioned tutorial and I came to know I mistakenly remove the 'return' keyword before 0 in else condition. I successfully created the tf records but I am word why I am getting this error when everything is ok.

Python model_builder_tf2_test.py
And it's giving me an error of "can't import name 'center_net_pb2'. But this file is in my protos folder.

[2020-09-15 09:07] ravikyram commented on #9234
@BushraSaif

Please, check similar issue #8721 and see if it helps you. Thanks!

[2020-09-15 09:25] danial880 opened #9249 "While training fasterRCNN with Tensoflow Object Detection API 2.(using a `tf.Tensor` as a Python `bool` is not allowed in Graph execution. Use Eager execution or decorate this function with @tf.function.)"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.10
- CUDA/cuDNN version: 10.1.243 / 7.6.5
- GPU model and memory: 1080ti 11GB

Command used to run training:
    python3 model_main_tf2.py     --pipeline_config_path=training/pipeline.config     --model

[2020-09-15 09:43] jahongir7174 commented on #9229
I also trained EfficientDet D4 with pre-trained weights with my own dataset. Before restarting the training, I changed fine_tune_checkpoint value to an already trained weight path in config file. I made https://github.com/jahongir7174/EfficientDet-api repo for easier training and testing by using Tensorflow Object Detection API

[2020-09-15 09:51] #9211 closed

[2020-09-15 09:51] GPhilo commented on #8872
@srjoglekar246 Thanks for the update to the documentation, I saw that you added as well a part about int8 quantization. Is this also supported? I tried enabling quantization for the SSD Resnet50 model I used in my test above, but I'm getting the following error:

[code]

The code I'm using for the quantization is:
[code]

[2020-09-15 09:55] TannerGilbert commented on #8872
I also tried that today and it didn't work out for me. I'm not quite sure on how to create the representative_dataset

[2020-09-15 10:06] GPhilo commented on #8872
@TannerGilbert You can use the generator in my code as an example (btw, I updated the comment as I realized I still had the wrong normalization values in there). Essentially, all you need to provide is a zero-argument callable that produces a generator for data batches (as a list of numpy arrays matching the input shape of the model). I'm just not sure if the batches have to be of size one (though

[2020-09-15 10:16] carolchenyx commented on #5507
Dear ymodak and aquariusjay, as for the mobilnetv2 model, if I set the depth_multiplier smaller than one, it will raise: ValueError:(Ambiguous dimension: %s" % value). It seems we can not change it. I want to know how to fix?

[2020-09-15 10:32] saikumarchalla commented on #9243
@krn-sharma  Please go through this [link](https://github.com/tensorflow/models/tree/master/research/object_detection) for more information on Tensorflow object detection API.Thanks!

[2020-09-15 10:38] MediavoiceSrL opened #9250 "TF2 to TFLite: Restoring SavedModel freezes"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-15 10:39] krn-sharma commented on #9243
How to know the full architecture of model?For ex: I want to see paper for ssd mobilenet fpnlite and ssd mobilenet v2 to compare the model.

[2020-09-15 11:57] turowicz commented on #9229
@jahongir7174  It probably will work but in TF 1.x it picked the newly created checkpoints automatically.

[2020-09-15 12:47] saikumarchalla commented on #9245
@crawfordxx  Provide the exact sequence of commands / steps that you executed before running into the problem. Also, Please fill the issue template as it helps us to analyze the issue faster.Thanks!

[2020-09-15 12:53] crawfordxx commented on #9245
sorry for any inconvenience, I'm trying to execute train.py. the Unicode of this config file might be wrong.
**_python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ ssd_mobilenet_v1_pets.config_**

[2020-09-15 13:21] TannerGilbert commented on #8872
@GPhilo your example worked for me. Thanks a lot.

[2020-09-15 14:05] KevinCS17 commented on #9208
but if I using tensorflow 2, is it okay?
model_main.py using tensorflow v1 right?
ooohh Youre tensorflow is V1..

how about V2?
is it okay?

[2020-09-15 14:54] sagilar commented on #9209
I had the same error on Google Colab, but it was a typo.

**Error Command**
`python exporter_main_v2.py --input_type image_tensor --pipeline_config_path models/my_mobilenet_ssd_v2_keras/pipeline.config --trained_checkpoint_dir /models/my_mobilenet_ssd_v2_keras/ --output_directory exported-models/my_model`

**Solution**
Removing the first `/` after `--trained_checkpoint_dir` solved the issue.
`pyth

[2020-09-15 15:36] frank-lin-liu opened #9251 "ModuleNotFoundError: No module named 'official.common'"
I run the BERT pretraining file: "python /content/models/official/nlp/bert/run_pretraining.py \" in google colab. But I have the following error:
File "/content/models/official/nlp/bert/run_pretraining.py", line 26, in <module>
    from official.common import distribute_utils
ModuleNotFoundError: No module named 'official.common'

Could you please help me out?

[2020-09-15 19:01] andrefaraujo commented on #9113
Hi @NHGJem ,

The results in sec 5.6 of the DELF paper where obtained using the KDtree-like structure as described in sec 4.4. We unfortunately cannot release open-source code for that part.

Regarding the Oxford experiment: I believe you are right to consider "good" and "ok" as positives, and ignoring "junk".

Closing this, but please feel free to reopen if needed.

[2020-09-15 19:01] #9113 closed

[2020-09-15 19:04] andrefaraujo commented on #9125
Did you check if part of the data was missing, like described in the other issue?

If you found the solution, please let us know -- so we can help anyone else who ran into this :)

Closing this issue due to lack of activity in the past month, but please feel free to reopen if needed.

[2020-09-15 19:04] #9125 closed

[2020-09-16 02:35] 2020zyc commented on #9235
I train the transformer model(subclass modell) directly, and save it as a .ckpt model. Then I restore it and again save it as a .pb model using the tf.Module.

Now it works well with the tf.serving. Thanks.

Personally, It's a bit pity that the tf.Module wrapper looks like a patch rather than an elegant approach.

Another problem: Can I still use the create_model() to create a functional model and

[2020-09-16 02:52] x12901 commented on #9251
[https://github.com/tensorflow/models/tree/master/official](url)
Have you tried the following?
`pip install tf-models-official`

[2020-09-16 03:49] ravikyram commented on #9251
@frank-lin-liu

You need to install `pip install tf-models-official`.

Refer #8291,[SO link](https://stackoverflow.com/questions/50121477/tensorflow-no-module-named-official) and see if it helps you. Thanks!

[2020-09-16 04:35] saberkun commented on #9251
@frank-lin-liu
I moved the file in a recent commit: https://github.com/tensorflow/models/blob/master/official/common/distribute_utils.py
It depends on the timing, pip install tf-models-nightly now might be up-to-date.
The tf-models-official is the release package, so it should be a stable older version.

[2020-09-16 06:25] ravikyram commented on #9249
@danial880

There is a library in tensorflow called AutoGraph, which transforms a subset of Python eager code into graph-compatible TensorFlow ops. This includes control flow like if, for, while. If you use AutoGraph, then you should be able to use if statements and not have to worry about replacing them with tf.cond like you have shown in the above example. AutoGraph will take care of transformin

[2020-09-16 07:13] ravikyram commented on #9250
@MediavoiceSrL

I am able to convert to TFLite model. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/4173c08044f76640d719ef2c2058380d/untitled360.ipynb). Thanks!

[2020-09-16 09:57] qraleq commented on #9136
Hi, any update on this issue?

[2020-09-16 10:35] GPhilo commented on #9227
@turowicz As a temporary workaround, you can run a second evaluation-only process in parallel via (in a separate shell):
[code]

This will run on the CPU only, monitor `checkpoint_dir` (up to, by default, 1h. look at all the flags of `model_main_tf2`) and run an evaluation every time a new checkpoint is generated. The benefit of this vs the V1 approach is, training never stops. Of course, though,

[2020-09-16 10:59] Jain-Abhilash opened #9254 "AssertionError: Some Python objects were not bound to checkpointed values, likely due to changes in the Python program"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2020-09-16 11:55] Jonathan995 commented on #7918
Did somebody manage to solve the problem? I am facing the same issue after having trained ssd_mobilenet_v1_0.75 with pretrained checkpoint on TF1.15 and then converted it to TFLite.

[2020-09-16 13:26] qraleq commented on #5421
Hi, did anyone manage to get `model_main.py` working in a multi-GPU setting and in an efficient manner (not being slower, and utilizing all the GPUs)?

[2020-09-16 13:48] AliButtar opened #9255 "InvalidArgumentError: Index out of range using input dim 1; input has only 1 dims [Op:StridedSlice] name: strided_slice/"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-16 14:04] devendraswamy opened #9256 "How can i test the model with custom data( with visualization) in models/research/lstm_object_detection/ ?"
https://github.com/tensorflow/models/tree/master/research/lstm_object_detection/

please help me , how can i test the lstm object dtection model with custom data , where i need to modify ?

thanking you

[2020-09-16 14:22] MediavoiceSrL commented on #9250
I'm working on a Windows 10 system, with python 3.7.3 and tf-nightly 2.4.0-dev20200912. There are no tf-nighlty update available.
With this configuration I have the above problem.
Your solution is running on Linux with tf-nightly 2.4.0-dev20200915.

[2020-09-16 16:10] frank-lin-liu commented on #9251
Thank you. Could you please give an example of running  "python /content/models/official/nlp/bert/run_pretraining.py ", which is similar to the following command in https://github.com/google-research/bert? I ran the command in https://github.com/google-research/bert, but cannot work it out. I think the reason is the tensorflow version issue.

python run_pretraining.py \
  --input_file=/tmp/tf_exam

[2020-09-16 16:39] aditeitel opened #9257 "Problem when converting ssdlite_mobilenet_v2_coco to tflite"
I am trying to convert ssdlite model to tflite for running on mobile.
I use this tutorial: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md
and also tried this tutorial:
https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android
I downloaded the model from:
https://github.com/tensorflow/models/blob/m

[2020-09-16 17:00] Tusci88 opened #9258 "convert centernet_hourglass for keypoints detection to TFLite model"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_tf2.py

## 2. Describe the feature you request

Ability to convert centernet_hourglass for keypoints detection to TFLite model

## 3. Additional context

In order to speed-up the spread of mobile applications that employ Tensorflow model, I think is pretty

[2020-09-16 19:54] magentay opened #9259 "which version of TensorFlow does current deeplap code requires?"
I have tried TensorFlow 2.3 and TensorFlow 1.x. None of them work!

[2020-09-16 21:15] pranavgundewar commented on #8493
Even I am facing the problem

[2020-09-16 21:16] arcivi commented on #8812
Below code works for me with TensorFlow 2.3

'if 'detection_masks' in detections:
  # we need to convert np.arrays to tensors
  detection_masks = tf.convert_to_tensor(detections['detection_masks'][0])
  detection_boxes = tf.convert_to_tensor(detections['detection_boxes'][0])

  # Reframe the the bbox mask to the image size.
  detection_masks_reframed = utils_ops.reframe_box_masks_to_image_masks(de

[2020-09-17 04:28] saikumarchalla commented on #9138
@rsandler00 Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-09-17 04:28] #9138 closed

[2020-09-17 06:38] ravikyram commented on #9259
@magentay

Deeplab is compatible with TF 1.x only.Please, see this [comment](https://github.com/tensorflow/models/issues/8813#issuecomment-659564274).Please, refer [link](https://github.com/sthalles/deeplab_v3),[link2](https://www.kaggle.com/mobassir/deeplabv3-with-mobilenetv2) and see if it helps you. Thanks!

[2020-09-17 06:46] passion765 opened #9260 "where can i find BERT-Base, Chinese model ?"
where can i find tf2.3 BERT-Base, Chinese model ? I want  BERT-Base, Chinese model  not Pretrained hub modules.

[2020-09-17 07:03] ravikyram commented on #9255
I have tried in colab with Tf version 2.3 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/39ad875e660428abe0aae1bc52b9980a/untitled368.ipynb). Thanks!

[2020-09-17 07:05] YuByoungJoon opened #9261 "Object detection imports / error"
We want to do Object detection imports in jupyter.

I ran the following Python function, but I got an error

from utils import label_map_util

from utils import visualization_utils as vis_util

-------------------------------------------------- -------------------------
ModuleNotFoundError Traceback (most recent call last)
<ipython-input-3-aa270cd948af> in <module>
----> 1 from utils import label_

[2020-09-17 07:16] ravikyram commented on #9261
@YuByoungJoon

Can you please refer the below link and see if it helps you. Thanks!
https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/object_detection_tutorial.ipynb

[2020-09-17 09:26] bhack commented on #9260
If you the hugging face library with Tensorflow you can use https://huggingface.co/bert-base-chinese

[2020-09-17 09:27] BharatDadwaria commented on #8047
**I am facing the following problem while importing the tensorflow**

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3325, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-4

[2020-09-17 09:56] nlp-sudo opened #9262 "Not able to replicate NHNet results & FP16 not working for it."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-09-17 10:24] weenkiejinky commented on #3081
C:\Users\Admin\Anaconda3\envs\tf_gpu\notebook\models\research\object_detection\utils\object_detection_evaluation.py:1195: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
Traceback (most recent call last):
  File "research/object_detection/eval.py", line 142, in <module>
    tf.app.run()
  File "C:\Users\Admin\Anaconda3\envs\tf_gpu

[2020-09-17 11:19] hichemfelouat commented on #8812
### I solved the problem of mask-RCNN in FT2 Object detection API :

def run_inference_for_single_image(image_path):
    print("Running inference for : ",image_path)
    image_np = load_image_into_numpy_array(image_path)

    # The input needs to be a tensor, convert it using `tf.convert_to_tensor`.
    input_tensor = tf.convert_to_tensor(image_np)
    # The model expects a batch of images, so add

[2020-09-17 12:43] nicolas-gervais opened #9263 "How do I save and re-load a model after running the Colab Tutorial?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-09-17 12:53] mgon5170 commented on #9231
@gowthamkpr Any ideas what could be causing the "Killed 9" or a solution to all the unresolved objects in the checkpoint?

[2020-09-17 12:59] ravikyram commented on #9263
@nicolas-gervais

Can you please refer the [link](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/plot_object_detection_saved_model.html) and see if it helps you.Thanks!

[2020-09-17 13:45] mikechen66 commented on #4938
I meet an error while dealing with Google Inception v4.  I have already know that I need to set "labels_offset=1". But I have not know where "labels_offset=1" shall be inserted.  Please see the error  details as follows.

1. if set num_classes=1001, I can get model.summary

[code]

2. If set num_classes=1001, I get the error while getting prediction

[code]
    raise ValueError('If using `weights`

[2020-09-17 15:45] jasminium commented on #9033
A working solution for me was to use export_tflite_graph_tf2.py using TensorFlow 2.3. Then use the TFLite converter with the nightly 2.4. This did not work using the nightly for both processes.

[2020-09-17 16:01] sayakpaul commented on #9033
@jasminium yes, using `tf-nightly` is a must to support the operator set introduced by the exporter script. You would see that in the notebook I linked above.

[2020-09-17 19:39] hd1090 commented on #8707
Also Interested

[2020-09-17 19:42] bhack commented on #8707
Others PRs are landing:
https://github.com/tensorflow/models/pull/9130
https://github.com/tensorflow/models/pull/9135

[2020-09-17 22:24] xavigibert opened #9264 "attention_ocr: Support TensorFlow Serving's Classification API"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/attention_ocr/python/model_export.py

## 2. Describe the feature you request

Add a [Classification SignatureDef](http

[2020-09-18 01:18] insomnia1996 opened #9265 "reader.get_tensor() crashes with no Exception, how to fix it?"
## Describe the bug

Im using an example  code of bert4keras with Tensorflow-gpu2.0.0 and CUDA10.0.
![image](https://user-images.githubusercontent.com/22270406/93542793-7dd3ed80-f98c-11ea-87e7-d3aac67baba1.png)
 When I use build_transform_model() the interpreter crashes with following error:
[code]
This error also created a .dmp file with over 700MB in windows crashdumps.
I traced this error and f

[2020-09-18 04:50] mikechen66 commented on #4001
Hi rohith14:

I meet an error while dealing with Google Inception v4 by running $ inceptiion_v4.py in Anaconda Environment. I have already know that I need to set "labels_offset=1". But I have not know where "labels_offset=1" shall be inserted. Please see the error details as follows.

0. My Weights

inception-v4_weights_tf_dim_ordering_tf_kernels.h5
inception-v4_weights_tf_dim_ordering_tf_kernels

[2020-09-18 07:32] #7284 closed

[2020-09-18 08:27] jasminium commented on #9033
@sayakpaul yes thank you for the notebook. I did follow it but still had issues with versions.

[2020-09-18 08:35] sayakpaul commented on #9033
Can you share the errors you ran into? I am happy to take a look. @jasminium

[2020-09-18 08:36] csxeba opened #9266 "How are the reported mAP values measured?"
Are the reported mAP values measured with the standard interface, ie. model(image)? On which subset are they measured? Is there any special pre-and postprocessing involved, like flip and scale inference with the reported numbers?
I cannot seem to reproduce the mAP reported for the ResNet-101-FPN-CenterNet model (reported mAP is 34.6, I measured 29.0 on the MSCOCO val2017 subset).

[2020-09-18 08:44] Ndohjapan commented on #8450
Please, I installed tensorflow using `conda install tensorflow`
After installing it I go a `Collerboerror` and I tried importing it and I am getting another error
`ImportError:cannot import name 'export_saved_modrl' from 'tensorflow.python.keras.saving.saved_model`

[2020-09-18 11:18] VishvajeetRamanuj commented on #9017
This issue is duplicate and better answered [hear](https://github.com/tensorflow/models/issues/8844)

[2020-09-18 11:30] VishvajeetRamanuj commented on #8844
Did you solved this ? If Yes then how ?

[2020-09-18 11:50] leicmi opened #9267 "Pip installs tensorflow==2.3.0 even though tensorflow--gpu==2.2.0 is already installed in the docker container"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-09-18 12:47] lsrock1 commented on #9201
@itimmisriis
Thanks for your helpful issue. Did you install tf-nightly?

[2020-09-18 12:53] #9249 closed

[2020-09-18 12:59] keesschollaart81 commented on #9033
I'm not able to convert the model generated with the new `export_tflite_graph_tf2.py` script to a quantized tflite model that I can convert to run on edge tpu. @sayakpaul or @srjoglekar246, can you help?

<details>
    <summary>models/ssd_mobilenet_v2/pipeline.config</summary>

    # SSD with Mobilenet v2
    # Trained on COCO17, initialized from Imagenet classification checkpoint
    # Train on T

[2020-09-18 13:00] jvishnuvardhan commented on #8990
@nicholasguimaraes Can you please share a standalone code to reproduce the issue? Thanks!

[2020-09-18 13:05] jvishnuvardhan commented on #9217
@ashiqimranintel Can you please share more details about your issue? Any standalone code would resolve the issue faster. Thanks!

[2020-09-18 13:32] VishvajeetRamanuj commented on #9209
I have same problem. But this did't work for me

[2020-09-18 13:35] VishvajeetRamanuj commented on #8844
I had same error.

When we export the model we need to specify path of directory of chekpoint not path of chekpoint in trained_checkpoint_dir in tfv2

`python .\exporter_main_v2.py --input_type image_tensor --pipeline_config_path .\models\my_efficientdet_d1\pipeline.config --trained_checkpoint_dir .\models\my_efficientdet_d1\ --output_directory .\exported-models\my_model`

[2020-09-18 13:59] sayakpaul commented on #9033
@keesschollaart81 do you mind trying this with `tf-nightly`? Also, the postprocessing ops that get inserted by the exporter script probably do not support integer precision yet so, you would need to remove this specification `converter.inference_output_type =  tf.uint8`.

[2020-09-18 14:20] keesschollaart81 commented on #9033
Wow, that was fast. Thanks! Removing the output_type constraint indeed worked 🎊 ! I was able to run the edgetpu-compiler with the following result!

<details>
    <summary>edgetpu_compiler model.tflite -s</summary>

    Edge TPU Compiler version 14.1.317412892

    Model compiled successfully in 552 ms.

    Input model: model.tflite
    Input size: 5.10MiB
    Output model: model_edgetpu.tflite

[2020-09-18 14:26] sayakpaul commented on #9033
@srjoglekar246 might be able to lament on that.

[2020-09-18 15:33] srjoglekar246 commented on #9033
@keesschollaart81 That custom op is used to improve SSD performance on mobile, by fusing multi-class NMS into a single operation.

[2020-09-18 16:17] #7244 closed

[2020-09-18 16:17] #7271 closed

[2020-09-18 16:17] #7329 closed

[2020-09-18 16:17] #7434 closed

[2020-09-18 16:17] #7424 closed

[2020-09-18 16:17] #7376 closed

[2020-09-18 16:17] #7270 closed

[2020-09-18 16:17] #6991 closed

[2020-09-18 16:17] #7513 closed

[2020-09-18 16:17] #6571 closed

[2020-09-18 16:17] #7967 closed

[2020-09-18 16:17] #7832 closed

[2020-09-18 16:17] #5116 closed

[2020-09-18 16:17] #7638 closed

[2020-09-18 16:17] #7544 closed

[2020-09-18 16:17] #6771 closed

[2020-09-18 16:17] #5851 closed

[2020-09-18 16:17] #6537 closed

[2020-09-18 16:17] #9013 closed

[2020-09-18 16:17] #6752 closed

[2020-09-18 16:17] #8928 closed

[2020-09-18 16:17] #7530 closed

[2020-09-18 16:17] #8957 closed

[2020-09-18 16:17] #9185 closed

[2020-09-18 16:42] Ruomei commented on #8658
@peri044
Just curious, what accuracy numbers have you got for the resnet_vanilla and resnet_qat here?

[2020-09-18 16:53] peri044 commented on #8658
The accuracy drop was around 0.2 in my experiments. Pretrained RN50: 76.4 and the QAT version 76.2. I used quantize_and_dequantize operations instead of fake_quant_with_min_max_var.

[2020-09-18 16:53] #8658 closed

[2020-09-18 17:04] Tusci88 commented on #9258
Any news about it?

[2020-09-18 17:05] saberkun commented on #9267
If you change FROM tensorflow/tensorflow:2.2.0-gpu to FROM tensorflow/tensorflow:2.2.0, will it work?
Another way is to release tf-models-official 2.2.x package with a fixed TF version

[2020-09-18 17:17] #7828 closed

[2020-09-18 17:17] #7821 closed

[2020-09-18 17:17] #7783 closed

[2020-09-18 17:17] #7775 closed

[2020-09-18 17:17] #7202 closed

[2020-09-18 17:17] #7730 closed

[2020-09-18 17:17] #7682 closed

[2020-09-18 17:17] #7660 closed

[2020-09-18 17:17] #7647 closed

[2020-09-18 17:17] #7639 closed

[2020-09-18 17:17] #8327 closed

[2020-09-18 17:17] #7584 closed

[2020-09-18 17:17] #7596 closed

[2020-09-18 17:17] #7583 closed

[2020-09-18 17:17] #7569 closed

[2020-09-18 17:17] #7564 closed

[2020-09-18 17:17] #7541 closed

[2020-09-18 17:17] #7534 closed

[2020-09-18 17:17] #7532 closed

[2020-09-18 17:17] #7520 closed

[2020-09-18 17:17] #7506 closed

[2020-09-18 17:17] #7514 closed

[2020-09-18 17:17] #7488 closed

[2020-09-18 17:18] #7466 closed

[2020-09-18 17:18] #7464 closed

[2020-09-18 17:18] #7203 closed

[2020-09-18 17:18] #7211 closed

[2020-09-18 17:18] #7212 closed

[2020-09-18 17:18] #7230 closed

[2020-09-18 17:58] tazu786 commented on #8999
@qraleq I have exactly the same problem. Did you manage to solve it?

[2020-09-18 18:17] #8182 closed

[2020-09-18 18:17] #8072 closed

[2020-09-18 18:17] #8064 closed

[2020-09-18 18:17] #8058 closed

[2020-09-18 18:17] #8056 closed

[2020-09-18 18:17] #8012 closed

[2020-09-18 18:17] #8005 closed

[2020-09-18 18:17] #8002 closed

[2020-09-18 18:17] #7986 closed

[2020-09-18 18:17] #7985 closed

[2020-09-18 18:17] #8048 closed

[2020-09-18 18:17] #7955 closed

[2020-09-18 18:17] #7948 closed

[2020-09-18 18:17] #7953 closed

[2020-09-18 18:17] #7971 closed

[2020-09-18 18:17] #8537 closed

[2020-09-18 18:17] #7977 closed

[2020-09-18 18:17] #7950 closed

[2020-09-18 18:17] #7911 closed

[2020-09-18 18:18] #7888 closed

[2020-09-18 18:18] #7876 closed

[2020-09-18 18:18] #7139 closed

[2020-09-18 18:18] #7147 closed

[2020-09-18 18:18] #7858 closed

[2020-09-18 18:49] leicmi commented on #9267
Changing the docker base image in addition to pinning the version of tf-models-official to 2.2.0 in setup.py solves the issue.

While the latter seems reasonable, the former surely makes a difference, considering that `tensorflow:2.2.0` is nearly 1GB less in size compared to `tensorflow:2.2.0-gpu`. What do you think?

Btw, trying to reproduce it on another computer I ran into the problem of missin

[2020-09-18 19:17] #5328 closed

[2020-09-18 19:17] #5538 closed

[2020-09-18 19:17] #5117 closed

[2020-09-18 19:17] #4732 closed

[2020-09-18 19:17] #5020 closed

[2020-09-18 19:17] #5364 closed

[2020-09-18 19:17] #8392 closed

[2020-09-18 19:17] #8373 closed

[2020-09-18 19:17] #8369 closed

[2020-09-18 19:17] #4531 closed

[2020-09-18 19:17] #5138 closed

[2020-09-18 19:17] #8359 closed

[2020-09-18 19:17] #8313 closed

[2020-09-18 19:17] #4794 closed

[2020-09-18 19:17] #8228 closed

[2020-09-18 19:17] #8212 closed

[2020-09-18 19:37] lehougoogle commented on #9254
I guess it's related to the ALBERT implementation?

[2020-09-18 19:43] #9235 closed

[2020-09-18 19:44] lehougoogle commented on #9223
Pining this issue.

[2020-09-18 19:46] lehougoogle commented on #9202
Pinging this issue.

[2020-09-18 19:50] lehougoogle commented on #9146
Pinging on this issue.

[2020-09-18 19:57] yeqingli commented on #9146
Could share more details about this issue? What is the script to reproduce the issue and what did you see in the output (and your expectation)?

[2020-09-18 20:45] mikechen66 commented on #4938
I have solved the issue. It is related to the both the labels offset concept and the class_names.txt included in the validation_utils.

1. Commence (or delete) the line that includes decode_predictions(preds).

The function of decode_predictions() in Keras is a big problem that only recognizes 1000 classes. If the class number is 10001 or others, it throw an error.

[code]

2. Add the class_names.

[2020-09-18 20:59] ashiqimranintel commented on #9146
Here is my script.
python main.py \
  --strategy_type=one_device \
  --mode=train \
  --model=retinanet \
  --num_gpus=0 \
  --model_dir=$MODEL_DIR \
  --config_file=configs/retinanet.yaml \
  --log_steps=1

I was expecting to see performance after 1 step at a time. But it's printing performance after 100 steps.

[2020-09-18 23:20] SJosh99 commented on #2215
Hey, were you able to fix this? If so, please let me know how

[2020-09-19 07:00] abccabrera opened #9269 "Checkpoint file not being created with tf2_encoder_checkpoint_converter.py"
Hi, I'm trying to run this script: **tf1_checkpoint_converter_lib.py**
to convert the BERT checkpoints generated with tensorflow 1.15 to tensorflow 2
but somehow, I'm not seeing any file being created.

![image](https://user-images.githubusercontent.com/26033377/93661189-24a5b000-fa99-11ea-9155-e64ebeddd97e.png)

When I try to run **tf2_encoder_checkpoint_converter.py**

It just gives me an error

[2020-09-19 08:23] qraleq commented on #8999
@tazu786 I decided to stick with batch==1 for now.

[2020-09-19 08:27] TomatoQt commented on #5417
thanks, you're right. I fix this issue as soon as I change 'None' to '0'.

[2020-09-19 15:02] antoniokleiser commented on #8450
Hey @Ndohjapan , maybe you wrote export_saved_model wrong... i see in your comment  'export_saved_modrl'

[2020-09-19 16:01] aitormf opened #9270 "How can I save a frozen inference graph in TF2?"
I have trained a network to be able to use it in tensorflow.js but it works very slow because it has been converted from a saved model instead of a frozen graph as they have done with the pretrained models provided [here](https://www.tensorflow.org/js/models).

to check that it was not my thing, I have taken the ssdlite_mobilenet_v2 (TF1.x) from[ this repository](https://github.com/tensorflow/mode

[2020-09-19 19:24] Aksh-kumar commented on #1741
can anyone told me how to use tensorflow c++ API. what I am doing just googling too much copy and pasting codes I don't understand even a single ++ API. I try to get any knowledge from official tensorflow web site but their only Input and output is mention, not detail documentation is available, How Internally It works. How to convert normal c++ data type to tensors etc. can anyone suggest me some

[2020-09-19 20:41] richarnaik commented on #8965
Same issue as NitinSaini18. I get the same error in spite of using :
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

[2020-09-19 21:37] Jain-Abhilash commented on #9254
Yes, related to ALBERT on the MNLI task

[2020-09-19 22:13] Ndohjapan commented on #8450
Thanks a million.
I am just a beginner in this object detection of a thing and this
tensorflow is stressing me out.
Please for how long have you been into this trade of IT.

On Sat, Sep 19, 2020 at 4:03 PM Kleiser <notifications@github.com> wrote:

[2020-09-20 03:55] mihir-chauhan commented on #9033
@sayakpaul, does this `tflite` model made from your Colab notebook work on the TF Android app example as well?

[2020-09-20 04:04] sayakpaul commented on #9033
It should work. @mihir-chauhan. I don't see why it wouldn't.

[2020-09-20 05:16] saberkun commented on #9262
Thanks for reporting problems.

(1) What are your GPU command lines? The training is very expensive and the paper was using TPUs.
https://github.com/tensorflow/models/tree/master/official/nlp/nhnet#tpu
The command line in the readme for GPU is just a toy example.
(2) In terms of the scale loss optimizer, overriding keras.Model has complex interactions. This might be a design problem to figure out

[2020-09-20 06:11] mihir-chauhan commented on #9033
Ok. Thanks @sayakpaul, I will try soon. When I used a similar type of conversion, it gave an error that the bytebuffer is not a valid flat buffer model. I just wanted to make sure this error doesn't come in this method of conversion.

[2020-09-20 06:59] sayakpaul commented on #9033
I see. Feel free to open a separate issue if you run into a similar problem.

[2020-09-20 07:55] TomatoQt commented on #5625
cant believe it works, no idea how grathful i am to your reply

[2020-09-20 08:54] DanKlarman commented on #9044
Following - I am very interested in this, all my attempts so far have failed. Any progress?

[2020-09-20 09:39] dlavrantonis commented on #1993
the issue is there, not sure why the ticket is closed. There must be a leak since if you reboot the machine it goes away

[2020-09-20 10:44] nlp-sudo commented on #9262
I used the same command line mentioned in the ReadMe [Just reduced train_batch_size from 16 to 8]. Once I also tried changing steps_per_loop from 1 to 10000 but that also didn't help.

Can you let me know, how can I train the model again on GPU? and if that's not possible, can we get pre-trained model checkpoint for usage?

[2020-09-20 15:01] domindominik opened #9272 "Tensorflow models ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8 Model training for object detection"
Hi everyone
I create an application that recognizes the names of my cats.
I would like to use the model "ssd_resnet50_v1_fpn_1024x1024_coco17_tpu-8" and train it using my data and tensorflow 2.3.0

Question 1.
How to configure pipeline.config file
What value should I give for "fine_tune_checkpoint"?
After unpacking the model in the checkpoint directory I have 3 files: checkpoint, ckpt-0.index, ckp

[2020-09-20 20:11] iamreechi commented on #8892
i had similar issues but i set my runtime to GPU in colab and it was resolved. i actually did select it initially
![image](https://user-images.githubusercontent.com/50128025/93721125-be4a8b80-fb85-11ea-9ecb-6c55e639bd9e.png)

[2020-09-20 20:30] #9200 closed

[2020-09-20 20:39] philippds opened #9273 "Recieving "AttributeError: densepose_estimation_task" on "python object_detection/builders/model_builder_tf2_test.py""
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-09-20 23:24] Sanjana7395 opened #9274 "Unable to download bike video dataset"
Hi,

On clicking the bike video dataset [here](https://sites.google.com/site/brainrobotdata/home/bike-video-dataset), it is going to an error page. Kindly advice on where I can get this data.
Thank you.

Regards,
Sanjana

[2020-09-21 03:02] insomnia1996 commented on #9265
Now I've found the reason: Not enough GPU mem to load BERT-base model.

[2020-09-21 03:02] #9265 closed

[2020-09-21 03:08] WindowsDriver commented on #8971
yes, Could you help me to reply this question? Thank you

[2020-09-21 03:57] saberkun commented on #9262
steps_per_loop only control the inner loop running on this device. it does not affect total number of steps to train the model. The TPU command line is closer to the paper setting.

I am afraid the checkpoint release is not approved. @remenberl

[2020-09-21 04:13] tensorflowbutler commented on #9269
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2020-09-21 07:16] ravikyram commented on #9274
@Sanjana7395

This issue is the duplicate of #8610. Can we close the issue here and track in #8610.Thanks!

[2020-09-21 07:18] ravikyram commented on #8610
@jaeyounkim @rezama

Any update on this issue please.Thanks!

[2020-09-21 08:15] estelleaf commented on #5342
I reach only ~76% with those params...
If you remember anything special let me know :)

[2020-09-21 09:46] ravikyram commented on #9269
@abccabrera

Please, fill issue template.From the error screenshot it looks problem with cuda version.Please, see tested build configurations from [here.](https://www.tensorflow.org/install/source_windows#gpu). Thanks!

[2020-09-21 10:08] maxter2323 opened #9275 "VRAM/GPU memory allocation for tensors is larger than expected."
Dear Tensorflow Team,

I have an issue with VRAM/GPU memory allocation. I tried to google this problem but I didnt find anything.

I was making a model which takes 128x128x1 images (greyscale pngs) as input. I was training this model on 20 000 dataset. However when I decided to try 100 000 dataset I encountered OOM(out of memory exception).

While debugging this issue I found out that the problem

[2020-09-21 10:36] carlos-vl commented on #9226
I have the exact same issue. Anyone could figure this out?

[2020-09-21 11:06] dorarad commented on #8154
There is an error in some version of Tensorflow resize_images. Potential solutions either:
1. Install tf < 1.12 or > 2.2
2. Locally fix the following two lines at tensorflow/python/ops/image_ops_impl.py:
https://github.com/UofT-EcoSystem/tensorflow/commit/24c75ce5016efb4ab107f27b96aac07549d8617b

[2020-09-21 14:09] shawntyshawny commented on #9208
Haven't tried version 2 yet.

[2020-09-21 14:36] shawntyshawny opened #9276 "yolov3 custom dataset detection for screen grab"
Have i written custom code?
-No
OS Platform and Distribution:
-Windows10
TensorFlow installed from:
-pip install tensorflow
TensorFlow Version:
-1.15.0
Bazel Version:
-N/A
CUDA/cuDNN version:
-10.0/7.6.5
GPU model and memory:
NVIDIA GTX 2060s
Repos that I'm following:
-https://github.com/AlexeyAB/darknet
-https://github.com/theAIGuysCode

I'm currently working on Yolo v3 using custom dataset and s

[2020-09-21 15:17] cdomkam commented on #9181
@angyee Found that the issue was due to my tfrecords and resolved the issue by converting my custom dataset to a pascal format using [this](https://github.com/murphypei/create-pascal-voc-dataset) repo. From there I modified and used [this](https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_pascal_tf_record.py) script to convert to tfrecords. Hopefully t

[2020-09-21 16:30] remenberl commented on #9262
Thanks for reporting the problem.

Some reproduction details below:
When we train our headline model on TPUv3 and the batch size is 1024. More importantly, we have a pretrain stage to initialize the seq2seq model as reported in the paper.

The gap is significant if batch size is small and lacking of a pre-trained encoder-decoder. I would suggest you pretrain the seq2seq model (BERT2BERT) first bef

[2020-09-21 17:16] gaurav-newzera commented on #9262
Okay, I will pretrain a seq2seq model with a huge corpus. I am supposing, I would have to pass the saved checkpoint of the pre-trained seq2seq as --init_checkpoint but in the paper, it is written that the pre-trained seq2seq model is used to initialize just the encoder module and the word embedding layer and not the decoder module. Do I need to handle that separately?

PS: As mentioned in the READ

[2020-09-21 17:20] nlp-sudo commented on #9262
Okay, I will pretrain a seq2seq model with a huge corpus. I am supposing, I would have to pass the saved checkpoint of the pre-trained seq2seq as --init_checkpoint but in the paper, it is written that the pre-trained seq2seq model is used to initialize just the encoder module and the word embedding layer and not the decoder module. Do I need to handle that separately?

PS: As mentioned in the READ

[2020-09-21 17:30] remenberl commented on #9262
There are multiple stages in order to get the best performance as shown in Figure 3, among which the `single-doc pretraining` is more crucial than `multi-doc distant supervision`  assuming you have access to BERT pretraining checkpoint.

Based on this, I suggest to train a seq2seq model with BERT pretraining checkpoint. And then you can train NHNet with this seq2seq checkpoint.

Unfortunately, pre

[2020-09-21 17:38] carlos-vl commented on #9226
I think I found the reason for this behaviour. The input data is encoded as 8bit jpeg or png in the tfrecord files (at least in my case). The images are scaled during the preprocessing step of the feature extractors. Each feature extractor has a different scaling apparently. For example:

https://github.com/tensorflow/models/blob/52b16a1a7f6781e4f65f763e6cf35ca8c4382a4b/research/object_detection/m

[2020-09-21 17:48] KevinCS17 commented on #9241
just reducing dataset to 500 each for training except stop sign with 450+ for stop sign, and 100 for evaluation except stop sign with 70+ evaluation
with 32 batch size
this the graph,
![batch32-2](https://user-images.githubusercontent.com/71172335/93801991-13ad9800-fc6d-11ea-9602-369dac99ffc3.JPG)

so any help?

[2020-09-21 19:03] Sanjana7395 commented on #9274
Sure. Thank you!

[2020-09-21 19:03] #9274 closed

[2020-09-21 19:52] ItsMeTheBee commented on #9227
Hey @GPhilo !
I´ve been searching for some information on this topic for some time.
Is this the only possible way to evaluate my model during training?
If so, can I change how often a checkpoint is generated so my model is evaluated more often?

[2020-09-21 20:06] pmj714 commented on #7644
Hi, so I just struggled with this problem for a few days. Here is how I solved it: it turns out I was using the wrong python folder. I was dealing with conda environments and had everything installed on my conda environment but was using the default path to my local installation of python as a kernel. I fixed this by changing what kernel I was using with my jupyter notebook to be my conda environm

[2020-09-21 21:24] loretoparisi opened #9277 "pQRNN"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/sequence_projection

## 2. Describe the feature you request

Release the PRADO generation model for pQRNN.

## 3. Addi

[2020-09-21 22:51] reedwm commented on #9262
The LossScaleOptimizer issues comes from the fact that we call a private `_decayed_lr` method on the optimizer, which is not supported on the LossScaleOptimizer:

[code]

I am working on resolving this for TensorFlow 2.4. In the meantime, you can replace the above snippet with:

[code]

Note this snippet relies on accessing the private `_optimizer` memeber of LossScaleOptimizer, so it may break in

[2020-09-22 00:13] lacls opened #9278 "[YOLOv5] Checkpoint is expected to be an object-based checkpoint."
# Prerequisites

-  I am using the latest TensorFlow Model Garden release and TensorFlow 2.

## 1. Describe the bug

[code]

Here is my config file with ONLY Fine-tune part

[code]

The folder of pre_trained_models consists of

![Screen Shot 2020-09-22 at 07 12 21](https://user-images.githubusercontent.com/42736388/93833507-01e6e780-fca3-11ea-9dc6-8197919555c4.png)

Thanks you guys, again!

## 6.

[2020-09-22 00:34] abccabrera commented on #9269
reference: https://colab.research.google.com/gist/infinex/f0e243e6da66124fb1e0fd4d9f830909/tf1-x-to-tf2-weight-transfer-for-bert.ipynb#scrollTo=F0PUctCur03E

What is the top-level directory of the model you are using
Have I written custom code: NO
OS Platform and Distribution: N/A
TensorFlow installed from: Google Colab
TensorFlow version: 1.15
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model

[2020-09-22 03:02] saberkun commented on #9262
_decayed_lr is probably not needed.
We can use:
[code]

[2020-09-22 03:39] x12901 commented on #9242
Thanks,I use the object_detection API for training. that didn't work for me. I solved the problem by modifying config_util.py.Now it's ready for training.
with open(pipeline_config_path, "r",encoding='utf-8') as f: proto_str =f.read()

[2020-09-22 03:39] #9242 closed

[2020-09-22 05:48] NguyenHongSon1103 opened #9280 "Fail to use tf.keras.models.load_model for SavedModel format"
Hello everyone,
After trained efficientDetD0 with Tensorflow 2.0 Object Detection API and exported it to SavedModel format, I try to convert it into Keras object with tf.keras.models.load_model but following error occur:

Traceback (most recent call last):
  File "test_infer_model.py", line 64, in <module>
    model = tf.keras.models.load_model('efficientDet')
  File "C:\Users\Luxury\AppData\Local

[2020-09-22 05:57] midhulavijayan commented on #8953
Change the line in pipeline.config

fine_tune_checkpoint_type: "classification" to fine_tune_checkpoint_type: "detection"

[2020-09-22 06:19] saberkun commented on #9269
I am quite confusing. The tf1_checkpoint_converter_lib.py is clearly a library not a binary. Why do you want to run it?
Would you please try: https://github.com/tensorflow/models/blob/master/official/nlp/bert/tf2_encoder_checkpoint_converter.py?

[2020-09-22 06:52] abccabrera commented on #9269
Hi saberkun,

Thanks.. i will skip running _tf1_checkpoint_converter_lib.py_; I thought it needs to be run prior to the encoder checkpoint converter.

Will run this script directly:

_!python tf2_encoder_checkpoint_converter.py --bert_config_file $"{bert_config_file}" --checkpoint_to_convert $"{orig_checkpoint}" --converted_checkpoint_path $"{converted_checkpoint}"_

orig_checkpoint: ckpt generate

[2020-09-22 07:07] ravikyram commented on #9280
@NguyenHongSon1103

Can you please share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-09-22 07:14] abccabrera commented on #9269
Hi saberkun,

the tf2_encoder_checkpoint_converter.py ran into this error:
![image](https://user-images.githubusercontent.com/26033377/93853157-aa726700-fcf6-11ea-80eb-1e98fd8d60b8.png)

I cloned the scripts from here:
! git clone https://github.com/tensorflow/models

then run the script from this path:
%cd models/official/nlp/bert

[2020-09-22 08:10] GPhilo commented on #9227
@ItsMeTheBee

Definitely not (you could implement your own evaluation, for example), but it's definitely the most practical.

Yep, there's flags you can pass to model_main to configure how often checkpoints are created. IIRC there's also a flag for the evaluation process that sets the minimum time between evaluations, so you should make sure not to generate checkpoints too often (or remember to lo

[2020-09-22 08:11] ItsMeTheBee commented on #8935
In TF1 we were able to add

[code]

to the config file.
It seems like this is not possible in TF2 right now - is there a suitable replacement or are you planning on adding this functionality later on?

I´m trying to run custom models on the EdgeTPU so this would be very interesting for me.

[2020-09-22 09:54] RomanoBenedetto commented on #7640
Same problem.
The problem is only in inference og the NN, during Training it use correctly the GPU.
But this is A BIG PROBLEM, because inference go only using CPU.
Please FIX THIS thanks a lot.

[2020-09-22 11:02] Maioy97 commented on #9245
I've also run into the same problem using model_main.py and tensorflow 1.15
the error is :
```UnicodeEncodeError: 'latin-1' codec can't encode character '\u0635' in position 0: ordinal not in range(256)```
 my dataset labels and .pbtext have arabic letters in them and the character code is for the letter ص
the error appears after it trains for about 800 steps when it tries to reload the newly save

[2020-09-22 12:58] nlp-sudo commented on #9262
Thanks for the input. I will try changing the loss like this. But I think, dtype for most of the model layers are explicitly set to float32,  so fp16 might not help. I will report my observations, once I try it

[2020-09-22 14:18] Pooya-Mohammadi-K commented on #9272
@domindominik
Q1: dir_path/ckpt-0
Q2 Num_classes= 4

[2020-09-22 15:43] ipetel commented on #7918
I was encountered with the same issue as described here.
here is my error: `RuntimeError: tensorflow/lite/kernels/detection_postprocess.cc:402 ValidateBoxes(decoded_boxes, num_boxes) was not true.Node number 63 (TFLite_Detection_PostProcess) failed to invoke.`

My workaround was to [build TF from source](https://www.tensorflow.org/install/source) while changing the "[detection_postprocess.cc](http

[2020-09-22 16:32] gowthamkpr commented on #9256
@devendraswamy Can you please be clear on what you are trying to accomplish? Are you trying to build a lstm object detection model with custom data or Are you trying to test the model that you built? Thanks!

[2020-09-22 17:07] RomStriker opened #9284 "SSD-MobileNetV3 Large and SSD-MobileDet-CPU not restore the checkpoint provided, and starting from scratch"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
I am using TensorFlow 1.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL o