[2018-01-17 12:53] JesperChristensen89 commented on #3116
@oneTimePad did you manage to run Faster R-CNN on the Jetson? I'm stuck with the same problem as you. SSD runs out of the box, but Faster R-CNN fails.

[2018-01-17 12:59] nealzGu opened #3178 "maximum box coordinate value is larger than 1.01"
Hey all,

how can I edit files in "build/..." ???

I got this error message, which is caused by my label files. I want to set the threshold from 1.01 to 1.1, but changing box_list_ops.py in /object_detection/core/ has no effect, since the code is looking to the "/build" folder.

Is that something I can change by setting a different PYTHONPATH (already tried out, nothing worked)? How can I edit thi

[2018-01-17 13:07] nealzGu commented on #3178
also, if try to use a different architecture (inception), I got this error message:

[code]

are these messages somehow related to each other? did something went wrong during installation!?

Thanks!

[2018-01-17 13:25] xingjinglu commented on #2505
The CudnnLSTM version of ptb  still does not work now. There are some problems about it:
1) It seems the ptb use the cudnn_rnn_ops.CudnnLSTM API, but Tensorflow 1.5 give the tf.contrib.cudnn_rnn.CudnnLSTM() as the default api, after update the api to the tf1.5.
2) The tf.contrib.cudnn_rnn.CudnnLSTM object does has paramerter_size() API.
3) I think it does not need udnn_rnn_ops.CudnnLSTMSaveable()

[2018-01-17 14:03] GustavZ opened #3179 "KeyError for groundtruth_classes running eval.py"
### System information
- **What is the top-level directory of the model you are using**: ssd_mobilenet_v1 latest
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:

[2018-01-17 15:41] foreverYoungGitHub commented on #3081
Currently, I'm trying to figure out this problem.

I found that in `./utils/object_detection_evaluation.py` has already calculated the PR value by the `compute_precision_recall` function in `./utils/metrics.py`.

The detail of how to evaluate the detector is contained in Class`ObjectDetectionEvaluation` and Func`evaluate()`. It returns the pr curve to the interface class `ObjectDetectionEvaluator`

[2018-01-17 17:26] dnlglsn commented on #1988
@kerolos I wanted to use a non-frozen model in Python and serve it via TensorFlow Serving. I guess the way models are saved expects a "variables" folder where the un-frozen variables are saved.

[2018-01-17 17:45] poxvoculi commented on #3158
You have not provided the information requested by the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

In particular, have you investigated whether you're affected by the slow protobuf parsing issue I pointed to above?   It would be useful if you could profile the execution and determine which module is consuming all th

[2018-01-17 17:45] xiaoyuliu commented on #1992
If useful for anyone, for pycharm users, simply set `research/slim` as `Sources Root` by right clicking the folder and find `Mark Directory As` can solve the problem.

[2018-01-17 18:01] oneTimePad commented on #3116
@JesperChristensen89  I was unable to get Faster R-CNN running on the Jetson. You might already know this, but there does exist a Faster R-CNN implementation in NVCaffe for the Jetson. I am not sure if you can fine-tune it. For now I am using SSD withe MobileNet

[2018-01-17 21:02] grzegorznowak opened #3181 "Why are we using nn.dropout instead of layers.droput in the ptb example ?"
https://github.com/tensorflow/models/blob/9325ea8feb5458d0ba2046a0134c305fd92e82a5/tutorials/rnn/ptb/ptb_word_lm.py#L132

Is it right to use `nn.dropout` here instead of `layers.droput` ? If so why do we still want to block neurons randomly while validating/testing the model ? Can we add a comment to the code/doc please to explain ?

`I'm still an uber noob to graphs/TF, so please pardon my ignora

[2018-01-17 21:10] aselle commented on #3181
Likely, `tf.layers.dropout` didn't exist when the original model was written. `tf.layers.dropout` is nicer in that it has a is_training entry, so you don't need to conditionally create different graphs for inference/training. If you would like to submit a comment, or try  to replace the tf.nn.dropout with tf.layers.dropout, your contribution would be welcome.

[2018-01-17 21:28] aselle opened #3182 "Image links are broken in object_detection/README.md"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-17 21:29] aselle commented on #3179
@tombstone, PTAL. Thanks!

[2018-01-17 21:55] gcscoding opened #3183 "pixel_domain_adaptation Research Folder Update"
### System information
- **What is the top-level directory of the model you are using**: Domain_Adaptation
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mint Linux
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.4
- **B

[2018-01-17 22:01] grzegorznowak commented on #3181
ah right thanks @aselle , yes I can see how we create that conditionally, depending on the state of a model. Yes would love to post PR for gaining more confidence into the matter, but not until my brain switches to thinking in the Graph. cheers!

[2018-01-17 22:01] #3181 closed

[2018-01-17 22:02] grzegorznowak commented on #3181
sorry, not sure if it was ok I closed the issue, so feel free to reopen if it's better to float as a thing-to-do of course.

[2018-01-17 22:04] aselle commented on #3169
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-17 22:04] #3169 closed

[2018-01-17 22:28] nealwu commented on #3182
Hey Andy, which links are bad specifically? At [README.md](https://github.com/tensorflow/models/blob/master/research/object_detection/README.md), I see two images: [this](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/img/kites_detections_output.jpg) and [this](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/img/tf-od-api-logo.png)

[2018-01-18 00:14] tetchart3 opened #3185 "normalize_image data augmentation causing severe drop in mAP"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.

[2018-01-18 01:15] poxvoculi commented on #3176
This could be difficult.  Multi-threading is introduced in several places and they may not all be easily limited.   I'm not aware that the development team has considered running in a thread starved environment, except for the mobile runtime which is probably not useful to you.

The TF runtime executable is mostly a C++ runtime, but most users users call it via a python wrapper for graph construct

[2018-01-18 05:31] morning-wind opened #3186 "Bugs in the usage of i ?"
https://github.com/tensorflow/models/blob/9325ea8feb5458d0ba2046a0134c305fd92e82a5/tutorials/rnn/ptb/reader.py#L124

i  in line 124 does not equal to i in line 120.
Actually,  i(line 124) = i (line 120) + 1 , thus , i think,  it's not longer  " a **word-level prediction** experiments " with lstm.

[2018-01-18 06:49] P-a-i-s commented on #1698
I was running the model_builder_test.py for Object Detection and was facing this error. @rdslater solution helped me solve the "ImportError: No module named image.python.ops" error. Thank you.

[2018-01-18 08:16] jamesben6688 opened #3188 "where is the batch normalization in the inceptionV2 code?"
I do not think there batch normalization layer in the inceptionV2 model? Is there anything wrong with the code?

`if use_separable_conv:
        # depthwise_multiplier here is different from depth_multiplier.
        # depthwise_multiplier determines the output channels of the initial
        # depthwise conv (see docs for tf.nn.separable_conv2d), while
        # depth_multiplier controls the # ch

[2018-01-18 08:23] #3188 closed

[2018-01-18 08:41] jamesben6688 opened #3189 "where is the batch normalization in the inceptionV2 code?"
I do not think there is batch normalization layer in the inceptionV2 model. Is there anything wrong with the code?

` net = slim.conv2d(net, depth(64), [1, 1], scope=end_point,
                        weights_initializer=trunc_normal(0.1))`

Also, I haven't seen anything about the batch normalization in any place of the InceptionV2 code. Is there any settings about this?

[2018-01-18 08:57] forvd commented on #3081
Hi,@foreverYoungGitHub. I got an error: NameError: name 'summary_lib' is not defined in ./eval_util.py func write_pr_curve(). Seem like you forgot some of your codes.

[2018-01-18 09:51] dwSun commented on #3143
I have similar problem when run eval_image_classifier.py.

[2018-01-18 10:42] yyloveyhyy opened #3191 "[textsum] what causes no results"
I use the toy data to train a model and decode it ,all result is \<UNK\>.
then I convert my own data and vocab from reviews written about fine foods sold on Amazon.
This dataset contains above 500,000 reviews, and is hosted on [[Kaggle](https://www.kaggle.com/snap/amazon-fine-food-reviews)]
some data like this

article=b"\<d\> \<p\> \<s\> i have bought several of the vitality canned dog food produ

[2018-01-18 10:52] singhgurjyot commented on #2930
I installed v3.4.0 and it solved the issue

[2018-01-18 10:58] dslomov opened #3192 "Failure on ci.bazel.build"
Bazel 0.9.0: https://ci.bazel.build/blue/organizations/jenkins/tf_models_syntaxnet/detail/tf_models_syntaxnet/909/pipeline/
Nightly: https://ci.bazel.build/blue/organizations/jenkins/Global%2Ftf_models_syntaxnet/detail/tf_models_syntaxnet/362/pipeline/

[2018-01-18 11:32] #3191 closed

[2018-01-18 11:37] nesrinenino opened #3193 "EOFError: Compressed file ended before the end-of-stream marker was reached"
Hello, trying to run this command  in Windows10 C:\Users\nesrine\models\tutorials\image\imagenet>python classify_image.py
Traceback (most recent call last):
  File "classify_image.py", line 227, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "C:\Users\nesrine\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run

[2018-01-18 12:16] zhang13850588961 opened #3194 "problem in retrain nasnet mobile model"
HI, I am try retain the nasnet_mobile model with these step:

step 1:
python train_image_classifier.py \
    --train_dir=/home/ubuntu/tf/flowers_train/result \
    --dataset_dir=/home/ubuntu/tf/flowers_train \
    --dataset_name=flowers \
    --dataset_split_name=train \
    --clone_on_cpu=True \
    --max_number_of_steps=50 \
    --model_name=nasnet_mobile \
    --checkpoint_path=/home/ubuntu/tf/

[2018-01-18 13:16] RootYuan commented on #790
"Сonverted .ckpt into .pb by freeze_graph"
@vaklyuenkov  , I'm sorry to bother you. when you did this , what "output_node_names" you used?
I don't know  what is the name of the output node. I'm using Inception_v4 too

[2018-01-18 13:36] imvinaypatil commented on #1990
I tried running these commands as mentioned from a jupyter notebook:

    git clone https://github.com/tensorflow/models in tensorflow folder.

From tensorflow/models/research/

    protoc object_detection/protos/*.proto --python_out=.

3)# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:pwd:pwd/slim

but it still doesnot work

[2018-01-18 13:53] fleeaway commented on #3130
your environment is windows?

[2018-01-18 14:13] fleeaway commented on #3130
your protoc  version maybe wrong,change it to 2.6, it works.

[2018-01-18 14:23] soumenms2015 commented on #2737
@verabeldev : What modification did you do?? Could you please elaborate in details?

[2018-01-18 14:23] monomon commented on #1990
This seems to be coming up very frequently - *make sure `object_detection` is in your path!*

[2018-01-18 15:18] foreverYoungGitHub commented on #3081
@forvd,  Yes, you are right, I forget to mention that, it needs to import tensorboard to make the pr curve works fine, which is mentioned in [PR curve](https://github.com/tensorflow/tensorboard/tree/master/tensorboard/plugins/pr_curve).

So, in this case, you need to add `from tensorboard import summary as summary_lib
` in the beginning of `./eval_util.py`.

Besides, the tensorboard should be the

[2018-01-18 17:24] stanleynguyen commented on #3130
@fleeaway yes it did solve my problem. Tq!

[2018-01-18 18:16] Tsuihao opened #3196 "[SSD] Small object detection"
Hi all,

I have a question regarding the configuration of SSD.
An interesting task for me is to fine-tuning the SSD_mobilenet_v1_coco_2017_11_17 with [Bosch small traffic light dataset](https://hci.iwr.uni-heidelberg.de/node/6132).

However, the default setting is to resize the image into 300 x 300.
Here is the total loss during training.
It loss maintains around 6. (Please ignore the overlapping

[2018-01-18 18:21] Tauranis commented on #2953
I've tested on my machine with TF 1.4 with all networks and checkpoints available [here](https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models)

Nasnet and mobilenet were the only ones which crashed with this error.

[2018-01-18 21:20] Tauranis commented on #2953
Thanks @jorgemf . I'll check

[2018-01-18 21:54] poxvoculi commented on #3170
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-18 21:54] #3170 closed

[2018-01-18 21:59] poxvoculi commented on #3186
This is an old tutorial.  Are you intending to report a bug, or that the description of the model is misleading?

[2018-01-18 23:10] aselle commented on #3189
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-18 23:10] #3189 closed

[2018-01-18 23:17] slsd123 opened #3197 "Feature request: max_to_keep"
I would like to be able to save more than the last 5 checkpoints for some of the training that I'm doing. I currently have it hardcoded into the Saver in `trainer.py`. Not sure if anyone else is having the same issues but it would be a nice option to have in the config file.

[2018-01-18 23:34] aselle commented on #3161
Can you print the value of logit_scale ... it seems like it may be integer.

[2018-01-19 01:13] MeghaMaheshwari commented on #3155
I am using TensorFlow.  GPU Processor is Quadro M2200 and CUDA version is 8. I tried resizing the image to a smaller size and it helped a bit but not significant enough for me to use. Could you advice.
Another question is for the pretrained network, does the network resize the image internally. If so, to what size?

[2018-01-19 01:27] mircean commented on #3151
filter() returns an iterator. Because of this only the first variable is processed correctly. For the rest of variables the iterator is not reset so the inner for loop doesn't consider all filters

[2018-01-19 02:37] morning-wind commented on #3186
It's a bug

[2018-01-19 06:10] tfboyd commented on #2285
Marking closed due to no response.

[2018-01-19 06:10] #2285 closed

[2018-01-19 06:15] tfboyd commented on #1390
Marking closed.  SLIM has one mode for multi-GPU and that is putting all of the parameters on GPU:0, this is problematic, more so with faster GPUS, and even more so if there is a lack of GPU Direct peer-to-peer and even with that on P100 NVLink systems not all GPUs are directly connected.  The updated estimator offers viable solutions and if someone wants to retro fit SLIM or even just off a 5 lin

[2018-01-19 06:15] #1390 closed

[2018-01-19 07:21] Inchini commented on #2207
@SragAR thats is a flag to use cpu not gpu. cloning on cpu will take forever to train especially if you have large dataset. I solved the same issue by reinstalling tenserflow as gpu as per @skye comment. thanks.

[2018-01-19 09:11] gregchu commented on #2544
@OverFlow7 did you find out how to create tfrecords with negative images?

[2018-01-19 09:22] monomon commented on #3178
Note that your dataset coordinates have to be normalized in the range [0-1].

[2018-01-19 09:25] monomon commented on #3165
not sure what you mean by "will be set automatically". Generally you split your dataset into a training and validation part, e.g. in ratio 4:1. You train on the first one, and use the second one to verify that the trained model performs as expected.

[2018-01-19 09:28] Inchini commented on #1823
uninstalling tensorflow-gpu==1.3.0 and installing tensorflow-gpu==1.2.1 worked for me! thanks

[2018-01-19 09:45] nealzGu commented on #3178
I'm doing this by
[code]
during creation of t.record file.

[2018-01-19 09:49] monomon commented on #3178
Could you try logging the values of box coordinates e.g. in `to_absolute_coordinates` to see what they are?

[2018-01-19 09:57] nealzGu commented on #3178
where can I find this?

Im not sure if the bboxes are the problem. The scores during inference are extremely low, so it's not detecting anything, altough the training process ran smoothly...

[2018-01-19 14:02] wolfgoodwin opened #3200 "multilayer LSTM with 2 layer BasicLSTMCell."
when i use tf.contrib.rnn.BasicLSTMCell to build a layer lstm.it work!But i want to build 2 layer basicLSTMCell.I should  how to change the state_feed,state_tuple.
Need help,thanks.
lstm_cell = tf.contrib.rnn.BasicLSTMCell(
        num_units=self.config.num_lstm_units, state_is_tuple=True)
    if self.mode == "train":
      lstm_cell = tf.contrib.rnn.DropoutWrapper(
          lstm_cell,

[2018-01-19 16:09] stevenpclark commented on #2832
Should we just reduce "first_stage_max_proposals" in the config from 300 to 100, or 50, to get the expected "lowproposal" behavior?

[2018-01-19 17:33] oneTimePad commented on #3196
Did you try taking 300x300 crops from the images?

You could try training it on smaller images and feed in overlapping crops of size 300x300 that tile the original image, which could be bigger. I was able to train it on 1000x600 images, and it worked on my test set which was also 1000x600. This might be slightly hard since your original set is not 300x300, but if instead you could form a dataset o

[2018-01-19 19:31] poxvoculi commented on #3186
Could you clarify exactly why you believe the program is incorrect?

[2018-01-19 22:35] aselle commented on #3165
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-19 22:35] #3165 closed

[2018-01-19 22:36] aselle commented on #3171
@calberti, could you please take a look?

[2018-01-20 00:00] shreyas0906 commented on #1728
can someone please explain how to get mAP after running the tutorial. I have results, in the sense, successful detection on images. But I'm not able to figure out how to find the mAP and IOU. Please help, greatly appreciate it!

[2018-01-20 03:11] #1603 closed

[2018-01-20 06:15] bevisxia opened #3202 "I can't run train and eval at the same time！"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
  No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
  Windows 10
- **TensorFlow installed from (source or binary)**:
  binary
- **TensorFlow version (use command below)**:
  1.4.0
- **Bazel ver

[2018-01-20 06:21] shreyas0906 commented on #2892
I have a very basic question. Can someone please explain the steps to carry out inference and evaluation to get the mAP and IOU after running the object detection API with tensorflow 1.4.1. I have a trained model which is detecting objects in the images. But have no idea in finding the mAP and IOU.

All help is greatly appreciated!

[2018-01-20 06:37] ddurgaprasad opened #3203 "No variables to save error using tensorflow object detection API"
### System information
- **What is the top-level directory of the model you are using**:/tensorflow/models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

    DISTRIB_ID=Ubuntu
    DISTRIB_RELEASE=16.04
    DISTRIB_CODENAME=xenial
    DISTRIB_DESCRIPTION="Ubuntu 16.04.3

[2018-01-20 06:50] #3144 closed

[2018-01-20 07:45] Tsuihao commented on #1876
Hi all,

Maybe someone can help me with this issue:

https://github.com/tensorflow/models/issues/3196

Regards,
Hao

[2018-01-20 07:54] Tsuihao commented on #3196
Hi @oneTimePad,

Thanks for your reply.

I have thought about this approach too.
However, in this case, I need to take care of the annotation too right?

Did you first annotation all the images and then covert the annotations into the cropped corresponding image (with some python script I assume)?

Or you first crop them and then annotate manually on those 300x 300 images?

[2018-01-20 09:14] Luonic commented on #3196
@Tsuihao you cropping already annotated images. SSD has issues with detecting small objects but Faster-RCNN much better at this.

[2018-01-20 10:04] kartik144 opened #3204 "Not able to install due to errors in the BUILD file"
I am getting the following error on installing. Could someone please help?

[code]

[2018-01-20 10:47] Tsuihao commented on #3196
Hi @Luonic,

Yes, I had successfully trained faster rcnn and obtained an accurate result.
As shown:
![image](https://user-images.githubusercontent.com/16992390/35182485-69009c32-fdd6-11e7-80ff-4770dc5d464f.png)

However, it is too slow for my use case.
That is why I want to try the fastest SSD mobilenet model :)

I have some concerns regarding the annotated information.
When you crop the annotated

[2018-01-20 10:55] dsx0511 opened #3205 "How to predict with official resnet v2 model"
I used the code from: https://github.com/tensorflow/models/blob/master/official/resnet/imagenet_main.py to do a binary classification by modifying the amount of class. The model has been trained without problems and provide a good accuracy.

In the next step I want to restore the trained model doing predict. And I followed the tutorial "Save and Restore" from TensorFlow. However, I must export my

[2018-01-20 12:08] qikunlun commented on #1760
@sxr3455 I encontered same problem, and have resolve it by processing my data. The reason may be you have two objects but you record it as one.

[2018-01-20 12:47] morning-wind commented on #3186
@poxvoculi ,
Very sorry to waste your time.
After careful checking and debugging, the implement of the source code is accurate.

[2018-01-20 12:47] #3186 closed

[2018-01-20 14:11] oneTimePad commented on #3196
Ah, yes. Completely forgot about the annotation. In my case I have program that generates all of my training data, so I can easily change the training data image size (which will then change the annotations). However, yeah, you could write a program that converts the bounding box coordinates as you mentioned.

You mentioned mobilenet(s); have you tried a different base network?

[2018-01-20 19:22] Tsuihao commented on #3196
Hi @oneTimePad,

Thanks for the reply.
So there is one way I could do is: **crop the traffic light image and then re-annotate all the images**
I was trying to avoid this since the manual crop and re-annotate will take few days I assume :p.

In my case, I also used the pre-trained SSD mobilenet on coco dataset and fine tuning with the traffic light dataset.

**There are two assumptions I made (plea

[2018-01-21 01:03] aselle commented on #3183
@nealwu, this seems to be the case, when I try to run bazel build research/domain_adaption/pxiel_domain_adaptation. Could you PTAL?

[2018-01-21 07:00] shreyas0906 commented on #2387
Can someone please explain how to run the evalutation from scratch? For now, all I am trying to do is
python eval.py --logtostderr --checkpoint_dir=data/model.ckpt-5575 --eval_dir=eval_model/ --pipeline_config_path=data/object-detect.pbtxt

and the object-detect.pbtxt contains

item {
    id: 1
    name: 'ball'
}

Can someone please let me know how to do this.?

[2018-01-21 07:10] shreyas0906 commented on #2225
Can someone please explain how to run the evalutation from scratch? I want to find the mAP and IOU for a dataset which I have. The detection are happening fine, but the model I have no clue for evaluating the model. For now, all I am trying to do is
python eval.py --logtostderr --checkpoint_dir=data/model.ckpt-5575 --eval_dir=eval_model/ --pipeline_config_path=data/object-detect.pbtxt

and the obj

[2018-01-21 07:56] ddurgaprasad commented on #2739
Follwed all these instructions..yet the same error appearing.Refer the log .

The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.l

[2018-01-21 09:11] Fahimkh commented on #1728
Looking for same thing. Did you get any solution.?

[2018-01-21 09:52] josifovski commented on #2225
@shreyas0906 the pipeline_config_path argument you provide is not correct, you shouldn't provide the pbtxt mapping file but the configuration file that you have used for training, e.g. faster_rcnn_inception_resnet_v2_atrous_coco.config from the provided tensorflow/models/research/object_detection/samples/configs which you have adapted for your purposes. Inside in the config file you should adapt t

[2018-01-21 11:37] bhack commented on #2793
It could be interesting how this new API will interect with Keras counterparts that will land as upstream in TF keras namespace. /cc @ahundt for https://github.com/keras-team/keras/issues/6538 https://github.com/keras-team/keras-contrib/pull/202 https://github.com/keras-team/keras-contrib/pull/197

[2018-01-21 11:51] jimo123 commented on #3161
I have solved it, because I changed python version to 3.5.but I still don't know the reason.thank you all the same.

[2018-01-21 12:58] jacknlliu opened #3209 "tutorial image cifar10 estimator generate TFRecord error"
### Describe the problem
I run the tutorial in `models/tutorials/image/cifar10_estimator/` with the following command

[code]

But I got the following errors

[code]

### System information

== cat /etc/issue ===============================================
Linux 747ea2e33a16 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial X

[2018-01-21 14:24] CHAMOD commented on #1992
This work for me in windows:

 - Copy relevant deployment files from the \models\slim directory
 - paste it to Python\Lib\site-packages directory

then run again.It will work!

[2018-01-21 14:24] CHAMOD commented on #2351
This work for me in windows:

Copy relevant deployment files from the \models\slim directory
paste it to Python\Lib\site-packages directory
then run again.It will work!

[2018-01-21 14:26] CHAMOD commented on #2351
This work for me:

- Copy relevant deployment files from the \models\slim directory
- paste it to Python\Lib\site-packages directory

then run again.It will work!

[2018-01-21 14:30] CHAMOD commented on #2088
This work for me:

- Copy relevant deployment files from the \models\slim directory
- paste it to Python\Lib\site-packages directory

then run again.It will work!

[2018-01-21 15:54] wenwei202 commented on #1120
I also suspect it's not support at this point. In https://github.com/tensorflow/models/tree/master/research/inception, the `inception_train.py` is moved to `slim`, but not the `inception_distributed_train.py`.

[2018-01-21 16:43] shreyas0906 commented on #2225
@josifovski Thank you for the information! But, my next question after running the the eval.py, I am unable to find the mAP and IOU graph. Can you please let me know how to achieve that.

Greatly appreciate your help!

[2018-01-21 17:16] shreyas0906 commented on #2225
To elaborate on the problem,

I am running the train.py from one terminal and eval.py on another terminal.
But, In the eval.py terminal I am getting this message,

WARNING: root: image 0 does not have groundtruth difficult flag specified.

On the other hand, I am able to view the mAP and IOU graph. But finding it difficult to understand the graph as it is not continuous, that is I can see only one

[2018-01-21 19:14] shaginthecloud commented on #2169
four-twenty
☮

[2018-01-21 23:35] poxvoculi commented on #3178
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-21 23:35] #3178 closed

[2018-01-21 23:36] poxvoculi commented on #3194
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-21 23:36] #3194 closed

[2018-01-22 00:14] poxvoculi commented on #3202
This is a question better asked on tensorflow, as is a usage question, not a bug report.

Does the eval.py script run if you don't try to run training concurrently?  Perhaps it is not possible to run both the eval and training on the same GPU concurrently.  See https://www.tensorflow.org/tutorials/using_gpu
for more about GPU configuration.  If you have further questions, please post to stackoverf

[2018-01-22 00:14] #3202 closed

[2018-01-22 02:56] puneetjindal commented on #3071
Anybody resolved it on TF 1.4 runtime?
I am also getting the same error now though I haven't made any code changes. It doesn't fail in the beginning. It trains to arbitrary number of steps and then fails

[2018-01-22 03:10] izzrak commented on #3196
If you want to train an SSD512 model, you need to start from scratch. The pre-trained model can only be fine-tuned as SSD300 model.

[2018-01-22 04:13] aselle commented on #3197
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-22 04:13] #3197 closed

[2018-01-22 09:13] jainsanmati commented on #1838
pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.1-cp35-cp35m-win_amd64.whl

[2018-01-22 09:42] NeoChaos12 opened #3212 "[TCN] Specify minimum tf-nightly version"
### System information
- **What is the top-level directory of the model you are using**:
https://github.com/tensorflow/models/tree/master/research/tcn

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04 LTS, Trusty Tahr

- **TensorFlow installed from (source or b

[2018-01-22 09:49] chengmengli06 opened #3213 "attention ocr could not converge on custom data"
### Describe the problem
attention ocr could not converge, it is a bad project, the loss gradually increases. The dataset
is double checked, with 8202 classes.

### Source code / logs
2018-01-22 17:41:30.359779: I tensorflow/core/kernels/logging_ops.cc:79] lbls[5021][2178][2010][8202][8202][8202][8202][8202][8202][8202][8202][8202][8202][8202][8202][8202][*][127][657][6862][8202][8202][8202][8202]

[2018-01-22 11:40] Bayesian4042 opened #3214 "why the code doesn't log training accuracy ? how can I log accuracy if i want to ?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-22 14:35] NativeUploader commented on #2823
has anyone fine the solution?

[2018-01-22 16:02] siddharthm83 commented on #3138
@tombstone @jch1 wondering if you guys had thoughts on this. seems like it would be useful for the entire community for deployment.

[2018-01-22 17:15] michaelmunie commented on #2787
@hetaoaoao , would you mind adding the link to your stackoverflow question here?

[2018-01-22 20:39] TylerBalsam opened #3219 "[BUG] Mobilenet SSD Object Detection Defaults Cause Image Clipping"
Hi there,

When working with the object detection library, I noticed some clashes in the code.

In the MobileNet SSD model file in the models directory, the preprocessing function is scaled from 0 - 255 to -1 to 1. In the object detection core/preprocessing.py module, contrast/hue/pixel scaling ops have this line in them:

  image = tf.clip_by_value(image, clip_value_min=0.0, clip_value_max=1.0)

[2018-01-22 21:37] nealwu commented on #3183
Re-assigning to the [code owners](https://github.com/tensorflow/models/blob/master/CODEOWNERS) for domain_adaptation: @bousmalis and @dmrd

[2018-01-22 21:45] nealwu commented on #3103
Closing thanks to the above fix from @cclauss.

[2018-01-22 21:45] #3103 closed

[2018-01-23 00:09] randolfo75 commented on #2025
I solved this problem just commenting the line `fine_tune_checkpoint`.
Let the line  `from_detection_checkpoint: false ` in the configuration file but comment or erase the line `fine_tune_checkpoint: "path/model.ckpt"`.
This way the training process will start from zero.

[2018-01-23 00:26] yaroslavvb opened #3221 "Training on ImageNet?"
I'm trying to figure out how to train TensorFlow on ImageNet.

The instructions under https://github.com/tensorflow/models/tree/master/research/slim list "ImageNet" as one of the supported datasets and ask to run `bazel build slim/download_and_preprocess_imagenet`, but that target is missing.

The closest one I found was research/inception/inception:download_and_preprocess_imagenet, however that f

[2018-01-23 01:56] hangzh2012 commented on #2128
resnet_v2_152 modle don't have scope "Resnet_v2_152/Logits,Resnet_v2_152/AuxLogits"
try :
--checkpoint_exclude_scopes=resnet_v2_152/logits
--trainable_scopes=resnet_v2_152/logits

[2018-01-23 01:58] hengshanji commented on #3073
@andrefaraujo
hello, I want to know when the code of part 4.4 about building the image retrieval system could be released  in github?

[2018-01-23 02:56] John1231983 commented on #1286
@KaneFury : Thanks for your solution. I used it and I got the error as your first bug. How can we solve it?
[code]

[2018-01-23 03:13] John1231983 commented on #1286
Hi @KaneFury : Thanks for your solution. I used it and it worked but only provide confusion metric and removed the Accuracy and Recall_5 (as original code). How can I print all metrics together? Currently, I used
[code]

[2018-01-23 06:12] zuhain opened #3222 "I trained the object detection API to detect a custom object using ssd_mobilenet_v1_coco_2017_11_17 model."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-23 06:13] #3222 closed

[2018-01-23 06:23] zuhain opened #3223 "Custom object detection using tensorflow object detection API"
I trained ssd_mobilenet_v1_coco_2017_11_17 model to detect a custom object. But after training, it is detecting only the custom object and not the objects that it was detecting before. Is there any way to make a model detect custom objects along with the objects for which it is already trained. Adding more classes to an existing model.

[2018-01-23 06:30] A7medMaher opened #3224 "tesnorflow_ object_ detection api ,total processing time ."
I'm using tensorflow object detection API for detecting cars license plates, using tensorflow CPU version (I don`t have a powerful GPU), on Jupyter notebook, I noticed that it took about 8 to 12 seconds to show the output when running all the cells , but if I run DETECTION cell only is took 4 sec only .

When exporting the notebook as .py file , I should run all the file [took about 12 sec]to show

[2018-01-23 06:50] zuhain commented on #3223
@saikishor
Did you find anything on how to add more classes to an existing model.

[2018-01-23 06:54] saikishor commented on #3223
@zuhain I am working on it
As of now, I didn't find any resource regarding this. If I get the results, I will share it with you.

[2018-01-23 07:57] metalloyd commented on #3170
Did you find an answer to this?

[2018-01-23 08:45] Fahimkh commented on #2225
I am facing this problem. Every thing works perfect for ssd _mobilenet even evaluation. For frcnn_resnet evaluation stop at this line
WARNING:root:image 0 does not have groundtruth difficult flag specified

I changed the eval_max to 1 and lower the number of samples still it hangs and dont move forward.
can any body help me solve this issue?

[2018-01-23 13:09] bendidi commented on #1972
@woody-kwon can you share how you solved it ? I didn't find any 'dual gpu' issue , thank you

[2018-01-23 14:14] zhysee opened #3225 "ValueError: No op named NonMaxSuppressionV2 in defined operations."
i use tensorflow-gpu and load the pre-trained model ssd_mobilenet_v1_coco_2017_11_17 to detect images ,errors output
 "ValueError: No op named NonMaxSuppressionV2 in defined operations."

however,using tensorflow-cpu instead ,no errors output.

[2018-01-23 15:03] JesperChristensen89 opened #3226 "Check failed: stream->parent()->GetConvolveAlgorithms"
I am trying to run [Faster R-CNN Inception V2](http://download.tensorflow.org/models/object_detection/faster_rcnn_inception_v2_coco_2017_11_08.tar.gz) on a Jetson TX2 (Tegra GPU).

The problem does not seem to arise from memory errors (which is the case running a larger model). The output from the resource monitor states:
[code]

The output from Python states:
[code]
I am running CUDA 8.0 with cuD

[2018-01-23 16:39] ahundt commented on #2793
@bhack Thanks for including me on this discussion, as I'm very interested in utilizing such an API. There is a more research oriented implementation in https://github.com/tensorflow/models/tree/master/research/object_detection as well.

[2018-01-23 17:14] andrefaraujo commented on #3073
Hi, we are currently not planning on releasing that. There are some excellent image retrieval libraries out there which you could use: vlfeat and yael are two which I can think of.

[2018-01-23 18:16] Bost commented on #1840
@fistix you need to set up the PYTHONPATH system variable. E.g.
bash:
`export PYTHONPATH=$PYTHONPATH:<your-path>/models/research/attention_ocr/python/datasets`
fish-shell:
`set -x PYTHONPATH <your-path>/models/research/attention_ocr/python/datasets`

[2018-01-23 22:20] yaroslavvb commented on #3221
Ah, it looks like the slim script moved to `download_and_convert_imagenet.sh` but the docs didn't get updated

[2018-01-23 23:09] ssk1991 commented on #2225
@Fahimkh interesting, because eval stops after roughly 9-10 images using ssd_mobilenet for me.

[2018-01-23 23:35] jalpa91 commented on #2019
hi did anyone solved this problem

[2018-01-23 23:50] derekjchow commented on #3225
Could you get the version of tensorflow-gpu vs tensorflow-cpu on your setup?

[2018-01-24 01:20] zhysee commented on #3225
the version of tensorflow-gpu is 1.2.0, and tensorflow-cpu is 1.4.1

[2018-01-24 01:22] zhysee commented on #3225
@derekjchow the version of tensorflow-gpu is 1.2.0, and tensorflow-cpu is 1.4.1

[2018-01-24 01:48] yanketao opened #3233 "datasets import dataset_utils ImportError: No module named datasets."
i from datasets import dataset_utils ImportError:   No module named datasets.
when i am writing this in python ：
      import tensorflow as tf
      from datasets import dataset_utils
 But i am getting error.from datasets import dataset_utils ImportError: No module named datasets？
how to deal with it ？ thanks

[2018-01-24 01:49] yanketao commented on #3233
thanks

[2018-01-24 02:03] woody-kwon commented on #1972
I solved "dual cpu issue" using options "**--num_clones=2 --ps_tasks=1**".
plz refer wendal`s article.

[2018-01-24 02:49] jiaxunwu commented on #3071
@puneetjindal could you try 1.2 instead as described in https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_cloud.md?

[2018-01-24 02:55] puneetjindal commented on #3071
But we have dataset API limitations in 1.2.

On Jan 24, 2018 8:19 AM, "Jiaxun Wu" <notifications@github.com> wrote:

[2018-01-24 03:07] rky0930 commented on #3233
What's model do you use?
If dataset_utils means the file under slim/datasets, you can fix the error with below command.

`
# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim
`

[2018-01-24 03:32] yanketao commented on #3233
yes，dataset_utils under slim/datasets,
# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim    how to use it

[2018-01-24 04:26] #3200 closed

[2018-01-24 07:04] wolyosung commented on #3192
please patch bazel build issue in syntaxnet...

[2018-01-24 07:10] ChiaraHsieh commented on #2481
I bumped into this issue with `python cifar10_multi_gpu_train.py`. A work around that works for me is to modify this line in cifar10.py:
[code]
as
[code]

[2018-01-24 08:56] lysukhin commented on #3185
Probably the same issue as https://github.com/tensorflow/models/issues/2066

[2018-01-24 09:14] lysukhin commented on #3185
By the way, in your `normalize_image` block you should use `:` instead of `=` in order to make it work at all.

[2018-01-24 11:23] NNNNNaaaaa commented on #1324
@pfctgeorge do you solve this bug? I'm a beginner in lstm model in tensorflow and I also need to load the pre-trained model, so I use your code and meet the same bug. Thank you so much.

[2018-01-24 11:46] kolesman commented on #3014
You need to pass "--num_clones 4" option to the train.py in order to enable training on 4 GPUs.

[2018-01-24 15:28] cclauss opened #3237 "brain_coder: The builtin cmp() was removed in Python 3"
https://github.com/tensorflow/models/blob/master/research/brain_coder/common/utils.py#L193 contains a call to the Python 2-only builtin function __cmp()__ that was removed in Python 3.  Without a change (removing the surrounding `__cmp__()` method altogether?), a NameError or TypeError: unorderable types could be raised at runtime.

* http://python3porting.com/problems.html#unorderable-types-cmp-a

[2018-01-24 15:52] byteofprash commented on #3219
Probably the same issue as #2066

[2018-01-24 17:16] yaroslavvb commented on #3221
Running that script in place of original downloads the dataset as expected but then fails with
[code]

I checked and that file exists...the error is in this line of `download_imagenet.sh`

```done < "${SYNSETS_FILE}"```

Not sure what that line does...perhaps it gets confused by the path containing symlinks

[2018-01-24 18:16] tetchart3 commented on #3185
Thank you! And yes, I have been using ```:``` instead of ```=``` in my actual configs. I had a typo when I wrote the question.

[2018-01-24 18:16] #3185 closed

[2018-01-24 19:04] xiaoyuliu commented on #1885
you can run eval.py using CPU by adding
[code]

[2018-01-24 21:19] PythonImageDeveloper opened #3239 "create_kitti_tf_record.py"
hi
when i run this code , convert kitti to tfrecord , i get this error :
#################################
python3 dataset_tools/create_kitti_tf_record.py \

Traceback (most recent call last):
  File "dataset_tools/create_kitti_tf_record.py", line 65, in <module>
    tf.app.flags.DEFINE_list('classes_to_use', ['Car', 'Pedestrian' , 'DontCare'],
AttributeError: module 'tensorflow.python.platform.fl

[2018-01-24 22:54] dfoley84 opened #3240 "If Statment based on Label output"
How can you do an Action based on the label output within an Image ?
I like to know how you can do actions based on an if statment that is equal to person

`with detection_graph.as_default():
        with tf.Session(graph=detection_graph) as sess:
            image_tensor = detection_graph.get_tensor_by_name('image_tensor:0')
            detection_boxes = detection_graph.get_tensor_by_name('detect

[2018-01-24 23:26] tatianashp commented on #3240
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-24 23:26] #3240 closed

[2018-01-24 23:51] robinqhuang opened #3241 "dragnn parsing error"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-25 01:30] tatianashp commented on #3224
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-25 01:31] derekjchow commented on #3225
I suspect your GPU version of tensorflow is out of date. Could you try updating it to a newer version?

[2018-01-25 01:45] DaneSpiritGOD opened #3242 "Something error(No such file or directory) in running create_pet_tf_record.py"
### System information
== cat /etc/issue ===============================================
Linux myName 4.13.0-31-generic #34~16.04.1-Ubuntu SMP Fri Jan 19 17:11:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler ==================================

[2018-01-25 04:13] #3241 closed

[2018-01-25 07:24] DaneSpiritGOD commented on #3242
In ~/.bashrc file
I use '~' path sign in PYTHONPATH(research ,research/slim etc.),and error occurs when I run some python script.
So,I think that Tensorflow framework doesn't recognize path with '~'.
Is that true?

[2018-01-25 07:33] aastalin opened #3243 "Bad performance of object detection API."
We use object detect API with ssd_mobilenet_v1_coco on TITAN Z.
Our result is around 75ms, far from the score mentioned on this page:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

Could you share more information about how to reproduce the 30ms results with ssd_mobilenet_v1_coco?
We are using TensorFlow-1.4 and CUDA 8.0.

[2018-01-25 07:35] monomon commented on #3242
Correct, the paths for `data_dir`, `output_dir` etc. have to be full. There is no expansion done on them.

You can read about [shell expansion](http://www.tldp.org/LDP/Bash-Beginners-Guide/html/sect_03_04.html) - the idea is that in some cases the shell replaces `~` for you. Not in this case, anyhow, but in the `PYTHONPATH` case not sure.

[2018-01-25 07:40] monomon commented on #3233
Read up on [environment variables](https://en.wikipedia.org/wiki/Environment_variable) and what they are for.

[2018-01-25 07:41] DaneSpiritGOD commented on #3242
So,I have the final answer.

[2018-01-25 07:41] #3242 closed

[2018-01-25 08:37] gycg commented on #373
@Ali-Zareie @minaSamizade This is because there is "=" in your text. Try use (k, v) = feature.split('='**, 1**), which add the parameter 1.

[2018-01-25 10:45] SamDon87 commented on #3239
Change the Line
tf.app.flags.DEFINE_list to
tf.app.flags.DEFINE_string
in dataset_tools/create_kitti_tf_record.py

[2018-01-25 11:59] A7medMaher commented on #3224
Dear @tatianashp
I already asked in StackOverflow and they sent me here .
Anyway thanks for yr feedback

[2018-01-25 14:25] YaoZhongtian commented on #3159
Your solution worked. But why？

[2018-01-25 17:01] jjzhang10 commented on #3159
slim.arg_scope add some settings to the layers, which are different with the default settings.

[2018-01-25 21:55] ronykalfarisi opened #3247 "OOM error after training is successfully running (using NASnet backbone)"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: tensorflow.1.4.0.whl
- **TensorFlow version (use command belo

[2018-01-25 22:20] ronykalfarisi commented on #1817
Hi all,
I have similar problem. So, I followed @ArjanSchouten solution and the code ran. However, after running around 6000 steps, I still got the OOM error
INFO:tensorflow:global step 6348: loss = 2.0393 (3.988 sec/step)
    INFO:tensorflow:Saving checkpoint to path /home/ubuntu/crack-detection/structure-crack/models/faster_rcnn_nas_coco_2017_11_08/train/model.ckpt
    INFO:tensorflow:global step

[2018-01-26 00:37] muayyad-alsadi commented on #2787
I add than nasnet mobile is much slower than inception v1 on CPU too.

https://stackoverflow.com/questions/47215223/why-is-nasnet-model-so-slow-using-one-gpu

[2018-01-26 00:43] muayyad-alsadi opened #3248 "research link broken in released v1.4"
[README.md](https://github.com/tensorflow/models/blob/v1.4.0/README.md)
still has links to the removed research models

https://github.com/tensorflow/models/blob/v1.4.0/research

BTW: where do you want to maintain those after the removal?

[2018-01-26 01:15] tatatodd commented on #3247
@derekjchow any memory-reducing suggestions here?

[2018-01-26 01:50] tatatodd commented on #3243
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

In particular note this section of the page you referenced:

model speed --- we report running time in ms per 600x600 image (including all pre and post-processing), but please be awar

[2018-01-26 01:50] #3243 closed

[2018-01-26 01:56] tatatodd commented on #3239
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-01-26 02:02] noobgrow commented on #2215
When I try this `mnist=input_data.read_data_sets("D:\pyprogram",one_hot=True)` on different computer
It can pass on win7,but can't on win10
My solution is:
change **"D:\pyprogram"** to **"D:\\pyprogram\\"**
dont know why,but it works

[2018-01-26 02:12] xiaochenwang94 commented on #3167
The comment before this line is `# Convert the inputs from channels_last (NHWC) to channels_first (NCHW).`
Should it be `# Convert the inputs from channels_first (NCHW) to channels_last (NHWC).`?

[2018-01-26 02:14] tatatodd commented on #3233
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-26 02:14] #3233 closed

[2018-01-26 02:15] tatatodd commented on #3223
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-26 02:15] #3223 closed

[2018-01-26 02:37] Ao-Lee commented on #3118
I got the same problem. It is solved by changing the last few lines of codes defined in train_image_classifier.py

[code]

[2018-01-26 03:42] DaneSpiritGOD opened #3249 "Chinese word compatible problem when I use the Object Detection API of reading the config file"
### System information
== cat /etc/issue ===============================================
Linux myName 4.13.0-31-generic #34~16.04.1-Ubuntu SMP Fri Jan 19 17:11:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler ==================================

[2018-01-26 03:43] ssk1991 commented on #2225
Looks like I've fixed it for myself. Edit
In ssd_mobilenet_v1_pets.config

eval_config: {
  num_examples: 186
  num_visualizations: 186
}

add the line "num_visualizations" and set it to the number of examples you have (in my case 186).

[2018-01-26 04:25] HeXu1 commented on #3118
@Ao-Lee  Very appreciated! That problem has been handled,but when I run again there is a new problem.
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[32,192,17,17]
         [[Node: InceptionV3/InceptionV3/Mixed_7a/Branch_1/Conv2d_0b_1x7/BatchNorm/FusedBatchNorm = FusedBatchNorm[T=DT_FLOAT, data_format="NHWC", epsilon=0.001, is_training=true, _device="/job:lo

[2018-01-26 05:17] Ao-Lee commented on #3118
well, I guess your program is out of memory. try lower the batch size and run it again

[2018-01-26 05:49] YaoZhongtian commented on #3159
I see. I think I can read the document to get the detail. Thanks!

[2018-01-26 06:14] HeXu1 commented on #3118
@Ao-Lee wow,it really works.Thank you very much.

[2018-01-26 08:02] nealzGu opened #3250 "Unknown Faster R-CNN feature_extractor"
Hi there. Got this error when trying to export tf graph of trained model on custom data...

Tried to replace it with a different extractor, but it doesnt change anything.
Not sure how to interpret this. Thanks for help!
[code]

[2018-01-26 08:13] nealwu commented on #3167
No, `data_format` specifies the desired format, not the existing one. The data always comes in as channels_last format.

[2018-01-26 09:08] DaneSpiritGOD opened #3251 "tensorflow/core/protobuf/rewriter_config_pb2.py has updated,but Object Detection API's file not"
### System information
System information
== cat /etc/issue ===============================================
Linux myName 4.13.0-31-generic #34~16.04.1-Ubuntu SMP Fri Jan 19 17:11:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.3 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler ===============

[2018-01-26 09:55] ptruka opened #3252 "offline_eval_map_corloc: TypeError (expected str instance, bytes found)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: see _Source code / logs_
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04.3 LTS (Linux 69c136cba5b6 4.4.38-rt49-tegra #1 SMP PREEMPT RT Tue Jul 25 09:26:02 PDT 2017 aarch64 aarch64 aarch64 GNU/Linux)
- **TensorFlow installed from (source or binary

[2018-01-26 10:43] #3118 closed

[2018-01-26 12:55] noumanriazkhan opened #3253 ""ValueError: model_dir should be non-empty" for RNN for Drawing Classification"
### System information
- **What is the top-level directory of the model you are using**: ~/networks/autodraw$
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**:1.4.1
- **Bazel

[2018-01-26 14:40] robmorh commented on #2713
Hi,
can we reopen this issue?
I am again getting this exact same error while running the evaluation since a few days.
Have been doing some research where it's coming from but have no clue yet.
The data set and models are fine and already where trained and I just wanted to fine tune them with a newer and bigger data set.
On this new and the old data set I now get the error.

Thanks for your help.

[2018-01-26 14:51] John1231983 opened #3254 "Wide"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-26 14:51] #3254 closed

[2018-01-26 16:14] oneTimePad opened #3255 "Classification API"
This is a feature request.

I made a [Classification API](https://github.com/oneTimePad/classification) modeled after the Object Detection API.

Features it supports:
- multi-task learning, which allows for the classification of multiple attributes of an image
- supports model configuration via protobufs.
- easily defining new models following a template
- evaluation while training
- evaluation
-

[2018-01-26 17:27] hamzamk commented on #2984
@Nassimbelmecheri @vaishnavm217  hi guys, did you find a solution. Please help me out here, i am stuck

[2018-01-26 20:27] zeynali commented on #3239
Ubuntu 16.04
Tensorow 1.4 binary

[2018-01-26 20:31] zeynali commented on #3239
I also some question :
When i used 3 id in the kitti–label-map.pbtxt, so this be trained only 3 class automatically or be needed to change some modification in some files?

[2018-01-26 21:10] ronykalfarisi commented on #2960
Hi, @uziela & @andmiles2go have you found the solution? If not, you may want to refer issue #2668 Good luck

[2018-01-26 21:25] tatatodd commented on #3203
Any ideas @jch1 @tombstone ?

[2018-01-26 21:27] tatatodd commented on #3205
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-26 21:27] #3205 closed

[2018-01-26 21:36] tatatodd commented on #3209
Thanks for the fix @raven1989!  Would you like to submit a PR to fix this up for good?

[2018-01-26 22:02] tatatodd commented on #3213
@chengmengli06 Please focus the conversation on technical points, which we're happy to discuss.  Calling the project "bad" and the code "stupid" isn't helping to make your point, and just seems like trolling.

I'm assuming you're referring to:
https://github.com/tensorflow/models/tree/master/research/attention_ocr

Do you have any further technical insight into your problem?  So far all you've sai

[2018-01-26 22:17] tatatodd commented on #3219
Any comments @jch1 @tombstone

[2018-01-26 22:19] tatatodd commented on #3221
@nathansilberman @sguada might have some ideas.

[2018-01-26 22:21] tatatodd commented on #3239
What is the full stack trace of the error?

[2018-01-26 22:26] tatatodd commented on #3249
Any thoughts @jch1 @tombstone ?

[2018-01-26 22:30] tatatodd commented on #3251
@jch1 @tombstone Looks like object_detection/exporter.py is out of sync with RewriterConfig

[2018-01-26 22:43] tatatodd commented on #3253
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

I also suggest you provide more details, e.g. a link to the documentation you're following, and the exact command that produced the error.

[2018-01-26 22:43] #3253 closed

[2018-01-26 23:13] yaroslavvb commented on #3221
Still waiting to verify that whole procedure works, but I was able to get past that error by copying the file to a new location (instead of the old symlinked location)

`./bazel-bin/download_and_convert_imagenet.runfiles/__main__/datasets/imagenet_lsvrc_2015_synsets.txt` to `/tmp/synsets.txt` and then modifying `download_imagenet.sh` to read
`done < /tmp/synsets.txt` instead of `done < "${SYNSETS_

[2018-01-26 23:44] alexgorban commented on #3162
It looks like you are referring to an old version of the code. The issue with batch_norm was addressed in #3111  back in Nov 2017 ([code](https://github.com/tensorflow/models/blob/b1faa20b8926804e77a86973f47aa04c52974b59/research/attention_ocr/python/model.py#L206)). Please sync and let me know if you still experience the same problem.

[2018-01-26 23:53] alexgorban commented on #2884
The last line of the log says:
INFO 2017-11-23 14:53:39.000907: tf_logging.py: 82 Waiting for new checkpoint at /tmp/attention_ocr/train

Do you have a checkpoint at /tmp/attention_ocr/train?

If not, please try to run the train.py first, at least for several steps, and make sure it generates checkpoints at the specified location.

[2018-01-26 23:53] #2884 closed

[2018-01-27 00:21] yaroslavvb commented on #3221
Copy file step gets past this part, but now it crashes because the script references `google3` [here](https://github.com/tensorflow/models/blob/d90d5280fea4a5303affc1e28af505d8292d84b8/research/slim/datasets/build_imagenet_data.py#L95)

[code]

[2018-01-27 00:48] tatianashp commented on #3224
The code outside the Detection downloads and sets up the model. It needs to be executed before you can run code in the Detection cell. So, your idea won't work. On the other hand, you set up model just once and use it to process images multiple times. So, the cost of the set up might not matter if you are building a real time system.

To get better performance on CPU you might try following sugges

[2018-01-27 00:48] #3224 closed

[2018-01-27 03:34] tatianashp commented on #3250
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2018-01-27 04:41] tatianashp commented on #3248
The models in r1.4.0 were indeed removed. You can use research models in the master branch or r1.5. Links in master  [README.md]( https://github.com/tensorflow/models/tree/master/README.md
)  and r1.5 [README.md](https://github.com/tensorflow/models/blob/r1.5/README.md)  work correctly.

Do you have a specific need for r1.4.0 snapshot?

[2018-01-27 05:10] A7medMaher commented on #3224
Dear @tatianashp
Could you explain how to perform optimization steps ?
Thanks

[2018-01-27 05:25] tatianashp commented on #3224
Actually, it is quite complex and might not work. I didn't notice you were running on Windows.

The guide that I referenced suggests that you build TensorFlow from source and use Intel MKL. But, we do not support building from source on Windows. You can try anyway, following instructions at https://www.tensorflow.org/install/install_sources. It might work.

[2018-01-27 06:04] tatianashp commented on #3252
Could you please try using TensorFlow 1.5 and let us know if you still see the problem?

[2018-01-27 09:22] alhsnouf opened #3259 "ImportError: No module named 'object_detection'"
Hi, I am trying to install the TensowrFlow on Windows 10 64bit.
and I follow the instructions in this [Link.](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md)
And reached the last step which is "Testing the Installation".
and I have this error:
![image](https://user-images.githubusercontent.com/33515140/35470382-b86b8060-0359-11e8-8256-e51fc6f6ac6f.

[2018-01-27 12:20] bhack commented on #2793
Can you reopen this untill the API is publishe?. So that we have a issue where we will be notified.

[2018-01-27 14:25] #3259 closed

[2018-01-27 15:21] arpitsharmagit commented on #1842
Thanks!!! running `setup.py build` and `setup.py install` worked

[2018-01-27 22:09] bhack commented on #2793
Another user opened https://github.com/tensorflow/tensorflow/issues/16452 so we could track that issue.

[2018-01-27 23:26] muayyad-alsadi commented on #3248
it's the only released version,

https://github.com/tensorflow/models/releases

if someone go there and download it, he would get a broken readme

the readme should state, if you want research models then go grab non-released version

[2018-01-28 01:09] Ellie68 commented on #3176
@poxvoculi
Thank you so much for your explanations.
Actually, I don't know what should I do to fix this problem?

[2018-01-28 03:20] poxvoculi commented on #3176
You should try to figure out how many threads are spawned by which parts of your program.  From the diagram above it looks like something executing in python is spawning 128 threads.  Track that down in more detail.   Unfortunately I'm not adept at python and can't give much help on how do to that.  Maybe searching the source code or via some kind of debugger.

[2018-01-28 03:30] tatianashp commented on #3248
@karmel Could you comment?

[2018-01-28 07:18] zeynali commented on #3239
thanks for SamDon87 ,
i Change the line , my problem is ok.
tf.app.flags.DEFINE_list to
tf.app.flags.DEFINE_string
in dataset_tools/create_kitti_tf_record.py

i have question also ,
i want to detection only pedestrian , car , cyclist , when i want to convert kitti to tfrecord in dataset_tools\create_kitti_tf_record.py , If I change that part classes_to_use', ['Car', 'Pedestrian' , 'cyclist' ] , ju

[2018-01-28 07:57] SArham commented on #2203
@beyondli
1. Freezing the lower layers of the net makes it possible to only perform transfer learning.
As @derekjchow said, freezing them does not output satisfactory results thus finetuning the model to your dataset is the better method as it is in this type of retraining, we keep all the layers editable and that is the default settings for the config file.

[2018-01-28 11:38] maxim5 commented on #1790
@DongjunLee @guotong1988

Try the answer suggested [on StackOverflow](https://stackoverflow.com/a/47952913/712995):
[code]

[2018-01-28 11:46] praz2202 commented on #2666
Hey, sorry to post it here as I have not found this discussion elsewhere @Sharathnasa Were you able to figure what was wrong with training?

[2018-01-28 22:35] gavincmartin commented on #1836
@chenyuZha can you explain what you mean by initializing the train_dir? I am using the checkpoint files provided from ssd_mobilenet_v1_coco_11_06_2017.tar.gz in the model detection zoo, and my pipeline configuration file correctly points to the location of these checkpoint files, yet it still fails to find all of these feature extractors.

[2018-01-29 02:47] zhaoyuanxing opened #3263 "Does base_anchor_height, in object detection's ssd_anchor_geneerator proto do not support absolate scale?"
I found the target label is not change to absolute coordinate when calculate loss, so base_anchor_height can not set absolate scale such as 256 or 512? so ssd only support fixed scale and not support Full convolution network?

[2018-01-29 03:48] EE-shawn commented on #3131
Same OOM problem, my training input is 300 tfrecord files, totally around 100 GB, I tried many yml configurations under 45 ML units, all failed, any solutions, thanks advance !!!

[2018-01-29 05:02] yaroslavvb commented on #3221
btw, fixing things above lets things convert again. To summarize:

1. move synsets file to a regular location instead of symlinked locations and reference that in download_imagenet.sh
2. remove google3 references in build_imagenet_data.py
3. run things in Python 2.7 container with TensorFlow installed (not compatible with Python 3 atm)

[2018-01-29 06:06] satchamo commented on #2015
@nardeas seems to know how to do it. The wrapper.py script in his docker image does the trick: https://github.com/nardeas/tensorflow-syntaxnet

[2018-01-29 08:08] #3263 closed

[2018-01-29 08:17] mikalyoung opened #3264 "Include Skip thought pretrain model checkpoint?"
Please include the pretrained model checkpoint for the skip thought model.  Otherwise it would take weeks for people to generate train the model from scratch.  Thank you

[2018-01-29 08:29] ptruka commented on #3252
Thanks for your answer, I will try Tf 1.5 today and report.

Just a general question: Is the way (frozen graph from the model zoo -> create inference with the graph & eval images -> run evaluation) the propriate way to receive evaluation results from a frozen graph?

[2018-01-29 09:14] nealzGu commented on #3250
hi, sorry, love the work you guys do, but why is this not a bug??

I used the repo, the scripts and config file you provided ... and it's throwing an error :-/

Would love if someone could point me into the right direction here... thanks!

[2018-01-29 11:46] chengmengli06 commented on #3213
still have no idea, the loss starts at 30 and then increasing, while for the fsns dataset the loss starts at > 100 and then decreasing, I will check the code again later. Currently I switch to the implementation by https://github.com/da03/Attention-OCR.  Is there any points that I missed when switching to my own dataset?  I double-checked my data, there seems to be good. My data has only one view.

[2018-01-29 12:39] noumanriazkhan commented on #3253
Well I simply follow the tutorial https://www.tensorflow.org/versions/master/tutorials/recurrent_quickdraw

[2018-01-29 12:49] noumanriazkhan commented on #3253
The issue has been resolved by making a new directory and mentioning it in the --model_dir flag.

[2018-01-29 17:43] tatatodd commented on #3213
@alexgorban do you have any ideas here?

[2018-01-29 18:25] alhsnouf opened #3266 "Python version on windows"
Hi, I am trying to ["Training on the Oxford-IIIT Pets Dataset on Google Cloud"](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md),And I'm reach to "Starting Training and Evaluation Jobs on Google Cloud ML Engine" step.

but I have problem, the Cloud SDK support python 2.7.X and tensorflow support python 3.5.x or python 3.6.x on windows.

My OS: Windo

[2018-01-29 22:28] tatianashp commented on #3250
@nealzGu I thought you were asking how to interpret an error in a model that you have written. If you have an installation problem or reporting a bug in TensorFlow it belongs here.

Please provide enough information so that we could reproduce the bug. Please use issue template as a guide for the information that you need to submit.

[2018-01-30 02:30] drpngx commented on #3264
Thank you for the suggestion. We typically don't provide checkpoints, but in that case maybe that's something that @cshallue will consider.

[2018-01-30 02:33] FightForCS opened #3268 "tfgan dcgan.py width of generated picture must be power of 2?"
Hi, I was working on tfgan, I want to generate images of size 48*48, but the discriminator function in dcgan.py says dimensions must be power of two
[code]
As far as I know, GANs does not have such a constraint, anyone can help? Is there another function that I can call?

[2018-01-30 02:48] drpngx commented on #3266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-30 02:48] #3266 closed

[2018-01-30 03:34] drpngx commented on #3268
@joel-shor WDYT?

[2018-01-30 03:36] drpngx commented on #3214
Sorry, it looks like only the description was populated.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-30 03:36] #3214 closed

[2018-01-30 03:42] drpngx commented on #3226
@derekjchow WDYT?

[2018-01-30 05:22] ShantanuThakoor opened #3269 "Difference in predictions and loss in adversarial_text"
Here is a suspected bug:

**What is the top-level directory of the model you are using**: adversarial_text

In models/research/adversarial_text/layers.py, in classification_loss (line 220) we seem to be using sigmoid_cross_entropy, but in predictions (line 256) we compare with 0.5.
Shouldn't the logits be compared with 0, or the sigmoid of the logits compared with 0.5?
Otherwise this threshold of

[2018-01-30 06:27] xiaochenwang94 commented on #1396
I run the command `bazel build -c opt domain_adaptation/domain_separation/...` at research directory, this directory is the parent directory of slim and domain_adaptation. But I still have the error `no such package 'domain_adaptation/datasets'`. I clone the master branch of this repo, how can I solve this problem?

[2018-01-30 06:33] wkelongws opened #3270 "Slow inference speed of object detection models and a hack as solution"
### System information
- **What is the top-level directory of the model you are using**:
models/research/object_detection/
- **Have I written custom code**:
No custom code for reproducing the bug. I have written custom code for diagnosing.
- **OS Platform and Distribution**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Anaconda conda-forge channel
- **TensorFlow version**

[2018-01-30 07:47] klauszeng commented on #2577
to correct @jjahanip, on windows is SET PYTHONPATH=%cd%;%cd%\slim.
It's ';'
not ':'

[2018-01-30 07:48] daisysnow commented on #3124
@CJMenart have you solved the problem? I met the same issue, is that due to the version of tensorflow？

[2018-01-30 08:16] JesperChristensen89 commented on #3226
@derekjchow @drpngx I found out this was related to a faulty installation of CUDA and cuDNN. This is now fixed, and I am to an issue posted [here](https://github.com/tensorflow/tensorflow/issues/16187)

[2018-01-30 08:59] daisysnow commented on #2527
@reedwm hi, I met the same issue, but I solved it by update my tensorflow from v1.1.0 to v1.2.0.
 I think it is due to the different parameters' name in different version of TF, I use it like this way:

inputs_data = /your/data/
model_path = /your/path/of/checkpoint
with slim.arg_scope(resnet_v2.resnet_arg_scope(is_training=False)):
        resnet_v2.resnet_v2_152(inputs_data, 1001)
variables_to_r

[2018-01-30 09:07] nealzGu commented on #3250
Thanks!

I trained faster rcnn on a custom data set using [this config file](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/faster_rcnn_inception_v2_coco.config).
Training went through smoothly, but when trying to export the tf.graph, I ran into this error:

[code]

Im working on Ubuntu 14
TF version 1.4.1

Training for example SSD MobileNet with the exa

[2018-01-30 09:08] GustavZ commented on #2267
hey @rky0930 nice to hear that.
Did you get further with your project?
Is it possible to add your files to the original object_detection repo without confilcts to the other models?

[2018-01-30 10:21] cclauss commented on #2946
We have no more Syntax Errors...  Just Undefined Names but we are working through those.

[2018-01-30 10:21] #2946 closed

[2018-01-30 10:23] cclauss commented on #2105
Usage of [six](https://pythonhosted.org/six) is now pervasive enough that we can close this issue.

[2018-01-30 10:23] #2105 closed

[2018-01-30 15:52] CJMenart commented on #3124
You should be able to see the comment I added when I closed the issue. My usage of TF-Slim was incorrect--building the resnet model requires the use of 'arg-scope' as shown in the snippet. Without this, it will not actually use batch-norm and thus the batch-norm variables won't appear in the graph.

[2018-01-30 16:14] nguyeho7 commented on #3270
Would something similar work with faster-rcnn meta architecture and it's SecondStagePostprocessing?

[2018-01-30 16:53] ohadlights opened #3276 "Too many logging when training with TensorFlow-Slim image classification model library"
### System information
- **What is the top-level directory of the model you are using**: slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows/Ubuntu
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5
- **Bazel vers

[2018-01-30 18:20] drpngx commented on #3204
@calberti @andorardo @bogatyy @markomernick any idea?

[2018-01-30 18:24] drpngx commented on #3212
@coreylynch @semarnet could you take a look?

[2018-01-30 18:29] reedwm commented on #2527
Thanks for the info @daisysnow. I'm closing this issue since it seems to be resolved, but please reopen if anyone still has this issue on 1.5.

[2018-01-30 18:29] #2527 closed

[2018-01-30 18:33] monomon commented on #3276
Have you considered the option of raising your log level to warning?

[2018-01-30 18:35] raingo commented on #2774
Just had this error. What helped me is just to upgrade `protobuf`, and recompile the `*.proto` files.

My guess is that if the `protoc` is older than the python `google.protobuf`, the `logit_scale` is mistakenly parsed into `integer`. I think upgrading protobuf is a better solution than patching the python function, because there could be hidden problems.

[2018-01-30 18:37] reedwm commented on #3269
/CC @rsepassi

[2018-01-30 18:54] reedwm commented on #3255
/CC @jch1 @tombstone, thoughts?

[2018-01-30 19:25] ohadlights commented on #3276
Yes. but there are logs that I do want to see such as:
INFO:tensorflow:global step 36000: loss = 4.4917 (0.314 sec/step)

or:
INFO:tensorflow:Saving checkpoint to path /mnt/person_data/Training/Recognition/Models/TensorFlow/Test/jianguo_srt_multi2_2/model.ckpt

[2018-01-30 22:24] drpngx commented on #3276
You can use `tf.logging.set_verbosity` in your program to set the levels of messages that you want to see.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-30 22:24] #3276 closed

[2018-01-30 23:40] drpngx commented on #3270
Nice work!

@derekjchow is that something we could integrate in a general way?

CC @benoitsteiner (for placement) @ebrevdo

[2018-01-31 01:12] markomernick commented on #3204
What version of TF do you have installed?

[2018-01-31 01:18] ssk1991 commented on #1836
@gavincmartin

Your train script is probably something like:

`python3 train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/fasterrcnn_inception_coco.config`

Do the following:
1. In your models/research/object-detection directory, create a new empty folder, and call it "train"
2. Modify your train script to replace the `train_dir=training/`  with `train_dir=train/`

Your f

[2018-01-31 01:49] yaroslavvb commented on #3221
Maybe after https://github.com/tensorflow/models/pull/3112 is merged, part #3 won't apply anymore

[2018-01-31 03:04] yaroslavvb opened #3281 "Slim Imagenet training low GPU utilization"
I tried training with slim classifier on imagenet on 8 Volta machine as follows:

python models/research/slim/train_image_classifier.py \
    --train_dir=${TRAIN_DIR} \
    --dataset_name=imagenet \
    --dataset_split_name=train \
    --dataset_dir=${DATASET_DIR} \
    --model_name=inception_v3 \
    --num_clones=8

This gets me 0.726 sec/step seconds per step, and GPU utilization is less than 50

[2018-01-31 04:14] Amos6666 opened #3282 "How can i get the coordinates of the detection results？"
I am using Tensoflow object detection api with CPU mode. I want to get the coordinates of the detection result.
I tried to print the  (ymin,  xmin,  ymax,  xmax,) in functon**visualize_boxes_and_labels_on_image_array** of
**visualization_utils.py line 387**, but it didn't work.
How can I get the coordinates of the detection results? I would appreciate if anyone can help me.
THANKS

[2018-01-31 05:30] Sammyreus opened #3283 "Memory error while training the corpus"
While downloading the corpus it Says..
![inkedwmt_download_data_error_li](https://user-images.githubusercontent.com/29627340/35606512-a7a94ed2-0675-11e8-87b1-160796022cea.jpg)
But still the download is complete.(17.4gb)
Why is this issue occuring
I am using
Intel Xenon CPU E5649 @2.53GHz
2GB Ram with no GPU

[2018-01-31 07:12] derekjchow commented on #3270
Thank you for the detailed analysis! Looking deeper into the code, it seems we clear devices when freezing the graph for portability reasons. See [this file](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L389).

[2018-01-31 07:29] tokk-nv commented on #3270
In that case, would you explain what is needed to recover the original device placement config for those frozen models currently listed in the Object Detection Model Zoo?

@wkelongws showed a hack to manually assign the nodes to GPU and CPU regained the advertised performance, but that requires careful inspection of each model network, so that is not really scalable.

[2018-01-31 08:39] rky0930 commented on #2267
Hi @GustavZ

Did you get further with your project?
-> I trained my yolo_v2 model with VOC 2007+2012. the evaluation result is 0.5 mAP with VOC 2007 test.
-> I'm still try to figure out what did i wrong. maybe there are bugs or wrong configure.
Is it possible to add your files to the original object_detection repo without confilcts to the other models?
-> Yes. I just changed anchor_generator build

[2018-01-31 08:42] ptruka commented on #3252
Hello,
I just gave it another try. I found the nice raccoon repo ( https://github.com/datitran/raccoon_dataset/ ) and used these files, because I thought the error might have come from my tfrecord files.

At first I took the raccoon train.record and the graph of ssd_inception_v2_coco (directly from the modelzoo). I ran infer_detections.py and received the detection.tfrecord. Next I tried to evalua

[2018-01-31 09:14] GustavZ commented on #2267
Hey do you know a quicker way to communicate than email?
I am training yolo right now on the egohands dataset.

Maybe WhatsApp or some online chat?

[2018-01-31 12:40] rky0930 commented on #2267
@GustavZ How about FB messenger?
Please send me an email first :D
rky0930@gmail.com

[2018-01-31 15:41] joel-shor commented on #3268
This isn't a question about TFGAN, more a question about the particular discriminator architecture you've chosen. The error message you're getting comes from tensorflow/models/slim's DCGAN, which is designed only to accept images that are powers of 2. You could either write your own discriminator function that accepts images of size 48 x 48, or you could contribute to DCGAN and make it more genera

[2018-01-31 15:41] szcdlsq opened #3284 "CUDA_ERROR_LAUNCH_FAILED when training my own model with ssd_mobilenet_v1_coco"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-31 16:12] shlens commented on #3281
Note that the CPU performs the preprocessing. If you use more clones, you will need to increase the number of preprocessing threads on the CPU. I would pay attention to the preprocessing queues to make sure that they are not starved. It might be the case that using 8 x V100 run so fast that preprocessing threads on a CPU might not keep up -- in which case you'll need a faster CPU or possibly recon

[2018-01-31 18:12] reedwm commented on #3283
Python raises a MemoryError when you don't have enough memory. It seems 2GB of RAM is not enough to run the TensorFlow example you're running.

[2018-01-31 18:12] #3283 closed

[2018-01-31 18:46] shlens commented on #3050
I believed this is now closed as a PR added an is_gpu_available() check. Please reopen otherwise.

[2018-01-31 18:46] #3050 closed

[2018-01-31 18:58] xszym commented on #2984
Same error in windows . I'm stuck too

[2018-01-31 19:23] drpngx commented on #3284
It's likely a CUDA install issue. Did you follow the instructions?

[2018-01-31 19:26] zxs107020 opened #3286 "Using object detection API"
How can I install the object detection API inside a virtualenv using Anaconda and Python 2.7 on a Macbook Pro (MAC OS X High Sierra)?

I am unable to compile the protobuf libraries.
[code]

[2018-01-31 19:46] kinsumliu opened #3287 "Batch normalization in the TFGAN library"
### System information
- **What is the top-level directory of the model you are using**: TFGAN
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: 1.5
- **Bazel version (if compiling fro

[2018-01-31 19:59] reedwm commented on #3287
/CC @joel-shor

[2018-01-31 21:05] dfoley84 commented on #1809
I Downloaded the COCO data-set along with the Annotations but unsure how to run it. any one know how to run this ?

[2018-01-31 23:23] reedwm commented on #3281
How bad this is depends on whether "sec/step" refers to the number of steps per GPU, or the total number of steps executed across all GPUs. Meaning, with perfect scaling, does doubling the number of GPUs halve sec/step, or keep it the same? @shlens @sguada do you know?

Also, the default batch_size is 32. Is this per-GPU or across all GPUs?

For comparison, on tf_cnn_benchmarks, running on 8 V100s

[2018-01-31 23:31] yaroslavvb commented on #3281
I'm guessing 32 is per-GPU, from the fact that GPU utilization was above 30%

For reference, running TensorPack resnet50 implementation on Amazon p3 instance gets 1.6k images/second with batch size 32 and 2k images/second with batch size 64 per GPU, and GPU utilization is >90%. It uses StagingArea while slim seems to use (soon-to-be-deprecated?) Queues

[2018-02-01 00:01] Vasay opened #3289 "Another errors when reading the DELF pre-trained model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution**: Mac OS High Sierra
- **Python version**: 3.5.0
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version**: v1.3.0-rc2-20-g0787eee 1.3.0 (also tried 1.5)
- **Bazel version (if compiling from source)**: -
- **CUDA/cu

[2018-02-01 00:08] reedwm commented on #3289
/CC @andrefaraujo

[2018-02-01 00:16] shlens commented on #3281
@reedwm We developed this script and batch-splitting code on GPU's such as Tesla K80, K40, K20 and Titan X (Maxwell). Across these architectures, we found that a fast (e.g. top-of-the-line) CPU processor could keep up with a batch size that maxed out the memory demands on these GPU's.

In other words, there was a small overhead but generally speaking, the sec/step was halved if we doubled  `--num_

[2018-02-01 00:17] andrefaraujo commented on #3289
I see that you are using python 3.5. We had some issues with this in the past. Could you do a quick attempt with python 2.7?

[2018-02-01 00:25] krystynak opened #3291 "Error running Oxford Pets Tutorial on Google Cloud ML Engine"
Followed directions to run this tutorial on google cloud ML:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md

I followed all the directions.
Set up fine on Mac and uploaded files to GCP.  Started training and evaluation jobs as per directions.  After starting TF, job terminates with a python error - missing the matplotlib.pyplot module on the GCP si

[2018-02-01 00:52] yaroslavvb commented on #3281
Here's what CPU utilization looks like for `slim` on p3.16xlarge instance https://aws.amazon.com/ec2/instance-types/p3/)

<img width="541" alt="screenshot 2018-01-31 16 44 33" src="https://user-images.githubusercontent.com/23068/35655309-1711a0be-06a6-11e8-8a95-c09ae62d3662.png">

And here's what GPU utilization looks like
<img width="566" alt="screenshot 2018-01-31 16 45 42" src="https://user-ima

[2018-02-01 02:00] oneTimePad commented on #3116
@GustavZ   so I ran SSD, and I don't get anywhere near 4fps. I put the jetson in mode 0 and ran jetson_clocks.sh. What else did you do to make it faster? What changes did you make in your repo that made it faster?  I am not using the visualization either.

[2018-02-01 03:34] reedwm commented on #3291
/CC @jesu9

[2018-02-01 06:29] Sammyreus opened #3294 "how can i train a particular corpus file?"
The WMT file after getting downloaded i don't need to run the whole to train, i want to train a particular corpus i.e. as per our default english to french translation.
![capture](https://user-images.githubusercontent.com/29627340/35664244-316ea974-0747-11e8-91ec-ca19761f806f.PNG)
Here, for example i want to train "newstate2013" file.
How can i do so. And the changes i need to procure for the same

[2018-02-01 08:18] Vasay commented on #3289
Yes it helped. But because of other parts of my system use python3 it is essential to make it run. Do you have any ideas what to try?

Also my success with python 2.7 was partial. I got another incompatibility error on next step.
Tried to execute:
[code]
With result:
[code]

[2018-02-01 08:43] aditya478492 commented on #497
workspace file will be in the package which you are about to build. change path to that package and run.
ex: tensorflow package folder contains a workspace file

[2018-02-01 08:56] syndec commented on #1876
Hi @yeephycho @scotthong ,
I am encountering the same problem that  the TotalLoss fluctuating around a high value(4.0). And is there anything I can do to avoid  small objects miss with high resolution training images?

[2018-02-01 10:00] GustavZ commented on #2267
@rky0930 i already sent you an email a view days ago.
Now i sent you a slack invitation for a new workspace

[2018-02-01 13:50] manish341 commented on #1591
I donno If you guys got this. Didn't go through the full post.
The solution I got is really weird. I am using Its really weird version: protoc-3.3.0-win32.zip, shared above by @astrung after using all the latest versions. I was still facing issues though.
As soon I moved the object_detection folder inside the bin, it worked like a charm.. Cheers.

[2018-02-01 14:54] paperclipt commented on #2509
@gpapan hi, Is this paper's implementation added? Not sure if I had missed something..

[2018-02-01 15:55] DongCiLu opened #3295 "typo in tfgan mnist example launch script"
### Describe the problem
Hi,
I find a bug in the launch script of mnist example of tfgan (tensorflow/models/research/gan/mnist/launch_jobs.sh).

The script run the evaluation with parameter "--max_number_of_evaluation=1". However, the correct parameter should be "--max_number_of_evaluations=1". This little bug results in the "max_number_of_evaluations" value to be "None" and the evaluation part to

[2018-02-01 15:56] scotthong commented on #1876
Hi @syndec
Try to study the network and especially the file "core/preprocessor.py". You should be able to find clues and determine if it is possible to resolve the problem you are facing.

[2018-02-01 17:53] reedwm commented on #3295
/CC @joel-shor, can you fix the typo?

[2018-02-01 18:33] andrefaraujo commented on #3289
Great to hear that this worked. I mentioned some Python 3 potential issues here: https://github.com/tensorflow/models/blob/master/research/delf/INSTALL_INSTRUCTIONS.md#troubleshooting

Did you try following the entire installation process using python3? Eg, using pip3 instead of pip, etc

[2018-02-01 19:23] Vasay commented on #3289
Ok, I will double check it.

It seems like I have a problem deserializing object from the mean.datum file, which is serialized with protobuf. May it be that the object was serialized by python2.7 and because of it, I have problems deserializing it in python3+?

[2018-02-01 19:33] andrefaraujo commented on #3289
That would be strange, hopefully it's not the case. You can also check https://github.com/google/protobuf/issues to see if they have anything mentioning this, and if not maybe you can post an issue there to clarify?

[2018-02-01 20:47] smitshilu commented on #1741
@daisyl0 how can I compile it? Its keep giving me error. I tried with g++ and bazel build. If you are using bazel then can you please tell me which deps I need to include?

[2018-02-01 20:51] rzhai commented on #2267
@GustavZ after click above slack link, it is asking @bshg.com. How do I apply that email?

Has anyone used object_detection/export_inference_graph.py to export .pb using @rky0930 "Frozen weight (trained on Pascal VOC) for YOLOv2 model. this weight still alot need to improve; (download)"

[2018-02-01 23:00] civilman628 opened #3298 "please provide inception v3 model check point file for SSD and Faster RCNN"
@tombstone   @nealwu   Could you please provide the pre-trained **base model**: **Inception v3** check point file for SSD and Faster RCNN?

Now I can see the published model "faster_rcnn_inception_v2_coco" and "ssd_inception_v2_coco", which contain the base model for Inception v2.

the inception v3 model check point file in the link below is very out of date. it does not have **.meta** and **.inde

[2018-02-01 23:13] digitalfalconAU commented on #2267
@GustavZ Can you please send me an invitation to join the slack workspace?

[2018-02-02 02:03] drpngx commented on #3286
Sorry, I need to close this since this is not a bug in tensorflow. Please follow the instructions here.
https://www.tensorflow.org/install/install_mac

[2018-02-02 02:03] #3286 closed

[2018-02-02 02:07] drpngx commented on #3294
What code are you running?

[2018-02-02 04:46] Sammyreus commented on #3294
data_utils_.py
`# Copyright 2015 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under th

[2018-02-02 04:56] Sammyreus opened #3302 "bugs while decoding"
Description about the System

1. OS: Windows 10
2. Ram: 4GB DDR3
3. GPU: AMD Radeon 8 series(2GB)
4. Tensorflow Version :1.0.0
5. python version: 3.5

Description about the issue:

While decoding the files cloned from the tensorflow/models (eng-french) it get successfully cloned as well as the WMT files also gets downloaded.
After training when i am decoding the same it says..
![new](https://user-

[2018-02-02 07:01] derekjchow commented on #3282
Could you provide us with a code sample showing the issue?

[2018-02-02 08:03] zeynali opened #3303 "multi processing"
hi
As you Know , One of the problems in the Train network , speed prediction of Network classification and there is an inconsistency between CPU and GPU. that is , GPU is waiting for CPU to prepares the batch data.
in you opinion , What to do to overcome this problem? i read the inception folder in the research folder , in image_processing.py , there are some of Flag , i thought this Flags are for

[2018-02-02 08:48] xiongzhp opened #3304 "Executor failed to create kernel. Invalid argument: Conv2DCustomBackpropFilterOp only supports NHWC"
This happens when I run the recently released code implementing capsule network https://github.com/Sarasra/models/tree/master/research/capsules
That repo doesn't accept issues and I think the problem comes from tensorflow, so I posted here.
Any help will be appreciated! Thanks!

Instructions for updating:
Use `tf.profiler.profile(graph, run_meta, op_log, cmd, options)`. Build `options` with `tf.pr

[2018-02-02 08:53] kirthu30 opened #3305 "How to caption multiple images in a folder instead single images?"

[2018-02-02 11:28] chengmengli06 opened #3307 "tensorflow model behaves differently in c++ and python"
I report a bug about SavedModel, which does not work good when load in c++, it concens two api, tf.gather_nd and tf.Print. Here are the details:
https://stackoverflow.com/questions/48578706/tensorflow-model-behaves-differently-in-c-and-python

[2018-02-02 11:57] maxim5 commented on #3087
@Goffic See my comment in https://github.com/tensorflow/tensorflow/issues/11157#issuecomment-353725791. It solves this problem too.

[2018-02-02 12:14] GustavZ commented on #2267
@digitalfalconAU  @rzhai  guys i need your email, they are not visible in your github profile

[2018-02-02 13:49] rzhai commented on #2267
@GustavZ I made my email public now on my profile. germantownmd@live.com
Thanks.

[2018-02-02 16:07] rotuna commented on #526
If no one else is working on this, could I try to work on this? Is this a good first issue?

[2018-02-02 17:31] reedwm commented on #3303
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-02 17:31] #3303 closed

[2018-02-02 17:32] reedwm commented on #3305
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-02 17:32] #3305 closed

[2018-02-02 18:45] drpngx commented on #3302
Which model are you using?

[2018-02-02 19:07] drpngx commented on #3294
Where does this code come from?

[2018-02-02 20:01] amirjamez opened #3310 "Using eval_image_classfier.py with a frozen file"
Is there a method to use `eval_image_classifier.py` with a frozen file (`.pb`) instead of the pair of 3 files (.meta, ckpt, and data)? I know there is another evaluator (`/tensorflow/examples/label_image/label_image`) that does the inference for frozen files, however, I am interested in comparing the prediction accuracy on a large dataset (say imagenet) and I need the tool to be standardized on bo

[2018-02-02 21:27] wkelongws commented on #3270
@nguyeho7 I haven't tried the trick on faster-rcnn architecture but I believe it will perform in a similar way. The point is **the graph nodes have to be assigned to GPU or CPU accordingly** to achieve the reported inference speed. The trick here is not the optimal way to assign the nodes as @tokk-nv mentioned above. Apparently the device tags are initially there and then removed in these frozen g

[2018-02-02 22:15] yaroslavvb opened #3311 "Official cifar_estimator example slow on multi-GPU"
Here's an overview of some experiments:
https://docs.google.com/document/d/1p4jtHZWj9lVoYswP94GhMEgOL93CsGFJTMdEzbLXGsI/edit#heading=h.alj48bbypbo3

One observation is that using 4 GPUs gives worse throughput than using 2 GPus
[code]

How to reproduce experiments:
https://github.com/diux-dev/cluster/tree/master/single_machine_cifar

[2018-02-02 23:23] reedwm commented on #3311
/CC @isaprykin @wun.

[2018-02-02 23:39] rs1024 opened #3313 "7x1 and 1x7 filters mixed up in Inception v4"
I noticed several places where the filter order is mixed up in Inception v4. For example, in the Inception-B block, branch 2 filters are in the order of: 1x1, 7x1, 1x7, 7x1, 1x7; however, in the paper, the order is described as: 1x1, 1x7, 7x1, 1x7, 7x1. There are a few other occurrences throughout the model.

Is there any reason for this?

[2018-02-03 00:33] reedwm commented on #3313
/CC @sguada, can you take a look?

[2018-02-03 01:00] tatianashp commented on #3252
@tombstone Can you take a look at this?

[2018-02-03 01:15] civilman628 opened #3316 "Randomly crash for GPU OOM error during training for object detection, though use small batch size."
------------------------

### System information
- **What is the top-level directory of the model you are using**:
/models/research/object_detection/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
 Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **Tenso

[2018-02-03 01:38] drpngx commented on #3310
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-03 01:38] #3310 closed

[2018-02-03 01:40] amirjamez commented on #3310
It is a feature request @drpngx

[2018-02-03 01:42] drpngx commented on #3307
@sukritiramesh have we encountered this before?

[2018-02-03 01:45] drpngx commented on #3310
You could write your own tool or send a PR.

[2018-02-03 02:00] digitalfalconAU commented on #2267
@GustavZ Thanks! andrew@digitalfalcon.com.au

[2018-02-03 08:31] jeffxtang commented on #816
@liamnaka I just found App Store app and your iOS Caption example app about to be merged. Very cool. I'm debugging the loading of my frozen im2txt graph in iOS whole day but still can't fix the error "Could not create TensorFlow Graph: Invalid argument: Input 0 of node ExpandDims_6 was passed float from input_feed:0 incompatible with expected int64." when running the call `tensorflow::Status s = s

[2018-02-03 11:33] Kingeng opened #3317 "SaveModelBuilder - Inception_slim"
Hi
I am new to tf.slim & tensorflow for production
i just try to Finetune inception v3 on my own image dataset now it saved as ckpt files and i can restore it and do prediction for new images

now i just want to test tensorflow serving i found that should have .pb file with a variable folder (but what i able to generate from ckpt is just a freeze_graph with freeze_graph.py )

can you help me to us

[2018-02-03 12:00] Vasay commented on #3289
I've made another attempt on new Ubuntu machine (first try was on MacOS) with no tensorflow previously installed.
I have done all steps exactly like in manual and unfortunately exactly the same error with python3 :(
That's really strange.
Will post smth to https://github.com/google/protobuf/issues now.

[2018-02-03 15:33] frostell commented on #2861
ok, seems like the RewriterConfig has been changed in tensorflow 1.5 and the small modification detailed above will make it brake in the same manner but with the opposite result (I had to change back from the small mod when I updated to 1.5)

what will work is:

Tensorflow version 1.4
"optimize_tensor_layout" on line 72 in exporter.py

Tensorflow version 1.5
"layout_optimizer" on line 72 in export

[2018-02-03 18:56] karmel commented on #3248
Thanks for pointing this out. We are not going to change the existing release, but we have updated the README so that it will correctly link for future releases.

[2018-02-03 19:18] ttungl commented on #2890
@lucasharada use `pythonw` to test installation `python object_detection/builders/model_builder_test.py` if using anaconda.
The output will be something like this:
`
$ pythonw object_detection/builders/model_builder_test.py
...........
----------------------------------------------------------------------
Ran 11 tests in 0.059s

OK
`

[2018-02-03 22:26] aosokin commented on #3289
Hi @Vasay @andrefaraujo , I confirm the bug.
I've precisely followed the installation process (fresh install on Ubuntu 16.04 and python 3.6) and get
[code]
exactly as @Vasay

[2018-02-03 23:27] muayyad-alsadi commented on #2763
Would you please check if this is the reason casing nasnet slower than expected

https://stackoverflow.com/questions/48454379/why-does-last-layer-in-nasnet-use-fully-connected-instead-of-1x1-conv2d

[2018-02-04 02:26] HugoCMU commented on #3203
Getting the same issue. I was able to bypass the error by using other models (`faster_rcnn_inception_v2_coco_2017_11_08`).

[2018-02-04 03:03] yekeren commented on #2217
I got the same problem when I use resnet_v2_152 model. It seems that using inception_preprocessing is correct for the case.

[2018-02-04 08:49] kazemSafari opened #3319 "tf binary vs tf source"
I want to train, e.g. inception-v3 from scratch on imagenet using download_and_preprocess_imagenet.

1) Do i have to build tf from source? or can i build tf as binary, then install bazel and then run the script mentioned above?

2) Also to execute the following:

#location of where to place the ImageNet data
DATA_DIR=$HOME/imagenet-data
#build the preprocessing script.
bazel build slim/download_an

[2018-02-04 10:23] alansberman opened #3320 "Slim nets import name error despite updated PythonPath"
I'm currently trying to run an implementation of the Creative Adversarial Network (CAN), a Generative Adversarial Network for fine art generation (https://github.com/mlberkeley/Creative-Adversarial-Networks).

### System information:
OS: Windows 10 Education 64bit
 GPU: NVIDIDA GeForce GTX 1060 6GB
Tensorflow-GPU 1.5.0 (installed via pip)
 CUDA 9.0
Python 3.6.0

### Problem:
I got the seemingly co

[2018-02-04 12:33] JulienSiems commented on #2832
@stevenpclark I tried it and did not get a better prediction performance. Have you found a solution?

[2018-02-04 14:04] Ocxs commented on #1823
Try:
[code]

[2018-02-04 22:26] iraadit commented on #2267
@GustavZ I'm interested as well. iraadit@gmail.com

[2018-02-05 03:31] Howie-hxu opened #3321 "Different Graph architecture in COCO pre-trained model and re-train model"
Hi,
I have followed the doc:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_locally.md
to retrained the model of ssd_mobilenet_v1_coco_2017_11_17.tar.gz.
 I only modify the pipe config with
- finetune to TRUE
- set the model path
- set the trained data path with actual path of tfrecord

then, I try to use the export script with :
https://github.com/tensorf

[2018-02-05 03:40] Howie-hxu commented on #3321
According to the pictures from tensorboard ,  I found that there were two input tensors in BoxPredictor but there were three with original.

[2018-02-05 05:55] NightFury13 commented on #3172
Hi @JesperChristensen89
I am a beginner with Jetson TX2 as well as Tensorflow. Is there some tutorial that you followed to get started with using TensorRT 3.0 supporting the tensorflow-models? (https://devtalk.nvidia.com/default/topic/1027301/jetson-tx2/jetpack-3-2-mdash-l4t-r28-2-developer-preview-for-jetson-tx2/)
Or are you using a bare installation of tensorflow on the TX2 and checking its eval

[2018-02-05 08:03] JesperChristensen89 commented on #3172
@NightFury13 For now I ended up deploying the models in TensorFlow. They are not well supported for NVIDIA yet.
For TF installation see: https://github.com/JesperChristensen89/TensorFlow-Jetson-TX2
For TF inference examples see: https://github.com/JesperChristensen89/object_detection_benchmarking

[2018-02-05 11:06] GustavZ commented on #3270
@wkelongws thanks for this work! I am struggling to speed up SSD with the api since a while (https://github.com/tensorflow/models/issues/3136). This could be the reason.

Can you tell me how to apply your hack?
Which code modifications have to be done to achieve the correct GPU/CPU addressing?

[2018-02-05 16:24] davigreen commented on #3289
@andrefaraujo Yes we have the same error with python3 on Ubuntu 16.

[2018-02-05 16:38] lifeiteng commented on #1876
resize image, but not resize the mask / box_value, I think this is a bug!

[2018-02-05 17:03] Amos6666 commented on #3282
I have already solved the problem. The IDE I worked with had some trouble. Replaced the environment and changed IDE then it worked well.
Anyway. Thank you a lot @derekjchow

[2018-02-05 17:03] #3282 closed

[2018-02-05 17:25] joaodafonseca commented on #2966
I'm still having the same problem described above! Can't run any of the python scripts.

[2018-02-05 17:39] civilman628 commented on #3316
I set batch size = 8, but it still crash. This is not normal.

[2018-02-05 18:19] lcerman commented on #2066
I have hit this issue too. I even tried adding just:

[code]

even tried `max_delta: 0.`, which should end up with identity (i.e., no augmentation). The faster-rccn-resnet101 model (initialized from the pre-trained model) that otherwise trains well does not start learning at all, and the mAP/APs remain close to zero. This indicates, that adding the brightness augmentation severely breaks something

[2018-02-05 19:18] wkelongws commented on #3270
@GustavZ The source code (a jupyter notebook file) to apply the hack is in the attached .zip file. The hack is basically manually find a cut-off point to split the graph into two halves, assign the first half to GPU and the second half to CPU. The cut-off point I used here is manually decided and will vary for other graphs.
In your thread you mentioned optimize_for_inference.py, do you have any su

[2018-02-05 19:54] vs-zhehangd opened #3323 "[object_detection] scope names of "slim.conv2d" calls."
I am trying to parallelize object detection inference on multiple GPUs using pretrained checkpoints from the model zoo. I parallelize the model by doing like this:
[code]
During checkpoint restoration, I got the following error:
[code]
This is because some variables are not properly shared. I managed to identify the error source, it is in `FasterRCNNMetaArch._extract_rpn_feature_maps` ( `meta_arch

[2018-02-05 20:15] andrefaraujo commented on #3289
sorry everyone for the problems with python 3+. Let me investigate what's going on here. I might need to release a new file to be used with python 3, or maybe some code change could help solving the problem.

Please note that everything works with python 2.7, so if you want to make progress while this is being fixed, you can do that...

[2018-02-05 21:34] andrefaraujo commented on #3289
I think I found what the problem might be. We may simply need to replace `'r'` by `'rb'` in this line: https://github.com/tensorflow/models/blob/master/research/delf/delf/python/datum_io.py#L96

The problem seems to be simply this: https://github.com/tensorflow/tensorflow/issues/11312

Can one of you please try this and let me know if it worked?

[2018-02-05 21:35] andrefaraujo commented on #3289
Note that we will probably have to do the same edit here: https://github.com/tensorflow/models/blob/master/research/delf/delf/python/feature_io.py#L172, to be able to read features without having the same error.

[2018-02-05 22:26] headdab commented on #2832
Nope.  I'm disappointed that we are getting no support here, since a major reason I chose to with TF  was that I read that it had such a great support community.

[2018-02-05 22:40] Vasay commented on #3289
Thank you!
I confirm: it works.

[2018-02-05 22:52] andrefaraujo commented on #3289
awesome, will do a PR now to fix this!

[2018-02-05 22:56] nguyeho7 commented on #2832
After reducing the first_stage_max_proposals, you have to export the graph again (using https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md ) You should see a small increase in speed (with no other changes, probably 10 to 15%)

[2018-02-05 22:59] andrefaraujo commented on #3289
https://github.com/tensorflow/models/pull/3324

Closing this issue. But if you have any further problems related to this, feel free to reopen and post here.

[2018-02-05 23:02] andrefaraujo commented on #3289
oops, just realized I cannot actually close this (?). @reedwm , can you please close this issue?

[2018-02-05 23:07] nguyeho7 commented on #3270
For the hack, it's a little more complicated to find a cutoff point with faster rcnn as the tensors are very interconnected. Notably the non maximum suppression is called twice, once after the first stage and once in the second stage post processing. I tried to use Squeeze_3 and Squeeze_2 which are the outputs of the second stage box proposals but there is always a missing tensor (i.e. wrong cut)

[2018-02-05 23:37] civilman628 commented on #3316
I meet this issue today again, after training for 17825 steps. It says: ran out of memory trying to allocate 4.42GiB

i am very curious about why it try to allocate  4.42GiB memory. 17825 steps already repeat many epochs. The peak memory demand  should already happen very long time ago, especially at the beginning when training start. And it becomes to demand such a large amount memory later... do

[2018-02-06 01:21] nealwu commented on #2966
Hi @joaodafonseca, what problem are you having exactly? Did you run the new instructions at https://github.com/tensorflow/models/tree/master/tutorials/embedding?

[2018-02-06 01:36] #3295 closed

[2018-02-06 01:40] nealwu commented on #3298
Adding @jch1 @derekjchow

[2018-02-06 02:33] siddharthm83 commented on #3138
I was able to fix the issues by optimizing the cpu flags while compiling. More [here](https://stackoverflow.com/questions/47896671/tensorflow-object-detection-api-has-slow-inference-time-with-tensorflow-serving/).

[2018-02-06 02:33] #3138 closed

[2018-02-06 02:38] mugix commented on #3221
It works ! Thank you for the workaround @yaroslavvb

[2018-02-06 06:57] nvnnghia commented on #2267
@GustavZ I'm interested as well. please send me an invitation. Thank you!
  nghianguyenbkdn@gmail.com

[2018-02-06 08:29] bhack opened #3326 "tensorflowbutler"
Can you add  @tensorflowbutler bot to this repository?

[2018-02-06 09:18] jeffxtang commented on #816
Just figured it out - it's a bug in both strip_unused and optimize_for_inference tools. Use transform_graph fixed this! See my answer at https://stackoverflow.com/questions/48212068/error-using-model-after-using-optimize-for-inference-py-on-frozen-graph/48638586#48638586 for detail.

[2018-02-06 09:36] ckalas opened #3328 "export_training fails 'ValueError: 'images' must have either 3 or 4 dimensions.'"
Python 3.5, TF 1.4.1, Ubuntu 16.04.

I am trying to export a model using the command `python3 export_inference_graph.py --pipeline_config_path=configs/ssd_inception_v2_cool_model.config --checkpoint_path=cool_model/model.ckpt-37605.data-00000-of-00001 --inference_graph_path=./ --export_as_saved_model --input_type=image_tensor`

I copied the export_inference_graph.py script to the directory in whic

[2018-02-06 10:32] dwSun opened #3329 "Is it possible to support 5-dim or x-dim data operation"
Presently, we are use 4-dim data flow to build most of our models, **BatchSize x W x H x Channels** or **BatchSize x Channels x H x W**.

Is it possible to build 5-dim data flow? Maybe **BatchSize x Capsule x W x H x Channels**, which should be useful in ideas like CapsNet for that we don't have to reshape out data. So we can build high dimensions models which are more complicated and should be be

[2018-02-06 10:54] GustavZ commented on #3270
@wkelongws running your notebook works, but when i tried to apply your graph splitting to my detection using videostream wih opencv i get following error:
[code]
I tried it on two different architectures arm64 and x86, but both get the same error.
It seems that this line causes it:
`(score, expand) = sess.run([score_out, expand_out], feed_dict={image_tensor: image_np_expanded})`

About your questi

[2018-02-06 11:10] chengmengli06 commented on #3307
@sukritiramesh any suggestions? should I avoid using tf.gather_nd?

[2018-02-06 13:15] zeynali opened #3330 "ssd_mobilenet on kitti"
Hi.
i want to fine-tune kitti on ssd_mobilenet over 2 class , Pedestrian , Car .
first i successfully convert kitti to tfrecord , then i train up to 200k steps. but the result very bad. when i want to test , this show me 2 class but many many box in image of car and pedestrian . The NMS has not been respected , of course i don't know exactly Because of NMS ,  please hemp me . Has anyone ever done

[2018-02-06 14:06] madi commented on #1754
I have the same problem, it would be useful to return the name of the image that fails when it raises this error

[2018-02-06 15:15] rzhai commented on #2194
I am able to reproduce this problem. Can't figure out and waiting for answer.

[2018-02-06 15:58] puren opened #3331 ""ValueError: features should be a dictionary of `Tensor`s. Given type: <class 'tensorflow.python.data.ops.dataset_ops.BatchDataset'>""
### System information
- **What is the top-level directory of the model you are using**: models/samples/core/get_started
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comma

[2018-02-06 16:57] michaelisard commented on #3326
@aselle what do you think?

[2018-02-06 17:00] michaelisard commented on #3330
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-06 17:00] #3330 closed

[2018-02-06 17:36] joaodafonseca commented on #2966
Hi @nealwu, yes I did follow the new instructions and having the following errors:
`Traceback (most recent call last):
  File "word2vec_optimized.py", line 44, in <module>
    word2vec = tf.load_op_library(os.path.join(os.path.dirname(os.path.realpath(__file__)), 'word2vec_ops.so'))
  File "/Users/joaofonseca/tensorflow/tensorflow/lib/python2.7/site-packages/tensorflow/python/framework/load_librar

[2018-02-06 19:11] civilman628 commented on #3316
I update to TF 1.5, CUDA 9.0, cuDNN 7 still meet the same issue. It crashes after some training steps when trying to allocate 4.8Gib memory. it is not normal that current TF session tries to allocate such a large amount memory after many training steps.

[2018-02-06 19:13] nealwu commented on #2966
Hi @joaodafonseca, that's a different error from what everyone here was experiencing. It looks like you might have a problem with your Python and/or TensorFlow installation. I recommend asking on StackOverflow for advice.

Closing this issue in the meantime since the original issue has been resolved.

[2018-02-06 19:13] #2966 closed

[2018-02-06 19:17] wkelongws commented on #3270
@nguyeho7 You are correct. The hack is just as a demo here. It is not scalable. For the complicated model structures such as faster_rcnn we need to find a way to restore the device placement. I guess re-exporting the frozen graph from check point might do the work:
* Change [line 389](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L389) to `clear_devices=Fal

[2018-02-06 21:09] sukritiramesh commented on #3307
@drpngx @chengmengli06 I don't think we have encountered this before. Seems specific to tf.gather_nd and stn?

[2018-02-06 22:34] aysark commented on #2739
Thanks to @andersskog fixes, it worked.

Hopefully repo will get updated soon?

[2018-02-06 23:09] drpngx commented on #3307
It seems tht there are two issues: `tf.Print` does not appear to work with saved model.

Then, for some reason `gather_nd` does not execute correctly when the graph is loaded from C++ @asimshankar

@chengmengli06 could you try to whittle the example down to the simplest example that exhibits the behavior?

[2018-02-07 00:13] aysark commented on #3071
Running into this issue.  Using 1.4, and using a single gpu it works fine, but when i try scaling up with varying 1-10 worker nodes it runs into `UnavailableError: Endpoint read failed` which i'm guessing is when tensorflow loses connectivity from a node.

I can't really revert back to 1.2 because i had to resolve another issue and modified the code to work for 1.4.  Guess its back to AWS for now.

[2018-02-07 00:16] nguyeho7 commented on #3270
@wkelongws
If you look at [line 371](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L371) which is run before line 389. It calls the function [_write_graph_and_checkpoint()](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L309) which deletes all devices in the graph def as well. However, printing the device name there y

[2018-02-07 00:27] skye commented on #3317
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 00:27] #3317 closed

[2018-02-07 00:32] skye commented on #3319
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 00:32] #3319 closed

[2018-02-07 00:33] skye commented on #3321
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 00:33] #3321 closed

[2018-02-07 01:24] aysark commented on #2861
@frostell thanks that fixed it!

[2018-02-07 02:43] JayJoeSeventh opened #3337 "Error when trying to use faster rcnn nas"
I have successfully use ssd mobilenet to train a custom object detection model. But when I am trying to use faster rcnn nas model, I am getting this error:

Traceback (most recent call last):
  File "train.py", line 168, in <module>
    tf.app.run()
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python35\lib\site-packages\t
ensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main

[2018-02-07 06:14] SophieApple commented on #3259
Hello，Recently, when I tested model_builder_test.py, I met the same problem as you. I tested to add path as you, but it is not useful. So I really want to know whether you have resolved the problem, and how to solve it? Thank you very much

[2018-02-07 06:21] ohnabe commented on #3252
I had same error with Python3.5 and TF1.5.  This causes  tf_example.features.feature[self.field_name].bytes_list.value returns byte type instead of string type in metrics/tf_example_parser.StringParser.

So I changed tf_example_parser.StringParser below

[code]

I got no errors. But this is instance solution, I think there is better solution.

[2018-02-07 06:59] SophieApple commented on #2031
I am so happy to modified the problem as the method of @hari0920 and @deaspo . I solved the problem  through the steps:
1 add the path of slim and the path of research into the environment variable list
2 in models\research directory run the following:
python setup.py build
python setup.py install
3 change nets to slim.nets in the models folder in the faster_rcnn_inception_resnet_v2_feature_extrac

[2018-02-07 07:33] zeynali opened #3338 "totall loss"
Hi ,
my dataset is roughly 50.000 images , and i fine-tune all layers of NasNet-a-large , but i don't know this is going correctly or no , The error is not less than 2.0 . is this normal?

[2018-02-07 10:41] marcbelmont commented on #3161
@aselle I'm also having the issue (with python 3.6).
logit_scale is 1 (type int)

[2018-02-07 11:24] HFVladimir commented on #3121
Try rewrite
import fsns
to
from . import fsns
in /datasets/init.py

[2018-02-07 11:27] ZER-0-NE commented on #2668
I am getting another error even after i add this line.

TypeError: separable_convolution2d() got an unexpected keyword argument 'data_format'

[2018-02-07 11:29] ZER-0-NE commented on #3337
@JayJoeSeventh You can refer to the issue #2668

[2018-02-07 13:44] viralbthakar commented on #3072
same issue OS X  and Python 3.5

[2018-02-07 13:45] nguyeho7 commented on #3270
Would loading the checkpoint directly instead of the frozen graph help?

[2018-02-07 14:11] augre commented on #3196
Hi @Tsuihao Did you successfully train the SSD model on small objects? If so how did you get around it?

My original images are 512x512 I am thinking about cropping them to 300x300 around the areas of interest and create the TFrecords file from the cropped ones. Would this be ok?

[2018-02-07 15:17] deaspo commented on #2031
🎉

[2018-02-07 17:02] ilkarman commented on #2267
@GustavZ Hi, also interested! Email: ilia.uk@gmail.com

[2018-02-07 17:02] ChiranjeeviBhagavan commented on #1703
I am also facing same issue , can anybody tell us about this ?

[2018-02-07 22:23] derekjchow commented on #3284
Could you provide more information (ie. Tensorflow/CUDA versions)?

[2018-02-07 22:55] gustavomr commented on #1428
It was closed, but what is the final understanding about it ?

I used the retrain.py (from tf for poets) with batch size=100, inception v3 e learning rate=0.01 and retrain.py only use GPU to create the bottlenecks. I got (0.2 imgs/sec) on that.

Using train_image_classifier.py (from tf slim) with batch_size = 32 (because I set to use  GPU with num_clones=3), inception v3 and learning rate = 0.01 I

[2018-02-07 23:13] tfboyd commented on #1428
TF SLIM is a little slow but .2 is not even close.  What do you get with batch-size=32 with one gpu, e.g. num_clones=1.   Looking at the internal regression test for TF Slim, I am seeing 400ms per step on a P100 which assuming batch-size 32 =  80 images/sec.  It even got faster recently down to 275ms = 116 images/sec.  The benchmark code is ~130 image/sec on a DGX-1.

Also what is your command lin

[2018-02-07 23:15] alextp commented on #54
Closing this issue. It's straightforward to use multiple GPUs in each replica; just build a graph which assigns work to all the GPUs. There are utilities to do this (used by the inception_train file pointed to in the top).

Higher-level APIs to make this easier are being worked on.

Please reopen if you think it's too soon to close this.

[2018-02-07 23:15] #54 closed

[2018-02-07 23:25] alextp commented on #70
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:25] #70 closed

[2018-02-07 23:29] itsmeolivia commented on #193
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:29] #193 closed

[2018-02-07 23:32] wolffg commented on #472
Note that in tensorflow.org/versions/[version], links to models should link to models that work with that version of the API.   Please reopen on specific pages or models.  Thanks!

[2018-02-07 23:32] #472 closed

[2018-02-07 23:33] #677 closed

[2018-02-07 23:37] gunan commented on #324
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

Looks like this folder is moved. When reporting, please include the new location.

[2018-02-07 23:37] #324 closed

[2018-02-07 23:38] yifeif commented on #411
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:38] #411 closed

[2018-02-07 23:39] yifeif commented on #413
@calberti I'm closing this issue due to lack of activity. Please let us know if this is still a problem and we can reopen. Thanks!

[2018-02-07 23:39] #413 closed

[2018-02-07 23:42] wolffg commented on #1028
Assigning this to sguada, as he has the TODO(sguada) about this in the related file.

[2018-02-07 23:44] itsmeolivia commented on #255
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:44] #255 closed

[2018-02-07 23:45] gunan commented on #343
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

No activity on the original issue. @wazzy your question is better asked through stackoverflow as it is not a bug with the code in this repository.

[2018-02-07 23:45] #343 closed

[2018-02-07 23:45] gunan commented on #346
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:45] #346 closed

[2018-02-07 23:46] karmel commented on #314
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:46] #314 closed

[2018-02-07 23:46] yifeif commented on #423
Thanks @snnn! @abes975 does @snnn's solution work for you?

[2018-02-07 23:48] yifeif commented on #438
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:48] #438 closed

[2018-02-07 23:49] karmel commented on #478
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:49] #478 closed

[2018-02-07 23:50] yifeif commented on #443
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:50] #443 closed

[2018-02-07 23:51] karmel commented on #474
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:51] #474 closed

[2018-02-07 23:51] karmel commented on #491
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:51] #491 closed

[2018-02-07 23:52] gustavomr commented on #1428
@tfbody im using P100 as GPU. I will test o flowers dataset using inception v3, learning rate 0.01 and 1000 steps. So, I will create 4 tests:

1) CPUs and batch size = 100
2) one GPU and batch size = 100
3) three GPU and batch size = 100
4) three GPU and batch size = 32

Which one has to be faster in your opinion?

[2018-02-07 23:52] gunan commented on #391
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:52] #391 closed

[2018-02-07 23:53] yifeif commented on #444
Looks like this has been fixed. Closing. Thanks!

[2018-02-07 23:53] #444 closed

[2018-02-07 23:55] itsmeolivia commented on #284
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:55] #284 closed

[2018-02-07 23:56] yifeif commented on #436
@calberti any comment? Thanks!

[2018-02-07 23:56] karmel commented on #502
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-07 23:56] #502 closed

[2018-02-07 23:57] mingxingtan commented on #533
It should work with the updates from @mawah. I am closing this bug now, but feel free to reopen it if you still have issues.

[2018-02-07 23:57] #533 closed

[2018-02-07 23:58] gunan commented on #387
This is likely just due to randomness making changes. The accuracy is still within the ballpark.
Therefore I will close this issue.

[2018-02-07 23:58] #387 closed

[2018-02-07 23:58] karmel commented on #468
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:58] #468 closed

[2018-02-07 23:58] itsmeolivia commented on #558
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:58] #558 closed

[2018-02-07 23:59] gunan commented on #378
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 23:59] #378 closed

[2018-02-07 23:59] karmel commented on #515
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:59] #515 closed

[2018-02-07 23:59] gunan commented on #375
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-07 23:59] #375 closed

[2018-02-08 00:00] gunan commented on #376
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:00] #376 closed

[2018-02-08 00:00] gunan commented on #357
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:00] #357 closed

[2018-02-08 00:01] karmel commented on #517
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-08 00:01] mingxingtan commented on #539
I would recommend using the new garden models: https://github.com/tensorflow/models/, since we are moving from slim to garden models.

I am closing this bug now. If you have similar or other issues with the new official models, please feel free to file a separate bug. Thanks!

[2018-02-08 00:01] #517 closed

[2018-02-08 00:02] gunan commented on #360
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:02] #360 closed

[2018-02-08 00:03] gunan commented on #352
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:03] #352 closed

[2018-02-08 00:04] gunan commented on #373
Looks like the original issue was resolved.

[2018-02-08 00:04] #373 closed

[2018-02-08 00:05] itsmeolivia commented on #596
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:05] isaprykin commented on #705
Please reopen if this is still an issue or link the actual github issue related to syntaxnet failure.

[2018-02-08 00:05] #705 closed

[2018-02-08 00:05] #596 closed

[2018-02-08 00:06] karmel commented on #526
The Inception model in this repository is not supported, and we would encourage you to look at more recent issues where contributions are welcome. Thanks!

[2018-02-08 00:06] #526 closed

[2018-02-08 00:06] itsmeolivia commented on #602
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:06] #602 closed

[2018-02-08 00:09] mingxingtan commented on #538
This is a duplication of #830.

[2018-02-08 00:09] #538 closed

[2018-02-08 00:14] itsmeolivia commented on #610
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:14] #610 closed

[2018-02-08 00:14] yifeif commented on #456
We don't currently have the plan to rewrite syntaxnet in go. I'm closing this issue for now. @sunface-io let us know what kind of issue you are running into with the python version if this is still a problem for you. Thanks!

[2018-02-08 00:14] #456 closed

[2018-02-08 00:14] aselle commented on #912
Closing as original poster did not provide requested information. Please reopen if it is still an issue.

[2018-02-08 00:14] #912 closed

[2018-02-08 00:15] itsmeolivia commented on #615
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:15] #615 closed

[2018-02-08 00:17] itsmeolivia commented on #620
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since slim is not supported. There is also a larger community that reads questions there. Thanks!

[2018-02-08 00:17] #620 closed

[2018-02-08 00:17] yifeif commented on #450
@20GT I'm closing this due to lack of activity. Please feel free to reopen if this is still an issue for you. Thank you!

[2018-02-08 00:17] #450 closed

[2018-02-08 00:19] itsmeolivia commented on #694
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:19] #694 closed

[2018-02-08 00:19] gunan commented on #1029
Only models under official folder are now officially supported.
For anything else, we welcome any contributions or fixes.

[2018-02-08 00:19] #1029 closed

[2018-02-08 00:19] gunan commented on #1023
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:19] #1023 closed

[2018-02-08 00:19] aselle commented on #952
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:19] #952 closed

[2018-02-08 00:20] itsmeolivia commented on #696
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:20] #696 closed

[2018-02-08 00:21] itsmeolivia commented on #698
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:21] #698 closed

[2018-02-08 00:24] mingxingtan commented on #762
Close due to inactivity.

Please switch to the latest tensorlfow, but if you still have issues, please feel free to reopen it.

[2018-02-08 00:24] #762 closed

[2018-02-08 00:24] gunan commented on #1021
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:24] #1021 closed

[2018-02-08 00:24] #710 closed

[2018-02-08 00:25] annarev commented on #626
greaber@ is this issue still relevant?
If it is, can you please provide more details about the model you are using and which command you are building it?

[2018-02-08 00:25] itsmeolivia commented on #714
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-08 00:25] #714 closed

[2018-02-08 00:26] aselle commented on #653
Sorry, about the lack of the response, syntaxnet is an unsupported research project, so I am closing this issue for now.

[2018-02-08 00:26] #653 closed

[2018-02-08 00:29] aselle commented on #646
@altosz is this still an issue? I imagine you are on High Sierra now anyways.

[2018-02-08 00:29] itsmeolivia commented on #723
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-08 00:29] #723 closed

[2018-02-08 00:30] annarev commented on #643
Sounds like everyone in the thread was able to build it eventually, closing.

[2018-02-08 00:30] #643 closed

[2018-02-08 00:33] itsmeolivia commented on #728
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-08 00:33] #728 closed

[2018-02-08 00:35] itsmeolivia commented on #729
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:35] #729 closed

[2018-02-08 00:37] itsmeolivia commented on #739
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:37] #739 closed

[2018-02-08 00:39] insprintorob commented on #3331
Tensorflow is out of date. Try upgrading to 1.5.

[2018-02-08 00:40] itsmeolivia commented on #756
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:40] #756 closed

[2018-02-08 00:41] itsmeolivia commented on #1082
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:41] #1082 closed

[2018-02-08 00:48] mingxingtan commented on #768
Close due to inactivity for a long time.

[2018-02-08 00:48] #768 closed

[2018-02-08 00:49] aselle commented on #3326
Yes, let's. @av8ramit.

[2018-02-08 00:51] mingxingtan commented on #774
Close due to inactivity for a long time.

[2018-02-08 00:51] #774 closed

[2018-02-08 00:53] mingxingtan commented on #766
Close due to inactivity. Please check out the latest model code.

[2018-02-08 00:53] #766 closed

[2018-02-08 00:53] gunan commented on #1005
@linrio any updates?

[2018-02-08 00:55] itsmeolivia commented on #1103
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:55] #1103 closed

[2018-02-08 00:55] tfboyd commented on #1428
Normal batch sizes would be 32/64/128 per GPU.  I think the P100 can do 128
but I would stick with 64.  No need to test CPU, if you are doing CPU you
want to read my CPU guide.

If you do more gpus then do weak scaling meaning gpus * batch size so
32*2=64 or 32*4=128.

More gpus will be faster if using weak scaling.  3 gpus and 100 is weird
because 100/3 is not a whole number.

I think slim report

[2018-02-08 00:55] mingxingtan commented on #784
Close due to inactivity for a long time. Please check out the latest tf and model code.

[2018-02-08 00:55] #784 closed

[2018-02-08 00:56] mingxingtan commented on #789
Close due to inactivity for a long time.

[2018-02-08 00:56] #789 closed

[2018-02-08 00:59] gunan commented on #1001
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:59] #1001 closed

[2018-02-08 00:59] itsmeolivia commented on #1111
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 00:59] #1111 closed

[2018-02-08 01:01] #983 closed

[2018-02-08 01:02] gunan commented on #979
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:02] #979 closed

[2018-02-08 01:03] itsmeolivia commented on #1116
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-08 01:07] itsmeolivia commented on #1128
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-08 01:07] #1128 closed

[2018-02-08 01:20] #972 closed

[2018-02-08 01:59] liamnaka commented on #816
@jeffxtang glad you figured it out! @ztwe check out the strip_unused functionality, and yes, you do need to implement beam search

[2018-02-08 07:11] abes975 commented on #423
@yifeif thanks a lot!
Yes it perfectly answered my question!
Thanks!

[2018-02-08 07:11] #423 closed

[2018-02-08 10:08] gustavomr commented on #1428
Ok, so I will setup my training on slim as you said:

1) one GPU and batch size = 64
2) two GPU and batch size = 64
3) two GPU and batch size = 32

For every try I will get a log and cmd to you. As I said, my results are not faster than using retrain (using only CPU).

[2018-02-08 10:33] mmazloum commented on #1116
@itsmeolivia I added a comment on this issue because I had the same problem but it's not related to tensorflow directly.

The issue is that the XCode IDE (Mac OS users only) won't link with the protocolbuffer library, so any header file like the ones suggested above ( 'google/protobuf/stubs/common.h') included in a XCode project won't compile.

Feel free to ask if you need more info.

[2018-02-08 10:39] LucasMahieu commented on #1358
Hi, I have exactly the same problem than @blake-varden. I also have "yurt" instead of "husky" or other dogs...

Any idea to solve this issue ?
It seems that the training was made with a different order of the human readable list ...

[2018-02-08 10:51] julianklumpers commented on #3179
i have the same warning: WARNING:root:image 0 does not have groundtruth difficult flag specified
but i dont have the traceback error. it just hangs on the warning

[2018-02-08 12:37] chengmengli06 commented on #3307
test_stn_shrink.py
$cat test_stn_shrink.py
import cv2
import tensorflow as tf
import numpy as np
from transformer2 import spatial_transformer_network as stn
from tensorflow.python.util import compat
from tensorflow.python.saved_model import signature_constants
import sys

input_img = cv2.imread(sys.argv[1])
cv2.imwrite("stn_input.bmp", input_img)
nwidth = 32 * input_img.shape[1] / input_img.shape[

[2018-02-08 15:48] apacha commented on #3331
Can confirm, that updating to TF 1.5 fixes this issue. Still - it's really ugly to have an exception in a tutorial script if you use TF 1.4 instead of the newest 1.5 version... No deprecation warning, nothing. Just a hard crash.

[2018-02-08 16:38] gustavomr commented on #1428
@tfbody here are my tests:

TF slim (train_image_classifier.py) using this cmd:

python train_image_classifier.py \
  --train_dir=${TRAIN_DIR} \
  --dataset_name=flowers \
  --dataset_split_name=train \
  --dataset_dir=${DATASET_DIR} \
  --model_name=inception_v3 \
  --checkpoint_path=${PRETRAINED_CHECKPOINT_DIR}/inception_v3.ckpt \
  --checkpoint_exclude_scopes=InceptionV3/Logits,InceptionV3/AuxL

[2018-02-08 17:02] Johnson145 opened #3344 "How to calculate top-k in-class accuracies using TensorFlow Slim metrics"
I already asked this question on [stackoverflow](https://stackoverflow.com/questions/48600929/how-to-calculate-top-k-in-class-accuracies-using-tensorflow-slim-metrics), but didn't get an answer. So I hope it's okay to repost my question here:

I'd like to extend [this script][1] such that it is able to evaluate the top-k accuracies per class. I hope it boils down to adding a metric to the followin

[2018-02-08 17:07] tfboyd commented on #1428
So you are mixing up the stats.    It is seconds/step and then global steps in a second.

[code]
batch-size 32 this would be  8.0496 * 32 = 256 images/sec
batch-size 64 this would be  4.5 * 64 = 256 images/sec = 288

Your examples did not include num_clones which would be num_clones=2 if you want to use 2 GPUs.  I do not have a good guess at the scaling from 1 to 2 GPUs there are a lot of factors

[2018-02-08 17:22] muhammedchand opened #3345 "Bug in beginners tutorial using premade_estimator.py"
### System information
- **What is the top-level directory of the model you are using**:
 C:\Python3\Lib\site-packages\tensorflow\models\samples\core\get_started
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
Binary

[2018-02-08 17:24] gustavomr commented on #1428
@tfbody I edited my post to put --num_clones. I used it running my script.

I got what you said.

*But why I get better results using retrain (using one CPU) compared with tf slim?
*Do you have any idea?

In my opinion because tf slim use GPU (and you have option to use how many you want) it should have better performance than retrain.

[2018-02-08 17:47] tfboyd commented on #1428
I am 100% sure that you are not getting 256 images/sec with CPU.  It likely ended up on the GPU anyway, you can try again with CUDA_VISIBLE_DEVICES='' python blah.py

I am almost never 100% sure of anything.  I do not run this code but I did all of the performance guides and run perf tests all the time and know many of the numbers by heart.

Training Resnet50 (easier than inceptionv3) is 6.2 image

[2018-02-08 18:34] rzhai commented on #2194
during train, I noticed "Corrupt JPEG data: premature end of data segment" in middle of training steps

[2018-02-08 19:30] Johnson145 opened #3346 "Slim models: How to know model-specific std and mean values"
### Describe the problem
I'm wondering how to know which mean and std values should be used for running inference with a specific net.

For instance, [this](https://github.com/tensorflow/models/tree/master/research/slim#run-label-image-in-c) suggests that the slim inception-v3 model requires `input_mean=0` and `input_std=255` to be used. However, the "old non-slim" inception-v3 model used `input_m

[2018-02-08 19:53] jkim19 commented on #3331
I saw this error too (1.4).  If you don't want to (can't for some reason) upgrade to 1.5, you can correct this error in the iris_data.py eval_input_fn.  Instead of return dataset, you can return dataset.make_one_shot_iterator().get_next().  The error message gives you clues, but unfortunately, it doesn't give you the exact spot to look for.

[2018-02-08 19:56] jkim19 commented on #3331
Also, I believe this issue can be closed.

[2018-02-08 23:37] rohitsalem commented on #3116
@oneTimePad Check this [issue](https://github.com/tensorflow/models/issues/3270), The code posted by wkelongws works and gives around 10fps with ssd-mobilenet. He has achieved it by splitting the load- by having the CNN stuff on GPU and the Post processing stuff on CPU. BTW were you able to get Faster R-CNN working on TX2 yet? I am getting the same error as yours.

[2018-02-09 00:34] michaelisard commented on #3344
I'm sorry, but I think your best bet is to keep looking for answers on stackoverflow. These issues are only for bug reports and feature requests, and don't get as many eyes on them in any case.

[2018-02-09 00:34] #3344 closed

[2018-02-09 01:06] siddharthm83 commented on #3071
Same here. 1.4 failed twice arbitrarily but 1.2 works. @jiaxunwu Can I export my trained model with TF 1.4 and expect it to work? My TF-serving infra is based on TF 1.4.

[2018-02-09 01:22] mrfortynine commented on #3270
I encounter similar issue with SSD model. What's more confusing is that profiler reports that most of time of `tf.where` is actually spent on CPU, event though device placement log shows that the op is placed on GPU.
[code]

[2018-02-09 01:51] mrfortynine commented on #3270
I'm seeing this on checkpoint as well as frozen graph.

[2018-02-09 02:13] JayJoeSeventh commented on #3337
@ZER-0-NE Thanks ! :)

[2018-02-09 02:13] #3337 closed

[2018-02-09 02:25] aldrin233 commented on #3328
Try putting export_inference_graph back to the original directory then run from there. Looking at my files, i try to run export_inference_graph.py in its original directory.

[2018-02-09 02:41] jiadongzh opened #3347 "'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, image_size must contain 3 elements[4]"
Dear all,

When I used the slim (inception_v3) to train the image classification model, I got the following error periodically. I don't know what is the meaning and what reason causes the error. Any help would be greatly appreciated.

INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, image_size must contain 3 elements[4]

[2018-02-09 02:44] chengmengli06 commented on #3307
@drpngx any ideas? I think it may due to something related to float precision? But I am not familiar with tensorflow code, as the pixel values only differs by one .

array([193, 166, 145], dtype=uint8)

array([192, 165, 144], dtype=uint8)

[2018-02-09 02:52] insprintorob commented on #3331
One thing i'd suggest - update the tutorial to say minimum requirements of 1.5. It currently says 1.4.

[2018-02-09 04:51] Tsuihao commented on #3196
Hi @augre,

I have not tried it yet.
I am also thinking about the same approach as you described and will try it as long as I have time.

I am not sure how the performance will be of cropping training images.
Maybe you can share your experience later :)

[2018-02-09 06:00] oneTimePad commented on #3116
@rohitsalem  Thanks! I'll take a look.

 Interestingly, I found the issue why SSD was so slow for me. It was a bug in my custom inference code. I am taking my target image and extracting 24 crops of size 1000x1000 (original image was 24MP) and running them though SSD in parallel. This is to deal with the small object issue, and it seems to be able to run through all 24 crops in around 1.3 seconds.

[2018-02-09 06:10] oneTimePad commented on #3084
Just an update on this. I was able to get the Multi-Task feature working with SSD. However, there appears to be an issue with localization when one of the characteristics of the object of interest is embedded in the whole object. For example, if the two characteristics are animal and eye-color, the bounding box should be around the whole animal and not the animal's eyes. However, I have seen the b

[2018-02-09 06:15] teng88 opened #3348 "Request for pre-trained model of NASNet-A (7 @ 1920)"
Can we release the pre-trained model for NASNet-A (7 @ 1920)? I think this config is very competitive compared to inception-v3 and inception-resnet v2 which have already widely used.

[2018-02-09 06:17] teng88 commented on #3348
@BarretZoph

[2018-02-09 07:06] ckalas commented on #3328
@aldrin233 it works from that directory! i had got it to export last year from another directory by copying files, i guess they changed stuff. the error i was getting though was not indicative of the problem at all which is difficult.

[2018-02-09 07:06] #3328 closed

[2018-02-09 08:16] yangxueping opened #3349 "InvalidArgumentError: image_size must contain 3 elements[4]"
Error:
INFO:tensorflow:global step 1560320: loss = 3.6371 (1.282 sec/step)
INFO:tensorflow:global step 1560330: loss = 5.6302 (0.578 sec/step)
INFO:tensorflow:global step 1560340: loss = 4.1244 (0.580 sec/step)
INFO:tensorflow:global step 1560350: loss = 2.8891 (0.574 sec/step)
INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, im

[2018-02-09 08:18] yangxueping commented on #3349
Any help is very much appreciated. Thank you for your time.

[2018-02-09 11:42] LaurentBerder opened #3350 "ImportError: cannot import name 'preprocessor_pb2'"
------------------------

### System information
- **What is the top-level directory of the model you are using**: Models/research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow

[2018-02-09 11:55] puren commented on #3331
Thank you for your suggestions. I will try @jkim19's suggestion. If it doesn't work, I guess I will need to upgrade TF.
@insprintorob yes I agree. I think it should be updated.

[2018-02-09 11:55] #3331 closed

[2018-02-09 17:16] greaber commented on #626
Sorry, but I haven't looked at this model in a long time and don't remember
any more details. If no one else is complaining, maybe it is not relevant.

8 февр. 2018 г. 2:26 пользователь "annarev" <notifications@github.com>
написал:

greaber@ is this issue still relevant?
If it is, can you please provide more details about the model you are using
and which command you are building it?

—
You are re

[2018-02-09 17:26] amirjamez opened #3351 "Feature Request: eval_image_classifier.py to accept a frozen (.pb) file"
Is there a way to use `eval_image_classifier.py` with a `frozen.pb` file directly? I know `label_image` does the inference with .pb, but I need to have standardized comparison using the whole test batch of imagenet. This feature will be useful for many I guess.  Thanks.

- **OS Platform and Distribution: Linux Ubuntu 14.04/16.04
- **TensorFlow installed from (source or binary)**: Source v1.3
- **B

[2018-02-09 18:03] skye commented on #3323
@sguada can you comment? Thanks. I'm gonna mark contributions welcome for now, please feel free to submit a PR!

[2018-02-09 18:06] skye commented on #3329
@martinwicke can you comment or redirect? Thanks!

[2018-02-09 18:23] skye commented on #3345
@nealwu is this your jurisdiction?

[2018-02-09 18:24] skye commented on #3347
Can you fill out the new issue template please? Thanks.

[2018-02-09 20:39] nealwu commented on #3345
The samples folder is @MarkDaoust

(FYI you can check [CODEOWNERS](https://github.com/tensorflow/models/blob/master/CODEOWNERS) to see who to assign issues to)

[2018-02-09 22:05] erfannoury opened #3355 "Bug in finding smallest side when preprocessing"
### System information
- **What is the top-level directory of the model you are using**: `models/research/slim/preprocessing`
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04.5, Windows 10 x64
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow v

[2018-02-10 02:50] Shirhe-Lyh opened #3356 "bugs in faster_rcnn_meta_arch_test_lib.py"
When I was runing the module faster_rcnn_meta_arch_test_lib.py in ubuntu16.04:

#From object_detection/meta_architectures
$ python3 faster_rcnn_meta_arch_test_lib.py

I got 3 errors listed as following:

======================================================================
ERROR: test_loss_with_hard_mining (__main__.FasterRCNNMetaArchTestBase)
-----------------------------------------------------

[2018-02-10 11:19] Longbowman opened #3357 "Check failed: stream->parent()->GetConvolveAlgorithms( conv_parameters.ShouldIncludeWinogradNonfusedAlgo<T>(), &algorithms) Aborted (core dumped)"
Hi

Getting same error over time
[code]
I worked with keras applications Resnet50 which worked finely on google street view training set.
os:  Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-112-generic x86_64)
tensorflow installed from binary
tensorflow-gpu 1.4.1.
Nvidia Driver Version: 384.111
GPU: Tesla K80 12GB
Cuda: 8.0.61-1
CudNN: 6.0.21

full text of error is below.

[code]

[2018-02-10 12:19] bhack commented on #1357
See also https://github.com/tensorflow/tensorflow/issues/16182#issue-289171688

[2018-02-10 13:34] AshutoshSancheti opened #3358 "ValueError: var_list cannot be empty"
I used the tf.contrib.slim model of Inception v4, modified it to classify 120 classes instead of 1001.
I have used the pretrained weights and initialized my new layers randomly.
I am new to tensorflow. Please tell me whether the method I have followed to change the model is correct?

These are the changes done by me.
[code]
------------------------

### System information
- OS : Windows 10
- Tenso

[2018-02-10 14:11] XIONGJIECHENG commented on #3291
I have the same error. Have you solved it? @krystynak

[2018-02-10 17:15] asabbah commented on #3331
I tried @jkim19 method, but still have the same error

[2018-02-11 01:27] notsmartenough commented on #1934
Seriously, nothing works!!!!

[2018-02-11 01:28] notsmartenough commented on #1934
I have been trying everything I can and seriously, nothing work!!!

[2018-02-11 03:35] notsmartenough opened #3359 "ValueError: No op named NonMaxSuppressionV2 in defined operations"
I have downloaded the models, downloaded and compiled protoc 3.4 and I have tensorflow-gpu 1.1 and tf cpu 1.2 (in an anaconda env). I am working on windows 10. When I run the code in [`object-detection-tutorial`](https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb)  the code throws this error in "Load a (frozen) Tensorflow model into memory" p

[2018-02-11 06:05] Bahramudin commented on #3349
Hi sir! I also have the same problem with TensorFlow, did you find the solution? Thanks!

[2018-02-11 07:20] apacha commented on #1934
@notsmartenough We had a very strange situation here as well. Have you tried [installing/copying the respective folders to your environment](https://github.com/apacha/MusicObjectDetector-TF/tree/master/MusicObjectDetector#windows)?

[2018-02-11 08:16] lincet commented on #2215
I'm using Windows 10, Python 3.6.4 and Tensorflow 1.5. I get this problem too.
D:\develop\models\research>python object_detection\dataset_tools\create_pascal_tf_record.py --data_dir=D:\dataset\VOCdevkit\ --year=VOC2012 --set=train --output_path=D:\dataset\TFrecord\data\pascal_train.record
Traceback (most recent call last):
  File "object_detection\dataset_tools\create_pascal_tf_record.py", line 18

[2018-02-11 10:37] notsmartenough commented on #1934
I finally had no errors when I uninstalled a lot of things and installed them again along with protoc 3.4. I was doing this for object detection using tensorflow API but now I face this  [issue](https://github.com/tensorflow/models/issues/3359) when I try to run their tutorial template. Also `python object_detection/builders/model_builder_test.py` gives no mudule error.

[2018-02-11 11:13] newip commented on #3331
Change the "return" does not fix it. I can only use 1.4.1 at this time. @jkim19 would you please help more further? Thanks a lot.

[2018-02-11 11:49] ksenyakor commented on #466
Hi all,
I try to use pretrained models by @psycharo . When I test the model to get softmax output and LSTM states  I get an error: "Key lstm/logits/biases not found in checkpoint" .

Tensorflow version is 1.0.1, python 2.7

This is console output:
`universal@universal-ubuntu:~/anaconda3/envs/MyGAN$ python test.py
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libc

[2018-02-11 12:02] zeshaoaaa commented on #2215
Did anyone solve it?

[2018-02-11 14:06] VanitarNordic opened #3360 "Weird erros at training ... (train.py)"
Hello,

I could not solve these errors:

[code]

[2018-02-11 20:14] VanitarNordic commented on #3360
The problem has fixed. actually inside the label_map.pbtxt the name of the object must be enclosed with " " not with ' '

Now I have a different problem. Although I have installed Cuda 9.0, but the model mostly train on CPU and very little on GPU

[2018-02-11 22:06] jkim19 commented on #3331
Hi, sorry about that.  You also have to change the return of train_input_fn to dataset.make_one_shot_iterator().get_next().  Both train_input_fn and eval_input_fn need to return this rather than just dataset.  I was using a local train function and didn't realize that until the last couple comments.  Remember this is only 1.4 and looking at the previous comments it looks like 1.5 doesn't have this

[2018-02-11 22:48] Josh-Payne opened #3361 "Type error upon first running"
Came across an interesting type error when running `$ python mnist.py ` right after downloading the models repository. Here are the details:

[code]
MacOS 10.13.2, version of Tensorflow: ('v1.4.0-19-ga52c8d9b01', '1.4.1'). Installed from the source, no custom code written.

[2018-02-11 23:34] nishanthdikkala commented on #3331
Upgrading to tensorflow1.5 did not fix the issue for me. I'm using tensorflow on Windows10 (installed using pip3 and using python3.6).

[2018-02-12 00:37] Josh-Payne opened #3362 "Documentation Request"
Docs request for the official MNIST model: you have some example test data as 2 .pngs and the representative .npy file, but no steps as to how to convert the .pngs to .npy. A script would be super helpful. Thanks so much!

[2018-02-12 01:40] newip commented on #3331
@jkim19 So nice. It works well for me now. That's cool. Thumbs up!

[2018-02-12 04:35] kakpple commented on #3221
@yaroslavvb I did exact same thing as you did for step 2 and 3 and able to make tfrecord files for imagenet. And i started slim training for resnet50 and mobilenetv1 and make darknet-19(made my own using slim), but I get accuracy around 60%, but the accuracy should be above at least 70%.
Did you get the accuracy as claimed in paper for any nets in slim?

[2018-02-12 04:45] baimukashev opened #3364 "Object Detection API error with 16-bit images (PNG)"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Bazel version (if compil

[2018-02-12 04:45] kakpple commented on #2241
Same issue for me here, I cant get accuracy above 70% as claimed in the paper for mobilenet and resnet50. top1 accuracy stays around 60%. this is training strategy issue?

[2018-02-12 04:53] kakpple commented on #991
It's easier to train if you add batch_norm by adding "normalizer_fn=slim.batch_norm" as follows.
But in original paper, batch norm is not implemented.

with slim.arg_scope([slim.conv2d, slim.fully_connected,
                        normalizer_fn=slim.batch_norm, outputs_collections=end_points_collection):

[2018-02-12 06:30] yangxueping commented on #3349
sorry, not solved! I am testing images one by one. I suspect it is a problem with some images, Because it can runing on some images,  but not on other images.  Just my guess.

[2018-02-12 07:51] MyVanitar opened #3365 "Background only images support"
Hi,

Does the object detection model support "background only" images in training?

[2018-02-12 08:02] VanitarNordic opened #3366 "GPU is detected but training starts on the CPU"
Hi,

I have installed the tensorflow-gpu 1.5 or 1.6.rc0 in accompany with Cuda-9.0 and CuDNN-7.0.5
When I start training using `train.py`, it detects the GPU, but it starts the training on the CPU and CPU load is 100%. The GPU memory gets filled and its core clocks increases but it does not show any consistent load on the cores.

[code]

[2018-02-12 08:05] #3360 closed

[2018-02-12 08:25] VanitarNordic opened #3367 "ModuleNotFoundError: No module named 'pycocotools'"
Hi,

When I try to run the `eval.py` to check the trained model on the validation dataset, I get the following error:

`ModuleNotFoundError: No module named 'pycocotools`

What's the reason of this?

[2018-02-12 08:51] monomon commented on #3367
The reason is that it is not in your `PYTHONPATH` environment variable.

[2018-02-12 08:53] VanitarNordic commented on #3366
![pr](https://user-images.githubusercontent.com/18719591/36089124-801990ce-0fef-11e8-83d6-22a694a87903.png)

[2018-02-12 08:57] VanitarNordic commented on #3367
@monomon

I have included all in the python path, otherwise the `train.py` was also showing errors, but it does not.
By the way, what's its path. I should mention that I run on Windows.

[2018-02-12 09:04] monomon commented on #3367
This is not true, I am using it on Windows. Could you show me your path, and where pycocotools is installed?

[2018-02-12 09:08] VanitarNordic commented on #3367
Alright the problem solved.

I write for anyone who might face the same error in the Windows.

First, install `Cython` by `pip install Cython`

Second, install `pycocotools` by running `pip install git+https://github.com/philferriere/cocoapi.git#egg=pycocotools^&subdirectory=PythonAPI`

[2018-02-12 09:09] VanitarNordic commented on #3367
@monomon

if you run on windows, (the last repo), please check my another issue also because I have problems with CPU and GPU.

[2018-02-12 09:09] #3367 closed

[2018-02-12 09:09] monomon commented on #3367
Glad you solved it.

[2018-02-12 09:13] monomon commented on #3366
Seems like the GPU *is* being used. How are you loading your input data? Could be that that part works intensively on the CPU.

[2018-02-12 09:20] VanitarNordic commented on #3366
I just followed the procedure. I have created `train.record` and `val.record` and it accompanies with a config file, a `label_map.pbtxt` and a pretrained weights.
Then I run training in the console.  as you see it detects the GPU, but the load goes to CPU.

 I don't know it is related or not, but I trained till 800 steps but the loss plays around 2 and 3.

[2018-02-12 09:35] jerowe opened #3368 "mask_rcnn configs missing some values"
### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.

In the instructions here for training with mask_rcnn -
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/instance_segmentation.md

There are instructions for updating a faster_rcnn config. In this instructions are two steps, load_inst

[2018-02-12 10:52] baimukashev opened #3369 "Tensorflow Object Detection API for 1-channel grayscale image"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
- **Bazel version (if compiling from source)**:

[2018-02-12 13:23] Johnson145 commented on #1286
In case any body else stumbles over this: the above code example from @vn09 works good, but has a tiny bug in it. The two parameters for the `labels` and `predictions` are swapped in the method call:
[code]
vs
[code]

[2018-02-12 13:51] Johnson145 commented on #3346
I guess I found an answer at least for the inception-v3 net:

https://github.com/tensorflow/models/blob/fd7b6887fb294e90356d5664724083d1f61671ef/research/slim/preprocessing/inception_preprocessing.py#L254-L257

Wouldn't it make sense to include the `tf.image.convert_image_dtype` method into the finally exported net as well? Such that we do not need to care about manual normalization during inferen

[2018-02-12 13:55] ericsheetz commented on #2994
Check the path to the training and evaluation data.  I had the same error and discovered a typo in my environment variables.

[2018-02-12 17:33] derekjchow commented on #3359
I believe this is due to old tf version. Could you try upgrading to version 1.4?

[2018-02-12 17:35] derekjchow commented on #3350
Did you follow the "Protobuf Compliation" [installation steps](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md#protobuf-compilation) before running train? What about adding the PYTHONPATH variables?

[2018-02-12 18:22] cy89 commented on #3366
@VanitarNordic are you convinced that this is a bug, and not just some sort of configuration thing?
Would you please fill out the usual platform/configuration/reproducibility part of the standard report?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure

[2018-02-12 18:55] VanitarNordic commented on #3366
@cy89

It might be a bug, because I have tested many things and I followed a standard procedures. During my google search I saw some other people had also reported something like this. if you feel it is necessary, I'll find where it was.

**Platform:** Windows10-x64
**CUDA:** Cuda-9.0 and CuDNN-7.0.5 - GTX 1060 6G GPU
**Tested by these Tensorflow versions:** 1.5 and 1.6-rc0 (both shows a similar b

[2018-02-12 19:04] joel-shor commented on #3268
@FightForCS  Any updates?

[2018-02-12 19:04] joel-shor commented on #3287
Good catch. PR #3370 fixes this.

[2018-02-12 19:04] #3287 closed

[2018-02-12 22:03] mttang commented on #3369
You could convert a single channel grayscale image to a 3 channel RGB image to use the pre-trained RGB models. Alternatively, you could train a grayscale model yourself by using convert_to_grayscale in models/research/object_detection/protos/image_resizer.proto.

[2018-02-12 22:19] joel-shor commented on #3295
This is fixed.

[2018-02-12 22:24] VanitarNordic commented on #3366
in this issue some users have encountered the same problem: https://github.com/tensorflow/tensorflow/issues/12388#issuecomment-365081928

[2018-02-13 00:11] kakpple opened #3372 "Tensorflow slim validation accuracy is 0 for default models like mobilenet/inception trained on imagenet from scratch."
Hi,

As title says,
I trained tensorflow slim default models like mobilenetv1 and inceptionv2 on imagenet from scratch.
The loss is decreasing from ~7 to ~2, training seems to be good.
But the validation accuracy using eval_image_classifier.py shows around 0.
Checkpoints trained from scratch is used for validation accuracy check.

While I use tensorflow provided pretrained checkpoints of mobilenet

[2018-02-13 00:46] adriancar commented on #3366
I'm getting similar behaviour to what @VanitarNordic describes:
Platform: Windows7-x64
CUDA: Cuda-9.0.176.1 and CuDNN-7.0.5 - GTX 1060 6G GPU
Tested by these Tensorflow versions: 1.5, Installed through pip `pip install tensorflow-gpu` as per official tensorflow install instructions for anaconda.

When I run mnist_test.py from https://www.tensorflow.org/tutorials/layers i get cpu under heavy load,

[2018-02-13 01:06] adriancar commented on #3366
Augh, it seemed to be a driver issue for me: I uninstalled, re-downloaded, and re-installed my gpu drivers, restarted my computer, and it seems to be working fine now!

[2018-02-13 06:03] meyougonglv commented on #3361
i've got the same error, have u solved it ?

[2018-02-13 07:02] Josh-Payne commented on #3361
Unfortunately not...I ended up just using an older version of the repository

[2018-02-13 07:48] shishaozheng opened #3373 "Compression: OOM error when encoder a image with resolution 2560 x 1600"
### Describe the problem
OOM error occurred when i use image_encoder to encoder an jpeg image with  2560 x 1600 resolution. Is there any size limit for the original image resolution before encoding?(The README file just said the height and width of image must can be divisible by 32 pixel )

### Source code / logs
2018-02-13 07:46:11.617938: W tensorflow/core/common_runtime/bfc_allocator.cc:277] **

[2018-02-13 08:08] VanitarNordic commented on #3366
@adriancar

Make sure that it is working and test its operation by the open-hardware-monitor software, because I have done these steps many times but still it does not work. The load is on the CPU.

[2018-02-13 08:24] adriancar commented on #3366
@VanitarNordic

After reinstalling the driver, when executing training, hardware monitor shows my GPU gets pegged at 100%, while CPU sits at ~25%.

[2018-02-13 08:27] VanitarNordic commented on #3366
@adriancar

I'm using the latest driver and I had cleaned everything before. Are you using the last commit?

[2018-02-13 08:38] adriancar commented on #3366
I used a fresh tensorflow install on a fresh anaconda env. I fetched it using the instructions on tensorflow website - version 1.5.0.

[2018-02-13 08:44] VanitarNordic commented on #3366
@adriancar

No, what I mean from the latest commit, is the tensorflow detection API repository. when have you downloaded and used the latest repository?

[2018-02-13 13:29] arpan8514 commented on #3130
I am facing the issue at my Ubuntu 14.04:
/object_detection/protos/string_int_label_map_pb2.py", line 41, in
options=None, file=DESCRIPTOR),
TypeError: new() got an unexpected keyword argument 'file' while using protoc-3.2.0. I verified my installed protobuf version with the command "pip freeze | grep proto".
Any suggestion ??

[2018-02-13 14:46] 1042799521 commented on #3347
I meet the same question just now.

[2018-02-13 14:47] 1042799521 commented on #3349
I meet the problem just now.

[2018-02-13 15:27] bkj opened #3374 "DELF: Image pyramid during training?"
Hello --

I'm looking for some clarification on how DELF training works.   In section 4.1 of the paper, it says

Are descriptors extracted this way at training time, or just at test time?

Thanks

cc @andrefaraujo

[2018-02-13 15:53] RDaneelOlivav commented on #2653
Still getting this error with the latest version of the master branch.
Any other cause? Because it seems it was merged the fix to master but still happens here.

[2018-02-13 16:10] andrefaraujo commented on #3374
This happens only at test time.

[2018-02-13 16:21] caroline6927 commented on #2653
I'm getting the same error

- windows 7
- tensorflow 1.4
- python 3.6
- just checked out tensorflow/models today (last update Feb 10 2018)

## **Error message:**
[code]

Please help. Many thanks in advance.

[2018-02-13 17:03] cy89 commented on #1934
@notsmartenough shoulld we close in favor of #3359, or do you have a separate issue you'd like to debug here?

[2018-02-13 17:05] cy89 commented on #3356
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-13 17:05] #3356 closed

[2018-02-13 17:10] cy89 commented on #3358
@AshutoshSancheti do you have the full stack backtrace from Python?

There's certainly an exception check that the var_list passed into assign_from_checkpoint_fn isn't empty. The backtrace ought to give you hints about where something wasn't passed in correctly.

[2018-02-13 17:21] cy89 commented on #3362
@nealwu can you please offer advice?

[2018-02-13 18:48] marcbelmont commented on #3349
The problem is likely to be related to images that are not RGB. Make sure to convert all your images to RGB (3 channels) before loading them.

[2018-02-13 19:33] civilman628 commented on #1942
Yes, same for me. I am on windows 7, GPU Titan XP.

CPU has very large consumption, near 100%, but GPU use less, though GPU memory is taken. This is not normal.

[2018-02-13 19:46] cy89 commented on #3364
@jch1 @tombstone PTAL.

[2018-02-13 20:15] cy89 commented on #3372
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-13 20:15] #3372 closed

[2018-02-13 20:58] adriancar commented on #3366
I used the MNIST CNN tutorial to test if the GPU was being used: https://www.tensorflow.org/tutorials/layers

[2018-02-13 22:28] tureckova opened #3377 "Troubles computing evaluation measures via offline_eval_map_corloc.py"
### System information
- **What is the top-level directory of the model you are using:** research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):** no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Win 10, version 1709, 64-bit
- **TensorFlow installed from (source or binary):** source
- **TensorFlow version (use c

[2018-02-13 23:38] Boellis opened #3379 "Issues inputing custom images into classify_image.py"
I'm trying to input any sample jpg, but I'm not sure why I'm getting the following error indicated in the second image. I've tried to replace "cropped_panda.jpg" with another .jpg, but with no luck. Any help would be appreciated.

![help2](https://user-images.githubusercontent.com/17955602/36180049-6ccc7b8a-10e4-11e8-8ba5-e82e87bf149a.png)

![help](https://user-images.githubusercontent.com/1795560

[2018-02-14 00:14] asabbah commented on #3331
@jkim19 Thanks, that works now. It gives a warning.

[code]

But at least it works.

[2018-02-14 01:13] stanleynguyen commented on #3130
Changing protoc-3.x.x to 2.x.x solved my problem @arpan8514

[2018-02-14 02:06] jerowe commented on #3368
@cy89, that was not an informative bug report. I updated it.

[2018-02-14 02:25] CrazyEric404 commented on #2031
One possible reason for this might be that you are not running the Jupyter Notebook in the same terminal where you set the `$PYTHONPATH` value.

Or you can try to add $PYTHONPATH value into your `~/.bashrc` file (or `~/.zshrc` file if you are using 'oh my zsh')

[2018-02-14 02:25] CrazyEric404 commented on #2577
One possible reason for this might be that you are not running the Jupyter Notebook in the same terminal where you set the `$PYTHONPATH` value.

Or you can try to add $PYTHONPATH value into your `~/.bashrc` file (or `~/.zshrc` file if you are using 'oh my zsh')

[2018-02-14 03:33] ruchi171 commented on #1832
I followed the steps for the original error. however, still i get the same error, any other suggestions that i might implement?

[2018-02-14 04:19] CarltonSemple commented on #1942
@rniebecker do you know if those code changes were ever merged into the master branch? If not, could you share with us what you did to make it compile successfully?

[2018-02-14 04:39] CarltonSemple commented on #3366
It seems like the published tensorflow-gpu wheel has been a problem for Windows users for a while now: https://github.com/tensorflow/models/issues/1942#issuecomment-316023323
Unfortunately I have not been able to successfully compile it for myself, as there are compilation errors
https://github.com/tensorflow/tensorflow/issues/16138

[2018-02-14 04:46] SamTew opened #3381 "Different output between Tensorboard evaluation and execution of trained model"
I have trained a ssd_mobilenet model on Google Cloud Platform. I used Tensorboard to visualize the evaluation. But when I ran the trained model in my laptop, the output is different with the one I saw in Tensorboard. The Tensorboard evaluation result is obtained at 316k steps and the training stop at 322k steps. Here are some examples.

[https://i.stack.imgur.com/3lY5w.png](url)
[https://i.stack.i

[2018-02-14 06:44] 1042799521 commented on #3347
see my answer at: [https://github.com/tensorflow/models/issues/3349](https://github.com/tensorflow/models/issues/3349)

[2018-02-14 09:02] aditya-vora commented on #3116
@oneTimePad Hi, were you able to run the tensorflow faster RCNN with Inception V2 model on Jetson TX2 platform? I am trying to run it on Jetson TX2 but unable to do so because of the same error due to NMS.

[2018-02-14 12:04] gustavomr commented on #3357
Deleting ./~nv resolved this problem (CUDNN_STATUS_INTERNAL_ERROR and  CUDNN_STATUS_BAD_PARAM)

[2018-02-14 12:04] AshutoshSancheti commented on #3358
It's impossible to add the complete back trace as it very long. I will try it again.
Can you please tell me whether the method I am using to add new layers to the inception_v4 and using the pre-trained weights of the original layers and training the modified version to detect 120 different classes is correct?
The inception_v4 model code was picked up from tensorflow/models/tree/master/research/sli

[2018-02-14 12:10] gustavomr commented on #3281
I saw same behavior using 4 x P100 GPUs. Batch size influence on sec/step and this is not related with newer or old GPUs.

I used to run using the retrain.py for tensorflow for poets (it uses only CPU) and I got same result sec/step compared using slim and 4 GPUs. It´s so weird.

[2018-02-14 13:17] plieningerweb commented on #3330
did you change anything besides the dataset and label_map?
there are some known bugs, e.g.  #2066 which lead to no learning.

[2018-02-14 16:09] LaurentBerder commented on #3350
Yeah, I realized after a while I needed to do this.

I tried, but it is very tricky installing and compiling Protobuf under a Windows environment.

[2018-02-14 16:38] tastyminerals opened #3382 "CudnnLSTM is incompatible with the 1.5.0 Tensorflow version"
Please update [recurrent PTB model](https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py).

`CudnnLSTM` throws
[code]
as well as
[code]

[2018-02-14 17:33] reedwm commented on #3281
@sguada @shlens, are there plans to work on improving slim performance? Or, are we instead focusing on the official models in the future?

[2018-02-14 18:48] civilman628 commented on #3366
I just clean install the latest driver for Titan Xp 390.77 on Windows 7, but training still use CPU but not GPU.

[2018-02-14 19:02] VanitarNordic commented on #3366
@civilman628

Yes, by the evidences it is a bug.

[2018-02-14 19:12] skye commented on #3347
Thank you @lyzMaster !

[2018-02-14 19:12] #3347 closed

[2018-02-14 19:19] rogercw opened #3384 "Detection precision is worse after fine tune with pre-trained model"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes, but not much
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: UbuntuMATE 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-02-14 20:47] kosintop opened #3385 "[Object detection] ValueError when try to train with --num_clones=2"
I wanted to train on multiple CPU so i run this command

`C:\Users\solution\Desktop\Tensorflow\research>python object_detection/train.py  --logtostderr  --pipeline_config_path=C:\Users\solution\Desktop\Tensorflow\myFolder\power_drink.config --train_dir=C:\Users\solution\Desktop\Tensorflow\research\object_detection\train --num_clones=2 --clone_on_cpu=True`

and i got the following error

[code]

If

[2018-02-14 20:50] vahvarh commented on #3291
Got working updating:
setup.py:
REQUIRED_PACKAGES = ['Pillow>=1.0','matplotlib']

object_detection/utils/visualization_utils.py commenting out lines:
#import matplotlib.pyplot as plt
#def add_cdf_image_summary(values, name):
and below that.

[2018-02-14 21:16] bkj commented on #3374
Fantastic -- thanks

[2018-02-14 21:16] #3374 closed

[2018-02-14 21:25] kosintop commented on #3385
It looks like mobile_ssd_net config file does not support multi core? when i switch to faster_rcnn config file it can run normally

[2018-02-14 23:20] Bidski opened #3386 "Tensorflow hangs when starting queues"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, dataset generation code (converting dataset in tfRecord format using the sample script)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Mint 18.2 (based on Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**: Source (latest master)
- **

[2018-02-14 23:40] CarltonSemple commented on #3366
@VanitarNordic this should probably be moved https://github.com/tensorflow/tensorflow, no?

[2018-02-15 00:02] VanitarNordic commented on #3366
@CarltonSemple

I don't know because that might happen with the object detection API only. let the @cy89 decide about it.

[2018-02-15 00:03] cy89 commented on #3382
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-15 00:55] CarltonSemple commented on #3366
I've had it happen with other things.

[2018-02-15 01:07] bkj opened #3387 "DELF: Training procedure"
Are the DELF authors able to give a little more detail about how they train their model?  Any insight into things like

    - cross-entropy loss and/or accuracy curves during fine-tuning training and/or attention training
    - number of epochs of training; number of GPUs; wall clock time
    - learning rates; how layers are frozen/unfrozen
    - how/whether hyperparameters were tuned on a validat

[2018-02-15 01:23] cy89 commented on #3366
@VanitarNordic @CarltonSemple I'm not seeing in the comment stream whether you think this problem is all computations not using the GPU, or whether it's just ssd_inception_v2_coco.

I.e., @VanitarNordic if you run @adriancar 's tutorial MNIST example, do things work as expected?

[2018-02-15 01:59] cy89 commented on #3368
@jch1 @tombstone seems like a reasonable request. Please take a look.

[2018-02-15 02:06] cy89 commented on #3358
@AshutoshSancheti

It seems to me that you're hitting this check in the source: https://github.com/tensorflow/tensorflow/blob/57ec898a046638b0dfc445c0871c29c212c5d056/tensorflow/contrib/framework/python/ops/variables.py#L672

[My apologies if this debugging approach seems obvious to you, but here goes:]
Given that, can you look back through the stack trace as you see it, and examine the source lin

[2018-02-15 03:47] alensaqe opened #3388 "Object Detection Train Error - ImportError: cannot import name 'dataset_builder'"
I recently updated to tf 1.5 and while trying to invoke train.py under research/object_detection i hit an error saying

For more info:

[code]

Is there any circular dependency or is it just me that gets this error? Or on your end everything is working?

Details:

1. OS: Widows 10
2. TensorFlow verion: 1.5
3. CUDA 9.0 Cudnn 7
4. Python ver: 3.6.2
5. GPU: Nvidia 930MX - 2Gb Ram
6. Tf installed from

[2018-02-15 05:35] Bidski commented on #3386
Further information:
- Tensorflow was also built from source using CUDA 9.0, the same behaviour was seen.
- The pre-built tensorflow (installed via `pip3 install tensorflow-gpu`) exhibited the same behaviour when running with CUDA 9.0 (unable to test with CUDA 9.1 as the prebuilt tensorflow does not support this)

[2018-02-15 07:51] VanitarNordic commented on #3366
@cy89
The computations use the GPU inefficiently (something like blinking) and pushe the constant 100% load on the CPU.

[2018-02-15 10:28] yangxueping commented on #3349
Thanks @marcbelmont and @lyzMaster ,  solved the problem！Happy Chinese New Year!

[2018-02-15 10:28] #3349 closed

[2018-02-15 11:03] Draichi commented on #1601
@jch1

This link has CHANGED. correct link here:
https://github.com/tensorflow/models/blob/master/research/object_detection/data/pet_label_map.pbtxt

[2018-02-15 13:32] tastyminerals commented on #3382
### System information
- **Have I written custom code**: [PTB model](https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py) from official RNN tutorial (using custom data and hyperparams slightly modified)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux 4.14.16-1 Manjaro
- **TensorFlow installed from**: pip
- **TensorFlow version**: 1.5.0
- **Python

[2018-02-15 18:28] cy89 commented on #3386
@Bidski could you please try backing off to CUDA 8.0?

[2018-02-15 18:52] civilman628 commented on #3316
no one look into this bug?

[2018-02-15 18:54] smarzban commented on #2922
Hi @ppgiannak, I want to get features as well, did above work for you?

[2018-02-15 19:27] alensaqe commented on #1988
@dnlglsn you should make a pull request to add https://gist.github.com/dnlglsn/c42fbe71b448a11cd72041c5fcc08092 as a separate file to server unfrozen variables and not a frozen graph so for us that want to serve it via google cloud ml engine we use that exporter instead!

[2018-02-15 23:31] ryan-summers commented on #3381
Make sure that you pass the OpenCV image with the channels in RGB format and _not_ BGR. You will want to do a color conversion before passing it in for inference.
[code]

[2018-02-16 00:17] Manugoyal123 commented on #2668
Try to reduce the height and width of image_resizer, in my case, I reduced them from 1200 to 600.

[2018-02-16 00:32] Bidski commented on #3386
CUDA 8.0 with tensorflow v1.5.0-2593-gb2a0f1c 1.6.0-rc0 provides the same results.
As does CUDA 8.0 with tensorflow v1.5.0
cuDNN 7 for both cases.

[2018-02-16 00:45] jhovell commented on #2653
Seems like the commit https://github.com/tensorflow/models/commit/7a9934df2afdf95be9405b4e9f1f2480d748dc40 broke PR  https://github.com/tensorflow/models/pull/2692

which was referenced earlier here by @tombstone and subsequently issue closed by @jch1

Should this issue be re-opened or should a new issue be created?

Reproducible with master of this repo, Google Cloud ML tensorflow 1.4. Compiled w

[2018-02-16 01:28] ryan-summers opened #3390 "object_detection: Trained SSD-Inception-v2 Inference Errors on Jetson TX2"
### System information
- **What is the top-level directory of the model you are using**: research/ and then research/slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes. Please see below for source code.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04 on Jetson TX2 using Linux4Tegra 28.1 (Linux jetson 4.4.

[2018-02-16 02:53] SamTew commented on #3381
Thanks a lot!

[2018-02-16 06:22] vijjueee opened #3391 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [3] rhs shape= [32]"
[cnn_mnist.txt](https://github.com/tensorflow/models/files/1730391/cnn_mnist.txt)
I picked up MNIST training tensor flow code and tried running to my CNN with 1 hidden layer and 3 features. I see the following error. Could someone plz help me in resolving it.
Attached the file with code

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': '/tmp/mnist_convnet_model',

[2018-02-16 08:17] andrefaraujo commented on #3387
The dataset is correct, but the data we end up using was cleaned and released by the [DIR paper](https://arxiv.org/abs/1604.01325), "full" and "clean" subsets. I believe the data (ie, URLs and labels) continues to be available on their website [here](http://www.europe.naverlabs.com/Research/Computer-Vision/Learning-Visual-Representations/Deep-Image-Retrieval). We used the train and validation sets

[2018-02-16 08:45] Draichi commented on #2761
@sushilmdpatil Hello, did you solved this issue ? I'm having the same. Thanks

[2018-02-16 08:48] sidvip opened #3392 "MASK RCNN 50 RELATED ISSUE"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-02-16 08:53] sidvip commented on #3392
CUDA_VISIBLE_DEVICES="0,1,2" python object_detection/train.py --logtostderr --pipeline_config_path=/home/vibhu/computer_vision/final_hit_tf/mask_models/research/object_detection/amazon_mask_rcnn/faster_rcnn_resnet50_coco_2018_01_28/pipeline.config --train_dir=/home/vibhu/computer_vision/final_hit_tf/mask_models/research/object_detection/amazon_mask_rcnn/faster_rcnn_resnet50_coco_2018_01_28/train/

[2018-02-16 08:53] sushilmdpatil commented on #2761
@Draichi No I couldn't I am planning to use cloud now. So left it completely. I guess you should ask on stackoverflow, the community support there is much better.

[2018-02-16 12:24] lucadigiammarino opened #3393 "ResourceExhaustedError (see above for traceback): OOM when allocating tensor of shape [7744,512]"
Hi guys, I am a beginner with TF and I am trying to running some Atari Reinforcement Learning training on my laptop with GeForce GT 650M. I get the following error and I can't figure out what's wrong, I've tried to change my batch size multiple times but same again. Sometimes stop with this error and sometimes just quit after 300 steps without any error message.

[code]

This is my code.. I am emb

[2018-02-16 12:50] notsmartenough commented on #3359
I think it is. I couldn't test it but I have seen it working on tf 1.4

[2018-02-16 12:50] #3359 closed

[2018-02-16 12:54] vladpaunescu opened #3394 "tensorflow.python.framework.errors_impl.InvalidArgumentError: cycle_length must be greater than zero."
Hi! I've updated to latest object detection API which includes fully working Mask RCNN code.
I build the coco tfrecord using provided dataset tool  dataset_tools/create_coco_tf_record.py
But when I run train.py with samples/configs/mask_rcnn_resnet101_atrous_coco.config I get the following error:

[code]
I've updated to tf 1.6.0-rc1 because newer release uses this BackupHandler in tf_example_decod

[2018-02-16 13:08] vladpaunescu commented on #3394
I found the fix, actually I had a typo from legacy code (coco_val.tfrecord instead of coco_val.record). Please close it!

[2018-02-16 13:08] #3394 closed

[2018-02-16 13:46] #3357 closed

[2018-02-16 14:50] zeynali opened #3395 "change loss object detection api"
Hi.
i want to change loss of object detection for ones of object detection (such as SSD) ,
Q1 :  i want to know where do i modify the loss function for SSD ,
Q2 : is it possible to fine-tune ssd_mobilenet on my dataset with my define loss ? is it good or must be train ssd_mobile from scratch with my loss function ?

in the ssd_mobilenet_v1_coc.config :
    loss {
      classification_loss {

[2018-02-16 16:09] ajinkya933 opened #3397 "Feature Request: Output bounding boxes at 45 degree angle using Tensorflow object detection API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:windows 10
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.4.0

### Describe the problem
The current version of Tensorflow object detection API is good fo

[2018-02-16 16:24] MarkDaoust commented on #3345
Interesting, I can't reproduce this.

It looks like the error is coming from farther down the stack. Which version of python are you using?:

[code]

[2018-02-16 16:34] Axlef commented on #2509
Up, this is a very exciting work and we would love to test it on tensorflow.
Also do you have data about performance (inference speed) of the system ? You mentioned faster inference depending on the module (ResNet-50, input size, cropping size) but no numbers are provided. Do you think it can achieve real-time detection on an "average" machine ?

[2018-02-16 17:50] bkj commented on #3387
Fantastic -- thanks for the detailed response.

Do you happen to have any of the results showing cross-entropy loss and/or accuracy for the models you've trained?

Also, is this a correct summary of the image preprocessing you did before training the two stages of your model:

    Fine tuning preprocessing:

        - Center crop to square image
        - Rescale to 250x250
        - Randomly crop