[2017-09-06 22:56] madekwe commented on #729
Hello,

When I try your solution I have : export nis not recognized ...

export PYTHONPATH="$PYTHONPATH:/... is ok for windows ?

Sorry, it might be a stupid question.. I am new in python..

[2017-09-06 22:58] madekwe opened #2351 "export si not recognized : export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim"
I try to install the object detection API bt I have this error when running :
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim

I have the export is not a recognized variable blablabla problem
what are the issues ? what I am doing wrong is this command ok for windows ? Thanks a lot !

[2017-09-06 23:39] penelopeia commented on #827
I was able to modify that script as I mentioned before, but I also had to modify gfile:

[code]

in order to open the image, and I removed the try, except image decoder check that follows reading the image.

[2017-09-07 01:27] drpngx commented on #2179
I'm going to close this, for book-keeping purposes, since this is not an issue per se, and I think it would be nice to have this on stackoverflow.

Feel free to continue corresponding on this thread, even closed, if you wish.

[2017-09-07 01:27] #2179 closed

[2017-09-07 01:29] drpngx commented on #2231
Where did you get the model ckpt file from?

[2017-09-07 02:28] MisayaZ opened #2352 "the evaluation job give different result every time on the same weight"
I stop training and run the evaluation Job like
python object_detection/eval.py \
    --logtostderr \
    --pipeline_config_path=${PATH_TO_YOUR_PIPELINE_CONFIG} \
    --checkpoint_dir=${PATH_TO_TRAIN_DIR} \
    --eval_dir=${PATH_TO_EVAL_DIR}
I set the logging level as logging.INFO to see the result, use the code below:

    logging.basicConfig(level=logging.INFO)

however, I got different result e

[2017-09-07 02:47] realwol commented on #1812
After I change the dfault mscoco_label_map.pbtxt file to only 2 classes, the error can not be fix even I change the default file back, why is that?

[2017-09-07 03:13] ZixuanLiang opened #2353 "retrain im2txt on custom dataset"
@cshallue I built my own TFRecord files according to **build_mscoco_data.py** except I didn't add start word < S > and end word < /S > to captions. Then in **configuration.py**, I adjusted **vocab_size**, **values_per_input_shard**, **num_examples_per_epoch** according to my dataset. When I started training, the loss was always 0.0000. I think there was something wrong. What did I miss?

2017-09-0

[2017-09-07 03:30] robert780612 commented on #1856
eval.py is still evaluating background, it just do not print the evaluating result.
It print eval result normally after I set the logging level in the **object_detect/eval.py**
Just add two lines
[code]
[code]

If you want to watch detection result on the tensorboard.
You should modify this parameter in the file **object_detection\protos\eval.proto**
`optional uint32 num_visualizations = 1 [defaul

[2017-09-07 03:53] boyflytobeman commented on #2335
@yoobright，i can not reproduce the result of the paper‘faster rcnn’，data：Pascal voc2007 model：vgg16，mAP:68.45%,but the paper mAP is 69.9%，have you reproduce the paper‘s’ result？

[2017-09-07 05:05] LeeKyungMoon commented on #827
@penelopeia  Thanks for replying. It would be helpful for handling image data but I'm in trouble handling string data for file name of that encoded image data. Anyway, thanks for your work!

[2017-09-07 06:49] RobinBaumann commented on #2225
@liuqi05 I don't know what is wrong with your configuration. Maybe try launching Tensorboard with a full path to your eval_dir?

Also my directory structure looks like this:

[code]

And I launch tensorboard with the following command ( from project directory):

[code]

[2017-09-07 08:31] ZixuanLiang commented on #2353
I added start word and end word. It is working now. But I don't know how start word and end word are used during training. Could someone explain to me?

[2017-09-07 08:31] gnavihs commented on #1796
@jch1  I think the variable in config file for reducing proposals is `first_stage_max_proposals` and not `max_total_detections`. Kindly confirm.

[2017-09-07 09:24] liu6381810 commented on #2225
@liuqi05  same problem with you

[2017-09-07 09:58] shamanez opened #2354 "Object Detection API - What is the COCO mAp score in model zoo for different architectures ?"

[2017-09-07 13:15] vaibhav0195 commented on #2207
@skye i have one 1080ti installed on my computer and i still got the error ?? do you know how to fix it ?
when i run normal inception it runs fine.

[2017-09-07 13:25] shenqixiaojiang commented on #2325
@steplee Have you solved the problem? Thanks.

[2017-09-07 13:59] steplee commented on #2325
@shenqixiaojiang No, I've been doing something else in the mean time

[2017-09-07 14:13] skye commented on #2207
Hi @vaibhav0195 , I'm guessing you haven't installed a TF version with GPU configuration, but it's hard to say for certain. Please post on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) for more help.

[2017-09-07 14:13] #2207 closed

[2017-09-07 14:44] RBirkeland commented on #466
I have successfully used the 1M model (model.ckpt-1000000) However I'm still struggling to use the fine-tuned 2M or 3M posted here. I've tried the solutions already discussed, but with no luck.

I'm using: Tensorflow 1.3 (for gpu), CUDA 8, cudnn 5.1. (I have yet to try to downgrade to TF 1.0, could this work?).

When using for simplex using the fine-tuned 2M model, as described posted by @psycharo

[2017-09-07 17:39] AyushiAggarwal opened #2355 "[Syntaxnet]Bazel test failure -> ParseyMcParseface unusable due to error type_name: tensorflow::Tensor already registered"
### System information
- **What is the top-level directory of the model you are using**: models/syntaxnet
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution**: tried for CentOS 6/7 VMs and Ubuntu 14.04 LTS(through virtual box)
- **Bazel version (if compiling from source)**: 0.5.4
- **GPU memory**: 8GB with 4vCPU

[2017-09-08 03:06] bit1002lst commented on #1970
I have the same question

[2017-09-08 05:20] vishalghor opened #2356 "Resnet_v1_50 export_inferenc.py failed"
Hi all,

I was trying to fine tune resnet_v1_50 on flowers dataset using the script present in scripts folder
./finetune_resnet_v1_50_flowers.sh
But it stopped after the following commands in script:
1.`python download_and_convert_data.py \
  --dataset_name=flowers \
--dataset_dir=${DATASET_DIR}`
2.`python train_image_classifier.py \
  --train_dir=${TRAIN_DIR} \
  --dataset_name=flowers \
  --data

[2017-09-08 05:42] ebrevdo commented on #1050
I'll take a look. Unfortunately this tutorial is deprecated in favor of

https://github.com/tensorflow/nmt

So it's getting less attention.  We need to update the tf.org tutorial link to point to the nmt codebase.

[2017-09-08 08:19] fistix opened #2357 "python train.py --checkpoint=model.ckpt-399731 Traceback (most recent call last): File "train.py", line 30, in <module> import common_flags File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\common_flags.py", line 22, in <module> import datasets File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\datasets\__init__.py", line 16, in <module> import fsns ImportError: No module named 'fsns'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-09-08 08:27] d-hoke commented on #1467
@nmjohn - Are you using a file that contains invalid utf-8 sequences?  If your files don't contain invalid utf-8 sequences, then you won't encounter the outright error.  (I have wondered if the possibility exists of data being silently corrupted from conversions from valid utf-8 that gets transformed into something else internally.)

I have encountered the same issue as @berkcoker, and addressed i

[2017-09-08 08:54] sczhengyabin commented on #1816
same interest here.

[2017-09-08 08:57] sczhengyabin commented on #1816
@rayanelleuch
I believe this commit
https://github.com/tensorflow/models/commit/4ddc9f2d806530ceb99a86a621075a4a9813df62
has already solved the batch process.

I'm working on tests.

[2017-09-08 09:31] fistix commented on #2357
python train.py --checkpoint=model.ckpt-399731

[2017-09-08 09:33] fistix commented on #1944
when i do python train.py --checkpoint=model.ckpt-399731
Error:
Traceback (most recent call last):
File "train.py", line 30, in
import common_flags
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\common_flags.py", line 22, in
import datasets
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\datasets_init_.py", line 16, in
import fsns
ImportError: No mo

[2017-09-08 09:33] fistix commented on #1849
when i do python train.py --checkpoint=model.ckpt-399731
Error:
Traceback (most recent call last):
File "train.py", line 30, in
import common_flags
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\common_flags.py", line 22, in
import datasets
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\datasets_init_.py", line 16, in
import fsns
ImportError: No mo

[2017-09-08 09:34] fistix commented on #1840
when i do python train.py --checkpoint=model.ckpt-399731
Error:
Traceback (most recent call last):
File "train.py", line 30, in
import common_flags
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\common_flags.py", line 22, in
import datasets
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\datasets_init_.py", line 16, in
import fsns
ImportError: No mo

[2017-09-08 09:34] fistix commented on #1451
when i do python train.py --checkpoint=model.ckpt-399731
Error:
Traceback (most recent call last):
File "train.py", line 30, in
import common_flags
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\common_flags.py", line 22, in
import datasets
File "E:\Workplace\tensorflow\result\models-master\attention_ocr\python\datasets_init_.py", line 16, in
import fsns
ImportError: No mo

[2017-09-08 10:15] vaibhav0195 commented on #2207
@skye I have fixed the issue it is due the kernel problem.

[2017-09-08 12:38] juldou opened #2358 "protoc GridAnchorGenerator and SsdAnchorGenerator not found"
I want to compile protobuf libraries (models/object_detection), but following error occured:

[code]

In GridAnchorGenerator I have on the first line this:
`syntax = "proto2";`

whereas I have protoc version = 3.4.0

It seems it is mismatch in versions, but it's just my thought.

[2017-09-08 12:59] #2358 closed

[2017-09-08 15:29] UndeadBlow opened #2359 "Stuck training with increased input size"
### System information
- **What is the top-level directory of the model you are using**: models/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below

[2017-09-08 23:31] amirjamez commented on #1564
@StanislawAntol Thanks for the gist code. So what are we supposed to do after generating the _.pb_ files?

[2017-09-09 00:04] StanislawAntol commented on #1564
@amirjamez, It contains the model so you can load it, feed in input (i.e., images), and get classification results, e.g., something like [this C++ code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc) or [this Python code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/label_image.py).

[2017-09-09 00:32] amirjamez commented on #1564
@StanislawAntol, Yes, but I would like to see the weights related to each layer, and more importantly, the final layer's weights. Can we do that using the _.pb_ files? If so, could you kindly provide a MWE?
Second Question: Did anyone figure out why tf.train_import did not work? If there is no way to restore the pre-train weights, I don't understand the reason we have those .meta, .data files at a

[2017-09-09 00:51] StanislawAntol commented on #1564
@amirjamez, GitHub Issues is not the appropriate place for those kind of questions. Places like [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) are more appropriate (as stated in the README).

I haven't touched TensorFlow in a while, but I'm sure you can do it. [This post](https://stackoverflow.com/questions/43158606/how-to-get-weights-from-tensorflow-fully-connected) might

[2017-09-09 03:31] yuye1992 commented on #1595
i had the same error,but i solved it. make sure your protoc version >=2.6,download tensorflow/model to a new folder ,and re-install it.

[2017-09-09 18:42] charlesjohannisen commented on #2355
Got the exact failures. Found the commit where this change was made to tensorflow.
Slight ( very temporary and janky ) workaround, after you've git cloned models:
`cd models/syntaxnet/tensorflow/tensorflow`
`git checkout 712fcfc6e364e6ca39cee3d988089e51f73d1e65` - which is before [this commit](https://github.com/tensorflow/tensorflow/commit/2f6f329aac6e4f23ef20f6e37165a235e232e772)
`nano models/sy

[2017-09-09 21:58] kjanjua26 commented on #1944
Did you clone the whole repository?
There is fsns.py file in the repository which is used during dataset import. Check if you have that in your files.

[2017-09-09 21:58] TKassis commented on #1754
I'm having the same error when I use any of the following:
_faster_rcnn_inception_resnet_v2_atrous_coco
rfcn_resnet101_coco_

But NOT when I use:
_ssd_inception_v2_coco
ssd_mobilenet_v1_coco_

My training images are a mixture of 300x300 and 450x450 pixels. I don't believe any of my bounding boxes are outside the image coordinates. Even if that's the case why would the last two models work but not

[2017-09-10 12:15] madekwe commented on #2351
I found the problem In windows :

set PYTHONPATH=...\python\models;...\python\models\slim

works fine

[2017-09-10 12:15] #2351 closed

[2017-09-10 14:09] tj27-vkr commented on #1595
The application is looking for anchor_generator_pb2 in /usr/local/python3. Include the path in the python environment as mentioned in the installation guide. Or install the object_detection API with models/setup.py. All the libraries will be then installed.

[2017-09-10 19:36] dat-ai commented on #2293
I am interested in this feature too. It wonder if I could contribute somehow.

My approach would be to create based a bash scripts on existing scripts `slim/scripts/finetune_*.sh`.

[2017-09-11 00:11] sujanchy commented on #1595
Thanks. I have solved the issue. Actually I have to delete the log before running next time. That creates problem. 

Sujan Chowdhury

 From: tj27 <notifications@github.com>
 To: tensorflow/models <models@noreply.github.com>
Cc: Sujan Chowdhury <sujan_cse_04@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Monday, September 11, 2017 12:09 AM
 Subject: Re: [tensorflow/models] ImportError: can

[2017-09-11 03:05] w19787 opened #2361 "latest version is using deprecated api"
### System information
- **What is the top-level directory of the model you are using**: slim/InceptionV4
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- *

[2017-09-11 06:24] jinfagang commented on #597
May I ask, if the graph already finalized, how to call : `tf.InteractiveSession.run(tf.image.decode_image(image, channels=3))`?
I occurred this error:
[code]

[2017-09-11 06:52] j2233ack commented on #1133
@wuluhui
Can you offer captions_train2014.json and captions_val2014.json to me?
I see your json code should not be english.
Thank you here now!

[2017-09-11 07:50] j2233ack opened #2362 "Use my word_counts.txt to generate image captions."
Use my word_counts.txt to generate image captions.

Here's my error code:
Traceback (most recent call last):
   File "/root/models/im2txt/bazel-bin/im2txt/run_inference.runfiles/im2txt/im2txt/run_inference.py", line 85, in <module>
     tf.app.run ()
   File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 44, in run
     _sys.exit (main (_sys.argv [: 1] + flags_pas

[2017-09-11 07:52] jingjingwang commented on #2347
Also, could you provide pre-trained models using VGG as the feature extractor? I understand that they're not the best ones but still, many people would be interested in using them.

[2017-09-11 10:11] rexhinvorpsi commented on #1779
I have the same issue with the new way you train from the command line you can't add pipeline_config or train_dir in the new one, can someone ellaborate on how to do it. Thank You.

[2017-09-11 12:00] madekwe opened #2364 "Object detection API with Faster RCNN : testing on larger images"
I have images of a big size (6000x4000). I want to train FasterRCNN to detect quite small object (tipycally between 50 150 pixels). So for memory purpose I crop the images to 1000x1000. The training is ok. When I test the model on images of 1000x1000 the results are really good. When I test the model on images of 6000x4000 the results are really bad... I guess it is the region proposal step, but I

[2017-09-11 13:21] jamiii commented on #2031
Using windows the following worked for me:
Set PYTHONPATH to both \models and \models\slim and then add PYTHONPATH
to your Path variable

[2017-09-11 14:37] DongjunLee commented on #1790
also i have the same issue.

[2017-09-11 15:41] vishalghor commented on #2281
Hi all,

I am also  facing the same  issue.
Has anyone tried the same and has been able to  resolve.
why wasn't this handled as it  would be really easy  to check  the output model with single images by  using label_image.py script  in the tensorflow examples repo.

Thank  and regards

[2017-09-11 15:45] ALEXKIRNAS opened #2366 "Object detection | Keypoints to object detection model"
Hi,
@jch1 , @tombstone , @derekjchow , I would appreciate your help.

**ADDING FUNCTIONALITY**
I recently start to use SSD with MobileNet feature extractor for solving face detection problem . In term of this task I also need to to detect landmarks (keypoints). I saw that repo contain some files that connected with keypoints ( [link](https://github.com/tensorflow/models/blob/master/object_detectio

[2017-09-11 18:22] Samir692 commented on #1703
I did fresh installation but it didnt work for me.
Tensorflow: 1.3.0
libprotoc 3.1.0
Error message:
Traceback (most recent call last):
  File "train.py", line 200, in <module>
    tf.app.run()
  File "/home/samir/.local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train.py", line 196, in main
    work

[2017-09-11 18:40] reedwm commented on #2361
@sguada can you comment?

[2017-09-11 18:42] reedwm commented on #2359
@jch1 can you take a look?

[2017-09-11 18:42] reedwm commented on #2357
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 18:42] #2357 closed

[2017-09-11 18:45] reedwm commented on #2355
/CC @ebrevdo @calberti

[2017-09-11 18:46] reedwm commented on #2353
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 18:46] #2353 closed

[2017-09-11 18:52] reedwm commented on #2347
It appears we don't support training a resnet 18/34 model either, in the [Slim resnet_v1.py file](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v1.py).

@sguada any plans to create pretrained models for resnet18/34?

[2017-09-11 18:55] reedwm commented on #2345
I'm guessing you cannot wrap a monitored session with a LocalCLIDebugWrapperSession.

@caisq do you know how to resolve this?

[2017-09-11 18:58] reedwm commented on #2289
Closing since the issue does not seem to be occurring. Please reopen if it is still occuring.

[2017-09-11 18:58] #2289 closed

[2017-09-11 19:01] ebrevdo commented on #2355
This is caused by a new feature, the variant op registrar, being called more than once. Perhaps framework/tensor.cc is being linked in or compiled multiple times?

[2017-09-11 19:02] caisq commented on #2345
This should already been resolved at master branch HEAD. See commit https://github.com/tensorflow/tensorflow/commit/dc58dcbea9beb30e0013f41e08786471ca4a6cb6#diff-f44696e748ca89868967a145ef82269a

[2017-09-11 19:07] reedwm commented on #2283
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 19:07] #2283 closed

[2017-09-11 19:09] reedwm commented on #2281
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-11 19:09] #2281 closed

[2017-09-11 19:45] reedwm commented on #2277
Please fill out all the fields of the issues template form.

[2017-09-11 20:18] #2273 closed

[2017-09-11 22:34] AyushiAggarwal commented on #2355
@charlesjohannisen - This seems to have eliminated the error. However, my bazel test now fails with a new error - ImportError: No module named autograd found.

**Log file**:
![image](https://user-images.githubusercontent.com/6222373/30299602-4a51746a-9705-11e7-97c0-3b7795d15b78.png)

**Console output:**
Executed 25 out of 25 tests: 19 tests pass and 6 fail locally

**Screenshot of tests that faile

[2017-09-11 23:08] slsd123 commented on #1754
I'm having the same issue when I train either of the faster_rcnn models and the tfcn_resnet model but not with either of the ssd models.

[2017-09-11 23:45] cy89 commented on #2336
@tombstone, (please feel free to redirect if you're not the right person), can you please comment on whether Arjan's suggestion would be helpful?

[2017-09-11 23:47] TKassis commented on #1754
Let me know if you find a solution. I've been struggling with this for 3 days now and I have no clue why this is happening.

[2017-09-11 23:55] cy89 commented on #2362
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 23:55] #2362 closed

[2017-09-11 23:55] cy89 commented on #2364
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-11 23:55] #2364 closed

[2017-09-12 00:22] TKassis commented on #2066
I noticed this problem too, adding some augmentation options causes my training to stop converging.

[2017-09-12 00:22] phongnhhn92 opened #2369 "Successfully trained with SSD_MobileNets but can't detect anything ?"
Hello guys, I am trying to train my own object detection with 2 classes. I followed this guide [https://medium.com/towards-data-science/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe1d9](url) to make my own training and testing record. I used SSD-Mobilenets for training and as predicted, the loss goes well after 20k step training. This is my config :

model {

[2017-09-12 02:05] stevve commented on #1419
when this  problem occured to me, changing the order of my code help me to slove it, because some Variable define  outrange scope of  tf.device("/job:ps/task:0"), so I define some Variable(tf.Variable()) under tf.device,then it run correctly.

this is my error hint :
2017-09-12 08:54:33.343818: I tensorflow/core/distributed_runtime/rpc/grpc_server_lib.cc:240] Started
ValueError: When using replica

[2017-09-12 02:37] Qberto commented on #1200
Thank you @johndpope. This fixed it for me.

[2017-09-12 02:49] irmowan commented on #2354
Refer to https://arxiv.org/abs/1611.10012

[2017-09-12 04:16] charlesjohannisen commented on #2355
`sudo apt install gfortran`
then
`python -m pip install autograd`
should fix the last issue. Hopefully getting you back on track.

[2017-09-12 05:12] sjwhhhi opened #2370 "Can I know the size of bounding box"
I mean, I want to know the length of bounding box. How can I do this?
Thanks

[2017-09-12 06:32] wuluhui commented on #1133
@j2233ack Could you give me your email?

[2017-09-12 07:18] fastlater commented on #1760
@agshift
Do you finally know the reason of the error:
[code]

I am still getting this error even after I changed the batch size from 1 to 12 (I cannot set the batch_size to 24 because my GPU is not that good Nvidia Quadro K2000 2GB FreeMemory before start training: 1.75GB).
My training stops within the first 200 steps  and my total_loss graph just shows one dot in the Tensorboard.
The curious part

[2017-09-12 07:48] j2233ack commented on #1133
@wuluhui  vm6284196@gmail.com

[2017-09-12 08:00] Samir692 commented on #1703
I did fresh installation but it didnt work for me.
Tensorflow: 1.3.0
libprotoc 3.1.0
Error message:
Traceback (most recent call last):
  File "train.py", line 200, in <module>
    tf.app.run()
  File "/home/samir/.local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train.py", line 196, in main
    work

[2017-09-12 08:17] saghiralfasly commented on #2369
can you tell us more about what type of code u have used for converting data set into tfrecord and what it's format?

[2017-09-12 08:42] j2233ack commented on #1429
@shahparth123 Have you solved the coding problem (UTF-8)?
Thank you!

[2017-09-12 11:40] gauss-clb opened #2372 "A bug in object detection?"
In [argmax_matcher.py](https://github.com/tensorflow/models/blob/master/object_detection/matchers/argmax_matcher.py#L158), the algorithm of `_force_match_for_each_row` is wrong?

It seems that use the maximum of row to force_match_for_each_row, but many rows can have  maximum  with the same column.

For example,  to use similarity
[code]
instead of similarity in [test_return_correct_matches_unmatc

[2017-09-12 23:57] AyushiAggarwal commented on #2355
@charlesjohannisen Yes, that solved the issue! Thanks!

Also had to install ```enum``` and ```enum34```
bazel test ran fine:
![25 tests pass](https://user-images.githubusercontent.com/6222373/30347648-9f818260-97c1-11e7-9b6f-79f17ddf5285.PNG)

[2017-09-13 01:39] EpochalEngineer opened #2374 "Frozen pretrained Faster RCNN/RFCN networks from model zoo yielding different outputs on different GPUs and runs"
### System information
- **What is the top-level directory of the model you are using**:
Using unmodified pretrained coco models: faster_rcnn_inception_resnet_v2_atrous_coco_11_06_2017, faster_rcnn_resnet101_coco_11_06_2017, rfcn_resnet101_coco_11_06_2017

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g

[2017-09-13 04:32] tarabishy2020 commented on #2203
Hi @derekjchow is it possible to explain further what kind of input could be used with freeze_variables?

[2017-09-13 04:38] tarabishy2020 commented on #2293
Is this currently doable with "freeze_variables" mentioned #2203 ?

[2017-09-13 05:57] ideaplat commented on #1977
models/object_detection/config/faster_rcnn_resnet101_pets.config
batch_size: 2
/models/object_detection/train.py
flags.DEFINE_integer(‘num_clones’, 2, ‘Number of clones to deploy per worker.’)

[2017-09-13 06:30] phongnhhn92 commented on #2369
@saghiralfasly Well basically, I just follow all the code from the tutorial I mentioned above. However, I fixed the problem by using the provided python script from VOC Pascal dataset and everything works for me now. I think I will close the issue but i hope to investigate this in the future.

[2017-09-13 06:30] #2369 closed

[2017-09-13 06:31] jingjingwang opened #2376 "Release other pre-trained object detection models?"
### Describe the problem
Could you provide other pre-trained models that are evaluated in your object detection [paper](https://arxiv.org/pdf/1611.10012.pdf)? For example, those based on VGG. Right now the [model zoo](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md) only has 5 models. It would be very helpful for people who want to evaluate/test more

[2017-09-13 06:40] phongnhhn92 opened #2377 "Using GPU for object detection during testing time."
Hello guys, I successfully trained my object detector using my custom dataset.Using the file object_detection_tutorial.ipynb provided from the original object detection module, I observed the fact that during the inference time, the CPU has to work a lot (almost 100%) while the GPU usage doesnt change much.
`(boxes, scores, classes, num_detections) = sess.run([boxes, scores, classes, num_detection

[2017-09-13 08:31] js1972 opened #2378 "Error installing: AttributeError: module 'pandas' has no attribute 'computation'"
### System information
- **What is the top-level directory of the model you are using**: models/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Just following the installation instructions
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary

[2017-09-13 09:59] ankanch commented on #1116
I have the same issue,
Build FAILED.

"D:\caffe2\build\ALL_BUILD.vcxproj" (default target) (1) ->
"D:\caffe2\build\caffe2\Caffe2_CPU.vcxproj" (default target) (3) ->
"D:\caffe2\build\caffe2\proto\Caffe2_PROTO.vcxproj" (default target) (4) ->
(ClCompile target) ->
  D:\caffe2\build\caffe2/proto/prof_dag.pb.h(9): fatal error C1083: Cannot open include file: 'google/protobuf/stubs/common.h': N
o such

[2017-09-13 11:50] TheCherry opened #2379 "Any way to run object detecion with Nvidia GTX650 Ti (2GB) ?"
Hi, is there a way to let run the object detection with a 2GB graphic card?
[code]

Did try to add **session_config.gpu_options.allow_growth=True** in the trainer.py but that dont help.
Seems that the graphic card haven't enough memory.

[code]

[2017-09-13 14:07] auzyze commented on #429
@D-X-Y
Hi, I tried the same code with panda image, and also got 389, but that is not the correct label, is it? I think 169 should be the correct result ...

I'm struggling to get correct prediction with slim pretrained model, tried different models and different preprocessing, but always get 389, which I think is the wrong result, anyone has comments on this? Thanks.

[2017-09-13 19:08] reedwm commented on #2255
/CC @sussillo @jazcollins

[2017-09-13 19:10] reedwm commented on #2377
/CC @tombstone

[2017-09-13 19:10] reedwm commented on #2379
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-13 19:10] #2379 closed

[2017-09-13 19:26] EnviousElitist commented on #2374
I'm now noticing different results for between different GPUs (on a 3-gpu machine), which could be the root cause of this.  I'm setting config.gpu_options.visible_device_list to switch between GPUs as others are using this machine.

I'll try to reproduce this with the baseline COCO models on a public image and if I can I'll open a new ticket.

[2017-09-13 20:57] xiaohuieddie opened #2381 "Error: No module named 'utils'"
I am trying to run the Tensorflow Object Detection API code using Anaconda on Mac. I have already installed all the package needed. But I got the error:

I did't run Protobuf Compilation since have no idea where is tensorflow/Models directory. Is this the reason for the error

[2017-09-13 22:29] dnlglsn commented on #1570
I was able to get it working today using protoc version 3.3.0 as shown here: https://github.com/tensorflow/models/issues/1834

[code]
Then:
[code]

[2017-09-13 22:53] AyushiAggarwal opened #2382 "[ParseyMcParseface][Ambiguity] Parse score for sentence with more than one interpretation OR Multiple parse trees for a single input sentence"
Using ParseyMcParseface to analyse ambiguous sentences such as the infamous example below:

_I saw a man on the hill with a telescope._

1.  Is there a way to evaluate the different parse trees for this sentence? Such as - some sort of a confidence score/grammaticality score generated by the parser for each sentence? If yes, where can I view it?
2. Alternatively, is there a way to obtain multiple

[2017-09-14 00:32] reedwm commented on #2381
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 00:32] #2381 closed

[2017-09-14 04:44] wonsekim opened #2383 "models/slim/datasets/imagenet.py has strange _NUM_CLASS 1001"
### System information
- **What is the top-level directory of the model you are using**:
tensorflow/models/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:

[2017-09-14 05:46] csbenk opened #2385 "Have issue training the model from scratch."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-09-14 05:50] wangshy31 commented on #1977
@ideaplat
`batch_size: 2 and num_clones=2`
works for training but not validating period

[2017-09-14 05:59] csbenk commented on #2385
`boa train_image_classifier.py --train_dir=${TRAIN_DIR} --dataset_name=mnist --dataset_split_name=train --dataset_dir=${DATASET_DIR} --model_name=mobilenet_v1 `
After I have gotten the dataset on board, and I also followed the previous steps of installation. Later also converted the MNIST to the TFRecord format. Then when I ran the train_image_classifier.py form the slim folder of the models repo,

[2017-09-14 06:37] saghiralfasly commented on #2369
@phongnhhn92 actually this happened to me too. due to the code for preparing data set where in that mentioned tutorial he has developed a script to create tfrecord where each example contains only one bounding box. i have modified the code so each examples contains more than one bounding box after that it works well for detecting more than one object on image. However, that tutorial and scripts de

[2017-09-14 07:37] #2383 closed

[2017-09-14 07:37] wonsekim commented on #2383
solved after reading reademe.md

[2017-09-14 07:40] phongnhhn92 commented on #2369
@saghiralfasly Would you mind sharing the code. I think it would help lots of people.

[2017-09-14 08:21] pnt1614 commented on #2215
I am using Windows 10, Python 3.6, Tensorflow 1.3 and I am having the same problem. Is this an error when running on Windows?

[2017-09-14 08:23] s5plus1 commented on #1854
Train on a single GPU and eval on CPU:

- Training: Allow growth

 In trainer.py, add

`session_config.gpu_options.allow_growth = True`

behind

`session_config = tf.ConfigProto(allow_soft_placement=True,
                                                    log_device_placement=False)`

- Evaluation: Use CPU

In eval.py, add

`import os
os.environ['CUDA_VISIBLE_DEVICES'] = '-1'`

[2017-09-14 08:37] pnt1614 commented on #2215
To solve this problem, I follow the instructions in the train.py and swap the order of 2 parameters: "pipeline_config_path" with "the train_dir"

[2017-09-14 08:59] Prasad9 opened #2386 "Explanation of keys present in TFRecord"
I have done lot of Google search but I am not able to find any answer to my questions. In generation of TFRecords (ex: [create_pet_tf_record.py](https://github.com/tensorflow/models/blob/master/object_detection/create_pet_tf_record.py)), there are few keys for which I am not able to find any documentation associated with it.
1) There is `image/object/difficult` and `image/object/truncated` which I

[2017-09-14 09:31] shamanez commented on #2275
@huapingchen  I also have this . It's not printing the mAp scores after each evaluation as in the cloud . Do you found any solution ?

[2017-09-14 09:52] shamanez opened #2387 "Object Detection : Cannot run eval.py locally . It gives warnings for TF 1.3"
I am using tensorflow 1.3 .
My training script run well locally . But evaluation is not showing the results or printing the results .
Here's the tensorboard Visualization
![image](https://user-images.githubusercontent.com/16892570/30423380-3b8b5474-9975-11e7-92bc-5db7e90ef2c1.png)

Then this gives this directory
![image](https://user-images.githubusercontent.com/16892570/30423468-76e47bc2-9975-11e

[2017-09-14 10:39] UndeadBlow commented on #2385
Have you read the instructions?

It is your own problem, not a bug. The error you received is very clear: TF can't find GPU. Try to read at least what program prints. It is because you've installed CPU version of tensorflow from repositories.
Go on Stack Overflow.

[2017-09-14 12:27] irmowan commented on #1195
Hope again.

[2017-09-14 12:45] balajiravichandiran opened #2388 "Error on validating model config in model_builder.py"
I tried to train object detection with my own data, can run locally without any issue, i followed tutorial to deploy on Google Cloud, I always get same. All my buckets are same regional.
[ssd_mobilenet_cocov2.txt](https://github.com/tensorflow/models/files/1302973/ssd_mobilenet_cocov2.txt)

Training input
[code]

Error message
The replica master 0 exited with a non-zero status of 1. Termination re

[2017-09-14 14:34] #1817 closed

[2017-09-14 15:37] xiaoyi201406 commented on #2387
Do you switch the location of the tensorboard log  from the train log to the eval log?

[2017-09-14 15:43] corcra commented on #2378
Did you see this issue? https://github.com/tflearn/tflearn/issues/766

The solution there is to upgrade dask, `pip install dask --upgrade`

[2017-09-14 16:57] cy89 commented on #2334
Sorry for the slow response. Have you also tried posting on StackOverflow? There's a large community that listens and responds to questions there.

[2017-09-14 16:57] cy89 commented on #2338
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-09-14 17:01] cy89 commented on #2348
@cmyee was this a one-time occurrence, or have you seen this behavior more than once? I haven't seen other reports of this sort of thing.

[2017-09-14 17:13] cmyee commented on #2348
@cy89 I've just seen this once so far but can let you know if it happens again.

[2017-09-14 17:21] cy89 commented on #2352
Without knowing more about your configuration, it's hard to say. But it seems worth asking: is your input configured so that you use a fixed subset of your eval data? If you're sampling from the eval data, then that can of course cause variation.

[2017-09-14 17:25] #2354 closed

[2017-09-14 17:37] balajiravichandiran commented on #2388
I commented out  following lines in builder/model_builder.py
 #if not isinstance(model_config, model_pb2.DetectionModel):
  #  raise ValueError('model_config not of type model_pb2.DetectionModel.')

and builder/input_reader.py
#if not isinstance(input_reader_config, input_reader_pb2.InputReader):
  #  raise ValueError('input_reader_config not of type '
  #                   'input_reader_pb2.Input

[2017-09-14 17:37] reedwm commented on #2335
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:37] #2335 closed

[2017-09-14 17:38] reedwm commented on #2385
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 17:38] #2385 closed

[2017-09-14 17:53] pavanyvs commented on #603
Even I am getting the same result. I did what Shlens said and have the correct path for all my files. Can anyone help?

[2017-09-14 18:32] Zumbalamambo opened #2392 "Detecting Pillows"
I want to detect only pillows with tensorflow object detection api.
I used around 100 images to train my model.
when i try to recognise, it is recognising everything as pillow. validity  loss at 700th step is around 0.4634. How can I make prediction more accurate?

[2017-09-14 18:40] pavanyvs opened #2393 "build_image_data.py issue"
I'd like to train my own image data set with tensorflow inception model V3. I am trying to convert my data to TFRecords format. I have created the folders for Training, validation and output folder for tfrecords. I have my labels_file.txt aswell.
When I try to convert the data using this command:

bazel-bin/inception/build_image_data \
  --train_directory="${TRAIN_DIR}" \
  --validation_directory=

[2017-09-14 21:44] reedwm commented on #2393
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 21:44] #2393 closed

[2017-09-14 22:22] dnlglsn commented on #1988
I created a script using the above modification from @lionel92 which should essentially replace `export_inference_graph.py` to export a graph which can be served from TensorFlow Serving.
https://gist.github.com/dnlglsn/c42fbe71b448a11cd72041c5fcc08092

[2017-09-14 22:55] NikaSerti opened #2394 "Help"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-09-14 23:39] cy89 commented on #2356
Any chance you're running on an older version of TF? #8552 looks superficially similar (at least about the clone_loss error message), but was resolved in a later version.

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact comma

[2017-09-14 23:39] cy89 commented on #2370
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 23:39] #2370 closed

[2017-09-14 23:46] cy89 commented on #2376
@sguada would you please comment on whether there are any plans to release more of the pre-trained models from that paper?

[2017-09-14 23:48] cy89 commented on #2382
@andorardo would you please take a look?

[2017-09-14 23:50] cy89 commented on #2388
@balajiravichandiran Would you please make the logs publicly viewable?

[2017-09-14 23:50] cy89 commented on #2348
Thanks @cmyee. If you don't mind, I'll close this; please reopen if it happens again.

[2017-09-14 23:50] #2348 closed

[2017-09-14 23:51] cy89 commented on #2392
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-14 23:51] #2392 closed

[2017-09-14 23:52] cy89 commented on #2394
It's not clear what the problem is here. If there is an issue, please write something about what's going on.

Closing for now; feel free to reopen or file a new bug.

[2017-09-14 23:52] #2394 closed

[2017-09-15 00:26] js1972 commented on #2378
Thankyou @corcra - I also found that by building my own AWS instance instead of using the AWS provided deep learning AMI works perfectly well too.

[2017-09-15 00:26] #2378 closed

[2017-09-15 00:27] balajiravichandiran commented on #2388
**I can't export Cloud ML logs, so simulated error on my local.** I also attached, object_detection package i tested, hope you can reproduce error from my package.

[slim-0.1.tar.gz](https://github.com/tensorflow/models/files/1304937/slim-0.1.tar.gz)

------------Logs --------------------------------
(test)balaji@moovita:~/develop/git/tensor_cloud/test/src/object_detection-0.1$ python -m "object_d

[2017-09-15 00:52] saghiralfasly commented on #2369
gladly
https://gist.github.com/saghiralfasly/ee642af0616461145a9a82d7317fb1d6

[2017-09-15 02:42] vishalghor commented on #2356
Hi all,@cy89,

- **Using a stock example from models/slim**
- **OS:Linux Ubuntu 14.04**
- **TensorFlow Installed from Binary**
- **Tensorflow Version 1.2**
- **Python version : 2.7.6**
- **CUDA: NA**
- **GPU : NA (installed for CPU)**
- **command : $python export_inference_graph.py    --model_name=inception_v3    --output_file=/tmp/inception_v3_inf_graph.pb**

Sorry for not following the new issue

[2017-09-15 03:25] shamanez commented on #2387
yes. Problem is when I run the eval.py it's not printing any  evaluation results as it does in the cloud API. Only thing appears in the terminal is this . It's not running

![image](https://user-images.githubusercontent.com/16892570/30465238-8096feea-9a08-11e7-8191-91b04e5ca39f.png)

[2017-09-15 05:27] shamanez commented on #2387
This keep going nothing get evaluated .

![image](https://user-images.githubusercontent.com/16892570/30467737-8629e172-9a19-11e7-9efc-45d2facebc47.png)

[2017-09-15 05:33] shamanez commented on #2388
@balajiravichandiran  When running locally did you managed to run the evaluation script ? My one is not working

[2017-09-15 05:47] shamanez commented on #1856
@robert780612  Hi I tried to run the evaluation script localy with tensor flow 1.3 . It's not showing any results as they do show like in your case
See this is the what I got .

![image](https://user-images.githubusercontent.com/16892570/30468183-676de67c-9a1c-11e7-8eac-c8af2d09daf2.png)

[2017-09-15 05:50] balajiravichandiran commented on #2388
yes, I am able to run evaluation on locally, as well as cloud.
python eval.py --logtostderr \
--checkpoint_dir=/your-checkpoint-dir \
--eval_dir=/dir-to-save-eval \
--pipeline_config_path=/your-config/pipleine.conf

[2017-09-15 06:29] shamanez commented on #2388
Did you use TF version 1.3 ?

[2017-09-15 06:30] shamanez commented on #2388
My evaluation job is not working locally. This is my screen when I run this. I did same as you said

![image](https://user-images.githubusercontent.com/16892570/30469354-65c05070-9a22-11e7-9ad6-007a36041f41.png)

[2017-09-15 06:37] MisayaZ commented on #2352
@cy89.  I set num_examples to the number of images in test data sets. I found that some of the images are used not only once, the other images are not used in test data sets.

[2017-09-15 06:38] balajiravichandiran commented on #2388
I don't have such warning.
yes: tensorflow: '1.3.0' and Python 2.7.6

[2017-09-15 06:43] shamanez commented on #2388
I did the same. Store training logs in one folder .What has happened ?

[2017-09-15 08:51] robert780612 commented on #1856
Hi @shamanez
Did it show any information after the deprecated warning?
I am not sure what's going on, maybe it is caused by tensorflow version (I use tf1.2)

[2017-09-15 09:45] xzy256 opened #2395 "Why does ‘Mixed_5b’ contains 5x5 cov in inception v3 net"
How do explain remain `5x5` conv layer?
When  i see the v3 source code[models/slim/nets/inception_v3.py], i find it remains `5x5` convolution layer and lack of only one ` 1x1 - 3x3` cov layer branch. According  v3 paper `Rethinking the Inception Architecture for Computer Vision`, `5x5` convolution  is replaced by` two 3x3`.
<pre>
with tf.variable_scope('Branch_0'):
          branch_0 = slim.conv2d

[2017-09-15 19:42] reedwm commented on #2395
@sguada can you comment?

[2017-09-15 21:57] cy89 commented on #2356
@vishalghor Could you please give TF 1.3 a try instead, and see if the problem goes away?

[2017-09-15 21:57] reedwm commented on #2387
/CC @derekjchow do you know what the issue is?

[2017-09-15 22:03] cy89 commented on #2386
I'm going to mark this as "docs", as it seems like a reasonable request.

In the meantime, may I also refer you to StackOverflow (http://stackoverflow.com/questions/tagged/tensorflow)? There is also a larger community that reads questions there. Thanks!

[2017-09-15 23:41] tombstone commented on #2352
Can you try setting num_epochs=1 in the eval_reader_config and tell us if it solves your problem ?

[2017-09-16 05:04] vishalghor commented on #2356
Hi @cy89  i will try TF 1.3 and check if the  problem goes  away.i will update soon on the same after the check.

[2017-09-16 06:56] rakashi opened #2397 "Evaluate im2txt is giving error"
Hi, I have trained image2text using MSCOCO dataset and I have got my model when i am trying to predict text my image its giving values like p= 0.00036 coming I didnt get is it probability if it is probability its very less how this value is coming

And also When I am trying to evaluating my model its giving the following error

/home/lakshmi/anaconda3/bin/python /home/lakshmi/PycharmProjects/im2tx

[2017-09-16 17:52] vinuvish commented on #1200
Still im getting this issue after installing dll file

[2017-09-17 09:42] ronrest opened #2400 "link to graph_def file in TF Slim models readme.md"
## Feature Request Description
The readme.md file for the TF Slim pre-trained models contains several columns, with information and links.

However, it is missing a column with links to the graph_def file.

## Proposed solution
I propose something like this (only a subset of the table shown below):

Model | Code | Graph File | Checkpoint | Top-1 Accuracy| Top-5 Accuracy |
:----:|:------------:|:--

[2017-09-17 10:18] ronrest opened #2402 "TF-Slim model Inputs - (range and dtype)"
## Issue Description
The pretrained TF-Slim models (at least the mobilenet models) do not contain information about what range of values or datatype they expect as inputs.

For instance, the source code for the mobilenet architecture ([here](https://github.com/tensorflow/models/blob/master/slim/nets/mobilenet_v1.py#L154), and [here](https://github.com/tensorflow/models/blob/master/slim/nets/mobile

[2017-09-17 20:32] chenliu0831 opened #2404 "cifar10_estimator hangs under `gpu` variable_strategy locally with multigpu"
### System information

ubuntu 14.04, tf 1.3 (installed from `tensorflow-gpu` pip package). CUDA 8.0 + cuDNN 6. Two Titan X GPUs

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in TensorFlow or a feature request.\

Under https://github.com/tensorflow/models/commit/dd9a81c03bf924db8d461a3e696ba1bd4bb193fc,
the training hangs after the first evaluat

[2017-09-18 00:19] metaranha commented on #1992
Seeing the same problem right now on Ubuntu.
Here's my trace:
File "train.py", line 51, in <module>
    from object_detection import trainer
  File "build/bdist.linux-x86_64/egg/object_detection/trainer.py", line 33, in <module>
    from deployment import model_deploy
ImportError: No module named deployment

[2017-09-18 03:02] sshleifer commented on #1853
@vxy10 did you ever finish the kitti project? writing the same converter now

[2017-09-18 03:23] Coderx7 commented on #1942
Any update on this? I'm having the same issue here

[2017-09-18 06:36] phongnhhn92 commented on #2369
That's awesome mate !

[2017-09-18 08:02] yimintsai commented on #2387
Encounter the same problem using TF1.3.

[2017-09-18 09:38] redserpent7 opened #2405 "[im2txt] Training for different languages"
I posted this question a while back [on SO](https://stackoverflow.com/questions/46173193/requirements-to-train-a-non-english-im2txt-model) but did not get any response. so I'll try here hoping that someone might be able to help.

I just wanna know what are the known requirements and if any code changes needs to be done besides modifying the MSCOCO annotations in order to train a non-english im2txt

[2017-09-18 11:22] Martinsos commented on #1114
I am getting this same error, but I am not sure what is exactly the problem? I am figuring out from your comment that code was written for Python2?
I saw that there was a commit fixing stuff so it works for Python3, but it seems it didn't fix it completely, since I am also getting this error?

What I did is add `.decode('utf-8')` to the line 265 in batch_reader.py, and that has removed the errors.

[2017-09-18 13:11] ninetu commented on #1992
For ubuntu @metaranha
1. If [models](https://github.com/tensorflow/models) is located at /home/tensorflow/models/
2. Edit ~/.bashrc and puts
`export PYTHONPATH="${PYTHONPATH}:/home/tensorflow/models:/home/tensorflow/models/slim/"`

For windows, @jayshah19949596
1. Goto `My Computer > Properties > Advanced System Settings > Environment Variables > New`
2. If [models](https://github.com/tensorflow/m

[2017-09-18 13:24] emilymaxima commented on #1992
@ninetu
Right, I do have the correct directory exported, but I'm still hitting the same snag.

[2017-09-18 13:27] metaranha commented on #1992
@ninetu
Right, I've exported the correct directory, but I'm still hitting the same
snag.

On Mon, Sep 18, 2017 at 9:12 AM, ninetu <notifications@github.com> wrote:

[2017-09-18 13:29] Yakirbe opened #2406 "OD model surgery"
hi, i have 2 matters i want to do on OD models produced via new TF API:

1. access mid-layers of features per image - i want to observe features created per roi per image in some late (second stage) forwarding. was trying to figure out its arch. with its docs + tensorboard but its not quite clear.
2. generalizing TF OD models (graphs) into a larger model, for example for a sequence of images i wan

[2017-09-18 13:29] ninetu commented on #1992
Make sure you puts both models  and models/slim ?

On Mon, Sep 18, 2017 at 8:25 PM, emilymaxima <notifications@github.com>
wrote:

[2017-09-18 13:32] metaranha commented on #1992
Yes, both are exported and I'm still seeing the same "no module named
deployment" message.

On Mon, Sep 18, 2017 at 9:30 AM, ninetu <notifications@github.com> wrote:

[2017-09-18 14:04] chenyuZha commented on #2364
@madekwe  I had the same issue with you , then I resolved it by just modified the size of test image. In your case, as you resized your training data as 1000x1000, so when you test your images, the size of your images should be either 4000x4000 or 6000x6000 to get the same ratio.

[2017-09-18 16:07] chenyuZha commented on #1744
@lang25150  Could you please tell me if you modify other configurations in `train.py`? Because when I set `--num_clones=2`, I got the error: ` ) = _get_inputs(input_queue, detection_model.num_classes)
ValueError: need more than 0 values to unpack
`

[2017-09-18 16:26] chenyuZha opened #2407 "Multi-GPU can't set when use model fasterRcnn_inception_resnet_v2"
When I use  model **fasterRcnn_inception_resnet_v2** with my own data for training, I set `--num_clones=2` to use my 2 GPUs. But I got the error below:
`File "/home/zha/Documents/models-master/object_detection/trainer.py", line 117, in _create_losses
    ) = _get_inputs(input_queue, detection_model.num_classes)
ValueError: need more than 0 values to unpack
`
I tested with model `ssd` then everythi

[2017-09-18 20:06] CarltonSemple commented on #1597
Has this issue been addressed?

[2017-09-19 01:51] urielka commented on #1609
While changing the threshold actually makes it really faster, the post processing on a graph that was optimised with graph transform tool in order to take out fusedbatchnorm still spends 20% of the time in the postprocessing.

So while the 90 calls to NonMaxSuppression takes only 0.285% the scope of Postprocessor/BatchMultiClassNonMaxSuppression takes 20% of the execution time which seems really h

[2017-09-19 01:55] urielka commented on #2061
@derekjchow I think the problem is more complicated, I did a run of ssd_mobilenet_v1 with a score threshold of 0.2 which made the NonMaximumSuppresion op calls to be very fast but the whole post processing is still taking 20% of the runtime - I guess implementing something like BatchMultiClassNonMaxSuppression as part of a graph instead of a bulitin op really makes it slow...

[2017-09-19 02:59] vishalghor commented on #2356
hi @cy89 ,

I tried using TF 1.3(latest version) with same commands.
The issue still persists.

[2017-09-19 03:14] futurely commented on #1609
https://github.com/rbgirshick/py-faster-rcnn/blob/master/lib/nms/nms_kernel.cu

[2017-09-19 03:27] shartoo commented on #2322
you can check your 'object/detection/protos' directory, checking if there is 'string_int_label_map_pb2.py'.The file was generated by command

[code]

[2017-09-19 06:22] xcyan commented on #2239
@mees @hellojas Ready to close this issue?

[2017-09-19 06:47] sachinruk commented on #1866
@PratsBhatt I'm assuming what you did was modify `embedding_attention_seq2seq` in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py . If so could you post your modified `embedding_attention_seq2seq`.

[2017-09-19 07:53] wait1988 opened #2415 "Is there any example on how to convert wider face to tf record?"

[2017-09-19 08:01] mees commented on #2239
Sure, thanks @xcyan!

[2017-09-19 08:01] #2239 closed

[2017-09-19 08:42] sczhengyabin commented on #2415
Hi, there is a blog which provide code for converting the WIDER-FACE dataset to VOC format.
After conversion finished, I believe it's easy to convert the VOC format dataset to tf-record.

[2017-09-19 08:45] JonathanKChang opened #2416 "Frozen pretrained Faster RCNN/RFCN networks from model zoo yielding different outputs on different GPUs and runs"
Duplicate

[2017-09-19 09:00] #2416 closed

[2017-09-19 09:03] #2415 closed

[2017-09-19 09:12] hroser commented on #1817
Hi thank you very much, your discussion regarding the OOM problem helped me a lot. The train_config settings from @ArjanSchouten solved my problem.

But i hope someone can help me with another question, in the Google Cloud ML documentation i can't find details about the RAM configuration of the different machine types that are available:

standard
large_model
complex_model_s
complex_model_m
comple

[2017-09-19 09:28] fastlater commented on #2246
@sukumar45  I guess your error is different. You are setting the wrong path. Check it. If it was memory problem, reduce the batch size to 1.

[2017-09-19 12:35] minaSamizade commented on #373
@Ali-Zareie I have same issue, did you solve it?

[2017-09-19 17:38] Openning07 opened #2417 "Cannot achieve the same results with InceptionV3 model on the validation set of ILSVRC12"
Recently, I've working on my research based on the InceptionV3 model, with Tensorflow and Tensorpack.
It seems that I've managed to load all the necessary tensor variables in the checkpoint file (LOG: **The following variables are in the checkpoint, but not found in the graph: global_step:0**).
Besides, I change my data pipeline (in the test/inference stage) just the same as it is in https://githu

[2017-09-19 18:39] himani-arora opened #2418 "Bug in models/learning_to_remember_rare_events/"
It seems like the per-shot accuracy calculation in `models/learning_to_remember_rare_events/train.py` is wrong:
```correct_by_shot = dict((k, []) for k in xrange(self.episode_width + 1))```

Instead of `self.episode_width` , it should be something like `int(self.episode_length/self.episode_width*1.0)-1` since per shot means how many samples have been seen so far.

The original code does not make s

[2017-09-19 18:42] EpochalEngineer commented on #2374
Updated with second machine test that reproduced these issues.

[2017-09-19 19:12] yaroslavvb opened #2419 "object_detection : multi-machine training?"
I'm looking to speed-up Object Detection training by using multi-machine training on AWS (along the lines of 64 GPU inception [training](https://www.tensorflow.org/performance/performance_models)) . Is there any ongoing work in this area, and if not, is the existing object_detection codebase a good fit for implementing multi-machine training?

[2017-09-19 20:46] iosnewbie2016 commented on #983
I tried to run the object model detection and I run into the same issue. tried changing label_map_string = fid.read().decode(), but still no luck. Note: The line number is not 104 for me, but I made the change in "load_labelmap(path)" method in label_map_util.py

Am using python 3.6, Tensor flow - version 1.0.0, and running on OSX. am running via Anaconda 1.6.3.

[2017-09-19 21:40] EpochalEngineer commented on #2374
@aselle Was there supposed to be a response added with the removal of that tag?

[2017-09-19 23:37] LiangKlausQiu opened #2420 "do concatenate() in vggish_train_demo.py?"
Hi @plakal  and @dpwe,
For the function _get_examples_batch() in vggish_train_demo.py (line117), do you think it should use np.concatenate() instead of adding them up as tuples.

[2017-09-19 23:48] plakal commented on #2420
Yes, good catch, that is a bug in vggish_train_demo.py, also spotted on the mailing list https://groups.google.com/forum/#!topic/audioset-users/akY6p378zyA

The bug isn't critical since the demo itself is intended to show how to train the model, and we don't particularly care about the inputs or outputs.

If you'd like to submit a pull request to fix this, we'll be happy to accept :) Else, we'll g

[2017-09-20 04:25] molly00ecla commented on #2325
why it was closed? This problem still existed.....

[2017-09-20 04:42] sidthekid402 commented on #1696
I have 2 classes in my label_map.pbtxt, yet I get the warning:

The following classes have no ground truth examples: [ 0 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 9

[2017-09-20 04:43] molly00ecla commented on #2325
Oh, I sloved this problem..
You must defined the input as a 4-dim Tensor,  （N,H,W,C), such as:

`       inputL = tf.placeholder(tf.float32, (64, 299, 299, 3))
        logits, end_points = inception_v4.inception_v4(inputL, 80, is_training=False)`

[2017-09-20 08:21] #2123 closed

[2017-09-20 09:52] pyspam opened #2421 "[Feature Reauest] Could we help provide a benchmark demo using googlenet"
I am a new bee for tensorflow or machine learning, I have seen some code [here](https://github.com/tensorflow/models/blob/master/tutorials/image/alexnet/alexnet_benchmark.py) ,
could we show a tutorial in this repo ? Thank you !

[2017-09-20 16:28] LiangKlausQiu commented on #2420
@plakal , thanks for your response. Glad to hear that you have noticed this.

Another issue for me is that since I want to train my own classifier for 11 classes chosen from your ontology, is there a convenient way to download the Youtube audios as .wav files? I want to tune the parameters in the feature extractor so I may not use your released features directly. You also released 3 .csv files whi

[2017-09-20 17:19] plakal commented on #2420
If you have other issues beyond features and bugs, let's discuss it on the audioset-users mailing list and not have the discussion here.

There was already a thread earlier this year about this topic https://groups.google.com/forum/#!topic/audioset-users/DbyaYxzwnDU.

[2017-09-20 17:55] aselle commented on #1944
@kjanjua26 , did you find any resolution to your problem yet?

[2017-09-20 18:07] aselle commented on #2137
@alexgorban, PTAL.

[2017-09-20 18:58] Prasad9 commented on #2386
@cy89, after searching through Pascal VOC dataset website, I got the answers to my question.
I am listing them below:
1. `image/object/difficult`: The difficult field being set to 1 indicates that the object has been annotated as "difficult", for example an object which is clearly visible but difficult to recognize without substantial use of context.
    `image/object/truncated`: The truncated fie

[2017-09-20 21:48] aselle commented on #2372
@derekjchow , could you PTAL. Thanks!

[2017-09-20 21:50] aselle commented on #2386
@derekjchow, could you PTAL. Thanks!

[2017-09-20 21:51] aselle commented on #2406
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-20 21:51] #2406 closed

[2017-09-20 21:58] aselle commented on #2402
It would be awesome @ronrest. It would be awesome if you would prepare a PR! @sguada, could you please give him direction on preparing this PR.

[2017-09-20 23:04] shivaniag commented on #2421
'could we show a tutorial in this repo'. I am not sure if I got you right, do you mind rephrasing your question.

[2017-09-20 23:05] shivaniag commented on #2421
"could we show a tutorial in this repo ". I am not sure if I got you right, do you mind rephrasing this.

[2017-09-21 01:47] radzfoto commented on #1601
The problem in Python 3.x is that the you need to convert python strings into raw strings (e.g. raw_string=b'this is a python string') when you assign them to the tensorflow example feature list. If you already have a string variable, convert it to a utf8 byte string. Here's an example for both which I've tested with Python 3.5 and 3.6 with Tensorflow 1.2.1:

`
    import tensorflow
    from objec

[2017-09-21 02:22] barrylachapelle commented on #1261
+1     ERROR: /tensorflow/tensorflow/core/kernels/BUILD:2297:1: C++ compilation of rule '//tensorflow/core/kernels:self_adjoint_eig_v2_op' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FORTIFY_SOURCE=1' -DNDEBUG ... (remaining 124 argume

[2017-09-21 03:39] SourcePowered opened #2424 "Run Object delection train.py ERROR"
[code]

On Windows 10, Python 3.6.2, Tensorflow 1.3.

I have spent 11 days trying to study it, but I can't solve it at all. I checked all kinds of coding problems and couldn't find any clue.

Please help me, I'm hopeless now. Thank you

[2017-09-21 03:42] SourcePowered commented on #2424
Doesn't it completely support the Windows platform? Or do not support Unicode's system at all? I have no any idea about this.

[2017-09-21 04:50] xxxzhi commented on #2239
sorry, here: https://raw.githubusercontent.com/tensorflow/tensorflow/6ac3efd42902d48d45d59128926110e6d5121a08/tensorflow/python/ops/confusion_matrix.py

this commit add the assert:

              labels = control_flow_ops.with_dependencies(
          [check_ops.assert_less(
              labels, num_classes_int64, message='`labels` out of bound')],
          labels)
      predictions = control_flo

[2017-09-21 06:37] meqxm opened #2425 "object detection API: detect other part of the image as an object with high confidence"
I have trained tensorflow object detection api on my own dataset with  1 class using rfcn_resnet101 model. Firstly I used the raccoon dataset  and trained for 264600 times and the detection result is weird, it can  detect the object, but there are some other little boxes in the result.Then I use another dataset containing one class,and there are 80000 images in the dataset, I met the familiar phen

[2017-09-21 06:49] zshobbs commented on #1992
Have you put it in as c:\tensorflow\models:c:\tensorflow\models\slim in the variable value as if you try to do 2 separate PYTHONPATH one replaces the other i was having the same problem till I tried this and then opened a new cmd window.

[2017-09-21 07:36] kjanjua26 commented on #1944
@aselle, Yes, I did find the solution.
The input layer name had to set, however, the output layer name was: AttentionOcr_v1/predicted_chars.

[2017-09-21 08:47] FanZeXiBlog commented on #1200
change directory, it's so amazing

[2017-09-21 09:21] auzair92 commented on #729
@madekwe You can try manually adding the path to system variables. In Control Panel, look for "Edit the system environment variables", then "Environment Variables..." and add append your desired path to the end of "Path" variable. Hope it helps!

[2017-09-21 09:52] pyspam commented on #2421
I mean to help write a demo like [this](https://github.com/tensorflow/models/blob/master/tutorials/image/alexnet/alexnet_benchmark.py) ,and it should work as a `Googlenet` benchmark.
That would be very helpful ,thanks! :smile:

[2017-09-21 10:17] mathCrazyy commented on #1836
hello,i also test the model,ssd_mobilenet_v1_coco_11_06_2017.tar.gz, but it can not rechieve the real-time performance ,isn`t it?

[2017-09-21 10:23] everhu opened #2426 "[attention_ocr] error on new dataset"
I want to train attention_ocr on new dataset, each example has 1 image, size of image is (800,600,3). The max_sequence_length is 18, size of charset is 37(10 digits + 26 uppercase + 1 null), config as follow:

[code]

Code to generate tfrecord as follow:

[code]

Command to train:
[code]

Error log:

[code]

[2017-09-21 10:58] crazyqg opened #2427 "can't export the trained model for inference"
Dear Experts:

I am trying to export the trained model for inference:
(tensorflow) [root@SZX1000358305 models]# python object_detection/export_inference_graph.py     --input_type image_tensor     --pipeline_config_path object_detection/faster_rcnn_resnet101_pets.config      --trained_checkpoint_prefix object_detection/    --output_directory output_inference_graph.pb

But I encountered a series of

[2017-09-21 11:31] metaranha commented on #1992
I'm building on Ubuntu, but I actually did find a solution to the problem.
It's embarrassing, but c'est la vie.

On Ubuntu, you have to 'su' to root and THEN set the path. The path doesn't
get applied globally, but you need root permissions to run the script, so
the path has to be set for a root-level account before doing all of this.
Before, I had been trying to set the path as an unprivileged us

[2017-09-21 12:04] jojiasako commented on #2427
trained_checkpoint_prefix should point directly to the model.ckpt. For example:
`--trained_checkpoint_prefix object_detection/model.ckpt`

Also, note that output_directory should have the path where you want to save the exported model (it will create the folder for you). So putting output_inference_graph.pb there might lead to some confusion later when performing predictions.

[2017-09-21 13:59] Zxiaoma opened #2428 "How to import the tensorflow models to pycharm ?"
I want to use the PTB reader, which path is models/tutorials/rnn/ptb. It cloud work in the black windows, but when I use the pycharm, there was a mistake..."ImportError: No module named 'reader' "

[2017-09-21 16:28] aselle commented on #2428
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-21 16:28] #2428 closed

[2017-09-21 17:16] aselle commented on #2418
@nealwu, can you take a look?

[2017-09-21 17:48] nealwu commented on #2418
@ofirnachum looks like this is your model. What do you think?

@lukaszkaiser as well.

[2017-09-21 17:59] Walid-Ahmed opened #2429 "Error:('all elements of boxlists should be BoxList objects')"
Hello,

I am getting the following error when I train:

Can someone help?﻿

System information:
TF 1.3.0
MacOS Sierra

[2017-09-21 18:17] ofirnachum commented on #2418
Thanks for bringing this up. Yes, this looks like the proper way to fix the issue.

[2017-09-22 00:19] alifejon opened #2432 "400: Invalid request: https://raw.githubusercontent.com/tensorflow/models/master/inception/inception/data/"
When I am running note "Apply Pre-trained Inception V1 model to Images." in  slim_walkthrough.ipynb, I found invalid request error.

In https://github.com/tensorflow/models/blob/master/research/slim/datasets/imagenet.py#L86-L87,
the base_url should be:
[code]

[2017-09-22 00:33] crazyqg commented on #1843
Hi,

  I followed your example above but encountered the following error, any idea?

(tensorflow) [root@SZX1000358305 models]# python object_detection/eval.py --logtostderr --pipeline_config_path=object_detection/faster_rcnn_resnet101_pets.config --checkpoi          nt_dir=object_detection --eval_dir=object_detection
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disab

[2017-09-22 02:03] classicCoder16 commented on #2133
Likewise -- does anyone have an update on this?

[2017-09-22 03:50] jaychak opened #2433 "TF Slim ipython walkthrough (slim_walkthrough.ipynb) page missing"
------------------------

### System information
NA

### Describe the problem
https://github.com/tensorflow/models/blob/master/slim/slim_walkthrough.ipynb page not found error.

### Source code / logs

[2017-09-22 05:34] alifejon commented on #2433
I found it here:
https://github.com/tensorflow/models/blob/master/research/slim/slim_walkthrough.ipynb

Maybe, after changing dir structure they did not check all kinds of links.

[2017-09-22 06:34] wait1988 opened #2435 "GPU requirement for training the models?"
I can train the mobilenet model successfully,but all the other models failed.Anyone knows why?

2017-09-22 14:27:27.145537: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1055] Creating TensorFlow device (/device:GPU:0) -> (device: 0, name: GeForce GTX 980 Ti, pci bus id: 0000:01:00.0, compute capability: 5.2)
INFO:tensorflow:Restoring parameters from /home/xxx/deep_learning/dataset/hh/2017092

[2017-09-22 12:42] bubert commented on #2377
You should [install Tensorflow with GPU support](https://www.tensorflow.org/install/install_sources).

[2017-09-22 14:46] lozuwa opened #2440 "Object detection page is down"
The page seems to be down since 09/21/17.

[2017-09-22 14:50] lozuwa commented on #2440
Sorry, the page can be found at https://github.com/tensorflow/models/tree/master/research/object_detection

[2017-09-22 14:50] #2440 closed

[2017-09-22 15:39] ENate commented on #522
Hi All,
I have the same problem on trying to run the toy dataset on both python3.6 and python2.7! Any solutions to this problems? Thanking!

[2017-09-22 16:18] frankkloster opened #2442 "Export Inference Model Error"
After training the pet model in according to the directions [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md) and [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_locally.md), specifically training on a local machine, I tried to export my model. This is where I seem to be running into issues. Afte

[2017-09-22 17:32] jaychak commented on #2433
Thanks, Alifejon. Most of the links in the tutorial don't work anymore.

[2017-09-22 18:52] niyazpk commented on #2241
What data are you training with this? Are you trying to train image-net data itself on your resnet model?

[2017-09-22 20:41] haamoon commented on #2241
Yes, I am.

[2017-09-22 23:53] phongnhhn92 commented on #2377
You mean I should install tensorflow from source ? I mean i doubt that would make the difference since I installed tensorflow-gpu using pip and all driver cuda cudnn recoginzed.

[2017-09-23 01:30] crazyqg opened #2446 "What's the use of fine_tune_checkpoint?"
Dear Expert:

  Just wondering what's the use of this parameter fine_tune_checkpoint?  I thought that if I use this parameter, then the training will start from the previous official results.  But if I need to train from scratch so for the first time I will need to comment this line, right?

  The faster_rcnn_resnet101_pets.config says that the limit of training steps should be set as 200k, but ho

[2017-09-23 06:12] ly-atdawn opened #2447 "Show and Tell: A Neural Image Caption Generator"
Could you commit some pretrained models links of "Show and Tell: A Neural Image Caption Generator"(im2txt) in this project?
It just for research purposes. Thanks.

[2017-09-23 08:00] crazyqg commented on #2427
Thanks,  I change to model.ckpt-200 and the problem is solved

[2017-09-23 08:00] #2427 closed

[2017-09-23 08:31] tengshaofeng opened #2448 "are you considered add the densenet or dual path net in slim models?"
hi, i am so appreciated with your great job.
and i pay a close attention on this website all the time.
look forward your update. thanks.

[2017-09-23 22:25] psyon commented on #490
The benchmark code looks to use the old methods, rather than the TF-Slim code.  When using the methods from models/inception/inception_train.py, I am able to match the performance that I get while running the benchmark script.  When using the scripts in models/slim though, I am only getting about half the performance, due to the GPUs being starved for data.  Can the new methods for loading data to

[2017-09-23 22:34] shamanez opened #2449 "Tensorflow Object Detection API - Cannot Train Locally For a Single Class Problem. Crashes"
I am trying to train a SSD with mobile net to detect Single Class. But every time it crashes like this .
![image](https://user-images.githubusercontent.com/16892570/30777659-36844834-a085-11e7-8bba-ac867a391444.png)

![image](https://user-images.githubusercontent.com/16892570/30777660-4c8e6eac-a085-11e7-9526-81f01d600da2.png)

![image](https://user-images.githubusercontent.com/16892570/30777665-5f

[2017-09-23 23:41] shamanez commented on #1881
Is is this a problem allocated with the data set ?

[2017-09-24 06:06] ActionMichael commented on #1779
same with me~~~seems like can't add pipeline_config path from command line~~~how can I do~~~
(in anaconda prompt(windows 10)),please help ~~~~

[2017-09-24 06:37] ActionMichael commented on #2289
it's works thanks ykhedar ~~

[2017-09-24 09:17] DVassilev commented on #1972
@drorhilman I'm trying to configure usage of multiple GPUs on Azure N-series (specifically NC with the K80s). However, the GPUs seem to not have peer to peer access. How were you able to get them to communicate with one another in order to use multiple GPUs? I made a forum thread here: https://social.msdn.microsoft.com/Forums/en-US/c81a26b7-3770-4772-acc8-6ef5bd868108/training-neural-network-or-ot

[2017-09-24 14:37] shamanez commented on #1881
Yeah. This loss error occurs when there's some kind of wrong annotation .  I tried with different data set it works really fine. It's always good keep a track of following things ,
1. Image size
2. Object size
3. Boundaries of the bounding boxes

[2017-09-24 17:10] CarltonSemple commented on #2084
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md

[2017-09-25 02:56] scotthuang1989 opened #2451 "street model can not start run"
### System information
- **What is the top-level directory of the model you are using**:models/research/street/python
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:

[2017-09-25 03:37] leacoleaco commented on #2133
@matlabninja @yzs15 @alicefqy @classicCoder16   I finally find my problem.... and it will slove your promblem too...
When using ' export_inference_graph.py'  file generate the frozen model, it will create two .pb  file in output_directory,
first is "frozen_inference_graph.pb" that in  root dir
second is 'saved_model/saved_model.pb' that in 'saved_model' dir
we both used the wrong file to import...

[2017-09-25 07:07] #2426 closed

[2017-09-25 07:59] yhmybzc commented on #1779
same here, I am in (anaconda2 env(Ubuntu 16.04)), anyone can help?

[2017-09-25 13:21] PierreBoyeau commented on #1916
Hey guys,

Any news on this subject? Personnaly, I also face issues when I try to run `eval.py`.
I get the following error
[code]

Any idea of what I could change in the code to make it work?
Thanks in advance!

[2017-09-25 13:26] yhmybzc commented on #1591
@roblee357 try to add * like this: protoc object_detection/protos/*.proto --python_out=.

[2017-09-25 13:35] yhmybzc commented on #1591
I have passed builder_test.py, but when I try to run locally as in running_locally.md I got following issues:

Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main "main", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python2.7/site-packages/object_detection/train

[2017-09-25 13:41] yhmybzc commented on #1957
@deatherving Got exactly the same errr. I checked my command line carefully but did not find any mistyped "tab"s. Did you make it your own accidentally by mistyping? Thanks a lot!

[2017-09-25 15:33] tfboyd commented on #490
@psyon
the slim code has a variety of issues that are being resolved as a high priority problem.

1) it uses NHWC which is not optimal on GPUs
2) it does not use fused batch_norm.  You can fixed this by setting fused=true  :-)
3) it does not have good variable management options it's only option is to put all variables on GPU:0 and that is not usually optimal
4) it uses queues, which is ok for 8xK

[2017-09-25 15:33] imucsliurui commented on #1887
why?

[2017-09-25 15:49] lucasamparo opened #2454 "Process killed in the time"
Hi guys...

I'm try to run a simples model training using a huge dataset.
My input data has something around 6GB and my output has around 9GB.

So, when i try to alloc that data, the kernel kills my process...

Someone can help me to deal with this?

P.S.: I'm very newbie in tensorflow, and this thread was really important for my research.
Thanks.

[2017-09-25 18:36] jojiasako commented on #2364
@madekwe Did you ever resolve this problem other than using the Matlab implementation? Having the same issue.

[2017-09-25 21:03] aselle commented on #2374
@nealwu, could you take a look?

[2017-09-25 21:09] aselle commented on #2454
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-25 21:09] #2454 closed

[2017-09-25 21:10] aselle commented on #2448
@sguada, any comments on this feature request?

[2017-09-25 21:41] nealwu commented on #2374
Looks like this is an object detection question. Looping in @derekjchow @jch1

[2017-09-26 01:44] deatherving commented on #1957
@yhmybzc I did. It's just a mistyping. Check the command line very carefully and you'll find it.

[2017-09-26 03:31] justinej commented on #202
I got the same error, and I fixed it by replacing the line
`done < "${SYNSETS_FILE}"`
with the absolute path:
`done < "$HOME/Documents/...YOUR PATH HERE.../bazel-bin/inception/download_and_preproce    ss_imagenet.runfiles/inception/inception/data/imagenet_lsvrc_2015_synsets.txt"`
(and rebuilding & rerunning). Not sure why that worked, but hopefully that's helpful.

[2017-09-26 05:10] louisquinn commented on #1972
I have:

- Two 1080Ti's
- CUDA 8.0 and cuDNN 6
- Changed num_clones=2 and increased batch_size to 2.

It only trained for one class, and the detection/eval results for that one class were very bad,  as in no recognition of the desired objects at all, even after many iterations. I also did not notice any increase in speed, is it safe to assume that the effective number of steps doubles?

I then swi

[2017-09-26 07:31] coolKeen commented on #2195
I also meet this problem,when I use the script:
python object_detection/export_inference_graph.py --input_type image_tensor --pipeline_config_path ../for_tf/ssd_inception_v2_coco.config --trained_checkpoint_prefix ../for_tf/in --output_directory ../for_tf/out
the same question appear.
But I fix it by changing the script like this:
python object_detection/export_inference_graph.py --input_type imag

[2017-09-26 08:14] coolKeen commented on #2334
try this:
sudo python3 object_detection/export_inference_graph.py  --input_type image_tensor  --pipeline_config_path="ssd_inception_v2_pets.config"  --trained_checkpoint_prefix="object_detection/ssd_inception_v2_coco_11_06_2017/model.ckpt"  --output_directory="birds_inference_graph.pb"
Pay more attention that there should not be any space near '='!!!

[2017-09-26 09:03] kamixueti opened #2457 "object_detection model import error"
Traceback (most recent call last):
  File "train.py", line 52, in <module>
    from object_detection import trainer
  File "..\object_detection\trainer.py", line 33, in <module>
    from deployment import model_deploy
ModuleNotFoundError: No module named 'deployment'

this deployment Is the slim.deployment?

[2017-09-26 12:07] kamixueti commented on #2457
I know how what.
I forget the export PYTHONPATH

# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim

[2017-09-26 13:01] ShaniOl opened #2459 "object detection API"
Hi,
I've been using Training Custom Object Detector - Tensorflow Object Detection API to train on my own data. I couldn't find a way to calculate the accuracy.
Any idea how it could be done?

[2017-09-26 14:11] gzoller opened #2461 "Feature Request - Compound Proper Nouns"
I'm using the syntaxnet (English) parser.
I've written no custom code.
Running in a Docker (Ubuntu I think) on MacOS.
Don't know component versions -- pulled latest from github master (running inside the docker I couldn't get the 2 env scripts listed below to work)

### Describe the problem

I noticed that the parser doesn't seem to recognize compound proper nouns. If you gave it "New York", it re

[2017-09-26 17:38] rekcahd commented on #2355
Looks like this fix doesn't work after restructure of repo. Will it be fixed?

[2017-09-26 18:09] zeryx commented on #2449
Check your learning rate and batch size, if neither of those solves your problem; it could be a dataset issue.

[2017-09-26 18:17] ybsave opened #2462 "Bug in models/official/resnet/cifar10_main.py when re-starting training"
In file models/official/resnet/cifar10_main.py, there is the running cycle defined as:

    for cycle in range(FLAGS.train_steps // FLAGS.steps_per_eval):

This cycle is not correct when training from an existing checkpoint but is only correct when training from scratch. I think the original intention for "FLAGS.train_steps" is the total number of training steps but not the steps needed for extra

[2017-09-26 18:27] onlyak commented on #2246
Can Anyone resolve the following problem?

Traceback (most recent call last):
  File "export_inference_graph.py", line 106, in <module>
    tf.app.run()
  File "/home/ameya/anaconda3/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "export_inference_graph.py", line 99, in main
    text_format.Merge(f.read(

[2017-09-26 20:25] poxvoculi commented on #2397
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-26 20:25] #2397 closed

[2017-09-26 20:52] poxvoculi commented on #2407
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-26 20:52] #2407 closed

[2017-09-26 20:53] poxvoculi commented on #2417
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-26 20:53] #2417 closed

[2017-09-26 21:08] poxvoculi commented on #2419
Are you specifically interested in this model?
https://github.com/tensorflow/models/blob/master/research/object_detection/README.md

If so, you could contact one of the maintainers in that README.  Otherwise, unless I misunderstand, your question seems more appropriate to SO.

[2017-09-26 21:14] poxvoculi commented on #2421
There's some conflict between serving as a tutorial and serving as a benchmark.  For a tutorial one usually prefers a simple and clear expression of the core concepts, while for a benchmark one often prefers a definition that runs fastest, perhaps at the cost of clarity.

There is already a benchmark using googlenet [here](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchma

[2017-09-26 21:20] poxvoculi commented on #2425
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-26 21:20] #2425 closed

[2017-09-26 21:23] poxvoculi commented on #2429
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Also, you are more likely to get a helpful reply if you provide a bit more detail about what you're doing.

[2017-09-26 21:23] #2429 closed

[2017-09-26 21:39] pushkalkatara commented on #2449
There could an issue with your config file, i trained on a single dataset using the same model, it went good.

[2017-09-26 21:47] poxvoculi commented on #2435
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Also, see https://www.tensorflow.org/install/install_linux

[2017-09-26 21:47] #2435 closed

[2017-09-26 21:51] cshallue commented on #2447
We don't have a pretrained model to release at this time, but please see #1155 for some community supplied models.

[2017-09-26 21:51] #2447 closed

[2017-09-26 23:35] poxvoculi commented on #2451
This is very similar to #1389
The recommendation there is to recompile from source.
Were you able to successfully run the unittests mentioned in the guide?

[2017-09-26 23:44] #2457 closed

[2017-09-27 01:24] dr4b commented on #2433
Sorry, can you be more specific what pages you saw the error on, please?  Which tutorials?

[2017-09-27 07:58] yhmybzc commented on #1779
@TomPyonsuke how did you provide train directory path as the default for train_dir? I tried to add path "object_detection/models/model/train" in train.py file. But then got the following issues:

Traceback (most recent call last):
  File "object_detection/train.py", line 197, in <module>
    tf.app.run()
  File "/home/yhmybzc/anaconda2/lib/python2.7/site-packages/tensorflow/python/platform/app.py"

[2017-09-27 08:28] scotthuang1989 commented on #2462
I think the intention of "FLAGS.train_step" is the needed steps for this training. you can get that for following code, the FLAGS.steps_per_eval is pass to steps, there is another parameter: max_steps which refer to the total number of training steps.
[code]

[2017-09-27 08:46] crazyqg opened #2467 "Any idea why this Object Detection API performs badly on self-provided cat & dog samples?"
Dear Expert:

  The API works well with the given pre-trained models but performs extremely bad when I tried my own datasets.

  I got the samples from （https://www.kaggle.com/c/dogs-vs-cats-redux-kernels-edition/data), all together 25000 pics,half dogs and half cats.   I copied them to images and rename them to cat_number.jpg & dog_number.jpg.  Also under object_detection/annotations I change the

[2017-09-27 11:14] Shubhamcl opened #2468 "Resnet models return sparse feature vectors for non-classification purposes"
The higher the model size the lesser the sparsity, for example Resnet-50 returns something like this:
1.21183541e-04   3.07215611e-03   4.77146730e-02   1.17256586e-03
   0.00000000e+00   2.89303549e-02   2.75966304e-04   4.31401143e-03
   0.00000000e+00   5.60556509e-05   0.00000000e+00   1.35882914e-01
   0.00000000e+00   0.00000000e+00   4.15335549e-03   2.52501760e-03
   0.00000000e+00 ...

Th

[2017-09-27 14:03] saikishor commented on #1834
You need to download protoc version 3.3 (already compiled). Used protoc inside bin directory to run this command like this:
tensorflow$ mkdir protoc_3.3
tensorflow$ cd protoc_3.3
tensorflow/protoc_3.3$ wget wget https://github.com/google/protobuf/releases/download/v3.3.0/protoc-3.3.0-linux-x86_64.zip
tensorflow/protoc_3.3$ chmod 775 protoc-3.3.0-linux-x86_64.zip
tensorflow/protoc_3.3$ unzip protoc

[2017-09-27 15:04] strnam commented on #1917
I still get this issue.
My solution is:
create __init__.py file in the same directory with BUILD files. Add the lines:

`from pkgutil import extend_path
__path__ = extend_path(__path__, __name__)`

[2017-09-27 15:24] ybsave commented on #2462
It seems that I misunderstood the meaning of the parameters. Thanks for clarification.

[2017-09-27 15:24] #2462 closed

[2017-09-27 15:40] sh0416 commented on #1733
@comsian106 I think you change the line in `seq2seq_model.py`. In that file, there are function call which we change to @fabiofumarola 's code. In the function call, there is one parameter `cell` in the line. You need to change that to `cell, cell` to avoid error. like this.

[code]
Thanks.

[2017-09-27 17:39] poxvoculi commented on #2459
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-27 17:39] #2459 closed

[2017-09-27 17:47] poxvoculi commented on #2467
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-27 17:47] #2467 closed

[2017-09-27 19:51] RemiMorin commented on #1835
... just for those who land on this page from google follow this trail:
https://medium.com/towards-data-science/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe1d9
or this trail:
https://pythonprogramming.net/introduction-use-tensorflow-object-detection-api-tutorial/

[2017-09-27 20:20] jarvis-owl commented on #1595
hej
okay i fixed it by editing object_detection/utils/label_map_util.py
line 22
`#from object_detection.protos import string_int_label_map_pb2`
`from protos import string_int_label_map_pb2`

I guess it's because the jupyter notebook already is in the object_detection directory.

@sujanchy what log to clear?
@tj27-vkr used `models/setup.py build` followed by `models/setup.py install` - could not cu

[2017-09-27 20:23] chenliu0831 commented on #2404
It looks like I don't need to use the `SyncReplicaOptimizer` locally. Closing.

[2017-09-27 20:23] #2404 closed

[2017-09-27 22:26] pankajkgupta opened #2470 ""File exists" error in preprocess_imagenet_validation_data.py"
### System information
- **What is the top-level directory of the model you are using**: research/inception
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:1.3.0

[2017-09-28 00:27] scotthuang1989 commented on #2451
@poxvoculi  after add the flag: -D_GLIBCXX_USE_CXX11_ABI=0, this error is gone, I miss that not because I thought this instruction is for mac-user only. But I found another 2 issues, after I  fix it and the example can run now. But I don't look at very carefully at this example, So I don't think It's a good idea to share it. I am going to start my 8-days national holidays, if you guys don't have p

[2017-09-28 05:12] chihyuwang opened #2474 "Object Detection ssd mobilenet Training not reading in batch norm parameters"
I was following the directions to train a ssd_mobilenet model that trains the detection network from scratch after initializing the backbone with the weights of a model trained on Imagenet. I downloaded the pre-trained mobilenet checkpoint for this experiment.
MobileNet_v1_0.25_128
mobilenet_v1_0.25_128_2017_06_14.tar.gz
https://github.com/tensorflow/models/tree/master/research/slim

However, I ge

[2017-09-28 07:26] deepankverma commented on #1835
Is there any way to convert polygons to bounding box format?

[2017-09-28 08:33] shenqixiaojiang commented on #2325
@molly00ecla Thanks，it works.

[2017-09-28 08:57] lancejchen commented on #2194
I got exactly the same the error on Ubuntu 14.04. Have you solved it? @RobinBaumann  @Mistobaan

[2017-09-28 11:49] Amyhii opened #2475 "why [123, 117, 104] is considered the mean of the three channels of images?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-09-28 13:51] redserpent7 commented on #2405
@poxvoculi As I mentioned in the question. There is no documentation for my case and I am not getting any responses on SO

[2017-09-28 16:23] singlasahil14 opened #2477 "Learning to remember rare events"
How am I supposed to run the script to reproduce the results of the paper on 20 way, 1 shot omniglot classification? I tried running it with episode_width=20 and different episode_lengths. But that is giving results nowhere near the paper results.

[2017-09-28 17:03] RemiMorin commented on #1835
If you mean train a network to identify polygons and draw bounding box around it sure. Actually look like an easy one.
Not sure it's the right place to ask that thought.

[2017-09-28 18:22] benvanik commented on #2424
I have had trouble with the tensorflow gfile reader on Windows and paths that contain unicode characters. Unfortunately I think this is a known issue in tf's file handling code. I think it was fixed here, but haven't built tf from head to confirm: https://github.com/tensorflow/tensorflow/pull/11562

[2017-09-28 18:25] rickrag commented on #238
Hey guys! I'm a little lost. I found the documentation about the format and everything, but I cannot get PMP to output the LEMMAs or XPOSTAGs. I see you have the same outputs, as me. Is it even possible to get PMP to output columns 3,6,9,10?

BTW here is an up-to-date link to the official CONLL data format http://universaldependencies.org/format.html

[2017-09-28 18:28] pankajkgupta opened #2478 "Error in download script - imagenet_lsvrc_2015_synsets.txt: No such file or directory"
### System information
- **What is the top-level directory of the model you are using**: research/inception
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:1.3.0

[2017-09-29 00:25] LiangKlausQiu commented on #2420
@plakal Got it. Thank you! I will close this.

[2017-09-29 02:05] youthHan opened #2479 "Object Detection: Error('TrainConfig' object has no attribute 'ignore_groundtruth') when 'eval.py' the model with flag --eval_training_data set to True"
### System information
- **/research/object_detection**:
- **prepare my own data and use the default ssd_inceptionv2_coco model**:
- **Linux Ubuntu 16.04**:
- **TensorFlow installed from source**:
- **TensorFlow version 1.2.0**:

### Describe the problem
Error occurs as below when I evaluate the model with the flag --eval_training_data=True. The model is the one which I trained with the default ss

[2017-09-29 04:07] aureosun opened #2480 "How to train mobilenet_v1_0.25_128 with TF-Slim?"
With TF-Slim Classification library,I have trained mobilenet_v1_1.0_224,but when I train mobilenet_v1_0.25_128,I found there is something wrong with the method,I searched for a few days,but I find no answer.Is there anyone have done it?

[2017-09-29 06:55] irmowan commented on #1418
I have tried to modify the slim version to paper implementation version, and the precision decreased much in my detection task. Not only the position of downsample, but also the 'conv2d_same' effects.
So I also want to know, why this implementation, where can we find the motivation? @sguada

[2017-09-29 14:02] tomahawk28 opened #2481 "Argument parsing error from cifat10_train.py"
After you had implemented ArgumentParse in https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10.py,
I can't set arguments with command line, which resulting in below error,
[code]
As you see, you can't set `--train_dir` or `--num_gpus`

Changes from `git diff c96ef83658fffd25f961cfd7fd5e444f59868efa..HEAD ./tutorials/image/cifar10/`
[code]
But if you revert this change,

[2017-09-29 16:32] DerekHarter commented on #2481
I can confirm, I just now tried to run the cifar10 multi gpu tutorial and the command line arguments for the num_gpus is not accepted

[code]

As a work around, if you edit the parser.add_argument and set the default to 5, or whatever you want, it will use that number of gpus.  But obviously these commands to add the command line arguments for the parser are not added until after tensorflow actual

[2017-09-29 16:43] DerekHarter commented on #2481
The problem being, I believe, that the parser.parse_args() is called in cifar10.py, and imported in the other scripts, like cifar10_train.py.  So the command line arguments are parsed, then the other scripts try to add the extra arguments after command line parseing.  So need to move the parser.parse_args() out of cifar10.py and do it in each of the other scripts after all command line arguments a

[2017-09-29 17:33] saikishor opened #2482 "from utils import label_map_util Import Error: No module named utils"
I have a question, I am trying to run the object_detection.ipynb type program but it is a normal python program(.py). It is working very well, when run inside the ..models/research/object_detection folder, but the main issue is when I am trying to run this code in another directory with proper sys.append, I am ending up with the following error:

If I trying to import the file from ..models/resear

[2017-09-29 17:43] poxvoculi commented on #2475
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-29 17:43] #2475 closed

[2017-09-29 18:12] plakal commented on #2420
I'd like to leave this open to track the bug in the training demo.

[2017-09-29 18:20] poxvoculi commented on #2477
A quick search turned up something from another repository that looks relevant:
https://github.com/AntreasAntoniou/MatchingNetworks

Otherwise, this seems like a StackOverflow question.

[2017-09-30 00:21] singlasahil14 commented on #2477
If the model is not reproducing the results for 20 way classification, is it not a bug?

[2017-09-30 00:37] poxvoculi commented on #2477
You have not specified exactly which model you are trying to run, nor exactly how.  Unless the model is supposed to be precisely the same as in a publication, invoked the same way with the same data, it seems implausible to argue that a difference in results must be due to an implementation bug.

[2017-09-30 01:13] singlasahil14 commented on #2477
python train.py --memory_size=8192 \
  --batch_size=16 --validation_length=50 \
  --episode_width=20 --episode_length=30
I ran this script. The one-shot accuracy comes out to be around 40%. Is this the expected behavior?

[2017-09-30 03:56] icoxfog417 commented on #2332
add following codes to the top of `` will be help.

[code]

[2017-09-30 05:22] fastlater commented on #2482
@saikishor  you skipped the [installation.md](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md) There says you must compile the Protobuf libraries first.
About the utils, a missing folder is a missing folder. Add the utils folder into the folder where you are running the script. First time to run the object detection api is confusing for non-expert p

[2017-09-30 08:40] pickou opened #2483 "tensorflow distribute training error: tf.Tensor 'report_uninitialized_variables/boolean_mask/Gather:0' shape=(?,)"
### System information
- **What is the top-level directory of the model you are using**: research/inception
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0

[2017-09-30 09:49] saikishor commented on #2482
@fastlater Thanks for your instructions. As i said earlier I am able to run the script successfully from the object_detection folder in ../model/research(because i ran all the steps of installation.md) and it worked, but my point of concern is, I am not able to run the same script out of the directory(in some other location) or even import the python code of object_detection folder(which ran succe

[2017-09-30 09:57] lizezheng opened #2484 "About the calculation of virtual adversarial loss"
After reading the code,  wondering why we calculate the virtual adversarial loss with LM_EMBEDDED which used for pretraining  instead of CL_EMBDDED?

[2017-09-30 09:58] lizezheng commented on #2484
it seems that during the training time, calculate the virtual adversarial loss with CL_EMBEDDED is more reasonable ?

[2017-09-30 10:03] fera0013 commented on #1595
I get

when I run

[code]

On my windows 10 machine. What could be the problem?

[2017-09-30 10:21] jarvis-owl commented on #1595
Okay, I can reproduce that output.
It works, when I specify the exact path to 'protoc.exe'

[2017-09-30 20:09] lukaszkaiser commented on #2477
You need to set --rep_dim=256 to replicate the results (the default is 128 just for speed). Hope that helps!

[2017-09-30 20:09] #2477 closed

[2017-10-01 05:06] seahawks8 commented on #2194
im guessing you all used the generate_tf_record_pet python script to create the record files?
if so, i believe this error is caused by setting image/format on
`'image/format': dataset_util.bytes_feature`

originally it is hardcoded to set to JPEG, however I also had PNGs, so it failed when running on cloud, i switch this dynamically determine which image format.
`byte_flag = 'jpeg'

  if '.png' in

[2017-10-02 11:45] claudefalbriard opened #2485 "Failure at TF Inception Sample using S390x, module classify_image.py"
**System information**

. OS Platform and Distribution: s390x Ubuntu 16.4
. TensorFlow installed from (source or binary): source
. TensorFlow version (use command below): 1.3.1
. Python version: 2.7.12

**Error Description**

. Attempt to execute the first sample from tutorial for image recognition with Python API and Tensorflow. The Error shows up at the begin of the execution of the classify_ima

[2017-10-02 15:59] pavanyvs commented on #544
@asimshankar
I tried to print the logits names and got a similar one as tower_0/logits/logits/xw_plus_b:0
But to freeze my fine tuned inceptionv3 model on my custom dataset according to
https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc
I am getting error such as
AssertionError: tower_0/logits/logits/xw_plus_b:0 is not in graph
Can you help me whe

[2017-10-02 20:16] EpochalEngineer commented on #2374
Noticed a difference in using an environment variable CUDA_VISIBLE_DEVICES vs setting the config parameter.  We're longer able to reproduce this behavior with the environment variable, only with the config parameter.  In addition, when using the config parameter, there is a small ~180 MB task on GPU0 when the config file is set to use GPU[1,2], which seems to correlate with these issues.

[2017-10-03 04:56] asimshankar commented on #2484
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-03 04:56] #2484 closed

[2017-10-03 06:59] chihyuwang commented on #2474
I also tried other pre-trained mobilenet checkpoints for the ssd experiment as above described.
MobileNet_v1_0.25_224
MobileNet_v1_0.25_192
MobileNet_v1_0.25_160
MobileNet_v1_0.25_128
https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md

And all of the experiments have the same errors as the previous report.

[2017-10-03 08:36] Amyhii commented on #2475
Sorry about that. And Thank you

On Fri, Sep 29, 2017 at 11:14 PM, Paul Tucker <notifications@github.com>
wrote:

[2017-10-03 16:55] aselle commented on #1944
I know this is of minimal value right now, but the long term solution to these problems is that we are going to move to SavedModel which declares inputs/outputs explicitly in the model, so you don't have to guess or probe at the names. Since this work is in progress, I am closing this issue. Thank you.

[2017-10-03 16:55] #1944 closed

[2017-10-03 17:25] aselle commented on #2151
Checking with @shlens, the inception model code base is deprecated, so we are no longer supporting it. We recommend using slim for inception training workflows. Please try that and see if it resolved your issues.

[2017-10-03 17:25] #2151 closed

[2017-10-04 05:55] andresbravog commented on #1811
Hi everyone:

we got a working exported model in local that is falling to create a new model version in **Google Cloud ML** as follows:

[code]

Our current exported model response is working in `tensorflow-serve` and `gcloud predict local` with this responses:

[code]

The issue must be in categories as all the other outputs where there already in the first **working** version of the output.

Any

[2017-10-04 07:36] asimshankar commented on #2432
@shlens @vincentvanhoucke - mind taking a look?

[2017-10-04 08:20] jmaye opened #2489 "Problems with official examples"
I'm playing with Tensorflow for a week now and I was able to hook up another database to the models in the official folder (https://github.com/tensorflow/models/blob/master/official/resnet/imagenet_main.py). I like this high-level API much and everything seems to work fine apart the following issues:

- when using a large database containing millions of images, the workstation just explodes. High

[2017-10-04 08:52] Schweboo commented on #1050
Given the number of people who have used the original tutorial to develop other projects (e.g. chatbots), this is disappointing. Will the bugs found in the initial tutorial be fixed?

[2017-10-04 11:06] cclauss commented on #2105
@nealwu @poxvoculi

The Python 2 countdown clock is ticking https://pythonclock.org with just 2 and a half yearsleft.  Nice work has been done to ensure that Python 3.6 is the fastest Python ever but tensorflow models seems to have a haphazard approach to achieving Python 3 compatibility.  Could I make a few suggestions for you to consider?

* Make a repo label for __Python 3__ so we can mark issu

[2017-10-04 14:02] shlens commented on #2432
This link should be updated to the slim/ repository. Code fixes welcome.

[2017-10-04 14:15] Schweboo commented on #1733
I tried the change suggested above and now have a new :
Traceback (most recent call last):
  File "C:/Users/schwe_000/PycharmProjects/TweetSentiment10/TensorFlowModel/execute.py", line 298, in <module>
    train()
  File "C:/Users/schwe_000/PycharmProjects/TweetSentiment10/TensorFlowModel/execute.py", line 121, in train
    model = create_model(sess, False)
  File "C:/Users/schwe_000/PycharmProjec

[2017-10-04 14:27] jmaye commented on #2489
The problem might be more subtle, a potential misuse of the function one_hot. Indeed, I have integer labels that are not sequential, e.g. labels = [0, 10, 20, 40, 50], then I was using it like:

onehot_labels = tf.one_hot(labels, 5)

I just realized that the label 10, 20, 40, 50 are all equal in one_hot. I was assuming that internally there was a dictionary doing it correctly, but apparently you n

[2017-10-04 15:15] ly-atdawn commented on #2447
Thanks!

[2017-10-04 18:34] martinwicke commented on #2105
@av8ramit @case540 @nealwu

We should be running py3 tests for the official models. Are we not?

[2017-10-04 18:53] av8ramit commented on #2105
@martinwicke we are not as of right now. I'll add this support.

[2017-10-04 20:21] saikishor opened #2490 "How to retrain models of Tensorflow API by adding new classes to existing model?"
I would like to know how to retrain a pre-trained model available from the above repository, by adding new classes to the model.
For example, COCO dataset trained model has 90 classes, I would like to add 1 or 2 classes to the existing one and get one 92 class object detection model as a result.

[Running Locally](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/run

[2017-10-04 21:20] asimshankar commented on #2490
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-04 21:20] #2490 closed

[2017-10-04 21:36] KaneFury commented on #1286
I have the orginal eval_imag_classifier.py with some innocuous adding and using your code as-is throws the error:

    InvalidArgumentError (see above for traceback): tags and values not the same shape: [] != [21,21] (tag 'eval/Confusion_matrix')
	 [[Node: eval/Confusion_matrix = ScalarSummary[T=DT_INT32, _device="/job:localhost/replica:0/task:0/cpu:0"](eval/Confusion_matrix/tags, eval/confusion_m

[2017-10-05 00:31] cernerae commented on #2355
Same issue. And like @rekcahd said, the file fix doesn't work after the directory structure was changed. I guess within the last month

[2017-10-05 05:47] Mauajama opened #2497 "NewRandomAccessFile"
Traceback (most recent call last):

  File "<ipython-input-1-0fe5deb5982c>", line 1, in <module>
    runfile('C:/Users/mauajama.firdaus/run_rnn_joint.py', wdir='C:/Users/mauajama.firdaus')

  File "C:\Users\mauajama.firdaus\AppData\Local\Continuum\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 880, in runfile
    execfile(filename, namespace)

  File "C:\Users\mauajama.firda

[2017-10-05 09:39] jmaye commented on #2489
That label stuff did not solve the problem, there is indeed a problem when restoring the model. I've tried everything I could, no way:(

[2017-10-05 10:55] cipri-tom commented on #2253
and should we put this in the tensorflow installation path ? (in site-packages)

[2017-10-05 11:15] pavanyvs commented on #15
I am trying to build a model using flowers_train.py and got the same error. Here I changed the "examples" and "classes" for both flowers_data.py and build_image_data.py corresponding to my custom data. Still I am stuck with this error. Can anyone help me with this issue?

[2017-10-05 19:59] nealwu commented on #2105
Merged: https://github.com/tensorflow/models/pull/2499

[2017-10-05 20:22] SophieDePaula commented on #2442
I am having the same issue :/

[2017-10-06 00:55] ly-atdawn opened #2500 "im"

[2017-10-06 00:55] ly-atdawn opened #2501 "im2txt"
When I try to run "run_inference.py" I'm getting the error:
INFO:tensorflow:Building model.
INFO:tensorflow:Initializing vocabulary from file: data/word_counts.txt
INFO:tensorflow:Created vocabulary with 11520 words
*** Error in `python': double free or corruption (!prev): 0x00000000010672c0 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x727ff)[0x7f52d83f67ff]
/lib64/libc.so.6(+0x7806e)[0x7f

[2017-10-06 01:01] agshift opened #2502 "how to obtain IOU during object detection training"
Finding accuracy during training of object detection looks to be tricky and determining IOU can help in achieving this. I could not find any python code which does this in the object detection repo. Is there any way we can introduce this in object_detection/trainer.py?
Thanks,
Amit

[2017-10-06 01:52] Sixigma commented on #2241
Is there any progress ? I suffer from the same issue.
Even though the RMSProp or Adam optimizer is applied , it still seems to be hard to converge.

[2017-10-06 04:29] jerowe opened #2503 "Error reshaping image in load_image_into_numpy_array"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-10-06 05:40] rafaelcr commented on #2136
Hi @jch1, a friendly ping... is there any workaround for this at the moment? I'm unable to run batch jobs (with more than 1 input) because I can't match results with the appropriate inputs. The only solution I have so far is to just run individual jobs, one for each input.

Thanks

[2017-10-06 06:09] jerowe commented on #2503
I tried it out on the test_image, and its fine.

Is it because my images square?

[2017-10-06 06:11] jerowe commented on #2503
I just cropped an image so it is not perfectly square, and it works.

I have been trying to get this function to work for my images, and I'm having a lot of trouble.

[2017-10-06 06:21] sj6077 opened #2504 "street model batch size"
level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r1.3
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN

[2017-10-06 06:26] sahis commented on #2474
same problem :S

[2017-10-06 07:39] jerowe commented on #2503
For anyone else who is struggling with this, it seems that the error may come from image magick. I have an original bmp image, which works fine, but when I try to use the jpeg image, which I get with just `convert image.bmp image.jpeg`, the load_numpy_array dies.

However, if I take that image.jpeg and manually crop it using shotwell, its fine.

[2017-10-06 08:14] tzutalin commented on #1853
1. Try to use [labelImg](https://github.com/tzutalin/labelImg) to annotate image in Pascal format.
2. Convert the Pascal format to TFrecord by referring to the project, [SSD-Tensorflow](https://github.com/balancap/SSD-Tensorflow/blob/master/datasets/pascalvoc_to_tfrecords.py), which implemented a script to convert it.

[2017-10-06 08:52] jerowe commented on #2503
I'm closing this since the issue seems to be something wonky with the way I processed my images with imagemagick, as opposed to any of the code within tensorflow.

Thanks for the great project!

[2017-10-06 08:52] #2503 closed

[2017-10-06 12:06] cipri-tom commented on #2501
Do you expect people to just guess your problem from the infinite stack trace ?

Try to give some details. What model are you using ? What is your setup ?

[2017-10-06 12:48] Utumno opened #2505 "Clarifications/suggestions for models/tutorials/rnn/ptb"
I have been trying to adapt the models/tutorials/rnn/ptb to my needs. Along the way I run across some questions and suggestions for improvement - so this classifies as feature request :)

- why are we [exporting then importing the metagraph](https://github.com/tensorflow/models/blob/1464a721fef7da67e87b0f1f1a710b1e904e8764/tutorials/rnn/ptb/ptb_word_lm.py#L486-L496) ? This needs comments as it add

[2017-10-06 17:12] Walid-Ahmed commented on #1715
HI All

I tested using SSD-Mobile and got like double speed of SSD_vgg16
I am trying to test R_FCNN but I can't figure out the  value for  the
feature_extractor {
 type: ‘ssd_mobilenet_v1’
......}
what type should I use if am using RFCNN?
Thanks

[2017-10-06 20:14] pavanyvs opened #2506 "Same predictions for any input for fine tuned inception v3 model"
I am trying to fine tune an inception v3 model with 2 categories . These are the steps i followed

1. created sharded files from custom data using build_image_data.py by changing the number of classes and examples in imagenet_data.py . Used a labelsfile.txt ;
2. changed the values accordingly in flowers_data.py and using flowers_train.py I trained the model. ;
3. I froze the model and got protobuf

[2017-10-06 20:17] saikishor opened #2507 "Unable to use multiple graphs in a session"
We are unable to use multiple graphs in a session, which would enable us to merge trained models. I would request this feature.

[Stackoverflow](https://stackoverflow.com/questions/46611649/how-to-combine-multiple-trained-models-of-tensorflow-api)

[2017-10-07 13:51] Utumno commented on #2505
And a bug  - if run on a machine with gpus == 0 it [raises](https://github.com/tensorflow/models/blob/1464a721fef7da67e87b0f1f1a710b1e904e8764/tutorials/rnn/ptb/ptb_word_lm.py#L449) for num_gpus == 1 (the default value). However if setting num_gpus == 0 it will silently zero the tuples in ptb.util.import_state_tuples. This can lead to nasty goose chases. Here is a fix:

https://github.com/Utumno/m

[2017-10-07 19:10] srinivasb2017 opened #2508 "Custom Object detection training stuck at one point for very long time"
I am trying to train for custom object detection like mentioned here
https://pythonprogramming.net/training-custom-objects-tensorflow-object-detection-api-tutorial/
https://medium.com/towards-data-science/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe1d9

its stuck for almost 2 hours at step 36 for some reason(snipp attached). What could be the issue and way t

[2017-10-08 05:14] Afrogeek254 commented on #2508
On Oct 7, 2017 10:10 PM, "srinivasb2017" <notifications@github.com> wrote:

I am trying to train for custom object detection like mentioned here
https://medium.com/towards-data-science/how-to-train-
your-own-object-detector-with-tensorflows-object-detecator-api-bec72ecfe1d9
<https://medium.com/towards-data-science/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe

[2017-10-08 09:48] sahis commented on #2508
hi! i am working two days but not training.

"INFO:tensorflow:global step 5437: loss = 1.6366 " does not fall under

you help me. please

[2017-10-08 12:24] Arsakes commented on #1881
Do you have any advices on range of values that bboxes should be with?
How small or big can they big ?
I  getting nan/inf loss at start. All my bboxes all ok, [0,1], however some are small are same have values like: 0,1

[2017-10-08 13:36] Giribushan commented on #466
Thank you..

[2017-10-08 18:11] LeeKyungMoon commented on #422
Thanks for your issues. But I'm confused about how you resolved this issue.

I'm aware of that biases could be removed because of Batch-Norm.

But I don't understand what you mean in "These were present in the model I created because I wasn't using the correct scope and ..." and the link you added is NOT_FOUND.

Thanks.

[2017-10-08 19:36] rafaelcr commented on #2136
@joergkiesewetter I found the problem after digging around a bit. You can't call the input tensor placeholder `key` just like the output. If you rename it to something else it will build things correctly.

You should do this when defining your input:
[code]

Once you do that, exporting works as expected:
[code]

[2017-10-09 00:38] cy89 commented on #2479
@youthHan I'm sorry, I can't tell which files in our directory structure you're referring to. Searches for ssd_inceptionv2_coco don't yield any results (except this bug). Can you tell us more about how to reproduce your problem?

[2017-10-09 00:42] cy89 commented on #2481
@itsmeolivia can you please comment on where argument parsing should be happening?

[2017-10-09 00:51] cy89 commented on #2483
Do the other bugs that include "object was never used" shed any light?
https://github.com/tensorflow/tensorflow/issues/11315
https://github.com/openai/pixel-cnn/issues/17

It seems unsurprising that you're getting the error on more recent versions--it sounds like this is an error checking feature, where you might have built something but never invoked it in your custom code.

[2017-10-09 00:55] cy89 commented on #2485
@claudefalbriard this is the first time I've seen someone use an S390x. It's not a particularly helpful suggestion, but do you get the same problem on an x86 system?

[2017-10-09 00:58] cy89 commented on #2497
You've just given us a traceback. Could you please explain what you were trying to do to cause the bug?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. I

[2017-10-09 01:00] cy89 commented on #2505
@nealwu it sounds like @Utumno would like to help; can you give him any guidance about this code?

[2017-10-09 01:43] cstj commented on #2479
The file is one of the training config files (if they have hte same error as me).
The config file is at 'research\object_detection\samples\configs'.
Im getting the same error using 'faster_rcnn_resnet50_coco.config'.

[2017-10-09 02:34] DerekHarter commented on #2481
Sure.  Tried to come up with a solution but didn't really have the time, so here is what I see.

As given in the scripts currently there is a call to

FLAGS = parser.parse_args()

both in cifar10.py and in all of the other files that include it.  For example cifar10_train.py, which imports cifar10.py, the call to parse the args happens in the if __name__ == "__main__":  condition, but in cifar10.p

[2017-10-09 04:36] cstj commented on #2449
Check the config your using (if using a samples) matches the model form the zoo you're using.  I had SSD Mobilenet config and the SSD Inception V2 model and it threw this same error.  After i matched them it worked.

[2017-10-09 06:30] HaoLiuHust opened #2509 "Towards accurate multi-person pose estimation in the wild"
Is this paper implemented in models?

[2017-10-09 06:41] amankhandelia commented on #1429
@CaterinaM Your solution worked for me as well, I was also working Hindi caption generation. Thanks a lot.

[2017-10-09 07:27] #2500 closed

[2017-10-09 07:28] asimshankar commented on #2480
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-09 07:28] #2480 closed

[2017-10-09 07:33] asimshankar commented on #2502
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-09 07:34] asimshankar commented on #2502
Could you be more specific in terms of what precisely is the feature you'd like?

[2017-10-09 07:35] davidswords commented on #2480
Is there any way to do a automated check on new issues, to see if there is an issue template present, otherwise close and post the details above?

[2017-10-09 08:55] KaneFury commented on #1286
Hey,

yes I solved it. It was something minimal to change.

(1) If the variable is not known, check if you imported variables library.
(2) In my code posted on github you just need to comment out the part of
the variables summary at the end:

# Print the summaries to screen.
for name, value in names_to_values.items():
  summary_name = 'eval/%s' % name
  op = tf.summary.scalar(summary_name, value,

[2017-10-09 09:26] pickou commented on #2483
I've tried this before. Since I have no learning rate declared and keep_prob as constant, I'll check the others .

[2017-10-09 09:29] saikishor commented on #1809
@humayun Did you find any possible way to add new class to the pre-trained model?. If yes, please let us know.

[2017-10-09 11:30] saikishor opened #2510 "Feature request : Provision to retrain the network"
It will be good to have a provision to retrain the Tensorflow API models and to add new classes to the pre-trained models.

[2017-10-09 12:38] shahparth123 commented on #1429
@j2233ack Yes model is working. I am open sourcing my model soon.

[2017-10-09 13:02] CaterinaM commented on #1429
@amankhandelia I'm glad it helped, you're welcome!

[2017-10-09 13:30] cipri-tom commented on #2446
You can check this parameter and many others in the proto files in `object_detection/protos/train.proto` (and other `.proto` files)

Yes, if you _really_ want to start from scratch, then you comment this line. But note that usually you want to reuse some parameters, as it can take DAYS or WEEKS to learn the lower levels of the network. And they will probably learn the same features anyway.

To see

[2017-10-09 15:50] andresbravog commented on #1811
Responding to my own question:

I need to use one of the existing tensors of the shape I need to create a `[?, len(CATEGORIES)]` tensor based on them.

For that purpose we need a tensor `[?]` as `tf.argmax(logits, 1)` for using `tf.till` over the `categories_tensor` and a tensor `[?, len(CATEGORIES)]` for using `tf.reshape` over the result of that. So

[code]

Hope it helps to anyone facing this i

[2017-10-09 16:54] robemorin commented on #2194
I received this message when I used a Logitech 270, but this doesn't happen with others web cams neither default web cam.

[2017-10-09 17:13] seahawks8 commented on #2194
Make sure when you extract the images from the camera you set the image/format correctly in tf record

[2017-10-09 17:40] ankur6ue commented on #1103
Does someone have an example that shows how to compile external C/C++ code into a dll that can be loaded by tensorflow as an external op (without building entire tensorflow source) on Windows? The word2vec code that builds word2vec_ops.so/dll would be a great example..

[2017-10-09 18:05] ankur6ue opened #2511 "An example of building an external ops on Windows"
**The Problem:**

Using TensorFlow version 1.3.0 on Windows 10.

Thanks for providing a windows port for Tensorflow. Is there an example that shows how to compile external C/C++ code into a so/dll that can be loaded by tensorflow as an external op (without building entire tensorflow source) on Windows? The word2vec code that builds word2vec_ops.so/dll would be a great example..

This thread seems

[2017-10-09 18:09] reedwm commented on #2489
@jmaye you are correct `one_hot` requires sequential labels. Make sure all the indices to `one_hot` are less than the second argument to `one_hot`.

What do you mean when you say you hooked up another database to the model? Does that mean you no longer use the Imagenet data in TFRecords format? Having more images should not increase RAM usage significantly, so perhaps the increased RAM usage is du

[2017-10-09 18:46] jmaye commented on #2489
Thanks for you reply!

What I mean is the following, I'm adapting the file imagenet_main.py or cifar10_main.py so that I can use them to train a network on another database than imagenet or cifar10.

Concretely, this boils down to doing something like:

dataset = tf.contrib.data.Dataset.from_tensor_slices((filenames, labels)),

where filenames and labels are numpy arrays containing respectively th

[2017-10-09 19:21] reedwm commented on #2511
/CC @mrry is there any documentation on how to do this?

[2017-10-09 19:23] reedwm commented on #2509
/CC @gpapan @jonathantompson

[2017-10-09 19:29] ankur6ue commented on #2511
Thanks for the quick reply. I'm not looking for a nicely written doc (although that would be great). Just any code that can be compiled on windows to produce a dll/so that can be loaded into python as an external op would suffice.

For example, in the current tensorflow for windows distribution, there are some dlls that appear to implement external ops
_lstm_ops.dll in
site-packages\tensorflow\con

[2017-10-09 19:30] gpapan commented on #2509
Not yet, but we have tentative plans to add it in a few months from now.

[2017-10-09 20:41] mrry commented on #2511
As you might have guessed, there's no nicely written doc (this feature was a community contribution, and lavish documentation is too high a bar...). However, here's a link to where the `_lstm_ops.dll` and `_gru_ops.dll` extensions get built, so if you're familiar with CMake you might be able to figure out what's going on:

https://github.com/tensorflow/tensorflow/blob/9ff05e9e7f471a8487cdd8a7bb6fd

[2017-10-09 21:27] taewookim opened #2513 ""Modularize" frozen inference graphs"
Excuse my noob-ness. If this is already capable, please let me know if the solution already exists (with a link to do how do it)....

If I wanted to detect only few objects in coco dataset PLUS some other objects (with my own dataset), it seems to me that it'd be more efficient to train a model per object, and have TF objection detection API "merge" (either run time, or pre-built prior to running)

[2017-10-09 22:00] ankur6ue commented on #2511
Thanks, but I'm not a cmake expert and the code to build the external ops is deeply embedded in the cmake file.. It is not clear how to run just that part of the cmake file standalone in a way that produces the ops binary without building the entire tensorflow source code.

I don't need a nicely written doc, just a make file that can be run in a windows environment and builds an external op dll wi

[2017-10-09 23:38] hardik124 commented on #1714
Hi, I have same problem with TF 1.3 on ubuntu

[2017-10-10 00:09] hardik124 commented on #1581
@DrChungAlbert  What was the error, Even I am not able to get it to work on tf version 1.2

[2017-10-10 03:34] pyspam commented on #2421
@poxvoculi
Thank you for your clear description, I think I have got the answer.

[2017-10-10 08:13] cipri-tom commented on #2225
@failedmath

How do you restrict it to do that ? 😃

[2017-10-10 08:27] UpCoder commented on #564
Hi~, I meet a problem about convert_image_dtype.
[code]
when i execute this code, why np.max(img_float), np.min(img_float) both are nan? The value of img is normal. Do you know the reason? Thanks

[2017-10-10 08:34] cipri-tom commented on #1840
@fistix you are probably in the wrong directory. you should run from the `models/research` directory, like this: `python object_detection/train.py ...`

[2017-10-10 12:02] cipri-tom commented on #2508
@sahis try StackOverflow for help. This is for reporting bugs/issues. And make sure you include a **nice** description of your problem, along with configs and things you have tried.

@srinivasb2017 it is possible that you run out of memory and TF starts using your HDD, which is hundreds  of times slower. Have a look at resource consumption to see if that's the case

[2017-10-10 12:27] cipri-tom commented on #2502
You can use `tensorboard --logdir=/path/to/your_directory` and then watch the loss variation.

If you also run `eval.py` in addition to `train.py` and their output directory is in the location of "your_directory", then you should also see this output in tensorboard.

@asimshankar it seems that `eval.py` is only outputting images with the bounding boxes as evaluated at the last checkpoint. I cannot

[2017-10-10 14:47] kamal4493 opened #2515 "where can i find pretrained resnet model?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-10-10 15:17] cipri-tom commented on #2515
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

Was it really that difficult to do a bit of search ?
This is not a support forum !

[2017-10-10 15:20] cipri-tom commented on #2513
What do you mean "more efficient" ? In terms of what ? Model size ? Running time ? Memory used ?

Please consider asking on StackOverflow as there is a bigger community there, with actual experience from real-life application of this API. This is for developers to identify issues and bugs 😃

[2017-10-10 16:42] #2421 closed

[2017-10-10 16:43] mohbattharani commented on #2449
**I am trying to train on local machine and getting following error:**

2017-10-10 21:39:13.610170: W C:\tf_jenkins\home\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use AVX instructions, but these are available on your machine and could speed up CPU computations.
2017-10-10 21:39:13.610302: W C:\tf_jenkins\home\works

[2017-10-10 16:45] mohbattharani commented on #2449
I am trying to train on local machine and getting following error:

2017-10-10 21:39:13.610170: W C:\tf_jenkins\home\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use AVX instructions, but these are available on your machine and could speed up CPU computations.
2017-10-10 21:39:13.610302: W C:\tf_jenkins\home\workspace

[2017-10-10 18:47] derekjchow commented on #2515
Which pretrained Resnet model are you looking for? If your looking for a detection model, cipri-tom@ has pointed you to the correct place. If you're looking for a classification model, you can find a list of them [here](https://github.com/tensorflow/models/tree/master/research/slim#Pretrained).

[2017-10-10 18:51] derekjchow commented on #2508
@srinivasb2017 I would strongly advise against training an object detector on CPU. The time it takes to train quickly becomes untractable.

[2017-10-10 20:10] hcloud00 commented on #1597
i am having this same problem any advances?

[2017-10-10 20:50] kamal4493 commented on #2515
ok. Thank you. I got what i needed

[2017-10-10 21:12] hashimshafiq commented on #1740
The above solution is not working at all.

[2017-10-10 22:22] voganrc opened #2517 "Syntaxnet Installation Failure OSX"
### System information
- **What is the top-level directory of the model you are using**: syntaxnet
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX El Capitan version 10.11.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)*

[2017-10-11 01:14] nealwu commented on #2505
@lukaszkaiser should know better about this model. What are your thoughts on the fixes above Lukasz?

[2017-10-11 02:19] DrChungAlbert commented on #1581
@In Ubuntu 14.04, it's my python notebook env. wrong setting to tf 1.0, the error same as jwnsu's.

[2017-10-11 04:28] lukaszkaiser commented on #2505
It looks to me like this model should go the same way as the `seq2seq` tutorial and become either deprecated or replaced by a more modern tutorial. I don't know anyone working on that now and the above points are a great summary of what a more modern tutorial would entail :). So if @Utumno wants to do it, I'd say sure, let's improve it! While on it, I'd also suggest to replace `static_rnn` by `dyn

[2017-10-11 04:59] tatatodd commented on #2424
@SourcePowered Can you either try @benvanik 's suggestion, or perhaps try a file with only ASCII characters to confirm the root problem?

[2017-10-11 05:07] tatatodd commented on #2446
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 05:07] #2446 closed

[2017-10-11 06:41] tatatodd commented on #2442
@tombstone can you comment on this?

[2017-10-11 06:45] tatatodd commented on #2468
@panyx0718 Can you comment on this?

[2017-10-11 06:47] tatatodd commented on #2470
@shlens Can you comment on this?

[2017-10-11 06:57] tatatodd commented on #2474
@andrewghoward Can you comment on this?

[2017-10-11 07:05] tatatodd commented on #2478
@pankajkgupta I'm not sure which shell you're using, but maybe the problem is that your DATA_DIR isn't exported?  E.g. either try this:
[code]
Or this:
[code]
Or this:
[code]

[2017-10-11 07:08] tatatodd commented on #2482
@saikishor Did you follow the instructions regarding PYTHONPATH:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md#add-libraries-to-pythonpath

[2017-10-11 07:09] Shubhamcl commented on #2468
I was comparing the feature vectors with Torch resnet, turns out the torch resnet model is claimed to work better, as on the facebook-torch-resnet repository. Even then, this Tensorflow resnet performs very bad when compared to something like VGG, for the purpose of feature extraction; also this is the case with all Resnets V1 and V2, and InceptionResnets as well. At least for me.

[2017-10-11 07:10] tatatodd commented on #2504
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 07:10] #2504 closed

[2017-10-11 07:11] tatatodd commented on #2506
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 07:11] #2506 closed

[2017-10-11 07:13] tatatodd commented on #2508
Thanks for the notes @cipri-tom and @derekjchow

For future reference:

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-11 07:13] #2508 closed

[2017-10-11 07:14] tatatodd commented on #2510
@saikishor Can you explain what exactly you mean?  Perhaps give a concrete example of what you'd like to see.

[2017-10-11 07:19] saikishor commented on #2510
I mean to make a provision to add more classes to current pre-trained net(90-class pretrained net + additional 2 classes = 92 class model), and to retrain the network with few classes to improve the precision of those classes(for example, only to retrain 5 classes of 90 class net and as a result get a 90 class net but with more precision to the trained 5 classes.

[2017-10-11 07:19] pickou commented on #2483
I have checked the code carefully and I couldn't find anything built but never used. I've checked the global_variables_initializer and local_variables_initializer, not work. And I also try use mark_used() to init_op, but turned out it had no such method. So I followed the error

```'File "cifar10_sync_dist_train.py", line 113, in train\n    apply_gradients_op = opt.apply_gradients(grads, global_st

[2017-10-11 07:21] tatatodd commented on #2388
@tombstone or @derekjchow might have some ideas here.

Here's the contents of log.txt linked earlier in this issue:
[code]

[2017-10-11 07:23] saikishor commented on #2482
@tatatodd Thank you it worked.

[2017-10-11 07:27] tatatodd commented on #2510
@saikishor Is there a specific model you have in mind?  Many of the models have explicit instructions about training from scratch and fine-tuning.

Also can you be more explicit about what you mean by "provision".  E.g. are you looking for more documentation?  More examples?  More configuration flags?

[2017-10-11 07:42] tatatodd commented on #2482
Great, that's good to hear!

[2017-10-11 07:42] #2482 closed

[2017-10-11 07:47] saikishor commented on #2510
@tatatodd Yes I am looking for more documentation on fine-tuning and retraining with one example. I feel this will help many young researchers.
I am mentioning about these [Tensorflow detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) models

[2017-10-11 10:53] Ellie68 opened #2518 "INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP]"
Hi all,
I use Python 2.7.13 and Tensorflow 1.3.0 on CPU.

I want to use DensNet( [https://github.com/pudae/tensorflow-densenet](url) ) for regression problem. My data contains 60000 jpeg images with 37 float labels for each image.
I saved my data into tfrecords files by:

`
def Read_Labels(label_path):
    labels_csv = pd.read_csv(label_path)
    labels = np.array(labels_csv)
    return labels[:,1

[2017-10-11 10:54] Ellie68 opened #2519 "INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP]"
Hi all,
I use Python 2.7.13 and Tensorflow 1.3.0 on CPU.

I want to use DensNet( [https://github.com/pudae/tensorflow-densenet](url) ) for regression problem. My data contains 60000 jpeg images with 37 float labels for each image.
I saved my data into tfrecords files by:

`
def Read_Labels(label_path):
    labels_csv = pd.read_csv(label_path)
    labels = np.array(labels_csv)
    return labels[:,1

[2017-10-11 11:09] davidswords commented on #2518
I think this is something you should as over on stackoverflow. Since it isn't a bug or a feature request.

[2017-10-11 11:21] Utumno commented on #2505
Good points @lukaszkaiser - will come back to that ASAP. Meanwhile pull https://github.com/tensorflow/models/pull/2403 must be merged for this to even run on python3. Re: importing and exporting the metagraph, seems to be related to the CUDNN cell, introduced in c705568b5b64c2af6222017ab1b153647fe65c83 - unfortunately there is not a single comment as to what this procedure serves.
Since this is a

[2017-10-11 12:26] saikishor commented on #2449
Try reducing your batch_size it might work.

[2017-10-11 15:35] shlens commented on #2470
research/inception has been deprecated. Please use research/slim instead which contains the ability to work with imagenet data.

[2017-10-11 16:16] rfeldercyc commented on #2355
I am also experiencing this issue.

[2017-10-11 16:33] ahkarami opened #2520 "im2txt Multi-GPU Training"
Dear @cshallue,
Does the **im2txt** code support _Multi-GPU_ training?

[2017-10-11 16:38] ahkarami commented on #712
Does the **im2txt** code, support _Multi-GPU_ training?

[2017-10-11 16:41] panyx0718 commented on #2468
@nathansilberman
Looks like it's the slim's model.

@Shubhamcl
It would be great to point out code location so that we can find someone to help you

Thanks!

[2017-10-11 18:51] mp7777 commented on #1428
Hi Guys,
    I can see how the training can be performed on multiple GPU using num_clones. However it does not seem to work for eval_image_classifier to run evaluation. Could you kindly explain to me how to enable multiple-GPU on the evaluation?
thank you

[2017-10-11 19:03] jind11 opened #2521 "word2vec.skipgram_word2vec word pairs issue"
For the implementations of word2vec.skipgram_word2vec() function, I am wondering why the input is totally a list words by concatenating all the sentences together. My text file is formatted as each sentence in one line separated by '\n', but when I used this function to create the word pairs, all the sentences are considered as one super long sentence, therefore, some last words in one sentence ar

[2017-10-11 19:34] comsian106 commented on #729
The error is accruing because nets is not a module. It is a folder that contains different modules. Instead of writing `from nets import inception_utils` simply write` import inception_utils` Similarly for cifarnet, type `import cifarnet` rather than `from nets import cifarnet`. This will remove the error `no module named nets`

[2017-10-11 22:47] mohbattharani commented on #2449
I have similar issue as my ssd_model zip file was not downloaded properly. I did download it and extracted manually. I worked

[2017-10-11 23:59] MichaelX99 opened #2525 "ImageNet Preprocessing Script"
I just wanted to let you all know that the imagenet download and preprocess step in SLIM does not work.  Something seems to be wrong with the build file.  The code works in the inception directory but i not in slim.

[2017-10-12 00:24] Ellie68 commented on #2519
I've opened a question in Stackoverflow. I would be thankful if you help.

https://stackoverflow.com/questions/46687348/decoding-tfrecord-with-tfslim

[2017-10-12 00:24] Ellie68 commented on #2518
I've opened a question in stackoverflow. I would be thankful if you help.

https://stackoverflow.com/questions/46687348/decoding-tfrecord-with-tfslim

[2017-10-12 00:28] wangwenqi1990 commented on #2518
mute the thread

[2017-10-12 02:04] tatatodd commented on #2510
@saikishor I think ObjectDetection actually has quite a bit of good documentation already.

There is general documentation on object detection here:
https://github.com/tensorflow/models/tree/master/research/object_detection

And there is documentation on fine-tuning object detection, starting from COCO, and refining for pets, here:
https://github.com/tensorflow/models/blob/master/research/object_d

[2017-10-12 02:06] tatatodd commented on #2518
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-12 02:06] #2518 closed

[2017-10-12 02:15] wendal commented on #2267
any update for this ?? ^_^

[2017-10-12 03:26] sayume commented on #597
@Lalit7Jain
I encountered the same issue with you.
I pre-processed the data with python 3.6 and run the train script, I got this error. Then I re-built the data with python 2.7 and trained, this time there was no error. I think the im2txt model is not compatible with python 3.

[2017-10-12 03:36] reedwm commented on #2483
Closing, as this is a duplicate of tensorflow/tensorflow#11823. Pinging @ali01 on that issue.

[2017-10-12 03:38] #2483 closed

[2017-10-12 03:50] reedwm commented on #2507
In the StackOverflow question, it looks like you're trying to import multiple GraphDefs into the same graph, which is possible. For example, the following code imports two GraphDefs:
[code]
So, you're issue is caused by something else. If you are still having the issue, please file a new issue with a minimal code sample that reproduces the problem

[2017-10-12 03:50] #2507 closed

[2017-10-12 04:40] tatatodd commented on #2470
Thanks for the info @shlens, closing this out.

[2017-10-12 04:40] #2470 closed

[2017-10-12 07:45] Zzmc opened #2527 "parameter is not found in .ckpt, when i restore the checkpoint for resnet_V2 fine_tuning training"
Hi,
  when i restore the checkpoint, there is error
`NotFoundError (see above for traceback): Tensor name "resnet_v2_50/block1/unit_1/bottleneck_v2/conv2/biases" not found in checkpoint files ./fine_tuning/resnet_v2_50.ckpt`
what's wrong with that？Could you give me some suggestions?

[2017-10-12 08:09] saikishor commented on #2510
Example: I am also referring to this one - https://github.com/tensorflow/models/issues/1809.
I just wanted to know a way to add more classes to existing model. That's what I am looking for.

As per the above link, I can see that there is no way to do that as of now. So, I am just saying providing that would be more helpful.

[2017-10-12 08:23] Shubhamcl commented on #2468
Yes I am referring to the slim model, RESNET V1 50 under directory:
https://github.com/tensorflow/models/tree/master/research/slim

Here I illustrate the behavior, although it is in keras, I saw the same in Tensorflow:
https://github.com/Shubhamcl/torch_vs_kerasTF/blob/master/keras_tf.ipynb

Here I illustrate the behavior in torch:
https://github.com/Shubhamcl/torch_vs_kerasTF/blob/master/torch.ip

[2017-10-12 09:54] SandeepSreenivasan opened #2528 "MIPS for SSD"
Can I know what is Million Instructions Per Second for SSD model?
How to check MIPS of SSD Model in my system?

[2017-10-12 10:05] iraadit commented on #2267
I would also be interested !
Thank you for your work

[2017-10-12 12:13] simo23 commented on #517
Hi, in my tests I use vgg16 and vgg19 from slim and I do the following:

            # Read the image from file
            image_string = tf.read_file(filename)
            image_decoded = tf.image.decode_jpeg(image_string, channels=3)    # The decoded image is in RGB format
            image = tf.cast(image_decoded, tf.float32)

            # Isotropic scaling
            smallest_side = 256.0

[2017-10-12 13:31] #2420 closed

[2017-10-12 13:52] madekwe commented on #2088
@aoancea what are this packages ?

[2017-10-12 14:21] jmaye commented on #2489
Just finished learning after more than 30 epochs, training accuracy was 95%. Restarted the stuff in evaluation mode and it drops to 10%, hence unusable. Don't know what's wrong with this, is it related to this issue: https://github.com/tensorflow/tensorflow/issues/1122

[2017-10-12 15:00] YorkLeeSIAT commented on #1942
I have same problem: run slow in windows ，but fast in ubuntu，  I think program run on cpu  not GPU in  windows.  logs as:
python .\object_detection\train.py --train_dir=C:/Users/liyaobo6/Desktop/data/train --pipeline_config_path=object_detection/samples/configs/ssd_mobilenet_v1_coco_hand.config
INFO:tensorflow:Summary name Learning Rate is illegal; using Learning_Rate instead.
INFO:tensorflow:Summ

[2017-10-12 15:17] YorkLeeSIAT opened #2529 "object detection train run only on CPU instead of GPU in windows"
I have the same problem: run slow in windows ，but fast in ubuntu， I think program run only on cpu instead of GPU in windows.

the KEY of  logs is "2017-10-12 22:55:04.791578: I c:\tf_jenkins\home\workspace\release-win\m\windows-gpu\py\35\tensorflow\core\common_runtime\simple_placer.cc:675] Ignoring device specification /device:GPU:0 for node 'prefetch_queue_Dequeue' because the input edge from 'pr

[2017-10-12 15:18] cipri-tom opened #2530 "Reduce number of support issues"
I see a lot of people are asking for support in these issues.
I think this is because the Readme for `object_detection` has a section "Getting help" where literally the first thing is "the issue tracker".

I suggest to change the readme so as to direct support to StackOverflow and completely remove the link to the issue tracker from the Readme. People who have bugs know how to report them 😃 .

Sor

[2017-10-12 15:30] CyrusLiu158 opened #2531 "Does syntaxnet supports Simplified Chinese?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-10-12 16:02] claudefalbriard commented on #2485
I currently do not have a suitable x86 platform that fulfils the TensorFlow pre-requsite. The purpose of this port and pilot is to run TensorFlow in a virtual environment, like s390x. The inception model is part of the TensorFlow distribution. I've executed a new bazel build according to the instructions here [ https://www.tensorflow.org/tutorials/image_retraining ]. At the retrain step, I receive

[2017-10-12 16:55] reedwm commented on #2513
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-12 16:55] #2513 closed

[2017-10-12 16:55] #2515 closed

[2017-10-12 17:01] reedwm commented on #2517
/CC @calberti, @andorardo

[2017-10-12 17:02] reedwm commented on #2519
Closing since it appears you solved the problem on StackOverflow.

[2017-10-12 17:02] #2519 closed

[2017-10-12 17:03] reedwm commented on #2521
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-12 17:03] #2521 closed

[2017-10-12 17:04] reedwm commented on #2525
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-10-12 17:05] reedwm commented on #2527
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-10-12 17:05] reedwm commented on #2531
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-12 17:05] #2531 closed

[2017-10-12 17:16] jind11 commented on #2521
The original word2vec model needs the input corpus as the format of sentences instead of a simple list of words. There is boundary between sentences. But the word2vec.skipgram_word2vec() function provided here does not have this feature and concatenates all the sentences together, which is wrong. Is this a kind of bug? I originally planned to use the code here to do my embedding training but found

[2017-10-12 17:40] ferreirafabio commented on #524
During a research project I was confronted with generating tfrecords from raw video material in Python.
Coming across many similar requests similar to this thread, I made a part of my code available under
https://github.com/ferreirafabio/video2tfrecords.

It requires numpy but other than the code above it can be run on a video file rather than a image file basis (therefore requires OpenCV). I thou

[2017-10-12 19:58] mapss commented on #2517
I am getting the same error too OSX

[2017-10-12 20:32] slsd123 commented on #1916
Thanks for the above fix. I had to make one small change because I couldn't use a tensor as a python boolean. Here's what I replaced line 184 with:
[code]

[2017-10-12 22:10] NikolayStarikov opened #2534 "minor change is required in ..research/audioset document"
Hi guys,

please change in audio set document "cd models/audioset" to "cd models/research/audioset".

Best regards,
Nikolay

[2017-10-12 22:11] NikolayStarikov commented on #2534
I mean readme.md

[2017-10-12 22:45] JohanWu commented on #2355
same issue here.

[2017-10-13 01:44] RazinShaikh opened #2535 "Pre-trained model for im2text"
Is it possible to get a pre-trained model for im2text? I want to try it out but I don't have enough GPU power to train the model from scratch.

[2017-10-13 01:50] #2535 closed

[2017-10-13 03:30] haamoon commented on #2241
Nope, I still don't know what is the problem...

[2017-10-13 04:47] kiariendegwa commented on #1732
Ps this has change: so it should be, '''input_binary=True'''

[2017-10-13 04:55] tatatodd commented on #2510
I see.

As mentioned on that bug, you can't "add classes to an existing model"; but you can finetune a new model starting from one of the checkpoints.  There are quite a few documents in the links I provided above describing this.

Closing this out.

[2017-10-13 04:55] #2510 closed

[2017-10-13 04:59] tatatodd commented on #2520
Closing this out as a dup of #712, where you posted the exact same thing.  Please don't do that; spamming multiple issues isn't friendly.

[2017-10-13 04:59] #2520 closed

[2017-10-13 05:00] tatatodd commented on #2528
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-10-13 05:00] #2528 closed

[2017-10-13 05:06] saikishor commented on #2510
Sure thank you!!

[2017-10-13 05:09] tatatodd commented on #2534
@NikolayStarikov Thanks for filing the issue; I'll fix it up.

[2017-10-13 05:09] #2534 closed

[2017-10-13 05:15] tatatodd commented on #2530
That's a reasonable idea; I'll whip up a PR.

[2017-10-13 05:15] #2530 closed

[2017-10-13 09:24] mpeniak commented on #1740
I got the same issue...it was working fine last week...now I checkout a fresh copy on a different machine and tried doing exactly the same thing as before. The app now compiles after I added:

    repositories {
        jcenter()
        maven {
            url 'https://google.bintray.com/tensorflow'
        }
    }

To build.gradle.... but the app crashes upon start with the following dump:

Any

[2017-10-13 11:01] josifovski commented on #2225
@cipri-tom At the beginning of the eval.py script you can set the CUDA_VISIBLE_DEVICES to empty in the following way:

[code]

Then the evaluation will fall back to cpu execution.

[2017-10-13 12:22] jmaye commented on #2489
I just did some more testing with the cifar10_main.py example and noticed the following:

- reported training accuracy is about 73% at 4000 steps
- model is saved and restored
- training accuracy starts at 88%

I have the same behavior when I reduce the number of classes of my problem.

Am I missing something? Is this behavior normal?

To complete the story, I notice that the cross-entropy is not

[2017-10-13 14:31] jmaye commented on #2489
This last issue is now solved. Actually, tf.metrics.accuracy maintains a running statistics. This was a bit counter-intuitive to me:) This explains the jump, because when you restart you forgot the first iterations where the accuracy was lower, and hence you go higher.

[2017-10-13 14:31] jmaye commented on #2489
I'm now doing something like:

    batch_accuracy =\
        tf.reduce_mean(tf.to_float(tf.equal(predictions['classes'],
                       tf.argmax(onehot_labels, axis=1))))

[2017-10-13 15:07] cshallue commented on #712
The model code supports multi-GPU synchronous or asynchronous training. The [training script](https://github.com/tensorflow/models/blob/master/research/im2txt/im2txt/train.py) is currently set up for single-GPU training. It will need some modifications to train on multiple GPUs. See the following references for setting up multi-GPU jobs:
https://www.tensorflow.org/deploy/distributed
https://github

[2017-10-13 15:07] #712 closed

[2017-10-13 19:11] cipri-tom commented on #2225
@josifovski obviously! Why did I not think of that? >.< I am using CUDA_VISIBLE_DEVICES to set which GPU to use but I didn't think I could set it to null.

Thank you!

[2017-10-13 22:53] reedwm commented on #2485
We don't have an s390x to reproduce this on, so marking as community support. @namrata-ibm, can you take a look at this?

I also found [this page](https://github.com/linux-on-ibm-z/docs/wiki/Building-TensorFlow) which describes using TensorFlow on an S390x. Maybe file an issue with that repo.

[2017-10-13 23:21] reedwm commented on #2489
Thank you for looking into this. To clarify: You said earlier that "every time I restore a checkpoint, the loss increases and the training accuracy decreases". But now it seems the accuracy increases when you restore, due to tf.metrics as you stated. In what cases did the accuracy decrease?

Also, when I say to go to StackOverflow, I mean to post a question, not just look at existing questions and

[2017-10-14 11:11] rohitsubramani commented on #1591
How do i resolve this in windows 10?
 File "generate_tfrecord.py", line 20, in <module>
    from object_detection.utils import dataset_util
ModuleNotFoundError: No module named 'object_detection'

[2017-10-14 17:00] ps48 commented on #2202
@IanPhilips  @reedwm Yes Ideally it can be a part of train.py and eval.py, as sys.path.insert/append added upfront in the python files.

[2017-10-15 01:17] bw4sz commented on #1753
@civilman628 can you explain what you mean. I am also confused by this "error" in the sense that it starts at some checkpoint and does not seem to progress alongside the train model.
<img width="1400" alt="screen shot 2017-10-14 at 6 14 57 pm" src="https://user-images.githubusercontent.com/1208492/31580661-ab411d50-b10b-11e7-98d0-33502b277e48.png">

so note that those images are at step 0, but the

[2017-10-15 03:39] june9713 commented on #1591
@rohitsubramani
Dear.
You have to install object detection.
setup.py install

[2017-10-15 08:08] RazinShaikh commented on #466
If someone is looking for the reformatted words_count file, here it is [words_count.txt](http://s000.tinyupload.com/?file_id=00024493683399847909)

[2017-10-15 09:03] y734451909 commented on #466
no,what l want to ask you is your github ” Implementation of GoogLeNet by chainer”-- googlenet/googlenet.py中的what is“nutszebra_chainer”,it have confused me long time,thank you again! here is your code websit: https://github.com/nutszebra/googlenet/blob/master/googlenet.py

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Razin Shaikh<mailto:notifications@github.com>
发送时间:

[2017-10-15 09:24] rohitsubramani commented on #1591
how do i do it in windows

On Sun, Oct 15, 2017 at 9:10 AM, june9713 <notifications@github.com> wrote:

[2017-10-15 11:53] Boussenna commented on #1700
@hosseinece  You probably have a corrupted JPEG file due to failure in the download, I solved that by re-downloading the flowers folder directly from : http://download.tensorflow.org/example_images/flower_photos.tgz and extracting it into tf_files after deleting the old flower_photos folder.

[2017-10-15 13:38] shamanez opened #2538 "Inception Model - How to freeze the trained weight set in the model ?"
Code given in the
[model/research/inception](https://github.com/tensorflow/models/tree/master/research/inception) how to freeze the weight set backed to the graph . Is there a separate script?

[2017-10-15 16:05] navinkeshava commented on #1962
in object_detection protos folder the import line is given
import "object_detection/protos/grid_anchor_generator.proto";

change that to
import "research/object_detection/protos/grid_anchor_generator.proto";

[2017-10-15 16:16] chiayuhsu opened #2540 "Problem when using eval.py, Request to allocate 0 bytes, tried to allocate 0 bytes, tried to deallocate nullptr"
### System information
- **What is the top-level directory of the model you are using**: faster_rcnn_inception_resnet_v2
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command bel

[2017-10-16 04:38] xzha8059 commented on #2509
Hi,gpapan,could you recommend some reference about the hough voting in your paper? I am very interested in your paper.

[2017-10-16 06:11] indra215 opened #2541 "How to extract moving mean and moving variance from the tensorflow-slim batch norm layer?"
I have been trying to extract moving_mean and moving_variance values from the UPDATE_OPS collection for the batchnorm layer in mobilenet.

[code]

However, whenever I try to run the following code to extract the above tensors:

[code]
The process hangs and no output can be obtained.
Can anyone please let me know of a solution/alternate method to extract these values?
Thank you!

[2017-10-16 07:13] jmaye commented on #2489
I understand my comments are a little bit confusing. Here is a summary of the different things I've done:
- based on imagenet_main.py, I did a similar database loading mechanism, i.e.:
  dataset = tf.contrib.data.Dataset.from_tensor_slices((filenames, labels)),
  where filenames and labels are huge python string/integer lists (4M images/labels)
  Problem: huge log files! events.out.tfevents in the

[2017-10-16 08:10] namrata-ibm commented on #2485
@reedwm, @claudefalbriard, I ran the classifier(classify_image.py) at my end on s390x and getting same error(I am working on v1.2.1 but in this case, version should not matter). I tried on x86 (again v1.2.1) and it works fine there. However I suspect that the inception model being a  pre-trained model on a Little Endian machine, may have issues while loading on Big Endian(s390x).

I also faced sim

[2017-10-16 08:21] hadiasheri opened #2542 "Problem with Domain Adaption"
When I run the following:
bazel run slim:download_and_convert_data -- --dataset_dir $DSN_DATA_DIR --dataset_name=mnist
It is faild and the errors are raised as:
slim/BUILD:51:1: no such package 'tensorflow': BUILD file not found on package path and referenced by '//research/slim:download_and_convert_flowers'

Anyone can help to handle this error?

[2017-10-16 14:35] ra9hur commented on #1564
@StanislawAntol , freeze_mobilenet.py as in gist would not work. The models git repo structure has changed with the latest version in https://github.com/tensorflow/models.git.

Can you please help to provide newer freeze_mobilenet.py version that is compatible with the newer repo structure.

[2017-10-16 16:28] qtdaniel commented on #2505
For anybody working with this code, please note that the perplexities achieved by earlier versions of the code are no longer achieved by the current version.

The comments at the head of the script suggest that the "medium" model should achieve a validation perplexity of about 86 and test perplexity of about 82. This was true in earlier versions but since two recent large changes: (1) addition of

[2017-10-16 18:32] davidparks21 commented on #2100
I've downloaded imagenet twice now and am getting the same thing, download from image-net.org via:

`wget -c http://www.image-net.org/archive/stanford/fall11_whole.tar`

[2017-10-16 19:13] reedwm commented on #2489
For the first point about huge log files, I'm not sure where those are coming from. The input pipeline with `tf.contrib.data` should not be adding any summaries. @nealwu can you confirm this?

For the third point about low train accuracy, its impossible to debug without any code. Posting the 4M images is infeasible, but can you post the code to see what is happening? Posting the code to StackOverf

[2017-10-16 19:45] jmaye commented on #2489
I agree this is pretty hard without seeing the code:) I will see what I can do to post it.
Anyway, here is the status of my experiments today:
- I limited the number of classes to 1000, then 2000, then 5000, then 7500. Everything works as expected until 7500, which seems to be the breaking point. When I say everything works fine, I can stop the training and restart it to get the same loss and trai

[2017-10-16 19:46] jmaye commented on #2489
I think I might use another method for creating the dataset than from_tensor_slices, I've seen the list_files, from which you give a wild card.

[2017-10-16 20:04] drpngx commented on #2541
@aselle who would know about mobilenet?

[2017-10-16 20:11] mirceamironenco commented on #2505
@qtdaniel @Utumno Is there any other implementation that can serve as a reliable baseline?

[2017-10-16 20:24] jmaye commented on #2489
For the problem of loss, could it be a problem of imbalance, randomization? Ideally, I would love to pick let's say 30 classes at random out of the 70k available, then 20 images per classes to create a batch.

[2017-10-16 21:35] nealwu commented on #2505
@bignamehyp Could you take a look at @qtdaniel's comment above? Looks like there are issues with the PTB model's perplexity.

[2017-10-17 00:52] aweichina commented on #1842
Thanks a lot!

[2017-10-17 02:20] sufish commented on #1740
@mpeniak  if you download latest aar from http://ci.tensorflow.org/view/Nightly/job/nightly-android/ and import into your project, this issue will be gone. i guess the one in jcenter does not contain fix for this issue

[2017-10-17 04:01] StanislawAntol commented on #1564
@ra9hur , All that was needed is to provide the correct path to the slim directory. I have updated the gist so it accepts a command-line argument for the `tensorflow/models` directory (to which it appends `research/slim` to), so now you can run it via:

    python freeze_mobilenet.py <path to tensorflow/models cloned directory>

[2017-10-17 05:39] gunan commented on #2485
AFAICR, the way IBM contributed saved model support for little endian machines, you cannot load a saved model generated on a big endian machine on a little endian machine. I think @aselle was one of the reviewers for the feature.

So I think your understanding here is correct.

[2017-10-17 06:45] ra9hur commented on #1564
@StanislawAntol , Thanks for changes to the script. Was able to generate .pb with the following changes.

freeze_mobilenet.py
---------------------------
Line 74: Missing './MobileNet/Labels.json' file
MobileNet folder is not available in the latest models git repo. This could be git cloned from: https://github.com/Zehaos/MobileNet

Locally, after git cloning models and MobileNet repos, the struct

[2017-10-17 06:53] namrata-ibm commented on #2485
Alright, Thanks @gunan. For now I guess we have to train models separately on big endian till we get a way to generate saved model which are compatible on both or develop some tool to convert it.

[2017-10-17 07:20] StanislawAntol commented on #1564
@ra9hur, you shouldn't have needed to do anything but provide the path (e.g., /home/ra9hur/tf/models) at the command line. It should have created a `MobileNet` for you and not have needed any other changes.

[2017-10-17 07:46] ra9hur commented on #1564
@StanislawAntol , initially did try that, but was getting error for missing 'Labels.json' file. I was trying multiple options and must have overlooked something. Thanks again.

[2017-10-17 07:56] StanislawAntol commented on #1564
Are you sure you were running the newest gist code? I just copied it into a new directory, installed TF1.3 into a new virtual environment (running Python3), cloned the `models` repository, and ran it without any issue.

[2017-10-17 08:10] ra9hur commented on #1564
OK, to declutter a bit. Of the 3 errors,
1. Older gist code <yesterday>- Changed path to ./model/research/slim. But then got an error for missing 'Labels.json' file. Then, I copied MobileNet from git. I could not further proceed for a different issue which I am not able to recollect now. Then, requested you for the newer gist script.
2 & 3. Newer gist code <today>- Got those errors on the newer co

[2017-10-17 09:08] sainttelant opened #2543 "from object_detection.utils import dataset_util ImportError: No module named object_detection.utils"
when i tried to train pet detecter tutorials followed by instructions steps by steps,  i 've already added PYTHONPATH, and run model_test.py successfully, and meantime, i 've added export pythonpath in bashrc manually,and successfully, however, i executed the code to transfer pet_tf_record, it occurred the error as follows like;

/usr/local/lib/python3.5/dist-packages/tensorflow/models/research$ s

[2017-10-17 12:32] qtdaniel commented on #2505
I realised that all the trials I had performed were using 2 GPUs. I've tried again with only a single GPU and the results are not quite as bad. However, I still think some changes have been made that impair the model's capability compared to earlier versions of this code.

Using the most recent code with settings that most closely resemble those used in earlier versions of this script (i.e. basic

[2017-10-17 13:05] devnullnor commented on #2517
I get the same error on Ubuntu 16.04

[2017-10-17 13:06] gnavihs commented on #1028
+1

[2017-10-17 14:16] OverFlow7 opened #2544 "Object detection : hard negatives."
Hello!

I am currently using object detection on my own dataset, for some of my classes, i have a lot of false positives with high scores (>0.99, so having a higher score threshold won't help).

I know there is already some hard negative mining implemented  ,but would it be  possible to have a feature where one could add hard negatives examples to the training ?

Let's say we want to detect object

[2017-10-17 16:08] gunan commented on #2485
@claudefalbriard does the above answer your question?
We are open to contributions to enable loading models saved on one endianness on the other, but TensorFlow team likely wont be able to do this, as we do not have any big endian machines.

I will leave this open and mark contributions welcome, but we can also file a more explicit issue that explains the problem better and close this one.

[2017-10-17 16:12] akshay-j commented on #91
Hi @girving  @ilyador . I am trying to use bazel on Ubuntu 14.04 LTS, 32 bit. I'm getting the given error for below 3 scripts:

1. bazel-0.2.2-installer-linux-x86_64.sh
2. bazel-0.5.4-installer-linux-x86_64.sh
3. bazel-0.5.4-without-jdk-installer-linux-x86_64.sh

Do these scripts only work on Ubuntu 16.04? Is there some other solution to make things work on Ubuntu 14.04?

[2017-10-17 18:35] claudefalbriard commented on #2485
Thanks @gunan . I would appreciate to receive a description of the internals and layout for the classify_image_graph_def.pb file, so we can start to develop a converter tool. Right now, thinking about Python Numpy which has data-type controls with endian-ness. Beside float values, I also expect to see ASCII characters in that file. I will discuss the solution path with the internal community.

[2017-10-17 19:07] JoshVarty opened #2545 "Inception v1 missing 5x5 Convolutions"
According to [Going Deeper with Convolutions](https://arxiv.org/pdf/1409.4842v1.pdf) the original inception modules had the following structure:
![image](https://user-images.githubusercontent.com/1249087/31683804-ea24827c-b34b-11e7-9934-eaf4fc80234a.png)

However, while reviewing `models/research/slim/nets/inception_v1.py` I noticed that the inception modules were missing 5x5 convolutions and inst

[2017-10-17 19:50] nealwu commented on #2545
@derekjchow can you take a look? Looks like the model needs a fix, which means we'll want to retrain a new checkpoint.

[2017-10-17 20:03] drpngx commented on #2543
What are the values for your python path?

[2017-10-17 21:41] JoshVarty commented on #2545
Also there are a few other things I've noticed that might be mistakes or things I'm misunderstanding.

1. There are no LocalResponseNorm layers as indicated in the paper.

![image](https://user-images.githubusercontent.com/1249087/31690584-26e15af4-b361-11e7-90e8-f7688c890068.png)

2. I'm not sure if the 1x1 Convolution at the front of the network is using the correct weights. However, the paper i

[2017-10-18 01:22] sainttelant commented on #2543
hi, drpngx , i deployed the codes on the Google cloud, and the PYthonpath is '  ['', '/usr/local/lib/python3.5/dist-packages/tensorflow/models/research/slim', '/home/goldedseito_saga', '/usr/lib/python35.zip', '/usr/lib/python3.5', '/usr/lib/python3.5/plat-x86_64-linux-gnu', '/usr/lib/python3.5/lib-dynload', '/home/goldedseito_saga/.local/lib/python3.5/site-packages', '/usr/local/lib/python3.5/dis

[2017-10-18 01:25] sainttelant commented on #2543
so it is weird to encounter such errors, because it can execute successfully through model_builder_test.py in installing instruction, any suggestions?

[2017-10-18 01:55] topgetgithub opened #2547 "Manual build syntaxnet always failed on Ubuntu & Mac"
I changed several machine and always got the same errors (22 failed as below):

//dragnn/python:bulk_component_test                                      FAILED in 1.1s
  /root/.cache/bazel/_bazel_root/d78cc2bbfe399a9a2f97a3fcc389326e/execroot/__main__/bazel-out/local-opt/testlogs/dragnn/python/bulk_component_test/test.log
//dragnn/python:composite_optimizer_test                                 FAI

[2017-10-18 02:58] sainttelant commented on #1591
when i tried to train pet detecter tutorials followed by instructions steps by steps, i 've already added PYTHONPATH, and run model_test.py successfully, and meantime, i 've added export pythonpath in bashrc manually,and successfully, however, i executed the code to transfer pet_tf_record, it occurred the error as follows like;

/usr/local/lib/python3.5/dist-packages/tensorflow/models/research$ su

[2017-10-18 03:05] sainttelant commented on #1591
@rohitsubramani
i got the same error like you, so how do you solve it?
ModuleNotFoundError: No module named 'object_detection'

[2017-10-18 03:10] sainttelant commented on #2543
okay, i found the solution to solve it， i tried to python3 setup.py build and install in research folder, after done that, i executed the code,and worked

[2017-10-18 03:10] #2543 closed

[2017-10-18 04:54] gunan commented on #2485
Here is some of the relevant discussion at the time we were accepting
initial big-endian support:
https://github.com/tensorflow/tensorflow/pull/5450#issuecomment-270173816

This should point you to a high level summary of the problem, and what may
need to be changed in order to support cross architecture usage of models.

On Tue, Oct 17, 2017 at 11:37 AM, claudefalbriard <notifications@github.com>

[2017-10-18 06:35] jmaye commented on #2489
New insights on the issue! I changed everything in my input pipeline using now TextLineDataset and other stuff. I'm able to have an insignificant initial loading time (whereas I was waiting 5 minutes before). And best of all, I can balance my batches the way I want, let's say 15 samples from 20 classes for instance.

What I discover:
- probably for reproducibility, the random seed was set to 1 by

[2017-10-18 07:50] AndreyRub opened #2548 "Out of memory when training SSD mobilenet on google cloud ml"
### System information
- **What is the top-level directory of the model you are using**:
ssd_mobilenet_v1_coco_11_06_2017
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, modified dataset and config
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Binary
-

[2017-10-18 09:45] anilknayak opened #2549 "Training new classes using objet detection API"
### Describe the problem
Old Trained classes vanished after training of new classes using ssd_mobilenet_v1_coco_11_06_2017 pre trained model

### Details Explanation
1. I have used the pre trained model ssd_mobilenet_v1_coco_11_06_2017
and ssd_mobilenet_v1_coco.config
2. Followed the tutorial for training on new classes
updated the following details in config file
new_classes : 2
tf record section

[2017-10-18 10:09] Euun commented on #1957
Could you write down all the typings you wrote?

[2017-10-18 12:31] mbenami opened #2550 "SVM for classification for object detection"
Hi everyone
I'll would like to change the last layer in the object detection Faster Rcnn from softmax to svm
Has anyone done something like that and can give me some hint on how to do that?
I'm new little bit in the core flow of tensor-flow (just using the normal API and i'll would like to dig in little bit)

Thanks for the help!

Please go to Stack Overflow for help and support:

http://stackover

[2017-10-18 17:05] hunk3749 opened #2551 "cnn tutorial running problem"
Traceback (most recent call last):
  File "/home/dhanpal/Desktop/cifar10_train.py", line 10, in <module>
    import cifar10
  File "/home/dhanpal/Desktop/cifar10.py", line 350, in <module>
    if not os.path.exists(extracted_dir_path):
NameError: name 'extracted_dir_path' is not defined

[2017-10-18 17:42] derekjchow commented on #2549
Could you share your config file? Additionally, we don't currently support adding new classes to existing models.

[2017-10-18 17:43] derekjchow commented on #2548
Could you describe your dataset? From experience, if you have large resolution images in your dataset, there are situations where you can hit the memory limit. Preshrinking images often helps with these issues.

[2017-10-18 18:26] ybsave commented on #1591
@yhmybzc The same command does not work on my Windows 10.
protoc object_detection/protos/*.proto --python_out=.

will show error message: object_detection/protos/*.proto: No such file or directory.

But those directories and files do exist. Anyone know why?

[2017-10-18 19:24] drpngx commented on #2547
What is the error message?

[2017-10-18 19:25] drpngx commented on #2549
@derekjchow any idea?

[2017-10-18 19:40] drpngx commented on #2551
Can you point to the source you are using? How are you starting it?

[2017-10-18 20:29] ybsave commented on #2031
@jamiii Your solution works for me in Windows 10. But I do not add PYTHONPATH to PATH, it still works.

[2017-10-18 22:49] dr4b commented on #843
Sorry, this is a very old bug and I'm trying to close out old things; is this still relevant?

[2017-10-18 22:56] dr4b commented on #2433
I'm closing this bug out shortly unless you provide more information as I really do not know what page you are reporting the issue on.

[2017-10-19 01:37] sainttelant opened #2553 "error occurred when deployed pet detection on GOOGLE CLOUD"
I followed the instructions of pet detection training deploying on google cloud engine, everything worked fine, however, i encountered the error in the last two steps, and the jobs of google cloud platform displayed as follows;

The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 162, in _ru

[2017-10-19 06:49] deatherving commented on #1957
@Euun
Try this one.
python object_detection/train.py --logtostderr --train_dir TF_API_OD/models/model/train --pipeline_config_path TF_API_OD/models/model/faster_rcnn_inception_resnet_v2_atrous_pets.config

[2017-10-19 07:52] OLGKAD commented on #1116
@bakarov, I'm having exactly the same problem. I would highly appreciate it, if you could share with us how you resolved it.

[2017-10-19 09:44] justinshaohi opened #2556 "attention_ocr occur oom error when training by use gtx1070"
my gpu is gtx1070,when i want to train attention_ocr model ,the log occur error
ResourceExhaustedError:OOM when allocating tensor with shape

the document say has tested with gtx980,so my gtx1070 is ok  in theory。

[2017-10-19 09:48] sahil210695 opened #2557 "Got this Error while training inception from scratch"
Downloaded all imagenet dataset and done the preprocessing of the same.
But when starting the training getting this error. Don't have any idea about it but I know that it is related to graphs in tensorboard.

bazel-bin/inception/imagenet_train --num_gpu=1 --batch_size=64 --train_dir=/home/datateam/Sahil/deeplearning-benchmark-master/imagenet-train --data_dir=/home/datateam/Sahil/deeplearning-bench

[2017-10-19 10:48] jmaye commented on #2489
Happy to see this got the required attention: https://github.com/tensorflow/tensorflow/commit/f184d76cf0c927ba0f4f41bff22150f60befc844

Brief status, I can now train my network, reaching 80% of accuracy until now, I can stop and restart without change. I can also extract the embedding and use it with other images. Still need to evaluate the accuracy.

However, there still seems to be a bottleneck

[2017-10-19 11:06] aoancea commented on #2088
@madekwe probably some libraries needed to run object_detection. They might also be required to be in PATH but it seemed to be a better idea to just copy them over :)

[2017-10-19 11:51] offbye commented on #694
Change
slim.metrics.streaming_recall_at_k(logits, labels, 5)
to
slim.metrics.streaming_sparse_recall_at_k(logits, labels, 5)

It  works！！

[2017-10-19 12:09] svarjo commented on #1286
How one adds to training loop metrics that require predictions (using train_image_classifier.py) ? I would like to monitor training with mean average error in addition to loss. Also slim.evaluation.evaluate_loop appears to do nothing with me, while the evaluate_once with eval_image_classifier.py works..?

[2017-10-19 12:41] soma11soma11 opened #2558 "Issue with building the preprocessing script."
`bazel build //im2txt:download_and_preprocess_mscoco
`
[code]

[2017-10-19 15:13] Aisuko commented on #541
The problem appears on my **`Windows10, Anaconda3 ,python3.6.3`**,but on **`mac os 10.13, Anaconda3,python3.6.3`**  run succeed.

[2017-10-19 18:42] bw4sz opened #2559 "Object detection train.py yields a precondition error on google cloudml"
I hope this is genuinely a bug, i believe that i've done enough testing to submit an issue. I have an open stack overflow [question](
https://stackoverflow.com/questions/46800018/tensorflow-object-detection-train-py-fails-when-running-on-cloud-machine-learnin) as well. Thank you for your time.

------------------------

### System information
- **What is the top-level directory of the model you ar

[2017-10-19 20:58] yoonsj commented on #1591
@ybsave Not in this thread but I saw that "*.proto" to specify all proto extension files does not work on the windows command prompt so we need to put all of the files one by one. You can copy and paste following script to do that. This works for me.

protoc --python_out=. .\object_detection\protos\anchor_generator.proto .\object_detection\protos\argmax_matcher.proto .\object_detection\protos\bipa

[2017-10-19 22:57] MartinAbilev commented on #1736
this not solution. solution is to update code !!!

[2017-10-19 23:18] RHSman commented on #1407
I'm having this error. Any tips?

[2017-10-20 06:39] vmarkovtsev commented on #1407
@RHSman The best tip would be to read the previous comment and try the solution. Does it work for you?

[2017-10-20 06:40] Xsea opened #2561 "Having problems to correctly load Tensorflow Word2Vec Model"
I am not quite sure if this is a bug or the result of missing documentation/my unability to find the documentation. But I already posted the question on Stackoverflow a few days ago without getting any response (https://stackoverflow.com/questions/46785690/tensorflow-model-is-not-loading-correctly), so it seems to be no obvious mistake and I hope I do not waste your time.

I currently try to train

[2017-10-20 06:42] RHSman commented on #1407
Not sure what that solution was to be honest. Rewrite something in python
3?
On Fri, 20 Oct 2017 at 08:40, Vadim Markovtsev <notifications@github.com>
wrote:

[2017-10-20 06:46] vmarkovtsev commented on #1407
Are you running Python2? What's your configuration?

[2017-10-20 06:53] RHSman commented on #1407
Python 2.7, tensorflow 1.0
On Fri, 20 Oct 2017 at 08:46, Vadim Markovtsev <notifications@github.com>
wrote:

[2017-10-20 07:26] zhangshuaitao commented on #1721
@jch1  I was also facing the same issue as @conner-starsky,  INFO:tensorflow:global step 109662: loss = 5.3843 (0.160 sec/step)
INFO:tensorflow:global step 109663: loss = 4.5832 (0.256 sec/step)
INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, Retval[0] does not have value
INFO:tensorflow:global step 109664: loss = 8.8361 (0.098

[2017-10-20 07:48] laeuter commented on #2547
I have exactly the same experience.

From the end of /testlogs/dragnn/python/{evaluation_test,parser_trainer_test,text_formats_test}/test.log:
--------------------------------------
  File "/home/**********/.cache/bazel/_bazel_**********/20bccd8906837b6f1fd2371be43a
ab45/execroot/__main__/bazel-out/local-opt/bin/dragnn/python/evaluation_test.run
files/org_tensorflow/tensorflow/python/ops/variable_

[2017-10-20 13:53] threshold2000 commented on #1834
Thanks a lot. It helps!

[2017-10-20 14:46] ajajar opened #2563 "c"

[2017-10-20 16:35] gahu1125 commented on #1407
I just modified the prep to be used in python 3.5.
Back then, it was very simple mistake was the division issue. For python 3.5, division is "//" but for python2.7, it was '/'.  And it worked for me!

[2017-10-20 16:41] vmarkovtsev commented on #1407
I guess could be alternatively fixed with `from __future__ import division`

[2017-10-20 17:53] kechan commented on #2525
I have also problem running:

bazel build slim/download_and_preprocess_imagenet

The first thing i noticed is in the BUILD under slim, I can't find any mention of download_and_preprocess_imagenet.

The one under inception directory seemed to work, but would it output things in "slim" format?

[2017-10-20 17:55] alexgorban commented on #2137
I'm sorry for the terribly delayed response.

To @HuichuanLiu:

this will load only metagraph, but you need to load weights as well.
There is a handy function for that:
  init_fn = model.create_init_fn_to_restore(checkpoint)
  init_fn(sess)
Refer to demo_inference.py for more details.

To @BrianGong:

Perhaps you didn't specified the --checkpoint flag, it was missing (#2565) in the usage example.

[2017-10-20 18:22] #2563 closed

[2017-10-20 21:35] zerodarkzone commented on #2547
I have the same problem

[2017-10-20 23:19] bw4sz commented on #2559
sigh, next beer is on me. For anyone finding this, there was a space " gs://", which was captured by the parse, trying to find local file " ", which made the error so cryptic.

it's

[code]

[2017-10-20 23:19] #2559 closed

[2017-10-20 23:30] svebk commented on #2481
I have faced the same issue. I have created the pull request #2567, that uses the global parser explicitly and allows me to pass both the `--train_dir` and `--data_dir`.

[2017-10-21 01:33] topgetgithub commented on #2547
error still occurs even after pip install enum and another mentioned package

[2017-10-21 01:36] drpngx commented on #2547
Yes, I think that's a mac/py3 issue or some similar combination. Let me dig up what the fix is.

[2017-10-21 01:40] drpngx commented on #2547
Maybe this? https://stackoverflow.com/questions/26828206/importerror-no-module-named-enum

[2017-10-21 02:07] topgetgithub commented on #2547
below is the entire build steps I performed just now, and the ouput. PYTHON_BIN_PATH?

bazel test ...
........................
ERROR: /root/.cache/bazel/_bazel_root/d78cc2bbfe399a9a2f97a3fcc389326e/external/org_tensorflow/third_party/py/numpy/BUILD:11:1: no such package '@local_config_python//': Traceback (most recent call last):
        File "/root/.cache/bazel/_bazel_root/d78cc2bbfe399a9a2f97a3f

[2017-10-21 02:09] topgetgithub commented on #2547
the OS is Ubuntu 16.04, python is 2.7, not 3.x

[2017-10-21 02:12] topgetgithub commented on #2547
the first error message in correspond test.log:

root@iZ6we9q8a9mrwjz6qqabgwZ:~/models/research/syntaxnet# cat /root/.cache/bazel/_bazel_root/d78cc2bbfe399a9a2f97a3fcc389326e/execroot/__main__/bazel-out/local-opt/testlogs/syntaxnet/util/check_test/test.log
exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
Traceback (most recen

[2017-10-21 06:49] zgongkuang commented on #517
@simo23, Thanks for your example. I always have one question. Why we should substruct the training mean, not the testing mean? For example, if my input test image has mean value much lower than 103.94, though in the scale of [0 255],  should I still use the Imagenet training mean?  I notice you use rescaling to set the image size to 256, then truncate to 224. My input size is 128, can I padding it

[2017-10-21 18:33] shwetgarg opened #2570 "problem to run textsum model on gpu"
On cpu, the textsum training code (https://github.com/tensorflow/models/tree/master/research/textsum) runs flawlessly.

To run code on gpu for faster training, I have changed "cpu" to "gpu" in following 4 lines: https://github.com/tensorflow/models/blob/master/research/textsum/seq2seq_attention.py#L84 https://github.com/tensorflow/models/blob/master/research/textsum/seq2seq_attention_model.py#L149

[2017-10-21 18:45] drpngx commented on #2541
@derekjchow any idea?

[2017-10-21 18:47] drpngx commented on #2547
Did you run `bazel fetch`?

[2017-10-21 18:49] drpngx commented on #2553
Yes, this is python 2.7, did you intend to use py3?

[2017-10-21 18:51] drpngx commented on #2557
Basically you are getting infinity. Since it's step 0, it is probably something wrong with the input data. Could you give us more context around what machine you are running this on, what data, what version of tensorflow, and what command line you used?

[2017-10-21 18:52] drpngx commented on #2561
@nealwu is word2vec working?

[2017-10-21 18:53] drpngx commented on #2561
Do you have the training logs?

[2017-10-21 18:54] sahil210695 commented on #2557
My machine is maingear razer r1
i7 cpu
64gb ram
12gb gfx Titan x
A the configuration for the datset has been done using the script provided

[2017-10-21 18:57] drpngx commented on #2557
@nealwu any idea?

@sahil210695 Thanks! Can you provide the command-line?

[2017-10-21 18:59] sahil210695 commented on #2557
Command line for ???

[2017-10-21 19:14] drpngx commented on #2557
Command-line that you used.

On Sat, Oct 21, 2017 at 11:59 AM, Sahil Kumar <notifications@github.com>
wrote:

[2017-10-21 19:16] sahil210695 commented on #2557
Bash termial on ubuntu 16.04 and nvidia and cuda properly installed

[2017-10-21 20:14] bw4sz commented on #1715
@GBJim can you confirm whether you have similar information/intuition on CPU times? I know gpu is often 10x faster, but i'm seeing CPU times like 100X slower than your table.

https://stackoverflow.com/questions/46839073/tensorflow-object-detection-api-rcnn-is-extremely-slow-on-cpu-1-frame-per-min

[2017-10-22 07:03] topgetgithub commented on #2547
No. But how?