[2020-07-24 19:44] #8868 closed

[2020-07-24 20:48] shamik111691 opened #8963 "faster_rcnn_inception_resnet_v2_keras fails in TF2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ Yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Yes] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you a

[2020-07-24 21:09] attianopp commented on #8917
What if I have no other classes to list? Just take the else statement out?

[2020-07-24 23:09] gagika commented on #8931
If you are training on a CPU you should use much smaller batch size (for example 2 or 4), by default we have batch size 64 and image resolution 1024 x 1024. We have nightly tests that run successfully on CPU with `one_device` strategy but using smaller batch size and image resolutions.

[code]

You can check all default hyperparameters in [vision/detection/configs](https://github.com/tensorflow/mo

[2020-07-24 23:44] syiming commented on #8949
Hi, could you please try to remove the restrictions and retry it? And could you please provide more details about the error message? Thanks.

[2020-07-24 23:58] syiming commented on #8923
Hi, it seems we don't support producing graphs form .pb files. Thanks!

[2020-07-25 01:08] crouchjt commented on #8926
I have updated the post to better reflect the template. Let me know if something is specifically missing.

[2020-07-25 01:20] crouchjt opened #8964 "Creating a new dataset from the Pascal dataset and adding one class fails to recognize the new class"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x  ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [  x ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are

[2020-07-25 02:26] dreamitpossible1 opened #8965 "AttributeError: module 'tensorflow_core.compat.v1' has no attribute 'contrib'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-07-25 02:37] Deep-learning-practitioner opened #8966 "Can't Convert tensorflow saved_model to frozen inference graph"
##### System information (version)
Using Google colab
TF version = 2.2

I have fine tuned an SSD MobileNet V2 model in tensorflow Objecet Detection API 2. Now I'm trying to convert the saved_model to frozen inference graph so I can use it in OpenCV DNN module but I'm really confused as how to proceed.

I Have been following [this tutorial](https://leimao.github.io/blog/Save-Load-Inference-From-TF2

[2020-07-25 02:40] Deep-learning-practitioner commented on #8923
Actually this is supported but the problem was I was trying to get the graph from the saved_model.pb file, but this code works with frozen_graph.pb file.  So Now I'm having trouble creating a frozen graph from saved_model format.

I have raised an issue here: #8966

[2020-07-25 02:40] #8923 closed

[2020-07-25 03:20] iimlearning commented on #8956
Thank you for your reply, lehougoogle.
I successfully solved the problem, but get a new problem.
Can you help me again? Thank you very much.

I use following code to solve this problem.
[code]
But when I run `!python3 data_download.py --data_dir=DATA_DIR`, it seems to run all the time, I can't get a result.
As follows:
![image](https://user-images.githubusercontent.com/46561673/88447658-3cc9cc00-c

[2020-07-25 03:54] lehougoogle commented on #8956
Hi iimlearning,

1. The log output says that it's downloading to /tmp/translate_ende/raw/.... folder. Do you see temporary files under that folder?
2. If you use --data_dir=DATA_DIR, the program downloads data to the folder called "DATA_DIR", not "/content/models/official/nlp/transformer/data/". Can you check if there are files under DATA_DIR/ ? If you want to use DATA_DIR as a shell variable, use

[2020-07-25 05:15] simonJJJ commented on #8917
This bug must be your bad generated TFrecords, check your data and program.

[2020-07-25 05:58] attianopp commented on #8917
That is correct, I am currently trouble shooting an issue with variable size input images [4032x2034 and 2034x4032], the bounding boxes in the resulting tf_records are off for images that are flipped (4032x2034 vs 2034x4032)

[2020-07-25 07:22] iimlearning commented on #8956
Hi lehougoogle,

**I get something from your reply. Thanks for your patient guidance.
I change my code as follows:**
[code]
**The same error occurs:**
![image](https://user-images.githubusercontent.com/46561673/88451365-b7a2df00-ce88-11ea-8102-74cc3298b3ba.png)

I see the file which is downloading:
![image](https://user-images.githubusercontent.com/46561673/88451464-7828c280-ce89-11ea-8763-a61b6ae

[2020-07-25 09:58] lehougoogle commented on #8956
Hi iimlearning,

Thanks for letting me know. Unfortunately the script doesn't tell us when the downloading is expected to be finished :(
Let's wait overnight or something like that and see. Is it possible for you to run the data downloading script and transformer on you computer locally? I'm worried that if the colab connect is reset, you'd loose the data you downloaded.

Thx

[2020-07-25 10:28] iimlearning commented on #8956
Hi lehougoogle,

**Have good news. Several hours later, it finished.**
I can continue now.

And I found python string can be used as a shell variable.
Such as:
![image](https://user-images.githubusercontent.com/46561673/88454620-7b30ac80-cea3-11ea-8bcf-bf5034b4c0fa.png)

Thanks so much for your help, you are a very nice person :)

[2020-07-25 10:31] #8956 closed

[2020-07-25 12:43] kxhit commented on #8940
Hi! I find that the code failed at this [function](https://github.com/tensorflow/models/blob/567bd18d4e6c1e31e4e58d3ffee0127f81bc1ab8/research/delf/delf/python/training/train.py#L364), and the program hangs after twice executions of this function.
Is threre any idea?  Thanks!

[2020-07-25 13:55] aleksandar commented on #8949
the restrictions? This is the only error messages I got.

[2020-07-25 14:00] syiming commented on #8949
You are saying you encounter an error with accessing a restricted bucket. Can you try to remove that restriction? Also, you can click the log to view more details. Thanks.

[2020-07-25 14:09] aleksandar commented on #8949
Yes, I made the bucket open, this is not an issue now. Besides this, this screenshot already presents log detail for the job. When hit  the log link from this top row, I get same log page, with same log query parameters in the header.

[2020-07-25 15:17] aleksandar commented on #8949
Here is place with error type messages starting to arrive
![Screenshot from 2020-07-25 17-13-13](https://user-images.githubusercontent.com/229280/88460148-5e43ab80-ce9a-11ea-962c-18b439354dcb.png)

Last errors before ones with tensor values
![Screenshot from 2020-07-25 17-13-40](https://user-images.githubusercontent.com/229280/88460159-79162000-ce9a-11ea-83cf-1c217387c165.png)

On the first image

[2020-07-25 15:50] y9luiz commented on #2961
works pretty well, thanks!

[2020-07-25 16:09] mm7721 commented on #8951
Regarding your tfrecord generation code, it looks extremely similar to mine.  One tiny difference is that I'm using tf2 rather than tf.compat.v1, but I doubt that makes a difference.  I don't believe the order of xmin/xmax/ymin/ymax matters, as I think the reader is looking for tags rather than particular indexes (plus, my ordering is identical to yours).  What I'd recommend is building a little c

[2020-07-25 16:32] mm7721 opened #8967 "TF2 Object Detect API with CenterNet Resnet101 V1 FPN 512x512"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-07-25 17:10] Fateh-Aliyev commented on #8952
For some reason, the files sometimes do pass the checksums and then extract themselves but they don't always.  Is this, simply a network error or something else, and should I just go with it and only get some of the files?

[2020-07-25 17:40] nicholasguimaraes opened #8968 "EfficientDet on tensorflow-gpu 1.15"
Hello world,

I use tensorflow-gpu 1.15 but I’m interested on training a pre trained model of EfficientDet, do I need to create a virtual env and install tf2?

Does Tensorflow 2 run on GPU?

[2020-07-25 18:23] attianopp commented on #8951
I really appreciate your detailed response. Your intuition was correct, using https://github.com/sulc/tfrecord-viewer I see now that images that were taken with horizontal orientation have incorrectly placed bboxes. My dataset is made of variable size images that are dimensions HxW or WxH. The record generation process I currently use seems to assume a constant image size, so the horizontal images

[2020-07-25 20:10] jch1 commented on #8963
Hi - our keras models are only meant to be trained/eval'ed with [model_main_tf2.py](https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py) --- it seems that you are using a legacy binary?

[2020-07-25 20:17] shamik111691 commented on #8963
Hi @jch1

Thank you for your help. I have tried using model_main_tf2.py and it works. However, it does not print out the loss of each and every step, but instead does it for every 100 steps. Is it possible to print the loss for every step.

Also, earlier I used to use the script export_inference_graph.py and then follow it by a modified version of object_detection_tutorial.ipynb.

What steps do I

[2020-07-26 02:16] #8959 closed

[2020-07-26 09:56] ademkesim commented on #8865
I'm having the same problem did you solve it?

[2020-07-26 10:40] ibrahimsoliman97 commented on #8808
any update in this issue ?

[2020-07-26 12:52] molysama commented on #8865
I solve it by remove `research\object_detection\protos\input_reader.proto` 5 line.

[2020-07-26 13:02] ding15963 commented on #8731
I have the same confusion, have you solved it? Thanks！

[2020-07-26 17:59] ramesh8v commented on #8951
@attianopp: My tfrecord creation script is very similar to yours. I resized all images and bboxes to 640x640. My tfrecord looks perfect. The training job is running without any errors, but images in tensorboard look weird (some images are in a different contrast and color), and there are no bboxes. Tried with a variety of batch sizes, number of training steps, and recreating tfrecord, but still, t

[2020-07-26 20:29] ivankrylatskoe commented on #7640
Same issue.
Python 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)] on win32
Tensorflow 2.2.0
CUDA 10.1
cudnn-10.1-windows10-x64-v7.6.5.32
GPU NVIDIA GeForce GTX 1060 6GB

[2020-07-27 04:34] kxhit commented on #8940
Update debug progress.
If I set [distribute function](https://github.com/tensorflow/models/blob/e54fcee236a1258302342bd703ee27cbba0c12e3/research/delf/delf/python/training/train.py#L126) on one GPU like this `strategy = tf.distribute.MirroredStrategy(['/gpu:0'])`, everything will be OK!!!
Is there some problem with the distribute computation? Still don't know how to solve it. Please help me. Thank

[2020-07-27 05:23] WindowsDriver opened #8970 "deeplab tflite model can not run a long time"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the tensorflow-lite-1.15.0.aar for Android Device
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

http://dow

[2020-07-27 05:24] WindowsDriver commented on #8970
commit error

[2020-07-27 05:24] #8970 closed

[2020-07-27 05:25] WindowsDriver commented on #8970
I wrtite info error

[2020-07-27 06:23] cchenzhou commented on #8958
@aquariusjay

Thanks for your reply.

I'm a little curious about the meaning of hard_example_mining_step=0 and top_k_percent_pixels = 0.1, 0.15, 0.2, 0.25. Because in the train_utils. py, hard_example_mining_step is related to the top_k_percent_pixels.

For example, if hard_example_mining_step = 100K and top_k_percent_pixels = 0.25, then mining percent will gradually reduce from 100% to 25% until

[2020-07-27 06:36] WindowsDriver opened #8971 "deeplab tflite and mobilenet ssd cannot run serially"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the ltensorflow-lite-1.15.0.aar (for android device)
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using
mobilene

[2020-07-27 07:02] WindowsDriver commented on #8971
The problem submitted above sometimes appears immediately, sometimes it takes a long time to appear. However, if you initialize two models at once (mobinenet V2 SSD+deeplab), the deeplab model initialization will always be paused, the initialization interface will not report an error or throw an exception, and the program will not continue.

[2020-07-27 07:06] kxhit commented on #8940
I successfully run the demo script as root. But I get segmentation fault if I run the demo script as other user group. Why is that? Is this possibly a bug of TF2.2.0?

[2020-07-27 07:12] WindowsDriver commented on #8971
private List<String> loadLabelList(String labelFilePath) throws Exception {
        List<String> labels =  new ArrayList<>();
        InputStream labelsInput = null;
        BufferedReader bufferedReader = null;
        try{
            bufferedReader = new BufferedReader(new FileReader(labelFilePath));
            String line;
            while ((line = bufferedReader.readLine()) != null) {

[2020-07-27 07:32] ravikyram commented on #8865
@kurvaraviteja355

Any update on this issue please.Thanks!

[2020-07-27 08:08] YuanEric88 commented on #8903
1.15

[2020-07-27 09:08] YuanEric88 commented on #7162
I meet the same problem. Yes the WER should as small as possible, I am wield why tensorflow released code has such a distinct typo.

[2020-07-27 09:19] YuanEric88 commented on #6374
@aoussou

I think you are right, it is obviously that the smaller of WER, the better performance that model has. After considering this problem, what is your best WER finally?

[2020-07-27 09:22] aoussou commented on #6374
Sorry, didn't have time to try and fix the problem so I just used another model...

[2020-07-27 09:25] YuanEric88 commented on #6374
@aoussou
That's totally fine, so what model did you use finally? how is the performance of that?

[2020-07-27 09:26] aoussou commented on #6374
Check this out: https://github.com/syhw/wer_are_we

[2020-07-27 09:40] ravikyram commented on #8965
@dreamitpossible1

contrib module is no longer available in TensorFlow 2.0, but you can use with this;
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

or uninstall TensorFlow and install oldest version with this;
pip install tensorflow==1.14

Detailed information; https://www.tensorflow.org/guide/migrate

Tensorflow Core released a utility to convert your TF 1.x scripts to TF2.0 which

[2020-07-27 09:49] #8865 closed

[2020-07-27 10:01] ravikyram commented on #8968
@nicholasguimaraes

Yes you can create virtual environment and install TF 2.
TF 2 will run on GPU as well.Please, refer https://www.tensorflow.org/guide/gpu?hl=en

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

Thanks!

[2020-07-27 10:30] sreenupadidapu opened #8972 "AttributeError: module 'tensorflow.python.framework.op_def_registry' has no attribute 'register_op_list'"
while running the train.py in thetensorflow 2.2 version i am getting this error

[2020-07-27 10:31] sreenupadidapu commented on #8972
versions i used :
python : 3.6
tensorflow : 2.2
numpy : 1.19

[2020-07-27 11:00] ravikyram commented on #8972
@sreenupadidapu

What is the top-level directory of the model you are using?

Please, let us know which pretrained model you are using and share related code .Thanks!

[2020-07-27 11:10] sreenupadidapu commented on #8972
i am using the faster_rcnn_resnet152_v1_800x1333_coco17_gpu-8  pretrained model

[2020-07-27 11:11] sreenupadidapu commented on #8972
# Copyright 2017 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is dis

[2020-07-27 11:13] sreenupadidapu commented on #8972
python3  train.py --logtostderr --train_dir=checkpoints/ --pipeline_config_path=checkpoints/faster_rcnn_resnet152_v1_800x1333_coco17_gpu-8.config
Traceback (most recent call last):
  File "train.py", line 51, in <module>
    from object_detection.builders import dataset_builder
  File "/home/spadidapu/models-mast/models-master/research/object_detection/builders/dataset_builder.py", line 32, in <mo

[2020-07-27 11:13] sreenupadidapu commented on #8972
please help,
thanks in advance.

[2020-07-27 13:37] LiuXiaolong19920720 commented on #8953
Same Error:
[code]

[2020-07-27 14:13] lakshay1296 commented on #8892
Hello, I'm facing the same issue using **"faster_rcnn_resnet101_v1_1024x1024_coco17_tpu-8"**, **"centernet_hg104_1024x1024_coco17_tpu-32"**, and **"efficientdet_d2_coco17_tpu-32"**. They all have the same sturcture as mentioned below. Also, changing **fine_tune_checkpoint_type** to **detection** does not work either.

├── checkpoint
│   ├── checkpoint
│   ├── ckpt-0.data-00000-of-00001
│   └── ckp

[2020-07-27 16:15] shamik111691 opened #8974 "od_graph_def.ParseFromString(serialized_graph)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-07-27 16:17] andrefaraujo commented on #8940
If things only work when you use root user, that may indicate a problem of where TF 2.2 was installed. You may have an earlier version of TF installed for the non-root user which would be picked up by default.

[2020-07-27 16:17] #8940 closed

[2020-07-27 16:17] shamik111691 commented on #8974
Error during inference:

object_detection_tutorial_with_args.py", line 102, in <module>
    od_graph_def.ParseFromString(serialized_graph)
google.protobuf.message.DecodeError: Error parsing message

[2020-07-27 16:18] andrefaraujo commented on #8952
If the files don't pass checksums, this indicates that they were not downloaded correctly. You should redownload them.

[2020-07-27 16:18] #8952 closed

[2020-07-27 16:24] ravikyram commented on #8974
@shamik111691

What is the top-level directory of the model you are using?
Please, let us know which pretrained model you are using and share related code .Thanks!

[2020-07-27 16:29] shamik111691 commented on #8974
@ravikyram

I am using object_detection.

I am using the faster_rcnn_inception_resnet_v2_keras. I am training my own model from scratch.

Related code for inference:
PATH_TO_CKPT = <pat_to_models>/saved_model/saved_model.pb
detection_graph = tf.Graph()
with detection_graph.as_default():
  od_graph_def = tf.compat.v1.GraphDef()
  with tf.compat.v2.io.gfile.GFile(PATH_TO_CKPT, 'rb') as fid:
    seri

[2020-07-27 16:59] kxhit commented on #8940
Even if I create a new clean conda environment with tf2.2.0,  I will get the same segmentation fault error.  The only way works for me is to use root.  Don't know why.  It's weird...

[2020-07-27 17:41] haivamsieee opened #8975 "NotFoundError: /content/train/cells_label_map.pbtxt; No such file or directory"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-07-27 17:43] haivamsieee commented on #8975
i was trying to do  my custom data set but getting error

[2020-07-27 17:44] haivamsieee commented on #8975
how to solve this
NotFoundError: /content/train/cells_label_map.pbtxt; No such file or directory

[2020-07-27 18:14] haivamsieee opened #8976 "tensorflow.python.framework.errors_impl.NotFoundError: /content/train/cells_label_map.pbtxt; No such file or directory"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-07-27 18:14] bhack opened #8977 "GELU: Align with approved RFC 252"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

    * Consolidate/remove https://github.com/tensorflow/models/blob/r2.2.0/official/modeling/activations/gelu.py
    * Consolidate/remove https://github.com/tensorflow/models/b

[2020-07-27 18:14] haivamsieee commented on #8976
i was getting error
tensorflow.python.framework.errors_impl.NotFoundError: /content/train/cells_label_map.pbtxt; No such file or directory

[2020-07-27 18:15] haivamsieee commented on #8976
how to solve this

[2020-07-27 19:04] ekesdf commented on #8291
https://github.com/tensorflow/models/issues/8291#issuecomment-661930520

thy it fixt it thy

[2020-07-27 20:02] Geoyi commented on #8892
I got the same error for trying to use both fast rcnn and context rcnn, have anyone solve the issue.
Confirming that change `fine_tune_checkpoint_type` to `detection` doesn't help in these cases as well.

[2020-07-27 20:32] syiming commented on #8888
Hi, I have created a pull request fixing the issue. Please check it. Thanks.

[2020-07-27 21:15] #8689 closed

[2020-07-27 22:01] nicholasguimaraes commented on #8892
Good  evening everyone, I'm trying to fine tune efficientdet_d4_coco17_tpu-32 and I'm also facing the same issue mentioned above.
raise ValueError("Shapes %s and %s are incompatible" % (self, other))
ValueError: Shapes (224,) and (256,) are incompatible

[2020-07-27 22:12] nicholasguimaraes commented on #8149
I'm trying to fine tune efficientdet_d4_coco17_tpu-32 and I'm facing the exact same issue

raise ValueError("Shapes %s and %s are incompatible" % (self, other))
ValueError: Shapes (224,) and (256,) are incompatible

[2020-07-27 22:28] saberkun commented on #8977
Thanks! @bhack
We will make changes. Assign to me.

[2020-07-27 22:58] sglvladi commented on #8975
@haivamsieee you will need to provide more details.. However what seems to be happening is that some point of your code is trying to reference the file ``/content/train/cells_label_map.pbtxt`` but it cannot find it. This is typically a file containing the label definitions used during model training. If you provide more details of the script you are running I (and/or others) may be able to help yo

[2020-07-27 23:04] sglvladi commented on #8966
@Deep-learning-practitioner have a look [here](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/inference_from_saved_model_tf2_colab.ipynb) for an example on using the saved model format.

As noted [here](https://github.com/tensorflow/models/issues/8858#issuecomment-658348127) frozen graphs are not supported in TF2.

Hope this helps.

[2020-07-27 23:13] sglvladi commented on #8963
@shamik111691 The printing seems to be controlled by line 640 of model_lib_v2.py: https://github.com/tensorflow/models/blob/e9b70e67a57fe3ab8ad03b8f966069bd0845e64a/research/object_detection/model_lib_v2.py#L640

What you can do is change this line to:
[code]
and then reinstall the object_detection module (as describes [here](https://github.com/tensorflow/models/blob/master/research/object_detecti

[2020-07-28 02:48] awaisbajwaml commented on #8912
@jvishnuvardhan  @ravikyram

Team, is there any progress on this request?

[2020-07-28 02:55] nicholasguimaraes commented on #8892
Hello again, I got around this error (ValueError: Shapes (112,) and (256,) are incompatible) setting pad_to_max_dimension to false on my config file.

image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 768
        max_dimension: 768
        pad_to_max_dimension: false
        }

[2020-07-28 03:22] pn12 commented on #8623
Use Below -

from object_detection.protos import eval_pb2
eval_config = eval_pb2.EvalConfig()
eval_config.metrics_set.extend(['coco_detection_metrics'])

for the precision , recall and iou at different thresholds

I have referred this doc - https://github.com/tensorflow/models/blob/da23acba8ecb8c0e7c9a83cdb9f10092895c9dcc/research/object_detection/g3doc/evaluation_protocols.md
for the same.

[2020-07-28 03:23] pn12 commented on #8856
Add below in your code to include coco evaluation metrics -

from object_detection.protos import eval_pb2
eval_config = eval_pb2.EvalConfig()
eval_config.metrics_set.extend(['coco_detection_metrics'])

for the precision , recall and iou at different thresholds

I have referred this doc - https://github.com/tensorflow/models/blob/da23acba8ecb8c0e7c9a83cdb9f10092895c9dcc/research/object_detection/g3

[2020-07-28 03:27] pn12 commented on #8570
Add the below in your code to evaluate precison / recall values at different IOU thresholds -

from object_detection.protos import eval_pb2
eval_config = eval_pb2.EvalConfig()
eval_config.metrics_set.extend(['coco_detection_metrics'])

for the precision , recall and iou at different thresholds

The output would be in the below format -

 Average Precision  (AP) @[ IoU=0.50:0.95 | area=medium | max

[2020-07-28 03:34] nicholasguimaraes commented on #8968
Thank you @ravikyram

[2020-07-28 03:37] ravikyram commented on #8975
@haivamsieee

What is the top-level directory of the model you are using?

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).

Please, let us know which pretrained model you are using and share related code .Thanks!

[2020-07-28 03:42] ravikyram commented on #8976
@haivamsieee

I think this issue is duplicate of #8975 .Please, close this issue and we can track the issue in #8975.Thanks!

[2020-07-28 03:46] saberkun commented on #8977
https://github.com/tensorflow/models/commit/f8c2a9178cce19c36899888bb0cbd30f6ba5aa07
Updated the implementation to use tf keras.
To fully remove activations/gelu.py, we encountered some difficulty for keras model serialization as we need to use approximate=True for now.

[2020-07-28 03:53] ravikyram commented on #8968
@nicholasguimaraes

Please close this thread if it solves your question.Also, refer this[ link](https://towardsdatascience.com/how-to-train-a-tensorflow-2-object-detection-model-25d4da64b817),might be useful to you. Thanks!

[2020-07-28 03:58] #8968 closed

[2020-07-28 04:32] khanx169 commented on #8888
Awesome, thanks a lot!

[2020-07-28 04:32] #8888 closed

[2020-07-28 05:14] BharathKR commented on #8913
@tombstone @jch1 @pkulzc  Hi guys, any update?

[2020-07-28 05:33] djdongjin opened #8980 "Why OD API caches groundtruth in a dict instead of passing to model.loss directly"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection

## 2. Describe the feature you request

I am trying to export a trainable SavedModel from TF2 object

[2020-07-28 07:01] Farjad3253 opened #8981 "Where to download the pre-trained NN for the model we wish to use for tensorflow object detection API version 1.13.1?"
Hello! I want to say that where is the model zoo for tenorflow 1?

[2020-07-28 08:16] ravikyram commented on #8981
@Farjad3253

Are you refering to the below link
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md
Thanks!

[2020-07-28 08:44] zheyuanWang commented on #8918
I printed the shape:

in eval, `type(adjust_distance) = <class 'float'>` , it's not a tensor at all;

in train, `tf.shape(adjust_distance)` :  shape=(1,), dtype=int32

The parameter `distance` are read from TFrecord with same pipeline. So I think the deeplab do treat this variable differently in training and evaluation processes.

[2020-07-28 09:30] wuchichung opened #8982 "poor performance with ssd mobilenet v2 QAT retrain"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usin

[2020-07-28 10:51] ricardosilva88 commented on #8886
Just adding a quick reference to a workaround, in case of coming here in fist place - https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/issues.html

[2020-07-28 11:58] luckyhero613 opened #8983 "ValueError: faster_rcnn_inception_v2 is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow"
https://github.com/tensorflow/models/tree/master/research/object_detection

![Screenshot (458)](https://user-images.githubusercontent.com/29058050/88662335-6f3d2880-d0f7-11ea-9517-cbde80bf8309.png)
I tried all combination train.py, model_main.py and even tried ssd_mobilenet_v1_coco_2018_01_28. but no any improvement.
Can anyone please help in this?

[2020-07-28 12:44] Ramanujam-RS commented on #3786
Update matplotlib and restart kernel worked for me.

[2020-07-28 13:43] #8937 closed

[2020-07-28 13:48] syiming commented on #8932
#8984 Hi, I have updated the documentation. Please check the pr.

[2020-07-28 13:57] syiming commented on #8972
Hi, the error is reported from a TensorFlow library instead of within Object API. Please check this issue https://github.com/tensorflow/tensorflow/issues/34762.

[2020-07-28 14:22] syiming commented on #8698
#8985 Hi, I have updated the like to the Colab notebook in this PR. I am closing this issue since it seems fixed. Please feel free to reopen the issue if you have further questions. Thanks.

[2020-07-28 14:22] #8698 closed

[2020-07-28 14:22] vighneshbirodkar commented on #8967
This is a duplicate of #8915 . The ResNet feature extractor only supports "classification" type checkpoints. The patch to output a better error message should go out soon. Until we can upload the classification backbones, you can train from scratch or use the hourglass backbone.

[2020-07-28 14:26] tazu786 commented on #8856
thank you @pn12! I kind of have the same issue using model_main_tf2.py with the config file. How can I apply those lines in that case too?

[2020-07-28 14:36] mm7721 commented on #8967
@vighneshbirodkar, thanks for the explanation.  Before this issue is closed, could you explain what's meant by the three fine tune training types: classification, detection, fine_tune?

[2020-07-28 14:43] vighneshbirodkar commented on #8967
1. classification - The backbone was pre trained on a classification task. Supported by all the ResNet style backbones
2. detection - The backbone was trained on a detection task. Currently supported by Hourglass style backbones.
3 fine_tune - The backbone comes from an existing detection model. In this case you can point to a checkpoint that was created using the OD API training script. It is use

[2020-07-28 15:03] mm7721 commented on #8967
Thanks, that's helpful.  Is there any way to tell in advance which category(ies) the TF2 model zoo checkpoints fall under?  It sounds like all of them should work with "fine_tune", some with "detection", and none with "classification" (currently).  Your list above is helpful, but there seem to be some exceptions.  For example, I got efficientdet and mobilenetv2 models to run with "detection" (and

[2020-07-28 15:12] vighneshbirodkar commented on #8967
My list was only limited to CenterNet. For Centernet we have a patch rolling out soon with better error messages. The most reliable source of truth however, is the `restore_from_objects` method in the meta architecture. I think in all cases with an unsupported checkpoint type, you should see some error.

[2020-07-28 15:22] mm7721 commented on #8967
Ok, understood.  Thanks.  And could you answer the final question "is there any difference in which parameters are frozen/trained for the three cases?"  Then we can definitely close this issue :)

[2020-07-28 15:27] mm7721 commented on #8881
Same issue for me.

[2020-07-28 15:32] vighneshbirodkar commented on #8967
For detection and fine_tune, all except the final prediction layers are restored. The difference is just that dict mapping names to weights is different to support the different kinds of checkpoints we have. For classification, in most cases, the deconv/upsamling part of the network is not restored.

[2020-07-28 15:36] goalpang opened #8986 "model_main.py (from object_detection import model_lib) doesn't work"
https://github.com/tensorflow/models/blob/9556ebcc076e696dfd698bda8e25698db0625036/research/object_detection/model_main.py#L25

Hi guys, this line doesn't work.
I have the full tensorflow repositary, but the model_main.py stops at that line.
That's the error:

  File "model_main.py", line 25, in < module >
    from object_detection import model_lib
  File "c:\tensorflow_SSD_1\models\research\objec

[2020-07-28 17:10] khanx169 commented on #8932
My hope was more along the lines of adding an explicit warning about backward incompatibility of object detection api with tf 1.12 or fixing that incompatibility.

If the backward compatibility issue can't be fixed then the documentation needs to be updated at several points, e.g. on [Training and Evaluation with TensorFlow 1](https://github.com/tensorflow/models/blob/master/research/object_detect

[2020-07-28 17:16] vighneshbirodkar commented on #8967
I also just realized that we have this script that lets you create ResNet based classification checkpoints compatible with CenterNet
https://github.com/tensorflow/models/blob/master/research/object_detection/models/keras_models/convert_keras_models.py

[2020-07-28 17:16] vighneshbirodkar commented on #8915
I also just realized that we have this script that lets you create ResNet based classification checkpoints compatible with CenterNet
https://github.com/tensorflow/models/blob/master/research/object_detection/models/keras_models/convert_keras_models.py

[2020-07-28 17:36] tanvirrazin opened #8988 "Show Precision, Recall, mAP for different IoU in Tensorboard"
- Have I written custom code:
  No
- OS Platform and Distribution :
  CentOS 7
- TensorFlow installed from :
  pip install tensorflow
- TensorFlow version:
  1.14.0
- Bazel version:
  N/A
- CUDA/cuDNN version:
  9.2
- GPU model and memory:
  NVIDIA GTX 1080 Ti
- Exact command to reproduce :
`
python model_main.py --logtostderr --train_dir=training/  --model_dir=saved_models/testing_model/  --num_t

[2020-07-28 18:29] aabbas90 opened #8989 "ExtremeNet config and code missing"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [Yes] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/models,
https://github.com/tensorflow/models/blob/5245161c96cc057dc7a883ef4283ed7fab735bcf/research

[2020-07-28 18:38] goalpang commented on #8986
Resolved by setting pythonpath

[2020-07-28 18:38] #8986 closed

[2020-07-28 18:55] ashiqimranintel commented on #8931
Thanks for the response. I think there is a problem with the dataset. Could you tell me which dataset did you run? I am trying to run COCO 2014. Did you run on another dataset?

[2020-07-28 19:29] Hazhzeng commented on #8586
Try defining **protobuf>=3.8.0** and reinstall with `pip install -U -r requirements.txt`. Seems like the protobuf module in your Python packages is too old.

[2020-07-28 22:04] bhack commented on #8707
Some small initial components are landing at https://github.com/tensorflow/models/pull/8962

[2020-07-28 22:33] dapladoc commented on #8988
Hi! You can find definitions of small, medium and large
in research/object_detection/metrics/coco_evaluation.py

[code]

And I believe you can change the code here to compute metrics for other IoUs.

[2020-07-28 23:01] nicholasguimaraes commented on #8974
I'm having the same issue

[2020-07-28 23:23] shamik111691 commented on #8974
@nicholasguimaraes I was able to solve this. You have to read in the saved_model. Please look at the colab_tutorials/object_detection_tutorial.ipynb

[2020-07-29 00:54] nicholasguimaraes commented on #8974
@shamik111691 I'm reading it from the saved_model folder. After converting the model it did not create any inference_graph.pb only saved_model.pb under saved_model folder.

Thank you I'm going to take a look at the link

[2020-07-29 02:15] Farjad3253 commented on #8981
Thanks a lot!

On Tue, 28 Jul 2020 at 13:16, ravikyram <notifications@github.com> wrote:

[2020-07-29 02:29] ravikyram commented on #8981
@Farjad3253

Please, close this thread if your question was answered.Thanks!

[2020-07-29 03:06] dgks0n commented on #6177
@HarshiniVenkat You should do as below

`from tensorflow.keras.layers import ...` instead of `from keras.layers import ....`

[2020-07-29 03:08] nicholasguimaraes opened #8990 "'_UserObject' object has no attribute 'summary'"
Hello, I'm trying to load a ssd_resnet50_v1_fpn_640x640_coco17_tpu-8 I just fine tuned but I'm coming across this error:

'_UserObject' object has no attribute 'summary'

Here are the 4 lines of code I have;

import tensorflow as tf

model_dir = 'C:/Users/Windows/Documents/Tensorflow_Obj_Det_API/models/research/object_detection/inference_graph/saved_model'

trained_model = tf.saved_model.load(mode

[2020-07-29 04:44] yimingw11 opened #8991 "No BERT-Base, Multilingual Cased checkpoint"
Can we also have the BERT-Base, Multilingual Cased checkpoint release as well? There are only the Pretrained hub modules versions shown here: https://github.com/tensorflow/models/tree/master/official/nlp/bert

[2020-07-29 06:15] motianyi commented on #8881
Same error for me, when executing tf.saved_model.save(detection_model, 'filepath')

[2020-07-29 06:54] ravikyram commented on #8983
@luckyhero613

CHECK THE BELOW CODE FOR WHICH VERSION UR MODEL IS COMPATIBLE HENCE USE ACCORDINGLY...

if tf_version.is_tf2(): #FOR TENSORFLOW VERSION 2
SSD_KERAS_FEATURE_EXTRACTOR_CLASS_MAP = {
'ssd_mobilenet_v1_keras': SSDMobileNetV1KerasFeatureExtractor,
'ssd_mobilenet_v1_fpn_keras': SSDMobileNetV1FpnKerasFeatureExtractor,
'ssd_mobilenet_v2_keras': SSDMobileNetV2KerasFeatureExtractor,
'ssd_mobi

[2020-07-29 07:20] ravikyram commented on #7397
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:20] #7397 closed

[2020-07-29 07:21] ravikyram commented on #7337
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:21] #7337 closed

[2020-07-29 07:22] ravikyram commented on #7300
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:22] #7300 closed

[2020-07-29 07:24] ravikyram commented on #7282
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:24] #7282 closed

[2020-07-29 07:25] ravikyram commented on #7214
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:25] #7214 closed

[2020-07-29 07:26] ravikyram commented on #7198
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:26] #7198 closed

[2020-07-29 07:27] noptanit12 commented on #8881
Try this

https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/issues.html#export-error

at this topic **“TypeError: Expected Operation, Variable, or Tensor, got level_5”**

ook at the line that corresponds to line 9 (highlighted) in the above error print out.

Copy the path to the tf_utils.py file; in my case this was C:\Users\sglvladi\Anaconda3\envs\tf2\lib\site-packages\ten

[2020-07-29 07:28] ravikyram commented on #7175
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:28] #7175 closed

[2020-07-29 07:29] ravikyram commented on #7164
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:29] #7164 closed

[2020-07-29 07:30] ravikyram commented on #7140
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:30] #7140 closed

[2020-07-29 07:31] ravikyram commented on #6810
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:31] #6810 closed

[2020-07-29 07:38] ravikyram commented on #8754
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-29 07:38] #8754 closed

[2020-07-29 07:57] datistiquo opened #8994 "'tensorflow.keras.activations' has no attribute 'gelu'"
I set up a new clean conda environment with python 3.6.

I installed tf-nightly, tensorflow-addons and tensorflow_hup as requested. But I cannot run the examples (but with a external trained BERT model for my language) and get the following:

[code]

[2020-07-29 08:46] DrewClacksila opened #8996 "Error in loading OD checkpoints"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-07-29 08:53] Farjad3253 opened #8997 "Nat able to train the model using tensorflow object detection API 2.0?"
When I run this command:  python model_main_tf2.py --model_dir=models/my_ssd_resnet50_v1_fpn --pipeline_config_path=models/my_ssd_resnet50_v1_fpn/pipeline.config
Then following errors results which I have attached in the txt file as below:
[errors.txt](https://github.com/tensorflow/models/files/4993770/errors.txt)

My system is :
Nvidia GTX 1060 with 3 gb Ram
Tensorflow 2.2
Cuda toolkit=10.1
Cudnn

[2020-07-29 08:54] #8981 closed

[2020-07-29 09:41] bisakhmondal commented on #8457
I'm Facing the same issue in tf-2.3 stable.
[code]
The error:
[code]
Could you please reopen the issue, Thanks.

[2020-07-29 09:44] tazu786 commented on #8887
@Jacobsolawetz I tried to apply this suggestion https://github.com/tensorflow/models/issues/8856#issuecomment-664753607 to the train_main_tf2.py but without success. Any news?

[2020-07-29 10:17] luckyhero613 commented on #8983
Issue solved, I was using different version. thanks issue solved.
I am closing this issue

[2020-07-29 10:17] #8983 closed

[2020-07-29 10:33] bundelesneha05 opened #8998 "Cuda and cudnn compatibility for tensorflow2 object detcetion API with GTX 1060/1050 machines"
Hi,
I am using the TensorFlow 2 object detection  API and the latest TensorFlow Model Garden release. I ran the inference scripts on two different machines Azure Virtual machine Tesla M60 (Machine 1) and machine with GTX 1060 graphics(Machine2 ) card respectively. The CUDA and cudnn configuration for both machines are the same, **CUDA=** **10.0,** **cudnn=** **7.6**  While doing inference, Machine

[2020-07-29 11:15] qraleq opened #8999 "Eval doesn't work in TF2 OD API when batch_size != 1"
# Prerequisites

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

## 2. Describe the bug

Performing evaluation using `batch_size: 1` works fine using `efficientdet_d0_coco17_tpu-32` model. When I change `batch_size` to some other number, I get the error that is c/p in "Additional context".

## 3. Steps to

[2020-07-29 12:31] sajjadaemmi opened #9001 "convert pb to tflite"
i trained ssd_mobilenet_v3_large_coco_2020_01_14 model. and it worked.
then i convert (saved_model.pb | saved_model.pbtxt) to tflite file.
using 3 ways:
[code]

[code]
[code]

but get errors:
[code]
[code]
[code]

please help

[2020-07-29 13:10] BillyLeBrave commented on #8983
Hey, did you solve it by changing the version of tensor flow ? Or what did you change exactly i'm having the same issue.

[2020-07-29 13:20] aabbas90 commented on #8892
Having the same issue on finetuning CenterNet on COCO17. Also, training from scratch is working fine.

[2020-07-29 13:34] Kmarconi commented on #8916
Hi, I found myself to resolve my problem, thanks anyway :)

[2020-07-29 13:34] #8916 closed

[2020-07-29 13:42] nicholasguimaraes commented on #8990
I'm using the tf.keras.models.load_model function instead of tf.saved_model.load to load the model.

Now I'm getting a different error;

spec = fn.concrete_functions[0].structured_input_signature[0][0]
IndexError: list index out of range

[2020-07-29 14:16] Deepthi-Jain commented on #8892
@aabbas90 can you please provide the steps to train from the scratch?? i'm also having the same issue. thanks

[2020-07-29 14:17] Deepthi-Jain commented on #8892
can you please provide the steps to train from the scratch?? i'm also having the same issue. thanks

[2020-07-29 14:18] Deepthi-Jain commented on #8892
can you please let me know what happend to your training?

[2020-07-29 14:27] 2008hsk commented on #8892
I gave up with tf object detection api. It took a lot of time for me. I switched to detectron2.

[2020-07-29 15:37] s0r2637 opened #9002 "Is it necessary to have tensorflow 2.2.x for running the TF object detection API?"
Hi,

I wanted to use the new TF object detection API with TF 2 support.  I wanted to know if it is necessary to have tensorflow 2.2 version to be able to use the object detection API.  Or can I use tensorflow 2.0 with the TF object detection API?

[2020-07-29 15:56] Jacobsolawetz commented on #8887
@tazu786 no luck yet! glad to hear the qualitative at least looks good... As soon a I see a fix, I will be putting it in there.

[2020-07-29 15:59] krishnayeswanth99 commented on #8929
I am using tensorflow==2.2.0

[2020-07-29 16:11] feiwofeifeixiaowo opened #9003 "DELF GLDv2 training with tpu error"
Hi,  i am training delf follow [this ](https://github.com/tensorflow/models/tree/master/research/delf/delf/python/training) tutorial.
it works well on gpu, i switch to tpu for speed up training by following code.
[code]
and change in train.py
[code]
got these error, i am new to tensorflow and tpu,  please give some advice  ^_^ .
[code]

[2020-07-29 16:17] saberkun commented on #8994
Sorry for the break. The 'gelu' activation should be inside tf-nightly now.
'2.4.0-dev20200729'. Could you please try again?

[2020-07-29 16:29] WalterYeYint opened #9004 "COCO evaluation results start outputting zero while training"
I have been training ssd_mobilenet_v2_coco_2018_03_29 using custom dataset and default pretrained weights provided. Issue is while training COCO evaluation always giving mAP=0 while the loss is getting decreased in each epoch.

Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.000
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.000
 Average Prec

[2020-07-29 16:45] aabbas90 commented on #8892
I set to empty i.e. fine_tune_checkpoint: " ". If rest of the things are fine it should train from scratch for you.

[2020-07-29 16:54] mm7721 commented on #8967
Thanks, I'll check it out.

[2020-07-29 17:05] mm7721 commented on #8935
And in the meantime, is there a recommended flow to get to a quantized TF Lite model?  For example:

1. Train model (with TF2 Object Detect API)
2. Export saved model (with TF2 Obect Detect API)
3. Load saved model and convert to quantized TF Lite model (with custom script)

This could be a useful stopgap if the quantization-aware training feature won't be ready for a while.

[2020-07-29 17:12] ravikyram commented on #9001
@sajjadaemmi

Can you try with below code and see if the issue still persists.

[code]

Also, request you to fill [issue template](https://github.com/tensorflow/models/issues/new/choose).
Please, share the colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-29 17:26] ademkesim commented on #8913
@khany27 hi, did you solve the problem?

[2020-07-29 18:08] ravikyram commented on #9002
@s0r2637

You can use TF 2.0 also to train TF object detection API. But always latest version is the most stable.Please,see [release notes](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/release_notes.md).You can refer this [link ](https://towardsdatascience.com/how-to-train-a-tensorflow-2-object-detection-model-25d4da64b817 )which might help you.Thanks!

[2020-07-29 18:25] DrewClacksila commented on #8996
Possibly the same problem mentioned here: https://github.com/tensorflow/tensorflow/issues/33150#issuecomment-665355501

[2020-07-29 19:35] attianopp commented on #8951
@ramesh8v It was an issue with my tf-records. After I fixed it so I was sure all my bounding boxes were correct in the tf-record I got correct output for coco metrics and my evaluation images  on tensorboard had, for the most part, correct predictions. The input train images don't have bounding boxes, and the contrast/color is changed. I am using faster_rcnn and I believe it has built in data augm

[2020-07-29 21:12] pn12 commented on #8999
Yes, that would be the case , because in general if you look at any Image domain problems - they would predict with a batch size of 1 means - doing classification/detection/prediction one by one.

Another way to understand this ; while training - why we do batch training ? - First, because of computation and second factor could be providing the model with a collection of images instead of a single

[2020-07-29 21:18] pn12 commented on #8884
**"Then I save the model weights to a checkpoint"** - How did you saved the model weights?

[2020-07-29 21:46] hguan8 opened #9006 "Not creating .tflite file"
Hi,

I am trying to convert a model to .tflite using the following code in Python:

`converter = tf.lite.TFLiteConverter.from_saved_model("saved_model")`
`converter.allow_custom_ops = True`
`tflite_buffer = converter.convert()`
`open( 'model.tflite' , 'wb' ).write( tflite_buffer )`

But this either fails to create the .tflite file or create a file with 0kb. I am working in Tensorflow 2.3.0 and Pyt

[2020-07-30 01:14] ramesh8v commented on #8951
Thank you @attianopp. Yes, my eval results look good.

[2020-07-30 02:37] ravikyram commented on #9006
@hguan8

Can you share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-30 03:15] hguan8 commented on #9006
here's the code for tflite conversion

`import tensorflow as tf`
`converter = tf.lite.TFLiteConverter.from_saved_model("saved_model")`
`converter.allow_custom_ops = True`
`tflite_buffer = converter.convert()`
`open( 'model.tflite' , 'wb' ).write( tflite_buffer )`

here's the pb file
[saved_model.zip](https://github.com/tensorflow/models/files/4998580/saved_model.zip)

[2020-07-30 03:50] ravikyram commented on #9006
@hguan8

I tried in colab with your code and i am seeing the below error message.(`OSError: SavedModel file does not exist at: saved_model/{saved_model.pbtxt|saved_model.pb}`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/e5d3c0f2a54962627b9c96de39b50464/untitled197.ipynb).

SavedModels are also associated with an auto-generated folder called "variables", so be sure

[2020-07-30 06:41] anjapadu commented on #8884
I also failed using  the  normal ways  to save so end up getting the weights  `weights = detection_model.get_weights()`, saving them in a serialized format (im just using numpy.save),  and after that you can just load the weights with `detection_model.set_weights(weights)`.

[2020-07-30 07:01] a-l-l-a-n commented on #8881
that works, the solution by noptanit12

[2020-07-30 07:35] chhokarpardeep opened #9008 "DELF local feature model"
@andrefaraujo

I have run this command to export local feature model but getting below error 👍

command :
python3 model/export_model.py \
  --ckpt_path=gldv2_training/delf_weights \
  --export_path=gldv2_model_local \
  --block3_strides

Error

2020-07-30 12:50:59.844301: W tensorflow/python/util/util.cc:329] Sets are not currently considered sequences, but this may change in the future, so consid

[2020-07-30 07:57] northeastsquare commented on #5565
master

[2020-07-30 08:21] YuanEric88 commented on #7567
@BuaaAlban

Hi,  I am also training deepspeech by libirspeech dataset, and I have some questions as follow:
1, What is the training dataset in your experiment? Is it the combination of train-clean-100, train-clean-360 and train-other-500? or just part of them?
2, In which dataset did you achieve WER=0.2, dev-clean only, dev-clean + dev-other, or test-clean?
3, what is the training strategy of your

[2020-07-30 08:31] YuanEric88 opened #9010 "Anyone who get the expected WER=0.23 using deep speech code?"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/deep_speech

## 2. Describe the issue

The code says that the expected wer value is 0.23 which is what MLperf repo

[2020-07-30 08:33] BuaaAlban commented on #7567
I have used the default config.  The training set should be the combination of the training set and test it on dev clean or test clean, sorry that I have forgotten the details. I have tried different optimizers like Adam and SGD

[2020-07-30 08:47] koles289 opened #9011 "training Centermodel - centernet_hg104_512x512_coco17_tpu-8"
Hi, I am quite new to tensorflow and I would like to fine-tune _centernet_hg104_512x512_coco17_tpu-8_ model from modelzoo on my own images.
I was following this tutorial:
https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb.
For SSD training is used attribute _box_predictor_, but centernet does not have this attribute

[2020-07-30 09:04] justinarose opened #9012 "Object Detection Docker Build Pip Bug"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-07-30 09:10] xg-gg opened #9013 "How to edit a dataset-file-path(gnd_gnd_roxford5k.mat)"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

A clear and concise description of what you want to happen.

## 3. Additi

[2020-07-30 09:14] xg-gg commented on #9013
Because I want to use my own dataset,not oxford dataset,Thanks!

[2020-07-30 09:39] cchenzhou commented on #8958
Hi aquariusjay,

I try to use hard_example_mining_step = 0, and tune top_k_percent_pixels=0.1, but the loss function  cannot converge.

Actually, the loss function is going to go down very quickly at the beginning. Could you tell me how to apply it? Thank you.

I0730 09:40:54.456578 140454491997952 train_my_pretrained_ori.py:472] global step 460: loss = 2.4459 (0.912 sec/step)
I0730 09:41:04.35959

[2020-07-30 09:41] Yidoudoujiang opened #9014 "TypeError: Cannot interpret feed_dict key as Tensor: Tensor Tensor('...', shape=(1,128,416,3), dtype=float32) is not an element of this graph."
Hi,  when I run `/research/struct2depth/inference.py`  , it occured the problem in the line 205 ` est_depth = inference_model.inference_depth(im_batch, sess)` .

The error is `TypeError: Cannot interpret feed_dict key as Tensor: Tensor Tensor('...', shape=(1,128,416,3), dtype=float32) is not an element of this graph.`

And I don't know how to solve this problem，look forward to your reply !

[2020-07-30 09:48] koles289 commented on #8885
Hi, did you somehow solved this issue? I have a similar problem with the checkpoint. I have a feeling that I am passing an incorrect file, but I do not know, which file from zip is the right one, because for all of them I have the same error

[2020-07-30 09:53] tazu786 commented on #8885
I gave up in using that colab and trying with model_main_tf2.py and config files, but in that case I have the issue to not get the mAP values during evaluation (discussing this issue here https://github.com/tensorflow/models/issues/8856#issuecomment-665072871 and here https://github.com/tensorflow/models/issues/8887).

[2020-07-30 11:03] tazu786 commented on #8883
Hi @IvanBrasilico , are you able anyway to run a proper evaluation job as described [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md) and as you were trying to do by setting the checkpoint_dir? I have trained my models and now trying to get their performance in terms of mAP but I get the error "Timed-out waiting for a new checkp

[2020-07-30 11:21] sumitsah9263 commented on #5474
hey i am doing that but still getting the error

[2020-07-30 11:22] saikumarchalla commented on #8999
@qraleq Could you please respond on the above comment.Hope it helps.Thanks!

[2020-07-30 12:56] #8999 closed

[2020-07-30 13:42] soorajvinod123 commented on #1779
python train.py --logtostderr --train_dir=training --pipeline_config_path=training/ssd_mobilenet_v2_quantized_300x300_coco.config
use this to train...change --train_dir=training/ to just --train_dir=training

[2020-07-30 15:35] syiming commented on #8860
@Bengemon825

Hi, do you check your PyCharm use the same interpreter as Conda? Are they using the same environment? Thanks.

[2020-07-30 16:05] feiwofeifeixiaowo commented on #9003
Any suggestions?  @andrefaraujo

[2020-07-30 16:53] pn12 commented on #8884
Thanks, I will try this.

[2020-07-30 17:23] MinkBlaxx commented on #8470
Any luck? We'd love to serve the official mrcnn implementation.

[2020-07-30 17:39] DrewClacksila commented on #8996
@ravikyram What input are you waiting for?

[2020-07-30 17:47] saberkun commented on #4900
Generated vocabulary with 33945 subtokens is the key to put inside the model_params.py
Due to python string handling change, even if we use the same code, the vocabulary is generated differently.
Closing. Thanks

[2020-07-30 17:47] #4900 closed

[2020-07-30 18:04] andrefaraujo commented on #9008
This seems an issue with the underlying object_detection codebase. Do you have a recent version of it installed?

Looking at the object_detection code, it seems like they have three positional arguments: https://github.com/tensorflow/models/blob/master/research/object_detection/core/box_list_ops.py#L749

[2020-07-30 18:06] andrefaraujo commented on #9003
I don't know, I have never used the TPUStrategy myself so far.

(Removed the type:bug label, since this is not a bug but rather a custom edit you did which does not yet work)

[2020-07-30 18:54] Anton-Velikodnyy commented on #8898
it looks like that file was supposed to be using tf1, as it doesnt have tf2 in the name (while the other notebooks do).

[2020-07-30 19:04] hguan8 commented on #9006
I can't send the entire variables folder. That data is more than 700MB. Does Tensorflow Lite have size limits on the model?

[2020-07-30 19:16] chhokarpardeep commented on #9008
@andrefaraujo ,

I have checked the object_detection code, it has three positional arguments. Please check the screenshot.
![image](https://user-images.githubusercontent.com/20667075/88964578-3653ae00-d2c7-11ea-8b55-588a71b22f11.png)

[2020-07-30 19:18] andrefaraujo commented on #9008
right, so how can it complain that you gave 3 positional arguments?

[2020-07-30 19:18] andrefaraujo commented on #9008
oh wait, maybe the problem is with `tf.name_scope` actually?

[2020-07-30 19:22] Anton-Velikodnyy commented on #8898
here is the last version I found of this notebook https://github.com/tensorflow/models/blob/c96422f7db3ea128962344108b6cca5007f0544b/research/object_detection/object_detection_tutorial.ipynb

[2020-07-30 19:29] chhokarpardeep commented on #9008
@andrefaraujo

I have the TF version. Please let me know if I need to change for a specific version.
![image](https://user-images.githubusercontent.com/20667075/88965872-07d6d280-d2c9-11ea-841f-e9584687a58d.png)

[2020-07-30 19:33] Anton-Velikodnyy commented on #8898
also if you run throught that notebook with 1.15,  set the following after tensorflow import worked for me
```tf.compat.v1.enable_eager_execution()```

[2020-07-30 21:00] andrefaraujo commented on #9008
I think I may have figured it out. Can you confirm if your `box_list_ops.py` file contains "import tensorflow as tf" or "import tensorflow.compat.v1 as tf"?

Seems like this commit in object_detection changed it recently: https://github.com/tensorflow/models/commit/451906e4e82f19712455066c1b27e2a6ba71b1dd

My guess is that you are using the old object_detection code with "import tensorflow as tf",

[2020-07-30 22:40] IvanBrasilico commented on #8884
Hi pn12.

The complete process is described in the notebook ( https://github.com/IvanBrasilico/ajna_bbox/blob/master/notebooks/eager_few_shot_od_training_tf2.ipynb )

I am doing the fine tunning with my own images, as stated in TF2 example. Then I make some predictions on a test set with the fine tuned model and it works OK.

Since the initial weights are restored via checkpoint:

fake_model = tf.

[2020-07-30 22:48] ashiqimranintel commented on #8931
I tried with your script. Still facing the same issues.
TF Version: Master
TF Model: Master

[2020-07-30 23:13] gagika commented on #8931
Please use coco 2017 dataset.
Here is a script that we recommend in Mask-RCNN [tutorial](https://cloud.google.com/tpu/docs/tutorials/mask-rcnn-2.x): [download_and_preprocess_coco.sh](https://github.com/tensorflow/tpu/blob/master/tools/datasets/download_and_preprocess_coco.sh)

`sudo bash download_and_preprocess_coco.sh ~/coco_data_dir`

export TRAIN_FILE_PATTERN=${DATA_DIR}/train-*
export EVAL_FIL

[2020-07-31 00:05] pn12 commented on #8884
@IvanBrasilico - Let me test this.
thanks for sharing.

[2020-07-31 00:34] Deepthi-Jain opened #9016 "Hi All, I'm training custom data set in TF2 and now i have finished training the model. To test my model with the test image what should i do??"

[2020-07-31 00:34] #9016 closed

[2020-07-31 00:40] Deepthi-Jain opened #9017 "NameError: name 'contrib_tfprof' is not defined. Export Inference Graph feature in TF2??"
Hi All, I'm training custom data set in TF2 and now i have finished training the model. To test my model with the test image what should i do??

I tried to follow the same steps as in Tensorflow1 but i couldn't get the desired output. Also, i'm not able to generate the .pb to run the object detection script.

Any suggestions or help would be highly recommended. thanks in advance. below is the scre

[2020-07-31 00:43] Deepthi-Jain commented on #4114
Hi All, I'm training custom data set in TF2 and now i have finished training the model. To test my model with the test image what should i do??

I tried to follow the same steps as in Tensorflow1 but i couldn't get the desired output. Also, i'm not able to generate the .pb to run the object detection script.

Any suggestions or help would be highly recommended. thanks in advance. below is the scre

[2020-07-31 00:43] Deepthi-Jain commented on #4114
Hi All, I'm training custom data set in TF2 and now i have finished training the model. To test my model with the test image what should i do??

I tried to follow the same steps as in Tensorflow1 but i couldn't get the desired output. Also, i'm not able to generate the .pb to run the object detection script.

Any suggestions or help would be highly recommended. thanks in advance. below is the scre

[2020-07-31 02:53] staubda commented on #8849
@pkulzc any interest in adding this feature? seemed like you had already started laying some of the groundwork.

[2020-07-31 02:54] dreamitpossible1 opened #9018 "tensorflow object detection API: training is very slow"
most of time only 0% GPU is utilzed.
![image](https://user-images.githubusercontent.com/68002596/88994807-c3c0ed80-d31b-11ea-9294-ede0a349c91f.png)

The CPU utilization rate is 60%, but the GPU utilization rate is 0, and the GPU takes up a lot of memory.

[2020-07-31 03:28] koayst commented on #5851
After commenting out the 2 lines as shown below:

#import matplotlib; matplotlib.use('Agg') # pylint: disable=multiple-statements
#import matplotlib.pyplot as plt # pylint: disable=g-import-not-at-top

Need to perform the below as indicated in =>
https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html

# From within TensorFlow/models/research/
cp object_detection/pac

[2020-07-31 03:40] feiwofeifeixiaowo commented on #8457
same issue  tf-nightly==2.4.0-dev20200730

[2020-07-31 03:50] saberkun commented on #8994
I think this problem should be fixed as our integration tests are passing for a few days already.
Closing. Thanks

[2020-07-31 03:50] #8994 closed

[2020-07-31 04:13] bparikh99 commented on #9018
Which version are you using??

[2020-07-31 04:26] xg-gg commented on #7207
well,how to deal with ground_truth?

[2020-07-31 04:26] wuchichung commented on #9004
same problem here. #8982

[2020-07-31 05:50] luckyhero613 commented on #8983
yes by changing the tensorflow version

[2020-07-31 05:51] luckyhero613 commented on #8983
yes by changing the tensorflow version, I was using version 2.X but after changing the version to 1.X it worked

[2020-07-31 05:53] saberkun commented on #8505
@mickeystroller has mostly done with this work. We need to open source the new trainer and add new documentation.

[2020-07-31 06:05] nrasadi commented on #7918
I also have the same issue.
- OS Platform and Distribution: Linux Ubuntu 16.04
- Model: SSD MobileNetV2
- Tensorflow-gpu=2.2 (Installed using conda)

I fine-tuned the model on my own dataset (11 classes). It has been converted successfully but the mentioned error occurs when I call invoke() method.
I am using Python API of TFLite interpreter.

**Code:**
tflite_interpreter = tf.compat.v1.lite.Inter

[2020-07-31 07:54] dreamitpossible1 commented on #9018
tensorflow-gpu==1.15.0

[2020-07-31 07:57] ammerss commented on #7002
@zorawar12
Hi can you tell me exactly how you changed your code?? I have the same error as you
But #5857 that link does not help me,
I can't find this code : im_data = np.fromstring(gfile.Open(img_file).read(), np.uint8)
I don't think this is in autoaugment

[2020-07-31 08:09] AIProS commented on #9001
@ravikyram

According to your comments, I successfully generated the *.tflite.
I imported the tflite to android studio and ran the project.
Finally, I faced the following error:
I think there are some mismatch between buffer sizes…
My Tensorflow version is “tf-nightly 2.4.0.dev20200730”.

2020-07-31 16:51:03.446 704-704/? E/Zygote: accessInfo : 1
2020-07-31 16:51:03.513 704-704/? E/mples.detectio:

[2020-07-31 08:17] ravikyram commented on #9001
@AIProS

Can we close this issue as original issue got resolved.
Request you to raise a new issue by filling [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Also, request you to provide the exact sequence of commands / steps that you executed before running into the problem along with the error log.Thanks!

[2020-07-31 08:26] ravikyram commented on #9017
@Deepthi-Jain

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Please, share colab link or simple stand alone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-31 08:50] zorawar12 commented on #7002
@ammerss

Hi, try this one.. [447764871](https://github.com/tensorflow/models/issues/5857#issuecomment-447764871)

[2020-07-31 13:29] cspk79 commented on #9001
@ravikyram

Of course!! If needed, I will open another issue as you said.
I thought the error I faced is related to the original issue.

[2020-07-31 14:09] aberger7 commented on #9012
Having the same issue here!

[2020-07-31 15:33] syiming commented on #8997
Hi, according to the log, it seems that your GPU is out of memory. Could you please try to train the model on a GPU with a larger ram?

[2020-07-31 16:26] ravikyram commented on #9001
@sajjadaemmi

Any updates regarding this issue? Please feel free to close the issue if resolved.Thanks!

[2020-07-31 16:27] Mandar800 commented on #4056
these models do not have model.ckpt.meta file!!!
what shoult i put in config file?

[2020-07-31 16:51] syiming commented on #8672
Same as issue #8865. Please refer to the pr #8954 for how to remove the warning.

The issue seems fixed thus I am closing it, please feel free to reopen it if you have further questions. Thanks.

[2020-07-31 16:51] #8672 closed

[2020-07-31 16:55] Mandar800 commented on #8855
python model_main_tf2.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.config

got this error -

Traceback (most recent call last):
  File "model_main_tf2.py", line 106, in <module>
    tf.compat.v1.app.run()
  File "C:\Users\Mandar\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\platform\app.py", line 40, in run

[2020-07-31 16:56] syiming commented on #8667
Hi, could you please elaborate on what command you are using? Any error messages you are getting? And what's your expected behavior/outputs? Thanks!

[2020-07-31 17:03] YknZhu commented on #8971
Does this issue happen to deeplab model only (while running with SSD)?

[2020-07-31 17:37] chhokarpardeep commented on #9008
@andrefaraujo

yes,  box_list_ops.py file file contains "import tensorflow.compat.v1 as tf".

![image](https://user-images.githubusercontent.com/20667075/89061388-41b7df80-d382-11ea-96d7-ad114615f183.png)

[2020-07-31 17:50] khanx169 commented on #8898
That seems to work, thanks! Would you be willing to create pull requests to:

1. Update docs to point to the latest colab.
2. Update the colab with a note about tf 1.15 and running `tf.compat.v1.enable_eager_execution()` for TF1.

Otherwise I can look into it.

[2020-07-31 18:11] Farjad3253 commented on #8997
But for the time being I am only having this GPU : NVIDIA GTX 1060 3 GB
RAM. Is there any other way through which I am able to train the model on
the same GPU?

On Fri, 31 Jul 2020 at 20:33, Yiming Shi <notifications@github.com> wrote:

[2020-07-31 18:14] syiming commented on #8997
Can you try reducing the batch size? It may help.

[2020-07-31 18:47] andrefaraujo commented on #9008
ok, then I'm puzzled :(

Is it possible that you would have different object_detection libraries installed, and accidentally are using the wrong one?

[2020-07-31 19:37] chhokarpardeep commented on #9008
@andrefaraujo ,

yes, I have found tensorflow-object-detection-api package install on my system and package builder script using this package.

Thanks andrefaraujo for your help. Issue fixed.

[2020-07-31 20:14] AshishGusain17 commented on #4056
@Mandar800 try below code, u just need to provide correct paths for tf records and labelmap.pbtxt
I have used efficient net particularly.
https://github.com/AshishGusain17/via_google_colab/blob/master/training_tf2_efficient_net.ipynb

[2020-07-31 20:25] andrefaraujo commented on #9008
Great!

[2020-07-31 20:25] #9008 closed

[2020-07-31 20:58] saberkun commented on #9013
Are you using models under research/ folder?

[2020-07-31 21:50] simeon9696 commented on #8026
Hi Alon, did you find a solution to this?

[2020-08-01 03:18] MengNan-Li commented on #8808
I have the same question. Is there any solution?

[2020-08-01 04:34] WANGCHIENCHIH commented on #9018
I got the same question,od version is TensorFlow Official Models 2.3.0

please do not install tensorflow-gpu,it not works.
it will downgrade your tensorflow to version 2.2.0 and show that
``
attributeError: module 'tensorflow.python.keras.utils.generic_utils' has no attribute 'populate_dict_with_module_objects'
``

[2020-08-01 06:19] roserustowicz opened #9023 "Error with shape mismatch when changing `num_scales` for mask rcnn"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/vision/detection/ops/roi_ops.py

## 2. Describe the bug

In the `multilevel_propose_rois` function, the returned `selected_rois` should have shape [batch_size, rpn_post_nms_top_k, 4]. However, if the `params.anchor.num_scales` argument is anything other that 1, the `batch_size` of the returned

[2020-08-01 11:29] amanu1698 commented on #8291
#do the following in colab it will work
!apt-get install protobuf-compiler python-pil python-lxml python-tk
!pip install Cython tf_slim
!git clone https://github.com/tensorflow/models.git
%cd /content/models/research
!protoc object_detection/protos/*.proto --python_out=.
%set_env PYTHONPATH=/content/models/research:/content/models/research/slim
import os
os.environ['PYTHONPATH'] += ":/content/mode

[2020-08-01 15:48] pbanikk commented on #7767
[https://www.tensorflow.org/api_docs/python/tf/compat/v1/nn/rnn_cell/BasicLSTMCell](url)
The only workaround if you want to use Basic LSTM Cell.

[2020-08-01 16:58] sajjadaemmi commented on #9001
it worked with this code

[code]

[2020-08-01 23:22] vascobarbosa commented on #8913
exactly the same issue here
mac osx /  tensorflow 2.3.0 / python 3.7

[2020-08-02 04:34] saberkun commented on #8291
I hope using the pip package tf-models-official can help set up the python path.

[2020-08-02 08:25] adizhol opened #9025 "struct2depth is missing from repo"
Hi,

does anyone what happened to the struct2depth repo?
https://github.com/tensorflow/models/tree/master/research/struct2depth

Thanks

[2020-08-02 12:48] Farjad3253 commented on #8997
The batch size I have used is already set to 8. But still getting the same
error message?

On Fri, 31 Jul 2020 at 23:14, Yiming Shi <notifications@github.com> wrote:

[2020-08-02 13:23] josemarfdc commented on #3647
I have 32GB of RAM and this is issue is affecting me as well

[2020-08-02 13:55] cspk79 commented on #9001
Hi~, @sajjadaemmi.
Which tensorflow version did you use to generate the tflite file?

[2020-08-02 15:45] joshd-7 commented on #8921
Any update on this?

[2020-08-02 15:46] sajjadaemmi commented on #9001
@cspk79 no :((((((
i cant enerate the tflite file in Tensorflow 2 Detection Model yet!!

[2020-08-02 16:41] malekiamir opened #9026 "Get a keras model object from .pb model"
Is there any way to get a keras model from .pb files?
I want to get the keras model object from this model : 'deeplab_mnv3_large_cityscapes_trainfine_2019_11_15.tar.gz'

[2020-08-02 17:38] zishanahmed08 commented on #6537
this would be greta feutre to have

[2020-08-03 01:26] hollowgalaxy commented on #8898
That was just a hotfix and I'm not sure how optimization works with that setting, I think the actual implement should go with tf.session. I'm not familiar with how to set that up though.

[2020-08-03 03:35] MengNan-Li commented on #8808
I converted mobilenetssdv2 trained by my dataset to OpenVINO IR successfully.
tensorflow_version 1.14
tensorflow model: V1.13.0
[code]

[2020-08-03 03:59] cuijianaaa commented on #6523
Hi @tilaba @VincentChong123,

[2020-08-03 06:40] prajnasb commented on #8808
@MengNan-Li
1. I am struggling with the same issue, can you please share the scripts with me for training with a new dataset.
2. How did you install specific TensorFlow-modelV1.13.0?

[2020-08-03 06:56] MengNan-Li commented on #8808
@prajnasb
I use the TF object detection api to finetune ssd_mobilenet_v2. So, the scripts is just the model_main.py.
`research/object_detection python model_main.py --logtostderr --pipeline_config_path=/home/zfserver/lmn/tf_models/workspace/training_demo/training/ssd_mobilenet_v2_yunji_robot.config --model_dir=/home/zfserver/lmn/tf_models/workspace/training_demo/training`
TensorFlow-modelV1.13.0:

[2020-08-03 06:59] prajnasb commented on #8808
@MengNan-Li Thank you for the response.

[2020-08-03 09:13] Dhivya-rav commented on #9017
are you using exporter_main_v2.py for exporting your inference graph? I remember getting similar error when I used the wrong script to export inference graph.

[2020-08-03 09:28] cmxcn opened #9028 "Need to support transformer decode into specific candidates"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [N] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/nlp/transformer

## 2. Describe the feature you request

In many cases, we need to require the generated sentence of t

[2020-08-03 11:16] ravikyram commented on #9026
@malekiamir

If you are trying to convert .pb file to .h5 please check this comment and let us know if it works
https://stackoverflow.com/a/62211811

[2020-08-03 12:02] gowrishankarin opened #9030 "Significant Performance/Precision degrade in Object Detection module post July release."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-03 13:56] PetreanuAndi commented on #8953
same error. Bump. It happens to me when loading CenterNet

[2020-08-03 13:57] PetreanuAndi commented on #8996
same error. Bump

[2020-08-03 15:49] Snixells opened #9031 "Converting TF 2 Object Detection Model to TFLite"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-03 15:52] psychonetic commented on #8892
Maybe it is not intended, but when using tensorflow 2.3 I am actually able to train a model. But I guess this may can result in other problems. My model is still training, I may edit this post, if it's done.

[2020-08-03 16:04] Snixells opened #9032 "Converting TF 2 Object Detection Model to TensorRT"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-03 16:14] aneliaangelova commented on #9025
The model has been moved to here:

https://github.com/tensorflow/models/tree/archive/research/struct2depth

[2020-08-03 16:16] aneliaangelova commented on #6057
We have the struct2depth models here, which can be used for evaluation and as a pre-training for your own models:
https://sites.google.com/corp/view/struct2depth

[2020-08-03 16:16] #6057 closed

[2020-08-03 16:16] #9025 closed

[2020-08-03 16:26] adizhol commented on #9025
There are many links still pointing to the old url...

On Mon, Aug 3, 2020, 19:16 aneliaangelova <notifications@github.com> wrote:

[2020-08-03 16:30] vighneshbirodkar commented on #8908
Hello @anshkumar , @dapladoc . The size of the input should be a multiple of 128 due to the feature extractor we use. Once that is set in the config, the API if setup to handle the rest of the scaling correctly.

[2020-08-03 16:31] #8908 closed

[2020-08-03 16:31] #8967 closed

[2020-08-03 17:10] chenGitHuber commented on #8991
Hi,

Please find the Bert-Base multilingual cased checkpoint here:

https://storage.googleapis.com/cloud-tpu-checkpoints/bert/keras_bert/multi_cased_L-12_H-768_A-12.tar.gz

[2020-08-03 17:10] #8991 closed

[2020-08-03 18:34] sajjadaemmi opened #9033 "convert TF2 ssd_mobilenet_v2 to tflite"
Hi,

I am trying to convert a '_ssd_mobilenet_v2_320x320_coco17_tpu-8_' TF2 model to .tflite.

i use export_tflite_ssd_graph.py for create tflite_graph.pb

But this either fails to create. I am working in Tensorflow 2.3.0 and Python 3.7.3.

[2020-08-03 19:35] veonua commented on #8953
as the temporary solution, I've removed

The model seems to be working.

[2020-08-03 19:57] shakibyzn commented on #6177
I am having an issue on Google Colab

AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'

My Keras version is 2.3.1 and I have to stick with this version although I know that it can be solved by upgrading to an upper version such as 2.4.3

Could anyone help me, please?

[2020-08-03 20:23] mtdickey opened #9035 "Minimum detection bounding box size?"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/

## 2. Describe the issue

I could use more information in the documentation about how to set a

[2020-08-03 21:02] ashiqimranintel commented on #8931
Getting same issues with COCO 2017 dataset as well.

[2020-08-04 02:51] JunbongJang commented on #8851
Running model_main_tf2.py instead of model_main.py solved the problem (AttributeError: 'WeightSharedConvolutionalBoxPredictor' object has no attribute 'inputs') for me.

[2020-08-04 07:02] lynx97 opened #9038 "Event files when training is too large."
# Prerequisites

When I train CenterNet Resnet101 V1 FPN 512x512 and EfficientDet D2 768x768 (I get config file (pipline.config in tf2_model zoo) The event files grow very large. After hours, the event file of EfficientDet D2 is 70GB.

## 6. System information

- TensorFlow version (use command below): 2.2
- CUDA/cuDNN version: 10.0
- GPU model and memory: V100

[2020-08-04 07:09] gagika commented on #8931
Here is a complete list of commands that work for me.

[code]

[2020-08-04 09:00] ravikyram commented on #9031
I tried in colab with TF nightly verison(`2.4.0-dev20200803`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2f02026f77e4e1bd0c5283109635c657/untitled212.ipynb#scrollTo=LNlhyeEXbQa9).Thanks!

[2020-08-04 09:01] sourangshupal commented on #9033
Hello,
Even I was trying to convert the checkpoint to .tflite.

I converted successfully using "exporter_main_v2.py".

But when converting it to tflite I am facing issues.

Model I am using is _"ssd_resnet50_v1_fpn_640x640_coco17_tpu-8"_

I am using the export_tflite_ssd_graph.py to creating tflite file

In the script, I have disabled eager execution also.

Then I get the error

[code]

[2020-08-04 09:15] ravikyram commented on #9033
@sajjadaemmi

I have tried in colab with TF nightly (`2.4.0-dev20200803`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5c6504cc9f5a37e079aefca34a8e5832/untitled213.ipynb).Thanks!

[2020-08-04 09:39] 13017116876 opened #9039 "Invoked with: <tensorflow.python._pywrap_tfe.TFE_MonitoringIntGaugeCell object at 0x00000199C670A6C0>, None"
TypeError: TFE_MonitoringIntGaugeCellSet(): incompatible function arguments. The following argument types are supported:
    1. (arg0: tensorflow.python._pywrap_tfe.TFE_MonitoringIntGaugeCell, arg1: int) -> None

I'm using transformer on translation(zh-en) task, but got this error,   i'm using tensorflow==2.3.0

[2020-08-04 09:40] neversgb commented on #8721
when i was read this, this is make me confuse but now I get it... this will help you guys with **cannot import name "xxxxx"**

1. check folder in directory ...\object_detection\protos and count how many _pb2.py and .protos (don't count __init__.py and __pychance__), if they equal then congratulation this forum not solve that problem, but if not go to no.2

2. type this on console
protoc --python_o

[2020-08-04 09:49] Dhivya-rav commented on #9038
is centernet resnet101V1 starting to train ? I was getting the following error :
![image](https://user-images.githubusercontent.com/54182195/89280101-6fce4580-d648-11ea-9e6f-8ee8f6f7e9f4.png)

Also have issue with large event files when training with faster Rcnn and ssd  mobilenetv2

[2020-08-04 10:12] sourangshupal commented on #9033
@ravikyram Thanks it worked me..The model size is around 50MB.

Can you help me with how to inference with the tflite on a single image?

Any help with scripts or gist is appreciated

Thanks in advance

[2020-08-04 11:23] lynx97 commented on #9038
I think you do not pull latest code.

[2020-08-04 11:24] ravikyram commented on #9033
@sourangshupal

Can you please raise an new issue by filling issue template.Thanks!

[2020-08-04 11:30] sajjadaemmi commented on #9033
@ravikyram it worked. but get another error when load model:

[code]

[code]

[2020-08-04 11:35] AIProS opened #9040 "@sajjadaemmi"
@sajjadaemmi

I have tried in colab with TF nightly (`2.4.0-dev20200803`) and am not seeing issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5c6504cc9f5a37e079aefca34a8e5832/untitled213.ipynb).Thanks!

_Originally posted by @ravikyram in https://github.com/tensorflow/models/issues/9033#issuecomment-668483255_

[2020-08-04 11:39] AIProS commented on #9040
@

[2020-08-04 11:39] #9040 closed

[2020-08-04 11:50] AIProS commented on #9033
@ravikyram

I think many researchers are suffering from the tflite issues of TF2.
It would be very helpful if you give a description of how to generate tflite and do inference with the generated tflite file.
I think this description should be included in tf2.md as a guide...

[2020-08-04 11:54] sourangshupal commented on #9033
@AIProS Yes, you are correct facing issues in tf2 with tflite. A description will be really helpful.

[2020-08-04 12:24] ravikyram commented on #9032
I have tried in colab with TF nightly version(`2.4.0-dev20200803`) and i am seeing  session is crashed.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/899b78715a3c077c0b669324ffab53ed/untitled214.ipynb).Thanks!

[2020-08-04 12:33] ravikyram commented on #9033
@sajjadaemmi

Can you try with

[code]
Thanks!

[2020-08-04 12:41] ravikyram commented on #9033
Please, go through the [link](https://www.tensorflow.org/lite/guide),[link1](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md) and see if it helps you.Thanks!

[2020-08-04 12:43] AIProS commented on #9031
I am facing the same problem...

[2020-08-04 12:49] ravikyram commented on #9039
@13017116876

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
What is the top-level directory of the model you are using?
Please, share the code to reproduce the issue.Thanks!

[2020-08-04 12:52] sourangshupal commented on #8997
@Farjad3253 Can you please share the error details.

[2020-08-04 12:54] AIProS commented on #9033
Dear @ravikyram

Thank you for your quick reply.
I read the links before and the link1 is only valid for TF1.
Please, if you can inference using a tflite of TF2, give the sample code or gist .
It would be very helpful.

[2020-08-04 13:01] sourangshupal commented on #9033
in TF2 in getting this error

<img src="https://i.ibb.co/q9nQkmx/Screenshot-from-2020-08-04-18-30-00.png" alt="Screenshot-from-2020-08-04-18-30-00" border="0">

[2020-08-04 13:01] AndroidDevelopersTools commented on #7640
any other solutions?

[2020-08-04 18:23] prajnasb commented on #8808
@MengNan-Li  Thankyou so much it worked..:)

[2020-08-04 19:10] cavusmustafa opened #9042 "Models Without Pre-Trained Checkpoints"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/slim/nets/nets_factory.py

## 2. Describe the feature you request

Some of the classification models listed below doe

[2020-08-04 19:58] WalterYeYint commented on #9004
[SOLVED]: My script has been pulling tensorflow models repository everytime it runs. Downloaded that repository from the last time my script was working solved the problem.

[2020-08-04 19:58] #9004 closed

[2020-08-04 20:33] justinkay commented on #8747
I am also seeing this error with tf 1.15, run using model_main.py

Pipeline file:
[code]

Note my model_main.py has been modified to accept --save_checkpoints_steps for this call:
[code]

Log:
[code]

[2020-08-04 20:42] gagika commented on #9023
Thanks roserustowicz for pointing to this issue and for debugging.
We have in [maskrcnn_config.py](https://github.com/tensorflow/models/blob/2488f2c7653d0be07630036fce8c5fe3b04325c1/official/vision/detection/configs/maskrcnn_config.py#L55) we have  `rpn_head.anchors_per_location=3` as default value which doesn't match `anchor.num_scales * anchor.aspect_ratios` after you changed `anchor.num_scales=

[2020-08-04 20:42] #9023 closed

[2020-08-04 21:29] jrochafe opened #9044 "How to use Tensorflow Object Detection API with multi-channel images"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [√] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/r1.13.0/research/object_detection

## 2. Describe the feature you request

I work with multi-channel images (5 channels). I'm trying t

[2020-08-05 00:15] roserustowicz opened #9045 "Setting anchor box sizes for FPN in Mask RCNN"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/vision/detection/dataloader/anchor.py

## 2. Describe the feature you request

In other Mask RCNN repositories (like Detectron2), you can specify the desired anchor box sizes in absolute values of the full input image size, as well as aspect ratios to apply to each of the desired anchor box si

[2020-08-05 02:00] cavusmustafa opened #9046 "Instructions Doesn't Work for Freezing Nasnet and PNasNet"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/slim

## 2. Describe the issue

The description provided to freeze the models works only with ".ckpt" files. The

[2020-08-05 02:10] Farjad3253 commented on #8997
Following are the errors results which I have attached in the txt file as below:
errors.txt

[2020-08-05 02:15] Farjad3253 opened #9047 "How to do inference from videos using tensorflow 2.0 saved model format?"
Hello everyone! Actually I have trained a object detection model using tensorflow 2.0 API but I have frozen graph and saved model directory which further contains two sub-folders and a .pb file. Now what I want is to do object detection on recorded videos and using web cam by using the trained model. I have searched on the internet but found nothing helpful. Kindly help me in solving this issue. T

[2020-08-05 02:16] Farjad3253 commented on #8997
@sourangshupal Yes I will reduce the size and will let you know.

[2020-08-05 02:55] ZOUYIyi commented on #7773
I tried your solution,but it says:     INFO:tensorflow:Saver not created because there are no variables in the graph to restore

[2020-08-05 03:08] saberkun commented on #9028
@cmxcn This looks a hard question to me. I am helping consulting TF team internally.
The beam search ops runs in-graph and on-device.
If you are running the beam search on CPU, you probably can add customized ops for the trie.
If you are running it on GPU/TPU, we don't have much idea now.
I know some work breaks the TF logits computation and the beam search loop in C++ server.

[2020-08-05 03:37] sathyamsn commented on #8586
Will try. Thanks!

[2020-08-05 03:41] fclof opened #9048 "Issue: pip install tf-models-official failed on python 3.7"
When installing tf-models-official using `pip install tf-models-official`, I got an error:

ERROR: Package 'dataclasses' requires a different Python: 3.7.3 not in '>=3.6, <3.7'

In fact, 'dataclasses' has already been included in python 3.7, does this mean that we should have another whl for python 3.7?

[2020-08-05 03:44] cmxcn commented on #9028
Thanks for the quick response.
The beam search in my case is running on CPU.
Looking forward to your info from the TF team.

[2020-08-05 03:59] wu-jin-liang opened #9049 "models-r1.13.0 train error"
Hi, everybody, I am new to tensorflow..
I use the tensorflow-gpu-1.13, cudatoolkit-10.0.130 , cudnn-7.4.1 , and models-r1.13.0.zip. I follow the tutorial , use the frozen inference graph from this Dropbox link https://www.dropbox.com/s/va9ob6wcucusse1/inference_graph.zip?dl=0
I can run the Object_detection_video.py demo successfully....
but then I try to train....

both train.py or model_main.py ,

[2020-08-05 04:36] Flowingsun007 opened #9050 "vision >> classifier_trainer.py >> dataset"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

I am using the latest TensorFlow Model Garden release2.3.0 and TensorFlow 2.3.0
I am reporting the issue to the correct repository. (Model Garden official or research directory
I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

https://gi

[2020-08-05 05:30] prajnasb commented on #8808
@MengNan-Li  Heya do you have any script for inferencing?

[2020-08-05 06:39] upxinxin opened #9051 "Looking for help of FEELVOS code"
I'm sorry that i can't find the code according to the link in the FEELVOS paper. Can anyone tell me how to find the FEELVOS code? Thank you so much !

[2020-08-05 06:40] aabbas90 commented on #8892
Are you also able to fine-tune from the provided checkpoints in the API?

[2020-08-05 06:59] veonua commented on #8892
update to tf 2.3 doesn't solve the problem.

it looks like change fine-tuning mode to "detection" allows to run
training, but I can't say if it saves classes of original model or not.

overall the fine-tuning is made somehow wrong (special format, various
incompatible versions, gpu/tpu) so I changed my pipeline to load
checkpoints to do fine-tuning in my experiments

On Wed, Aug 5, 2020, 08:40 Ahm

[2020-08-05 07:33] #9039 closed

[2020-08-05 07:58] fclof commented on #9048
I finally solved this by manually remove the 'dataclasses' line in the 'models\official\requirements.txt' file, and install using the `setup.py` in `models\official\pip_package` folder.

However, I still think it's better to provide different whl files for different python version, so that it will be convenient for users to install.

[2020-08-05 09:24] ravikyram commented on #9048
@fclof

I have tried in colab with python 3.6.9 and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0f4898f26eb3995ed9ccc1cf9a4bcac7/untitled219.ipynb).Thanks!

[2020-08-05 09:33] ravikyram commented on #9038
@lynx97

Can you please refer the [link](https://github.com/tensorflow/models/issues/8915) and see if it helps you.Thanks!

[2020-08-05 10:21] lynx97 commented on #9038
Thank you but my question is related to events file is too growth much size

[2020-08-05 10:26] pvoigtlaender commented on #9051
Hi,

I'm also surprised about this, but just found that it was moved to the archive: https://github.com/tensorflow/models/tree/archive/research/feelvos

[2020-08-05 10:29] pvoigtlaender commented on #8938
Hi,

note that train.sh uses a smaller crop size (300 instead of 465). This should have a large influence on the results.
Also we used 16 GPUs in the original setup. If you train with fewer gpus/smaller batch size, this can also have some effect.

[2020-08-05 10:47] aabbas90 commented on #5565
Looks like I am able to start multi-gpu training by setting `num_workers` to `>1` in  `models/research/object_detection/model_main_tf2.py` and `nvidia-smi` does show utilization. Will update soon about inference.

[2020-08-05 10:51] upxinxin commented on #9051
Thank you for reply！

[2020-08-05 10:51] #9051 closed

[2020-08-05 11:25] hzxie commented on #8938
Thank you for your response.
BTW, why does 465 lead for better results than 300?
I'll test it with the configuration later.

[2020-08-05 11:27] pvoigtlaender commented on #8938
with a larger crop size, we see more context during training. And it's more consistent to test time (at test time we see the whole image)

[2020-08-05 11:28] hzxie commented on #8938
Thank you very much for your response.

[2020-08-05 12:12] Zrufy commented on #3369
@vinay0410 how do you solve that error?I'm in stuck with this problem!

[2020-08-05 12:22] aabbas90 commented on #5565
Btw, the checkpoint created through this way is only possible to be used with multi-gpu training. If I set `num_workers` to 1, I get same error as here: #8892

[2020-08-05 12:28] aabbas90 commented on #8892
+1.

I tried multi-gpu training from scratch as I mentioned here: [https://github.com/tensorflow/models/issues/5565#issuecomment-669123077](multi-gpu training). The checkpoint created through this way does not allow fine-tuning on single gpu.

[2020-08-05 13:26] Dhivya-rav opened #9052 "Tensorboard eventfile is very large(80Gb) while training with effecientdet D0"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-05 14:08] zishanahmed08 commented on #5565
@aabbas90 what changes are required in the config file?

[2020-08-05 15:01] jingli0118 commented on #7560
Hi, is there any process of this issue?

[2020-08-05 16:07] aabbas90 commented on #5565
No changes in the config file w.r.t multi-gpu training. If single gpu training is working fine for you then only the steps I mentioned above are required.

[2020-08-05 16:42] ashiqimranintel commented on #8931
Thank you. It worked for me. :)

[2020-08-05 16:42] #8931 closed

[2020-08-05 19:17] peri044 opened #9054 "Pre-trained model for Efficient net B0 implementation"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-08-05 19:34] thanlon58 commented on #8872
I'm having the same issue -- I tried jtrammell-dla's code on efficientdet_d1 and got a gargantuan error readout (couldn't copy/paste if I tried, lots of it looks like hex code or something...)

Anyone make any progress on this? Really hoping for a V1-esque tool for tflite conversion soon.

[2020-08-05 20:26] elazarg commented on #7640
Same issue.
Windows 10
Tensorflow 2.3.0

[2020-08-05 20:27] magedhelmy1 commented on #8812
Replace

`detection_masks_reframed = utils_ops.reframe_box_masks_to_image_masks(output_dict['detection_masks'], output_dict['detection_boxes'], image.shape[0], image.shape[1])   `

with
[code]

[2020-08-05 20:33] allenwang28 commented on #9050
Hi, to clarify, what are the contents within `/dataset/Imagenet/tfrecord`? If the contents are not TFDS processed TFRecords, could you modify your run command to be as follows?

[code]

[2020-08-05 21:15] Namburger commented on #8769
@sinclairnick
I know it's been a while and not sure if you're still interested. But after looking a little more closely, I realized that the model was just missing the post processing ops.
Using [export_tflite_ssd_graph.py](https://github.com/tensorflow/models/blob/35f33abb8fa40053e8791b9144e894169e543869/research/object_detection/export_tflite_ssd_graph.py#L38) with **--add_postprocessing_op=true

[2020-08-06 01:47] Flowingsun007 commented on #9050
Thanks for reply,My dataset type is tfrecord,and I've set builder:records/synthetic for both train and validation in gpu.yaml.

The problem i encountered is in dataset_factory.py(line 331),before the dataset builder really start handle the tfrecords,it will get dataset infos from network(line 331):

`self.builder_info = tfds.builder(self.config.name).info`

But the target url is missing,so it will

[2020-08-06 05:15] mocialov opened #9056 "High Validation Loss (with train dataset) while Train Loss is low using Tensorflow Object Detection API"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main.py

## 2. Describe the bug

When finetunning Faster RCNN model using model_main.py script, I deliberately set evaluation dataset to be the same as training dataset (TF_DATA) and expect to see the same loss in evaluation as in training. However, evaluation losses are

[2020-08-06 06:52] Flowingsun007 commented on #9050
This problom has been solved, solution is :specify 3.0.0 version of tensorflow-datasets in official/requeirements.txt, theThe latest version of the api does not match
`pip uninstall tensorflow-datasets` and `pip install tensorflow-datasets==3.0.0`

[2020-08-06 06:52] #9050 closed

[2020-08-06 07:14] BalajiB197 commented on #8380
@all I am also facing same problem. Is that we cant train with tensorflow 1.X version???
Error message: ValueError: Unknown ssd feature_extractor: ssd_mobiledet_cpu

[2020-08-06 07:34] Raphaeal19 opened #9057 "Converting tf2 ssd_mobilenet-v1 object detection model to tflite model"
I am using Google Colab to run the training and conversion.

When I run the script

!python /content/models/research/object_detection/export_tflite_ssd_graph.py \
--pipeline_config=/content/workspace/training/pipeline.config \
--trained_checkpoint=/content/workspace/training/model.ckpt \
--output_dir=/content/workspace/hands_detection \
--add_postprocessing_op=true

I get this error:

Traceback (m

[2020-08-06 07:57] suven2019 commented on #8917
Hi，do you mind tell how to use GPU when training?

[2020-08-06 08:30] annie-surla opened #9058 "Which GPU was used for benchmarking the TF2 models?"
The documentation mentioned in the model zoo of [tf2 models](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) doesn't mention on which GPU it was bench-marked on. Can you clarify what device the latency is reported on?

[2020-08-06 08:39] colinvanlieshout commented on #8254
any updates here yet?

[2020-08-06 09:56] myjaa opened #9059 "TPU not working with Object Detection 2.0"
I have used Object Detection successfully with GPU, but am facing issues using the TPU provided with colab.
[Used this COLAB NOTEBOOK](https://colab.research.google.com/drive/13EsWV9IMGg80pp2A_p7yK5iGYFlZWoTY?usp=sharing)

### **ISSUE**
**When I run**
[code]

**I get**

[code]

I need to train on TPU since I'm maxing out my time in GPU(taking more than 12 hours).

[2020-08-06 10:05] zheyuanWang commented on #8897
for example,  how could I reuse the whole feature extractor of mobilenet_v3 for 2 inputs?

I want to combine the extracted feature afterward before it is sent to decoder.

[2020-08-06 11:33] murdockhou commented on #7640
windows 10 , tensorflow-gpu 2.2.0, occur:
[code]
but no gpu used actually, everything seems run on CPU.

[2020-08-06 11:40] qraleq commented on #8887
Any updates from the team on this issue? I'm willing to take a look into the code and try to solve it, but only if this is not already being resolved by someone from the team...

[2020-08-06 12:18] rafaelfaustini commented on #7640
Having same issues with Tensor Flow Version: 2.3.0; Keras Version: 2.4.0; Cuda 10, Cudnn 10; It identifies my gpu, when running a model it seems to be using gpu memory but my CUDAS get like 3%, doesn't seems to be a cpu bottleneck since it also reaches only a maximum of 15% when training the model

[2020-08-06 12:26] ravikyram commented on #9057
@Raphaeal19

I tried in colab with TF nightly version and was able to convert  tf2 mobilenet-v1 object detection model to tflite model .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/688464077c636cdbcd71b14a8b806bcf/untitled225.ipynb).Thanks!

[2020-08-06 15:42] ChandaniKeshari commented on #5753
'Tensorflow'.format(feature_extractor_type))
ValueError: faster_rcnn_inception_v2 is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow

I am facing the above error while training.

[2020-08-06 15:57] srjoglekar246 commented on #9033
@sajjadaemmi @sourangshupal

I am working on a script to convert TF2 models to TFLite. Will ping back with updates.

[2020-08-06 16:35] sajjadaemmi commented on #9033
@srjoglekar246 Hurry up please

[2020-08-06 16:39] srjoglekar246 commented on #9033
@sajjadaemmi Out of curiosity, is there a specific reason you prefer the TF2 model over the [TF1 versions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md#mobile-models)? The Edge TPU mobiledet will probably give you a comparable mAP, though its trained on COCO'14.

[2020-08-06 16:42] sajjadaemmi commented on #9033
TF1 versions not work perfectly. and not detect any object. but TF2 detect very very good for me

[2020-08-06 16:58] Raphaeal19 commented on #9057
This worked!! Thank you so much.

[2020-08-06 16:58] #9057 closed

[2020-08-06 17:30] magedhelmy1 commented on #8530
3 months later from the date of the post and this problem still persists.......
Maintainers please help.

`from tensorflow.python.keras.layers.preprocessing import image_preprocessing as image_ops. ImportError: cannot import name 'image_preprocessing'`

I still get this error! Tensorflow 2.1.0 with Python 3.6.
Those of us who are using windows are not so lucky yet to get the Tensorflow 2.2.0

Here

[2020-08-06 17:38] allenwang28 commented on #8530
Hmm, your issue is different. That import of `image_ops` is unfortunately only available with TF 2.2+ and is required for autoaugment. I would suggest using the r2.1.0 branch of code but that doesn't contain EfficientNet.

The best solutions would be:
1. Upgrade to TF 2.2/2.3 (but I understand that's difficult)
2. Use the r2.2.0 branch and comment out `from tensorflow.python.keras.layers.preproces

[2020-08-06 17:51] magedhelmy1 commented on #8530
Hi allenwang28, thank you for shedding some light on this issue. It has been frustrating.

Unfortunately, I cannot upgrade to TF2.2 because it is not available on Windows 10 yet ;(

I do not actually care about EfficientNet, I want to try SSD and MaskRCNN. I will give your hints ago! Thank you very much!

[2020-08-06 17:52] allenwang28 commented on #8530
No worries! If you have any further issues feel free to open an issue and assign it to me. Good luck!

[2020-08-06 18:01] magedhelmy1 commented on #8530
Sorry allenwang28, just to check if I understood your comment correctly. Did you mean that I should `pip install tensorflow==2.1.0rc2` and try that one instead?

[2020-08-06 18:04] allenwang28 commented on #8530
No, this might be better:

[code]
then comment or delete this line: https://github.com/tensorflow/models/blob/r2.2.0/official/vision/image_classification/augment.py#L30

[2020-08-06 18:12] peri044 commented on #8530
@allenwang28 Can you please take a quick look at this [Efficientnet pretrained model question]( https://github.com/tensorflow/models/issues/9054) and let me know your thoughts ? Thanks !!

[2020-08-06 18:22] allenwang28 commented on #9054
For clarification, EfficientNet is a WIP in that we have only been able to successfully train EfficientNet-b0 and b1, but haven't had cycles to scale up.

The TFHUB pre-trained weights should work correctly. Can you ensure that [this codepath](https://github.com/tensorflow/models/blob/r2.3.0/official/vision/image_classification/classifier_trainer.py#L193) is not run by appending `--params_override

[2020-08-06 18:37] peri044 commented on #9054
Thank you for looking into this. Yes. That codepath is commented out.
I'm directly loading the saved model first and evaluating directly before model.fit in the classifer_trainer.py

loss: 7000.2163 - accuracy: 0.0012 - top_5_accuracy: 0.9857

Command used for eval:
`python3 classifier_trainer.py --mode=train_and_eval --model_type=efficientnet --dataset=imagenet --model_dir=expt1 --data_dir=/mnt/c

[2020-08-06 18:49] allenwang28 commented on #9054
Hmm, I think the preprocessing *should* be fine by default since we mean subtract and standardize. I think it's possible that the TFHub model doesn't use one hot encoding but we do. Can you try changing [this](https://github.com/tensorflow/models/blob/r2.3.0/official/vision/image_classification/configs/examples/efficientnet/imagenet/efficientnet-b0-gpu.yaml#L47) to 0. instead and see if this helps

[2020-08-06 19:03] peri044 commented on #9054
Changed it but the issue still exists.
Here is the reference code if it helps
[https://gist.github.com/peri044/e0278249f8a8a13e47c0a9a9e58a007f#file-ctl_2-py-L391](https://gist.github.com/peri044/e0278249f8a8a13e47c0a9a9e58a007f#file-ctl_2-py-L391)

Command:
`python3 classifier_trainer.py --mode=train_and_eval --model_type=efficientnet --dataset=imagenet --model_dir=expt1 --data_dir=/mnt/cdr/Image

[2020-08-06 19:08] allenwang28 commented on #9054
Thanks for the reference code! I just remembered that our EfficientNet model has an option to rescale inputs in the model so we don't enable this by default.

Can you enable `mean_subtract` and `standardize` on `train_dataset` and `validation_dataset` within [efficientnet-b0-gpu.yaml](https://github.com/tensorflow/models/blob/r2.3.0/official/vision/image_classification/configs/examples/efficientne

[2020-08-06 19:39] peri044 commented on #9054
Thanks for the info. I did that and
1) Loss changed a lot from
loss: 7000.2163 - accuracy: 0.0012 - top_5_accuracy: 0.9857 (without mean_subtract and standardize )
   to
loss: 9.6760 - accuracy: 0.0042 - top_5_accuracy: 0.0133 ( with both of them)
Surprisingly the accuracy is still worse.
Just a note (may not be helpful): The loss value of 9.67 previously (for resnet ) indicated that the model is

[2020-08-06 19:48] allenwang28 commented on #9054
1. Please try turning label smoothing back on by undoing my suggestion:

I think there's possibly a few thing still misconfigured which is why we see such a high loss/low accuracy. You might try toggling variations of one hot encoding, mean subtract and standardization - we should see around 0.767-0.768 if we did it correctly.

2. The WIP means that we haven't trained from scratch from B2-B7 succe

[2020-08-06 20:39] mgon5170 opened #9061 "ValueError: Tensor's shape is not compatible with supplied shape custom dataset using ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-06 21:15] jrash33 opened #9062 "Error indices[0] = 0 is not in [0, 0) with mask-rcnn object-detection model with tensorflow 2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 2. Describe the bug
Please help! I am fol

[2020-08-06 21:19] denisb411 commented on #3369
I can't see this working as the expected shape has 3 channels. Anyone tested it?

[2020-08-06 22:46] jrash33 commented on #9062
solved by adding --include masks

[2020-08-06 22:46] #9062 closed

[2020-08-06 22:55] jrash33 opened #9063 "Checkpoint reading error during training!"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

Please help! I am following the tutorial at
htt

[2020-08-07 00:38] peri044 commented on #9054
@allenwang28
1) I was able to fix the issue. In the saved_model provided in TFhub, in addition to mean_subtract and standardize, there is a `mul` layer (as indicated in the screenshot which is weird) which multiplies the input by 255. So I disabled mean subtract, standardize (since they are already in the saved_model graph) and downscaled the input by 255.  Now I get 76.8 % accuracy.
![image](http

[2020-08-07 02:29] XiangL-Xr commented on #8953
same error. It happens to me when loading CenterNet_ResNet50_v1

[2020-08-07 04:53] PeterKim1 opened #9064 "DELF ImportError: cannot import name 'aggregation_config_pb2'(when I running in Google Colab)"
Hi, I want to run DELF in Google Colab(Becuz I don't have linux), but some errors occur.

In https://github.com/tensorflow/models/blob/master/research/delf/INSTALL_INSTRUCTIONS.md ,

I run from first code( `pip3 install 'tensorflow>=2.2.0'` ) to this code (`pip3 install -e . # Install "delf" package.` ).

when I run `pip3 install -e`, code result is this:

![image](https://user-images.githubuserco

[2020-08-07 04:56] PeterKim1 commented on #9064
@andrefaraujo

[2020-08-07 07:10] jrash33 commented on #9063
update - so using
[code]
the model runs (model_dir: my_model_dir contains checkpoint/ckpt-0.data-00000-of-00001/ckpt-0.index) BUT, the model stops after each checkpoint. For example, if i were to run the above, the model will output ckpt-1.data-00000-of-00001/ckpt-1.index and stop.

Is this expected? After this, I would then go into the config file, and adjust
[code]
then run the training code aga

[2020-08-07 07:37] Mengant29 opened #9065 "“No such layer” error"
Hi,

I am trying to train a network for object detection (a pre-trained network from the research folder), starting from the main python file:
[https://github.com/tensorflow/models/tree/master/research/object_detection/model_main_tf2](https://github.com/tensorflow/models/tree/master/research/object_detection/model_main_tf2)

I am executing it with this command:
`python model_main_tf2.py --model_di

[2020-08-07 08:07] ravikyram commented on #8910
@rahulram70

Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-07 08:07] #8910 closed

[2020-08-07 08:32] ravikyram commented on #8939
@dreamitpossible1

closing the issue since the query is been answered. Thanks!

[2020-08-07 08:32] #8939 closed

[2020-08-07 08:42] magedhelmy1 opened #9067 "tensorflow.python.framework.errors_impl.InvalidArgumentError: indices[10] = 10 is not in [0, 0)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2020-08-07 09:25] #9064 closed

[2020-08-07 09:29] NHGJem opened #9068 "DELF: Rationale behind two-step training"
[![Paper](http://img.shields.io/badge/paper-arXiv.1612.06321-B3181B.svg)](https://arxiv.org/abs/1612.06321)

In the above paper, it was mentioned that "While the feature representation and the score function can be trained jointly by backpropagation, we found that this setup generates weak models in practice."

Looking at [train.py](https://github.com/tensorflow/models/blob/master/research/delf/de

[2020-08-07 09:54] jack0x539 commented on #8997
How do you reduce the batch size when running model_main_tf2.py?

[2020-08-07 12:08] asmaamirkhan commented on #8114
- 🤔 It is a normal result since step number is still 500
- 👀 You have to wait for at least 2000 steps (if your data is complex it will take more)

[2020-08-07 12:47] mgon5170 commented on #9061
My apologies for the confusion the first version may have caused. I was submitting two errors initially and mixed up the windows.

[2020-08-07 12:53] magedhelmy1 commented on #9067
My guess is something terribly went wrong in the way I convert my JSON to TFRecrods....I must have converted something incorrectly.

[2020-08-07 15:12] magedhelmy1 commented on #9067
@ravikyram any ideas or suggestions ?

[2020-08-07 16:59] jrash33 commented on #8892
i'm getting this same error as well! support needed!

[2020-08-07 18:07] allenwang28 commented on #9054
Great, glad you were able to figure it out!

It looks like the intended usage for TFHub is to use `hub.KerasLayer` ([example here](https://www.tensorflow.org/hub/tutorials/tf2_image_retraining#defining_the_model)) instead of loading weights like a checkpoint.

Will this work for your use case?

[2020-08-07 18:22] harshadl commented on #8394
Hello,

Did you find any solution for this problem?

I am also facing same issue. 2 classes but 3x3 matrix

[2020-08-07 22:35] abdalkhalik commented on #8887
@Jacobsolawetz  i tried to run the colab tutorial however it throw the error below, maybe they removed something as i was able to run the demo successfully before

**/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/initializers/__init__.py in populate_deserializable_objects()
     83     v2_objs = {}
     84     base_cls = initializers_v2.Initializer
---> 85     generic_utils.populat

[2020-08-07 22:36] m-parchami opened #9074 "Before training, skipping some FeatureExtractors, and injecting some FakeQuants"
Hey there, I'm using Tensorflow Object Detection API for training MobilenetV3-small-SSD.
My TensorFlow version is 1.15.2 as suggested on many tutorials.
Also, the model has been recently downloaded from TensorFlow's tf1_detection_zoo.
The training works, it trains, and the output looks ok.
However, since I have to get the most out of the model for my task, I started reviewing the warnings ant etc.

[2020-08-08 02:15] ravikyram commented on #6600
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:15] #6600 closed

[2020-08-08 02:17] ravikyram commented on #6450
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:17] #6450 closed

[2020-08-08 02:18] ravikyram commented on #6441
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:18] #6441 closed

[2020-08-08 02:19] ravikyram commented on #6085
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:19] #6085 closed

[2020-08-08 02:20] ravikyram commented on #6040
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:20] #6040 closed

[2020-08-08 02:21] ravikyram commented on #7312
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:21] #7312 closed

[2020-08-08 02:23] ravikyram commented on #8665
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:23] #8665 closed

[2020-08-08 02:24] ravikyram commented on #5587
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-08 02:24] #5587 closed

[2020-08-08 02:27] abradley60 commented on #4093
Hi,

For those googling and receiving either errors when using keras.load_model(model) or keras.load_model(model.h5) :

- Check whether your GraphDef-interpreting binary is up to date with your GraphDef-generating binary.
- ValueError: Unknown layer:name

For me it was a versioning issue. The versions of keras and tensorflow that I was loading the models with were earlier than the versions I had u

[2020-08-08 02:31] Daromog opened #9075 "Explanation about i//2 in positional encoding in tensorflow tutorial about transformers"
I was implementing the transformer architecture in tensorflow.

I was following the tutorial : https://www.tensorflow.org/tutorials/text/transformer#setup_input_pipeline

They implement the positional encoding in this way:

`angle_rates = 1 / np.power(10000, (2 * (i//2)) / np.float32(d_model))
`

However in the paper i is not divided by 2 (i//2), is this a bug? , or why is the reason to make this

[2020-08-08 03:37] varunvv commented on #3365
@dinis-rodrigues
In that case, do we also need to change the "mscoco_label_map.pbtxt" to include the class value 5000 and also increase the number of classes by 1.

[2020-08-08 07:00] #9063 closed

[2020-08-08 07:47] pn12 opened #9076 "Unable to install python3-tk. Exiting."
While installing delf - !bash install_delf.sh

getting the below error.

What could be the issue?

Traceback is as below -

Downloading Protobuf compiler from https://github.com/google/protobuf/releases/download/v3.3.0/protoc-3.3.0-linux-x86_64.zip
Archive:  protoc-3.3.0-linux-x86_64.zip
   creating: protoc/include/
   creating: protoc/include/google/
   creating: protoc/include/google/protobuf/

[2020-08-08 08:31] #9001 closed

[2020-08-08 23:01] irfan798 commented on #7773
@ZOUYIyi detection should work despite the info message, it's probably about saving the session while training

You can check this version of tutorial

https://github.com/irfan798/models/blob/master/research/object_detection/object_detection_tutorial.ipynb

[2020-08-08 23:08] dinis-rodrigues commented on #3365
@varunvv
In this case, none of that is not required. Since 'background' is not a label nor class.
In the `generate_tfrecord.py` at the begining of the script

[code]

if the label is not present in the labelmap, it's considered None, which is what we want.
When the model trains, and sees images without any annotations and only background, it learns the background features, possibly reducing false

[2020-08-09 16:07] DLMasterCat commented on #8769
@Namburger

Does version of tflite_convert affect the quantization?
I need do this
[code]
then I could convert it.
However, every node inside the model still is float32

[2020-08-09 17:34] ujjwal-ai opened #9079 "ResNet50V1 classification checkpoint not loaded when training Faster-RCNN from scratch on custom dataset"
I am trying to use [this config file](https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/faster_rcnn_resnet50_v1_800x1333_coco17_gpu-8.config) for training on a different dataset.

In order to use the classification checkpoint of ResNet50V1, I did the following:
[code]

Then I provide the path to this checkpoint file in the config file. On running the training u

[2020-08-09 22:48] wardeha commented on #8892
I am having the same problem. Using TF 2.3 and the latest Object Detection files. Is this even worth trying?

[2020-08-09 22:55] wardeha commented on #8892
Getting the same warnings when I try to using the initial check point. I am using TF 2.3 and trying to train on a novel data set with 2 classes using ssd_mobilenet_v2_320x320

[2020-08-10 01:20] sinclairnick commented on #8769
Thanks @Namburger, I'm definitely still interested. I'll have a look at doing this soon and let you know how I go!

[2020-08-10 02:08] nyanye commented on #8713
Hello :) I've found that I could reproduce the paper's results with my own baseline networks on TensorFlow and I would like to contribute on this project. However since the paper is suggesting 'model agnostic' concepts, I have to train and validate multiple networks in order to reproduce best resulting baseline such as HRNet with varying scale which is very resource demanding.

Can I start my cont

[2020-08-10 02:53] Farjad3253 commented on #8997
@jack0x539 . There is a configuration file for each of the pre-trained model. For example when you are using a ssd-mobilenet model for retraining purpose then in the .config file there is a line number i.e. to be precise the line number 140 in the below link:
https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.config

Go t

[2020-08-10 06:29] mosch91-syn commented on #8892
Can confirm that setting fine_tune_checkpoint_type to "detection" worked for me as well. Successfully trained a SSD Mobilenet V2 fpn and an EfficientDet_D0 on custom dataset.

[2020-08-10 06:58] roserustowicz opened #9084 ""masks" missing from Mask RCNN prediction parser labels['groundtruths']"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/vision/detection/dataloader/maskrcnn_parser.py

## 2. Describe the bug

`masks` is missing from `labels['groundtruths']` in the Mask RCNN prediction parse function, `_parse_predict_data`. This error comes when trying to run evaluation with the following command:

[code]

## 3. Steps to reprodu

[2020-08-10 07:56] KNaudin commented on #8892
A solution that doesn't work for everyone is not a solution

[2020-08-10 08:18] aabbas90 commented on #8892
Can you please point to the commit of this repo you are using, I had already tried on 2.2 version with same issue.  Moreover, which kind of training hardware are you using is it single-gpu, multi-gpu or TPU? Thanks!

[2020-08-10 10:37] pn12 commented on #9076
Resolved!
Closing it

[2020-08-10 11:51] ravikyram commented on #9065
@Mengant29

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-10 11:53] ravikyram commented on #9076
@pn12

Please, close this thread if your issue was resolved.Thanks!

[2020-08-10 12:40] moein1924 commented on #6372
Use this command line. This solved the issue for me:

python exporter_main_v2.py --input_type image_tensor --pipeline_config_path models/my_ssd_resnet50_v1_fpn/pipeline.config --trained_checkpoint_dir models/my_ssd_resnet50_v1_fpn/ --output_directory exported-models/

[2020-08-10 12:49] bossConneR commented on #7904
**to summarize:**
" Please train on CPU for a few steps, the error message is much better."
from https://github.com/tensorflow/tensor2tensor/issues/574#issuecomment-364722156

hello @zychen2016 i also encounted this error when training quantized model(i noticed you add 'graph_rewriter' lines in the end of the config file ). For me, when training without quantized lines(code lines in the end of the

[2020-08-10 13:21] ujjwal-ai commented on #9079
I would normally have posted this issue on StackOverFlow, but following are reasons for this being here:

1. There is no clarity about which classification checkpoints to use.
2. There is no proper example or documentation about it.
3. Multiple issues (#8892 for example and there are others) which report the same problem and have not yet been resolved.
4. This backward compatibility issue is a big

[2020-08-10 14:05] vcjmhg commented on #8253
Hi,@LightingX  @hmaresearch2 @rafaelmarconiramos , Did you find any solution for the problem?
Thanks

[2020-08-10 14:41] #9076 closed

[2020-08-10 14:44] rethamasae commented on #6866
I can't run the Training, maybe someone can help me
(tensorflow1) C:\tensorflow1\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
2020-08-10 22:08:00.754622: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
Traceback (most rece

[2020-08-10 14:57] DeepleMass commented on #8875
@myjaa : I'm trying that too this week

[2020-08-10 14:58] rethamasae commented on #1842
I can't run the Training, maybe someone can help me
(tensorflow1) C:\tensorflow1\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
2020-08-10 22:08:00.754622: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
Traceback (most rece

[2020-08-10 15:08] Transmitt0r commented on #5474
Hey, sorry for the late replay, but what I did was to add a preprocessing step to transform all the images to the same x&y dimension, similiar to what @AjayZinngg proposed.

[2020-08-10 15:40] Namburger commented on #8769
@sinclairnick It got 2x speedup on the edgetpu as mentioned in this paper: https://arxiv.org/abs/2004.14525 :dagger:
@DLMasterCat I don't believe so, but if you donwload the model from [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md#pixel4-edge-tpu-models) there should be a float32 model directory and a uint8 model directory, using the

[2020-08-10 16:25] MeghnaNatraj commented on #8794
Could you try using the TFLite Python API and share a https://colab.research.google.com/ notebook for us to review? If you can share a link to the exact model (eg: github or google drive), that would help too.

Your code might roughly look like this: (The following code works in TensorFlow version 1 or 2, preferably use TF2. Also, update the code to address errors.)
Source: https://www.tensorflow.

[2020-08-10 17:13] nekofugu commented on #2703
Does not work in v2 using v1 compat.

tf_config=  tf.compat.v1.ConfigProto(log_device_placement=True,
                                     gpu_options=tf.compat.v1.GPUOptions
                                     (per_process_gpu_memory_fraction=0.5))
TestSession = tf.compat.v1.Session(config=tf_config)

GPU was allocated to 90 percent.

[2020-08-10 17:13] ujjwal-ai commented on #9079
What else have I tried ?
a) Tried on TF 2.2 ( DOES NOT WORK )
b) Tried using pretrained models from tfhub ( DOES NOT WORK)
c) Tried using checkpoints on google cloud ( DOES NOT WORK)

[2020-08-10 18:11] tofighi commented on #8610
I also need to access the link for downloading, seems it is deleted from here:
https://sites.google.com/site/brainrobotdata/home/bike-video-dataset

https://storage.googleapis.com/brain-robotics-data/bike/BikeVideoDataset.tar

[2020-08-10 21:44] MeghnaNatraj commented on #9031
@Snixells Can you try this?

[code]

[2020-08-10 22:34] andrefaraujo commented on #9068
There are a few things going on here.

In the DELF paper, we indeed proposed to train the backbone and attention networks separately, which led to much better performance in terms of precision/recall on the Google Landmarks dataset, compared to training everything jointly (as your quote mentions).

Recently, with the DELG paper, one thing we were able to do is to design a procedure that makes it p

[2020-08-10 22:34] #9068 closed

[2020-08-10 23:49] ChowderII opened #9087 "Cannot open object detection model using tf.keras.models.load"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-10 23:52] ChowderII commented on #4778
Hi sorry for the very long wait time. Unfortunately not because I hardcoded most of the changes. Meaning that my changes are most likely not going to work for you. Your best bet is to try and follow what I said and make it work for yourself!

[2020-08-11 01:19] guo654 commented on #8552
maybe the reason of your error is here>https://github.com/matterport/Mask_RCNN/issues/521

[2020-08-11 04:56] icoicqico commented on #8794
thanks for your reply, but the problem wasn't about the tflite api, I am
asking the pnasnet already supported by the tensorflow quantize or not. I
can use the code to convert mobilenet without problem. But when I try to
convert pnasnet the log shows it is not yet supported. If it is not yet
supported, I would like to know which parts of the network are not
supported, therefore I can only quantize

[2020-08-11 06:31] SundarML commented on #2031
it worked for me, thanks.

[2020-08-11 06:53] ravikyram commented on #9031
@Snixells

I have tried in colab with TF nightly version as per @MeghnaNatraj  suggestion and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ce043d9d2906f0a159e2fbe7417835af/untitled235.ipynb).
Please, verify once and close the issue.Thanks!

[2020-08-11 08:12] Dumbldore commented on #1890
@melwin123 have you maybe found any solution for that?

[2020-08-11 08:52] young24 opened #9088 "Wrong catenation type leads to model exportation failure [TF2 + object detection]"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-11 10:27] cmxcn commented on #9028
Hi, Hongkun, any progress about this?

[2020-08-11 10:46] ravikyram commented on #9087
I have tried in colab with TF nightly version (`2.4.0-dev20200811`) and i am seeing below error message.
`TypeError: 'module' object is not callable`
Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/2eb72cc7541ed7158e86de87eb04ba95/untitled241.ipynb).Thanks!

[2020-08-11 11:52] aabbas90 commented on #9079
Perhaps some discussion from this issue is helpful: https://github.com/tensorflow/models/issues/8967

[2020-08-11 11:55] aabbas90 commented on #8967
I have tried setting  `fine_tune_checkpoint_type: "fine_tune"`, but get the following error:

[2020-08-11 11:59] aabbas90 commented on #8892
Please note that the claim mentioned here: https://github.com/tensorflow/models/issues/8967#issuecomment-665082686 is not true as I was not able to fine-tune even by setting `fine_tune_checkpoint_type: "fine_tune"`.

[2020-08-11 13:45] ValentinBlokhin commented on #9033
@srjoglekar246 I'm having the same issue, is there any progress on your side?

[2020-08-11 13:48] vighneshbirodkar commented on #8989
We don't support ExtremeNet training in the code-base. However, since the CenterNet implementation relies on it, we provide a compatible TF checkpoint.

[2020-08-11 13:48] #8989 closed

[2020-08-11 14:20] #9031 closed

[2020-08-11 14:33] vighneshbirodkar commented on #8892
I can comment on the CenterNet issues:
1. `"detection"` checkpoints are currently supported by hourglass models. The error messages are pointing towards the fact that the checkpoints weights are not in the right format. We currently only support one "detection" type checkpoint with the hourglass model. It is the ExtrementNet checkpoint from the [TF2 Zoo](https://github.com/tensorflow/models/blob/m

[2020-08-11 15:18] aabbas90 commented on #8989
Thanks for the follow-up. It would be good to have ExtremeNet though since it has a natural extension to instance segmentation through  DEXTR.

[2020-08-11 15:47] srjoglekar246 commented on #9033
There should be a fix coming next week or so. Sorry for the delay, this was a tricky problem due to TF2 APIs and our MLIR converter both being new pieces :-).

[2020-08-11 21:48] MeghnaNatraj commented on #8794
@icoicqico from the error, it looks like the model might be supported but probably the parameters passed are incorrect. If you provide the exact model link and an end-to-end working codelab, it would help me debug the issue easily.

[2020-08-12 02:35] abg3 commented on #8862
Then how to save SSDMetaArch instead?

[2020-08-12 05:39] HossamAmer12 commented on #8645
Any updates on this issue?

[2020-08-12 05:55] novoforce commented on #6423
Could anyone help me how to use eval_utils.py for evaluation of the training and get the mAP mIOU scores.

[2020-08-12 06:50] aliz64 commented on #3647
same issue. 32gb ram, 12 core CPU, cuda gpu....

[2020-08-12 06:53] ntdat017 commented on #8137
I found problem when my problem when i call vis.py with no tfrecords file in --dataset_dir. There would load model, call to batch 1, and throw error involve "Segmentation fault (core dumped)".

[2020-08-12 07:24] ravikyram commented on #5075
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-12 07:24] #5075 closed

[2020-08-12 07:27] ravikyram commented on #5017
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-12 07:27] #5017 closed

[2020-08-12 07:32] ravikyram commented on #4921
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-12 07:32] #4921 closed

[2020-08-12 07:33] ravikyram commented on #3714
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-12 07:33] #3714 closed

[2020-08-12 07:35] ravikyram commented on #3366
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-12 07:35] #3366 closed

[2020-08-12 07:41] ravikyram commented on #8853
@csingh27

Is this still an issue?.
Please, close this thread if your issue was resolved. Thanks!

[2020-08-12 07:51] yosefyehoshua commented on #4168
Hi, is there a better way to feed object-detection-api with 16-bit images then the above?

[2020-08-12 09:05] ryhanahmedtamim opened #9093 "Training stops after 0 step or 1"
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/absl/app.py:250: main (from __main__) is deprecated and will be removed in a future version.
Instructions for updating:
Use object_detection/model_main.py.
W0812 08:59:19.918551 140042794891136 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/absl/app.py:250: main (from __main__) is deprecated and will be removed in a fu

[2020-08-12 09:06] ryhanahmedtamim commented on #9093
I am using colab.

[2020-08-12 12:37] ravikyram commented on #9093
@ryhanahmedtamim

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).

Please, share the colab link to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-12 13:08] guomingjin commented on #7640
I faced the same issue. I used to train a model with Tensorflow 2.2.0 and 2.3.0 by using GPU. It worked fine a few days ago. But I just realized the implementation speed is dramatically lower than ever. What's wrong with it? I would be grateful if anyone can help me out soon. Thanks.

[2020-08-12 13:08] #8806 closed

[2020-08-12 14:06] shokohigol commented on #8464
This time is correct, but not real time. How to decrease time to 40 ms (use V100 16G or mutli GPU or change in train)

[2020-08-12 22:20] ashiqimranintel opened #9094 "Running Resnet50 model in a secured cluster"
I am trying to run resnet50 model using local tfrecords from a directory. I am trying to run the model on a secured cluster where there is no internet connection. I couldn't able to figure out how to avoid following error message.

ConnectionError: Failed to construct dataset imagenet2012HTTPSConnectionPool(host='storage.googleapis.com', port=443): Max retries exceeded with url: /tfds-data/?prefix

[2020-08-13 00:58] cclo-astri commented on #8464
Hi @shokohigol ,

As I mentioned at the very beginning, I am only using NVIDIA GTX 1080 (8GB) to perform the experiment. I think there exist many much powerful graphic cards which I think could successfully boost the performance of the inference,

Or if you do want to increase the inference speed without consideration of accuracy, you may try change the backbone network of deeplab from Xception to

[2020-08-13 03:37] ryhanahmedtamim commented on #9093
https://colab.research.google.com/drive/1JKh2c7nmDTo-NA3ASxw-jvlllzZ36iLw?usp=sharing

[2020-08-13 04:31] ryhanahmedtamim commented on #9093
solved

[2020-08-13 06:00] lxyzler opened #9096 "deeplab v3+training ,the mask is all black"
I use pascal_voc_seg to train deeplabv3+ without tf_initial_checkpoint
but predict nothing,the mask is all black
I‘m sure the training datasets is correct,mask data is uint8

Python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

array([ 0, 15], dtype=uint8)

if use deeplabv3_mnv2_pascal_trainval i

[2020-08-13 08:47] young24 commented on #9088
I managed to export the model "EfficientDet D1". So I guess it's a model-specific issue.

[2020-08-13 08:50] chad-green commented on #8996
Same issue. Can't restore tf2 models from model zoo. Any updates?

[2020-08-13 09:22] ravikyram commented on #9088
@young24

Glad to know that it worked for "`EfficientDet D1"`
Will it be possible for you to share colab link for "`faster_rcnn_resnet101_640x640".` model so we will try to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-13 09:26] young24 commented on #9088
Sure. I'll try to implement it in Colab. Thanks for your message.

[2020-08-13 09:27] ravikyram commented on #9093
@ryhanahmedtamim

Please, close this thread if your issue was resolved.Thanks!

[2020-08-13 09:40] ravikyram commented on #9096
@lxyzler

can you please check this [link](https://stackoverflow.com/questions/56528061/deeplab-predict-a-black-mask) and see if it helps you.
Request you to share colab link or code snippet to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-13 09:55] ouzzane opened #9099 "DeepLab V3 + predict a black mask"
I trained the DeepLab V3 + network on my own dataset, but after the test I had black images after ten iteration of the training.
then I did several tests, where I took into account that the training was working fine at the start but apartere from [6-10] training was starting to diverge towards a black image.
the source code: https://github.com/rishizek/tensorflow-deeplab-v3-plus
so i want to know

[2020-08-13 14:38] saikumarchalla commented on #9094
@ashiqimranintel  Could you please fill the issue [template](https://github.com/tensorflow/models/issues/new/choose). Also,provide the top-level directory of the model you are using.Thanks!

[2020-08-13 15:43] ashiqimranintel commented on #9094
models/official/vision/image_classification -> classification_trainer.py
I am trying to use TFrecords not the TFDS. Here I put logs which I am seeing when I ran the classification_trainner.py.

I0812 15:47:06.900887 139912474634048 dataset_factory.py:358] Using TFRecords to load data.
I0812 15:47:07.527647 139912474634048 dataset_factory.py:358] Using TFRecords to load data.
**I0812 15:47:08.04500

[2020-08-13 17:31] Namburger commented on #9093
@ryhanahmedtamim how did you solved it? running into same issue :(

[2020-08-13 19:29] aabbas90 opened #9100 "Mean, std normalization inconsistent"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file to debug:
http

[2020-08-13 19:38] aabbas90 commented on #9100
@vighneshbirodkar Can you please comment on CenterNet behaviour of preprocessing? Thanks

[2020-08-13 21:17] DeepleMass commented on #8875
I'm now facing the following situation:
I use

- the [efficient detection](http://download.tensorflow.org/models/object_detection/tf2/20200711/efficientdet_d0_coco17_tpu-32.tar.gz) (It's ok too).
- pyhton 3.7
- tf nightly 2.4.0
- model_main_tf2.py

My command is :
[code]
my config is:
[code]
The error message is
[code]
This may be a different issue.
Thank you for giving me a comment on this

[2020-08-13 21:51] yahiya6006 opened #9101 "error: [WinError 5] Access is denied:"
error: [WinError 5] Access is denied: 'c:\\users\\crown\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\object_detection-0.1-py3.8.egg\\object_detection\\core\\__pycache__\\region_similarity_calculator.cpython-38.pyc.2172095056992' -> 'c:\\users\\crown\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\object_detection-0.1-py3.8.egg\\object_detection\\core\\__pycache

[2020-08-13 21:53] missmantou commented on #8892
Just to report, changing the fine_tune_checkpoint_type to "detection" works for me for both faster rcnn resnet and ssd mobilenet.

[2020-08-13 22:15] allenwang28 commented on #9094
Please try updating to this commit: https://github.com/tensorflow/models/commit/8a10870632f6d4f008329fb15cd6af9a15a4a7ff

This should bypass any calls to TFDS if using the TFRecord pipeline with ImageNet.

[2020-08-13 22:43] ashiqimranintel commented on #9094
Still getting the same issue,
I0812 15:47:08.045007 139912474634048 dataset_info.py:430] Load pre-computed DatasetInfo (eg: splits, num examples,...) from GCS: imagenet2012/5.0.0
I0812 15:47:09.308397 139912474634048 dataset_info.py:361] Load dataset info from /tmp/tmpa2btiyy0tfds

Any more suggestion?

[2020-08-13 22:46] allenwang28 commented on #9094
Hmm, I guess the change I submitted would still call TFDS but would eventually lead to a ConnectionError and continue.

Does deleting this entire portion help?  https://github.com/tensorflow/models/blob/master/official/vision/image_classification/dataset_factory.py#L273-L280

[2020-08-13 22:51] ashiqimranintel commented on #9094
If I delete the entire portion, It gets broken.

AttributeError: 'NoneType' object has no attribute 'features'

[2020-08-13 22:55] allenwang28 commented on #9094
Could you provide the command you're using to run? This should only happen if any of `num_channels`, `num_examples`, `batch_size` or `image_size` are set to 'infer':
https://github.com/tensorflow/models/blob/master/official/vision/image_classification/configs/examples/resnet/imagenet/gpu.yaml#L8-L20

[2020-08-13 22:59] Furjoza opened #9102 "Training process just ends"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ I hope so] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Yes] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file

[2020-08-13 23:13] ashiqimranintel commented on #9094
Bingo, it worked. Thank you so much!!!

[2020-08-13 23:13] #9094 closed

[2020-08-13 23:34] jgschmitz commented on #3379
I have replaced that with other images before and its worked -

[2020-08-13 23:40] pedrormjunior commented on #8806
@mgon5170, could you please provide your solution? I am facing the same problem. I've tried on Docker based on TensorFlow 2.0.0 and 2.2.0 and tf_slim is on 1.1.0 and the problem persists for me. When running
[code]
from the tutorial, I get
[code]

[2020-08-14 03:33] honglh opened #9104 "ssd_mobilenet_v2 is not supported when try to re-export ssdlite_mobilenet_v2_coco_2018_05_09"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/v2.3.0/research/object_detection/g3doc/detection_model_zoo.md
https://github.com/tensorflow/models/blob/master/research/object_de

[2020-08-14 03:37] monologue1107 opened #9105 "How can I use the exported SavedModel to predict classification results? Should I first transfer test words to .tf_record file?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ 1 ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ 1 ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ 1 ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2020-08-14 04:08] saberkun commented on #9105
@chenGitHuber

[2020-08-14 05:26] chenGitHuber commented on #9105
Hi,

We are working on supporting tf.text with BERT so that the exported savedModel contains text pre-processing (e.g., tokenizer) ops and can take raw text as input.

Meanwhile, you can also convert raw text to ids in python, and then feed ids to savedModel. Please see this colab which has an example of

https://colab.sandbox.google.com/github/tensorflow/models/blob/master/official/colab/fine_tun

[2020-08-14 07:22] vighneshbirodkar commented on #8892
@aabbas90 's comment is fixed with
https://github.com/tensorflow/models/commit/fd6987fafb615427316c0bfac6fdb185273fcfcc

[2020-08-14 07:32] ravikyram commented on #8948
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-14 07:32] #8948 closed

[2020-08-14 07:33] vighneshbirodkar commented on #9100
@aabbas90 Can you share your config that you used to get those means/stds ? Are you trying to use the means/stds used in hourglasss with a ResNet backbone ? That is not the right thing to do, since the ResNet feature extractor does normalizing on its own
https://github.com/tensorflow/models/blob/master/research/object_detection/models/center_net_resnet_feature_extractor.py#L99

If there are some m

[2020-08-14 07:33] #9100 closed

[2020-08-14 07:36] vighneshbirodkar commented on #8892
For further clarifications, it would be helpful if we knew the exact contents of the config being used along with a link to which checkpoint.

[2020-08-14 08:10] aabbas90 commented on #9100
Hi,

Attached is the exact config file I am using. This one, as you can see, does not contain any mean and std information, therefore the backed-in resnet normalization should kick-in. The final mean and std values of the preprocessed data I get is:

`features['image'].numpy().mean()
-55.525608
features['image'].numpy().std()
77.819305`

Which is still not close to 0 mean and 1 std.

[centernet_re

[2020-08-14 08:20] lxyzler commented on #9096
My label img have been converted to grayscale
![2008_006081](https://user-images.githubusercontent.com/34367551/90228684-3a480a00-de49-11ea-8ab8-3a389e3a3d93.png)

I use the official deeolabv+3 code
If theofficial  pre training model is loaded, it can train normally, and the result is normal
But I want to use pascal to train my pre training model, and the prediction result is black
Here is my para

[2020-08-14 08:31] naveensmart395 commented on #8047
how to open this particular deep learning environment in jupyter

[2020-08-14 08:41] mailtohemantha commented on #8047
You can easily create the environment using anaconda navigator.
Then use jupyternotebook in anaconda prompt and execute the code

On Fri, Aug 14, 2020 at 4:31 PM naveensmart395 <notifications@github.com>
wrote:

--

K.A.S.H. Kulathilake
Senior Lecturer in CS/IT
Department of Computing
Faculty of Applied Sciences
Rajarata University of Sri Lanka

[2020-08-14 09:00] Berbas95 opened #9106 "Training stucks at "Instructions for updating: Use fn_output_signature instead""
### Prerequisites

Please answer the following questions for yourself before submitting an issue.

    [Yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
    [ Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
    [ Yes] I checked to make sure that this issue has not been filed already.

### 1. The entire URL of the f

[2020-08-14 10:05] vighneshbirodkar commented on #9100
You are seeing that because the resnet preprocessed inputs using `caffe` mode
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/resnet.py#L524
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/imagenet_utils.py#L73

This specifically does not do any rescaling, that's why you observe large values. With that said. the Re

[2020-08-14 11:24] saikumarchalla commented on #9102
@Furjoza  Could you please provide access to the colab which you have shared. Thanks!

[2020-08-14 11:34] ravikyram commented on #9099
@ouzzane

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).

Can you please share colab link or code snippet to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-14 11:49] saikumarchalla commented on #9101
@yahiya6006  Could you please fill the issue [template](https://github.com/tensorflow/models/issues/new/choose).Also,Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-08-14 12:05] yahiya6006 commented on #9101
I solved it. For some reasons when I run the command ”setup.py install”, I was getting the error. I'm working on a windows machine. Before running this command we have to run ”setyp.py build” or just simply copy the object detection folder into the path folder where your python3 is installed and also we need to install tf_slim using the pip command.

[2020-08-14 12:05] #9101 closed

[2020-08-14 12:16] ravikyram commented on #9106
@Berbas95

Will it be possible to share colab link or code snippet to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-14 12:59] ouzzane commented on #9099
#train
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import os
import sys

import tensorflow as tf
import deeplab_model
from utils import preprocessing
from tensorflow.python import debug as tf_debug
import matplotlib.pyplot as plt
import shutil
parser = argparse.ArgumentParser()

parser.add_argument('--model_dir', typ

[2020-08-14 13:11] Berbas95 commented on #9106
@ravikyram Which code snippet do you need? From the Terminal? From a specific script?

[2020-08-14 14:38] aabbas90 commented on #8892
1. I am able to fine_tune `centernet_resnet50_v1_fpn_512x512_coco17_tpu-8` by the associated `pipeline.config` and pre-trained model from TF2 model zoo. Where I use: `fine_tune_checkpoint_type: "fine_tune"`)
2. Carrying the same procedure on 'efficientdet_d0_coco17_tpu-32' from TF2 model zoo, fine-tuning does not work (see https://github.com/tensorflow/models/blob/2bef12e6fd830df331a858a3ca29a1835

[2020-08-14 16:21] vighneshbirodkar commented on #8892
1. Great, that is the intended usage. You should also be able to use detection with the extrement checkpoint.
2.
SSD is not loading the whole model, the lines
[code]
ensure that only the feature extractor is loaded.

3. I would start with the ones in configs/tf2

[2020-08-14 17:06] ChowderII commented on #9087
Even if your error is different, it still implies there is something wrong with the load function right?
(I don't know if the tag awaiting response is for me or the tensorflow gods)

[2020-08-14 22:41] ashiqimranintel opened #9109 "Distributed Strategy on Multiple host Error"
I was trying to run distributed strategy with multi_worker_mirrored on 2 separate machine. I started the training on one machine. The machine is waiting to receive request for another machine. Then, I started to run the training on another machine. Both machine are in the network. I am getting following error.

tensorflow.python.framework.errors_impl.UnavailableError: Socket closed
Additional GRPC

[2020-08-15 00:36] Agiledom opened #9110 "TF2 OD Training on AI Platform - TPU Distribution Strategy Failure."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md

## 2. Describe the issue(s)

1. Under Google Cloud AI Platf

[2020-08-15 03:54] nisfornature opened #9111 "Fix Typo Repeat Word And on Recommendation Model"
- [X ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/recommendation/README.md

## 2. Describe the issue

Third paragraph, second sentence repeats 'and' twice.

[2020-08-15 10:41] young24 commented on #9088
Hi @ravikyram , I implemented the training pipeline in colab (check it out [here](https://colab.research.google.com/drive/1wv6cK4UJ3zv1_ml71GeCrTmqG0f54GVr?usp=sharing)). However, this time worked fine. I reduced the num_steps from 30000 to 100. Is it possible that this issue is due to the local Windows machine I'm using?

Another difference is that in colab, I used a different command to export t

[2020-08-15 11:17] xNeophyte commented on #9110
Seems like your hunch may be inline with this [comment](https://github.com/tensorflow/tensorflow/issues/40622#issuecomment-654488935), where someone was having a similar issue but not on AI Platform.

I added `print(f'TF VERSION: {tf.__version__}')` to my AI Platform application and it seems that packaging Object Detection API as a dependency forces TF 2.3 to be installed. Based on the [AI Platfor

[2020-08-15 13:25] Agiledom commented on #9110
@xNeophyte Hey! I saw this comment (and thread) during my research into this issue and it does seem that the AI platform TPU worker runtimes are lagging behind the tensorflow versions. In my mind this makes this a doc's issue as it doesn't seem like you can currently train an OD model with the API platform. Would love to proven wrong!

[2020-08-15 17:24] saberkun commented on #9111
Fixed by https://github.com/tensorflow/models/commit/6496bcf879e876e682c4572c7362ad68683a3492
Thanks.
Please feel free to create PRs if you would like to have contributions.

[2020-08-15 17:24] #9111 closed

[2020-08-15 19:33] feiwofeifeixiaowo commented on #9003
Hi @andrefaraujo , sorry for so late reply.
 When I removed all tf.summary, the following error occurred. need help ^_^.

[code]

[2020-08-15 21:15] YousefRabi commented on #8777
Same here, in a terminal, getting the error after running build_image_dataset.py, then train.py. Will hard code seed in train.py.

[2020-08-16 07:05] NHGJem opened #9113 "DELF - Getting mAP on Oxford and Paris dataset"
[![Paper](http://img.shields.io/badge/paper-arXiv.1612.06321-B3181B.svg)](https://arxiv.org/abs/1612.06321)

I'm trying to replicate the results of DELF standalone (_not_ Detect-to-Retrieve) on Paris and Oxford as seen in Section 5.6 of the above paper, but the only scripts of assistance seem to be `match_images.py` which only run for one image pair.

Trying to use the script to pair a query with

[2020-08-16 07:54] dreamitpossible1 commented on #4909
Have you solved the problem.I have encountered the same problem?

[2020-08-16 10:01] Dipesh1333 commented on #5753
@ChandaniKeshari did you find a solution? I'm too having the same  problem.

[2020-08-16 11:15] legacyai opened #9114 "Advantages of saved model (.pb) format ? Not able to save transformer model to saved model."
Before commenting the bug, would love to hear the performance benefits of saved_model formats.

I have already opened one bug about saving models ( transformer ) into saved model .pb format. Before I spent time to fix it locally, can anyone help me here. Will saved model has any performance benefits comparing to other approaches like ```tf.keras.Model / Layer``` object and loaded from checkpoints.

[2020-08-16 13:06] CarrierDiagnostics commented on #9057
I'm getting the same error when trying to train a custom model with model_main_tf2.py

Tensorflow 2.3
python 3.6.8
windows 10

[2020-08-16 15:19] #9003 closed

[2020-08-16 17:09] radprad commented on #6036
it got resolved when the number of classes in train and test were different while using image generator. It got fixed when i matched the train and test number of class

[2020-08-16 19:02] saberkun commented on #9028
Sorry, I do not get an easy solution at this moment to make the trie in-graph. I think you will need a customized op holding the resource of trie like the lookup table.
We do not have cycle to implement this at this moment.
Did you give a try to use a hashtable instead of trie?

Alternatively, you can call session run for each step inside C++ and handle the candidate selection directly inside C++.

[2020-08-16 21:29] andrusza2 opened #9115 "Problem with image decoding in Tensorflow 2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2020-08-17 00:23] saberkun commented on #9087
I don't think we can always expect the customized subclass models be able to load with keras API.
Instead, could you first try the savedmodel API: https://www.tensorflow.org/api_docs/python/tf/saved_model/load?

[2020-08-17 02:35] dreamitpossible1 opened #9116 "Using model_ main.py training will appear midway stop phenomenon, but use train.py Will not appear"
WARNING:tensorflow:From C:\Users\dw\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow_core\python\training\saver.py:963: remove_checkpoint (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to delete files with this prefix.
W0817 10:25:09.366577  1052 deprecation.py:323] From C:\Users

[2020-08-17 04:28] NHGJem commented on #9113
After looking through the code, I noticed the timing bottleneck is not just the RANSAC step, but also the `# Select feature locations for putative matches.` step, which takes around 0.2s.

Original code
[code]

Revised code
[code]

I'm performing further checking to ensure the revised code matches the original code.

[2020-08-17 05:18] monologue1107 commented on #9105
As you can see, when I train or predict, I need to transfer raw 'txt' file into 'tf_record' file so that the get_dataset_fn() can handle it. Is it feasible to feed ids to savedModel directly without tf_record file?

And now I have faced another question. When I load the savedModel in the way of colab mentioned before:

'''
reloaded_model = tf.saved_model.load(MODEL_PATH)
'''

But I get this error:

[2020-08-17 06:48] saikumarchalla commented on #9116
@dreamitpossible1 Could you please fill the issue [template](https://github.com/tensorflow/models/issues/new/choose).

If possible, share colab link or simple stand alone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-08-17 06:52] monologue1107 opened #9117 "ValueError: Could not find matching function to call loaded from the SavedModel"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ 1 ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ 1 ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ 1 ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2020-08-17 07:44] young24 commented on #9088
I tried to reimplement the pipeline on my local machine and used the same command to export the model as in the colab. However, I got the same error message. Since it's this "\", "/" issue, I guess it's Windows-specific.

[2020-08-17 12:04] nioj commented on #7640
I am also getting the same warning, using Tensorflow 2.2 / 2.3 and Windows.

[2020-08-17 13:53] agaosto commented on #9106
I have the same problem, did you solve it?

[2020-08-17 14:37] saikumarchalla commented on #9109
@ashiqimranintel  Could you please fill the issue [template](https://github.com/tensorflow/models/issues/new/choose). Also, provide the top-level directory of the model you are using ?.Thanks!

[2020-08-17 16:41] ashiqimranintel commented on #9109
I am trying to use Resnet50 model. Here is the directory path.
models/official/vision/image_classification

Here is my script to run.
export TF_CONFIG='{ "cluster": { "worker": ["172.17.0.1:4000", "172.17.0.1:5000"] }, "task": {"type": "worker", "index": 0} }'
python classifier_trainer.py \
                --mode=train_and_eval   \
                --model_type=resnet   \
                --dataset=

[2020-08-17 17:17] ChowderII commented on #9087
I did try to load it that way, it gives me an AutoTrackable object that I can't seem to interact with the way I want. I want to save the as .h5 for another application but I get the same error message as my first post when I try to save it that way.
In the README of object detection, they state that their model for TF2 is built using keras, why can't we load it using keras too?

[2020-08-17 18:14] yahiya6006 opened #9118 "export_tflite_ssd_graph.py gives this error i dint know what to do. How can I convert my model into tflite model"
I have trained a custom model which is working fine. It has its checkpoint saved as a ckpt-0.index I tried to convert the saved model (saved in .pb format) using the TFLiteconverter But got Error. After a bit of google search, I found that we need a frozen inference graph for which we should use "export_tflite_ssd_graph.py" but I'm getting this error I don't know what to do.

This is the entire cm

[2020-08-17 18:18] ChowderII commented on #9087
#9026
@ravikyram
It seems this user is trying to do what I am trying to do as well. But we cannot perform `tf.keras.models.load_model` it crashes every time.

[2020-08-17 19:55] AMArostegui commented on #9033
Same problem here. Sadly, for now I'm back to TF1 until the scripts are available in the future.

[2020-08-17 22:34] ashiqimranintel commented on #9109
Previous error is resolve by unsetting proxy. It stuck showing following log.

INFO:tensorflow:Collective batch_all_reduce: 1 all-reduces, num_devices = 1, group_size = 2, communication_hint = AUTO, num_packs = 1
I0817 15:31:22.623811 139793949259584 cross_device_ops.py:1085] Collective batch_all_reduce: 1 all-reduces, num_devices = 1, group_size = 2, communication_hint = AUTO, num_packs = 1

Any

[2020-08-18 02:24] NFeruch opened #9121 "AttributeError: 'AutoTrackable' object has no attribute 'output_shapes'"
versions:
tensorflow - 2.3.0
conda - 4.8.4
python - 3.8.3
pip - 20.2.2

I am having an issue with getting a tensorflow python model to work jupyter. I am running a tutorial.ipynb file and only get one error toward the end

[code]

I do not know how to get past this and seeing as this is the second to last code segment to execute it is rather frustrating

[2020-08-18 02:31] zhaoxin111 commented on #8657
Hi, @gmt710 . Can you run the pretrained mobiledet cpu model provided by TF1 model zoo. I encountered the following error:

tensorflow.python.framework.errors_impl.NotFoundError: Op type not registered 'TFLite_Detection_PostProcess' in binary running on localhost.localdomain. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved grap

[2020-08-18 02:51] gmt710 commented on #8657
The environment：
[code]
I've tried gpu version, It's ok. Maybe you need to spend some time modifying the corresponding version of tensorflow.

[2020-08-18 05:24] gagika commented on #9084
Hi  roserustowicz,

Thanks for reporting it.
It looks like you are missing validation annotation JSON file (`instances_val2017.json`) in your evaluation.
In coco dataset it's under `annotations` folder in coco dataset. You can follow see more details in Mask-RCNN TPU [tutorial](https://cloud.google.com/tpu/docs/tutorials/mask-rcnn-2.x). If you are using for GPUs ignore TPU specific things.

[code]

[2020-08-18 06:37] Berbas95 commented on #9106
@agaosto Hi, it wasn't a problem at all. I didn't notice that I trained my network with the CPU (Because libcudnn wasn't installed and therefore no GPU was used). It took 25 mins for the first "loss log". I was just impatient. Now i train with the GPU and got my first loss log within 2 mins.

[2020-08-18 06:37] #9106 closed

[2020-08-18 06:50] Berbas95 opened #9123 "Tensorflow OD API - Tensorboard doesn't load new data"
### Prerequisites

### Please answer the following questions for yourself before submitting an issue.

[Yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
[ Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
[ Yes] I checked to make sure that this issue has not been filed already.

### 1. The entire URL of the file you

[2020-08-18 07:41] Berbas95 commented on #9065
PROBLEM IS SOLVED!

I'm a colleague of @Mengant29
Installation was not properly done. After using ...

# From within TensorFlow/models/research/
cp object_detection/packages/tf2/setup.py .
python -m pip install .

... again, everything worked fine.

[2020-08-18 08:28] dreamitpossible1 commented on #8641
I'm going to use ssdlite_mobilenet_v3_large_320x320_coco.config. This problem  occur.

[2020-08-18 08:31] yeyupiaoling commented on #8641
@dreamitpossible1 I don't know why.

[2020-08-18 08:35] dreamitpossible1 commented on #8641
tensorflow-gpu1.15,

[2020-08-18 08:37] yeyupiaoling commented on #8641
@dreamitpossible1 Me too. Maybe you can use Ubuntu to train.

[2020-08-18 08:40] dreamitpossible1 commented on #8474
Have you solved the problem, I have encountered the same problem?

[2020-08-18 08:41] dreamitpossible1 commented on #8641
thank you ,I try it

[2020-08-18 08:46] dreamitpossible1 commented on #8142
Have you solved the problem, I have encountered the same problem?

[2020-08-18 09:27] ravikyram commented on #9065
@Mengant29 @Berbas95

Please, close this thread if your issue was resolved. Thanks!

[2020-08-18 09:38] ravikyram commented on #9088
@young24

Request you to grant me the access for colab link.
It looks the issue is more specific to your system.Thanks!

[2020-08-18 09:42] ravikyram commented on #9099
@ouzzane

Which tensorflow version you are using?

Thanks!

[2020-08-18 09:48] cmxcn commented on #9028
Thanks for the response. I'll try the second one. 👍 Some performance degrading with a little dev efforts.

[2020-08-18 10:24] fclof commented on #8892
I have sucessfully fine-tuned faster rcnn and efficientdet. however when I am fine-tuning CenterNet HourGlass104 1024x1024, I find the same issue and my program will automatically get killed. I am training on a

[2020-08-18 11:01] ravikyram commented on #9118
@yahiya6006

Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f1a85a8be8c1fdc5ae09e5988c76ca8d/untitled261.ipynb) for converting ssd_mobilenet_v2_320x320_coco17_tpu-8" into tflite model.Thanks!

[2020-08-18 11:04] ravikyram commented on #9121
@NFeruch

What is the top-level directory of the model you are using?
Please, let us know which pretrained model you are using and share related code .Thanks!

[2020-08-18 12:19] aabbas90 commented on #8892
@fclof Are you observing very slow convergence on CenterNet? I have tried fine-tuning both efficientdet_d0 and centerNet_hourglass, efficientDet converges really well while CenterNet is not showing any signs of convergence. Thanks!

[2020-08-18 13:10] young24 commented on #9088
Hi Ravikyram, thank you for your time. I have granted you the access by your email address.
Just let me know if you need anything from me.

[2020-08-18 13:50] Jconn commented on #9115
this is happening with my data as well
![image](https://user-images.githubusercontent.com/7256767/90520988-01a17c80-e138-11ea-8f6f-7be18997ab1d.png)

I had been successfully training on the TF1 pipeline for the last 8 months with these tfrecords.
When I evaluated the TF2 pipeline to see if it was ready, I get extremely low loss in my training session, but terrible performance.

[2020-08-18 13:55] vighneshbirodkar commented on #8892
What batch size and learning rate are you using @aabbas90 ?

[2020-08-18 14:36] riti1302 commented on #8154
I also have the same issue. Did changing the crop size worked @xixixijie ?

[2020-08-18 15:35] thegendolz opened #9124 "[Deeplab] Cityscapes tutorial -> Windows fatal exception: Access violation"
I have an issue with the deeplab model that I am trying to fix for over 3 days now. I've followed the instructions on Github using the cityscapes dataset and checked multiple issues but none of them have the answer for my problem. Whenever I run the train.py with the command used in the cityscapes tutorial:

I get a Windows Fatal Exception: Access Violation when the program starts queueing (See be

[2020-08-18 17:45] roserustowicz commented on #9084
@gagika Thank you for the response. I'm working with the repository in a case _without_ the annotation JSON file. In this case, `masks` are never defined in the `groundtruths` dictionary.

[code]

[2020-08-18 17:51] Murkor commented on #7703
that works properly, thank you

[2020-08-19 02:23] weichen456 commented on #6752
Currently working on a forked version [https://github.com/weichen456/models](url)

[2020-08-19 02:24] volker42maru commented on #8505
Just wanted to ask if there is a release date for ELECTRA TF2. Seems, most of the code is already there, but there are no instructions. Thanks.

[2020-08-19 03:13] lxyzler commented on #9096
@ravikyram @jvishnuvardhan
Do you have any ideas,
or
what should I pay attention to while training without loading the pre training model

[2020-08-19 05:48] PeterKim1 opened #9125 "DELF GLDv2 build_image_dataset.py make error: KeyError: 'image_path'"
Hi.

I run `python3 build_image_dataset.py \
  --train_csv_path=gldv2_dataset/train/train.csv \
  --train_clean_csv_path=gldv2_dataset/train/train_clean.csv \
  --train_directory=gldv2_dataset/train/*/*/*/ \
  --output_directory=gldv2_dataset/tfrecord/ \
  --num_shards=128 \
  --generate_train_validation_splits \
  --validation_split_size=0.2`

 (https://github.com/tensorflow/models/tree/master/re

[2020-08-19 07:11] Thar0l commented on #8913
Hi!
I have the same issue with ssd_mobilenet_v2_keras model while trying to train on classic COCO dataset.

**Ubuntu 20.04 / Pythoin 3.8.2. / Tensorflow 2.3.0**

`
Traceback (most recent call last):
  File "object_detection/model_main.py", line 108, in <module>
    tf.app.run()
  File "/home/thar0l/.local/lib/python3.8/site-packages/tensorflow/python/platform/app.py", line 40, in run
    _run(main

[2020-08-19 08:59] Kosta404 opened #9126 "ValueError: ssd_mobilenet_v2 is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-19 08:59] Thar0l commented on #8913
PS: With `model_main_tf2.py` instead of `model_main.py` training starts normally.

[2020-08-19 09:06] ouzzane commented on #9099
Hello,
thank you for your reply ravikyram
I am using tensorflow 1.15
Best regards

[2020-08-19 09:15] thegendolz commented on #9124
I've solved the issue after hours and hours of trying, the answer is pretty simple. If you have any error related to this you most likely have the wrong paths. ${PATH_TO_CHECKPOINT} -> should always point to a model.ckpt file. In my case: C:\Users\Blank\Documents\master_thesis_deeplab\models_1\research\deeplab\models\model.ckpt . I've downloaded my model from this link: [http://download.tensorflow

[2020-08-19 09:15] #9124 closed

[2020-08-19 09:30] pourya-farzi commented on #7767
The unwinding path is just this line :
!pip install tensorflow==1.14
better than getting involved in convoluted procedure

[2020-08-19 09:33] Treemann opened #9127 "Mismatched mAP of TF2 object detection modelzoo"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

## 2. Describe the issue

I use TF-2.3.0 and follow your instruction

[2020-08-19 09:56] aabbas90 commented on #8892
@vighneshbirodkar : batch_size : 8, learning_rate : 5e-4
I have also tried `centernet_resnet50_v1_fpn_512x512` and also do not see convergence after 1 day of training on a relatively simpler dataset than COCO2017.  Specifically, the `object_center` loss almost always remain above 2.0, while for `efficientDet_d0` it goes below 1 already after one hour of training.

[2020-08-19 10:15] weichen456 commented on #6752
Currently working on a forked version [here](https://github.com/weichen456/models)

[2020-08-19 11:52] claverru commented on #8953
Any updates on this? I'm getting the same error with every TF2 model I've tried.

[2020-08-19 12:07] NHGJem commented on #9113
When I skip the RANSAC step, I get 72.3% mAP for the Oxford dataset, while the paper reports an 83.8% mAP. I considered "good" and "ok" as positives and ignored "junk".

Could I ask for clarification on how the paper's results were obtained?

[2020-08-19 13:36] ichitaka commented on #9118
@ravikyram The conversion is working that way but at least for me, this messed up my model.

[1 1 1 3]

Instead of the [1 320 320 1] I will get before conversion.

[2020-08-19 13:45] yahiya6006 commented on #9118
@ravikyram I did the procedure which you have mentioned but I'm getting the error something related to TOCO, I'm working on my local machine and I have not installed TensorFlow-nitely. is that the issue?

[2020-08-19 13:50] ichitaka commented on #9118
@yahiya6006 I could only get the gist to work using tf-nightly.

[2020-08-19 14:08] yahiya6006 commented on #9118
This is the code i used.
---------------------------------------------------------------------------------------------------
import tensorflow as tf
import os

PATH = os.getcwd()

converter = tf.lite.TFLiteConverter.from_saved_model(PATH,signature_keys=['serving_default'])
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.experimental_new_converter = True
converter.target_spec.support

[2020-08-19 15:11] ichitaka commented on #9118
Solution can be found here:
https://github.com/tensorflow/models/issues/9031

@yahiya6006 had the same issue, that was solved with tf-nightly.

[2020-08-19 17:33] aavishkarmishra commented on #7848
I would like to work on this issue, will anyone of you can help me navigate in this repository as I am new to this repo.

[2020-08-19 17:38] aavishkarmishra commented on #8707
Is this sill open, I would like to work on this.

[2020-08-19 17:42] aavishkarmishra commented on #9088
Hello, I am interested in this issue. Can anyone help me understand how can I resolve this problem?

[2020-08-19 18:41] etatbak opened #9128 "EfficientDet D7 vs NasNet Performance"
I use TensorFlow 2.2 and tested all EfficientDet models. It is written on the page that EfficientDet D7 has higher mAP than NasNet as 51.5 > 43. But in testing daha I saw EfficientDet has really lower accuracy then other models. Why NasNet is much higher then EfficientDet while it has lower mAP?
Here results can be seen:
Nas detection:
![cars_nas](https://user-images.githubusercontent.com/46399056

[2020-08-19 20:05] wathek commented on #9057
Actually, in `model_main_tf2.py` there is a small error in the command, it's written:

[code]

Just remove the -- in the first line:
[code]

[2020-08-19 21:47] wesleynf commented on #8887
Hello, Jacobsolawetz did you finish the evaluation code to EfficientDET ?

[2020-08-20 01:25] navganti commented on #8892
Hi everyone, I'm experiencing the same issue seen here.

### System information
OS Platform and Distribution: Ubuntu 18.04
TensorFlow installed from (source or binary): Installed using pip in a virtualenv.
TensorFlow version: tensorflow 2.3.0
Python version: 3.6.10
CUDA/cuDNN version: CUDA 10.1, CuDNN 7.6.5
GPU model and memory: RTX 2070 Super, 8GB VRAM
Object Detection API: latest - `models @ 40e

[2020-08-20 01:42] bestfriend815 commented on #6372
Hi. It doesn't work on windows? Please someone tell me the solutions.

I have these issues.
  File "C:\Users\Dell\AppData\Local\Programs\Python\Python38\lib\site-packages\absl\flags\_flagvalues.py", line 510, in _assert_all_validators
    self._assert_validators(all_validators)
  File "C:\Users\Dell\AppData\Local\Programs\Python\Python38\lib\site-packages\absl\flags\_flagvalues.py", line 531, in _

[2020-08-20 03:08] WindowsDriver commented on #8971
yes。

[2020-08-20 03:09] WindowsDriver commented on #8971
bug :
Run Deeplab tflite model run successfully
Run mobilenet ssd model success separately
Run two models serially in a loop, for example: first run the SSD model, check the picture, close the model; then run the Deeplab model, check the picture, close the model; run the SSD model, check, close, and run the Deeplab model.....
The program will stop at the place where the Deeplab model is initialize

[2020-08-20 04:08] ternaus opened #9131 "[Legal question] Is it legal to use pre-trained models from the repo for commercial purposes?"

[2020-08-20 04:12] louisquinn opened #9132 "Release SSDLite MobileDet GPU pretrained model as mentioned in the Object Detection API README"
We have released SSDLite with MobileDet GPU backbone, which achieves 17% mAP higher than the MobileNetV2 SSDLite (27.5 mAP vs 23.5 mAP) on a NVIDIA Jetson Xavier at comparable latency (3.2ms vs 3.3ms).
Along with the model definition, we are also releasing model checkpoints trained on the COCO dataset.

Hi all,

I can't seem to find the pre-trained SSDLite with MobileDet GPU model in both the TF1

[2020-08-20 04:14] ternaus commented on #9131
Similar question to:
* Facebook: https://github.com/pytorch/vision/issues/2597
* Intel: https://github.com/openvinotoolkit/open_model_zoo/issues/1433

[2020-08-20 04:49] udaylunawat commented on #6177
Did you resolve it by any chance?

[2020-08-20 07:10] limsijie93 commented on #8470
Is this now supported with the latest change to [exporter_main_v2.py](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter_main_v2.py)?

[2020-08-20 07:15] ravikyram commented on #9126
@Kosta404

Can you download the models from the below link and see if the issue still persists.
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
Thanks!

[2020-08-20 07:16] ttaahhaa commented on #5417
Awesome Thank very much

[2020-08-20 07:57] skn047 commented on #9132
I have the same question.
I guess ssd_mobiledet_edgetpu_coco in TF1 model zoo is that you're looking for.
Is this right?

[2020-08-20 08:19] aabbas90 commented on #8892
UPDATE: Even though the loss is not decreasing much as per my expectations, however, the evaluation metrics on test data still look very promising therefore I think this is no longer as issue.

[2020-08-20 08:20] ttaahhaa commented on #5264
1- open the terminal in model/research and copy this:
`protoc --python_out=. .\object_detection\protos\anchor_generator.proto .\object_detection\protos\argmax_matcher.proto .\object_detection\protos\bipartite_matcher.proto .\object_detection\protos\box_coder.proto .\object_detection\protos\box_predictor.proto .\object_detection\protos\eval.proto .\object_detection\protos\faster_rcnn.proto .\object

[2020-08-20 08:37] ttaahhaa commented on #8291
try in ../models/research `pip install tf-models-official`

[2020-08-20 08:46] louisquinn commented on #9132
@skn047
`ssd_mobiledet_edgetpu_coco` seems to be explicitly a "Pixel4 Edge TPU model" and its mAP differs from what is written in the README (27.5 vs 25.9/25.6).

It is built from `class SSDMobileDetEdgeTPUFeatureExtractor(SSDMobileDetFeatureExtractorBase)` here:
https://github.com/tensorflow/models/blob/master/research/object_detection/models/ssd_mobiledet_feature_extractor.py#L533

I'm asking ab

[2020-08-20 09:05] vighneshbirodkar commented on #8892
@navganti Which checkpoint did you download for CenterNet and what is your exact checkpoint type and checkpoint path ?

[2020-08-20 09:15] yahiya6006 commented on #9118
Thank you all for your support. I solved the problem.
-----------------------------------------------------------------------------------------------------------------------
solution: I have both python 3.7 and 3.8 installed on the machine. I trained my model using the TensorFlow object detection API. when I tried to convert it to a tflite model I was getting the error related to TOCO Converter.
A

[2020-08-20 09:15] #9118 closed

[2020-08-20 09:34] CarrierDiagnostics commented on #9057
Hey

 yeah I migrated to ubuntu, tried everything again and the noticed that but it lead me to another error:

raise ValueError("The `global_batch_size` %r is not divisible by "
ValueError: The `global_batch_size` 1 is not divisible by `num_replicas_in_sync` 2

Ubuntu
Python 3.8.2
TF 2.3.0

So is the last error caused by those two extra "--"?

[2020-08-20 09:53] Moritz-Weisenboehler commented on #9052
I had a similar problem due to too many visualized training images and suggested a possible solution:
#9019.

[2020-08-20 10:12] Moritz-Weisenboehler commented on #9115
This seems to be a problem of visualization and not a training issue. I had a similar problem due to a different image data scaling: range (-1, 1) instead of (0, 1) as required by [tf.summary.image](https://www.tensorflow.org/api_docs/python/tf/summary/image#arguments).

I suggested a possible solution in #9019.

[2020-08-20 12:18] ravikyram commented on #8965
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-08-20 12:18] #8965 closed

[2020-08-20 12:53] yahiya6006 commented on #9118
I'm still getting the error for export_tflite_ssd_graph.py and I had converted my model to tflite by skipping this step. It's not working. any solutions for this. Will it work if i skip this sep if yes then please help me out with this

[2020-08-20 13:18] ichitaka commented on #9118
@yahiya6006 Depends on what you intend to do with the file. You already have your finished tflite file, so no need to run export_tflite_ssd_graph.py and you can load the model if you have a compatible TensorFlow version.

[2020-08-20 14:21] navganti commented on #8892
@vighneshbirodkar

The checkpoint I used was  `centernet_hg104_1024x1024_coco17_tpu-32.tar.gz`. I did one experiment with the checkpoint type as `detection`, and one with it as `fine_tune`. The checkpoint path I used was `/my/storage/location/ckpt-0`.

[2020-08-20 14:25] vighneshbirodkar commented on #8892
As I mentioned in https://github.com/tensorflow/models/issues/8892#issuecomment-671983240, `fine_tune` should work. What is the error you are getting ? Could you paste/link it there ?

[2020-08-20 14:33] navganti commented on #8892
The error I'm getting is the following: `ValueError: Shapes (1,) and (90,) are incompatible`.

With the following warning: `WARNING:tensorflow:A checkpoint was restored (e.g. tf.train.Checkpoint.restore or tf.keras.Model.load_weights) but not all checkpointed values were used. See above for specific issues. Use expect_partial() on the load status object, e.g. tf.train.Checkpoint.restore(...).expec

[2020-08-20 14:34] navganti commented on #8892
The `.config` file I'm using is not the one that was included in the `centernet_hg104_1024x1024_coco17_tpu-32 folder` - I modified the one from `configs/tf2`

[2020-08-20 15:53] mgon5170 opened #9133 "Training custom dataset ssd_resnet101_640x640, TF 2.2.0 giving ValueError: Tensor's shape is not compatible with supplied shape"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-20 15:54] #9061 closed

[2020-08-20 15:55] mgon5170 commented on #9061
Closed issue to reopen it with new details. I have updated all files in the new issue opened:
Training custom dataset ssd_resnet101_640x640, TF 2.2.0 giving ValueError: Tensor's shape is not compatible with supplied shape #9133

[2020-08-20 15:58] ichitaka commented on #9033
@AMArostegui how did you get it to work on TF1 ? Sadly I have the same issue right now with TF2 but a TF1 conversion is also not working on TF Lite for Android.

[2020-08-20 16:03] srjoglekar246 commented on #9033
@ichitaka Are you using the [tflite instructions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) for ODAPI? There is an intermediate step for exporting a TFLite-friendly version of the detection model.

[2020-08-20 16:32] AMArostegui commented on #9033
Well, obviously I had to change _fine_tunning_ model chekpoints to one of those available in TF1 Zoo and use TF1 legacy scripts to create the model.

Apart from that, I had some difficulties to setup TF1 Python virtualenv, but when everything was done, I had no problem following the instructions in: https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android

[2020-08-20 17:01] navganti commented on #8892
Here's the full traceback @vighneshbirodkar. Thanks so much for your help, I really appreciate it!

[code]

[2020-08-20 17:08] vighneshbirodkar commented on #8892
@navganti Notice that the problem is happening and `ckpt.restore(latest_checkpoint)`. This is not loading the fine tune checkpoint, but rather a latest checkpoint from your training directory. My guess is you did some amount of training with num_classes=90, and then switched the config to be num_classes=1. I would suggest you use a different model directory and try again.

[2020-08-20 18:37] vito-filo commented on #8886
i got this error when trying to export tflite model with `export_tflite_ssd_graph`.
anybody figured out?

[2020-08-20 18:54] navganti commented on #8892
@vighneshbirodkar I see that, but unfortunately I have no other checkpoints in my `MODEL_DIR`, and have done no prior training.

 Within my `MODEL_DIR` I have the following files:
- `centernet_hg104_1024x1024_coco17_tpu-32.config`
- `checkpoint`
- `ckpt-0.data-00000-of-00001
- `ckpt-0.index`

I believe this is the correct folder structure recommended [here](https://github.com/tensorflow/models/blo

[2020-08-20 19:04] navganti commented on #8892
You're not wrong though in that this previous checkpoint was trained with 90 classes, and now I'm trying to use 1.

In my config file I've specified:
- `fine_tune_checkpoint_version: V2`
- `fine_tune_checkpoint: /path/to/centernet_hg104_1024x1024_coco17_tpu-32/ckpt-0"`
- `fine_tune_checkpoint_type: "fine_tune"`

Is there anything else I need to do in order to specify that I want to fine tune a mod

[2020-08-20 19:14] vighneshbirodkar commented on #8892
Your model dir should be empty when starting training. Note that in the directory structure example we say "created by training job". We periodically write the weights to model dir, in case training is interrupted and we have to resume. Because you had placed pre-trained checkpoint files in model dir, the script things that it is a previously stored checkpoint and tries to restore from it (and fai

[2020-08-20 22:04] rsandler00 commented on #9132
Yes, same question! The sample config file for it exists here: `https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssdlite_mobiledet_gpu_320x320_coco_sync_4x4.config`, but there are no weights for it in the model zoo [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md)! (even though there are pretraine

[2020-08-20 22:59] navganti commented on #8892
...yikes. That makes a lot of sense, definitely feel a little silly. Thank you @vighneshbirodkar, so sorry to take up your time with that.

All of the models that I was tested out before are now training.

[2020-08-21 01:51] SebastienLinker commented on #9131
First question is: In which country?

[2020-08-21 06:35] moein1924 commented on #6372
Can you write your command line you are using?

[2020-08-21 10:28] DanilKonon opened #9136 "metrics are not displayed during training"
Hi

I install tensorflow 2.2, and use efficientdet_d2_coco17_tpu-32.
I managed to start training this model with this command:
[code]

But while training it outputs only loss without metrics evaluated on eval set as it was in Tensorflow Object Detection 1.
[code]

How can I see my metrics?

Also, in train folder there are events file. They are initialised in the beginning, and then nothing is happ

[2020-08-21 11:34] XudongWang97 opened #9137 "Try to insert codes and save the training model, meet [TypeError: 3 has type int, but expected one of: bytes, unicode]"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2020-08-22 00:59] rsandler00 opened #9138 "How to know if I am correctly loading checkpoint?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-08-22 08:33] wwdok opened #9139 ""eager_few_shot_od_training_tf2_colab.ipynb" doesn't show detection result"
I am trying to run **eager_few_shot_od_training_tf2_colab.ipynb**, but in the end, there is no detection result comes out, please check my notebook : https://colab.research.google.com/drive/1bZIkJ-wnMNqwSjQt8KMzF7dAvHRNedJk#scrollTo=WcE6OwrHQJya

![image](https://user-images.githubusercontent.com/43233772/90952316-2463c600-e495-11ea-9a50-9032aa08e7f4.png)