[2017-12-05 22:26] vladmos commented on #2822
We don't support old versions (at least before 1.0) and encourage updating configs to be compatible with the most recent version. We introduce many breaking changes to make the API as stable as possible once Bazel reaches 1.0. Also at some point Tensorflow or other libraries you use may become incompatible with 0.5.4, then it won't be possible to build the project at all.

I can help with updating

[2017-12-05 22:30] tatatodd commented on #2881
@dr4b Do you have any comments on this?

[2017-12-05 22:33] tyler-lanigan-hs commented on #466
Has anyone figured out how to export the im2txt trained model as a TensorFlow SavedModelBundle to be served by Tensorflow Serving?

[2017-12-05 23:14] gunan commented on #2822
@av8ramit which dockerfile does the syntaxnet tests run with?
We can update the bazel version on the dockerfile to help with this issue.

[2017-12-05 23:19] dr4b commented on #2881
@SaintNazaire -- I'm trying to figure out what you'd like to do here?  We'd be happy for you to contribute documentation in one way or another, but it's unclear what you're proposing -- do you want to contribute documentation to Github, or to tensorflow.org, or to some separate thing?  What would you need approvals to do?  Are you trying to generate some sort of API documentation for this?  Is it

[2017-12-05 23:28] av8ramit commented on #2822
I have a PR, but I'm not sure if this is the right move after @vladmos 's comments. I believe that is the file in question though. @gunan

https://github.com/tensorflow/models/pull/2962

[2017-12-06 01:02] reedwm commented on #2961
/CC @jch1, can you fix this?

[2017-12-06 03:02] snownus commented on #1879
@sanbeng  Can check the tensorflow version, when I update to tensorflow1.4, does't have the error.

[2017-12-06 03:04] snownus commented on #1879
@sanbeng , can check the issue and solution here.
https://github.com/tensorflow/tensorflow/pull/9792#issuecomment-344129365

[2017-12-06 03:09] sanbeng commented on #1879
@snownus I have update to tensorflow1.4,the error still

[2017-12-06 03:14] snownus commented on #1879
@sanbeng  need to update codes following https://github.com/wodesuck/tensorflow/commit/6c1ab6d34213057f5d70d194094ff48137815ae3

[2017-12-06 03:15] snownus commented on #1879
@sanbeng  ^Decode cannot be recognized. pls follow wodesuck/tensorflow@6c1ab6d

[2017-12-06 03:16] snownus commented on #1879
@sanbeng  but still have other issues:

Invalid argument: input_max_range must be larger than input_min_range.
	 [[Node: SecondStagePostprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/ClipToWindow_1/Area/mul_eightbit/SecondStagePostprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/ClipToWindow_1/Area/sub_1/quantize = QuantizeV2[T=DT_QUINT8, mode="MIN_FIR

[2017-12-06 03:23] sanbeng commented on #1879
@snownus  ok,thanks very much,I will tray it ,but why the quantized model cannot run in windows

[2017-12-06 03:26] sanbeng commented on #1879
@snownus I quantized the model in ubuntu used gpu,I want run the quantized model on windows

[2017-12-06 04:56] kisnami commented on #2121
use protoc version 3,4 it will be fixed your problem....

[2017-12-06 06:37] kitterive opened #2965 "How to input the tensor to saved model in window"
**I want to use saved mode in windows, but serving can't run on window, so I build tensorflow.dll, and linked it  ,  below is my code, but when I run bundle.session->Run, there are error:

`
#include <string>
#include <fstream>
#include <iostream>

#include "main.h"
#include "tensorflow/cc/saved_model/loader.h"
#include "tensorflow/cc/saved_model/tag_constants.h"
#include "tensorflow/core/public/s

[2017-12-06 07:10] #2965 closed

[2017-12-06 07:11] kitterive commented on #2965
problem solved.

[2017-12-06 08:34] lemo2012 opened #2966 "word2vec error : tensorflow.python.framework.errors_impl.NotFoundError: /root/project/embed/tf/optimized/word2vec_ops.so: undefined symbol: _ZTIN10tensorflow8OpKernelE"
I ran the word2vec example and got the error.

Environment:
(1) centos7
(2) python3
(3) cpu

Any solution for this problem?  Thank you in advance!

[2017-12-06 09:53] Rulen9987 commented on #2930
i have the same problem . but after i install protobuff 3.4 , the error message become :Invalid argument . can anyone give a suggestion?

[2017-12-06 11:17] scotthuang1989 commented on #2944
@sguada  any suggestion? I am not familiar with how to read papers, I am trying to read all papers from inception v1 to v4, and also the related code, but any suggestions on this issue will make me more effective.

[2017-12-06 13:07] geun commented on #1811
Any updates ~!?

[2017-12-06 13:30] smarzban commented on #1811
I also tried retraining whole model using TF1.2 and it would still through seg fault as above. export_inference_graph.py seems to be incompatible with TF1.2.
@Himanshu141, it would be great if you can give me more details. Which commit did you try while  extracting the model with TF1.2

[2017-12-06 15:29] mencnerpavel commented on #2958
I also have this issue.

Following instructions and end with WARNING:root:Invalid example: *.xml, ignoring.

Resulting files pet_val_with_masks.record and pet_train_with_masks.record has 0 bytes size.

[2017-12-06 15:55] aahusarenko commented on #2871
Hi @sunjinghua, were you able to solve this issue? I am getting the same Errno when training mnist_saved_model, but have not been able to identify a solution.

[2017-12-06 16:51] drpngx commented on #2882
@nealwu who maintains this code?

[2017-12-06 16:57] drpngx commented on #2942
What part of the code are you referring to?

[2017-12-06 16:58] #2950 closed

[2017-12-06 16:59] drpngx commented on #2958
@nealwu are you familiar with this? Who maintains this?

[2017-12-06 20:08] blake-varden commented on #2958
You can fix this by changing the lines 160 in create_pet_tf_record.py from:

[code]
to
[code]
the mask stacking needs to be done outside the for loop and in an if statement

[2017-12-06 20:52] airmak opened #2968 "Error accessing WORKSPACE file while running "bazel build -c opt lm_1b/""
When I try to build the code using **bazel build -c opt lm_1b/...**, the shell is giving me an output saying that the build could not be completed successfully because the WORKSPACE file was not found. Any help would be really appreciated, I put the exact code below. I am running this on a GitBash shell on Windows.

### Source code / logs

snmsa@DESKTOP-NGNM9FL MINGW64 /c/users/snmsa/desktop/GitHu

[2017-12-06 23:04] nguyeho7 commented on #2883
Yes, I think they do if you just reuse the weights. I was just wondering what kind of config the frozen models use and how it differs from the previous iterations.

[2017-12-07 01:15] waterson commented on #2882
@drpngx yours truly :)

[2017-12-07 01:28] blake-varden commented on #2926
I too am running into this issue.  Can we use a different resizer function for faster-rcnn?

[2017-12-07 04:51] glhfgg1024 opened #2970 "Why not use tf.layers.batch_normalization?"
Hi Dear Sir/Madam,
In the following file, why don't you use the `tf.layers.batch_normalization`? But for other functions, many `tf.layers` API routines have been used. Does this mean the `tf.layers.batch_normalization` has anything wrong? Thanks.

https://github.com/tensorflow/models/blob/5a5d330539dff11eef79ca2e716fb477baf13cf9/tutorials/image/cifar10_estimator/model_base.py#L183

[2017-12-07 05:06] stecklin commented on #2478
I am getting the exact same error.
@pankajkgupta I tried using `bazel-bin/inception/download_and_preprocess_imagenet /data/my-data-dir` as you suggested, the error doesn't change.

**OS:** CentOS 7.3

[2017-12-07 06:21] pankajvshrma opened #2971 "Print filenames in a batch while training through ssd Object Detection"
I am having a error  'Tensor is Nan' while training ssd mobilenet. so I want to print filenames in a current batch while training a ssd mobilenet on my own dataset to know which images have incorrect bounding boxes.

[2017-12-07 06:22] pankismart commented on #2971
I want to print filenames in a current batch while training a ssd mobilenet on my own dataset.

[2017-12-07 07:14] ronyuzhang commented on #2947
@reedwm  sorry I don't explain away。 solution as follows：
 I set batch size = 32 on training step. and I have to set batch size =32, or I'll make a mistake on evaluation step.

[2017-12-07 09:01] mencnerpavel commented on #2958
Thank you, look like it solve the problem.

After suggested update TFRecords are generated as expected.

[2017-12-07 09:03] nagrajmss commented on #2019
Hi did you get this working @Yaredoh

[2017-12-07 09:57] loretoparisi opened #2972 "MobileNet models for Text classification"
Given the new tensorflow lite and new [upcoming](https://techcrunch.com/2017/12/06/qualcomms-snapdragon-845-focuses-on-ai-vr-and-battery-life/) mobile cpu hardware support for it, it would great to add pre-trained [MobileNet](https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md) models for binary (spam,ham) or multi-label Text Classification (CNN or Word2Vec), Senten

[2017-12-07 10:34] zihuaweng commented on #2752
I got the same error when using 1.2 version, and get rid of it by updating to 1.4 version. Now everything works fine.

[2017-12-07 10:43] nguyeho7 opened #2973 "Object detection: ms coco label map missing classes"
I got a key error during detection, because the class 30 was missing. After looking at the ms_coco_labelmap.pbtxt, I noticed there are only 80 classes in total, but it still goes to 90. So 10 classes are missing (12, 29, 30, 45, 66, 68, 69, 71, 83).

[2017-12-07 10:47] zihuaweng commented on #1972
I got an error running the code that @wendal offer under 1.2 but updating to 1.4 works fine for me.

[2017-12-07 11:07] nguyeho7 commented on #2973
Nevermind, found the answer at #1719

[2017-12-07 11:07] #2973 closed

[2017-12-07 12:26] nagrajmss commented on #1703
ilenetV1/Conv2d_9_depthwise/BatchNorm/moving_mean] not available in checkpoint
WARNING:root:Variable [MobilenetV1/Conv2d_9_depthwise/BatchNorm/moving_variance] not available in checkpoint
WARNING:root:Variable [MobilenetV1/Conv2d_9_depthwise/depthwise_weights] not available in checkpoint
WARNING:root:Variable [MobilenetV1/Conv2d_9_pointwise/BatchNorm/beta] not available in checkpoint
WARNING:root:

[2017-12-07 12:26] nagrajmss commented on #1703
how do you get this fixed

[2017-12-07 13:46] nguyeho7 commented on #2972
MobileNets are convolutional network architectures for image classification, IIRC. You can of course make your own small recurrent or fully connected network for those tasks and push them onto your phone, but I'd say Word2Vec by itself is already too large to fit into most phone memory.

[2017-12-07 14:38] loretoparisi commented on #2972
@nguyeho7 thanks for the clarification, this is a very challenging task. In fact regarding Word2Vec, Mikolov et al. used a [quantization](https://arxiv.org/abs/1612.03651) approach for Word2Vec embedding models, that should fit at runtime in recent phone.
By example the FastText language identification model (172 languages) features a 98.5% of accuracy with the standard model (subwords embedding)

[2017-12-07 15:06] ppgiannak commented on #2922
Update:
I think i may have figured out a way for this, i need your help to verify that this is correct.

Inside **faster_rcnn_meta_arch.py** i have created a function:

[code]

Then inside **exporter.py** i added the following lines:

[code]

[2017-12-07 16:30] AmitSoli commented on #2957
Hi @reedwm, thanks for tagging @s-gupta .
I still can't figure out a solution that doesn't cause other issues when I apply it.

By the way, I was trying to find which TensorFlow version you were using but couldn't.  Could it be related to the version?

[2017-12-07 16:31] ybsave commented on #2926
From my reading through the codes, it is not a just simple modification task, it relates to many functions. That concat not supporting more than 1 sample is just one of them. This is because that Faster R-CNN default setting use resizer that preserves the width/height ratio of images; this leads to different sizes of samples after resizing, and therefore cannot be simply processed together like fi

[2017-12-07 17:45] drpngx commented on #2968
It looks like it says "access denied". Please verify your file permissions.

[2017-12-07 17:47] drpngx commented on #2970
No, what happens is that we first stage code in contrib, and then when it's stable, we move to the core API (in that case `tf.layers`). We don't always update all the code. Thank you for pointing that out.

@nealwu @MarkDaoust could we update the tutorial code?

[2017-12-07 17:53] jlamypoirier opened #2977 "Can't restore the given checkpoint for inception v3 in research/slim"
I am trying to use the given pretrained inception v3 model in research/slim, but the weights don't match

[code]

[code]

Looking at the variables they indeed don't match
[code]
For the checkpoint a subsample is:

[code]

And for the saver:
[code]

Looks like a mismatch with the biases and the batchnorms. I am using tensorflow version 1.4.0 and models commit 69cf6fca2106c41946a3c395126bdd6994d36e6

[2017-12-07 18:05] airmak commented on #2968
How can I do that? @drpngx
Thanks for your help

[2017-12-07 18:08] drpngx commented on #2968
[code]
?

[2017-12-07 18:37] reedwm commented on #2947
@ronyuzhang, can you fill out the issue template that appears when you click [New issue](https://github.com/tensorflow/models/issues/new)? Thank you.

[2017-12-07 18:45] reedwm commented on #2977
@sguada can you resolve this?

[2017-12-07 18:46] reedwm commented on #2971
/CC @jesu9

[2017-12-07 19:11] reedwm commented on #2957
@AmitSoli unfortunately, I don't know anything about the model or have ever run it so I cannot comment.

/CC @jcdavidson can you also take a look or ping @s-gupta?

[2017-12-07 19:30] airmak commented on #2968
It won't even grant me access to do that, the output I get is:

type : Access to the path 'C:\users\snmsa\desktop\github\lm_1b\WORKSPACE' is denied.
At line:1 char:1
+ type C:\users\snmsa\desktop\github\lm_1b\WORKSPACE
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : PermissionDenied: (C:\users\snmsa\...lm_1b\WORKSPACE:String) [Get-Content], Unauthorized
   Access

[2017-12-07 19:46] waterson commented on #2882
@drpngx, @nealwu I am happy work on this issue, but it would be very helpful for me if someone (@tomahawklin ?) could produce a test case for me to work from... thanks!

[2017-12-07 23:06] mosab-r commented on #2942
I want to add age regression to the output of object detection api, I could solve my problem, but would you help me how should I change the code to add age regression?
If tensorflow api is not suitable for this purpose , would you help me to find a suitable code to modify?

[2017-12-07 23:26] mosab-r opened #2979 "What is Loss and global step?"
Can some body explain for me about:
1- global step in the output of object detection API:
     Is global step the iteration? does it refer to the batch?
     and what is the difference of global step/sec and sec/step?

2- Loss:
    Whats is exactly loss?
     Is loss sum of localization loss and classification loss?

![photo_2017-12-08_02-55-46](https://user-images.githubusercontent.com/30953765/3

[2017-12-07 23:28] #2979 closed

[2017-12-07 23:45] visethchapman commented on #2194
I got this error when running eval.py on pet_val.record generated by create_pet_tf_record.py

2017-12-07 15:07:10.069475: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.2 instructions, but these are available on your machine and could speed up CPU computations.
2017-12-07 15:07:10.069513: W tensorflow/core/platform/cpu_feature_guard.cc:45] Th

[2017-12-08 00:01] ghost opened #2980 "what is global step and loss?"
Can some body explain for me about:
1- global step in the output of object detection API:
Is global step the iteration? does it refer to the batch?
and what is the difference of global step/sec and sec/step?

2- Loss:
Whats is exactly loss?
Is loss sum of localization loss and classification loss?
![photo_2017-12-08_02-55-46](https://user-images.githubusercontent.com/34356270/33744768-2689f612-dbc

[2017-12-08 00:03] #2945 closed

[2017-12-08 15:05] dumkar commented on #1811
@smarzban I have exactly the same issue. Tried to export model with TF 1.2, but fails.

Would be great to have a solution, or get Cloud ML support for TF 1.2

[2017-12-08 15:27] llpassarelli commented on #2861
some error on export_inference_graph.py (tf1.4, cuda9)

File "export_inference_graph.py", line 119, in <module>
    tf.app.run()
  File "/home/leo/.local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 129, in run
    _sys.exit(main(argv))
  File "export_inference_graph.py", line 115, in main
    FLAGS.output_directory, input_shape)
  File "/home/leo/tf/models/research/object_

[2017-12-08 19:39] saurabhpanwar67412 commented on #2709
Traceback (most recent call last):
  File "ptb_word_lm.py", line 527, in <module>
    tf.app.run()
  File "C:\Users\saurabh\Anaconda2\envs\tensorflow\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "ptb_word_lm.py", line 454, in main
    % (len(gpus), FLAGS.num_gpus))
ValueError: Your machine has only 0 gpus which

[2017-12-08 20:49] David-Levinthal commented on #2709
This is a different issue.
I believe you have either built, installed a cuda build of TF. You need one
built for a CPU. Possibly with MKL.

On Fri, Dec 8, 2017 at 11:40 AM, saurabhpanwar67412 <
notifications@github.com> wrote:

[2017-12-08 20:52] ebrevdo commented on #2709
Or you just run with the extra command line argument

 --num_gpus=0

?

On Fri, Dec 8, 2017 at 12:51 PM, David Levinthal Ph.D. <
notifications@github.com> wrote:

[2017-12-08 21:06] sahil210695 commented on #2557
Used Slim for the same and Got it working, Changed the Optimiser to SGD

[2017-12-08 21:09] #2557 closed

[2017-12-08 21:42] eren-v commented on #1789
I see your posts after I started the training. Now it is around 30000s and it will continue until 200000. Can I terminate the training session and export trained model without any error ?

[2017-12-09 01:11] xzhaos commented on #77
found this one: https://github.com/xzhaos/miscellaneous/wiki/Install-SyntaxNet-on-Windows-10

[2017-12-09 01:33] drpngx commented on #2972
More examples sounds like a good idea.

/CC @nealwu @tfboyd

[2017-12-09 01:50] drpngx commented on #2968
You need to set the permissions using `setacl` or right-clicking on properties. Sorry, I need to close this since this is not a tensorflow question.

[2017-12-09 01:50] #2968 closed

[2017-12-09 05:11] isaacdchan commented on #2031
@cyberphantom there's one in site packages and the other is in models/research. Choose the second one.

[2017-12-09 08:13] saurabhpanwar67412 commented on #2709
i can't able to understand anything . whats going on . because i am new here . let me tell you the complete process . i have downloaded and install anaconda and the tensorflow packages to run the recurrent neural network code given on the tensorflow website . and when i execute the code using anaconda tensor flow enviornment and then the output what i got was above . i will resolve it later . can

[2017-12-09 08:14] saurabhpanwar67412 commented on #2709
https://www.tensorflow.org/tutorials/recurrent
here is the link and we have to  execute the command in "run the code" section.

[2017-12-09 08:25] yh0903 commented on #466
Has anyone meet the problem of UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte?

Traceback (most recent call last):
  File "/Users/hanyu/Downloads/models-master2/research/im2txt/im2txt/run_inference.py", line 153, in <module>
    im2txt()
  File "/Users/hanyu/Downloads/models-master2/research/im2txt/im2txt/run_inference.py", line 140, in im2txt
    image

[2017-12-09 09:04] saurabhpanwar67412 commented on #2709
i can't able to understand anything . whats going on . because i am new here . let me tell you the complete process . i have downloaded and install anaconda and the tensorflow packages to run the recurrent neural network code given on the tensorflow website . and when i execute the code using anaconda tensor flow enviornment and then the output what i got was above . i will resolve it later . can

[2017-12-09 10:57] Alykoff commented on #2594
It works for me.
Copy font to folder with script
[code]
and in script:
[code]

[2017-12-09 11:39] VastoLorde95 commented on #2267
We are done with the bulk of the implementation of YOLO, i.e., the meta architecture and the "feature extractor". But there are some things which we are not sure how to go about implementing.

Specfically we are having issues with loading pretrained weights, and the API's pipeline that automates the entire training process.

Anybody wants to join us on this feature?

[2017-12-09 13:07] scotthuang1989 commented on #2958
same problem here and It is easy to spot and fix. I notice that there is no test case for create_pet_tf_record. Is it intentional? test case should be a good way to avoid this kind of problem.

[2017-12-09 13:49] rky0930 commented on #2267
@VastoLorde95 Hi, I'm glad to hear that there is much progress in the implementation.
I have a lot of interest in YOLO with Object Detection API and plan to use in my company work.
Let me join your work. I would like to help you as much as possible.

[2017-12-09 13:53] VastoLorde95 commented on #2267
@rky0930 Awesome, let's chat over email. You can find my email id on my profile!

[2017-12-09 17:42] yixinshi commented on #1811
@smarzban @geun @brunnoattorre @jstypka Cloud ML Support for TF 1.2 has been supported for several months already. The support for TF 1.4 will be available in next few DAYs. Stay tuned!

[2017-12-09 18:01] David-Levinthal commented on #2709
did you add the --num_gpus=0
flag to the invocation?
you are getting the most recent version of PTB, thus you will also have to
do the edits to the code specified by withme6696 near the top of this bug
report to get it to run.
I did what he said and it works
and I suspect you need to be using TF R1.4 to have the new APIs that are
invoked

On Sat, Dec 9, 2017 at 1:04 AM, saurabhpanwar67412 <notific

[2017-12-09 18:13] narsingh123 commented on #1760
(tensorflow) C:\Users\Lenovo\tensorflow\model>python object_detection/dataset_tools/create_pet_tf_record.py \
C:\Users\Lenovo\tensorflow\model\object_detection\utils\dataset_util.py:75: FutureWarning: The behavior of this method will change in future versions. Use specific 'len(elem)' or 'elem is not None' test instead.
  if not xml:
Traceback (most recent call last):
  File "object_detection/data

[2017-12-09 18:36] saurabhpanwar67412 commented on #2709
ok .  Thank you so much ! but i can't able to still resolve it  . i will resolve it later . could you please execute the code for me . and tell me the outcomes of recurrent neural network using tensorflow .. because i have to submit it to the company where i applied for internship . please help me if you could do it ! this internship really matters for me and last chance to get internship for next

[2017-12-09 19:36] drpngx commented on #2958
Feel free to contribute a test case, that would be great.

On Sat, Dec 9, 2017, 5:08 AM scott huang(黄) <notifications@github.com>
wrote:

[2017-12-09 20:50] David-Levinthal commented on #2709
you have to figure this out.

On Sat, Dec 9, 2017 at 10:36 AM, saurabhpanwar67412 <
notifications@github.com> wrote:

[2017-12-09 22:41] dat-ai commented on #2267
HI @VastoLorde95 , still need a hand? I can assist with the YOLOv2 architecture implementation. Once we figured out how to port the weight on YOLO, YOLOv2 should be similar (I suspect except for batch normalization).

Thanks.

[2017-12-10 04:58] slyviacassell opened #2983 "ImportError:no module named "data_utils""
Hi, I'm a new tensorflower. I download the tutorial code with command: git clone https://github.com/tensorflow/models. When I use the code in the tensorflow/models I meet a problem like this: no module named "data_utils". But actually the file has already exited in the directory /usr/local/lib/pyhton3.5/dist-packages/tensorflow/models/tutorials/rnn/translate/. The error information is as follow:
!

[2017-12-10 10:52] LogicHolmes commented on #466
I don't know why I send the command:
bazel-bin/im2txt/train   --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256"   --inception_checkpoint_file="${INCEPTION_CHECKPOINT}"   --train_dir="${MODEL_DIR}/train"   --train_inception=false   --number_of_steps=1000000

there have a error:
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensor

[2017-12-10 21:26] Nassimbelmecheri commented on #2246
i have this error can someone please help me with it :

D:\Python\Python35\models-master\research\object_detection>D:\Python\Python35\python train.py --logtostderr --train_dir=training\ --pipline_config_path=training\ssd_mobilenet_v1_pets.config
Traceback (most recent call last):
  File "train.py", line 163, in <module>
    tf.app.run()
  File "C:\Users\USER\AppData\Roaming\Python\Python35\site-pa

[2017-12-10 21:29] Nassimbelmecheri opened #2984 "tensorflow.python.framework.errors_impl.NotFoundError: Can not get size for"
[code]

[2017-12-11 01:26] kiitosu opened #2985 "export_mobilenet.sh failed with protoc terminated"
### System information

- **What is the top-level directory of the model you are using**:research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:'v1.4.0-19-ga5

[2017-12-11 02:20] drpngx commented on #2984
Could you fill out the template?

It looks like it's looking for a path that doesn't exist. Could you try to find out what path it is?

[2017-12-11 04:22] MartinSnow commented on #2830
I got the same error information. Have you fixed it?

[2017-12-11 05:00] qweas120 commented on #2527
This issue also happened to me. It seems that the following biases are missing in the checkpoint of **resnet_v2_50** downloaded from https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models.
'''
resnet_v2_50/block1/unit_1/bottleneck_v2/conv1/biases
resnet_v2_50/block1/unit_1/bottleneck_v2/conv2/biases
resnet_v2_50/block1/unit_2/bottleneck_v2/conv1/biases
resnet_v2_50/block

[2017-12-11 10:12] amirjamez opened #2986 "Feature Request: Exporting .meta file of an already pre-trained model (.ckpt) in tf.slim"
Using `TF.slim` and the pre-trained checkpoints I can evaluate the performance of a model. Also, using exporting inference graph I can freeze the model including its weights. However, I would like to find a way to export .meta file of a model as well. How can I do that using only the given the .ckpt file? Say on the inception_v3 case.
I guess something has to be changed in the  [export_inference_g

[2017-12-11 10:32] odgiv opened #2987 "Evaluation stuck"
Hello, I using my own data to train from scratch with faster_rcnn_resnet101 model config. Training part goes well, but evaluation part stuck from the start and never showed result. It looks like:

![eval_stuck](https://user-images.githubusercontent.com/18517999/33826835-870f7520-de66-11e7-8506-2676b41aa135.PNG)

I tried using older version of api that I downloaded few months ago, on the same datas

[2017-12-11 10:35] Nassimbelmecheri commented on #2984
the path d\udc92acc\udce8s sp\udce9cifi\udce9  not found

[2017-12-11 10:42] huachao2017 opened #2988 "How to generate checkpoint file from my own model?"
I had changed model architecture of object detection api. When I changed my model, I don't not how to generate the file of "model.ckpt.data-00000-of-00001", then I can train the model.

I have asked this question at the stackoverflow. I ask it here too because this function is useful.

BTW, I want to change the nms algorithm of the fasterrcnn to solve overlapping problem.
Thanks in advance.

[2017-12-11 11:40] zwhinmedia opened #2989 "Convert object detection model to Coreml model，someone has tried it out?"
Hi,  I have used the object detection api to retrain my own detection model and I have deployed it to an android device. The app runs well.

Now I want to deployed my model to an ios devices and know that CoreML is a deeplearning framework for ios.

So, has someone tried it out  to convert tensorflow model to coreml model?

[2017-12-11 12:13] thinkin3d commented on #2966
I also get the same error when trying to run word2vec_optimized.py with a g++ built word2vec_ops.so.  Attempting to use tensorflow binaries from both pip installed tensorflow-gpu, and building from source with branch r1.4 (in separate virtualenvs).

Environment:
- Ubuntu 16.04
- Python 3.5.2
- g++ 5.4.0

[code]
[code]
[code]
[code]

Please advise!

[2017-12-11 12:18] thinkin3d commented on #2966
Building without the `-D_GLIBCXX_USE_CXX11_ABI=0` flag makes no difference either, same error.

[2017-12-11 14:13] DavidWiesner commented on #2903
I also think this is a bug in the implementation in `train_image_classifier.py`. There is also a [comment in this thread](https://github.com/tensorflow/models/issues/1428#issuecomment-322732761) mention this problem. The calculation of decay steps in  [`train_image_classifier.py#L239`](https://github.com/tensorflow/models/blob/master/research/slim/train_image_classifier.py#L239) do reflect the num

[2017-12-11 15:56] Harry-Zhi opened #2991 "Can I make custom changes to the pre-trained models for my own purposes?"
Since I want to do some other stuff like RGB_D detection, I want to add extra customs layers and hack some features (e.g., input layer) to receive my own data format. And then also use the weights in the pre-trained models to initialize the weights in my own network.

For example, I may design my own 55-layer network called NewNet, which has the same latter 40 layers with the COCO pretrained ResNe

[2017-12-11 18:20] derekjchow commented on #2991
There's two questions in this post.

1) If you're looking to define your own model, we have a [doc on getting started with that](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/defining_your_own_model.md). In a nut shell, you will need to sub-class an SSD or Faster RCNN feature extractor class with your new network.

2) If you're looking for an example on how to re

[2017-12-11 18:24] derekjchow commented on #2980
1. global_step is the iteration (so global_step 50 means we're processing the 50th batch). global step/sec and sec/step represent the same thing (one is the inverse of the other).

2. Correct. loss represents the sum of localization and classification losses.

[2017-12-11 18:52] angersson commented on #2991
Thanks Derek!

If you have any questions past Derek's suggestions, please ask on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since this isn't a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 18:52] #2991 closed

[2017-12-11 18:56] angersson commented on #2989
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 18:56] #2989 closed

[2017-12-11 19:08] angersson commented on #2987
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 19:08] #2987 closed

[2017-12-11 21:03] angersson commented on #2983
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-11 21:03] #2983 closed

[2017-12-11 21:30] jzhaosc commented on #342
@sguada  Actually regularization loss is added to every tower.

[2017-12-11 21:39] angersson commented on #1881
This issue appears to be resolved, although it looks like the discussion has to do with something that could be clarified in documentation or contributed as a QoL improvement -- if anyone feels strongly about this, please feel free to put together a PR. Thanks!

[2017-12-11 21:39] #1881 closed

[2017-12-11 22:15] dr4b commented on #2881
Is there some reason that the docs we already have on Github and/or on Tensorflow.org, which have an automated process for generating the site, doesn't suffice for what you want to do?  We'd be happy to have you write some docs here on Github or to help you integrate your ideas into tensorflow.org somehow (which are generated from the docs in tensorflow/docs_src -- see https://www.tensorflow.org/c

[2017-12-12 01:09] angersson commented on #2985
Did you run `./configure` in the tensorflow source directory?

[2017-12-12 01:36] kiitosu commented on #2985
Yes I did.

[2017-12-12 01:55] angersson commented on #2985
I couldn't replicate this in an Ubuntu docker container with Bazel 0.5.4 nor 0.8.0.

[code]

Do the above commands also fail for you?

[2017-12-12 02:09] hkxIron opened #2992 "Is there should add a lock to global_step"
https://github.com/tensorflow/models/blob/395a6004400a6da0caa0a63a62d888f771706376/tutorials/embedding/word2vec.py#L217
1.For many threads update the global_step,a lock is needed.I have read the minize code , it didn't lock the step in the code.
2. global_step should be set trainable=False

[2017-12-12 03:14] nealwu commented on #2970
Re-assigning to @protoget. James could you update `tf.contrib.layers.batch_norm` in your example to `tf.layers.batch_normalization`?

There are also a few other likely convertible contrib calls, such as `tf.contrib.data` or `tf.contrib.learn.Experiment`.

[2017-12-12 03:18] nealwu commented on #2942
Tagging @tombstone @jch1 for `object_detection`.

[2017-12-12 03:22] nealwu commented on #2784
Assigning to @rsepassi.

[2017-12-12 03:26] nealwu commented on #2972
FYI in case you haven't already seen it, we do have a MobileNet implementation [here](https://github.com/tensorflow/models/tree/master/research/slim) (search the page for "MobileNet").

[2017-12-12 03:26] nealwu commented on #2958
Assigning @tombstone @jch1 for object_detection.

[2017-12-12 03:41] huachao2017 commented on #2988
set the fine_tune_checkpoint='', from_detection_checkpoint=false

[2017-12-12 03:41] #2988 closed

[2017-12-12 06:34] rhaertel80 commented on #2739
FWIW TF 1.4 is now available on CloudML Engine.

[2017-12-12 08:57] shakugan0shana opened #2994 "official/wide_deep/ I got the error when training"
As I do the "python wide_deep.py",the training has started. However,not as soon,the training is stopped  by error.
Here is the error and full log:

INFO:tensorflow:Create CheckpointSaverHook.
2017-12-12 16:46:34.313548: I C:\tf_jenkins\home\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compile

[2017-12-12 09:12] bendidi commented on #2267
@VastoLorde95 also interested in assisting !

[2017-12-12 09:57] monomon opened #2995 "Invalid argument: assertion failed: [maximum box coordinate value is larger than 1.010000: ]"
### System information
- **What is the top-level directory of the model you are using**: `object_detection`
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes (but using object_detection extensively)
- **OS Platform and Distribution**: Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)

[2017-12-12 10:27] bhack commented on #2793
@afathi3 Can you post a reference here when there will be some news? Also if the plan will be postponed. Thanks

[2017-12-12 11:15] loretoparisi commented on #2972
@nealwu thanks! It would be awesome to have in TF-slim text based tasks, since it is not so easy to translate/port the image based cnn tasks into rnn/cnn based classification tasks to run on mobilenet.

[2017-12-12 11:41] monomon commented on #2994
This sounds like a problem with your data. What data are you using?

In either case, you should turn to [stack overflow](https://stackoverflow.com/questions/tagged/tensorflow) for such questions. The issue tracker is only for bugs and feature requests.

[2017-12-12 15:48] SnShine commented on #2903
I'm not so sure. As a work around, users can modify `epoches_per_decay` by dividing it with your number of clones to follow the same decay pattern when using one clone.

[2017-12-12 17:42] miaowu16 opened #2996 "trying to convert nasnet tensorflow model to caffemodel，cell_stem_1/1x1 output is a little different"
I'm trying to convert nasnet tensorflow model to caffemodel. The cell_stem_0 block's output is right, but when it came to cell_stem_1/1x1, the output feature map of my caffemodel is a little different form the tensorflow model. All the 22 feature maps's bounding pixels are different, but the others are right.Will a 1x1conv cause this difference? Is there any difference between the 1x1conv in cell_

[2017-12-12 18:07] woodsja commented on #2930
@Rulen9987 I also have the same or a similar issue.

I have tried using proto 3.4 and 3.5 to compile the .proto files individually however it appears there are dependencies between each proto file. I believe the dependencies are enumerated in the BUILD file but I'm not clear on how to use this file to control the order that proto builds

[2017-12-12 18:42] ethanj commented on #2740
Looks like the newer versions of protobuf adds file=DESCRIPTOR to _descriptor.FieldDescriptor method calls. I grabbed protoc-3.3.0-osx-x86_64 from https://github.com/google/protobuf/releases and it generates compatible stuff.

[2017-12-12 20:28] afathi3 commented on #2793
We are working on it. It is going through the final processing.

[2017-12-12 21:52] andersskog commented on #2890
The following changes fixed this problem for me:

Make sure your yaml version is 1.4, eg:
[code]

In setup.py, change line 7 to:
[code]

In object_detection/utils/visualization_utils.py, line 25 (after import matplotlib.pyplot as plt) add:
[code]

Finally, in line 103 of object_detection/builders/optimizer_builder.py, change
[code]
to
[code]
Hope this helps!

[2017-12-12 22:18] andersskog commented on #2739
Thanks @glc12125 for your help. Will post the current solution for this.

Now that TF 1.4 is available on CloudML Engine, the following changes fix this problem:

Make sure your yaml version is 1.4, eg:
[code]

Change setup.py to the following:
[code]

In object_detection/utils/visualization_utils.py, line 24 (before import matplotlib.pyplot as plt) add:
[code]

In line 184 of object_detection/eva

[2017-12-12 22:46] crizzy9 commented on #2861
Getting the same error. Any solutions?

[2017-12-13 00:22] bhack commented on #2793
Thank you. Will It include recurrent approach like Recurrent Segmentation for Variable Computational Budgets or it is another Google team?

[2017-12-13 00:32] afathi3 commented on #2793
That is a different project.

[2017-12-13 01:24] andydavis1 commented on #2996
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 01:24] #2996 closed

[2017-12-13 01:27] andydavis1 commented on #2994
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 01:27] #2994 closed

[2017-12-13 01:53] andydavis1 commented on #2992
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 01:53] #2992 closed

[2017-12-13 06:41] snownus commented on #1879
@sanbeng I am not sure whether the system will affect the quantized model.

[2017-12-13 07:04] Abhijit-2592 opened #2999 "object detection Training becomes slower in time. Uses more CPU than GPU as the training progresses"
### System information
- **What is the top-level directory of the model you are using**:research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:yes (just VGG-16 implementation for Faster RCNN)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow version (use command below)**:1.4.0
- **CUDA/c

[2017-12-13 09:09] robin4690 commented on #2888
I'm still having issues. Have attached a screenshot below, any ideas? Running this on Windows 10 (Macbook Pro bootcamp).
<img width="673" alt="tensorflow" src="https://user-images.githubusercontent.com/33973449/33930576-4245cba4-e052-11e7-9ddd-be44af03d5c9.PNG">

[2017-12-13 09:21] kerolos opened #3000 "Global step time is fluctuating randomly between steps."
# Describe the problem:

I used this model "ssd_mobilenet_v1_coco_11_06_2017" to be able to classify and localize my own "3 objects". My problem is that the global step takes sometimes between 0.5 sec/step to 2 sec /step and sometimes takes 400sec/step to 1200 sec/ step. the computer finished only 700 steps within 20 Hours, which is really weird.
Also, something I realized, 97% of the Ram is occup

[2017-12-13 09:26] snnn opened #3001 "Please fix the links in models/research/syntaxnet/g3doc/universal.md"
parse.sh no longer exists.

[2017-12-13 09:59] svanbodegraven commented on #1853
https://github.com/Microsoft/VoTT

[2017-12-13 16:31] mordka commented on #1990
After running cloning models, running `protoc object_detection/protos/*.proto --python_out=.`  and exporting PYTHONPATH  it still failed but changing the import helped:
**```from object_detection.utils import label_map_util```**

[2017-12-13 17:19] gustavomr opened #3002 "Object Detection - inception v3 and inception v4 fasterrcnn coco"
Why we don't have a pretrained (inception v3 and v4) trained on coco on this page if v3 and v4 has better results than v2?

The list is on:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

[2017-12-13 19:20] angersson commented on #3001
@calberti, can you look at this?

[2017-12-13 19:22] angersson commented on #2999
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-13 19:22] #2999 closed

[2017-12-13 21:22] gbolcer commented on #1021
--verbose_failures --config=monolith

There is some discrepancy between the dynamic libraries and the static ones that I found comments for.  It helped me get past the linking issue.

[2017-12-13 23:57] angersson commented on #2995
@ebrevdo, any thoughts on this? Is there someone else who would know better?

This looks like ultimately a user-side error, but one that has confused enough people that it deserves some attention.

[2017-12-14 01:13] skyw opened #3003 "Object Detection - coco_metrics is not defined"
pipeline.config in faster_rcnn_resnet101_kitti_2017_11_08 defines eval metric "coco_metric". But it is not defined in evaluator.py, only the following 3 are defined

EVAL_METRICS_CLASS_DICT = {
    'pascal_voc_metrics':
        object_detection_evaluation.PascalDetectionEvaluator,
    'weighted_pascal_voc_metrics':
        object_detection_evaluation.WeightedPascalDetectionEvaluator,
    'open_ima

[2017-12-14 03:02] kiitosu commented on #2985
Sorry for replaying so late.
And thank you for your information.
Unfortunately, the commands also fail.

But I created a new environment, from installing ubuntu16.04 64bit.
And try the commands, then I succeed to invoke export_mobilenet.sh.

So may be some kind of python or related package would cause the error.

[2017-12-14 07:59] Aisuko commented on #2930
Same issue on my windows10 and anaconda3

[2017-12-14 08:03] monomon commented on #2995
Actually, now I see that https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md explicitly points out that normalized coordinates should be used.

I apologize for the churn, having this in the documentation is definitely sufficient. Please close this issue.

[2017-12-14 08:03] #2995 closed

[2017-12-14 08:46] MarkSonn commented on #2481
Just want to bump this issue. Do we have a solution to this yet? Any help would be greatly appreciated :)

[2017-12-14 08:48] yeephycho commented on #2648
Hi there,
I created a repo. and well documented the slim version of nasnet. You can find the repo. [here](https://github.com/yeephycho/nasnet-tensorflow).
Follow the markdown, you would be able to finetune and train from scratch nasnet on your own dataset.
Many thanks to Google for open source such a good architecture!
Fork or any comments are highly welcomed!

Yours Yeephycho

[2017-12-14 09:06] Amitayus commented on #1286
@KaneFury Thank you for your solution. Now I have a new problem. For example, I have 100 evaluation data, spitted into 4 batches, first three with batch size 30, and last with shape 10. When calculate first three batches, it is ok. However when it comes to last batch (batch size is less than before three batches), error occurs.
[code]
Look forward your help!

[2017-12-14 09:31] KaneFury commented on #1286
Hey,

I need to see more code to solve this, but as I can remember the batch were
loaded constantly with new images and the last batch size were loaded with
other images from the dataset (till the last batch was full).
If you want to use smaller size for the last batch you need to set >>
allow_smaller_final_batch=True,<< as the parameter for your batch.
Docs:
https://www.tensorflow.org/api_docs/py

[2017-12-14 13:51] SuperMegaPlantet opened #3006 "Model in Object Detection Demo is not downloadable"
When I run this[ demo ](https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb) the model is not downloadable.

When I visit this link(http://download.tensorflow.org/models/object_detection/), it shows

[code]

[2017-12-14 14:43] shanYanGuan commented on #2278
If I want concat images in 'depth' ,not concat images in 'channel'.What should I do?Could you help me? @minhnhat93

[2017-12-14 21:17] #3002 closed

[2017-12-14 21:18] andydavis1 commented on #3002
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2017-12-14 21:25] andydavis1 commented on #2986
@sguada Can you comment on this feature request?

[2017-12-14 21:36] amirjamez commented on #2986
@sguada, on the `tf.slim` models webpage, there are [pre-trained models](https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models) ready to use for training/evaluations. These files are `.ckpt`, they lack the .meta file (architecture of the model also referred to as `.pbtxt`). Although, using they provided python scripts on that page, they are fine to use directly for trai

[2017-12-14 21:47] andydavis1 commented on #3006
@martinwicke Can you take a look?

[2017-12-14 22:48] angersson commented on #3003
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-12-14 22:50] nealwu commented on #1286
Re-assigning to @sguada who maintains this code.

[2017-12-15 00:57] soumy94 opened #3010 "Cannot start the training job on google cloud from local machine"
I  have all the data, pipleline config files up on the bucket, and the yaml file on local machine. I'm running this command from my local machine:

gcloud ml-engine jobs submit training object_detection_`date +%s` --job-dir=gs://{BUCKET NAME}/training --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz --module-name object_detection.train --region us-central1 --config  /##/##/mod

[2017-12-15 01:01] jafetmorales commented on #2597
You need to do two things. First, upgrade tensorflow by doing:

    pip install --upgrade tensorflow

Second, if you are not using a GPU, then execute the script with 0 GPUs as follows:

    python ptb_word_lm.py --data_path=/home/priyankit/data/validsrc2-hi --model=small --num_gpus=0

[2017-12-15 01:44] soumy94 commented on #3010
Fixed issue in reference to [this](https://medium.com/google-cloud/object-detection-tensorflow-and-google-cloud-platform-72e0a3f3bdd6). But now I get a new error:

gcloud ml-engine jobs submit training object_detection_0.1 --job-dir=gs://drone_data/training --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz --module-name object_detection.train --region us-central1 --config /home

[2017-12-15 02:08] trohit920 commented on #2267
Hello @VastoLorde95  any updates on API ?  Many folks are waiting:)

[2017-12-15 05:18] #3010 closed

[2017-12-15 06:54] JulienSiems commented on #2267
Same here! Do you still need some help?

[2017-12-15 08:22] huxiaoman7 commented on #403
@argman
Hi，I saw your problem by chance，it seems that this "slim" is not the slim in the "slim.get_model_variables()", you can see the definition  in [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/python/ops/variables.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/python/ops/variables.py )
,this function is to gets the list

[2017-12-15 09:33] twmht commented on #2883
@nguyeho7

in the sample folder (https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_coco.config), they use an `image_resizer` to resize images to 300 x 300, but in the document (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md), they use 600x600 as input.

Do you know how to check `image

[2017-12-15 09:41] blaster666 commented on #2773
Now it can visible with tensorflow 1.4.1

[2017-12-15 09:47] Onofrio310817 opened #3011 "NotFoundError: NewRandomAccessFile failed to Create/Open: data\mscoco_label_map.pbtxt : The system cannot find the path specified. ; No such process"
Hello everyone,
I run code of Tensorflow object detection but I had issue when run this part of code to load label map:

# ## Loading label map
# Label maps map indices to category names, so that when our convolution network predicts `5`, we know that this corresponds to `airplane`.  Here we use internal utility functions, but anything that returns a dictionary mapping integers to appropriate stri

[2017-12-15 09:52] GustavZ commented on #2267
Any News?
Would also offer help.
Currently working on Yolo with the Jetson Tx2 and really would like to get it work with the object detection API :)=

[2017-12-15 10:00] SaintNazaire commented on #2881
For Tensorflow.org my understanding is that it concerns the core system tensorflow/tensorflow not tensorflow/research/models.

Regarding Github it is just hosting. It doesn't document automatically codes and manage workflow especially the documentation vs. code versioning and synching as well as notation consistency. The basic principle is that if code changes, documentation has to be revised : ev

[2017-12-15 10:00] #2881 closed

[2017-12-15 11:05] bendidi commented on #2267
or you could point us to the unfinished fork/branch , and let us play with it :)

[2017-12-15 11:32] susiwen8 opened #3012 "Cannot import a string_int_label_map_pb2"
I'm trying to install TensorFlow Object Detection on my PC which is Windows10, after finished all the installation steps, I tied to run tutorial program, but I told me there is a import problem

ImportError: cannot import name 'string_int_label_map_pb2'

I have run the

protoc object_detection/protos/*.proto --python_out=.

My python is 3.6.2, protoc version is 3.4.0

[2017-12-15 11:49] lg0killer commented on #2930
With windows try running it separately. I had the same issue but running it one by one seems to work

[2017-12-15 13:02] law826 commented on #2739
It's working great now with those fixes. Thanks!

[2017-12-15 14:46] KevinZhao commented on #2267
I am on Jetson Tx2 with YOLO v2, hope it work on Tensorflow

[2017-12-15 14:47] andersskog commented on #2915
Found this same error while trying to use SSD mobile net trained for pascal dataset.

[2017-12-15 18:15] martinwicke commented on #3006
There's no public access to browse download.tensorflow.org -- all links should link directly to files. This is a quirk of the GCS file system and its permissions.

@sguada -- can you edit the docs to point directly to files?

[2017-12-15 18:17] martinwicke commented on #3006
Well, in fact, looking at the code, this should work fine, since the code only looks at files. @SuperMegaPlantet you cannot browse the directory, sorry.

[2017-12-15 18:17] #3006 closed

[2017-12-15 19:32] wmy198200 opened #3013 "Keras training with multiple GPU and traceback the error "AttributeError: 'NoneType' object has no attribute 'update'""
I have tried my code on a CPU only computer and it runs correctly. But after I changed into GPU version, an error " AttributeError: 'NoneType' object has no attribute 'update' "  is popped out. Does anyone help me to solve it?

Part of my source code is:
[code]

And then I got the following Tracback information:

[code]
The platform I used is Windows 10. The version of tensorflow is 1.4.0, and the

[2017-12-15 20:35] jwnsu opened #3014 "Object detection API : faster_rcnn_nas out-of-memory issue"
System information

What is the top-level directory of the model you are using: **Object Detection**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 16.04**
TensorFlow version (use command below): **1.4**
CUDA/cuDNN version: **cuda 8.0**
GPU model and memory: **GeForce GTX 1080 Ti x4**

Describe the problem

trained on own dataset with nearly identical pipeline config (changed im

[2017-12-15 21:00] angersson commented on #3013
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-15 21:00] #3013 closed

[2017-12-15 21:13] angersson commented on #3011
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-15 22:31] #3011 closed

[2017-12-15 22:50] andydavis1 commented on #3012
@derekjchow Can you comment on this one?

[2017-12-15 22:57] andydavis1 commented on #3014
Since we don't have access to your dataset, can you reproduce this with a public data set (maybe coco)?

[2017-12-15 23:04] jwnsu commented on #3014
Thx. Will try Pascal VOC dataset, which is similar in size to see if same issue exists.

[2017-12-16 05:41] susiwen8 commented on #3012
Sorry, I run the command without python at front. When I add "python", It works

[2017-12-16 06:11] Aisuko commented on #2930
This is my solution:
Head to the [protoc releases page](https://github.com/google/protobuf/releases) and download the protoc-3.4.0-win32.zip, extract it, and you will find protoc.exe in the bin directory.

Move this to models/research folder [tensorflow model project](https://github.com/tensorflow/models/)

Next,you can use the protoc command like

    protoc object_detection/protos/*.proto --pyth

[2017-12-16 08:04] creativesh commented on #2836
@sguada
befor start training ,clear your traindir
it may solve your problem

[2017-12-16 09:47] mcorange1997 commented on #2930
protoc-3.5.0-win32.zip is the source of the problem. I read everything in the protoc manuel but didnt figure the solution. but when I changed to protoc-3.4.0-win32 and put the protoc.exe into the research folder(in which I have object_detection folder). Run cmd  `protoc object_detection/protos/*.proto --python_out=.` in the research folder and then no errors is reported, meaning successful compila

[2017-12-16 11:22] sanbeng commented on #1879
@snownus  I did as you said ,but the new error when I run the quantized model:

emg@emg-200:~/tf$ sudo /home/emg/anaconda3/bin/python ./detectionImage.py
Traceback (most recent call last):
  File "./detectionImage.py", line 24, in <module>
    tf.import_graph_def(od_graph_def, name='')
  File "/home/emg/anaconda3/lib/python3.5/site-packages/tensorflow/python/framework/importer.py", line 338, in im

[2017-12-16 21:24] yaroslavvb opened #3017 "Official MNIST example should avoid huge constants"
Right now MNIST model loads dataset as a tf.constant
https://github.com/tensorflow/models/blob/edb6ed22a801665946c63d650ab9a0b23d98e1b1/official/mnist/mnist.py#L65

This makes graphdef > 1 GB in size. That causes slowness when trying to visualize graph/dump graphdef. Better to load dataset into tf.Variable

[2017-12-17 05:46] wantongtang commented on #1736
@StephenLee2016 solved  this problem

[2017-12-17 12:58] #3012 closed

[2017-12-17 16:21] kerolos commented on #1732
hello @kiariendegwa,  When i tried to change to 'input_binary=True' as you mensioned i got this error:
TypeError: names_to_saveables must be a dict mapping string names to Tensors/Variables. Not a variable: Tensor("BoxPredictor_0/BoxEncodingPredictor/biases:0", shape=(12,), dtype=float32).

I used export_inference_graph.py in the beginning, after that i used (I used export_inference_graph.py inste

[2017-12-17 19:19] JunshengFu commented on #2771
I am running this code in Ubuntu16.04.
At file `visualization_utils.py`, with following commands, I only get the default font size. It seems that there is no 'arial.ttf'.

[code]

[2017-12-17 19:33] ellamunde commented on #202
is there any update on this? I still get `no such file ...` on line `"${DOWNLOAD_SCRIPT}" "${SCRATCH_DIR}" "${LABELS_FILE}"`

Please kindly help or is there any workaround for this?
Thanks!

[2017-12-17 21:01] frederictost commented on #2771
Hello, you are right, under Ubuntu I've just had some issues and fixed the code, see the Pull Request #2805
Feel free to ask if any question.

[2017-12-18 03:31] scotthuang1989 commented on #202
yes. This script is still broken. But I guess it is not easy to fix given the time it needs to run the scripts.

[2017-12-18 03:40] Viveco commented on #1992
from slim.deployment import model_deploy

[2017-12-18 03:42] Viveco commented on #2088
from slim.deployment import model_deploy

[2017-12-18 03:42] Viveco commented on #1992
from slim.deployment import model_deploy

[2017-12-18 04:50] kannan60 opened #3019 "Google Cloud Platform Training Issue"
System information
OS Platform and Distribution: Windows 10 64 Bit
TensorFlow installed from (source or binary): binary
TensorFlow version :1.4.0
Python version 3.5.2(v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55)
GPU: nVidia GeForce 755M 2GB
CPU: Intel x64-64 Intel Core i5-4200M CPU @ 2.50Ghz, 8GB memory

### Describe the problem
I could train the model locally. The accuracy was decent but I wanted

[2017-12-18 06:06] cuncheng opened #3020 "about multi-hot encoding"
i have a feature like a={0.5,0.1, 0, 1, 1, 0, 0.2.0.2} a[2:5] is a vector created by multi-one-hot, how to make  feature embeddings about this vector

[2017-12-18 06:07] CrazyAlan commented on #2540
Also met this problem, even though I disabled the GPU, and let the eval.py script run on CPU. Any progress so far?

[2017-12-18 08:06] GustavZ commented on #2267
@KevinZhao  Hey i am working on the same.
How far are you with your topic? Just running YoloV2 via Darknet on the Jetson?
How many Fps do you get?
Do you wanna connect and exchange experiences?

[2017-12-18 08:27] kannan60 commented on #3019
Edit: Fixed it by using `gcloud ml-engine jobs submit training object_detection_188001 --job-dir=gs://weeddetection/train --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz --module-name object_detection.train --region us-central1 --config object_detection/samples/cloud/cloud.yml -- --train_dir=gs://weeddetection/train --pipeline_config_path=gs://weeddetection/data/ssd_mobilenet

[2017-12-18 08:47] ZhangYiyangKevin commented on #2740
@KimmoOjala hello,i have finished most steps following what you said. But the screen appeared a frame noted that python stopped to work when i ran:python object_detection/builders/model_builder_test.py. I have no idea about it, could you give me some solutions? My python version is 3.5

[2017-12-18 09:12] wazzy commented on #343
@pranay360 @xtr33me  Hello.

I need some help regarding evaluation of textsum model, which I am training on **GPU 1080ti** from over 3 days now, with total **1M** records in training, **200k** in validation and **68k** in test. Training _avg_loss after 240k_ iteration is in _between 3 - 2_ i.e. with smoothing of 0.96 in tensorboard.

I did not evaluated the model when I started training. I started

[2017-12-18 11:23] kaustav1996 opened #3021 "Running train.py in multiple CPU s and GPU s."
I have a workstation provided to me from my college which has 2 CPU s and 2 GPU s . Is it required to modify anything in train.py to run the training job using all these CPU s and GPU s ( so that training can become super fast) ?
![specs](https://user-images.githubusercontent.com/21956467/34103755-e9b54486-e413-11e7-95ec-117bbe001a6b.jpg)

[2017-12-18 13:54] kerolos commented on #1988
Hello Mr. @dnlglsn , could you please explain why we need the variables folder when we save the model?
 Is it useful to use it for C++ or when we import a model to OpenCV c++?

[2017-12-18 15:34] fortu1tus commented on #2915
Hi @oldschool69,

Can you tell us, how did other meta architectures work out?

[2017-12-18 15:58] seppestaes commented on #2803
Having exactly the same issue running locally with GeForce GTX 980TI. Not a problem AWS EC2 K80 though. Any update by any chance? Thx

[2017-12-18 22:12] TartySG opened #3022 "Setting feature_columns vocabulary list default values is counter-intuitive"
Not Code-Breaking, but definitely a nice QoL :

While using tf.feature_column.categorical_column_with_vocabulary_list, e.g.

[code]

it makes little sense to set the default value as the integer of the position of the default value in the list. There should be an option that allow the user to set the value as a string instead, like this example :

[code]

Especially when you set up the code to ext

[2017-12-18 22:50] mahyaar commented on #2861
I resolved it by removing "optimize_tensor_layout=True" from exporter.py line 71. It looks like a tensorflow bug but for now that worked.

[2017-12-19 02:16] 5amuraix opened #3025 "inception_resnet_v2 transfer learning not running on notebook GTX 1070"
### System information
- **What is the top-level directory of the model you are using**:
**slim**

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
**no**

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
**MS Windows 7**

- **TensorFlow installed from (source or binary)**:
**Binary**

- **TensorFlow version (use command below)**:

[2017-12-19 06:08] llpassarelli commented on #2861
tks mahyarr, "optimize_tensor_layout=True" from exporter.py line 71.  solved!!!

[2017-12-19 07:26] mitulgiri commented on #1071
hello sir, When i tried below line in Ubuntu 16.04 LTS command prompt then i found the respective error:

Code:
python guess.py --model_type inception --model_dir /home/mitul/rude-carnie/checkpoints/gender/inception/21936 --filename /home/mitul/Downloads/faceimages/jika.jpg

Error:
Executing on /cpu:0
selected (fine-tuning) inception model
/home/mitul/rude-carnie/checkpoints/gender/inception/21936

[2017-12-19 07:44] wazzy commented on #692
@xtr33me

I tried training the model with 1 million articles and 200k validation articles and 68k testing articles. I trained the model upto 320k steps now. Avg loss of training is as follows.
running_avg_loss: 2.536291
running_avg_loss: 1.118988
running_avg_loss: 4.608115
running_avg_loss: 2.832480
running_avg_loss: 1.037991
running_avg_loss: 1.361013
running_avg_loss: 3.633044
running_avg_loss:

[2017-12-19 13:07] prathaprpm commented on #2930
I installed protoc-3.4.0-win32.zip and this error was fixed. run cmd

`[PATH TO PROTOC.EXE]/protoc object_detection/protos/*.proto --python_out=.`

[2017-12-19 13:17] mattryles opened #3026 "Feature Request - more than 100 detections"
Hi,

When running the inference the output is only ever 100 num_detections.

Would it be possible to make the max configurable?

Edit - If it's not possible, as a workarounds would either of these be possible:
1.) Split my label map into 4 and run the inference 4 times with each part of the quarter?
2.) Train 4 separate models with a quarter of the object classes each?

[2017-12-19 14:41] oldsqlwnb commented on #1817
try to pass your batch to a tensorf before using it in your network.
I had the same issue, when I passed the labels_batch directly from the queue into the `softmax_cross_entropy` function. I used to pass flattened 2048*2048 as binary labels into this function. With 8 GB Ram, it ran quickly out of memory, but as I passed the labels into a` rf.Variable `and used `tf.reshape ` to flatten the image, t

[2017-12-19 18:02] shaginthecloud commented on #2169
Cirrus Clouds are thin, wispy clouds that form high in the atmosphere as
their water vapor freezes into ice crystals. Cirrus clouds are a principal
cloud type.

From 1Weather for Android. http://bit.ly/1WeatherEmail123
Q

W.0@={.[..]👉…🔎⚙️
🚩😑🇺🇸🔄🔙📸>💬For:txt+ 💬↩️ .com@ hello
  received_1057046647720029-ANIMATION.gif
<https://drive.google.com/file/d/1CzJE0SlkaTp8Z0peSOTs6YcWx2Ow1_TW/view?usp=drivesdk>

[2017-12-19 18:31] Steven-N-Hart commented on #2977
+1

[2017-12-19 20:43] michaelisard commented on #3020
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-19 20:43] #3020 closed

[2017-12-19 20:53] michaelisard commented on #3022
@ispirmustafa can you comment on this?

[2017-12-19 22:04] ispirmustafa commented on #3022
Good idea. We can add it into contribution list.

[2017-12-20 01:50] douxiao opened #3030 "IOError: ('http error', 302, 'Found', <httplib.HTTPMessage instance at 0x7f6ed7dc40e0>)"
**I was running error object_detection_tutorial.ipynb，The following error occurred when I executed the download model：**
IOErrorTraceback (most recent call last)
<ipython-input-16-f921d2932261> in <module>()
      1 opener = urllib.request.URLopener()
----> 2 opener.retrieve(DOWNLOAD_BASE + MODEL_FILE, MODEL_FILE)
      3 tar_file = tarfile.open(MODEL_FILE)
      4 for file in tar_file.getmembers(

[2017-12-20 02:30] douxiao commented on #3030
I know that this error occurs because rotoc object_detection / protos / * has not been properly compiled. Proto --python_out =.
export PYTHONPATH = $ PYTHONPATH: `pwd`:` pwd` / slim

[2017-12-20 05:11] michaelisard commented on #3026
Which model are you using specifically?

[2017-12-20 07:04] mattryles commented on #3026
Thanks for the response, Faster RCNN at the moment.

[2017-12-20 08:32] izzrak opened #3031 "Training object detection model with multiple training sets"
I didn't find any description in the document shows I can assign multiple input path. Is there any method to train a model with two or more datasets without converting them into one big tfrecords file?

[2017-12-20 08:45] monomon commented on #3031
+1, I was planning on building a script for this, but didn't think to ask if it's built-in already.

[2017-12-20 09:00] neuhzhj2012 commented on #2720
Maybe you can try this [one](https://github.com/yeephycho/nasnet-tensorflow)

[2017-12-20 09:02] neuhzhj2012 commented on #2648
Go to this [page](https://github.com/yeephycho/nasnet-tensorflow). It may be  helpful to you.

[2017-12-20 11:35] snownus commented on #1879
@sanbeng , I haven't come across such error. Still now, I cannot run because of tensorflow innerside bugs.

[2017-12-20 14:28] mattryles commented on #3026
I think I have found the culprit, I'll retrain and go from there.

second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.0
        iou_threshold: 0.6
        max_detections_per_class: 100
        max_total_detections: 100
      }
      score_converter: SOFTMAX
    }

[2017-12-20 15:07] MonsterCJJ opened #3032 "Object detection API. How can I get precision and recall."
I have trained Faster_rcnn_Inception model and other models using my own dataset locally.
But I can only get images with bounding boxes.
I want to get precision and recall to  compare models.
I see 'compute_precision_recall' in metrics.py but i don't know how to use it.
My dataset has only one class.

[2017-12-20 18:20] jlamypoirier commented on #2977
Can fix it using slim arg scope:

[code]

Still, this should deserve a fix or at least some documentation.

[2017-12-20 20:41] vikramg1 opened #3033 "Object Detection Tutorial Jupyter Notebook checks for version equality, making non versions > 1.4.0 fail"
### System information
- **What is the top-level directory of the model you are using**:
models/research/object_detection

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.03

- **TensorFlow installed from (source or binary)**:
binary, virtual env

- **TensorFlow v

[2017-12-20 21:21] tawaki commented on #1595
I am using windows 10 with python 3.6.3
instead of using `protoc object_detection/protos/*.proto --python_out=.` I use
`for %i in (object_detection\protos\*.proto) DO protoc %i --python_out=.`
`set PYTHONPATH=$PYTHONPATH:pwd:pwd/slim`
it create .py file for each .proto file in that folder.

However, I also have the same problem when run
`from object_detection.protos import string_int_label_map_pb2

[2017-12-20 21:28] andersskog commented on #2915
@oldschool69 found my problem! The BufferOverflowException was happening because my model was making more predictions that the defined length of outputLocations (same for outputScores and outputClasses). Either make this arrays longer or limit the amount of predictions made by model (in config file).

Good luck!

[2017-12-20 22:32] siddharthm83 commented on #2710
@jch1 , I am also unable to reproduce the numbers listed by the Google team on the model zoo. On the Resnet101 coco model, I am seeing ~3x slower times on a Titan X. Created a stack overflow [question](https://stackoverflow.com/questions/47896671/tensorflow-object-detection-api-inference-time).

[2017-12-20 23:00] jart commented on #3025
Thanks for the report. This appears to be a duplicate of #2803. I'm going to escalate the issue further. Please follow that issue.

[2017-12-20 23:00] #3025 closed

[2017-12-20 23:04] jart commented on #2803
@mrry We're getting a bunch of reports that the softmax GPU kernel isn't available on Windows. Is this expected?

[2017-12-20 23:13] mrry commented on #2803
AFAICT we compile the op for GPU and test it as part of the Windows GPU build: search for "softmax_op_gpu.cu.cc" in [this build log output](http://ci.tensorflow.org/job/tf-master-win-gpu-cmake/1373/consoleFull).

[2017-12-21 01:32] 5amuraix commented on #2803
@philippwerner Thank you, that worked for me.

[2017-12-21 01:45] SubZero000 commented on #2511
Only Windows programmers could make a simple process overly convoluted and complex.  Building an external Tensorflow op under Linux is as simple as invoking a single gcc command.

[2017-12-21 02:35] FightForCS opened #3037 "How to visualize region proposals in object detection"
Hi, I want to visualize generated region proposals for a specific image in a faster rcnn model using object_detection module, is there some 'util file' I can refer to?
Thanks in advance.

[2017-12-21 03:26] NavneethS commented on #466
@yh0903 To solve the unicode error, make sure the file is being read in binary mode in `run_inference.py`
`with tf.gfile.GFile(filename, "rb") as f:`

[2017-12-21 05:38] pzw520125 commented on #1741
I use c++ code above, but the efficiency is very low, excuse me why? How to improve efficiency @daisyl0

[2017-12-21 07:52] MonsterCJJ opened #3040 "run eval.py error"
When i run eval.py , i got the follows error. I don't know how to solve it.

`/home/monstercjj/anaconda3/bin/python /home/monstercjj/PycharmProjects/person_detection/eval.py --logtostderr \ --checkpoint_dir=/home/monstercjj/PycharmProjects/person_detection/models_v3/model/train \ --eval_dir=/home/monstercjj/PycharmProjects/person_detection/models_v3/model/eval \ --pipeline_config_path=/home/monste

[2017-12-21 10:28] priyam1994 commented on #1778
@L-CY, I do the same but it still seems to run on CPU. It would be helpful if you could specify where exactly in the code did you specify CUDA_VISIBLE_DEVICES.

Thanks!

[2017-12-21 10:36] balconychy commented on #2527
encount same issue. you need to use proper scope.
`arg_scope = resnet_v2.resnet_arg_scope(weight_decay=self.WEIGHT_REGULIZER_W)
            with slim.arg_scope(arg_scope):
                return resnet_v2.resnet_v2_101(inputs=images,is_training=is_training,num_classes=self.CLASS_NUM)[0]`
ref https://github.com/tensorflow/tensorflow/issues/4249

[2017-12-21 10:44] usu008 opened #3043 "own data set training issue"
whene iam start training my own data set it shows the following error...i already reduce the batch size and queue again it shows the error like this

any one plz help me to solve this

INFO:tensorflow:global step 470: loss = 0.8664 (5.802 sec/step)
INFO:tensorflow:global step 471: loss = 0.8947 (8.888 sec/step)
INFO:tensorflow:global step 472: loss = 1.9891 (6.110 sec/step)
INFO:tensorflow:global

[2017-12-21 16:14] zerodarkzone commented on #469
Hi,
did you manage to solve the issue?
I'm getting the same error with a 1080TI using cuda 8.0 and I haven't been able to solve the issue with the fixes proposed in #173

[2017-12-21 18:31] reedwm commented on #2527
/CC @sguada, can you look into why the biases are missing?

[2017-12-21 18:36] michaelisard commented on #3030
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-12-21 18:37] michaelisard commented on #3032
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-21 18:37] #3032 closed

[2017-12-21 18:46] k-w-w commented on #3043
Which model are you running? Did it say why the program was killed?

[2017-12-21 19:56] xhm1014 opened #3045 "error 'build' command is only supported from within a workplace"
I have installed bazel in win10. I tried to run 'bazel build tensorflow/examples/image_retraining:retrain' in the cmd command window. But I countered the error: error 'build' command is only supported from within a workplace. Could anyone help me how to overcome this problem, please? Thanks so much

Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensor

[2017-12-21 23:32] michaelisard commented on #3040
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-21 23:32] #3040 closed

[2017-12-22 03:09] ltn614 opened #3046 "the mnist under official model has OOM issue"
the training process is OK, output message as following:
INFO:tensorflow:train_accuracy = 0.990091 (1.756 sec)
INFO:tensorflow:step = 21901, loss = 0.000445204 (1.756 sec)
INFO:tensorflow:Saving checkpoints for 22000 into /tmp/mnist_model/model.ckpt.
but evaluating process goes wrong, output message as following:
ResourceExhaustedError: OOM when allocating tensor with shape[10000,32,28,28]

btw, m

[2017-12-22 03:13] offbye commented on #2774
@cosmicpowercr  it works !

[2017-12-22 03:23] cuixiongwen commented on #2633
@reedwm .I solved this problems via two following ways:
1.Changed my python version to 2.7.
2.Update my tensorflow version to 1.4(under python3.5).
Either of above two ways can solve this problem.

[2017-12-22 13:10] xiyan524 commented on #2328
@bwuzhang  did you solve this problem? I met the same question, and do not know how to continue.

[2017-12-22 13:35] monomon commented on #3037
Such questions are better asked on Stack Overflow, as this tracker is only for bugs and feature requests.

Have a look at `object_detection.utils.visualization_utils`, there is a function `visualize_boxes_and_labels_on_image_array` among others, which you can either use directly, or as inspiration.

[2017-12-22 13:40] lcerman commented on #2832
I hit the same problem, the lowproposal siblings do have same config and return the same number of proposals as their "big" counterparts. Was not sure if it is a bug or just my misunderstanding and tried to ask here: https://stackoverflow.com/questions/47892848/lowproposals-tagged-model-from-tensorflow-detection-model-zoo-actually-does-not but got no response.

[2017-12-22 13:44] lcerman commented on #2832
@tombstone not sure what I did, just wanted to add my comment above, but I see in the log, I did "unassigned" you, sorry for that, don't know hot to take it back...

[2017-12-22 16:08] SaintNazaire opened #3047 "Bazel build fails : error loading package 'syntaxnet': Package 'syntaxnet' contains errors"
**System information**

- Windows 10 professional
- Docker image based on Ubuntu 16.04.3 LTS
- Docker 17.09.0-ce
- Python version 2.7
- Bazel version 0.7.0 AND 0.5.4
- CUDA/cuDNN version not relevant (CPU install)
- GPU model and memory not relevant (CPU install)

**Command triggering issue**

`cd /models/research/syntaxnet && test ... --genrule_strategy=standalone --spawn_strategy=standalone
`

*

[2017-12-22 17:58] michaelisard commented on #2832
I think @tombstone isn't in the TF github group any more so that probably caused him to be unassigned by your comment. (? I don't understand github very well.) I assigned to another owner hi @derekjchow!

[2017-12-22 18:23] michaelisard commented on #3046
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-22 20:06] jart commented on #3045
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-22 20:06] #3045 closed

[2017-12-22 22:30] jart commented on #3047
I just approved #2962 which might help get this unblocked. I'm going to assume this issue is a duplicate of #2822. I would redirect further concerns to that issue. I'll close this one out since it's either a duplicate or subset.

[2017-12-22 22:30] #3047 closed

[2017-12-22 22:47] jart commented on #3043
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-22 22:47] #3043 closed

[2017-12-23 00:03] deaspo commented on #2031
I also had to go through all this using win10 x64 and summary for the steps that worked from this thread:

1. in models\research directory run the following:
[code]
2. go to model/research/slim and run the following:
`pip install -e .`

Am using Anaconda virtual environment (Tensorflow-GPU)

[2017-12-23 00:20] KevinZhao commented on #2267
@GustavZ I just made my Jetson TX2 on tensorflow object detection framework, however, the performance is too slow, and it even failed with resnet model, I am wondering the resnet model is too deep...
I would like to share my experience, please don't hesitate to send email.

[2017-12-23 02:03] Amitayus opened #3048 "feature request: register intermediate endpoints inside slim.repeat"
I want to use many outputs generated by `silm.repeat`, but I cannot get it directly. I can only rewrite it as for-loop now. Then the code becomes ugly.

[2017-12-23 02:23] jart commented on #3021
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-23 02:23] #3021 closed

[2017-12-23 03:23] thinkin3d commented on #2966
@nealwu @drpngx Any updates or insights on this issue?  I'm currently blocked.  Thanks

[2017-12-23 14:54] SaintNazaire opened #3049 "Installing Syntaxtnet (5mn version) fails - libstdc++.so.6: version `GLIBCXX_3.4.22' not found"
**System information**

- Windows 10 professional
- Docker image based on Ubuntu 16.04.3 LTS
- Docker 17.09.1-ce-win42
- Python version 2.7
- CUDA/cuDNN version not relevant (CPU install)
- GPU model and memory not relevant (CPU install)

**Command triggering issue**

`python -c 'import dragnn.python.load_dragnn_cc_impl, syntaxnet.load_parser_ops'`

**Top-level directory of the model you are using

[2017-12-23 15:29] zacwellmer commented on #3026
you may also need to lower the iou_threshold if you expect heavy overlapping

[2017-12-23 16:14] shlens commented on #2905
Closing due to inactivity.

[2017-12-23 16:14] #2905 closed

[2017-12-23 16:15] shlens commented on #603
Closed due to inactivity.

[2017-12-23 16:15] #603 closed

[2017-12-23 20:02] yaroslavvb opened #3050 "Cifar tutorial broken with "Default AvgPoolingOp only supports NHWC.""
Trying latest tensorflow (commit https://github.com/tensorflow/tensorflow/commit/f950ea836d) and latest models repo on my macbook.

[code]
This crashes with following

[code]

[2017-12-23 20:17] yaroslavvb commented on #3050
Looks like the problem is that 'num-gpus' is set to "1" by default. It might be better to use tf.testing.is_gpu_available() to select data format.

Also for this tutorial data generation crashes in Python 3 because there's no cPickle there (replaced with `import pickle`)

[2017-12-24 02:58] shanYanGuan opened #3051 "How to train object detection model through jog format without tfrecord ?"
I really suggest you offer the way to train models with another method.Because tfrecord is so hard to debug,and it's not very friendly with new dataset.

[2017-12-24 07:42] vaishnavm217 commented on #2984
Even I am getting a similar error
using:
1. Python3
2. Tensorflow 1.4.1
3. Ubuntu 16.04
4. Tesla K80 GPU
5. rfcn_resnet 101
[code]
Command ran:
[code]

[2017-12-24 12:41] Vayrex commented on #2490
Hi, I'm having similar issue like saikishor, here is link to his question, but there are not good answers.
https://stackoverflow.com/questions/46572573/how-to-get-existing-model-to-recognize-additional-classes#

[2017-12-24 12:44] Vayrex commented on #2490
If asking about such feature, we need to know that it is not possible to do for a moment.

[2017-12-24 14:12] shaginthecloud commented on #2169
https://www.google.com/appserve/mkt/optout/AIR_RmHO-eTIHjr716RKrUf06w03JiWAF_UiTJV__uANNok9O0ojH_FRxLqvcfAnaMRJ5A?hl=en-US

[2017-12-24 19:20] Pk13055 commented on #1736
@shahabdroid @anne1994  This error is actually, firstly, not an error, and secondly, not related to `tensorflow`. Basically `numpy` or `tensor` objects cannot be pickled (atleast normally through the pickle module) since they are thread.locked, and deepcopy cannot copy such objects. Refer to [this](https://www.bountysource.com/issues/31927293-clearing-tasks-throws-typeerror-can-t-pickle-thread-loc

[2017-12-24 23:39] alok96 commented on #1714
E tensorflow/core/common_runtime/executor.cc:390] Executor failed to create kernel. Invalid argument: NodeDef mentions attr 'data_format' not in Op<name=DepthwiseConv2dNative; signature=input:T, filter:T -> output:T; attr=T:type,allowed=[DT_FLOAT, DT_DOUBLE]; attr=strides:list(int); attr=padding:string,allowed=["SAME", "VALID"]>; NodeDef: MobilenetV1/MobilenetV1/Conv2d_1_depthwise/depthwise = Dept

[2017-12-25 01:28] ltn614 commented on #3046
@michaelisard , I know this is a bug, but should we consider it a need to be fixed problem, since so many peopole start from the mnist sample.

[2017-12-25 04:16] vanpersie32 commented on #466
@psycharo hi, thank you for providing us with so great model. I want to ask you some question. Have you noticed how the performance changes when you finetuen the model. Is the whole models' performance increasing or first the model performance(cider or bleu) drops a little, then it gradually increase.

[2017-12-25 06:23] neuhzhj2012 opened #3052 "bad result for fine-tuning nasnet-large on customized dataset"
Nasnet-A_large has better result on Imagenet than Inception*. But After fine-tuning the Nasnet-A_large on my own dataset for 90,000 steps,  the result of evaluation is top1=0.026 and top5=0.098.  The same issue is posted on [stackoverflow](https://stackoverflow.com/questions/47965511/low-accuracy-after-fine-tuning-nasnet-large-compared-to-inception-v4-on-customiz).

[2017-12-25 06:36] FightForCS commented on #3031
+1, I want to train detection model with more than 1 tfrecord
`_, string_tensor = parallel_reader.parallel_read(
        config.input_path,
        reader_class=tf.TFRecordReader,
        num_epochs=(input_reader_config.num_epochs
                    if input_reader_config.num_epochs else None),
        num_readers=input_reader_config.num_readers,
        shuffle=input_reader_config.shuffle,

[2017-12-25 06:48] Abhijit-2592 commented on #1916
@slsd123  @tombstone  @shzygmyx  after your fix I am still running into a new error

Any idea how to fix this?

[2017-12-25 07:36] spacetrain commented on #2474
I think the problem is related to 'depth_multiplier' in your config file (ssd_mobilenet_v1_xxxx.config)
So quick workaround can be setting it appropriately (i.e., 0.25) because you are testing shallower models which have depth_multiplier 0.25.

[2017-12-25 08:36] huangqingjun111111 opened #3053 "when i export pb file ,encounter error"
when i want to export pb fie .I encounter an error, the follow is the log.Is there anyone can help me.thanks.
  File "object_detection/export_inference_graph.py", line 119, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 129, in run
    _sys.exit(main(argv))
  File "object_detection/export_inference_graph.py", line 115, in main

[2017-12-25 09:34] Keats13 opened #3054 "how can tensorflow get time_step from training date and using it in building graph?"
For NLP(natural language processing), we usually create graph firstly with input data placeholder contains at least batch_size and time_steps. And we deal with our training data with a fixed time_steps, which meaning that for all the training data the time_steps is a fixed value. But now I need to set the time_steps for each batch of data to be data dependent, setting time_steps to be the length o

[2017-12-25 09:47] daquexian opened #3055 "ImportError: No module named dataset_tools"
### System information
Python 2.7

### Describe the problem
In [this](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/oid_inference_and_evaluation.md) tutorial, the following command is needed to obtain tfrecord files.
[code]
But it shows an error:

[code]

It is because there is no \_\_init\_\_.py under research/object_dection/dataset_tools

[2017-12-25 10:44] khanh96le commented on #1715
@GBJim Do you know why in the `load_image_into_numpy_array` function, it has to reshape the image to (height, width) instead of keeping the original size (width, height)?

[2017-12-25 17:32] nada-raafat opened #3057 "from object_detection.protos import model_pb2"
I can not find  model_pb2 file in protos or in any folder else
please help and i went to know how run object detection step by step in windows 10

sorry for west your time

thanks for your time

[2017-12-25 18:40] khanh96le commented on #1992
For windows,
1. Go to
`My Computer > Properties > Advanced System Settings > Environment Variables > New (The first button)`
2. Add
[code]
Remember, using semicolon between 2 paths.

[2017-12-26 00:04] hiroshiperera commented on #967
@ogail The links you provided are dead, can you please again update them?

[2017-12-26 02:10] aldrin233 commented on #2915
@andersskog can you please elaborate on how you did this? I am encountering the same problem atm, Thanks!

[2017-12-26 02:24] andersskog commented on #2915
@aldrin233 take a look at your model config file, near the end you will find:

[code]
Here I have set max detections to 30. The problem was that in the android app, Tensorflow Object Detection API file line 45 set max results to 20. When inference was made, 30 results were returned for an array expecting just 20 results. This causes the BufferOverflowException.

Hope this helps!

[2017-12-26 03:54] jschen2018 opened #3058 "how to train a smaller model"
I had trained with the pretrained model(ssd_mobilenet_v1_coco and ssd_mobilenet_v1_pets.config), it was useful. But I find out the size of model is 21mb(only train one class), if I want to use in android, is too large (only train one class, still got 21mb). is there some method to train a smaller model?
Thanks in advance.

[2017-12-26 04:49] aldrin233 commented on #2915
@andersskog Thanks that fixed it! sadly, i'm getting IndexArrayOutOfBounds on Line 193.

[2017-12-26 04:58] aldrin233 commented on #3058
that's actually small, i have 3 classes trained on 300 images each resulting to 80mb

[2017-12-26 04:59] aldrin233 commented on #3057
[`Try Reading This Link For Installation`](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md)

[2017-12-26 05:47] usu008 commented on #3043
its didn't say anything about the abnormal termination....but  i think it may be occure because of my image resolution .....here iam using "generate_tfrecord.py" file to generate the record file.....
i found some solution from stackoverflow  they said instead of that if i use "create_pet_tf_record" means it will speed up my train process without any termination......
so...any one know how to use

[2017-12-26 06:28] HuangJianlang opened #3059 "mistakes in create_pascal_tf_record?"
When I looked at the source code of create_pascal_tf_record.py, I find a line of code(line 163) may cause some problems:
`    examples_path = os.path.join(data_dir, year, 'ImageSets', 'Main',
                                 'aeroplane_' + FLAGS.set + '.txt')`
it seems that this program ONLY create the aeroplane category and ignores the other ones.
Is it a problem?

[2017-12-26 06:40] bignamehyp commented on #3059
It's just an example. Users might change it to other path.

[2017-12-26 06:40] #3059 closed

[2017-12-26 06:44] HuangJianlang commented on #3059
@bignamehyp Yep, I think so. But in the tutorial, they should note clearly about the sample and modify it correctly.

[2017-12-26 06:45] bignamehyp commented on #3057
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-26 06:45] #3057 closed

[2017-12-26 06:49] bignamehyp commented on #3053
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-26 07:37] zhaoqp commented on #3001
actually parsey_universal folder doesn't exist now:

----------------------------------------------------------------------
After downloading and unzipping a model, you can run it similarly to
Parsey McParseface with:

[code]
----------------------------------------------------------------------

[2017-12-26 07:53] izzrak commented on #3031
@FightForCS I know there is a way to read a series of tfrecords, you can take a look at the examples in the slim folder. It is possible to load a list of the file path by using slim.dataset.Dataset, but you may need to rewrite the script you are using.

[2017-12-26 09:18] aldrin233 commented on #2915
@andersskog Thanks That fixed it!, but still giving me problems specifically indexOutOutOfBounds... any idea why this happens?

Happens here
`for (int i = 0; i <= outputScores.length; ++i) {
      final RectF detection =
          new RectF(
              outputLocations[4 * i + 1] * inputSize,
              outputLocations[4 * i] * inputSize,
              outputLocations[4 * i + 3] * inputSize,

[2017-12-26 10:09] karthi-keyan commented on #1990
I have faced the same error: ImportError: cannot import name 'label_map_util'
i just install setup.py in research folder and  i copied that object_detection and .egg.info in sitepackages folder

[2017-12-26 11:01] aldrin233 opened #3060 "Android TF Detect Demo - ArrayIndexOutOfBoundsException"
### Describe the problem
Upon running the Android TF Detect Demo and using my retrained 3 class ssd_mobilenet_v1_coco model my TF detect Demo crashes giving an IndexOutOfBoundException

I am Using the TF Android Demo.
Model has 3 Classes
ssd_mobilenet_v1_coco Config

### Source code / logs

Suspected Block of code is

  final RectF detection =
      new RectF(
          outputLocations[4 * i + 1]

[2017-12-26 11:42] #3060 closed

[2017-12-26 12:38] jinxin0924 commented on #1721
Any one solve this problem? I have the same error.

[2017-12-26 15:15] KevinZhao commented on #2267
@GustavZ some updates, I get my Jetson TX2 running with Yolo v2, it is fast, and most important the memory consumption is quite low.
I am running it with YOLO v2 and tiny YOLO with COCO dataset, tiny gives me over 15 FPS, wow.

[2017-12-26 15:26] bendidi commented on #2267
I did run mobilnet ssd too on jetson Tx2 , and the speed was way too slow , around 1-2 fps (using 540x720 images )

[2017-12-26 15:29] omelnikov commented on #1064
I had this problem too, but realized that the error is thrown only if I try to use GPU in the second instance of python. It seems that only one instance of python can to claim the GPU resource. Weird. If you close the python session that used the GPU resources, then it is freed up and another session can use it. This is the behavior that I experienced in PyCharm and Python 3.6 via command prompt o

[2017-12-26 17:02] GustavZ commented on #2267
@bendidi, @KevinZhao  hey guys i got similar, slightly faster results on YoloV2 and Tiny-Yolo.
I made a repo for my Object Detection Pipeline based on Googles API.
(https://github.com/GustavZ/realtime_object_detection) have a look at it, i can run Mobile SSD on about 5-6 fps and i will work on it to make it even faster after the christmas holidays. Would be cool if you try it out, you just need to

[2017-12-26 17:17] nada-raafat commented on #3057
Thanks for replay
but this file should be import (model_pb2) but not in folder in this project

[2017-12-26 18:05] asimshankar commented on #3058
I believe what you're asking for is machine learning expertise to design a model with fewer parameters that is suitable for your task.

Unfortunately, that is beyond the scope of support we can provide here - since it is not a bug or feature request.

[2017-12-26 18:05] #3058 closed

[2017-12-27 02:43] yar31313 commented on #2830
파일 경로에 한글 들어가있어서 그런거같네요.
'다운로드'를 'downloads' 같은 걸로 바꾸고 경로설정 바꾸고 실행해보세요.

[2017-12-27 02:48] LangLEvoI opened #3064 "[SyntaxNet] How to install Tensorflow correctly for SyntaxNet"
### System information
- **What is the top-level directory of the model you are using**: `models/research/syntaxnet`
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: `models/research/syntaxnet/examples/dragnn/tutorial_1.py`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mint 18.3
- **TensorFlow installed from (source or binary)**

[2017-12-27 05:11] byungjae89 commented on #3031
You can simply assign list of the file path by changing config file

from
[code]
to
[code]
this change may only work when multiple tfrecord files use the same label_map.

[2017-12-27 07:24] Labyrins commented on #2958
Does this issue solved?
I still have this issue and all above tips does not work for me.

[2017-12-27 09:36] liuruijin17 commented on #2977
thank you @jlamypoirier
indeed, this should deserve some documentation

[2017-12-27 10:02] normansiboro opened #3065 "Save checkpoint and summary record less frequently"
I am using Tensorflow object detection API with SSD model

I would like to save checkpoint and summary record less frequently (for example: every 1 hour )
I've made some changes in trainer.py

from
`keep_checkpoint_every_n_hours = train_config.keep_checkpoint_every_n_hours
    saver = tf.train.Saver(
        keep_checkpoint_every_n_hours=keep_checkpoint_every_n_hours)`
to
`saver = tf.train.Saver(

[2017-12-27 10:30] rcmf123 commented on #2595
Hi. Were you able to solve this problem? I am having the same error after I upgraded my RAM from 4gb to 8gb. I've tried training with 4gb ram and GTX 1050ti and it runs without any error even though it is extremely slow. I've upgraded to 8gb and I am now getting this error.

[2017-12-27 10:44] MotiBaadror opened #3066 "problem in installation"
PS C:\Users\Moti Baadror\desktop\image_detection\models\research> C:\Users\'Moti Baadror'\desktop\image_detection\bin\protoc object_detection/protos/*.proto --python_out=.
object_detection/protos/*.proto: No such file or directory

[2017-12-27 10:51] onlyak opened #3067 "How long should the model be trained?"
I have 6 classes for traffic sign recognition with 70 images per class.
Hardware specification:-Nvidia Tesla GPU with 8GB  RAM.
For how many steps should I train the model to get sufficient accuracy?

[2017-12-27 12:31] SergeyBykov1 opened #3068 "Object detection. No cropping in evaluation config results in wrong validation"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary for anaconda python
- **TensorFlow version (use

[2017-12-27 13:29] SaintNazaire opened #3069 "Syntaxnet dockerfile error: tensorflow/tools/ci_build/builds/configured CPU /usr/bin/env: 'bash\r': No such file or directory"
**System information**

- Windows 10 professional
- Docker image based on Ubuntu:16.10
- Docker 17.09.1-ce-win42
- Python version 2.7
- CUDA/cuDNN version not relevant (CPU install)
- GPU model and memory not relevant (CPU install)

**Command triggering issue**

`RUN cd $SYNTAXNETDIR/syntaxnet/tensorflow     && tensorflow/tools/ci_build/builds/configured CPU     && cd $SYNTAXNETDIR/syntaxnet     &

[2017-12-27 18:38] michaelisard commented on #3046
@rajatmonga would you figure out who owns these official models and see if they would at least update the documentation?

[2017-12-27 19:24] nealwu commented on #2958
@Labyrins is there any reason you un-assigned @tombstone?

[2017-12-27 20:19] asimshankar commented on #3066
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-27 20:19] #3066 closed

[2017-12-27 20:35] glarchev opened #3071 "Get UnavailableError when running object detection training on CloudML"
I can train an Object Detection model just fine locally, but when I try to run the training on CloudML, it runs for a little bit (during the last run it ran for about 340 steps) and then terminates because of the following error:

UnavailableError: Endpoint read failed

The full stack trace is pasted at the end of this post.

### System information
- **What is the top-level directory of the model

[2017-12-28 01:51] Labyrins commented on #2958
@nealwu I did not unassigned him. I just leaved my question. This issue system automatically unassigned him.

[2017-12-28 03:25] nhorro commented on #2737
Having the same problem, could anybody solve this?

[2017-12-28 03:26] izzrak commented on #3031
This issue is closed

[2017-12-28 03:26] #3031 closed

[2017-12-28 06:09] shipeng-uestc opened #3072 "/models/research/slim/slim_warkthrough.ipynb error!"
TypeError: 'module' object is not callable
When run Let's compute various evaluation metrics on the test set.
[code]

then the error shows:
[code]

[2017-12-28 06:21] Usernamezhx opened #3073 "models/research/delf/"
@andrefaraujo
hi André Araujo
    thanks your code first. but can you provide detail about the training process  with my own data please?

[2017-12-28 06:35] ccyjava commented on #54
@ZhuFengdaaa  can you share your example code for "I start 8 workers, and assign each workers to each device explicitly use tf.device“ , it is exactly same problem i meet, thanks a lot

[2017-12-28 08:01] Abhijit-2592 opened #3074 "Object-detection: Feature request- visualize layer activations and step by step visualization for Faster RCNN models"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- *

[2017-12-28 08:11] bignamehyp commented on #3065
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-28 08:11] #3065 closed

[2017-12-28 08:17] bignamehyp commented on #3067
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-28 08:17] #3067 closed

[2017-12-28 10:38] Zetha82 opened #3075 "compile the ops word2vec [SOLVED]"
Here is an snippet how to correctly compile ops for word2vec>
TF_INC=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_include())')
TF_LIB=$(python -c 'import tensorflow as tf; print(tf.sysconfig.get_lib())')
g++ -std=c++11 -shared word2vec_ops.cc word2vec_kernels.cc -o word2vec_ops.so -fPIC -I $TF_INC -O2 -D_GLIBCXX_USE_CXX11_ABI=0 -L$TF_LIB -ltensorflow_framework

[2017-12-28 13:09] cliffzwj opened #3076 "object detection: when i train my custom object, it report error OOM..."
...
...
...
runtime\bfc_allocator.cc:679] 1 Chunks of size 3809280 totalling 3.63MiB
2017-12-28 20:56:40.837169: I C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\common_runtime\bfc_allocator.cc:679] 2 Chunks of size 4194304 totalling 8.00MiB
2017-12-28 20:56:40.837198: I C:\tf_jenkins\home\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\common_runtime\bfc_allocator.

[2017-12-28 13:15] sbmaruf commented on #1766
I am new to tensorflow and Machine Learning. Recently I am working on a model. My model is like below,

1. Character level Embedding Vector -> Embedding lookup -> LSTM1

2. Word level Embedding Vector->Embedding lookup -> LSTM2

3. [LSTM1+LSTM2] -> single layer MLP-> softmax layer

4. [LSTM1+LSTM2] -> Single layer MLP-> WGAN discriminator

while I'm working on this model I got the following error.

[2017-12-28 13:20] imrandatascientist opened #3077 "tensorflow.python.framework.errors_impl.NotFoundError: /root/tensorflow/models/research/images/frame19_14; No such file or directory"
Hi,

I am trying to create the TF Record files. However, when I run the following code I get the below error when I run

:

[code]

The file frame19_14.jpg does exist however for some reason the program does not append the '.jpg' string to the file names in the trainval.txt file.
I am using the same format as the trainval.txt files in the sample pets data with the filename (minus any '.jpg') in th

[2017-12-28 16:48] bignamehyp commented on #3017
Thanks for the suggestions. @nealwu

[2017-12-28 18:17] luizcarlos01 opened #3078 "import name 'label_map_util'"
Traceback (most recent call last):
  File "C:\Users\Luiz\Documents\object_detection_tutorial.py", line 37, in <module>
    from utils import label_map_util
ImportError: cannot import name 'label_map_util'

-----------------------------------------------------------------------------------------------------------
CODE:

# coding: utf-8

# # Object Detection Demo
# Welcome to the object detection in

[2017-12-28 18:34] nealwu commented on #3017
Thanks for the heads up @yaroslavvb. cc @k-w-w and @asimshankar as well.

I'm not sure I understood your suggestion with `tf.Variable` though. Are you suggesting to wrap `tf.Variable()` around the dataset? That resulted in an error for me.

[2017-12-28 18:45] yaroslavvb commented on #3017
`tf.Variable(huge_numpy_array)` will also create huge `tf.constant` in graph as Variable initializer. Not sure if there's easier way, what I've been doing is to create `var=tf.Variable(placeholder_op)` and then doing `sess.run(var.initializer, feed_dict={placeholder_op: huge_numpy_array})`

[2017-12-28 18:53] bignamehyp commented on #3019
Regarding tensorboard, is it a local issue or a GCP one?

[2017-12-28 18:56] bignamehyp commented on #3075
Sorry can you please provide more details?

[2017-12-28 19:01] bignamehyp commented on #3033
@jch1

[2017-12-28 19:02] bignamehyp commented on #3037
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-28 19:02] #3037 closed

[2017-12-28 19:03] bignamehyp commented on #3051
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-28 19:03] #3051 closed

[2017-12-28 19:06] bignamehyp commented on #3049
@nealwu  no sure if you are the right contact for dragnn issues. Feel free to ping other tensorflower.

[2017-12-28 19:11] bignamehyp commented on #3049
it might be related to #15376. @gunan

[2017-12-28 19:23] nealwu commented on #3049
For syntaxnet it's @bogatyy and @calberti. (FYI, you can also check [CODEOWNERS](https://github.com/tensorflow/models/blob/master/CODEOWNERS) to find out)

[2017-12-28 19:55] bignamehyp commented on #3077
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-28 20:29] Zetha82 commented on #3075
Hi,
I followed instruction from Readme.md file and I always get some error. First was about vsync_cv.h missing and second was directly after compilation.
So here is an solution for compilation.
Just add TF_LIB and add -L$TF_LIB -ltensorflow_framework to compilator

[2017-12-29 01:58] cliffzwj commented on #3076
So, change computer to solve this , use Geforce 1060 instead!
and , if use geforce 940m, i have to use cpu only to train my model

[2017-12-29 01:58] #3076 closed

[2017-12-29 03:27] roycezjq commented on #1564
I had a similar problem with tensorflow 1.2, and when i update tensorflow to version 1.4, the problem was solved. Hope it helps:)

[2017-12-29 04:12] asimshankar commented on #3078
I'm sorry, I'm having trouble following the steps followed. It seems that you've pasted the full contents of the tutorial notebook?

Did you follow the installation instructions, and did the [test](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md#testing-the-installation) pass?

Also, from the snippet of the traceback you provided:

[code]

it seems

[2017-12-29 04:15] asimshankar commented on #3074
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon - any thoughts on this?

[2017-12-29 04:33] asimshankar commented on #3069
@calberti @andorardo @bogatyy @markomernick - any thoughts?

[2017-12-29 08:42] vasudevmaduri commented on #3071
Faced the same issue
While training on CloudML , it has thrown an error after 640 iterations.

textPayload: "The replica worker 2 exited with a non-zero status of 1. Termination reason: Error.
UnavailableError: Endpoint read failed

[2017-12-29 11:06] GavinQiuhaikun commented on #788
just write $MODEL_DIR/model, though there are many files(model.meta  model.index ...)

[2017-12-29 11:08] GavinQiuhaikun commented on #788
@Yangyangainana Just write $MODEL_DIR/model, though there are many files(model.meta model.index ...).

[2017-12-29 11:08] GavinQiuhaikun commented on #788
@Yangyangainana Just write $MODEL_DIR/model, though there are many files(model.meta model.index ...).

[2017-12-29 11:09] GavinQiuhaikun commented on #788
@Yangyangainana  context.pbtxt------>context

[2017-12-29 14:45] blaskowitz100 opened #3081 "Object detection: PR-Curves in Tensorboard"
Hello,
is  it planned to plot PR-Curves as separate summaries in Tensorboard? When not, this would be a nice feature :)

[2017-12-29 14:48] imrandatascientist commented on #2577
After I entered 'export PYTHONPATH=$PYTHONPATH:pwd:pwd/slim' to get around the Import error for object detection, I got another import error

ImportError: No module named nets

[2017-12-29 18:56] bjwimpey commented on #3053
Last line of huangqingjun111111's log:
'ValueError: Protocol message RewriterConfig has no "optimize_tensor_layout" field.'

Appears to be a duplicate of this issue https://github.com/tensorflow/models/issues/2861

[2017-12-29 22:09] asimshankar commented on #3064
This seems like a version mismatch between the `dragnn` module and the TensorFlow package.

Did you follow the process in https://github.com/tensorflow/models/tree/master/research/syntaxnet#installation ? In particular, note that the syntaxnet repository is pinned to a specific commit of the TensorFlow repository and the installation process builds TensorFlow from source at that commit. So it may

[2017-12-29 22:16] desync001 commented on #2482
Hey guys i'm alittle late but i am getting a similar error, I simply cannot:

from utils import label_map_util

from utils import visualization_utils as vis_util

they just do not work, throws a module not found error.

[2017-12-30 06:33] sushilmdpatil commented on #2761
Hi!
I am an Electronics Engineer working on a device for visually impaired people. I am just following the tutorials for it. I got this big list of errors. Please can someone guide me through this.

**(tensorflow) C:\Users\sushi\AnacondaProjects\Tensorflow\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.conf

[2017-12-30 09:23] asimshankar commented on #3068
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon - mind taking a look?

[2017-12-30 09:46] asimshankar commented on #3017
I think the ideal solution would involve avoiding avoiding constants or variables altogether and push more input processing into the `tf.data.Dataset` definition.

I'll try to look into that. I'll check with @mrry and/or @jsimsa on the best way to do that.
It might involve translating https://github.com/tensorflow/tensorflow/blob/4af9be9/tensorflow/contrib/learn/python/learn/datasets/mnist.py#L41

[2017-12-30 09:48] asimshankar commented on #3046
@ltn614 : The evaluation process is currently setup to evaluate the entire dataset in one batch, which is leading to this error (with the eval dataset having 10K images, as opposed to training which occurs on batches of 100 images).

A possible fix would be to use smaller batches for evaluation by adding a `.batch(<batch_size>)` at https://github.com/tensorflow/models/blob/master/official/mnist/mn

[2017-12-30 13:12] withyou1771 commented on #3040
I met the same question. Did you solve it?

[2017-12-30 17:45] jingyibo123 commented on #2803
@seppestaes   the solution of philippwerner works well.
Since the GPU kernel of Softmax has been compiled we should't have this issue anymore in the future.

[2017-12-30 17:45] #2803 closed

[2017-12-30 20:31] obabac commented on #2930
I used following powershell command on windows:
`Get-ChildItem object_detection/protos/*.proto | Resolve-Path -Relative | %{ .\protoc $_ --python_out=.  }`

[2017-12-31 03:12] oneTimePad opened #3084 "Multi-Task Object Detection (Faster R-CNN)"
I know this is not in the Faster R-CNN paper, but I was wondering if there was any interest in adding multi-task learning for Faster R-CNN, or R-FCN. This would allow a groundtruth to have multiple attributes for R-CNN to classify. This could be done by having multiple second stage classification networks with separate Softmax layers that would each learn to classify a different attribute for an o

[2017-12-31 06:32] Dasun1991 opened #3085 "TensorFlow Protobuf Compilation anchor_generator_pb2.py: Permission denied issue"
I`m trying to compile this through my cmd

`# From tensorflow/models/research/
protoc object_detection/protos/*.proto --python_out=.`

So that when i link **protoc-3.4.0-win32** it gives above error, why is that ? anyone help me to fix that error pls.

[2017-12-31 08:26] bignamehyp commented on #2761
@sushilmdpatil your question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-31 08:32] bignamehyp commented on #3085
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-31 08:49] bignamehyp commented on #3081
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-12-31 08:51] bignamehyp commented on #3071
@tombstone can you please take a look or point to CloudML folks?

[2017-12-31 10:42] idorozenberg commented on #2952
Also happened to me. Please help with this issue. Makes it impossible to work with the SSD meta-model if I can't use transfer learning properly.

[2017-12-31 12:48] Dasun1991 commented on #3085
As you mentioned i started a new case.. this is the link of that. @bignamehyp  Pls check it and help me .

[https://github.com/tensorflow/tensorflow/issues/15754](url)

[2017-12-31 13:55] HuangJianlang commented on #2328
Did you solve this problem？ I met the same issue

[2018-01-01 09:55] knot2 commented on #2737
Check if the number of classes and labels count are equal in your generated tf record file.

[2018-01-01 10:41] kangjieHong opened #3086 "Message type "object_detection.protos.Ssd" has no field named "k"."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution **:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:anaconda
- **TensorFlow version (use command below)**: Tensorflow 1.3.0
- **Python version**:  Python3.6.1
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exac

[2018-01-01 13:58] MarkSonn commented on #2703
Same here @mharshe :/
Did you find a solution?

[2018-01-01 14:15] Goffic opened #3087 "AttributeError: 'NoneType' object has no attribute 'update'"
### Describe the problem
I used tutoial/rnn/translate/translate.py to train nmt model. I found this problem. My tensorflow version is 1.4 and python version is 2.7.

### Source code / logs
Traceback (most recent call last):
  File "translate.py", line 322, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 124, in run
    _sys.exit(

[2018-01-01 15:49] scalable commented on #2774
@cosmicpowercr very promising, but after changing post_processing_builder.py, do I need to do an "install" step to make the change take effect? Thanks.

[2018-01-01 16:07] cosmicpowercr commented on #2774
@scalable No,you would like to just change the code as above.

[2018-01-01 20:36] yigitsa commented on #3072
Exact same problem on Mac OS X Python 2.7

[2018-01-02 00:21] DSLituiev commented on #1853
the tutorial link @korrawat mentions is broken

[2018-01-02 04:47] snownus opened #3089 "cifar10 example Learning rate decay confusion when using multiple gpus"
Here is the code:

# Create a variable to count the number of train() calls. This equals the
# number of batches processed * FLAGS.num_gpus.
global_step = tf.get_variable(
    'global_step', [],
    initializer=tf.constant_initializer(0), trainable=False)

# Calculate the learning rate schedule.
num_batches_per_epoch = (cifar10.NUM_EXAMPLES_PER_EPOCH_FOR_TRAIN /
                         FLAGS.batc

[2018-01-02 07:38] gun1you1 opened #3090 "Something wrong in "object_detection/builders/model_builder_test.py""
When i run the "object_detection/builders/model_builder_test.py",some problom happen :+1:
EEEEEEEEEE.
======================================================================
ERROR: test_create_faster_rcnn_inception_resnet_v2_model_from_config (__main__.ModelBuilderTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "object_detection

[2018-01-02 08:10] mharshe commented on #2703
I realized that my code had a call to an undocumented method
[device_lib.list_local_devices](
https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/python/client/device_lib.py#L27)
which was creating a default session. Since this call was before the call
to create the session with my options, all the GPU was being allocated. The
stackoverflow discussion

[2018-01-02 09:16] kannan60 commented on #3071
I have same issue.

[2018-01-02 09:36] vasudevmaduri commented on #3071
@glarchev Can you try changing the runtime version to 1.2 in the command.

I installed the tensorflow 1.4 version but with the same runtime version 1.4, training could not be completed. Then I tried with 1.2 its executed.

**--runtime-version 1.2**

[2018-01-02 09:48] roitmaster commented on #3014
I have the same issue, Is there a solution?

[2018-01-02 12:09] ztwe commented on #816
@liamnaks , you have done a great job.
I have two questions:
1. how to remove DecodeJPEG node in the graph? Is that using tensorboard and click "remove from main graph"?
2. To run in mobile phone, we have to write beam_search by ourselves in java?

[2018-01-02 13:36] kannan60 commented on #3019
I fixed it. There was a problem with the protoc compilation.

[2018-01-02 13:38] kannan60 opened #3091 "using faster_rcnn_resnet101_coco model for training"
I used mobilenet model to train my images. It worked fine. In order to increase the accuracy I tried to replicate the same steps using a faster_rcnn_resnet101_coco model instead. All the steps I used were the same. When I initiate the training session, it got started and ran about 800 steps. The training loss at this point was around 0.5 which seems too good to be true. It stopped at this step and

[2018-01-02 17:07] mrry commented on #3017
`tf.data.FixedLengthRecordDataset(...)` would be the most lightweight way to do this. `tf.data.Dataset.from_generator()` would work as well, but crossing into Python makes it a bit more expensive per record. Adding a `Dataset.cache()` after either of the readers would yield equivalent performance after the first epoch.

[2018-01-02 18:32] jiaxunwu commented on #3071
Thanks for feedback, please use 1.2 runtime version as @vasudevmaduri suggested for now.
We are investigating the issue.

[2018-01-02 18:46] benjaminplanche opened #3092 "Domain Adaptation: "AttributeError: 'filter' object has no attribute 'op'" in tensorflow/python/training/optimizer"
### System information

- **Model**: `/research/domain_adaptation`
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow version**: v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **CUDA/cuDNN version**: 8.0
- **Exact command to reproduce**:
[code]

### Problem
Training of the model crashes, with an error back from the Tensorflow library itself.

Note: I am not using Bazel since the building was cr

[2018-01-02 19:43] robinqhuang commented on #3064
@asimshankar , I built from source by following "Manual installation" section. I had the same issue.

[2018-01-02 22:38] glarchev commented on #3071
I can confirm that changing to **--runtime-version 1.2** fixes the problem

[2018-01-02 22:51] alexandercameronh commented on #557
@D-X-Y Hi there, were you able to extract the next-to-last feature vector from this CNN? If so, I'd love some help. I cannot seem to find this answer on stackoverflow

[2018-01-02 23:32] DecentGradient opened #3094 "savedModel builder im2txt"
@cshallue
@jhseu
@sukritiramesh
Can we have a savedModel builder script for the im2txt model?
It would not only directly benefit the users of this model,
it would be another example of how saved model works and there are precious few.

Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in

[2018-01-03 01:09] #3090 closed

[2018-01-03 01:26] skye commented on #1916
Is this still an issue or can I close?

[2018-01-03 01:30] skye commented on #3048
@sguada can you comment?

[2018-01-03 01:31] #3017 closed

[2018-01-03 01:31] #3046 closed

[2018-01-03 01:33] skye commented on #3050
@sherrym @shlens can one of you look into this? Thanks.

[2018-01-03 01:35] skye commented on #3052
Closing since this is not a bug or feature request.

[2018-01-03 01:35] #3052 closed

[2018-01-03 01:38] skye commented on #3054
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-03 01:38] #3054 closed

[2018-01-03 01:39] yaroslavvb commented on #3050
The simplest change that will avoid headache for new users is to add the following after this line https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10_estimator/cifar10_main.py#L506

[code]

[2018-01-03 01:43] skye commented on #3072
@sguada

[2018-01-03 02:00] ztwe commented on #816
It seems the answer of question 1 has been found. It is image:0.
In realtime_webcam.py:
            pafMat, heatMat = sess.run(
                [
                    net.get_output(name=last_layer.format(stage=args.stage_level, aux=1)),
                    net.get_output(name=last_layer.format(stage=args.stage_level, aux=2))
                ], feed_dict={'image:0': [preprocessed]}
            )

[2018-01-03 02:06] israfila3 opened #3095 "Custom Bounding Box on visualization of result"
hi
I am using "ssd_mobilenet_v1_coco_11_06_2017" for object detection.
I am looking for a custom view of the result. Like i want display only cars with bounding box.
I tried with changing some codes in "visualization_utils" but not succeed.
Any help will be highly appreciated.

[2018-01-03 02:10] kannan60 commented on #3071
It fixed the problem but after exporting the inference graph I end up with another error.

[code]

[2018-01-03 02:12] skye commented on #3086
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-01-03 02:18] kannan60 commented on #3091
Edit: I changed the runtime version to 1.2 and it worked. However, now when I try to test some sample images after exporting inference graph, It throws an error:

[code]

[2018-01-03 02:27] Abhijit-2592 commented on #1916
@skye  yes, the issue still persists! Check my update on the previous comment. Even after the fix mentioned above, it works only if we give arguments for input_shape

[2018-01-03 02:35] andeeptoor commented on #2892
I received a similar issue when running object_detection/inference/infer_detections.py using Python 3.6.3 (Anaconda Python) on both Linux and OSX. The error message was the same as your first problem, namely `UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 41: invalid start byte`

I discovered that the export graph instructions listed [here](https://github.com/tensorflow/model

[2018-01-03 03:58] ReeRay commented on #3064
@asimshankar Thanks for your reply, it's actually a version conflict. So I removed all relative libraries and reinstalled them according to `Manual installation`. But there is still a new error in `tutorial_1.py`.

[code]

Though it lacks the method `_tensor_from_handle` in installed `Tensorflow` lib, I can find it in the specific commit repo (c52cdc0) which I have cloned. It is `def _tensor_from_

[2018-01-03 04:51] StephenGreat commented on #3092
@Aldream Did you solve this bug? I came across same bug in
`tensorflow\python\training\optimizer.py", line 179, in _get_processor
    if v.op.type == "VarHandleOp":
AttributeError: 'filter' object has no attribute 'op'`

Platform: Tensorflow 1.4.0

[2018-01-03 08:40] shodow opened #3098 "'module' object has no attribute 'LegacySyncReplicasOptimizer'"
i got this error in this line
https://github.com/tensorflow/models/blob/8e4a1e2e0a7450f0457b820a589960e03c20060d/research/attention_ocr/python/train.py#L125
how i can solve this error?

[2018-01-03 10:50] Aldream commented on #3092
Hi @StephenGreat,
No, still stuck at the same point.

[2018-01-03 13:13] v-shmyhlo commented on #2977
+1 have the same problem on InceptionV1

[2018-01-03 13:24] Janekxyz commented on #2890
@andersskog
Your answer doesn't work in my case.

[2018-01-03 15:08] Windaway opened #3101 "How to retrain a image classification net with slim?"
For example, I`d like to make a twostream net with VGG+InceptionV3, and restore from ckpt seems to be hard. Can  I use slim to do this?

[2018-01-03 15:43] mhlopko commented on #2822
Friendly ping, tf_models_syntaxnet has been red on ci.bazel.io for more than a month. As Vlad said, we'll gladly help to fix it. There's a little use in having tf_models_syntaxnet on our ci if it's constantly red...

[2018-01-03 17:08] av8ramit commented on #2822
I've merged the PR updating the bazel version, hopefully that fixes the issue

[2018-01-03 17:10] mhlopko commented on #2822
Oh great! Thank you!

[2018-01-03 20:30] SaintNazaire commented on #3049
Hi, @gunan you referenced in tensorflow/tensorflow#15458 (and cross-referenced tensorflow/tensorflow#15794) should fix the issue in #15376, do you think is the issue above? Thank you.

[2018-01-03 20:40] jwnsu commented on #3014
Did you encounter the issue on standard dataset e.g. Pascal VOC or coco. If
so, please describe detail (dataset, env etc) and that will help google
team to fix it.

On Tue, Jan 2, 2018 at 1:49 AM, roitmaster <notifications@github.com> wrote:

[2018-01-03 20:55] glarchev commented on #3071
I can export the inference graph, but, for some reason it looks like the resulting model performs a lot worse than the model trained locally.

[2018-01-03 21:43] kannan60 commented on #3071
I tired using mobilenet model and it worked. The results are however not that great like you mentioned. So for better accuracy, when I use faster rcnn, it throws the error after exporting inference graph. What model did you use?

[2018-01-03 22:04] SaintNazaire commented on #3049
@gunan, thank you for the quick answer, this applies even to CPU install?

[2018-01-03 22:24] gunan commented on #3049
Yes. To have consistency across builds, we moved everything to ubuntu 16.
Building TF from source on ubuntu 14 should still work, but when built on ubuntu 16, the pip packages seem to fail to run with older versions.

[2018-01-03 22:57] glarchev commented on #3071
I used faster rcnn as a seed. It seems to work as expected when trained locally but gives poor results when trained via CloudML.

[2018-01-04 00:45] D-X-Y commented on #557
I follow the code in https://github.com/tensorflow/models/issues/429#issuecomment-277885861 .
As tensorflow changes so fast and I have moved my projects to PyTorch, I am not sure whether this code is ok for the current version of tensorflow.

[2018-01-04 01:09] i-Hun commented on #3001
It is really confusing. Where is parsey_universal model?

[2018-01-04 01:27] DIT4FUN commented on #2788
i'm mat the same problem!

[2018-01-04 04:22] kangjieHong commented on #3086
sorry for my careless about the issue template, but today while rewrite the config ,it works. but the new problem has come .the same with issue 2777  **AttributeError: module 'tensorflow.python.platform.flags' has no attribute 'mark_flag_as_required'**   thank you very much

[2018-01-04 10:55] cclauss opened #3103 "from six.moves import xrange"
The following files are incompatible with Python 3 at least in part because they use xrange() yet they lack the import:
* __from six.moves import xrange__
[code]

[2018-01-04 11:38] RomRoc commented on #1853
I think the tutorial @korrawat refers is [this](https://github.com/tensorflow/models/blob/4f32535fe7040bb1e429ad0e3c948a492a89482d/research/object_detection/g3doc/preparing_inputs.md)

[2018-01-04 12:00] dakshvar22 commented on #2861
Change the parameter on line 71 to `layout_optimizer=1` . Made a PR - [#3106](https://github.com/tensorflow/models/pull/3106)

[2018-01-04 12:00] dakshvar22 commented on #3053
Change the parameter on line 71 to `layout_optimizer=1` . Made a PR - [#3106](https://github.com/tensorflow/models/pull/3106)

[2018-01-04 18:07] skye commented on #3086
I'm sorry to hear that. I'm gonna close this as a duplicate of #2777, please continue any discussion there.

[2018-01-04 18:07] #3086 closed

[2018-01-04 18:30] andrefaraujo commented on #3073
Hi @Usernamezhx ,

It should be simple if you already have a tensorflow training pipeline in place (if you don't, please look at tensorflow training tutorials which are widely available on the web for a starting point). In this case, all you would need to do is to change the model.

As explained in [our paper](https://arxiv.org/abs/1612.06321), we train in two stages (see section 4.2.2 therein): 1

[2018-01-04 18:37] uziela commented on #2960
I am also interested in the same question. The error I am getting with the default config file is:
ValueError: second_stage_batch_size should be no greater than first_stage_max_proposals.

What are the optimal (or reasonable) values for second_stage_batch_size and first_stage_max_proposals?

[2018-01-04 19:32] scotthong commented on #1876
Hi @yeephycho,
I am also trying to train an object detector using my own images with various sizes and aspect ratio. I tried the following two image_resizer configurations in the pipeline.config and a pre-trained model from the model zoo, and it seems that model is not converging with the TotalLoss fluctuating around 4.0. Which image_resizer configuration did you use to make the model converge fas

[2018-01-04 19:46] EGuirado commented on #2793
@afathi3, Is there news of the segmentation API publication? Thanks

[2018-01-04 23:35] jiaxunwu commented on #3071
@glarchev, could you provide more details of the training results? I tried to train via CloudML and got 94.08% mAP.

[2018-01-05 01:26] yeephycho commented on #1876
Hi @scotthong,
I really cannot remember how I solved this problem. But I can provide some experience which may not be correct but works for me.
1. I used fixed_shape_resizer
2. Total loss around 4.0 is OK, try to evaluate your model and see how it works with your validation set.
3. If image is too small after resize, it is hard to detect small objects.

With regards!
Yeephycho

[2018-01-05 02:02] Tony-Hou opened #3109 "The model have a low accuracy with inception_resnet_v2 model to train and load dataset in placeholder mode."
#!/usr/bin/python
#-*- coding:utf-8 -*-
"""
Created on Tue Jan  2 16:31:45 2018

@author: houlinjie
"""

import tensorflow as tf
from tensorflow.contrib.framework.python.ops.variables import get_or_create_global_step
from tensorflow.python.platform import tf_logging as logging
import inception_preprocessing
from inception_resnet_v2 import inception_resnet_v2, inception_resnet_v2_arg_scope
import o

[2018-01-05 02:04] Tony-Hou commented on #3109
``

[2018-01-05 02:06] #3109 closed

[2018-01-05 02:08] Tony-Hou opened #3110 "The model have a low accuracy with inception_resnet_v2 model to train and load dataset in placeholder mode."
[](url)
`#!/usr/bin/python
#-*- coding:utf-8 -*-
"""
Created on Tue Jan  2 16:31:45 2018

@author: houlinjie
"""

import tensorflow as tf
from tensorflow.contrib.framework.python.ops.variables import get_or_create_global_step
from tensorflow.python.platform import tf_logging as logging
import inception_preprocessing
from inception_resnet_v2 import inception_resnet_v2, inception_resnet_v2_arg_scope

[2018-01-05 02:42] Tony-Hou commented on #3110
I modify the code from batch load dataset to placeholder method, I convert to the return value that load_batch() function from  a tensor to numpy.array,  use tensor.eval() method to convert a tensor feed_dict={x: img.eval(session=sess), y_true: lab.eval(session=sess)}),I suspect the below code snippet ,but i can't find out the issue
 dataset = get_split('train', dataset_dir, file_pattern=file_patt

[2018-01-05 03:21] Usernamezhx commented on #3073
thans for your reply!!!

[2018-01-05 03:21] #3073 closed

[2018-01-05 06:30] CarltonSemple commented on #1942
Has this improved with tensorflow-gpu 1.4?

[2018-01-05 07:54] offbye commented on #3059
I  think it is a mistake,  seems  only read  aeroplane_  data (train, val )

[2018-01-05 10:52] zhuoqianxiongdi commented on #1875
Traceback (most recent call last):
  File "F:/test/models-master/tutorials/rnn/translate/a.py", line 315, in <module>
    self_()
  File "F:/test/models-master/tutorials/rnn/translate/a.py", line 299, in self_
    5.0, 32, 0.3, 0.99, num_samples=8)
  File "F:\test\models-master\tutorials\rnn\translate\seq2seq_model.py", line 181, in __init__
    softmax_loss_function=softmax_loss_function)
  File

[2018-01-05 11:12] saikishor commented on #2482
@desync001
I managed to go over the issue earlier by replacing
`from object_detection.protos import string_int_label_map_pb2`
with
'sys.path.append('...models/research/object_detection')` #change to your location accordingly
`from protos import string_int_label_map_pb2'

Try this and let us know

[2018-01-05 14:18] uziela commented on #2203
@viralbthakar you understood correctly regarding freezing_variables. If you don't want to use any transfer learning, just delete fine_tune_checkpoint and from_detection_checkpoint fields from the config file. However, note that I am not a tensorflow developer, this is just what I understood from the user guide: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/config

[2018-01-05 19:22] mrfortynine commented on #3071
i'm also seeing "Endpoint read failed" error when switching from 1.2 to 1.4. Is this related to this [grpc issue](https://github.com/grpc/grpc/issues/9989)?

[2018-01-05 21:03] glarchev commented on #3071
@jiaxunwu I don't have hard metrics for my training results, I typically train until I see loss that's low enough, and then visually evaluate the resulting model (my application is object detection). With local training, the model performs roughly as expected. With CloudML training, however, it seems to produce a lot of false-positives (even though the training set is the same, and the loss at the

[2018-01-06 03:26] HaoshengZou commented on #1064
I had the same problem with @omelnikov . The second python instance to use the same GPU will give the following error:

F tensorflow/core/kernels/conv_ops.cc:667] Check failed: stream->parent()->GetConvolveAlgorithms( conv_parameters.ShouldIncludeWino
gradNonfusedAlgo<T>(), &algorithms)
Aborted (core dumped)

System specs:
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-87-generic x86_64)
python 3.6.3
tensorf

[2018-01-06 07:25] Zumbalamambo commented on #1942
@CarltonSemple no

[2018-01-06 08:46] dorudoru1 commented on #1772
I also add the max_evals : 1  but now I am getting the error : "local variable 'metrics' referenced before assignment". I have checked the code eval_util.py where the error comes from (line 393) but I still couldn't understand the reasoun behind.

[2018-01-06 09:13] YaoZhongtian commented on #1833
I got the same result as @yiyangjiang, and I also don't know why.

[2018-01-06 10:39] WZMIAOMIAO opened #3114 "Using object_detection API, I got a problem. Corrupt JPEG data: 240 extraneous bytes before marker 0xd9"
## When working on the pet data set, I have successfully run the training job, according to Running Locally. But when I run the evaluation job, I got a problem. Corrupt JPEG data: 240 extraneous bytes before marker 0xd9.

**1. /home/xx/models
2. I don't written code
3. Ubuntu16.04
4. Tensorflow 1.4.1 GPU install from pip3 install xxxxx
5. python 3.5
6. CUDA 8 / cuDNN 6
7. GTX 1060 6G
8. python obj

[2018-01-06 17:29] mljack commented on #1942
I got similar results. Full load on 20 CPU cores and 15% GPU usage on GTX 1080ti while training faster R-CNN with resnet101 feature extractor on Win10.
Profiling shows that grad_clip uses CPU heavily.

[2018-01-06 19:30] avish1993 opened #3115 "ERROR in domain_adaptation/pixel_domain_adaptation while running pixelda_train :: BUILD file not found on package path and referenced by '//models/domain_adaptation/pixel_domain_adaptation:pixelda_train'"
### System information
- **What is the top-level directory of the model you are using**: /home/GPU/models-master/models$ ls
... domain_adaptation  ...    slim ....

I had renamed the 'research' folder in 'models-master' to 'models'.

domain_adaptation contains 'datasets' folder with mnist and mnist_m tfrecord files.

- **Have I written custom code (as opposed to using a stock example script provid

[2018-01-06 19:32] oneTimePad opened #3116 "Object Detection API inference on Tegra GPU"
I have installed Tensorflow on the Nvidia Jetson TX2, and I am trying to run the object detection inference tutorial on it.

I have added swap space, so the total memory available is 16Gb. I read that the GPU and CPU share memory on the Jetson TX2. When running the tutorial all of my ram is used up, but the swap space isn't touched. However, I receive the following error stating that the there are

[2018-01-07 01:39] PhillipLy opened #3117 "Problem running my own model following the TensorFlow for Poets 2: Optimize for Mobile tutorial"
### System information
- **OS Platform and Distribution:
     1) Windows 10 for Android Studio and Training Custom Model via Tensorflow-GPU;
     2) Ubuntu 16.04 (via Oracle VM VirtualBox) to follow TensorFlow for Poets 2: Optimize for Mobile Tutorial
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.4
- **CUDA/cuDNN version**:  Cuda Toolkit

[2018-01-07 04:47] HeXu1 opened #3118 "'InceptionV3/Predictions/Softmax': Could not satisfy explicit device specification '/device:GPU:0'"
System information

What is the top-level directory of the model you are using: slim
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
TensorFlow installed from (source or binary): binary using pip install
TensorFlow version (use command below): 1.4.0 / 1.5.0 dev GPU
Bazel version (

[2018-01-07 07:28] shubham0704 commented on #3047
I am facing the same issue  even after the fix of bazel version to latest -
![screenshot from 2018-01-07 12-49-26](https://user-images.githubusercontent.com/15546524/34647498-2d3208de-f3aa-11e7-8580-c4aea8c4b570.png)

Possibly buggy implementation of py_proto_library -
https://stackoverflow.com/questions/47688252/tensorflow-trying-to-mutate-a-frozen-object-bazel

[2018-01-07 09:47] shubham0704 commented on #2822
I am facing the same issue  even after the fix of bazel version to latest -
![screenshot from 2018-01-07 12-49-26](https://user-images.githubusercontent.com/15546524/34647498-2d3208de-f3aa-11e7-8580-c4aea8c4b570.png)

Possibly buggy implementation of py_proto_library -
https://stackoverflow.com/questions/47688252/tensorflow-trying-to-mutate-a-frozen-object-bazel

[2018-01-07 10:48] puma007 commented on #2890
@andersskog I have try your answer，but only run a few steps, it throws out of memory error, image resolution is not large, less than 600

[2018-01-07 10:49] puma007 commented on #2890
@lucasharada I have the same error, have you solved it?

[2018-01-07 10:58] puma007 commented on #2890
@aselle I have the same error, is there a solution now? Thanks！I have set the gcloud command line with runtime-version=1.4，and the yml file is also set runtimeVersion: "1.4"，but have the same error `orker-replica-1
Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72,

[2018-01-07 14:08] oneTimePad commented on #3116
Is there a way to disable NMS from the config? I tried telling TF to allocate memory on demand, and it still didn't fix the issue.

[2018-01-07 19:45] sseveran commented on #2966
I can reproduce this inside the official tensorflow docker image with version 1.4.1. My workaround was to use the 1.2.1 docker image which works fine. I did not try 1.3.

[2018-01-07 20:11] drpngx commented on #2966
Actually, the current version should be 1.5.x. Couldyou try that?

[2018-01-07 20:11] drpngx commented on #2966
Are you using the monolithic build or the split out build?

[2018-01-08 04:22] Syzygy2048 commented on #2977
A better solution than the one proposed so far is probably to use inception_v3_arg_scope() which can be found in slim.nets.inception:

`    with slim.arg_scope(slim.nets.inception.inception_v3_arg_scope()):
        logits, endpoints = slim.nets.inception.inception_v3(input,
                                                         num_classes=1001,

[2018-01-08 04:50] mavyasoni786 opened #3121 "ModuleNotFoundError: No module named 'fsns'"
I am not able to compile Attention_ocr project. I am getting error while executing

[2018-01-08 08:29] GustavZ commented on #2710
what i experienced with the API is very low GPU Usage while detecting/inference.
Is there any option to optimize that? Is there a way to switch to GPU Mode?
For example i got following performances on SSD Mobile Net:
- Dell Laptop with Intel i7 CPU and Nvidia GTX 1050 runs at 30-40% GPU Usage with 25fps
- Nvidia Jetson Tx2 runs at 5-10% GPU Usage with 5fps

My project repo is:(https://github.com/G

[2018-01-08 08:43] GustavZ commented on #3116
hey oneTimePad i am doing the same as you.
I am running realcam object detection via webcam and opencv on the jetson tx2.
Everything runs perfectly fine but the performance still needs to be improved. Somehow it runs only at 6%Gpu Usage and 5fps.... but have a look at my project Repo (https://github.com/GustavZ/realtime_object_detection).

Would be great if you add ideas / contribute!

[2018-01-08 08:58] GustavZ commented on #2061
Hey guys, could someone of you give a short step by step guide/description/tutorial how to increase speed of NMS (re-exporting usw) started from the standard configuration that comes with cloning the repo :)

[2018-01-08 11:50] dsalaj commented on #2917
I experienced the same issue. It happens on both 1.4.0 and 1.4.1(master) versions, but no error on 1.3.
In my case I had a model that inherits from `tf.contrib.rnn.BasicRNNCell` and the error is simply caused by setting the `self.dtype`.

[2018-01-08 12:20] GustavZ commented on #2267
@VastoLorde95  any news about the progress?

[2018-01-08 13:50] Burton2000 commented on #1564
Same error with vanilla TF 1.4 but the gist posted above worked perfectly for me so problem solved thanks.

[2018-01-08 15:43] skye commented on #3092
@bousmalis @dmrd can you take a look? Thanks.

[2018-01-08 15:44] skye commented on #3098
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-08 15:44] #3098 closed

[2018-01-08 15:49] skye commented on #3110
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-08 15:49] #3110 closed

[2018-01-08 15:53] skye commented on #3114
Can you fill out the issue template please?

[2018-01-08 15:55] skye commented on #3118
@sguada @nathansilberman

[2018-01-08 16:10] oneTimePad commented on #3116
@GustavZ  Thank you! I completely forgot about mobilenet; I was using Inception-resnet-v2 (that might of been my issue). I was also running Faster R-CNN, since for my project I'm just running it through images at a low frame rate (<1fps) and really need high accuracy. However, using Faster R-CNN might also be my issue.

I had asked a similar question on the Nvidia help forum, and they led me to on

[2018-01-08 18:06] Nassimmd commented on #933
I am using Tensorflow 1.5.0rc0 and I still have this issue

[2018-01-08 18:07] SaintNazaire commented on #3049
Speaking of which @calberti @andorardo @bogatyy @markomernick, I realize that `pip install syntaxnet-with-tensorflow` downloads and installs v. 0.2 last update as of April 21, 2017.

Any plans for update? Would you like any help? If so what would you like me to do?

[2018-01-08 20:01] markomernick commented on #3049
We have this on our radar to update soon. Thank you for reporting!

[2018-01-08 21:10] CJMenart opened #3124 "TF-Slim Model for ResNet 152 v1 Not Compatible With Code"
The pre-trained model for ResNet-152 v1, available from this page:

https://github.com/tensorflow/models/tree/master/research/slim

Is not in synch with the code from the same page.

The following snippet should create a graph for resnet-152 and load the checkpoint file:
[code]
However, it produces this error:
'Tensor name "resnet_v1_152/block2/unit_4/bottleneck_v1/conv2/biases" not found in check

[2018-01-08 21:21] CJMenart commented on #3124
Full error log:

2018-01-08 16:06:17.951663: W c:\tf_jenkins\home\workspace\release-win\m\windows-gpu\py\35\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE instructions, but these are available on your machine and could speed up CPU computations.
2018-01-08 16:06:17.951849: W c:\tf_jenkins\home\workspace\release-win\m\windows-gpu\py\35\tensorflow

[2018-01-08 21:31] CJMenart commented on #3124
The 'arg_scope' was missing. TF-Slim is a special snowflake and requires:
[code]

[2018-01-08 21:31] #3124 closed

[2018-01-08 21:43] rohanag opened #3125 "evaluating perplexity on same sentence twice"
Hi

The issue is wrt to lm_1b model in the research folder.

As a test, I am evaluating the perplexity on the same sentence, twice. I would have expected the RNN model to output the same perplexity score for the duplicate sentences. Please correct me if I'm wrong. I would assume that the context from one sentence should not carry over into the next. Also the internal state of the RNN should not be

[2018-01-08 21:50] rohanag commented on #3125
@panyx0718 ?

[2018-01-08 22:43] shivaniag commented on #3103
@nealwu mind taking a quick look?

[2018-01-09 00:27] cy89 commented on #3084
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon @afathi3, if any of you have a reaction or suggestions, they would be very helpful. Or even whether we should mark this feature request as "contributions welcome."

[2018-01-09 01:25] nealwu commented on #3103
Hi @cclauss, we don't officially maintain the `research/` folder; that is up to the individual researchers. However, if you're able to create a pull request to fix this issue en masse, I'm happy to take a look at it.

[2018-01-09 03:48] bevisxia opened #3128 "dataset_util.py line:75 "if not xml:" seems illegal in python3"
c:\suredata\VI_Train>python c:\suredata\VI_Train\\sd_train\create_pascal_tf_record.py --data_dir=c:\suredata\VI_Train\\sd_train\ssd_model_2017_12_21\ --label_map_path=c:\suredata\VI_Train\\sd_train\ssd_model_2017_12_21\pascal_label_map.pbtxt --year=VOC2017 --set=train --output_path=c:\suredata\VI_Train\\sd_train\ssd_model_2017_12_21\pascal_train.record
c:\suredata\VI_Train\object_detection\utils\d

[2018-01-09 04:36] woody-kwon commented on #1972
@wendal Thanks for your comments. I solved using 'dual gpu' issue.

[2018-01-09 06:44] xzy256 opened #3129 "Attempting to use uninitialized value InceptionV3/Mixed_6d/Branch_3/Conv2d_0b_1x"
I modify the Inception V3 network(delete some layer modules), and create 6 classes train data, 1 image per class. When i execute training, i get the error

 Attempting to use uninitialized value InceptionV3/Mixed_6d/Branch_3/Conv2d_0b_1x1/weights
	 [[Node: InceptionV3/Mixed_6d/Branch_3/Conv2d_0b_1x1/weights/read = Identity[T=DT_FLOAT, _class=["loc:@InceptionV3/Mixed_6d/Branch_3/Conv2d_0

by the wa

[2018-01-09 06:46] WZMIAOMIAO commented on #3114
I'm so sorry. I don't know where issue template is.

[2018-01-09 06:48] stanleynguyen opened #3130 "TypeError: __init__() got an unexpected keyword argument 'file'"
I got this error when trying to run `python object_detection/builders/model_builder_test.py`
[code]
I have followed all the steps from installation instructions without fail. Can someone please help me understand the cause of this error?

[2018-01-09 06:58] puma007 opened #3131 "Error running Object Detection training in google ML engine - grpc epoll fd: 3"
I'm trying to train Object Detection model with gcloud ml-engine,reference to the official documents [https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_cloud.md](url)，and set runtime-version=1.4，and reference this issue [https://github.com/tensorflow/models/issues/2739](url)  to modify the setup.py , but have the error:

2018-01-09 06:32:39.416080: I tenso

[2018-01-09 07:29] WZMIAOMIAO commented on #3128
When using python3.5 , I have got same problem, but I have got tfrecord files.  You can check your output_path.

[2018-01-09 07:35] lcerman commented on #2540
I have also hit this problem when using wheels from TinyMind built with MKL (https://github.com/mind/wheels), tried 1.4 wheel with CUDA + MKL, 1.4.1 CUDA + MKL and 1.4.1 CPU only + MKL, with all of these I got the same error (tons of zero allocations complaints in the log).

Using generic build from pip (i.e., `pip install tensorflow-gpu`) or TinyMinds wheel without the MKL support seems to have n

[2018-01-09 08:15] lcerman commented on #2540
Yet another comment on this. These weird errors only appear in eval.

However, the training seems also broken in some way. With MKL when run training on CPU, I got 11sec/step, with the official TF build (`pip install tensorflow-gpu`) executed on the CPU only, I got 7--8sec/step. Using TinyMind's optimized build (without MKL), the times shrink to 3--4sec/step. Executing on GPU (no mater whether usi

[2018-01-09 08:21] GustavZ commented on #3116
@oneTimePad how/where did you remove the NMS? Did your Memory Usage or Fps increase? Could you give a short guide on how to do it? Is it necessary to retrain the network after that or is it possible to do this with a pretrained model from the "model zoo" afterwards?

[2018-01-09 11:09] PhillipLy commented on #3117
Solved. Also my apology for posting this in the wrong place.

[2018-01-09 11:09] #3117 closed

[2018-01-09 12:01] PatWie commented on #2966
FYI I tried as well
on the latest commit:
[code]
using different ways (ABI=0, ABI=1, omit the flag)

[code]

all gives me
[code]

Even in a very basic custom Op (tensorflow/tensorflow#15002)

I will try a build with g++4.9 to make sure to use the old ABI.

[2018-01-09 12:19] saagr commented on #2930
Thanks @obabac. That did the trick.

[2018-01-09 12:25] P-a-i-s commented on #2087
I have the same question for multiple classes. Can anyone help with this?

[2018-01-09 18:28] kolesman opened #3132 "object_detection A problem (bug?) when training a detection model in the multiclass setting"
### System information
- **What is the top-level directory of the model you are using**: research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 4.9.65
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command be

[2018-01-09 19:42] shivaniag commented on #3089
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-09 19:42] #3089 closed

[2018-01-09 19:46] #3095 closed

[2018-01-09 20:48] cy89 commented on #3130
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-09 20:48] #3130 closed

[2018-01-09 21:01] cy89 commented on #3087
@Goffic, just to check, you're using unmodified code from the distribution? Could you please fill out the usual template in full:

I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the informat

[2018-01-09 21:04] cy89 commented on #3101
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-09 21:04] #3101 closed

[2018-01-09 21:14] cy89 commented on #3091
Can you fill in our standard template about what Platform and version you're using? 1.2 seems pretty old by our standards :-).

It may be a red herring, but I'm a bit surprised by the input and filter shapes that you're ending up with: input shape([300,512,7,7]) filter shape([3,3,512,512]). Can you pick out which ones correspond to batch size, image size, and feature depth? In particular, where do

[2018-01-09 23:41] shivaniag commented on #3121
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-01-10 00:23] shivaniag commented on #3131
@tombstone could you please take a look or redirect?

[2018-01-10 00:30] shivaniag commented on #3129
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-10 00:30] #3129 closed

[2018-01-10 00:34] bevisxia commented on #3128
@WZMIAOMIAO thank you very much. I have got the tfrecord files too.

[2018-01-10 00:34] #3128 closed

[2018-01-10 01:26] xzy256 commented on #3129
I ask same question on `StackOverflow`. The link is [Attempting to use uninitialized value InceptionV3](https://stackoverflow.com/questions/48163685/attempting-to-use-uninitialized-value-inceptionv3-mixed-6d-branch-3-conv2d-0b-1x).

[2018-01-10 01:46] skye commented on #3114
When you create a new issue, the text field is populated with the issue template. Please edit your current issue to follow this template or close this one and file a new one using the template.

[2018-01-10 02:05] kannan60 commented on #3091
OS Platform and Distribution: Windows 10 64 Bit
TensorFlow installed from (source or binary): binary
TensorFlow version :1.4.0
Python version 3.5.2(v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55)
GPU: nVidia GeForce 755M 2GB
CPU: Intel x64-64 Intel Core i5-4200M CPU @ 2.50Ghz, 8GB memory

I will try breaking down the steps:

I initially trained locally and got the desired results but the training time

[2018-01-10 04:54] #3114 closed

[2018-01-10 05:07] WZMIAOMIAO opened #3134 "Object_detection: Corrupt JPEG data: 240 extraneous bytes before marker 0xd9."
### System information
- **What is the top-level directory of the model you are using**:   /home/xx/models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu16.04
- **Python version**: python 3.5
- **TensorFlow installed from (source or binary)**: install from pip3 install xx

[2018-01-10 05:23] laupl0082 commented on #2267
Was anybody able to run any object detection with tensorFlow API on Jetson TX2 with any other model other than ssd_v1?

[2018-01-10 08:56] HarryFengYinxuan opened #3135 "URL dead"
https://www.tensorflow.org/versions/r0.12/tutorials/syntaxnet/ Has a link to a tutorial, linking here I assume it should, but it gave me 404. There might be something wrong, and it would be a easy fix. I just want to let you know.

[2018-01-10 14:08] GustavZ commented on #2377
Is there any news concerning this issue? I am also experiencing very low GPU Usage while inference

[2018-01-10 14:24] GustavZ opened #3136 "Low GPU and CPU Usage while Inference / realtime detection"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4 with GPU
- **Bazel v

[2018-01-10 14:32] Lizzard93 opened #3137 "Double tensorflow INFO: when using a slim pretrained model"
### System information
- **What is the top-level directory of the model you are using**: object-detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source and binary
- **TensorFlow version (use command

[2018-01-10 15:04] idorozenberg commented on #2952
@drpngx @derekjchow. Are you looking into this?

Thank you.

[2018-01-10 15:06] siddharthm83 opened #3138 "Object detection API has very slow inference time with Tensorflow Serving"
I am unable to match the inference times reported for models released in object detection [model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). Specifically I am trying out `faster_rcnn_resnet101_coco` model where the reported inference time is 106ms on a Titan X GPU.

My serving system is using TF 1.4 running in a container built fro

[2018-01-10 15:34] VolveRe678 commented on #3078
Im sorry but im getting this error, can you please tell me what is wrong with it???

Traceback (most recent call last):
  File "object_detection.py", line 168, in <module>
    image_np_expanded = np.expand_dims(image_np, axis=0)
  File "C:\Users\Dell\AppData\Local\Programs\Python\Python36\lib\site-packages\numpy\lib\shape_base.py", line 298, in expand_dims
    a = asarray(a)
  File "C:\Users\Dell\

[2018-01-10 15:42] GustavZ opened #3139 "error running export_inference_graph.py"
When i run `export_inference_graph.py` with the correct paths from the object_detection folder like this:
[code]
then i got following error:
[code]
when you look into `export_inference_graph.py`, it tries to import Modules `from object_detection`.
How is this supposed to work as the script itself is located inside `object_detection` ?

For example when it imports `from object_detection import expo

[2018-01-10 15:45] monomon commented on #3139
You have to either run the script from the `object_detection` directory, or make sure that the path to it is in the `PYTHONPATH` environment variable.

Please note this is a bug tracker and such questions should be asked on (Stack Overflow)[http://stackoverflow.com/questions/tagged/tensorflow]

[2018-01-10 16:21] GustavZ commented on #3139
I am running the script directl from the object_detection directory.

This is no solution.

[2018-01-10 16:40] emmanuelmontagnon commented on #1595
On windows 10, assuming that you fixed protoc issues as indicated above,
I also ran commands:
_python setup.py build_ then _python setup.py install_ for in research folder **and** slim folder (you may also have encountered some import issues with commands like ''from nets import ... )

I then copied copied related egg files into my libray path (related to my _tensorflow_ environment):

_C:\Users\t

[2018-01-10 17:38] ashaw596 commented on #2948
After running it through a 3 to 2 converter. The main remaining bug is you need to convert all 'sampling_dim / 2' in policy.py to 'sampling_dim // 2'. Not 100% sure thats all the bugs. But it runs after that.

[2018-01-10 18:42] shlens commented on #3050
@yaroslavvb Looks reasonable to me. Send a PR for my review?

[2018-01-10 18:54] shivaniag commented on #3135
@MarkDaoust Do we maintain r0.12 tutorials? could you please take a look i we do.

[2018-01-10 18:55] shivaniag commented on #3139
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-10 18:55] #3139 closed

[2018-01-10 19:27] MarkDaoust commented on #3135
We don't maintain the old docs snapshots.

The fix is that I'm deleting the 0.12 docs in a couple of days.

You can find syntaxnet here:

https://github.com/tensorflow/models/tree/master/research/syntaxnet

[2018-01-10 19:27] #3135 closed

[2018-01-10 22:33] shivaniag commented on #3115
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-10 22:33] #3115 closed

[2018-01-10 22:48] nealwu commented on #2966
Hi all, could you try again with the latest version of the README? We just merged a change to the compile instructions in https://github.com/tensorflow/models/pull/3099.

[2018-01-11 00:56] shivaniag commented on #3137
Could you share the exact code you are trying to run? I am not able to reproduce with the details you have provided. Looping @tombstone for object-detection.

[2018-01-11 01:17] phongnhhn92 commented on #2377
I am still waiting for some fixes ? May be loading image into numpy format is the problem .

[2018-01-11 01:26] cy89 commented on #3132
@afathi3 @dreamdragon @jesu9 are you aware of any problems with k-hot label encoding?

[2018-01-11 03:24] rickhg12hs opened #3143 "Feature Request: Freeze capability NasNet-A-Large Checkpoint on a CPU"
### System information
- **What is the top-level directory of the model you are using**:
https://storage.googleapis.com/download.tensorflow.org/models/nasnet-a_large_04_10_2017.tar.gz

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes (see below)

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
== cat /etc/issue ===============

[2018-01-11 03:36] rickhg12hs commented on #3103
Or maybe something like this could be strategically placed?

[code]

[2018-01-11 03:44] nealwu commented on #3103
@rickhg12hs we prefer to use `six` for this purpose. It also provides a number of other Python 2/3 compatibility fixes; you can see https://pythonhosted.org/six/for a full list.

[2018-01-11 03:49] rickhg12hs commented on #3103
@nealwu Yeah, `six` should be a better solution.  Is there a _magical_ place to import it smartly?

[2018-01-11 03:57] bevisxia opened #3144 "can I trained on windows and run on linux？"
I trained my dataset on windows（with tensorflow 1.4.0，python3.6），and it doesn't work when run on centos7.4 （python2.7 tensorflow 1.4.1）。but it works if I trained on Centos7.4.

I used ssd_mobile_net, and configuration is:
[code]

![ImageSets\Main](https://user-images.githubusercontent.com/19791975/34807908-3d4bb52a-f6c6-11e7-87e1-2d914fe8857d.png)

pascal_label_map.pbtxt:
![pascal_label_map.pbtxt]

[2018-01-11 04:21] bevisxia commented on #1956
@NguyenHoanh1703 Has any effection If I changed fixed_shape_resizer ?

[2018-01-11 05:59] EthanYuan commented on #3072
Exact same problem on Win10 Python 3.6

[2018-01-11 08:00] SamaraIriiis opened #3145 "ImportError: cannot import name 'string_int_label_map_pb2'"
When I ran the Object Detection API TensorFlow it produces an error:

Traceback (most recent call last):
  File "E:\JET\Object Detection\Models\research\object_detection\object_detection_tutorial.py", line 26, in <module>
    from utils import label_map_util
  File "E:\JET\Object Detection\Models\research\object_detection\utils\label_map_util.py", line 22, in <module>
    from object_detection.pro

[2018-01-11 08:16] NightFantomJ2 commented on #2966
@nealwu can confirm the new instructions work (after leaving out the `-D_GLIBCXX_USE_CXX11_ABI=0` because I compiled from source).

relevant specs I can think of:
ubuntu 16.04, 64 bit, anaconda python 3.6.4, tensorflow 1.4.0, gcc 7.2.0

[2018-01-11 08:51] GustavZ commented on #3139
https://stackoverflow.com/questions/48202962/error-running-export-inference-graph-py-in-object-detection-api

[2018-01-11 09:24] samuelzhouhe commented on #1782
I had the same problem and solved it in the same way. Thanks.

[2018-01-11 10:14] houxiaoxia1 opened #3146 "why faster_rcnn_inception_resnet_v2_atrous_lowproposals_oid model cost so much time when I test it under gpu?"
hi,  all. Could you tell me why it costs so much time when I test faster_rcnn_inception_resnet_v2_atrous_lowproposals_oid model under gpu, it takes about 29s per picture while https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md tell me it takes only 347ms. Thank you.

[2018-01-11 11:49] blaskowitz100 commented on #1942
Yeah, same problem for me. 100% CPU load and only 15% on my GTX1080. The same model trains twice as fast on my Ubuntu machine with a GTX970.

[2018-01-11 13:59] Curreno commented on #2861
This did not work for me, I've tried changing to layout_optimizer=1 on line 71 yet it throws the same error.

[2018-01-11 14:38] SaintNazaire commented on #3069
@calberti @andorardo @bogatyy @markomernick

I introspected the docker container after execution of docker file until just before the error.

It is weird the file does exists in the directory

`# pwd`

`ls`

I can even inspect the file, note that I have tested the header `!/usr/bin/env bash ` and this is correct

`cat configured`

Tried also to authorize the file

`chmod +X`

Which works fine

`ls

[2018-01-11 14:50] SaintNazaire commented on #3069
Installing 32bits GCC brings no benefit

`apt-get install gcc-multilib`

[2018-01-11 16:14] khanh96le commented on #3131
I think, you should do some experiments by changing your training input parameters in `cloud.yml` (e.g. increasing the number of workers, or using the larger machine type). Another parameter you should take a look is the `batch_size` in `ssd_mobilenet_v1_coco.config` file, you might consider decreasing it.

[2018-01-11 19:02] cy89 commented on #1956
@bevisxia I don't understand your question, or what you're trying to clarify compared to @NguyenHoanh1703 's response. Can you tell us more about what you're proposing, please?

[2018-01-11 19:02] cy89 commented on #3134
@jch1 @tombstone, PTAL.

[2018-01-11 19:04] cy89 commented on #3136
@jch1 @tombstone is the performance at expected levels?

[2018-01-11 19:06] cy89 commented on #3138
@tombstone @jch1 there's also a request for clarification in the StackOverflow thread about what configurations were used with the model zoo.

[2018-01-11 19:10] cy89 commented on #3146
@houxiaoxia1 aside from referring you to StackOverflow, have you tried profiling your code to see where it spends its time? Look for the TF timeline tool.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-11 19:10] #3146 closed

[2018-01-11 19:46] kolesman commented on #3132
I think there is actually a bug and it can be easily fixed.

The potential problem is in this line: https://github.com/tensorflow/models/blob/9b57f41ce21cd7264c52140c9ab31cdfc5169fcd/research/object_detection/meta_architectures/faster_rcnn_meta_arch.py#L1476

Essentially, it always prefers classes with the lowest number for constructing the second stage regression loss. In the multiclass setting i

[2018-01-11 19:51] GustavZ commented on #3136
would also be nice if someone could tell me how to properly call optimize_for_inference.py on the pre-trained ssd_mobilenet_v1_coco frozen Model.
I was choosing image_tensor as Input Node and detection_boxes,detection_scores,num_detections,detection_classes as Output Nodes.
The script compiled. But using the optimized graph failed.
See this Question for more details: https://stackoverflow.com/ques

[2018-01-11 19:52] Curreno commented on #3053
This did not work for me, I've tried changing to layout_optimizer=1 on line 71 yet it throws the same error.
I've also tried with the standard value for the parameter with no success. Any tips?

[2018-01-11 20:07] afathi3 commented on #3132
Adding @jch1 and @tombstone

[2018-01-12 02:00] oneTimePad commented on #3116
@GustavZ In `multiclass_non_max_suppression` in `postprocessing.py` I removed the lines 144-148 and added code (see the github repo and branch posted above) that just allows all bounding boxes through. I retrained the net from the checkpoint (the "model zoo") and it seemed to be training fine, not much change in loss. I haven't done any tests on just evaluating a "model zoo" checkpoint without fin

[2018-01-12 03:16] willSapgreen commented on #2036
Any update on this issue?
I have the same problem when using the following functions:
saver = tf.train.Saver(max_to_keep=None)
saver.restore(sess, '/ABSOLUTE_PATH/mobilenet_v1_1.0_224.ckpt.meta')
Thank you.

[2018-01-12 03:41] hareshnindblr76 commented on #1744
Was this issue resolved? I'm getting the same error. Tf 1.5.0rc0 while using faster_rcnn_resnet50_lowproposals_coco model

[2018-01-12 03:44] FightForCS opened #3147 "Pre-trained FPN based object detection model?"
In the object detection model zoo, I have not found a pre-trained model using FPN as the feature extractor, is there someone working on this?

[2018-01-12 06:35] Angarish commented on #2015
is this possible now ? if yes, How ?

[2018-01-12 06:50] MikalaiDrabovich opened #3148 "python3 mnist.py - AttributeError"
With the latest master branch of TensorFlow 1.5.0-rc0 and Python 3.5.2, running
`python3 official/mnist/mnist.py`
result in:
[code]

[2018-01-12 07:22] khanh96le commented on #3131
I solved OOM problem by reducing the image size.

[2018-01-12 09:54] jrruijli commented on #3132
I agree with Alex that his solution would work. However, it would probably be better (and much harder) to assign the regression to all classes but properly weight them. See also rationale for introducing this bug in the first place:

# For anchors with multiple labels, picks refined_location_encodings
# for just one class to avoid over-counting for regression loss and
# (optionally) mask loss.

Ch

[2018-01-12 10:31] plieningerweb commented on #2066
This is a so essential bug, many many people get frustrated by it! Please check the pull request and merge it (if nothing else gets broken of course...)

[2018-01-12 10:45] pythonnewer opened #3151 "variables_to_ignore_patterns"
I think variables_to_ignore_patterns should be a list ,not a generator
  variables_to_ignore_patterns = filter(None, filter_regex_list)
  for var in variables:
    add = True
    for pattern in variables_to_ignore_patterns:
      if re.match(pattern, var.op.name):
        add = False
        break
    if add != invert:
      kept_vars.append(var)
  return kept_vars

[2018-01-12 13:25] frostell commented on #2861
on ubuntu 16.04 with latest version of everything involved installed I got the same error:

ValueError: Protocol message RewriterConfig has no "layout_optimizer" field.

I changed "layout_optimizer" to "optimize_tensor_layout" on line 72 in exporter.py, and then it worked.

(I'm guessing that RewriterConfig needs to be updated if the desired name of the field is "layout_optimizer" and not  "optimi

[2018-01-12 14:06] SaintNazaire commented on #3047
Suggest to reopen the issue problem is still there, the error log is almost identical.

Bazel version 0.8.0 AND 0.7.0 AND 0.5.4

[2018-01-12 14:10] SaintNazaire commented on #2822
Same here.

@jart, thank you for trying to fix this.

This is not a duplicate of #2822 and #2962

Suggest to reopen the issue problem is still there, the error log is almost identical.

Bazel version 0.8.0 AND 0.7.0 AND 0.5.4

[2018-01-12 15:11] Lizzard93 commented on #3137
`python train.py --logtostderr --pipeline_config_path=./configs/faster_rcnn_inception_v2.config --train_dir=./checkpoints/checkpoint_inception_v2_imagenet`

where faster_rcnn_inception_v2.config is:

[code]
where:
**fine_tune_checkpoint: "./pretrained_models/inception_v2_imagenet_2016_08_28/inception_v2.ckpt"**
is the pretrained slim model from [http://download.tensorflow.org/models/inception_v2_2

[2018-01-12 16:58] laoreja opened #3152 "Memory and cudnnLSTM issues in Recurrent Neural Networks for Drawing Classification"
### System information
- **What is the top-level directory of the model you are using**: models/tutorials/rnn/quickdraw/train_model.py
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux ubuntu 14.04
- **TensorFlow installed from (source or binary)**:pip, virtualenv
- **TensorF

[2018-01-12 17:35] cy89 commented on #3144
Can you please tell us more about "doesn't work"? I'm guessing you mean "produces garbage classifications without crashing".

[2018-01-12 17:56] cy89 commented on #3152
@laoreja would you please report the bug in a way that we have a chance of reproducing it?
I believe you about having OOM problems, but the (repeatable) exhaustive description of your setup and listing of outputs are kind of a requirement for us to be able to figure something out. Also, the bus error makes me wonder if you might have flaky hardware--can you try a different machine?

[2018-01-12 19:13] shivaniag commented on #3145
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-12 19:13] #3145 closed

[2018-01-12 19:19] odilialirani commented on #1809
@saikishor hi, I'm just wondering if you've found anything about adding a class to the model?

[2018-01-12 19:22] MeghaMaheshwari opened #3155 "Performance issues : Speed is very slow, around .8 seconds per frame on pre-trained model"
I am using the pre-trained model "ssd_mobilenet_v1_coco_2017_11_17" and the results for object detection for vehicles is pretty good. However, the performance is extremely slow and hence I am unable to use it for my purpose. I resized the image to a smaller one and even chopped the horizon from the image so that the detection is faster, but it doesnt seem to help. Is this a known issue? Any sugges

[2018-01-12 21:18] arielscarpinelli commented on #3131
I've reduced my image sizes to 400 pixels in the biggest dimension and still getting OOM. `OOM when allocating tensor with shape[299,17,17,4032] [[Node: CropAndResize = CropAndResize[T=DT_FLOAT, extrapolation_value=0, method="bilinear", _device="/job:master/replica:0/task:0/device:GPU:0"]`
Which image size is recommended?

[2018-01-12 23:25] Curreno commented on #2861
Hmm, I tried changing line 72 to that but I still get the exact same error lol. There has to be some weird stuff going on for me right now...

[2018-01-12 23:51] cy89 commented on #3143
@zffchen78 I think @rickhg12hs diagnoses of NCHW versus NWHC looks right:

InvalidArgumentError: ConcatOp : Dimensions of inputs should match: shape[0] = [1,75,75,42] vs. shape[2] = [1,42,75,75]

Should we be able to freeze on the CPU, too?

[2018-01-12 23:54] cy89 commented on #3147
@jch1 @tombstone do you have any guidance?

[2018-01-12 23:59] cy89 commented on #3151
@pythonnewer I'm sorry, I don't understand. "filter" returns a list, right?

[2018-01-13 02:07] sarah-zhu commented on #2952
I also had the same issue when training SSD model.

[2018-01-13 02:12] khanh96le commented on #3131
AFAIK, it depends on which model you choose. In my case, I reduced my images size to ~600 - 800 max pixels each demensions for ssd. How is your scale tier?

[2018-01-13 03:13] #3148 closed

[2018-01-13 03:13] nealwu commented on #3148
Fixed by https://github.com/tensorflow/models/pull/3149

[2018-01-13 07:27] dwSun commented on #2312
Uninstall Tensorflow and reinstall it from pypi may fix this problem.
Make sure every time you compilation is clean. Delete everything from your last compilation.

[2018-01-13 08:22] xumine commented on #3072
same problem on Ubuntu Python 3.6

[2018-01-13 09:15] siyuanzhuang opened #3158 "Load a Tensorflow model into memory,It takes too long times"
#Load a (frozen) Tensorflow model into memory.
  detection_graph = tf.Graph()
  with detection_graph.as_default():
    od_graph_def = tf.GraphDef()
    with tf.gfile.GFile(PATH_TO_CKPT, 'rb') as fid:
      serialized_graph = fid.read()
      od_graph_def.ParseFromString(serialized_graph)
      tf.import_graph_def(od_graph_def, name='')
--------------------------------------------
use ssd_mobilenet

[2018-01-13 11:43] arielscarpinelli commented on #3131
[code]
I've tried with up to 9 workers in `standard_gpu`, two workers with `complex_model_m_gpu` and a single worker with `complex_model_l_gpu` beacause of the 45 ML units limit, and still no luck.

I'm trying with the `faster_rcnn_nas_coco_2017_11_08` which is the one with highest mean average precision. Is also the slowest but I really don't care about detection time for my use case and prefer t

[2018-01-13 18:20] jjzhang10 opened #3159 "Incorrect imagenet classification result with pretrained mobilenet"
### System information
- **What is the top-level directory of the model you are using**:
mobilenet_v1
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.4.0
- **Bazel version (

[2018-01-13 20:21] jjzhang10 commented on #3159
Found the issue.
Add the mobilenet_v1 scope.

with slim.arg_scope(mobilenet_v1.mobilenet_v1_arg_scope()):
            logits, _ = mobilenet_v1.mobilenet_v1(images, num_classes=1001, is_training = False)

[2018-01-13 20:21] #3159 closed

[2018-01-14 02:04] jimo123 opened #3161 "TypeError: x and y must have the same dtype, got tf.float32 != tf.int32"
i am learning the tensorflow object detection api.i can train model normally using the train.py script,but when i use the eval.py script to evaluate it,some wrong happend.
python eval.py --logtostderr \

INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
I

[2018-01-14 08:30] rky0930 commented on #2267
Hi. I'd like to share my YOLOv2 model which is implemented based on Object Detection API.
I thought YOLOv2 is an SSD model which has only one feature map.
There were not so many changes for YOLOv2, just add feature map extractor, anchor generators, and a loss function.

I also trained Darknet19 with Imagenet dataset for classification. The result was 0.7 accuracy and 0.9 recall5.

The YOLOv2 model

[2018-01-14 09:07] beacandler opened #3162 "make sure batch_norm is False when inferencing a image"
# problem
when using
code: `tensorflow/models/reaserch/atttention_ocr:
`
paper:` Attention-based Extraction of Structured Information from Street View Imagery`
I encountered a issue.
Recognizition result for one image is depended on images within the same batch, sometimes when batch is larger than the number of acutal images ,the result is absurd.
# reason
in batch_norm.
When inferencing a image i

[2018-01-14 09:20] idorozenberg commented on #2952
Tried Adam, regular momentum.

[2018-01-14 11:51] shubham0704 commented on #2822
@SaintNazaire  I have made a small [repo](https://github.com/shubham0704/syntaxnet-minimal) to test our projects in syntaxnet. Hope it helps :)

[2018-01-14 13:29] MicrocontrollersAndMore opened #3164 "Tensorflow Object Detection API on Windows - error “ModuleNotFoundError: No module named 'utils'”"
### System information
- **What is the top-level directory of the model you are using**:
models/research/object_detection

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No custom code, using stock example in models/research/object_detection

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10

- **TensorFlow installed fr

[2018-01-14 14:24] cdac-cvml commented on #422
I think you are not passing model name argument properly. it should be passed as
--model_name=inception_v3

[2018-01-14 16:40] CDahmsTemp commented on #3164
Sorry for posting a dumb question, as somebody on Stack Overflow just pointed out, all I had to do was to add

`C:\Users\cdahms\Documents\models\research\object_detection\utils`

To PYTHONPATH in addition to the above locations and now everything works.  Whoever administrator sees this next feel free to close this now.

[2018-01-14 16:43] monomon commented on #3164
Please correct this to `C:\Users\cdahms\Documents\models\research\object_detection` as pointed out in the SO answer.

[2018-01-14 17:22] CDahmsTemp commented on #3164
On the Stack Overflow post I just accepted RecencyEffect's answer and updated my description applicably.

[2018-01-14 17:26] monomon commented on #3164
What I mean is that you once again put in the wrong path in your explanation :)

[2018-01-14 17:41] CDahmsTemp commented on #3164
I just changed my previous answer here, also, to completely resolve any confusion, here are screenshots of the PYTHONPATH and PATH settings that made it all work in the end:

![untitled](https://user-images.githubusercontent.com/24634560/34918856-d34045d8-f90e-11e7-895c-3dfb25c23d47.png)

![untitled2](https://user-images.githubusercontent.com/24634560/34918851-c7d8a4d8-f90e-11e7-8531-5af5b196ec3f.

[2018-01-14 22:14] bhack commented on #2793
@afathi3 Is it related to your Instance Embedding Transfer paper?

[2018-01-15 00:58] ThomasLengeling commented on #2861
@frostell  that work, thank you!!!

[2018-01-15 01:58] beyondli commented on #2203
@derekjchow ，since "From our experience freezing the base feature extractors doesn't train faster nor does it give a better end accuracy". what does this means? from my learned, fine-tuned seems has been a must way for transfer learning of different task of same field(detect / classification .....). which could get  at least near precision of original models with FEWER samples.this seems is alread

[2018-01-15 03:54] MetaPeak commented on #2066
@drauh I wonder the data argumentation methods' order used in tensorflow detectiuon api. Maybe it uses methods in preprocessor.py first, then it normolizes the value from 0~255 to -1~1. If this is true, the methods such as random adjust brightness/contrast is useless, because add a small number to 255 is approximitely equal to 255.

[2018-01-15 06:48] Laodax opened #3165 "What is the proportion of validation data to training data?"
I have use train.sh to retrain inception v3 with my own data. I know that the validation data will be set automatically,but I don't know the proportion of validation data to training data. What is the proportion and can I use my own validation data to train?

[2018-01-15 07:31] P-a-i-s commented on #1834
Could you be clear and specific:
Used protoc inside bin directory to run this -- which bin directory is this?

[2018-01-15 07:39] saikishor commented on #1834
@P-a-i-s  There we are pointing out to the protoc executable in the bin folder of protoc_3.3. As we do here in the below command:
**/home/saikishor/tensorflow/protoc_3.3/bin/protoc** object_detection/protos/*.proto --python_out=.

[2018-01-15 07:57] P-a-i-s commented on #1834
/home/ubuntu/tensorflow/protoc_3.5/bin/protoc object_detection/protos/*.proto --python_out=.
@saikishor - worked like a charm - thanks a ton for the speedy response and clarity :)

[2018-01-15 08:28] AIROBOTAI opened #3166 "The multi-gpu codes of resnet?"
Can the resnet codes released in [tensorflow/models/official/resnet](https://github.com/tensorflow/models/tree/master/official/resnet) support multi-gpu and distributed training? Is there official implementation from TF for multi-gpu and distributed training of resnet on imagenet?

[2018-01-15 09:49] xiaochenwang94 opened #3167 "Convert channel last to channel first."
https://github.com/tensorflow/models/blob/1887a5fe187c8ab9f623cd91b74fc8432ce76d6f/official/resnet/resnet_model.py#L244
In this function, the model wants to transform channel last to channel first? Should there be
`if data_format == 'channels_last': `?

[2018-01-15 11:22] juzhitao opened #3168 "inception v4"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2018-01-15 11:27] OverFlow7 commented on #2595
No i haven't, i switched to a different server with two other 1060s and it working fine :/.

[2018-01-15 11:28] alessandrofrancesconi commented on #2773
I'm experiencing a similar problem on TF 1.4.0, by training the faster_rcnn_inception_v2 model but from scratch (so I'm not working on a pre-trained model).
I've already posted a question on StackOverflow: https://stackoverflow.com/questions/48227959/object-detection-boxes-are-lost-at-second-evaluation-step

Maybe is something related, maybe not... Is there someone who can help me? Thank you.

[2018-01-15 11:55] juzhitao commented on #3168
why use inception_v4 in objection detection, it always out of memery?

[2018-01-15 12:13] shivakasu opened #3169 "does adversarial_text model has keras version？"
does adversarial_text model has keras version？

[2018-01-15 13:18] verabeldev commented on #2737
Edit stucture of tf.train.Example in code of creating tf records works for me.

[2018-01-15 14:15] yurunyang1998 opened #3170 "The Object_detection 's visualize don't work"
when I am using the API of Object_detection,I followed the instruction ,everything is fine .However ,when I begin to test my picture , I met a problem , it seems that the function named
" visualize_boxes_and_labels_on_image_array "  ( in the 57 line )   didn't work .  Here is my source codes

`import cv2
import numpy as np
import tensorflow as tf
from object_detection.utils import label_map_util
f

[2018-01-15 14:32] SaintNazaire commented on #2822
Thank you very much @shubham0704, I am using a similar solution though I learned a couple things from your code. This being said my target is to fix the source code to be able to build it from scratch. At this stage I am still a bit scratching my head on how some bit and bobs get to work together but I'm making continuous progress.

[2018-01-15 15:31] zerodarkzone opened #3171 "Syntaxnet doesn't work with GPU support"
### System information
-  OS Platform and Distribution: Linux Ubuntu 16.04
-  Syntaxnet built from source from the master branch
-  Bazel version: 0.5.4
-  CUDA/cuDNN version: 8.0 / 6
-  GPU model and memory: Nvidia GTX 1080TI / 12 GB:

###
I have been trying to build syntaxnet with gpu support but the tests fail with CUDA_ERROR_OUT_OF_MEMORY. I've already tried all the fixes proposed in the other

[2018-01-15 18:42] rohanag commented on #3125
I Looked at the forward pass script and turns out the internal state of the RNN is not being reset after each sentence.

[2018-01-15 18:42] #3125 closed

[2018-01-16 00:59] ironjedi commented on #3136
I have a similar issue. Trying to run a Mask RCNN model on a openCV webcam feed, but only 10% of the GPU is being utilized. Any tips on how to increase GPU utilization?

[2018-01-16 03:38] ShegnkaiWu commented on #2774
It works! That's great!

[2018-01-16 05:18] shivakasu commented on #3169
hello？

[2018-01-16 07:18] sarah-zhu commented on #2952
It seems the variables are restored from pre-trained model, but the program is not using the restored variables.
Please help!

[2018-01-16 07:28] amitsood commented on #1992
@FalcoGer , I am running this whole thing on mac. I tried adding as you mentioned in my bash_profile file but still getting "ImportError: No module named deployment" error.

this is how my .bash_profile looks after i add the line as you mentioned.
<img width="1136" alt="screen shot 2018-01-16 at 12 54 44 pm" src="https://user-images.githubusercontent.com/1477374/34976413-952a46a4-fabc-11e7-8e6e-bf

[2018-01-16 09:26] JesperChristensen89 opened #3172 "Layers not complient with TensorRT"
Hi TF team,

Currently I am working towards a object detection system that is to be deployed on a Jetson TX2.
For runtime inference I think we could really benefit from using TensorRT that the Jetson platform supports.
Do you have any plans to support this is in the near future, and for runtime inference; how do you otherwise suggest to deploy the model on a platform such as the Jetson TX2 for bes

[2018-01-16 10:53] tanaka-jp opened #3173 "AttributeError: 'collections.defaultdict' object has no attribute 'iteritems'"
I ran this command and this error occurred.
bazel run data:gen_vocab -- \
     --output_dir=$IMDB_DATA_DIR \
     --dataset=imdb \
     --imdb_input_dir=/tmp/aclImdb \
     --lowercase=False

INFO: Analysed target //research/adversarial_text/data:gen_vocab (0 packages loaded).
INFO: Found 1 target...
Target //research/adversarial_text/data:gen_vocab up-to-date:
  bazel-bin/research/adversarial_tex

[2018-01-16 11:31] pamin2222 commented on #3173
Use "vocab_freqs.items()" instead, if you are using Python3.

[2018-01-16 12:10] mekimv commented on #2861
On Ubuntu 16.04; Changing layout_optimizer in export.py didn't fix the problem, I still get the error:

ValueError: Protocol message RewriterConfig has no "layout_optimizer" field.

@frostell How can I update RewiterConfig? Thanks in advance

[2018-01-16 16:54] bermeitinger-b commented on #3014
How did you set this?

I had a similar problem and succeeded on two "Tesla K40c"s by adding
[code]

[2018-01-16 17:35] jwnsu commented on #3014
thanks,  will try this setting (it was set at 50 in my config earlier).

[2018-01-16 17:48] poxvoculi commented on #3158
Why do you think it takes too long?  How long is it taking, and what do you expect?

Have you done any profiling to find where the time is going?  Are you exhausting memory and paging or swapping, is all the time spent in some CPU operations, or is it mysteriously blocking and seemingly doing nothing for a while?

I'm not sure whether the compiler can take advantage of it, but maybe
    od_graph_d

[2018-01-16 19:45] poxvoculi commented on #3172
In general this forum is for bug reports. I'm not sure whether your request is for near term performance advice or some kind of specific feature request with respect to TensorRT.

Here's a general purpose performance guide:
https://www.tensorflow.org/performance/performance_guide

My impression is that TensorRT attempts to optimize TF programs for NVIDIA devices, so if there's a specific missing f

[2018-01-16 19:57] JesperChristensen89 commented on #3172
@poxvoculi
Hi Paul,
You're absolutely right - this might be ill placed. This would probably be a request for the NVIDIA team to support more TF layers. I will go ahead and close this down.

[2018-01-16 19:57] #3172 closed

[2018-01-16 20:48] poxvoculi commented on #3158
Also note that protobuf parsing by the default pip package can be very slow:
https://www.tensorflow.org/install/install_linux#python_36

[2018-01-16 20:56] #3164 closed

[2018-01-16 21:01] poxvoculi commented on #3166
The CNN benchmarks suite includes an implementation of resnet50 that can run on multiple GPUs and also distributed across multiple processes.

https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks

[2018-01-16 21:01] #3166 closed

[2018-01-16 22:58] poxvoculi commented on #3168
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-16 22:58] #3168 closed

[2018-01-16 22:59] aselle commented on #3173
Does this solve your issue @tanaka-jp ?

[2018-01-16 23:04] aselle commented on #3155
@MeghaMaheshwari, are you are using TensorFlow or TensorFlow Lite?
What hardware are you running this on? You could try to train a smaller (less layer) SSD network to make a faster result. (as I don't know if there is current smaller mobilenet that does this already). @petewarden.

[2018-01-17 00:07] mmazloum commented on #1116
same here with protobuf 3.5.1 on XCode for a basic C++ project. The compiler asks to turn angles into quotes but this turns out to spread further similar errors on all protobuf other includes

[2018-01-17 00:56] tanaka-jp commented on #3173
Yes.
I changed the line from
   vocab_freqs.iteritems()
to
   vocab_freqs.items()

And it worked.

Thank you very much

[2018-01-17 00:56] #3173 closed

[2018-01-17 01:34] shivaniag commented on #3137
@jch1 and @tombstone could you take a look here.

[2018-01-17 03:24] siyuanzhuang commented on #3158
The use of a CPU, which takes up more than 2GB of memory, takes about 30 seconds to finish the identification work

[2018-01-17 03:47] LegendaryDan commented on #583
Hi gaphex,

It is too slow to run lm_1b. According to your hints, I tried to replace all "/device:CPU:0" by "/device:GPU:0". However, it does not work on my machine (with K40). It is always OOM. Is that possible to share your modified graph?

That would be very helpful. Thanks!

Jing

[2018-01-17 03:48] LegendaryDan commented on #583
@gaphex

It is too slow to run lm_1b. According to your hints, I tried to replace all "/device:CPU:0" by "/device:GPU:0". However, it does not work on my machine (with K40). It is always OOM. Is that possible to share your modified graph?

That would be very helpful. Thanks!

Jing

[2018-01-17 05:19] jwnsu commented on #3014
After set second_stage_batch_size: 4, it now proceeds in training. However, it only runs on 1 GPU despite  CUDA_VISIBLE_DEVICES is set to 4 gpus. The 4 GPUs show memories are allocated, only 1 has training activities:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.111                Driver Version: 384.111                   |
|---------------------

[2018-01-17 06:45] nealwu commented on #3167
Hi @xiaochenwang94, the model code is correct. The input comes in `channels_last` format by default, so we only need to transpose it if we wish to convert it to `channels_first` format.

[2018-01-17 06:45] #3167 closed

[2018-01-17 07:10] ghost opened #3176 "How to control the number of threads on Tensorflow and TF-Slim?"
Do we have any options to control the number of threads in TF-Slim both in training and evaluation processes?

Specifically, I use [this network](https://github.com/pudae/tensorflow-densenet) for my classification problem. I changed the evaluation part in a way that runs train and evaluation in parallel like [this code](https://github.com/mnuke/tf-slim-mnist). I can run it on my own CPU without an

[2018-01-17 07:43] P-a-i-s commented on #2861
thanks @mahyaar - faced the same problem and it worked well for me!

[2018-01-17 08:33] bkowshik commented on #2861
Thank you @frostell 🤗

The fix you suggested did it for me too. During my initial setup, I had to run the following commands referenced from the link below:

- https://github.com/tensorflow/models/issues/2031#issuecomment-353693018

[code]

So, once I applied the fix you suggested, I re-run these commands to get the export working.

[2018-01-17 10:45] MicrocontrollersAndMore commented on #2861
I'm attempting to follow this tut series:

https://www.youtube.com/playlist?list=PLQVvvaa0QuDcNK5GeCQnxYnSSaar2tpku

In the 6th vid I just got the same error pretty much everybody else here has reported, when I run export_inference_graph.py with the stock tensorflow models clone, I get this error:

`ValueError: Protocol message RewriterConfig has no "layout_optimizer" field.`

If I change models/r