[2017-03-15 11:25] lipond commented on #1171
I figure out it: in line 59, the "num_gpus" needs to be set as 2, and the output:

2017-03-15 19:27:40.337271: step 1790, loss = 1.53 (1725.5 examples/sec; 0.074 sec/batch)
2017-03-15 19:27:41.805715: step 1800, loss = 1.75 (1686.7 examples/sec; 0.076 sec/batch)
2017-03-15 19:27:43.446241: step 1810, loss = 1.87 (1702.8 examples/sec; 0.075 sec/batch)
2017-03-15 19:27:44.892425: step 1820, loss = 1

[2017-03-15 11:25] #1171 closed

[2017-03-15 12:01] connect2robiul opened #1174 "What is the process to train and test with local directory images on Google TensorFlow ?"
I run your code classify_image.py.It’s work fine. All I find to download some dataset and run the code but I want to classify my own images with this tools.

[2017-03-15 12:14] jinfagang opened #1175 "Why the VGG Model didn't have FullyConnectedLayer?"
I try to update slim old modal into newest one, but I using vgg model in the repo got an error:
[code]
This is my code:
[code]
Obviously, the logits which net returned is not the same shape as my labels, and actually, I log the shape turns out like this:
[code]
My batch_size is 10, number classes is 6.
I am not sure why model give this error, anyone could help me out?Or should I change the origina

[2017-03-15 12:47] BitcoinKing opened #1176 "SyntaxNet and Bazel Tests Error [Ubuntu] fatal error: Python.h"
Looks like variation of the another issue https://github.com/tensorflow/models/issues/80
but with other output.
After installing the correct deps (protobuf, swig, bazel, asciitree), tried running bazel test syntaxnet/... util/utf8/..., but after a lot of notes and warnings, the final output I got this:
[code]

Versions:
OS: Ubuntu 14.04
swig: latest
protobuf: 3.2.0 (tried also 3.0.0b2 - no luck)
n

[2017-03-15 13:16] duanLH commented on #555
@xinghedyc 66666666666666666666

[2017-03-15 15:39] ebrevdo commented on #1050
We should Mark it as deprecated and fix any small bugs until the new one is
ready.

On Mar 14, 2017 11:10 PM, "Lukasz Kaiser" <notifications@github.com> wrote:

[2017-03-15 16:01] prb12 commented on #1050
+1 to @ebrevdo 's suggestion!

[2017-03-15 17:41] utkrist commented on #762
Please suggest way to build it in the new tensorflow. I was able to install syntaxnet in the previous version it seems to be broken after I upgraded to tensorflow 1.0

[2017-03-15 19:19] BitcoinKing commented on #1176
Solved with `sudo apt-get install -y python-dev` from https://github.com/tensorflow/models/issues/643

[2017-03-15 19:19] #1176 closed

[2017-03-16 00:01] nealwu commented on #459
Thanks! https://github.com/tensorflow/models/pull/487 has been merged.

[2017-03-16 00:01] #459 closed

[2017-03-16 00:39] nealwu commented on #1121
This is now completed. See https://github.com/tensorflow/models/pull/1063 and https://github.com/tensorflow/models/pull/1053. Thanks!

[2017-03-16 00:39] #1121 closed

[2017-03-16 00:40] nealwu commented on #1118
Looks like this is answered. Closing.

[2017-03-16 00:40] #1118 closed

[2017-03-16 00:43] nealwu commented on #1147
This has been completed. See https://github.com/tensorflow/models/pull/1063 and https://github.com/tensorflow/models/pull/1053. Thanks!

[2017-03-16 00:43] #1147 closed

[2017-03-16 00:44] nealwu commented on #887
Closing this now. If anyone is still having issues, feel free to reopen or create a new issue.

[2017-03-16 00:44] #887 closed

[2017-03-16 00:48] nealwu commented on #836
I think this change that I just merged should solve the issue: https://github.com/tensorflow/models/pull/982. It looks like the `sampled_loss` method in `seq2seq_model.py` had its arguments reversed.

[2017-03-16 01:08] nealwu commented on #1092
Hi @vaskonov, 1.0 compatibility should now be fixed by https://github.com/tensorflow/models/pull/1063. Let me know if you still have any issues there. Unfortunately, I'm not sure about the TensorBoard embedding issue. If you think it might be a bug in TensorBoard, you can ask https://github.com/dandelionmane.

[2017-03-16 01:08] #1092 closed

[2017-03-16 02:09] nealwu commented on #690
Solved by https://github.com/tensorflow/models/pull/751

[2017-03-16 02:09] #690 closed

[2017-03-16 03:22] xtr33me opened #1181 "#Textsum - seq2seq_attention_model.py 'module' object has no attribute 'seq2seq'"
I am currently running latest TF 1.0, CUDA 8, CudNN 5.1.10. I performed the update on the textsum directory to 1.0 and must say overall it was a really nice implementation so thanks.  That said, it seems like there was atleast one method item that wasn't updated.  The one I am currently dealing with is in seq2seq_attention_model.py .  It's erroring out with the call to tf.nn.seq2seq.sequence_loss.

[2017-03-16 03:52] concretevitamin commented on #1170
@martinwicke: I can't seem to find a clear owner for models/swivel.  Since you added the initial Github commit, could you recommend someone to answer this?

[2017-03-16 03:54] concretevitamin commented on #1170
Actually, @sweaterr I think this issues belong to the model-specific mailing list, which most likely will be monitored by the owners.  See: https://github.com/tensorflow/models/tree/master/swivel#contact.

[2017-03-16 03:54] #1170 closed

[2017-03-16 04:06] concretevitamin commented on #1162
@i-akbari: we'd be more than happy to look into more details if you could provide a minimum reproducible program.

In this case, now that I looked a bit more, could it be that you've failed to call `start_queue_runners()`?  See [here](https://www.tensorflow.org/programmers_guide/reading_data#creating_threads_to_prefetch_using_queuerunner_objects).

[2017-03-16 04:12] cshallue commented on #466
A few people are having trouble using @psycharo 's trained checkpoint since the release of TF 1.0. Here are the steps you can follow.

Upgrade to the latest version of TensorFlow and fetch the latest version of this repository.

Firstly the word_counts.txt file provided above was generated with Python 3, so it wrote all the words like this: `b'word'`. You may need to rewrite that file. The followi

[2017-03-16 04:17] salil93 commented on #1072
@honkentuber Here are the shapes before hitting fn

labels: (100,)
images: (100, 224, 224, 3)
predictions: (100, 1, 10)

[2017-03-16 04:18] jinfagang opened #1183 "Does tf-slim have deconvolution method?"
I have searched for a long time, it seems tf-slim has not deconvolution layer, if it does, I suggest develop team add this method into slim, if it already have, anyone could tell me? or give me a pice of code to write deconvolution layer based on slim? I really don't want a self-build layer messed beautiful net code.

[2017-03-16 04:19] concretevitamin commented on #1175
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-16 04:19] #1175 closed

[2017-03-16 04:23] jinfagang commented on #1175
never mind, already find out. for anyone else occurred , just using `con2v_transpose`, tensorflow main repo had an discuss about how to name deconvolutions. thank you.

[2017-03-16 04:30] ymakkapa commented on #1050
Hello everyone,
Can I get the link of the updated code for sequence to sequence models tutorial?

[2017-03-16 04:39] nealwu commented on #782
https://github.com/tensorflow/models/pull/783 has been merged.

[2017-03-16 04:39] #782 closed

[2017-03-16 04:45] concretevitamin commented on #1165
Please see [here](https://devblogs.nvidia.com/parallelforall/cuda-pro-tip-control-gpu-visibility-cuda_visible_devices/).  Closing this for now since it's not a TF-specific bug/issue.

[2017-03-16 04:45] #1165 closed

[2017-03-16 04:51] concretevitamin commented on #1163
We'll need more information.  Could you paste platform info, the detailed commands you tried, the expected and the actual behaviors?

[2017-03-16 05:37] kivantium commented on #1183
In TensorFlow, so-called "deconvolution layer" is implemented as `tf.nn.conv2d_transpose` (See [API docs](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d_transpose)).

I found that `slim.layers.conv2d_transpose` is used in https://github.com/tensorflow/models/blob/4bd29ac0ba1004d7393b7d029b05257dffd5cbe6/video_prediction/prediction_model.py#L154. This example may help you.

[2017-03-16 05:43] nealwu commented on #837
Hi all, do you know why you need to set the shape in this way? When I run the code, `read_input.label.shape` is already `(1,)`. I'm curious whether this is still an issue.

[2017-03-16 05:48] salil93 commented on #1072
I pulled the latest code (till commit `37d31ec`)

The earlier shape mismatch issue has been resolved. But there is till some mismatch at a different place. Below is the stack trace.

`
InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [10] rhs shape= [1000]
         [[Node: save/Assign_521 = Assign[T=DT_FLOAT, _class=["loc:@resnet_v1_101/lo

[2017-03-16 06:28] jinfagang commented on #1183
Yeah, I have already find that, I have write my answer below question, but I don't know who delete it. Close this, thanks for your gentle help.

[2017-03-16 06:28] #1183 closed

[2017-03-16 06:49] anuj2rock commented on #729
@codeloverr Here is your solution tried and tested . Just add slim path to your PYTHONPATH in bashrc file
export PYTHONPATH="$PYTHONPATH:/home/airig/tf-src/tensorflow/models/slim"

And it works!!

[2017-03-16 09:28] ailurus1991 opened #1187 "[Textsum] - 'module' object has no attribute 'bidirectional_rnn'"
Hi all,

I'm new to TF and textsum model. I was trying to run the demo by the readme.

When I was trying to train:
[code]

So how to solve this? Many thanks.

[2017-03-16 09:36] 12343954 opened #1188 "Crash when testing " echo '今天什么股票涨？' | syntaxnet/models/parsey_universal/tokenize_zh.sh"！"
## Please let us know which model this issue is about (specify the top-level directory)

`"echo 'I love you!' | syntaxnet/demo.sh"`, is OK

but, Crash with this，what can I do？somebody help me，thank you so mush！
`echo '今天什么股票涨？' | syntaxnet/models/parsey_universal/tokenize_zh.sh`

W external/org_tensorflow/tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to u

[2017-03-16 14:01] winnerineast commented on #1188
the error caused is "F syntaxnet/term_frequency_map.cc:63] Check failed: ::tensorflow::Status::OK() == (tensorflow::Env::Default()->NewRandomAccessFile(filename, &file)) (OK vs. Not found: label-map)
syntaxnet/models/parsey_universal/tokenize_zh.sh: line 30: 89315 Abort trap: 6 $PARSER_EVAL --input=$INPUT_FORMAT --output=stdin-untoken --hidden_layer_sizes=256,256 --arg_prefix=brain_tokenizer_zh --

[2017-03-16 16:35] tfboyd commented on #1072
I apologize for not totally following the thread.  Which pre-trained model are you working with. I see you last comment.  resnet_v1_101 in the log mesage.  Is that correct?  If I get a chance I want to give it a try and I want to try the same situation and be 100% sure I am not testing another case, e.g. that will not help you.

[2017-03-16 16:37] tranvanhoa533 commented on #633
@bentocg Thank you a lot for your solution. But i have had problem when i changed inception_v3 into inception_v2. I have faced error at: **logits, _ = inception_v2.inception_v2(processed_images, num_classes=5, is_training=False)**

        Traceback (most recent call last):
        File "/home/vanhoa/.local/lib/python3.5/site-packages/tensorflow/python/framework/common_shapes.py", line 670, in _ca

[2017-03-16 16:59] xtr33me commented on #1187
What version of TF are you running? If it is 1.0 then it's most likely due to some of the changes that occurred in 1.0. I'm not at a computer right now, but if you are using 1.0, perform a search in the api for that funtion. It will tell you what it has changed to if it has. If you just cloned the repo, then overall most of the files have been updated a few days back but I'm still seeing some thin

[2017-03-16 17:18] salil93 commented on #1072
Yes, I am trying with resnet_v1_101

[2017-03-16 17:38] honkentuber commented on #1072
yeah, labels and predictions should match at this point. so I think the bug
is somewhere in reading the initial tensors.

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Wed, Mar 15, 2017 at 9:17 PM, Salil Kapur <notifications@github.com>
wrote:

[2017-03-16 17:40] honkentuber commented on #1072
I think your squeeze turned shape (100, 1, 10) into (1000), which makes it
the same rank as labels, but still the wrong shape.

My guess is that we really want both labels and predictions to be (100,
10), or possible (100, 1, 10), assuming 10 is the batch size.

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Wed, Mar 15, 2017 at 10:48 PM, Salil Kapur <notifications@github.com>
wrot

[2017-03-16 19:34] salil93 commented on #1072
The issue seems to be in the assign step. I am fairly new to TensorFlow, could someone explain what exactly are we doing while assigning? Is it reading the checkpoint file and assigning the weights to the model?

[2017-03-16 19:40] honkentuber commented on #1072
Nathan and Sergio, looks like you created this example
(tensorflow_models/slim/eval_image_classifier.py), can you take a look?

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Thu, Mar 16, 2017 at 12:34 PM, Salil Kapur <notifications@github.com>
wrote:

[2017-03-16 19:41] bentocg commented on #633
@tchugh  I am running into the same problem. It also eats up memory, it gets progressively slower as it classifies more images. I played with eval_image_classifier.py for a while but could not figure it out... I'll try some more later.

[2017-03-16 19:44] sguada commented on #1072
The problem is that cifar10 has only 10 labels while imagenet has 1000 labels, so it is failing to restore the checkpoint due to that change.

[2017-03-16 21:33] djweiss commented on #1188
That error means the path to resources are not set properly (it cannot find the files.)

See instructions here: https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/universal.md

[2017-03-16 23:56] solitaire2015 opened #1189 "Why Tensorflow use too much CPU when I train with Inception-v3 model"
Inception-v3 model

I am trying to use Tensorflow(python) inception-v3 model. I tried flowers classification from Tensorflow Model Github Inception-v3, I have a i7 6700k and a GTX 1080 device.

When I train, I found that python thread uses too much CPU(almost 65%), but use 1%~2% GPU at most. I installed Tensorflow GPU version. I also noticed that python thread occupied 6.24GB GPU dedicated memory

[2017-03-17 03:50] 12343954 commented on #1188
I solved it!
use:
[code]

thank you all !

see:
https://github.com/tensorflow/models/issues/334

[2017-03-17 04:55] nealwu commented on #1189
Do other models train on the GPU for you? It sounds likely that you don't have a proper tensorflow-gpu installation.

[2017-03-17 04:56] #1188 closed

[2017-03-17 08:16] Helpper opened #1192 "slim: use pretrained model inception_v4 to classify image"
I want to use pretrained model inception_v4 to classify image by slim. My code is here:
`from matplotlib import pyplot as plt

import numpy as np
import os
import tensorflow as tf
import urllib2

from datasets import imagenet
from nets import inception
from nets import inception_utils
from preprocessing import inception_preprocessing

checkpoints_dir = '/home/administer/zjh/tftest/checkpoints'

sl

[2017-03-17 08:28] i-akbari commented on #1162
@concretevitamin Thank you for your response. I don't know that these information are useful or not.
I flowed function calls and find out program hangs on return line.
[code]

The debuger shows these values:

[2017-03-17 08:56] AndreaFar opened #1193 "No module named inception"
1-Cloned the whole models repository

2-Run _inception_eval.py_ from its directory

Get the error: _No module named inception_
during import in line 30

I use Tensorflow 1.0.1 on Windows

[2017-03-17 11:18] haoran8899 opened #1194 "bazel test ... exec failed"
## Please let us know which model this issue is about (specify the top-level directory)
hi,when i bazel test ...  to build syntaxnet ,error has happend,err information as blow:
In file included from /usr/include/c++/5/algorithm:62:0,
                 from ./dragnn/core/beam.h:4,
                 from dragnn/core/beam_test.cc:1:
/usr/include/c++/5/bits/stl_algo.h: At global scope:
/usr/include/c++/

[2017-03-17 11:27] cbasavaraj opened #1195 "[Slim] ResNet 18 pre-trained"
## Please let us know which model this issue is about (specify the top-level directory)

Hi, any chance you guys could provide a pre-trained ResNet 18 model (preferably v2)? It would be great to have ~ VGG level performance but at much faster test speed. I'm hoping to use this for ~ real-time detection.

Thanks!

[2017-03-17 14:07] beeva-enriqueotero opened #1196 "[slim] Problem with train_lenet_on_mnist when requiring parameter server"
Hello,

I get an error when trying `train_lenet_on_mnist.sh` with `--worker_replicas=2` and `--num_ps_tasks=1`

[code]
Tested on aws p2.8x instance with tensorflow_gpu-1.0.1-cp27-cp27mu-manylinux1_x86_64.whl and also compiled from source.

Thanks

[2017-03-17 18:48] markomernick commented on #1194
What compiler are you using? Does it support C++11?

[2017-03-17 19:51] nealwu commented on #1187
Should be fixed by https://github.com/tensorflow/models/pull/1197.

[2017-03-17 19:55] nealwu commented on #1181
Should be fixed by https://github.com/tensorflow/models/pull/1197.

[2017-03-17 19:57] nealwu commented on #1172
Feel free to send in a pull request to add Python 3 compatibility. Cc @bogatyy as well, though I don't know whether this is a priority for you guys.

[2017-03-17 19:57] #1172 closed

[2017-03-17 20:00] nealwu commented on #1193
Did you look through the README? It shows you the proper way to run evaluation using bazel: https://github.com/tensorflow/models/tree/master/inception#how-to-evaluate.

As an FYI, a generally newer version of the Inception model can be found at https://github.com/tensorflow/models/tree/master/slim.

[2017-03-17 20:00] #1193 closed

[2017-03-17 20:01] nealwu commented on #1158
As the error states, you should not import tensorflow from within the tensorflow source code directory. `cd` to a different directory and try again.

Also, this is the models repository, not the [main TensorFlow repository](https://github.com/tensorflow/tensorflow). In the future please direct issues there.

[2017-03-17 20:01] #1158 closed

[2017-03-17 20:05] nealwu commented on #1126
Is this still happening for you on TensorFlow 1.0? The models code has been recently upgraded.

[2017-03-17 20:08] #1187 closed

[2017-03-17 20:08] #1181 closed

[2017-03-17 20:13] nealwu commented on #1113
I think this should fix your issue: https://github.com/tensorflow/models/pull/1112. Going to close. If that's not the right fix, feel free to reopen.

[2017-03-17 20:13] #1113 closed

[2017-03-17 20:33] concretevitamin commented on #1162
@i-akbari are you sure it's not something as simple as not starting queue runners?

[2017-03-17 21:57] jo8hua opened #1199 "Variational autoencoder generate() function broken"
In the `autoencoders/autoencoder_models`directory, the generate() function of the `VariationalAutoencoder` is broken. The following error results from using it:

<img width="875" alt="screen shot 2017-03-17 at 5 32 10 pm" src="https://cloud.githubusercontent.com/assets/10055613/24063845/c10d5362-0b37-11e7-9d0d-accbe81e9c6f.png">

This is fixed by calling `numpy.random.normal(size=[1,self.n_hidden]

[2017-03-17 23:10] Tomas0413 opened #1200 "ImportError: No module named pywrap_tensorflow_internal"
## SyntaxNet

Hello, I'm running this:
[code]

And then I get this:

[code]

I'm using these options to configure Tensorflow (also tried with XLA and without XLA support):

[code]

[2017-03-18 00:50] concretevitamin commented on #1200
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-18 00:55] concretevitamin commented on #1195
@nathansilberman - could you take a look?  Thanks.

[2017-03-18 00:58] concretevitamin commented on #1196
Could you try passing `--master=localhost` as well?  Additionally, if you just don't specified `worker_replicas` and `num_ps_tasks`, does it work?

[2017-03-18 01:02] concretevitamin commented on #1173
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-18 01:02] #1173 closed

[2017-03-18 01:18] concretevitamin commented on #1199
@snurkabill

[2017-03-18 01:51] snurkabill commented on #1199
Hello,

can you, please, provide here full usage of your autoencoder? I can't run any code here now, so I would like to at least see it.

Thanks

[2017-03-18 01:59] jo8hua commented on #1199
It is easiest to repeat scripting. I did the following from the `autoencoder` directory.

<img width="707" alt="screen shot 2017-03-17 at 9 56 48 pm" src="https://cloud.githubusercontent.com/assets/10055613/24068084/c0e0f8b0-0b5c-11e7-8aca-30cc643575dd.png">

[2017-03-18 02:28] xiaoyun4 commented on #856
@Kangmo I have the same issue, and update tensorflow with the latest vision 1.0.1. But it dose't work. Can you tell me the vision?

[2017-03-18 03:56] haoran8899 commented on #1194
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4) .
when i update,system tell me gcc is latest version.

[2017-03-18 05:59] dsindex opened #1201 "[syntaxnet, dragnn] bazel test ... failed in OS X"
- environment
[code]

- i followed the instructions described in https://github.com/tensorflow/models/tree/master/syntaxnet
and got errors.
[code]

- for example
[code]

- any suggestion to fix ?

[2017-03-18 07:47] xtknight opened #1202 "SyntaxNet: without --projectivize_training_set, invalid parser sequences could be trained into model"
From my testing, it seems that when the --projectivize_training_set parameter is not specified (it's off by default in parser_trainer.py), the GoldParseReader silently generates an invalid sequence for NON-projective sentences like the one below and it could get trained into the model.

    # sent_id = weblog-juancole.com_juancole_20051126063000_ENG_20051126_063000-0005
    # text = The MoI in Ira

[2017-03-18 09:41] Kangmo commented on #856
By the time I wrote the comment, I could fix the issue by building
tensorflow from the master branch, and getting models from the master
branch of the models repository.

2017년 3월 18일 토요일, xiaoyun4<notifications@github.com>님이 작성한 메시지:

[2017-03-18 10:17] Tomas0413 commented on #1200
@concretevitamin sorry, should have added it straight away!

OS / arch:
[code]

This works in general and shows TF version:
[code]

However if I run the same command from /data/models/syntaxnet/tensorflow (/data/models is where I have https://github.com/tensorflow/models.git cloned) directory, I get this error:

[code]

[2017-03-18 10:19] Tomas0413 commented on #1200
Also bazel version is 0.4.5 (I see in Dockerfile 0.4.3 is being used, maybe this is a problem)

[code]

[2017-03-18 11:04] andongchen commented on #1126
no,not happened recently.thanks

[2017-03-18 11:48] snurkabill commented on #1199
Ok. if I recall it correctly, you must first perform at least one partial fit on variational autoencoder and then you can generate new sequences. Please, try that and let me know if that works. Maybe that's corrupted usecase and there really is mistake.

[2017-03-18 11:53] redserpent7 commented on #1173
@concretevitamin I've already asked on SO. No one even commented on it

[2017-03-18 13:03] rajmiglani commented on #1022
arguments have been reordered to tf.concat(values, axis, name='concat')

applied this as well t the upgraded model,still getting the same error @penelopeia @aselle

[2017-03-18 14:32] #1146 closed

[2017-03-18 14:33] dblN commented on #1192
@Helpper https://github.com/tensorflow/models/tree/master/slim#the-resnet-and-vgg-models-have-1000-classes-but-the-imagenet-dataset-has-1001

[2017-03-18 17:35] Bonsen opened #1203 "finetune new data :Accuracy = 0"
I use my own data( 2 classes ) follow flowers format (download_and_convert_flowers.py),
and
I train inceptionv3 ,and get:
eval/Accuracy[0.003235294]
eval/Recall@5[0.10088235]

if I should set class_num in train_image_classifier.py or download_and_convert_flowers.py??
I think it may be the class problem.

[2017-03-18 18:01] #1203 closed

[2017-03-18 18:33] Bonsen opened #1205 "output results to a .txt file"
I want to predict test file's label using the trained model and save to a txt file:
pic1 id1
pic2 id2
pic3 id1
.....
.....

What should I write in slim/eval_image_classifier.py ?

[2017-03-18 20:26] WenchenLi commented on #830
thank you guys @inferrna @xtknight for making training UD datasets working, however it seems adding n-gram and morph features not helps with the parser result on UD Chinese, (always around 68%), has anybody experienced the same situation here?

[2017-03-18 20:55] anupamme opened #1206 "skip_thoughts: cannot find combined_encoder"
## Please let us know which model this issue is about (specify the top-level directory)

model: skip_thoughts

issue: cannot execute from skip_thoughts import combined_encoder

And I could not find combined_encoder in the entire model code base.

Am I missing something or the code is not complete?

[2017-03-19 01:17] jo8hua commented on #1199
I just attempted to do what you said and it resulted in the same errors. I agree that the result of calling the function prior to training should be non sensical, but I don't think that it should result in a syntax error.

[2017-03-19 05:41] felixgwu opened #1211 "Syntaxnet: Where is the baseline_eval.py"
I am wondering where the `baseline_eval.py` mentioned in the [CoNLL 2017 document](https://github.com/tensorflow/models/blob/e8464d33d363c6f8e90a29c08e5af11ef01be7a1/syntaxnet/g3doc/conll2017/README.md) is.
I searched through the repo, but couldn't find it.

[2017-03-19 06:16] rajmiglani commented on #1022
Hey @penelopeia changing the order of arguments worked for me. Thanks.

[2017-03-19 09:08] Vimos commented on #248
Using the method offered by @ducdauge , I was able to build.

But still met 2 problems.

Problem 1: nccl not found

[code]
Problem 1 is solved via commenting out nccl refered in https://github.com/tensorflow/serving/issues/327

Problem 2: Tests failure

[code]
I am working on these failure right now, it seems that they are memory related issues.

[2017-03-19 09:34] wjbaibai opened #1212 "Inception v3: tensorflow slim prediction failed running: FaildePreconditionErrer: Attempting to use unitialized value Inceptionv3"
## Please let us know which model this issue is about (specify the top-level directory)

While using tensor slim to retrain inception_v3 and running the forward network,  I cannot import the variables correctly.

The code is below:

The Error info:

`
Traceback (most recent call last):
  File "/home/angela/anaconda3/envs/deep35/lib/python3.5/site-packages/tensorflow/python/client/session.py", line

[2017-03-19 10:39] redserpent7 commented on #1173
@concretevitamin here is the SO question if you care to answer there: [http://stackoverflow.com/questions/42816452/tensorflow-slim-imagenet-training](http://stackoverflow.com/questions/42816452/tensorflow-slim-imagenet-training)

[2017-03-19 12:45] xtknight commented on #1202
Sorry, the above sentence is indeed non-projective. A series of missteps with the test suite and warnings from NLTK led me to believe otherwise. I'm going to change the title of this issue.

It still begs the question of why the Well-Formed and Projectivize filters are not executed by default (the Well-Formed one isn't even executed unless Projectivize is turned on, as far as I can tell). I suppos

[2017-03-19 13:21] xtr33me commented on #1148
Think this can be closed as stated above this is just a rename.

[2017-03-19 14:51] redserpent7 opened #1213 "[Inception] 0-byte TF_Record files"
Hi,

I am trying to train imagenet from scratch. I have all original images available and I followed the documentation step-by-step. However, when I run download_and_preprocess_imagenet I get this output:

[code]

And when I go and check my data directory I see all TF-Record files are 0-bytes.

No exceptions are thrown and no warnings. not sure what is wrong here.

I checked all classes folders an

[2017-03-19 15:22] Slaite commented on #1206
It looks like this was changed to encoder_manager and the README is outdated. I think it should be:

`from skip_thoughts import encoder_manager`
`encoder = encoder_manager.EncoderManager()
encoder.load_model(configuration.model_config(),
                     vocabulary_file=VOCAB_FILE,
                     embedding_matrix_file=EMBEDDING_MATRIX_FILE,
                     checkpoint_path=CHECKPOINT

[2017-03-19 15:45] xtr33me opened #1215 "#Textsum model - System Freeze running Textsum training after 1.0.1 conversion"
I'm unsure if this is due to something new that has changed in TF1.0+ however when I run the textsum model with the "Train" mode set, my system will freeze at about the location shown in the screenshot below. It seems to occur once it has stopped raising the pool size limit.  When I say freeze, I mean that my system becomes unusable. The only thing I am able to do is move my mouse and it will move

[2017-03-19 17:02] concretevitamin commented on #1200
Does this SO answer help? http://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example

[2017-03-19 17:22] concretevitamin commented on #1205
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-19 17:22] #1205 closed

[2017-03-19 17:28] concretevitamin commented on #1211
/cc @calberti @bogatyy

[2017-03-19 17:44] anupamme commented on #1206
Yes encoder_manager works.

Should I send a pull request with the change?

[2017-03-19 18:28] Tomas0413 commented on #1200
@concretevitamin I don't think my case is the same as it's described in SO mentioned above. I have no problem installing the TF 1.0.1 using pip and then using it. All this works and also upgrade worked for both Python 2.x and Python 3.x. My problem is with tensorflow within syntaxnet.

[2017-03-19 20:08] cshallue commented on #1206
@Slaite thanks for picking that up! Fixing.

[2017-03-19 20:11] #1206 closed

[2017-03-20 00:38] youngwanLEE opened #1218 "[slim] can't train a model from scratch"
I just followed slim tutorial for image classification library and made imagenet TFRecord,too.

In [training-a-model-from-scracth](https://github.com/tensorflow/models/tree/master/slim#training-a-model-from-scratch), followed below code :

[code]

However, this error occur.
[code]

I understood If I don't indicate the checkpoint, this program inits training without any pre-trained weight.
But I do

[2017-03-20 03:32] #1212 closed

[2017-03-20 10:03] s2244521 commented on #698
@evolu8 , I also had this problem and the error is"" ValueError: Variable conv0/weights/RMSProp/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?""

[2017-03-20 10:08] evolu8 commented on #698
I ended up explicitly switching back the old V1 checkpoint format which solved my issues. I still don't know why V2 resulted in this error. Example of setting this:

`saver = tf.train.Saver(tf.global_variables(), write_version=tf.train.SaverDef.V1)`

[2017-03-20 10:15] scylla opened #1220 "Incorrect API use in models/textsum/seq2seq_attention_model.py"
at line number 230
models/textsum/seq2seq_attention_model.py is incorrectly using the api for tf.nn.sampled_softmax_loss,
the order of arg for labels and inputs is reversed in current code

[2017-03-20 11:44] david-liu opened #1221 "Error in models/tutorials/rnn/translate/seq2seq_model.py"
I just use the[ Sequence-to-Sequence Models](https://github.com/tensorflow/models/blob/master/tutorials/rnn/translate/translate.py) to test the function Neural machine translation with tensorflow 1.0, but I alway get the following error

After exploring the code, I found there is a bug in the line 103 for [seq2seq_model.py](https://github.com/tensorflow/models/blob/master/tutorials/rnn/translate/s

[2017-03-20 11:57] redserpent7 opened #1222 "[Inception] Resource Exhausted exception when generating TF-Records"
Hi,

I started generating TF records to start training Imagenet data from scratch. I keep getting this error and the process terminates:

[code]

I am not sure what resource its exhausting. I am running it on CPU with 8 cores and 30GB of RAM. I kept monitoring the process using top and both memory and CPU levels were low during the process until the crash.

Does generating TF-Records require GPU?

[2017-03-20 12:22] djweiss commented on #1211
Looks like that's a dangling reference -- we will fix that and add more up-to-date evaluation instructions. In the meantime, please see evaluator.py, segmenter-evaluator.py, and parser-to-conll.py in the dragnn/tools directory to run evaluations.

[2017-03-20 14:40] markomernick commented on #1194
Yes, that should support C++11. Can you provide the exact sequence of commands you used to compile, that resulted in this error?

[2017-03-20 14:48] alecKarfonta commented on #714
You guys ever figure this out? I am just starting to try

[2017-03-20 15:32] dmoreira-git opened #1224 "(inception)Problem with inception/data/download_and_preprocess_flowers.sh"
When I run download_and_preprocess_flowers.sh
script stops and returns:
`download_and_preprocess_flowers.sh: 92: download_and_preprocess_flowers.sh: download_and_preprocess_flowers.sh.runfiles/inception/inception/build_image_data: not found`

In fact, there is no script called build_image_data I can find, but under data/ there is a python file called build_image_data.py

Is this script outdated? O

[2017-03-20 15:33] #1211 closed

[2017-03-20 15:57] gerarq commented on #836
For anyone who is still facing this error you can change the following line in seq2seq_model.py
line 103 from def sampled_loss(inputs, labels): to def sampled_loss(labels, inputs):

My current settings are:

theano: 0.8.2
tensorflow: 1.0.0
Using TensorFlow backend.
keras: 1.2.2

[2017-03-20 18:56] andrewjylee opened #1225 "RNN Tutorial (PTB) NotImplementedError"
## Please let us know which model this issue is about (specify the top-level directory)
I'm trying to run the recurrent neural network tutorial: https://www.tensorflow.org/tutorials/recurrent#run_the_code

When I run
python ptb_word_lm.py --data_path=/tmp/simple-examples/data/ --model=small

I get:
Traceback (most recent call last):
  File "ptb_word_lm.py", line 371, in <module>
    tf.app.run()

[2017-03-20 19:17] nealwu commented on #836
@gerarq looks like you are reversing that change I linked to above. Why does that fix things for you? According to https://www.tensorflow.org/api_docs/python/tf/contrib/legacy_seq2seq/model_with_buckets, `softmax_loss_function` should take inputs first and labels second.

[2017-03-20 19:20] nealwu commented on #1126
OK, glad to hear. Closing this then.

[2017-03-20 19:20] #1126 closed

[2017-03-20 20:18] nealwu commented on #836
It looks like the problem is with our documentation. https://www.tensorflow.org/api_docs/python/tf/contrib/legacy_seq2seq/sequence_loss_by_example suggests the other order.

[2017-03-20 21:49] skye commented on #1201
@bogatyy is working on this issue, and should have a fix soon.

[2017-03-20 22:24] nealwu commented on #1221
I believe this should be fixed now via https://github.com/tensorflow/models/pull/1226. If you run into further issues let me know.

[2017-03-20 22:24] #1221 closed

[2017-03-20 22:24] nealwu commented on #836
I believe this should be fixed now via https://github.com/tensorflow/models/pull/1226. If you run into further issues let me know.

[2017-03-20 22:24] nealwu commented on #1220
I believe this should be fixed now via https://github.com/tensorflow/models/pull/1226. If you run into further issues let me know.

[2017-03-20 22:24] #1220 closed

[2017-03-20 22:44] skye commented on #1200
@calberti can you take a look at this? (I assigned to you based on the SyntaxNet README, feel free to reassign)

[2017-03-20 23:12] gerarq commented on #836
Thanks for taking care of that!

[2017-03-20 23:54] snurkabill commented on #1199
Now looking at code, I believe I've found the problem. (btw, I still cannot run python at all at my settings right now so I can't to try anything). Isn't really problem that self.weights["b1"] is actually a vector and not it's size? therefore np.random has problem with that and can't generate random vector.

[2017-03-20 23:54] TheodoreGalanos commented on #762
I was wondering if there is any news on this, been having exactly the same error. I followed advice of adding information to make files and changing directories to where they are pointing but it didn't work.

I know I'm probably a rare case but I still haven't been able to properly build syntaxnet, in either TF versions, with or without GPU, without getting Bazel failing during building.

Can anyo

[2017-03-21 03:34] jo8hua commented on #1199
Yes, that is the problem that causes the first error, the second error results from calling it correctly and this is where I believe that there is a logical error in the model.

[2017-03-21 06:32] haoran8899 commented on #1194
sorry to late.
i'am reinstalling following Installation guide in a new env.
i think this error maybe my env's problem.
i will response when problem happened, thanks

[2017-03-21 08:32] danieldk commented on #1194
I had the same compiler error with the same gcc version. The problem is actually caused by an earlier macro expansion. I will send a pull request.

[2017-03-21 08:50] haoran8899 commented on #1194
OK. thanks.

[2017-03-21 09:12] GuohongLi commented on #918
@kyoseoksong I have met the same problem with you. Once I stop the fine-tuning process, I can nerver resstart it with the same command as instruction，or just like what you did which use the new gained model as checkpoint. So have you solved it?

[2017-03-21 09:44] Helpper opened #1230 "how to use classify_image.py to classify png image?"
I want to use tensorflow/models/tutorials/image/imagenet/classify_image.py to classify image, but it only support JPEG image. How can I do to use it to classify my image include JPEG and PNG format?

[2017-03-21 11:56] GuohongLi commented on #918
@kyoseoksong Maybe I have figured it out. Now it works fine from gained model.

[2017-03-21 12:27] drwael opened #1231 "Evaluating the models"
I have installed Bazel,TensorFlow, NumPy, scikit-learn,Natural Language Toolkit (NLTK)and gensim.
then i downloaded:

    skip_thoughts_uni_2017_02_02 and skip_thoughts_uni_2017_02_02.
    skip-thoughts GitHub repository
    the CR (customer review) dataset
    then i executed the following commands:
    CHECKPOINT_PATH="${HOME}/skip_thoughts/model/train"
    VOCAB_FILE="${HOME}/skip_thoughts/exp_

[2017-03-21 12:37] beeva-enriqueotero commented on #1196
`--master=localhost` generates the following error: `E tensorflow/core/common_runtime/session.cc:69] Not found: No session factory registered for the given session options: {target: "localhost" config: } Registered factories are {DIRECT_SESSION, GRPC_SESSION}.`

Anyway if I don't specify `worker_replicas` and `num_ps_tasks` or I use `worker_replicas=1` and `num_ps_tasks=0` it works fine, as expect

[2017-03-21 12:42] anuj2rock commented on #918
@kyoseoksong Can pls share how u did it? Thnks

[2017-03-21 14:50] skye commented on #1215
@panyx0718 or @peterjliu, can one of you take a look at this?

[2017-03-21 15:27] skye commented on #1231
@cshallue can you take a look at this?

[2017-03-21 15:28] skye commented on #1230
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-21 15:28] #1230 closed

[2017-03-21 15:38] skye commented on #1174
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-21 15:38] #1174 closed

[2017-03-21 15:52] skye commented on #1194
@danieldk thank you for the fix! It's now merged, so I'm gonna close this issue. @haoran8899 please reopen if you continue to experience problems.

[2017-03-21 15:57] beeva-enriqueotero commented on #1196
I don't know why this issue has been closed. I still get an error when I try to use `train_lenet_on_mnist.sh` with parameter server. I did't get any satisfactory answer.

Regards

[2017-03-21 16:04] cshallue commented on #1231
@drwael you need to execute the commands from the skip_thoughts directory (which contains a file called WORKSPACE)

[2017-03-21 16:06] anhphamm opened #1232 "[Syntaxnet,dragnn] bazel test ... not passed all on Ubuntu 16.04"
## [Syntaxnet,dragnn] bazel test ... not passed all on Ubuntu 16.04

Hi all,
I'm new to tensorflow and syntaxnet. I followed several Issues' responses but didn't solve the problems.

- Environment:
[code]

 `bazel test ...`

[code]

[code]

[2017-03-21 16:09] concretevitamin commented on #1196
Oh sorry, I misread your last response.  Re-opening this for the right owners to take a look.

[2017-03-21 16:19] drwael commented on #1231
@cshallue thanks for your reply and effort
I downloaded skip_thoughts as a zip file from https://github.com/ryankiros/skip-thoughts (the link mentioned in the tutorial) because i failed to clone the repository by code.
it doesn't contain a file called WORKSPACE.

[2017-03-21 16:22] skye commented on #1218
For your first question, what TensorFlow version are you using?

For your second question, please ask on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-21 16:30] cshallue commented on #1231
@drwael I mean tensorflow_models/skip_thoughts

[2017-03-21 16:45] ebrevdo commented on #1225
What version of tensorflow are you using?

[2017-03-21 17:24] connect2robiul commented on #1174
@skye, StackOverflow limited my question. So, I asked this here

[2017-03-21 17:51] drwael commented on #1231
@cshallue
Now i have a directory named skip_thoughts at the Home directory
This directory have the following folders :
bazel-bin , bazel-genfiles, bazel-out, bazel-skip_thoughts, bazel-testlogs, eval_data, exp_vocab, pretrained, skip_thoughts, skipthoughts_kiros.

and two files: README.md and WORKSPACE

Bazel build command is executed but the next script is failed as following:

drwael@drwael-Virt

[2017-03-21 18:03] lfzCarlosC commented on #1114
This is because python3 has type byte, which python 2 all regards as string.
To make this running you need to decode text into string .

[2017-03-21 18:18] lfzCarlosC commented on #468
I have figured out the issue.
If you want to check out the complete summary for all your test articles, you need to set the parameters as:
max_decode_steps=1
The reason why you get 16 summaries each file is due to parameters
beamsize=2
decode_batches_per_ckpt=8
then it output 8 batches data with batch size 2. I think this setting is for large text generation. But for you you can calculate how many

[2017-03-21 18:25] cshallue commented on #1231
@drwael this is an issue with your PYTHONPATH, which should include the skipthoughts directory of the github repository ryankiros/skip-thoughts.

If you still have issues, please feel free to ask questions on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). I'm closing this issue for now since it is not a bug or feature request. Thanks!

[2017-03-21 18:25] #1231 closed

[2017-03-21 18:31] #1114 closed

[2017-03-21 18:39] shlens commented on #1224
Would you be able to add some details about which platform/OS are you using?

[2017-03-21 18:41] shlens commented on #1222
TF-Records generation does not require a GPU. This seems like a read error.

Would you be able to check that your image files are readable in the inferred location? According to the error log, there should be some readable image files here:
`/imagenet2/raw-data/train/n03978966/n03978966_12697.jpg`

Additionally, please provide more details about what type of OS/platform/version you are using.

[2017-03-21 18:43] shlens commented on #1213
There should be some log statements documenting the total number of images found.

`https://github.com/tensorflow/models/blob/master/inception/inception/data/build_imagenet_data.py#L535`

Would you be able to report what this log statement states? Additionally, would you be able to provide an `ls -R` for the data directory as well as information about OS/version, etc?

[2017-03-21 18:55] smitch17 commented on #1224
Using it on ubuntu 14

[2017-03-21 18:59] shlens commented on #1224
What version of TensorFlow are you using?

[2017-03-21 19:20] markomernick commented on #1232
Hi @anhphamm, please try pulling down the repo again- this seems to be the same bug fixed by @danieldk in #1229.

[2017-03-21 19:39] markomernick commented on #1201
There are two issues here: one is MacOS dynamic linking ("Op type not registered...") and the other has to do with std::sort ordering differences between MacOS and Linux. We will commit the fixes soon.

[2017-03-21 20:57] djweiss commented on #1202
Thanks for pointing this out -- you're correct that, for most datasets in practice, you need to specify --projectivize_training_set, otherwise invalid _arc-standard_ sequences will be generated.

It may make sense to change the defaults in a future update. We would definitely also be open to adding more logging and checks. We'll keep this open until one or the other is added.

[2017-03-21 20:57] #1202 closed

[2017-03-21 20:57] djweiss commented on #1202
Sorry, I meant, we'll update this Issue when it's addressed in a subsequent update. :)

[2017-03-21 21:02] anhphamm commented on #1232
Thank you @markomernick for pointed it out. All test passed

[2017-03-21 21:03] #1232 closed

[2017-03-22 01:46] haoran8899 commented on #1194
when i modify the beam.h as #1229 , configure as below,bazel test compile success,but test has error items. thanks a lot
alloc as the malloc implementation? [Y/n] n
jemalloc disabled
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] n
No Google Cloud Platform support will be enabled for TensorFlow
Do you wish to build TensorFlow with Hadoop File System support? [y/N] n
No H

[2017-03-22 01:54] haoran8899 commented on #1201
hi,i get the similar result in ubuntu(16.0.4 LTS)
configure:
jemalloc disabled
No Google Cloud Platform support will be enabled for TensorFlow
No Hadoop File System support will be enabled for TensorFlow
No XLA JIT support will be enabled for TensorFlow
Using python library path: /usr/local/lib/python2.7/dist-packages
No OpenCL support will be enabled for TensorFlow
No CUDA support will be enabled

[2017-03-22 02:26] yxchng opened #1235 "Are the stems in the inception resnet v2 paper different from that in the code here?"
<img width="430" alt="screen shot 2017-03-22 at 10 25 34 am" src="https://cloud.githubusercontent.com/assets/10518587/24179422/f705c0de-0ee9-11e7-84ff-5e841ebfe043.png">
<img width="669" alt="screen shot 2017-03-22 at 10 25 20 am" src="https://cloud.githubusercontent.com/assets/10518587/24179425/fb58abce-0ee9-11e7-9af2-156ed65b71ad.png">

Here it seems that the stem is only one branch but the pape

[2017-03-22 02:30] yxchng commented on #1235
Even if I just take the left branch, the numbers also do not match.

[2017-03-22 04:26] yxchng commented on #1235
Also can I know where are batch norm added in inception resnet v2?

[2017-03-22 04:35] HITalexwang opened #1236 "POS tagging accuracy (CoNLL 2017)"
I have read the [paper](https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/conll2017/paper.pdf) for CoNLL 2017 and found the UAS and LAS reported [here](https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/conll2017/README.md). However, there are 8 treebanks without dev set in CoNLL 2017 (such as Slovenian-SST and Latin), whose results are also reported. So I wonder if yo

[2017-03-22 07:02] Jacksonlark opened #1237 "[textsum] running example error"
using model https://github.com/tensorflow/models/tree/master/textsum

and bazel build -c opt --config=cuda textsum/...

when I running likes:
./bazel-bin/textsum/seq2seq_attention --mode=train --article_key=article --abstract_key=abstract --data_path=textsum/data/data --vocab_path=textsum/data/vocab --log_root=textsum/log_root --train_dir=textsum/log_root/train

ERROR happens:(tensorflow1.0 and cp

[2017-03-22 07:37] andongchen opened #1238 "when i change the [slim] train_image_classifier to a person re-id model,i got very big loss"
https://github.com/tensorflow/models/tree/master/slim
when i change the [slim] train_image_classifier to a person re-id model,i finetune this model from resnet_v1_50 checkpoint 。i got very big loss
I changed code is like this for a person re-id model

      images, labels = tf.train.batch(
          [image, label],
          batch_size=FLAGS.batch_size*2,
          num_threads=FLAGS.num_preprocess

[2017-03-22 07:42] andongchen commented on #1238
but when i use softmax for siamese logit loss is like this
 def clone_fn(batch_queue1,batch_queue2,labels_y_2):
      """Allows data parallelism by creating multiple clones of network_fn."""
      images1, labels1 = batch_queue1.dequeue()
      images2, labels2 = batch_queue2.dequeue()
      # with tf.variable_scope('siamese') as scope:
      logits1, end_points1 = network_fn(images1)
      # scop

[2017-03-22 08:32] Jacksonlark commented on #1220
I find tf.nn.sampled_softmax_loss source def likes:

def sampled_softmax_loss(weights,
                         biases,
                         labels,
                         inputs,
                         num_sampled,
                         num_classes,
                         num_true=1,
                         sampled_values=None,
                         remove_accidental_hits=True,

[2017-03-22 11:59] xtr33me commented on #1237
@Jacksonlark Just curious, so when you look at the local copy of **seq2seq_attention_model.py** are you seeing, in your definition of **sampled_loss_func**, the call to **tf.nn.sampled_softmax_loss** with the params **labels** and **inputs** in the order shown below?  The reason I ask, is I had the same issue you had and the swapping of those to align with the modded API worked for me.  This was t

[2017-03-22 12:46] Jacksonlark commented on #1237
@xtr33me
Yeah, swapping inputs and labels worked.
After this issue. I found this error has been checked. But have not been fixed.

[2017-03-22 12:46] #1237 closed

[2017-03-22 13:01] antoajayraj opened #1239 "Calculating examples processed per second"
## Please let us know which model this issue is about (specify the top-level directory)
models/inception/imagenet_distributed_train

I am trying to use inceptionV3 in distributed environment and set the batch size to say 64 and use n GPUs
When we execute the training steps it reports the "global_step/sec" on the chief worker.

Now does this batch size of 64 gets split across the n GPU's or is it f

[2017-03-22 13:53] beeva-enriqueotero commented on #1120
I am also interested in this topic. I wasn't able to adapt tf-slim examples to use multiple machines. I also [failed](https://github.com/tensorflow/models/issues/1196) to train a model with `worker_replicas`>1 :(

[2017-03-22 14:08] smitch17 commented on #1224
TensorFlow version is 1.0.0

[2017-03-22 16:04] brendano commented on #102
@calberti can you say a little about how to compile this program in the context of the bazel build system that's used for syntaxnet?  For example, our system version of protobuf appears to not be compatible with this program; bazel downloaded and built a different versionthat tensorflow and/or syntaxnet seem happier to use, and presumably this program as well.  I tried to find the versions of prot

[2017-03-22 16:15] lovolLiu commented on #1192
change
[code]
into
[code]

[2017-03-22 17:52] brendano commented on #102
Hm, adding this to `syntaxnet/BUILD` seems to allow `bazel build converter` to work

[code]

[2017-03-22 17:59] nealwu commented on #1220
Ahh you're right -- sorry, I misread and thought it was talking about a different model. I have a pull request to fix the issue at https://github.com/tensorflow/models/pull/1241.

[2017-03-22 18:15] scylla commented on #1220
Sorry i was not able to re-check yesterday, i used the same fix locally seemed to work for me

[2017-03-22 18:16] nealwu commented on #1220
@scylla can you pull again from master and make sure it works for you? Just merged the pull request above.

[2017-03-22 18:30] scylla commented on #1220
@nealwu currently i am away from my work machine, will do it tomorrow

[2017-03-22 19:14] i-akbari commented on #1162
@concretevitamin Where exactly should I start queue runners? Could you give me the code?

[2017-03-22 20:44] djweiss commented on #1236
We'll update the paper with more precise info. We use the same training/tune/dev splits as the UD-Pipe CONLL2017 release -- for those 8 languages, that means we set aside 5% of the training set as tuning, and 10% of the training set as dev. We don't use the dev set to tune hyperparameters, so as to make dev set comparisons meaningful.

Also, we actually join all morphological tags together to form

[2017-03-22 20:44] #1236 closed

[2017-03-22 20:45] DVLP commented on #110
Check out my fork. Just converted all PY files using 2to3 and made small modification of .bazelrc
https://github.com/dvlp/models/tree/master/syntaxnet

Now I have problems running bazel on windows, and problems with GPU on Ubuntu so can't test yet

[2017-03-22 20:50] #1148 closed

[2017-03-23 00:31] skye commented on #1194
@haoran8899 did you mean to post more output? I don't see the error.

[2017-03-23 00:57] haoran8899 commented on #1194
when i 'exec bazel test ...',i get the simulate error in #1201 .so i add the error conent in #1201 .

[2017-03-23 02:00] bogatyy commented on #1201
@dsindex We have fixed dynamic linking issues and std::sort issues, but there turns out to be one more MacOS issue we are still debugging.
In the meantime, consider using our Docker image:
https://hub.docker.com/r/tensorflow/syntaxnet/
https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/CLOUD.md

@haoran8899 An Ubuntu crash is surprising. Maybe you don't have one of the dependencies?

[2017-03-23 02:23] haoran8899 commented on #1201
@bogatyy
yes
[bazel test logs.tar.gz](https://github.com/tensorflow/models/files/863456/bazel.test.logs.tar.gz)

[2017-03-23 03:59] andongchen commented on #1238
sorry，it's my mistake! I got the error reality one hot label!

[2017-03-23 03:59] #1238 closed

[2017-03-23 04:52] scylla commented on #1220
verified the changes working fine now

[2017-03-23 05:01] nealwu commented on #1220
Ok great!

[2017-03-23 10:06] francescoyang opened #1245 "How can I find this file. --model_path=models/brain_pos/greedy/$PARAMS/model"
when start this cmd:
PARAMS=128-0.08-3600-0.9-0
for SET in training tuning dev; do
  ../bazel-bin/syntaxnet/parser_eval \
      --task_context=models/brain_pos/greedy/$PARAMS/context \
          --hidden_layer_sizes=128 \
              --input=$SET-corpus \
                  --output=tagged-$SET-corpus \
                      --arg_prefix=brain_pos \
                          --graph_builder=greed

[2017-03-23 10:27] fcbr opened #1246 "UD v1.3 pre-trained models are no longer available?"
Getting a 404...

[code]

They are still referenced from https://github.com/tensorflow/models/tree/master/syntaxnet#using-the-pre-trained-nlp-models

[2017-03-23 14:25] skye commented on #1194
Oh I see. I'll leave this closed then. Thanks for adding your info to #1201.

[2017-03-23 14:25] #1194 closed

[2017-03-23 14:36] skye commented on #1201
@haoran8899 this looks like a different problem. Your logs all have errors like the following:
[code]

This looks similar to https://github.com/tensorflow/tensorflow/issues/6411, could you try running `pip install --upgrade distribute`? If you still have problems, please post your issue to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), as this looks like a configuration pro

[2017-03-23 14:37] utkrist commented on #248
I am just summarising everything that I did to make it work. It follows from all the suggestions above.

After looking at many sources and trying, finally it worked for me
0) Install all the dependencies for syntaxnet, I am using bazel 0.4.3
   I installed bazel by downloading the installer for linux
   chmod +x bazel-version-installer-os.sh
   ./bazel-version-installer-os.sh --user

1) make follo

[2017-03-23 14:41] haoran8899 commented on #1201
ok，thank you。i will try and response

[2017-03-23 17:22] wangg12 opened #1248 "Is resnext available？"

[2017-03-23 18:11] aselle commented on #102
@calberti, should we include this code into the code now that its written and we have a build rule?

[2017-03-23 18:28] markomernick commented on #1246
The models are available at http://download.tensorflow.org/models/parsey_universal/[model]. I will update the documentation right away. Thanks for letting us know!

[2017-03-23 18:28] #1246 closed

[2017-03-23 22:49] #987 closed

[2017-03-23 22:50] #950 closed

[2017-03-23 22:50] #840 closed

[2017-03-23 22:51] #815 closed

[2017-03-23 22:51] #1072 closed

[2017-03-23 23:58] nehalbhanushali opened #1250 "Dockefile Build issue at COPY WORKSPACE command"
## MODEL : models/syntaxnet/Dockerfile
## ERROR:
[code]

[2017-03-24 01:44] arsenious opened #1251 "[Neural GPU] Running in Python 3.5"
Thank you for the code
I tried running the code in Python 3.5 (after converting the code using 2to3) , Tensorflow 1.01 but it ran into a couple of issues. Some fixes:

1) In wmt_utils.py, change line 44 to ensure everything inside re.compile is of type byte
_WORD_SPLIT = re.compile( b"([" + _PUNCTUATION.encode() + b"])" )

2) In data_utils.py , change line 113 to keep k as an int
k = (l-1)//2

I'v

[2017-03-24 02:25] francescoyang commented on #436
Hi  ，I get this error too, I test it in my aliyun sever, it‘s virtual/Shared server, this just can test in physical disk? How can I   fixed it work in virtual/Shared server? any advice? thx

[2017-03-24 02:32] francescoyang commented on #1245
I find this: https://github.com/tensorflow/models/issues/436,  It`s say syntaxnet train in virtual/shared FS will be get this error, How can I  fix it in my virtual/shared FS aliyun server? help. thx.

[2017-03-24 02:47] mirkobronzi commented on #436
Hi - not sure about that. My solution was to use a physical machine with a physical hard drive..

[2017-03-24 02:50] nehalbhanushali commented on #1250
## NEW ISSUE IN BUILD

` /bin/sh: 1: tensorflow/tools/ci_build/builds/configured: not found `
[code]

[2017-03-24 03:41] haoran8899 commented on #1194
@skye
I exec " pip install --upgrade distribute " in my python virtualenv,then use the python virtualenv exec succefull.thanks a lot

[2017-03-24 03:42] andrewjylee commented on #1225
hm I'm seeing that I'm on 1.0.1 now, I'm not sure if I was on 1.0.1 when I ran that example though... :/

[2017-03-24 03:42] haoran8899 commented on #1201
@skye @bogatyy
I exec " pip install --upgrade distribute " in my python virtualenv,then use the python virtualenv exec succefull.thanks a lot

[2017-03-24 04:44] nehalbhanushali commented on #1250
### Am I on the right track?

1. cloned models repository
2. went to syntaxnet and cloned tensorflow repository
3. built the Dockerfile in syntaxnet to a docker image.

### Build ended with the following error:
[code]

[2017-03-24 05:11] francescoyang commented on #436
@mirkobronzi  thx anyway

[2017-03-24 07:31] #1218 closed

[2017-03-24 09:28] utkrist commented on #173
@borisstock Where (what files) should I make these changes to?

[2017-03-24 10:54] utkrist commented on #248
Following is the summary of what worked for me. It is based on prev comments and other sources.

0. Install all the dependencies for syntaxnet
1. Choose non NFS location for bazel temp directory related files. I choose '/tmp/bazeltemp'. Add this line to .bashrc:
`export TEST_TMPDIR=/tmp/bazeltemp`

2. Install bazel using installer (I choose 0.4.5). Here, bin and bazelrc can be in NFS location
   `

[2017-03-24 13:29] snurkabill commented on #1199
The point is, that if one is calling generate() method, reconstruction is created from randomly generated latent space (z)

[2017-03-24 15:33] skye commented on #1225
Can you rerun the example and confirm you're still seeing the same problem? Thanks.

[2017-03-24 16:56] aselle commented on #1251
It would be great if you could package this into a pull-request. Thanks!

[2017-03-24 17:27] bogatyy commented on #1201
@dsindex Fix committed, MacOS build is working now (there is one failing test because of `readlink` differences between Unix and Mac, but it does not impact actually using DRAGNN).

Closing the issue (feel free to reopen if the problem persists)

[2017-03-24 17:27] #1201 closed

[2017-03-24 17:42] bogatyy commented on #1250
Step 2 - instead, could you try cloning with recursion?
`git clone --recursive https://github.com/tensorflow/models.git`

Also, unless you want to change the code and build those changes into your own image, consider just using our pre-built image:
https://hub.docker.com/r/tensorflow/syntaxnet/
https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/CLOUD.md

[2017-03-24 17:49] bogatyy commented on #1115
Try syncing to the latest code and re-running. If that doesn't help, the actual errors are in the logfiles like ` /home/amir/.cache/bazel/_bazel_amir/7cae739dd7ef8545aa4a0f83ff6a72a9/execroot/syntaxnet/bazel-out/local-opt/testlogs/syntaxnet/beam_reader_ops_test/test.log`

[2017-03-24 20:52] nehalbhanushali commented on #1250
Thank you @bogatyy

But this pre built image does not seem to have the parsey_universal module for parseys cousins.
The github repository models>syntaxnet>syntaxnet>models has two modules.
1. parsey_msparseface
2. parsey_universal (this is what I am looking for)

I could not find the 2nd module in the prebuilt image.
Could you point me to it?

[2017-03-24 22:42] bogatyy commented on #1250
Good catch! Updated the docker image, can you re-pull and try again?

Also, did it work out with building your own image if you don't clone TF separately? (if may lead to a version mismatch)

[2017-03-25 00:25] jo8hua commented on #1199
I agree with your statement,  but I don't understand your point.

Since the variational autoencoder has `z` as the normally distributed latent variable, rather than `z_mean`, this should be provided as input to the DAG in the generate function. I have submitted a [pull request](https://github.com/tensorflow/models/pull/1253) to fix this.

The real topic that I wanted to discuss was whether `z` can

[2017-03-25 00:25] #1199 closed

[2017-03-25 01:04] nehalbhanushali commented on #1250
Cloning recursively also left me with some errors.
I am not able to locate the error during build, but this is what I get when I try a German sentence
[code]

[2017-03-25 01:20] nehalbhanushali commented on #1250
Docker image has the `parsey_universal` module now. But the above error remains the same.

Steps to reproduce:
1.
`docker run -ti tensorflow/syntaxnet bash`
2.
[code]
Ref : http://technobium.com/a-glimpse-into-syntaxnet-the-worlds-most-accurate-parser/

[2017-03-25 01:25] martinpopel commented on #1211
The [official CoNLL2017 evaluation script](https://github.com/ufal/conll2017/blob/master/evaluation_script/conll17_ud_eval.py) can be dowloaded from http://universaldependencies.org/conll17/evaluation.html. Note that unlike the above-mentioned scripts, it handles different tokenization and multi-word tokens.

[2017-03-25 06:39] #1248 closed

[2017-03-25 15:22] moshoujingli commented on #1156
CentOS release 6.3 (Final)
Linux 2.6.32_1-12-0-0 x86_64 GNU/Linux
Sorry for not provide these info.
Would you like to tell me where can I find the the issue submission template, the next time I can follow it.

[2017-03-25 18:15] EmilStenstrom commented on #1200
I have the exact same problem as @Tomas0413 describes. Running `echo "Hello" | syntaxnet/demo.sh` returns the pywrap error.

I'm using macOS Sierra 10.12.3 and Python 2.7.13.

Steps to reproduce for me:
[code]

[2017-03-25 18:26] EmilStenstrom commented on #1200
Given @Tomas0413 suggestion about using the wrong bazel version I tried installing 0.4.3, but I get the exact same error with that version too.

[2017-03-25 19:56] EmilStenstrom commented on #1200
**I got it to work!** It seems you need to run `bazel test` and wait for it to complete, and during that process (~30 min wait time) the pywrap_tensorflow_internal module magically appears.

[2017-03-25 20:21] Tomas0413 commented on #1200
@EmilStenstrom I'm glad it worked for you. I ran "bazel test ..." and then I still got the error. I'll try to clone the repository again in case the problem is fixed now.

[2017-03-25 20:32] cshallue commented on #1155
Thanks for your interest!
See #466 for a community provided checkpoint.
See my recent comment on that thread for instructions of upgrading the checkpoint for TF 1.0.

[2017-03-25 20:32] #1155 closed

[2017-03-25 20:35] #1133 closed

[2017-03-25 20:52] KranthiGV opened #1257 "[im2txt] Unable to preprocess mscoco dataset for show and tell"
I'm trying to preprocess mscoco dataset for use in im2txt model.
I'm using tensorflow 1.0 for GPU on a GTX 1070 with 16 GB RAM.
Python version: 3.5.3
[code]

[2017-03-25 21:53] Tomas0413 commented on #1200
@EmilStenstrom works for me now as well. I can see there were few changes since I opened this issue.

[code]

[2017-03-25 21:53] #1200 closed

[2017-03-25 23:01] Tyruiop commented on #1250
If you run `bazel test ...` it will build the missing bazel-bin/syntaxnet/parser_eval and should work

[2017-03-26 03:31] gregory-marton opened #1259 "syntaxnet/demo.sh failing to parse simple sentences."
## Please let us know which model this issue is about (specify the top-level directory)
syntaxnet

The example in the readme works as expected:
[code]
as do some minor variants, e.g.:
[code]
but other minor variants yield a trivial empty parse:
[code]
Likewise "Bob purchased the pizza from Alice.",

Similarly,
[code]
but not "Bob liked the pizza from Alice better than the one from Anne."
[code]
Th

[2017-03-26 03:37] nehalbhanushali commented on #1250
Thanks 👍

[2017-03-26 17:11] bowu opened #1260 "Skip thoughts example cannot load pretrained model"
I followed the tutorial to run the skip thoughts model and could successfully load vocab.txt, embeddings.npy and so on, but couldn't load the pretrained model. The output I got is:
/home/bwu/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes

[2017-03-26 17:15] gregory-marton commented on #1259
If I take out the part of demo.sh about running `conll2tree`, then things look more reasonable.

[code]

[2017-03-26 20:38] andrewjylee commented on #1225
I'm sorry, I was on version 0.7.1. Updated to 1.0.1 and problem is not there. Sorry, thanks, closing this thread.

[2017-03-26 20:38] #1225 closed

[2017-03-27 01:39] dsindex commented on #1201
@bogatyy thank you! it works well.

[2017-03-27 05:37] alfydavy opened #1261 "Tensorflow Bazel Build Failure - GCC failing"
/tensorflow/tensorflow/core/kernels/BUILD:2122:1
C++ compilation of rule '//tensorflow/core/kernels:argmax_op' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FORTIFY_SOURCE=1' -DNDEBUG ... (remaining 130 argument(s) skipped): com.google.d

[2017-03-27 05:39] alfydavy commented on #1261
My System is Mac OS running sierra 10.12.3

[2017-03-27 06:44] karthikmswamy opened #1262 "Loading Skip Thoughts Model in Python 3"
Model: skip_thoughts
Issue type: Update for Python 3.5+ support
Excellent job with the implementation of Skip-Thoughts in TF.
Just want to bring to your attention about loading the embedding matrix .npy file in Python 3.5.3.
These lines in encoder_manager.py:
[code]
need to be changed to the following:
`embedding_matrix = np.load(embedding_matrix_file)`
as Python 3 seems to have issues loading the

[2017-03-27 07:47] wuluhui commented on #1133
@cshallue I solved this problem by removing "str" in following code
def _bytes_feature(value):
  return tf.train.Feature(bytes_list=tf.train.BytesList(value=[str(value)]))
and changing the _bytes_feature(v) to _bytes_feature(bytes(v,encoding='utf-8') in following code
def _bytes_feature_list(values):
  return tf.train.FeatureList(feature=[_bytes_feature(v) for v in values])

[2017-03-27 08:00] fuchao01 opened #1263 "tf-slim train model"
## Please let us know which model this issue is about (specify the top-level directory)
use tf-slim train model：
python train_image_classifier.py     --train_dir=${TRAIN_DIR}     --dataset_name=imagenet     --dataset_split_name=train     --dataset_dir=${DATASET_DIR}     --model_name=inception_v3
 raise：

Caused by op u'parallel_read/ReaderReadV2', defined at:
  File "train_image_classifier.py", li

[2017-03-27 09:10] bhack commented on #1248
https://github.com/wenxinxu/ResNeXt-in-tensorflow

[2017-03-27 10:27] wangg12 commented on #1248
@bhack Thx.

[2017-03-27 11:55] derdav3 commented on #919
`tf.contrib.rnn.BasicRNNCell` is reachable but `tf.contrib.rnn.NASCell` throws the `'module' object has no attribute 'NASCell'` error... where is NASCell? :)

[2017-03-27 16:46] djweiss commented on #1259
It seems the problem is that conll2tree breaks does not support multiple predicted roots. I'm not sure why the parser would predict "." to be the root in the first case; it seems to just be an error. FWIW, you can also visualize trees using our newer visualization code (using GraphViz) in DRAGNN:

https://github.com/tensorflow/models/blob/master/syntaxnet/dragnn/python/render_parse_tree_graphviz.p

[2017-03-27 16:46] #1259 closed

[2017-03-27 20:39] MikeTam1021 opened #1264 "Cifar10 underutilizing GPUs?"
I am running on four GPUs on a cloud server.

I am fairly certain I am underutiliing GPUs since I am running `watch nvidia-smi` and seeing lots of zeroes with periodic breif upticks to about 20-30% in one or two gpus. I sent `--num-gpus=4` as an argument.

Here is some detail:

`W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3 instructions, but

[2017-03-27 21:31] nealwu commented on #919
@derdav3 It looks like [NASCell](https://www.tensorflow.org/versions/r1.1/api_docs/python/tf/contrib/rnn/NASCell) is only available starting in TensorFlow 1.1. You should [install TensorFlow from source](https://www.tensorflow.org/install/install_sources).

[2017-03-27 23:29] ebrevdo commented on #919
You can also download a TensorFlow nightly:

https://github.com/tensorflow/tensorflow#installation

On Mon, Mar 27, 2017 at 2:31 PM, Neal Wu <notifications@github.com> wrote:

[2017-03-28 00:25] aselle commented on #1189
@nealwu, any other ideas?

[2017-03-28 00:31] aselle commented on #1156
Almost sounds like a memory leak. Could you watch your system stats and see if the memory is increasing throughout the runs.   Are you using CPU / GPU? What version of TensorFlow? Are you using jemalloc or tcmalloc? If not you shoudl try that.

[2017-03-28 00:39] solitaire2015 commented on #1189
@aselle  I found that CPU contains some variables, I tried to set these variables on GPU,  then, inception-v3 only occupied  50% CPU(less than before, 65%), and I use Hacker Process to monitor my CPU and GPU usage amount.  There was something wrong with the Hacker Process and lead me to get very poor usage amount of  GPU, Actually, Inception-v3 occupied 50%~60% GPU.
But, I'm very curious about if

[2017-03-28 02:50] nealwu commented on #1189
Are you training the model in [models/inception](https://github.com/tensorflow/models/tree/master/inception) or the one in [models/slim](https://github.com/tensorflow/models/tree/master/slim)? I would recommend the one in models/slim as that's a newer version.

[2017-03-28 02:52] solitaire2015 commented on #1189
OK. Thank you. I trained in inception. I'm going to have a look at slim.

[2017-03-28 02:52] #1189 closed

[2017-03-28 03:53] davidseow1989 opened #1266 "Improvement of the tensorflow tutorial using inception-v3"
## Please let us know which model this issue is about (specify the top-level directory)
 models/tutorials/image/imagenet/classify_image.py
Regarding the tutorial, how do I go about getting a larger database (more than 1000 classes) and implementing into the script?
Thank you for your help, I am new to coding..

[2017-03-28 06:32] pedropgusmao opened #1267 "Multiple GPUs on Imagenet"
## Please let us know which model this issue is about (specify the top-level directory)
Hi, is it possible for anyone to provide a modular example of multi-gpu using ImageNet with synchronous parameter update? I was looking for something that would separate data loading, model declaration (using Slim, perhaps?) and training scheduling. The CIFAR10 example kind of mixes everything and it is not cle

[2017-03-28 08:28] marvion commented on #1120
I have the same problem. How to train using multiple machines under slim framework. Look forward to reply.

[2017-03-28 13:54] mhnatiuk commented on #1050
following @ebrevdo talk on sequence to sequence models @ tfsummit I decided to try dynamic decoding. Unfortunately, with so many options it's difficult to wire things up fast. When are you planning to release some code showing new features?

[2017-03-28 14:48] ozancaglayan commented on #1257
I don't think that the model works on Python 3.

[2017-03-28 14:54] MikeTam1021 commented on #1264
Now I am running on a single GPU and my batches are running four times as quick. I didn't use the multi_gpu script but instead used the cifar10_train.py script outright. And even at on ~47% utilization

Filling queue with 20000 CIFAR images before starting to train. This will take a few minutes.
W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3

[2017-03-28 15:19] mkarliner commented on #1200
I got this error until I left the tensorflow directory

[2017-03-28 15:46] ebrevdo commented on #1050
Within the next month, hopefully.

On Mar 28, 2017 6:55 AM, "mhnatiuk" <notifications@github.com> wrote:

[2017-03-28 17:49] aselle commented on #1196
@mrry, do you have any insight on this or know who might?

[2017-03-28 18:27] aselle commented on #1235
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-28 18:27] #1235 closed

[2017-03-28 18:27] aselle commented on #1239
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-28 18:27] #1239 closed

[2017-03-28 18:36] ymakkapa commented on #1050
Hello everyone,
Thanks a lot for your time and information. I deleted everything, re-installed tensorflow and getting the following errors. I am a beginner to tensorflow and need your help.
![mostrecentseqerror](https://cloud.githubusercontent.com/assets/20130992/24421329/db269f30-13c3-11e7-896c-df3c9919dfdb.PNG)

[2017-03-28 18:36] aselle commented on #1245
That should be a checkpoint file on disk. What instructions are you following to try to get this to work?

[2017-03-28 19:06] ankitarya10 opened #1268 "skip_thoughts vocabulary expansion fails when loading vocabulary from vocab.txt of skip_thoughts_uni_2017_02_02"
## Please let us know which model this issue is about (specify the top-level directory)
https://github.com/tensorflow/models/skip_thoughts

there is empty line on line 677445 of vocab.txt, where it throws as assesrtion error:

Traceback (most recent call last):
  File "/home/icarus/skip_thoughts/bazel-bin/skip_thoughts/vocabulary_expansion.runfiles/__main__/skip_thoughts/vocabulary_expansion.py",

[2017-03-28 19:12] ankitarya10 commented on #1268
Another occurrence on line 918116. Function works fine after removing the empty lines.

[2017-03-28 19:43] aselle commented on #1257
Yes, this is indeed a python2/python3 compatibility thing. It would be great if you could attempt to fix it for Python 3. For examplee, you might try using bytes(value) instead of str(value) on that error and see if it works.

[2017-03-28 21:13] aselle commented on #1261
are you possibly running out of memory? how much memory does your system have?

[2017-03-28 21:32] mhnatiuk commented on #1050
Looks like you have a problem with permissions to write to tmp folder, the issue has nothing to do with tensorflow itself as far as I see. This question is better suited for stackoverflow though

[2017-03-28 21:58] aselle commented on #1262
What version of numpy are you using?

[2017-03-28 22:05] aselle commented on #1267
@tfboyd, do you have any references in this direction?

[2017-03-28 22:05] aselle commented on #1267
@tfboyd, do you have any suggestions?

[2017-03-28 22:33] mrry commented on #1196
From looking at that script, it doesn't look like anything in that library ever creates a `tf.train.Server`, so I can't see how it would ever work for distributed training. There doesn't seem to be any public interface e.g. for setting the network addresses of the worker and PS tasks, which would be a prerequisite.

Perhaps this code was copied from another codebase that does have distributed supp

[2017-03-28 22:36] tfboyd commented on #1267
I have used this example recently with TF 1.0.  The resnet-50 v2 works end to end training using ImageNet from scratch.
https://github.com/tensorflow/models/tree/master/slim

[2017-03-28 22:36] aselle commented on #1264
@tfboyd, any suggestions?

[2017-03-28 22:38] aselle commented on #1263
Are you sure the data exists at the path you gave the command?

[2017-03-28 22:39] aselle commented on #1263
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-28 22:42] vincentchu commented on #1196
I was debugging a similar error message. Is it possible that the `DeploymentConfig` in `model_deploy.py` is hardcoding the `worker_job_name` to `worker` when it means `localhost`?

See: https://github.com/tensorflow/models/blob/master/slim/deployment/model_deploy.py#L490

[2017-03-28 22:46] mrry commented on #1196
I think the `worker_job_name` is a TensorFlow job name (as in the string `"worker"` in `"/job:worker"`), and not a network address.

These scripts need a lot of modifications (including extra configuration options and `tf.train.Server` setup) to work in a distributed setting. Once that is there, when starting a worker task, you'd set the `--master` flag to `grpc://hostname:port` where `hostname:po

[2017-03-28 23:17] aselle commented on #1266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-28 23:17] #1266 closed

[2017-03-28 23:18] aselle commented on #1260
What did you run exactly? Can you show a list of the directory
[code]
so we can see what files are in there?

[2017-03-28 23:28] robosoup commented on #1103
Hi @mrry, I'm running tensorflow-gpu (1.0.1) on Windows 10. How would you suggest I create and load word2vec_ops.so? My options appear limited - would really appreciate help...

[2017-03-28 23:47] mrry commented on #1103
@robosoup We don't currently have any docs for this, but if you're feeling adventurous you could try following @guschmue's CMake recipe for building a user ops library, which we currently use for the fused RNN ops only:

https://github.com/tensorflow/tensorflow/blob/557b7b85f6d1ac6879f23b9b57828ce7ccfd57dd/tensorflow/contrib/cmake/tf_python.cmake#L771

(In the long term, we hope to switch this pro

[2017-03-29 00:05] cshallue commented on #1260
You need to provide the full path to the model, which in this case I believe would be

[code]

[2017-03-29 00:07] cshallue commented on #1257
#1133 may be helpful here

[2017-03-29 00:32] karthikmswamy commented on #1262
I'm using Anaconda running Python 3.5.3 and NumPy 1.11.3.

[2017-03-29 01:12] guschmue commented on #1103
I have being using the load_library() and have some workable process ... can put up a little howto shortly.

[2017-03-29 01:38] bowu commented on #1260
bwu@bwuserv2:~/ResearchProjects/tf_models/skip_thoughts/skip_thoughts/pretrained/skip_thoughts_uni_2017_02_02$ ls -lh
total 5.8G
-rw-r----- 1 bwu bwu 4.4G Mar  9 22:52 embeddings.npy
-rw-r----- 1 bwu bwu 1.5G Mar  9 22:47 model.ckpt-501424.data-00000-of-00001
-rw-r----- 1 bwu bwu 4.4K Mar  9 22:46 model.ckpt-501424.index
-rw-r----- 1 bwu bwu 3.2M Mar  9 22:46 model.ckpt-501424.meta
-rw-r----- 1 bw

[2017-03-29 04:09] cshallue commented on #1260
@aselle do you know what this error means? The path to the model checkpoint seems correct (except for the extra "/") and this command works for me.

[2017-03-29 05:36] KranthiGV commented on #1257
It is definitely a Python 3 issue. I realized it after successfully running the training using Python 2.
I would attempt to fix it for Python 3 and send a PR.

[2017-03-29 08:25] sweetmilkcat opened #1269 "The RNN Tutorial Code can't run in anaconda with windows"
I try to  run Recurrent Neural Networks Tutorial Code in anaconda3   with windows, but I get the following error :
python ptb_word_lm.py --data_path=/tmp/simple-examples/data/ --model=small

Traceback (most recent call last):
  File "ptb_word_lm.py", line 71, in <module>
    "A type of model. Possible options are: small, medium, large.")
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\pla

[2017-03-29 09:20] csuncs89 opened #1270 "[street] Any GPU support for the STREET model?"
The VariableLSTMOp kernel used in STREET model runs CPU device. But it might be slow. So I wonder how can I run it on GPU device?

Thank you!

@theraysmith

[2017-03-29 09:21] robosoup commented on #1103
Thank you @mrry and @guschmue, I'll give this a try!

[2017-03-29 09:35] dsindex opened #1271 "[syntaxnet, dragnn] bazel test ... failed in CentOS 7"
i reported a similar issue for OS X ( https://github.com/tensorflow/models/issues/1201 ).
but, this case is for CentOS 7.

- environment
[code]

- errors
[code]

- examples
[code]

[2017-03-29 10:22] alfydavy commented on #1261
System has 16 gigs of memory there was no out of memory exception just the gcc failure alert

Sent from my iPhone

[2017-03-29 10:52] rajmiglani opened #1272 "inception v3 training"
## Please let us know which model this issue is about (specify the top-level directory)
inception v3 model.
trained upon flower dataset till 3900 steps but only step 0 checkpoint saved and no more.

[2017-03-29 15:19] markomernick commented on #1271
It looks like you may need to upgrade your proto2 dependency to the most recent release.

[2017-03-29 16:25] ymakkapa commented on #1050
HI, I deleted everything and installed Ubuntu 16.04.2 LTS and the output processed for a long time and got errors again. I got the code from "https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate" and got the following errors. Can anyone please help me with this. I did not upgrade to tensorflow 1.0
![fresh error seq](https://cloud.githubusercontent.com/assets/20130992/24465395/d

[2017-03-29 17:03] guschmue commented on #1103
My favorite way is here:
https://gist.github.com/guschmue/2908e4411edc2faef6ddfe87a2ce4a1d
This becomes part of the normal cmake process so one does not need to worry about compiler flags, includes ...
Drawback is that you need to build the source tree once to generate all header files ... eventually we can add the includes to the python wheel.

[2017-03-29 19:05] ankitarya10 commented on #1260
@bowu @aselle @cshallue  Note sure if something changed in the pretrained script, but I am getting
embedding vector of shape (20000,620) which is much smaller the size of the vocabulary and not matching what @bowu  pasted.

INFO: Found 1 target...
Target //skip_thoughts:vocabulary_expansion up-to-date:
  bazel-bin/skip_thoughts/vocabulary_expansion
INFO: Elapsed time: 0.108s, Critical Path: 0.00s

[2017-03-29 19:16] ankitarya10 commented on #1260
Has the vocabulary expansion already been done on the pre-trained models ?

[2017-03-29 19:41] cshallue commented on #1260
@ankitarya10 yes, the vocabulary expansion has already been done on the pre-trained models

[2017-03-29 19:41] cshallue commented on #1268
Vocabulary expansion has already been done on the pretrained models, so you can skip this step

[2017-03-29 19:41] #1268 closed

[2017-03-29 20:32] ankitarya10 commented on #1268
@cshallue I got confused as vocab.txt size is much smaller than google word2vec vocab size. Is there a reason why ?

[2017-03-29 20:37] cshallue commented on #1268
The word2vec model has 3M words, but many of those are bigrams (i.e. word pairs) that we don't use for the skip thoughts model. We are left with about 930k words:
[code]

[2017-03-29 21:27] bowu commented on #1260
It is indeed because of the extra "/" in the path. Now it works. Thanks so much!

[2017-03-29 21:27] bowu commented on #1260
To help others, the extra "/" is not a problem for loading vocab files, but it is a problem for loading the pretrained model.

[2017-03-29 21:30] cshallue commented on #1260
@bowu great! Good to know about the "/" subtlety for the future.

[2017-03-29 21:30] #1260 closed

[2017-03-29 23:15] dsindex commented on #1271
@markomernick thank you :)

after upgrade protobuf3.0.0b2 -> 3.2.0,
number of errors has decreased 5 to 2.

the remained errors look like :
[code]

but i already installed `pygraphviz` using the command :
[code]

it seems that 'render_parse_tree_graphviz' can't find `per-user site-packages`.
so i removed pygraphviz and reinstall it system-wise.

finally all works fine.
[code]

[2017-03-29 23:17] #1271 closed

[2017-03-29 23:20] ymakkapa opened #1273 "GRU cell error- sequence to sequence models"
Hello everyone,
I got the code from tensorflow website for this tutorial. It processed for a long while and got the following errors. Installing tensorflow from sources also did not work for me as it gave me many errors. so I deleted everything installed tensorflow on my Ubuntu 16.04 LTS. Please please help me in resolving these errors as it is an emergency. I am a beginner to tensorflow and its b

[2017-03-30 00:46] #1273 closed

[2017-03-30 01:27] ankitarya10 opened #1274 "Speeding up skip_thoughts encoder"
## Please let us know which model this issue is about (specify the top-level directory)
Currently, skip_thoughts encoder is very slow. Any suggestions on how it can be speeded up?

[2017-03-30 08:53] redserpent7 commented on #1222
I checked all directories that are shown in the log.
All the images are readable, verified with imagemagick and PIL.

I am runnung TF 0.10 on Ubuntu 14.04 64-bit

[2017-03-30 09:07] Google1234 opened #1275 "tf.concat BUG"
tf.concat() to be compatible with new TF

while use  inception_resnet_v2.py ,raise Error, use tf.__version__ =='0.12.0:

  File "/ssd/lidenghui/jt/models_crop/slim/nets/inception_resnet_v2.py", line 169, in inception_resnet_v2
  net = tf.concat(axis=3, values=[tower_conv, tower_conv1_1,
            tower_conv2_2, tower_pool_1])
TypeError: concat() got an unexpected keyword argument 'axis'

that be

[2017-03-30 10:03] leexa90 opened #1276 "fine-tuning inception-v3 on flowers , tf.summary.image error"
## Please let us know which model this issue is about (specify the top-level directory)
Hi,

While trying to run the following command in tensorflow 0.11.0

[code]

i got the error below ,

Changing summary.image to summary_image does not help too.

XA

[2017-03-30 10:25] nb312 commented on #1082
how to run the word2vec_basic.py file just use "python word2vec_basic.py"?.i did this but just wait it for a long time and nothing happened

[2017-03-30 10:26] nb312 commented on #1082
what are the things I should prepare

[2017-03-30 11:35] manene opened #1277 "got error when compressing Inception v3 Checkpoint"
I got error:
gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

when run command:
tar -xvf "inception_v3_2016_08_28.tar.gz" -C ${INCEPTION_DIR}

so I'm wondering if the file is broken?

[2017-03-30 13:30] #1277 closed

[2017-03-30 16:27] dhakrasp commented on #836
I was facing the same issue.
@gerarq  Thanks for the quick fix!

[2017-03-30 16:29] dhakrasp commented on #836
I was facing the same issue.
@gerarq  Thanks for the quick fix!

[2017-03-30 17:58] CharlesShang opened #1278 "Using slim DatasetDataProvider to read an image with changable shape"
I'm doing detection on images of changeable shape.

[code]
It raised an error  `ValueError: All shapes must be fully defined: [TensorShape([Dimension(None), Dimension(None), Dimension(3)])`
Does slim DatasetDataProvider support variable shape inputs?
What should I do?

[2017-03-30 18:08] CharlesShang commented on #1278
If I just wrote it without tf.train.batch
[code]
It stucked some where..

[2017-03-30 19:25] nealwu commented on #836
@dhakrasp you should pull this repository again. The fix was merged in https://github.com/tensorflow/models/pull/1226.

[2017-03-30 19:27] aselle commented on #1272
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-30 20:15] nealwu commented on #1275
Hi, please uninstall TensorFlow 0.12 and install TensorFlow 1.0 (`pip install tensorflow`) to use with this models repository. The correct argument for `tf.concat` in 1.0 is indeed `axis` and not `concat_dim`.

[2017-03-30 20:15] #1275 closed

[2017-03-30 20:16] nealwu commented on #1276
Hi, please uninstall your current version of TensorFlow and install TensorFlow 1.0 (`pip install tensorflow`) to use with this models repository.

[2017-03-30 20:16] #1276 closed

[2017-03-30 20:20] nealwu commented on #1278
You should make sure `image` has a specified shape by calling `image.set_shape` before passing it to `tf.train.batch`.

[2017-03-30 20:22] nealwu commented on #1269
Hi, please uninstall your TensorFlow version and install TensorFlow 1.0, and let us know if the problem is still happening.

[2017-03-30 20:25] nealwu commented on #1278
Oh sorry, didn't notice you mentioned "changeable shapes." I'm not sure whether what you're looking for is supported.

[2017-03-30 22:54] ankitarya10 opened #1280 "Unable to load bi skip thought model under Encoding Sentences"
## Please let us know which model this issue is about (specify the top-level directory)
This is regarding the skip thoughts model. The uni model loads fine, the following error is thrown when loading the bi model:

[code]

[code]

[2017-03-31 02:17] arsenious commented on #1251
Hi aselle
To be honest, I'm relatively new to tensorflow as well as to git. I have used 2to3 to change all the scripts automatically. Wouldn't merging these changes to the repo cause issues for people using Python 2.7 ?

[2017-03-31 02:26] aselle commented on #1270
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-31 02:26] #1270 closed

[2017-03-31 02:33] CharlesShang commented on #1278
@nealwu Thanks.
According to this issue [2604](https://github.com/tensorflow/tensorflow/issues/2604 ).
I guess `DatasetDataProvider + tf.train.batch` cannot solve my problem, since tf.train.batch requires static shape. I need to find a way bypassing `tf.train.batch`

[2017-03-31 02:47] aselle commented on #1262
This seems like a bug in Python 3.5 or NumPy... please submit a pull request changing it to what you suggest which seems to work fine.

[2017-03-31 03:23] aselle commented on #1257
@KranthiGV thanks for looking into that and volunteering to switch the code to Python 3 compatible. I'll mark it contributions welcome for now, but keep it open. Please reference it in your commit with a message like "Fixes #thisbug" and it will automatically close. Thanks!

[2017-03-31 03:49] arsenious commented on #1251
@aselle

Hi

I have made a pull request. Most of the changes were done by the python 2to3 script. However, changes to division operations performed on array indices had to be changed manually. ( / to // to ensure that the result was an integer). Please let me know what further actions I should take. I also signed the CLA.

Thanks

[2017-03-31 06:15] TaihuLight commented on #1238
Cloud you share your code with me?

[2017-03-31 06:25] andongchen commented on #1238
of course!  give me your mail

[2017-03-31 06:35] andongchen opened #1282 "how to give the not tfrecords data input,when i you slim.learning.train!"
https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py
when i use this model,but my new data is not tfrecords,and can't change to tfrecod, because my new data is a pair of data,i use to person re-identification !in this case,hou can i input my new data in this function,my method is like this,but it like only use once my generate data function.because in this way the model

[2017-03-31 17:22] aselle commented on #1282
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-31 17:22] #1282 closed

[2017-03-31 17:54] aselle commented on #1222
Could you try writing a simple TensorFlow graph that tries to read that jpeg manually and do something with it. Then run that graph and see if it successfully reads. ImageMagick has a lot of code invested in opening images that are not quite within the spec?. Or there could be a bug in the TensorFlow decoder? In either case, it would be good to find out.

[2017-03-31 18:01] aselle commented on #1251
Awesome! Could you link to the pull request here? Or link the pull request to hear by Using "Fixes #1251" in the last commit of your git branch that you included in the pr. Thanks.

[2017-03-31 20:41] aselle commented on #1274
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-31 20:41] #1274 closed

[2017-03-31 23:16] bhack commented on #1248
It could be useful to merged here pretrained. /cc @wenxinxu

[2017-04-01 01:16] sangjinhong opened #1283 "My predict code problem and How to predict result using inception module???"
I'm implementing image recognition using inception module

I trained inception module from scratch using my data
and ignored the result of imagenet data training.

I implemented the prediction code using the following link:

http://tech.mercari.com/entry/2017/01/18/123944

However, if the code call save.restore(...), there are always exception.
If anybody has the information about this problem, pl

[2017-04-01 05:12] dsindex opened #1284 "[syntaxnet, dragnn] 'std::out_of_range' problem"
#### recently, i made a test code base.

https://github.com/dsindex/syntaxnet#dragnn
https://github.com/dsindex/syntaxnet/tree/master/dragnn_examples

i use 'master_spec' definition :
https://github.com/dsindex/syntaxnet/blob/master/dragnn_examples/model_dragnn.py
( basically same as https://github.com/tensorflow/models/blob/master/syntaxnet/dragnn/conll2017/make_parser_spec.py )
in this setting,

[2017-04-01 09:34] rajmiglani commented on #1272
Sorry for lack of information.
Ubuntu,TF 1.0,python 3.5,upgraded the inception model using tf.upgrade.

[2017-04-01 10:02] lixiangchun opened #1286 "How print the prediction probabilities in `eval_image_classifier.py`"
Currently, I followed tutorial in [https://github.com/tensorflow/models/tree/master/slim](https://github.com/tensorflow/models/tree/master/slim) to fine-tune the inception_v3 model on pathological images. Image data was converted and stored as TFRecord.

When finished fine-tuning, I run `eval_image_classifier.py` on validation set with the new model. The  `eval_image_classifier.py` just print accu

[2017-04-01 20:47] hdavidzhu opened #1287 "Utilized a fine-tuned Inception V3 model."
I'm a newbie who is following through the documentation for fune-tuning inception V3.
https://github.com/tensorflow/models/tree/master/inception

With the checkpoints generated, how do I actually use the newly trained model on specific images? Following this other tutorial, I don't know where to get a `.pb` file from the results:
https://codelabs.developers.google.com/codelabs/tensorflow-for-poets

[2017-04-01 20:50] lliu25 opened #1288 "Slim resnet v1 model fine-tune and pre-trained weights for resnet v2"
https://github.com/tensorflow/models/issues/391 has discussed the problem of "is_training" parameter during fine-tuning. However it is still a bit confusing. For resnet v1 in tf.contrib.slim, is_training is only for batch_norm, and for resnet v1 in tensorflow/models/slim (which is in this issue's scope), is_training is for all the parameters. And in practice, the performance of fine-tuning is bett

[2017-04-01 21:00] aselle commented on #1278
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-01 21:00] #1278 closed

[2017-04-01 21:00] aselle commented on #1278
But you might consider preprocessing your images to all be the same size as the most easy answer to your problem.

[2017-04-01 21:14] aselle commented on #1272
Sorry, what is the sequence of commands you ran. How long idd you run it? Is it perhaps just going slower than you expect? Are you using CPU or GPU? How much memory do you use. Is your vm thrashing from too little memory?

[2017-04-01 22:04] aselle commented on #1280
@cshallue please take a look! Thanks.

[2017-04-01 22:06] aselle commented on #1288
@shlens can comment further, but I believe that we have been focusing mostly on tf.contrib.slim to be our definitive version

[2017-04-01 22:12] aselle commented on #1284
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-01 22:12] #1284 closed

[2017-04-01 22:15] aselle commented on #1286
This seems like it would be a great addition. @nealwu, could you take a look at adding this?

[2017-04-01 22:17] aselle commented on #1287
This seems like it would be a great addition. @nealwu, could you take a look at adding this? (it seems similar in spirit to the desires of #1286).

[2017-04-01 22:19] aselle commented on #1283
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-01 22:29] aselle commented on #1286
@nealwu, could you please take a look?

[2017-04-01 22:32] Riotpiaole commented on #1283
@aselle I am actually feel bad for u lol

[2017-04-02 01:14] #1283 closed

[2017-04-02 01:15] sangjinhong commented on #1283
thanks for aselle's answer.
I will use StackOverlfow.

[2017-04-02 04:40] arsenious commented on #1251
Here is the link to the pull request. https://github.com/tensorflow/models/pull/1281

[2017-04-02 15:07] continuesmile commented on #1111
hi, I have a similar situation with you，i am trying to train the POS tagger on conll files，and results show error，my system is Ubuntu. Did you fix it? If you do , could you share how to make it? I will be grateful for that.

[2017-04-03 08:27] continuesmile opened #1290 "error for run conll2017 baseline"
follow The CoNLL2017 Shared Task Instructions, I have completed the following points：

 1. install SyntaxNet/DRAGNN following the install instructions.
 2. Download the models for different languages
 3. Download the contest data and tools

next run the baseline_eval.py to run the pre-trained tokenizer and evaluate on the dev set, but i can't find the baseline_eval.py.I search related questions, a

[2017-04-03 10:43] redserpent7 commented on #1222
Can you give me an example of a good graph that can give me a good verification that the image is readable or not.

[2017-04-03 13:02] continuesmile commented on #679
hi ，I have a problem with your description，the parser_eval.py you run is located in bazel-bin/syntaxnet/, but the python file you paste next is located in  syntaxnet/syntaxnet/parser_eval.py,
or the former program points to the latter?

[2017-04-03 15:09] Scitator opened #1291 "Skip Thoughts: error with vocab expand"
## Please let us know which model this issue is about (specify the top-level directory)

There is an error with model vocab.

Running the following command:
`python skip_thoughts/vocabulary_expansion.py --skip_thoughts_model=./skip_thoughts_uni_2017_02_02/model.ckpt-501424 --skip_thoughts_vocab=./skip_thoughts_uni_2017_02_02/vocab.txt --word2vec_model=./GoogleNews-vectors-negative300.bin --output_

[2017-04-03 15:19] calberti commented on #1290
About baseline_eval.py see:
  https://github.com/tensorflow/models/issues/1211#issuecomment-287744105

It sounds like you're running
  python evaluator.py
instead of using bazel:
  bazel run evaluator

[2017-04-03 15:19] #1290 closed

[2017-04-03 15:21] Scitator commented on #1291
And why skip-thought model vocab is more than 20.000 words?

[2017-04-03 16:20] aselle commented on #1222
My guess is you are running out of file descriptors or disk space. see the resource exhausted exception.

Could you give more details?

What exact command line generates this error?
What version of tensorflow? from source? from binary?
What operating system?
What architecture?

[2017-04-03 17:04] cshallue commented on #1280
To load the bidirectional model you need to pass `bidirectional_encoder=True` to the model config. See the README [here](https://github.com/tensorflow/models/tree/master/skip_thoughts#encoding-sentences). The following will fix your issue.

[code]

[2017-04-03 17:04] #1280 closed

[2017-04-03 17:22] aselle commented on #1267
k

[2017-04-03 18:02] nburn42 commented on #679
Bazel symlinks it on build.

[2017-04-03 18:17] mosamdabhi commented on #1272
I did as mentioned in the readme file. I M UAING 32 gb MEMORY with no GPU. Its running a bit slow e.i. 3900 steps for 26 hours.No memory thrashing.

[2017-04-03 18:19] rajmiglani commented on #1272
I did as mentioned in the readme file. I M UAING 32 gb MEMORY with no GPU. Its running a bit slow e.i. 3900 steps for 26 hours.No memory thrashing.

[2017-04-03 19:06] tonyzhoujingtao opened #1293 "README.md in textsum is no longer valid for the actual directory"
The **"How to run"** instructions given in **textsum** **README.md** is not valid and confusing to follow.

[2017-04-03 19:54] anasb commented on #1264
I've got the same issue. The time per batch is approximately 3.5x slower when using 4 GPUs than when using one.

[2017-04-03 20:10] lliu25 commented on #1288
@aselle I see. So is there any plan to add more pre-trained weights? and maybe more models? thanks!

[2017-04-03 20:20] tfboyd commented on #1264
We are a few weeks away from releasing updated code for running inception3, resnet-50, resnet-152, vgg-16 and Alexnet training ImageNet.

I have looked at this CIFAR example in the past and I think the problem is the shared parameters are being placed on the GPU, moving them to the CPU will bring significant speedup.  I apologize but I am pretty sure I erased the related code.  If you make the fix

[2017-04-03 20:25] tfboyd commented on #1264
Here is what I think I did and this should get you a big gain for single-gpu.  The multi-gpu you can accomplish the same thing but it might take more effort to hack it in.  FYI a new CIFAR example is coming out that does this optimally.  This one change should get you to 4000 on a GTX-1080 and my guess would be 2000+ on a K80 but that is just a guess.  Only wrap that one function do not wrap all o

[2017-04-03 20:32] anasb commented on #1264
@tfboyd Thank you very much for your (very quick) response. In my case, I am using slim's `train_image_classifier.py` script. Will your upcoming changes fix the issue there too? Also, if you could point me in the right direction for fixing it on multi-GPU, that'd be much appreciated! Thanks.

[2017-04-03 21:06] tfboyd commented on #1264
For [multi-gpu cifar](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py#L75) I am 90% sure (likely higher) the same trick will help.  I do not remember trying it but I see no reason why it will not work in this case as well as single_gpu but I might be forgetting something.

It looks like, at least at a glance that the variable in the multi_gpu ver

[2017-04-03 23:25] nealwu commented on #1293
@tonyzhoujingtao The only commands that should actually be run are `ls -R` and the commands that start with `bazel`.

[2017-04-03 23:28] nealwu commented on #1293
Maybe this will help make that clearer: https://github.com/tensorflow/models/pull/1294

[2017-04-04 00:28] #1293 closed

[2017-04-04 06:04] continuesmile commented on #1290
@calberti : thanks for your reply.  You mean the command line i run is in the wrong form.I have seen #1211 (comment),  but it's not very clear，i have two questions about it：

1. when i use command line - bazel run evaluator，output show
## ERROR: Non-zero return code '1' from command: Process exited with status 1.
i guess that need command line argument，the scipt show ：

  bazel run -c opt <...>:dr

[2017-04-04 07:36] pedropgusmao commented on #1267
Thanks @tfboyd . On the same topic, I guess we can merge this issue with #7679

[2017-04-04 08:47] azagovora commented on #260
The same issue when I export the model in tensorflow serving.

[2017-04-04 12:01] Daducica opened #1295 "No output model after training globally"
[issue happens when creating models with syntaxnet]

I'm trying to train a Syntaxnet model using [this tutorial](https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/syntaxnet-tutorial.md). I concatenated all the codes that are given there into one file, and I tried to run it.

The first two steps (i.e. training and evaluating the POS tagger, and training the parser locally) produce se

[2017-04-04 15:08] anasb opened #1296 "[slim] Error with sync_replica when fine-tuning (using train_image_classifier.py)"
I'm trying to run `train_image_classifier.py` with `sync_replicas` like this:

[code]

It runs without issue simply if I remove the `--sync_replicas=True` line.

Otherwise, here's the output:
[code]

Any ideas what's causing this? Thanks in advance.

PS: I'm using tensorflow v1.0 and master of models (as of today 4/4).

[2017-04-04 15:57] anasb commented on #1264
@tfboyd Thank you so much for your help. I believe your solution may have fixed the issue. I am now seeing a time per step on 4 GPU similar to the one on single-GPU.

I am trying to fully understand how your `TobyReplicaDeviceChooser()` works, could you please expand on what you said here?

Thank you!

PS: Is that "fix" part of the upcoming changes that you mentioned earlier?

[2017-04-04 16:05] anasb commented on #1264
@tfboyd Sorry, actually it didn't fix the issue, the speedup was only when finetuning one layer. Finetuning all layers with your change still yields the same time per step as I had before :/

[2017-04-04 16:06] calberti commented on #1295
The error seems to be:
  Failed to find any matching files for models/brain_parser/structured/200x200-0.02-100-0.9-0/model

Is that path actually correct relative to where you're running bazel-bin/syntaxnet/parser_trainer from?  You should be able to fix this by changing --pretrained_params.

[2017-04-04 16:37] tfboyd commented on #1264
train_image_classifier.py should scale but I have not used it for fine tuning.  I have used it to partially train Resnet-50 with imagenet from scratch.  I have not done fine tuning or CIFAR so I do not know about that.  There is not a fix coming as much as some benchmark code that shows how to run TensorFlow as fast as possible.  You would have to port the changes yourself.

To explain my nasty ha

[2017-04-04 17:47] aselle commented on #1288
@lliu25, we are working on improving our supported models infrastructure so that we can provide more pre-trained checkpoints and models.

[2017-04-04 17:54] MikeTam1021 commented on #1264
Running Tensorboard reveals two wildly different models. I am still getting the built in support of the GPU without using the MultiGPU tower code when I run the simpler training script. I would guess there is something crazy happening in the towers objects (or the creation/passing of data) rather than a simple transfer of data.

![gpu built in support](https://cloud.githubusercontent.com/assets/73

[2017-04-04 18:04] lliu25 commented on #1288
@aselle thank you so much.

[2017-04-04 18:14] tfboyd commented on #1264
@MikeTam1021   Try color by device, that will show you where the operations end up.

Did you add this to the CIFAR example and see a speed up for single GPU, it should have been substantial, e.g. 5x.

 with tf.device('/cpu:0'):
       # Get images and labels for CIFAR-10.
       images, labels = cifar10.distorted_inputs()

[2017-04-04 18:16] Daducica commented on #1295
When I'm training globally, it creates the folder "structured" and the subfolder "200x200-0.02-100-0.9-0". It even puts two files in it in the early stages of the training. So the path should be right.

This is where the paser_trainer is:
/common/tools/syntaxnet/models/syntaxnet/syntaxnet

And this is the root folder for all the models:
/common/tools/syntaxnet/models/syntaxnet/models

[code]

[2017-04-04 18:27] MikeTam1021 commented on #1264
I'll try it right now. But I was running `watch nvidia-smi` and running at 47% constantly on one gpu, so I would be surprised to see a 5x gain, unless it wasn't telling me the truth...

[2017-04-04 18:54] tfboyd commented on #1264
This is what I saw a month or so back after I made the changes.

From an old email I sent:
I believe I have ended up with 86% accuracy after 82K steps (I think it only needs ~60K, so I could have likely stopped after 15 minutes) at 7,000+ img/sec on my GTX 1080 (previously ~800 img/sec).  8.75x speed up :-).

Update commentary:
I think 5,000 is likely more accurate as I was swagging the average lo

[2017-04-04 18:54] MikeTam1021 commented on #1264
wow! you were right. Killed it...

2017-04-04 18:54:31.572002: step 1100, loss = 2.48 (2568.0 examples/sec; 0.050 sec/batch)
2017-04-04 18:54:31.903779: step 1110, loss = 2.12 (3858.0 examples/sec; 0.033 sec/batch)
2017-04-04 18:54:32.235221: step 1120, loss = 2.46 (3861.9 examples/sec; 0.033 sec/batch)
2017-04-04 18:54:32.563665: step 1130, loss = 2.38 (3897.2 examples/sec; 0.033 sec/batch)
2017-

[2017-04-04 18:55] tfboyd commented on #1264
SWEET  :-)  I was going to guess 2,500 on a K80 but that was just a guess.  crazy right?

[2017-04-04 18:56] MikeTam1021 commented on #1264
Yeah, huge speedup. I will keep this in mind as I develop. Thank you.

[2017-04-04 18:56] #1264 closed

[2017-04-04 19:00] maarten1709 commented on #983
I ran into the exact same error. I patched it up adding a simple type check in `text_format.py`, then ran into some python2to3 issues:
`lm_1b_eval.py` uses `xrange`, should be `range` for python3

[2017-04-04 20:06] anasb commented on #1264
@tfboyd Thank you with helping me with my issue. I've checked and it seems that indeed the CPU is already being used for loading the dataset in the case of train_image_classifier.py. I've posted on StackOverflow [here](http://stackoverflow.com/q/43216684/657104).

[2017-04-04 20:11] tfboyd commented on #1264
@anasb  Thank you very much.  I will try to make some time to check it out or maybe someone much smarter will see it and help.

[2017-04-04 20:28] nealwu commented on #919
@batlogs You want [`tf.contrib.rnn.GRUCell`](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/GRUCell). In the future you can also just search the TensorFlow documentation to see if it solves your issue.

[2017-04-04 20:38] ahundt opened #1297 "example load & train a keras model with slim"
Is it feasible to load & train a keras model such those in [fchollet/deep-learning-models](https://github.com/fchollet/deep-learning-models) with the [training scripts provided by slim](https://github.com/tensorflow/models/tree/master/slim), then save it in the [tf.contrib.keras](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/keras) data format?

Are there any details I sh

[2017-04-04 21:42] mariaBio commented on #788
I have the same problem. I trained my own model. But there is no script to run it. Could you please paste an example of a modified demo.sh which points to the correct file paths and parameters for the newly trained model.

[2017-04-04 23:22] michaelisard commented on #1297
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-04 23:22] #1297 closed

[2017-04-04 23:53] cshallue commented on #1291
Vocabulary expansion has already been done for the pretrained models.

[2017-04-04 23:53] #1291 closed

[2017-04-05 02:53] zcc973784075 commented on #373
After watching above all, I still have some questions: First, do i have to transfer my raw_data into the text_data form with the <d><p><s> tag? Second, how  about we use the gensim to generate the vocab?

[2017-04-05 02:54] zcc973784075 commented on #373
`<s><p><d>`

[2017-04-05 08:46] continuesmile opened #1300 "please give a more detial tutorial for conll2017 baselines"
Thanks your great works first. But the tutorial for running the baselines is too blurred, as follows:

1. Install SyntaxNet/DRAGNN following the install instructions.
2. Download the models here
3. Download the contest data and tools
4. Run the baseline_eval.py to run the pre-trained tokenizer and evaluate on the dev set.

First three points is clear，but the fourth point is blurred.  #1211 refer t

[2017-04-05 20:05] obip opened #1301 "Retrain im2txt with custom database"
i am trying to retrain the im2txt model using a different database other than mscoco. i have created the tfrecords: 256 train, 4 val and 8 test. When i run train.py, i get the following error:

INFO:tensorflow:Starting Session.
INFO:tensorflow:Starting Queues.
INFO:tensorflow:global_step/sec: 0
W tensorflow/core/framework/op_kernel.cc:993] Invalid argument: indices[1,2] = 19523 is not in [0, 12000

[2017-04-05 21:48] Daducica commented on #1295
So I took a look at the python files and I noticed that, in the case of global training, the condition
`if num_steps % FLAGS.checkpoint_every == 0:`
returns false every time it's evaluated, meaning num_steps never reaches 5000.

Does anyone know why this happens?

Anyway, I replaced 5000 by 500, which seemed to solve my problem, but I'm not sure if I mess up something else by doing this.

[2017-04-05 21:53] michaelisard commented on #1301
It looks as if the vocabulary size is set to 12000 in https://github.com/tensorflow/models/blob/master/im2txt/im2txt/configuration.py#L53. Do you need to increase that for your dataset?

[2017-04-05 22:14] ahundt commented on #1297
@michaelisard Perhaps I worded this too delicately because this is a feature request. I will correct the title, so I'd appreciate if you could reopen this.

[2017-04-06 01:06] nealwu commented on #910
@j2cunningham Can you let me know if this still occurs for you with TensorFlow 1.0? If so we may need to reopen the pull request above that I closed.

[2017-04-06 08:37] obip commented on #1301
@michaelisard That was the problem. I have changed the vocabulary size and the model is training. Thank you so much for the help.

[2017-04-06 08:38] #1301 closed

[2017-04-06 09:19] FengLoveSS opened #1305 "Can i use the pretrained im2txt model？"
what is my issue is about this model(models/im2txt).
I would't like to train a im2txt model.I want to directly use this model to generate a text about a image.Does this GitHub have a well-trained model?@cshallue

[2017-04-06 11:10] asimshankar commented on #1305
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-06 11:10] #1305 closed

[2017-04-06 14:29] utkrist opened #1306 "Syntaxnet Parsey Mcparse gives dependency tree with two roots."
I am using parsey_mcparseface as the model in syntaxnet. I get really weird results with two ROOTs.
An example is as follows:

     $ echo "They never considered themselves to be anything else." | syntaxnet/demo.sh

I get following output. Notice the two roots in token number 3 and 9. This is not the only case when this happens. There are many sentences producing output like this, especially the p

[2017-04-06 14:52] slnguyen opened #1307 "Skip thoughts model vocabulary expansion"
Model: skip_thoughts

When creating the dictionary mapping of words to embedding vectors, combined_emb, the skip_thoughts script first fills the dictionary with words from the word2vec vocabulary (vocabulary from the google news data set) and maps to vectors predicted from a linear regression model:
[code]
However, in the next few lines:
[code]
it seems like the code is also adding embeddings gene

[2017-04-06 23:58] cshallue commented on #1307
Your interpretation of the code is correct and is working as intended. We prefer the original word embeddings from the skip_thoughts model (after all, that is where they will be eventually used).

FYI this is consistent with the code by Kiros et al: https://github.com/ryankiros/skip-thoughts/blob/master/training/tools.py#L167

[2017-04-06 23:58] #1307 closed

[2017-04-07 03:37] dsshean commented on #762
I was able to successfully able to build it with the following steps:

Start with a clean install of ubuntu 16.10:
#install dependencies
sudo apt-get install -y python-pip python-dev &&
sudo apt-get install -y  libblas-dev liblapack-dev &&
sudo apt-get install -y  libcupti-dev &&
sudo apt-get install -y  swig &&
sudo pip install asciitree &&
sudo pip install mock &&
sudo pip install numpy &&
sudo

[2017-04-07 05:42] mhsung opened #1311 "resnet with cifar-100"
Hi,
I'm running resnet, and it worked well with cifar-10.
But when I run with cifar-100, it gives the following error:
Does anyone know how to fix this?

----------------------------------------------------------------

W tensorflow/core/framework/op_kernel.cc:993] Invalid argument: Assign requires shapes of both tensors to match. lhs shape= [100] rhs shape= [10]
	 [[Node: save/Assign_5 = Assign[T

[2017-04-07 10:02] lunasdejavu opened #1313 "Questions of Inception v3 with custom-datasets"
My enviroment is ubuntu 16.04 x64 tensorflow 1.0.0with GPU python2.7
only one GPU 1070 RAM 8G CPU.
 i7 RAM8G

I read the tutorial already, then I tried to train a dataset which is consist of  1031 images for training , 115 images for validation and only 1 class.
I am very new to python so after I turned the dataset to 1 shards TFRecords because the tutorial said 1024 for 1 shard.
the I changed `ch

[2017-04-07 10:21] FengLoveSS commented on #1305
@asimshankar Do you have an author's contact? (models/im2txt) The author is Chris Shallue.

[2017-04-07 10:34] nirmaljith opened #1314 "What is the difference between two tensorflow inception models 'inception_v3_2016_08_28.tar.gz' and 'classify_image_graph_def.pb'"
**Tensorflow version 1.0**
**Python 2.7**
My dataset has got two classes. For transfer learning i tried two inceptionV3 models.
  1. **inception_v3_2016_08_28.tar.gz**
  2. **classify_image_graph_def.pb** - comes along with tensorflow image_retraining code.

But the results i am getting are totally different. Where the second models performs way better than the first. Is it expected ? First model

[2017-04-07 14:34] VigneshSrinivasan10 opened #1315 "NotFoundError while restoring inception_v3 model"
Hi,

I am trying to make use of `inception_v3` model from `https://github.com/tensorflow/models/tree/master/slim`

After downloading the model as described in the webpage, I wanted to restore the model using

    saver = tf.train.Saver()
    saver.restore(sess, 'model/inception_v3.ckpt')

And I get this error:

    NotFoundError (see above for traceback): Tensor name "InceptionV3/Mixed_6d/Branch_1

[2017-04-07 16:02] cshallue commented on #1305
See #466 for a community provided checkpoint.
See my recent comment on that thread for instructions of upgrading the checkpoint for TF 1.0.

[2017-04-07 17:00] markomernick commented on #1300
Hi,

You should be able to run:
  bazel run -c opt <file path to the evaluator.py directory>:evaluator -- \
    --master_spec="/path/to/master-spec" \
    --checkpoint_file="/path/to/model/name.checkpoint" \
    --input_file="/path/to/input/documents/test.connlu"

with the corresponding inputs for your language.

[2017-04-07 17:33] michaelisard commented on #762
Does this solve the problem adequately for the others on the thread?

[2017-04-07 17:40] FengLoveSS commented on #1305
@cshallue  wow! Your appearance is very good to solve my problem, thank you very much!!

[2017-04-07 18:56] michaelisard commented on #1311
Could you follow up with the version, and commandline used to run the program?

[2017-04-07 20:35] Steven-N-Hart opened #1316 "TFslim and TF-native implementaions (per the documentation) do not match up!"
Trying to get results between TFslim & native TF to match up when I ran across an issue with significant differences in accuracy on the flowers dataset when run using TFslim documentation and TF.

First, I run the initial download and train instructions from [TFslim](https://github.com/tensorflow/models/blob/master/slim/scripts/finetune_inception_v3_on_flowers.sh)
[code]
<details>
 <summary>STDERR

[2017-04-07 21:36] mhsung commented on #1311
I used Python 2.7.6 and Tensorflow 1.0.1 (tf.__version__), and the following is the command I used:
bazel-bin/resnet/resnet_main --train_data_path=cifar100/train \
                             --log_root=./log \
                             --train_dir=./log/train \
                             --dataset='cifar100' \
                             --num_gpus=1

[2017-04-07 21:55] michaelisard commented on #1311
Is it possible that when you used cifar10 it saved a checkpoint of the variables, and when you try to retrain with cifar100 it is fetching those variables (with the wrong sizes) from the checkpoint? If you look in ./log/train you may find a checkpoint that you need to delete. Or use different training directories for the different models.

[2017-04-07 22:03] mhsung commented on #1311
Thank you for the suggestion. Now I deleted 'log' and 'train' directories, it helped to resolve some of errors, but still I get the following:

W tensorflow/core/framework/op_kernel.cc:993] Invalid argument: indices[1] = [1,208] is out of bounds: need 0 <= index < [128,100]
W tensorflow/core/framework/op_kernel.cc:993] Invalid argument: indices[1] = [1,208] is out of bounds: need 0 <= index < [128

[2017-04-07 22:24] michaelisard commented on #1311
Sorry, I stared at it for a while and that error message doesn't make any sense to me. (Looking at sparse_tensor.h which nominally generated the message, I can't immediately see how it could happen.) Assigning to someone who should understand what is going on better.

[2017-04-07 22:29] panyx0718 commented on #1311
Did you set the num_classes correctly? cifar100 has 100 classes.

On Fri, Apr 7, 2017 at 3:24 PM, Michael Isard <notifications@github.com>
wrote:

--
Thanks
Xin

[2017-04-07 22:33] mhsung commented on #1311
I checked that the ‘num_classes’ is 100. ‘cifar_input.py’ has a code of setting this on line 43, and I checked the number by printing ‘num_classes’.

[2017-04-07 23:32] concretevitamin commented on #1162
Could you take a look at the link I pasted in a previous comment?

[2017-04-08 00:58] nealwu commented on #1314
Re-assigning to the slim/inception maintainers: @sguada @nathansilberman

[2017-04-08 00:58] nealwu commented on #1315
Re-assigning to the slim/inception maintainers: @sguada @nathansilberman

[2017-04-08 00:58] nealwu commented on #1313
Re-assigning to the slim/inception maintainers: @sguada @nathansilberman

[2017-04-08 01:08] harsimrans commented on #910
@j2cunningham  I've tried this out with tensorflow version 1.0 and unfortunately the error still occurs.

[2017-04-08 01:24] j2cunningham commented on #910
I concur,. I am still seeing this behavior.

J

On Apr 7, 2017 8:08 PM, "Harsimran Singh" <notifications@github.com> wrote:

[2017-04-08 02:37] zenvendof commented on #726
The quick fix for the time being is to use Anaconda / Virtualenv to create a Python 2.7 environment and install tensorflow in it.  Viola everything runs as expected.

Any retrained model should be able to run directly in Python 3 as it is in the GraphDef format, which isnt bothered by Python 2 or 3.

Just 2 cents to keep pushing forward, wont spent time for language compatibility issues as all I n

[2017-04-08 03:38] danny1984 opened #1317 "[im2txt] File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/framework/errors_impl.py", line 466, in raise_exception_on_not_ok_status"
## Please let us know which model this issue is about (specify the top-level directory)
I got an error when I changed new images.

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "

[2017-04-08 07:34] lunasdejavu commented on #1313
and there is another one is about the evaluation :
 after I found the the loss was not changing for a long time anymore

then I stopped  try to do the evaluation on the tutorial
`bazel-bin/inception/flowers_eval \
  --eval_dir="${EVAL_DIR}" \
  --data_dir="${FLOWERS_DATA_DIR}" \
  --subset=validation \
  --num_examples=115 \
  --checkpoint_dir="${TRAIN_DIR}" \
  --input_queue_memory_factor=1 \
  -

[2017-04-08 08:09] i-akbari commented on #1162
Thank you for your response. My code is a full example so there is no need to change it. Any way I did my work with Keras. I couldn't solve the problem.

[2017-04-08 10:54] FengLoveSS commented on #466
@cshallue I'm following your steps. Why i will get this wrong info?

INFO: Found 1 target...
Target //im2txt:run_inference up-to-date:
  bazel-bin/im2txt/run_inference
INFO: Elapsed time: 0.290s, Critical Path: 0.02s
INFO:tensorflow:Building model.
INFO:tensorflow:Initializing vocabulary from file: /home/ljf/LiJunFeng/im2txt/word_counts2.txt
INFO:tensorflow:Created vocabulary with 11520 words
***

[2017-04-08 14:13] iamgroot42 commented on #466
@cshallue running your script to port the checkpoint file in turn generates three files: index, data and meta. Using the data (with and without renaming) file as the checkpoint for the tutorial does not work.

[2017-04-08 14:29] continuesmile commented on #1300
@markomernick ，thanks for your reply !
Only do these three parameters ? I consider the evaluator should have a predicted output_file to load test output.

[2017-04-08 16:01] VigneshSrinivasan10 commented on #1315
@sguada , @nathansilberman : since this seems like an issue that could affect other models as well, should I raise this issue on tensorflow issues also?

[2017-04-08 21:10] hsnamkoong commented on #1311
I'm using tf.__version__=1.1.0 and python/2.7.5. I get the same error when I run

[code]

Traceback (most recent call last):
  File "/home/hnamk/deeprobust/bazel-bin/resnet/resnet_main.runfiles/__main__/resnet/resnet_main.py", line 213, in <module>
    tf.app.run()
  File "/share/sw/free/tensorflow.1/1.1.0/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exi

[2017-04-08 21:19] michaelisard commented on #1317
Could you indicate what the command line was? Also, you got an error about 545962404039_0.jpg but your directory is shown containing 546568463440_0.jpg.

[2017-04-09 02:18] danny1984 commented on #1317
I found the problem that there is an "\n" at  the end of my string. when i remove it, it is okay now. Thanks anyway

[2017-04-09 02:18] #1317 closed

[2017-04-09 02:20] danny1984 opened #1319 "[im2txt] UnimplementedError (see above for traceback): TensorArray has size zero when run Training when changing new data"
I got an error when I changed new images to train the im2txt model. Dont know why. Help, thanks a lot.

Build the model.
bazel build -c opt im2txt/...

Run the training script.
bazel-bin/im2txt/train \
  --input_file_pattern="${MY_DATA_DIR}/train-?????-of-00256" \
  --inception_checkpoint_file="${INCEPTION_CHECKPOINT}" \
  --train_dir="${MODEL_DIR}/train" \
  --train_inception=false \
  --number_o

[2017-04-09 04:52] lanewinfield commented on #466
I'm so close!

Would anybody be willing to upload @psycharo's checkpoints with @cshallue's updates? Trying to run the update script for me throws an error, most likely because I'm running everything on a Raspberry Pi.

(For reference, this is what I'm getting:)

[code]

[2017-04-09 05:40] FengLoveSS commented on #466
@lanewinfield What is your error info? Do you see your question and my question is the same?

[2017-04-09 05:46] lanewinfield commented on #466
@FengLoveSS my error is different, but it's because I'm attempting to use the files exported by that script. Here's the meat of it:

[code]

[2017-04-09 06:01] lanewinfield commented on #466
If I use @mathieuarbezhermoso's 3m checkpoint, I get this error:

[code]

[2017-04-09 08:24] iamgroot42 commented on #466
@lanewinfield don't rename or do anything to the files. Just pass the common prefix as the input to the evluation script (model-new.ckpt-2000000 in your case).

[2017-04-09 08:37] FengLoveSS commented on #466
@iamgroot42 Do you have this situation?
INFO:tensorflow:Running caption generation on 0 files matching
But my path is right..

[2017-04-09 08:39] iamgroot42 commented on #466
@FengLoveSS Nope. Most probably your file path is wrong. Are you sure the path you provided is correct>? Try an absolute path to the image and see if it works?

[2017-04-09 08:48] FengLoveSS commented on #466
@iamgroot42 My original path was wrong. I really carelessly

[2017-04-09 08:54] xcyan opened #1320 "[spatial_transformer bug] what happens if the coordinates fall out of the sampling region"
# models/transformer/spatial_transformer.py
Seems that it simply takes the boundary value for sampling rather than dropping it.
However, in the torch implementation, there is such sanity check (L76-L80).
Reference: https://github.com/qassemoquab/stnbhwd/blob/master/generic/BilinearSamplerBHWD.c

[2017-04-09 10:12] EmbraceLife opened #1321 "Why need `__init__.py` and `BUILD` files in translate folder"
## models/tutorials/rnn/translate

Without `__init__.py` and `BUILD` files, the codes can still manage to run.  What is the purpose of `__init__.py` and `BUILD` here, are we supposed to install or build it using these two files?

[2017-04-09 12:58] rajmiglani commented on #1272
Referred to this readme file:
[https://github.com/tensorflow/models/blob/master/inception/README.md](url)

There was a bug in inception_train.py as it saves the checkpoint only after 5000 steps.Kindly include this in the readme file.
Finally I am able to run the model fine.

[2017-04-09 14:18] lanewinfield commented on #466
@iamgroot42 Thanks for your help. That was the ticket (well, just using the directory, as the `checkpoint` file points to the others).

[2017-04-09 17:52] michaelisard commented on #1319
It's hard to tell from that limited error trace what the problem is. One common source of problems is restoring from a checkpoint when the graph has changed, so make sure that you use a fresh checkpoint directory before starting. Otherwise, could you include more logs?

[2017-04-09 17:59] michaelisard commented on #1321
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-09 17:59] #1321 closed

[2017-04-09 19:25] kiril-me opened #1322 "Install the SyntaxNet and DRAGNN Python modules fails on macOS"
**After successful  execution of:**
bazel test --linkopt=-headerpad_max_install_names \
    dragnn/... syntaxnet/... util/utf8/...

**I try to build python modules:**
bazel-bin/dragnn/tools/build_pip_package --output-dir=/tmp/syntaxnet_pkg

**Got following error:**
cp: illegal option -- -
usage: cp [-R [-H | -L | -P]] [-fi | -n] [-apvX] source_file target_file
       cp [-R [-H | -L | -P]] [-fi |

[2017-04-10 02:24] haoran8899 opened #1323 "syntaxnet dragnn trainer_tutorial.ipynb run error"
models:syntaxnet.
syntaxnet install succefully.
when i run  models/syntaxnet/examples/dragnn/ trainer_tutorial.ipynb,error has occure as blow. i want to use syntaxnet/dragnn from my python,but unkonown how to do this
ImportErrorTraceback (most recent call last)
<ipython-input-4-b8d23726d172> in <module>()
     11 from google.protobuf import text_format
     12
---> 13 from syntaxnet.ops import gen

[2017-04-10 04:31] nirmaljith commented on #1316
@Steven-N-Hart , i am also facing similar issue i think #1314 . In my case i used TF-slim checkpoints to create a protobuf file. Then this protobuf file is retrained using the retrain.py.

[2017-04-10 06:08] sweetmilkcat commented on #1269
Hi, I uninstall TensorFlow and install TensorFlow 1.0.，but the problem is still happening.

[2017-04-10 06:28] minhtuev commented on #1322
I got the same issue

[2017-04-10 06:42] pfctgeorge opened #1324 "how to use the computed RNN ptb model?"
I used the `tutorials/rnn/ptb` and trained a model into my local directory.

But the thing is, when I import the model into an another TF session and try to inference the same test set, the Test Preplexity is 10098.487. But the trained model the Test Preplexity is 6.635.

So I think my import process has something wrong.

I'd appreciated that someone could help me.

The code below is inference cod

[2017-04-10 06:45] pfctgeorge commented on #1324
@nealwu @mrphoenix13

[2017-04-10 08:11] EmbraceLife commented on #1321
I have posted questions here. Thanks

http://stackoverflow.com/questions/43317885/why-need-init-py-and-build-inside-tensorflows-models-tutorials-rnn-tra

[2017-04-10 09:10] LiZhelong opened #1325 "how to use more than one ps in distributed inception training?"
## Inception(distributed)
I want to use more than one ps in distributed inception training. But when I tried to use two ps, the program was blocked with log info :

Could anyone give me some suggestions?
BTW: I ran the program on the slurm system, so I used the python multiprocessing model to start the ps server.

[2017-04-10 12:39] danny1984 commented on #1319
The full log is as bellow.

-------------------------------------
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global step 1: loss = 9.5415 (37.21 sec/step)
INFO:tensorflow:global step 2: loss = 6.6332 (12.90 sec/step)
INFO:tensorflow:global step 3: loss = 3.1327 (13.01 sec/step)
INFO:tensorflow:global step 4: loss = 6.2893 (12.04 sec/step)
INFO:tensorflow:Error reported to Coordinator: <cla

[2017-04-10 12:42] danny1984 commented on #1319
The error is trigged in
---------------
File "/data/projects/content_creator/image2text/im2txt/im2txt/show_and_tell_model.py", line 356, in build_model
scope=lstm_scope)]
----------------
by
----------------
sequence_length = tf.reduce_sum(self.input_mask, 1)
lstm_outputs, _ = tf.nn.dynamic_rnn(cell=lstm_cell,
                                            inputs=self.seq_embeddings,

[2017-04-10 15:02] bogatyy commented on #1323
It seems like you are running it in regular Jupyter, without the appropriate SyntaxNet/DRAGNN libs linked into the binary.

To run Jupyter with DRAGNN, use:

[code]

Closing the issue, please reopen if this doesn't solve your problem.

[2017-04-10 15:02] #1323 closed

[2017-04-10 16:41] michaelisard commented on #1320
@cbfinn can you comment?

[2017-04-10 16:56] cbfinn commented on #1320
I didn't write the code for spatial transformer. It seems like adding such a sanity check would be useful, though I have found that it isn't necessary for the video prediction model.

Some potential reasons for why it isn't a problem in video prediction compared to other use cases:
(1) redundancy - we use multiple spatial transformer modules, and let the model choose which ones it wants to use (so

[2017-04-10 16:59] markomernick commented on #1322
Hi,

As a quick fix, you can try dropping no-preserve=all, or using 'gcp' instead of 'cp' (having first installed coreutils via 'brew install coreutils').

[2017-04-10 17:01] markomernick commented on #1300
If you would like to write the output to a file, then you can use the --output_file flag to specify the path.

[2017-04-10 17:02] kiril-me commented on #1322
Exactly that I did.

[2017-04-10 18:13] asimshankar commented on #1325
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-10 18:13] #1325 closed

[2017-04-10 18:17] asimshankar commented on #1272
It isn't a bug, checkpoints are saved at regular intervals (instead of at every step) as doing so at every step would be too costly (writing a bunch for information to disk would become a bottleneck).

This could be made clearer, if you'd like to update the README and send a pull request, we'd be more than happy to take a look.

Closing this out, since it doesn't seem to be a bug, more of mismatch

[2017-04-10 18:17] #1272 closed

[2017-04-10 19:54] asimshankar commented on #1324
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-10 19:54] #1324 closed

[2017-04-10 21:43] xcyan commented on #1320
@cbfinn Thanks for clarification!
In fact, the current implementation of STN is buggy since it simply takes boundary value (e.g., A[0, 0]) when the pixel falls outside of the 2D space [0, height-1] x [0, width - 1].

[2017-04-10 21:51] #1115 closed

[2017-04-10 21:55] bogatyy commented on #1111
@simonhughes22 Couldn't find the context.pbtxt file on GitHub - did you commit it?
Also, can you try running our latest code? We fixed an OS X issue recently.

[2017-04-10 23:49] nealwu commented on #837
I closed the pull request since I'm unable to reproduce the problem described. If it's still an issue, feel free to let me know / reopen.

[2017-04-10 23:49] #837 closed

[2017-04-11 02:40] sweetmilkcat commented on #1269
when run following code ,I get a new problem.
cd C:/models/tutorials/rnn/ptb
python ptb_word_lm.py --data_path=C:\tmp\simple-examples\data\ --model=small
Traceback (most recent call last):
  File "ptb_word_lm.py", line 385, in <module>
    tf.app.run()
  File "D:\anaconda\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))

[2017-04-11 04:06] willduan opened #1331 "convert words to vectors"
Hi, I want to convert my corpus to words, and the text has been segmented. But I don't have eval_data, because I just want to convert words to vectors, how can I do in this case? Thanks!

[2017-04-11 05:42] minhtuev commented on #1322
After I did that, I was able to build but when I tried `python tutorial_1.py` i got this error:
[code]

[2017-04-11 09:06] zouhongwei commented on #1238
Cloud you share your code with me?My mail is zouhongwei@hust.edu.cn,  Thank you!

[2017-04-11 10:12] haoran8899 commented on #1323
yes,i try as you say,but i get a unknown error.
bazel build -c opt //dragnn/tools:oss_notebook_launcher
./bazel-bin/dragnn/tools/oss_notebook_launcher notebook --debug

error message:(firefox:9550): GLib-GObject-CRITICAL **: g_object_unref: assertion 'object->ref_count > 0' failed
but trainer_tutorial.ipynb run sucefully.what's the err means?

[2017-04-11 17:47] asimshankar commented on #1331
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-11 17:47] #1331 closed

[2017-04-11 21:58] bogatyy commented on #1322
@minhtuev Seems like you may have an outdated TensorFlow version installed. Can you try updating to 1.0 or 1.1 released and checking again?

[2017-04-11 22:01] bogatyy commented on #1261
@ledovsky Not sure where the error comes from, but does not seem DRAGNN-specific. Can you build other stuff successfully, e.g. pure TensorFlow?

Also, since you're using Docker, you don't have to re-build anything, all the binaries are pre-compiled in the image (just make sure to pull the latest image).
Try just running something out of `./bazel-bin/...`

[2017-04-12 01:20] jart commented on #1315
In the crosspost, another user suggested:

Hopefully that should fix the problem. Otherwise please redirect questions to [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-04-12 01:20] #1315 closed

[2017-04-12 06:34] continuesmile opened #1336 "error for run evaluator.py in syntaxnet/dragnn/tools/"
I hope to evaluate the baselines for Conll2017, so  i first train the models, i run the `conll_parser_trainer.sh in models/syntaxnet/dragnn/conll2017/` on English corpus, then i obtain a folder named trained-English,
containing `checkpoint ,checkpoint.model ,checkpoint.model.meta ,checkpoint.model.stats, parser_spec.textproto , resources  tensorboard `, and i begin to run evaluator as follows:

[c

[2017-04-12 08:18] manjunaths commented on #54
Hello,
Any update on this issue ? Is a single worker that runs using multi-gpus in a distributed multi-node setting possible now ?

Is there an example ?

- Manju

[2017-04-12 08:27] Kongsea commented on #1311
@mhsung  Maybe your batch size is too large. Please check it.

[2017-04-12 08:29] Kongsea commented on #1311
@hsnamkoong Maybe you have modified your model definitions before you restore your models.

[2017-04-12 09:29] patrhel opened #1337 "[slim] TF-Slim accuracy computation"
Using TensorFlow-Slim, I've added some code lines in **eval_image_classifier.py** for computing TP, TN, FP and FN. However, computing Accuracy = (TP + TN) / (TP + FP + FN + TN) is not equal to the accuracy given by **slim.metrics.streaming_accuracy(predictions, labels)**.

I have changed standard code from this:

[code]

...to this:

[code]

Output:
[code]

I've tested the **finetune_resnet_v1_50_

[2017-04-12 10:02] patrhel opened #1338 "[slim] TF-Slim multi-gpu ignoring device specification"
My aim is to run a given standard script (located in /models/slim/scripts) in multi-GPU mode. Using TensorFlow-Slim, I've tested the **finetune_resnet_v1_50_on_flowers.sh** script (cloned on 12.04.2017). I've just added **--num_clones=2** at the end of the training part:

[code]

I've got one warning ('Ignoring device specification'):
[code]

The GPUs run normally (memory usage and GPU utilization

[2017-04-12 10:18] jingcangcang opened #1339 "fml parameter in dragnn model"
is there some rules to representent fml? I can't find code to illustrate this? Can somebody tell me? Thanks.

[2017-04-12 12:55] bidai541 commented on #603
--labels_file   Do not loss!

[2017-04-12 16:17] lixiangchun commented on #1286
@aselle, after reading slim code, I made a python script [`classify_image.py`](https://github.com/lixiangchun/mynotebook/blob/master/machine_learning/classify_image.py) that can predict for multiple images either present as raw image or TFRecord. The source code is available from [my notebook](https://github.com/lixiangchun/mynotebook/tree/master/machine_learning).

Source code also posted below:

[2017-04-12 17:24] asimshankar commented on #1336
That is an error from bazel, the bazel target is not correctly specified.

You should be using: `bazel run -c opt //dragnn/tools:evaluator` (followed by all the options).

Closing this out since this doesn't appear to be a bug in TensorFlow or the model.

[2017-04-12 17:24] #1336 closed

[2017-04-12 18:36] nealwu commented on #1269
Looks like a Python 3 specific error to me. Try removing the `.decode("utf-8")`?

[2017-04-13 00:52] nealwu commented on #910
Thanks everyone. We won't change the code because we're currently adding fixes to `tf.gfile` in order to correct this. Once the fixes make it to TensorFlow master, you should be able to install from source or install one of the [nightly binaries](https://github.com/tensorflow/tensorflow#installation) and run the code.

Unfortunately, that will likely not be merged until next week since it's an API

[2017-04-13 00:56] #910 closed

[2017-04-13 02:49] andorardo commented on #1339
Here are some pointers:
* The fml grammar is defined in https://github.com/tensorflow/models/blob/master/syntaxnet/syntaxnet/fml_parser.h
* You can see how some specific features are defined and registered (at the bottom of the file) in https://github.com/tensorflow/models/blob/master/syntaxnet/syntaxnet/sentence_features.cc

The features used in DRAGNN are the ones defined in [SyntaxNet](https://

[2017-04-13 07:14] continuesmile commented on #1336
@asimshankar , thanks for your reply!
I am new to bazel and system is still wrong follow your guide ：
[code]
the path to input_file is correct and i cant understand where it went wrong?
Thank you again.

[2017-04-13 07:43] tegg89 opened #1343 "Convert video file from model results"
This can be a basic question, but I cannot find any appropriate method, writing a new issue.
I recently ran video-prediction files created by @cbfinn and got results, `model.index` and `model.meta`.
Now I want to convert these files into viewable video files that are similar to videos in official site.
I found that converting from tfrecord files to viewable files but could not found any method for

[2017-04-13 07:44] diahnuri commented on #1200
@mkarliner "left the tensorflow directory" what doest it mean? i still got error

[2017-04-13 08:02] nishresthani commented on #1200
I got the following error while running "bazel test ..."
Can anyone help me to solve this. I just clone the repo yesterday.

//syntaxnet:parser_features_test                                         PASSED in 0.2s
//syntaxnet:parser_trainer_test                                          PASSED in 72.7s
//syntaxnet:reader_ops_test                                              PASSED in 19.6s
//syntaxn

[2017-04-13 09:52] mjakubicek commented on #1271
I just hit this as well -- can you please correct the installation instructions which explicitly mention that one should install protobuf 3.0.0b2 to say that 3.2.0 is required?

[2017-04-13 12:05] asonipsl commented on #13
I'm getting below given error message while trying to extract the content:
$ tar xf inception-v3-2016-03-01.tar.gz

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now

[2017-04-14 00:00] jart commented on #1269
This question might be more appropriate for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-04-14 00:00] #1269 closed

[2017-04-14 00:33] jart commented on #1337
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-04-14 00:33] #1337 closed

[2017-04-14 00:33] jart commented on #1338
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). We're not able to provide support for modified examples.

[2017-04-14 00:33] #1338 closed

[2017-04-14 05:32] jart commented on #1343
Please see issue tracker policy posted [here](https://github.com/tensorflow/tensorflow/issues/new).

[2017-04-14 05:32] #1343 closed

[2017-04-14 05:33] jart commented on #1339
@jingcangcang Please see issue tracker policy [here](https://github.com/tensorflow/tensorflow/issues/new).

[2017-04-14 05:33] #1339 closed

[2017-04-14 05:51] jart commented on #1319
@danny1984 Your original comment indicates you modified the example code. Please see our issue tracker policy [here](https://github.com/tensorflow/models/issues/new).

[2017-04-14 05:51] #1319 closed

[2017-04-14 10:19] banyh opened #1347 "The tagging performance of DRAGNN is worse than SyntaxNet."
### System information
- **the top-level directory of the model**: `/home/banyhong/syntaxnet_wrapper/syntaxnet_wrapper/models/syntaxnet`
- **OS Platform**: Linux Ubuntu 14.04
- **TensorFlow binary**: [Linux CPU version, 1.1.0-rc1](https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=cpu-slave/lastSuccessfulBuild

[2017-04-14 21:21] minhtuev opened #1348 "How to use DRAGNN to train with custom labels"
Hi,

I am interested to use DRAGNN to train with your own tags and labels. Is it possible to do so?

Thanks!

[2017-04-14 21:42] andorardo commented on #1348
Absolutely! The simplest way is probably to convert your data to the CONLL format, like the Universal Dependencies data used in the [CONLL 2017 shared task](https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/conll2017/README.md).

[2017-04-15 00:44] lunasdejavu opened #1349 "retrain with InceptionNet V3 but not converge with low learning rate"
My enviroment is ubuntu 16.04 x64 tensorflow 1.0.0 by pip
with  python2.7
only one GPU 1070 RAM 8G CPU.
Cuda compilation tools, release 8.0, V8.0.61
bazelBuild label: 0.4.5
cuDNN v5.1
i7 RAM8G
the top folder is /home/lunasdejavu/Downloads/Inception/
I read the tutorial already, then I tried to train a dataset which is consist of 10382 images for training , 1154 images for validation and only 2 cla

[2017-04-15 01:50] bogatyy commented on #1347
Could you clarify the language and the dataset that you evaluated POS tagging on?
Or do you mean tagging is worse on that specific sentence?

[2017-04-15 06:59] jart commented on #1349
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). Please see our issue tracker [policy](https://github.com/tensorflow/tensorflow/issues/new).

[2017-04-15 06:59] #1349 closed

[2017-04-15 07:04] jart commented on #1348
This might be a better question for [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). Please see our issue tracker [policy](https://github.com/tensorflow/tensorflow/issues/new).

[2017-04-15 07:04] #1348 closed

[2017-04-15 13:09] broncha commented on #1322
I cloned master today and I also have this issue on Mac

[2017-04-15 13:17] broncha commented on #1322
The flag `--no-preserve=all` is not available on mac. I removed it and it worked

[2017-04-15 14:37] banyh commented on #1347
Here is the information:

* Language: English
* SyntaxNet model: `parsey_mcparseface`
* DragNN model: `English`
* Tag system: Penn Tree Bank POS tags
* Dataset: [ud-treebanks-conll2017.tgz](https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/1-1983)
    * using file `ud-treebanks-conll2017/UD_English/en-ud-dev.conllu`
    * 2002 sentences in total
    * 25148 tags in total
* SyntaxNet accurac

[2017-04-15 14:50] continuesmile opened #1352 "error for run conll2017 baseline_eval.py"
After i trianed conll2017 baseline, i tried to run evaluator.py in syntaxnet/dragnn/tools/  for evaluate.
Then i run the scipt as follows:

[code]
but system run wrong show as follows：
[code]
it is weird and my path to input_file is correct, why it shows those ?
Thanks for any help!

[2017-04-16 00:09] sstirlin opened #1353 "In `street` g++ needs extra flags on OSX"
For OSX:  in the build instructions for `street` the g++ command needs the extra flag `-undefined dynamic_lookup`

So here is the new command line:

[code]

[2017-04-16 00:13] MotorCityCobra commented on #497
I don't understand this mysterious WORKSPACE directory either. Am I to create a new folder in my root directory and rename it 'WORKSPACE'? I don't see this written anywhere in the install instructions.

[2017-04-16 00:15] YunkaiXiao commented on #497
I think it's an empty file called WORKSPACE.

[2017-04-16 00:55] MotorCityCobra commented on #497
So you are to create an empty file name WORKSPACE
Then cd into it and enter  'touch WORKSPACE'
From patching together clues from this thread and Bazel's half assed instruction page I think I've got it.

[2017-04-16 00:59] YunkaiXiao commented on #497
You don't cd into WORKSPACE, touch WORKSPACE creates this empty file.

[2017-04-16 01:05] MotorCityCobra commented on #497
The install instruction for this github dir 'models' says to.
Go look at it...

cd $HOME/workspace
git clone https://github.com/tensorflow/models/
This will put the TF-Slim image models library in $HOME/workspace/models/slim. (It will also create a directory called models/inception, which contains an older version of slim; you can safely ignore this.)

To verify that this has worked, execute the f

[2017-04-16 01:08] YunkaiXiao commented on #497
that's correct, you cd into your the space you work (dir), this doesn't have to be named "workspace" though. then touch to create WORKSPACE (file). Notice the difference of workspace and WORKSPACE and you're good.

[2017-04-16 01:13] MotorCityCobra commented on #497
You've been unhelpful
Where are you? I'm in South Carolina.

[2017-04-16 01:15] YunkaiXiao commented on #497
Ah.... North Carolina, why?
Does this not work? I did touch WORKSPACE and it works?

[2017-04-16 01:22] MotorCityCobra commented on #497
Just curious if you were near North Korea.
What are you using Tensorflow for? I'm going to see if it can learn my taste in photos.

It worked. I entered 'export TF_CPP_MIN_LOG_LEVEL=2' in terminal and it got rid of that warning ...

W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and coul

[2017-04-16 01:29] YunkaiXiao commented on #497
I think what this actually does is suppressing warning msgs based on [mrry](http://stackoverflow.com/a/40982782/5167527):

I'm using it on language processing, tried numerous things and tensor has been the best documented one.

[2017-04-16 01:40] MotorCityCobra commented on #497
That makes more sense. I'm getting that above warning, which was put there by Tensorflow but there is absolutely nothing I've found to be done about it scribbled anywhere by the Tensorflow people so I'll have to run an unnecessarily slow version unless I want to buy a Titan X.

It's off topic of this thread anyways but all I found on StackOverflow was this.
It didn't work.

bazel build --linkopt='

[2017-04-16 05:52] jart commented on #1353
Would you be kind enough to send us a pull request documenting this?

[2017-04-16 07:04] udnaan opened #1354 "im2txt build_mscoco_data freezing"
### System information
- **What is the top-level directory of the model you are using**: im2txt
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.1.0-rc2-4-g462d1

[2017-04-16 08:27] udnaan commented on #1354
Never mind. This seems to be resolved by a rebuilt tensorflow #70b73ac

[2017-04-16 08:27] #1354 closed

[2017-04-16 13:49] #1352 closed

[2017-04-16 14:48] zhou-zh opened #1355 "Questions of run evaluator for dependency parsing"
I hope run conll2017 baseline to predict dependency parsing , after trained the english model i got the parser_spec.textproto and the checkpoint.model. Then i started to run the evaluator.py in  /dragnn/tools/,
followed the guide i used those commands:
[code]
but it showed error as follows:
[code]
My system is Ubuntu 14.04.3, bazel - 0.4.5
Thanks for any help!
@calberti

[2017-04-17 04:38] minhtuev commented on #1322
Now I ran into this issue:
[code]

[2017-04-17 06:56] asonipsl opened #1356 "Not able to extract updated tar ball of updated inception model inception-v3-2016-03-01.tar.gz"
<b>Problem:</b> Getting below given error message when trying to extract updated model:

    $ tar xf inception-v3-2016-03-01.tar.gz

    gzip: stdin: not in gzip format
    tar: Child returned status 1
    tar: Error is not recoverable: exiting now

<b>Description:</b>
I was having trouble in training inception model (imagenet DS) with my custom data in custom category. I have created bounding bo

[2017-04-17 08:54] asonipsl commented on #1356
@shlens Please check this one if you have some bandwidth.

[2017-04-17 15:23] bogatyy commented on #1347
Oh, that is because `parsey_mcparseface` was trained on a significantly larger dataset. Further, it was optimized to maximize both POS tagging accuracy and parsing accuracy.
On the other hand, our baseline models for CoNLL 2017 (including the `English` model you looked at) could only be trained on `UD` data and were optimized only for parsing accuracy.
To learn more: http://universaldependencies.o

[2017-04-17 15:23] #1347 closed

[2017-04-17 16:24] ahundt opened #1357 "Feature request: tf slim train, eval, preprocessing support for user supplied keras models"
Keras is now part of tensorflow in [tf.contrib.keras](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/keras), so I'd like to request slim support for loading & training keras model equivalent to slim models.

Specific example models include those in [fchollet/deep-learning-models](https://github.com/fchollet/deep-learning-models). Filling this request would involve modifica

[2017-04-17 18:10] blake-varden opened #1358 "Pretrained Inception V1 model not predicting proper labels"
Please go to Stack Overflow for help and support: http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow d

[2017-04-17 18:18] drpngx commented on #1356
I checked the URL and it does point to a valid gzip file.

[2017-04-17 18:31] blake-varden commented on #1316
After running the documented code to finetune the inceptionv3 model on the flowers dataset I too am getting very poor accuracy (0.2175)

[2017-04-17 22:15] sstirlin commented on #1353
Here you go.  Thanks!

https://github.com/tensorflow/models/pull/1359

[2017-04-17 23:32] drpngx commented on #1357
/CC: @fchollet
@ahundt Is that something that you would be willing to contribute?

[2017-04-17 23:33] drpngx commented on #1358
@nealwu did we update the inception models?

[2017-04-17 23:49] fchollet commented on #1357
The current plan is to have built-in support in TF `Estimator` and `Experiment` classes for Keras models. These classes provide high-level training loops similar to the Slim functionality.

[2017-04-18 01:36] nealwu commented on #1358
It looks like the checkpoints are from Aug/Sept 2016, so there's a small possibility that we've made some changes that could have broken the checkpoints. However I would first suggest posting on StackOverflow with your code and making sure that your code doesn't have any errors first. If it is indeed a problem with the checkpoints, feel free to reopen and let us know.

As far as the labels, it loo

[2017-04-18 01:36] #1358 closed

[2017-04-18 04:59] KranthiGV commented on #466
I would like to release my trained model. Can someone let me know what all files do I need to share with the community?
I use TF 1.0 GPU version.

[2017-04-18 06:10] asonipsl commented on #1356
@drpngx I cross checked network channel at my end and I found out that there is some problem with my network due to which the file was getting corrupted while being downloaded. Thanks for quick verification, I am closing the ticket.

[2017-04-18 06:11] #1356 closed

[2017-04-18 06:26] ChengjinLi opened #1361 "[textsum] textsum.seq2seq_attention.py line 40,the ‘headline’ value should be 'abstract'"
When i run the textsum tutorials，i encounter a problem like this "File "~/models/textsum/batch_reader.py", line 264, in _GetExFeatureText
    return ex.features.feature[key].bytes_list.value[0] ...  IndexError: list index out of range" .
I found a value error in  textsum.seq2seq_attention.py line 40,  the ‘headline’ value should be replace to 'abstract'.

[2017-04-18 08:38] tegg89 commented on #553
@cbfinn
For your previous commentary, how can I get tiling animated gifs visualizing result of model's prediction? I have been tried to analyze and modify input and training files, but I couldn't do well. Can I get any help for that?

[2017-04-18 08:51] jingcangcang opened #1363 "linked feature"
I am confused about the linked feature.
The linked feature have these contributes:
name/fml/embedding_dim/size/source_component/source_translator/source_layer,
i am confused about the embedding_dim and the source_layer_size, and what relationshilps between the features given by fml and the source_layer of source_component.
And source_translator "shift-reduce-step" means? Thanks.

[2017-04-18 11:53] inferrna commented on #830
Just found some good news from google:
https://research.googleblog.com/2017/03/an-upgrade-to-syntaxnet-new-models-and.html
https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/conll2017/README.md
http://universaldependencies.org/conll17/

It seems like the truth is out there, but not all in one place

[2017-04-18 13:25] cbfinn commented on #553
Here's an example script that loads images from the pushing dataset and exports them to gifs, using the moviepy package (though does not tile them).
[grab_train_images.py.zip](https://github.com/tensorflow/models/files/929777/grab_train_images.py.zip)

It is straightforward to use moviepy to stack gifs side-by-side, to form a tiling.
http://zulko.github.io/moviepy/getting_started/compositing.html#

[2017-04-18 14:00] tegg89 commented on #553
@cbfinn
Thanks for your generous reply! I will follow rest of the codes with respect to included codes :)

[2017-04-18 14:08] falcondai commented on #553
@tegg89 i ended using `imageio` for creating GIF. Its API is pretty straightforward. For an example: https://gist.github.com/falcondai/1e22919e6ce8d6a8e3dd3da5a6a0ad94

[2017-04-18 16:14] bogatyy commented on #1363
Good questions, I agree we should document this better.

* `embedding_dim` is the dimesionality of the embedding of the feature. So when you pull a linked feature, say from tagger to parser, it gets re-embedded (basically multiplied by a matrix) by default. If you do not want to re-embed, set `embedding_dim = -1`

* The lifecycle of a linked feature is as follows. First, a number is produced by a

[2017-04-18 16:14] #1363 closed

[2017-04-18 18:49] drpngx commented on #1361
Feel free to submit a PR.

@nealwu FYI

[2017-04-18 18:58] Steven-N-Hart commented on #1316
I think I know one reason for the discrepancy between the example on the [tensforflow](https://www.tensorflow.org/tutorials/image_retraining) tutorial page and the [TF-Slim](https://github.com/tensorflow/models/tree/master/slim) page.  The TensorFlow tutorial uses `inception-2015-12-05.tgz`, whereas the TF-Slim implementation uses `inception_v3_2016_08_28.tar.gz`.

Could it be that the one from 20

[2017-04-19 02:49] jingcangcang commented on #1363
@bogatyy Thanks.In the lifecycle of a linked feature, I am still confused about " First, a number is produced by a feature defined in fml. Then that number is tranformed by a translator, say the output is STEP", for example, when the fml is "stack.focus stack(1).focus",can you explain how this work?

[2017-04-19 03:35] passerbythesun commented on #1316
I saw a accuracy difference between retrained layers in example [ fine-tuning inception-v3 on flowers](https://github.com/tensorflow/models/blob/master/slim/scripts/finetune_inception_v3_on_flowers.sh).
So we may need to train all the layers to get a final promising result.
It seems the README in TF-slim does not mention this apparently.

[2017-04-19 03:44] jhowliu commented on #248
Hi @utkrist,

I followed your instructions, but I had some test failed.

The log says message below.
[code]
Have you ever seen it ?

(I used the latest tensorflow, cuda-8.0 and bazel 0.4.5)

[2017-04-19 07:07] jingcangcang opened #1369 "local/global training in DRAGNN"
Trainging DRAGNN models, how can I decide use local or global training ways?

[2017-04-19 08:11] utkrist commented on #248
@jhowliu I suggest that  you downgrade your bazel to 0.4.2 and try the instructions again. If it still does not work then let me know. I will then make a fresh install in new machine and will try to reproduce your error.

[2017-04-19 09:02] jhowliu commented on #248
Hi @utkrist ,
Thanks for your suggestions.
It worked when I used bazel 0.4.5 and tensorflow at a7d6015. (It still worked with bazel 0.4.2)

But I got the another trouble about ran of the memory when I use the demo example.
Please take a look the [log](https://gist.github.com/jhowliu/543c7749d659231a0a5190ac4f5a1cc6).
I have tried you instruction given in #173 but still not work.

Thanks again.

[2017-04-19 17:48] djweiss commented on #1306
Sorry to take so long to get back to you. There is unfortunately no easy fix -- the issue is that, depending on the language, it is sometimes OK to have multiple roots, so the transition system does not enforce the constraint.

If you find multiple roots, and want to choose a single one, the best thing you can do is pick one heuristically -- regardless, the statistical model would have made a mist

[2017-04-19 17:48] #1306 closed

[2017-04-19 18:09] drpngx commented on #1369
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-19 18:09] #1369 closed

[2017-04-19 20:30] KranthiGV commented on #466
Here's a version trained on the latest TF 1.0 on a GPU.
[https://github.com/KranthiGV/Pretrained-Show-and-Tell-model](https://github.com/KranthiGV/Pretrained-Show-and-Tell-model)
I would release the finetuned version in a few days.
Thank you

[2017-04-20 05:00] nirmaljith commented on #1314
@sguada any update on this issue

[2017-04-20 06:15] jingcangcang commented on #1369
@drpngx hi, thanks for your answer! I don't find in stackoverflow about this question, could you give me a link?Thanks!

[2017-04-20 08:17] tegg89 commented on #553
@cbfinn @falcondai
When I put data to network for evaluation, result GIF file is created that is not sequential.
I have switched shuffle option in prediction_input.py to disable.

[2017-04-20 09:36] shaohuawan opened #1370 "[im2txt] Fine-tuning stage gives bigger loss than the initial-training stage"
Training an im2txt model consists of two stages. In the first stage, the CNN weights are initialized from a pre-trained Inception-v3 model and fixed, and only the RNN weights are updated. In the second stage, the CNN and RNN weights are fine-tuned together.

I could reach a loss of around 0.4 after the first stage finishes, but the loss increases to around 0.8 after the second stage starts. The fi

[2017-04-20 13:39] jeetp465 commented on #799
I am facing the same error. I tried your solution but no luck. Could you tell us the set of commands you used to make it work? @yixiancuo

[2017-04-20 13:58] cbfinn commented on #553
@tegg89 Make sure you are only calling session.run() once for the entire sequence, rather than once for each frame. The script grab_train_images.py shows how to extract a sequence of images in order, with a single sess.run() per sequence.

[2017-04-20 15:34] bogatyy commented on #1363
(1) stack.focus cannot be used with neither shift-only nor tagger. It points to the top token currently on the stack. So it only works with 'arc-standard' transition system (i.e. for the parser).
https://en.wikipedia.org/wiki/Shift-reduce_parser

(2) "identity" just outputs whatever "fml" produced. So you get IDENTITY(N) = N.
"reverse-token" counts from the end of the sentence. So REVERSE-TOKEN(N)

[2017-04-20 15:36] drpngx commented on #1370
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-20 15:36] #1370 closed

[2017-04-20 15:37] bogatyy commented on #1355
Can you list the command you used to produce `parser_spec.textproto` and the contents of the file?
From the error message, seems that the spec is incomplete.

[2017-04-20 15:39] #1300 closed

[2017-04-20 16:16] drpngx commented on #1369
Please create a question on stackoverflow.

[2017-04-21 02:43] jingcangcang commented on #1363
@bogatyy
linked_feature {
    name: "features"
    fml: "input.focus"
    embedding_dim: -1
    size: 1
    source_component: "tagger-features"
    source_translator: "identity"
    source_layer: "logits"
  }
in this case, this linked feature means? "identity" means outputs is "input.focus", how can this relate activation of "logits" layer of "tagger-features"?

[2017-04-21 03:15] fanlu commented on #434
@ohmystack Have you finished run the training on multiple VMs using CPUs？Can you elaborate on it?

[2017-04-21 03:34] tegg89 commented on #553
Sorry for bothering to keep ask you questions. But I have keep troubles on
visualizing test data.

Referring to grab_train_images.py, I have changed the input file that
returns sequential video frames. However, when I have put this file through
network model, the gen_images came out with not sequential form. The steps
that I ran through are followed:

   1. Get images, states and actions from pred

[2017-04-21 04:09] LiZhelong opened #1374 "It this a bug in distributed version ?"
I am trying the distributed tensorflow, and my code is shown as follow. The problem is that the chief worker can run as expected. However, non-chief worker will blocked at :

Is this a bug or just I made a mistake by myself ?  Could anybody help me solve this problem ?
[code]

[2017-04-21 05:10] YeonjungHong commented on #1082
The same error occurred on my mac both in PyCharm and Terminal('$ python word2vec_basic.py').
platform: Darwin-15.6.0-x86_64-i386-64bit
python: 3.6.0
numpy: 1.12.1
scipy: 0.19.0
sklearn: 0.18.1

Please help!

[2017-04-21 05:42] haoran8899 opened #1376 "wrapped_units.LayerNormBasicLSTMNetwork"
No1.
http://stackoverflow.com/questions/43509103/typeerror-init-got-an-unexpected-keyword-argument-reuse

for No1,i modify the file dragnn/python/wrapped_units.py by del del the ", reuse=True" in
"return tf.contrib.rnn.LayerNormBasicLSTMCell(
          num_units, layer_norm=self._attrs['layer_norm'], reuse=True)"  to slove the problem.

No2. using in dragnn model as blow:
 tagger.set_network_unit(

[2017-04-21 06:01] jmchen-g commented on #1374
Thanks for reporting. It is a known issue/bug that the local variable created in sync optimizer is not assigned locally because the device chooser doesn't know it is local. Can you try embrace it with another "with device (/*your local device*/)" and see how it goes?

[2017-04-21 06:29] adamsikora commented on #726
Original issue can be resolved by changing the string in download_and_convert_flowers.py at line 146:
'jpg' ->b'jpg'
see: http://python-future.org/compatible_idioms.html#byte-string-literals

after this change the script finished successfully

[2017-04-21 06:37] jingcangcang commented on #137
I used syntaxnet to train a segmentation on chinese corpus, an error occurred:

"2017-04-21 14:01:47.441291: F syntaxnet/task_context.cc:140] Check failed: input.part_size() == 1 (0 vs. 1)lcword-map"

Can somebody tell me why?

[2017-04-21 06:57] LiZhelong commented on #1374
@jmchen-g  I am a rookie in tensorflow and thank you so much for your reply. I changed this line:

to

But it is still the same that the non-chief worker start master session again and again.

[2017-04-21 07:13] tegg89 commented on #553
@cbfinn @falcondai
Sorry for bothering to keep ask you questions. But I have keep troubles on visualizing test data.

Referring to `grab_train_images.py`, I have changed the input file that returns sequential video frames. However, when I have put this file through network model, the `gen_images` came out with not sequential form. Modified code is in [here](https://gist.github.com/tegg89/c22095497

[2017-04-21 07:26] fanlu commented on #1196
Is this problem solved?

[2017-04-21 07:31] fanlu commented on #658
Is this problem solved?

[2017-04-21 07:50] beeva-enriqueotero commented on #1196
As far as i know, it's not solved :(

[2017-04-21 09:03] PaulGitt opened #1378 "cannot convert dictionary update sequence element #0 to a sequence"
My system is windows 10, python 3.5, tensorflow 1.0,
the path is E:\PycharmProjects\models\slim\nets\resnet_v2_test.py

Here is the error:
Error
Traceback (most recent call last):
  File "E:\PycharmProjects\models\slim\nets\resnet_v2_test.py", line 172, in testEndPointsV2
    _, end_points = self._resnet_plain(inputs, blocks, scope='tiny')
  File "E:\PycharmProjects\models\slim\nets\resnet_v2_test

[2017-04-21 12:33] PavlosMelissinos opened #1379 "[im2txt] [Feature request] Publish im2txt checkpoint and ms-coco vocabulary"
Hi,

Do you have any plans to publish a checkpoint of the end-to-end im2txt model and the generated word_counts.txt file? Those of us that don't have 150GB of free space to spare for this project-specific dataset configuration but would like to be able to benchmark the model would appreciate it.

Thanks.

[2017-04-21 12:36] PavlosMelissinos commented on #1379
Nevermind, this issue has been resolved in #466

[2017-04-21 12:36] #1379 closed

[2017-04-21 13:30] lingz opened #1380 "translate.py decoder does not feed outputs back in as inputs"
Looking at the diagram described on the Tensorflow tutorial website:

https://www.tensorflow.org/tutorials/seq2seq#neural_translation_model

It looks like the translate.py decoding stage, should take the output at each stage and feed it back in as a subsequent input. However, reading the code, it just calls `model.get_batch` with an empty `[]` decoder_inputs list, which results in a fully padded d

[2017-04-21 13:49] withyou1771 commented on #637
I have encountered this problem. How did you solve the problem?

[2017-04-21 18:54] hans commented on #1355
I'm getting the same error when running the baseline models released for CoNLL 2017. Here's my invocation (running in the DRAGNN Docker container):

[code]

[2017-04-21 19:11] hans commented on #1355
I re-ran the `make_parser_spec` script and it also does not output `size` keys in the resulting proto. Is there a mismatch in the code here? Or am I / are we doing something incorrectly?

[2017-04-21 20:45] hans commented on #1211
Hi @djweiss , I'm not able to use the `evaluator.py` script with the distributed CoNLL 2017 baseline model. (I've tried loading the English and Spanish models; no difference.)

I've reposted the error on a separate GH issue: https://github.com/tensorflow/models/issues/1355#issuecomment-296275929

It seems like the models might be mismatched with the public eval code. Or maybe I'm doing something w

[2017-04-22 12:57] jeetp465 commented on #887
Still facing the same issue as mentioned by @hajrakomal
[code]

[2017-04-22 16:26] drpngx commented on #1380
@nealwu are you familiar with this code?

[2017-04-22 16:29] drpngx commented on #1378
@sguada how is the input expected to be fed into resnet v2?

[2017-04-22 16:33] drpngx commented on #1376
Related to #9328, but this one might be related to loading op libraries.

[2017-04-23 05:50] nealwu commented on #887
@jeetp465 please upgrade to TensorFlow 1.0. https://www.tensorflow.org/install/

[2017-04-23 05:54] nealwu commented on #1380
I think @lukaszkaiser is the most familiar with this code.

[2017-04-23 07:02] mohamaddanesh commented on #1261
@aselle I have the same problem as @alfydavy. My bazel version is:

`Build label: 0.4.5-homebrew
`
My clang version is:

`Apple LLVM version 8.1.0 (clang-802.0.38)
`
I face the following error:

`ERROR: /tensorflow/tensorflow/contrib/verbs/BUILD:135:1: C++ compilation of rule '//tensorflow/contrib/verbs:rdma' failed: cc_wrapper.sh failed: error executing command external/local_config_cc/cc_wrapper

[2017-04-23 08:25] wookayin commented on #517
So anybody can please clarify whether the input to `vgg_16` or `vgg_19` be

- (i) in float32 [0, 1] scale or [0, 255] scale
- (ii) with VGG mean pixels subtracted (I think so)
- (iii) in RGB order or BGR order?

There is no documentation or specification on slim models and pre-trained checkpoints ...

[2017-04-23 12:56] seanfcarroll commented on #167
To recreate:

Run Syntaxnet in a Docker container
[code]

Run demo.sh with a sample sentence, it works:

[code]

Now try to run it with the --conll flag

[code]

It errors:
[code]

[2017-04-23 18:23] freud14 commented on #1314
Hi, I have the exact same problem. I tried with other models (resnet, inception-resnet) but are all ~50% of accuracy whereas I get ~90% with classify_image_graph_def.pb.

[2017-04-24 06:35] SarfraazMsa opened #1389 "python vgslspecs_test.py"
I get the following error while executing python vgslspecs_test.py
kindly help me to resolve the bug
Traceback (most recent call last):
  File "vgslspecs_test.py", line 19, in <module>
    import vgslspecs
  File "/home/sarfraaz/Downloads/tensorflow-models-master/street/python/vgslspecs.py", line 24, in <module>
    import nn_ops
  File "/home/sarfraaz/Downloads/tensorflow-models-master/street/pyt

[2017-04-24 07:36] Ettard opened #1390 "Slim multi-gpu performance problems"
I was using slim models with flower dataset in Ubuntu 16.04.

Tensorflow version:1.1.0rc2 from src

git version:
34c738cc6d3badcb22e3f72482536ada29bd0e65

Bazel version:
Build label: 0.4.5
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Mar 16 12:19:38 2017 (1489666778)
Build timestamp: 1489666778
Build timestamp

[2017-04-24 07:43] jmchen-g commented on #1374
You cannot replace that device as the chooser is needed for other global variables.

It looks like the fix needs to be that you pass in the worker ID, which can then be used in the device assignment. This needs some work in the optimizer though...

[2017-04-24 09:27] xiadingZ commented on #816
@jumbogoose , thanks very much. Can you provide a example of how to use your .pb?

[2017-04-24 13:23] utkrist commented on #248
Hi @jhowliu,
Did you mange to solve the problem?

[2017-04-24 14:02] leenabharambe opened #1391 "GPU Instance AttributeError: 'module' object has no attribute 'unstack'"
I'm having system configurations as -
ubuntu 16.04
bazel 0.4.5
TensorFlow 1.0.0

I'm facing this issue-
Traceback (most recent call last):
  File "/home/ubuntu/tensorflow/models/summarization/bazel-bin/textsum/seq2seq_attention.runfiles/__main__/textsum/seq2seq_attention.py", line 213, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", l

[2017-04-24 14:58] zhangluoyang opened #1392 "some debug about seq2seq_attention_model.py"
I have found some debug in seq2seq_attention_model.py, the seq2seq_lib.sampled_sequence_loss function 's fourth parameters is a boolean variable. so the right coding is sampled_sequence_loss(
              decoder_outputs, targets, loss_weights, True, sampled_loss_func) not sampled_sequence_loss(decoder_outputs, targets, loss_weights, sampled_loss_func)

[2017-04-24 15:33] jhowliu commented on #248
@utkrist
I tried the many version of bazel and lots of instructions i could find but still out of memory.
Maybe my gpu is not enough memory to use the syntaxnet.

so i will use the syntaxnet with cpu until solve the problem.
do you have any ideas ?

[2017-04-24 16:39] girving commented on #1392
It doesn't look like that to me:

https://github.com/tensorflow/models/blob/master/textsum/seq2seq_attention_model.py#L235
https://github.com/tensorflow/models/blob/master/textsum/seq2seq_lib.py#L59

[2017-04-24 16:42] girving commented on #1390
Can you summarize what worked and what didn't work?  It is hard for me to follow so much text without any formatting.

[2017-04-24 16:52] girving commented on #1391
Are you sure you're using TensorFlow 1.0.0?  `tf.unstack` doesn't exist in old versions of TensorFlow before 1.0.0.

[2017-04-24 16:57] aselle commented on #1389
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-24 17:12] lukaszkaiser commented on #1380
In decoding mode, we set a parameter in legacy_seq2seq which constructs the graph so that every element of decoder_inputs except for the first one is ignored. Instead, the outputs (argmax) produced by the network are used, so it works as expected.

[2017-04-24 17:12] #1380 closed

[2017-04-24 19:43] #1353 closed

[2017-04-24 21:20] sizhangyu opened #1394 "Is there a pre-trained model for AlexNet?"
On https://github.com/tensorflow/models/tree/master/slim, there is pre-trained models provided for Inception, ResNet and VGG.
Since there is already AlexNet.py provided, I am wondering if there is also a pre-trained model for AlexNet.
Thank you.

[2017-04-24 21:43] girving commented on #1394
AlexNet is quite old, so I believe the answer is no.

[2017-04-24 21:43] #1394 closed

[2017-04-24 22:35] Higgins2718 opened #1395 ""Found input thread dead" and "No attribute next""
When running

     bazel-bin/textsum/seq2seq_attention \
     --mode=train \
     --article_key=article \
     --abstract_key=abstract \
     --data_path=data/bin_data_train\
     --vocab_path=data/vocab \
     --log_root=textsum/log_root \
     --train_dir=textsum/log_root/train

I get this error:

    ERROR:tensorflow:Found input thread dead.
    Exception in thread Thread-377:
    Traceback (mo

[2017-04-25 02:13] minhtuev commented on #1348
Thanks, but the StackOverflow page on Tensorflow/DRAGNN seems really dead - there are many questions that have not been answered....

[2017-04-25 02:40] Ettard commented on #1390
In slim model, when I use 3 gpus, they all run at 98% or 99% etc., but training speed remained the same. The problem seems not appear when I use inception model with 3gpus. The difference I got from log is device specification. I doubt whether it's the problem.

[2017-04-25 05:26] aselle commented on #1395
@peterjliu, do you have any experience with this in your model? Is this PR change worth submitting?

[2017-04-25 05:54] JJTasi opened #1396 "[domain adaptation] no such package 'domain_adaptation/datasets'"
### System information
-**What is the top-level directory of the model**:
`GPU-Server1:~/domain_adaptaion$ ls `
`datasets  domain_separation  __init__.py  README.md  WORKSPACE
`
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:1.0
- **Bazel version**:0.4.5
- **CUDA/cuDNN version**:8.

[2017-04-25 06:04] changzhisun opened #1397 "Development Error"
For the translate.py, I found the dev results using the previous gold tag when predict the current tag, because the forward_only is False when create model and this equals to the feed_prevous is False. In the dev, the code also using the graph that the forward_only is False.  I think the forward_only should be a bool placeholder.

[2017-04-25 06:06] 18811376770 commented on #1395
i met the same situation, btw,  is data/bin_data_train\ copy from textsum/data/data?

[2017-04-25 06:16] 18811376770 commented on #1395
@nealwu  suggests to try six.next(iter) replacing  __next()

[2017-04-25 07:29] #1391 closed

[2017-04-25 07:33] leenabharambe opened #1398 "GPU AWS Instance 59GB Memory- giving MemoryError while running Model"
Hello,
I'm running this model from AWS instance. It is giving an error as:
Exception in thread Thread-16:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/home/ubuntu/tensorflow/models/summarization/textsum/ba

[2017-04-25 09:07] TaoKai opened #1399 "tf.contrib.legacy_seq2seq.embedding_attention_seq2seq raise 'NoneType' error adding a cell with DropoutWrapper on Windows Tensorflow Version"
I'm building a seq2seq mnt model using tf.contrib.legacy_seq2seq.embedding_attention_seq2seq and it raised 'NoneType' error while adding a cell with DropoutWrapper. And the error occurred while using the copy.deepcopy(cell) function. And I've tried that the compilation will be passed if I remove the DropoutWrapper. My Tensorflow version is 1.1.0-cp35-cp35m-win_amd64. Part of my code is as bellow:

[2017-04-25 10:12] AjayTalati opened #1400 "Neural_programmer bug"
Hi,

I keep getting this error trying to run `python neural_programmer.py`,

[code]

- **What is the top-level directory of the model you are using**:
https://github.com/tensorflow/models/tree/master/neural_programmer

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04

[2017-04-25 10:18] leenabharambe commented on #1398
System storage info is -
Filesystem      Size  Used Avail Use% Mounted on
udev             30G     0   30G   0% /dev
tmpfs           6.0G  8.9M  6.0G   1% /run
/dev/xvda1       30G   12G   18G  39% /
tmpfs            30G     0   30G   0% /dev/shm
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs            30G     0   30G   0% /sys/fs/cgroup
tmpfs           6.0G     0  6.0G   0% /run/user/1000

[2017-04-25 11:42] Bonkoodle opened #1402 "Invalid ELF Header / no module named cPickle"
So I'm trying to run the code from here:
https://github.com/tensorflow/models/tree/master/slim#installing-latest-version-of-tf-slim

Running python -c "import tensorflow.contrib.slim as slim; eval = slim.evaluation.evaluate_once"
Gives an Invalid ELF header error.

If I run that part using python3 instead, then it runs fine. But then I get down to running
$ DATA_DIR=/tmp/data/flowers
$ python down

[2017-04-25 12:23] 18811376770 opened #1403 "[textsum]:TypeError: 'str' does not support the buffer interface"
when i run training command,
   $ bazel-bin/textsum/seq2seq_attention \
    --mode=train \
    --article_key=article \
    --abstract_key=abstract \
    --data_path=data/training-* \
    --vocab_path=data/vocab \
    --log_root=textsum/log_root \
    --train_dir=textsum/log_root/train
the shell alerts me on data.py file,
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/hom

[2017-04-25 12:27] MANJUNATH124 opened #1404 "Minimum requirements to run this code"
Can this code run with CPU instead of GPU?

[2017-04-25 15:20] Higgins2718 commented on #1395
@aselle @18811376770 @alextp @moonboots @jtoy @nealwu

I haven't worked with six in a long time. Are you proposing changing this

    article, abstract) = input_gen.next()

    e = example_gen.next()

to this:

    article, abstract) = input_gen.six.next(iter)

    e = example_gen.six.next(iter)
?
When I get confirmation, I'll train the model again with these changes and get back to you. If succes

[2017-04-25 15:25] alextp commented on #1395
More like

[code]

[2017-04-25 15:29] Higgins2718 commented on #1395
@alextp Ah, I'm an idiot. Thanks, mate.
Training right now.

[2017-04-25 15:40] girving commented on #1391
:)

[2017-04-25 15:46] girving commented on #1390
@sguada Any ideas?

[2017-04-25 15:50] girving commented on #1396
Cc @bousmalis.

[2017-04-25 15:53] girving commented on #1398
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-25 15:53] #1398 closed

[2017-04-25 15:57] girving commented on #1402
The ELF issue sounds you have a broken version of Python, or installed a version of TensorFlow compiled against the wrong version of Python.  The cPickle issue presumably means slim has not be fixed to work correctly with Python 3.

@sguada Is slim in models being maintained?

[2017-04-25 15:57] #1404 closed

[2017-04-25 15:58] girving commented on #1404
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-25 15:59] bousmalis commented on #1396
Hi, you will need to build from the parent directory (models) that includes the slim and domain_adaptation directories. From there you can follow the instructions: https://github.com/tensorflow/models/tree/master/domain_adaptation

Also note that both models and models/slim need to be added to your $PYTHONPATH. Please, let me know if there are any more issues.

[2017-04-25 16:03] girving commented on #1396
@bousmalis If the bazel command depends on the working directory in which it is executed, that's seems like a bug that should be fixed.

[2017-04-25 16:26] aselle commented on #1403
That looks like you are using an older not python 3 compatible version of textsum. @nealwu, perhaps can comment. He checked this in:
https://github.com/tensorflow/models/commit/66eb101896a1b7c1691c7416668776ea60ddb78f

Could you please specify what version of textsum you are using i.e.  git describe in the root of the models directory.

[2017-04-25 16:32] aselle commented on #1397
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects.  Please resubmit and pay attention to the issue template. Please provide all the information it asks. Thank you.

[2017-04-25 16:32] #1397 closed

[2017-04-25 16:34] girving commented on #1400
@arvind2505: Are you still maintaining this?  If not, it's probably pull requests only.

[2017-04-25 16:37] aselle commented on #1399
`tf.contrib` is not officially supported, because it is temporary, testing or transient code. This code is additionally marked legacy, which means it is deprecated. @nealwu, is there some superseding package that @TaoKai should be looking at?

[2017-04-25 16:38] #1399 closed

[2017-04-25 17:25] aselle commented on #1395
Thanks everyone. @Higgins2718, could you prepare and submit a pull request to propagate this fix into mainline?

[2017-04-25 17:35] gahu1125 opened #1407 "Out of bound error on Swivel.py model"
I was running swivel.py, and the only thing I changed was CPU instead of GPU, but still got an error message as below:

	 [[Node: SparseToDense = SparseToDense[T=DT_FLOAT, Tindices=DT_INT64, validate_indices=true, _device="/job:localhost/replica:0/task:0/cpu:0"](concat, SparseToDense/output_shape, ParseSingleExample/ParseExample/ParseExample:5, SparseToDense/default_value)]]

How can I fix this? A

[2017-04-25 18:03] stephenhky commented on #523
I have the same issue with spaCy + Tensorflow too.

[2017-04-25 18:43] ronny3050 commented on #128
Make sure you have `cd` inside the tensorflow folder containing the WORKSPACE file (the root of the cloned tensorflow).

[2017-04-25 20:17] legel commented on #1390
@girving @sguada @aselle

Following up on this.  I've spent the past month or so hacking additional functionality into an Inception v3 network on top of [Slim](https://github.com/tensorflow/models/tree/master/slim) (e.g. outputting probability distributions as desired [here](https://github.com/tensorflow/models/issues/1286), and as  [demonstrated elsewhere](http://warmspringwinds.github.io/tensorf

[2017-04-25 20:28] aselle commented on #1407
@gahu1125, i assume 4096 is the first index out of bounds i.e. like in python `foo=[1,2,3]` we have  `foo[3]` being bad but `foo[2]==3`.
@martinwicke, @vmarkovtsev, have you seen this error with the swivel model?

[2017-04-25 20:38] vmarkovtsev commented on #1407
Hm, no, I haven't tried CPU, but I bet this is happening because of the shard size mismatch. I used to have exactly the same error when I set shard size which is 2x bigger and forgot to tell `swivel.py` about it.

[2017-04-25 20:59] voletiv commented on #1200
@mkarliner This worked, thanks!
@diahnuri Meaning, change your current directory to something other than the directory where you have cloned the tensorflow repository. For example, if you are at ~/githubRepos/tensorflow and have installed tensorflow from source, change your directory to, say, home : `cd`, or to the parent directory: `cd ..` , and then lauch `python` and `import tensorflow as tf` i

[2017-04-25 21:42] AjayTalati commented on #1400
Hi @girving and @arvind2505, I got it working - it was mainly changes to TF1.0. Unfortunately I can only train it on my laptop cpu, at the moment - so can't really tell if the upgrades I made broke it or not?

[code]

[2017-04-25 23:09] girving commented on #1400
PRs welcome if you fixed stuff!

[2017-04-26 01:00] ahundt commented on #739
@ddkang https://github.com/tensorflow/models/pull/1373

[2017-04-26 01:34] nealwu commented on #1395
The pull request is at https://github.com/tensorflow/models/pull/1388. Just needs to be updated to use `six`.

[2017-04-26 01:37] nealwu commented on #1390
Adding @tfboyd. Also see the discussion in https://github.com/tensorflow/models/issues/1009.

[2017-04-26 01:40] nealwu commented on #1403
That commit was a modification from this pull request: https://github.com/tensorflow/models/pull/1244.

@studynon, did you ever run into an issue like this?

[2017-04-26 01:43] nealwu commented on #1399
@TaoKai you may want to look at https://www.tensorflow.org/api_docs/python/tf/contrib/seq2seq instead, since it seems to be the new version of `legacy_seq2seq`. Haven't personally used it though.

[2017-04-26 01:57] TaoKai commented on #1399
But I think the main problem is concerning the api DropoutWrapper, cuz the legacy_seq2seq could be compiled if I remove the DropoutWrapper from the cell. And the error showed that the cell cannot be 'deepcopyed' if added the DropoutWrapper. (The error raised at the deepcopy() at copy.py) Please have a check! @nealwu

[2017-04-26 02:00] nealwu commented on #1399
Sorry, I'm not sure. @ebrevdo maybe you have some ideas?

[2017-04-26 02:01] 12343954 commented on #1322
same issue +1

[2017-04-26 02:20] 12343954 commented on #1322
how to remove `--no-preserve=all` ？

[2017-04-26 03:09] 18811376770 commented on #1403
@aselle
commit d6bee2c713c6aed6522ab32c34b57412d0216d95
Author: Neal Wu <neal@nealwu.com>
Date:   Wed Apr 5 17:22:27 2017 -0700

[2017-04-26 03:17] nealwu commented on #1403
Perhaps the model is still not fully compatible with Python 3. It seems like you need to convert the string into bytes in this case. @aselle, do you know how to do that while maintaining Python 2 compatibility?

[2017-04-26 04:14] aselle commented on #1403
@nealwu, I've only dabbled with python2 vs python3, but as far as I know the usual approach is to use six functionality as much as possible instead of the python functionality directly.  Maybe this
http://six.readthedocs.io/#binary-and-text-data
?

[2017-04-26 04:54] TaoKai commented on #1399
With my further test, The compilation will succeed if the *_keep_prob attribute of the rnn.DropoutWrapper is fed with a constant (0.5 or 1.0 ...), but will raise error when fed with a tf.placeholder(), and this problem seems only occur on the Windows Version. (Did not happened on Linux Version) @aselle @nealwu @ebrevdo  Please have a check of the source code......

[2017-04-26 05:17] jeansely opened #1409 "slim.get_model_variables"
tensorflow is last version with python 3.5
after execute

init_fn = slim.assign_from_checkpoint_fn(
        os.path.join(checkpoints_dir, 'vgg_16.ckpt'),
        slim.get_model_variables('vgg_16'))

Occurs this error:
 Traceback (most recent call last):
  File "C:\cnn\tf-slim.py", line 43, in <module>
    reshape_variables=False)
  File "C:\Program Files\python3.5\python-3.5.3.amd64\lib\site-packa

[2017-04-26 05:27] ebrevdo commented on #1399
that's right, the dropout wrapper stores tf tensors as private member variables, unlike most other rnncells.  and deepcopy fails on these.  since the legacy seq2seq codebase is deprecated, and changes to remove the deepcopy would require a refactor that would break a lot of existing client code, i don't expect this to be resolved.  try the new seq2seq api which supports dropout wrapper without any

[2017-04-26 05:32] MANJUNATH124 commented on #1404
just let me know whether this code can be run with the help of just cpu instead of GPU?/

[2017-04-26 05:38] TaoKai commented on #1399
Ok, thanks...

[2017-04-26 06:40] MaleehaKhan opened #1410 "How to use TF-Slim for Only Food images"
Hi,
I am a student and we are using TF-slim for identifying Food images only. I want to ask Do I need to convert image-net data to TFRecord format for fine trained Model ?and If I use TF-slim, ( inception V3), how can I use only food images as my dataset ???

[2017-04-26 09:45] arvind2505 commented on #1400
thanks @AjayTalati Please send a PR if possible
@girving I have still not migrated to TF 1.0. I don't think I will do a good job answering questions on the latest versions. Do you want me to change to pull requests only ? Thanks!