[2017-08-03 12:38] deneton commented on #1934
Here are the steps I followed to install it for windows:
(Prerequisite, you must have python, pip and)
1) Choose a Python release from here and download: https://github.com/google/protobuf/releases
2) Extract the tar/gz or zip
3) open a cmd and pip install the following: pillow, lxml, jupyter, matplotlib
4) copy the protoc.exe from the protoc folder (you don't need to do all the CMake steps you mi

[2017-08-03 13:05] RakeshChandran commented on #1897
@XYAskWhy what type of mistake was that ? Kindly elaborate.

[2017-08-03 13:30] adrinjalali commented on #110
There are some places in syntaxnet's code where `2to3` is not sufficient. I gave it a try and now it passes all the tests on my `py3.5` environment. My changes are available here: https://github.com/adrinjalali/models/tree/master/syntaxnet

I can also run the `parse_eval` and it gives the desired output. But when  do `import syntaxnet.load_parser_ops`, here's whta I get:

[code]

[2017-08-03 13:52] XYAskWhy commented on #1897
I forgot the " ' ' " in one of the PATH_TO_BE_CONFIGUREDs. @RakeshChandran

[2017-08-03 13:53] RobinBaumann commented on #1604
I have the same issue but have compiled the protos. I cant even find the generated string_int_label_map_pb2.py file in the object_detection/protos folder.

[2017-08-03 14:25] RobinBaumann commented on #1990
I have faced the same error: I found out that I only get it when running my commands from another directory than the project root directory.

To see if you installed the API correctly, you can run the following command from the tensorflow/models directory:

python object_detection/protos/label_map_util_test.py

It should print out OK.

[2017-08-03 14:35] wzhen1996 commented on #2100
I'm trying to download the imagenet dataset following the instructions in inception directory.

[2017-08-03 16:54] adrinjalali commented on #1826
I'm also having a bunch of problems with sytaxnet/dragnn. As I understand, it is compiled against the version of `tensorflow` pulled as its subfolder, which is from quite a few months ago. But that version is not what we get when we do `pip install tensorflow` or `pip install tensorflow-gpu`. Hint: this is what you have in your `PYTHONPATH` when run by `bazel`:

[code]

This is why you can run the

[2017-08-03 17:05] adrinjalali commented on #1783
@aselle can you run any of [the examples](https://github.com/tensorflow/models/blob/master/syntaxnet/examples/dragnn)? Or the the default [parser](https://github.com/tensorflow/models/blob/master/syntaxnet/syntaxnet/parser_eval.py)? I suspect you might also reach this error or similar: https://github.com/tensorflow/models/issues/1826

[2017-08-03 17:58] shivaniag commented on #2066
@derekjchow could you please take a look.

[2017-08-03 18:51] DVLP commented on #110
@adrinjalali this might be related https://github.com/tensorflow/tensorflow/issues/9328

[2017-08-03 21:03] #2108 closed

[2017-08-04 01:51] sainttelant opened #2118 "when i run model_builder_test.py in terminal, it pops the error from google.protobuf.internal import python_message File "D:\python35\lib\site-packages\google\protobuf\internal\python_message.py", line 846 except struct.error, e: ^ SyntaxError: invalid syntax"
as mentioned above, it pops the error as follows details:

 Traceback (most recent call last):
  File "D:\python35\Lib\site-packages\tensorflow\models\object_detection\builders\model_builder_test.py", line 18, in <module>
    import tensorflow as tf
  File "D:\python35\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "D:\python35\lib\site-p

[2017-08-04 02:08] adanaila commented on #1287
I have the exact same question and it seems really hard to gather the solution from all the online resources. Would you guys be able to point us in the right direction as this issue is being worked on?

[2017-08-04 02:10] hanzy123 opened #2119 "How can I predict original image by the finetuned object_detection model?"
I have already finetuned a faster_rcnn_resnet101 model by Object detection API and I also can watch the predict results on the tensorboard after run the `eval.py` file.

But if i use eval.py file, I must make my input to TFRecords. How can I predict the bbox directly, feed by the numpyarray image?

Thanks for your help!

[2017-08-04 02:11] sainttelant commented on #1595
yes, i got the same error as 4saad mentioned, i checked the builder folder, where i found the anchor_generator-pb2.py which it has already been there, i still got the error like this

[2017-08-04 02:20] hari0920 commented on #2031
Hi there, I am facing the same issue. I solved it by changing nets to slim.nets. This removed the errors for me. I am using Pycharm and didn't set any environment variables. Give it a try and see if it works.

[2017-08-04 02:21] philipwan opened #2120 "About python train.py this step"
when I follow author's step to  train my database ,Input this order  python train.py
In my screen show on this bug

tensorflow.python.framework.errors_impl.NotFoundError: /home/wanpengfei/tensorflow_models/models/attention_ocr/python/datasets/data/fsns/train

But when I trace this route and check  models/attention_ocr/python/datasets/testdata/fsns/, I didn't find this file 'train' .I dont know why

[2017-08-04 02:46] sainttelant opened #2121 "ImportError: cannot import name 'anchor_generator_pb2'"
i am still beginner i am trying to install tensorflow object detection API on windows i followed the instruction like that :

I installed protoc
protoc object_detection/protos/*.proto --python_out=.
set PYTHONPATH=$PYTHONPATH:pwd:pwd/slim
but i am getting this error:
C:\Users\DigitalNet\AppData\Local\Programs\Python\Python35\Lib\site-packages\ten
sorflow\models>python object_detection/builders/mod

[2017-08-04 02:50] heroinlin commented on #2119
please look at object_detection_tutorial.ipynb

[2017-08-04 03:23] nikhileshsharma91 opened #2122 "eval_image_classifier.py Number of images evaluated wrong"
I followed the tutorial to finetune the inception model for the Flowers dataset.

The flowers dataset has 350 validation images specified in the flowers.py file.

But when I ran eval_image_classifier.py and modified it to print the number of TP,FP,TN,FN

The results:
[code]
If you add the them up, its a total of 400. But the number of validation images is 350.

I did fine tuning for my custom data

[2017-08-04 03:25] hanzy123 commented on #2119
I load the .meta file and saver.restore the `model.ckpt-xxxx`,but when i run the function `detect_objects`, he tolds me `The name 'image_tensor:0' refers to a Tensor which does not exist`

[2017-08-04 03:38] heroinlin commented on #2119
I do not know how the object_detect function is implemented?Can you provide the details of the object_detect function?

[2017-08-04 04:07] hanzy123 commented on #2119
It was defined in Object_Detection_Tensorflow_API.ipynb, the code is:
[code]

[2017-08-04 05:57] shivaniag commented on #2120
I apologize but I am having a hard time understanding what the problem is and where the problem is.  Could you please elaborate a bit more, which model are you training, are you following author's step from the correct path.

[2017-08-04 06:03] pobingwanghai opened #2123 "Model resent test error"
Training the model works fine. But for testing , the output is NAN.
I find the only difference is in batch_norm
`def _batch_norm(self, name, x):
    with tf.variable_scope(name):
      params_shape = [x.get_shape()[-1]]

      beta = tf.get_variable(
          'beta', params_shape, tf.float32,
          initializer=tf.constant_initializer(0.0, tf.float32))
      gamma = tf.get_variable(

[2017-08-04 06:25] heroinlin commented on #2119
Maybe you should transform the 'ckpt' model to  .pb file. Use export_inference_graph.py.
Like this
`PATH_TO_CKPT = "./ssd_mobilenet_v1_coco_11_06_2017/frozen_inference_graph.pb"`
[code]

[2017-08-04 06:46] pobingwanghai commented on #2123
the interesting part is if I change the decay to 1 ,then variance=moving_averages.assign_moving_average(
        moving_variance, variance, 1) =moving_variance same as the test part, the test works fine.

[2017-08-04 06:59] philipwan commented on #2120
@shivaniag Thank you for your response. I apologize for not asking my issue clearly. My problem is I couldn't find some files ,as you say I  put  files to a wrong path. In author's step , we should use arai2c to download ,but I use the wget  which cannot read the order only effective under aria2c  .(  "--out "  in aria2c means rename but cannot be understand by wget).When I rename this files my da

[2017-08-04 07:27] louiseruiwenli commented on #1962
The path of grid_anchor_generator.proto and ssd_anchor_generator.proto when you import them in anchor_generator.proto may not be correct. If they are in the same folder, try deleting "object_detection/protos" when you import them. I tried and it worked.

[2017-08-04 07:33] hanzy123 commented on #2119
I have work it out! Thank you for your patience and kindness!

[2017-08-04 07:37] xiuchen opened #2125 "textsum does not converge"
I have trained text sum for 5 days with the parameters recommended in the project page. I use a training set with more than 3 million article-summary pairs. At first running_average_loss decrease slowly from around 9 to around 4, but after that, running_average_loss value changes in a wide range, it can be as high as more than 5, but sometimes can be as low as 1.  And I test the model with some ar

[2017-08-04 07:41] heroinlin commented on #2119
You are welcome!

[2017-08-04 07:47] adrinjalali commented on #110
@DVLP I'm not sure if that issue is related to this one. That issue is on an older Ubuntu, and I'm using Ubuntu 17.04 for this test.

Another point is that the code runs perfectly find if I run it in the `bazel` environment using `echo "how's life in berlin?" | syntaxnet/models/parsey_universal/parse.sh downloads/English`. But if you check the environment variables when run with `bazel`, you see:

[2017-08-04 08:44] RobinBaumann opened #2126 "curious ImportError: cannot import name 'string_int_label_map_pb2' only occures sometimes"
### System information
- **What is the top-level directory of the model you are using**: I am using the Ipython Notebook
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command b

[2017-08-04 08:59] adrinjalali commented on #2015
I was also wondering about the same thing. Ideally the user could also be able to get the trained model (network), and use it (or a part of it excluding the last layer for instance) as a module in a larger system.

[2017-08-04 09:57] szymonk92 commented on #1696
@SriramGS Did you solve the problem? I have this same issue

[2017-08-04 10:04] githuberX opened #2127 "export a trained object detection model for iOS"
Hi,

I have trained an object detection model using the object detection API and need to export it to run on iOS.
I have created a .pb file using the export_inference_graph.py, but unfortunately this file generated a loading error when used within an iOS app.
I have read that there are additional steps to freeze and then simplify the model, but I haven't found a step-by-step solution to do that. A

[2017-08-04 10:18] YanLiang0813 commented on #1696
It's not a problem, it just spend a long time,you just wait the result发自网易邮箱大师
            On 08/04/2017 18:07, Szymon Klepacz wrote:@SriramGS Did you solve the problem? I have this same issue

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name"

[2017-08-04 10:50] szymonk92 commented on #1696
I made another try with just few iterations it took a minute and I left my computer for 30minutes, nothing happened. I will try again. Thanks!

[2017-08-04 11:03] bruce1408 opened #2128 "something wrong with training Resnet_v2_152"
# ============error info============
Traceback (most recent call last):
  File "train_image_classifier.py", line 573, in <module>
    tf.app.run()
  File "/home/bruce/anaconda2/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train_image_classifier.py", line 533, in main
    var_list=variables_to_train)

[2017-08-04 12:01] adrinjalali opened #2129 "Syntaxnet outside bazel gives segfault"
Top level directory: syntaxnet
Custom code: no
OS: Ubuntu 17.04
bazel release 0.5.3
CUDA 8.0/cuDNN 6.0
GPU: Tesla M60

What I'm trying to do is to have `syntaxnet` as a package, which I can `import` and use its modules.
I've followed the build steps as explained [here](https://github.com/tensorflow/models/tree/master/syntaxnet), and installed the `syntaxnet-xxxxx.whl` package.

I can also run the

[2017-08-04 12:02] adrinjalali commented on #2129
[core-dump.txt](https://github.com/tensorflow/models/files/1200279/core-dump.txt)

[2017-08-04 13:08] adrinjalali commented on #2129
Compiling the code with debug symbols (`--cops=-g3` to `bazel`), and geting the backtrace from `gdb` gives the following information: [gdb.txt](https://github.com/tensorflow/models/files/1200441/gdb.txt)

[2017-08-04 13:33] EmGarr opened #2130 "slim resnet architecture different from the original paper"
Hi guys,
@sguada and @nathansilberman
Why does your [resnet implementation](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v1.py) use stride 2 in the conv2  (block1) instead of stride 1 and for conv5 (block4) stride 1 instead of stride 2?

[code]
Instead of:
[code]
Thanks.

[2017-08-04 15:29] SriramGS commented on #1696
@szymonk92 I was not able to solve it. I am still looking for a solution. Let me know if you find anything.

[2017-08-04 15:45] gyang274 opened #2132 "Why values from PrelogitsFlatten are changing when fine-tune Inception V4 model?"
My objective is to fine-tune Inception V4 on a new set of classes for prediction, and then also extract the next-to-last layer (prelogits) as features for searching.

I followed first the script slim/train_image_classifier.py, and specified `--checkpoint_exclude_scopes=InceptionV4/Logits,InceptionV4/AuxLogits --trainable_scopes=InceptionV4/Logits,InceptionV4/AuxLogits` for fine-tuning.

I then wro

[2017-08-04 16:20] matlabninja opened #2133 "Object Detection: Errors with Export/Import for inference"
## System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Bazel ver

[2017-08-04 17:54] shivaniag commented on #2120
Glad, it worked.

[2017-08-04 17:54] #2120 closed

[2017-08-04 17:55] shivaniag commented on #2126
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 18:07] #2126 closed

[2017-08-04 19:22] poxvoculi commented on #2087
I guess this is a feature request, but not sure whether community support is feasible.  @martinwicke ?

[2017-08-04 19:24] poxvoculi commented on #2091
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 19:24] #2091 closed

[2017-08-04 19:24] martinwicke commented on #2087
Which model is this for? Whoever is in the readme should take a look.

[2017-08-04 19:38] civilman628 commented on #2087
for detection model:

https://github.com/tensorflow/models/tree/master/object_detection/samples/configs

now all config files here can only read one training and validation file, instead of assign a folder.

[2017-08-04 19:50] #2119 closed

[2017-08-04 19:54] poxvoculi commented on #2121
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 19:54] #2121 closed

[2017-08-04 20:00] poxvoculi commented on #2123
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-04 20:00] poxvoculi commented on #2125
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 20:00] #2125 closed

[2017-08-04 20:01] poxvoculi commented on #2127
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 20:01] #2127 closed

[2017-08-04 20:16] balasan commented on #1811
I'm trying to deploy one of the pre-trained models to ML Engine without doing any additional transfer learning.
I'm using downloaded ssd_mobilenet_v1_coco_11_06_2017 checkpoint files and ssd_mobilenet_v1_pets.config from samples.
Getting the following error when running the new exporter  (with one of the sample config files):

[code]
Any help would be greatly appreciated.

[2017-08-04 20:21] poxvoculi commented on #2129
@calberti What are the expectations for using syntaxnet this way?

[2017-08-04 21:21] shivaniag commented on #2132
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 21:21] #2132 closed

[2017-08-04 21:23] shivaniag commented on #2130
@nathansilberman do you have any comments on this?

[2017-08-04 22:50] shivaniag commented on #2128
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 22:50] #2128 closed

[2017-08-04 22:52] shivaniag commented on #2118
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-04 22:52] #2118 closed

[2017-08-05 01:09] DanMossa commented on #2031
@hari0920  Where did you change nets to slim.nets?

[2017-08-05 02:58] aureosun opened #2135 "The epoch for train to adjust?"

[2017-08-05 03:41] aureosun commented on #2122
Hello,
I am confused at the use of tf-slim for image classification,how can I make the Creating a TF-Slim Dataset Descriptor? Could you please tell me the details?

[2017-08-05 10:33] frederictost commented on #1931
You can try to start your class id from 1 instead of 0. It worked for me.
item {
  id: 1
  name: 'balloon'
}

[2017-08-05 13:06] joergkiesewetter opened #2136 "add new input in object_detection and forward it as output"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2
- **E

[2017-08-06 07:41] RakeshChandran commented on #1728
Hi @timisplump and @tombstone .. I have very basic question.. I used the tutorial code.. (boxes, scores, classes, num_detections) are returned as arrays of size 100 each, regardless of the number of objects (boxes) detected in the image.. How do I use their values to get the classes and their accuracy for an image. For example, in the following image....4 racoons were detected with different accur

[2017-08-06 07:45] RakeshChandran commented on #1897
Thank you for your response @XYAskWhy .. In my case it was a \n and \t operator in the path name.

[2017-08-06 09:43] HuichuanLiu opened #2137 "Couldn't restore attention_ocr variables from .index and .data checkpoints"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-06 13:40] hari0920 commented on #2031
under the models folder in the faster_rcnn_inception_resnet_v2_feature_extractor.py and faster_rcnn_resnet_v1_feature_extractor.py

[2017-08-06 14:01] vertix opened #2139 "Broken bazel build of //object_detection:all"
Please go to Stack Overflow for help and support:

### System information
- **What is the top-level directory of the model you are using**:
None
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Nope
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac OS 10.12.6
- **TensorFlow installed from (source or binary)**:
source (but should

[2017-08-06 16:19] mees opened #2140 "Perspective Transformer Nets broken"
### System information
- **What is the top-level directory of the model you are using**: Models directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0

[2017-08-06 18:47] dackboor opened #2141 "Translate tutorial fails with AttributeError: 'NoneType' object has no attribute 'update'"
System information

What is the top-level directory of the model you are using:
/home/[user]/code/models/tutorials/rnn/translate

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    No

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    Linux Ubuntu 16.04

    TensorFlow installed from (source or binary):
    Installed tensorflow-gpu using

[2017-08-07 02:00] LiangHao92 opened #2142 "object detection on android"
I have trained my own model by object_detection API, but I wonder how to apply it on my android phone, I can not find any ways in tutorials, so, is there anyone knowing how to apply the ssd_mobilenets model on my android phone?

[2017-08-07 03:14] nikhileshsharma91 commented on #2122
You would like to know how to create a data descriptor for a custom dataset?

[2017-08-07 07:35] sainttelant opened #2143 "object_detection_tutorial couldn;t continue to run in download model"
i 've already installed the Api successfully，however，when i run the tutorial in jupyter notebook, the program got stuck in step 5(download model), it couldn;t move, is it due to an issue of Greatfire wall of China, i am not sure,because i have already deployed the VPN, it can connect to google and cloud,but the code couldn't process into next step, anyone who knows the reason and faces the same is

[2017-08-07 08:26] antoniosimunovic opened #2144 "attention_ocr evaluation on Synth 90k dataset - poor results"
- **What is the top-level directory of the model you are using**: attention_ocr/python
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.0.0.

Hi,
when I ru

[2017-08-07 08:56] bandarikanth commented on #571
i tried udc_train.py , I got below Errors

File "/home/mcis-lap-49/work/anaconda3/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1152, in _do_call
    raise type(e)(node_def, op, message)
# **tensorflow.python.framework.errors_impl.OutOfRangeError: FIFOQueue '_3_read_batch_features_train/fifo_queue' is closed and has insufficient elements (requested 1, current size 0)**
	 [

[2017-08-07 09:12] bandarikanth commented on #571
when i tried udc_train.py I got below error:

File "/home/mcis-lap-49/work/anaconda3/lib/python3.6/site-packages/tensorflow/python/training/monitored_session.py", line 888, in close
    ignore_live_threads=True)
  File "/home/mcis-lap-49/work/anaconda3/lib/python3.6/site-packages/tensorflow/python/training/coordinator.py", line 389, in join
    six.reraise(*self._exc_info_to_raise)
  File "/home/m

[2017-08-07 09:59] irmowan opened #2145 "Bug: Change protobuf to list in Object Detection API"
there is a 'subtract_channel_mean' preprocess op in Object Detection API.
https://github.com/tensorflow/models/blob/master/object_detection/core/preprocessor.py#L1462

Problem 1:
When I add this preprocessing op in the pipeline.config, and begin to train, it raises error:

    TypeError: Expected float32, got <google.protobuf.pyext._message.RepeatedScalarContainer object at 0x7f17df4fde30> of type

[2017-08-07 10:15] drauh commented on #2066
This is because of the clipping [there](https://github.com/tensorflow/models/blob/3d792f935d652b2c7793b95aa3351a5551dc2401/object_detection/core/preprocessor.py#L510). It seems that models need input to be in fixed point representation (see the [preprocess function](https://github.com/tensorflow/models/blob/3d792f935d652b2c7793b95aa3351a5551dc2401/object_detection/models/ssd_inception_v2_feature_e

[2017-08-07 11:29] hkhpub commented on #2141
I got the same error, any help?

[2017-08-07 11:36] PratsBhatt commented on #1866
Hello @ebrevdo thank you for the answer. For the last point can it be done directly in the loop_function by removing the flag's if condition?
`
def loop_function(prev, _):
    if output_projection is not None:
      prev = nn_ops.xw_plus_b(prev, output_projection[0], output_projection[1])
    prev_symbol = math_ops.argmax(prev, 1)
    # Note that gradients will not propagate through the second par

[2017-08-07 12:27] shamanez commented on #2142
@LiangHao92  Hi did you trying to implement it on an android with the graph , protohub file ?

[2017-08-07 15:17] PratsBhatt commented on #695
@xtr33me  were you able to serve the seq2seq model? I am working on this too but I am finding very hard to transfer the serving tutorial to seq2seq.
Any help is appreciated. Thanks .

[2017-08-07 15:24] DanMossa commented on #2031
Still get the same error
[code]

[2017-08-07 15:31] poxvoculi commented on #2135
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-07 15:31] #2135 closed

[2017-08-07 15:47] #2031 closed

[2017-08-07 17:54] hughbzhang commented on #2016
@xcyan @aselle Checking in on this again!

[2017-08-07 18:57] timisplump commented on #1728
@RakeshChandran Well those 3 lists `boxes, scores, classes` are parallel to each other. That is, the ith element in each corresponds to each other. Rather, the bounding box, `boxes[i]` is of class, `classes[i]` and the model has instilled a coverage confidence, `scores[i]` in this box. I'm not 100% sure how to come up with the optimal threshold for confidence, but I would filter the boxes by their

[2017-08-07 19:43] ebrevdo commented on #1866
+rui

On Aug 7, 2017 1:37 AM, "PratsBhatt" <notifications@github.com> wrote:

[2017-08-07 20:08] Remper opened #2148 "Clarify co-occurence matrix calculation in swivel"
Good day,

I've been reading the swivel code and noticed something curious — when the co-occurrence statistics is being produced ([Line 485](https://github.com/tensorflow/models/blob/master/swivel/fastprep.cc#L485)) instead of adding `1.0` for each co-occurence `1.0 / offset` is being added.

I understand it should give an effect of punishing co-occurence the further the current word is away from

[2017-08-07 21:11] oahziur commented on #1866
@PratsBhatt Hi, I am not very familiar with your code, but I guess the loop function is only used by your decoder?

I think you also need to use `tf.stop_gradient` for encoder's embedding inputs to avoid back-propagating into your embedding vars.

[2017-08-07 21:35] EmGarr commented on #2130
This question is the same than in #1418. Didn't see the opening issue.

[2017-08-07 22:00] PratsBhatt commented on #1866
Hello @oahziur thanks a lot for your answer. The loop function is from the seq2seq.py from the legacy_seq2seq module. Yes it is used by the decoder.
I have made a function that updates the embeddings by the assign function.
1) Do I stop the embeddings at that point i.e. after the replacement or
2) When I am building the graph I should make the `tf.stop_gradient`

This is what I am thinking.
seq2se

[2017-08-07 22:28] YuxinxinChen opened #2150 "imagenet_distributed_train using inception v3 stuck on saving check points forever."
### System information
[code]

I am running the imagenet_distributed_train.py of inception: https://github.com/tensorflow/models/tree/master/inception, with 16 AWS p2x2 machines. I didn't change any code of inception and follow the guidance to run imagenet_distributed_train using parallel-ssh.

The script I use to run parallel-ssh:
[code]
I think this script worked fine because I logged in every m

[2017-08-07 23:12] andreigoea opened #2151 "ILSVRC2012 Images not accessible via urls in download_imagenet.sh"
Hi,

Trying to follow the quick-start guide and I find myself unable to download the ILSVRC2012 image libraries from Image Net. Can anyone please confirm if these are outdated in the script or if there's an error with my build?

[2017-08-08 01:10] LiangHao92 commented on #2142
@shamanez yes, with .pb or with .ckpt is both ok

[2017-08-08 01:41] oahziur commented on #1866
@PratsBhatt

Hi, I think you can remove the EmbeddingWrapper, and do the embedding lookup & stop gradient in your seq2seq code. Then you can feed `embedded` as inputs directly when you run the encoder cell.

For example (with your example):
[code]

Hope that help.

[2017-08-08 03:18] shamanez commented on #2142
Did you get good real time results ?

[2017-08-08 04:32] cancan101 opened #2153 "mobilenet_v1 missing data_format"
### System information
- **What is the top-level directory of the model you are using**:
`models/slim/nets/mobilenet_v1.py`

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.

[code]

### Describe the problem
in `models/slim/nets/mobilenet_v1.py`, `mobilenet_v1` does not accept a `data_format` argument meaning the model can only be trained in

[2017-08-08 08:13] EmGarr commented on #1418
Did you guys had any information about what paper motivated these choices?

[2017-08-08 09:14] chenyuZha commented on #1972
I have 2 GPU in my computer, I would like to run 2 times `train.py` with 2 GPU.When I add  ` with tf.device('/gpu:0')` , ` with tf.device('/gpu:1')` in `train.py` and another copy `train_copy.py`, which doesn't work, it runs just with one GPU. How should I do so that I can use 2 GPU to train 2 models at the same time?
Thanks a lot for response!

[2017-08-08 09:49] xcyan commented on #2140
@mees Can you please close the issue and paste the answers here. Thank you!

[2017-08-08 09:55] mees commented on #2140
Well, the solution is to create an empty file in the ptn directory with the name of WORKSPACE. I think a pull  with the fix is needed, so it's fixed for everybody.

[2017-08-08 09:58] abner2015 opened #2154 "tensorflow model to caffe model , test result is wrong"
# Net : VGG 16
**Code**
`from tensorflow.python import pywrap_tensorflow
checkpoint_path = "/checkpoints/vgg_16.ckpt"
reader = pywrap_tensorflow.NewCheckpointReader(checkpoint_path)
var_to_shape_map = reader.get_variable_to_shape_map()

def convert_filter(numpy_filter_weight):
    return np.transpose(numpy_filter_weight,(3,2,1,0))

def convert_fc(numpy_fc_weight):
     return np.squeeze(numpy_fc_w

[2017-08-08 10:13] mees commented on #2140
@xcyan  I created a pull request, so you can merge it.

[2017-08-08 13:06] mees opened #2157 "Can't load the pretrained encoder fo training the decoder of Perspective Transformer Nets"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-08 13:39] RakeshChandran commented on #1728
Thanks a lot for your response @timisplump .. I finally figured it out.

[2017-08-08 14:10] waterson commented on #2148
Hi Yaroslav, please see "Swivel Training" in section 4 (https://arxiv.org/pdf/1602.02215.pdf).

Hope that helps!

[2017-08-08 14:29] xcyan commented on #2157
I don't think there is a bug here, please specify the entire model path in the flag "init_model" rather than the checkpoint directory.

[2017-08-08 15:09] alexgorban commented on #2137
There are also multiple reports of the related problems:
https://stackoverflow.com/questions/45551656
https://stackoverflow.com/questions/45151907

I'll take a look on it shortly.

[2017-08-08 15:12] alexgorban commented on #2144
I've answered this questions https://stackoverflow.com/a/45552106/743658. Please close the issue.

[2017-08-08 15:19] songwg188 commented on #1595
I also got the same error as 4saad mentioned that  cannot import name  'anchor_generator_pb2' even if i found the  file of ' anchor_generator-pb2.py'. However,when i come into python environment in cmd, from object_detection.protos import anchor_generator_pb2  is correct.

C:\Users\swg\Anaconda3\Lib\site-packages\tensorflow\models>python
Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016

[2017-08-08 15:49] mees commented on #2157
Well if it's a design choice you should maybe clarify this in the Readme file

[2017-08-08 15:52] mees opened #2160 "Can't train the decoder of the perspective Transformer"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-08 15:53] mees commented on #2160
@xcyan, it creates the image 0.jpg before breaking.

[2017-08-08 16:03] BenTaylor3115 opened #2161 "Slim - Is it possible to load a model once then separately run inference on N images?"
### Describe the problem
I'd like to be able to use the slim library to load some of your pre-trained models and run inference on a set of images, gathering some data, e.g. execution time, for each image. Is this possible right now?

I've taken a look at the `eval_image_classifier.py` file. Following that I am able to run inference on a batch of images, but not individually. It appears as though I

[2017-08-08 16:22] mees opened #2162 "[Feature_request] Add training and test set loss in PTN for tensorboard visualization"
The perspective transformer net shows only the validation error in tensorboard during training, it would be very helpful to also show the training and the test set loss during training.

[2017-08-08 16:23] mees commented on #2162
@xcyan @arkanath

[2017-08-08 16:30] anthnyprschka commented on #2125
Have you posted your question on SO yet? Would be interested to follow the discussion

[2017-08-08 17:55] timisplump commented on #1728
@RakeshChandran no problem! best of luck with the models.

[2017-08-08 18:12] aydenkim opened #2163 "Request COCO pretrained ResNet 50 Faster R-CNN"
The sample config provides ResNet 50 config file, but I was able to find only ResNet101 pretrained model from https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md.

Could you provide pretrained model for ResNet50 too?

The reason why I want to try ResNet50 is because ResNet 101 Faster R-CNN's fps was about 3, which is not sufficient for my realtime detecti

[2017-08-08 21:32] aydenkim commented on #2163
Please close this issue.

I found same asking from here.

https://github.com/tensorflow/models/issues/1723

[2017-08-08 21:33] #2163 closed

[2017-08-08 21:54] xcyan commented on #2160
Looking at the error message, this might be related: https://stackoverflow.com/questions/30816275/how-to-thread-matplotlib-in-python

You are running multigpu training with Tensorflow 1.3 under ubuntu. However, I think we haven't tested with this combination. @arkanath

Two solutions:
(1) switch to tf1.2 or tf1.1
(2) turn off the visualization part by commenting out the write_disk_grid() and addin

[2017-08-08 23:05] alexgorban commented on #2137
Recent change in tensor names for the attention decoder cased all existing checkpoints to break. Please use the latest version of the [checkpoint_convert.py](https://github.com/tensorflow/tensorflow/blob/aaf7adc/tensorflow/contrib/rnn/python/tools/checkpoint_convert.py) script to fix them.

You also can take a look on the just created demo_inference.py (see the pull request above).

[2017-08-09 01:13] RakeshChandran commented on #1728
Thank you @timisplump

[2017-08-09 08:15] matteoredaelli opened #2168 "cannot download http://download.tensorflow.org/models/parsey_universal/italian.zip"
<Error><Code>AccessDenied</Code><Message>Access denied.</Message><Details>Anonymous users does not have storage.objects.get access to object download.tensorflow.org/models/parsey_universal/italian.zip.</Details></Error>

[2017-08-09 08:30] atrah22 opened #2169 "Computation of quantized graph is slower than unquantized graph [Galaxy S8]"
The performance result of the benchmark tool on S8 and also S7 shows that quantized computation is much slower than unquantized 32float computation! I saw previous issues on this but those are regarding mainly on intel CPU platform and I know that gemmlowp is not optimized for x86 CPU. Though gemmlowp is highly optimized for ARM NEON SIMD, it still lacks performance compared to 32float!

Platform:

[2017-08-09 08:46] 0YuanZhang0 opened #2170 "syntaxnet/parser_state.cc:89] Check failed: next_ < num_tokens_ (52 vs. 52)"
when starting epoch 2, Error as follow:
![image](https://user-images.githubusercontent.com/21216639/29112843-c0399962-7d21-11e7-9a8a-7236f91a5f5e.png)
I had  check my data, What kind of data processing strategy will lead to this?

thanks

[2017-08-09 09:34] mees commented on #2160
I am not passing any arguments for multi-gpu, so that's not the issue. I have just masked the GPUs, so that only one is visible for tensorflow with
[code]
And I still get the same error.

[2017-08-09 09:34] Shawcs commented on #2141
This is frustrating. Got the same saw this issue https://github.com/tensorflow/models/issues/1050 that say it will be fixed in TF 1.3

[2017-08-09 09:40] xfause commented on #1715
@ffrige I have same problem about run SSD on TF so slow ,my enviroment is same with you and can you tell me how to change code make it run faster ?  I also find two 'with' in one loop in demo code ,but I don't know how to change it. can you help me plz? thank u very much.

[2017-08-09 11:17] jerryjingli commented on #2141
How to fix, i have same issue.

AttributeError: 'NoneType' object has no attribute 'update'

[2017-08-09 12:34] fffupeng opened #2173 "fine_tune_checkpoint"
I want to try ssd_mobilenet_v1_pets with tensorflow object detection api. I have set every config files except
![default](https://user-images.githubusercontent.com/20182561/29121773-90079bce-7d42-11e7-8b07-4aa900da676f.png)
because i do not know how to set this:
![default](https://user-images.githubusercontent.com/20182561/29121600-cc5b12a0-7d41-11e7-8b4e-d5b5ebea4db9.png)
When i download checkpoi

[2017-08-09 12:51] #1898 closed

[2017-08-09 13:52] PratsBhatt commented on #1866
Hi @oahziur , thank you for your answer. How do I check if it is working or not?
As per my understanding, the embeddings in the whole process should not change. i.e. after the training the embeddings should remain same as it were before when I had assign it?
Is my understanding correct? Thank you once again for all your guidance and help.

[2017-08-09 13:55] mees commented on #2160
Okey so I have found a solution. The code doesn't work with tf 1.2, because it relies of tf.contrib.slim.summaries that was introduced in 1.3, running the code with tf 1.2 gives you
AttributeError: 'module' object has no attribute 'add_scalar_summary'.
However, the core issue was the matplotlib multithreading. I fixed the issue by using the Agg backend. I will send a pull request. @xcyan @arkanath

[2017-08-09 15:28] oahziur commented on #1866
Yes, the embeddings shouldn't change during the training process. I think you can eval the embedding variable after load a trained model to see if the it is same as your pretrained embeddings.

[2017-08-09 15:35] PratsBhatt commented on #1866
Thank you for your answer. One more question, what if I make the embeddings variable trainable=False when I create embeddings at the first place? Will that work out?

[2017-08-09 16:09] waterson commented on #2148
...closing. Please re-open if I've missed something here!

[2017-08-09 16:09] #2148 closed

[2017-08-09 16:52] derekjchow commented on #2173
Finetune checkpoint can point to a single model.ckpt file **OR** refer to a to a set of three files (.data-00000-of-00001, .index, .meta).

There's nothing wrong with your downloaded checkpoint files. Just use model.ckpt and replace "???" with the directory that contains the files.

[2017-08-09 16:55] derekjchow commented on #2143
Could you try running `wget http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_11_06_2017.tar.gz` or `curl http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_11_06_2017.tar.gz`?

[2017-08-09 17:08] derekjchow commented on #2061
We don't have concrete plans to implement NMS for GPU. At the very least, the [NMS op](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/non_max_suppression_op.cc) we use would need GPU support in Tensorflow first.

[2017-08-09 17:14] roblee357 commented on #1591
Do they have to be ran one by one or is there a better way?

[2017-08-09 18:24] tatatodd commented on #2137
Thanks for the analysis @alexgorban !

@HuichuanLiu Please report back describing whether this works for you.  Thanks!

[2017-08-09 18:27] tatatodd commented on #2139
@nealwu Do you have any ideas on the build failure here?

[2017-08-09 18:51] nealwu commented on #2139
@derekjchow @jch1 was this intended to be run with bazel? Seems like the BUILD file is left over from the internal version.

[2017-08-09 19:14] tatatodd commented on #2141
Indeed, #1050 says this will be fixed in TF 1.3 or in the nightly builds.  Please see and update #1050 for more info.  Thanks!

[2017-08-09 19:14] #2141 closed

[2017-08-09 19:18] tatatodd commented on #2145
@derekjchow @jch1 Can you guys comment on this?  Thanks!

[2017-08-09 19:22] tatatodd commented on #2151
@andreigoea What quick-start guide are you referring to?

I'm assuming you're running:
https://github.com/tensorflow/models/blob/master/inception/inception/data/download_imagenet.sh

Have you followed these instructions:
[code]

[2017-08-09 19:26] tatatodd commented on #2153
@andrewghoward Can you comment on this?  Thanks!

[2017-08-09 19:38] tatatodd commented on #2157
@mees I'm assuming you've resolved the issue by passing in a full path rather than just a directory?

For reference here's the help description for the `--init_model` flag to train_ptn.py:
https://github.com/mees/models/blob/df9e50326b7aa9489e000b3dc6c4f41b857eddd3/ptn/train_ptn.py#L61

I'm closing this out, but if you still have issues, feel free to ping this thread, and I'll reopen it.

[2017-08-09 19:38] #2157 closed

[2017-08-09 19:38] tatatodd commented on #2161
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-09 19:38] #2161 closed

[2017-08-09 19:40] tatatodd commented on #2169
@atrah22 Thanks for the info!

@petewarden @andrewharp Might be interested in these results.

[2017-08-09 19:43] tatatodd commented on #2173
Thanks for the explanation @derekjchow !

@fffupeng I'm assuming this resolves your problem.  If not, just ping this thread and I'll re-open.

[2017-08-09 19:43] #2173 closed

[2017-08-09 19:47] roblee357 commented on #2031
DanMossa, what did you find out?

[2017-08-09 22:01] andreigoea commented on #2151
@tatatodd pretty much! https://github.com/tensorflow/models/tree/master/inception#getting-started
Yes, I have the username and password and have tested them. When I run the bazel-bin wget throws an error for the URL provided. After some tinkering from myself it turns out the URL is dead (unless I missed something). This is all after I log in, by the way.

[2017-08-09 22:59] alexgorban commented on #2137
Here is the updated checkpoint http://download.tensorflow.org/models/attention_ocr_2017_08_09.tar.gz Please let me know if it fixes the problem.

[2017-08-09 23:48] arkanath commented on #2160
Yes the readme states that you have to run the code with the latest
tensorflow from source.

On Wed, Aug 9, 2017 at 11:56 PM, Oier Mees <notifications@github.com> wrote:

--
Arkanath Pathak
http://arkanath.com

[2017-08-10 00:42] fffupeng commented on #2173
i have replace path with the dictionary ,just like this : fine_tune_checkpoint: "/home/fp/software/tensorflow/trainmodels/model.ckpt"
And i run
python /home/fp/software/tensorflow/models/object_detection/train.py \
    --pipeline_config_path=/home/fp/software/tensorflow/trainmodels/ssd_mobilenet_v1_pets.config \
    --train_dir=/home/fp/software/tensorflow
however it did not  work ,make error as f

[2017-08-10 01:33] nikhileshsharma91 commented on #2122
I asked this question on stackoverflow
[https://stackoverflow.com/questions/45538979/tensorflow-models-slim-eval-image-classifier-py-number-of-images-evaluated-wrong/45540193?noredirect=1#comment78044213_45540193]

I think it should throw an error if the batch_size is set wrong. For example the flower dataset has 350 images and the default batch_size is 100.

` num_batches = math.ceil(dataset.num_

[2017-08-10 02:27] Skirmitch commented on #1200
Same thing, in my case it worked leaving the directory. In the shell you are working, you are of course inside the directory that u cloned from Github, the directory where u ran ./configure. If u try to run python from that directory and then import tensorflow, it fails. If you live that directory and then run python, it works flawlessly

[2017-08-10 02:48] cassiePython opened #2175 "cannot find "tf.contrib.training.HParams" when using "pixel_domain_adaptation""
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-08-10 03:12] HuichuanLiu commented on #2137
Sure, will respond in 2 days.

[2017-08-10 03:50] MetaPeak commented on #2066
@drauh I remove the function `tf.clip_by_value`， the model indeed converges. However, if we remove `tf_clip_by_value`, the value of the image would be more than 1 or less than 0,  how to fix this problem. It is amazing, why we add the `tf.clip_by_value` funciton, the model wouldn't converge?  It is unreasonable~
[code]

[2017-08-10 06:09] HuichuanLiu commented on #2137
The new checkpoint doesn't work:
[code]
Returns:
[code]
Seems like some problem with decoding?

[2017-08-10 06:18] pvthuy commented on #466
Hi, anyone knows how to convert those above pre-trained models to protobuf models (.pb)?
I want to use them for Tensorflow Mobile.
Especially, I need some information when training the models as follows:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/ios/camera/CameraExampleViewController.mm
From line 37 to 44:
// These dimensions need to match those the model was trained

[2017-08-10 06:21] HuichuanLiu commented on #2137
The same with convert_checkpoint.py
[code]
Returns:
[code]

[2017-08-10 06:29] HuichuanLiu commented on #2137
Try to get rid of the init test:
[code]
Returns:
[code]
Obviously the sess.run(init) affects the graphs/weights.
Removing this part leads to another error.

[2017-08-10 07:04] xhzcyc commented on #2142
@LiangHao92 I am doing the same work. How about your result running on Android?

[2017-08-10 07:07] deepankverma commented on #1907
My training doesn't even start and throws `LossTensor is inf or nan. : Tensor had NaN values`. Now I know, it's because I have very small objects in the dataset, mostly 15 x 30 px. Will try to subdivide the images so that the objects scale up.

[2017-08-10 07:12] LiangHao92 commented on #2142
@shamanez it cost 2-3 seconds to detect object in one picture on my phone.

[2017-08-10 07:13] LiangHao92 commented on #2142
@xhzcyc I think it's a little slow. it cost 2-3 seconds to detect object in one picture on my phone.

[2017-08-10 07:18] starkhu opened #2176 "street"
hello,brothers,the model i run is Street
there is an error when i run vgsl_model_test.py.(my python version is 2.7)
the error information is:

Traceback (most recent call last):
  File "vgsl_model_test.py", line 230, in testEndToEndSizes1dFixed
    mode='train')
  File "/home/star/workspace/models/street/python/vgsl_model.py", line 225, in InitNetwork
    optimizer_type, num_preprocess_threads, re

[2017-08-10 07:34] prashantmaurice commented on #1618
I've been fighting this bug since last 3 days, One learning i've had is that as i move bounding boxes away from image edges, the chance of crash reduces significantly. Now i might try increasing size of image etc,

[2017-08-10 07:37] prashantmaurice commented on #1765
I've been fighting this bug since 2 days. One learning i've had is that if i moved bounding boxes away from image edges, the chance of this bug reduced.

like crash for bounding boxes of (0.001,0.999, 0.001, 0.999) vs (0.2,0.8, 0.2, 0.8), second one does not get this error

[2017-08-10 07:47] xhzcyc commented on #2142
@LiangHao92 Can you share how to do it from blog, email etc?

[2017-08-10 12:12] chenyuZha opened #2179 "Can't configure Faster R-CNN with Inception Resnet v2 by modify first_stage_features_stride size"
### Describe the problem
In the configure file [faster_rcnn_inception_resnet_v2_atrous_pets.config,
](https://github.com/tensorflow/models/blob/master/object_detection/samples/configs/faster_rcnn_inception_resnet_v2_atrous_pets.config) I would like to modify the `   first_stage_features_stride` in the

`feature_extractor {
      type: 'faster_rcnn_inception_resnet_v2'
      first_stage_features_st

[2017-08-10 13:55] zvadaszi commented on #2142
@xhzcyc check out this thread too: https://github.com/tensorflow/tensorflow/issues/10798

[2017-08-10 15:42] vertix commented on #2139
Other targets in tensorflow/models are perfectly built by Bazel. For example
`bazel build @tf_models//slim:train_image_classifier` works just fine

[2017-08-10 18:08] nealwu commented on #2139
That was written by a different author. I suspect the `object_detection` model is intended to be independent of bazel, but I'll let @derekjchow and @jch1 clarify.

[2017-08-10 18:33] micahprice commented on #1930
[](https://stackoverflow.com/questions/45017070/is-tensorflow-object-detection-aspect-ratio-height-width-or-width-height/45067882#45067882)
Confirmed that it's width/height. Would be nice if it was clear in the docs so I won't yet close this issue.

[2017-08-10 19:46] drauh commented on #2066
If the input is in true fixed point representation (if you look at the create_*_tf_record.py scripts, image are encoded as bytes = uint8 if I am not mistaken. So at least at the beginning the are in fixed point), then the [adjust_*](https://www.tensorflow.org/api_docs/python/tf/image/adjust_brightness) functions take care of the conversion to float, apply adjustment and then convert them back to f

[2017-08-10 20:01] drauh commented on #2066
Also on the saturation : if the input (which never append I object_detection api) is in float then it will never be saturated by the the adjust_* functions. Maybe that's a problem to have different behavior to two dtypes. One solution would be to convert everything to fixed point before doing anything since the preprocessing functions assume that dtype (or more precisely that scale, the type is no

[2017-08-10 21:26] siddhartha-iitd commented on #1723
It'd be great to have Resnet50 checkpoint available for Faster-RCNN.

[2017-08-10 21:42] NoNamesLeft4Me commented on #2073
Hi, @rAm1n Could you explain more about how you solved this problem? I just encounter exactly the same problem. I am trying to use the following code to load the pre-trained  model, and I find out that the model graph generates lots of tensors that named biases, which are not in the pre-trained checkpoint file:
`images, labels = tf.train.batch([image, label], batch_size=batch_size, num_threads=8,

[2017-08-10 22:01] oahziur commented on #1866
@PratsBhatt Yes, I think set `trainable=False` should work as well. Make sure you use `tf.trainable_variables()` to get the `xs` if you calculate gradients yourself.

[2017-08-10 22:06] rAm1n commented on #2073
Hi @NoNamesLeft4Me

I was just trying the same thing that you're trying to do. When building the model, slims needs to know how to configure the details of each layer. You can do it by providing an arg_scope like [inception_arg_scope](https://github.com/tensorflow/models/blob/70b894bdf74c4deedafbbdd70c2454162837d5d2/slim/nets/inception_utils.py#L32) function.

[code]

[2017-08-11 00:41] NoNamesLeft4Me commented on #2073
Thanks, @rAm1n . It works smoothly now. I didn't realize the arg_scope would change the actual structure of the network, but it turns out biases tensors are gone and instead batchNorm tensors presents.

[2017-08-11 02:42] abner2015 commented on #2154
https://github.com/abner2015/tensorflow2caffemodel.git

[2017-08-11 02:42] #2154 closed

[2017-08-11 03:12] znliunwpugmail opened #2188 "TFRecord Files"
I want to know how are the TFRecord Files created. Can you give me the codes

[2017-08-11 03:14] aureosun commented on #2122
Sir,Would you please send me your code ? that print the number of TP,FP,TN,FN?I met the same problem and I use my own data,and adjust the batchsize to a num that can be divided with no remainder.my email is chearain@sina.com

[2017-08-11 03:22] aureosun opened #2189 "TF-Slim has no support for some nets that listed in the repo?"
such as alexnet ,overfeat ...,So I'm wondering  that if there are some support ?

[2017-08-11 10:21] pkdogcom commented on #1854
@michaelisard Any updates on this issue?

[2017-08-11 10:23] moniqueexner commented on #1564
Hi, I'am getting the same error on win10, tf 1.2. Anyone got a solution?

[2017-08-11 10:40] shamanez opened #2193 "SSD model with mobilenet feature extractor is not converging ."
Hi I am trying to train **SSD -mobilenet** in-order to detect 13 classes. I also trained a **faster rcnn -resnet101** .

My training data images have resolution of 265 * 450 . (most of them) and each class had 400 images.

Then this weird thing happened faster rcnn converged faster  with **batch size of 1** .

But my SSD didn't . It's not converging at all . Here I will put the two graphs ,

Purpl

[2017-08-11 11:01] shamanez commented on #2179
It means how much you will go in depth in-terms of the convolutional  to extract features . (for box prediction , class prediction and objectiveness score prediction) .

Roughly you can get the feature stride from = Height of the input / Height of the convolution layer map .

Normally you can change this according to the architecture .  But there's this exception where faster rcnn meta-architectur

[2017-08-11 11:02] shamanez commented on #2193
@datitran

[2017-08-11 11:20] RobinBaumann opened #2194 "Corrupt JPEG data: 245 extraneous bytes before marker 0xd9"
### System information
- **What is the top-level directory of the model you are using**:  tensorflow/models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.

[2017-08-11 12:14] rakashi opened #2195 "Convert .ckpt file into .pbtxt"
Hi, I am trying to train my own model using Inception architecture using inception_train.py after completion of training I got the following files
/home/rakashi/Desktop/Tagging/flowernet_train/checkpoint
/home/rakashi/Desktop/Tagging/flowernet_train/events.out.tfevents.1501927375.pavan
/home/rakashi/Desktop/Tagging/flowernet_train/model.ckpt-0.data-00000-of-00001
/home/rakashi/Desktop/Tagging/flow

[2017-08-11 12:58] mees opened #2197 "Visualization in Perspective Transformer Nets is broken"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-11 13:05] chenyuZha commented on #2179
@shamanez  Thanks for your information. And is it true that with a smaller stride size will return a better accuracy(prediction)?  Does it exist another way to increase accuracy of model ? Like modify the steps when learning rate decays. Because I saw this in the configuration file:
` learning_rate: {
        manual_step_learning_rate {
          initial_learning_rate: 0.0003
          schedule {

[2017-08-11 14:00] XavDCtpz commented on #1732
Hi !
Do you have more details about your solution ? I'm having the same problem trying to train the pet detector. Here's my stacktrace :

`Traceback (most recent call last):
  File "object_detection/train.py", line 201, in <module>
    tf.app.run()
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough

[2017-08-11 18:08] baptistemanson commented on #1823
I'm facing the same bug on MacOS.

Based on the disclaimer on the install page, it seems that GPU support is not possible:
Note: As of version 1.2, TensorFlow no longer provides GPU support on Mac OS X.
I suppose it is also the case for MacOS.

The Tf slim launched with the documented command in the readme.md fails with the same trace as @sukkyusun :
[code]

@drpngx can you point out where I make

[2017-08-11 20:23] ywang-purdue commented on #1881
@yeephycho hi, have you resolved the issue? I'm having a similar problem. I always got the error around 33K steps

[2017-08-11 22:50] michaelisard commented on #1854
@tombstone ?

[2017-08-12 02:29] DanMossa commented on #2031
@roblee357 I honestly have no idea. I didn't try it for a few days, and then I just randomly tried it and it all worked lol

[2017-08-12 02:54] pkdogcom commented on #1854
@aloerch @slandersson I also have to remove the quotes to make it work. Otherwise, it would keep throwing CUDA_ERROR_NO_DEVICE error and end up using CPU.

[2017-08-12 08:08] DanMossa commented on #1696
I have also received this error. I'm waiting to see if it continues after the message

[2017-08-12 12:59] hxsnow10 opened #2200 "tutoriol/embedding word2vec_optimized.py raise Segfault when big train data ~ 20G"
------------------------

### System information
- **What is the top-level directory of the model you are using**: tutoriol/embedding
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos7
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use comman

[2017-08-12 18:48] aloerch commented on #1854
Can someone with edit access to these comments please update my solution by removing g he single quotes around FLAGS.gpudev as suggested by @slandersson?

Also, @tombstone this is low-hanginf fruit for a pull-request :) I'd be happy to provide additional contributions in the future too.

[2017-08-12 18:48] kaskavalci commented on #1603
I receive this error on [romilly/rpi-docker-tensorflow](https://hub.docker.com/r/romilly/rpi-docker-tensorflow/) docker image on raspberry pi. `Python 2.7.9 `on `Linux 1f7d8ec308e5 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux`

[2017-08-13 07:24] xmaj2008 commented on #1962
locate at dir : /models/
run in command:
protoc -I=./ --python_out=./  .\object_detection\protos\*.proto

all of mine:
(C:\Program Files\Anaconda3) C:\Program Files\Anaconda3\Lib\site-packages\tensor
flow\models>protoc -I=./ --python_out=./ .\object_detection\protos\*.proto

[2017-08-13 07:26] xmaj2008 commented on #1962
locate at dir : /models/
run in command:
protoc -I=./ --python_out=./ .\object_detection\protos\*.proto

all of mine:
(C:\Program Files\Anaconda3) C:\Program Files\Anaconda3\Lib\site-packages\tensor
flow\models>protoc -I=./ --python_out=./ .\object_detection\protos\*.proto

[2017-08-13 07:26] xmaj2008 commented on #1962
locate at dir : /models/
run in command:
protoc -I=./ --python_out=./ .\object_detection\protos\\*.proto

all of mine:
(C:\Program Files\Anaconda3) C:\Program Files\Anaconda3\Lib\site-packages\tensor
flow\models>protoc -I=./ --python_out=./ .\object_detection\protos\\*.proto

[2017-08-13 08:23] shamanez opened #2201 "Adding optimization / quantization as an option to export_inference_graph.py script in object detection API?"
How to qunatize a frozen graph in object detection API. In above script it's not optimizing . Can you add it as **# a feature.**

If it's not the case do we need to follow the normal procedure to follow the quantization ?

[2017-08-13 16:22] IanPhilips opened #2202 "Line in object_detection installation procedure makes no sense:" If you wish to avoid running this manually, you can add it as a new line to the end of your ~/.bashrc file.""
This is from the [Installation docs](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md#add-libraries-to-pythonpath):
" # From tensorflow/models/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim
Note: This command needs to run from every new terminal you start. If you wish to avoid running this manually, you can add it as a new line to the end of your ~/.bashrc f

[2017-08-13 19:35] shamanez opened #2203 "How transfer learning happening in tensorfow object detection API ? Can we keep feature extractors weight unchanged while only changing the predictor weights ."
There are few types of transfer learning . When using TF Object Detection API do we fine tune weights of the feature extractor when using already  [trained models on COCO Data Set]( https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md) .

**Because sometimes we can just keep the weight set of feature extractor fix while training only the predictor layers .

[2017-08-13 21:30] UnforgivenZZZ commented on #1773
Hi，I am still confused, the box is returned as nd array, so how to I know the excat coordinate of each box of those detected result on the image

[2017-08-14 05:38] shamanez commented on #2179
@chenyuZha
Well it's different . Small stride means you have  a larger receptive field .  The thing is normally lower layers extract much more local features , like edges , pixel differences etc . But higher layers extract more global features like shapes . So if you need some dense prediction like in semantic segmentation you might want to use lower stride . That is what happening in FCN network

[2017-08-14 07:43] gauss-clb opened #2206 "Is it a bug of inception?"
Fellow me,  inception_train wants to use multi-gpu to train,  gpu should reuse the variables defined on cpu.
Look the [code](https://github.com/tensorflow/models/blob/master/inception/inception/inception_train.py#L244). But I find the gpu don't reuse  the variables defined on cpu. Step into `_tower_loss`,  there is [outer variable scope](https://github.com/tensorflow/models/blob/master/inception/i

[2017-08-14 08:03] #2206 closed

[2017-08-14 09:29] chenyuZha commented on #2179
@shamanez I didn't change the batch_size for fasterRcnn model, by default the `batch_size=1` in my case and in ssd model is 24. To increase accuracy , batch_size doesn't help because it'll just control the speed of training, like if you have a bigger batch_size, your training process will be longer in each step, since the algorithm decent gradient will try to minimize the cross entropy of more sam

[2017-08-14 10:44] Chaoscendence commented on #1858
Using Python 3.5 and got the same problem. It appeared that on default GFile.read returns a python string which is hardly independent from the python version. Better force GFile to bytes mode
[code]

[2017-08-14 11:28] rakashi opened #2207 "tensorflow slim giving error while training train_image_classifier.py"
Hi, I am trying to train my own model using inception_v3 architecture with using small sample data taken as flowers data

when I am trying to run the following command, its giving the error
python train_image_classifier.py --train_dir=${TRAIN_DIR} --dataset_name=flowers --dataset_split_name=train --dataset_dir=${DATASET_DIR} --model_name=inception_v3

the error is like this

(/home/mcis-lap-49/wor

[2017-08-14 13:21] shaficse opened #2209 "I have annotated some sentences of bangla using universal dependency rules now how can i create model using Parsey McParseface parser"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-08-14 14:41] rohan100jain commented on #2100
Could you provide the exact commands you issued so that we can try and reproduce?

[2017-08-14 18:01] nealwu commented on #1858
@emsansone any thoughts on the above? (changing the mode to `"rb"`)

[2017-08-14 19:22] reedwm commented on #2136
/CC @jch1

[2017-08-14 19:25] #2144 closed

[2017-08-14 19:39] reedwm commented on #2202
@derekjchow In the installation docs, can you clarify that `` `pwd` `` should be replaced with the actual directory if adding the line to `.bashrc`?

[2017-08-14 19:45] reedwm commented on #2194
/CC @tombstone

[2017-08-14 19:45] reedwm commented on #2188
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 19:45] #2188 closed

[2017-08-14 19:48] reedwm commented on #2176
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-14 19:49] reedwm commented on #2170
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-14 19:52] reedwm commented on #2168
Capitalize the "I" in Italian. The link is http://download.tensorflow.org/models/parsey_universal/Italian.zip

[2017-08-14 19:52] #2168 closed

[2017-08-14 20:37] mees opened #2211 "Perspective Transformer Multi-GPU Training broken"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-14 20:38] mees commented on #2211
@xcyan, @arkanath any suggestions?

[2017-08-14 21:21] skye commented on #2175
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-14 21:21] #2175 closed

[2017-08-14 21:22] skye commented on #2195
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 21:22] #2195 closed

[2017-08-14 21:34] skye commented on #2203
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 21:35] skye commented on #2207
There's a lot of output but I think this is the important part of the stack traces:
[code]
Looks like you're trying to assign to a GPU but you don't have one.

[2017-08-14 21:39] skye commented on #2209
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-14 21:39] #2209 closed

[2017-08-14 21:45] suharshs commented on #2201
What optimization/quantization are you trying to use?

If you want to quantize for inference, you may want to try taking the frozen graph and using the graph transforms tool : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md

If that works, someone may be able to make that part of the export_inference_graph script?

[2017-08-14 23:55] reedwm commented on #2150
@sguada do you know what the issue is?

[2017-08-15 00:24] marekjaszuk commented on #1698
Tanx a lot. That solved the problem for me.

[2017-08-15 00:31] starwars110 opened #2212 "The results of image2 at demo does not match paper"
The result for image2 at demo

https://github.com/tensorflow/models/blob/master/object_detection/object_detection_tutorial.ipynb

does not match the paper [Speed/accuracy trade-offs for modern convolutional object detectors]

![image](https://user-images.githubusercontent.com/31022106/29297456-fffb17e0-8115-11e7-855d-716816b2aa9c.png)

Is this due to different input resolution? If yes, how we can

[2017-08-15 00:59] reedwm commented on #2212
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-15 00:59] #2212 closed

[2017-08-15 01:07] xtr33me commented on #695
@PratsBhatt Unfortunately not. I am going to be jumping back on this attempt but have ran into wall after wall with this one. Will post here if I ever figure out a solution.

[2017-08-15 01:22] arkanath commented on #2211
We will have a look and get back to you, thanks.

[2017-08-15 03:48] reedwm commented on #2140
@mees The pull request is empty. Did you already merge it?

[2017-08-15 04:27] ai-coder commented on #1736
Where is this function
[code]

[2017-08-15 05:17] shamanez commented on #2203
@skye  It would be great if the Object-Detection API maintainers give a description about it .

[2017-08-15 05:22] shamanez opened #2213 "Object Detection API : SSD classification loss in Object Detection API is different from the original paper ."
In the paper they have used a softmax cross entropy loss. But here in the model is using **sigmoid cross entropy loss** .

Why is has changed ? What is the effect ?

Check this configuration file . [This says it is weighted sigmoid](https://github.com/tensorflow/models/blob/master/object_detection/samples/configs/ssd_mobilenet_v1_pets.config#L110)

[2017-08-15 05:48] irmowan opened #2214 "Object Detection API anchorwise_output config"
'anchorwise_output' config in example configs is true, I don't know why. When I try to change 'true' to 'false', the program throws error:
[code]
It seems a bug and not been tested.

[2017-08-15 06:35] amunozj commented on #2083
@Edaward How did you end up fixing the problem with the jupyter notebook.  Any luck?  Thanks!

[2017-08-15 07:52] DanMossa commented on #1825
Did you end up figuring out the issue?

[2017-08-15 08:13] wtblue opened #2215 "object_detection:InvalidArgumentError: Failed to create a NewWriteableFile"
when I python create_pascal_tf_record.py   to convert voc2007 into the TFRecord file format,Error as follow:
-----------------------------------------------------------------------------------------------------------------
Traceback (most recent call last):
  File "create_pascal_tf_record.py", line 182, in <module>
    tf.app.run()
  File "C:\abc\Anaconda3\envs\python35\lib\site-packages\tensorflo

[2017-08-15 09:24] irmowan commented on #2213
You can change it to 'weighted_softmax', refer to https://github.com/tensorflow/models/blob/master/object_detection/protos/losses.proto

[2017-08-15 09:28] shamanez commented on #2213
@irmowan  yeah ! But um working with a pre trained model I think it will affect a lot to output results .

[2017-08-15 09:30] irmowan opened #2216 "Object Detection API doesn't have L2 Normalization as paper does"
In Liu. 's SSD paper, and Google ''Speed/accuracy trade-off' paper, SSD with VggNet need to have a L2 normalization after conv4_3 layer(feature layer), but I haven't found any configuration or core code about this.
It seems different from the paper, how can I add this L2-norm layer as the paper does?

[2017-08-15 09:52] BrianGong commented on #2137
I checked out the code from https://github.com/alexgorban/models/tree/dff0f0c1143876c374f2f6887fb7a59281344a8f,and run  demo_inference.py(https://github.com/alexgorban/models/blob/dff0f0c1143876c374f2f6887fb7a59281344a8f/attention_ocr/python/demo_inference.py).

get the error like this:
INFO 2017-08-15 17:50:09.000364: fsns.py: 130 Using FSNS dataset split_name=train dataset_dir=/Users/cloudin/Dow

[2017-08-15 13:44] tomrunia opened #2217 "ResNet pre-processing: VGG or Inception?"
I am working on a small project for extracting image features using pre-trained models. For this I am using the `models/slim` code as guideline. My code works fine for `Inception` and `VGG` models, but for ResNet (versions 1 and 2) I am constantly getting incorrect prediction results. As far as I can tell this is because the pre-processing function which I select using `get_preprocessing()` define

[2017-08-15 14:19] mees commented on #2140
@reedwm, @xcyan  yeah sorry, somehow the old pull request got removed. I create a new pull request with the same patch.

[2017-08-15 14:42] mees opened #2219 "Perspective Transformer Nets uses only %20 of GPU"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, I commented out the visualization part.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow

[2017-08-15 14:42] mees commented on #2219
@xcyan, @arkanath is this normal?

[2017-08-15 14:47] overg123 opened #2220 "having problems with protoc, line doesn't work in windows."
using this line
protoc --proto_path=./object_detection/protos --python_out=c:\testmomo ./object_detection/protos/anchor_generator.proto
I get this error
object_detection/protos/grid_anchor_generator.proto: File not found.
object_detection/protos/ssd_anchor_generator.proto: File not found.
anchor_generator.proto: Import "object_detection/protos/grid_anchor_generator.proto" was not found or had erro

[2017-08-15 14:57] mees opened #2221 "Builtin visualization, slows Perspective Transformer to 40 seconds per step"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-15 14:58] mees commented on #2221
@xcyan, @arkanath

[2017-08-15 15:50] skye commented on #2203
Fair enough, I'll reopen this as a docs request.

@jch1 @tombstone @derekjchow @jesu9 @dreamdragon FYI

[2017-08-15 17:57] xcyan commented on #2219
Did you follow the same configuration as did in torch? You might need to increase "batch_size" to 6.

[2017-08-15 17:59] reedwm commented on #2220
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-15 17:59] #2220 closed

[2017-08-15 18:01] reedwm commented on #2216
CC @dreamdragon

[2017-08-15 18:03] reedwm commented on #2214
@jesu9 can you take a look?

[2017-08-15 18:06] xcyan commented on #2221
We didn't observe the phenomenon on our side. Basically, the performance depends on the CPU you are using. If you find the bottleneck is CPU computation, please move the grid computation inside the "if" and returns an empty grid if needed.

[2017-08-15 18:11] mees commented on #2219
with batch_size 6, it increases to %63, how much was it for you guys?

[2017-08-15 18:13] xcyan commented on #2219
We used 6.

[2017-08-15 18:14] mees commented on #2219
I mean how much percent of the GPU were you using with batch_size 6?

[2017-08-15 18:22] mees commented on #2221
Well the server has 2x Intel(R) Xeon(R) CPU E5-2620 v4 @ 2.10GHz, so I don't think that the problem is that the CPU is too slow. On the contrary, if with such high performance CPU the visualization code needs so long to run, there might be a bug in the visualization code. I can help you debug it if you want, or you could write a workaround such that the visualization is only executed every x steps

[2017-08-15 18:31] xcyan commented on #2219
I didn't profile the GPU usage while developing this code. @arkanath do you have any comments?

[2017-08-15 18:38] reedwm commented on #2200
You are probably running out of memory. Try reducing the data size until it can run without segfaulting, and see how much memory it uses. Feel free to reopen if you determine the issue is not caused by running out of memory.

[2017-08-15 18:38] #2200 closed

[2017-08-15 20:59] protossw512 commented on #2217
According to [https://github.com/tensorflow/models/blob/master/slim/preprocessing/preprocessing_factory.py](url)

They are still using vgg preprocess:

[code]

[2017-08-15 21:28] Mistobaan commented on #2194
I got this error too, I also tested all the images and they were good. Something fishy in the jpeg encoder/decoder ?

[2017-08-15 21:30] civilman628 opened #2222 "code change make object detection model export fail"
https://github.com/tensorflow/models/blob/master/object_detection/exporter.py#L294

has a extra line which make export ckpt to .pb fail:

[code]

you need move out **save_relative_paths=True**  in order to make export run pass.

------------ BTW----------

the read me here are wrong:

 https://github.com/tensorflow/models/blob/master/object_detection/g3doc/exporting_models.md

[code]

the paramete

[2017-08-15 22:34] reedwm commented on #2222
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-15 22:49] civilman628 commented on #2222
this does not related to platform, but code issue. I am using the latest version of TF.
L294 here has **save_relative_paths** as input. I think there is no unit test run to find this error.
https://github.com/tensorflow/models/blob/master/object_detection/exporter.py#L294

the readme on line is mismatch with the code for parameter description.

[2017-08-15 22:57] reedwm commented on #2222
[Saver takes in the save_relative_paths in 1.2.1](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/python/training/saver.py#L1039) so it should work with 1.2.1 and above.

/CC @jch1, can you comment, both on the save_relative_paths issue and the readme issue?

[2017-08-16 03:12] irmowan commented on #2216
I found 'normalize_to_target' function in 'utils/ops.py', it says that the function follows Liu et al. 's paper. But no core code has called this function, which means no L2-normalization operation in the API in my view.

[2017-08-16 03:37] xcyan commented on #2221
It seems that data loading is the bottleneck. For visualization, you need another 4 readers to load batches from valid set. We didn't observe such difficulty in google machines. But if you want to speed up the runtime on your side, you can try to reduce the number of samples during validation.

[2017-08-16 06:13] RobinBaumann opened #2225 "Evaluation in Object Detection hangs and behaves strange"
### System information
- **What is the top-level directory of the model you are using**: tensorflow/models/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes (well, i actually just adjusted the pipeline config to fit my dataset)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64bit
- **TensorFlow inst

[2017-08-16 06:18] tomrunia commented on #2217
Yes, and that mapping is incorrect as far as I can tell. The [documentation](https://github.com/tensorflow/models/tree/master/slim#pre-trained-models) explains the following.

And the results you get are completely wrong when using VGG preprocessing for ResNets.

[2017-08-16 07:21] jaimeet64 commented on #1570
Try upgrading protobuf by using 'pip nstall protobuf--upgrade'

[2017-08-16 09:31] adrinjalali commented on #2129
Any updates here @calberti ?

[2017-08-16 09:43] mees commented on #2221
@xcyan I am not sure that the data loader is the problem, because when I disable the visualization, I am still loading the valid data and the loss is computed and shown in tensorboard. As you can see in my code, the data loading with the 4 threads happens in model.get_inputs(), which is executed still even when I disable the visualization. Thus it appears as the bottleneck is the visualization cod

[2017-08-16 10:43] haamoon commented on #1428
Thus, shouldn't decay_steps [here](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L234) be also divided by FLAGS.num_clones?

[2017-08-16 11:20] mees commented on #2221
I attach a trace with the visualization on
[tf_trace-10.json.zip](https://github.com/tensorflow/models/files/1227976/tf_trace-10.json.zip)

[2017-08-16 11:46] xcyan commented on #2221
See my comment above (with code attached).

[2017-08-16 12:00] xweihithub commented on #1564
i have the same porblem~Anyone fixed it?

[2017-08-16 13:21] mees commented on #2221
Yes that helped @xcyan. I found that I had to store the previous grid temporally to show it in tensorboard while the new one is computed, to avoid showing a black image in between. I also had to reduce the save_summaries_secs parameter since the computation got much faster.

[2017-08-16 20:43] ahelou2 opened #2227 "ImportError: cannot import name 'label_map_util'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-08-16 21:34] skye commented on #2193
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-16 21:34] #2193 closed

[2017-08-16 21:37] shamanez opened #2228 "Cannot use exponential linear units (elu) for "conv_hyperparams" in the configuration file. Only RELU_6"
I think API do not support to use elu .

[2017-08-16 21:37] skye commented on #2213
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon

[2017-08-16 21:37] skye commented on #2215
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon

[2017-08-16 21:40] skye commented on #2217
@nathansilberman @sguada can you comment or redirect? Thanks.

[2017-08-16 21:41] skye commented on #2221
@mees is this issue resolved?

[2017-08-16 21:42] skye commented on #2225
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon

[2017-08-16 21:42] skye commented on #2227
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-16 21:42] #2227 closed

[2017-08-16 22:33] reedwm commented on #2228
Can you clarify what model and configuration file you are using, and what you are trying to do? Thank you.

[2017-08-17 02:01] louiseruiwenli commented on #1962
Could you show me what's in the import section of anchor_generator.proto file? Thanks.

The original one is:
//import "object_detection/protos/grid_anchor_generator.proto";
//import "object_detection/protos/ssd_anchor_generator.proto";

And I changed it to:
import "grid_anchor_generator.proto";
import "ssd_anchor_generator.proto";

[2017-08-17 02:54] #2160 closed

[2017-08-17 03:15] zhezh commented on #1902
I met this exact problem when trying using pet.
Is this incompatiability problem a tensorflow problem or this object_dection project problem?

[2017-08-17 03:30] junfengluo commented on #571
Hi, I have also met this problem, how you solved it, can you tell me ?

[2017-08-17 04:06] bandarikanth commented on #571
We didn't solved yet

[2017-08-17 04:21] shamanez commented on #2228
I am using ssd_mobilnet config file for pet data set in the sample folder .

[2017-08-17 05:15] kalravibhor opened #2229 "Generating TFRecord Files"
Having installed tensorflow and the object detection module successfully, I am having trouble generating the PASCAL VOC TFRecord files as detailed in the documentation.

On running from the /models directory
python2 object_detection/create_pascal_tf_record.py \
    --label_map_path=object_detection/data/pascal_label_map.pbtxt \
    --data_dir=VOCdevkit --year=VOC2012 --set=train \
    --output_pat

[2017-08-17 05:19] isalirezag opened #2230 "How to replace CIFAR-10 with another dataset?"
I am using the CIFAR10 (https://www.tensorflow.org/tutorials/deep_cnn) example and everything is smooth so far.
In this tutorial, How I can use another dataset instead of CIFAR10.
Lets say I have my own dataset and wanna use it instead. It has two folders inside of it, namely Training_Images and Testing_Images.
Also lets say for simplicity my dataset has just 10 classes as well.

The same question

[2017-08-17 05:51] rajvi3105 opened #2231 "issue in Pre-trained model checkpoint version not work with tensorflow-1.2"
Hello all,

I am newbie in tensorflow. I use tensorflow-1.2 version and want to train my own data. And use the pre-train model ssd_mobilenet_v1_coco. At the training time i got the error:
tensorflow.python.framework.errors_impl.DataLossError: Unable to open table file /usr/local/lib/python2.7/dist-packages/tensorflow/models/model/model.ckpt.data-00000-of-00001: Data loss: not an sstable (bad magic

[2017-08-17 06:11] irmowan commented on #2229
You need to add the 'object_detection' directory to your environment path. Do this in your shell:

    export PYTHONPATH=$PYTHONPATH:`pwd`

Or add the path to .bashrc/.zshrc (depend on your shell), so don‘t need to export every time.

    echo "export PYTHONPATH=$PYTHONPATH:`pwd` >> ~/.bashrc

[2017-08-17 06:43] yzs15 commented on #2133
did u solve the problem?  could you help me with the same problem

[2017-08-17 07:19] kalravibhor commented on #2229
Thanks @irmowan. Though I had exported PYTHONPATH and added the same to ~/.bashrc earlier as well, I guess the file did not load. This seems to have worked !

[2017-08-17 07:19] #2229 closed

[2017-08-17 07:34] rayanelleuch commented on #1816
Hi @jch1
Is their news about it?
I am also interested in using different batch size.

[2017-08-17 07:48] hephaex commented on #1570
I've same problem.

[code]
OS: Ubuntu 14.04.x
Tensorflow: 1.2.1
python 2.7

[2017-08-17 07:56] LiangHao92 opened #2232 "failed to convert .ckpt file to .pb files using python export_inference_graph.py"
I use ssd_mobilenets in object_detection API to train my own model, and get .ckpt files. now, I want to apply the model on my phone, how can i get .pb files?
I use export_inference_graph.py , but it failed. My order is

python export_inference_graph.py
--input_type image_tensor
 --pipeline_config_path /home/seven/ssd_mobilenets/models/ssd_mobilenet_v1_pets.config --trained_checkpoint_prefix /home/

[2017-08-17 08:16] LiangHao92 commented on #2092
@heroinlin hello, I use the export_inference_graph.py,but it failed ,it said

Exception AttributeError: AttributeError("'NoneType' object has no attribute 'ScopedTFStatus'",) in <bound method Context.__del__ of <tensorflow.python.eager.context.Context object at 0x7f5483845990>> ignored

what is wrong with it?

[2017-08-17 08:38] LiangHao92 commented on #2222
@reedwm hello, I ues python export_inference_graph.py  to convert .ckpt to .pb files, but error occured when I ues :
python export_inference_graph.py
--input_type image_tensor
--pipeline_config_path /home/seven/ssd_mobilenets/models/ssd_mobilenet_v1_pets.config --trained_checkpoint_prefix /home/seven/ssd_mobilenets/result/model.ckpt-544830
--output_directory /home/seven/ssd_mobilenets/pb

the wron

[2017-08-17 08:38] ryo2000 opened #2233 "object_detection.utils.ObjectDetectionEvaluation clear_detections issue"
detection_keys are initialized as set()

`self.detection_keys = set()`

but clear_detections  reset  detection_keys as dictionary.

`self.detection_keys = {}`

[2017-08-17 08:40] LiangHao92 commented on #2142
@xhzcyc the android demo is updated, yolo and ssd can be used now, using android demo

[2017-08-17 09:49] XavDCtpz opened #2234 "Parsing error from training script while trying to train on pet dataset."
Hello everyone.

I require your precious help as I am kind of stuck on some weird config file parsing error. I am trying to run **locally** the train.py script on the pet dataset. I have done everything as told in the tutorial to prepare the data and config files, here is my directory structure:
+pets_example {
    +data {
       -pet_label_map.pbtxt
       -pet_train.record
       -pet_val.record

[2017-08-17 10:04] FiveMaster commented on #2179
@chenyuZha I changed the learning_rate for faster_Rcnn model, and it just works on some datasets, not all.
How much your model's accuracy? I am working on increase accuracy too, but I do not find the useful method now.

[2017-08-17 10:48] shamanez commented on #2179
@FiveMaster  Did you play around dropout ?

[2017-08-17 11:27] LiangHao92 opened #2235 "ssd_mobilenets applied on android"
I found android demo is updated, and ssd_mobilenets model can be used on android. so I want to apply the model trained by myself on android. when I use export_inference_graph.py to convert .ckpt file to .pb file, the .pb is generated, but there is error:

Exception AttributeError: AttributeError("'NoneType' object has no attribute 'ScopedTFStatus'",) in <bound method Context.__del__ of <tensorflow

[2017-08-17 13:59] mees commented on #2221
I guess, you would need a PR to fix it for everybody.

[2017-08-17 15:10] mees opened #2236 "Perspective transformer evaluation script broken due to wrong flag"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-17 15:18] wmouchere opened #2237 "Object Detection API: Batch Normalization not applied on BoxPredictor (SSD)"
It seems batch normalization and custom activation function are not supported for the classification and regression layers for the SSD architecture. I found this line : https://github.com/tensorflow/models/blob/b14765c3a8b119ab8dae3d706d623397f99d1011/object_detection/core/box_predictor.py#L515 and successfully added batch norm by replacing it with `with slim.arg_scope(self._conv_hyperparams), sli

[2017-08-17 16:18] mees opened #2239 "Perspective transformer 3D evaluation script broken"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, I have fixed the first flag issue https://github.com/mees/models/commit/48ac9b0dfb2dc2ec4d2f70eb73bcb800a9377b9d

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04

[2017-08-17 16:18] mees commented on #2239
@xcyan, @arkanath any suggestions?

[2017-08-17 16:21] mees opened #2240 "Perspective transformer rotator evaluation script broken due to missing function"
### System information
- **What is the top-level directory of the model you are using**: Ptn directory
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.3.0-rc

[2017-08-17 16:22] mees commented on #2240
@xcyan, @arkanath

[2017-08-17 16:54] reedwm commented on #2228
I assume this is for object detection. @derekjchow, can you comment?

[2017-08-17 17:19] reedwm commented on #2230
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 17:19] #2230 closed

[2017-08-17 17:20] reedwm commented on #2232
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 17:20] #2232 closed

[2017-08-17 17:23] reedwm commented on #2236
@arkanath, can you fix this?

[2017-08-17 17:25] reedwm commented on #2234
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-17 17:25] #2234 closed

[2017-08-17 17:37] mees commented on #2236
@reedwm I already made a PR to fix the issue.

[2017-08-17 19:33] skye commented on #2221
@xycan do you think it makes sense to fix this generally? If not please close the issue.

[2017-08-17 19:41] skye commented on #2231
Can you fill out the new issue template? In particular, are you running your own code or code from the repo?

[2017-08-17 19:43] skye commented on #2233
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon

[2017-08-17 19:44] skye commented on #2235
@asimshankar @alextp @agarwal-ashish is this something wrong in eager?

[2017-08-17 19:45] skye commented on #2237
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon

[2017-08-17 19:51] asimshankar commented on #2235
That error should be benign, it only occurs on program exit (and we'll have a fix to prevent that error message from appearing shortly). Sorry for the confusion.

So, if the app isn't working, it's likely because of some other reason.
Please do fill in all the details asked for the issue template including specific instructions on reproducing the problem. Thanks!

[2017-08-17 19:54] haamoon opened #2241 "[Slim] Scripts for Training ResNet From Scratch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.0.0
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: 6xK80
- **Exact command to

[2017-08-17 20:02] skye commented on #2241
@nathansilberman @sguada can you comment?

[2017-08-17 22:42] shamanez commented on #2228
@reedwm  Yeah this is for object detection

[2017-08-17 22:49] shamanez commented on #2237
Box Predictor is predicting class scores and location coordinates not in a fully connected manner . If there are 4 classes including background  , we will have 4+4(coordinates) = 8 filters looking at one position in the feature map.  So basically there are no any kind of non linear units. (RELU_6 = None).

Convolution hyper parameters for the boxpredictor are mostly used in when we need to add add

[2017-08-17 23:37] haoyangz opened #2243 "Cost calculation in Variational Autoencoder model is wrong"
### System information
- **What is the top-level directory of the model you are using**: autoencoder
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: not relevant
- **TensorFlow version (use command below)**: not rel

[2017-08-18 00:33] anne1994 opened #2244 "were all imagenet images 299x299?"
Inception v3 requires images to be of the format 299x299. So Were all the "imagenet" images trained on inceptionv3 299x299? I tried 299x299 for my new dataset, but wondering if the million images used in imagenet were 299x299?

[2017-08-18 00:54] LiangHao92 commented on #2235
@asimshankar thanks a lot. it means I have successfully got the .pb?  Is the android demo available for the ssd models trained by ourselves?

[2017-08-18 00:55] masju commented on #2243
Please unsubscribe

[2017-08-18 01:16] asimshankar commented on #2235
@LiangHao92 : I'm not sure, I don't think I have enough information to be of help. Please do fill out all the information asked for in the issue template, including specific instructions on the reproducing the problem and details of the errors you're seeing.

[2017-08-18 01:31] FiveMaster commented on #2179
@shamanez no,`use_dropout: false`, Did I need to set it to true?

[2017-08-18 01:44] LiangHao92 opened #2245 "own trained ssd_mobilenets model failed applied on android"
I am glad to see android demo is updated to be available for ssd_mobilenets models. I tried the demo on my phone, and it works well. But when I tried my own model, the app can not work normally.
1.I used export_inference_graph.py in object_detection to convert .ckpt to .pb files
2.I replaced the original model by my .pb file
3. Also, I changed the label_list.txt.
After doing this, I generate the a

[2017-08-18 02:02] LiangHao92 commented on #2235
@asimshankar
![default](https://user-images.githubusercontent.com/17873510/29441217-3aa26072-83fc-11e7-9cf4-6d08e4592c08.png)
Can you help me see the picture, is my .pb file is normally genetated?Thank a lot

[2017-08-18 02:11] y649950268 opened #2246 "pipline train.py error"
I have generate record file,and run
 `python object_detection/train.py --logtostderr --pipline_config_path=D:\pythonSpace\dataModle\models\model\faster_rcnn_inception_resnet_v2_atrous_bowls.config --train_dir=D:\pythonSpace\dataModle\models\model\train`  on WINDOW OS
then i got an error

  File "object_detection/train.py", line 198, in <module>  tf.app.run()
  File "D:\Developement\Anaconda3\lib\s

[2017-08-18 02:35] arkanath commented on #2236
@mees Can you link PR to fix this issue, I can see you linked a commit in the fork? #2239 seems like a different issue.

[2017-08-18 02:38] arkanath commented on #2236
Found it: https://github.com/tensorflow/models/pull/2238

[2017-08-18 02:40] arkanath commented on #2219
I didn't either, regardless, I am pretty sure we don't have any code to hinder GPU usage. We can close this issue.

[2017-08-18 02:42] arkanath commented on #2211
This does not seem like an issue specific to PTN, @mees. Like the error says, you probably need to set the device spec appropriately, please follow the tensorflow documentation.

[2017-08-18 02:45] arkanath commented on #2162
@xcyan Will you be able to make a PR for this?

[2017-08-18 02:56] jaesik817 opened #2247 "For resnet v1 and vgg models"
Hi All,

This is Jaesik Yoon.

I found some weird things on resnet v1 and vgg models.

I classified about 1,000 images from imagenet, which size is [299,299].

The accuracy of both models are really low, when I used input data preprocessing to resize from [299,299] to [224,224] and to normalize between -1 and 1.

Could I know which step generated problem?

Thanks.

Jaesik Yoon.

[2017-08-18 03:12] #2236 closed

[2017-08-18 03:28] reedwm commented on #2244
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-18 03:28] #2244 closed

[2017-08-18 03:34] reedwm commented on #2245
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-18 03:34] #2245 closed

[2017-08-18 03:43] fastlater commented on #1773
@UnforgivenZZZ  you can check https://github.com/tensorflow/models/blob/master/object_detection/utils/visualization_utils.py

Looking at the code, you can understand more about how does the code process this input thus you can implement some changes in your code to obtain the results that you want

[2017-08-18 06:31] shamanez opened #2248 "Object Detection API : Feature request for have weighted softmax in order to work with poorly perform classes ."
In object detection sometimes there are few classes with low validation accuracy .  If we can use weighted softmax or score function I believe we can give more attention to poorly perform classes lost when doing the gradient upgrade .

[2017-08-18 07:17] mjfree92 commented on #2151
@andreigoea Hello, Andreigoea. It seems that I am having a similar problem.  In my case, the file is downloaded but with its HTML format (even though it has ".tar.gz" extension mark!), which makes "tar" command cannot do its job. Have you solved your one? and Do you know anything about my problem? A recommended solution is to download the file by directly accessing to the link with browser, but th

[2017-08-18 09:00] mees commented on #2219
Well you might want to bump the default batch_size from 1 to 6, so people don't wonder about low GPU usage. It makes even more sense since apparently this is the batch_size needed to reproduce the paper results and the one you used.

[2017-08-18 09:10] mees commented on #2211
Well I am so convinced @arkanath. Can you confirm that if you execute the command I stated above, it works for you without any change to the ptn code? I spent a day looking on how I could get the multi-GPU setup working, going through the documentation, asking my collegues in the lab, and we could't get it working. I understand that if you want to distribute the training across machines, you need

[2017-08-18 09:48] xcyan commented on #2240
A good catch. The function rotator_metrics is missing from the opensourced version.

[2017-08-18 10:02] xcyan commented on #2239
Looks like the API of tf.metrics changes.

[2017-08-18 10:18] shamanez commented on #2179
yeah. If your training accuracy is high but not validation use it

[2017-08-18 10:37] xcyan commented on #2240
@reedwm Please check this out.

[2017-08-18 10:47] rajvi3105 commented on #2231
Hi skye,

I follow Mr. Dat Tran object detection blog, download the image dataset and .xml files from his repo. I followed the exact instructions given in blog, only I try to train model locally. But there I get the error as I mentioned.

Thank You.

[2017-08-18 10:51] abhijitsinha17 commented on #1200
Yes, run from any other directory and the "import tensorflow" works fine. Thanks guys :)

[2017-08-18 10:55] xcyan commented on #2162
I double checked: we visualized the training error rather than the validation error.
https://github.com/tensorflow/models/blob/master/ptn/model_rotator.py#L166

Evaluating validation and testing loss every epoch will slow down the training a lot.
@mees You might want to run 3 separate jobs (eval_ptn.py) with different flags (set flags.eval_set = 'train', 'val', or 'test').

[2017-08-18 10:58] shuuchen opened #2253 "Where is the 'tensorflow/models/' directory?"
Hi All,

I am trying to install object detection API following https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md

In the Protobuf Compilation part, I should run
[code]
in the tensorflow/models/ directory. So where is the directory?

Does it already exist or should I create one by myself?

I am using ubuntu

[2017-08-18 11:11] xcyan commented on #2221
Please close this issue. We will add a note to the README. Thanks!

[2017-08-18 11:15] xcyan commented on #2211
What's the error message when doing multi-GPU setup?
Since PTN implementation is based on slim library, let me make sure you are following slim tutorial.
https://github.com/tensorflow/models/blob/master/slim/deployment/model_deploy.py#L33

[2017-08-18 11:20] xcyan commented on #2140
Please close the issue if the problem has been resolved. Thanks!

[2017-08-18 11:28] mees commented on #2211
I am not sure I understand, the error message is on the original bug report. Do you want me to add that line you mention in train_ptn.py ?

[2017-08-18 11:30] #2140 closed

[2017-08-18 11:32] xcyan commented on #2211
For multigpu training, you need to follow this tutorial and modify the code if needed.

[2017-08-18 11:33] failedmath commented on #2225
I had the same issue. How many images do you have in your validation set? I can assume it is just too many. Try to reduce it to 10 or some other reasonable amount (in the config file) and check if it works. Do you actually see images in Tensorboard?

[2017-08-18 11:40] mees commented on #2162
You are right @xcyan, the validation is only loaded only for the visualization part, and sure you don't want to compute the validation and test loss every step, but it's nice to have it every x steps. I will check your solution, thanks!

[2017-08-18 11:44] mees commented on #2211
My guess is you have an internal implementation and a public one, and you haven't tested if the multi-gpu setting works for the opensourced version. Sure I can try some more, but can you tell me if I need to run a separate instance just with the parameter server or if I can run everything at the same time, like in the command I posted in the bug report?

[2017-08-18 11:49] mees commented on #2239
This is weird, because you guys said that ptn requieres tf 1.3, right? Anyway, how can we fix the bug?

[2017-08-18 11:53] xcyan commented on #2211
Here is a working example (please jump to distributed training part):
https://github.com/tensorflow/models/tree/master/inception

On Fri, Aug 18, 2017 at 4:45 AM, Oier Mees <notifications@github.com> wrote:

[2017-08-18 13:57] ffrige commented on #1715
@xfause Sorry for the late reply! All I meant with my previous post is that there is no need re-call the tf graph and session for every frame of your stream. It is enough to do it once at the beginning and then loop through the frames.

Here is how I do it with openCV:

[code]

[2017-08-18 14:45] alextp commented on #2235
If this is the entire output of the program then yes, it is.

On Thu, Aug 17, 2017 at 7:03 PM, LiangHao92 <notifications@github.com>
wrote:

--
 - Alex

[2017-08-18 15:11] RobinBaumann commented on #2225
Ich have Like 63 Images in the validatin Set and can see the Images in Tensorboard. But it still hangs

[2017-08-18 17:15] sguada commented on #2253
You need to create it yourself, it should be where you clone this repo.

[2017-08-18 17:15] #2253 closed

[2017-08-18 17:16] sguada commented on #2247
Usually images in ImageNet have variable sizes, which are resized and cropped to 224x224 for VGG models.

Make sure you use https://github.com/tensorflow/models/blob/master/slim/preprocessing/vgg_preprocessing.py

[2017-08-18 17:22] haoyangz commented on #2243
@jo8hua @snurkabill @nealwu @daviddao

[2017-08-18 17:27] reedwm commented on #2248
/CC @jesu9

[2017-08-18 17:28] sguada commented on #2241
Could you copy the loss and global_steps/sec plots from TensorBoard, to make sure the loss is going down as expected?

[2017-08-18 17:36] sguada commented on #2217
You should use inception_preprocessing in this case, either just import it directly or just pass 'inception' to preprocessing_factory.

[2017-08-18 17:54] reedwm commented on #2240
I don't know anything about this model unfortunately (I'm currently triaging TensorFlow issues and merged some PRs that @arkanath approved).

[2017-08-18 17:58] xcyan commented on #2240
@reedwm
https://github.com/tensorflow/models/blob/master/CODEOWNERS#L21
Let me know if arkanath's LGTM is required.

[2017-08-18 18:29] jo8hua commented on #2243
@haoyangz
I agree. I think if you removed the `axis=1` you could get rid of the call to `reduce_mean` all together. Feel free to make a PR.

[2017-08-18 18:34] haoyangz commented on #2243
@jo8hua That will results in the sum of cost, not the mean of cost (across a batch). So I think the best way is to add `axis=1` to reconstruction error calculation?

[2017-08-18 18:45] jo8hua commented on #2243
This is inconsequential (unless you are doing something like irregular batches). Right now I would say that the only issue is that the example is inconsistent.

[2017-08-18 19:38] comsian106 commented on #1733
@jmoney4769 can you please mention where do I need to put the dec_cell argument?
I'm facing this error
``` TypeError: embedding_attention_seq2seq() missing 1 required positional argument: 'dec_cell' ```

in the function
[code]
The error says I need to put 'dec_cell' too. How did you fix this?

[2017-08-18 19:42] Katsatsaka commented on #1736
I also got this error when trying to run seq2seq model (translate.py) with tensorflow 1.2 python 3.5.
Please help to fix it.

[2017-08-18 20:03] haamoon commented on #2241
Thanks for your response @sguada. I've attached the plots that you asked for. The accuracy after 100k steps is 22%. I can tell from the plots and the validation accuracy that it is converging but really slow. The learning rate was fixed to 0.1 during the training (there is no LR decay before 100k), momentum 0.9 and I am using momentum optimizer.

![global_step](https://user-images.githubuserconten

[2017-08-18 20:08] haamoon commented on #2241
I realized that you have not trained resent_v1 with this code. I also tried resnet_v2 and got a very similar plots. That would be great if you could share a working script for training resnet_v2 that I can use and see if I can reproduce your results.

[2017-08-18 20:10] haamoon commented on #2217
Is it also the case for training? Should inception_preporcessing be used for training resent?

[2017-08-18 20:20] failedmath commented on #2225
I would say try with just a couple and see if it works. Or try to run on GPU only eval (this is involves some magic to point not to the last checkpoint)

[2017-08-18 21:06] haoyangz commented on #2243
Well I think the biggest problem of training against the sum of cost is that the training objective is now batch-size dependent. This means a larger batch size would require a smaller learning rate to get to the same weight upgrade, which will cause a lot of pain in hyper-parameter tuning. I will file a PR soon. Thanks!

[2017-08-18 21:55] shamanez commented on #2228
@derekjchow
Also can I use other activation functions when creating the feature extractor with mobilenet .

[2017-08-19 05:19] athuldevin commented on #1736
can you share the full error message

[2017-08-19 05:19] mrezak opened #2255 "Huge RAM usage with LFADS model"
We observed that when we tried to run LFADS on continuous data (hence using gaussian cost function of LFADS) with 300 trials where the data dimensionality was 40 and the length of each trial was 900 time samples ( 300x40x900 matrix), LFADS takes a huge amount of RAM (CPU RAM) about 30+GB.
The RAM usage gradually ramps up to 30+GB, and most of the RAM growth occurs during the initial part of the tr

[2017-08-19 07:48] shamanez opened #2256 "Object Detection API - How to add different activation functions to API ."
Currently this is only supporting  two activation functions ,
1.relu
2.relu_6

[I tried to edit hyperparams_builder.py file](https://github.com/tensorflow/models/blob/master/object_detection/builders/hyperparams_builder.py#L79)
. But then there's an error with **hyperparams_pb2** object. Can you please make thins customization .

[2017-08-19 08:57] shuuchen opened #2257 "ImportError: libcusolver.so.7.5: cannot open shared object file: No such file or directory"
Hi All,

I am trying to install following https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md

But the following error happens when I test installation:
[code]
I am using ubuntu 16.04, cuda8.0, cuDNN 6.0 and python 2.7

Any help please?

[2017-08-19 08:59] shuuchen commented on #2257
I have followed https://github.com/tensorflow/tensorflow/issues/1501 and other issues to set the
environment variables, but it doesn't work

[2017-08-19 09:56] jaesik817 commented on #2247
I checked resnet v1 and vgg models are working fine with vgg_preprocessing.py.

Thanks a lot!

I closed this.

[2017-08-19 09:56] #2247 closed

[2017-08-19 10:08] wujiahongPKU commented on #2169
can you give me a quantized graph pb file  which work very well?  Thank you very much

[2017-08-19 10:49] shaginthecloud commented on #2169
"10",;"#10"/directory🔚

1.front tester [treasure]
#to
#___
#all
-search#Nusd

On Aug 19, 2017 05:08, "wujiahongPKU" <notifications@github.com> wrote:

can you give me a quantized graph pb file which work very well? Thank you
very much

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/tensorflow/models/issues/216

[2017-08-19 12:07] wujiahongPKU commented on #1819
could you give me the quantize_graph.pb ,I want it so long. my email adress is :rudyftd@126.com  Thanks very much

[2017-08-19 13:08] wujiahongPKU commented on #1819
sorry I want your optimized_graph.pb file very much ,could you give it to me ,I need it very much ,my email is :wujiahong66@gmail.com.Thanks !

[2017-08-19 23:09] AhmedRebai commented on #2257
Hi, me too when I run: import tensorflow as tf

I got this

ImportError: libcusolver.so.7.5: cannot open shared object file: No such file or directory

[2017-08-20 08:03] alicefqy commented on #2133
Same problem on windows platform.

[2017-08-20 08:30] wujiahongPKU commented on #1819
You could use the round_weights(num_steps=512) ,I just test the result is nearly the real result.

[2017-08-20 08:39] jinfagang commented on #1740
@genminm There is **no** TF_CALL_bool(m) in `tensorflow/core/framework/register_types.h` at all...

[2017-08-20 09:22] kindlychung commented on #956
Still no idea how to integrate `train_data_node` into the OP's code. Could you elaborate more? Thanks! @drpngx

[2017-08-20 09:24] kindlychung commented on #956
Could you share your mnist code? Thanks! @drpngx

[2017-08-20 10:11] jinfagang commented on #1933
I also occurred this problem!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2017-08-20 12:17] VastoLorde95 commented on #1880
@jch1 I will be taking this feature request. You can assign this to me.

[2017-08-21 02:44] shuuchen commented on #2257
@AhmedRebai
I solved that by upgrading tensorflow to the latest version

[2017-08-21 04:38] derekjchow commented on #2256
Did you also edit the [proto file](https://github.com/tensorflow/models/blob/master/object_detection/protos/hyperparams.proto)? Could you point us to your changes?

[2017-08-21 04:43] derekjchow commented on #2228
We would need to add support for other activation functions, by adding it to the [proto file](https://github.com/tensorflow/models/blob/master/object_detection/protos/hyperparams.proto) and [builder](https://github.com/tensorflow/models/blob/master/object_detection/builders/hyperparams_builder.py).

[2017-08-21 04:47] derekjchow commented on #2222
@civilman628  @LiangHao92 could you provide information about the environments you're running in (TF, version, OS)?

[2017-08-21 04:51] derekjchow commented on #2203
This can be accomplished by using the [freeze_variables](https://github.com/tensorflow/models/blob/master/object_detection/protos/train.proto#L51) field in the train proto.

That being said, I'm hesitant about adding this to the docs. From our experience freezing the base feature extractors doesn't train faster nor does it give a better end accuracy. I would not recommend users use this field.

[2017-08-21 04:54] derekjchow commented on #2142
See the Tensorflow demo [here](https://github.com/tensorflow/tensorflow/blob/2b374f7d4ba578764e2b2e9f21da9ba52811a103/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowObjectDetectionAPIModel.java)

[2017-08-21 04:54] #2142 closed

[2017-08-21 06:42] LiangHao92 commented on #2222
@derekjchow I trained my model with tensorflow 1.3.0-rc0, and now I use tensorflow 1.3.0-rc2.

[2017-08-21 07:05] shamanez commented on #2256
@derekjchow   No. That's what I need to ask.  Can you point me what should I edit starting from [this line](https://github.com/tensorflow/models/blob/master/object_detection/protos/hyperparams.proto#L26) .

Also there is this PreLU in keras layers which we can use. Can you merge it too , to the API ?

[2017-08-21 09:31] gdelab commented on #1721
I got the same error, @jch1 's suggestion fixed it but created a new error:

I don't get this on the unquantized version, do you have any idea what might cause that ? Removing fold_batch_norm and fold_old_batch_norms does not help.
(I'm using a Faster RCNN with ResNet101_v1 on custom data)

[2017-08-21 09:39] FlashSnail commented on #1842
I think it's a trick.... in the document, it said

export PYTHONPATH=$PYTHONPATH:'pwd':'pwd'/slim

pwd is your local path, however, you should keep mark like this : 'local path':'localpath'/slim
it works on my computer. 哇，喷火龙唉！

[2017-08-21 10:19] chenyuZha commented on #2179
@FiveMaster  I didn't look at accuracy , I just check the image results to see if if detects more objects. basically, the output images will show the bounding boxes with threshold >0.5.

[2017-08-21 10:22] chenyuZha commented on #2179
@shamanez  I checked the results with switch on 'use_move_average=True'. To be honest, I didn't see a very great difference.
I haven't tried the ssd mobile_net yet, since this model gives a lower accuracy than faster_rcnn.

[2017-08-21 11:44] irmowan commented on #2066
I have encountered the same problem. I used your MR, https://github.com/tensorflow/models/pull/2146/files, and the model works.
Thank you so much! @drauh

[2017-08-21 21:48] snurkabill commented on #2243
@haoyangz I agree. Dependency between batch size and learning rate is obvious. This was practically simple implementation of scientific paper. It will be great if you provide some PR! Thank you :)

[2017-08-21 23:43] haamoon commented on #2241
@sguada Anything you could say from the plots?

[2017-08-22 02:16] wyhgood commented on #2231
I got the same error, also waiting for some advice

[2017-08-22 06:43] Sharathnasa commented on #2096
@hanzy123 Facing the same issue. What exactly did you changed?

[2017-08-22 07:22] shuuchen commented on #2231
Actually I am reading that too.
Just specify model.ckpt in the .config file

[2017-08-22 07:48] rajvi3105 commented on #2231
model.ckpt is just renaming of model.ckpt.data-00000-of-00001 file.
But the problem is model.ckpt.data-00000-of-00001 is in old format and tensorflow-1.2 object-detection required new format.
Unfortunately, new formaat of model.ckpt.data-00000-of-00001 is not available till now.

[2017-08-22 09:18] CassieMai opened #2266 "Evaluation of faster_rcnn_resnet101 model is slow."
Hello, everyone. I have used faster_rcnn_resnet101 model of object detection on my own dataset. But evaluation on a trained model takes at least half an hour by using GPU. I am not sure whether it is because it needs much time to restore parameters from checkpoint files? Do you have any advice on speed up evaluation process for faster_rcnn_resnet101 model?

[2017-08-22 09:51] VastoLorde95 opened #2267 "Object Detection API - Feature Request: YOLO and YOLOv2"
With reference to a previous [thread](https://github.com/tensorflow/models/issues/1880), I am volunteering to implement the YOLO and YOLOv2 models for the Object Detection API.

[2017-08-22 13:41] xinedison opened #2269 "eval.py leak thread we run several times"
Hello tf developer,
   I run object detection module of the models, and just using the origin code. With the evaluation run, the thread number for the evaluation process increase a little after every time of one check point is evaluated. So after several iteration(like 20000 train step ) , the eval.py process were crashed because there is not enough thread for this process to apply. Maybe this pro

[2017-08-22 14:49] Abduoit commented on #1877
Hi @jch1 and @eshirima
I checked this helpful [link](https://stackoverflow.com/questions/44973184/train-tensorflow-object-detection-on-own-dataset/44973203#44973203) but I have question please ?

I have 8 GB GPU memory, I run train.py perfectly
However,
Based on your suggestion, I can not run train.py and eval.py at the same time, for memory reason it fails. So how to do that.
Thx

[2017-08-22 14:54] Abduoit commented on #1936
Hi @deatherving

How to run train.py and eval.py at the same time. I have 8 GB GPU memory, and when run them at the same time it fails because there is no enough memory, train.py takes all the memory

[2017-08-22 14:57] Abduoit commented on #1696
Some people solve this issue by running train.py and eval.py at the same time. I also have tried this suggestion but it fails, cuz there is no enough memory. However, I have 8 GB GPU memory.

[2017-08-22 17:48] skye commented on #2231
I am not very familiar with the object detection model or blog. Can you post the exact instructions for reproducing this problem? (This is also requested in the issue template.)

[2017-08-22 18:05] #2221 closed

[2017-08-22 18:33] wtblue opened #2270 "Object detection API:mutli GPU suport"
I have four gpu on my computer.But I find it too slow when I detect my image .And It only one gpu(gpu:0) is run.Why other gpu can not work.What I need to set ?I want to it can detect more quick.Please help me.Thanks.

[2017-08-23 00:26] andreabc commented on #1907
I had the same error, and after removing small objects (less than 15% of width/height) and making sure normalized bounding boxes were between 0 and 1 I haven't had any problems training so far

[2017-08-23 00:43] Abduoit commented on #1854
Hi @thess24
I want to run `train.py` and `eval.py` at the same time. I am using single GPU with 8 GB memory.

Would you please tell me how to do this ? do u mean modify the line number `275` in file `trainer.py `. what about `eval.py`

Thanks

[2017-08-23 00:58] hanzy123 commented on #2096
Maybe you have the bad training data,In my case, i set the classes_text = 1, classes =1 at the begining and get the error.After i set the classes_text=[1,1,1,...,1] and classes = [1,1,1,...,1] ,It worked!

[2017-08-23 01:48] antiwong commented on #2270
I have the same issue.

[2017-08-23 03:51] shuuchen opened #2271 "Are bboxes resized accordingly to the input images?"
Hi All,

I know that an input image is resized to 300*300 for training according to the .config file.
Are the bboxes inside the image also resized accordingly?
Thanks!

[2017-08-23 05:21] bclyc commented on #1936
@Abduoit
You can set gpu_options when create the session, so that the programme takes only a part of memory:
[code]

[2017-08-23 05:41] shuuchen commented on #1760
@jch1
How about the bbox of the labels inside the images?
Are they resized accordingly?

[2017-08-23 08:18] FiveMaster commented on #2179
@chenyuZha Now the model thatI am training has a great accuracy, maybe we can discuss the problems of your model and I hope I can help you.
Maybe you can describe your problem and your model in more detail.
Look at your name, are you Chinese?

[2017-08-23 09:11] gdelab commented on #1618
I got the same error after adding possible labels to the annotations and label map without changing num_classes in the config file. Changing it seems to have fixed it (it now trains much longer without error at least).

[2017-08-23 11:43] MritLeesin opened #2273 "one question"
I konw it thanks

[2017-08-23 12:13] Abduoit commented on #1936
thanks @bclyc

How to set the gpu_options ?? should I modify the `trainer.py` file how?

[2017-08-23 15:20] ncaadam commented on #1936
@Abduoit I added those lines to the `train.py` file. The first 2 lines in main...

`
def main(_):
  gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.5)
  sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))
  assert FLAGS.train_dir, '`train_dir` is missing.'
  ...
`

[2017-08-23 15:57] Abduoit commented on #1936
Thx @ncaadam

Now, I am running train.py and eval.py simultaneously. However, I am still getting this Warning, I was thinking that I can avoid it by running them at the same time.

`WARNING:root:The following classes have no ground truth examples: 0`

[2017-08-23 16:00] andreabc commented on #1881
I kept having this issue with SSD MobileNet_v1 and after fixing bounding boxes out of range and removing objects that were too small (less than 15% of the image) I have had no issues training so far.
Others had similar issues here [#1907](https://github.com/tensorflow/models/issues/1907)

[2017-08-23 16:05] Abduoit commented on #1877
The solution to run train.py and eval.py at the same time on single gpu is by adding the following lines in the `train.py` file

[code]

This will use 50% of gpu for training process, then run eval.py for the rest of memory

[2017-08-23 16:09] Amr-Sherif commented on #2222
**OS:** Windows 10
**Python Version:** Python 3.5.3 :: Continuum Analytics, Inc.
**Tensorflow Version:**  1.1.0
**Device Used:** CPU

**Code:**
`
image = cv2.imread("C:\\Users\Amr Sherif\PycharmProjects\plate detector\\test\plate (1).jpg")
image_np_expanded = np.expand_dims(image, axis=0)
flags.DEFINE_string('input_type', 'image_tensor', image_np_expanded)
flags.DEFINE_string('pipeline_config_path

[2017-08-23 18:05] esox opened #2274 "Installation guide forgets to mention protobuf when mentioning alternative route"
Hello.

In the installation guide, while the directions following the sentence:

Are correct, the pip "way" is incomplete. It mentions:

`sudo pip install pillow
sudo pip install lxml
sudo pip install jupyter
sudo pip install matplotlib`

Without mentioning that protobuf still needs to be installed (either using apt-get, homebrew or others).  I believe that breaking out the installation of protobu

[2017-08-23 18:22] planetceres commented on #1603
Also seeing same error on:

MacOS Sierra 10.12.6
Tensorflow version 1.3.0
Python: 3.5.4 (also tried 3.6.0)
Anaconda 4.3.22

[code]

[2017-08-23 18:25] huapingchen opened #2275 "warning message when run the object_detection evaluation Job:"
There is a warning information when run the Object_detection Evaluation Job, indicate "Please switch to tf.train.get_global_step", want to know how to handle this issue?

#Env: Centos

#the eval job:
_**python3 object_detection/eval.py --logtostderr --pipeline_config_path=/home/tf_training/obj_work/models/model/faster_rcnn_resnet101_pets.config --checkpoint_dir=/home/tf_training/obj_work/models/mo

[2017-08-23 19:13] dat-ai commented on #2267
I would like to contribute, too. Would you like to work together, @VastoLorde95 ? I have recently successfully ported YOLOv2 608x608 in C into Keras.

However, it is ideal to quantize the model for mobile applications, which Keras does not support yet.

Please let me know :)

[2017-08-23 19:32] ncaadam commented on #2266
How are you determining the completion of the evaluation? By default, the evaluation step will run forever unless specified. Are you seeing evaluation results on tensorboard as it runs?

[2017-08-23 19:36] ncaadam commented on #2225
By default, the `eval` script runs forever. You'll need to define `max_evals` in your eval proto in your train config proto.

[2017-08-23 21:17] planetceres commented on #1603
I found this worked after updating tensorflow in the root environment. The Anaconda kernel showed tensorflow `1.3.0`, but the root environment was at `1.0.1`.

The tutorial apparently needs tensorflow >= `1.2.0`.

[2017-08-23 21:55] mthd98 opened #2277 "ImportError: cannot import name 'label_map_util'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-08-23 22:39] minhnhat93 opened #2278 "Object Detection: More than 3 depth channels for input images"
Hello,
I am working on an object detection project and would like to use the RGB background images as addtional data for the object detector. Specially, I would like to stack backgrounds and images into a 4D tensor with 6 depth channels. However, when I looked at the file exporter.py, only 3 depth channels is allowed for image_tensor. Is there any plan to support more than 3 depth channels for inp

[2017-08-24 02:10] deatherving commented on #1936
@Abduoit This warning is fine. It means that your training set has no samples of class 0 as you referred it in the pbtxt file. I think you are not running current version of object detection. Update the git repository and you'll find that the code has forbidden class 0 (usually class 0 is the background id in the old version).

[2017-08-24 03:05] micklexqg commented on #1497
same puzzled

[2017-08-24 03:32] liuquande commented on #1570
When I upgrade protobuf to the latest version 3.4.0, I still have the same problem.
[code]

[2017-08-24 07:31] CassieMai commented on #2266
Thank you @ncaadam. I printed some evaluation metric variables out on screen. The evaluation was stopped automatically after these variables were printed. I just watched results on tensorboard without running evaluation command. So do I need to run evaluation command and tensorboard at the same time?
And I find that in my tensorboard there are no demo images. How I can get demo images in tensorboa

[2017-08-24 08:17] VastoLorde95 commented on #2267
I am actually already working on this with a couple of other folks and we are close to finishing it, but we would be happy to work with you on some other cool features in the future :)

[2017-08-24 09:29] CassieMai commented on #2266
@ncaadam Oh, I added max_evals=10 in eval_config. Does max_evals mean the number of evaluating「all the test images」?

[2017-08-24 09:55] liuquande commented on #2246
@y649950268 I meet the problem too, have you fix it?

[2017-08-24 10:16] mees commented on #2240
As mentioned in the PR, please add the fix flags.DEFINE_string('master', '', '') in eval_rotator.py to fix and close this issue.

[2017-08-24 10:42] vaibhav0195 opened #2281 "input placeholder single image inception"
Hey i trained the inception model by using bazel as given in the tutorial. and created the checkpoints and frozen graph for it. But i need to put an input holder in it so that i can process single images . But when i try to do it it is showing me errors . Any help on how to do it will be appreciated thanks.

[2017-08-24 11:33] mees commented on #2239
@xcyan  @arkanath can you reproduce this bug? I was checking but can't find no API changes for tf.metrics.mean_iou
tf 1.3: https://www.tensorflow.org/api_docs/python/tf/metrics/mean_iou
tf 1.0 https://www.tensorflow.org/versions/r1.0/api_docs/python/tf/metrics/mean_iou
and in the code there is no change too:
https://github.com/tensorflow/tensorflow/blame/master/tensorflow/python/ops/metrics_impl.p

[2017-08-24 13:42] Xiyor commented on #1462
yes, I had the same confusion as @rylanchiu , when learning textsum codes. So, What is the conclusion on its bucket mechanism?

[2017-08-24 14:07] emsansone commented on #1858
@Chaoscendence Which release of Tensorflow are you using? I guess it is because of the new release of Tensorflow, where [GFile](https://www.tensorflow.org/api_docs/python/tf/gfile/GFile) is now returning strings.

[2017-08-24 14:34] mees commented on #2239
I found the bug, created a PR to fix it

[2017-08-24 14:58] rafalfirlejczyk opened #2283 "How to convert .meta, .data and .index model files into one graph.pb file?"
In tensorflow the training from the scratch produced following files 6 files:

1.  events.out.tfevents.1503494436.06L7-BRM738
2. model.ckpt-22480.meta
3. checkpoint
4. model.ckpt-22480.data-00000-of-00001
5. model.ckpt-22480.index
6. graph.pbtxt.

I would like to convert them (or only the needed ones) into one file graph.pb to be able to transfer it to my Android application. I tried the **script

[2017-08-24 15:19] Abduoit commented on #1936
@deatherving
I did train.py and eval.py, the total-loss and mAP are look good. However, when I test the output file (after convert it to `.pb`) in `object_detection_tutorial.ipynb`, I cant detect any thing. I think I am mistaken somewhere in generating TFRecords. I am still confused about `/models/object_detection/VOCdevkit/VOC2012/ImageSets/Main`. How deal with the files inside the `/Main `direct

[2017-08-24 15:46] StephaneZFR commented on #816
Hi,
I am stuck with this problem too and I cannot find a clear answer about this error :
`AssertionError: softmax is not in graph.`
I fine-tuned im2txt model and obtained the ckpt.data, ckpt.index and ckpt.meta files and a graph.pbtxt file. The model produces correct captions. Now I would also like to freeze this model to use it on android.

I tested the code in [https://blog.metaflow.fr/tensorflo

[2017-08-24 16:10] kmonachopoulos commented on #1564
@StanislawAntol can you be more precise on the process you follow ?

[2017-08-24 16:16] StanislawAntol commented on #1564
@kmonachopoulos, I'm not sure how much more precise I can be than [the gist](https://gist.github.com/StanislawAntol/656e3afe2d43864bb410d71e1c5789c1#file-freeze_mobilenet-py) posted above. You just need to edit it to have the `models` git repo and then run it.

[2017-08-24 16:20] kmonachopoulos commented on #1564
Sorry, it was just a path error I missed, it is working, thanks

[2017-08-24 16:28] dat-ai commented on #2267
@VastoLorde95 cool, I am looking forward to seeing your work :). Also, one cool feature is to integrate Hierarchical Soft-Max Tree into the model (discussed at [YOLO9000](https://arxiv.org/abs/1612.08242)). The idea is to not do soft-max on the whole feature vector, but rather on each subcategory.

[2017-08-24 16:29] StanislawAntol commented on #1564
@kmonachopoulos, no worries. I guess I technically updated the code and hadn't editet the comment to reflect this. It's fixed now to be clearer.

[2017-08-24 16:41] StephaneZFR commented on #2283
Hi,
I am currently facing the same problems and questions but if I understood correctly, I think you can try something like this (with the freeze_graph script in tensorflow/python/tools) :
`python freeze_graph.py --input_graph=/path/to/graph.pbtxt --input_checkpoint=/path/to/model.ckpt-22480 --input_binary=false --output_graph=/path/to/frozen_graph.pb --output_node_names="the nodes that you want t

[2017-08-24 20:30] eshirima commented on #1936
@Abduoit are your mAP graphs converging in all of your classes? Don't just rely on the decreasing of total loss and increasing of mAP. Confirm that all of your classes' mAP have _taken off_ and are converging. During my training, I used to make model backups every 15-20 minutes and test them out in fear of overfitting.

Regarding,
`/models/object_detection/VOCdevkit/VOC2012/ImageSets/Main`

I thin

[2017-08-24 21:02] rafalfirlejczyk commented on #2283
Thank you Stephane

Since all files including the script file are in the same folder I tried a following command:

**python freeze_graph.py --input_graph=graph.pbtxt --input_checkpoint=model.ckpt-22480 --input_binary=false --output_graph=frozen_graph.pb --output_node_names=softmax**

The script started but I got after a minute an error:
**AssertionError: softmax is not in graph**

what make a sens

[2017-08-25 01:31] HUSTLX opened #2285 "why I only get 77.4 when training inception-resnet-v2 using the following config"
python train_image_classifier.py  \
       --train_dir=${TRAIN_DIR} \
        --dataset_name=imagenet \
         --dataset_split_name=train \
        --dataset_dir=${DATASET_DIR} \
         --model_name=inception_resnet_v2 \
         --weight_decay=0.00004 \
        --optimizer=rmsprop \
         --num_clones=8 \
        --num_preprocess_threads=8 \
        --opt_epsilon=1.0 \
         --num_reade

[2017-08-25 03:05] Abduoit commented on #1936
@eshirima thax for your patience

I realized that I am mistaken in generating TFRecords files, I will explain what I did,

I placed my images and annotations, and I prepared the files in directory `/Main` to be like this `raccoon_train.txt`, `raccoon_val.txt`, and `raccoon_trainval.txt`. All my own images contain the classname that I want to detect which is `raccoon`. Therefore, the file `raccoon_

[2017-08-25 06:23] philipwan opened #2286 "About compression_image_encoder model"
When I transfer residual_gru.pb into  the version I needed, I found that the conv2D cannot   work(filter's  size is different in cpu and my server) ,the progress was dead.  Would  you mind provide the codes of residual_gru.pb or just some network structor,I really want to change some codes to meet my expection
@nmjohn  thanks!

[2017-08-25 07:11] StephaneZFR commented on #2283
Honestly, I mainly followed the tutorial in [https://github.com/tensorflow/models/blob/master/slim/export_inference_graph.py](url) and applied the given commands.
As indicated, to obtain the names of the tensors, you can use the summarize_graph script which can take the pb or the pbtxt as an input.
Sorry, but as I am a beginner in Tensorflow, I may not be really more helpful.

Regards,
Stephane

[2017-08-25 07:36] ekcheng commented on #1752
Hi @jch1, aside from NMS score, can you elaborate on what other parameters I can tune to improve running time?

Just tested the faster_rcnn_resnet101_coco model, and it's not quite fast enough out-of-the-box for my application.

Thanks!

[2017-08-25 09:21] ideaplat commented on #2270
i have the same issue too.

[2017-08-25 13:10] qiushi223 opened #2288 "TF-Slim can't exclude variables when import data from checkpoint files"
I exclude variables that don't exist in the checkpoint file by using the he func

          variables_to_restore = slim.get_variables_to_restore(exclude=exclude_set)

these variables come from slim.train.MomentumOptimizer() which include  '../momentum:0' in name.But the program seems to still try to find them in the checkpoint.This really confusing me. Anyone can help me?

The link of stackoverflo

[2017-08-25 13:17] eshirima commented on #1936
@Abduoit The error is telling you that it can't find the image _raccoon-1.png_ in the path _object_detection/VOCdevkit/images/JPEGImages/_.

But according to your structure, your images are inside _object_detection/VOCdevkit/VOC2012/JPEGImages/_. See the problem? :wink:

[2017-08-25 13:58] hxsnow10 commented on #2200
@reedwm  I'm sure i have enough memory: i have 120G memory and 170G swap, the program dumps far from memory ran out.  Can you kindly give me some help as i can't solve this level problem. Have you ever successflly run this with big data?

**infact, the Init func of SkipgramWord2vecOp successfully finishes, where i've manually checked . _But it raise segfault when return result to python._**
[code]

[2017-08-25 15:09] Abduoit commented on #1936
@eshirima
In order to check the image's path, I used `vim classname.xml` and I found out that the file `.xml` has wrong path, although I placed the annotations and images in correct directory. For some reasons the files `.xml` that I used from this [link](https://github.com/datitran/raccoon_dataset) have wrong paths. Any way, I re-annotate the images again with correct path (I used my own annotati

[2017-08-25 18:43] reedwm commented on #2200
Can you find the maximum data size that works without segfaulting? Returning the result to Python may use more memory which can cause the segfault.

[2017-08-25 19:38] protossw512 commented on #2278
I would like to upvote for this feature. I have similar situation. My training data includes RGB channel, near near infrared  channel and thermal channel images (5 channels). Right now I am converting RGB to gray and combine them into 3 channel images. It works fine but if would be great if we can modify and retrain the first convolution layer.

[2017-08-25 23:08] skulhare commented on #2231
Hi,
I am running into the same problem.
I am following this link https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_locally.md
to retrain the object detection model. I downloaded "rfcn_resnet101_coco" from [here](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md), which gave me four files:
-frozen_inference_graph.pb
-graph.p

[2017-08-26 09:09] hxsnow10 commented on #2200
@reedwm  i have approximately give 12 G zh_wiki works, but 14G segfault, as before.
then how to use the maximum data size to **locate problem and solve it?**

Do you konw any similar problem segfault when return bigdata lieing in **tensorflow REGISTER_OP**, so i can try to solve it?

[2017-08-26 11:19] awankuma commented on #1591
I got same problem, solved by rerunning
export PYTHONPATH=$PYTHONPATH:'pwd':'pwd'/slim

Problem: single quote used for pwd was in some special character, type it after deleting from keyboard.

[2017-08-26 18:31] drorhilman commented on #1972
by just changing  num_clones=2 I have two GPU running, with about 50% speed increase, (on azure K60 GPUs)

[2017-08-26 19:28] dat-ai commented on #1962
I ran into the same error.

Steps to resolve:
1. Read the (`installation`)[https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md] instruction.
2. Before executing `model_builder_test.py`,  you need to compile proto files as following:
[code]

[2017-08-26 21:18] balansky commented on #2087
You can assign input_path such as "YOUR_TFREOCRDS/train_*.tfrecords"

[2017-08-27 00:57] ykhedar opened #2289 "Error in ReadMe for exporting_models.md"
In the example command in the readme file at [https://github.com/tensorflow/models/blob/master/object_detection/g3doc/exporting_models.md](url)
`
    python object_detection/export_inference_graph \
    --input_type image_tensor \
    --pipeline_config_path ${PIPELINE_CONFIG_PATH} \
    --checkpoint_path model.ckpt-${CHECKPOINT_NUMBER} \
    --inference_graph_path output_inference_graph.pb`

**exp

[2017-08-27 02:33] skpenn commented on #1403
@catfalls met the same problem and solved by your given changes

[2017-08-27 04:10] ghostrickk opened #2290 "ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
Hi! I just installed Tensorflow GPU using anaconda. I use Windows 10 OS and Nvidia GTX1070 GPU. Help please? When I try to run this program:

import tensorflow as tf
hello = tf.constant('Hello, Tensorflow!')
sess = tf.Session()
print(sess.run(hello))

the following error messages appear:

runfile('D:/College/4th Year 3rd Term/Computer Vision/tensorflow test.py', wdir='D:/College/4th Year 3rd Term/

[2017-08-27 04:30] tea321000 opened #2291 "Object detection API:how to print classes name and predicted score?"
I have already used [object_detection_tutorial.ipynb](https://github.com/tensorflow/models/blob/master/object_detection/object_detection_tutorial.ipynb) to display image with classes name and predicted score,but I want to print them directly.I can't find relevant variables in the tutorial code,how can I get classes name and predicted score?

[2017-08-27 08:20] pkdogcom opened #2292 "Exporting inference graph leads to lower performance in object detection"
I have been working on a custom object detection dataset and both training and evaluation have been working as expected. However, when I export the latest checkpoint as a frozen inference graph and rerun evaluation using the exact same API from eval_util in object detection module, the mAP is much lower than (0.43 vs 0.5) the reported mAP on tensorboard during training/evaluation. What will be the

[2017-08-27 14:20] j2233ack commented on #1429
@DaveyTao I am trying to generate a Chinese capitions as you are.
Do you have a success, or can you teach me?

[2017-08-27 16:15] yoobright commented on #2266
yes, it is

[2017-08-28 01:32] yinguobing commented on #2289
It works for me, with TensorFlow 1.3.
The original command would raise error like:
```AssertionError: `trained_checkpoint_prefix` is missing```

[2017-08-28 03:10] minhnhat93 commented on #2278
@protossw512 I have found a wait to modify the code to allow more than 3 channels. I can write a tutorial on this if you need.
Also, can send a pull request for this?

[2017-08-28 03:24] shamanez commented on #2278
If you want to input a different channel image you have to change the whole feature extractor . Then the problem is you can't do transfer learning .So how do you gonna train ? Train from the scratch ?

[2017-08-28 03:25] shamanez opened #2293 "Object Detection Feature : Is there are way to freeze the weights of feature extractor and only train the score layers ?"
Can you add a flag to configuration file ?

[2017-08-28 03:29] fastlater commented on #2215
Any update? I am having the same problem.

**tensorflow.python.framework.errors_impl.NotFoundError: NewRandomAccessFile failed to Create/Open: ssd_mobilenet_v1_pets.config**

[2017-08-28 03:31] fastlater commented on #2246
@y649950268  @liuquande Same problem too. Have you fix it?

[2017-08-28 03:48] shamanez commented on #2201
Yeah I was talking about can't we add the [this ](https://www.tensorflow.org/performance/quantization)  to export_inference_graph script . It will be easier just a flag .

[2017-08-28 07:03] ucaslyc commented on #1050
@ebrevdo Using tensorflow 1.3, I still got the error like Vimos described above. It seems that it hasn't been fixed in TF 1.3. Or could you please tell me where the bug is?

[2017-08-28 07:08] protossw512 commented on #2278
@minhnhat93  It would be greate if you could write a tutorial!
@shamanez Actually, not really. You only need to do some modification for first convolution layer, adding random initialized weights for extra channels and keep all weights for the rest. It is true that the original cnn is trained with RGB images, but the weights are still quiet useful even if you want to train on other kinds of images

[2017-08-28 07:30] liuquande commented on #2246
@fastlater Yah, I have fixed it. I think you disk memory is not enough.

[2017-08-28 08:39] vishalghor commented on #1760
Hi all,

I tried retraining ssd_Mobilenet using the python script in tensorflow at tensorflow/examples/image_retrain/retrain.py with architecture as Mobinet as specified in the script.
The script ran successfully and the logs showed around 88% accuracy on my custom dataset.
But for inferencing using the script at tensorflow/examples/label_image/label_image.py with arguments as the specfied in retr

[2017-08-28 08:41] sczhengyabin commented on #2066
@irmowan Does the extra data augmentation steps works better?

[2017-08-28 09:02] anthnyprschka commented on #1515
Training with the toy data will give you no useful results. One reason for this is that the toy vocabulary only consists of ~10k words, which will render many out-of-vocabulary words in the toy dataset to be substituted by <UNK> tokens

[2017-08-28 09:50] lovekesh-thakur commented on #1715
I am getting 75 FPS with Two GPUS 1080Ti. I expected much more performance than this. Tiny-yolo on single GPU is giving us 200 FPS. Can anyone confirm having the same observations that i have ?
Thanks

[2017-08-28 13:23] shamanez commented on #2278
So you will initialize it as we initialize the score layers or box predictors . But isn't that making every thing messy ?

[2017-08-28 14:25] mschinzvende commented on #2031
@DanMossa  which solution did you use to fix that error message?

[2017-08-28 15:06] drpngx commented on #1823
Sorry, MacOS is a bit tricky to support. You're basically on your own there. The stack trace just says you don't have a GPU available. You can build from sources and look at the output. It should print messages about detected GPU devices.

[code]

[2017-08-28 16:52] cuchemist opened #2301 "Memory error when initializing Xception using Keras"
I am having difficulty implementing the pre-trained Xception model for binary classification over new set of classes. The model is successfully returned from the following function:

	#adapted from:
	#https://github.com/fchollet/keras/issues/4465

	from keras.applications.xception import Xception
	from keras.layers import Input, Flatten, Dense
	from keras.models import Model

	def get_xception(in_

[2017-08-28 17:29] michaelisard commented on #2266
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:29] #2266 closed

[2017-08-28 17:30] michaelisard commented on #2270
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:30] #2270 closed

[2017-08-28 17:32] michaelisard commented on #2278
This discussion is better held on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since at this point it is not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:32] #2278 closed

[2017-08-28 17:33] michaelisard commented on #2286
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:33] #2286 closed

[2017-08-28 17:35] michaelisard commented on #2288
I think leaving this discussion on stackoverflow makes sense. Thanks!

[2017-08-28 17:35] #2288 closed

[2017-08-28 17:36] michaelisard commented on #2292
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:36] #2292 closed

[2017-08-28 17:57] martinwicke commented on #2290
Can you please fill out the issue template completely and open a new issue?

[2017-08-28 17:57] #2290 closed

[2017-08-28 18:36] #1741 closed

[2017-08-28 18:36] terrydl commented on #1741
Close this issue as it's resolved.

[2017-08-28 19:17] suharshs commented on #2201
For now I don't think we want this to be a default flag in the export_inference_graph script because quantization hasn't been tested with that model yet. So, for now, please relying on using the graph_transform tool for quantization.

The script does output a frozen graph so the graph_transform tool should be able to make arbitrary post-export changes. We should probably err towards not adding all

[2017-08-28 19:17] #2201 closed

[2017-08-28 21:41] pankajkgupta commented on #202
Hi all,
This seems to have been solved by @bmzhao but I am still getting the error.
I tried solution by @danielschonfeld but that does not seem to work either.

I am using bazel on a docker container.

After setting the DATA_DIR-
`root@0047d9668d34:/data/workspace/models/inception# DATA_DIR=/data/imagenet-data`

I run the following command-
`root@0047d9668d34:/data/workspace/models/inception# baze

[2017-08-29 05:13] fastlater commented on #2289
With TF1.3 in windows 7, when I run the script, the output file has no extension.
Do you know why? @yinguobing @ykhedar

[2017-08-29 06:29] ChongWeiSu commented on #2289
It also works for me:

* original cmd from README
$ python object_detection/export_inference_graph.py \

Traceback (most recent call last):
  File "object_detection/export_inference_graph.py", line 106, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "object

[2017-08-29 07:33] vitutc commented on #1988
@asimshankar @jch1 @lionel92
I am also facing this same issue following the base tutorials and the provided "export_inference_graph.py" funtion. If the graph is frozen, is there a way to unfreeze it?

Can't find help anywhere, any advice is greatly appreciated!

[2017-08-29 07:35] RobinBaumann commented on #2225
@ncaadam so there is no output during the evaluation? The script ran during my lunch break (which was like  45 mins) and there still was no output. And when I look at some code in the eval_util.py I can see
 logging information that do not get displayed in my Terminal.

[2017-08-29 07:41] lionel92 commented on #1988
@vitutc  There is a simple way to solve this problem. Just modify the function "_write_saved_model" in "exporter.py"  like this, using the default graph which is already loaded into the global environment instead of generating a frozen one. Don't forget to modify the caller's arguments.
[code]

[2017-08-29 07:43] failedmath commented on #2225
Have you tried with like 5 images? You have to change eval_config, and see them in Tensorboard. Then wait till the new checkpoint appears. The eval.py takes apriori the last checkpoint in training and then as described before checks every 300 seconds if there is a new model saved. If you run evaluation after the training, it will hang because it will wait for the next checkpoint.

[2017-08-29 07:51] vitutc commented on #1988
@lionel92
THANK YOU SO MUCH! A little detail but so hard for me as a beginner to piece together. I hope this helps other people as well! =D

[2017-08-29 08:05] philipwan commented on #2286
Thx for your advice

[2017-08-29 08:29] irmowan commented on #2066
@sczhengyabin For my experiments, the improvement of performance with distort color steps is minimal, just FYI.

[2017-08-29 08:31] RobinBaumann commented on #2225
Oh I understand it now.  So I have to run the eval and train parallel to get a continuous evaluation. The problem I have with this, is that my CUDA crashes because it runs out of GPU memory. I have decreased the size of the test from 20% to 5%, but it still crashes.

@failedmath  what exactly does the `num_examples` parameter? Does it randomly pick the specified amount of images from the test.tfre

[2017-08-29 08:44] failedmath commented on #2225
@RobinBaumann I run eval on my CPU, so it does not crash. For 10 images the config is:

eval_config: {
  num_examples: 10
  num_visualizations: 10
  eval_interval_secs: 120
}

And the tfrecord file should be then created just from 10 images.

[2017-08-29 08:59] Chaoscendence commented on #1858
@emsansone  Python 3.5.2(Anaconda)

[2017-08-29 09:34] RobinBaumann commented on #2225
Okay thank you! This approach works for me.

I think it would be useful to add one or two sentences to the documentation or some additional logging information to the evaluation script, just in case someone else struggles on the same problem. I have seen some prior issues that mentioned similar problems.

[2017-08-29 10:00] skpenn commented on #1403
The above changes don't work for me. It brings new bugs to the model. My solution is

At around line 189 in data.py:

[code]

At last line in data.py:
[code]

[2017-08-29 11:20] SelaOr opened #2304 "eval process stopped before training process has finished"
Hi,
I was training SSD + mobilenet with my 500~ images dataset (eval images = 10% of the dataset).
I ran training and then eval processes using gcloud.
The training process took 7 hours and the eval process took only 45 min.
Running tensorflow showed that loss graph for all the steps (200K)
but precision (from eval process) only up to 45K steps.
Why would that happen? How can I measure the precisi

[2017-08-29 12:13] YoungDav opened #2305 "train faster rcnn and can't load pre-train model"
I want to use faster_rcnn_inception_resnet to train my dataset.
So I change the fine_tune_checkpoint path in /models/samples/configs/faster_rcnn_inception_resnet_v2_atrous_pets.config
and I count error that graph can not match pre-train model :
Not found: Key SecondStageFeatureExtractor/InceptionResnetV2......
and i can train my data by ssd_mobilenet supported by tensorflow

[2017-08-29 12:37] BelvedereHenrique commented on #1811
@balasan  Did you manage to fix it?

[2017-08-29 13:20] jollysean commented on #2034
I am facing same similar issue. Any help please?

`ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[18816,20000]
         [[Node: logits/MatMul = MatMul[T=DT_FLOAT, transpose_a=false, transpose_b=false, _device="/job:localhost/replica:0/task:0/gpu:0"](Reshape, logits/weights/read)]]
         [[Node: Adam/update/_962 = _Recv[client_terminated=false, recv_devic

[2017-08-29 15:36] kaishijeng opened #2306 "mobilenetssd and focal loss"
Has any one tried focal loss with mobilenet-ssd to improve object detection performance?

Thanks,

[2017-08-29 16:00] michaelisard commented on #2304
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-29 16:00] #2304 closed

[2017-08-29 16:00] michaelisard commented on #2306
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-29 16:00] #2306 closed

[2017-08-29 16:21] derekjchow commented on #2034
@jollysean could you describe your dataset? As mentioned, we recommend pre-shrinking very large images.

[2017-08-29 16:46] eshirima commented on #2291
@tea321000 The same tutorial you referenced has a section titled Detection in bold. The second code fragment consists of variables called `scores` and `classes` which hold the data that you want.

The tutorials are meant to help you learn as well. Read the entire documentation.

[2017-08-29 17:46] balasan commented on #1811
@BelvedereHenrique no, ended up giving up trying to run these on ML Engine for now :\

[2017-08-29 18:01] jollysean commented on #2034
I am training bookcorpus using skip-thought vectors model. For this i reduced the dimensionality to suite my needs.

[2017-08-29 18:15] minhgl96 commented on #1915
Hi @StevenLOL, I got the same problem as you and I solved it by rewriting the part of the code that computes the loss as follows:
`loss = -tf.reduce_mean(labels * tf.log(predictions + 1e-12) + (1.0 - labels) * tf.log(1 - predictions + 1e-12))`
I think the error occurs when 'predictions' has some entries equal to zero, so I added a tiny constant to avoid it.
PS:
By the way, I tried to solve it as f

[2017-08-29 21:25] skulhare commented on #2231
Just giving the path : fine_tune_checkpoint=file_path/model.ckpt, worked for me.

[2017-08-29 21:57] yixinshi commented on #1811
@balasan , sorry to head that. Have you tried the newest version: https://github.com/tensorflow/models/tree/master/object_detection? Did you use TF 1.2? If it doesn't help, would you share the complete command line you export the model?

[2017-08-29 23:44] balasan commented on #1811
@yixinshi  Using TF 1.2.1 and latest version of object_detection repo
this is the command i'm running from the /object_detection/test directory

[code]

[2017-08-30 00:00] yixinshi commented on #1811
A check point typically includes multiple files. E.g.
model.ckpt-3485.data-00000-of-00001
model.ckpt-3485.index
model.ckpt-3485.meta

We should specify model.ckpt-3485 for the trained_checkpoint_prefix flag. Can you take a look at the files and give another try?

[2017-08-30 01:28] mtourne commented on #1817
Only 8GB or ram here.

I haven't tried resizing the images yet, but I imagine resizing them all to the dimension specified in the image_resizer part of the model would do the trick. In my scenario :

[code]

I've been playing with very low settings for the queue

[code]
Would there be any side effects of doing that ? (besides the ability to shuffle the training samples).

[2017-08-30 01:48] balasan commented on #1811
I'm using the checkpoint files downloaded directly here (without any additional training): https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md

the files i have are

model.ckpt.data-00000-of-00001
model.ckpt.index
model.ckpt.meta

btw, I was able to generate a savedModel using just the frozen_inference_graph.pb file (via some converter code) but that ende

[2017-08-30 02:54] xxxzhi commented on #2239
@mees The problem is due to this change :
https://github.com/tensorflow/tensorflow/blame/d932b22458a002d4921b454cd6d1bc6a4806ee23/tensorflow/python/ops/confusion_matrix.py

line 172

[2017-08-30 03:33] xcyan commented on #2239
I didn't see any related changes in line 172. What do you mean?

[2017-08-30 06:01] vitutc commented on #2153
I am also having a similar issue in which my model (ssd with Mobilenetv1) fails to predit on the ML-Engine with error:

{
  "error": "Prediction failed: Exception during model execution: AbortionError(code=StatusCode.INVALID_ARGUMENT, details=\"NodeDef mentions attr 'data_format' not in Op<name=DepthwiseConv2dNative; signature=input:T, filter:T -> output:T; attr=T:type,allowed=[DT_FLOAT, DT_DOUBLE

[2017-08-30 08:06] rajvi3105 commented on #2231
hi skulhae,

Which tensorflow version and OS are you using?

I already set the fine_tune_checkpoint = ${path_to_model.ckpt} not worked for me :(

[2017-08-30 11:49] rakashi opened #2310 "RuntimeError: Coordinator stopped with threads still running: Thread-25 in textsum module"
Traceback (most recent call last):
  File "seq2seq_attention.py", line 216, in <module>
    tf.app.run()
  File "/home/sysadmin/anaconda2/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "seq2seq_attention.py", line 199, in main
    _Train(model, batcher)
  File "seq2seq_attention.py", line 117, in _Train

[2017-08-30 12:39] xinedison commented on #2269
We found this is caused by thread leak by a early version of tf.summary.writer when it close.

[2017-08-30 13:03] #2269 closed

[2017-08-30 13:23] ArjanSchouten commented on #1817
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.

[2017-08-30 13:38] chansekar opened #2312 "InvalidArgumentError: indices[0] = 0 is not in [0, 0) + Caught OutOfRangeError. Stopping Training"
Hi Guys,

When i try to train the model, i get the below error.

[[Node: prefetch_queue_Dequeue = QueueDequeueV2[component_types=[DT_STRING, DT_STRING, DT_INT32, DT_INT32, DT_INT64, DT_INT32, DT_INT64, DT_INT32, DT_INT32, DT_STRING, DT_BOOL, DT_INT32, DT_FLOAT, DT_INT32, DT_INT32, DT_INT32, DT_INT32, DT_INT64, DT_FLOAT, DT_INT32, DT_BOOL, DT_FLOAT], timeout_ms=-1, _device="/job:localhost/replica:0

[2017-08-30 16:24] tfboyd commented on #2285
I believe batch_size is total batch size.  change the batch-size to 8*32 and you should see a boost.  I have not tested SLIM on P100s (similar to P40) but this change should help a little.

[2017-08-30 16:27] tfboyd commented on #2257
As of TF 1.0 CUDA 8 is the default.  I am surprised if many of the examples work with TF pre 1.0.  I understand you may have compiled from source.  Either way I strongly and kindly suggest CUDA 8 and cuDNN 5.1 until TF 1.3 and then cuDNN 6.0 for TF 1.3 forward.  We will move to cuDNN 7.0 very soon for the default builds.  Closing.

[2017-08-30 16:27] #2257 closed

[2017-08-30 16:46] skulhare commented on #2231
I am using TensorFlow version 1.3.0 on Ubuntu 16.04 with cudnn5.1.

[2017-08-30 17:53] sukumar45 commented on #2246
i have the same problem,
PS D:\Python experiments\project\Object_Detection\models-master\object_detection> python .\train.py --logtostderr --trai
n_dir = training/ --pipeline_cnfig_path=training/ssd_mobilenet_v1_pets.config
Traceback (most recent call last):
  File ".\train.py", line 198, in <module>
    tf.app.run()
  File "C:\Users\sukum\Anaconda3\lib\site-packages\tensorflow\python\platform\app

[2017-08-30 17:57] emsansone commented on #1858
@nealwu Reading in bytes mode seems to work also for older versions! Probably, it works also for [Python 3.6](https://github.com/tensorflow/models/pull/1922), but I haven't checked yet

[2017-08-30 18:21] Supersak80 commented on #2278
@minhnhat93 have you written a tutorial on how to do this? I'm very interested.

[2017-08-30 18:25] minhnhat93 commented on #2278
@Supersak80 Sorry. I've been extremely busy in the last few days. Will try to write one by the end of this week and post it here once I finished.

[2017-08-30 21:28] nealwu commented on #1858
Great -- if this is a general improvement and doesn't break previous versions, we should get it in as a pull request.

[2017-08-30 22:53] bis-carbon opened #2315 "Accuracy difference on phone and PC"
Hello everyone,
I have a question. Which is I used MobileNets for classification purpose and implemented it on android and PC, the problem is I get different prediction values on android and PC (linux) for the same picture and model. The difference is magnitude of 5% on average.
What can cause this difference ?
Is it because of the different decoding technique used on phone and PC?

I check the in

[2017-08-31 00:03] xcyan commented on #2197
@skye Can you merge the PR submitted by @mees? We have verified it already. Thank you!

[2017-08-31 00:09] yixinshi commented on #1811
@balasan the config needs to change a bit: can you change the num_of_classes from 37 to 90? The reason is the pets vs coco configs aren't exactly the same since they predict a different number of classes. We will update the configs soon. Sorry for the confusion. Let me know if you can correctly export the model now and if you can deploy it to the Cloud ML engine.

[2017-08-31 00:20] xcyan commented on #2221
@mees @arkanath @skye I tried to move the tf.summary inside tf.cond but ran into this issue:
https://github.com/tensorflow/tensorflow/issues/10059

I don't have a better solution for now.

[2017-08-31 00:40] balasan commented on #1811
@yixinshi That did the trick! Thanks!
Was able to export savedModel successfully, will try deploying a little later

[2017-08-31 06:24] vitutc commented on #1714
Hi I'm having a similar problem with TensorFlow 1.3 in MacOS installed via Pip:

Not sure what I should do since I cannot upgrade...

https://stackoverflow.com/questions/45953344/getting-error-on-ml-engine-predict-but-local-predict-works-fine

[2017-08-31 07:58] dmxj opened #2316 "Can I get the offical train-finished model of im2txt model for a test？"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-08-31 09:34] vinnitu commented on #967
gggggggjsjsjsjjjпривет

[2017-08-31 10:26] rakashi commented on #2310
Hai, i just resolved this issue with just removing sv.stop() in your seq2seq_attention.py file and try it again it will work

[2017-08-31 10:31] WangLianChen commented on #1845
more than 4-classes it can work？

[2017-08-31 11:12] ManojB18 commented on #2015
Is this possible now? I am looking for a way to pre-load the models in memory so that I can use them for multiple sentences without having to load the models again and again.

[2017-08-31 17:24] emsansone commented on #1858
@nealwu since this is not my contribution, @Chaoscendence should make the pull request. What do you think?

[2017-09-01 01:51] sukumar45 commented on #2222
in exporter.py
with session.Session() as sess:
      saver = saver_lib.Saver(saver_def=input_saver_def)
                              ##save_relative_paths=True)

commenting that **save_relative_paths=True** works for me.

I am using WINDOWS 10

TensorFLow 1.1.0

Anaconda/Python 3.5

[2017-09-01 03:14] YiHuang2015 commented on #1403
Once I run demon at step 7 getting this issue. Could you kindly help here how to fix ?

label_map = label_map_util.load_labelmap(PATH_TO_LABELS)
categories = label_map_util.convert_label_map_to_categories(label_map, max_num_classes=NUM_CLASSES, use_display_name=True)
category_index = label_map_util.create_category_index(categories)

=================================================================

[2017-09-01 03:17] YiHuang2015 commented on #1403
Could I know how can I fix this issue?
<img width="1135" alt="2017-08-31 18 00 53" src="https://user-images.githubusercontent.com/12249938/29954000-12239286-8f07-11e7-9886-f62c6866b483.png">

[2017-09-01 04:48] SandeepSreenivasan opened #2320 "Getting training and validation accuracy for object detection"
Can anyone tell me how to get the training and validation accuracy for objection detection model. When I run the train.py and eval.py scripts loss is getting printed but how to get the accuracy values?

[2017-09-01 04:52] szymonk92 commented on #1696
I built TensorFlow from source and I still have this same problem. On both computers.  I can see the evaluation results (images) after few seconds but terminal is frozen for an hour.

Any ideas? Can I force close the terminal?

I would like to run training and evaluation at this same time, however my computer (GPU 12GB ) doesn't have enough memory to run them simultaneously using Faster RCNN with

[2017-09-01 05:42] ashakodali commented on #2310
Hi, I resolved this issue myself
 In seq2seq_attention.py script remove sv.stop() line in code and rerun the code it will work

[2017-09-01 08:01] SandeepSreenivasan commented on #2271
In my knowledge the model draws the bounding box, having the resized image as input to the model.

[2017-09-01 08:04] #2271 closed

[2017-09-01 08:34] ArjanSchouten commented on #2320
Better ask on Stackoverflow!

You can use tensorboard for that.
Run ```tensorboard --logdir=results```

Start train.py: ```python train.py --train_dir=results/checkpoints ...```
Start eval.py: ```python eval.py --eval_dir=results/eval ...```

[2017-09-01 08:50] jayshah19949596 opened #2322 "Error importing string_int_label_map_pb2"
When I run the object_detection_tutorial.ipynb i get the following error
ImportError Traceback (most recent call last)
in ()
----> 1 from utils import label_map_util
2
3 from utils import visualization_utils as vis_util
D:\Personal\learn\ML\DL\Tensorflow\Official-Tutorial\models-master\object_detection\utils\label_map_util.py in ()
20 import tensorflow as tf
21 from google.protobuf import text_for

[2017-09-01 08:56] RanjitData2Decision opened #2323 "tensorflow issue: ImportError: DLL load failed: %1 is not a valid Win32 application. ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
### System information
- **Top level directory for model**: D:\Study\ML\RNN\models\tutorials\rnn\ptb
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Made no change to the code i cloned frm GIT
- **OS Platform and Distribution**: Windows 8.1
-**Python 3.6.1 [MSC v.1900 64 bit (AMD64)]
- **TensorFlow installed from (source or binary)**: Source
-

[2017-09-01 09:46] RanjitData2Decision commented on #2323
Issue resolved [by this](https://stackoverflow.com/questions/42011070/on-windows-running-import-tensorflow-generates-no-module-named-pywrap-tenso). Since mine is a non GPU system I just installed MSVCP140.DLL and included ".DLL" in PATHEXT variable as stated in the thread. This solved my issue.

[2017-09-01 09:46] #2323 closed

[2017-09-01 10:05] aoancea commented on #2088
I'm not quite sure how you run this on Windows, but what I did was a bit different. I've copied over all packages that appeared to be missing when running tensorflow from *object_detection/models* into *Python35\Lib\site-packages*

[2017-09-01 12:39] MloveDaxiong commented on #571
Hi, I can successfully train, but it shows DataLossError at global step 3862. And I have checked that the preprocessing script run OK. Can you give me some advice @asimshankar . And my devices is 1080*2.

[2017-09-01 12:48] junfengluo commented on #571
I have also met this problem before, it is main due to the incomplete data. You should download the data again because some tfrecords are 0kb.

发自我的 iPhone

[2017-09-01 13:08] Abduoit commented on #1696
@szymonk92

U need to divide your gpu to two parts, 50% for running training and 50% for evaluation.

I added those lines to the `train.py` file. The first 2 lines in main...

[code]

[2017-09-01 14:25] MloveDaxiong commented on #571
@junfengluo I re-download several times, but it still shows DataLossError. I don't know how to guarantee all data is complete......

[2017-09-01 14:44] kevingro opened #2324 "ar"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-09-01 15:29] junfengluo commented on #571
There is a file named *.json in the data folder, if the file is empty, it means all data are downloaded in right way.

发自我的 iPhone

[2017-09-01 16:33] steplee opened #2325 "Slim Inception model cannot load (problem with normalize_tuple & kernel_size)"
I cannot load the inception model from slim.nets.inception due to an error.

my TF version:
 v1.3.0-rc2-20-g0787eee 1.3.0

The code I'm using:
[code]

The backtrace:
[code]

[2017-09-01 18:30] michaelisard commented on #2310
Great I will close now but let me know if there are more issues.

[2017-09-01 18:30] #2310 closed

[2017-09-01 18:33] michaelisard commented on #2316
If the question is just the one in the issue title, it's probably better to go to stackoverflow.

[2017-09-01 18:33] #2316 closed

[2017-09-01 18:33] michaelisard commented on #2320
Yes, stackoverflow is a better forum for this kind of question.

[2017-09-01 18:33] #2320 closed

[2017-09-01 18:34] michaelisard commented on #2322
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/models/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-01 18:36] michaelisard commented on #2324
I'm closing because it looks as if this was opened in error without filling in the issue data, but please open a new issue if you are still seeing a problem.

[2017-09-01 18:36] #2324 closed

[2017-09-01 22:03] Supersak80 commented on #2278
@minhnhat93 I look forward to it. Even if you can't get to writing the tutorial right away, can you give me a quick summary of what portion of the code you changed to accept multi-band imagery with more than 3 bands? I thought this was a limitation imposed by the required TF record format, which assumes color images.

[2017-09-01 23:48] nealwu commented on #1403
@YiHuang2015 I would suggest asking on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

[2017-09-01 23:48] nealwu commented on #1858
Yep, that sounds good.

[2017-09-02 01:22] tylertroy commented on #715
I have had some success with this using python's zmq library. You basically run a messaging cue and set up the model to caption in a loop. I have a GeForce 1080 Ti, with an i3 3.8GHz, proc, and 8MB of Ram and it takes about 1.5 seconds per image. If you're still interested feel free to message me.

[2017-09-02 02:55] szymonk92 commented on #1696
@Abduoit Thanks for the tip. I tried with 6GB and it seems that I don't  have enough memory. I will try again at Monday with 12GB

[2017-09-02 03:10] heroinlin commented on #2088
I used PyCharm to run the project. Add model/slim to Interpreter Paths,
like this
[image: 内嵌图片 1]

2017-09-01 18:05 GMT+08:00 Alex Oancea <notifications@github.com>:

[2017-09-02 03:12] heroinlin commented on #2088
I used PyCharm to run the project. Add model/slim to Interpreter Paths,
like this
![image](https://user-images.githubusercontent.com/17489822/29992502-9ee289ca-8fcf-11e7-9e04-29247f517a13.png)

[2017-09-02 04:09] irmowan commented on #2278
@minhnhat93 @protossw512 Sorry for disturb you, but I want to know how to use only 1 channel. I want to use gray data with only one channel for train and test, but now TensorFlow still use 3 channels as input.

[2017-09-02 06:09] aoancea commented on #2088
Is that a global fix for when you run it from command line(cmd) as well?

[2017-09-02 06:40] weogen commented on #1591
down the protoc_3.3,can solve this problem
$ mkdir protoc_3.3
$ cd protoc_3.3
protoc_3.3$ wget wget https://github.com/google/protobuf/releases/download/v3.3.0/protoc-3.3.0-linux-x86_64.zip
protoc_3.3$ chmod 775 protoc-3.3.0-linux-x86_64.zip
protoc_3.3$ unzip protoc-3.3.0-linux-x86_64.zip
 cd ../tensorflow/models/
../tensorflow/models$  home/../protoc_3.3/bin/protoc object_detection/protos/*.proto

[2017-09-02 06:42] heroinlin commented on #2088
It's not a global fix, only run in PyCharm.

2017-09-02 14:10 GMT+08:00 Alex Oancea <notifications@github.com>:

[2017-09-02 08:55] MloveDaxiong commented on #571
@junfengluo There is no such file in data folder, but it still shows DataLossError.  And it can re-run well with the loss it had pretrained before, if i do not delete model folder.

[2017-09-02 09:23] protossw512 commented on #2278
@irmowan If you have images that is less than 3 channels, then it will be much easy, at least for me. You have 2 options, one is to pad 0's for the rest channels, the other is try to expand grayscale images to rgb images by copying it to the rest channels and let backprppogation to do the magic, with pretrained weights you could easily get to pretty good local minimum. I got good results from both

[2017-09-02 09:35] protossw512 commented on #2278
@shamanez We use transfer learning because our dataset is too small to keep our network from pverfitting, or stack at a very bad local minimum, or speed up  training process.. Transfer learning can give us a good start, in general, it will be easier for us to find a good local minimum. Since the initial information is already well extracted. Even if we mixed pretrained weights and initialized weig

[2017-09-02 11:34] Abduoit commented on #1696
@szymonk92

even if u tried with 6GB, it should allocate 50% of gpu for train.py and the second 50% will be for eval.py.

plz make sure that u add the following lines correctly in file `train.py`. the two lines should be after `def main(_):`

[code]

[2017-09-02 11:48] irmowan commented on #2278
@protossw512 Both of your ways seems that TensorFlow Object Detection must use 3 channels, I have used the second way and it works (But I found that TF read my 1-channel image as 3-channels, it confused me). So it seems there is no way to use only 1 channel for training (mostly for speed), except that I pick one channel at the beginning of the base network.

[2017-09-02 15:10] w19787 opened #2326 "Inception V4 pre-trained model image labels mis-match"
i try to eval the pre-trained Inception v4 model which is provided in project readme. http://download.tensorflow.org/models/inception_v4_2016_09_09.tar.gz

with following the steps to created frozen pb and retrieve labels from ILSVRC-2012-CLS, i run following eval for the specific image:
bazel-bin/tensorflow/examples/label_image/label_image \
  --image=~/ILSVRC2012_img_train_t3/n02085620/n02085620

[2017-09-02 19:33] michaelisard commented on #2326
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-02 19:33] #2326 closed

[2017-09-02 22:07] minhnhat93 commented on #2278
@Supersak80 I have written a tutorial at https://github.com/minhnhat93/tf_object_detection_multi_channels
It includes a script to modify provided checkpoint if you want to do transfer learning. Send me a message if you think I made a mistake.

[2017-09-02 23:43] sujanchy commented on #1595
Hi songwg188, do you found any solution for the issue? I have also faced same problem as you mentioned. import is working from python environment, but I couldn't run the following command:
python object_detection/builders/model_builder_test.py from command prompt. Any help will be appreciable

[2017-09-03 01:54] goldenberg commented on #2278
Thanks, @minhnhat93! This is very useful and well written up!

[2017-09-03 04:04] RakeshChandran commented on #1728
Hi @timisplump and @tombstone  .. How do we view the accuracy of the train and test process in AWS. Presently I am able to see only the loss.

[2017-09-03 08:47] jayshah19949596 commented on #1992
Hey I am running the api on Windows .... I got the same error ... What is the command for windows the add `deployment` module to `PYTHONPATH`

[2017-09-03 17:05] bwuzhang opened #2328 "tfdbg on slim not compatible with Object Detection API"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: r1.3 with latest ch

[2017-09-03 20:31] salisbury-espinosa opened #2329 "doc issue for exporting object_detection model"
### System information
- **What is the top-level directory of the model you are using**: object detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.3.0
- **CUDA/cuDNN version**:

[2017-09-04 01:50] ideaplat commented on #2305
you should resize your config file ,faster_rcnn_inception_resnet_v2_atrous_pets.config

[2017-09-04 02:39] ideaplat commented on #2229
you better like this: export PYTHONPATH=$PYTHONPATH:/root/models:/root/models/slim  with ~/.bashrc

it works .

[2017-09-04 03:14] bjmajic opened #2331 "maybe a bug in models/slim/deployment/model_deploy.py"
def _sum_clones_gradients(clone_grads):
  """Calculate the sum gradient for each shared variable across all clones.
  This function assumes that the clone_grads has been scaled appropriately by
  1 / num_clones.

howerver,  in "def _optimize_clone(optimizer, clone, num_clones, regularization_losses, **kwargs):"
there is :
if sum_loss is not None:
    with tf.device(clone.device):
      clone_grad

[2017-09-04 04:33] jart commented on #2329
#2330 is now approved. Should be merged in the next few days. Thank you for the contribution.

[2017-09-04 04:33] #2329 closed

[2017-09-04 04:36] jart commented on #2328
@caisq Here's a tfdbg related report on TensorFlow Models.

[2017-09-04 04:46] arcslash opened #2332 "ImportError: No module named 'nets'"
I am trying to convert trained_checkpoint  to final frozen model from the export_inference_graph.py script provided in tensorflow/models,but the following error results.
And yes,I have already setup $PYTHONPATH to "models/slim" but still I get this error,can someone help me out?

[code]

***************************************************************************************************************

[2017-09-04 05:14] jart commented on #2332
@jch1 Check out [faster_rcnn_inception_resnet_v2_feature_extractor.py](https://github.com/tensorflow/models/blob/master/object_detection/models/faster_rcnn_inception_resnet_v2_feature_extractor.py) which says `from rofl3.third_party.tensorflow_models.slim.nets import inception_resnet_v2` internally but `from nets import inception_resnet_v2` on GitHub. Odd.

[2017-09-04 05:16] jart commented on #2325
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 05:16] #2325 closed

[2017-09-04 05:16] jart commented on #2315
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 05:16] #2315 closed

[2017-09-04 05:17] jart commented on #2305
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 05:17] #2305 closed

[2017-09-04 05:17] jart commented on #2301
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-04 05:17] #2301 closed

[2017-09-04 05:18] jart commented on #2293
@tombstone Here's a feature request for an object_detection flag.

[2017-09-04 05:20] jart commented on #2291
Questions like these are better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there.

Also thank you for helping our friend @eshirima.

[2017-09-04 05:20] #2291 closed

[2017-09-04 07:37] adrinjalali commented on #2015
I don't think so @ManojB18. I have the same problem, and I'm waiting on this issue (https://github.com/tensorflow/models/issues/2129) to continue my experiments.

[2017-09-04 08:14] isharaux opened #2334 "tensorflow.python.framework.errors_impl.NotFoundError: ="
I am trying to convert trained_checkpoint to final frozen model from the export_inference_graph.py script provided in tensorflow/models,but the following error results.
[code]
Operating System:
Ubuntu 16.04

[2017-09-04 08:39] tvkpz commented on #2087
Thanks @balansky for the clarification.

It seems the create_pascal_tf_record.py creates tfrecord for a single object category. How do we train for multiple object categories using the object detection API?

[2017-09-04 10:04] Lan1991Xu opened #2335 "Training slowly for faster Rcnn based on resnet－101 for Voc2007"
Hi guys
my envirionment is centos7， tensorflow 1.0. Currently the default training step is 800000, I train faster Rcnn based on resnet－101  for Voc2007, the average time for training for step is (0.52 sec/step). Just calulating the time, it almost need 10 days to training this model.(using the single GPU). Anything I missing?10 days is expensive time consuming.

[2017-09-04 12:15] ArjanSchouten opened #2336 "Feature request random rotating object_detection API"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **B

[2017-09-04 13:51] molyswu opened #2338 "Run python inception_model.py for ImportError:No model named 'inception.slim'"
Hi,
I try to run python inception_model.py  for  ImportError:No model named 'inception.slim'

Thank you for your help

[2017-09-04 14:43] yoobright commented on #2335
For voc2007, about 100000 step is good enough.

[2017-09-05 00:20] molyswu commented on #2338
Path:python inception_model.py in tensorflow/models/inception/inception/slim  inception_model.py

[2017-09-05 01:01] auroua commented on #2096
I encountered the same error. I found the error caused by wrongly defining the tfrecords data structures.
I wrongly write the key like this:
[code]
When I changed to the following, the error disappears.
[code]

[2017-09-05 02:07] YiHuang2015 commented on #1403
Thanks...I will

[2017-09-05 05:52] zhxx1987 commented on #1103
Thank you @guschmue for your great work, I wonder if this way of walking around works for gpus?

[2017-09-05 09:22] ronalnd12 commented on #1939
Just curious did you find a solution? I am getting the same message, and did not find a solution so far.

Best Regards

[2017-09-05 10:40] mickeybao commented on #1962
I have open file ‘anchor_generator.proto’ and find the reason。
in line 5
import "object_detection/protos/grid_anchor_generator.proto";
so ,we should run command "protoc *.proto --python_out=." in the parent path of"object_detection " ,just like this "protoc object_detection/protos/*.proto --python_out=."

[2017-09-05 10:50] Whiteseeker commented on #1933
How can I add the round operator when I rebuild tensorflow ?
Should I add a file to the blazel BUILD file under:
tensorflow/core/kernels/
for the android section ?

[2017-09-05 10:51] Sharathnasa commented on #2328
@bwuzhang did you checkout the code and build the tensorflow using bazel inorder to make use of tensorflow debugger?

Because i updated to latest version of tf, it was throwing error saying 'session.wrapper'  is an unexpected keyword argument

Please let me know

[2017-09-05 11:36] shahabdroid commented on #1736
@athuldevin Thanks my error is resolved but now i received another error

python3 execute.py

Preparing data in working_dir/
2017-09-05 17:03:48.291647: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.2 instructions, but these are available on your machine and could speed up CPU computations.
2017-09-05 17:03:48.291668: W tensorflow/core/platf

[2017-09-05 12:58] bwuzhang commented on #2328
Yes I built it from source. r1.3 doesn't have tfdbg support for slim so I
have to checkout the latest version of
tensorflow/tensorflow/contrib/slim/python/slim/learning.py
and built it from source on r1.3 branch.
On Sep 5, 2017 6:52 AM, "Sharath Kumar R" <notifications@github.com> wrote:

@bwuzhang <https://github.com/bwuzhang> did you checkout the code and build
the tensorflow using bazel inorder

[2017-09-05 14:43] ajeetksingh commented on #523
I think we need to import tensorflow and related modules only after we have imported all the other modules. I don't know why does it work, but it did the trick for me.

[2017-09-05 15:41] astorfi commented on #1570
I am having the same problem as well!

[2017-09-05 15:52] astorfi commented on #2332
@amith01994 I get the same problem ... looks like something has not be updated!

[2017-09-05 16:00] astorfi commented on #2332
@amith01994 Add the ``slim path`` to your ``bashrc``.
ex: add ``export PYTHONPATH=/home/username/models/slim:$PYTHONPATH`` line.

Please refer to #729 for further detail and the solution.

[2017-09-05 16:53] amith01994 commented on #2332
Its already there.
[code]

[2017-09-05 16:57] guschmue commented on #1103
Yes, gpu does work with the dll, for example the gru uses a gpu kernel that loads as dll:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_python.cmake#L943

[2017-09-05 18:58] astorfi commented on #2332
@amith01994 Make sure the following format is correct in the bashrc:
 ``export PYTHONPATH=/home/username/models/slim:$PYTHONPATH``

[2017-09-05 22:52] mikeal commented on #1050
Same issue on 1.3.

[2017-09-06 00:53] iAInNet commented on #466
@psycharo Thanks for sharing your checkpoint! excellent work!!

[2017-09-06 01:53] Sharathnasa commented on #2328
@bwuzhang Thanks for the reply.

[2017-09-06 03:35] aziabari opened #2345 "Run Cifar10_train in debug mode (Higher Level APIs)"
I am trying to run the [Cifar10_train.py code](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_train.py) in debug mode but I am getting errors and I don't know how to get around them.

Here are the changes I made:

In Cifar10_train.py, I added:
from tensorflow.python import debug as tf_debug

also made the following changes in defining the train() function:

.
.
.

[2017-09-06 03:50] liuqi05 commented on #2225
@RobinBaumann, Hi, i meet the same problem with you. I download five pictures and save them in directory  /models/valimg. And I use the existing faster_r-cnn_resnet101_voc07.config file and only adjusted the paths.  Finally, i run python object_detection/eval.py \
    --logtostderr \
    --pipeline_config_path=./configfile/faster_rcnn_resnet101_voc07.config \
    --checkpoint_dir=./faster_rcnn_res

[2017-09-06 05:31] athuldevin commented on #1736
current solution for this error is downgrading your tensorflow version to 1.0.0 as said by the community

[2017-09-06 08:31] meijieru opened #2347 "Pretrained resnet 18/34 model?"
### System information
- **What is the top-level directory of the model you are using**: slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2
- **Bazel

[2017-09-06 08:53] auroua commented on #2225
Why the evaluation scripts doesn't output any information.
I find lots of ```logging``` statements in the ```run_checkpoint_once``` function.
Is there any examples about how to caculate roc or map?

[2017-09-06 09:37] leacoleaco commented on #345
I got the same error when call   import_graph_def  ....... T-T

`  File "D:/workspace-intelligent/tensorflow-train/predict.py", line 10, in <module>
    od_graph_def.ParseFromString(serialized_graph)
  File "D:\Program Files\Python\Python3.6\lib\site-packages\google\protobuf\message.py", line 185, in ParseFromString
    self.MergeFromString(serialized)
  File "D:\Program Files\Python\Python3.6\lib

[2017-09-06 09:41] leacoleaco commented on #2133
same problem on windows10 platform ...  T-T

[2017-09-06 13:28] LeeKyungMoon commented on #827
I am confronting with the same issue now.

[2017-09-06 14:43] cmyee opened #2348 "Training goes back ~200k steps during training using faster_rcnn model"
### System information
- **What is the top-level directory of the model you are using**: object_detection/models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **TensorFlow installed from (source o

[2017-09-06 15:17] changquanyou commented on #1834
Thanks,it is helpful

[2017-09-06 15:27] johndpope commented on #1200
if you're not using miniconda to handle pip stuff - I can't recommend it enough
https://gist.github.com/johndpope/187b0dd996d16152ace2f842d43e3990

so was getting this same error - ran this
 **conda env export**
name: tensorflow
channels:
- cogsci
- conda-forge
- defaults
dependencies:
- pygame=1.9.2a0=py35_0
- blas=1.1=openblas
- h5py=2.7.0=np113py35_1
- hdf5=1.8.18=0
- keras=2.0.2=py35_1
- libgf

[2017-09-06 20:07] AyushiAggarwal commented on #284
Failing tests when running ```bazel test --linkopt=-lrt syntaxnet/... util/utf8/...```
Executed 25 out of 25 tests: 19 tests pass and 6 fail locally

Screenshot of tests that failed is given below:
![image](https://user-images.githubusercontent.com/6222373/30131797-ef6ffdd8-9302-11e7-91f6-ca8034190a55.png)

test.log file shows the following error:
![image](https://user-images.githubusercontent.com