[2018-04-06 01:12] sk-g commented on #3868
It is really hard to say why something is happening without some context. But my guess is that you are using a high learning rate that is making your model wiggle around the optimal.

I would suggest you to use learning rate scheduler that exponentially decreases with global step. [This ](https://www.tensorflow.org/api_docs/python/tf/train/exponential_decay)documentation might give an insight on h

[2018-04-06 04:50] chenyuyi94 commented on #3794
thank you for your reply

[2018-04-06 07:42] zeynali commented on #3408
you can solve your problem with tweaking this options : queue_capacity=500 (default=2000)
min_after_dequeue=50 (default=1000) , so you add this two option into you config file in the input reader section  : such this:
[code]

[2018-04-06 07:42] qwertylabmachine commented on #3250
Hi,
Can I know how you fix this problem?

[2018-04-06 08:09] gustavz opened #3892 "[deeplab] no image resizing in preprocessing?"
Why do the images need to be manually resized before Inference?
Why is the resizing not automatically added like in the object detection models?

I guess there is a special reason and i would really like to know it! Thanks!

[2018-04-06 10:27] rickerliang commented on #3823
+1
cannot load mobilenet_v2_1.4 but can load mobilenet_v2_1.0, seems like 1.4 ckpt does not match the architecture of mobilenet_v2.py in the repo. maybe it has more conv channels, need to investigate mobilenet_v2_1.4's ckpt.

[2018-04-06 11:16] jaig commented on #2019
In my case, I was putting the wrong "model.ckpt.*" files. You can recheck that.

[2018-04-06 11:46] ZER-0-NE commented on #3873
@k-w-w  Any comments?

[2018-04-06 12:40] smartcap123 opened #3893 "I have installed the jupyter by using pip3 install jupyter. But jupyter notebook home page is not opening while providing the command C:\Users\hp\Downloads\models\research\object_detection>jupyter notebook in my cmd .Can you please help me?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-06 13:05] lekshmi17 commented on #3824
@jch1

[2018-04-06 13:20] HutzelFutzel opened #3894 "Faster RCNN - Which approach is implemented?"
Hi,
which approach from the Faster RCNN Paper is implemented in the object detection? Alternating training, Approximate joint training or Non-approximate joint training?

[2018-04-06 13:35] ngksai93 opened #3895 "input data for skip-thought training"
for skip-thought training i want to create tf records with my own text files please help me. when i pass text files normally it creates only vocabulary and word count files and validation records but it is not creating the train records .please tell the format of input files for the preprocess_dataset.py file.

[2018-04-06 13:46] meteorshowers commented on #3739
I met the same problem!
did you change the last logits layer from 21 to 2?
If so , I think maybe I can solve the problem.

[2018-04-06 13:49] meteorshowers commented on #3739
@Raj-08  how to freez part of my model?
Thanks!

[2018-04-06 13:56] meteorshowers opened #3896 "[deeplabV3+] How to set flags to run the code on multi GPU like 4 GPU?"
How to set flags to run the code on multi GPU like 4 GPU?
I have 4 GPUS, but I dont know how to run the code on multi GPUS.
I have changed the clones flags, but it didn't work.
Thanks!

[2018-04-06 14:25] mrfortynine commented on #3071
Judging by the discussion in [this issue](https://github.com/tensorflow/tensorflow/issues/12080), this is expected behavior when there is network connection issue. The remedy is catching this and restarting session. In TF 1.4 this is done for us by Estimator class. So I would guess there won't any incentive to "fix" existing script, and the way forward to use object detection code with 1.4 is to r

[2018-04-06 14:55] kirk86 commented on #3739
@meteorshowers Yes I did change the class number from 21 to 2.

[2018-04-06 17:21] ekorman opened #3897 "Problem with _compute_is_class_correctly_detected_in_image?"
The method `_compute_is_class_correctly_detected_in_image` determines if a class was successfully detected by only looking at the detection with the highest score-- see this line:
https://github.com/tensorflow/models/blob/fd7b6887fb294e90356d5664724083d1f61671ef/research/object_detection/utils/per_image_evaluation.py#L221

Is this the intention? This doesn't seem to be aligned with its stated purp

[2018-04-06 17:34] k-w-w commented on #3873
@ZER-0-NE Thanks for the ping. Assigning to the codeowners of the object detection model.

[2018-04-06 18:09] dotannn commented on #3868
I'm fine-tunning  faster-rcnn-resnet101-coco model with my own dataset using 7 labels.

my initial learning rate is 0.0003. I don't see a standard 'jump' around optimum that usually seen when the LR is too high,  my loss is decreasing as expected for hundreds or steps and then out of nowhere explodes to this very big numbers.

added general info

[2018-04-06 20:01] bitfort commented on #3834
I've added @jch1 to take a look and help :)

[2018-04-06 20:02] bitfort commented on #3895
Hi,

Can you add more information about the directory, model and system you are working with?

[2018-04-06 20:04] bitfort commented on #3870
Adding @jch1 for comment.

[2018-04-06 20:07] bitfort commented on #3847
Adding @nealwu for comment.

[2018-04-06 20:32] twtygqyy opened #3900 "Quantized model works on X86 platform but not on ARM"
Hi, I trained a model on X86 server with GPU, and I met a strong problem as follows:

X86, original model, both GPU/CPU mode:  work
X86, quantized model, both GPU/CPU mode:  work
ARM64, original model, CPU mode:  work
ARM64, quantized model, CPU mode:  **not work** (code can run but always no output)

Does anybody know the reason why quantized model gives no result on ARM platform?
Thanks in advan

[2018-04-06 20:51] qlzh727 commented on #3877
For "depth of additional conv before box predictor: 0", the line was printed by https://github.com/tensorflow/models/blob/master/research/object_detection/core/box_predictor.py#L687, which I don't think is a indication of error.

The message for "INFO:tensorflow:global_step/sec: 0" is a indication about how many steps get processed, and in your case, its reporting it gets stuck and not moving forw

[2018-04-06 21:00] roysheffi commented on #3788
Hi @pkulzc, thank you for investigating this issue!

Are you able to please share any updates or information regarding the status of this issue?

Thanks 👍

[2018-04-06 21:10] qlzh727 commented on #3885
As @sk-g pointed out, this is caused by the default encoding difference between python 2.7 (ascii) and 3.x (utf-8). When you can do to test this out is change the code as following:

"return value.encode()" to "return value.encode('utf-8')"

and see if the problem mitigate itself.

[2018-04-06 22:02] stevefielding commented on #3870
The large loss fluctuation may be due to the small batch size set in the config file. batch_size: 1
How much CPU RAM do you have? Are you running out of RAM and swap file during training?

[2018-04-06 23:24] nealwu commented on #3847
Hi @sk-g, it's an interesting question but for more general questions like this please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow). GitHub issues are primarily intended for reporting bugs.

[2018-04-06 23:24] #3847 closed

[2018-04-07 01:31] asimshankar commented on #3882
Could you try to track this down a bit more - are the model inputs and outputs the same on the TX2 as they are on the other machines?

Basically, I'm trying to fish for whether the TensorFlow model execution is running differently or if the `PIL.Image` or visualization libraries on your Jetson setup are doing something different.

[2018-04-07 01:40] asimshankar commented on #3869
Is your GPU busy during this time (in which case it is possible that the hardware you're training on is just not powerful enough)?

[2018-04-07 04:34] sk-g commented on #3847
Hi @nealwu, thanks for the suggestion. By mentioning this I hoped to have it added as an additional feature.

[2018-04-07 06:36] ngksai93 commented on #3895
i am working with skip-though model i.e https://github.com/tensorflow/models/tree/master/research/skip_thoughts

i had problem with format of input file which i need to pass to preprocess_dataset.py file link for this is
https://github.com/tensorflow/models/blob/master/research/skip_thoughts/skip_thoughts/data/preprocess_dataset.py

i was tried with plain text file as input to this preprocess_data

[2018-04-07 06:48] fera0013 opened #3902 "Missing step in the "Inference and evaluation on the Open Images dataset" tutorial"
### System information
NA

### Describe the problem
The [Inference and Evaluation tutorial][1] explains, how the [infer_detections.py script][2] can be used to do inference and evaluation on a trained model. What is missing however is, how you get to the images with the detection boxes, shown at the top of the tutorial. I am guessing you can use [the visualization_utils.py script][3]  for this. Bu

[2018-04-07 07:08] fera0013 opened #3903 ""UnicodeDecodeError" running infer_detections script"
### System information
- **What is the top-level directory of the model you are using**: faster_rcnn_resnet50_coco
- **Have I written custom code**:  I am using [infer_detections.py][1] unmodified
- **OS Platform and Distribution**: Windows 10
- **TensorFlow installed from**:  binary
- **TensorFlow version**: 1.5.0
- **CUDA/cuDNN version**:
- **GPU model and memory**: Intel HD Graphics 520, 8242 M

[2018-04-07 09:36] eyaler opened #3904 "using im2txt for image search"
how can i use the im2txt code to find the closest images given a description? (image search task in tables 4,5 in paper)?

@cshallue

[2018-04-07 10:27] GustavZ commented on #3882
It does not depend on PIL. I get the same results when I capture video frames and display them with openCV.

My host pc and my jetson got the exact same setup of packages.

[2018-04-07 10:37] asimshankar commented on #3882
It did seem that you're using `PIL.Image` to create the input data.
Anyway, that doesn't quite matter much - as a step towards debugging this I was suggesting that you verify that that the contents of the input and output numpy arrays match in both platforms.

i.e., `np.asarray(resized_image)` and `batch_seg_map[0]` in https://github.com/GustavZ/realtime_segmenation/blob/master/demo.py#L66

Are th

[2018-04-07 12:03] alasin opened #3905 "[deeplab] Including last layers when initialize_last_layers is True"
Here, the last layers are not getting excluded when initialize_last_layers is True. Shouldn't it be opposite?

https://github.com/tensorflow/models/blob/cffaa589571db4abc4f9e6886176b87da31092e8/research/deeplab/utils/train_utils.py#L105-L106

[2018-04-07 13:13] shipeng-uestc commented on #3886
@aquariusjay，Hi，What does the k mean?

[2018-04-07 13:26] hariag commented on #3835
@Davidnet I seen libnvinfer.so.4 in your log, but tensorflow 1.7 require tensorrt-3.0.4, see here [https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/tensorrt#installing-tensorrt-304](url)

[2018-04-07 13:26] shipeng-uestc opened #3906 "[deeplab]Can't run eval.py on my own dataset."
Hi,I have sovle this question many days.But I still can't solve it .
I' m trying to finetune deeplab3+ with a new dataset (number of classes=18, ignore_label=255, Hight=width=450).
I converted the dataset to tfrecords (training and validation) and started to train the model without problems using train.py.
Now I want to evaluate the new checkpoint, running the evaluation script eval.py, and I obta

[2018-04-07 14:09] hhwxxx commented on #3885
@qlzh727 Thank you.
I tried, but the error still exists.

[2018-04-07 15:17] scotthuang1989 commented on #3588
I can use 4 local GPU by setting `num_clones` now, but still can't train it with multiple server. I just watch tensorflow summit 2018, it appears that the recommend way of doing distributed  for now is `Estimator`. Does this ps/worker schema is out of support?

[2018-04-07 15:39] asafasban opened #3907 "Load pre-trained ResNet model"
Hi,
I'm new to CNN and I'm trying to use a ResNet model for estimating person age based on face image input. I want to initialize my model with pre-trained ResNet model on ImageNet dataset and I'm not quite sure how to do it. Is there a built-in function which does that or do I need to implement it myself? In the latter case, where can I find a pre-trained model to load from? (and should it be a .

[2018-04-07 19:02] roysheffi commented on #3788
Hi @pkulzc, I think I may have a lead:

On line 357, object_detection/trainer.py calls tf.contrib.slim.learning.train() which uses the **deprecated** tf.train.Supervisor and **should be migrated to** tf.train.MonitoredTrainingSession instead, as documented in [tf.train.Supervisor](https://www.tensorflow.org/api_docs/python/tf/train/Supervisor)

This is already requested in tensorflow/tensorflow#15

[2018-04-07 19:44] roy-d commented on #3705
you rock @learnbott

[2018-04-07 21:08] biery commented on #3835
Had this same issue and pip install tf-nightly-gpu is what solved for me.

Was running tf 1.7, nvcc 9.0, and cudnn 7

[2018-04-07 21:53] mpekalski opened #3908 "prefetch_to_device does not work with Estimator API"
### System information
- **What is the top-level directory of the model you are using**:
V:\kaggle\zalando\zaland
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
added one line of custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow versio

[2018-04-07 21:59] #3705 closed

[2018-04-07 22:03] kritchie commented on #3783
After reviewing, the labelling was wrong on those particular entries. That's why the loss was 0.
Data set labelling was the issue.

[2018-04-07 22:03] #3783 closed

[2018-04-07 22:05] qlzh727 commented on #3896
From the code https://github.com/tensorflow/models/blob/master/research/deeplab/train.py#L231, seems that the flag num_clones is referring to the number of GPUs.

Adding code owner to confirm the behavior @yknzhu, @gpapan

[2018-04-07 23:08] youngsinpark opened #3909 "Error performing 'COCO Text objext detection'."
System information
OS Platform and Distribution: ubuntu
TensorFlow version: 1.7.0
CUDA/cuDNN version:
GPU model and memory: Intel HD Graphics 630

An error occurred while creating tfrecofe file with 'python object_detection / dataset_tools / create_coco_tf_record.py'.

Command:

Traceback (most recent call last):
  File "object_detection / dataset_tools / create_coco_tf_record.py", line 276, in <m

[2018-04-08 01:06] liangxiao05 commented on #3834
@bitfort ，thank you
I found that if added 'random_adjust_brightness ',the loss of the ssd model can't decrease.
After trainging 48W steps,the loss has little change compared to 1k steps , however if removed the  'random_adjust_brightness ' ,the average loss at 40W+ step is below 3.
''
train_config: {
  batch_size: 24
  optimizer {
    adam_optimizer: {
      learning_rate: {
        exponential_de

[2018-04-08 01:25] mattgara commented on #3885
I have the same issue as OP.

I have been able to get it to partially work by explicitly replacing

[code]

with

[code]

however, I then get the error:

``  TypeError: u'\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\x00C\x00\x02\x01\x01\x01\x01\x01\x02\x01\x01\ has type unicode, but expected one of: bytes ``

[2018-04-08 02:42] qlzh727 commented on #3885
I think the cause here is py2/3 compatibility. https://github.com/tensorflow/models/pull/3852/files was trying to make the code py3 compatible, however break py2 at the same time.

[2018-04-08 05:41] shipeng-uestc commented on #3730
@walkerlala Can you share your eval script?

[2018-04-08 06:39] hhwxxx commented on #3730
@walkerlala @aquariusjay
Hi, I am confused about the `exclude_list` and `initialize_last_layer`.

I am not sure whether I understand it correctly:
    If one want to fine-tune deeplab-v3+ on another dataset, only `_LOGITS_SCOPE_NAME` need to be excluded?

If so, following @aquariusjay 's suggestion, in "train_utils.py":

[code]
if set `initialize_last_layer=false`, then `exclude_list` will include

[2018-04-08 06:54] coutner commented on #3611
@DominikAuras how did you pack tf.contrib.quantize into the graph hook function?I just replace graph_hook_fn() with tf.contrib.quantize.create_training_graph().But when I inspect the checkpoint after quantization,I find a duplicate act_quant tensor name.

'FeatureExtractor/MobilenetV1/MobilenetV1/Conv2d_0/act_quant/min'

[2018-04-08 09:30] wordjelly commented on #3071
It is not possible to move back down to 1.2. With 1.2 I get the error : Tensorflow AttributeError: 'module' object has no attribute data. That was the reason for moving to 1.4+. Is there any way to fix this other than reducing the worker count to 1?

[2018-04-08 10:32] 5410612484 commented on #1286
@KaneFury about Confusion_matrix I'm facing the error

- NameError: name 'variables' is not defined

You already told that.
(1) If 'variables' is not known, check if you imported variables library.

I didn't get it. Do i have to import some module or install something ?
Could you please help me this? or Maybe sent me the full code.
Thank you.

[2018-04-08 10:47] hhwxxx commented on #3906
Maybe you should check whether the data you built is correct. And "segmentation_dataset.py".
I can't give any suggestion.
Hope you solve your problem soon and share your experience.

[2018-04-08 10:53] shipeng-uestc commented on #3906
@hhwxxx what is your version of tensorflow

[2018-04-08 10:55] hhwxxx commented on #3906
@shipeng-uestc tensorflow1.6.0; python2.7

[2018-04-08 13:28] #3906 closed

[2018-04-08 20:30] Navdar opened #3912 "NotFoundError: ; No such file or directory"
Can’t train my own data set.
![fullsizeoutput_44e](https://user-images.githubusercontent.com/35260638/38472193-6f3510cc-3b7c-11e8-8327-e5f056b2d3e2.jpeg)

[2018-04-08 21:50] karmel commented on #3796
Thanks-- care to submit a PR?

[2018-04-08 21:51] karmel commented on #3779
Closing, as #3813 is merged.

[2018-04-08 21:51] #3779 closed

[2018-04-08 22:45] ZeeDeep commented on #3728
another solution to possible cause is you didn't created the test.record and train.record files
for creating these,you need to run these two commands

python generate_tfrecord.py --csv_input=images\train_labels.csv --image_dir=images\train --output_path=train.record

python generate_tfrecord.py --csv_input=images\test_labels.csv --image_dir=images\test --output_path=test.record

[2018-04-08 23:06] karmel commented on #3734
You are correct; 1.6 was a one-off, done by hand as we formalized our release process. We'll leave as-is for now, but future releases should be correct. (In any case, your copy-edit is appreciated!)

[2018-04-08 23:06] #3734 closed

[2018-04-09 00:46] #3896 closed

[2018-04-09 00:52] qlzh727 commented on #3908
Assigning to code owner for more input. @mrry

[2018-04-09 00:53] qlzh727 commented on #3839
Closing this issue as working as intended. Feel free to reopen it if you still hit any issue.

[2018-04-09 00:53] #3839 closed

[2018-04-09 01:53] karmel commented on #1751
Automatically closing due to lack of activity. Please re-open if there are further updates.

[2018-04-09 01:53] #1751 closed

[2018-04-09 01:54] karmel commented on #1464
Automatically closing due to lack of activity. Please re-open if there are further updates.

[2018-04-09 01:54] #1464 closed

[2018-04-09 01:56] karmel commented on #1467
Sounds like this issue is resolved; closing. Please open a new issue if new problems arise.

[2018-04-09 01:56] #1467 closed

[2018-04-09 01:56] karmel commented on #1477
Automatically closing due to lack of activity. Please re-open if there are further updates.

[2018-04-09 01:56] #1477 closed

[2018-04-09 01:57] karmel commented on #1529
Automatically closing due to lack of activity. Please re-open if there are further updates.

[2018-04-09 01:57] #1529 closed

[2018-04-09 02:03] karmel commented on #1616
Automatically closing due to lack of activity. Please re-open if there are further updates.

[2018-04-09 02:03] #1616 closed

[2018-04-09 02:28] sk-g commented on #3869
This is interesting, I see that you have tried reducing the batch size, how about reducing the capacity of your model? Use fewer layers,parameters etc and train again. If it does run this time in a shorter time, maybe like @asimshankar said your gpu is not powerful enough.

Hope this helps!

[2018-04-09 02:55] vuralerdogan commented on #729
same issue for mac OS, I am using pip3 PyCharm with Python 3.6.

[2018-04-09 03:03] vuralerdogan commented on #2031
@deaspo 's answer perfectly clear and worked, it should be published. If you use python 3 just use `pip3` instead `pip`

[2018-04-09 04:24] mona-abc commented on #1988
Hello@dnlglsn, I used your export_inference_graph.py in place of the original one, but i got the error:"TypeError: predict() missing 1 required positional argument: 'true_image_shapes' " , caused by row 109 in the script"output_tensors = detection_model.predict(preprocessed_inputs)"
I searched the internet and found that this error may be caused by my python version(my python version is 3.6).  As

[2018-04-09 05:05] sjwhhhi opened #3913 "Cannot train the mask-rcnn models"
I want to train a mask-rcnn models by my personal dataset. I use create_pascal_tf_record.py to make it in tf-format. However, I cannot train it with this error.

And my tensorflow-gpu vesion is 1.5 in Ubuntu16.
Could anyone help me? Thanks.

[2018-04-09 05:55] robeyang commented on #3209
I think this issue should be the same as #3428?
I tried with cPickled.load() with "encoding='bytes'" which works fine in python 3 but not in Python 2.7.
cPickled.load() does not have encoding argument in Python 2.7.

[2018-04-09 07:36] capsampension commented on #3531
I am guessing there is a lot of overhead for the first image e.g. loading the graph, transferring it to the GPU and so on. Your findings seem to suggest that: once the graph is loaded and data is coming in fast, the GPU is reducing the processing time a lot. Did you find out anything else related to this? Curious as I am having the exact same question/experience and run a nearly identical setup to

[2018-04-09 07:41] cpmgs commented on #3531
I am guessing there is a lot of overhead for the first image e.g. loading the graph, transferring it to the GPU and so on. Your findings seem to suggest that: once the graph is loaded and data is coming in fast, the GPU is reducing the processing time a lot. Did you find out anything else related to this? Curious as I am having the exact same question/experience and run a nearly identical setup to

[2018-04-09 08:04] neosinha commented on #3835
Switching over to tf-nightly-gpu worked for me too.

[2018-04-09 08:15] asimshankar commented on #3912
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/models/issues/new). Please provide all the information it asks. Thank you.

In particular, more information about the full error seen would be helpful. Does adding a trailing `/` to the

[2018-04-09 09:47] GustavZ commented on #3882
@asimshankar they should be as normally PIL and openCV give the same result if fed into other models.
So i am pretty sure the problem is not about the input (PIL,OpenCV) but must lay somewhere else.

It is also not about the color formatting (itried RBG and BGR) the results are the same.

Is there someone who ran deeplab models successfully on a nvidia jetson platform?

[2018-04-09 10:34] npeirson commented on #3869
Hmm, yeah I'm having this problem just now as well. I've tried running on CPUs both locally and on the gcloud ml-engine, with tensorflow v1.7.latest as well as v1.6. Same for both Python2.7 and Python3.5.

My training system is not new, and has worked without this problem previously. It seems likely that this has something to do with a recent change, perhaps related to the *model* repository.

Alt

[2018-04-09 10:36] PkuRainBow commented on #3677
Great!

[2018-04-09 11:10] JayJoeSeventh commented on #3869
@asimshankar My GPU does nothing at that time except tensorflow. I think u are right, my GPU is not powerful enough. I have tried faster_rcnn_inception_resnet_v2_atrous_coco, it runs but very slow.

@sk-g the batch_size is already at minimum - 1. Do you mean queue capacity? I have tried reduce it but its not working too.

@npeirson I see. Thank you for informing me about this update!

[2018-04-09 11:47] minhbk opened #3916 "What is difference between BasicLSTMCell and LSTM Block Cell?"
I searched on google and tensorflow docs, but can't understand.

[2018-04-09 13:44] lydialixia commented on #3730
Hi, I'm training on my own dataset as well (only two classes, house and background).

When I set `initialize_last_layer=false` and
[code]
Then when I run vis.py, it gives me all black images (not binary).

When I only set `initialize_last_layer=false`, I got binary images (result is not good, but at least show some learning). But it gives me this when run train.py:
[code]
when `training_number_of_

[2018-04-09 14:39] matlabninja commented on #2133
@leacoleaco Thanks for the info!  I had stepped away from this for a while, but I've come back to it, and your advice worked!

[2018-04-09 14:39] #2133 closed

[2018-04-09 14:51] mbenami commented on #3834
Hi @liangxiao05
there is a bug in `random_adjust_brightnessz`
duplicate of  #3637 , #2066
fix that help me: #2146

don't know why this PR is still hasn't merge

[2018-04-09 15:59] robieta commented on #3897
@derekjchow Could you comment on this?

[2018-04-09 16:08] robieta commented on #3909
Hi. I see that this was closed and re-opened. Are you still having issues?

[2018-04-09 18:17] bitfort commented on #3900
Hi,
Can you include a pointer to the model you're using and some more insight into the system, parameters and dataset?

[2018-04-09 18:32] twtygqyy commented on #3900
@bitfort I compiled the tensorflow1.6 from source, and trained a faster-rcnn + resnet101 model for detection on a custom dataset using one Quadro M6000 GPU.
I used `bazel build tensorflow/tools/graph_transforms:transform_graph` to compile the tools and applied
[code]
for quantization.

[2018-04-09 19:30] cyberphantom commented on #3541
@LaurentBerder I just wondering if you got any luck with your fine tuning using the suggested approach or please advice as I'm running the same problem

Thanks

[2018-04-09 20:06] nealwu commented on #3907
Hi @asafasban, glad you're interested in our ResNet models. Take a look at https://github.com/tensorflow/models/tree/master/official/resnet; in particular, the bottom of the README has a few checkpoints you can use.

[2018-04-09 20:06] #3907 closed

[2018-04-09 23:05] bhack opened #3919 "[deeplab]High level api"
What about including an highlevel api version using tf.keras and model_to_estimator? @bonlime Started a [keras version](https://github.com/bonlime/keras-deeplab-v3-plus) but I don't know if he is interested to contribute it upstream

[2018-04-09 23:41] ruihou opened #3920 "[deeplab] is there a bug in refine_by_decoder?"
https://github.com/tensorflow/models/blob/aad56e4c428ce9ff5fbb1e9e1b0ef96f1e1fdfd2/research/deeplab/model.py#L560
Is this an indent error, or just on purpose. The second loop (line 560) should not be under the first one(L549)
The first loop (line 549) traverse all the branches in the feature_list.
And the second loop concatenates them together and do the decoder_conv0 and conv1

[2018-04-10 01:05] nealwu commented on #3916
Hi @minhbk, for an overview of the different LSTM cell options, have a look at https://www.tensorflow.org/performance/performance_guide#rnn_performance.

[2018-04-10 01:05] #3916 closed

[2018-04-10 02:05] ahundt commented on #3866
Can you post your command to run training for MobileNetV2? I'm still trying to piece together an example to test out the API

[2018-04-10 02:08] CARASO commented on #1754
@asturm0 Yes, I also used similar methods to filter the data set, but unfortunately, the filtered data set still has an exception. I had to manually delete more than 1,500 photos. At present, 12000+ steps were trained and no abnormalities were found. I share the script that filters datasets [here](https://pastebin.com/1rRtgF8C), I hope to be useful to other partners, and someone can give a more pe

[2018-04-10 02:34] ahundt commented on #3884
@dextroza would you mind posting your actual command to reproduce this?

[2018-04-10 02:53] ali0517 commented on #3872
my %PYTHONPATH% is
F:\tensorflow\models-master;F:\tensorflow\models-master\research;F:\tensorflow\models-master\research\slim
but it still reports ImportError: cannot import name 'pnasnet' . is the path wrong? @ZER-0-NE

@tanndx17
I still don't know how it works. Could you please expression clearly

[2018-04-10 03:06] tanndx17 opened #3922 "ssd_mobilenet_v2 pretrained model structure does not match"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
   Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
 Source
- **TensorFlow version (use command below)**:
  1.5
- **Baze

[2018-04-10 03:24] ali0517 commented on #3872
Thank you for the details you've explained for me.
And I did it but it still report errors. @tanndx17

[2018-04-10 03:45] ali0517 commented on #3872
I checked up the nets folder  and not found any files named pnasnet.py.
I will redownload it .
thank you @tanndx17

[2018-04-10 05:06] jiyongma opened #3925 "AttributeError: 'module' object has no attribute 'DEFINE_enum'"
Traceback (most recent call last):
  File "deeplab/model_test.py", line 20, in <module>
    from deeplab import common
  File "/home/m/models/research/deeplab/common.py", line 45, in <module>
    flags.DEFINE_enum('model_variant', 'mobilenet_v2',
AttributeError: 'module' object has no attribute 'DEFINE_enum'

[2018-04-10 05:35] mayur17mirashi opened #3926 "Shradhali Shinde 1 second ago File "train.py", line 167, in <module> tf.app.run() File "C:\Users\hp\Anaconda3\lib\site-packages\tensorflow\python\platform\app.py", line 126, in run _sys.exit(main(argv)) File "train.py", line 163, in main worker_job_name, is_chief, FLAGS.train_dir) File "C:\tensorflow1\models\research\object_detection\trainer.py", line 211, in train detection_model = create_model_fn() File "C:\tensorflow1\models\research\object_detection\builders\model_builder.py", line 97, in build raise ValueError('Unknown meta architecture: {}'.format(meta_architecture)) ValueError: Unknown meta architecture: None﻿"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-10 06:26] GustavZ commented on #3882
@asimshankar could you please tell me in detail which information/output you want to have?
The exact code to reproduce is available on my repo.
`demo.py` is deeplabs's orginal jupyter notebook demo
and `run.py` is for realtime segmentation using openCV.

[2018-04-10 06:27] ashley915 opened #3927 "evaluation not finishing...help"
I'm having trouble evaluating my trained oxford pet data.
I put my command in terminal like this:
python3 object_detection/eval.py \
    --logtostderr \
    --pipeline_config_path=/home/cjonrnd/models/research/object_detection/models/model/train_again/pipeline.config \
    --checkpoint_dir=/home/cjonrnd/models/research/object_detection/models/model/train_again/checkpoint \
    --eval_dir=/home/cjo

[2018-04-10 06:44] LaurentBerder commented on #3541
@cyberphantom No, I didn't. I ended up not using Tensorflow because it is too cumbersome, and had a working project in ChainerCV. You can have a look at my repo, I made [a script to use COCO in the file format needed for that project ](https://github.com/LaurentBerder/container_detection/tree/master/datasets)and combine with my custom-labeled data.

[2018-04-10 06:46] bhack commented on #3919
/cc @fchollet

[2018-04-10 07:02] asimshankar commented on #3882
I don't have a Jetson, so I can't run this myself. In absence of that information, my suggestion was to attempt to narrow this down by first confirming whether the issue is with TensorFlow execution or other parts of the demo script.

One way to do this would be to see what the `session.run` call returns on both platforms for the exact same input.  In my [previous comment](https://github.com/tenso

[2018-04-10 07:05] bhack commented on #3919
@yifeif

[2018-04-10 07:29] anhhna opened #3928 "How to improve test results on Object Detection?"
Hello everybody, Im working on training and testing my own dataset, but after training, some images not same results event it's almost same, I dont know how to improve it, plz suggest me where I need to improve for better results

Here is my file attached, it included
- training, testing, also included xml files by labelImage tool
- training config file with ssd mobile net v1 model, cloud.yml for

[2018-04-10 07:44] GSHuang opened #3929 "How to change input shape of model [-1,-1,-1,3] to fixed input(just like[1,224,224,3]) from 'PB model'?"
I try to convert the shape of model of '**faster_rcnn_resnet101_kitti**' to [1,224,224,3].

[https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md](url)

I encountered some troubles to get architecture of network and save model with Batch Size = 1.

My tensorflow-gpu vesion is 1.5 in Ubuntu16.0.4.

[2018-04-10 07:53] balavenkatesh3322 commented on #3849
I have fixed the issues

[2018-04-10 08:09] GustavZ commented on #3882
`print np.asarray(resized_image)` gives me on both plattforms:
[code]

but `print batch_seg_map[0]` of course is different as the resulting visualization makes obvious.
So as i said, the problem appears inside the session and not in the pre- or postprocessing.

Working platform:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

[2018-04-10 08:16] dextroza commented on #3884
@ahundt  check my post above, the actual command is added.

[2018-04-10 08:16] ruifmarques commented on #3885
I get the same error using py3

[2018-04-10 08:19] gustavz opened #3930 "[deeplab] extract boundingboxes from segmenation map"
i wonder if there is already an implementation or an util to extract boundingboxes from the segmentation masks produced by deeplab's model?

I wanted to investigate the seg_maps that are the ouput of the tf session when running deeplabv3_mnv2 (https://github.com/GustavZ/realtime_segmenation), but printing the map results in a kind of reduced/simplified array in the form of
[code]
So i can't really

[2018-04-10 09:07] seefun commented on #3746
@offbye I meet the same problem. Haved you solved it?

[2018-04-10 09:47] AloisChezAccenture commented on #3590
Same problem with batch norm.
When I try to freeze the batch norm parameters using
[code]

I get

It seems that exponential moving average is not saved in the checkpoint file.
I have tried to use tf.train.Saver(tf.global_variables()) instead of just tf.train.Saver() as suggested in the link below but it did not solve the problem :/

https://stackoverflow.com/questions/45800871/tensorflow-save-rest

[2018-04-10 09:54] balavenkatesh3322 opened #3931 "How to save detected image to the local system"
I am using OpenCV to capture the image.How to save detected image to the local system.

[2018-04-10 10:40] BenjaminAkera commented on #3922
Hello, I am facing the same issue, did you get to work around this?

[2018-04-10 10:47] 123liluky opened #3932 "download problem"
models-master.zip downloaded from https://github.com/tensorflow/models are wrong while unzip it. And there are only 6 files in research folder. I am going to using DeepLab,  but it doesn't exist in research folder. Could anyone help me?

[2018-04-10 11:13] tanyarags commented on #3562
I was stuck with same problem and found the following discrepancy.

We get rid of the arg_scope (like FirstStageFeatureExtractor, SecondStageFeatureExtractor) while reading the model at (object_detection\meta_architectures\faster_rcnn_meta_arch.py: restore_from_classification_checkpoint_fn).
But, while finding available variable names in ckpt compare variable name with name including the arg_scope

[2018-04-10 11:32] balajiraghuram92 opened #3933 "AttributeError: module 'object_detection.protos.input_reader_pb2' has no attribute 'NUMERICAL_MASKS'"
The Project was running fine till i updated to tensorflow 1.5 and the project to latest commit.

After updating i am getting this error.

(base) H:\Work\AR\TensorFlow\Source\paperspace-tensorflow\project\tf_1042018\research\object_detection>python train.py --logstderr --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_coco.config
E:\Programs\Anaconda\lib\site-packages\h5py\__in

[2018-04-10 11:33] HutzelFutzel commented on #3931
cv2.imwrite('path', img)

[2018-04-10 11:36] AmemiyaYuko opened #3934 "How could I apply focal loss on Faster RCNN models?"
While I was trying to apply focal loss on Faster RCNN, I got error message like this:

google.protobuf.text_format.ParseError: 28:5 : Message type "object_detection.protos.FasterRcnn" has no field named "loss".

It appears I'm unable to change loss function for Faster RCNN models. In this case, how could I apply focal loss on Faster RCNN models if I really need to? Thank you.

[2018-04-10 11:40] shivam6294 commented on #2267
Also interested. Email: shivam6294@gmail.com

[2018-04-10 11:40] balavenkatesh3322 commented on #3931
yeah.It's working fine

[2018-04-10 11:40] #3931 closed

[2018-04-10 11:41] shivam6294 commented on #2267
@GustavZ Please send me an invitation. Thank you!

[2018-04-10 11:46] balavenkatesh3322 opened #3935 "I want steps to train model in cloud environment"
I want to train object detection model in a cloud environment.

1)Which is best cloud environment for train object detection model?
2)Is there any free cost cloud for CPU and GPU performance?
3)Give some steps or video to train model in a cloud environment?

[2018-04-10 12:25] adarvit opened #3936 "Running the Evaluation Job is not working?"
hey all, i am using the code from g3doc for running locally in order to do evaluation job

but i am getting the following warning and then the cmd is seems to be frozen:

![capture](https://user-images.githubusercontent.com/33596858/38556661-1a77b78a-3cd3-11e8-9450-a6b39aa04949.PNG)

is it ok? am i missing something?

[2018-04-10 12:46] youkenhou commented on #3880
I think it's maybe an error of python circular imports. I changed ```from datasets.nav_env import get_path_ids``` to ```import datasets.nav_env``` in ```cognitive_mapping_and_planning/src/graph_utils.py``` and this error is gone. I'm just a beginner so I don't know if there is some further effects. Hope this helps.

[2018-04-10 13:15] ngksai93 commented on #3895
give me some guidance

[2018-04-10 13:35] arptejan95 opened #3937 "Errors while running on the Oxford-IIIT Pets Dataset on Google Cloud"
We have been looking to run the steps mentioned over [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md) the only difference being we used **ssd_mobilenet_v2_coco**.

While using `runtime-version 1.6` the training just stops after some steps with the below error:

`The replica master 0 exited with a non-zero status of 1. Termination reason: Erro

[2018-04-10 13:37] jashshopin commented on #3937
I'm facing a similar error as well.

[2018-04-10 13:52] alyahmed opened #3938 "Unable to load checkpoints for Nasnet?"
Seems like the latest checkpoint file is not compatible with the latest repository commit + Tensorflow version? The model trains just fine but clearly the checkpoint has a naming mismatch with what is expected during training. The model will train but never converge, the loss function will just fluctuate.

I'm currently using:
Commit -> 6741cfce9deacdd1f930fd70f9e4550461f5888d

`Merge: 18e0643 13c

[2018-04-10 15:12] jrabary opened #3939 "[Deeplab] input_preprocess doesn't give the correct shape in evaluation mode"
### Describe the problem

Here is a snippet from the `input_preprocess.py` in deeplab model (from line 122)

[code]
Obviously the crop is only performed during the `train` mode but the `processed_image` shape is set to `[crop_height, crop_width]`.

This cause a problem when we evaluate the `xception65` model which produces the following error

[code]

If we force the size of the input image to be

[2018-04-10 15:16] khcy82dyc opened #3940 "[deeplab] [feature request] update FAQ for 'train the model on other datasets'"
Would be really great to see a step by step guide line on how to use deeplabV3 to train on own datasets, including:

format of the image annotation (e.g. one folder contains the original images, the other folder contains their multi color image mask),

parameter settings for tf_initial_checkpoint, initialize_last_layer, fine_tune_batch_norm. when to set False/True for these values. Also, I wonder

[2018-04-10 15:19] dextroza commented on #2971
I have this problem too. I am getting the error: " INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, Invalid PNG data, size 792422"

[2018-04-10 15:41] robieta commented on #3920
I believe you are correct. @aquariusjay could you take a look?

[2018-04-10 16:43] aquariusjay commented on #3730
When you want to fine-tune DeepLab on other datasets, there are a few cases:

1. You want to re-use ALL the trained weigths: set initialize_last_layer = True (last_layers_contain_logits_only does not matter in this case).

2. You want to re-use ONLY the network backbone (i.e., exclude ASPP, decoder and so on): set initialize_last_layer = False and last_layers_contain_logits_only = False.

3. You w

[2018-04-10 16:50] aquariusjay commented on #3939
During eval, we always do whole-image inference, meaning you need to set eval_crop_size >= largest image dimension.

We always set crop_size = output_stride * k + 1, where k is an integer. When working on PASCAL images, the largest dimension is 512. Thus, we set crop_size = 513 = 16 * 32 + 1 > 512. Similarly, we set eval_crop_size = 1025x2049 for Cityscapes images.

[2018-04-10 17:01] aquariusjay commented on #3920
It is not a bug.

The first loop traverses feature_list which contains all the low-level feature maps. It allows gradually up-sampling. In our use case, feature_list only contains the low-level feature maps that have output_stride = 4.

The second loop traverses decoder_feature_list to resize all the elements to have the same spatial dimension so that one could use tf.concat in the following convo

[2018-04-10 17:08] k-w-w commented on #3926
Please resubmit with the form filled out and a description of the problem you're encountering. Thanks!

[2018-04-10 17:08] #3926 closed

[2018-04-10 17:17] karmel commented on #3927
It looks like the evaluation might be successfully finishing, just not printing to the command line. Try adding a call to print() around the evaluate results in your copy of [eval.py](https://github.com/tensorflow/models/blob/master/research/object_detection/eval.py#L130). Does that work?

[2018-04-10 19:26] kskp commented on #205
Just say ech "hello world" | syntaxnet/demo.sh 2>/dev/null.
Then you output will be what you are expecting:

1       hello   _       X       UH      _       0       ROOT    _       _
2       world   _       NOUN    NN      _       1       dep     _       _

![image](https://user-images.githubusercontent.com/19722540/38578964-795ecdc4-3cd3-11e8-9cf9-899a98c16ce8.png)

[2018-04-10 19:31] ruihou commented on #3920
Thanks for the clarification.

[2018-04-10 19:33] jrabary commented on #3939
We follow exactly your parameters on Pascal VOC. The crop size is set to 513. We notice that in the pre-processing code the image is randomly scaled even in eval mode. Is that correct ? After this data augmentation, the image size can be for example `[670 1000 3]` and this causes the error on `xception65` forward function.

[2018-04-10 19:38] bitfort commented on #3895
For questions about usage, https://stackoverflow.com/questions/tagged/tensorflow might be more helpful; this is primarily for bug reports. I'd recommend seeing if something there works; if you run into a bug I'll take a look.

[2018-04-10 19:38] georgosgeorgos commented on #3730
Hi @walkerlala: did you manage to finetune the ADE20K dataset?
I'm trying to finetune on a dataset of the same size, but without success: after the first ~2K iterations the loss stops to decrease and starts to oscillate (~20K iterations).
I tried different learning rates, removed the regularization, but for the moment no improvement.

[2018-04-10 19:40] bitfort commented on #3925
Thanks for reaching out, can you include information about whcih version of TF you are using and the system setup?

[2018-04-10 19:43] bitfort commented on #3900
Adding @karmel who might be more familiar with resnet.

[2018-04-10 19:45] bitfort commented on #3870
Another option is to check with stack overflow (e.g. https://stackoverflow.com/questions/tagged/tensorflow )

[2018-04-10 19:45] qlzh727 commented on #3885
Should be fixed in #3941

[2018-04-10 19:45] #3885 closed

[2018-04-10 19:47] robieta commented on #3920
Thanks.

[2018-04-10 19:47] #3920 closed

[2018-04-10 19:55] karmel commented on #3900
As @bitfort mentions, we do have an [Official Resnet](https://github.com/tensorflow/models/tree/master/official/resnet) that you should consider using, but it sounds like this is an issue with transform_graph, rather than the model itself. Does the transform_graph tool fail with other models as well? (Some SavedModels you might try with are included with the Official Resnet linked above.)

[2018-04-10 19:56] aquariusjay commented on #3939
If you need multi-scale inputs during inference, please call this function
https://github.com/tensorflow/models/blob/master/research/deeplab/model.py#L91
And this should have already been handled in eval.py
https://github.com/tensorflow/models/blob/master/research/deeplab/eval.py#L112

Do not use the pre-processing for multi-scale inputs during inference.

[2018-04-10 20:18] khcy82dyc commented on #3739
@kirk86 Hi have you figure out the solution? I had exactly the same issue...

[2018-04-10 21:18] kirk86 commented on #3739
@khcy82dyc No TBH, I haven't, my 2 cents after spending a week chasing bugs not only on the deeplab model but on faster-rcnn as well is get as far away as you can. Most of the models have additional complexity in terms of trying to understand them since they use `slim`. In my experience most models break once you change a bit the configuration settings. For instance for faster-rcnn once you change

[2018-04-10 21:45] robieta commented on #3935
Hi. Unfortunately this question is beyond the purview of this repository. I would suggest that you start at https://cloud.google.com/ml-engine/docs/tensorflow/getting-started-training-prediction.

[2018-04-10 21:45] #3935 closed

[2018-04-10 22:25] akshaysharma096 commented on #2654
Hello, I would like to contribute @XifengGuo .

[2018-04-10 22:35] qlzh727 commented on #3934
Adding code owner for more input. @pkulzc, feel free to add more people to the thread.

[2018-04-10 23:38] nealwu commented on #3932
Hi @123liluky, I just tried downloading and it works for me. You may want to try again, and if that doesn't work perhaps `git clone git@github.com:tensorflow/models.git` will work instead.

[2018-04-10 23:38] #3932 closed

[2018-04-11 00:38] ashley915 commented on #3927
I already tried doing them and prints out fine. Just not getting the results.
Am I supposed to get image files in the directory? What does the result look like?
![screenshot from 2018-04-11 09-36-33](https://user-images.githubusercontent.com/35290370/38590424-0e4acfd0-3d6c-11e8-9ef1-bb28d3423cd9.png)

[2018-04-11 00:39] jiyongma commented on #3925
Thank you. I have solved this problem. The reason is that tensorflow didn't upgrade. It was originally 1.2.. When I upgraded to 1.6, I solved it.

[2018-04-11 01:00] DaneSpiritGOD commented on #2267
@GustavZ Please send me an invitation.Thank you! sihan.dsh@qq.com

[2018-04-11 01:06] karmel commented on #3927
Sorry, to clarify-- evaluator.evaluate returns metrics, and you should try to print those out to see if it's what you want.

In the last lines there, try:

[code]

[2018-04-11 01:26] aquariusjay commented on #3930
Unfortunately, I am not aware of any util for that. However, any contribution is welcome.

[2018-04-11 02:16] classicsong opened #3945 "Distributed training of slim examples use only one node"
I deployed the slim example on my distributed GPU environment for distributed training (with 2 nodes, each has 4 P40 GPU). When using async training mode, I found out that only one node has GPU workload an other node's GPU is idle.

TensorFlow Version: 1.6.0
TensorFlow Model Version: 1.8.0
cuda version: nvidia-docker with cuda9.1 and cudnn7
os: ubuntu 16.04
python 2.7.0

Distributed Env config:
ps

[2018-04-11 03:06] suphy2009 commented on #3906
@shipeng-uestc Have you solved the problem? Can you share your experience?

[2018-04-11 04:00] ashley915 commented on #3927
It prints: None
I also tried printing individually:
  print(create_input_dict_fn)
  print(model_fn)
  print(eval_config)
  print(categories)
  print(FLAGS.checkpoint_dir)
  print(FLAGS.eval_dir)
but that all prints to the right directory.
![input_fun](https://user-images.githubusercontent.com/35290370/38595717-331c5a1a-3d88-11e8-9433-caec20fcdc56.png)
![model_fn1](https://user-images.githubusercon

[2018-04-11 04:31] dseuss commented on #1916
The problem is that your constant needs to have known shape at creation time. The way around it is to dynamically reshape it as a tensor:

      if classes:
        classes += label_id_offset
      else:
        one = tf.constant(1, dtype=tf.int32, shape=(1, 1), name='classes_dummy')
        classes = tf.tile(one, tf.shape(scores))

[2018-04-11 05:46] youkenhou commented on #2957
Hi guys, @AmitSoli @DrifterFun @trihuynh88 @kuanting . I ran into the same error as well several days ago.  I added ```float()``` in front of ```weight_decay``` in the file ```local/lib/python2.7/site-packages/tensorflow/contrib/slim/python/slim/nets/resnet_utils.py```, referring to [here](https://github.com/tensorflow/models/pull/1707/files) and it seemed to be solved. I've not met any further er

[2018-04-11 05:48] tanndx17 commented on #3922
@robieta Yes, I am using tf 1.5.0 version. At which directory level I start my bisect repo? Thank you

[2018-04-11 07:25] raninbowlalala commented on #3823
+1
when I want to finetune mobilenet_v2_1.4_224_imageNet_pretrained on voc_aug, I got error as below:

INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, Assign requires shapes of both tensors to match. lhs shape= [96] rhs shape= [136]
         [[Node: save/Assign_55 = Assign[T=DT_FLOAT, _class=["loc:@MobilenetV2/expanded_conv_11/

[2018-04-11 08:05] wldeephi commented on #3673
hello, @rogercooper76, when I run the eval.py on cityscapes_dataset, it runs on cpu, and when I run the train.py, it runs on GPUs, can you give me some suggestions to solve the problem?

[2018-04-11 08:32] npeirson commented on #3869
Hello friends!

This may be user error. For me, it was simply that I'd forgotten to **create new TFRecords files after adding to my dataset.**

Hope that helps!

[2018-04-11 08:41] Klamue commented on #3270
Any updates here?

For your further examination, I want to note that the current version of the demo is somewhat broken, as it starts a new session for each image and is therefore slow:
https://github.com/tensorflow/models/blob/bf2942715fed7f039b9db43bd15853dc91acf86c/research/object_detection/object_detection_tutorial.ipynb
Compare to the older revision at the time of thread creation:
https://git

[2018-04-11 09:04] FalcoGer opened #3948 "obj detection training with faster_rcnn_inception_v2_coco Argument must be a dense tensor: range(0, 3) - got shape [3], but wanted []."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-11 09:07] sbmaruf commented on #1766
https://stackoverflow.com/questions/48007984/training-broke-with-resourceexausted-error

follow the answer.

[2018-04-11 09:12] arixlin commented on #3933
I has same issue.
You can attempt this sets.
https://github.com/tensorflow/models/blob/abd504235f3c2eed891571d62f0a424e54a2dabc/research/object_detection/protos/input_reader.proto

[2018-04-11 09:25] FalcoGer commented on #3948
I just uninstalled tensorflow 1.7.0 and installed 1.5.0, then rerun the protoc compilation and setup.py install of the tensorflow models
the problem persists.

[2018-04-11 10:24] zBabar opened #3950 "Show and Tell/ Im2txt: For a new dataset when run the inference it generates same caption for each"
I have tried to run im2txt with respect to another dataset which has almost 7k images... after training for about 100000 steps.. when I run inference it gives same set of captions for each image... I have changed the image but still I gives same... Any clue where the problem could be.... but log prob are change for each image.... I can see that generated caption has some relevance with some image

[2018-04-11 10:48] FalcoGer commented on #3922
I got the same issue, however it worked fine back in february.
Also, I seem to be able to train decently, but I got a pretty simple to detect object. (a black box with a colored end to it in on a bright background)
with 250 images in the train set I got first decent detections in step ~150 with mobilenet v2

[2018-04-11 11:08] zyxcambridge opened #3951 "Tensorflow Object Detection API can run the multi GPU ？ 目标检测模型 可以 单机多GPU训练不？"
Tensorflow Object Detection API

我有 4个1080Ti 显卡，每次只能使用 一个 GPU，
有没有什么办法 支持 单机多GPU 训练？

[2018-04-11 11:49] kirk86 commented on #3739
@khcy82dyc TBH with you I think I've tried it even with 1 class and still had the same results plus all the models under `tensorflow/research` are so convoluted with unnecessary code that makes it hard for me to understand what they are actually doing. As I said after spending, cough, wasting some time I decided to to look elsewhere. It's been like a month since I last touched them, so I can't eve

[2018-04-11 12:09] hsm207 opened #3953 "[deeplab] What is the purpose of separable_conv2d_same?"
I am trying to understand the following comments in the `separable_conv2d_same` function:

[code]
I don't understand the point about the `slim.separable_conv2d` giving different results when the input's height or width is even, so I wrote the following code:

[code]

The output from all 6 print statements is the same: (1, 3, 3, 2). So, it looks to me that the `separable_conv2d_same`  function does

[2018-04-11 12:40] georgosgeorgos commented on #3739
@khcy82dyc I'm trying to train the model on a different dataset.
After 3-4k iterations, the loss stops to decrease and starts to oscillate (20k iterations). Did you experiment something similar?

[2018-04-11 13:17] kutvonenaki commented on #1962
Also wondering if it's less trouble to install Ubuntu than to try to make this work on Windows :) Stuck in the same place as well.

[2018-04-11 13:27] rdhortizuela commented on #2823
I have the same problem in Android Studio building the demo app with my retrained model. Please help

[2018-04-11 14:01] khcy82dyc commented on #3753
@ogruhlke94 Hi have you found the solution?

[2018-04-11 14:25] ngksai93 commented on #3895
thankyou

[2018-04-11 14:54] kpierce8 commented on #1962
Honestly I’ve spent many days going down endless rabbit holes as I continue to try and get this running on Ubuntu. I don’t understand how anyone gets anything to work on Linux. I know millions of people do, but I’m finding myself blindly fumbling all over the internet. Deep Learning seems super simple compared to building Tensorflow from source.

Sent from my iPhone

[2018-04-11 15:39] isrugeek opened #3954 "tensorflow.python.framework.errors_impl.NotFoundError: ; No such file or directory"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-11 16:02] aquariusjay commented on #3939
During inference, there is no need to do any data augmentation. You could simply set min_scale_factor = max_scale_factor = 1, which is what we do in the provided examples.

Also, if you really think it is a problem, you could add `if is_training` before those preprocessing functions.

[2018-04-11 16:11] pkulzc commented on #3270
@Klamue  The colab is for demo purpose and that's why we're using "run_inference_for_single_image".
For regular use you should run batch inference as eval.py do.

I benchmarked our models with a python binary instead of colab on a few internal machines, and was able to reproduce the reported speed (~30ms) without this hack. After applying this hack the inference time is ~26ms on my machine.
The sm

[2018-04-11 16:17] ogruhlke94 commented on #3753
No I haven't. It's still not working.

[2018-04-11 16:18] aquariusjay commented on #3940
Thank you, khcy82dyc, for the suggestion.

Regarding the question related to ADE20K, @walkerlala Could you please help answer those questions? Thanks!

[2018-04-11 16:45] twtygqyy commented on #3900
@karmel @bitfort Hi, thanks for the reply. I think the reason is not because of the type of network structure, since I also tried the model with ssd, and the original model works while the quantized one does not work.
Is it possible that some ops related to quantization for ARM platforms are missing?

[2018-04-11 16:55] luiscosio commented on #1934
@davemers0160 hack works like a charm!

[2018-04-11 17:07] karmel commented on #3900
Yes. @tatianashp for thoughts on CPU builds, @suharshs for quantization-- thoughts?

[2018-04-11 17:30] yhliang2018 commented on #3937
Adding the code owner for more input. @pkulzc , feel free to add more people to the thread.

[2018-04-11 17:31] madhavajay commented on #3734
This could cause issues on some automated systems, wouldn't it be prudent to push a second tag with the correct semantic versioning?

[2018-04-11 17:39] yhliang2018 commented on #3905
Adding the code owner @DefineFC  for more input.

[2018-04-11 17:47] yhliang2018 commented on #3893
Please go to stackoverflow for Jupyter Notebook questions. Issue closed as it's not related to Tensorflow.

[2018-04-11 17:47] #3893 closed

[2018-04-11 17:54] bitfort commented on #3925
Glad to hear it is working.

[2018-04-11 17:54] #3925 closed

[2018-04-11 17:58] pkulzc commented on #3937
Currently training on cloud with tf 1.4+ are not working, as mentioned here:
https://github.com/tensorflow/models/issues/3071
https://github.com/tensorflow/models/issues/3788

This is a known issue and we're investigating. We're also doing some consolidation so this issue will go away anyway when the consolidation is done. If you really need to train on cloud, you can use a earlier version of my [

[2018-04-11 19:34] andreas-eberle commented on #3861
@lozuwa: Did you create a question on Stack Overflow? If yes, can you please link it here? Did you find a solution?

[2018-04-11 21:26] SandW commented on #3497
CPU ram

[2018-04-11 21:29] fye881 commented on #3422
same error, found out to be that the model path is not correct. Looking at your case, you might want to try --checkpoint_dir=training_ssd_mobile

[2018-04-11 22:40] karmel commented on #3927
It's hard to debug without the code. A few questions:

1. Did you successfully train the model?
2. What images are you trying to evaluate?
3. Can you provide the text (not screenshots, please) of the relevant config files?
4. Have you tried running tensorboard?
5. Have you successfully run through and understood the provided [Jupyter notebook](https://github.com/tensorflow/models/blob/master/resea

[2018-04-12 00:37] DefineFC commented on #3905
`initialize` in this context mean initializing variables with pretrained model. And if one does not want to fine-tune the last layers, that is, one wants to train the last layers from scratch, he should exclude those layers from pretrained initializing.

BTW, I believe I am not the author of those lines.

[2018-04-12 01:10] ashley915 commented on #3927
1. Yes. Training was finished successfully
2. I'm trying the oxford pet data (tf record file)
3. Here is the pipeline config file:

# Faster R-CNN with Resnet-152 (v1), configured for Oxford-IIIT Pets Dataset.
# Users should configure the fine_tune_checkpoint field in the train config as
# well as the label_map_path and input_path fields in the train_input_reader and
# eval_input_reader. Search fo

[2018-04-12 02:13] elkalash commented on #3948
I'm actually having the same issue here,
WARNING :tensorflow:from"path"is deprecated and will be removed in a future version
:Instructions for updating:
Use the retry module or similar alternatives.
Traceback )most recent call last);
File "src/run_webcap.py",line 32 in module

[2018-04-12 06:04] kushagraagrawal opened #3958 "[deeplab] [feature request] Code for calculating runtime of MobileNet v2 and Xception"
Hi, could someone guide with how to find runtime of the models provided? I wanted to run these models on my PC and find out the same. The documentation suggests using tfprof but I was unable to figure out how to use the same.

Thanks a lot!

[2018-04-12 06:48] Klamue commented on #3270
Thanks! On Jetson TX2 I get a speedup from ~250ms to ~78ms using the hack, so I consider these optimizations quite relevant.

[2018-04-12 07:42] CanoeFZH opened #3959 "wide and deep example error: KeyError: "The name 'head/truediv:0' refers to a Tensor which does not exist. The operation, 'head/truediv', does not exist in the graph.""
with same error from:
https://stackoverflow.com/questions/49579096/tensorflow-wide-and-deep-example-error
I make some code removing and it works:

[code]

[2018-04-12 07:53] Pyy666666 commented on #2922
hallo,@smarzban @ppgiannak,I want to extract features of objects which have been detected, can you help me?

[2018-04-12 07:57] Pyy666666 opened #3960 "extract features of objects"
Hello,I have been detected objects by Faster RCNN successfully,and now i want to extract features of objects which have been detected.
Thanks a lot in advance.

[2018-04-12 09:30] esmanchik commented on #3933
Protobufs [rebuilding](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md#protobuf-compilation) fixed this issue for me:
[code]

[2018-04-12 09:38] zeynali commented on #1621
@ahmetkucuk , i have same proble , Did  you solve the problem?

[2018-04-12 09:43] walkerlala commented on #3730
@georgosgeorgos No I can't eventually fine tune the model on ADE20K dataset. I don't have enough GPU. Every time I try to fine tune the batch normalization parameters the model blow up throwing out out-of-memory error. So I freeze the batch normalization layers when training. Finally I only got a model with only "modest" performance:

Here is the original image:
![origin](http://www.fastdrivers.or

[2018-04-12 09:48] balajiraghuram92 commented on #3933
Thank you. This solved the problem

[2018-04-12 09:48] #3933 closed

[2018-04-12 09:54] arixlin opened #3961 "object_detection/train.py UnboundLocalError: local variable 'total_loss' referenced before assignment"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows7
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:  1.5.0
- **Bazel version (if compiling

[2018-04-12 10:58] jashshopin commented on #3937
@pkulzc would this work with ssd_mobilenet_v2_coco?

[2018-04-12 11:02] imaxpayne opened #3962 "[Learned_optimizer] Error when running metarun.py"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-12 11:06] arifiany commented on #3827
I temporarily solved this by hardcoding the filename but I haven't found the right way to do this

[2018-04-12 13:03] chasewinds commented on #3835
I suffer from the same problem with cuda 9.1 and cudnn 7.1, tf-nightly-gpu can't help me.
Can I uninstall cuda and cudnn and install lower version without uninstall tensorflow?
My mistake information:
Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 15037 MB memory) -> physical GPU (device: 0, name: Tesla P100-PCIE-16GB, pci bus id: 0000:00:04.0, compute capability: 6.0

[2018-04-12 13:36] zeynali commented on #3884
@dextroza , Hi Dear,i've trainined ssd_mobile_coco_v1 on my own dataset successful , but i have problem with running in eval.py  , i saw you get result with eval.py , please give your experiences .
and my other problem evaluation depend on map coco , i get some error about this protocol.

[2018-04-12 13:56] FalcoGer commented on #3936
for me eval is a bit slow. just give it some time to run.
in your pipeline config check that it doesn't evaluate too many pictures if your validation set is too big.
eval runs your trained model against a validation set, that should be different from your training set. thus it applies the network to those images. the time increases with more images and a more complex network.

[2018-04-12 14:04] adarvit commented on #3936
thanks for the reply. I am little bit confused
 on the config file: eval_input_reader is not for the test set? if that refers to validation set, so how i can evaluate on my test set?

[2018-04-12 14:41] chasewinds commented on #3835
I solve my problem by reinstall cudnn 7.0 and reinstall tensorflow1.7

[2018-04-12 15:06] walkerlala commented on #3940
I will try to submit a pull request to update the FAQ in the near future. For now, @khcy82dyc

 1. regarding to preparing new datasets, I think reading the code in [build_voc2012_data.py](https://github.com/tensorflow/models/blob/master/research/deeplab/datasets/build_voc2012_data.py) and  [build_ade20k_data.py](https://github.com/tensorflow/models/blob/master/research/deeplab/datasets/build_ade20

[2018-04-12 15:14] walkerlala commented on #3753
It looks like a tensorflow issue rather than a deeplab issue. Seems like something is wrong with your cudnn. See https://github.com/tensorflow/tensorflow/issues/10852 and https://github.com/tensorflow/tensorflow/issues/3224. If those still can't solve you issue, please report that to the core tensorflow repo, with information about how to reproduce this issue.

[2018-04-12 16:43] robieta commented on #3948
Hi. Could you modify `object_detection\utils\learning_schedules.py` to print out global_step, boundaries, and num_boundaries and report the values?

[2018-04-12 16:57] asimshankar commented on #3960
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/models/

[2018-04-12 16:57] #3960 closed

[2018-04-12 17:49] isrugeek commented on #3954
@qlzh727  Can You figure out this Error?

[2018-04-12 20:39] Lanbig commented on #3948
Got the same issue.

Found the solution : https://github.com/tensorflow/models/issues/3705#issuecomment-375563179

[2018-04-12 20:47] ivetapeychinova opened #3963 "Error when trying to run train.py"
Hello,
I get this error when trying to run train.py :

WARNING:tensorflow:From C:\Users\User\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\contrib\learn\python\learn\datasets\base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternative

[2018-04-12 21:33] FalcoGer commented on #3705
when will this fix be merged?

[2018-04-12 23:31] xiaoyongzhu commented on #3951
Check this one:
https://github.com/tensorflow/models/issues/1972

[2018-04-13 00:27] Lanbig commented on #3922
I got the same issue _"XXXX is not available in checkpoint"_ with faster_rcnn_resnet101_coco and ssd_inception_v2_coco.

It worked fine before.

TensorFlow version: 1.7
GPU model and memory: Telsa P40

Some parts of the warning.
`WARNING:root:Variable [SecondStageFeatureExtractor/InceptionResnetV2/Repeat/block8_9/Conv2d_1x1/biases/Momentum] is not available in checkpoint
WARNING:root:Variable [Sec

[2018-04-13 00:37] yhliang2018 commented on #3905
@DefineFC Sorry for the wrong @. I guess @YknZhu  would be the best person for this? Feel free to add more people to this thread if you know they can help. Thanks!

[2018-04-13 00:48] yhliang2018 commented on #3959
@k-w-w Could you help on this issue?

[2018-04-13 01:06] k-w-w commented on #3959
Thanks for submitting this issue. It appears that the graph produced by canned estimators changes depending on the version of tensorflow. In that case, we should remove the logging tensor hook from the wide deep model to lower maintenance cost.

Submitting a PR shortly.

[2018-04-13 01:45] YknZhu commented on #3905
`initialize_last_layer` means initialize(restore) last layer's weights from checkpoint ;) not initialize from random values.

[2018-04-13 02:39] arixlin commented on #3552
@acardoco  @ydzhang12345  you need update tensorflow to 1.7.0 or set total_loss = none,  and change train_set path  in pipline.config  with
train_input_reader: {
  tf_record_input_reader {
    input_path:

[2018-04-13 02:39] arafat5549 commented on #3457
Try lower your cuda and cudnn version~

cuda8.0 cudnn6.0

[2018-04-13 03:04] jiyongma opened #3966 "【deeplab】How to make VOC--SegmentationClass ？thanks"
I want to use my own data to make split data set similar to VOC--SegmentationClass, and then train deeplabv3+. How do I make it and what the specific process is?

[2018-04-13 04:54] fxblanco88 commented on #3835
Had this same issue and pip install tf-nightly-gpu is what solved for me.

Was running tf 1.7, nvcc 9.0, and cudnn 7.1.2 over debian 8

[2018-04-13 04:58] prakhar-agarwal opened #3967 "[Feature Request] Graph embedding methods in Tensorflow/models"
Hi,

I would like to implement graph embedding models starting with Deepwalk followed by metapath2vec in tensorflow/models. Let me know if someone is already working on it.

[2018-04-13 06:03] MengYangD opened #3968 "AttributeError: 'XXX' object has no attribute 'inplace_batchnorm_update'"
I am trying to train a pretrained `ssd_inception_v2_coco` model, it worked well before I updated the models. But After I pulled the last updates from the TF models repository, it alwayls shows the error:

[code]
I found [this](https://stackoverflow.com/questions/49688535/attributeerror-fasterrcnn-object-has-no-attribute-inplace-batchnorm-update) in stackoverflow. I  re-compiled `.proto` files acco

[2018-04-13 06:11] MengYangD commented on #3968
Oh, I found :
[code]
I think maybe I need to re-install `/research/setup.py`:
[code]
then I try `python object_detection/builders/model_builder_test.py`. It has no error.

[2018-04-13 06:48] MengYangD commented on #3968
Solved

[2018-04-13 06:48] #3968 closed

[2018-04-13 08:38] dextroza commented on #3884
@zeynali  What problem do you have? Could you be more specific? I've just run their eval.py with paths to ckpt, config and eval_dir and it did evaluation successfully.

[2018-04-13 09:15] Jirapat1231 opened #3969 "Very Low FPS when runing objectdetection."
My PC Spec:
i5 7500
GTX 1070
ram 8gb
cuda 9.0
python 3.6.2

 I got very low fps when runing the programe. Like 1 fram per 5-10 sec. and my gpu usage is 0-1%
it use cpu instead. (i'm install tensorflow gpu version only.)

`
# coding: utf-8

# # Object Detection Demo
# Welcome to the object detection inference walkthrough!  This notebook will walk you step by step through the process of using a pre-

[2018-04-13 09:54] elifbykl commented on #3196
Hi @Tsuihao

I have a problem with ssd_mobilenet_v2_coco. My images are 600x600 size but with resizing in the config file 300x300. Is there any possibility to work 600x600 in this case? Do my training images have to be 300x300? How did you solved small object problem?

[2018-04-13 10:19] ranjana-raveesh commented on #3391
Populating the interactive namespace from numpy and matplotlib
<module 'posixpath' from '/usr/lib/python2.7/posixpath.pyc'>
INFO:tensorflow:Restoring parameters from ../output/vgg16/voc_2007_trainval/default/vgg16_faster_rcnn_iter_1000.ckpt

InvalidArgumentErrorTraceback (most recent call last)
<ipython-input-1-7ce946fec6c5> in <module>()
    142     net.create_architecture("TEST", 21, tag='defaul

[2018-04-13 10:39] abhisheksgumadi commented on #3835
Yes, I spinned off an Amazon V100 gpu instance with the Deep Learning AMI that comes with cudnn 9.0. It all runs fine if you install tf-nightly-gpu with Python 2.7

[2018-04-13 11:32] jrabary commented on #3939
Adding `if is_training` is finally what we did and we get relatively the same result as yours. Thanks for answering.

[2018-04-13 11:32] #3939 closed

[2018-04-13 11:46] sid6641 commented on #3739
@kirk86 @khcy82dyc , I just can't seem to make it work on my custom dataset, working with mobilenet_v2 version, getting the same complete black output. Running inference on pre-trained model works fine for me. Tried most of the things @khcy82dyc mentioned, its the same result.

Any suggestions?

[2018-04-13 12:08] Philip-Chen opened #3972 "Error when training voc2012 with mask rcnn"
The same error on all datasets and all mask models

### System information
- **What is the top-level directory of the model you are using**:Object Detection
- **Have I written custom code**:No
- **OS Platform and Distribution**:Linux Ubuntu 18.04
- **TensorFlow installed from**:anaconda3
- **TensorFlow version**:1.6.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:9.0.176

[2018-04-13 14:17] georgosgeorgos commented on #3739
I'm having the same problem with the black output.
Probably it is something related to the number or order of classes.

[2018-04-13 14:46] vinay0410 commented on #3369
I did that but when I try to run inferences on the image using the ipynb notebook available. I get an error stating ```ValueError: Cannot feed value of shape (1, 480, 640) for Tensor u'image_tensor:0', which has shape '(?, ?, ?, 3)'```

[2018-04-13 15:09] antoinebrl commented on #3270
@GustavZ, I had the same issue. I tried to regenerate to frozen graph without fine-tuning or whatsoever and observed the same error.
[code]

The code does not work with `ssd_mobilenet_v2_coco_2018_03_29`. Interestingly, the error is different but also concerns the preprocessing:
[code]

_Ubuntu 16.04 / CUDA V9.0.176 / libcudnn 7.0.4.31 / tensorflow-gpu 1.7.0_

[2018-04-13 16:29] karmel commented on #3959
@ispirmustafa - The linked PR seems like a non-ideal solution. What's the recommended way of logging tensors of interest from CannedEstimators?

[2018-04-13 18:15] weizh888 commented on #3835
Got another error after `pip install tf-nightly-gpu`:

virtualenv/lib/python3.5/site-packages/tensorflow/contrib/tensorrt/_wrap_conversion.so: undefined symbol: _ZNK10tensorflow17StringPieceHasherclENS_11StringPieceE

Running on Python 3.5, TensorFlow-GPU-1.7, CUDA 9.0.176, cudnn v7

When running `./configure`, set TensorRT path to the path of `tar xzvf TensorRT-4.0.0.3`

Can anyone help?

[2018-04-13 19:52] qlzh727 commented on #3954
Sorry for the late reply.

From the error log, mostly likely it is failed to find your local file during copy (symlink might cause the issue). Since I don't have access to your local directory, I cannot reproduce it. Another alternative to try is specify the absolute path instead of relative path in the commandline arg.

[2018-04-13 20:16] rogercooper76 commented on #3673
Hi @wldeephi, multiple GPUs are needed to run both scripts at the same time. For me, I added "CUDA_VISIBLE_DEVICES=$GPUID" to specify which GPU to use. For example, I might run training with "CUDA_VISIBLE_DEVICES=0 python train.py ..." and evaluation with "CUDA_VISIBLE_DEVICES=1 python eval.py ...". Not sure whether it helps.

[2018-04-13 20:26] qlzh727 commented on #3962
Assigning to the owner of the code @olganw and @nirum

[2018-04-13 21:05] qlzh727 commented on #3969
I think it should use your GPU to do the actual detection.

One of the concern I have is your camera setting, since it seems to be a network device, which could be the cause of slowness. Did you experience any slowness when you test with local images?

[2018-04-13 21:23] ywpkwon opened #3974 "Unreasonable results on image classification when using pre-trained weights"
I am checking the stock form of Tensorflow Slim models. I downloaded the pre-trained weights, e.g., `vgg_16`, `vgg_19`, `inception_v1`, `inception_v2`.

In my following minimal codes, I can choose (and load) a network and perform image classification. When I set `name = 'vgg_16'` or `name = 'vgg_19'`, the results are okay. **However, `inception_v1` and `inception_v2` return entirely wrong results.

[2018-04-13 21:33] cyberphantom opened #3975 "More than one frozen inference graph"
Hi, in object detection API, can we use more than one frozen inference graph at the same time ?

[2018-04-13 21:33] ywpkwon commented on #3974
Oh, nevermind. I found the reason.
`image_tensor_ph = tf.placeholder(tf.float32, (None, None, 3))` should be
`image_tensor_ph = tf.placeholder(tf.uint8, (None, None, 3))`.

If I set the placeholder as `float32`, the inception preprocessing functions does not work as expected. (`tf.image.convert_image_dtype`)

[2018-04-13 21:33] #3974 closed

[2018-04-13 21:35] yl3639 opened #3976 "model_test.py questions"
Hello, thanks for the code sharing!
I try to run the model_test, first of all, is that the model_test file should be ran outside the deeplab folder? (namely /dir/deeplab,/dir/model_test.py)
secondly, I encounter this problem, is this a directory miss coding?
ImportError: No module named nets.mobilenet

Thanks!

[2018-04-13 23:36] karmel commented on #3927
Tagging @jch1 for more involved help here.

[2018-04-13 23:43] yhliang2018 commented on #3951
@xiaoyongzhu Thanks for the link! Looks like duplicate request, will close this one.

[2018-04-13 23:43] #3951 closed

[2018-04-13 23:49] argman commented on #3840
+1 fine-tuning of nasnet has low precision

[2018-04-13 23:50] Davidnet commented on #3835
I've demagled the symbol, it appears to be a: tensorflow::StringPieceHasher::operator()(tensorflow::StringPiece) are we using some hash on the test?

[2018-04-13 23:51] lts123124 opened #3978 "Autoencoder call error"
Can't find this call

https://github.com/tensorflow/models/blob/32aa656373dd483f9a6a8aa45c51b595699e06e7/research/autoencoder/autoencoder_models/Autoencoder.py#L47

[2018-04-13 23:52] yhliang2018 commented on #3963
@ivetapeychinova Can you please:
1. Fill out the issues [template](https://github.com/tensorflow/models/blob/master/ISSUE_TEMPLATE.md).
2. Provide a minimal example demonstrating the problem-- this would involve replicating the problem with a subset of the dataset in question, so we have a better sense of what is going on.
3. Verify that you can run the model using the referenced datasets.

That w

[2018-04-14 01:36] viksit commented on #3835
Confirmed - on ubuntu 16.04/cuda9.0/cudnn7102 - a tf-nightly-gpu solved this problem for me.

[2018-04-14 03:49] georgeannie commented on #3968
I am getting the same error. Followed your instruction. Git clone updates of tensorflow, did protoc, setup build and install and finally ran model_builder_test.py but running into the same issue..Any other plan of action you can offer?

[2018-04-14 04:12] MengYangD commented on #3968
@georgeannie
 Sorry, I hava no other idea, I solved my problem according to the method written above. But could you show you error logs ? Maybe we can found something.

[2018-04-14 07:54] nishajith opened #3979 "Text file"
It's not an issue..I wanted to save the name of the detected objects in a separate text file..How to do that??

[2018-04-14 08:34] jiyongma commented on #3730
@brett-whitford@walkerlala
Excuse me, how do you make your own dataset, can you share it?
I run out of VOC data with deeplabv3+, and it feel very good, so I want to train my own dataset, but I don't know how to make label.

[2018-04-14 12:53] PythonImageDeveloper opened #3980 "problem in the ssd_mobilenetv2 training"
when i run to trained the ssd mobile v2 in the terminal i get such warning :

[code]

[2018-04-14 17:47] adnananjum commented on #3103
hello sir

[2018-04-14 17:47] adnananjum commented on #3103
import numpy as np
import random
from six.moves import cPickle as pickle
from TwitterElection.Embedding import MeanEmbeddingVectorizer
from TwitterElection.TopicModel import TopicModel
from gensim.models.word2vec import Word2Vec

# Python 3.5 environment
# Last updated: Feb 19, 2017
# Written by Melissa K

INPUT_DIR = '/path/to/data/en/' # subfolder with all english tweets only
OUTPUT_DIR = '/path

[2018-04-14 17:54] karmel commented on #1458
@MarcoAlvarez this issue has been quiet for a while; did the fix listed work for you?

[2018-04-14 17:57] karmel commented on #1771
Automatically closing due to lack of activity and existing answer.

[2018-04-14 17:57] #1771 closed

[2018-04-14 18:02] karmel commented on #1983
@tfboyd / @David-Levinthal -- what is the status of this issue? There has been a lot of work in the last ~9 months since this was opened; is this thread still relevant?

[2018-04-14 19:01] asimshankar commented on #3975
I'm not sure I follow the question, but if it is what I think it is, the yes, you can load multiple frozen graphs in the same process. Then you have one `tf.Session` per model and can run the same image across different models.

Hope that helps.

[2018-04-14 19:01] #3975 closed

[2018-04-14 19:16] rhina opened #3981 "DELF: image pyramid in testing"
I'm trying to extract DELF using my implementation, but the number of features are different from official one.
Could you explain the details about an image pyramid in testing?

In official code, 5000-6000 features are extracted with the options 'max_features_num=100000, score_threshold=0.0'.
However, in my implementation, at most 1570 features were extracted from one image.
I first center-crop, r

[2018-04-14 19:58] MarcoAlvarez commented on #1458
I didn't try the fix.  I gave up and used syntaxnet/dragnn @ google cloud.

[2018-04-14 20:05] karmel commented on #1458
Sounds good. In that case, closing. If new issues arise, please open a new issue accordingly.

[2018-04-14 20:05] #1458 closed

[2018-04-14 21:09] karmel commented on #2386
Thanks, @Prasad9 , that seems like a good summary of the fields in question. Docs would be useful; care to submit a PR?
@jerowe - truncated means the object is not fully contained in the image or bounding box, but occluded means the object is blocked by something else in the scene.
@willSapgreen - I'm not exactly sure what you mean, but presuming you are asking about new records you want to create

[2018-04-15 01:51] jerowe commented on #2386
Thanks for the clarification. ;-)

[2018-04-15 08:41] jiyongma opened #3983 "[deeplab]NotFoundError (see above for traceback): Key aspp1_depthwise/BatchNorm/beta not found in checkpoint"
when I run
python deeplab/eval.py \
    --logtostderr \
    --eval_split="val" \
    --model_variant="xception_65" \
    --atrous_rates=6 \
    --atrous_rates=12 \
    --atrous_rates=18 \
    --output_stride=16 \
    --decoder_output_stride=4 \
    --eval_crop_size=513\
    --eval_crop_size=513 \
    --dataset="ade20k" \
    --checkpoint_dir="./deeplab/datasets/ADE20K/exp/train_on_train_set/train"

[2018-04-15 08:45] gravitywp opened #3984 "Train dragnn parser standalone"
I was trying to train a dragon parser without a link to tagger。
here is my network structure.
![image](https://user-images.githubusercontent.com/8477504/38776514-8d990cdc-40ca-11e8-8074-d881c7d1d21c.png)
here are my lookahead fml parameters
![image](https://user-images.githubusercontent.com/8477504/38776526-d4953502-40ca-11e8-8cef-07266391a317.png)

I'd like to have the tag feature in lookahead co

[2018-04-15 11:55] bhack opened #3987 "Triplet loss tutorial"
It could be nice to have an official tutorial here with the highl level API (Dataset/Estimator) on Triplet loss similar to https://omoindrot.github.io/triplet-loss.

/cc @omoindrot

[2018-04-15 13:11] Shirhe-Lyh commented on #3823
@raninbowlalala You should set the num_classes=None when you calling the model mobilenet_v2, and then add a additionally fully_connected layer with you specified num_classes.

[2018-04-15 13:16] Shirhe-Lyh commented on #3640
@perfanov @tanyarags Solution: when you calling the function assign_from_checkpoint_fn, you should set ignore_missing_vars=True like this:

init_fn = slim.assign_from_checkpoint_fn(checkpoint_path,
                                             variables_to_restore,
                                             ignore_missing_vars=True)

[2018-04-15 13:16] Shirhe-Lyh commented on #3626
@zzzl-h  Solution: when you calling the function assign_from_checkpoint_fn, you should set ignore_missing_vars=True like this:

init_fn = slim.assign_from_checkpoint_fn(checkpoint_path,
variables_to_restore,
ignore_missing_vars=True)

[2018-04-15 18:36] cfosco commented on #3730
@brett-whitford - Hi Brett, I am having the exact same problem as you. How did you end up solving it?

[2018-04-15 18:55] cfosco commented on #3730
@shipeng-uestc - Hi shipeng, did you manage to solve the issue? I am currently using `exclude_list=[_LOGITS_SCOPE_NAME]` with _LOGITS_SCOPE_NAME imported from deeplab.model as @walkerlala suggested but I am still having the same error as Brett.

[2018-04-15 20:40] hedeya1980 commented on #3972
I face the same error, and I really need help about how to solve it.

[2018-04-15 20:42] hedeya1980 commented on #3913
I'm facing the same error but in windows, and I really need help about how to solve it.

[2018-04-16 02:35] weizh888 commented on #3835
`I've demagled the symbol, it appears to be a: tensorflow::StringPieceHasher::operator()(tensorflow::StringPiece) are we using some hash on the test?`

How can we know if we are using the same hash? @Davidnet

[2018-04-16 05:54] tanyarags commented on #3640
@Shirhe-Lyh : Thanks! I also figured out that making from_detection_checkpoint = True in config file works too.
You can related discussion here: can find that thread here: https://github.com/tensorflow/models/issues/3562

[2018-04-16 08:09] shipeng-uestc commented on #3906
@suphy2009 I have solved the problem.Because  my  training data has some error。The code has no error.

[2018-04-16 08:39] jiyongma opened #3988 "When"
when I run
python deeplab/eval.py
--logtostderr
--eval_split="val"
--model_variant="xception_65"
--atrous_rates=6
--atrous_rates=12
--atrous_rates=18
--output_stride=16
--decoder_output_stride=4
--eval_crop_size=513
--eval_crop_size=513
--dataset="ade20k"
--checkpoint_dir="./deeplab/datasets/ADE20K/exp/train_on_train_set/train"
--eval_logdir="./deeplab/datasets/ADE20K/exp/train_on_train_set/eval"

[2018-04-16 08:40] #3988 closed

[2018-04-16 08:41] jiyongma commented on #3730
when I run
python deeplab/eval.py
--logtostderr
--eval_split="val"
--model_variant="xception_65"
--atrous_rates=6
--atrous_rates=12
--atrous_rates=18
--output_stride=16
--decoder_output_stride=4
--eval_crop_size=513
--eval_crop_size=513
--dataset="ade20k"
--checkpoint_dir="./deeplab/datasets/ADE20K/exp/train_on_train_set/train"
--eval_logdir="./deeplab/datasets/ADE20K/exp/train_on_train_set/eval"

[2018-04-16 08:42] shipeng-uestc opened #3989 "[deeplab]How to export prob,when use the export_model.py to convert pb file ."
Hi, all.
I'm using the export_model.py to convert pb from ckpt files.
In export_model.py, the _OUTPUT_NAME='SemanticPredictions' .Now, I want to get the pixel-prediction 's  probability.
So，How to chang the export_model.py
Thanks

[2018-04-16 08:50] for-aiur commented on #2267
Could you please send me an invitation as well? yildirimmehmet82@gmail.com

Thanks a lot.

[2018-04-16 08:53] GustavZ commented on #3930
did it

[2018-04-16 09:53] GustavZ commented on #3892
@tfboyd I guess there is a simple answer to that, would be nice to hear it!

[2018-04-16 10:02] GustavZ commented on #3882
@asimshankar so it is a problem with the tensorflow version that is installed.
Do you know how tensorflow must be build form source to be able to run deeplab models?
i am using prebuild tf wheels from this repo: https://github.com/peterlee0127/tensorflow-nvJetson

Maybe those builds have not the right config, how would you recommend to build tf?

[2018-04-16 10:13] rhina commented on #3981
I have another question about detecting the location of descriptors.
I think that it can be computed by CalculateReceptiveBoxes and CalculateKeypointCenters in delf/extract_features.py

I have two concerns about this code.
1. stride=32.0 are used for both `resnet_v1_50/block3` and `resnet_v1_50/block4` (code below), but I think stride should be 16.0 for `resnet_v1_50/block3`.

[code]

2. this func

[2018-04-16 11:01] RodSernaPerez opened #3990 "Error when executing the parser trainer"
I am trying to train Syntaxnet on a new Corpus. I have edited the context.pbtxt so it points to the route of the corpus:

input {
  name: 'training-corpus'
  record_format: 'conll-sentence'
  Part {
    file_pattern: '/root/models/syntaxnet/corpus/ud-treebanks-v2.1/UD_English/en-ud-train.conllu'
  }
}
input {
  name: 'tuning-corpus'
  record_format: 'conll-sentence'
  Part {
    file_pattern: '/ro

[2018-04-16 13:02] dextroza commented on #3316
I cannot even continue to train ssd_mobilenet_v2_coco on COCO dataset. Tried to reduce batch_size to 8, but didn't help. I have TF 1.6, GTX 1080 Ti with 11GB, cuda 9.0. The error is:
":tensorflow:Starting Queues.
INFO:tensorflow:Starting Queues.
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:Error reported to Coordinator: Dst tensor is not initialized.
....
"

[2018-04-16 14:13] dextroza commented on #2952
Also happend to me. I took pretrained model ssd_mobilenet_v2_coco and tried to continue to train on COCO dataset. First few losses are 300+. I expected less than 10.

[2018-04-16 14:20] crazyfrog-github commented on #3930
Hi @GustavZ did you manage to get bounding boxes working? if so how did you manage it.

Cheers

[2018-04-16 14:51] chingjunehao opened #3991 "Is there any way to use the custom trained model(.pb file) and the vis.utils function on an Android apps?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-16 15:21] Shirhe-Lyh commented on #3640
@tanyarags Thanks!

[2018-04-16 15:43] GustavZ commented on #3930
@crazyfrog-github yes
@aquariusjay would this be interesting as pull request?

[2018-04-16 15:59] GustavZ commented on #2267
https://join.slack.com/t/yolofortf/shared_invite/enQtMzQ3NzQ4MTQ5NDI5LTNkMDkzYjA4ZjY1OWM4ZjIwN2ZjZGIwZTU2YjFkZDJmNGRiNTRiYjczMTQzMjQ4ODE1NGRkMGM4Njc4YmQ2Mzg

Invite yourself y’all :)

[2018-04-16 16:06] aquariusjay commented on #3930
Sure, it will be great to have it.
Thanks a lot for looking into this!

[2018-04-16 16:10] robieta commented on #3938
I'm handling two similar issues (https://github.com/tensorflow/models/issues/3922, https://github.com/tensorflow/models/issues/3972), so I'm going to grab this one as well.

[2018-04-16 16:24] robieta commented on #3938
Hi. Based on https://github.com/tensorflow/models/issues/1795 it looks like those warnings may not actually be fatal. In particular the missing Momentum sort of makes sense, as if one wants to run on new data keeping the SGD momentum from the previous training would be detrimental.

Can you run some inference examples and see if you get reasonable results?

[2018-04-16 16:32] GustavZ commented on #3930
ALright.
One more thing: deeplab is not capable of doing instance segmentation, right?

[2018-04-16 16:43] robieta commented on #3972
If you run without the checkpoint do you still get the assertion errors?

[2018-04-16 16:48] robieta commented on #3979
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-16 16:48] #3979 closed

[2018-04-16 16:55] aquariusjay commented on #3930
No, since the model only performs semantic segmentation right now.

[2018-04-16 17:32] k-w-w commented on #3978
@swaroopgj Can you help with this? We're not sure where to find autoencoder.Utils

[2018-04-16 17:39] rhina commented on #3981
cc @andrefaraujo
I would be really appreciated if you could answer my questions.

[2018-04-16 17:52] bloodraven66 commented on #3835
tf-nightly gpu solved it!Found it after 6 hours of reinstalling everything multiple times and research,thanks a lot!

[2018-04-16 18:05] ispirmustafa commented on #3959
best way is using `tf.train.LoggingTensorHook`. You need to provide the name of the tensor.

[2018-04-16 18:28] cfosco opened #3992 "[deeplab] eval.py issue while evaluating on a custom dataset"
### System information
- **What is the top-level directory of the model you are using**: deeplab
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.0
- **Bazel ve

[2018-04-16 18:59] qlzh727 commented on #3954
From your command line arg, it seems that you are using "--pipeline", which I don't think is correct. The valid value is "--pipeline_config_path"

[2018-04-16 19:06] qlzh727 commented on #3987
Adding @coreylynch @sermanet who might know more about triplet loss

[2018-04-16 19:31] GustavZ commented on #3882
Thanks but I know how to build tf from source and also I am familiar with this forum as I am contributing on it. But as far as I know there is no documented usage of deeplab on jetson tx2, or at least I could not find it.

I just thought it could be a known problem or it could be interesting that deeplab does not run on jetson, but if it’s not it’s ok as well.

[2018-04-16 19:48] airmak opened #3993 "lm_1b AttributeError: 'str' object has no attribute 'decode'"
Hi!

Tensorflow Version = 1.4.0
Using Anaconda Python 3.6.3

### Describe the problem

Trying to run sample mode using Tensorflow lm_1b, when I type

`bazel-bin/lm_1b/lm_1b_eval --mode sample --prefix "I love that I"  --pbtxt .\data\vocab
-2016-09-10.txt --vocab_file .\data\vocab-2016-09-10.txt --ckpt 'data/ckpt-*'
`

The following comes out:

`Recovering graph.
Traceback (most recent call last):

[2018-04-16 21:17] KingsonSingh commented on #3937
Hii I am getting error when I run the command-
python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config

in build functools.partial(tf.data.TFRecordDataset, buffer_size=8 * 1000 * 1000), AttributeError: 'module' object has no attribute 'data'

Then I replaced all tf.data with tf.contrib.data but then we faced an error as below :

in r

[2018-04-16 21:42] karmel commented on #3983
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please update and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-04-16 22:48] k-w-w commented on #3959
@CanoeFZH The master version of the repo works with the tensorflow nightly build. If you are running an older version of tensorflow, I would recommend checking out the [r1.5 branch](https://github.com/tensorflow/models/tree/r1.5/official) or one of the releases: [https://github.com/tensorflow/models/releases](https://github.com/tensorflow/models/releases)

[2018-04-16 22:48] #3959 closed

[2018-04-17 00:40] xmutizabal commented on #3959
I have the same problem in wide and deep tutorial

in ops.py
line 3365, in _as_graph_element_locked
    "graph." % (repr(name), repr(op_name)))

KeyError: "The name 'head/truediv:0' refers to a Tensor which does not exist. The operation, 'head/truediv', does not exist in the graph."

What I am doing wrong?

[2018-04-17 00:42] #3834 closed

[2018-04-17 00:57] k-w-w commented on #3959
@xmutizabal  what version of tensorflow are you using? As recommended above, please check out the [r1.5 branch](https://github.com/tensorflow/models/tree/r1.5/official) or one of the releases: [https://github.com/tensorflow/models/releases](https://github.com/tensorflow/models/releases)

[2018-04-17 01:43] airmak opened #3994 "Trying to run lm_1b; ParseError: 1:1 : Expected identifier or number, got <"
### System information

Running Python 3.6.4 on Windows

### Describe the problem

I'm trying to run lm_1b on sample mode, by inputting:

`$ bazel-bin/lm_1b/lm_1b_eval --mode sample --prefix "I love that I"  --pbtxt data/vocab-2016-09-10.txt --vocab_file data/vocab-2016-09-10.txt --ckpt 'data/ckpt-*'`

But I get the error:

`google.protobuf.text_format.ParseError: 1:1 : Expected identifier or numb

[2018-04-17 03:05] andrefaraujo commented on #3981
Let me reply to your questions one by one.

1) Number of features.
The DELF model is fully convolutional, so it does not require resizing to a specific size when performing inference. The model we released will simply process the input image at whatever resolution you feed it, and produce a number of features which is proportional to the input resolution. We only resize to a specific size when doi

[2018-04-17 03:39] swaroopgj commented on #3978
@k-w-w I have sent a PR #3477 to fix this issue a while ago. Can someone review it?

[2018-04-17 03:54] cfosco commented on #3983
Hi @jiyongma and @karmel ,
I am having the same issue. To answer @karmel 's questions,  this problem occurs when trying to fine-tune deeplabv3+, with tensorflow 1.6 or 1.7, and cudnn 7.0.4. The issue is triggered when running the eval.py script. I gave a thorough description of the issue and the code modifications that I did to try to train on a custom dataset on issue #3992 . Maybe @aquariusjay,

[2018-04-17 04:02] aNothing commented on #3565
@LeonidasCl , I encountered the same problem as you, but it seemed your method could not work me out. My Protobuf Compilation works well, It confused me a lot, do you have any other ideas?

[2018-04-17 04:29] karmel commented on #3993
Seems likely to be a Python 2/3 compatibility error. Assigning to @OriolVinyals , but this would also be a good starter PR if you would like to contribute. See http://python-future.org/compatible_idioms.html for some possible solutions you could try.

[2018-04-17 06:06] donuzium commented on #3835
tf-nightly-gpu solved this problem for me too.
CentOS 7.4.1708/cuda9.0/cudnn7102

[2018-04-17 08:15] InomjonRamatov opened #3995 "got an unexpected keyword argument "serialized_options", centos 7"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-17 08:27] gustavz opened #3996 "[Object Detection] Mobilenet as Backbone for Mask R-CNN"
Is it possible to create a config file with Mobilenet V1 or V2 as  Backbone /Feature extractor to train a Mask R-CNN Model?

Something like this:

[code]

[2018-04-17 08:29] InomjonRamatov commented on #3995
Traceback (most recent call last):
  File "object_detection/builders/model_builder_test.py", line 21, in <module>
    from object_detection.builders import model_builder
  File "/root/anaconda3/envs/py35/lib/python3.5/site-packages/object_detection-0.1-py3.5.egg/object_detection/builders/model_builder.py", line 17, in <module>
    from object_detection.builders import anchor_generator_builder
  Fi

[2018-04-17 08:57] pandasMX opened #3997 "SSD inference time"
Hi,
I want to know whether the inference time for the SSD is dependent on the size of data it trained on.

Because I first trained the model on **50k images**, the inference time in average was **30ms on P4 GPU**. However, after I trained on a larger data set with **500k images**, the inference time became **55ms per image**. Then I trained on **1 million images**, the inference time now becomes *

[2018-04-17 09:35] ywpkwon commented on #3974
@yicheng-li  Yes, but in this simple test, I just tested a few easy images and checked if results seemed acceptable.

[2018-04-17 10:01] qmy612 commented on #3992
May I ask you a question? When I modify the train_utils.py as what you do above, the model doesn't train and just model save.
The information when training is:
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:Recording summary at step 30000.
INFO:tensorflow:Stopping Training.
INFO:tensorflow:Finished training! Saving model to disk.
So I still use this: exclude_list = ['global_step'] to train, wi

[2018-04-17 10:24] ViktorijaV opened #3999 "Error while running classify_image.py from Anaconda prompt"
Hi,
The script classify_image.py is not running from Anaconda prompt but it's perfectly working when I run it from Pycharm.
I received the following output from Anaconda prompt:

2018-04-17 12:14:53.383722: I T:\src\github\tensorflow\tensorflow\core\platform\cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
2018-04-17 12:14:53.599685

[2018-04-17 10:31] eyaler commented on #3357
where is this folder on windows?

[2018-04-17 11:09] rhina commented on #3981
Thank you so much for your detailed response!

1.
I get high performance by not resizing images in testing. Thanks!

2.
I think that your used ResNet50 is the same as the one in the official paper: http://openaccess.thecvf.com/content_cvpr_2016/papers/He_Deep_Residual_Learning_CVPR_2016_paper.pdf (Table1, 50-layer).
The shape of conv4_x feature (corresponding to block3) is (14x14), so I think stri

[2018-04-17 13:29] airmak commented on #3993
@OriolVinyals
Completely right, I will close the issue now. Thank you!

[2018-04-17 13:29] #3993 closed

[2018-04-17 13:35] yuanzhi-liang commented on #1418
Thanks a lot !!!
I take about 2 days thinking to find wether I had somethings misunderstood in code or paper.
Maybe it's weired, but it feels good to find someone have the same problem finally.

[2018-04-17 14:33] RoloffMatek commented on #3868
Hello, I'm happy that I found this thread, since I'm facing the exact same issue. And this thread is the first on this problem. It would be great to hear what @dotannn your solution was.

I tried lower learning rates but it didn't have any impacts. Even with very low learning rates the problem ocurred. Always after about 500 steps. Then after about 30k to 50k steps the problem disappeared. Can any

[2018-04-17 14:42] eyaler commented on #3357
C:\Users\MYUSER\AppData\Local\Temp\NVIDIA Corporation\NV_Cache

[2018-04-17 15:32] alyahmed commented on #3938
They are not fatal (i.e no crash will occur), the training will continue. However, the loss function will not decrease so essentially the network won't learn anything.

[2018-04-17 15:45] wacoder opened #4000 "In alexnet_v2.py, use conv2d instead of fully connected layer"
[code]
In the implementation, it uses conv2d instead of fully_connected_layers. The tensor shape from pool5 is 6\*6\*256. After a kernel size 5\*5 no padding, stride =1, output should be 2\*2\*4096. But from the fully_connected layer implementation, the neuron is 4096. Could anyone explain this? Thank you very much.

[2018-04-17 15:52] andrefaraujo commented on #3981
Regarding the stride, your observation based on the paper is correct. However, the ResNet implementation we use does an additional striding at conv4_x. So, we use conv4_x with an additional subsampling of 2, which is the default configuration for the tensorflow ResNet implementation we use. That's what I was trying to explain in my previous post :)

[2018-04-17 16:27] rhina commented on #3981
I understand. I didn't know that tensorflow default implementation is like that.
Thank you so much for answering my questions many times ^^

[2018-04-17 17:14] FortiLeiZhang commented on #3565
@aNothing, @pkulzc , it seems the /proto/ssd.proto has been modified recently. In this new version, they removed the field
"optional bool batch_norm_trainable = 6 [default=true];"

[2018-04-17 17:20] rohith14 opened #4001 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [1001] rhs shape= [1000]"
##Code

$ python export_inference_graph.py --alsologtostderr --model_name=resnet_v1_50 --output_file=/local/del/ResNet50_v1_inf_graph.pb

$python freeze_graph.py --input_graph /local/del/ResNet50_v1_inf_graph.pb --input_checkpoint=/local/del/resnet_v1_50.ckpt --input_binary=true --output_graph=/local/del/frozen_resnet_v1_50.pb --output_node_names=ResNetV150/Predictions/Reshape_1

## Error
Tracebac

[2018-04-17 17:39] pkulzc commented on #3565
Yes, this field has been deprecated. Please see this [stackoverflow](https://stackoverflow.com/questions/49880939/tf-object-detection-api-detection-model-retraining-object-detection-protos-ssd) question if anyone has issue with missing batch_norm_trainable.

I'm also closing this issue as LookupTensor issue has been fixed, which is also stated in [faq](https://github.com/tensorflow/models/blob/abd

[2018-04-17 17:39] #3565 closed

[2018-04-17 17:40] k-w-w commented on #3978
@swaroopgj Thanks!

[2018-04-17 17:40] #3978 closed

[2018-04-17 18:41] rudevel commented on #1779
@TomPyonsuke "...-- \ --train_dir=gs://..."
This part seems wrong to me. Also do not leave a space after between =xxx as = xxx will fail with the same error. (and do not copy paste commands with spaces after the final \ like \_ _ _, searched a while for this one)

[2018-04-17 18:44] radzfoto opened #4002 "object_detection API protoc installation step fails"
### System information
- **What is the top-level directory of the model you are using**: ~/tensorflow/models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command

[2018-04-17 21:08] he44 commented on #4002
I encountered the same issue and I think it's because of the update/latest commit. I bypassed the protoc error by checking out an older version (2018-04-13).
[code]
(How to checkout previous commit: https://stackoverflow.com/questions/3555107/git-clone-particular-version-of-remote-repository/18037563 )

[2018-04-17 21:23] rudevel opened #4006 "research/object_detection/dataset_tools/create_pet_tf_record.py obviously mixes up the file names"
Please **READ BEFORE** you go and watch the error- message-
As the **error- message** is **totally misleading**:

**_TL;DR;: Swap the if-else branches 285-288_**

In **lines 285 - 288** the scripts applies names _"_with_masks_"_ if **FLAGS.faces_only**.

But according to the description (AND my mask training _finally_ working) this is exactly the switch that causes NO masks to be generated.

Addit

[2018-04-17 21:41] rohith14 commented on #4001
Got this working by setting --labels_offset=1

[2018-04-17 21:41] #4001 closed

[2018-04-17 22:03] nealwu commented on #3997
Please open a new issue and specify which model you are referring to as well as the other information in the template. Thanks.

[2018-04-17 22:03] #3997 closed

[2018-04-17 22:53] k-w-w commented on #3995
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-04-17 22:53] #3995 closed

[2018-04-17 23:00] pkulzc commented on #3996
Yes, we have this feature extractor ready([here](https://github.com/tensorflow/models/blob/master/research/object_detection/models/faster_rcnn_mobilenet_v1_feature_extractor.py)) so you can train mobilenet v1 + faster rcnn or mask rcnn by setting the feature_extractor field to mobilenet v1.
We don't have a config nor pre-trained checkpoint for this model yet, but you can train from scratch by your

[2018-04-17 23:37] robieta commented on #3938
That feels more like a general deep learning training problem rather than a particular issue with the code. Have you done any hyperparameter optimization? Also, when you say loss are you referring to training or testing loss?

[2018-04-18 00:51] amj1985 commented on #3999
I had the same error and I solved it by installing tensorflow 1.8.0rc0

pip3 install tensorflow-gpu==1.8.0rc0

Hope it helps ^^

[2018-04-18 01:07] vilmara opened #4007 "Script to Only Preprocess and Build the TFRecords version of the ImageNet data"
Hi all,

Is there a script to only preprocess and build the TFRecords version of the ImageNet data?, assuming that the data is already downloaded. Here is what I am doing so far from the command shell, following some guidelines in the script download_and_preprocess_imagenet.sh:

Step 1. Organizing the validation data into sub-directories (step completed successfully)

Step 2: Convert the XML files

[2018-04-18 01:59] xmutizabal commented on #3959
👍

[2018-04-18 02:24] CanoeFZH commented on #3959
What should I do if tensorflow keep upgrading its version quickly while our system can not update the version quickly?

[2018-04-18 02:46] csindic commented on #3835
So I have a similar problem in combination with other problems of similar obscurity. Nothing on this feed seems to work :( I am running on Windows 10 (unfortunately). I have tried all combinations of CUDA toolkit and CuDNN (versions, that is). I am using anaconda and pip for most of my modules.

`(gpu2) F:\project\models\object_detection>python train.py --logtostderr --train_dir=training/ --pipeli

[2018-04-18 02:50] lcycoding commented on #3980
It seems that you're using Mobilenetv1's checkpoint to train v2, which is not possible for you to start the training process.

[2018-04-18 03:41] tvkpz commented on #1754
This error also arises when the bounding boxes are two small compared to the size of the image. I deleted all boxes that are less than 1/16 th of the image size and the training works fine. Has anyone tried this before? Is there a specific proportion (instead of 1/16th) that we can take that is tied to how fasterRCNN is implemented?

[2018-04-18 03:54] CARASO commented on #1754
@tvkpz Are you saying area? Or is it length or width?

[2018-04-18 03:57] yhliang2018 commented on #3905
Thanks for the clarification. Issue closed.

[2018-04-18 03:57] #3905 closed

[2018-04-18 04:38] ethancaballero commented on #3962
bump, I have identical issue

[2018-04-18 04:57] vivekbhadouria commented on #3995
I too had this issue when I was compiling my protobuf with protoc version 3.5.x. But, when I changed my protoc version to 3.4.0, the problem vanished.

[2018-04-18 05:21] coutner opened #4009 "[Object detection]training becomes slower with multi-gpu and gpu-util sometimes goes to 0"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:1.7.0
- **Baz

[2018-04-18 05:40] GustavZ commented on #3996
Nice! Are there trained weights at least for the mobilenet backbone available, like on imagenet? That would really speed up training :)

And if yes how do I assign them in the config? Something like including ckpt files but set finetune checkpoint to False, right?

[2018-04-18 05:47] zeynali commented on #3980
@lcycoding , No when i use ssd_mobile v1 i got this warning also ,apparently this warning because most recently the files of mobilenet in the slim folder gathered in one folder mobilenet , when i use ssd_mobile_v1 in the Previous versions of tensorflow binary it works good. in mp opinion this problem exist in the binary version of tensorflow.

[2018-04-18 05:51] hitlk commented on #3629
@jrabary
I'm working on retinanet too, but don't know how to config the model.
Could you share your config file with me ? Thanks.

[2018-04-18 07:10] denglixi commented on #4002
Upgrade your protoc.

[2018-04-18 07:57] abhishekvahadane commented on #3196
@sapjunior : Have you tried implementing that paper you mentioned?

[2018-04-18 08:09] Tsuihao commented on #3196
@jungchan1 sorry I could not provide my trained work. I was using TensorFlow

@cyberjoac  Nope, I did not go further on this topic; however, I am still looking forward to see if anyone can share the experience in this community :)

@elifbykl 600X600 for me sounds acceptable to resize into 300x300; however, it also depends on the relative object size you are working on.  Based on the above discussi

[2018-04-18 08:25] tt7533 opened #4010 "Relationship between Squeeze_2 and detection_boxes after SecondStagePostprocessor"
- **models/research/object_detection/**
- specifically using "faster_rcnn_resnet101_coco" from the model zoo.

I have a trained frozen graph model _frozen_inference_graph.pb_ that I can load into _detection_graph_.   In order to investigate the relationship between the proposed bounding boxes at different stages of the detection, I plot the contents of:
1)  _Squeeze_2_
2) _detection_boxes_  (which

[2018-04-18 08:48] beyondli opened #4011 "is ssd.proto lost <<optional bool batch_norm_trainable = 3 [default=false]; >>"
when I test mobilenet_ssd_v2_coco.config, python run error: Message type "object_detection.protos.SsdFeatureExtractor" has no field named "batch_norm_trainable".

I check the file found in this file no batch_norm_trainable is defined, so I think there should be define it ?
anyone can help?
thanks!

[2018-04-18 09:17] yafengwa commented on #3948
I got the same problem in win10, how to solve it?

[2018-04-18 10:03] nguyeho7 commented on #3996
There are pretrained weights for mobilenet v1 in the slim repo: https://github.com/tensorflow/models/tree/master/research/slim

And yes, you point to the mobilenet checkpoint and set "from detection checkpoint" to false, it will load the backbone weights and train the rest from scratch

[2018-04-18 10:05] pgrandinetti opened #4013 "TypeError: not all arguments converted during string formatting - preprocess_imagenet_validation.py"
https://github.com/tensorflow/models/blob/6ff0a53f81439d807a78f8ba828deaea3aaaf269/research/slim/datasets/preprocess_imagenet_validation_data.py#L80

isnt `%s` missing in that line?
Cheers

[2018-04-18 11:42] huanfu1029 commented on #1120
@darshanmaiya
Hi,
Have you found the solution yet ?

Best Regards

[2018-04-18 12:16] wldeephi opened #4014 "xception65:pretrained_model"
hello, it is ver nice for you to released the code and model for  deeplabv3+, and now i want to reproduce the  results, and can you provide the  pretrained model for xception-65, thanks very much !

[2018-04-18 12:57] zeynali commented on #3884
@dextroza , Hi , i've trained the ssd_mobilev1_coco on my own dataset that have only one class the total dataset for training is 200k samples and for testing 35k , and i go through 450k step with size 608*608 and batch_size 20 , and my train mAP is 85 but test is 35 why ??????

[2018-04-18 12:59] PythonImageDeveloper opened #4015 "i get very bad result with ssd_mobilev1_coco on my own datatset"
System information
[code]

Hi , I've trained the ssd_mobilev1_coco on my own dataset that have only one class the total dataset for training is 200k samples and for testing 35k , and i go through 450k step with size 608*608 and batch_size 20 , and my train mAP is 85 but test is 35 why ??????

[2018-04-18 13:08] zeynali commented on #3422
I solved the problem with adding `from tensorflow.python.platform import tf_logging as logging` in the `eval_util.py` file. #

[2018-04-18 13:49] ChrisBellew commented on #3999
Worked for me, thanks.

I'm using CUDA 9.0 and cuDNN 7.1.3 on a GTX 1060

[2018-04-18 13:57] hanif17 opened #4016 "Deep Local Feature DELF Module not found and 3 import files are missing."
I am duplicating results of research paper "Large-Scale Image Retrieval with Attentive Deep Local Features",

System Description: Ubuntu 1
![Uploading error_delf.png…]()
6.04 Directory: /home/user_name/anaconda3/lib/python3.6/site-packages/tensorflow/models/research/delf/delf/python/examples Tensorflow: Only CPU version
Describe the problem

I have followed steps given in link: "https://github.com

[2018-04-18 14:19] csindic opened #4017 "Tf-gpu training with train.py maxes out RAM & CPU and crashes"
So I am experiencing an odd combination of (mostly unresolved) issues others have experienced. I should note that this is a unique issue in that I have not seen anyone experience the same amalgamation of these issues at once. I am (unfortunately) running Windows 10 with anaconda and pip for most of my modules. I have tried all combinations of CUDA toolkit and CuDNN (versions, that is).

Python 3.6

[2018-04-18 14:27] hanif17 commented on #3451
Files are not available in mentioned link. Either hidden or whatever is the issue but i am unable to see them.

[2018-04-18 14:37] dextroza commented on #3884
@zeynali  You should check your dataset, data augmentation or try with L2 or dropout regularization if is possible. Let me know if you have any news. Good luck!

[2018-04-18 14:54] alyahmed commented on #3938
I'm referring to the training loss. it seems by the issue tracker many people are having this problem with other networks as well (SSD MobileNet V1 & V2). This seems like a code problem, my best guess is the names of the layers used in the provided checkpoints don't align with the ones used in this repository?

[2018-04-18 15:31] sid6641 commented on #3823
In mobilenet_v2.py, **depth_multiplier=1** for both mobilenet and mobilenet_base, you should change that to 1.4

[code]

[code]

[2018-04-18 15:52] priya-dwivedi commented on #3913
Same here. Training on Mask RCNN Inception on Ubuntu using Python 2.7 and Tensorflow 1.5. Get the same error.

[2018-04-18 15:53] wenouyang opened #4018 "[DeepLab] Handing the data set that only includes masked image instead of annotation file"
Hi,

I am trying to use Deeplab V3 for my own image set, which happens to be the format like Kitti Road Data set,

The training set consists of a pair of images, raw image and masked image, which are shown as follows. At present, there has code for transforming the cityscape/voc data into tfrecord. How to transform the data set, shown as follows, into tfrecord?

![um_000003](https://user-images.gi

[2018-04-18 16:06] stoneyang commented on #3999
Worked like a charm! @amj1985

My tf is deployed on Windows 10, CUDA 9.0, cuDNN 7.1.3.

[2018-04-18 16:06] fye881 commented on #3422
Oh for logging, I did this in eval.py:
import logging
logging.basicConfig(level=logging.INFO)

[2018-04-18 16:17] Andreas71 opened #4019 "Evaluation results"
Hello,

I trained my model using my own training dataset but when i try to run the evaluation it only displays the test images with the detections in the tensorboard, but nothing about the MaP. How can i display the MaP or any other accuracy result?

Thanks in advance

[2018-04-18 16:30] karmel commented on #4009
As you increase the number of GPUs, presumably you are also increasing the global batch size? In that case, you would expect the seconds per step to increase, as the examples processed per step is increasing 7x. In other words, you are processing 7x examples per step, with a 3x slowdown per step, so the GPU scaling efficiency for this particular example is probably around 50%. The GPU utilization

[2018-04-18 16:30] #4009 closed

[2018-04-18 16:32] karmel commented on #3835
@csindic This appears to be a different problem. I am going to close this issue, as the original problem seems to have been solved with fixing versioning across the libraries. @csindic , please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new).

[2018-04-18 16:32] #3835 closed

[2018-04-18 16:43] qlzh727 commented on #3999
Seems that binary version incompatibility is the cause of the error. As suggested by @amj1985 on the thread, please update the installed TF binary to mitigate the issue.

[2018-04-18 16:43] #3999 closed

[2018-04-18 16:49] ViktorijaV commented on #3999
Thank you for the answers. I resolved it by downgrade CuDNN to the oldest version compatible  with Cuda 9.0 .

[2018-04-18 17:16] bitfort commented on #3976
Thanks for reaching out, I'd recommend you look at TF on stackoverflow for help with running the commands. This github issue is primarily for reporting bugs, stackoverflow can be more helpful with getting things running.
https://stackoverflow.com/tags/tensorflow/hot

Thanks
Victor

[2018-04-18 17:16] #3976 closed

[2018-04-18 17:17] #3981 closed

[2018-04-18 17:17] #3870 closed

[2018-04-18 17:17] #3895 closed

[2018-04-18 17:28] derekjchow commented on #4017
Just to clarify, are you using the standard pets config and dataset?

[2018-04-18 17:29] derekjchow commented on #4015
Sounds like you're over fitting your dataset. Could you describe your dataset and perhaps share your tensorboard?

[2018-04-18 17:29] derekjchow commented on #4011
This looks like a typo in the config. Please remove the `batch_norm_trainable` line.

[2018-04-18 17:30] andrefaraujo commented on #3451
link continues to work for me. @Chaoyang-Zhu, does it work for you?

[2018-04-18 17:30] derekjchow commented on #4002
@denglixi is correct. Update your protobuf compiler/runtime to 3.x.x

[2018-04-18 17:37] csindic commented on #4017
Yes, ssd_mobilenet_v1_pets.config.
Additionally, I have successfully used this dataset before but not on _this_ computer with GPU.
 It works using CPU on this (new) machine, as well as the GPU and CPU on my laptop in both linux and windows.

[2018-04-18 18:25] Jirapat1231 commented on #3969
Its heppend even if i use local images or video file

[2018-04-18 19:51] rbgreenway commented on #1834
My lack of linux understanding is killing me...
I can't find a "tensorflow/protoc_3.5" directory anywhere on my system.
I've followed the instructions on the page: https://github.com/wagonhelm/TF_ObjectDetection_API/blob/master/README.md, and under the "Using Native Python 3" section, when I get to the: protoc object_detection/protos/*.proto --python_out=.
I get the described error.  Everyone abov

[2018-04-18 20:00] radzfoto commented on #4002
@denglixi and @derekjchow, you were both correct. I removed the 2.6 protobuf-compiler and installed the 3.5.1 protobuf-compiler from github. What is frustrating is that the installation instructions in the object_detection api github still say to use the 2.6 version. I hope that this gets updated. Thank you!

[2018-04-18 20:07] sed0724963 opened #4021 "example training problem"
I don't know what  it's means?? How do I supposed to solving this problem??
<img width="789" alt="2018-04-18 4 55 02" src="https://user-images.githubusercontent.com/38509051/38955001-dfbf51f2-4385-11e8-8429-74e774e88a5b.png">

[2018-04-18 20:28] derekjchow commented on #4002
Will update the docs for next release

[2018-04-18 20:28] #4002 closed

[2018-04-18 20:40] zeynali commented on #3422
@fye881 , is this work well?

[2018-04-18 20:43] zeynali commented on #4015
@derekjchow, have you trained ssd_mobilev1 on own dataset ?

[2018-04-18 23:53] csindic commented on #4017
Solved it! After over 10 hours, finally!

I had several versions of tf-gpu in my site-packages dir for anaconda **as a whole**, rather than the individual env I was using. I deleted these and ran pip install tf-nightly-gpu. I am using CUDA 9.0 and CuDNN 7.0 or 7.1 (I can't see which one in the documentation and I don't want to experiment because I am training right now).

[2018-04-18 23:53] #4017 closed

[2018-04-19 01:08] darkies4ever opened #4024 "How to solove in TensorFlow Object Detection API"
### Describe the problem
I have a question while using the Tensorflow Object Detection API.
While using this API, I do not want to detection person recognition.
For example, if you have person and scissors, I want to detection only scissors, except person.
We Would like to exclude Person detection
I need a solution.
How do you solve it?
Please help me...

[2018-04-19 01:09] k-w-w commented on #4021
Looks like you have an extra space between `--train_dir=` and `$/usr/local/Cellar/`. Try removing that space.

[2018-04-19 02:15] YknZhu commented on #3992
@cfosco that is a weird error :( I think most warning messages are expected, and it is odd that batch norm beta is missing from checkpoint. One thing I notice is eval tries to load `./train_logdir\model.ckpt-50` but you are only training it for 30 steps, maybe double checking that is the right checkpoint?

@qmy612 that is due to you are restoring global step as well. just dropping global step vari

[2018-04-19 02:47] arixlin commented on #3961
update tensorflow to 1.7.0 or set total_loss = none, and change train_set path in pipline.config with
train_input_reader: {
tf_record_input_reader {
input_path:

[2018-04-19 03:00] amritarana commented on #3762
amrita@amrita-VirtualBox:~/Downloads/Object-Detection$ python3 generate_tfrecord.py --csv_input=data/train_labels.csv --output_path=data/train.record
Traceback (most recent call last):
  File "generate_tfrecord.py", line 99, in <module>
    tf.app.run()
  File "/home/amrita/.local/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 126, in run
    _sys.exit(main(argv))
  File "gen

[2018-04-19 03:43] HansaTharuka commented on #2930
go to research> and just type protoc object_detection/protos/anchor_generator.proto --python_out=.
and enter(before that you have to set system path to protoc.exe)
**Working Solution**

[2018-04-19 03:51] HansaTharuka commented on #2930
go to research> and just type protoc object_detection/protos/anchor_generator.proto --python_out=.
and enter(before that you have to set system path to protoc.exe)
**Working Solution**

[2018-04-19 04:02] lulu12132017 opened #4025 "FIFOQueue '_2_prefetch_queue' is closed and has insufficient elements (requested 1, current size 0)"
When I trained object dection.I got the following information, how could I solve this error.
[code]
Here is the command I use
F:\TensorFlow\models\research\object_detection>python train.py --train_dir="F:/dataset/kitti/data_object" --pipeline_config_path="F:/dataset/kitti/data_object/faster_rcnn_resnet101_kitti_my.config"

tensorflow version：1.7.0

[2018-04-19 04:52] qmy612 commented on #3730
@hhwxxx Hello, in your answer to lydialixia, do you mean in train_util.py, exclude_list should be like this:
exclude_list = ['global_step']
exclude_list = ['logits']

but I still can't start training, the information is:
INFO:tensorflow:Starting Queues.
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:Recording summary at step 30000.
INFO:tensorflow:Stopping Training.
INFO:tensorflow:Finished tr

[2018-04-19 05:56] JH0lmes opened #4026 "SSD ，who can tell me how to change 300*300 to 512*512！！！"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-19 06:56] jonbakerfish opened #4027 "Details on delf feature"
Hi @andrefaraujo , thanks for open sourcing your DELF project.
I want to confirm a few things about the DELF features. There are five components fo DELF:

    locations: [N, 2] float array which denotes the selected keypoint
      locations. N is the number of features.
    scales: [N] float array with feature scales.
    descriptors: [N, depth] float array with DELF descriptors.
    attention: [N

[2018-04-19 07:01] luotao1 opened #4028 "Question about TensorRT benchmark"
In https://github.com/tensorflow/models/tree/master/research/tensorrt, there are benchmarks on TensorFlow graph using TensorRT.

While https://docs.nvidia.com/deeplearning/sdk/tensorrt-api/topics/topics/workflows/tf_to_tensorrt.html tells another method, i.e, import a TensorFlow model into TensorRT and create a TensorRT engine directly.

May I know the elapsed time difference between these two met

[2018-04-19 07:10] sed0724963 commented on #4021
it's becomed:No such file or directory,but I determine the .config was exist
<img width="790" alt="2018-04-19 3 03 09" src="https://user-images.githubusercontent.com/38509051/38976373-c359fa40-43e3-11e8-9e9d-7cd950f59782.png">

[2018-04-19 07:37] Adnation commented on #3870
Even if I can increase the batch size how is it going to solve `NaN in histogram` error?

[2018-04-19 09:42] alasin commented on #3930
@GustavZ @aquariusjay I'm doing this for my task:

    bboxes = {}
    for i in range(num_labels):`
        rows, cols = np.where(seg_masks == i)
        tl_x, tl_y = np.min(cols), np.min(rows)
        br_x, br_y = np.max(cols), np.max(rows)
        bboxes[i] = [tl_x, tl_y, br_x, br_y]

[2018-04-19 11:13] cuicuizhang1989 opened #4030 "NotFoundError (see above for traceback): Key MobilenetV2/Conv/BatchNorm/beta not found in checkpoint [[Node: save/RestoreV2 = RestoreV2[dtypes=[DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, ..., DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_save/Const_0_0, save/RestoreV2/tensor_names, save/RestoreV2/shape_and_slices)]]"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-19 11:14] cuicuizhang1989 commented on #4030
python ./deeplab/train.py --logtostderr --train_split="trainval" --model_variant="mobilenet_v2" --output_stride=16 --train_crop_size=513 --train_crop_size=513 --train_batch_size=4 --training_number_of_step=10 --fine_tune_batch_norm=false --tf_initial_checkpoint=./deeplabv3_mnv2_pascal_train_aug/model.ckpt-30000 --train_logdir=./log/ --dataset_dir=./deeplab/datasets/pascal_voc_seg/tfrecord/
when I

[2018-04-19 11:17] shuli163love commented on #3203
@yuanyuanxiang  所有你的问题解决了吗？求助

[2018-04-19 11:18] ZER-0-NE commented on #3873
Can you help me out with this? @derekjchow

[2018-04-19 11:37] heethesh commented on #3136
Similar issue on GTX1050, GPU usage is around 10~15%.

When I run SSD detector continuously in a loop (with no other processes or additional delays), GPU-Util is around 40-42% and FPS is around 20.

However, when I run SSD detector with some delay between each call (around 100-200ms, in real case, I have multiple threads accessing the detect function, hence the small delay), GPU-Util drops down to

[2018-04-19 12:41] yuanyuanxiang commented on #3203
@shuli163love 这可能是预训练模型的问题，换一个模型就行了。虽然模型名称一样，但是日期不同也应该换着试一下。

[2018-04-19 13:07] y-kl8 commented on #3896
Do you know how to run this code on the specified GPU?

[2018-04-19 13:12] y-kl8 opened #4031 "[deeplabv3+]how to run this code on the specified GPU?"
How to run the deeplabv3+ code(  https://github.com/tensorflow/models/blob/master/research/deeplab/train.py) on the specified GPU

[2018-04-19 14:00] akshaysharma096 commented on #2654
Hey, I am on my way to complete the implementation for this.

[2018-04-19 14:05] sed0724963 opened #4032 "ModuleNotFoundError: No module named 'object_detection'？？"
what it is mean??object_detection module is equal a file of "object_detection" ?or not?
<img width="790" alt="2018-04-19 4 05 25" src="https://user-images.githubusercontent.com/38509051/38996284-79dcc48a-441d-11e8-848a-303d4bcbf17f.png">

[2018-04-19 14:15] dextroza commented on #3330
Hi there, I also cannot finetune ssd_mobilenet_v2_coco on KITTI, after 450k iterations the mAP(IOU=.50) is just .45. Should I change something more in pipeline.config except num_classes = 2? In KITTI labels I have two classes, car and pedestrian.

[2018-04-19 14:28] vilmara commented on #4007
Closing, issued resolved. Thanks

[2018-04-19 14:28] #4007 closed

[2018-04-19 15:42] hhwxxx commented on #3730
@qmy612

Hello. Maybe you can try this:
`exclude_list = ['global_step', 'logits']`

As to the `_LOGITS_SCOPE_NAME`, it is defined in "model.py", so you should use like this: `model._LOGITS_SCOPE_NAME`.

And I have no idea about `miou=0.93`.

[2018-04-19 15:54] joel-shor commented on #3851
What version of TensorFlow are you using? Are you using a standard version, or a nightly build?

[2018-04-19 16:11] robieta commented on #4024
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-19 16:11] #4024 closed

[2018-04-19 16:48] k-w-w commented on #4021
Did you follow all the instructions from the [setup](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md)? In particular the part about adding to the PYTHONPATH.

[2018-04-19 16:58] sed0724963 commented on #4021
I think I have,because the example file .ipynb can work. but now I want to operating this example of training data ,it's can't work
I renew the command line for terminal,it's become this image...
<img width="572" alt="2018-04-20 12 57 32" src="https://user-images.githubusercontent.com/38509051/39006530-db232ae6-4435-11e8-9482-b2d92b7add15.png">

[2018-04-19 17:11] YknZhu commented on #3896
`CUDA_VISIBLE_DEVICES` will be your friend ;)

[2018-04-19 17:48] VinceKumar commented on #4032
You have to rerun instructions from Protobuf Compilation, Add Libraries to PYTHONPATH everytime you close the terminal.

[link](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md)

[2018-04-19 17:55] sed0724963 commented on #4032
I was written  in PATH.. 。 it's your mean??
<img width="572" alt="2018-04-20 1 51 23" src="https://user-images.githubusercontent.com/38509051/39009188-87f33624-443d-11e8-87a3-6c69cecb9c3a.png">

[2018-04-19 17:56] #4021 closed

[2018-04-19 17:58] k-w-w commented on #4032
`pwd` should be replaced with the path to the models/research folder.

[2018-04-19 18:00] k-w-w commented on #4000
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-19 18:00] #4000 closed

[2018-04-19 18:02] VinceKumar commented on #4032
shouldn't it also be in your .bashrc file?

[2018-04-19 18:05] k-w-w commented on #3959
@CanoeFZH We create releases that can run at specific tensorflow versions. Unfortunately this does mean that you will get older versions of the code. The models in the master branch are mostly backwards compatible but we don't guarantee it.

[2018-04-19 18:06] k-w-w commented on #4019
What command did you use to run the model?

[2018-04-19 18:07] sed0724963 commented on #4032
Now, it's my new question,I try to renew the command line ,it's become this ..:
<img width="574" alt="2018-04-20 2 05 51" src="https://user-images.githubusercontent.com/38509051/39009852-668b3016-443f-11e8-8b24-c81a88d2caaa.png">
No such file or directory

[2018-04-19 18:17] Andreas71 commented on #4019
First,
python eval.py \
    --logtostderr \
    --pipeline_config_path=training/ssd_mobilenet_v1_pets.config \
    --checkpoint_dir=training/ \
    --eval_dir=eval/

And then to visualise it
tensorboard --logdir='eval'

In tensorboard only the images with the detections appear and nothing about the MaP

[2018-04-19 18:24] sed0724963 commented on #4032
I renew the command line , Take away the $ mark become:python object_detection/train.py --logtostderr --pipeline_config_path=object_detection/data/faster_rcnn_resnet101_pets.config --train_dir=object_detection/data/
and problem become this...
<img width="971" alt="2018-04-20 2 23 07" src="https://user-images.githubusercontent.com/38509051/39010689-f542f256-4441-11e8-9faa-ebd8893417ef.png">
<img wi

[2018-04-19 18:35] VinceKumar commented on #4032
[#3705](https://github.com/tensorflow/models/issues/3705)

[2018-04-19 18:48] k-w-w commented on #4019
derekjchow can you help with this?

[2018-04-19 19:03] #4032 closed

[2018-04-19 19:19] AlexDag commented on #3250
some error with ValueError:  faster_rcnn_inception_v2 , and run well with model:faster_rcnn_resnet101.
So >  your doc, the scripts,  the instructions there are not correct. Or are there other logics here ?

[2018-04-19 19:36] AlexDag commented on #3250
to solve this> view this file: object_detection/builders/model_builder.py , the values of "FASTER_RCNN_FEATURE_EXTRACTOR_CLASS_MAP = {"
If you have not "faster_rcnn_inception_v2" extractor > update the version TF ObjectDetection.

[2018-04-19 19:58] robieta commented on #4028
@karmel Can you comment?

[2018-04-19 20:01] k-w-w commented on #4032
That appears to be a bug in `tf.contrib.slim`. Are you able to upgrade to Tensorflow 1.7 or later?

[2018-04-19 20:05] sed0724963 commented on #4032
OK, I'll trying now

[2018-04-19 20:13] sed0724963 commented on #4032
it's successful?? so faster?
<img width="1016" alt="2018-04-20 4 11 57" src="https://user-images.githubusercontent.com/38509051/39015802-1117076a-4451-11e8-935a-d56c05f6da90.png">

[2018-04-19 20:16] k-w-w commented on #4032
It looks like it didn't train at all. Did you prepare the data as instructed by the README?

[2018-04-19 20:18] sed0724963 commented on #4032
I think I have...
<img width="790" alt="2018-04-20 4 17 43" src="https://user-images.githubusercontent.com/38509051/39016097-dc0e39de-4451-11e8-876d-a7f591031f83.png">

[2018-04-19 20:28] sed0724963 commented on #4032
If you ' ll allow a slight digression, how did you know about my tensorflow version is too low?? the previous question

[2018-04-19 20:33] k-w-w commented on #4032
I'm not too familiar with the object detection model, so I'm unsure if that's the expected train directory structure. @derekjchow , can you help with this? Thanks!

@sed0724963 I saw the `tf.contrib.slim` bug on the r1.6 branch in the [source code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/learning.py). The bug was fixed in r1.7. (I also probably coul

[2018-04-19 20:34] karmel commented on #4028
CC @aaroey @samikami for more details on TRT performance.

[2018-04-19 20:38] sed0724963 commented on #4032
but I only have image of my terminal , how did you know ? yourself seen the souce code at before? and how to know my question is same??

[2018-04-19 20:42] k-w-w commented on #4032
The error `local variable 'total_loss' referenced before assignment` originated from the file that I linked (learning.py), so I look at the code history and found that there was a bug in r1.6 and before.

[2018-04-19 20:44] aaroey commented on #4028
@samikama

[2018-04-19 20:50] sed0724963 commented on #4032
understandable, if I contact long time about tensorflow ,Will I become stronger about that?
I think I'm not understand  related information too much ,now

[2018-04-19 20:58] aaroey commented on #4028
Generally speaking, for a TF model whose ops are all supported by TensorRT, importing it into TensorRT and running TensorRT directly should be more efficient than running it through TF-TensorRT integration. The trade-off is then between the ease of use and the performance gain (which may be negligible, depending on the model and the way you run it). We don't have numbers on the performance differe

[2018-04-19 21:14] samikama commented on #4028
The main difference is uff path requires all model to be supported by TensorRT. Even though TensorRT supports large fraction of ops encountered in the models it doesn't support everything. TF-TRT approach enables you to get supported parts of the networks run in TensorRT and unsupported part to run in TensorFlow, so that you can get partial speedup that wouldn't be possible. In the future we will

[2018-04-19 21:45] karmel commented on #4028
Thanks, @aaroey and @samikama ; closing this issue as resolved, but, @luotao1 , if you have specific issues with the implementation, please open a new issue.

[2018-04-19 21:45] #4028 closed

[2018-04-19 21:50] willSapgreen commented on #2861
@frostell, thank you that fixed it on

Ubuntu 16.04.01 LTS
Tensorflow 1.4.1

[2018-04-19 22:44] karmel commented on #4011
It sounds like this issue is resolved. If the solution does not work, please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-04-19 22:44] #4011 closed

[2018-04-19 23:06] Andreas71 commented on #4019
Here is a screenshot of the tensorboard. It doesnt show anything about MaP

![sce](https://user-images.githubusercontent.com/24529098/39022680-924fce02-442e-11e8-91ab-e5da346fa162.png)

[2018-04-20 00:09] cfosco commented on #3992
Hi @YknZhu, thanks for your answer. Unfortunately that is not the error, I used to train for 50 epochs but I recently changed to 30, the output you are seeing is from an old traceback. I'll update it now.
If anyone manages to find the solution to this, or if anyone managed to train with their own dataset, I would love to see any available code to compare.

[2018-04-20 00:14] andrefaraujo commented on #4027
I think you are taking this from the `feature_io.py` file, right?

1. (y, x). Yes. The features are visualized at https://github.com/tensorflow/models/blob/master/research/delf/delf/python/examples/match_images.py#L87 , so you can see how the convention is used here.
2. `scale` = `1/image_scale`. This is done for usual convention of scale values, as in eg SIFT. It is done here: https://github.com/

[2018-04-20 01:00] cuicuizhang1989 commented on #4030
I have soved this problem ,as the log does not clean.

[2018-04-20 01:00] #4030 closed

[2018-04-20 01:02] cuicuizhang1989 commented on #3983
may be your log dir has different kind of checkpoint such as xception_65 and mobilenetv2 both in the save dir.

[2018-04-20 01:29] abslamp opened #4036 "Textsum error: a bytes-like object is required, not 'str'"
--------------------
### System information
- **What is the top-level directory of the model you are using**: Textsum
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**

[2018-04-20 01:45] robieta commented on #3938
@jch1 Could you comment?

[2018-04-20 01:46] robieta commented on #3909
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-04-20 01:46] #3909 closed

[2018-04-20 01:47] robieta commented on #3989
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2018-04-20 01:47] #3989 closed

[2018-04-20 02:27] luotao1 commented on #4028
Thanks to all of you very much!

[2018-04-20 03:05] andyxzq commented on #2994
delete the blank line in the training and test data will solve your problem.

[2018-04-20 05:26] shushengyang commented on #171
I am a cainiao, many thanks!@andorardo

[2018-04-20 06:11] bidai541 commented on #1715
@GBJim
I met the same problem and found PIL function "np.array(image.getdata()).reshape(
    (im_height, im_width, 3)).astype(np.uint8)"  cost a lot of time. OpenCV is faster because the format read in is ndarray. Using this function instead "np.asarray(<Image object>)" and then will be no difference in efficiency.

[2018-04-20 06:38] asimshankar commented on #4013
Yup it is, sent a PR to fix. Thanks.

[2018-04-20 07:03] amritarana commented on #1591
amrita@amrita-VirtualBox:~/Downloads/models/research/object_detection$ python3 train.py
WARNING:tensorflow:From /home/amrita/.local/lib/python3.6/site-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar a

[2018-04-20 07:30] amritarana commented on #1779
amrita@amrita-VirtualBox:~/Downloads/models/research/object_detection$ python3 train.py
WARNING:tensorflow:From /home/amrita/.local/lib/python3.6/site-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar a

[2018-04-20 07:38] KumailHussain commented on #2739
how to edit setup.py as files is on google cloud and when i edit file using cloud shell it says permissin denied

[2018-04-20 08:16] #4031 closed

[2018-04-20 08:48] zeynali commented on #3330
@dextroza , when i fine-tuning ssd_mobilev2_coco on my own dataset , that is start to training but i get this warring : https://github.com/tensorflow/models/issues/3980
this error is happened for v1 but the same warring happed about v2 .
I'll say it in the old version of tensorflow repository that the folder mobilenet did't exist in `slim` the ssd_mobilev1_coco is ok and good trained

[2018-04-20 09:17] shushengyang commented on #140
@Ldpe2G, how do you solve this problem ? I try all answer that I can find, but they doesn‘t work.

[2018-04-20 09:50] dextroza commented on #3330
@zeynali  If I understand well, you are able to train ssd_mobilenet on your own dataset with an old version of tensorflow/models. Could you tell me the commit of this old version and what version of ssd_mobilenet do you use?

[2018-04-20 10:11] AlekseySh commented on #2694
same problem with @imvinaypatil   =(

[2018-04-20 10:57] walkerlala commented on #1836
@chenyuZha remove the train dir does work. But this same error occur when restoring from parameters from the same models. Just run it, stop, and run it again without changing anything, and you will see the same error showing up. It is potentially a bug in the implementation.

[2018-04-20 12:00] Insertfunnylogin commented on #3203
I'm getting same errors on different models including one I trained yesterday.
yesterday btw I didn't get any errors, I terminated the training script (I'm using the stock script train.py from models/research/object_detection which doesn't stop itself) and then I presumably did something wrong and started to get those variable errors
I wrote no custom code, and was trying to train inception v2, mo

[2018-04-20 12:25] Harry-Zhi opened #4039 "[Deeplab] Can we provide only COCO pretrained checkpoints? How well does Deeplab work for indoor scenes?"
Hi,

In DeepLab model Zoo, models trained on PASCAL VOC 2012 and Cityscapes are provided.

I am just wondering **if you could provide the COCO only pre-trained weights**, since I want to fine-tune on my own data, where COCO pre-trained model may be a better starting point rather than VOC and cityscape pre-trained ones because COCO has more general classes and objects.

By the way, **have you teste

[2018-04-20 14:48] AlekseySh commented on #2694
@imvinaypatil You solved this problem?

[2018-04-20 15:07] dgriffiths3 commented on #3137
I also get this when running the RCNN models in the object detection api.

[2018-04-20 16:28] CT83 commented on #3136
@heethesh Same problem here on 1050 Ti. 9-10% GPU usage. What is happening? 🤷‍♂️

[2018-04-20 20:16] hedeya1980 commented on #3972
Hi @robieta ,
What do you mean by running without the checkpoint? Do you mean that I should set 'from_detection_checkpoint:' to 'false' in the configuration file?

When I did this, I got other errors.

Could you pls clarify?

[2018-04-20 22:45] #2066 closed

[2018-04-20 22:57] robieta commented on #3972
What are the errors that you get when from_detection_checkpoint to false?

[2018-04-20 23:07] vs-zhehangd commented on #3922
I identified the commit that causes this problem: [93b8168](https://github.com/tensorflow/models/commit/93b8168ad9c54f9acf09a161a6dad1dd99b3bfeb).
Switching the order of the two code blocks changes the naming of the nodes. Manually undo this switch can work around the problem. I just started training my MobileNet at this moment, so I am not sure if this has side effect.

[2018-04-21 01:12] nguyenkhaithinh commented on #4019
I have the same issue as well. When I inspect the eval event.out files (tensorboard --inspect --logdir=./), it shows:

======================================================================

Found event files in:
./

These tags are in ./:
audio -
histograms -
images
   image-1
   image-3
   image-5
   image-7
   image-9
scalars -
tensor -
===========================================================

[2018-04-21 04:07] sed0724963 commented on #4032
Unsuccessful TensorSliceReader constructor??
I only have model.ckpt ,but it tell me must model.ckpt-0?? why??
<img width="859" alt="2018-04-21 12 05 03" src="https://user-images.githubusercontent.com/38509051/39080197-8203ffc6-455c-11e8-84df-e0ab4cd84f4e.png">

[2018-04-21 04:18] sed0724963 opened #4042 "OutOfRangeError (see above for traceback):....."
training is failed, what's problem of this??
<img width="858" alt="2018-04-21 12 18 47" src="https://user-images.githubusercontent.com/38509051/39080315-2dd5a592-455e-11e8-8510-f64ced95baff.png">

[2018-04-21 07:02] dtuyenle opened #4043 "TypeError: `pred` must be a Tensor, or a Python bool, or 1 or 0. Found instead: None"
Keep having below issue when run object_detection/train.py
TypeError: `pred` must be a Tensor, or a Python bool, or 1 or 0. Found instead: None

[2018-04-21 09:00] theoldgun commented on #3357
hello@gustavomr，@robertmash2 ，where is this folder on ubuntu? sorry i am newbee

[2018-04-21 10:02] raytroop opened #4044 "'pad_to_bounding_box' conditional following mask resize"
https://github.com/tensorflow/models/blob/26aded58ab0f8c08698b41db3958d9ca54707fe2/research/object_detection/core/preprocessor.py#L2188-L2199
It seems that line2195 `new_masks = tf.squeeze(new_masks, 3) ` should be after `tf.image.pad_to_bounding_box` or `tf.image.pad_to_bounding_box` might mistake num_instances for height and width for depth

[2018-04-21 11:38] seantempesta opened #4045 "Documentation: How do I get class probabilities for Deeplab v3+?"
### System information
- **What is the top-level directory of the model you are using**: models/research/deeplab
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.

[2018-04-21 13:22] smajida opened #4046 "tensorboard does not show any images in object detection api during training"
- **What is the top-level directory of the model you are using**: /home/majid/models/research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04)
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:

[2018-04-21 18:46] mastash3ff commented on #3627
From your path of execution, it looks like you are using Python2.7 and not Python3.5.

The default python on your machine may be unintentionally set to Python2.7.

[2018-04-21 19:28] mastash3ff opened #4047 "Object Detection: Protobuf files fail to compile with v.2.6.1 protobuf-compiler"
## Problem

Failure to compile .protos with Ubuntu 16.04.4 'protobuf-compiler' v2.6.1 package.

[code]

## Solution

**Edit:  Not the correct solution - See following comment**

Compiled Protobuf from source, v3.5.1, and it fixed the issue with compiling.  Installation instructions state to use Protobuf 2.6.  This may need to be reconsidered.
 https://github.com/tensorflow/models/blob/master/resea

[2018-04-21 20:34] MTanzeelulrehman opened #4048 "Object_detection: train.py error"
**What is the top-level directory of the model you are using**: C:\Users\lenovo\Downloads\models-r1.5\research\object_detection
**Have I written custom code (as opposed to using a stock example script provided in TensorFlow**no
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04**windows 10)
**TensorFlow installed from (source or binary**binary
**TensorFlow version (use command below** 1.5
no

[2018-04-21 21:56] mastash3ff commented on #4047
The solution recommended did not end up working for runtime.  Apparently there are Protobuf2 dependencies.

Ended up finding out the issue with Protobuf2 compilation.  A week ago a new introduction was added that broke compilation of ssd.proto line 87  6b72b5cd6c692b1da8481e7ac0565f11cab9c6bd

[2018-04-22 06:38] #4042 closed

[2018-04-22 07:59] ahyunSeo opened #4051 "build_imagenet_data.py Found 0 images with bboxes..."
I'm working on preprocessing ImageNet dataset.
Mainly I'm working on models/research/slim/datasets directory of the repository.

I had my own download so I removed DOWNLOAD part in download_and_convert_imagenet.sh
even after bazel build the script failed at running python files,
so I ran python scripts **one-by one**
succesfully ran **preprocess_imagenet_validation_data.py** (It only organizes the

[2018-04-22 08:11] ahyunSeo commented on #4007
Hello @vilmara I was doing what you were trying to do.  Could you take a look at my issue? https://github.com/tensorflow/models/issues/4051
Thanks.

[2018-04-22 12:24] ShuaiZ1037 commented on #2292
@psuff  ,have you got the mAP using .pb file .would you please give me some advice?thanks.

[2018-04-22 12:38] nickyua commented on #4043
change 109 line in   ssd_mobilenet_v1_feature_extractor.py:
from
[code]
              is_training=True, regularize_depthwise=True)):
[code]

[2018-04-22 12:56] JorgeTorres-BM commented on #2930
yes, the recursive call in protoc 3.5 its broken
quick workaround

protoc object_detection/protos/anchor_generator.proto --python_out=.
protoc object_detection/protos/argmax_matcher.proto --python_out=.
protoc object_detection/protos/bipartite_matcher.proto --python_out=.
protoc object_detection/protos/box_coder.proto --python_out=.
protoc object_detection/protos/box_predictor.proto --python_out=.

[2018-04-22 13:57] lulu12132017 commented on #3972
Do not use checkpoint。like this
[code]
you can try

[2018-04-22 15:48] dtuyenle commented on #4043
that works. thanks

[2018-04-22 15:48] #4043 closed

[2018-04-22 15:50] bhack commented on #4039
For some indoor scenes check https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/ade20k.md

[2018-04-22 17:02] oneTimePad commented on #3866
@ahundt  Sorry for the late response:

Here is the command I used to train SSD MobileNetV2:
`python3 object_detection/train.py --pipeline_config_dir $HOME/pipeline_config.config --train_dir $HOME/train_dir`

For inference, I utilized the object detection tutorial file.

[2018-04-22 17:37] hedeya1980 commented on #3972
Hi @lulu12132017 ,

Now, I get the following errors:

INFO:tensorflow:Error reported to Coordinator: assertion failed: [] [Condition x == y did not hold element-wise:] [x (Loss/BoxClassifierLoss/assert_equal_2/x:0) = ] [0] [y (Loss/BoxClassifierLoss/assert_equal_2/y:0) = ] [1]
         [[Node: Loss/BoxClassifierLoss/assert_equal_2/Assert/Assert = Assert[T=[DT_STRING, DT_STRING, DT_STRING, DT_INT32

[2018-04-22 19:33] kilsen512 opened #4052 "WeightedIOULocalizationLoss: incompatible shapes"
### System information
- **What is the top-level directory of the model you are using**:object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5

When using weighted_iou as localization loss:
[code]
I get the following error.

[2018-04-22 21:31] viksit commented on #917
@asimshankar @karmel it would also be useful to have `official.utils.logs import hooks_helper` and `official.utils.misc import model_helpers` as an installable package as well. There are very few examples out there of using them.

[2018-04-23 02:20] whokhong opened #4053 "Couldn't parse file content"
**platform: windows10, python3.5
description:
 while execute the trian.py ，it Stop with such a  error :**
###

who can give me some proposals？thanks ！

[2018-04-23 07:10] tahouse commented on #3247
@ronykalfarisi Can you share what your solution was? I'm hitting a similar issue on a 1080 Ti. After adding to pipeline config ```second_stage_batch_size: 25```, it works but still getting a concerning error at initialization.

[2018-04-23 08:39] cclauss opened #4054 "Testing: Either pylint or flake8 should be run on Python 3"
### System information
- **What is the top-level directory of the model you are using**: https://github.com/tensorflow/models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Any Python 3
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comman

[2018-04-23 08:57] brijraj08 opened #4055 "Shut Down Distributed TPU Error"
I'm trying to run the given code of MobileNet V2 for checkpoint based inference, shared on Colab  with given pre-trained model (mobilenet_v2_0.75_160.ckpt.data-00000-of-00001).
When I run this code on Colab or on my PC, I find the error as:
 [[Node: ShutdownDistributedTPU = ShutdownDistributedTPU[_device="/job:tpu_worker/device:TPU_SYSTEM:0"]()]]
Please look into the problem.

[2018-04-23 08:57] kilsen512 commented on #4052
I tried it out myself by reshaping it to [batch_size, -1], which does not throw the error anymore, however, I do get a NaN error in the Loss Tensor after around 200 steps.
The current code works when using focal loss instead of the hard miner, but with this configuration I also get a NaN error.

InvalidArgumentError (see above for traceback): LossTensor is inf or nan. : Tensor had NaN values

[2018-04-23 09:28] CARASO commented on #1754
`if object_area <= (width * height) / (16 * 16):
        raise Exception('object too small Error')`

After filtering the data set above, I have trained over 450,000 steps to see no exceptions.

[2018-04-23 09:36] tvkpz commented on #1754
Size of the area is dependent on some of the parameters (size of anchor etc) of fasterRCNN algorithm. Wondering if anyone knows the connection. I have not yet looked into it.

[2018-04-23 09:38] ndaidong opened #4056 "Error while using ssd_mobilenet_v2_coco as finetune checkpoint"
### System information
- **What is the top-level directory of the model you are using**: Face detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.6, 1.7
- **

[2018-04-23 10:20] Insertfunnylogin opened #4057 "cannot rerun training locally"
- **What is the top-level directory of the model you are using**: /tensorflow/models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no, I'm using scripts from models/research/object_detection
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary, by

[2018-04-23 10:55] Andreas71 commented on #4019
@k-w-w  @derekjchow any help?

[2018-04-23 11:39] AllenPeng0209 commented on #4025
+1

[2018-04-23 12:36] FalcoGer commented on #3948
@yafengwa
https://github.com/tensorflow/models/issues/3705#issuecomment-375563179

[2018-04-23 14:36] shobhitnpm commented on #1988
Hi here is function write_saved_model in exporter.py,

def write_saved_model(saved_model_path,
                      frozen_graph_def,
                      inputs,
                      outputs):
  """Writes SavedModel to disk.
  If checkpoint_path is not None bakes the weights into the graph thereby
  eliminating the need of checkpoint files during inference. If the model
  was trained with movi

[2018-04-23 14:39] ronykalfarisi commented on #3247
@tahouse I modified the train_config like I described above and it ran well. If it fails after it run several steps, you just have to re-run it again. Basically, you want to monitor the process once in a while. Hope this helps.

[2018-04-23 15:17] dnlglsn commented on #1988
@mona-abc I left the job I was doing this work for and we only had Python 2.7. I am sorry, but I can't help you with your Python 3.6 issue. My guess is the underlying API changed and now the script won't work without modification. Look through the notes at the top of the source code on this page. It should shed some light on the situation. https://github.com/tensorflow/models/blob/master/research/

[2018-04-23 15:56] ProjectDent opened #4058 ""AttributeError: 'module' object has no attribute 'data'" termination error when running Pets on Google Cloud tutorial"
I'm following the ["Distributed Training on the Oxford-IIIT Pets Dataset on Google Cloud" tutorial](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md).

Following the step of starting training, about 8 minutes later, I get a termination, with this error from the logs:

Googling this, I can't find any specific results, other than suggestions that the v

[2018-04-23 15:56] ProjectDent opened #4059 ""No module named matplotlib" when running Pets on Google Cloud tutorial"
I'm following the ["Distributed Training on the Oxford-IIIT Pets Dataset on Google Cloud" tutorial](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md).

Following the step of starting training, about 5 minutes later, I get this termination error from the logs:

After some Googling, it was suggested that I add a requirement for matplotlib to the requir

[2018-04-23 16:06] eumicro commented on #3196
I trained a model capable of recognizing 78 German traffic signs. I used Tensorflow's Object Detection API for the training. The model can recognize the characters at a distance of about 15 meters. Here you can download the model and try it out.

Model: http://eugen-lange.de/download/ssd-4-traffic-sign-detection-frozen_inpherence_graph-pb/

[2018-04-23 16:17] pomonam commented on #1992
Following @CHAMOD recommendation,copy and paste deployment and nets folder.
This works for me as well.

[2018-04-23 16:30] yhliang2018 commented on #4025
@pkulzc Could you help on this? Feel free to add more people to the thread if it's helpful. Thanks!

[2018-04-23 16:39] Finalrykku commented on #3992
Today I got a very similar error as you do. I've trained with my own pictures and configuration as you did except for the default settings in train.py. Got this message a few minutes ago:
[code]

[2018-04-23 16:46] zeynali commented on #3330
@dextroza , i mention that error is for ssd_mobilenetv1_coco but when i want to train ssd_mobilene v2 coco on i get same error but for MobileNetV2 , i get clone tensorflow github 1 months ago. my tensorflow version in 1.5 .

[2018-04-23 17:09] Jaijith opened #4060 "object_detection_mobilenet_v2--TypeError: 'dict_items' object does not support indexing"
### Describe the problem
I have been trying to move to mobilenet_v2 from mobilenet_v1 version. Though I dilgently followed the documentation for object detection api, I am getting the following error while using mobilenet_V2 as the feature extractor for detection. The same ecosystem is working perfectly if I switch to mobilenet_v1 as the feature extractor. Kindly help

### Source code / logs
jaiji

[2018-04-23 19:09] Jaijith commented on #4060
The problem is with the slim egg.
Unzip slim egg pacakge and edit the mobilenet.py file line 91 to len(default.tems()).
build the egg file again and replace the older one

[2018-04-23 19:09] #4060 closed

[2018-04-23 19:29] hedeya1980 commented on #3972
Hi @lulu12132017 & @robieta,

I really need your help to get a solution for this, because I need to use the tensorflow object detection API in my master's project.

[2018-04-23 19:34] karmel commented on #4054
We do not make any guarantees about future compatibility or maintenance for Research models, as they are the responsibility of the researchers. If you find errors under /official, please feel free to open a PR.

@cclauss, while I appreciate your relentless crusade in the name of Python 3, I gotta ask-- why? What motivates you?

[2018-04-23 19:34] #4054 closed

[2018-04-23 20:17] robieta commented on #3972
I'm going to close this and refer you to the tensorflow [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow), as this appears to be a configuration issue rather than a clear bug in the object detection code.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com

[2018-04-23 20:17] #3972 closed

[2018-04-23 20:32] robieta commented on #4057
It is entirely possible that running eval overrode the training checkpoint; note that eval.py accepts different flags for the train dir and the eval dir. I'm afraid your best bet is probably to simply rerun your training.

[2018-04-23 20:34] robieta commented on #4052
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-04-23 20:34] #4052 closed

[2018-04-23 21:52] vilmara commented on #4051
@ahyunSeo for the message "Found 0 images with bboxes out of 2500000 images" doublecheck the path to file with bounding boxes annotations, make your the script is able to find and read this file.

Also, as the scripts were written, the imagenet_2012_bounding_boxes.csv file is generated based on the labels found in the file imaganet_lsvrc_2015_synsets.txt, which should contain only labels of the tr

[2018-04-23 22:05] SHANKARMB commented on #3851
I'm using 1.6.0 standard version

[2018-04-23 22:26] swirlingsand opened #4061 "Documentation request - own dataset usage with deeplab"
Thank you for putting this code together and available on github!

Attempting to use deep lab on my own dataset.

I would like to use an arbitrary input resolution, ie 1280x720

In `utils/input_generator.py get()` there is a min/max resize_value.
There is also a crop_size.

Settings max_resize_value=512 and crop_size=[512, 512],  and feeding an image of 1280 yields:

`Assign requires shapes of bot

[2018-04-23 22:56] Ravike14 commented on #3999
@amj1985 thanks alot for the solution.

[2018-04-23 23:10] tahouse commented on #3247
@ronykalfarisi Got it, that's what I've done, but wasn't sure if you had discovered anything else since your last post. I'm up and running now using your solution. Thanks for the quick response!

[2018-04-23 23:43] willSapgreen commented on #2203
Hello @uziela

Following your suggestion, "You can freeze variables by adding freeze_variables: option under "train_config" in pipeline config file. For example, freeze_variables: ".*FeatureExtractor.*" will freeze the feature extractor. You can find out all variable names that can be frozen by adding print("var.op.name: " + var.op.name ) statement into the for loop after line 46 in object_detecti

[2018-04-24 00:05] tfboyd commented on #1983
I am going to close.  Time got away.  An RNN for MKL would be nice maybe more so as an inference example.  Even if I had the code now I do not have enough open time to merge it together into something coherent or benchmark it.  :-(  I do not like when this stuff slips through July-2017.  wow.

[2018-04-24 00:05] #1983 closed

[2018-04-24 00:38] jimmy322 opened #4062 "trying to run the model_builder_test for the object dection API"
------------------------

### System information
- **What is the top-level directory of the model you are using**: model/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use

[2018-04-24 00:40] qlzh727 commented on #4046
Usually the data directory should contain the training and eval data, and be immutable. From https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_locally.md, it suggests that the data dir and model dir should be separate into 2, and tensorboard should point to model dir while training.

Can you try that?

[2018-04-24 02:26] qlzh727 commented on #4056
The error log indicating that the proto object TrainConfig does not contain field fine_tune_checkpoint_type, which was added by #3656. I guess you have a old version of code running on local. Can you check that and make sure the code is up to date?

[2018-04-24 02:37] qlzh727 commented on #4059
The overall setup guide for object detection contains the installation script for matplotlib. See https://github.com/tensorflow/models/blob/ed4e22b81db3c14f48964b56580416a6936c07b0/research/object_detection/g3doc/installation.md

[2018-04-24 02:45] mona-abc commented on #1988
@dnlglsn Thank you for your response, I changed my python version to python2.7 and exported the model successfully. But now I met another problem in calling the model using the **client.py**. The codes I mainly depended on are:"
Deploying Object Detection Model with TensorFlow Serving — Part 3  https://medium.com/@KailaGaurav/deploying-object-detection-model-with-tensorflow-serving-part-3-6a3d59c1

[2018-04-24 04:05] ndaidong commented on #4056
@qlzh727 thank you. I just started this study several days ago, all related resources are newest.

[2018-04-24 04:33] voqtuyen opened #4063 "MobileNetv1 depth_multiplier"
``
def mobilenet_v1_base(inputs,
                      final_endpoint='Conv2d_13_pointwise',
                      min_depth=8,
                      depth_multiplier=1.0,
                      conv_defs=None,
                      output_stride=None,
                      use_explicit_padding=False,
                      scope=None):
``
what is depth_multiplier? Which one does it correspond to, w

[2018-04-24 04:37] Insertfunnylogin commented on #4057
Hi Robieta

Yes, this is I thought that running eval.py overrode my checkpoint.
However, rerunning fails every time I try, even after I deleted the whole folder and started from scratch with another model, so it looks like it doesn't depend on model or dataset/directories and to rerun doesn't help.

[Here](https://stackoverflow.com/questions/36281129/no-variable-to-save-error-in-tensorflow#3628613

[2018-04-24 04:52] ndaidong commented on #4056
@qlzh727 you may be correct. There is a few changes since last update. Now it leads to new issue (still works well with Faster R-CNN):

[code]

[2018-04-24 05:28] shushengyang commented on #334
I also want to know that whether the parser's model trained with simplified Chinese data or traditional Chinese data .

[2018-04-24 05:50] highland0971 opened #4064 "Deeplabv3+ How to using demo script to prediction raw image without resizing to INPUT_SIZE 513 ?"
### System information
- **What is the top-level directory of the model you are using**:
DeepLab v3+ and with offical demo script on Colab notebook

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, I tried to adjust the resizing procedure, using original image size instead.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Win

[2018-04-24 06:02] highland0971 commented on #4014
@wldeephi Have you tried using the demo script to predict normal image with out resizing to 513 , sorry not related to your question.

[2018-04-24 06:12] wldeephi commented on #4014
@highland0971 yes, I have using the  demo script to predict cityscapes images without resizing to any scales, and the result is right.

[2018-04-24 07:02] msunming opened #4065 "why decay_steps not related with num_clones"
In models/research/slim/train_image_classifier.py,
i think  decay_steps should =
     int(num_samples_per_epoch / (FLAGS.batch_size * FLAGS.num_clones )*FLAGS.num_epochs_per_decay);

right?

[2018-04-24 07:42] uziela commented on #2203
Hi,

You are right, BoxPredictor is the predictor, not the feature extractor. That's why you need to write a regex that only captures the feature extractor variables. You did everything correctly, but you are missing the star (*) symbols in the regex. So change your "freeze variables" line in the config file by:

freeze_variables: ".*FeatureExtractor.*"

[2018-04-24 07:55] clemkoa opened #4066 "batch_norm_trainable field in ssd mobilenet v2 coco"
### System information
- **What is the top-level directory of the model you are using**: /models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  MacOS 10.13
- **TensorFlow installed from (source or binary)**:  source
- **TensorFlow version (use command below)**: ('v1.5

[2018-04-24 08:31] haichaoyu opened #4067 "[Deeplab] Label index does not match with code for dataset ADE20k?"
Hello,

I tried to fine-tune Deeplab v3+ on ADE20k. I just found that in ADE20k, ignore_label is set to 0 while in the code, the ignore label is set to 255. Directly setting ignore_label to 0 in code might not work because the label index counts from 0.

Just want to confirm that this "problem" exists. Please correct me if I a wrong.

Thanks.

[2018-04-24 08:40] ProjectDent commented on #4059
@qlzh727 I followed those steps - which install matplotlib locally, along with a host of other libraries. The problem, I suppose, is that matplotlib is not installed on the Cloud instance. I just ran this again, to be sure.

I am running this from a clone of the TensorFlow Models repo, rather than the TensorFlow repo, but I assume that should work fine?

[2018-04-24 08:41] hanako94 commented on #2623
thanks you

[2018-04-24 08:53] JcmeLs commented on #4066
Hi @clemkoa ，For ssd mobilenet v2, you could remove "batch_norm_trainable: true" on config file.Then you will get a new error message：` TypeError('`pred` must be a Tensor, a Variable, or a Python bool.') `.
You can change line 109 in ` models/research/object_detection/models/ssd_mobilenet_v2_feature_extractor.py ` from ` is_training=None ` to ` is_training=True `. This workaround should get Mobile

[2018-04-24 09:03] lcycoding commented on #4063
This should be the network's depth. It's not related to any width or resolution things.
This imply the compression of mobilenet, and reduce the parameters of each model.

Please refer to https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md
And you'll see how it changed in parameter and MACs.

[2018-04-24 09:03] TerenceCYJ commented on #2773
Same Problem！
I am using TF1.4.0 on Ubuntu 16.04
I guess the frozen inference graphs are generated using the different release version of Tensorflow.
Frozen inference graph can be regenerated using your current version of Tensorflow by re-running the
[exporter](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md)
**# It works!** @Kaushal28

[2018-04-24 09:07] lcycoding commented on #4056
@ndaidong
It seems that you're using mobilenetv2's checkpoint to fine tune inceptionv2's network...
Which does not make any sense, since both network have different structure.

[2018-04-24 09:42] cirovarriale commented on #1809
@LaurentBerder That method worked?
If I understand something, in your script you did the following operations:

Starting from the COCO annotation file that should be a json containing:

**a.** categories: object to recognize (id, name and _supercategory=?_)
**b.** images: image dataset used for training (id, filename, width, height)
**c.** annotations: info about the labeling operation (id, _categ

[2018-04-24 09:43] robertomoreu commented on #3999
Worked amazing!! Thanks a lot @amj1985 !!

[2018-04-24 11:05] LaurentBerder commented on #1809
@cirovarriale Yes, my method worked.

Your explanation is correct. I originally had one json file per labelled image (with a different way of recording bbox coordinates from TF), instead of a single large file for all training data.

Eventually, I ended up dropping the use of TensorFlow (too cumbersome for little added value) and used a script to convert the other way around (from COCO to individu

[2018-04-24 12:50] pgrandinetti opened #4068 "Tf-Slim: Load output of slim training as Tf Graph"
Following along your documentation at `models/research/slim` till the usage of `freeze_graph.py` and I can't get how to load into memory the frozen model.

What I have done:

1) Followed your readme using inception_v3 and fine-tuned a model with 1 label
2) Got previous model in `./checkpoints/inception_v3.cpkt` and the new model in `./inception_v3/model.cpkt-155`
3) Exported the graph *exactly* as

[2018-04-24 13:34] apacha commented on #3933
Can you explain, what happened that caused this problem?

[2018-04-24 13:37] giorigor opened #4069 "Object Detection on Android is abnormally slow"
### System information
- **What is the top-level directory of the model you are using**:
models\research\object_detection.
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
A little. Mostly edited existing files to match my needs.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 version 1709.
- **TensorFlow installed from

[2018-04-24 14:50] qlzh727 commented on #4059
Indeed, I think the setup.py is stale and does not contain the latest update for required package. I will send a PR soon to fix the issue.

Thanks for reporting.

[2018-04-24 15:05] AakashKumarNain opened #4070 "Detection problem with SSD_mobilenet_v1 _coco"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04

I was trying to use **SSD_mobilenet_v1_coco** on my custom dataset. I was trying to build a player detector that can detect players in a football field. I have images of different sizes ranging f

[2018-04-24 15:06] xiao1228 commented on #3591
Did you fix it? i got the same error

[2018-04-24 15:32] willSapgreen commented on #2203
Hello @uziela ,

Thank you so much for the quick response.

I do have the (*) in the config but it seems that (*) cannot be shown in this forum by itself, same as your response.

So do I still miss anything to freeze the feature extractor only?

Again,

thank you for precious time on my question.

[2018-04-24 15:47] karmel commented on #4062
This sounds like a version compatibility issue. What version of protobuf and Python are you using?
Does the error still occur if you use the most recent release of TF, as detailed in the installation instructions?

[2018-04-24 16:30] robieta commented on #4057
That's... curious. Are you sure you're working from a completely clean set of folders? And this is the same training command that you successfully ran before?

[2018-04-24 16:38] ferris1 commented on #4056
@ndaidong I have the same problem with you, how do you solve it.

[2018-04-24 16:48] xiao1228 commented on #3591
I got it. It is because of the version difference. tensorflow 1.7 has quant_delay.

[2018-04-24 17:07] mustafamertunali opened #4071 "How Can I Install Old Tensorflow Object Detection API?"
Hello.  Firstly, I have looked on stackoverflow and github issues but I couldn't solve the problem.

 I have a little problem with object detection api. I have a NVIDIA Jetson TX2. I have CUDA 8. There is no problem until here. My problem is, how can I install old tensorflow object detection api? I mean, is there a way to download object detection api == tensorflow 1.5?  Because If I download the

[2018-04-24 17:09] jashshopin opened #4072 "Problems while performing online prediction using CloudML Engine and Tensorflow Object Detection API"
We are following the guidelines mentioned [here](https://cloud.google.com/blog/big-data/2017/09/performing-prediction-with-tensorflow-object-detection-models-on-google-cloud-machine-learning-engine) to perform prediction for our already trained model on Cloud ML Engine.

However after successfully running the steps word for word till deploying the model for serving we ran into the following error

[2018-04-24 17:19] jashshopin opened #4073 "Cannot run exported graph on cloud instance for tensorflow object detection API trained on Cloud ML Engine"
We have trained an object detection model using Cloud ML Engine by following the documentation mentioned [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md).

After training we have exported the graph and then we are trying to visualise the results using the Frozen Inference Graph as mentioned in the [notebook](https://github.com/tensorflow/mode

[2018-04-24 17:42] Insertfunnylogin commented on #4057
Curious indeed.
Yes, I only kept the tfrecords, and tried to train mobilenetV1, V2, and inception models, changing configs respectively.

All the same.

[2018-04-24 18:33] dduarte-odoogap opened #4075 "ionary to object"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-04-24 22:05] karmel commented on #4065
That seems plausible, given that decay steps is typically calculated over global batch size. That said, the use of queue runners have been deprecated, and I would therefore encourage you to take a look at the similar example of calculating learning rate with multiple workers in the [Official Resnet](https://github.com/tensorflow/models/blob/master/official/resnet/imagenet_main.py#L285). If that do

[2018-04-24 22:05] #4065 closed

[2018-04-24 23:50] highland0971 commented on #4064
Hi @aquariusjay ,

Thanks for you reply.

Do you mean I can export a new dimension like 2052 * 2052 from the pretrained model by the official team? Like extracted checkpoint from deeplabv3_pascal_trainval_2018_01_04.tar.gz , and run export_model.py like:

[code]
If I do this, does it degrade the predict precision compared to original result?  Because I saw the most of the VOC dataset image is with

[2018-04-25 00:07] aquariusjay commented on #4064
Hi highland0971,

I think it will not work with the provided checkpoints. You should probably do

1. Train a model with large inputs and export it.
or
2. Resize all your inputs so that you can use the provided checkpoints. You could then resize back if you really want large outputs.

[2018-04-25 01:35] jimmy322 commented on #4062
UPDATE
i managed to install protobuf 3.5.1 in my virtual env to match with the protoc version
but still the same error.
Maybe because the python version?
Thank you

[2018-04-25 02:41] Shayneyan commented on #2794
I still cannot find the .pbtxt file in the lastest SSD models

[2018-04-25 03:34] walkerlala commented on #4067
@haichaoyu Can you provide any reference for that (ie, ignore_label=0)? I would like to have further investigation.

And, @aquariusjay  is it possible for me to subscribe to issues which are tagged with [deeplab] on GitHub? That will enable to keep track on interesting deeplab-related issues.

[2018-04-25 03:39] bysowhat opened #4078 "SSD,FASTER RCNN....: Eager execution example! Debug Tools"
This project helps you debug object_detection(SSD,FASTER...) using tensorflow eager excution model!
https://github.com/bysowhat/object_detection_debug.git
If you have any question please contact me.

**The top-level directory of the project:**
models\research\object_detection
**OS Platform and Distribution:**
WIN10
**TensorFlow installed from:**
binary
**TensorFlow version：1.7.0**
Bazel version：
*

[2018-04-25 06:05] lulu12132017 commented on #4025
I fixed this issue. Please check the configuration file.Pay attention to the input file name if you used following command to create records.
`python object_detection/dataset_tools/create_kitti_tf_record.py \
        --data_dir=/home/user/kitti \
        --output_path=/home/user/kitti.record`
`input_path: "F:/dataset/kitti/data_object/kitti.record_train.tfrecord"
input_path: "F:/dataset/kitti/data

[2018-04-25 06:49] pkulzc commented on #4025
Yeah looks like it's complaining about being unable to read input data. Great to see you already have this solved.
Please close this issue if you don't have other questions. Thanks!

[2018-04-25 06:53] tensorflowbutler commented on #3768
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3700
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3706
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3713
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3714
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
TensorFlow installed from
Bazel version
Exact command to reproduce

[2018-04-25 06:53] tensorflowbutler commented on #3722
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3726
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3727
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:53] tensorflowbutler commented on #3732
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3737
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3738
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3742
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3749
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3750
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3698
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3769
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3770
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3772
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3775
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3785
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3787
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3789
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2018-04-25 06:54] tensorflowbutler commented on #3790
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem