[2017-01-20 18:54] #926 closed

[2017-01-20 21:40] asimshankar commented on #932
Isn't `feed_dict` being provided to the [`session.run` call](https://github.com/tensorflow/models/blob/e9e470d48a82c8721dbcde7f7fbb41dfd5fa12f7/tutorials/rnn/ptb/ptb_word_lm.py#L289) just below?

Perhaps I misunderstood your question, in which case, please feel free to add more information.

[2017-01-20 21:40] #932 closed

[2017-01-22 02:42] adaxidedakaonang opened #937 "Can im2txt run in shell by os.popen?"
## Please let us know which model this issue is about (specify the top-level directory)
I met a question . When I run the commend by os.popen, it'swrong. This is my code :

def getMessage(img):
    jpg = img
    cmdline = '''
                 CHECKPOINT_DIR="${HOME}/models-master/im2txt/im2txt/model/model.ckpt-3000000" & \

                 VOCAB_FILE="${HOME}/models-master/im2txt/im2txt/data/word

[2017-01-22 08:02] ylashin commented on #466
If anyone gets error `AttributeError: 'module' object has no attribute 'BasicLSTMCell'`, you can reset your git HEAD to the below commit. Seems the models repo has undergone lots of changes since December 2016.
[code]

[2017-01-22 10:08] dhirajmadan1 opened #938 "Error in saving checkpoint:While using a modified version of sequence to sequence"
## Issue in seq2seq_model.py(In translate directory)
I had made certain changes in the sequence to sequence model.
The training continued for roughly 16000 iterations(and the checkpoints were saved after every 200 iterations).
However at this time I received an error caused by saving the new checkpoint.Could any one help in this case?Note that for previous 16000 iterations the saver function worke

[2017-01-22 17:39] asimshankar commented on #937
This question is probably better asked on [stackoverflow](http://stackoverflow.com/) as we try to keep the github issues focused on bugs and feature requests. Thanks.

[2017-01-22 17:39] #937 closed

[2017-01-22 17:51] asimshankar commented on #938
Please provide all the information asked for in the "New Issue" template, such as the version of TensorFlow being used, whether a GPU is being used or not etc.

From the information provided though, this looks similar to https://github.com/tensorflow/tensorflow/issues/4735, so closing this as a duplicate. Could you look at the suggestions (such as has your disk space been exhausted, or does changi

[2017-01-22 17:51] #938 closed

[2017-01-22 18:58] sevazhidkov commented on #260
+1

[2017-01-22 18:58] asimshankar commented on #912
@sguada : Could you take a look?

[2017-01-22 19:20] zhangmozhi commented on #856
The scalar_summary is deprecated and should be replaced by summary.scalar in ptb_word_lm. After making the change, the script works with the nightly build.

[2017-01-22 19:42] sevazhidkov commented on #260
I fixed it using arg scope:
[code]

[2017-01-22 19:47] rohitgirdhar commented on #813
Actually the NVIDIA driver didn't quite fix it, but a Linux kernel downgrade (from 3.1 to 2.6.32) fixed it for good.

[2017-01-23 00:37] ibyte2011 opened #940 "tf 0.12.1"
## Please let us know which model this issue is about (specify the top-level directory)

##Answer:I just install the tensorflow 0.12.1,and try to test if it is installed successful,but i get the result.
Envs:mac os 10.11.5 python 2.7.13 tensorflow 0.12.1
KeyError: "Couldn't find field google.protobuf.FileOptions.javanano_use_deprecated_package"
`import tensorflow as tf`

  File "/Users/mac/anacond

[2017-01-23 02:13] haoran8899 opened #941 "hi，i want to try chinese(Simplified),what can i do?"
## Please let us know which model this issue is about (specify the top-level directory)

[2017-01-23 05:00] asimshankar commented on #941
This is probably better asked on [stackoverflow](www.stackoverflow.com/questions/tagged/tensorflow) as we try to keep the github issues focused on bugs and feature requests.

If you do pose it there, you probably want to add much more detail.

[2017-01-23 05:00] #941 closed

[2017-01-23 09:18] weimate commented on #902
any progress?

[2017-01-23 10:49] arademaker commented on #915
same problem. Not clear what is the main reason for the failure.

[2017-01-23 14:55] madspark opened #942 "translate.py broken due to incorrect vocabulary naming in data_utils.py"
Issue in models/tutorials/rnn/translate:

translate.py expects vocabularies for input and output words to be named like this by default: "vocab%d.from" / "vocab%d.to".

data_utils, however, now by default names vocabularies as just "vocab%d". The issue this causes is two-fold:
1. "--decode" does not work at all because it does not find the vocabularies where it expects.
2. the code only creates th

[2017-01-23 16:05] sguada commented on #912
Sorry hard to know, try the code outside of the colab, and provide a full trace of the error.

[2017-01-23 16:35] bogatyy commented on #902
Given that TensorFlow and Bazel both introduce breaking changes from time to time, the only reliable way to use SyntaxNet is in conjunction with the specific TF version (snapshotted in the repository) and specific Bazel version (0.3.0 - 0.3.1 as mentioned in the documentation).
Bazel 0.3.2 introduced those breaking changes with the @jpeg package.

We are currently working to sync SyntaxNet with th

[2017-01-23 18:16] negacy commented on #257
Does syntaxnet support processing multiple files? I can run it for a single file but not for multiple files.

[2017-01-23 19:24] drpngx commented on #892
As per @nealwu that should solve the issue. Marking as closed.

[2017-01-23 19:24] #892 closed

[2017-01-23 19:33] drpngx commented on #910
@theraysmith if you could take a look, thanks.

[2017-01-23 19:53] nealwu commented on #892
Actually I just ran into this same issue myself recently. If you go through the tutorial at https://www.tensorflow.org/versions/master/tutorials/deep_cnn, it gives you the following warning:

`Be careful not to run the evaluation and training binary on the same GPU or else you might run out of memory. Consider running the evaluation on a separate GPU if available or suspending the training binary

[2017-01-23 20:15] drpngx commented on #923
@itsmeolivia is that a known/fixed problem?

[2017-01-23 20:33] drpngx commented on #940
It looks like you have protobuf issues. Could you try to brew reinstall?

[2017-01-23 20:48] nickj-google commented on #704
It looks like the user was just wanting some syntax changes to make it Python3 compatible. Just merged a PR that should address this. Marking as closed.

[2017-01-23 20:48] #704 closed

[2017-01-23 20:53] drpngx commented on #942
Feel free to submit a PR and CC me on it. That would be great!

[2017-01-23 21:19] itsmeolivia commented on #923
it's an api change that was made for the 1.0 alpha release.  strides is no longer a required argument on the latest version

[2017-01-23 21:28] drpngx commented on #923
@hurbotulk please upgrade your TF version. Feel free to re-open if it still doesn't work.

[2017-01-23 21:28] #923 closed

[2017-01-24 02:08] bcao commented on #902
Thanks @negacy, the solution works with bazel 3.2. I've built a docker at https://hub.docker.com/r/bcao/syntaxnet/ for the temporal solution. Still hope the issue can be fixed soon.

[2017-01-24 05:25] dhirajmadan1 commented on #938
-I am using tensorflow version 0.9
-I am using GPU
No.Disk space has not been exhausted.

[2017-01-24 06:37] ZhuFengdaaa commented on #54
@AIROBOTAI Yes, I start 8 workers, and assign each workers to each device explicitly use `tf.device`.

[2017-01-24 18:16] madspark commented on #942
PR made: https://github.com/tensorflow/models/pull/946

[2017-01-24 18:32] Denis035 opened #947 "Cifar 10 tutorial"
## Please let us know which model this issue is about (specify the top-level directory)
Hi , I am new to Tensorflow

When trying to execute cifar10_train.py I get the following error

I assume a binary or unicode string should be in the data location but don't know why it isn't or isn't being generated
TypeError: Expected binary or unicode string, got ('cifar', 'data_batch_1.bin')

any help would

[2017-01-24 18:52] drpngx commented on #947
@nealwu is that something you've encountered recently?

[2017-01-24 19:26] nealwu commented on #947
No, I haven't seen this before. It looks like an issue with reading the inputs. @Denis035, what OS are you running? Can you navigate to `/tmp/cifar10_data/cifar-10-batches-bin` and make sure that the data was correctly downloaded there? You should see `data_batch_1.bin` and a few other similar files.

[2017-01-24 19:26] Denis035 commented on #947
yes ,just now

[2017-01-24 19:29] Denis035 commented on #947
Thanks for you reply .
I can verify the files are there
data_batch_1.bin
data_batch_2.bin
data_batch_3.bin
data_batch_4.bin
data_batch_5.bin

However I have created this folder on desktop as opposed to temp an changed the
data directory to match
I am using Linux virtual desktop with Ubuntu
regards
Denis

[2017-01-24 19:35] nealwu commented on #947
It sounds likely that you missed one of the folder paths when changing it then. I would run the code as the original version, and if that still doesn't work, let us know.

[2017-01-24 19:35] #947 closed

[2017-01-24 19:52] Denis035 commented on #947
Ok , have tried that
However get an error
Traceback (most recent call last):
  File "cifar10_train.py", line 360, in <module>
    tarfile.open(filepath, 'r').extractall(dest_directory)
NameError: name 'filepath' is not defined

[2017-01-24 19:57] nealwu commented on #947
I still don't think you have the original version of the code. In the code I'm looking at, about ten lines above the line you're mentioning, there is a line that defines the variable `filepath`, namely:

`filepath = os.path.join(dest_directory, filename)`

[2017-01-24 20:00] Denis035 commented on #947
This is the module
Again all files in a folder on desktop but have the data download directory to tmp

def maybe_download_and_extract():
  """Download and extract the tarball from Alex's website."""
  dest_directory = FLAGS.data_dir

  if not os.path.exists(dest_directory):
    os.makedirs(dest_directory)
  filename = DATA_URL.split('/')[-1]

  #filepath = os.path.join(dest_directory, filename)

[2017-01-24 20:10] Denis035 commented on #947
ok  ,looks better
apologies
for some reason there was no indentation with line 358
 tarfile.open(filepath, 'r:gz').extractall(dest_directory)
looks like the previous lines were being skipped

[2017-01-24 20:13] k0105 commented on #846
Could you elaborate on that? I'm on Ubuntu 16.04 LTS and have both TensorFlow 0.12.1 (Python 2, installed via apt) and TensorFlow 1.0.0a4 (installed via pip and .whl file), but I still get the gradient error after having fixed all other ones. What can I do to properly run the seq2seq code?

Thanks in advance.

[2017-01-25 00:52] madspark commented on #846
Use the latest nightly build or build from source. The latest master branch version seems to work fine.

[2017-01-25 02:57] jsonjunky commented on #915
Yeah, Dockerfile is broken and doesn't build. not clear why. Frustrating.

[2017-01-25 02:59] k0105 commented on #846
Final report:
Thank you. I was confused that compiling from source only produces a .whl file that indicates version 0.12.1, which I had already installed, but when I installed this file in a new virtual environment it actually worked unlike my original 0.12.1 from pip. So if anyone runs into the same issue: Literally just clone the tensorflow repo Master branch, build from source and use the resul

[2017-01-25 03:05] panovr opened #950 "Fine-tune Inception V3 with Tensorflow 0.12.1 failed"
Fine-tune Inception V3 with Tensorflow 0.12.1 failed.
[code]
[code]
[code]
[code]

[2017-01-25 05:10] lehnert commented on #477
I tried using 10.0 and not 10.0rc0 but got some other runtime errors. I fixed this issue by using 10.0rc0 and changing the line of code
`resize_images(x, [height, width] method=method)`
to
`resize_images(x, height, width, method=method),`
in the file "models/slim/preprocessing/inception_preprocessing.py", line 215.

[2017-01-25 07:13] Jin-Chen-cn commented on #829
Same issue as what annuskeras found

[2017-01-25 10:52] vahidg7 opened #951 "How to read variable-length parts of data?"
I am using cifar10 model for data reader as a queue and want to read variable_length parts of data of a single file using data reader. My file is as follows: [data_length_1, data_bytes_1, data_length_2, data_bytes_2, ...]. The first byte represents the number of bytes to be read, and then this process repeats.

The problem is that I want to read data into queue. I have tried tf.FixedLengthRecordRe

[2017-01-25 12:48] nimral commented on #829
Same issue here.

[2017-01-25 14:01] redserpent7 opened #952 "Incpetion flowers fine-tune taking too long"
I know this is probably not the place to ask this but since I need the but I hope someone here has already tried fine-tuning the inception model.

I am running the inception fine-tuning flowers example. Its been well over 5 days now and I'm just went past the 150,000 step.

How many steps does it take to fine-tune the flowers model?

[2017-01-25 14:07] wale-edx commented on #952
what is your PC specs ?
I tried once using CPU version i7 4th gen 12g ram  it took 5-- 7 hours
using GPU version gtx850m  took 15  min
so I think it depend on your specs

[2017-01-25 14:29] redserpent7 commented on #952
I'm running it on a tesla k80 gpu. Its been running for almost 5 days straight now.

Do you by any chance remember how many steps it took before completing?

Get Outlook for Android

On Wed, Jan 25, 2017 at 4:07 PM +0200, "Waleed Mohamed Mohamed Ali" <notifications@github.com> wrote:

what is your PC specs ?

I tried once using CPU version i7 4th gen 12g ram  it took 5-- 7 hours

using GPU version

[2017-01-25 15:27] RickyWong33 commented on #857
getting same problem

[2017-01-25 17:06] bogatyy commented on #902
[Fix committed](https://github.com/tensorflow/models/commit/d66941ac44cebc925f80ac423d59dead5a6cbcb3). Now SyntaxNet is now in sync with TensorFlow r0.12 and Bazel 0.4.3 (should work with any version >= 0.3.2).

Tested on Ubuntu, OS X and Docker. Please test and let us know if any problems persist.

[2017-01-25 17:10] bogatyy commented on #915
[Fix committed](https://github.com/tensorflow/models/commit/d66941ac44cebc925f80ac423d59dead5a6cbcb3).

Please test and let us know if any problems persist.

[2017-01-25 18:09] drpngx commented on #952
@redserpent7 you can use nvidia-smi to see if the GPU is being utilized properly. You can look on stackoverflow for threads regarding performance debugging.

[2017-01-25 18:19] vlorenzo commented on #902
Thanks @bogatyy, Bazel 0.4.3 successfully built reporting all tests passed on OS X !

[2017-01-25 18:21] drpngx commented on #951
@vahidg7 this is best asked on stackoverflow, where we monitor all issues with the tag "tensorflow".

[2017-01-25 18:21] #951 closed

[2017-01-25 18:32] drpngx commented on #950
Yes, the `image_summary` has been moved to `tf.summary.image`. If you could send a PR for that, that would be great. thanks!

[2017-01-25 19:13] redserpent7 commented on #952
Yes the gpu is utilized but i want to know when to expect it to complete.

Get Outlook for Android

On Wed, Jan 25, 2017 at 8:09 PM +0200, "drpngx" <notifications@github.com> wrote:

@redserpent7 you can use nvidia-smi to see if the GPU is being utilized properly. You can look on stackoverflow for threads regarding performance debugging.

—
You are receiving this because you were mentioned.
Reply

[2017-01-25 21:25] yurivish commented on #902
Works for me me on OS X, too. Thanks, @bogatyy!

[2017-01-26 01:27] Rajendrasinh-AI commented on #902
@bogatyy Thanks
All tests passed and successfully build with following configuration.

Bazel 0.4.3
macOS Sierra: 10.12.2

[2017-01-26 02:20] panovr commented on #950
@drpngx I realized that `tf.image_summary` -> `tf.summary.image` change. However, I still have no ideas of how to resolve the `TypeError: Expected int32, got list containing Tensors of type '_Message' instead.` error.

[2017-01-26 02:52] aldarabs opened #955 "Inception-v4 for multi-label prediction"
## Changing Inception-v4 architecture to do Multi-label classification

Hello guys,
I am working on image tagging and annotation problem, simply an image may contain multiple objects. I want to train inception-v4 for multi-label classification. My training data will be an image and a vector of length equals the number of classes and has 1 in each index if the object exists in the image. For exampl

[2017-01-26 03:00] drpngx commented on #950
Did you check the parameter order? I think we swapped them.

[2017-01-26 03:03] drpngx commented on #955
Hi @aldarabs , great to see you're trying this out. This is probably best asked on stackoverflow, where we monitor all issues with the tag "tensorflow".

[2017-01-26 03:03] #955 closed

[2017-01-26 04:12] deepankar1994 opened #956 "Training in batches in TF Slim"
I am largely following [this]https://github.com/tensorflow/models/blob/master/slim/slim_walkthough.ipynb).

[code]
My issue is that it seems that the training is being done on the same subset of images on every iteration i.e. only one call to the load_batch function seems to be made, what is the proper way to get it to train using a different set of image batch during every training step ?

[2017-01-26 05:43] deepankar1994 commented on #950
I was getting a similar error. I reverted to TF 0.11 and got it resolved.

[2017-01-26 12:34] weimate commented on #902
@bogatyy  Thanks! Works fine and all tests passed on Fedora 25 and CentOS 7 with Bazel 0.4.3.

[2017-01-26 14:43] kalkaneus opened #957 "No image mean subtraction in inception v3?"
Why there is no subtraction of image with its mean (like subtracting with [123, 117, 104] or with tf.reduce_mean) in inception model? Or is it just me who miss the code?

[2017-01-26 15:05] aronayne opened #958 "How to specify custom data files for translate model"
https://github.com/tensorflow/models/tree/master/tutorials/rnn/translate

The tensorflow translate model utilizes https://www.tensorflow.org/tutorials/seq2seq/ Documentation for this model describes in order to customize :

Pre-training this model an input mapping file and it's associated output mapping file are downloaded to data dir. Running the model out of the box downloads these files :

[2017-01-26 17:07] #902 closed

[2017-01-26 18:28] drpngx commented on #956
You need to use a random shuffle. You can do that with

* a random shuffle queue
* a placeholder and randomize before each step
* randomized indices in tensorflow

For the last one, here's what I have for mnist

[code]

In the future, this is a question best answered on stackoverflow, since it is a user issue.

[2017-01-26 18:28] #956 closed

[2017-01-26 18:53] drpngx commented on #957
This is probably too simple to warrant a new function. We generally use `tf.nn.batch_normalization` to normalize across a batch.

[2017-01-26 18:53] #957 closed

[2017-01-26 18:54] drpngx commented on #958
The flags are `from_train_data` and `to_train_data`.

[2017-01-26 18:54] #958 closed

[2017-01-26 19:31] bogatyy commented on #797
Fix committed, should be working on OS X now. Please test and let us know if any issues persist.

https://github.com/tensorflow/models/issues/902

[2017-01-27 03:24] da-steve101 commented on #950
I had a similar issue, I found it was cause by the parameter order of concat. Changing to concat_v2 (which has other order ) as [here](https://www.tensorflow.org/api_docs/python/array_ops/slicing_and_joining#concat_v2) seemed to work

[2017-01-27 09:35] mnaranjo commented on #260
Hi,

I'm getting this error:
`Tensor name "mixed_17x17x768c/branch1x1/Conv/BatchNorm/moving_variance/ExponentialMovingAverage" not found in checkpoint files inception-v4/model.ckpt-12027`

I use a model fine tuning with 5 classes (flowers) and I'm trying to export the model in tensorflow serving
`bazel-bin/tensorflow_serving/example/inception_export --checkpoint_dir=inception-v4 --export_dir=incep

[2017-01-27 12:02] CaterinaM opened #961 "[Im2txt] Using TFRecords for captioning dataset"
Model: Im2txt
Hi,
I'm trying to perform captioning on the MSCOCO validation set and I was wondering if is it possible to exploit the validation set TFRecord shards generated by the MSCOCO preprocessing script (ex.: val-0000*-of-00008) to do this, since captioning a large set of JPEG files takes too long.
How can I adapt run_inference.py to handle SequenceExamples instead of JPG or PNG files?

[2017-01-27 13:05] yselivonchyk commented on #742
Got the same error after upgrading TF to 0.12 and downgrading it back to 0.10

[2017-01-27 17:38] drpngx commented on #950
Still waiting for @panovr

[2017-01-27 17:52] #839 closed

[2017-01-27 18:05] drpngx commented on #961
@CaterinaM you'll find code as an example [here](https://github.com/tensorflow/tensorflow/issues/5234#issuecomment-256989110). Hope that helps. I'm going to close this is issue as it is more appropriate on stackoverflow, where we monitor all questions with the tag `tensorflow`.

[2017-01-27 18:05] #961 closed

[2017-01-27 19:58] CaterinaM commented on #961
Thank you!

[2017-01-27 21:18] candaj opened #963 "Error parsey_universal/parse.sh"
Hello,

I'm trying to use the universal parser with French models. I'm following the tutorial https://github.com/tensorflow/models/blob/master/syntaxnet/universal.md

With the following command i'm getting :
[code]

Seems to have some issues in decoding specific character in the model but i don't know why.
Any help ?

Regards,

[2017-01-27 21:24] panovr commented on #950
Though I can run `finetune_inception_v3_on_flowers.sh` after some changes, the modifications is much more than estimated, and I'm a bit afraid that if my changes are correct.
Personally, I will reverted to TF 0.11 until TF 1.0.0 released.

[2017-01-27 22:03] saraswat commented on #163
Is there a plan to support (versions of) Universal Dependencies, and the Stanford enhanced++ UDs?

[2017-01-27 23:03] drpngx commented on #950
OK. @da-steve101 , do you want to submit a PR?

[2017-01-27 23:07] drpngx commented on #963
From the stack trace, it looks like that one of the input files is invalid characters. Could you try to rename that?

[2017-01-28 05:28] vahidg7 commented on #951
I have asked this question, but there is no response for it after about 3 days.

[2017-01-28 23:44] kristoffernolgren commented on #799
@paras42 , could you provide some more detail?

[2017-01-29 00:38] EnricoBeltramo opened #965 "Error download package cre-8.39.tar.gz while build syntaxnet"
I'm trying to build tensorflow/syntaxnet, but in the step:
bazel test syntaxnet/... util/utf8/...

I have follow error:

Error downloading [http://ftp.exim.org/pub/pcre/pcre-8.39.tar.gz]

what should be the issue?

Thank!

[2017-01-29 22:28] EnricoBeltramo commented on #965
Tried again today, and it built all correctly: I guess just a temporary down of server: no a real issue.

[2017-01-29 22:28] #965 closed

[2017-01-30 07:19] vahidg7 commented on #951
I need this feature to define a custom data reader that infers data length from itself. I want to know whether anybody is working on it or not, and If you want I can add this feature into tensorflow.

thanks

[2017-01-30 16:33] gkbell46 commented on #541
The problem appears when the file download was interrupted. Please delete the incomplete file from the tmp directory and restart the download. Hope this helps

[2017-01-30 17:00] bgrayburn commented on #915
thanks! works great

On Wed, Jan 25, 2017 at 12:10 PM, Ivan Bogatyy <notifications@github.com>
wrote:

[2017-01-30 17:01] #915 closed

[2017-01-31 00:02] ibyte2011 commented on #940
`>>> quit()
(tensorflow) localhost:~ mac$ pip install protobuf
Requirement already satisfied: protobuf in ./anaconda/envs/tensorflow/lib/python2.7/site-packages
Requirement already satisfied: setuptools in ./anaconda/envs/tensorflow/lib/python2.7/site-packages (from protobuf)
Requirement already satisfied: six>=1.9 in ./anaconda/envs/tensorflow/lib/python2.7/site-packages (from protobuf)
(tensorfl

[2017-01-31 19:23] mpeniak opened #967 "Train inception v3 on a custom dataset from scratch"
Hi guys,

I have been trying to train inception v3 models from scratch on a custom dataset. I am aware that there are some tutorials on how to fine-tune on custom data but this is not what I am looking for.

I have managed to create a new set of TFRecords for my data and then I would use the following command with the assumption it'd train the inception network.

`python train_image_classifier.py

[2017-02-01 06:54] vahidg7 opened #968 "How to read variable-length parts of data?"
The problem is that I want to read data into queue. I have tried tf.FixedLengthRecordReader , but it accepts only fixed length data to be read. Is there any way to change it into variable-length data reader?
I need this feature to define a custom data reader that infers data length from itself. I want to know whether anybody is working on it or not, and If you want I can add this feature into tens

[2017-02-01 07:50] LeenaShekhar commented on #752
Hello,

I cannot understand what is the fix for this problem. Can somebody please help. Below is the error:

 python ptb_word_lm.py --data_path=/home/user/Downloads/simple-examples/data/ --model small
Traceback (most recent call last):
  File "ptb_word_lm.py", line 374, in <module>
    tf.app.run()
  File "/home/user/anaconda3/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 43

[2017-02-01 09:25] DanilBaibak commented on #752
Hi @LeenaShekhar,

for fix this issue you can try adjust `reader.py` like:
`x = tf.strided_slice(data, [0, i * num_steps], [batch_size, (i + 1) * num_steps], tf.ones_like([0, i * num_steps]))`

[2017-02-01 16:08] LeenaShekhar commented on #752
Thank you so much as that solved the problem, but I am still getting errors. Is it because of TF version? I installed it using the Anaconda installation steps mentioned on the website (see the TF folder path). I want to run the RNN and Seq2Seq model. Is there a preferred installation process? I really appreciate your fast response.

python ptb_word_lm.py --data_path=/home/usr/Downloads/simple-exam

[2017-02-01 16:20] LeenaShekhar commented on #752
The code seems to work now. I am able to train the model. I made the following changes:
1. Added the changes pointed by @DanilBaibak in reader.py (2 places).
2. Changed tf.contrib.rnn.MultiRNNCell to tf.nn.rnn_cell.MultiRNNCell.
3. Changed tf.contrib.legacy_seq2seq.sequence_loss_by_example to tf.nn.seq2seq.sequence_loss_by_example.

Thank you.

[2017-02-01 17:50] mpeniak opened #969 "What is the tensorflow version that works for training the inception model?"
Hi guys,

I am trying to re-train the inception v3 from scratch on my own data. I have completed all steps successfully and modified all files to reflect the properties of my training dataset.

However, when I try to run the following script:

` bazel-bin/inception/imagenet_train --num_gpus=1 --batch_size=32 --train_dir=/tmp/train --data_dir=/notebooks/ActionRecogniser/UCF_TFR_flow/`

I get a whol

[2017-02-02 13:11] aronayne opened #970 "Is translate model multi GPU parallelized ?"
/tensorflow/models/tree/master/tutorials/rnn/translate

Is translate parallelized  for multi GPU ?

[Searching](https://github.com/tensorflow/models/search?p=4&q=with+tf.device&utf8=%E2%9C%93) 'with tf.device' on tensorflow/models repo does not return any code for translate model.

Ref for using 'with tf.device' to enable multi GPU : https://github.com/aymericdamien/TensorFlow-Examples/blob/master

[2017-02-02 16:14] aanilpala commented on #621
Hi,

I couldn't find any more relevant bit of info anywhere about the pad token than here. I get that <PAD> should not appear in the data but in the vocabulary file. What I need to know based on what I should count them. Should I count one <PAD> for every shorter sentence than the maximum input size (which is enc_timesteps and set to 120) or should I count as many pad chars as the sentence falls s

[2017-02-02 16:24] brisker opened #971 "How to use im2txt on a new image caption dataset?"
## Please let us know which model this issue is about (specify the top-level directory)
How to use im2txt on a new image caption dataset?
Just  make sure the new dataset is in the same format with MSCOCO ?

[2017-02-02 17:36] candaj commented on #963
Hello,

Sorry for the time i took. In fact yes it was a mistake from my side.
Sorry for that.

Regards,

[2017-02-02 17:36] #963 closed

[2017-02-02 20:11] as6520 commented on #950
I resolved these issues by changing concat to concat_v2, explicitly casting the mismatched type tensors to float, replacing the operators by their new names  and replacing image_summary, histogram_summary and scalar_summary with summary.image, summary.histogram, summary.scalar. But currently stuck with the following error

Traceback (most recent call last):
  File "/home/ameya.shringi/models/incep

[2017-02-03 07:32] vincenttsai2015 commented on #853
@nealwu I have updated to r0.12.1, but the attribute error still exists......How can I deal with this? Thanks.
![image](https://cloud.githubusercontent.com/assets/13366052/22583080/ae3318b8-ea25-11e6-9ed7-0eeb3797cb8c.png)

[2017-02-03 09:35] stereomatchingkiss opened #972 "How could I finetune custom data?"
This project show us easy way to finetune pretrained models on 4 datasets, flowers, mnist, cifar10 and imageNet, But what if we want to finetune our custom data? Do you have any suggestions?Like
 clear tutorials about this part? Or I have to read through your source codes to figure out how to do it?

[2017-02-03 14:39] ricking06 commented on #466
@mathieuarbezhermoso  vs @psycharo  whose model should i use ??

Does anyone has a inception latest trained model  ?

I dont have tesla's i cant train

[2017-02-03 14:52] mathieuarbezhermoso commented on #466
Hi,

You just need a decent nVidia card for training. No need for a Tesla. A
GeForce is good.

You can use the Inception V3 checkpoint I shared. I'll provide a link as
soon as I'll be home if needed.

Le 3 févr. 2017 15:39, "ricking06" <notifications@github.com> a écrit :

[2017-02-03 14:58] ricking06 commented on #466
i downloaded this model http://download.tensorflow.org/models/inception_v3_2016_08_28.tar.gz
i could not find the word count of this model.
Please share the link after you get home
thanks.

[2017-02-03 16:03] ricking06 commented on #887
[code]

What could go wrong ?
`
bazel-bin/im2txt/run_inference   --checkpoint_path=im2txt/model/train/   --vocab_file=im2txt/data/mscoco/word_counts.txt   --input_files=im2txt/data/mscoco/raw-data/man_chair.jpg`

is what im using

[2017-02-03 16:54] ricking06 commented on #466
tf.learn.latest_checkpoint returns a None .
I downloaded the  @psycharo  model into `im2txt/model/train/`
whats wrong ?

[2017-02-03 17:20] ricking06 opened #974 "latest_checkpoint returns None even though checkpoint file exists."
## Please let us know which model this issue is about (specify the top-level directory)
Its im2txt model

 checkpoint_path = tf.train.latest_checkpoint(checkpoint_path) is giving None even though the checkpoint file is present.

im using pretrained model from @psycharo from #466 .

the checkpoint file is inside im2txt/model/train/

[2017-02-03 18:50] gunan commented on #887
@ricking06 That looks like a different issue.
Could you file a new issue, with a more complete stack trace, and reproduction instructions?

@ProgramItUp Is the issue referenced by this issue resolved?
Can we close it?

[2017-02-03 18:55] ricking06 commented on #887
@gunan #974 filled

[2017-02-03 19:24] codeloverr commented on #729
@sguada Any updates? With latest version installation, I am still getting the error.

[2017-02-04 01:31] nealwu commented on #853
@vincenttsai2015 I think you still aren't on the latest version of TensorFlow. As you can see from the [`__init__.py` file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/__init__.py), `tf.contrib.rnn` definitely exports `GRUCell`. Try [installing from source](https://www.tensorflow.org/get_started/os_setup#installing_from_sources).

[2017-02-04 07:26] rickymf4 opened #975 "TF-slim resume training"
## slim/train_image_classifier.py

As https://github.com/tensorflow/models/tree/master/slim described, the TF-slim noly can Training from scratch and Fine tuning to a new task .
Because I may halt training and change learning-rate, and then resume the training. Is there any way to resume training from a checkpoint, base on TF-slim ?

Thanks!

[2017-02-04 14:15] ashleymaeconard opened #976 "Recurrent Neural Network??"
## Please let us know which model this issue is about (specify the top-level directory)
Hello, I am looking for tensorflow/models/rnn/ptb from https://www.tensorflow.org/tutorials/recurrent/#tutorial_files.

I cannot find it anywhere :( Can someone help me locate the code?

[2017-02-04 14:24] ogail commented on #789
I think this is expected, the fine-tuning is done for 4 steps only which is very small. If you wanted to get better accuracy mimic what is in the [inception v3 fine-tuning script](https://github.com/tensorflow/models/blob/master/slim/scripts/finetune_inception_v3_on_flowers.sh) mainly by fine-tuning last layer with big learning rate and all network will smaller one for few thousands of steps. The

[2017-02-04 14:28] ogail commented on #967
If you've your own dataset then you need to develop data provider and add it to slim src code in order to use the train_image_classifier.py. Initially you need to:
- Add your data provider to [datasets folder](https://github.com/tensorflow/models/tree/master/slim/datasets)
- edit [dataset factory](https://github.com/tensorflow/models/blob/master/slim/datasets/dataset_factory.py#L30) to have mappin

[2017-02-04 14:30] ogail commented on #972
You need to convert the custom dataset into tfrecords, develop data provider, update slim src code to have your dataset provider. Checkout [this tutorial](https://github.com/tensorflow/models/tree/master/inception#how-to-fine-tune-a-pre-trained-model-on-a-new-task).

[2017-02-04 14:36] mpeniak commented on #967
Thanks mate, very much appreciated!

[2017-02-04 14:46] TheodoreGalanos commented on #972
Hello, thank you for sharing the tutorial!

As a beginner in the ML field and a new user of tensorflow I have found that there is a (somewhat unexpected) difficulty in getting help on the first steps, usually the ones experienced users hardly consider, rather than actually getting model architectures and such.

The latter is the amazing result of this incredibly open source community that is ML. T

[2017-02-04 15:40] loveJasmine opened #977 "im2txt: Not found: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for"
mldl@mldlUB1604:/media/mldl/data1t/os_prj/models/im2txt$ sudo bazel-bin/im2txt/train   --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256"   --inception_checkpoint_file="${INCEPTION_CHECKPOINT}"   --train_dir="${MODEL_DIR}/train"   --train_inception=false   --number_of_steps=1000000
[sudo] password for mldl:
2017-02-05 06:21:22: I tensorflow/stream_executor/dso_loader.cc:125] successfully op

[2017-02-05 05:28] bitmega opened #979 "textsum: Duplicate data in queue"
In `textsum/batch_reader.py`, each thread creates its own `input_gen` like this:

 `input_gen = self._TextGenerator(data.ExampleGen(self._data_path))`

In my experiment, this could lead to duplicate data in the input queue and consequently, a batch might contain multiple records of the same example. I think it is better to move this generator out of thread function (move it to `initialize`?) and i

[2017-02-05 07:21] jmchen-g commented on #969
Looks like many models have been broken recently. Could you find a working copy of the model without modifying anything and only then, try to apply your changes? Thanks.

[2017-02-05 08:12] akkuhanni opened #980 "How to test the model(inception_v3) for custom data set?"
##  models/slim/scripts/finetune_inception_v3_on_flowers.sh
I have trained the inception_v3 model buy running this script  models/slim/scripts/finetune_inception_v3_on_flowers.sh . However, I have modified it for my custom data set which has only 3 classes. The training happened smoothly and as a result many files were created in the flowers and flowers_model folder. What i want to know now is, ho

[2017-02-05 10:11] MoAbd commented on #816
Hi @outcastrift @jart
any progress ?

[2017-02-05 11:04] jsmlay commented on #919
I run into the same error on windows 7, with tf version 1.0.0-alpha

Python 3.5.3rc1 (v3.5.3rc1:de530d7f21c0, Jan  2 2017, 06:41:25) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'tensorflow.python.ops.nn' has no attribute 'rnn_cell'

1.0.0-

[2017-02-05 13:54] carsonDB opened #981 "tf.zeros_initializer in slim.vgg can get TypeError"
In [models/slim/nets/vgg.py](https://github.com/tensorflow/models/blob/master/slim/nets/vgg.py#L61), `biases_initializer=tf.zeros_initializer` can cause
` TypeError: __init__() got multiple values for keyword argument 'dtype' `.

Then I changed to `biases_initializer=tf.zeros_initializer()`. And the error won't show.

My tensorflow version is `0.12.head`. Is my modification right? BTW, I find `bia

[2017-02-05 15:49] MoAbd commented on #466
Hi
I am trying to convert @mathieuarbezhermoso  checkpoint  into Const ops using freeze_graph.py
and it needs file .pb as input_graph , so how can I generate it ?
or if any one have it I`ll be thankful to you.

[2017-02-05 16:51] napsternxg opened #983 "Error running lm_1b model on python3."
## Please let us know which model this issue is about (specify the top-level directory)

Using model lm_1b

When I run with python3 I get the following errors:

[code]

I have also tried running the same using the bazel commands as mentioned in the model README, and I get the same error. Then after referring to #583 I tried using python3 but am still getting the same error.

Here are some addition

[2017-02-06 03:36] andrewkrain opened #985 "What is the most optimal approach for training Inception v3 on a multi-label dataset like CIFAR-100?"
I apologize if this is a trivial question, but I am new to ConvNet and TensorFlow and could not find the answer.

I am trying to train Inception v3 on [CIFAR-100 dataset](https://www.cs.toronto.edu/~kriz/cifar.html), where each image belongs to a class and a superclass as indicated by its label and coarse label.  My goal is to get the model to infer the image class and with greater accuracy its su

[2017-02-06 05:54] cancan101 opened #986 "In resnet_v2, setting biases_initializer=None in conv layer after BN"
In the case of [resenet_v2](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v2.py), when using a preact style BN, can't the `biases_initializer` be set to `None` in the convolutional layer following the preact?

I believe that is what is done in the Torch7 implementation of this paper (by one of the authors): https://github.com/KaimingHe/resnet-1k-layers/blob/fde7ee93c464d8312ca9

[2017-02-06 08:41] jmchen-g commented on #970
The link seems to show the following instead in the end:
print "Single GPU computation time: " + str(t2_1-t1_1)
print "Multi GPU computation time: " + str(t2_2-t1_2)
Single GPU computation time: 0:00:11.833497
Multi GPU computation time: 0:00:07.085913

I believe such profiling is not giving you right comparison because of the initial over head...

[2017-02-06 12:46] vahidg7 commented on #968
I managed to solve my problem by adding a [custom data reader](https://www.tensorflow.org/how_tos/new_data_formats/) that reads the record length for each record from its first data byte, and it works.

[2017-02-06 15:11] #968 closed

[2017-02-06 15:12] mrry commented on #968
Glad to hear it! For future questions like this, please post them on Stack Overflow, where they will have a wider audience.

[2017-02-06 15:13] haeusser opened #987 "inception: "TypeError: Expected int32, got list containing Tensors of type '_Message' instead.""
Steps to reproduce: follow the inception tutorial with TensorFlow 0.12.head installed.

When running training from scratch, I get:

[code]

The problem is that some examples don't provide bounding boxes. In that case, xmin etc are all `[]` in which case concat fails.

[2017-02-06 18:41] Nilabhra opened #988 "Obtain the output of neural programmer"
I have completed the training of the neural programmer. Now I want to load the best checkpoint and see the actual predictions made by it on some of the test examples. Is there any way to do this?

[2017-02-06 19:08] zheng-xq commented on #970
Doesn't seem so. Adding @nealwu to be sure.

[2017-02-06 20:27] wadhwasahil opened #989 "KeyError: '__parsed'"
Hi
I have trained my CNN model using tensorflow. However, my data(text data) is stored in HBase. So at test time, I pick a row and try to test the data on my trained model.
However I get this error.
[code]

[2017-02-06 21:11] nealwu commented on #970
From what I can tell, this model doesn't support multiple GPUs. @lukaszkaiser is working on a new version of the model, but it may or may not include support for this (I don't know).

[2017-02-06 21:11] #970 closed

[2017-02-06 22:00] concretevitamin commented on #974
This is clearly not a TensorFlow core/Saver issue; I suspect something's wrong with the pretrained model.  Also, check if a file named `checkpoint` is under your checkpoint dir (and if it, if it contains the right content).

[2017-02-06 22:00] #974 closed

[2017-02-06 22:20] girving commented on #971
Github issues are for feature requests and bug reports.  Please use StackOverflow for questions like this.

[2017-02-06 22:20] #971 closed

[2017-02-06 22:22] girving commented on #977
What path are you giving it?  Are there files there?

[2017-02-06 22:23] girving commented on #980
Please use Stackoverflow for questions like this.  Github issues are for bug reports and feature requests.

[2017-02-06 22:23] #980 closed

[2017-02-06 22:24] girving commented on #983
What version of TensorFlow are you using?

[2017-02-06 22:25] girving commented on #985
Please use Stackoverflow for questions like this.  Github issues are for feature requests and bug reports.

[2017-02-06 22:25] #985 closed

[2017-02-06 22:26] girving commented on #986
What would you want `None` to mean?

[2017-02-06 22:29] aselle commented on #438
@gcelano, did you find a solution for this problem?

[2017-02-06 22:30] cancan101 commented on #986
According to the docs:
[code]
Ie, there is no bias term for those layers.

[2017-02-06 22:33] girving commented on #289
Closing due to lack of activity.

[2017-02-06 22:33] #289 closed

[2017-02-06 22:34] girving commented on #284
@calberti Can you comment?

[2017-02-06 22:35] girving commented on #280
Looks like @calberti never replied, so I'm going to close due to lack of activity.

[2017-02-06 22:35] #280 closed

[2017-02-06 22:37] girving commented on #255
@calberti Is the update planned?

[2017-02-06 22:40] martinwicke commented on #976
I think it's here: https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

[2017-02-06 22:40] #976 closed

[2017-02-06 22:40] girving commented on #179
Closing due to lack of activity.

[2017-02-06 22:40] #179 closed

[2017-02-06 22:44] girving commented on #127
@waterson What's the status of this issue?

[2017-02-06 22:46] girving commented on #54
@sguada What's the status of this issue?

[2017-02-06 22:46] girving commented on #52
@aselle Do you still want this assigned to you?

[2017-02-06 22:47] girving commented on #47
@jmchen-g Should this be closed?  No activity recently.

[2017-02-06 22:47] #18 closed

[2017-02-06 22:53] girving commented on #376
@calberti Can you comment?

[2017-02-06 22:53] girving commented on #375
@calberti Is this bug obsolete?

[2017-02-06 22:56] girving commented on #337
@calberti Looks like this never got solved.  Close?

[2017-02-06 22:57] girving commented on #335
Closing due to lack of activity.

[2017-02-06 22:57] #335 closed

[2017-02-06 23:01] girving commented on #324
@shlens Blast from the past?

[2017-02-06 23:05] shlens commented on #324
I suspect that there is something unique about your linux/bazel set up such that the paths are not set up correctly. Hopefully someone in the larger TF community has encountered this issue.

[2017-02-06 23:06] girving commented on #316
Closing since there seems to be a workaround.

[2017-02-06 23:06] #316 closed

[2017-02-06 23:07] girving commented on #315
Closing due to lack of response.  I'm happy to reopen if further information appears.

[2017-02-06 23:07] #315 closed

[2017-02-06 23:09] girving commented on #986
Sounds reasonable to me, but @sguada: Can you comment?  Is `biases_initializer` the right control knob?

[2017-02-07 02:51] D-X-Y commented on #429
@deepakrox Hi, I use your code to classify "cropped_panda.jpg" used in tutorials/image/imagenet/classify_image.py.

But it seems output the wrong class (0.83959323, 8.7706404) (389, 389)

I also try a dog picture downloaded from web, and get (0.85302502, 9.4753761) (209, 209).

Would you mind help me figure where did I miss (I only change sample_images)?

Additionally, do your know the difference

[2017-02-07 04:39] junshi15 commented on #677
I have the same issue. My workaround is like this:

  def network_fn(images):
    with slim.arg_scope(arg_scope):
        with slim.arg_scope([slim.model_variable, slim.variable],
                      device="hard-coded device name")
        return func(images, num_classes, is_training=is_training)

This however is not a fix.

[2017-02-07 04:43] vonclites commented on #677
I fixed the issue with https://github.com/tensorflow/models/pull/787 but I'm having problems getting the PR merged in.

[2017-02-07 05:09] junshi15 opened #991 "VGG_19 training loss does not reduce"
## Please let us know which model this issue is about (specify the top-level directory)
https://github.com/tensorflow/models/blob/master/slim/nets/vgg.py

Did anybody train Slim/VGG_19 from scratch recently. I used TF0.12, ran train_image_classifier.py with default parameter settings.  The training loss started with 7.1 and stayed around that level even after 10K iterations. Evaluation showed accu

[2017-02-07 07:21] loveJasmine commented on #977
I misconfig the path, sorry

[2017-02-07 07:21] #977 closed

[2017-02-07 07:31] vonclites commented on #677
Had to redo the PR because my last commit was using a non-public email.
The open PR is now https://github.com/tensorflow/models/pull/992

[2017-02-07 10:57] ricking06 commented on #974
i passed the full path of checkpoint file instead of its directory and it worked.

[2017-02-07 15:35] girving commented on #991
@sguada Any ideas?

[2017-02-07 15:44] girving commented on #988
Please ask questions like this on StackOverflow.  Github issues are for feature requests and bug reports.

[2017-02-07 15:44] #988 closed

[2017-02-07 15:51] girving commented on #987
Seems like a bug.  The code you mention is https://github.com/tensorflow/models/blob/master/inception/inception/image_processing.py#L397.

@shlens What would be the right fix here?  I don't know the semantics of the surrounding non-tf code.  Might just need to explicitly set a dtype somewhere.

[2017-02-07 16:01] girving commented on #989
Something very weird is happening with Anaconda installations of Python.  @gunan Here's another one.  I don't have any idea what's going on; the `flags.py` code seems fine to me.

@wadhwasahil What version of TensorFlow are you using?  Can you tell us exactly how you installed it?

[2017-02-07 16:08] haeusser commented on #987
@girving I think there are two issues:
1. `concat` expects non-scalars (hence `[ ]` is illegal)
2. `bbox` is piped through to `distort_image` which will fail if `bbox` doesn't contain anything (in image_processing.py, lines 222, 233

Therefore, I'd suggest to allow `bbox` to be `None` (should be checked for in L397ish) and react accordingly in `distort_image`.

[2017-02-07 16:13] girving commented on #987
@haeusser [] is an empty list, not a scalar.

[2017-02-07 17:26] wadhwasahil commented on #989
I can't run this code.
[code]

I am using tf 0.12.1

[2017-02-07 17:30] girving commented on #989
Can you tell us exactly how you installed it?

[2017-02-07 17:33] wadhwasahil commented on #989
using `https://www.tensorflow.org/get_started/os_setup` by selecting the flag for 64 bit CPU

[2017-02-07 17:35] wadhwasahil commented on #989
I am not even able to create a broadcast variable for a tensorflow constant. Is it compatible with pyspark?

[2017-02-07 17:38] girving commented on #989
That page describes 5 different ways to install TensorFlow.  I suppose I could guess that you used Anaconda given the paths, but it would have been nicer to post commands.

@martinwicke Some sort of Anaconda disaster seems to be happening.  This is the third bug where someone got an Anaconda install of TensorFlow with essentially nothing in it.

[2017-02-07 17:40] girving commented on #989
@martinwicke Other two bugs: https://github.com/tensorflow/tensorflow/issues/7285, https://github.com/tensorflow/tensorflow/issues/7283.

[2017-02-07 17:41] shlens commented on #987
Unfortunately, the API for TF has changed and we have not had time to update this model. Contributions welcome.

In the mean time, https://github.com/tensorflow/models/tree/master/slim is available. It is a more modern implementation of Inception and has been updated AFAIK.

[2017-02-07 18:09] martinwicke commented on #989
@wolffg FYI

The anaconda package is contributed. Maybe it's broken?

[2017-02-07 18:10] wadhwasahil commented on #989
I think I am not able to convey my problem here. Everything works fine without using spark code. But when I use pyspark with tensorflow some issues like the above take place.

[2017-02-07 18:30] girving commented on #989
@wadhwasahil Ah, I may have misinterpreted.  However, I don't have any idea why pyspark would interfere with TensorFlow.

Could you debug the `__parsed` issue a bit further, by adding some print statements to flags to see when that field exists?  It is created in the constructor, so either the creation is silently failing or something somehow removes it.

[2017-02-07 18:36] wadhwasahil commented on #989
The problem is that spark would create mutiple executors to run, and on each executor the flags need to be initialised. But there seems some problem with my code as I am getting this error.

[2017-02-07 19:03] girving commented on #989
@wadhwasahil If there are multiple executors involved, you could try debugging as I suggested on the executor that doesn't work.

[2017-02-07 19:35] junshi15 commented on #991
A few more data points:

1) I ran slim/inception_v3 network successfully, with default parameters. Top-5 accuracy increases to 55% in about 12 hours.

2) For VGG_19, I changed weight-decay to 0.0005, the initial training loss is around 36.2, then quickly reduces to 6.9, then stays there forever.

3) I don't get any error without "--labels_offset=1",  contradicting to this link: https://github.com/

[2017-02-07 21:15] junshi15 opened #993 "b"
## Please let us know which model this issue is about (specify the top-level directory)

[2017-02-07 21:16] #993 closed

[2017-02-07 22:49] kristoffernolgren opened #995 "I have updated the namespaces for im2txt, do you want a pullrequest?"
I can't publish a branch to your fork of the code so I can't create a pull request.

[2017-02-08 02:38] rickymf4 opened #996 "TF-slim inceptionv3"
## TF-slim inceptionv3 train from scratch

I use slim/train_image_classifier.py to train a inception_v3 model on my own dataset:
`
python train_image_classifier.py
    --train_dir=${TRAIN_DIR}
    --dataset_name=mydataset
    --dataset_split_name=train
    --dataset_dir=${DATASET_DIR}
    --model_name=inception_v3
    --num_clones=2
`

the loss curve was strange as the tensorboard shown, it was a

[2017-02-08 03:02] rickymf4 opened #997 "TF-slim training crashed"
## Tensorflow 0.10.0rc0

I use slim/train_image_classifier.py to train a inception_v1 model on my own dataset,
`
python train_image_classifier.py
    --train_dir=${TRAIN_DIR}
    --dataset_name=mydataset
    --dataset_split_name=train
    --dataset_dir=${DATASET_DIR}
    --model_name=inception_v1
    --num_clones=2
`

but it crashed, the following are the last output:

INFO:tensorflow:global step

[2017-02-08 06:00] wadhwasahil commented on #989
I have kind of found the bug. In some executors the flags are not initialised. So is there a way to initialise the flags multiple times in tensorflow?

[2017-02-08 08:22] jart commented on #816
@MoAbd did @jumbogoose's suggestion work for you?

[2017-02-08 11:41] Rahulvks opened #998 "ImportError: No module named _pywrap_tensorflow"
## Please let us know which model this issue is about (specify the top-level directory)
OS - Ubuntu 14 8gm ram

followed these steps - https://www.tensorflow.org/get_started/os_setup#test_the_tensorflow_installation

Kindly any one help

[2017-02-08 14:07] hseelawi opened #999 "Using Arabic with Syntaxnet"
I have been trying to figure out how to use Arabic with Syntaxnet trained models, but I couldn't. I do understand that I need to segment the text before using it, which I do using the Stanford NLP segmenting tool, but then I don't know what to do next. What is the format expected for the input to the model? Thanks in advance.

[2017-02-08 15:01] hseelawi commented on #999
I guess I was not properly running the script. I got this solved.

[2017-02-08 15:01] #999 closed

[2017-02-08 15:12] girving commented on #989
@wadhwasahil Can you provide more details?  I don't understand how the `__parsed` field could be uninitialized.

[2017-02-08 15:15] girving commented on #995
Yes, you can create a pull request.  Just publish a branch to *your* fork of the code.  I don't know enough from your description to know whether we want it.

[2017-02-08 15:15] #995 closed

[2017-02-08 15:18] girving commented on #998
This is not enough information.  Please follow the instructions you deleted when filing the issue.

[2017-02-08 15:33] girving commented on #997
Presumably your dataset contains a PNG, and you are trying to read it as a JPEG.  I recommend switching from `decode_jpeg` to `decode_image`; the latter handles both formats.

[2017-02-08 15:33] #997 closed

[2017-02-08 15:36] girving commented on #996
Questions like this belong on StackOverflow.  Github issues are for bug reports and feature requests.

[2017-02-08 15:36] #996 closed

[2017-02-08 15:46] wadhwasahil commented on #989
Can you please follow this link?
http://stackoverflow.com/questions/42112407/transform-map-to-mappartition-using-pyspark

[2017-02-08 16:51] martinwicke commented on #989
flags is the devil. Can you try using argparse and see if that works? flags uses globals, which may get pickled, and weirdness ensues.

[2017-02-08 16:59] wadhwasahil commented on #989
I have removed flags. @martinwicke can you please guide with the stack overflow link?

[2017-02-08 17:08] martinwicke commented on #989
Well, does it work now?

I agree. StackOverflow is the right venue for this. Comment there with updates. Hammad Haleem also had a good suggestion that you can try.

I will close this issue.

[2017-02-08 17:08] #989 closed

[2017-02-08 17:10] wadhwasahil commented on #989
The suggestion doesn't work, I have posted the error message

[2017-02-09 02:04] rickymf4 commented on #997
Thanks girving. But it was not due to a PNG image, it was due to a Corrupt JPEG.
How can I skip such bad data to continue training?

[2017-02-09 04:08] ravijagan commented on #411
I dont have much experience like akshayubhat. Someone suggested using this tfslim and it is now a nightmare after 3 months. tensorflow may have been longer route, but it was documented mapped journey. This is a shortcut through a dense forest full of circular references.

[2017-02-09 14:23] junshi15 commented on #54
Here is my understanding of https://github.com/tensorflow/models/blob/master/slim/deployment/model_deploy.py

Let's say you have 2 worker nodes and 1 parameter server, and each node has 4 clones (GPUs). The worker aggregates the clone gradients then sends them to the parameter server. Then the PS updates the weights. This is all good.

The problem is the GPUs share the weights at PS, so each GPU f

[2017-02-09 14:49] AIROBOTAI commented on #54
@junshi15 I think you are right about internal weight distributing. Btw, it seems that Caffe does not have distributed version yet.

[2017-02-09 15:08] cancan101 opened #1001 "resnet_v2 model does not use batch_norm with scale=True"
[The default setting for the `batch-Norm` layer in slim is to have `scale` turned off](https://github.com/tensorflow/tensorflow/blob/a0d784bdd31b27e013a7eac58a86ba62e86db299/tensorflow/contrib/layers/python/layers/layers.py#L366). The [resnet_v2 slim implementation seems to use the default `scale` setting](https://github.com/tensorflow/models/blob/2fd3dcf3f31707820126a4d9ce595e6a1547385d/slim/nets

[2017-02-09 16:36] legel opened #1002 "im2txt becomes 10x slower after a few thousand steps"
@cshallue I've used im2txt for several months on multiple data sets, and computationally it is wonderful in so many ways, while it seems invariably, at least for my OS, after a few thousand steps to suddenly get at least 10x slower.  You can see this in this [log.txt](https://github.com/tensorflow/models/files/764269/log.txt) where between steps 1001394-1002828 the model is computing between 0.80-

[2017-02-09 16:39] kangkangkangko opened #1003 "[Neural GPU] Neural GPU is incompatible with 0.11, 0.12 , 1.0.0 alpha."
## Please let us know which model this issue is about (specify the top-level directory)

Sorry for inconvenience..
1. concat() function doesn't work well...

shows this error
TypeError: Expected int32, got list containing Tensors of type '_Message' instead.

2.  So i modified all concat() function in your code. However, this error also happend : NameError: global name 'linalg_ops' is not defined

[2017-02-09 16:50] girving commented on #1003
@lukaszkaiser Seems like Neural GPU needs an update after the API fiddlings.

[2017-02-09 16:52] girving commented on #1002
@caisq Do you know of any docker issue that might cause this?  The mouse jiggling aspect is amusing.

[2017-02-09 17:19] junshi15 commented on #54
@AIROBOTAI You are correct, the official BVLC Caffe does not extend beyond a single node. At the risk of self-promotion, I was referring to Yahoo version of it (https://github.com/yahoo/caffe/tree/master), being part of CaffeOnSpark (https://github.com/yahoo/CaffeOnSpark). Both ethernet and infiniband connections are supported.

[2017-02-09 17:26] AIROBOTAI commented on #54
@junshi15 Thx for your clarificatioin!

[2017-02-09 17:30] AIROBOTAI commented on #54
Hi @ZhuFengdaaa, I found your modified [distributed_train.py](https://github.com/ZhuFengdaaa/models/commit/57b3afaf7c811c3d13548eab4cedd202add20016#diff-2bbdfc8464d99bf28f8fbf62126fbf50R114) (if this is how you use multi-gpu on each replica) and wrote a comment there. Since distributed TF only needs one `chief`, thus I think changing Line 110 to `is_chief = (FLAGS.task_id == 0 and FLAGS.gpu_id ==

[2017-02-09 17:52] lukaszkaiser commented on #1003
Yes - it's already made to work with 1.0. I think that's ok.

[2017-02-09 17:52] #1003 closed

[2017-02-09 17:53] lukaszkaiser commented on #1003
To clarify: it's already updated to work with 1.0 rc. Did you try that? What's the linalg problem?

[2017-02-10 00:19] jeremygoetz commented on #987
If I use version TF 0.11 will this avoid this issue. Also I followed https://github.com/tensorflow/models/pull/909/files/680218d8696d987a373101f252cd9eec73f22b3c so would I have to remove the changes to use TF 0.11

[2017-02-10 02:46] chenhe95 commented on #829
Same issue here, had the error with
[code]

[2017-02-10 04:57] carsonDB commented on #981
From the release of tensorflow 1.0 rc1 and rc2, I see the following change I think that's the answer.

[2017-02-10 11:10] amit2103 opened #1004 "Topic Modelling with Tensorflow"
Hi ,
I want to do Topic modelling with tensorflow. While I know LDA can be used, is there any model in Tensorflow that can be used to do it?

Regards

[2017-02-10 12:37] parth126 commented on #467
@abraveboy Can you please tell which pip version did you use.
I am using TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.12.1-cp27-none-linux_x86_64.whl
This still gives the 'Config values are not defined in any .rc file: cuda' warning and code runs on cpu instead of gpu.

[2017-02-10 12:51] abraveboy commented on #467
@parth126 I am using tensorflow r0.10. This version can be pip installed before.

[2017-02-10 13:31] AIROBOTAI commented on #54
@ZhuFengdaaa sorry, just realized that `task_id` is unique for each worker, so your codes are right.

[2017-02-10 13:44] linrio opened #1005 "Suggestions for autoencoder"
## Please let us know which model this issue is about (specify the top-level directory) autoencoder

In _models/autoencoder/AdditiveGaussianNoiseAutoencoderRunner.py_
Changing
[code]
to
[code]
Also for _models/autoencoder/AutoencoderRunner.py_ ,  _MaskingNoiseAutoencoderRunner.py_ and  _VariationalAutoencoderRunner.py_

[2017-02-10 16:11] cshallue commented on #467
@parth126 what command are you running that gives you the warning?

[2017-02-10 16:49] girving commented on #1004
Please ask questions like this on StackOverflow.  Github issues are for bug reports and feature requests, and requests for entire new models are generally out of scope.

[2017-02-10 16:49] #1004 closed

[2017-02-10 16:50] girving commented on #1005
Would you be interesting in submitting a PR?

[2017-02-10 21:19] aselle commented on #508
Closing due to lack of recent activity and because it is indeed more of a stackoverflow question. It would great if you linked the stackoverflow question @weiliu620.

[2017-02-10 21:19] #508 closed

[2017-02-10 21:45] aselle commented on #496
Did you find a solution @richfwebb?

[2017-02-10 21:46] aselle commented on #491
@AdamMiltonBarker, following up to see if you finally found a situation or are still looking for help.

[2017-02-10 21:47] aselle commented on #490
@tfboyd do you have any suggestions here?

[2017-02-10 21:57] tfboyd commented on #490
Yup, add me as the owner.  I have some fixes and a new version on the way
in a couple days.

On Fri, Feb 10, 2017 at 1:47 PM, Andrew Selle <notifications@github.com>
wrote:

[2017-02-10 21:59] aselle commented on #599
Closing since I believe this is a duplicate of #643 (which is fixed)

[2017-02-10 21:59] #599 closed

[2017-02-10 21:59] tfboyd commented on #490
Apologies for the sloppy comment.  We have a change coming that will increase the single GPU likely by 6X+ and fix the multi-GPU.  Give use one more week.

[2017-02-11 00:12] girving commented on #602
Does this have something to do with `//incpetion:imagenet_train` being misspelled?

[2017-02-11 07:05] parth126 commented on #467
@cshallue Actually I am using textsum and not im2txt.
I am using the command mentioned in the README for textsum:
bazel build -c opt --config=cuda textsum/...

[2017-02-11 09:54] linrio commented on #1005
what's the means of PR?  I'd be glad to give contributions.
Meanwhile giving suggestions:
In  _models/autoencoder/autoencoder_models/Autoencoder.py_
Changing
[code]
to
[code]
Also for  _models/autoencoder/autoencoder_models/Autoencoder.py_ ,  _models/autoencoder/autoencoder_models/DenoisingAutoencoder.py_ and  _models/autoencoder/autoencoder_models/VariationalAutoencoder.py_ .

[2017-02-11 12:25] tfboyd commented on #490
First I want to apologize for getting overly excited and failing to read the issue in detail.  I am getting use to this forum.  Now for some good news and bad news.

**Bad news and me embarrassing myself.**
I thought you were referencing this [CIFAR-10 examples](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py), which has an issue where the image

[2017-02-11 16:50] AIROBOTAI commented on #54
Hi @heibaidaolx123, I'd like to know if you have tested the speed benchmark using TF `v1.0`. And does the speed get faster?

[2017-02-11 20:04] waterson commented on #127
So, my understanding is that there is seems to be a problem with very large protocol buffers, and that a few pretty easy work-arounds exist (e.g., use a smaller subblock size or use Linux). I'm happy to accept PRs but I'm not spending any cycles on it at the moment. If I've mis-understood, please let me know.

[2017-02-11 20:46] vonclites commented on #490
Thank you @tfboyd for your response! I realize my post is not very helpful in troubleshooting this. This aspect of Tensorflow is still very much a black box to me, and have had much time to figure out how to really trace the bottleneck. It sounds like this issue may resolve itself as you all introduce the new pipelines.

Also, I'm very excited to hear this good news. I've been trying to migrate my

[2017-02-11 20:46] cshallue commented on #467
@parth126 All build targets in textsum are python so --config=cuda is not needed (it's no-op). So just use "bazel build -c opt textsum/..."

Also you might have an older version of bazel which does not recognize the --config=cuda flag

[2017-02-12 12:42] MoAbd commented on #816
Hi @jart ,
Thanks for your reply , I tried  @jumbogoose's suggestion and I got this error :
`tensorflow.python.framework.errors_impl.FailedPreconditionError:` Attempting to use uninitialized value lstm/BasicLSTMCell/Linear/Matrix
	 [[Node: _send_lstm/BasicLSTMCell/Linear/Matrix_0 = _Send[T=DT_FLOAT, client_terminated=true, recv_device="/job:localhost/replica:0/task:0/cpu:0", send_device="/job:loca

[2017-02-12 17:19] jart commented on #816
Re-opening for triage.

[2017-02-12 17:26] juanmaonse opened #1008 "envidia GT 520M, unable to run inception?"
Hi everyone!
I am new in inception v3 and I am getting some information about how to run properly the code. I am very interesting in use the pre-trained inception v3 code to make an object classfication application and fine tunning it. I don't know if I understand properly if it is necessary to install  CUDA environment and cuDNN package to run it. My laptop has the ENVIDIA GEFORCE GT520M which ha

[2017-02-12 17:30] yuvval opened #1009 "Notify that models/inception sources are outdated"
## Please let us know which model this issue is about (specify the top-level directory)
According to models/slim README it appears that the code for models/inception is outdated. It will be beneficial to add such notification on the head of models/inception README and instead refer to models/slim

[2017-02-13 13:33] soloice commented on #1005
@linrio PR means `Pull Request`. That is, you fork the repo, make your own commit, and request tensorflow developers to merge your contribution to the tensorflow master version.

[2017-02-13 15:47] girving commented on #127
I'll close for now due to age, but I'm happy to reopen if new information surfaces.

[2017-02-13 15:47] #127 closed

[2017-02-13 15:49] girving commented on #1005
@linrio Yep, PR means pull request, which means contribution.  The fixes in (2) looks good too.

[2017-02-13 21:07] brucedeng commented on #346
@xtr33me  do you have any benchmark on your training timing on # of gpus or cpus for 40K or 1M articles? would like to see any results on that. thank you!

[2017-02-13 21:49] ogail commented on #975
Yes, provide the train directory as the checkpoint directory and TF-Slim will pick up the latest checkpoint automatically.

[2017-02-14 07:59] hustcat opened #1012 "Run cifar10 with GPU failed"
Run [cifar10](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py) with GPU failed:

[code]

[2017-02-14 09:05] jungle-cat opened #1013 "How syntaxnet handles OOV words during embedding lookup?"
How would SyntaxNet handles OOV words (words that are not seen during training phase) in embedding lookup?

Does a special symbol as UNK is generated or just return zero vectors for those OOV words?

[2017-02-14 17:18] legel commented on #1002
@girving @caisq @cshallue et al.

Following up here, I found that the back-and-forth bouncing into faster and slower training for im2txt is indeed discrete stepwise:
![im2txt_training_efficiency](https://cloud.githubusercontent.com/assets/1915466/22939818/ebee0a92-f2ad-11e6-8c70-afc67d936437.png)
The above is also highly sensitive to choice of hyperparameters.  When I lower the batch size, e.g., t

[2017-02-14 17:20] dpressel opened #1014 "PTB example: concat_v2 -> concat for TF 1.0"
https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

ptb_word_lm.py:149

I am using the latest update of the 1.0 version from git.

In the PTB LM tutorial, the code was switched to use concat_v2, which no longer exists in the 1.0.  The call to concat_v2 should be updated back to concat to support 1.0, or could conditionally check the TF version.  This simply involves renaming the fu

[2017-02-14 17:52] melvyniandrag opened #1015 "cifar10 error"
In /models/tutorials/image/cifar10 when I run cifar10_train.py I get this error:

`AttributeError: module 'tensorflow' has no attribute 'strided_slice'`

Full stack trace:

[code]

[2017-02-14 18:37] #1015 closed

[2017-02-14 18:38] melvyniandrag commented on #1015
Nevermind. I had installed v10 not v12. Now I have another error that

`TypeError: strided_slice() missing 1 required positional argument: 'strides'`

I have seen solutions to this on SO. When I read and understand the tutorial I'll submit a PR to have the tutorial code changed.

[2017-02-15 00:09] aselle commented on #940
Try
[code]

[2017-02-15 00:22] aselle commented on #1008
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 00:22] #1008 closed

[2017-02-15 00:59] aselle commented on #1009
@nealwu, could you handle this?

[2017-02-15 01:15] nealwu commented on #1009
Interesting, sounds like we should check with @martinwicke. Is [models/inception](https://github.com/tensorflow/models/tree/master/inception) an old version of [models/slim](https://github.com/tensorflow/models/tree/master/slim)? Should we just remove models/inception altogether?

[2017-02-15 01:17] martinwicke commented on #1009
@sguada What is the latest inception model?

[2017-02-15 03:02] rickymf4 commented on #975
Thanks @ogail ! However, when you provide the train directory as the checkpoint directory, you have to provide another directory for the train directory, because the following code:

`

    if tf.train.latest_checkpoint(FLAGS.train_dir):
        tf.logging.info(
            'Ignoring --checkpoint_path because a checkpoint already exists in %s'
             % FLAGS.train_dir)
        return None
`

[2017-02-15 06:07] bowu commented on #829
Is this problem solved? I had the same issue.

[2017-02-15 07:23] linrio commented on #1005
@soloice  @girving Ok. I'll try to submit a PR.

[2017-02-15 08:11] nguyenvulebinh opened #1020 "Slim.learning.train error when model train too fast"
I follow step in slim_walkthoungh.ipynb and get error. I gess when train model too fast then elapsed_time equal zero

`Layers
name = deep_regression/fc2/Relu:0, shape = (?, 16)
name = deep_regression/fc1/Relu:0, shape = (?, 32)
name = deep_regression/prediction/BiasAdd:0, shape = (?, 1)

Parameters
name = deep_regression/fc1/weights:0, shape = (1, 32)
name = deep_regression/fc1/biases:0, shape = (

[2017-02-15 09:16] FCInter commented on #829
I also have the same issue when running the models/tutorial/rnn/ptb_word_lm.py

[2017-02-15 14:31] parth126 commented on #467
@cshallue I already tried without --config=cuda. There are no warnings in that case.
But in both cases, without --config=cuda and with it, the code runs only on cpu

[2017-02-15 17:57] aselle commented on #1012
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-02-15 18:00] aselle commented on #1013
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 18:00] #1013 closed

[2017-02-15 18:13] aselle commented on #1020
This is a duplicate of #3172

[2017-02-15 18:13] #1020 closed

[2017-02-15 19:04] #1014 closed

[2017-02-15 23:29] EnricoBeltramo opened #1021 "Issue during debug of tensorflow"
Hello,
I'm pretty new to tensorflow and python. If I try to run syntaxnet by command line it works well, but I have an issue when I try to debug it step by step with Eclipse or Spyder. I had same error: an issue on load a library (parser_ops.so). Someone should help me to understand what is the issue?
I attach here the error log (generated by Spyder)

  File "<ipython-input-2-c92123615836>", line

[2017-02-16 08:07] rajmiglani opened #1022 "TypeError: zeros_initializer() missing 1 required positional argument: 'shape'"
inception model

What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

None yet

Environment info

Operating System: ubuntu 14.04
python 3.4.3

If installed from binary pip package, provide:

A link to the pip package you installed: pip 7.1.2

The output from python -c "import tensorflow; print(tensorflow.__version__)".
0.12.1
If installed from

[2017-02-16 11:52] jsonjunky opened #1023 "Master branch tests for syntaxnet do not work"
## Please let us know which model this issue is about (specify the top-level directory)
Hi,
  I realize the accepted trend is to do all the work on master (not a good trend btw), so what this means is that for those of us trying to use the dockerfile for syntaxnet, it pulls the master repo down and performs the tests on it. This keeps breaking.

Development should happen on a dedicated version bra

[2017-02-16 15:32] AndreaFar opened #1024 "Computer Vision sample and tutorials don't work. These are official samples and need more attention."
I'm trying to run tutorial sample and I get tons of errors

imagenet doesn't work, classify sample that uses pretrained imagenet doesn't work.
mnist doesn't work

A lot of code outdated and not usable on current version of Tensorflow without adjustments.
The official samples are important for new users that are trying to learn Tensorflow It's bad that most of the code cannot be executed

[2017-02-16 16:12] ogail commented on #975
@rickymf4 if the TRAIN_DIR has `checkpoint` file, then TF will use the latest one specified by that file automatically and you don't need to provide anything (actually remove the --checkpoint_path). In case your checkpoint is saved somewhere else (which is unlikely as you need to remove `checkpoint` file) then pass --checkpoint_path parameter that points out to the model.ckpt file.

FYI, I do same

[2017-02-16 17:48] evankozliner commented on #829
Running into this issue as well :(

[2017-02-16 18:09] civilman628 commented on #857
i meet the same issue on TF 1.0, when training Faster RCNN

[2017-02-16 18:28] xerg0n commented on #602
It does not. I am getting the same error, I not too sure about the inner workings of bazel, but i think its a problem with the symbolic links bazel creates.

[2017-02-16 18:36] girving commented on #602
@shlens Have you seen this?  I'm not very familiar with the build setup of models.

[2017-02-16 18:57] penelopeia commented on #827
I also had this issue. I am wondering if this is not an issue in python 2.7

In order to move on I removed the str() cast in _bytes_feature:

`def _bytes_feature(value):
  return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value]))`

then I removed the image decoder check, and was able to run the script.

[2017-02-16 19:42] hfirouzi commented on #752
My code started working after applying changes suggested by @DanilBaibak and @LeenaShekhar and also these two changes in ptb_word_lm.py:
1) tf.contrib.rnn.BasicLSTMCell  --> tf.nn.rnn_cell.BasicLSTMCell
2) tf.contrib.rnn.DropoutWrapper --> tf.nn.rnn_cell.DropoutWrapper

I am running the code in windows (python 3.5 and pip "https://www.tensorflow.org/install/install_windows")

[2017-02-16 20:12] memoday commented on #925
Thank you so much. I appreciate it.

[2017-02-16 20:18] ssieges commented on #857
I have also hit this error while training corgi's Faster RCNN.

Error log is listed below.

Traceback (most recent call last):
  File "./tools/train_net.py", line 96, in <module>
    max_iters=args.max_iters)
  File "/home/scott/code/Faster-RCNN_TF/tools/../lib/fast_rcnn/train.py", line 222, in train_net
    sw.train_model(sess, max_iters)
  File "/home/scott/code/Faster-RCNN_TF/tools/../lib/fast_

[2017-02-16 21:25] legel commented on #1002
Ongoing investigation, we see that GPU utilization is also "hit or miss" / "bursty" / throttled in im2txt's "slow mode":
![image 2](https://cloud.githubusercontent.com/assets/1915466/23041765/10071c7c-f464-11e6-801b-81e65a1f3113.png)

[2017-02-16 23:55] BentoCG commented on #566
@anuj2rock I also follow @samspills  guide but my code fails on eval (throws this error:
[code]
I thought it was a deal with running top5k with only 2 classes (that might be why you get 100% accuracy) but I am not so sure now. Did you change anything on the eval script?

[2017-02-17 00:28] shlens commented on #602
@girving This is new to me. I would examine the bazel-bin and bazel-genfiles to see which libraries were generated and if it corresponds to the libraries in the import statements. If not, then there might be something amiss with the bazel setup

[2017-02-17 04:09] taylorty commented on #752
@hfirouzi and @LeenaShekhar: I encountered the same problem but after I updated Tensorflow with pip installation by following link here (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#pip-installation), everything works fine. They usually keep updating the binary url of the latest Tensorflow on the page. Hope it helps.

[2017-02-17 11:21] hustcat commented on #1012
Based on tensorflow 0.12.1 docker image: `gcr.io/tensorflow/tensorflow:latest-gpu`:

[code]

[2017-02-17 20:02] ogail opened #1028 "Docs/examples for TF-Slim deployment mising"
## Please let us know which model this issue is about (slim/deployment/model_deploy.py)

The tutorial for multi-GPU for CIFAR-10 explains well the parameters with examples how they are used. However, model_deploy.py does not clarify what are the differences between `num_clones` and `num_replicas`. This is what I understand right now:

- use `num_clones` to specify how many GPU towers used to train

[2017-02-17 20:45] lucaswiser opened #1029 "inception_v4 uses xrange"
In nets/inception_v4.py, xrange is used which breaks python3 compatibility. I think this should be changed right?

[2017-02-17 21:19] ogail commented on #1029
Lots of the samples are compatible with python2. This is normal

[2017-02-17 23:04] lucaswiser opened #1030 "No biases in inception_v4 checkpoint file"
Hi I'm trying to use the inception_v4 code and checkpoint file as a starting point for my model. I'm not using the slim scripts directly but am importing the inception network and using

slim.assign_from_checkpoint_fn(
      model_path + "inception_v4.ckpt",
      weights,
      ignore_missing_vars=True)

Where weights are the network weights minus all the meta weights needed for adam optimizer. I

[2017-02-17 23:21] ducdauge commented on #248
After the recent Tensorflow release (1.0), the solution is not viable anymore apparently. Some files that @David-Ba suggested to edit are missing, e.g. `tensorflow/third_party/gpus/crosstool/CROSSTOOL`. In fact, downgrading to previous releases is inadvisable, since this would hamper the processing speed a lot. So, does anybody know how to build SyntaxNet with actual GPU support and Tensorflow r1.

[2017-02-17 23:35] ducdauge commented on #762
After the recent Tensorflow release (1.0), the solution in #248 is not viable anymore apparently. Some files that @David-Ba suggested to edit are missing, e.g. `tensorflow/third_party/gpus/crosstool/CROSSTOOL`. In fact, downgrading to previous releases is inadvisable, since this would hamper the processing speed a lot. So, does anybody know how to build SyntaxNet with actual GPU support and Tensor

[2017-02-18 02:18] yuyang2009 commented on #912
@drstarson you can try to delete the models in your **train_dir**(like "/tmp/inception_finetuned/")

[2017-02-18 04:14] javiribera commented on #1029
You can make it compatible with both versions of python.
See the commit https://github.com/tensorflow/models/pull/1026/commits/abe4829d5160eddc92fa6cf09b7163f0d8407cb9

[2017-02-18 05:14] Graystripe17 commented on #919
@asimshankar I have tensorflow 1.0.0 and this error shows up.

[2017-02-18 05:44] jmugan commented on #523
I got this problem when I upgraded to 1.0. After the upgrade, it happens when I import spaCy in a program where I import TensorFlow. This does not occur when I use spaCy without TensorFlow. For now, I pulled out the import of spaCy.

[2017-02-18 09:00] #981 closed

[2017-02-18 09:04] carsonDB commented on #523
I have the same problem when I `import cv2` with the OpenCV's version `3.1.0`. But it's ok with the version` 2.4.13`. And this problem only comes out after I upgraded to `1.0` of tensorflow.
BTW, changing the import order of cv2 and tf can't help me.

[2017-02-18 19:58] wongalvis opened #1034 "Error importing Tensorflow"
I pointed the directory of parser_eval and conll2tree to /home/pwmvx1289/.cache/bazel/_bazel_pwmvx1289/f1c99cb5624c89408f4ae4a44b3c0d38/execroot/syntaxnet/bazel-out/local-opt/bin/syntaxnet/ to solve issues like "line 55: bazel-bin/syntaxnet/conll2tree: No such file or directory"

Now I get this

~$ echo 'Bob brought the pizza to Alice.' | models/syntaxnet/syntaxnet/demo.sh
Traceback (most recent c

[2017-02-18 20:18] apiszcz opened #1035 "inception/inception/build_image_data.py: python2"
## Please let us know which model this issue is about (specify the top-level directory)
inception/inception/build_image_data.py
It appears this file and probably others are writing with python2 syntax/features is there a update expected to python 3.5 to align with the 3.5 TensorFlow or is there a way to obtain a 3.5 version of models?
Thank you.

[2017-02-18 21:01] legel commented on #1002
Great news!

The problem has been solved. The issue was that the default batch size of examples to compute per step was too large. When I lowered the default from 32 examples to 16 examples, it's smooth sailing:
![image 4](https://cloud.githubusercontent.com/assets/1915466/23096847/3dc50efe-f5f3-11e6-93d6-4a5214ce1b99.png)
I'm not sure exactly what was bottlenecking it, as my images were only ~125

[2017-02-18 21:01] #1002 closed

[2017-02-18 21:55] tintelle commented on #466
Hi!
Did anybody get following error when trying to run the checkpoint with Tensorflow1.0?

[code]

Thanks!

[2017-02-18 21:57] ebrevdo commented on #919
The RNNCells have been temporarily moved to tf.contrib.rnn
(tf.contrib.rnn.BasicRNNCell).  They will hopefully be moved back out of
contrib starting in TensorFlow 1.1.

On Fri, Feb 17, 2017 at 9:14 PM, Script Kitty <notifications@github.com>
wrote:

[2017-02-18 22:09] MoAbd commented on #816
the previous error showed up when i was working on r0.12 branch
Now I checked out to master branch and tried again but got this error
`File "/home/vulture/tensorflow/bazel-bin/tensorflow/python/tools/freeze_graph.runfiles/org_tensorflow/tensorflow/python/framework/graph_util_impl.py", line 141, in extract_sub_graph
    assert d in name_to_node_map, "%s is not in graph" % d
AssertionError: softmax

[2017-02-18 22:26] aselle commented on #1029
Thanks for the contribution @javiribera.

[2017-02-18 22:27] aselle commented on #1028
@wolffg,  could you look into finding someone to improve this tutorial?

[2017-02-18 22:45] aselle commented on #1021
@caisq, could you take a look?

[2017-02-19 01:23] cshallue commented on #466
@tintelle Looks the default variable names for the BasicLSTMCell were changed in TensorFlow1.0, and they no longer match the checkpoint. See the following thread for a pointer for renaming variables from checkpoints:

http://stackoverflow.com/questions/37086268/rename-variable-scope-of-saved-model-in-tensorflow

[2017-02-19 02:55] andongchen opened #1036 "when i train resnet the program stuck"
python3.5 tf version 1.0 the program is stuck here
=========================Options=============================
-max_depth                  10000
-min_bytes                  0
-min_micros                 0
-min_params                 0
-min_float_ops              1
-device_regexes             .*
-order_by                   float_ops
-account_type_regexes       .*
-start_name_regexes         .*
-t

[2017-02-19 03:04] ogail commented on #1028
Thanks also, I don't quite understand how the `num_readers` and `num_preprocessing_threads` in `slim/train_image_classifier.py` are used and how to set them. For example if there are 2 clones and 2 replicates should the `num_readers` be 8 and `num_preprocessing_threads` be 8 as well to assure replicas are busy? Are these numbers accurate? How much increasing and lowering these numbers would actual

[2017-02-19 03:33] oelgendy commented on #752
@LeenaShekhar Thanks for your comment. Where can I find the files tf.contrib.rnn.MultiRNNCell and tf.contrib.legacy_seq2seq.sequence_loss_by_example??

[2017-02-19 03:56] danieljl opened #1037 "im2txt: Why is the initial learning rate so high (2.0)?"
Is it a bug or is it expected that high? https://github.com/tensorflow/models/blob/master/im2txt/im2txt/configuration.py#L93

[2017-02-19 04:59] aselle commented on #1012
Upgrading to TensorFlow 1.0 should resolve that issue. The issue is that concat() changed arugment  orders and cifar100 has already been updated to work with 1.0 so it no longer works on 0.12. Thanks!

[2017-02-19 05:12] aselle commented on #1022
Please try upgrading to 1.0 and trying again. tf.zeros_initializer() is the new correct form for 1.0 (for consistency with other initializer), but in the old version it will give the error you see.  Let me know if this solves your problem. Thanks!

[2017-02-19 05:16] aselle commented on #1023
@jsonjunky, could you provide the sha hash of the repo you are trying to build, plus your platform information.

@calberti, @andorardo, do you have any suggestions on avoiding instability. Perhaps some version tags would be useful to indicate which versions are stable?

[2017-02-19 05:19] aselle commented on #1024
I understand your frustration, we are working hard to try to repair these problems. However,  you providing precise information about the tutorial urls you are reading, the command lines you are using, and the tensorflow version you are using help us actually solve these problems. Could you provide those, and I would be happy to try to get those working again. Thanks!

[2017-02-19 05:19] aselle commented on #1024
@martinwicke FYI.

[2017-02-19 05:27] aselle commented on #1034
What platform are you running on?

[2017-02-19 06:06] aselle commented on #1036
@panyx0718 , could you take a look please! Thanks!

[2017-02-19 06:24] aselle commented on #1037
Do you have any reason to believe it is a bug. Did you try it and find that it produced Nans?

[2017-02-19 06:36] aselle commented on #1030
@sguada, do you have any ideas, and if not, could you take a look? Thanks in advance!

[2017-02-19 06:46] danieljl commented on #1037
Yes. The training has been running for a day and the total loss has been stuck in a plateau since the forth hour. I suspect it's a bug also because typical values of learning rate are below 1.0.

[2017-02-19 15:38] admcl opened #1038 "inception_resnet_v2 fails to instantiate under Tensorflow 1.0"
The tf-slim implementation of inception-resnet-v2 (https://github.com/tensorflow/models/blob/master/slim/nets/inception_resnet_v2.py) fails to instantiate for me under TF 1.0.   I was able to fix this by installing TF 0.12.  I'm running tensorflow-gpu (both versions) under Ubuntu Server 16.04, using python3.

Apologies, since at the time I didn't think to save off the error message when I encounte

[2017-02-19 18:01] bogatyy commented on #1023
Hi @jsonjunky,

The error message is fairly cryptic, could you provide the command that you ran?
My guess is that you are using Bazel 0.4.4 (latest release), which rolled out some breaking changes.
Try using Bazel 0.4.3 as suggested in the "Install" section.
https://github.com/bazelbuild/bazel/releases/download/0.4.3/bazel-0.4.3-installer-linux-x86_64.sh

Also note that the last commit to SyntaxNe

[2017-02-19 21:22] nebgru opened #1039 "ptb example not working"
## models/tutorials/rnn/ptb/

When attempting to run the tut, there is the following error:

line 117, in ptb_producer
    [batch_size, (i + 1) * num_steps])
TypeError: strided_slice() missing 1 required positional argument: 'strides'

I'm running with python3, and adding strides=None does not help. Looks like this function cannot work without a stride specified.

[2017-02-19 21:49] jsonjunky commented on #1023
Yes. Let me dig deeper. The model I've used in big production systems works like this. The master branch ONLY contains release versions (that work). Make a branch for the current release (e.g. 0.1.0) do all dev on that branch. When its done. merge into master and tag it there. Master will always be latest and greatest and stable. no one will need to guess what hash or branch is stable version.  I'

[2017-02-20 00:22] aselle commented on #1037
@cshallue, could you comment please?

[2017-02-20 00:31] aselle commented on #1039
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

My guess is you are running a pre 1.0 tensorflow. Upgrading should fix that problem. You can also manually provide strides using a ones_like(x)

[2017-02-20 00:43] aselle commented on #1023
@jsonjunky, please let us know when you have more information.

As far as the purpose of master, that is a huge debate, and many people do things the way you describe and many people do things the way TensorFlow does. One issue is that tensorflow version and the models version are not tracked in a self-consistent way. That is something we plan to improve.

@martinwicke .

[2017-02-20 00:56] aselle commented on #1038
Could you see if my PR #1040 fixes your issue? Thanks! (I just ran tf_upgrade.py upgrade script on it),

[2017-02-20 02:32] xlhu19 commented on #987
The same problem. Any solutions?

[2017-02-20 02:40] cshallue commented on #1037
2.0 is the correct value.

The total loss reported by the training script is over a single batch and is therefore very noisy. This is why it appears not to be going down, but it really is on average. To see training progress you should look at perplexity on the validation set by running the evaluation script in a separate process.
https://github.com/tensorflow/models/tree/master/im2txt#training-a-

[2017-02-20 02:40] #1037 closed

[2017-02-20 02:41] TheodoreGalanos commented on #248
Same here. Tried copy/pasting it in the folder from syntaxnet/tensorflow/third_party but the BUILD file wasn't associated with smth like that (at least my beginner level view of that error).

Is there any updates? It seems like a small issue to my untrained eyes.

[2017-02-20 02:55] rivendell1984 commented on #857
For those meet the same issue in TensorFlow r1.0, please reference this fix to change the code.
https://github.com/tensorflow/models/pull/864/commits/e93ec37201f5f2116933ae96e505f409ddbf344d

[2017-02-20 04:41] wongalvis commented on #1034
Ubuntu 14.04.5 LTS

[2017-02-20 09:17] Aliases opened #1041 "Input Data Format"
Hello,

This is not about any specific model. I am confused about the format in which input data is expected and how to produce it. My apologies in advance if this is not the right platform to ask this question.

I have the java code which comes with the data. How do I produce the data using those files in a format that I can use for training tensor flow models?

[2017-02-20 11:54] nebgru commented on #1039
Sorry for the missing info. The problem was with the Tensorflow version. It all works after the upgrade to 1.0. Did not realize it changed.

[2017-02-20 11:54] #1039 closed

[2017-02-20 15:40] ogail commented on #557
@D-X-Y could you share the stackoverflow link for this question? I am interested to do the exact task with slim as well.

[2017-02-20 17:40] LordTom commented on #869
You can just replace all the **tf.shape(any_tensor)** to **any_tensor.get_shape().as_list()** whenever tf.shape() appears in the file *spatial_transformer.py*. that works for me.

[2017-02-20 18:17] chrishokamp commented on #523
I had the same issue with tensorflow `1.0` and Spacy `1.5.1`, importing spacy before tensorflow fixed it for me.

[2017-02-20 21:56] caisq commented on #1021
@aselle This is not directly related to tfdbg (TensorFlow's Debugger), @EnricoBeltramo is using a general-purpose python debugger (in Eclipse/Spyder).

But from the the error stack, I can see that the syntax_net model is trying to load a customly defined op, namely parser_ops. "parser_ops.so" doesn't appear to be a part of TensorFlow. It seems to come from syntaxnet: https://github.com/tensorflow/

[2017-02-20 22:55] admcl commented on #1038
The fix seems to resolve the issue.   Thanks!

[2017-02-21 00:48] kentsommer commented on #1030
@lucaswiser

Since the convolutional layers are batch normalized the biases are not needed. However, I believe your issue is simply not setting the correct arg_scope when loading the model.

I've tested the following and it loads fine (note you can easily replace the saver load with slim.assign_from_checkpoint if you want):

[code]

[2017-02-21 03:35] jinfagang opened #1043 "Can TF-Slim Using For Image Detection or Segmentation?"
tf-slim makes Tensorflow more convenient and more humanlize, but I just wonder does tf-slim support image detection and segmentation too, or just classfing?

[2017-02-21 04:05] IMG-PRCSNG commented on #869
I am currently working around this by passing channels explicitly to the `out_size` variable and using this as the shape determining input. Seems to work.

[2017-02-21 04:06] nealwu commented on #1009
Looks like models/inception is indeed an old version of models/slim. According to https://github.com/tensorflow/models/tree/master/slim#installing-the-tf-slim-image-models-library:

"This will put the TF-Slim image models library in $HOME/workspace/models/slim. (It will also create a directory called models/inception, which contains an older version of slim; you can safely ignore this.)"

@nathans

[2017-02-21 06:54] WakedupChan commented on #829
I also have the same issue when running the models/tutorial/rnn/ptb_word_lm.py, and when I check the source code of strided_slice() at path "/usr/local/lib/python2.7/dist-packages/ops/gen_array_ops.py" in line 2385, I found that the source code of strided_slice(input,begin,end,strides,begin_mask=None,...) function really need four params at least, which is different from the latest version in tens

[2017-02-21 07:00] danieljl commented on #1037
@cshallue Thanks for the clarification! However, TensorBoard shows that the losses are not going down. Is it normal to have like this until 400k steps? I executed the training script exactly as suggested in README and didn't change any parameters. I'm using Tesla K80 if that helps.

![image](https://cloud.githubusercontent.com/assets/1947204/23153678/637d4382-f83c-11e6-820d-6a82c162938c.png)

[2017-02-21 07:45] andongchen opened #1046 "/slim/train_image_classifier.py TypeError"
my tf version is 1.or,what's wrong with this?
/usr/bin/python3.5 /home/cy/models-master/slim/train_image_classifier.py
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.5 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA

[2017-02-21 07:56] andongchen commented on #1036
I still don't known how to do!
could you explain in detail pelase,thanks!

[2017-02-21 09:20] pzz2011 commented on #729
If you understand the relative import and ａｂｓｏｌｕｔ import of python, then you will understand why
""python -c "from nets import cifarnet; mynet = cifarnet.cifarnet""" will reported error @codeloverr

[2017-02-21 09:26] D-X-Y commented on #557
@ogail Hi, you could have a loot at https://github.com/tensorflow/models/issues/429#issuecomment-277885861
I have tested the code and get the correct output.

[2017-02-21 09:50] jinfagang opened #1048 "Inception v1 Pretrain Not Support Tensorflow 1.0 API"
I am using Inception V1 for pretrain model, and exactly the `slim_walktough.ipynote` tutorial says, but just got lots of errors:
[code]
Maybe this repo should upgrade all codes to Tensorflow 1.0 API?

[2017-02-21 16:31] cshallue commented on #1037
@danieljl This is working as expected. If you were to zoom in on the total_loss graphs with sufficient smoothing it would be steadily decreasing on average. If you want a better plot to show that the loss is decreasing, you need to look at perplexity over the validation set. To do this, run the evaluation script in a separate process.
https://github.com/tensorflow/models/tree/master/im2txt#trainin

[2017-02-21 16:59] aselle commented on #1037
Thanks @cshallue for the detailed response.

[2017-02-21 17:07] #1038 closed

[2017-02-21 17:26] panyx0718 commented on #1036
Hi, it didn't stuck. It was training without printing out anything. You can use tensorboard to see the results. Or you can add some printf to the code if you want.

[2017-02-21 20:48] ymakkapa opened #1050 "sequence to sequence model error"
## Please let us know which model this issue is about (specify the top-level directory)
Hello everyone,
I am getting the following errors after executing translate.py

Can anyone please help me in resolving this error
Thanks in advance
![sotierror](https://cloud.githubusercontent.com/assets/20130992/23184238/0c38637a-f84d-11e6-8a4d-282607ec280c.png)

[2017-02-21 22:54] EnricoBeltramo commented on #1021
Yes, exactly: I'm working on Syntaxnet model.  I want to work on it in order to integrate it with other NLP features.
The model works fine if I run demo.sh or parse.sh and parse correctly any phrases as expected. Starting from those demo scripts, I followed the called phyton modules in order to debug it, but when I try to do it by a debugger I have this error.  I tried to configure LD_LIBRARY_PATH

[2017-02-21 23:05] danieljl commented on #1037
@cshallue OK I'll try it then. Many thanks!

[2017-02-22 04:52] jumbogoose commented on #816
Hi MoAbd, I can just upload my .pb, if you are still stuck

[2017-02-22 04:58] ppwwyyxx commented on #1001
[This recent paper](https://arxiv.org/abs/1702.03275) mentioned why scale is not used.

[2017-02-22 09:42] snnn commented on #423
@abes975 This may works for you.  Please be sure to set train_image_size=227

	from __future__ import absolute_import
	from __future__ import division
	from __future__ import print_function

	import tensorflow as tf

	slim = tf.contrib.slim

	def preprocess_image(image, output_height, output_width, is_training=False):
	  """Preprocesses the given image.

	  Args:
		image: A `Tensor` representing a

[2017-02-22 14:07] chiaralz opened #1056 "Tokenization for Italian and Spanish"
Hello

We're trying to use SyntaxNet on English, Italian and Spanish with models pretrained on Universal Dependencies datasets that we found here https://github.com/tensorflow/models/blob/master/syntaxnet/universal.md.

For Italian and Spanish we are encountering some problems at the level of tokenisation for contractions and clitics. Contractions are a combination of a preposition and a determine

[2017-02-22 14:58] plrectco commented on #1048
I met the same problem

[2017-02-22 15:00] ducdauge commented on #248
Hi guys. I had a similar problem but I might have found a solution [here](https://github.com/tensorflow/serving/issues/186). Quoting it:

Afterwards, `bazel test -c opt --config=cuda --define using_cuda_nvcc=true --define using_gcudacc=true syntaxnet/... util/utf8/...` failed just 1 test, but I had some memory issues with the GPU. I solved them adding `config.gpu_options.allow_growth = True` to th

[2017-02-22 15:11] ppwwyyxx opened #1057 "Cannot reproduce results of ptb_word_lm.py"
The scores mentioned in tutorials/rnn/ptb_word_lm.py cannot be reproduced.
The claimed score is:

| config | epochs | train | valid  | test
|------- |----------| ------------|-------|--------|
| medium | 39     | 48.45 |  86.16 |  82.07

I ran the command `python ptb_word_lm.py --data_path=simple-examples/data/ --model medium` for 10 times, and get the following results at 39th epoch:

|train|vali

[2017-02-23 07:18] luyahan opened #1059 "about the batch reader in textsum"
In this model,i see the lines  in bacth_reader.py:
  **while True:
      (article, abstract) = input_gen.next()**
i think whether the input_gen is out?
if out ,what happens? i don't see any exception handling like
                       **except StopIteration:**
Can  u tell me where is the exception handling?
 thanks

[2017-02-23 11:33] nuclearBeer opened #1060 "transformer model doesn't support Tensorflow v1"
i am trying to run models/transformer/example.py script and got this error

    h_trans = transformer(x, h_fc1, out_size)
  File "/home/vprokopenko/models/transformer/spatial_transformer.py", line 179, in transformer
    output = _transform(theta, U, out_size)
  File "/home/vprokopenko/models/transformer/spatial_transformer.py", line 157, in _transform
    grid = _meshgrid(out_height, out_width)

[2017-02-23 12:04] apiszcz opened #1061 "slim\datasets\dataset_utils.py decode failing on reading text file"
Windows 10/64, Python 3.5/64, TF 0.12.1

## Please let us know which model this issue is about (specify the top-level directory)
models/slim/datasets/dataset_utils.py

Line 128
127  with tf.gfile.Open(labels_filename, 'r') as f:
128    lines = f.read().decode()

If I remove .decode from line 128 the labels.txt is read correctly.  lines=f.read()

Leaving .decode() casues the following stack trace .

[2017-02-23 12:24] apiszcz commented on #757
Similar issue: How was this resolved?

  File "lib\tensorflow_models\slim\preprocessing\inception_preprocessing.py", line 195, in preprocess_for_train
    tf.image_summary('image_with_bounding_boxes', image_with_box)
AttributeError: module 'tensorflow' has no attribute 'image_summary'

[2017-02-23 13:59] yashkumar6640 commented on #836
I am getting the same error. Can anyone explain smoothly how to get rid of it?
The error is:
ValueError: Shape must be rank 2 but is rank 1 for 'model_with_buckets/sequence_
loss/sequence_loss_by_example/sampled_softmax_loss/LogUniformCandidateSampler' (
op: 'LogUniformCandidateSampler') with input shapes: [?].

[2017-02-23 16:16] SihamTabik commented on #950
Hi everyone,
I've just started playing with tensorflow through slim.

I've done exactly all the steps mentioned in this link:
https://github.com/tensorflow/models/tree/master/slim

They suggest installing this binary: tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl
which is tensorflow version 0.10

However, I am getting the same errors mentioned above. Replacing  "image_summary" with "summary.imag

[2017-02-23 19:35] rajmiglani commented on #1022
But then wont i have to upgrade the inception scripts(flower_train, flower_eval, inception_train,etc..) ??
I tried replacing zeros_initializer() with tf.ones_initializer() and this error is gone for now but now i am experiencing a new error :

`ValueError: Rank mismatch: Rank of labels (received 2) should equal rank of logits minus 1 (received 2).`

in this line :

`cross_entropy = tf.nn.sparse_so

[2017-02-23 20:30] mtngld commented on #1060
This is fixed in #1051, hopefully it will be merged soon.

In the meanwhile, try changing:
[code]

To:
[code]

[2017-02-23 21:29] aselle commented on #1022
"I tried replacing zeros_initializer() with tf.ones_initializer()"
Do you mean "zeros_initializer" with "tf.zeros_initializer"?

[code]
This is the wrong argument order for sparse_softmax_cross_entropy_with_logits for the logits and one_hot_labels. See the 1.0 documentation. You might consider running the tf_upgrade.py script on the inception model and see if this fixes it for you.

[2017-02-24 01:12] plrectco commented on #209
It seems that you build the wrong file. Instead according to the readme you should build inception/imagenet_train

[2017-02-24 08:19] secsilm opened #1064 "Check failed: stream->parent()->GetConvolveAlgorithms(&algorithms)"
I got the following error when I run `python cifar10_train.py`.

[code]

Operating System: Windows 10
CUDA: `Cuda compilation tools, release 8.0, V8.0.44`
cuDNN: 5.1
tensorflow: 1.0.0

The output from `python -c "import tensorflow; print(tensorflow.__version__)"`

[code]

I have upgrade cudnn from 5.0 to 5.1. But it didn't work.

[2017-02-24 10:03] hoL1day opened #1066 "run the evaluation script: AttributeError: 'module' object has no attribute 'merge_all_summaries'"
I run the evaluation script at /home/common/tool/tensorflow/models/im2txt. PS. my evaluation script are made by myself because I can't find anything look like that in the folder. And my training script and TensorBoard server run well.
But when i run the evaluation script, I got the error below:
`Traceback (most recent call last):
  File "/home/common/tool/tensorflow/models/im2txt/bazel-bin/im2txt/

[2017-02-24 14:08] anuragbhd commented on #466
@cshallue I'd really-really appreciate if you could post the steps to rename the variables wrt @tintelle's post. I'm not able to follow the solution mentioned on that stackoverflow thread.

[2017-02-24 15:01] hleborgne commented on #829
Indeed by simply updating tensorflow, it fixed the issue. on Tensorflow activated:
pip install --upgrade tensorflow

[2017-02-24 15:16] MoAbd commented on #816
@jumbogoose yes please , and many thanks for ur interest.

[2017-02-24 15:32] nuclearBeer commented on #1060
Thank you, this helped me

[2017-02-24 16:44] cshallue commented on #466
Something like this should work:

[code]

[2017-02-24 16:53] PredragBoksic commented on #466
This guide walks you through the major changes in the API and how to automatically upgrade your programs for TensorFlow 1.0. This guide not only steps you through the changes but also explains why we've made them.
https://www.tensorflow.org/install/migration

[2017-02-24 17:25] tintelle commented on #466
I haven't had time to look into renaming the variables yet, I fixed it in the end by installing Tensorflow0.12 in a separate environment. You can download the binary here: https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py2-none-any.whl and install it in your virtual environment like this:
[code]

[2017-02-24 18:09] matanster commented on #491
@David-dp- did you ever get this or other syntaxnet docker image working on google cloud?
I'd imagine installing TensorFlow on a GCP instance would work same as making a local linux installation though. What might I be missing?

[2017-02-24 18:21] AdamMiltonBarker commented on #491
Hi @aselle no I didnt mate I also did not manage to get a straight forward answer about some billing questions on GCP so I moved to another solution and the trial expired without anything resolved.

[2017-02-24 23:31] richardxiong opened #1070 "[rnn/translate] Model Saver Error"
## models/tutorials/rnn/translate/

Hello everyone,

I'm training a translation model of my own and run into an error when saving the model parameters:

global step 100 learning rate 0.5000 step-time 2.07 perplexity 64.79
Traceback (most recent call last):
  File "translate.py", line 298, in <module>
    tf.app.run()
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-pack

[2017-02-24 23:32] David-dp- commented on #491
@matanster no, I wasn't able to get syntaxnet built and pass its tests. But I moved on to use the new GCP NLP api which provides the same service (although not on-premise).

[2017-02-25 00:18] nmehandru opened #1071 "InvalidArgumentError, Assign requires shapes of both tensors to match. lhs shape= [5] rhs shape= [1001]"
I am following the TF slim tutorial on the README, but I ran into some issues when trying to finetune Inception_v3 on the Flowers dataset.

I corrected the scopes as per the suggestions of others, since they are apparently wrong in the README.

I also downgraded my Tensorflow version to 0.11, since that gave fewer errors.

For some reason, the program is not able to reset the new size of the FC la

[2017-02-25 01:43] jumbogoose commented on #816
Here you go, @MoAbd : https://www.dropbox.com/s/o10e0o8l3vqervu/im2txt.pb?dl=0

If you are trying to do inference on mobile, you will need to remove the DecodeJPEG node in the graph.
Best of luck friend!

[2017-02-25 23:07] salil93 opened #1072 "Shape mismatch between predictions and labels in ResNet_v1_50"
## slim

I am trying to run the pretrained model for resnet_v1_50.

It throws an error while defining metrics. Says there is shape mismatch between predictions and labels.

Here is the stack trace

INFO:tensorflow:Scale of 0 disables regularizer.
Traceback (most recent call last):
  File "eval_image_classifier.py", line 191, in <module>
    tf.app.run()
  File "/home/sk6829/Work/TensorFlowCuda1/li

[2017-02-27 09:02] guotong1988 opened #1076 "Is it possible to adjust this framework(slim folder) to RNN?"
I read that [here](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L555)(or from [here](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L400) to [here](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L570))is maybe a optimized code for multi-gpu training.

So, can it also be used to RNN?

If it can also

[2017-02-27 09:11] guotong1988 commented on #1076
Thank you. @yaroslavvb @nealwu @cshallue @martinwicke @panyx0718 @calberti @lukaszkaiser @jart @nathansilberman @aselle @mrry

[2017-02-27 12:46] coreych opened #1077 "Error: Build and run tests for Syntaxnet fail on Mac OS"
Couldn't start the build. Unable to run tests.

ERROR: /private/var/tmp/bazel/67774bec931188b8c444c9885d9c15ed/external/org_tensorflow/tensorflow/workspace.bzl:3:6: file '@io_bazel_rules_closure//closure:defs.bzl' does not contain symbol 'filegroup_external'.
ERROR: /private/var/tmp/bazel/67774bec931188b8c444c9885d9c15ed/external/org_tensorflow/tensorflow/workspace.bzl:4:6: file '@io_bazel_rules_c

[2017-02-27 13:19] Lan1991Xu commented on #728
I also have this problem, it seems you need add tf.train.start_queue_runners. But when I add it, it also not work.

[2017-02-27 16:55] DVLP commented on #110
@slavpetrov GPU tensorflow for Windows runs only on Python 3.X so this is a blocker and this ticket shouldn't be closed

[2017-02-27 20:16] lukaszkaiser commented on #1076
I think model_deploy (or any form of data parallelism) is universal. It usually only asumes your batch axis is axis=0, then it can split, run your model, and merge. So it should work with RNNs same as with any other model. Please feel free to reopen this issue if you have trouble with that!

[2017-02-27 20:16] #1076 closed

[2017-02-28 01:49] sh0rtfuse commented on #1066
merge_all_summaries has been deprecated as of 11/30/16

https://www.tensorflow.org/api_docs/python/tf/contrib/deprecated/merge_all_summaries

Use `tf.contrib.deprecated.merge_all_summaries` to maintain compatibility or switch to `tf.summary.merge_all`

[2017-02-28 01:58] sh0rtfuse opened #1078 "im2txt - evaluation script - v1.0 compatibility issues- SummaryWriter to FileWriter and Merge All Summaries Depreciation"
SummaryWriter has been changed to FileWriter in v1.0

Line 175 of evaluate.py: `summary_writer = tf.train.SummaryWriter(eval_dir)`

FIX: Change to `tf.summary.FileWriter` seems to work for me

Merge All Summaries Depreciation: #1066

Line 175 of evaluate.py: `summary_op = tf.merge_all_summaries()`

FIX: Change to `tf.contrib.deprecated.merge_all_summaries` OR `tf.summary.merge_all`

[2017-02-28 02:14] hoL1day commented on #1078
Thanks very much.
I change to `summary_op = tf.contrib.deprecated.merge_all_summaries`
and `summary_writer = tf.summary.FileWriter(eval_dir)`

It works, but it throw out a `TypeError: Fetch argument <function merge_all_summaries at 0x7f7ca33ff488> has invalid type <type 'function'>, must be a string or Tensor. (Can not convert a function into a Tensor or Operation.)`
The whole error output is
![im

[2017-02-28 02:48] #1066 closed

[2017-02-28 03:11] guotong1988 commented on #1076
@lukaszkaiser I haven't seen the reopen button.

Thank you for your answer and then my question is

Do you think it will be a speed-up if we use it for RNN?

[2017-02-28 03:19] guotong1988 opened #1079 "Do you think it will be a speed-up if we use the slim folder for RNN?"
Sorry I haven't seen the reopen button for https://github.com/tensorflow/models/issues/1076

I have change the slim folder to a multi-machine code for data parallelism training.
The tests show that it speed up the CNN training on multi-machine.
And I will try it for RNN as @lukaszkaiser suggest.

But do you think it is different from the normal between-graph [way](https://www.tensorflow.org/versio

[2017-02-28 03:22] lukaszkaiser commented on #1076
It is hard to tell. It depends on your batch size, LSTM cell size, maybe even on the LSTM architecture. The easiest way is to try it out.

[2017-02-28 03:29] guotong1988 commented on #1076
@lukaszkaiser Thank you.
I have change the slim folder to a multi-machine code for data parallelism training.
And I will try it.
Do you think it is different from the normal between-graph [way](https://www.tensorflow.org/versions/r0.11/how_tos/distributed/) which use `tf.train.Supervisor` and `tf.train.replica_device_setter`

[2017-02-28 03:44] lukaszkaiser commented on #1079
It's best to try both. Good luck - and please don't re-open until you see a bug :).

[2017-02-28 03:44] #1079 closed

[2017-02-28 06:26] cancan101 commented on #790
I think this issues still exists. See: https://github.com/tensorflow/tensorflow/issues/6124 and https://github.com/tensorflow/tensorflow/issues/5867

[2017-02-28 11:34] CynthiaProtector commented on #658
I've run the **inception_v3** with the dataset **flowers** on **Slim**, using 1, 2, 3 and 4 GPU(s) respectively. However, the training speed seems to be the same. During my experiment, I just modified the **num_clones** and the specified GPU(s) worked normally. I am wondering if I had missed some important parameters and do you gain any speedup as the number of GPU(s) increased.

[2017-02-28 13:07] agniszczotka opened #1080 "CCN cifar10 tutorial for high-level Estimator API"
The CNN cifar10 tutorial  https://www.tensorflow.org/tutorials/deep_cnn gives an example of low-level API use for reading data as an independent job to train model (with multiple GPU).
Is it possible to use high-level API Estimator with low-level threading support and multi/single GPUs training?

Could you provide the cifar10 with an use of:
- the custom Estimator like https://www.tensorflow.org/e

[2017-02-28 13:56] zym1010 commented on #892
I also encountered this bug, seems that it only happens when using `cifar10_multi_gpu_train`, not `cifar10_train`. I compiled 0.12.1 from source.

[2017-02-28 14:21] seanfcarroll commented on #337
Failing tests on OS X
[code]

[2017-02-28 14:22] seanfcarroll commented on #337
Linked issue https://github.com/tensorflow/models/issues/284

[2017-02-28 14:44] zym1010 commented on #892
@al3xsh does this bug still happen in 1.0? I haven't got chance to try it, because I need to compile Tensorflow from source for it to run on my machines...

[2017-02-28 15:01] paratata opened #1082 "Cannot run word2vec_basic.py, ERROR ValueError: array must not contain infs or NaNs."
## Please let us know which model this issue is about (specify the top-level directory)
model on word2vec basic implementation, on tensorflow and I'm using Jupyter on a mac. Hope this will help close this issue

I tried to run the word2vec_basic.py from this directory without success: Here is the error i get:

ValueError                                Traceback (most recent call last)
<ipython-inp

[2017-02-28 15:05] zym1010 commented on #892
@nealwu  running the eval script using `CUDA_VISIBLE_DEVICES=''` or simply running it on another machine won't help, as long as eval and train scripts are fetch data from the same directory.

[2017-02-28 15:53] zym1010 commented on #892
@al3xsh  ok. I think I've found the culprit. Undoing <https://github.com/tensorflow/tensorflow/pull/5145/files> should do.

[2017-02-28 16:42] zym1010 opened #1083 "cifar10 example should not untar the dataset every time."
As shown in <https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10.py#L398>, currently, whenever any of `cifar10_train`, `cifar10_eval`, or `	cifar10_multi_gpu_train` is executed, the dataset file will be untarred unconditionally. This causes that one cannot run eval and train scripts simultaneously, as discussed in #892.

Originally this was not the case, and the change

[2017-02-28 22:16] tatatodd commented on #1041
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-28 22:16] #1041 closed

[2017-02-28 22:17] tatatodd commented on #1043
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-28 22:17] #1043 closed

[2017-02-28 22:22] tatatodd commented on #1046
@andongchen
Please provide details about what platform you are using  (operating system, architecture).
Also, what is the full command-line that you're running?

Perhaps the following documentation will help:
https://github.com/tensorflow/models/blob/master/slim/README.md

[2017-02-28 22:31] tatatodd commented on #1048
@jinfagang @plrectco  I think this is the same issue as #987

[2017-02-28 22:31] #1048 closed

[2017-02-28 22:36] tatatodd commented on #1050
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2017-02-28 22:44] ymakkapa commented on #1050
Hello,
I am using ubuntu 16.04 LTS on vmware with RAM 2gb and disk space 100 GB.
Tensorflow version is 1.0

Sent from my iPhone

[2017-02-28 22:49] tatatodd commented on #1057
Note this line immediately after the table:
**The exact results may vary depending on the random initialization.**

Although it's not clear to me that random init is the main factor at play here.

This question might be better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since I don't think it is a  bug or feature request. There is also a larger community that re

[2017-02-28 22:49] #1057 closed

[2017-02-28 22:50] tatatodd commented on #1059
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-28 22:50] #1059 closed

[2017-02-28 22:59] tatatodd commented on #1060
Thanks @mtngld for the link to the PR, as well as the great advice.

@nuclearBeer I'm assuming the PR will fix the issue, and the code snippet serves as a workaround.  I'm closing this out, but feel free to comment on this issue if you're still having trouble, and I'll re-open.

[2017-02-28 22:59] #1060 closed

[2017-02-28 23:21] tatatodd commented on #1061
@apiszcz Can you try this with TF 1.0, to see if it's fixed?  Thanks!

[2017-03-01 00:04] tatatodd commented on #1064
@secsilm The error indicates that the cuDNN you've loaded is 5.0, not 5.1.  Perhaps the following documentation will help:

https://www.tensorflow.org/install/install_windows#requirements_to_run_tensorflow_with_gpu_support

[2017-03-01 00:05] tatatodd commented on #1070
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-01 00:05] #1070 closed

[2017-03-01 00:13] tatatodd commented on #1071
@nmehandru This looks like a duplicate of https://github.com/tensorflow/tensorflow/issues/7838

Please follow-up on that issue.

Also note that the following query for similar issues may help:
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+repo%3Atensorflow%2Fmodels+repo%3Atensorflow%2Ftensorflow+%22Assign+requires+shapes+of+both+tensors+to+match%22

[2017-03-01 00:13] #1071 closed

[2017-03-01 00:16] tatatodd commented on #1072
Please provide details about what platform you are using  (operating system, architecture).
Also include your TensorFlow version.
And provide the full command-line that you're running.

Thanks!

[2017-03-01 00:37] vonclites commented on #490
I'm guessing we're now seeing the beginnings of what @tfboyd referenced. https://github.com/tensorflow/tensorflow/issues/7951

[2017-03-01 00:59] tfboyd commented on #490
Even before Derek's work is done we will have code in a few weeks that will show you how to use existing aspects of TF to gain substantial gains.  @vonclites , Sorry I did not see your response.  The **goal** is for Estimator (tf.learn) to be as fast (or very nearly) as fast as the benchmark code to be released.

Your other question:  Should you move to Estimators?  This is totally my personal opi

[2017-03-01 01:05] vonclites commented on #490
@tfboyd, awesome. Thanks for tip ;)

[2017-03-01 01:36] secsilm commented on #1064
@tatatodd Yes, I have reset my cuDNN environment variable and problem solved.

[2017-03-01 01:37] #1064 closed

[2017-03-01 01:49] eduj36 opened #1084 "cifar10 example fails with asegmentation fault"
cifar10 example fails with a segmentation fault as below.

    ubuntu@ubuntu:~/work/tensorflow/models2/tutorials/image/cifar10$ python cifar10_train.py --max_steps=10 --batch_size=4
    I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.8.0 locally
    I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.5 locally

[2017-03-01 02:07] tatatodd commented on #1077
@coreych What version of tensorflow are you using?  Have you tried TF 1.0?

[2017-03-01 03:02] tatatodd commented on #1078
Sorry @sh0rtfuse I don't think I understand the issue you're raising.  Can you provide a bit more context into the problem?

[2017-03-01 03:46] ppwwyyxx commented on #1057
I ran it 10 times to avoid the variance caused by random initialization.

Also I think "failed to meet the claimed performance" is a bug.

[2017-03-01 03:57] salil93 commented on #1072
System Details
-x86_64 GNU/Linux
-Cuda compilation tools, release 8.0
-Tensorflow 1.0

Here is the command that I used
`python eval_image_classifier.py     --alsologtostderr     --checkpoint_path=../../checkpoints/resnet50/resnet_v1_50.ckpt     --dataset_dir=../../cifar10-data     --dataset_name=cifar10     --dataset_split_name=test --model_name=resnet_v1_50`

Also I made these changes to the eval

[2017-03-01 03:58] sh0rtfuse commented on #1078
Hi Todd, apologies for not being clear.

Some of the method calls in evaluate.py to Tensorflow are outdated as of v1.0.0. I pointed out two cases above that breaks the build.

Changing the method calls to the supported version fixes the problem.

Thanks!

Raymond

[2017-03-01 04:28] tatatodd commented on #1078
@sh0rtfuse I see, that makes sense to me now.  Thanks for filing the issue, the diagnosis, and the proposed fix!

Would you like to send a PR to fix the problem?  We definitely welcome contributions!  :)

[2017-03-01 05:07] eduj36 commented on #1084
found that model/slim also fails.

    ubuntu@ubuntu:~/work/tensorflow/model/slim$ python train_image_classifier.py --train_dir=./train/inceptionv3/flowers --dataset_name=flowers --dataset_split_name=train --dataset_dir=./data/flowers --log_every_n_steps=10 --trace_every_n_steps=10 --max_number_of_steps=50 --batch_size=32
    I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA

[2017-03-01 05:08] eduj36 commented on #1084
Downgrading tensorflow to 0.12 solved this issue.

[2017-03-01 05:08] #1084 closed

[2017-03-01 05:35] tatatodd commented on #1080
Thanks for filing the issue @agniszczotka !  I definitely agree that more examples and documentation would be great!

However I do think this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).  There is a larger community that reads and answers questions there, and you're likely to get more responses.

We're trying to limit github issues to bugs and

[2017-03-01 05:35] #1080 closed

[2017-03-01 05:41] tatatodd commented on #1082
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2017-03-01 06:00] tatatodd commented on #1083
@zym1010 Thanks for filing the issue!  I agree that the change in tensorflow/tensorflow#5145 was a regression in this regard.  But rather than reverting that change, it should be possible to add an additional check to not untar if the untarring had previously succeeded.

Would you like to send a PR to do this?  We welcome contributions!

[2017-03-01 06:01] sh0rtfuse commented on #1078
Sure! Will do.

[2017-03-01 06:25] tatatodd commented on #1050
@ymakkapa Can you also show the complete command-line you ran that caused the error?  Thanks!

[2017-03-01 06:49] tatatodd commented on #1034
@wongalvis What version of TensorFlow are you using?

Also, can you describe exactly what you did when you said:
"I pointed the directory of parser_eval and conll2tree to /home/pwmvx1289/.cache/bazel/_bazel_pwmvx1289/f1c99cb5624c89408f4ae4a44b3c0d38/execroot/syntaxnet/bazel-out/local-opt/bin/syntaxnet/ to solve issues like "line 55: bazel-bin/syntaxnet/conll2tree: No such file or directory"

That

[2017-03-01 06:52] liyd commented on #466
@cshallue I also met the trouble just as @tintelle , what makes me puzzled is how can i know the variable old_name and new_name for the BasicLSTMCell.
Thank you very much!

[2017-03-01 06:56] tatatodd commented on #1056
@chiaralz Thanks for filing a well structured issue!  Perhaps @calberti has some thoughts?

I suggest that you also ask this on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow)
since there is a larger community that reads and answers questions there.

[2017-03-01 07:14] monajalal opened #1085 "im2txt::looking for pre-trained weights for 3M global steps"
Does anyone has the pre-trained weights for 3M globals steps for im2txt they could share it with the community?

[2017-03-01 10:19] yixiancuo commented on #799
run bazel build im2txt/download_and_preprocess_mscoco  in the directory of  /models/im2txt @paras42

[2017-03-01 12:15] anuragbhd commented on #466
@mathieuarbezhermoso - Hey buddy. Thanks a tonne for sharing your trained model. If you got a chance to do further training after 3 million steps, would you mind sharing it?

[2017-03-01 13:31] paratata commented on #1082
model on word2vec basic implementation, on tensorflow and I'm using Jupyter on a mac. Hope this will help close this issue

[2017-03-01 14:00] coreych commented on #1077
@tatatodd Using tensorflow (1.0.0).

Instead, is there a problem with my ~/models/syntaxnet/WORKSPACE file?

I've no idea why the build failed and pointed to io_bazel_rules_closure error.  Removing closure_repositories from WORKSPACE resulted in the following Skylark extension error:

$  bazel test --linkopt=-headerpad_max_install_names syntaxnet/... util/utf8/...
ERROR: Failed to load Skylark ext

[2017-03-01 14:18] zym1010 commented on #1083
@tatatodd alright! will do it this week.

[2017-03-01 15:43] jorgecarleitao opened #1091 "[Syntaxnet] Recommend `brew install bazel` for Mac OS installation."
Why not recommend `brew install bazel` in the README? You are already recommending `brew install swig` anyway.

[2017-03-01 15:57] vaskonov opened #1092 "word2vec.py is not compatible with the latest tensorflow (1.0.0)"
## Please let us know which model this issue is about (specify the top-level directory)
The issue is about embedding.

The word2vec.py script is not compatible with the latest tensorflow (1.0.0). When you try to run it as in tutorial it fails with the following error message:

[code]
The error occurs because of the changes in the latest version of tensorflow

After renaming the deprecated methods

[2017-03-01 17:50] XinliangZhu commented on #857
@rivendell1984 Thanks! I solved my problem of training faster RCNN with TF 1.0 following your suggestion.

[2017-03-01 19:20] mikeronayne opened #1093 "Virtual Memory Exhausted During Docker Build"
I exhausted my virtual memory when trying to install [SyntaxNet](https://github.com/tensorflow/models/tree/master/syntaxnet) from this [Dockerfile](https://github.com/tensorflow/models/blob/master/syntaxnet/Dockerfile) using the Docker Toolbox. I received this message when compiling the Dockerfile:

`ERROR: /root/.cache/bazel/_bazel_root/5b21cea144c0077ae150bf0330ff61a0/external/org_tensorflow/ten

[2017-03-01 19:30] apiszcz commented on #1061
This issue is with the library tensorflow models distribution/package
https://github.com/tensorflow/models
I do not see dataset_utils.py in tensorflow 1.0, and the last change to models was 5 months, I pulled the package in the last week.
dataset_utils.py	added python3 support to read_label_file	5 months ago

[2017-03-01 19:45] BentoCG commented on #633
@anuj2rock You can do something like this:

[code]

Just replace with your checkpoint file, image path and class names.

[2017-03-01 20:21] zhuangh opened #1094 "Regarding the definition of skipgram_word2vec() in tutorials/embedding/word2vec_optimized.py"
Even I can run the word2vec_optimized.py successfully, could anyone tell me the definition of skipgram_word2vec() in C++ files for this code line https://github.com/tensorflow/models/blob/f5712d0c2f979676b8d62e994481316a3e1013c6/tutorials/embedding/word2vec_optimized.py#L181 ?

I cannot locate the related function in the C++ files or python scripts. It looks like "explicit SkipgramWord2vecOp(OpKer

[2017-03-01 21:50] bis-carbon commented on #466
Can some one help me figure out this issue ? the problems is @ tf.concat(initial_state, 1, name="initial_state"). I run the run_inference.py and I get this error.

Traceback (most recent call last):
  File "/home/bisrat/startupml/tensorflow_models/im2txt/im2txt/run_inference.py", line 85, in <module>
    tf.app.run()
  File "/home/bisrat/anaconda2/envs/tensorflow/lib/python2.7/site-packages/tensor

[2017-03-01 21:54] tintelle commented on #466
they changed the ordering of the parameters of the concat function in different Tensorflow versions. I'm using version 0.12, there it should be: tf.concat(1, initial_state, name="initial_state"). It's complaining because its expecting an int, but got the initial_state instead.

[2017-03-01 23:13] AnmolChachra commented on #1094
I have the same doubt.
I am running python version instead.
It also has this method "skipgram_word2vec()"

[2017-03-01 23:32] CaterinaM opened #1095 "[Im2txt] How to save checkpoints at the end of each epoch"
Hello,
I'm training the im2txt model and trying to figure out how often checkpoints are saved.
At the end of the _train.py_ file, the training starts with:

From what I've read in the _slim.learning_ module, when you call the function _train_ the only parameter to regulate how often to save checkpoints of the model on disk is a number of milliseconds.
I would like to save a checkpoint of the model

[2017-03-02 00:34] kentsommer commented on #1095
Please use Stackoverflow for questions like this. Github issues are for bug reports and feature requests.

(I noticed you also posted this on Stackoverflow, so there really is no need to post here as well...)

[2017-03-02 00:48] anuj2rock opened #1096 "GPU utilisation zero when retraining inception, for other convnets utilisation is perfectly normal"
## Please let us know which model this issue is about (specify the top-level directory)
Hi,

I am running into this weird issue where my GPU's utilisation remains zero percent when trying to retrain inception over custom dataset/ flower's dataset also.

Issue is detailed at this stackoverflow post. Please have a look it involves screenshot also. I am not getting any response @ stackoverflow.

http

[2017-03-02 01:03] anuj2rock commented on #633
@bentocg Thanks alot for reply. I will try this today and let you know. I quick question though.. while naming "names = ['class1', 'class2'] " what order should I follow for class names.. just to be sure.

Thanks a lot.

[2017-03-02 01:35] bentocg commented on #633
@anuj2rock Whatever order you had on your labels.txt when you created the .tfrecords files.

[2017-03-02 03:12] zhuangh commented on #1094
can @nealwu help on this? thanks

[2017-03-02 03:27] nealwu commented on #1094
Hi @zhuangh, I would recommend reading this tutorial on ops in TensorFlow: https://www.tensorflow.org/extend/adding_an_op. It should help answer your questions.

Going to go ahead and close this issue. If something else comes up, feel free to reopen it.

[2017-03-02 03:27] #1094 closed

[2017-03-02 04:45] wongalvis commented on #1034
I cloned tensorflow @ 950db43

It's been a while and I forgot the exact steps I've taken and the respective output. But I do rmb I encountered two problems, the "No such file" and "Error importing TF". I cd to ~ to avoid "importing tensorflow from its source directory". After encountering the "No such file" problem, I googled and found someone posting a solution by correcting the directories to co

[2017-03-02 06:37] zhuangh commented on #1094
@nealwu thanks. This answers my question.

@AnmolChachra FYI, it is about the "naming" and the automatic code generation. The content around "A note on naming: Inputs, outputs, and attrs generally should be given snake_case names." helped me understand.

[2017-03-02 08:20] ttjs8423219 opened #1098 "load models package in a linux tensorflow project"
![model](https://cloud.githubusercontent.com/assets/17719977/23498781/1e94ad9e-ff64-11e6-8c2d-ad9138d65a67.png)
Hello,master:
How do I load models package in a linux tensorflow project that has already been installed?thanks！

[2017-03-02 10:39] josci opened #1099 "yann.lecun.com/exdb/mnist is down again"
tensorflow.examples.tutorials.mnist

Trying to download the provided mnist datasets results in a timeout. The source (yann.lecun.com/exdb/mnist) is not availible

Can someone provide an alternative source?

[2017-03-02 11:01] RodneyPillay opened #1100 "2048*2048 pngs doubles in size using models/compression"
using the residual model provided in tensorflow/models/compression, all 2048*2048 pngs that I've tested almost doubles in size.
the width and height fits within the multiple of 32 rule.

Do I need to so anything special to get this going ?

Kind Regards

[2017-03-02 11:39] swangb opened #1101 "question about LSTM with batch normalization"
## Please let us know which model this issue is about (specify the top-level directory)
I am wondering whether Tensorflow has the module to implement multilayer LSTM with batch normalization?

I find class tf.contrib.rnn.LayerNormBasicLSTMCell, which looks more powerful, however, I have a problem to use it. I am trying to build a tf.contrib.rnn.MultiRNNCell with 2 layer LayerNormBasicLSTMCell. How

[2017-03-02 11:48] MarcelSimon commented on #517
The missing explanation in the source code certainly can be considered a bug. There should be a specification of the input data

[2017-03-02 13:20] pobingwanghai opened #1102 "prediction_input.py concat error"
@cbfinn
prediction_input.py line:139
image_seq = tf.concat(0, image_seq)
*** TypeError: Expected int32, got list containing Tensors of type '_Message' instead.
is it the reason I use 1.0 version?

[2017-03-02 13:21] pobingwanghai commented on #1102
[<tf.Tensor 'truediv:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_1:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_2:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_3:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_4:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_5:0' shape=(1, 64, 64, 3) dtype=float32>, <tf.Tensor 'truediv_6:0' shap

[2017-03-02 13:28] pobingwanghai commented on #1102
change the code to the below line solving the problem, maybe the api documents gets some errors, hope for changes soon.
image_seq=tf.concat( axis=0,values=[image_seq])

[2017-03-02 15:29] vtalreja commented on #557
@ogail Hi,were you able to figure out the feature extraction ?. I am trying to do the same task with VGG 16 in slim but have used Batch Normalization and not really sure how should I get the feature vector before and after batch normalization. Any code snippet will be appreciated.

@D-X-Y Any code or help with my question above

[2017-03-02 15:52] AnmolChachra commented on #1094
Thanks @nealwu and @zhuangh.

[2017-03-02 15:58] AnmolChachra opened #1103 "Adding a new op when using tensorflow in windows"
Following the (https://www.tensorflow.org/extend/adding_an_op) step by step.
The first two steps , i.e Registering the new_op and Initializing the kernels for the op are same for all operating systems.
Build the op library (https://www.tensorflow.org/extend/adding_an_op#build_the_op_library) is OS specific.
The code for Linux and mac users is given.
How to do it in windows?

[2017-03-02 17:40] sguada commented on #991
Training VGG_19 from scratch is very difficult. See paper for how the authors trained in stages  http://arxiv.org/pdf/1409.1556.pdf

[2017-03-02 20:10] bis-carbon commented on #466
@tintelle I fixed the issue by installing version 0.12 and reset my git HEAD to

$ git reset --hard 9997b250

Thank you for your quick reply.

[2017-03-02 21:03] eyadsibai commented on #110
Will be there support for python 3

[2017-03-02 22:09] tatatodd commented on #1085
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 22:09] #1085 closed

[2017-03-02 22:56] tatatodd commented on #1091
@gunan might know the answer to this.

[2017-03-02 23:03] tatatodd commented on #1092
@nealwu Can you investigate?  It looks like the github version of word2vec.py isn't in sync with our internal version, which might be due to your PR https://github.com/tensorflow/models/commit/86ecc9730d751c1f72e3bfecac958166390f4125

(Compare the github version with our internal version)
https://github.com/tensorflow/models/blob/master/tutorials/embedding/word2vec.py

[2017-03-02 23:09] tatatodd commented on #1093
@mikeronayne Here is some documentation on docker:
https://docs.docker.com/engine/reference/run/#runtime-constraints-on-resources

For future reference, note that we use github issues to track bugs and feature requests.

[2017-03-02 23:09] #1093 closed

[2017-03-02 23:10] gunan commented on #1091
Linking to the bazel installation instructions ensures us to point to the most up to date information available at all times. And this also ensures that any unexpected issues during bazel installation is correctly addressed by the FAQs included in the bazel website.

[2017-03-02 23:18] #1095 closed

[2017-03-02 23:20] tatatodd commented on #1096
@anuj2rock Note that we use github issues for specific bugs or feature requests.

For general discussion or debugging help, please stick with [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:20] #1096 closed

[2017-03-02 23:26] tatatodd commented on #1091
Thanks @gunan !  Sounds reasonable to me.

I'm closing this out, I hope this answers your question @jorgecarleitao .

[2017-03-02 23:26] #1091 closed

[2017-03-02 23:36] tatatodd commented on #1098
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-02 23:36] #1098 closed

[2017-03-02 23:43] nealwu commented on #1092
Yep, it's not in sync with our internal version because we don't have a sync process for this repo currently.

I do however have two pull requests that should help reduce the number of issues we have here. https://github.com/tensorflow/models/pull/1063 and https://github.com/tensorflow/models/pull/1053. Still need a review though, so feel free to review them. :)

[2017-03-03 00:07] tatatodd commented on #1099
I believe it's back up now.

[2017-03-03 00:07] #1099 closed

[2017-03-03 00:09] tatatodd commented on #1100
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-03 00:09] #1100 closed

[2017-03-03 00:09] tatatodd commented on #1101
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-03 00:09] #1101 closed

[2017-03-03 00:13] tatatodd commented on #1102
@pobingwanghai Glad you figured things out.  Closing this out.

[2017-03-03 00:13] #1102 closed

[2017-03-03 00:22] tatatodd commented on #1103
Thanks for the clear question @AnmolChachra !

I bet @mrry has an answer for this.

[2017-03-03 00:50] jmchen-g commented on #47
I guess we can close for now and people can feel free to re-open if there is updated data...

[2017-03-03 00:50] #47 closed

[2017-03-03 01:32] ttjs8423219 commented on #1098
all right,thanks!

[2017-03-03 03:12] tatatodd commented on #1061
Yes, but the `tf.gfile.Open` call invokes TensorFlow.  Can you try this with TF 1.0?

[2017-03-03 03:16] tatatodd commented on #1034
@wongalvis Are you still encountering a problem?  If not I'll close this out, and you can file a new issue when you're trying things out again.

[2017-03-03 03:20] tatatodd commented on #1092
Thanks @nealwu , I'll assign this to you so that you can update it once things are fixed.

[2017-03-03 05:31] martin767 opened #1105 "Cifar10 tutorial - NUM_CLASSES - Tensorflow 1.0"
I had tested the cifar10 tutorial with my own dataset which worked great till I updated to Tensorflow 1.0. Now I can not run the code anymore with a different number of classes then 10.

With version 0.12 I only changed NUM_CLASSES in cifar10_input.py to 2 but since updating i get this error:

`InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs sha

[2017-03-03 09:29] al3xsh commented on #892
@zym1010 Thanks for this!

I'm testing it now - it seems to have fixed it!

Cheers!

[2017-03-03 09:44] Tilak-Arora commented on #797
I am following the instruction mentioned on syntaxnet installation page(https://github.com/tensorflow/models/tree/master/syntaxnet#installation) on ubuntu system. I am getting following error message at ./configure command.
unable to find valid certification  '//tensorflow/tensorboard/bower:bower'.

[2017-03-03 09:56] apiszcz commented on #1061
Here is the latest (error still occurs), thank you for investigating this.
TF 0.12.1: error
TF 1.0.0.rc2: error
TF 1.0.0 error, (as of 3/3/2017, build #101)

(Pdb) tf.__version__
'1.0.0-rc2'
(Pdb) tf.__version__
'1.0.0'

(Pdb) c
Traceback (most recent call last):
  File "lib\_tf\train_image_classifier.py", line 35, in <module>
    from datasets import dataset_factory
  File "lib\tensorflow_gpu_100

[2017-03-03 19:13] nealwu commented on #892
Hi @zym1010 and @al3xsh, what problem did that PR cause for you two? Want to know whether it's something we should actually revert.

[2017-03-03 19:37] tatatodd commented on #1077
@coreych What is the git commit hash of your models repository?  Have you made any changes to it?

[2017-03-03 19:39] tatatodd commented on #1082
What version of TensorFlow are you using?  What is the git commit hash of the models repository?

[2017-03-03 19:59] wongalvis commented on #1034
Yes this problem persists, correcting the directories is what I've done before encountering "Error importing TF" even if I'm in ~/

[2017-03-03 23:36] aselle commented on #1022
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:36] #1022 closed

[2017-03-03 23:39] aselle commented on #1030
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #1030 closed

[2017-03-03 23:39] aselle commented on #1035
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:39] #1035 closed

[2017-03-03 23:41] aselle commented on #1024
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:41] #1024 closed

[2017-03-03 23:41] aselle commented on #1012
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:41] #1012 closed

[2017-03-03 23:42] aselle commented on #940
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #940 closed

[2017-03-03 23:42] aselle commented on #496
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:42] #496 closed

[2017-03-03 23:43] aselle commented on #998
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:43] #998 closed

[2017-03-03 23:44] aselle commented on #983
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:44] aselle commented on #969
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:44] #969 closed

[2017-03-03 23:44] aselle commented on #967
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-03-03 23:44] #967 closed

[2017-03-04 02:12] coreych commented on #1077
git commit hash:
bd7e850a104898e82a45c131eeab6fbbe01be48e

[2017-03-04 02:21] tatatodd commented on #1105
@martin767 In general, you can't expect to change constants in the code to different values, and expect things to work.

You've changed NUM_CLASSES from 10 to 2.  The particular error you're getting says that there is an Assign somewhere (for a variable) where there is a mismatch between the shapes, between a vector of size 2 and a vector of size 10.  I don't know exactly where this is, since you

[2017-03-04 02:21] #1105 closed

[2017-03-04 05:10] simonhughes22 opened #1111 "SyntaxNet: Segmentation Fault 11 When Training POS Tagger"
## Please let us know which model this issue is about (specify the top-level directory)
I am trying to train the POS tagger on my own dataset. When I update the pbtxt file to point to my own training data files, or try training the parser on the UD files, I get a segmentation fault.

[code]

Here's the script I am trying to run:

[code]

I am running this on Mac OSX 10.11.6, with the setup complyi

[2017-03-04 09:49] vaskonov commented on #1092
@nealwu, @tatatodd guys, I wonder if I can make modifications by myself. I just want to help you.

[2017-03-04 13:45] rajmiglani commented on #1022
I upgraded the inception model to 1.0 and now when i try to run I get this error:

`Traceback (most recent call last):
  File "/home/raj/FYP/FP4/models/inception/bazel-bin/inception/flowers_train.runfiles/inception/inception/flowers_train.py", line 41, in <module>
    tf.app.run()
  File "/home/raj/FYP/FP4/lib/python3.4/site-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys.exi

[2017-03-04 17:17] simonhughes22 commented on #1111
I get the same error when running the model within docker itself, both on my own data and on the UD data. Please help

[2017-03-04 19:37] zym1010 commented on #892
@nealwu check #1083 . Essentially, that PR causes train and eval scripts unable to run concurrently, which to me totally defeats the purpose of having separate train and eval scripts.

[2017-03-04 20:10] mrry commented on #1103
The current Windows release does not support `tf.load_op_library()` or separate compilation of a custom op as a DLL. Currently, the only option for adding an op to TensorFlow for Windows is to compile it into a source build of the entire library. The easiest way to do that is to add your op registration to one of the `.cc` files in `tensorflow/core/ops/`, add your kernel implementation to `tensorf

[2017-03-04 20:26] AnmolChachra commented on #1103
Thanks for the clearing it out. @mrry
Tensorflow has grown beautifully with time.
I am sure that this issue will also be resolved soon.

[2017-03-05 04:45] szy1900 opened #1113 "Running Cifar10 Out of range: Read less bytes than requested"
## models/tutorials/image/cifar10/

When I am running the Cifar10 train on my GPU, the warning appears. Some times the programming will quit because there are not enough images in the data queue.

How would it happen? because i already set the minimum number of examples in my data queue. I know the reading data operation is much slower than the GPU, but The GPU should wait until the data queue  la

[2017-03-05 05:59] hajrakomal commented on #887
I had the same issue

bazel-bin/im2txt/train   --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256"   --inception_checkpoint_file="${INCEPTION_CHECKPOINT}"   --train_dir="${MODEL_DIR}/train"   --train_inception=false   --number_of_steps=1000000
INFO:tensorflow:Prefetching values from 256 files matching data/mscoco/train-?????-of-00256
Traceback (most recent call last):
  File "/media/hajira/N

[2017-03-05 06:26] gunan commented on #887
@wun did we upgrade this model to TF 1.0?

[2017-03-05 10:30] Nothing190 commented on #972
I found this [tutorial](https://agray3.github.io/2016/11/29/Demystifying-Data-Input-to-TensorFlow-for-Deep-Learning.html) .  It helped me to get some insides how to create my own tfRecord file.

But I got stuck at line 228 where the training begins...

[2017-03-05 11:58] shahbazsyed opened #1114 "textsum error reading data file"
## Please let us know which model this issue is about (textsum)
When i run the program using the toyset data folder provided, I always get the following error

![image](https://cloud.githubusercontent.com/assets/4356098/23587037/5258c304-01a3-11e7-8420-f76d744c7766.png)

I am running this with Python 3.5

[2017-03-05 12:29] paratata commented on #1082
I use TensorFlow 1.0

[2017-03-05 13:48] bakarov opened #1115 "SyntaxNet Bazel Test Fail"
I've executed the following command:

`bazel test syntaxnet/... util/utf8/...`

And I've got this output:

[code]

I guess, the problem is caused by the wrong version of Bazel (0.4.4). So I decided to update tensorflow manually (`git submodule update --remote -f tensorflow`), and then, after running tests again, I get this:

[code]

What causes this error?

[2017-03-05 14:54] coreych commented on #1077
I've solved the io_bazel_rules_closure problem:
- download rules_closure.git from https://github.com/bazelbuild/rules_closure
- put rules_closure.git into models/syntaxnet/tensorflow/ folder

Copy and paste the following into the WORKSPACE file:

The build will work but with error:
Executed 0 out of 17 tests: 1 fails to build and 16 were skipped.

[2017-03-05 14:54] #1077 closed

[2017-03-05 14:54] coreych commented on #1115
Try this https://github.com/tensorflow/models/issues/1077

[2017-03-05 15:12] coreych opened #1116 "Build fail with error 'google/protobuf/stubs/common.h' file not found"
https://github.com/tensorflow/models/tree/master/syntaxnet

The following command threw an error on Mac OS X during build.

bazel test --linkopt=-headerpad_max_install_names
syntaxnet/... util/utf8/...

ERROR: /private/var/tmp/_bazel_coreychong/12e1cac900a5b57469553695a912bfcb/external/org_tensorflow/tensorflow/contrib/ffmpeg/BUILD:36:1: C++ compilation of rule '@org_tensorflow//tensorflow/contrib

[2017-03-05 15:53] stereomatchingkiss commented on #972
Thanks for the efforts you put into this library. I figured out how to transfer data into tfRecord file, trained a new model from scratch, but never find a complete tutorial of how to finetune on your own data set, most of the tutorials are more like advertise(tensorflow is super good) rather than a step by step tutorials showing you how to write your own codes to finetune trained models like [ker

[2017-03-06 02:55] bakarov commented on #1115
Thanks for the reply. I tried your solution with rules_closure.git, and I have the same error:

[code]

I've also downgraded Bazel to 0.4.3 manually, cleared the cache and run tests again. I still have an error:

`Executed 17 out of 17 tests: 11 tests pass and 6 fail locally.`

That's strange.

[2017-03-06 05:23] Tilak-Arora commented on #797
I resolved certificate error by executing following command

update-ca-certificates -f

[2017-03-06 05:32] guschmue commented on #1103
I pushed a change for tf.load_library() on windows to here:
https://github.com/guschmue/tensorflow/tree/win-loadlibrary

I think I'll get the contrib/rnn working tomorrow before sending a pull request.
I have a sample  CMakeLists.txt for to build user_op (cpu only) for windows outside of the tensorflow build here:
https://gist.github.com/guschmue/4b4178addcc96a4ecc7f03659b59bcd9

[2017-03-06 06:51] bakarov commented on #1116
Problem with `common.h` can be fixed by installing protobuf-dev package, e.g. for Ubuntu:

`sudo apt-get install libprotobuf-dev protobuf-compiler`

But that I'm getting an error:

[code]

People [say](https://github.com/BVLC/caffe/issues/4988) that it can be caused by the outdated version of protobuf, but I have the latest version 3.0.0b2.

[2017-03-06 06:56] liyd commented on #466
Hi!
Did anybody release a pre-trained model with Tensorflow1.0?
Thanks very much!!!

[2017-03-06 08:04] rtjarvis commented on #466
@bis-carbon - This method worked for me to fix the problem of "Tensor name "lstm/basic_lstm_cell/biases" not found in checkpoint files". I downgraded to Tensorflow 0.12 and reset to 9997b25. Now I have captions!

[2017-03-06 08:29] gaojun4ever commented on #836
getting the same error.......

[2017-03-06 08:59] catsdogone opened #1118 "[slim/nets/inception_resnet_v2] could you please explain the parameter of ‘scale’ in slim.repeat?"
## inception_resnet_v2
In slim/nets/inception_resnet_v2.py line 172: net = slim.repeat(net, 10, block35, scale=0.17)
Thanks in advance for your help.

[2017-03-06 09:34] tae-jun commented on #466
@liyd I guess the pre-trained model above work as well for 1.0

I didn't try for `im2txt`, but it did work for [`inception`](https://github.com/tensorflow/models/tree/master/inception).

There is a branch named `update-models-1.0`. Checkout that branch and try it 😄
It seems like `im2txt` also updated to TF 1.0 on the branch.

[2017-03-06 11:03] liyd commented on #466
@tae-jun thank you for your help!
I encounter the problem just as @tintelle,  I think this problem due to the default variable names in parameter model were changed in TensorFlow1.0, not because of course code. So update-models-1.0 may not work.

[2017-03-06 16:33] vongruenigen commented on #836
Same problem for me. I tried using the nightly build version, but the problem there is that the "current" seq2seq API (as in version 1.0) is completely reworked (see [this](https://github.com/tensorflow/tensorflow/commit/d46937f3684d3be2285f7401c2f471f542d147c2) commit), which means I cannot use the nightly version without throwing away my current implementation.

@ebrevdo, what's the roadmap for

[2017-03-06 18:34] junshi15 commented on #991
I trained VGG from scratch successfully by following the steps explained in the paper. The default values from Slim won't work. Thanks for your help. Closing the tickets...

[2017-03-06 18:34] #991 closed

[2017-03-06 19:09] zym1010 commented on #1083
@tatatodd I have made my PR #1112

[2017-03-06 20:36] prb12 commented on #1118
@alexalemi  I think you added that line of code... could you please answer this?

[2017-03-06 20:43] darshanmaiya opened #1120 "Training inception with slim using multiple machines with CPUs only"
I'm trying to use the tf-slim library to train Inception V3 using multiple machines which do not have GPUs.

I'm following the tutorial given here: https://github.com/tensorflow/models/tree/master/slim. I can train using a single CPU only machine but I'm trying to figure out how to do the training using multiple machines. Its mentioned in the page that:

I can't figure out how to use  [model_deplo

[2017-03-06 21:14] prb12 commented on #1116
@calberti I was assuming this was a generic TF installation problem, but then noticed you have detailed instructions in your README.md including how to install protobuf.  Is it possible these are now out of date?

[2017-03-06 21:27] prb12 commented on #1113
it seems likely that your training dataset is somehow corrupt.  Perhaps the download was unsuccessful or you ran out of disk space?

Could you please try removing `/tmp/cifar10_data` and seeing if the problem is repeatable?

[2017-03-06 22:08] priyathamkat opened #1121 "The arguments for tf.concat seems to be flipped"
In the Inception-v* models the arguments for `tf.concat` should be `values` first followed by `axis`. The API seems to have changed.

[2017-03-06 22:15] prb12 commented on #1034
Could you please explain why you are doing this?  (It seems very strange to me that you should need to be pointing any program at a bazel build cache rather than a bazel-bin directory)

I'm guessing that you're following this tutorial? https://github.com/tensorflow/models/tree/master/syntaxnet#installation
...but I don't see any steps including the binaries you mention

[2017-03-06 22:37] prb12 commented on #1121
@nathansilberman @sguada Not sure who maintains tensorflow/models/slim/nets, but these proabbbly need updating for TF1.0.

[2017-03-06 22:50] prb12 commented on #1082
Could you please clarify *exactly* what steps are required to reproduce this problem?  (i.e. what command lines did you type)

It looks to me like you are trying to follow this tutorial: https://www.tensorflow.org/tutorials/word2vec

I gather that you're trying to run `examples/tutorials/word2vec/word2vec_basic.py` (which is part of the `tensorflow/tensorflow` repository), however, I don't underst

[2017-03-06 23:10] paratata commented on #1082
@prb12 I meant this github directory, i tried to run word2vec_basic.py and yes I'm trying to follow that tutorial to learn a bit more about tensorflow.
I used jupyter to run the file and I renamed it to do so, also I ran it using the command python word2vec_basic.py, and I've got the same results. I guess the problem is related to the version of tensorflow I'm using( 1.0). Hope these informations

[2017-03-06 23:31] wongalvis commented on #1034
It gave error like "line 55: bazel-bin/syntaxnet/conll2tree: No such file or directory" when I'm running the demo script.

[2017-03-07 00:18] coreych commented on #1116
It worked! Executed 16 out of 17 tests: 17 tests pass.

Instead of following setup instructions using pip and version 3.0.0b2.
All i did was

In home-brew, protobuf==3.2.0

Not sure if I should remove the previous 3.0.0b2 installed using pip?

[2017-03-07 01:56] guschmue commented on #1103
contrib/rnn with tf.load_library() on windows is working now (cpu). Waiting for a gpu build before sending PR.

[2017-03-07 04:36] hajrakomal commented on #466
@bis-carbon  would you please explain why we need to edit inception files, while we are using im2txt model

[2017-03-07 07:39] hqythu commented on #983
I'm using tensorflow 1.0 on python 3.5 and I have the same issues.

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcublas.so.7.5 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcudnn.so.4 locally
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcufft.so.7.5 locally
I tensorflow/strea

[2017-03-07 16:49] muik commented on #673
I also need the tutorial for training with UD treebanks.

[2017-03-07 17:06] bkovalev opened #1123 "The imagenet_distributed_train script is not compatible with the latest tensorflow (1.0.0)"
TensorFlow 1.0 last, CUDA 8, bazel 0.4.4

The imagenet_distributed_train script is not compatible with the latest tensorflow (1.0.0). When you try to run it as in tutorial it fails with the following error message:
Traceback (most recent call last):
  File "/root/models-update-models-1.0/inception/bazel-bin/inception/imagenet_distributed_train.runfiles/inception/inception/imagenet_distributed_trai

[2017-03-07 21:36] egavves opened #1124 "The allow_growth does not seem to work (?)"
## Please let us know which model this issue is about (specify the top-level directory)

Hi,

I am trying to fine tune the flowers dataset using the instructions in https://github.com/tensorflow/models/tree/master/slim

I have two questions.

1) As the GPU memory is not big enough, I want to try to allow for GPU growth, so that the process does not crash. The code I am using is the one below, howe

[2017-03-07 22:02] anywang commented on #969
there are so many problems when using tensorflow 1.0, ..

[2017-03-07 22:02] anywang commented on #969
slim/inception_model.py", line 125, in inception_v3
    net = tf.concat(axis=[branch1x1, branch5x5, branch3x3dbl, branch_pool], values=3)
  File "/SLP_Extended/tools/anaconda-2.4.3/lib/python2.7/site-packages/tensorflow/python/ops/array_ops.py", line 1047, in concat
    dtype=dtypes.int32).get_shape(
  File "/SLP_Extended/tools/anaconda-2.4.3/lib/python2.7/site-packages/tensorflow/python/framework

[2017-03-07 22:03] anywang opened #1125 "There are so many problems when using tensorflow 1.0 on inception v3 task"
## Please let us know which model this issue is about (specify the top-level directory)
/tensorflow/models/inception/bazel-bin/inception/imagenet_train.runfiles/inception/inception/slim/inception_model.py", line 125, in inception_v3
    net = tf.concat(axis=[branch1x1, branch5x5, branch3x3dbl, branch_pool], values=3)

[2017-03-07 22:04] anywang commented on #1125
already update the code, still can't run

[2017-03-07 22:17] prb12 commented on #1125
This code has not been updated for the new TF1.0 API.

[2017-03-07 22:20] prb12 commented on #1072
Are you sure the bug isn't related to the changes you made to eval_image_classifer.py - e.g. the change from tf.pack to tf.stack?

[2017-03-07 22:26] prb12 commented on #1124
Closing as a duplicate of https://github.com/tensorflow/tensorflow/issues/6111

[2017-03-07 22:26] #1124 closed

[2017-03-07 22:30] prb12 commented on #1034
@calberti Could you please add some information about how these tools binraies are expected to be found by the scripts?

[2017-03-07 22:31] prb12 commented on #1082
Could you please try running the example not using Jupyter?

[2017-03-07 22:46] anywang commented on #950
Hi guys, have very similar problem, I already used tf_upgrade.py update our code, but it still has the error
    (dtype.name, repr(mismatch), type(mismatch).__name__))
TypeError: Expected int32, got list containing Tensors of type '_Message' instead.

[2017-03-07 23:18] salil93 commented on #1072
The change was made to make it compatible with tensorflow 1.0 (tf.pack has been deprecated in 1.0 I think)

Running the code as is results in errors.

[2017-03-08 00:44] prb12 commented on #1072
OK - this looks like the failure is on an assign op inside `metrics.accuracy` which is updating a variable.  Since you are using a pretrained model, maybe it's possible that the shapes of some variables are different in the new model?

@honkentuber It looks like you worked on some of this code recently... could you please take a look?

[2017-03-08 00:58] honkentuber commented on #1072
+nsilberman,sguada

Can we get a print out of the shapes of the `images`, `predictions` and
`labels` tensors in tensorflow_models/slim/eval_image_classifier.py just
before the call to slim.metrics.streaming_accuracy? It looks like `labels`
has a batch dimension and `logits`/`predictions` doesn't.

Philip Tucker |  Software Engineer |  ptucker@google.com |

On Tue, Mar 7, 2017 at 4:45 PM, Paul Barh

[2017-03-08 06:33] andongchen opened #1126 "when i use tensorboard in tf1.0 there are SyntaxError: invalid syntax"
when i fine this inception3 model and use tensorboard in tf1.0 all have syntaxerror invalid syntax .

DATASET_DIR=/home/cy/data/flowers
TRAIN_DIR=./flowers-models/inception_v3
CHECKPOINT_PATH=./pretrainmodel/inception_v3.ckpt
python3 train_image_classifier.py \
    --train_dir=${TRAIN_DIR} \
    --dataset_dir=${DATASET_DIR} \
    --dataset_name=flowers \
    --dataset_split_name=train \
    --mode

[2017-03-08 06:44] andongchen commented on #1126
when i remove tf1.0 and install tf 0.12 problem is sloved

[2017-03-08 08:12] egavves commented on #1124
Sorry for the duplicate, I hadn't realized that this is (potentially) a Tensorflow and not just TF Slim, issue.

[2017-03-08 14:06] maltintas45 opened #1128 "AttributeError: 'NoneType' object has no attribute 'endswith'`"
I am new in syntaxnet.So it may be a trivial question but I could not  find what is the reason. I installed syntaxnet according the tutorial and it pass all test. But when I try to construct a new model, I encounter below error. What is the issue? Do I miss something?

Thanks

[sudo] password for sm:
Traceback (most recent call last):
  File "/home/sm/models/syntaxnet/bazel-bin/syntaxnet/parser_tr

[2017-03-08 14:40] moonfighting opened #1129 "Disorder result when I try 投"
I have used[]( https://github.com/tensorflow/models/tree/master/slim/train_image_classifier.py) to finetune from the pretrained inception-resnet-v2 model with my own dataset and get several new models.

Now I want to have a test on these models. In order to get every image's score of all the classes, I write my  evaluation function, the code is shown below:

[code]
However, the result is disordere

[2017-03-08 18:17] prb12 commented on #1129
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-08 18:17] #1129 closed

[2017-03-08 21:22] psuff commented on #857
cross_entropy = tf.nn.sparse_softmax_cross_entropy_with_logits(
        logits=logits, labels=labels, name='xentropy')

just write logits=logits and labels=labels and i works

[2017-03-09 00:29] penelopeia commented on #1022
This is another effect of the upgrade.
Look under [NumPy matching arguments](https://www.tensorflow.org/install/migration) for tf.concat:

If you are not upgrading, and you just want to modify tf.concat arguments for 0.12, assign your axis argument to concat_dim instead of axis.

[2017-03-09 01:08] catsdogone opened #1132 "How about the runtime of inception_resnet_v2 ?"
## Inception resnet V2
I am trying to train a Inception_resnet_v2 model on caffe. While I find the runtime is much more than GoogleNet V1 on caffe. It is due to the platfrom (caffe vs tensorflow)?

[2017-03-09 01:38] wuluhui opened #1133 "im2txt - build_mscoco_data.py : The all files of the patterns train-?????-of-00256, val-?????-of-00004 and test-?????-of-00008 are 0KB"
======== RESTART: E:\my_code\im2txt\im2txt\data\build_mscoco_data.py ========
Loaded caption metadata for 82783 images from F:/tmp/annotations/captions_train2014.json
Proccessing captions.
Finished processing 414113 captions for 82783 images in F:/tmp/annotations/captions_train2014.json
Loaded caption metadata for 40504 images from F:/tmp/annotations/captions_val2014.json
Proccessing captions.
Fin

[2017-03-09 02:38] lilin29 commented on #816
@jumbogoose, I have two questions:
1. how to use a .ckpt and ckpt.meta to write to a frozen .pb with ouput_nodes_names = "softmax,lstm/initial_state,lstm/state"
2. I have tried the im2txt.pb you provided, there is an error during inference:
Not found: FeedInputs: unable to find feed output input:0

[2017-03-09 09:31] manjunaths commented on #1125
I have the updated code in my tree that brings some of the files in the inception/inception directory up-to-date with the tf 1.0 API. https://github.com/manjunaths/models. You could pull from that tree, until this gets fixed.

[2017-03-09 13:59] manjunaths commented on #1123
In file inception_distributed_train.py if the following line is commented out it seems to work.

`< 200          replica_id=FLAGS.task_id,`
`> 200          #replica_id=FLAGS.task_id,`

[2017-03-09 14:15] vaklyuenkov opened #1135 "slim API not support tensorflow r1.0 API"
After updating to tf r1.0 have error, when trying to run training models/slim/ on "Flowers":
[code]

So, Instead:
[code]
I use:

[code]
The same for tf.contrib.slim
It is very important to understand -is it correct loss function calculation?

Thank you!

[2017-03-09 15:59] vaklyuenkov commented on #1135
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/losses/python/losses/loss_ops.py

@deprecated("2016-12-30",
            "Use tf.losses.softmax_cross_entropy instead. Note that the o**rder "
"of the logits and labels arguments has been changed**.")

[2017-03-09 15:59] #1135 closed

[2017-03-09 16:31] honkentuber commented on #1072
Are you suggesting that we just add a print statement?

Ideally, we should figure out why `logits`/`predictions` don't have the
batch dimension. Is that the root of this issue? That the batch_size is
missing?

On Tue, Mar 7, 2017 at 7:58 PM, Philip Tucker <ptucker@google.com> wrote:

[2017-03-09 17:13] honkentuber commented on #1072
To clarify, I'm asking if we can get whomever hit this bug to add the print
statement so we can verify the bug is in our library.

On Mar 9, 2017 8:52 AM, "Philip Tucker" <ptucker@google.com> wrote:

[2017-03-09 17:16] salil93 commented on #1072
@honkentuber I will try with the print statements.

[2017-03-09 18:41] tatatodd commented on #1083
@caisq Can you take a look?

Also, note that this is in the tensorflow/models repo.  I can't assign this issue or the PR to you; perhaps you need to update your github projects?

[2017-03-09 19:05] ajl412860 opened #1136 "I"

[2017-03-09 20:04] prb12 commented on #1136
Please provide details of the tensorflow version you are trying to build (commit hash) and the exact sequence of commands you used to produce this error.

[2017-03-09 20:04] prb12 commented on #1132
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-09 20:04] #1132 closed

[2017-03-09 21:28] ajl412860 commented on #1136
@prb12
Sorry Im bit of an amateur to github.

#1st
Using this command,
`bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2`

#2nd
##Using a test command on a test script.
`python3 Test.py`
Im still getting the same
`W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use AVX instructions, but these are available

[2017-03-09 21:41] #1136 closed

[2017-03-09 22:43] lucasgreene commented on #1125
Check out tf.contrib.slim, as this project got merged with the main tf repo. I can that at least there the basic compatibility issues have already been fixed for inception models (most apparent being concat)

[2017-03-09 23:30] anywang commented on #1125
thank you, guys, now it works.

[2017-03-10 00:14] jmchen-g commented on #1123
Glad you find it... replica_id is only used in the old sync_rep optimizers so it is safe to remove it for the new one. Can you send over the PR to change that please? Thanks.

[2017-03-10 00:14] #1123 closed

[2017-03-10 04:56] moshoujingli opened #1137 "Intent of code for model neural_programmer"
branch master
neural_programmer/neural_programmer.py line 185
I don't understand why drop the last model file.
Would someone like to kindly teach me the reason?

[2017-03-10 09:16] bangnk commented on #836
For anyone who still get this bug: Line 1022 in tensorflow/python/ops/seq2seq.py, change softmax_loss_function(logit, target) to "softmax_loss_function(target, logit)".

Someone swapped the order of the arguments that function.

[2017-03-10 09:31] yashkumar6640 commented on #836
use tensorflow v0.12.x, you wont get all these errors and everything will run smoothly except for corpus loading and utf- unicode error that can be solved easily

[2017-03-10 16:15] alexalemi commented on #1118
The scale parameter multiplies the residual connection.(https://github.com/tensorflow/models/blob/master/slim/nets/inception_resnet_v2.py#L68)  We found that adding these scale factors helped with convergence and performance.

[2017-03-10 16:51] mhnatiuk commented on #1050
you shouldn't use tf.contrib.seq2seq anymore. just do:
from tensorflow.python.ops import rnn_cell
and then:
rnn_cell.GRUCell(size)

[2017-03-10 16:59] shahparth123 commented on #1078
Created modified version of #1086 with removing deprecated function dependency of tf.contrib.deprecated.merge_all_summaries() with  tf.summary.merge_all() in pull request #1141

[2017-03-10 17:18] kevalcshah10 commented on #887
I am getting this error when I am running show_and_tell_model.py from github tf.losses.add_loss(loss,batch_loss)
NameError: global name 'loss' is not defined

[2017-03-10 17:20] kevalcshah10 commented on #887
tensorflow version is '1.0.1'
and python using is 2.7.12

[2017-03-10 17:27] kevalcshah10 opened #1142 "im2txt: tf.losses.add_loss(loss,batch_loss) NameError: global name 'loss' is not defined"
## Please let us know which model this issue is about (specify the top-level directory)
When I am trying Training steps

bazel-bin/im2txt/train   --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256"   --inception_checkpoint_file="${INCEPTION_CHECKPOINT}"   --train_dir="${MODEL_DIR}/train"   --train_inception=false   --number_of_steps=1000

INFO:tensorflow:Prefetching values from 8 files match

[2017-03-10 17:33] ddkang commented on #739
Any update on this?

[2017-03-10 18:44] Proteek opened #1143 "resnet: TypeError: concat() got an unexpected keyword argument 'axis'"
## Please let us know which model this issue is about (specify the top-level directory)
Hello. I am running resnet_main.py and got the following error while it is reading dataset

File "resnet\cifar_input.py", line 103, in build_input
    tf.concat(values=[indices, labels], axis=1),
TypeError: concat() got an unexpected keyword argument 'axis'

I am using latest TF and python 3.5. How can I change

[2017-03-10 19:35] prb12 commented on #1143
This is a TF1.0 compatibility issue.

Many of the models in this repository have not been updated yet for TF1.0 as described here https://www.tensorflow.org/install/migration

@panyx0718 is the owner of this model according to the README.md, and can probably comment further.

[2017-03-10 19:36] prb12 commented on #1142
This is a TF1.0 compatibility issue.

Many of the models in this repository have not been updated yet for TF1.0 as described here https://www.tensorflow.org/install/migration

@cshallue  is the owner of this model according to the README.md, and can probably comment further.

[2017-03-10 19:38] prb12 commented on #1137
@arvind2505 is listed as contact for this model, and can probably comment further.

This question is maybe better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-10 20:32] ymakkapa commented on #1050
Hi @tatatodd ,
This is the command line - python translate.py --data_dir [your_data_directory]

[2017-03-10 20:34] ymakkapa commented on #1050
@mhnatiuk , Should I make these changes in translate.py file

[2017-03-10 21:22] ymakkapa commented on #1050
Hi @mhnatiuk ,
I checked all my files but could not find the line gave by you in any of my files

[2017-03-10 21:42] #1125 closed

[2017-03-10 22:57] arvind2505 commented on #1137
@moshoujingli It doesn't really matter. We pick the model that gives the best results on dev set and it usually much before 100k steps.

[2017-03-11 02:33] prb12 commented on #1050
@ymakkapa  I guess you're following https://www.tensorflow.org/tutorials/seq2seq?

The tutorial does not seem to have been update for TF1.0 yet.  @ebrevdo, @xmbrst Is this the case?  Who is responsible for ensuring all our tutorials work with the current release version?

As mentioned above, the GRUCell class appears to have moved.  It is being instantiated in the file seq2seq_model.py

Hopefully

[2017-03-11 02:40] prb12 commented on #797
@Tilak-Arora your issue seems unrelated to the original report ... but happy you managed to solve it.
@ericmcgregor Closing this issue since we believe the problem has been fixed.  Please reopen if you still have problems.

[2017-03-11 02:40] #797 closed

[2017-03-11 02:42] prb12 commented on #1046
Closing due to lack of activity.

[2017-03-11 02:42] #1046 closed

[2017-03-11 02:43] prb12 commented on #1036
Closing due to lack of activity.

[2017-03-11 02:43] #1036 closed

[2017-03-11 02:45] ymakkapa commented on #1050
Yes @prb12 . But I am getting the above error. Regarding TF version, i did not upgrade it to 1.0

[2017-03-11 02:51] prb12 commented on #1137
Ok - I'm going to close this since it isn't a bug/issue.
@moshoujingli Thanks for your input.

[2017-03-11 02:51] #1137 closed

[2017-03-11 03:39] SunnyMarkLiu opened #1144 "what is the different between inception_v1.py and inception_v2.py?"
We know that in inception v2 paper ([Batch Normalization](https://arxiv.org/abs/1502.03167)), it add Batch Normalization before convolution layer to reduce internal covariate shift, and remove Local Response Normalization. But when I was studying [inception_v1.py](https://github.com/tensorflow/models/blob/master/slim/nets/inception_v1.py) and [inception_v2.py](https://github.com/tensorflow/models/

[2017-03-11 03:49] prb12 commented on #1144
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-11 03:49] #1144 closed

[2017-03-11 04:01] SunnyMarkLiu commented on #1144
Thanks, I have asked a question on StackOverflow: [what is the different between inception_v1.py and inception_v2.py in tensorflow/models?
](http://stackoverflow.com/questions/42731181/what-is-the-different-between-inception-v1-py-and-inception-v2-py-in-tensorflow)@prb12 so, could you please help me? Thanks!

[2017-03-11 11:48] maltintas45 commented on #1128
Is there noone who wants to explain this issue?

[2017-03-11 13:30] Google1234 opened #1146 "[slim/nets] Problem restoring checkpoint of inception_resnet_v2"
## Please let us know which model this issue is about (specify the top-level directory)
I download pre-trained model form http://download.tensorflow.org/models/inception_resnet_v2_2016_08_30.tar.gz
when I run

[code]
get error:
[code]
while this scipt pass:
[code]
any suggest?maybe the pretrained model was damaged？

[2017-03-11 14:11] ffliza commented on #856
I had the same issue with tensorflow-0.9.0 version. The following works for me

Uninstall:
`sudo pip uninstall protobuf`
`sudo pip uninstall tensorflow`

Install:
`conda install -c conda-forge tensorflow=1.0.0`

[2017-03-11 15:40] mmb1622 commented on #856
Where I can download an Apk for Android 5.1 ZTE !

[2017-03-11 16:47] roberttreichler opened #1147 "[slim/preprocessing] Update to TF v1.0 API?"
## Please let us know which model this issue is about (specify the top-level directory)
All the scripts within slim/preprocessing haven't been updated to work with tensorflow v.1 (e.g. Commands such as pack (versus stack).). Will this code be upgraded?  Cheers!

[2017-03-11 17:44] depiano opened #1148 "Tensorflow error on seq2seq_attention.py line 213 in <module> tf.app.run()"
**I'm following the lead for tensorflow (https://github.com/tensorflow/models/tree/master/textsum) and when I make this statement showed the following error:**

**statement:** bazel-bin/textsum/seq2seq_attention \
  --mode=train \
  --article_key=article \
  --abstract_key=abstract \
  --data_path=data/training-* \
  --vocab_path=data/vocab \
  --log_root=textsum/log_root \
  --train_dir=textsum/l

[2017-03-11 19:39] prb12 commented on #1148
You have not provided details of your TensorFlow version and operating system etc., which makes it easier to triage problems like this.

Superficially this appears to be code which has not been updated for TensorFlow 1.0 APIs.  Please see https://www.tensorflow.org/install/migration

@panyx0718 and @peterjliu can comment further.

[2017-03-11 19:42] prb12 commented on #1147
I'm assuming you are referring to `slim/preprocessing` ?

@sguada Could you please comment?

[2017-03-11 19:50] prb12 commented on #1146
This sort of problem usually happens when the checkpoint was saved from one graph and restored using a TensorFlow graph with different variable names.  It can be caused by different versions of the code, and sometimes by different TensorFlow versions.

@sguada @nathansilberman Could you please comment on whether the pretrained model from August last year is likely to be compatible with the current

[2017-03-11 21:59] roberttreichler commented on #1147
Yes, referring to slim/preprocessing. Thank you.

[2017-03-11 23:44] depiano commented on #1148
I'm use Tensorflow v.1.0.1 on Ubuntu 16.04LTS.
I followed your steps, but I have not solved.
I hope someone can help me, are several days that I can not solve

[2017-03-12 02:05] Google1234 commented on #1146
ox: Linux version 3.10.104 (root@hadoop65) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #3 SMP Sun Jan 8 15:28:58 CST 2017
software：tensorflow 0.12.0
slim from https://github.com/tensorflow/models

THX.

[2017-03-12 02:45] Proteek commented on #1143
I made it work by switching the parameters like
tf.concat(axis =1, values =[indices, labels]).
Thanks.

[2017-03-12 02:45] #1143 closed

[2017-03-12 12:46] Prakash19921206 commented on #466
Just wondering if anyone solved
[code]
in Tensorflow v1.0

[2017-03-12 15:02] Google1234 commented on #1146
of course,when i run:
DATASET_DIR=***/train
TRAIN_DIR=***/inception_resnet_v2
CHECKPOINT_PATH=***checkpoints/inception_resnet_v2_2016_08_30.ckpt
python train_image_classifier.py \
   --train_dir=${TRAIN_DIR} \
   --dataset_dir=${DATASET_DIR} \
   --dataset_name=fishes \
   --dataset_split_name=train \
   --model_name=inception_resnet_v2 \
   --checkpoint_path=${CHECKPOINT_PATH} \
   --checkpoint_e

[2017-03-12 16:23] julienroy13 opened #1153 "TypeError: strided_slice() takes at least 4 arguments (3 given)"
I am following the rnn tutorial (models/tutorials/rnn/ptb).

I cloned the repository and run the code with :
`python ptb_word_lm.py --data_path=/tmp/simple-examples/data/ --model=small`

I get the following error (in reader.py) :
[code]
I am using tensorflow v0.12.1. Is my tensorflow that isn't up to date or the code that hasn't been updated?

[2017-03-12 20:54] roberttreichler commented on #1147
Its not just slim/preprocessing. Its also slim/nets. Line 61 should be biases_initializer=tf.zeros_initializer()): whereas right now the parentheses are missing from initializer call.

[2017-03-12 22:59] cshallue commented on #1133
@wuluhui I just ran the script on Ubuntu and it worked for me. Are you using windows?

At a guess, does it work if you change "str" to "bytes" in [this line](https://github.com/tensorflow/models/blob/master/im2txt/im2txt/data/build_mscoco_data.py#L189)?

[2017-03-12 23:22] cshallue commented on #1142
@kevalcshah10 you are working with an old version of this repository. Using the latest version should fix your issue

@prb12 this model is updated for TF1.0 :)

[2017-03-12 23:23] #1142 closed

[2017-03-12 23:34] xtr33me commented on #1148
@depiano It seems that this model has not been updated for TF 1.0.  I was going to take a stab at exporting this model again and after updating TF, I received the same issue.  After further research it looks as though **tf.unpack** has been renamed to **tf.unstack**.  Unfortunately it seems that I received another error related to no attribute 'rnn_cell', so the above fix will fix your current iss

[2017-03-13 01:06] duanLH opened #1155 "could I download the final model from project im2text?"
## Please let us know which model this issue is about (specify the top-level directory)
thanks to your contribution, Its too slow to train im2text model with my hardware, could I download your final model? Thanks very much

[2017-03-13 05:47] moshoujingli commented on #1137
@arvind2505 Thanks for your reply.
 I agree that it usually happens much before 100k steps, but why we add several lines to do such a thing? If we just want to check less models, why drop only one?
Could I just delete line 184~185 to make it clear ?

[2017-03-13 05:59] moshoujingli opened #1156 "Segmentation fault while run tutorials/image/cifar10/cifar10_train.py with step 1000000"
I have tried to run the cifar10_train.py with
`'max_steps', 1000000`
and got a Segmentation fault Error while the iteration finished
[code]
it works well when I set the `max_steps` to 100 and 1000.

[2017-03-13 06:52] wuluhui commented on #1133
@cshallue yes, I use windows. I change "str" to "bytes", but it does not work. I think I should change my operating system.

[2017-03-13 06:53] wuluhui commented on #1133
@cshallue Thank you very much

[2017-03-13 08:28] kingdeewang opened #1157 "No module named models.tutorials.rnn.translate in tf1.0"
## Please let us know which model this issue is about (specify the top-level directory)
when i use tensor 1.0 , encounter the below problem:
 import seq2seq_model
  File "/home/wer/test/chinese_song_generation-master/seq2seq_model.py", line 27, in <module>
    from tensorflow.models.tutorials.rnn.translate import data_utils
ImportError: No module named models.tutorials.rnn.translate

[2017-03-13 08:43] begongyal commented on #466
[code]

When I put only "graph.pbtxt", "model.ckpt-2000000", and "model.ckpt-2000000.meta" in train directory, it shows an error message that "No checkpoint file found in: None". So I tried "--checkpoint_path=im2txt/model/train/model.ckpt-2000000", but "bash: --checkpoint_path=im2txt/model/train/model.ckpt-2000000: No such file or directory" appears. What should I do? Did I do something wrong?

Ac

[2017-03-13 09:27] skydoorkai commented on #698
Got same error by running inception on tf 1.0:
ValueError: Variable conv0/weights/RMSProp/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope

[2017-03-13 13:49] Riddle1495 opened #1158 "ModuleNotFoundError: No module named '_pywrap_tensorflow'"
## Please let us know which model this issue is about (specify the top-level directory)
I use windows 10, python 3.6 and I get this error when trying to import tensorflow. `ImportError: No module named '_pywrap_tensorflow'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Python36-32\lib\site-packages\tensorflow\python\__init__.py",

[2017-03-13 16:02] fighting41love commented on #1155
Same request.

[2017-03-13 16:37] depiano commented on #1148
I installed version 0.12 tensorflow and I have not the first error. But now displaying the following warning and prompt stops asking input.
Why ?

**Warning:**
WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/logging_ops.py:264 in merge_all_summaries.: merge_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Inst

[2017-03-13 17:18] tfboyd commented on #1147
I have PR https://github.com/tensorflow/models/pull/1151, which fixes Resnet_v2 and Inceptionv3 for Imagnet.  tested with GPU.  I doubt I fixed your issue unless by accident.  I am not well versed in python lingo. If you can link the exact file, I can look at upgrading it if I have a moment (less likely if does not involve imagenet).  All I end up doing is running [upgrade script](https://www.tens

[2017-03-13 17:29] tfboyd commented on #1072
I think this will fix your problem.  I was fixing resnet_v2 a week ago.  I am **NOT** remotely an expert in these models.  I did this to resnet_v2 because of the issue and I saw the inception_v3 does the same thing.  I also verified training worked correctly (I trained to ~67% to verify).  [put code about here](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v1.py#L201).  There m

[2017-03-13 17:35] tfboyd commented on #1009
I believe models/inception has the only example for distributed.  I submitted a PR https://github.com/tensorflow/models/pull/1150 to fix part of this "module" I have another PR (not submitted) that will upgrade the rest to TF 1.0.  It should likely stay until we have a newer / better inception distributed example.

I would add a note that says something like (using much better wording):
   * incep

[2017-03-13 17:37] tfboyd commented on #987
https://github.com/tensorflow/models/pull/1150   When submitted should fix your issue.

[2017-03-13 17:45] tfboyd commented on #950
For TF 1.0 users, this upgrades inception and resnet_v2 for slim, which should help the situation.  I tested training from scratch rather the fine-tune but this is much better than trying to run TF 1.0 on the current code.
https://github.com/tensorflow/models/pull/1151

[2017-03-13 17:46] tfboyd commented on #950
Let me know other issues you having running TF 1.0.  I can/will try to help with anything related to imagenet and these models because I happen to be in this code right now.

[2017-03-13 17:48] tfboyd commented on #840
I suggest using the slim version.  But here is a PR https://github.com/tensorflow/models/pull/1150 that upgrades this code to TF 1.0.  I tested locally on a GTX 1080 and it seems to work correctly now.

[2017-03-13 17:49] tfboyd commented on #815
https://github.com/tensorflow/models/pull/1151

[2017-03-14 00:16] #668 closed

[2017-03-14 02:39] nealwu commented on #1009
@tfboyd I see, yep. I also realized that the ImageNet download code is still in models/inception, so we should probably keep models/inception around for now. I'll add the note you're describing to the models/inception README and add you for review.

[2017-03-14 02:39] #1009 closed

[2017-03-14 02:57] nealwu commented on #887
Hi everyone, we just merged several big changes to make this repository compatible with TensorFlow 1.0. If you still have issues with the latest model code with the latest version of TensorFlow (ideally 1.0.1), please let me know.

[2017-03-14 05:36] i-akbari opened #1162 "TF-Slim hangs in sess.run()"
I want to run this example of Using TF-Slim:
http://warmspringwinds.github.io/tensorflow/tf-slim/2016/10/30/image-classification-and-segmentation-using-tensorflow-and-tf-slim/
but the programs hangs in this line. (I added two print defore and after)
[code]
**the problem is "after" will never displayed.**

The weblog post has used tensorflow-0.11 but I have used tensorflow-1.0 and tensorflow-1.0.1.

[2017-03-14 07:37] lilin29 opened #1163 "Cannot Use Freeze_Graph.py and im2txt.pb of Im2Txt model"
1.how to use a .ckpt and ckpt.meta to write to a frozen .pb with ouput_nodes_names = "softmax,lstm/initial_state,lstm/state"
2.I have tried the im2txt.pb you provided, there is an error during inference:
 Not found: FeedInputs: unable to find feed output input:0

[2017-03-14 11:10] Bonsen opened #1165 "How to use multiple gpus to train one model?"
Dear all,

The only server has many gpus(0 - 5), and I have to use gpu 0,2,5 to train one model.
What should I set in train_image_classifier.py and eval_image_classifier.py (slim)?

Thanks

[2017-03-14 11:53] lipond opened #1166 "Is there a version of "tutorials/image/cifar10" compatibable with 0.11rc?"
I am using tf-0.11 and not able to update just now, so I come across some problems when running cifar10_train.py.

[2017-03-14 13:35] evolu8 commented on #698
Same problem. Upgraded to TF 1.0, now I get this error on training.  This is after using the upgrade script to convert my code. I responded with no errors when I ran it. Weirdly, inference works fine.

    apply_gradient_op = opt.apply_gradients(grads, global_step=global_step)`
...

    "VarScope?" % name)
ValueError: Variable conv0/weights/RMSProp/ does not exist, or was not created with tf.get_v

[2017-03-14 15:03] unitydynamics commented on #268
Months later I ran into this too.  I might sugest you include VM memory requirements / setting instructions for all platforms.

[2017-03-14 17:15] fjcamillo commented on #836
Also experiencing the same problem, on python 2.7. Hopefully, recompiling might save me.

[2017-03-14 23:24] #1083 closed

[2017-03-15 00:59] concretevitamin commented on #1155
@cshallue

[2017-03-15 04:29] sweaterr opened #1170 "Weight exploding when running Swivel with 8-GPUs"
Hello
I'm running the Swivel algorithm on my data. However, in single gpu, learning can be done without any problem, but when swivel is executed with 8-gpus, loss and weight become larger at about 100k global steps as follows, and learning can not be done properly.

![image](https://cloud.githubusercontent.com/assets/1518919/23933535/80ed00d6-0982-11e7-9b2b-149ffb4fb525.png)

environments
* data s

[2017-03-15 05:41] concretevitamin commented on #1170
Can you clarify what exactly is the code you're running?  It'd be great if you can also paste the cmdline you used.

[2017-03-15 05:41] ebrevdo commented on #836
Regarding the new seq2seq API, I just pushed the last of the basics: a new
rnncell decoder wrapper.  Should be in master tomorrow.  We'll be adding
more in the coming weeks but I hope we've now got feature parity with the
old legacy API.

On Mar 14, 2017 10:16 AM, "Jerhone" <notifications@github.com> wrote:

[2017-03-15 05:42] ebrevdo commented on #836
(well, + dynamic decoding and scheduled sampling)

On Mar 14, 2017 10:41 PM, "Eugene Brevdo" <ebrevdo@gmail.com> wrote:

[2017-03-15 05:47] concretevitamin commented on #1157
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-15 05:47] #1157 closed

[2017-03-15 05:48] ebrevdo commented on #1050
Lukasz, can you update the tutorial?

[2017-03-15 05:48] concretevitamin commented on #1156
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-03-15 05:50] concretevitamin commented on #1162
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-03-15 05:50] #1162 closed

[2017-03-15 06:06] concretevitamin commented on #1153
The model code assumes a higher version of TensorFlow, where the 4th argument `strides` has been made optional.  See [here](https://www.tensorflow.org/api_docs/python/tf/strided_slice).

[2017-03-15 06:06] #1153 closed

[2017-03-15 06:10] lukaszkaiser commented on #1050
I think we decided to wait for the new tutorial, there are many problems with the old one and it's going away very soon (I hope).

[2017-03-15 06:33] #1166 closed

[2017-03-15 06:44] sweaterr commented on #1170
I modified the code in  [`tensorflow/models/swivel/swivel.py`](https://github.com/tensorflow/models/blob/master/swivel/swivel.py) as follows.
[code]
and run as follows
[code]

[2017-03-15 06:47] lipond opened #1171 "At directory "tutorials/image/cifar10", running cifar10_train.py and cifar10_multi_gpu_train.py got similar trainning speed."
## tutorials/image/cifar10

I use tf 0.11 in a gpu server with 2 K20m, equiped with CUDA-8.0 and cuDNN 5.1. I got similar trainning speed running cifar10_train.py and cifar10_multi_gpu_train.py, and did not see speeding using multi gpus. And using "watch -n 0.1 nvidia-smi" to monitor, gave the same conclusion.

## Running cifar10_train.py got following outputs:
I tensorflow/stream_executor/dso_loa

[2017-03-15 07:18] shivanraptor commented on #284
Exact same issue with Mac OS X Sierra 10.12.3

    Bazel version: 0.4.4-homebrew

Same error as @borisstock as well. After installed `mock` and `asciitree` via `pip install mock` and `pip install asciitree`, the `demo.sh` still has `ImportError: no module named mock` (same for asciitree as well).

    TensorFlow version: 1.0.1

[2017-03-15 07:59] BitcoinKing opened #1172 "Support Python 3 for SyntaxNet"
Is there a Python 3 support for SyntaxNet https://github.com/tensorflow/models/tree/master/syntaxnet  ?

[2017-03-15 08:06] i-akbari commented on #1162
I think it is a bug!

[2017-03-15 10:13] #434 closed

[2017-03-15 11:23] redserpent7 opened #1173 "[Slim] training ImageNet from scratch"
I am trying to prepare the date to train an ImageNet model from scratch and I am a bit confused about how the training works.

While preparing the TF records I noticed this file inside the Inception model data directory: "imagenet_metadata.txt". The file holds labels for 21842 classes yet the training script and "imagenet_lsvrc_2015_synsets.txt" file only works for 1000 classes.

I am wondering wh