[2021-06-25 13:33] mbanani commented on #9158
Thank you for linking this @ymodak!

[2021-06-25 13:53] BioWar commented on #8265
@soltaniehha How do you check the region of your Colab VM?

[2021-06-25 14:31] btburton42 commented on #9706
100% this. Didn't have to touch Python or TF.

[2021-06-25 18:27] frederick0329 commented on #10084
Thanks for the fix!

[2021-06-25 18:27] #10084 closed

[2021-06-25 18:52] fdsig commented on #7767
On Linux only:

`sudo apt updat

update-alternatives --install /usr/bin/python python /usr/opt/python3.7

virtualenv -p python3.7 contrib/**insert your path/and name for virtual environment)

source **insert/path/to/environment**/bin/activate

pip install tensorflow==1.** `

As mentioned above this wont work on python 3.7 or later.

useful links are:

[https://www.tensorflow.org/guide/migrate](htt

[2021-06-25 19:40] yeqingli commented on #10092
hi riyaj8888,

What checkpoint are you using? What do you mean by `completely wrong` (or what is the expected output)?
Do you have runnable steps to reproduce the issue?

[2021-06-25 22:22] rezama commented on #10099
With icp loss.

[2021-06-26 03:17] salman-a-shah commented on #10059
Same issue here. Anyone found a solution?

[2021-06-26 03:44] amituofo1996 commented on #2194
I also meet this problem,just data broken

[2021-06-26 04:50] Shakerlicious commented on #9771
I have a quick fix for this. It might not be ideal but it works! In the model_lib_v2.py script, add these few lines of code,

[code]
on top of
[code]
Insert this function somewhere
[code]

and add this modification
[code]

The idea is to keep a record of the best mAP score at each evaluation run and then copy that checkpoint to a file called 'best-ckpt' if the current checkpoint has a better mAP s

[2021-06-26 06:29] #9137 closed

[2021-06-26 16:30] saikumarchalla commented on #10071
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-06-26 16:32] #10071 closed

[2021-06-27 00:50] daniqsilva25 commented on #10071
Yes, I have tested TF1 OD API with the last version and it worked correctly!
Thank you very much!

[2021-06-27 00:59] saberkun commented on #10074
Thanks for reporting the concerns. Yes, it is our job to add the doc. Will do.

For Electra, yes, it can reproduce the pretraining and on finetuning metrics, we can make the paper results for small and base. The original electra finetuning added per-layer learning rate adjustment and we feel it may help the larger and deeper model quality.

Overall, we have a paper published based on the Electra b

[2021-06-27 15:27] Priyabrata409 opened #10100 "faster_rcnn_resnet101_v1_640x640_coco17_tpu-8 model showing error on Tensorflow 2.5"
I am using python3.8 and Tensorflow 2.5. I am trying to use faster_rcnn_resnet101_v1_640x640_coco17_tpu-8 model to do object detection but it is showing me following error
I0623 11:55:46.608306 5796 config_util.py:552] Maybe overwriting use_bfloat16: False
Traceback (most recent call last):
File "Tensorflow\models\research\object_detection\model_main_tf2.py", line 113, in
tf.compat.v1.app.run()
Fi

[2021-06-27 17:25] Nannigalaxy opened #10101 "How to plot model graph using keras plot_model function or model summary or anything similar?"
I could not get the plot of model graph of tensorflow object detection models.
Is there any script to handle this? Where should I look for?

Thank you.

[2021-06-27 17:48] Nannigalaxy commented on #10029
Create a checkpoint manager to save checkpoints then convert that to pb file.

[code]

Then run `exporter_main_v2` script to export model to pb file

[2021-06-27 20:24] eriosta commented on #10038
Try this:

`pip install -U tensorflow==2.3.0`

see broken's response on [here](https://github.com/tensorflow/text/issues/385)

[2021-06-28 11:27] antocad opened #10102 "MobileNet-V2 SSD: Is there a script to test a model and which returns the mAP value and some other metrics ?"
Hi, I would like to know if there is a way to test a model (from a .tfrecord file or .jpg) and which returns the mAP value and some other metrics ?

Thank you.

[2021-06-28 17:58] salpert-humane commented on #9848
I am wondering the same thing. In addition, when exporting the model, I only get the standard outputs for bounding boxes, but no keypoints. There's no documentation on how to export the model to get the Keypoints location. Anyone has been able to do this?

[2021-06-28 18:10] ChainYo commented on #10103
Could you check your config file?
You should see something like `num_classes:` that you can configure to 1.

Check also your code that generate `tf.record` it needs also the right dictionary for your classes.

[2021-06-28 19:40] YASHGUPTA2611 commented on #9706
Just downgrade the Numpy version to 1.19.5 and you are good to go.

[2021-06-29 00:07] ymodak commented on #10101
You may use [Netron](https://github.com/lutzroeder/netron) to visualize your model.

[2021-06-29 06:44] Nannigalaxy commented on #10102
You can get mAP, P-R curve on the validation set with [this](https://github.com/Cartucho/mAP).

[2021-06-29 16:34] saikumarchalla commented on #10100
@Priyabrata409 Could you please confirm if you are facing the issue on TF 2.4 as well. Thanks!

[2021-06-29 17:29] VirajDeshwal commented on #9706
Downgrading Numpy won't fix for some of the users. Writing down the errors with Numpy 1.21 and 1.19 below and my fix.
Error with Python 3.8 and Numpy 1.21
`NotImplementedError: Cannot convert a symbolic Tensor (cond_3/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported`

Error with Python 3.8 and Numpy 1.19.5
`Value

[2021-06-29 18:46] salpert-humane commented on #2366
@dustindorroh - Are the keypoints expected to be normalized as the bounding boxes? (normalization by image width and height).

[2021-06-29 19:12] salpert-humane opened #10104 "CenterNet with Keypoints - TFRecord format requirements"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md

## 2. Describe the issue

There is no sample script or descript

[2021-06-29 19:17] YASHGUPTA2611 commented on #9706
Hi, @VirajDeshwal
Yes you are right, not working in a new environment can also cause this error.

[2021-06-29 20:11] VirajDeshwal commented on #9706
@YASHGUPTA2611 Try making a new conda env with python=3.6 and install TensorFlow. Hope it will work for you.

[2021-06-29 22:20] Swazir9449 commented on #10104
Hi,

I am having this same issue. Please help with any guidance on how to do this.

[2021-06-30 04:41] hongym7 commented on #10054
Thank you

[2021-06-30 04:41] #10054 closed

[2021-06-30 06:34] izeitak commented on #9982
On a similar issue, can you provide the config file used to train? There is no link in:
https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md

[2021-06-30 06:45] izeitak opened #10105 "Missing Config in Documentation"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/vision/MODEL_GARDEN.md

## 2. Describe the issue

A clear and concise description of what needs to be changed.
On a

[2021-06-30 08:20] SiddharthBhurat opened #10106 "Implementing vid2depth model for depth inference in real time"
@rezama
Hi, please can I get some resources which I can study to run vid2depth inference in real time. Wherein I continuously capture frames from camera (specifically pi camera running on raspberry pi) and feed it to the model for real time inference.

[2021-06-30 14:34] Drisnor commented on #9278
Hello, sorry for the inconvenience but I have currently the same issue. I'm using Tensorflow 2.5.0 with the right CUDA version, my model is ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03 and so I modified the associated config file : ssd_mobilenet_v2_quantized_300x300_coco.config (from https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v2_q

[2021-06-30 14:37] Drisnor opened #10107 "Ìssue while retraining ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03"
Hello, sorry for the inconvenience but I have currently the same issue. I'm using Tensorflow 2.5.0 with the right CUDA version, my model is ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03 and so I modified the associated config file : ssd_mobilenet_v2_quantized_300x300_coco.config (from https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v2_q

[2021-06-30 18:34] Swazir9449 commented on #10065
@lisosia I don't have the solution to this problem. But I was wondering if you know how to encode key points for this model as they are supported for this one. I cannot find any documentation for this.

[2021-07-01 01:36] Tob-iee commented on #10038
It didn't resolve the issue, of you have an idea what the main issue might be please that would b more helpful

[2021-07-01 15:39] RSKothari commented on #6853
I am facing the same issue. Is this caused due to different tensorboard versions?

[code]

[2021-07-01 20:58] #10064 closed

[2021-07-01 21:09] YknZhu commented on #10016
Thanks for submitting this issue!

As a quick workaround, you can comment out line 435/436 in train.py. Profiling won't affect training model performance.

Going forward, could you check our updated TF2 version of deeplab at https://github.com/google-research/deeplab2? This would work better with latest tensorflow versions.

[2021-07-01 21:43] soltaniehha commented on #8265
@BioWar You can simply look up the IP address of your VM (something like `!curl ifconfig.me` in your Colab cell) and then look up which geolocation that IP belongs to. Probably there are easier ways to do it but this worked for me.

[2021-07-02 15:12] abbesmoe commented on #10025
have same exact issue.

[2021-07-02 16:28] AditaSukmaW commented on #7703
Hi your fault and mine are the same, how do you solve it?

[2021-07-02 21:02] HossamAmer12 opened #10109 "MobileNet V2 Checkpoint and Frozen Weights are different"
- Tensorflow 1.4
- MobileNet V2 Model:
https://storage.googleapis.com/mobilenet_v2/checkpoints/mobilenet_v2_1.4_224.tgz

When I compare the weights using inspect_chekpoint.py of the saved checkpoint and frozen model in the link above, I found these weights **different**.

**Could you please either point me to the right checkpoint or show me how I can reproduce the uploaded pb file given the upload

[2021-07-03 01:33] #10067 closed

[2021-07-03 01:33] #9846 closed

[2021-07-03 01:33] #10019 closed

[2021-07-03 05:40] gganduu commented on #9926
Sure, I tried different optimizer, learning rate, I don't think it caused by this. Have you try my code and repeat this issue?

[2021-07-03 09:38] aniiketdongare07 commented on #7703
import tensorflow.compat.v1 as tf for all symbols.

tf.compat.v1.disable_v2_behavior() calls inside main.

Try this?
Aniket Dongare

On Fri, Jul 2, 2021, 9:59 PM AditaSukmaW ***@***.***> wrote:

[2021-07-03 13:26] mathshangw opened #10110 "mismatch In[1] shape: 1108 vs. 1120"
`tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.`
`     (0) Invalid argument:  In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
 `   [[node model/dense/MatMul (defined at rnn_flickr_fit.py:273) ]]`
`   (1) Invalid argument:  In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
   ` [[node model/dense/MatMul (defined at rnn_fl

[2021-07-03 16:42] ngoanpv commented on #9003
Hi @feiwofeifeixiaowo,
Have you fixed the error to train on TPU successfully? Could you please give me suggestions?

[2021-07-04 08:38] liadpkatz opened #10111 "MoViNet export_saved_model_test.py script fails"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [V] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [V] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [V] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-04 22:57] tomrh16 commented on #9706
its now basically impossible to get numpy 1.19.5 to work with any other python package. PLEASE can this be fixed so we can use numpy 1.20.2 or greater?

[2021-07-05 05:14] ankita0204 commented on #9706
@tomrh16 it can be easily fixed by reinstalling pycocotools

[2021-07-05 07:22] YASHGUPTA2611 commented on #9706
Hi, @tomrh16  you can easily install any version of Numpy using Anaconda Navigator
![c6b895be-960a-4429-ad17-520a06ccc34c](https://user-images.githubusercontent.com/74678250/124432888-bdd75600-dd8f-11eb-8def-1d7e6a320056.jpg)

[2021-07-05 11:56] PoornimaDevii commented on #9819
Actually modified the config file for centernet mobilenetv2 as per this stackoverflow comment. This worked for me. Check it out. Hope this helps you too.
https://stackoverflow.com/questions/66457432/error-indices0-0-not-in-0-0-when-training-centernet-mobilenetv2-fpn-512x/67705978#67705978

[2021-07-05 14:33] #10013 closed

[2021-07-05 18:26] saberkun commented on #10110
For general TF problem, stack overflow and TF core repo might be a better place.
It seems that the code you should is not from a model in this tensorflow/models repo.
Sorry, I will close this issue for now.

[2021-07-05 18:26] #10110 closed

[2021-07-06 09:18] cocolitto commented on #9524
Working on Windows with PyCharm and pip_env I'm faceing the same issue.
Could you tell me what the solution was? Is it a dependency problem?

Thanks
Corsin

[2021-07-06 13:59] Johannes-vaki commented on #10107
I'm not sure but you can try changing to fine_tune_checkpoint_version: V2 (the default is V1) in the train_config since you are using v2_keras. I recommend looking into the [protos](https://github.com/tensorflow/models/tree/master/research/object_detection/protos) when you are having trouble with the pipeline.config file.

[2021-07-06 14:03] Drisnor commented on #10107
Hello, thanks for your answer but I checked and there is no attribute fine_tune_checkpoint_version anywhere, nor in the pipeline.config, nor in the ssd_mobilenet_v2_quantized_300x300_coco.config

[2021-07-06 14:53] lisosia commented on #10065
@Swazir9449

First of all, object detection and keypoint detection are two different things and need to be distinguished.

I have not used this repository for keypoint detection, but as far as I know, there is no documentation for keypoint detection.
Therefore, you need to check the config file or the script for dataset creation to understand what you need to do.

For example
- `configs/tf2/center

[2021-07-06 14:57] lisosia commented on #10065
My conclusion is probably correct, and since there seems to be no response, I will close the issue.

I think the proper way is to add an option to `protos/center_net.proto` to specify the momentum, but in my case it was enough to override the value in `models/keras_models/mobilenet_v2.py`.

[2021-07-06 14:57] #10065 closed

[2021-07-06 15:20] Johannes-vaki commented on #10107
You have to add it. It is part of the proto's definition. https://github.com/tensorflow/models/blob/master/research/object_detection/protos/train.proto#L68

[2021-07-06 16:19] Ahmadmustapha1 commented on #9141
Thank you all, batch_size was 8 and it got stuck. By reducing to 4, it runs succesfully.

[2021-07-06 17:06] JakeMalis opened #10113 "ModuleNotFoundError: No module named 'object_detection'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-07-06 19:17] chedanix commented on #3365
@dinis-rodrigues

Thank you so much for the detailed explanation. I have successfully included negative background images with your approach. The result is great.

[2021-07-06 22:26] joshua-cogliati-inl commented on #9706
This also fixes it for me (Python 3.7.10, tensorflow 2.4.1).
@Amir22010's fix as a patch:
[code]

[2021-07-06 22:56] #3365 closed

[2021-07-07 03:20] rezama commented on #10106
There is sample inference code in https://github.com/tensorflow/models/blob/master/research/vid2depth/inference.py.

I would try Googling `raspberry pi tensorflow inference` or similar queries.

[2021-07-07 05:54] shubham7066 commented on #1957
i m also getting same error
Any suggestion what to do

[2021-07-07 11:32] Manudulux commented on #9875
Hi there, did anyone find a solution?

[2021-07-07 13:41] joshua-cogliati-inl commented on #9706
There is an open pull request to fix this: https://github.com/tensorflow/tensorflow/pull/48935

[2021-07-07 16:47] jeisinge opened #10115 "Enable Serialization of BertTokenizer"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ X ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/official/nlp/modeling/layers/text_layers.py

## 2. Describe the feature you request

The BertTokenizer appears to wrap the tf

[2021-07-07 17:51] 007rohitSaini opened #10116 "Error using Config in object detection even after changing tf.gfile to tf.io"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-108-efc7822bb0d7> in <module>
----> 1 config = config_util.get_configs_from_pipeline_file(CONFIG_PATH)

~\anaconda3\lib\site-packages\object_detection\utils\config_util.py in get_configs_from_pipeline_file(pipeline_config_path, confi

[2021-07-07 17:54] 007rohitSaini commented on #10113
pip install tensorflow-object-detection-api

[2021-07-07 18:10] qlzh727 commented on #10025
Looking from the stack trace above, it seems that your PIP env has an old keras 2.1.6 installed. When we split keras code from tensorflow/python/keras to it new repository in keras-team/keras, we reuse the existing keras PIP package name, and now it is a dependency for tensorflow. The error above is because the old keras package get picked up. Please try uninstall keras 2.1.6 (or any old keras pac

[2021-07-07 19:28] Mrinal18 commented on #6752
Hey @himanshu-dutta , what is the status of this issue? are you still working on this?
@jaeyounkim, is the new codebase updated, can we still contribute on this?

Thanks,
Mrinal

[2021-07-07 19:53] kevsieb commented on #7853
I just come to share my solution regarding this issue.

I experienced the same behavior, the training being stuck, frozen, after several epochs, without any error.
After digging, it appeared the problem did not come from the training but from the evaluation step, (using model.evaluate() from keras) that follows right after. The test dataset, provided by a generator, was actually an empty list. No

[2021-07-07 20:10] Mrinal18 commented on #10116
In label_map_util.py

replace tf.gfile.GFile to tf.io.gfile.GFile and try.

Thanks,
Mrinal

[2021-07-07 20:44] iamaama commented on #9106
I reduced the Batch size to  4 and steps to 4000.. it seems to work now.

[2021-07-07 23:07] evanatyourservice commented on #9590
This error still exists

[2021-07-07 23:57] arashwan commented on #9590
@evanatyourservice I wasn't able to reproduce the error. Are you using the latest tf release 2.6? Are you using the latest official release? Can you list here the config printed when running the eval?

[2021-07-08 01:12] JakeMalis commented on #10113
Thanks for the tip, but the tutorial says that it should install as the code is shown in the repository, which it doesn't. I know I could install it with pip but it would be easier for newbies to learn if the provided code wasn't broken.

[2021-07-08 04:03] 007rohitSaini commented on #10116
i have changed import tensorflow as tf to import tensorflow.compat.v1 as tf and it workes

[2021-07-08 04:56] xuelianl commented on #5625
can you elaborate on what you did? I am having the same issue and need help but I am not exactly sure how to do it. @huzq85 @TomatoQt

[2021-07-08 07:01] Mrinal18 commented on #10116
That's great!
Please close this issue in that case

[2021-07-08 07:07] Mrinal18 commented on #10090
maybe take a look into this SOF issue:
https://stackoverflow.com/questions/57582597/value-error-no-such-layer-extracting-the-output-of-a-tensorflow-keras-layer

[2021-07-08 15:38] saikumarchalla commented on #10113
@JakeMalis Please update the cells with the below code  and it will work. Thanks!
[code]

[2021-07-08 17:03] JakeMalis commented on #10113
I did in the attached Pull Request

[2021-07-08 19:10] CliveKBinu commented on #3397
any updates on this feature ?

[2021-07-09 04:55] dustindorroh commented on #2366
That sounds correct. It’s been a while, but I remember keeping the
keypoints normed with respect to the bounding box. The keypoint bookkeeping
is a pain otherwise.

From my own personal experience/mistakes I made, I had the bounding box
coordinate transform backwards from the key point transform…. Or was it the
other way… lol.

Best of luck!
Dustin

On Tue, Jun 29, 2021 at 11:46 AM salpert-humane

[2021-07-09 06:57] sonkarsr commented on #5417
To solve typeerror on genrate TFrecord file:
def class_text_to_int(row_label):
    if row_label == 'x':
        return 1
    elif row_label == 'y':
        return 2
    elif row_label == 'Z':
        return 3
    else:
        return None
Solution: else:
                 return 0

[2021-07-09 07:38] SokPhanith opened #10119 "convert to tensorrt got issue nasnet_mobile image classification"
# Prerequisites
jetson nano board
CUDA : 10.2
tensorrt : 7.1
cudnn : 8.0
jetpack  : 4.5.1
Tensorflow 1.15.5
## 1. The entire URL of the file you are using

https://storage.googleapis.com/download.tensorflow.org/models/nasnet-a_mobile_04_10_2017.tar.gz

## 2. Describe the feature you request

I convert nasnet mobile from checkpoint to frozen_graph.pb and then I test with frozen_graph.pb it's workin

[2021-07-09 08:33] Viking1726 commented on #7400
I'm not sure. I follow the document

[2021-07-09 10:07] AI-P-K commented on #8844
Did you guys succeeded in solving this problem? I have trained Mask RCNN with TF2 Object Detection API and now i want to do inference with OpenCV method readNetFromTensorFlow. I get both the errors stated above  'RuntimeError: tf.placeholder() is not compatible with eager execution' and after disabling eager execution i get 'NameError: name 'contrib_tfprof' is not defined'. Anyone resolved the iss

[2021-07-09 13:12] ahmadchalhoub opened #10120 "exporter_main_v2.py on official TF2 OD checkpoints produces saved_model.pb different than official saved_model.pb"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-07-09 15:36] ahmadchalhoub commented on #10120
Please, I would really appreciate any advice or feedback regarding this! I have looked at and tried everything involved in the process of training an OD TF2 model using the TF OD API and the exporting of checkpoint to SavedModel but still can't figure out what's wrong! It would be really useful to know how exactly the SavedModels in the official TF2 Zoo repos are exported.

@jch1 @tombstone @vighn

[2021-07-09 17:49] #10101 closed

[2021-07-09 18:33] ymodak commented on #9823
https://blog.tensorflow.org/2021/06/easier-object-detection-on-mobile-with-tf-lite.html

[2021-07-09 22:36] ksricharank commented on #8062
I made an attempt at addressing this by replacing tf.contrib.framework.model_variable with tf.Variable.

For example, I modified

`    dual_variable = tf.contrib.framework.model_variable(
        name=name,
        shape=shape,
        dtype=dtype,
        initializer=initializer,
        collections=collections,
        trainable=trainable)`

in loss_layers.py (line 830) to

`      init = tf.cons

[2021-07-09 23:04] ymodak commented on #9213
https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/pr_curve/README.md

[2021-07-09 23:04] #9213 closed

[2021-07-10 02:23] #10079 closed

[2021-07-10 02:23] #10093 closed

[2021-07-10 02:23] #10080 closed

[2021-07-10 11:43] amirabenrabah commented on #8154
@dorarad
where can i find this file tensorflow/python/ops/image_ops_impl.py please ?

[2021-07-10 23:35] EdwinKuriakose opened #10124 "tensorflow.python.framework.errors_impl.InternalError: cudaGetDevice() failed. Status: initialization error"
****System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.5.0
- Python version: 3.9
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 11.2/8.1.0
- GPU model and mem

[2021-07-11 12:05] athenasaurav commented on #9706
This is the perfect solution without downgrading numpy or any things.

In case you are in base conda env then the Path will be like this :

[code]

Just open the file in any editor
Add the following lines in starting to import
[code]
then search for  ```def _constant_if_small``` and then replace the entire function to this :

[code]

[2021-07-11 14:46] Nomia opened #10122 "object detection stucked at CUDA_ERROR_OUT_OF_MEMORY, tried every solution, not working"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [√ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [√ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ √] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-07-11 15:04] pannawis commented on #9057
You must use space instead of "=" if your path is not variable

[2021-07-11 17:14] abheesht17 opened #10123 "Add the FNet model to the Repository"
- [x] I checked to make sure that this feature has not been requested already.

I plan to implement [FNet](https://arxiv.org/abs/2105.03824).

A couple of months ago, James Lee-Thorp at al. came up with FNet, where they use Fourier Transforms to "mix" the tokens. They achieve 92-97% of the performance of BERT on the GLUE benchmark. The major advantage, of course, is the boost in speed. This model

[2021-07-11 18:59] vgangal101 commented on #6752
@himanshu-dutta Are you still working on this ?

@jaeyounkim can we still contribute on this? I am very much interested in adding a implementation

[2021-07-11 19:13] ojasvisancheti commented on #2203
Hey, all I am calling model_main_tf2.py for training, and in my case model_lib.py doesn't get called instead of that model_lib_v2 is getting called.  As there is no code of freeze_variables configuration in the model_lib_v2 i am afraid my layers are getting freeze or not? , can anyone please help

[2021-07-12 10:03] Johannes-vaki commented on #10120
If you can I'd recommend trying to switch python and tensorflow versions, to python3.7 and tf2.5 or even tf-nightly. I have been working with the SSD Mobilenet v2 as well and had kind of similar conversion issues, just regarding tflite conversion. I hope it solves your problems.

[2021-07-12 13:23] Apidwalin opened #10125 "models"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/...

## 2. Describe the issue

A clear and concise description of what needs to be changed.
[CONTRIBUTING.md](http

[2021-07-12 13:34] Apidwalin opened #10126 "models-master"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-12 14:04] Drisnor commented on #10107
Hello so I have the following part in the config file :

  fine_tune_checkpoint: "C:/tensorflow1/models/research/object_detection/ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03/model.ckpt"
  fine_tune_checkpoint_type:  "detection"
  fine_tune_checkpoint_version: V2

Where I added the part that you mentionned and this seems not to train again with the same error :
[code]

[2021-07-12 17:17] cmranieri commented on #2203
Is it still possible to freeze layers in TF2, using the model_lib_v2? I am trying very hard to do this, in order to reproduce a method from a paper, but I have had no success so far. Apparently, the freeze_variables value is not being accessed anymore, so that the only way to freeze some layers is to dive into the API code and modify it, is it right? Can anyone help?

[2021-07-12 20:40] ahmadchalhoub commented on #10120
I tried to switch to Python 3.7 but unfortunately things went bad from there. I had many compatibility issues and eventually messed up my libraries and had to get a fresh install of Ubuntu 18.04. I am still facing this problem, and I think the reason for it is that when I am exporting my trained object-detection checkpoints to a SavedModel, I get the following warning (in bold):

2021-07-12 16:28:

[2021-07-13 07:29] shubham7066 commented on #9372
Getting this error on using model_main_tf2.py:

Traceback (most recent call last):
  File "model_main_tf2.py", line 115, in <module>
    tf.compat.v1.app.run()
  File "/opt/conda/lib/python3.7/site-packages/tensorflow/python/platform/app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "/opt/conda/lib/python3.7/site-packages/absl/app.py", line 30

[2021-07-13 07:30] shubham7066 opened #10129 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
Getting this error on using model_main_tf2.py:

Traceback (most recent call last):
  File "model_main_tf2.py", line 115, in <module>
    tf.compat.v1.app.run()
  File "/opt/conda/lib/python3.7/site-packages/tensorflow/python/platform/app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)
  File "/opt/conda/lib/python3.7/site-packages/absl/app.py", line 30

[2021-07-13 11:36] MaxPRon commented on #8858
As @sglvladi mentioned I think the current [inference_colab](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/inference_tf2_colab.ipynb) still uses:

`MODELS = {'centernet_with_keypoints': 'centernet_hg104_512x512_kpts_coco17_tpu-32', 'centernet_without_keypoints': 'centernet_hg104_512x512_coco17_tpu-8'}
`

The same goes for the mentioned label_map. It's n

[2021-07-13 13:05] PelinSuK commented on #9771
Thank you so much ^^

[2021-07-13 14:36] gouri1694 commented on #3739
Hi, There is no prediction code available with deeplabv3+ semantic segmentation. Can somebody please share if it's available or any reference, I have trained the model but I want prediction code, I don't have much knowledge on tensorflow

[2021-07-13 15:17] alexjaw opened #10130 "TF2 Detection API Models on mobile TFLite_Detection_PostProcess"
## 1. The entire URL of the documentation with the issue

[Running TF2 Detection API Models on mobile](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md)

## 2. Describe the issue

Have previously been able convert and quantize SSD mobilenet following the instructions for TF1 in [Running on mobile with TensorFlow Lite](https://github.com/tens

[2021-07-13 15:28] mikeperalta1 commented on #9706
+1 Editing array_ops.py as shown above worked for me.

Genius!

[2021-07-13 15:29] saikumarchalla commented on #10116
@007rohitSaini  Starting from TF 2.x, tf.gfile.* is replaced by tf.io.gfile.*. If you want to use tf.gfile, you need to downgrade your TF version to 1.x.

[2021-07-13 15:29] #10116 closed

[2021-07-13 16:17] ojasvisancheti commented on #9425
anyone has found config files?

[2021-07-13 17:19] ojasvisancheti commented on #7522
which feature output path you corrected and where?

[2021-07-13 17:20] ojasvisancheti commented on #7522
which feature output path you corrected and where?

[2021-07-13 19:12] #10103 closed

[2021-07-13 22:31] abucka opened #10131 "how to visualise attention masks?"
Hello,

I trained an AOCR model and exported it to SavedModel format. When I run model cli command to check the inputs and outputs of the model, I see the attention masks for each char. The attention mask has a shape of (1,484) which indicates a vector. Using this information, how can I visualise the attentions in the input image?

[2021-07-13 23:37] TranATT opened #10132 "Tflite Conversion not supported for mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8?"
## 1. The entire URL of the file you are using

http://download.tensorflow.org/models/object_detection/tf2/20200711/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8.tar.gz

## 2. Describe the bug

According to TensorFlow this model should be able to be converted to Tflite but when I am using the sample Google Colab provided to convert it and I add in the mask_rcnn model, I get this bug.
![imag

[2021-07-14 02:40] hongym7 commented on #3369
img_path = os.path.join(image_subdirectory, data['filename'])
  with tf.gfile.GFile(img_path, 'rb') as fid:
    encoded_jpg = fid.read()

  encoded_jpg_io = io.BytesIO(encoded_jpg)
  create_image = PIL.Image.open(encoded_jpg_io)

input image is grayscale image.
create_image is [ w, h, 3]

[2021-07-14 06:29] YongSeongLee25 opened #10133 "How to proceed with model evaluation"
Hello

You want to proceed with the evaluation in model_main_tf2.py.

python model_main_tf2.py --pipeline_config_path=/pipeline_d3.config --model_dir=model_570_1 --checkpoint_dir=model_570_1 --alsologtostderr

I understand that if you execute this code, you will proceed with the evaluation.
Just like in training, we print out the loss.
Map, Precision, recall, etc. are not visible.
Can you tell me

[2021-07-14 07:49] jxx789456 commented on #9057
I'm getting the same error when trying to train a custom model with model_main_tf2.py
Tensorflow 2.6
python 3.6
windows 10

Traceback (most recent call last):
  File "model_main_tf2.py", line 115, in <module>
    tf.compat.v1.app.run()
  File "D:\Anaconda3\lib\site-packages\tensorflow\python\platform\app.py", line 40, in run
    _run(main=main, argv=argv, flags_parser=_parse_flags_tolerate_undef)

[2021-07-14 13:31] saikumarchalla commented on #10124
@EdwinKuriakose  I  can able to install Tensorflow OD API  and it is installed successfully. Please check the gist [here](https://colab.research.google.com/gist/saikumarchalla/62ee67712b1f59687a7c838ae883afdb/models_repo.ipynb). Thanks!

[2021-07-14 13:45] Mayson12381 commented on #2961
Yes, this also helped me. Used this link for the upgrade to 2.0.2 https://www.programmersought.com/article/90096742523/

[2021-07-15 04:16] sandhyacs commented on #10104
@salpert-humane , yes you need to normalise the keypoint values...

[2021-07-15 04:18] sandhyacs commented on #10104
# Copyright 2017 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is dis

[2021-07-15 04:18] sandhyacs commented on #10104
`# Copyright 2017 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is di

[2021-07-15 04:22] ymodak commented on #10125
Can you please elaborate what your issue topic is? Thanks!

[2021-07-15 04:23] ymodak commented on #10125
duplicate https://github.com/tensorflow/models/issues/10126

[2021-07-15 04:23] #10125 closed

[2021-07-15 04:23] ymodak commented on #10126
Can you please elaborate what your issue topic is? Thanks!

[2021-07-15 10:51] Chitti21 commented on #10133
@saikumarchalla @YongSeongLee25
Hi I am also interested in knowing about this.

I guess --check_point flag takes the latest checkpoint. is there an option to :
1. get map at any desired check point
2. check the map directly at desired iou (like --map 0.5iou or --map 0.25iou and so on)
3. check the map at desired iou and desired conf_thresh
4. calculate the best map obtained during the entire train

[2021-07-15 14:38] ahmadchalhoub commented on #10120
No thoughts on this at all? @tombstone @pkulzc @jch1

[2021-07-15 16:12] #10100 closed

[2021-07-15 19:32] parrisem opened #10135 "ValueError: faster_rcnn_inception_v2 is not supported / ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject"
Hi, I'm trying to run this line of code in a virtual environment in the linux terminal:
`python3 model_main.py --logtostderr --model_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config`
as per instructions from this tutorial [here](https://gilberttanner.com/blog/creating-your-own-objectdetector)
but I get this error:

[code]
I then found out that it is because I am a

[2021-07-16 00:09] jvishnuvardhan commented on #10025
@Prithvi0167 Looks like this was resolved with @qlzh727 suggestion. I could not reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/2872d92fb6f6413c45568e22f0a4e1a3/untitled.ipynb) is a gist for reference.

If it is still an issue, please share a standalone code to reproduce the issue. Thanks!

[2021-07-16 02:28] vighneshbirodkar commented on #10120
@ahmadchalhoub Does the script produce an output file when left to run till completion ? Did you look at the output folder ? The logs seems like warnings and not really errors.

[2021-07-16 03:12] #10092 closed

[2021-07-16 04:27] abheesht17 commented on #10123
I believe I should add this to the ```official``` directory rather than the ```research``` directory because I plan to export the model to the Hub.

[2021-07-16 04:49] ymodak commented on #7548
https://github.com/tensorflow/tfjs-models/tree/master/deeplab

[2021-07-16 04:49] #7548 closed

[2021-07-16 06:27] tft-robert opened #10136 "Freezing layers when using Tensorflow Object Detection API?"
Is it possible to freeze specific layers when using Tensorflow Object Detection API?

For example, I am using EfficientDet downloaded from the Tensorflow 2 Model Zoo. The model is (as you might know) already trained on objects that I am interested to detect (cars and boats in this case), but I want to train it more on my specific use case. At the same time I do not want it to “forget” what it has

[2021-07-16 09:38] ilkin94 commented on #1990
Following code is needed at the end. Otherwise it will still fail:
`pip install tensorflow-object-detection-api`

[2021-07-16 11:40] omi9y commented on #10044
Are there any updates on this issue because its already more than a month now @jaeyounkim @tombstone @jch1 @pkulzc @saikumarchalla

[2021-07-16 12:23] ahmadchalhoub commented on #10120
Yes, the script does produce an output (saved_model.pb) file which I can use properly for inference! However, the trouble I'm facing is that when I'm trying to convert this output saved_model.pb to the other proprietary framework that I'm working with (which uses grappler to optimize the graph), it is disconnecting the nodes (I think right after the input layer) and is returning a fully disconnect

[2021-07-16 13:34] Ethylbenzol opened #10137 "Sucessful tflite conversion to uint8, but model has wrong box shape, class, and scores."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2021-07-16 13:50] vighneshbirodkar commented on #10120
Unfortunately we won't be able to help with that because we don't know what assumptions the proprietary framework is making about the graph. My guess is that something about the exporting changed inside tensorflow. https://github.com/tensorflow/tensorflow is a good place to follow up with that. the OD API has not changed any internal details about how the graph is exported.

[2021-07-16 13:50] #10120 closed

[2021-07-16 14:17] ahmadchalhoub commented on #10120
I understand your point, but if the conversion script to the proprietary framework is able to convert the official saved_model.pb file from the official repo but not the saved_model.pb file that is a result of the _exporter_main_v2.py_ file, then that must mean that the officia saved_model.pb file was exported differently?

[2021-07-16 15:41] bhack commented on #10120
Have you tried to check `SAVED_MODEL_SCHEMA_VERSION` on the available one?

[2021-07-16 15:58] ahmadchalhoub commented on #10120
I'm not sure I understand what the `SAVED_MODEL_SCHEMA_VERSION` is or how/where to check it. Would you mind giving me some direction please? @bhack

[2021-07-16 16:20] bhack commented on #10120
It is a member. See https://www.tensorflow.org/api_docs/python/tf/saved_model

[2021-07-16 17:05] ahmadchalhoub commented on #10120
I'm trying to access it for my saved_model but I think I'm approaching this wrong.

`import tensorflow as tf

loaded_model = tf.saved_model.load('/home/achalhoub/Desktop/Summer_Project/Speed_Limit_Project/my_model_dir_3000_steps/exported_model/saved_model/')
print(vars(loaded_model))`

Any tips on how to approach this?

[2021-07-16 20:00] bhack commented on #10120
Try with:

[code]

If it print TF 2.4.0 you can try the `/exporter_main_v2.py` with TF `2.4.0`

Remember that also model garden `exporter` is versioned. See:
https://pypi.org/project/tf-models-official/#history

[2021-07-16 20:02] ymodak commented on #10131
Have you tried https://github.com/tensorflow/tensor2tensor/tree/master/tensor2tensor/visualization ?

[2021-07-16 21:18] ahmadchalhoub commented on #10120
Thank you. It did show TF2.4.0, so I changed my TensorFlow version to TF2.4.0 and to tf-models-official==2.4.0. I then tried `exporter_main_v2.py` and once I tried to convert the saved_model.pb, I face the same issue.

I'm wondering if the function used to save the saved_model.pb file internally at TensorFlow is different than the default function used in the public TensorFlow OD API? I was lookin

[2021-07-16 21:36] bhack commented on #10120
Probably you can check https://github.com/tensorflow/models/blob/078eaaf3ffdff0d503e032640a221ccaecd5e158/research/object_detection/exporter.py#L356

[2021-07-16 21:38] vighneshbirodkar commented on #10120
For TF2 models this function is used

https://github.com/tensorflow/models/blob/master/research/object_detection/exporter_lib_v2.py#L212

[2021-07-16 23:41] dansitu commented on #9981
Any updates on this one?

[2021-07-17 02:37] ahmadchalhoub commented on #10120
The `exporter.py` function is used to export TF1 models I believe. So I’m not sure how I would incorporate that to save my TF2 OD models?

[2021-07-17 02:42] ahmadchalhoub commented on #10120
`exporter_lib_v2.py` is what’s called by `exporter_main_v2.py` to export the inference graph. So I would have to change something in `exporter_lib_v2.py` to get the same exact results as those in the TF2 Zoo official repos?

[2021-07-17 08:17] abheesht17 commented on #10123
@jaeyounkim, @tombstone, @jch1, @pkulzc, once I have your approval, I can start working on this.

[2021-07-17 10:20] bhack commented on #10120
The export on the zoo seems that was done with TF 2.4.0.
What I don't know if it was generated with `exporter_main_v2.py` and on what specific version of this of this scripts/libs. I suppose 2.4.0 but as It doesn't work probably It Is something else.

[2021-07-17 11:49] ahmadchalhoub commented on #10120
Yes that is where the confusion lies. Thank you very much though, I really hope your support through this!

Do you know anyone who works on this at TensorFlow that I can perhaps get in touch with here or on discuss.tensorflow.org? (I have tried to get in touch with Ms. Lea Thatkin since you’ve tagged her in our initial correspondence regarding this on the forum but it seems that she is away).

[2021-07-17 12:17] bhack commented on #10120
I suppose that @yarri-oss probably could help to contact the right developer.

[2021-07-17 13:39] ahmadchalhoub commented on #10120
Thank you @bhack!

@yarri-oss do you have any thoughts regarding this? I would really appreciate it.

[2021-07-17 16:48] vighneshbirodkar commented on #10120
The files in the model zoo were generated with exporter_main_v2. I am not sure where the difference is coming from.

[2021-07-17 17:45] ahmadchalhoub commented on #10120
are any ‘side_inputs’ used as arguments during the execution of `exporter_main_v2.py`? (I realize different models might have different answers but I’m mostly interested in http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz)

[2021-07-17 17:47] bhack commented on #10120
@vighneshbirodkar Can you use the `exporter` to generate again the savedmodel with the same hash?

[2021-07-17 18:18] vmdhhh opened #10139 "Local Installation instruction link from object detection tutorial is broken"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the issue

The local installation link from object_detection_tutorial.ipnyb is broken

[2021-07-17 20:11] vighneshbirodkar commented on #10120
@bhack That won't wok with latest TF because `model.tensorflow_version` will be different.
@ahmadchalhoub side_inputs are not used.

[2021-07-17 20:14] vighneshbirodkar commented on #10120
@ahmadchalhoub Can you re try with re-installing `tensorflow==2.4` ?

[2021-07-17 20:24] bhack commented on #10120
Yes it is exactly cause he has just re-exported with 2.4.0 after my request.

I suppose that @ahmadchalhoub cannot reproduce the same hash as the file you distribute.

[2021-07-17 20:59] Apidwalin opened #10141 "Bug Report"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-17 21:42] ahmadchalhoub commented on #10120
@bhack @vighneshbirodkar I have literally checked almost everything that I could think of to compare the saved_model.pb file from the official repo and the output saved_model.pb that resulted from the `exporter_main_v2.py` but cannot seem to find any difference. So I’m not sure why when I try to convert the file to another framework, the grappler optimizer is seeing my exported file as empty but n

[2021-07-17 21:45] vighneshbirodkar commented on #10120
Unfortunately we can't do that. Since we mostly use standard TF functions to export the model, I think https://github.com/tensorflow/tensorflow is a better avenue to follow up. Someone over there should be able to help you find out why there are differences.

[2021-07-18 01:55] vighneshbirodkar commented on #10120
I was looking at the history of tile file and I think this commit might have had an impact of the exported graph.
https://github.com/tensorflow/models/commit/0d6ce6025ffc2bed437160fc8b2e9934b3f82fad#diff-b1be120e3a86ccd8af2165d2b081db4c3ab9e0fed6ac6147253f445a303ed746

@ahmadchalhoub Can you sync before this commit and try again ? In particular, can you try the very first commit ?
https://github.c

[2021-07-18 02:05] bhack commented on #10120
Is the exporter deterministic? Can the export on that commit reproduce the same a savedmodel with the sha256 hash of the savedmodel in the currently distributed tar.gz?

[2021-07-18 02:17] vighneshbirodkar commented on #10120
I am not sure about it being deterministic because non-determinism could come from the TF side and other dependencies. But the export script itself is deterministic given a particular commit.

This commit
https://github.com/tensorflow/models/commit/0d6ce6025ffc2bed437160fc8b2e9934b3f82fad#diff-b1be120e3a86ccd8af2165d2b081db4c3ab9e0fed6ac6147253f445a303ed746

definitely changed the computation grap

[2021-07-18 05:36] wzh19980523 opened #10142 "absl.flags._exceptions.IllegalFlagValueError: flag --record_summaries=training: ('Non-boolean argument to boolean flag', 'training')"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

https://git

[2021-07-18 05:51] wzh19980523 commented on #10142
The entire URL of the file you are using
https://github.com/tensorflow/models/research

[2021-07-18 17:43] 01-vyom opened #10143 "Enable other tunable parameters for `create_optimizer` in `optimization.py`"
# Prerequisites

- [X] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/7ecbac3c3bb727cb9f6170476a6957465cffdee1/official/nlp/optimization.py#L68-L107

## 2. Describe the feature you request

Similar to `beta_1` as a tunable parameter for creating optimizers, we can add `beta_2`, `eps

[2021-07-18 20:35] ojasvisancheti commented on #2203
I found one option to do that go to object_detection/models/keras_model

Choose your model
i was working with resnet50 so I choose resnet_v1.py, go-to method  resnet_v1_50, and update it as:

print("I am ResNet50")
  resnet = tf.keras.applications.resnet.ResNet50(
      layers=layers_override, **kwargs)
  for layer in resnet.layers:
      layer.trainable = False
  print(" i am freeze")
  return re

[2021-07-18 21:48] djsamyak commented on #4881
If anyone is still stuck with it, what helped me was double checking my dataset. Some bounding boxes exceeded the image dimensions, leading to the error.

[2021-07-19 06:31] Richard-M-chen commented on #9698
@intouch1233 Would you like to share the specific code or script you used to train your dataset

[2021-07-19 12:29] Jon573 commented on #9785
Sorry, it has been a while and I only just got back around to this. @mah110mat your solution worked, thank you!!

[2021-07-19 12:29] #9785 closed

[2021-07-19 12:57] ahmadchalhoub commented on #10120
@vighneshbirodkar I exported my model using the (420a725#diff-b1be120e3a86ccd8af2165d2b081db4c3ab9e0fed6ac6147253f445a303ed746) commit and it solved the issue! Thank you so much! The converter was able to pass through the exported `saved_model.pb` exactly like it did with the one distributed in the official repo!

Thank you again so much, you have been a lifesaver. I really appreciate your constan

[2021-07-19 15:20] vighneshbirodkar commented on #10120
@ahmadchalhoub Any chance your custom script is doing backprop with respect to the input ?

Glad to know that the issue is solved in any case.

[2021-07-19 17:13] jvishnuvardhan commented on #10102
@Nannigalaxy Thanks for the answer. @antocad Can you please check the above answer and let us know whether it is resolved or not.

If not resolved, can you please share a simple standalone code to reproduce the issue. Thanks!

[2021-07-19 17:30] antocad commented on #10102
Yes it has resolved my issue! Thanks @Nannigalaxy for your answer :)

[2021-07-19 17:30] #10102 closed

[2021-07-20 06:07] Apidwalin opened #10145 "ISSUES"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the issue

A clear and concise description of what needs to be changed.
[ISSUES.md](https://gi

[2021-07-20 06:58] Apidwalin opened #10146 "labelImg"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-20 09:32] s-nesterov commented on #9161
Hi, I faced the same difficulties. it is completely unclear what kind of object annotations should be brought to and how exactly to change the training configuration file. I will be grateful for hints and any example

[2021-07-20 09:33] tft-robert commented on #2203
For Efficientdet B2 I get the following layers (truncated the output). But how do I know which layers too freeze? If I start training without freezing the layers it performs worse on the same of type of object that it should already be pretrained on. I don't want it to "forget" what it already knows at the same time that it should be able to learn new features.
[code]

[2021-07-20 09:43] Shuolongbj commented on #8813
expecting...

[2021-07-20 12:57] Lyhour-Chhay opened #10147 "what is the second stage IoU do in tensoflow object detection API ?"
Excuse me everyone, in the configuration file for training the model faster RCNN in tensorflow object detection API, there are two IoU: the first stage of IoU is 0.7 and second stage post processing IoU 0.6. I understand what the IoU meaning is. However, I want to know basic of these two IoU in the configuration model faster RCNN. I think the first IoU 0.7 use to get label and for the second IoU w

[2021-07-20 13:13] saikumarchalla commented on #10139
@vmdhhh Please check this [link](https://github.com/tensorflow/models/issues/10095) and it will fix the error. Thanks!

[2021-07-20 13:16] saikumarchalla commented on #10146
@Apidwalin Could  you please elaborate your query so that we can help you in a better way. Thanks!

[2021-07-20 13:20] saikumarchalla commented on #10142
@wzh19980523  Could you please provide the information like which pre-trained model are you using?.

Also, the URL you have provided is showing error. Thanks!

[2021-07-20 13:31] saikumarchalla commented on #10113
@JakeMalis  If the issue is resolved for you Please go ahead and close the issue . We can track the bug in PR seperately.Thanks!

[2021-07-20 13:34] #10113 closed

[2021-07-20 14:40] Shuolongbj commented on #8813
@hxfdanger @YknZhu

[2021-07-20 15:00] GPhilo commented on #10104
@salpert-humane I faced the same issue and took inspiration from the [coco TFRecord creation tool here](https://github.com/tensorflow/models/blob/4bd2888b8d2b0015a8fd28c8b9d3d3f275fd55ff/research/object_detection/dataset_tools/create_coco_tf_record.py#L239).

@sandhyacs Could you clarify a few things about the keypoints detection framework?

As far as I understand it, keypoints are specific to one

[2021-07-20 16:04] ahmadchalhoub commented on #10120
No I do not believe so.

In simplistic terms, if possible, what was the major change that happened after this commit https://github.com/tensorflow/models/commit/0d6ce6025ffc2bed437160fc8b2e9934b3f82fad#diff-b1be120e3a86ccd8af2165d2b081db4c3ab9e0fed6ac6147253f445a303ed746 ?

[2021-07-20 19:55] jabarragan1498 commented on #9712
Hola, estoy ejecutando el siguiente código:
import cv2
import numpy as np
import tensorflow as tf

cap = cv2.VideoCapture(0)

while True:
    # Read frame from camera
    ret, image_np = cap.read()

    # Expand dimensions since the model expects images to have shape: [1, None, None, 3]
    image_np_expanded = np.expand_dims(image_np, axis=0)

    # Things to try:
    # Flip horizontally
    # ima

[2021-07-21 01:57] wzh19980523 commented on #10142
sorry the URL is https://github.com/tensorflow/models
pre-trained is ssd_mobilenet_v2_320x320_coco17_tpu-8

[2021-07-21 02:06] wzh19980523 commented on #10142
i run flllowing command
 python3 model_main_tf2.py \
  --logtostderr \
  --model_dir=training \
  --pipeline_config_path=training/pipline.config \
  --checkpoint_every_n=200 \
  --record_summaries=training

[2021-07-21 02:07] wzh19980523 commented on #10142
I refer to this URL https://github.com/Sun-Yize-SDUWH/Deep-Learning-On-Raspberry-Pi-Zero

[2021-07-21 02:24] Choikyungho9 opened #10148 "Is there a command to continue training the model that was trained on?"
While training the model in Anaconda in Windows environment, for some reason, training was stopped in the middle.

Is there a command to continue training the model that was trained on?

please.

[2021-07-21 02:47] saberkun commented on #10123
@CrickWu will help review the implementation.

Yes, please send a PR to add the modules for official/nlp/modeling.

[2021-07-21 02:48] saberkun commented on #10143
Hi, we are using the configurable optimization now: https://github.com/tensorflow/models/tree/master/official/modeling/optimization
All params should be configurable now. It is not used in the legacy bert/ example.

[2021-07-21 03:33] duckduck-sys opened #10149 "pip install tf-models-official fails on python 3.6 / 3.8"
I create a fresh environment with

[code]

And then install with

`pip install tf-models-official`

It starts installing, but periodically prints messages like:

"INFO: pip is looking at multiple versions of X to determine which version is compatible with other requirements. This could take a bwhile."
"INFO: This is taking longer than usual. You might need to provide the dependency resolver with s

[2021-07-21 08:09] 01-vyom commented on #10143
Nice!! I was following this guide for [fine-tuning TF BERT](https://www.tensorflow.org/official_models/fine_tuning_bert#set_up_the_optimizer), and the `official nlp optimizer` was used to set up the optimizer. So, if this configurable optimization is ready, where can I find some examples for that? or can we change the above-mentioned fine-tuning example by using this configurable optimization? Let

[2021-07-21 09:27] LittleDijkstraZ opened #10150 "Redefinition of MovinetBlock's kernel_size"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ yes ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ yes ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file yo

[2021-07-21 10:22] VidyaKamath1089 commented on #2984
Using absolute path solved the problem for me.

[2021-07-21 11:15] mocialov commented on #9525
The issue resolved once I upgraded all the libraries and dependenices

[2021-07-21 11:15] #9525 closed

[2021-07-21 12:22] Apidwalin opened #10151 "Issue Bug Report"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-21 12:23] Apidwalin commented on #10151
[README.md](https://github.com/tensorflow/models/files/6855622/README.md)
[README-TPU.md](https://github.com/tensorflow/models/files/6855625/README-TPU.md)
[requirements.txt](https://github.com/tensorflow/models/files/6855626/requirements.txt)

[2021-07-21 12:44] gcunhase opened #10152 "Error importing: `input_reader_pb2` and `train_pb2`"
Error in line 31 of [`research/object_detection/data_decoders/tf_example_decoder.py`](https://github.com/tensorflow/models/blob/master/research/object_detection/data_decoders/tf_example_decoder.py):
[code]

And line 34 of [`research/object_detection/model_lib_v2.py`](https://github.com/tensorflow/models/blob/4bd2888b8d2b0015a8fd28c8b9d3d3f275fd55ff/research/object_detection/model_lib_v2.py#L437):

[2021-07-21 12:55] gcunhase commented on #10152
Solution found, run:
[code]

[2021-07-21 12:55] #10152 closed

[2021-07-21 13:19] ManojKumarTiwari commented on #8765
I was able to reproduce the issue with the latest repo. Please guide

[2021-07-21 14:31] GPhilo commented on #10104
For the record, I clarified those points myself. It is indeed as I described in my previous comment, I am currently training a model with two different keypoint detection tasks successfully and it seems to work as expected.

[2021-07-21 15:16] abucka commented on #5375
@rohitsaluja22 did you find out how to visualise attention maps and saliency maps?

[2021-07-21 15:47] s-nesterov commented on #10104
Hi, I have no experience using tensorflow (I used Pytorch exclusively before), but at the moment I decided to try to train the CenterNet model with key points. So far, as the first start, we managed to launch the training of CenterNet without key points, since unfortunately I could not find anywhere on the Internet any guidelines for creating annotations (in what form and format the description of

[2021-07-21 15:53] abucka commented on #10131
No I haven't, could you give me a hint how could I use it to process the SavedModel format output of aocr?

[2021-07-21 16:51] #10126 closed

[2021-07-21 16:51] ymodak commented on #10145
Can you please elaborate what your issue topic is? Thanks!

[2021-07-21 17:45] saberkun commented on #10143
Here is the unit test: https://github.com/tensorflow/models/blob/master/official/modeling/optimization/optimizer_factory_test.py
Here is the use case:
https://github.com/tensorflow/models/blob/master/official/core/base_task.py#L67

The bert tutorial was limited to the particular use case as a demo.
Yes, we will consider updating the colab which is a bit old already.

[2021-07-21 18:48] Homayra22 opened #10153 "Fluctuating Training Accuracy for Object Detection API"

[2021-07-21 18:50] Homayra22 commented on #10153
Hello, i am getting model training accuracy fluctuation when training my model from model detection zoo. Below is  a sample  of my model training accuracy

<div ccp_infra_version='3' ccp_infra_timestamp='1626893089942' ccp_infra_user_hash='2814707465' ccp_infra_copy_id='7c74ba5d-76a4-4779-b2ac-588a1f105cc0' data-ccp-timestamp='1626893089942'><html>

<head>

<meta name=ProgId content=Excel.Sheet>
<

[2021-07-21 18:52] Homayra22 commented on #10153
I am using Operating system Ubuntu 20.02 with GPU-RTX-8000. My batch size is 32 ,  total training images are 600.

[2021-07-21 19:26] remydolan commented on #8470
Hello, have there been any updates regarding this issue? I'm not sure how to use the Mask R-CNN for inference other than by saving it.

[2021-07-21 19:27] remydolan commented on #8470
Hello, have there been any updates regarding this issue? I'm not sure how to use the Mask R-CNN for inference other than by saving it.

[2021-07-21 20:07] prinse1545 commented on #8595
I am facing the same issue, using tf 1.15. I've checked that my bounding box values aren't negative and are within the image i.e between 0 and 1. Is there something else that could be causing the issue? The error message is incredibly cryptic.

[2021-07-21 22:25] luke-iqt commented on #9379
This should be reopened - I had the same error and this fix made it work: https://github.com/tensorflow/models/issues/9379#issuecomment-775019955

[2021-07-22 05:45] hanikh commented on #9766
hi, I am also looking for Early Stopping callback. is there any updates?

[2021-07-22 05:46] hanikh commented on #9766
hi, I am also looking for EarlyStopping callback. Are there any updates?

[2021-07-22 06:26] jvishnuvardhan commented on #10141
@Apidwalin Did you forgot to report the issue you are facing? Also, fill the issue template. Thanks!

[2021-07-22 06:29] jvishnuvardhan commented on #10049
@mohammad-sayed-ahmad Can you please explain what you have tried and more details about the issue. If you can share a standalone code that would help in resolving issues faster. Thanks!

[2021-07-22 07:27] gcunhase commented on #9156
Does anyone know how to adjust these paths with the COCO 2017 dataset? More specifically the `PATH_TO_BE_CONFIGURED`,`label_map.txt`, and the `????` in the *tfrecord* filenames.

[2021-07-22 07:54] MichaelSeitz98 commented on #1962
Hey guy,

I am trying to install the tfod api on linux. I did convert the protos-files to .py files via
`protoc object_detection/protos/*.proto --python_out=.`

However, I still get the same error message after compiling the protos files.

`(tfod) [username research]$ python object_detection/builders/model_builder_tf2_test.py`
`2021-07-22 09:38:07.654347: I tensorflow/stream_executor/platform/defa

[2021-07-22 08:08] 01-vyom commented on #10143
Thank you for the resources!! Looking forward to the update in the Colab example. Let me know if I can contribute in any way.

This issue can be closed.

[2021-07-22 09:29] amith-gowda commented on #10120
@ahmadchalhoub I have the same issue as you, trying to use this commit but I seem to run into an error

 `tensorflow.python.framework.errors_impl.OperatorNotAllowedInGraphError: iterating over 'tf.Tensor' is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.`

Tried with TF v2.5 and v2.4 but the same. Apologies if this is a trivial q

[2021-07-22 10:08] GPhilo commented on #10104
Hey! I'll try to summarize what I had to do in a more-or-less concise way, it's not very complex but it's a few steps.

## Premise

I'll describe the use-case of a multi-class, multi-keypoint detector. Specifically, I'll consider two distinct classes (C1, C2), each with their set of keypoints. In my scenario both classes have 4 keypoints each, but that's not required that the number of keypoints i

[2021-07-22 12:16] ahmadchalhoub commented on #10120
@amith-gowda I was having a bit of a hard time trying to target that specific commit too, as I'm not very experienced as well. I just replaced the `exporter_main_v2.py` and `exporter_lib_v2.py` files in my TF2 OD API installation with the the scripts for those files found in the commit. That seemed to work fine for me.

If you do end up knowing how to use that specific commit as a whole, please do

[2021-07-22 12:21] omarsinnno commented on #7222
Has anyone found a solution to the problem of mIOU not changing during training?

[2021-07-22 12:45] bhack commented on #10120
You can install on a specific commit with:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md#python-package-installation

You need a relative recent version of `protoc`:
http://google.github.io/proto-lens/installing-protoc.html

[2021-07-22 13:35] #10146 closed

[2021-07-22 15:28] ahmadchalhoub commented on #10120
@bhack wouldn't the installation instructions at https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md#python-package-installation just install the latest commit? Is there any additional steps to do to target the specific commit that is desired?

[2021-07-22 15:34] bhack commented on #10120
I think it will go to install the commit where you are on (git checkout <hash>). Or not?

[2021-07-22 16:13] Valdiolus opened #10154 "No info about COCO version of officially pretrained SSDLite Mobiledet"
Anyone can help with this question? Need to retrain Mobiledet, but could be issues without knowing about coco version (2014 or 2017).

URL where I got the model:
http://download.tensorflow.org/models/object_detection/ssdlite_mobiledet_edgetpu_320x320_coco_2020_05_19.tar.gz

Thanks!

[2021-07-22 16:30] ahmadchalhoub commented on #10120
I'm not sure what you mean by being on 'git checkout'. I'm not very familiar with the structure of things on GitHub, as I don't have that much experience. Is it possible to view all commits to a repo anywhere?

[2021-07-22 16:56] bhack commented on #10120
https://git-scm.com/docs/git-checkout

You can move on the commit that you want

[2021-07-22 17:09] anisyaamimi commented on #2543
Hi, is your problem solved? Because I'm having the same problem and tried many ways but still couldn't solve it.

[2021-07-22 17:32] ahmadchalhoub commented on #10120
Thank you!

So what I should do is the following?
`git clone https://github.com/tensorflow/models.git`
`git checkout --detach 420a725`
`cd models/research`
`protoc object_detection/protos/*.proto --python_out=.`
`cp object_detection/packages/tf2/setup.py .`
`python -m pip install --use-feature=2020-resolver .`

If so, I am facing the following error when I execute the `protoc object_detection/prot

[2021-07-22 17:56] jaskierLTD commented on #2543
https://www.codeproject.com/Articles/5130220/Make-Your-Own-Image-Classifier-On-Android-Using-Te
Try to look through this or any similar articles.

If you're sure that you have installed the object_detection module, which
python(2.7 or 3.0) uses it?
The most of problems are related to paths because we install all libraries
for python 3 but the default python 2.7 could be used by system defaults.
Ch

[2021-07-22 18:00] Hyperparticle commented on #10111
Are you still getting this error? We made changes to the script recently.

[2021-07-22 18:06] bhack commented on #10120
Probably at `420a725` the install was still not available.

[2021-07-22 18:10] bhack commented on #10120
On that commit the `setup.py` was still in the `research` subdir:

[code]

[2021-07-22 18:41] ahmadchalhoub commented on #10120
Ahh I see! Thank you so much @bhack!

[2021-07-22 19:13] ahmadchalhoub commented on #10120
It doesn't seem like using the whole commit with TensorFlow 2 would be the best idea. I faced a compatibility error so far while training a model using `model_main_tf2.py` due to some TF libraries.

I think the best overall solution for my issue, which is what I previously have done, is to use the newest TF2 OD API (master) and just use the `exporter_main_v2.py` and `exporter_lib_v2.py` scripts fr

[2021-07-22 19:18] bhack commented on #10120
Yes probably you will need to align with a TF version compatible with that commit.

It is a little bit out of control but if it works for you it is fine.

In the end it is still not clear what `meta_optimizer.cc` is trying to do in your use case.

[2021-07-22 19:20] ahmadchalhoub commented on #10120
Wasn't TF2 used during that commit?

[2021-07-22 19:23] ahmadchalhoub commented on #10120
Also, I am confused on how `meta_optimizer.cc` isn't on my laptop at all, yet it is still called during the process. From what I know, I can locate `meta_optimizer.cc` when I build TensorFlow from source, but when installing with pip, which is what I have now, I am not able to locate it.

[2021-07-22 19:42] Hyperparticle commented on #10150
Thanks for pointing out the bug. It has been fixed in https://github.com/tensorflow/models/commit/7bfd14d1b3d95c5496b6d379c2e033530d3027f9

[2021-07-22 19:42] #10150 closed

[2021-07-22 19:45] Hyperparticle commented on #10062
We have now trained new models that use the fixed padding. See https://github.com/tensorflow/models/commit/08f9393ab192a65a6be05793e2db5885963bc6d6.

[2021-07-22 19:45] #10062 closed

[2021-07-22 20:03] bhack commented on #10120
When it is installed It is going to the library compiled target.

The source is at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/meta_optimizer.cc

You can  debug compile TF to see what happens with your proprietary tool:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/grappler/optimizers/meta_optimizer.cc

[2021-07-22 20:14] ahmadchalhoub commented on #10120
Thank you! I'll remember to do this for future compilations of TF!

[2021-07-23 03:41] #10090 closed

[2021-07-23 04:29] saikumarchalla commented on #10139
@vmdhhh Closing the issue since  the issue is resolved. Please free to reopen the issue if you are facing the error still. Thanks!

[2021-07-23 04:29] #10139 closed

[2021-07-23 04:35] saikumarchalla commented on #10149
@duckduck-sys  Please  check the official  [documentation](https://github.com/tensorflow/models/tree/master/official)  for installing tf-models-official  with pip. Thanks!

[2021-07-23 07:50] s-nesterov commented on #10104
Thank you so much for the description! A lot has become clear, just 80-85% of the questions have become clear with your help! There are only a few points that I wanted to clarify with you. I will update the comment a little later to make it more or less structured.

[2021-07-23 07:58] #10143 closed

[2021-07-23 10:04] GPhilo commented on #10104
@s-nesterov Glad it helps :) I'm not sure whether just using the script you linked works, I guess if you have annotations in the same format used in the COCO dataset, it should work, yes (though it might have too many or too few shards, depending on the size of your dataset). In my case, since we use a different annotation format, I wrote my own conversion script based on the linked one (the actua

[2021-07-23 12:45] s-nesterov commented on #10104
@ GPhilo  Okey, thank you for the quick answers, I will try! ;)

[2021-07-23 15:04] Chitti21 commented on #9958
@vighneshbirodkar
I am getting the same error while doing the evaluation on COLAB.

Training works fine with the same config file:

`!python model_main_tf2.py --model_dir=/content/drive/MyDrive/Object_detection/tfod/training_demo/models/my_ssd_mobilenet_v2/vedai2/ --pipeline_config_path=/content/drive/MyDrive/Object_detection/tfod/training_demo/models/my_ssd_mobilenet_v2/vedai2/pipeline_vedai2.con

[2021-07-23 15:07] vighneshbirodkar commented on #9958
@Chitti21 Can you re-run your code with the latest commit ?

The error usually means that there is a different underlying issue. With the latest code, the underlying issue should be logged.

[2021-07-23 17:23] nilskk opened #10155 "WeightSharedConvolutionalBoxPredictor box_prediction_head not in self._prediction_heads"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-07-23 19:41] #9823 closed

[2021-07-23 21:38] #10141 closed

[2021-07-24 01:39] kotran88 opened #10156 "What I can use in model zoo in object detection with boxes is SSD mobile net v2?"
Hello
training process with ssd_mobilenet_v2_fpnlite_640x640 and 320x320 .
but it has less accuracy so I m trying to implement other models.

so I got ssd_resnet50_v1_fpn_640x640_coco17_tpu-8
and changed batch size to 4 num_classes to my label length ,
changed fine_tune_checkpoint
changed fine_tune_checkpoint_type to detection and labels

with below code.
it work perfectly with ssd_mobilenet_v2_fp

[2021-07-24 01:45] kotran88 commented on #10156
oh It was my mistake ! I didn't changed model name....:(
It work with other model than mobilenet!

[2021-07-24 01:45] #10156 closed

[2021-07-24 15:54] czcyd203 commented on #8020
Thanks, That's really helpful

[2021-07-25 09:08] Chitti21 commented on #9958
@vighneshbirodkar
I re ran the training by downloading the repo once again (#!git clone https://github.com/tensorflow/models.git).
Training works fine. However, I get the same error in the evaluation.

Could there be any other reason?

[2021-07-25 09:32] Zourunzhong commented on #2961
@Mayson12381
after the
python setup.py build_ext --inplace
python setup.py build_ext install

it only appears for the first conda list call
![image](https://user-images.githubusercontent.com/49776926/126894466-94bdbcbe-02d6-453d-9649-fb2259037cf6.png)

calling conda list again will show pycoco is back to 2.0, same for pip list
![image](https://user-images.githubusercontent.com/49776926/126894495-5

[2021-07-25 14:31] vighneshbirodkar commented on #9958
@Chitti21 Can you post the log with the latest code ? Note that you need to re install the package after cloning a new version.

[2021-07-25 18:45] Chitti21 commented on #9958
@vighneshbirodkar
**Command:**
`!python model_main_tf2.py --model_dir=/content/drive/MyDrive/Object_detection/tfod/training_demo/models/my_ssd_mobilenet_v2 --pipeline_config_path=/content/drive/MyDrive/Object_detection/tfod/training_demo/models/my_ssd_mobilenet_v2/pipeline.config --checkpoint_dir=/content/drive/MyDrive/Object_detection/tfod/training_demo/models/my_ssd_mobilenet_v2/`

**Error Messa

[2021-07-26 06:27] van-flow commented on #8062
I got roc_auc_loss to run after converting to TF 2.0. But precision_at_recall_loss did not work because of contrib errors. I followed @ksricharank 's advice and made changes as suggested, but continue to get the following error:

ValueError: 'outputs' must be defined before the loop.

I would appreciate if @ksricharank can share the loss_layers and util.py files that work.

[2021-07-26 06:30] YongSeongLee25 commented on #10148
모델 디렉토리 그대로 실행하면 체크포인트가 남아있어서 다시 실행됩니다.

[2021-07-26 10:43] liadpkatz commented on #10111
Thanks for responding, I am still getting the same issue, tested it again using ubuntu 16.04 and 20.04 with python 3.7 and 3.8.

[2021-07-26 12:46] aaronjohnsabu1999 commented on #2543
This is probably a silly mistake on my part but I happened to have a file named `object_detection.py` in the same directory as the script I was running and `import object_detection` was trying to import that Python file. Since that file didn't have a subsequent `utils` module, this error showed up...

[2021-07-26 14:58] luiboom opened #10159 "Object Detection API - EfficientDet D2 - suddenly get OOM on some thousandths iteration!"
Train EfficientDet D2 on my own dataset with 10 labels.
I started to get OOM on some thousandths iteration. Last time is was on 54600 iteration!
I made many changes in pipeline.config, to matched the model on my dataset specifications. But the issue of suddenly OOM starts after adding more aspect_ratios.

Train the models on GPU 3090 with docker.
Resize images before convert them to tfrecord.
Batc

[2021-07-26 15:52] vighneshbirodkar commented on #9958
Hi @Chitti21 , are you sure that you have installed the latest version of the API ? I am looking for these 2 lines in the logs but I couldn't find them.

https://github.com/tensorflow/models/blob/master/research/object_detection/model_lib_v2.py#L934

[2021-07-26 16:15] kabyanil commented on #10054
I hope this feature to check model summary gets added in the API someday. It's really useful as it displays all the layers in use. I'm finding it quite hard to get the model summary as the API masks all the implementation.

[2021-07-26 16:36] kabyanil opened #10160 "Model summary not available"
I trained my model and saved it in Tensorflow SavedModel format. How can I view the layers of the model in a similar manner to Keras model.summary()? Often times developers want to see what's happening under the hood. So it would be nice to have a feature to check model layers.

[2021-07-26 18:12] ymodak commented on #10160
Have you tried using GitHub - lutzroeder/netron: Visualizer for neural network, deep learning, and machine learning models 6 to visualize your model.
You may try using browser version that allows you quickly upload your model and it displays op level graph.

[2021-07-26 18:48] ymodak commented on #10131
The above method requires your model to be saved in ckpt format as per the instructions.

For your case, You may want to try https://github.com/jessevig/bertviz
They have clear steps to perform visualizations with their interactive colab.

[2021-07-27 08:07] Eths33 opened #10161 "MobileNet's example in google colab does not seem to be working"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Google Colab link ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Tried searching] I checked to make sure that this issue has not already been filed.

## 1. The en

[2021-07-27 11:20] abucka commented on #10131
But this transformers API applies to NLP and I am interested in Attention OCR: https://github.com/tensorflow/models/tree/master/research/attention_ocr. Using python/model_export.py script I get the SavedModel with the following outputs: attention_mask_0...n (n - number of chars detected). Each of these outputs has a shape of a vector (e.g. in my case (1,484)). I am not sure how to transform it to

[2021-07-27 13:11] iamchenxin93 opened #10162 "What is the last fixed image size when training FasterRCNN_Resnet101 model?"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/legacy/**train.py**

## 2. Describe the feature you request

The size of the input image is not limit

[2021-07-27 13:56] wangwenchao-job opened #10163 "The speed of training"
My problem is that the training is very slow.

I changed my custom project by referring to the example in Project.

Here is my configuration file

[code]
I have the following questions:

1. How is the epoch calculated in our project? I refer to this file official/vision/beta/configs/experiments image_classification/imagenet_mobilenetv2_gpu yaml, The calculation appears to be epoch = train_steps //

[2021-07-27 14:45] Fraccalo opened #10164 "No GPU usage - centernet_hg104 - TF object detection API"
- [ v ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ v ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ v  ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

http://download.tensorflow.org/models/object_detection/tf2/20200713/centernet_hg104_512x5

[2021-07-27 18:15] Chitti21 commented on #9958
@vighneshbirodkar Yes, I cloned the repo afresh on a new google drive account. No problem happens with the training. But metric evaluation causes the trouble.

[2021-07-27 22:42] Abhishekvats1997 commented on #10164
I experienced this issue in the past while training a couple of models on windows. Then after a lot of research I decided to try using Linux and there the GPU was being utilised properly.

[2021-07-27 22:48] Abhishekvats1997 commented on #9834
Hi this might be a bit unrelated but could you provide any insight on the config you used while training the centernet mobilenetv2. I am struggling on this for days, the training loss seems to decrease and everything seems fine while training but the model fails to give predicitions on val set and the mAP is close to zero.

[2021-07-28 05:33] rafeeqpinjar commented on #6036
TypeError: '>=' not supported between instances of 'NoneType' and 'float'

after trying  tf.keras.layers.Dense(3, activation="softmax")   this
im getting the above error please help me to solve
my actual code is
# implementing a callback function to terminate training once training reaches 98% accuracy for validation data

validation_accuracy = 0.98

class myCallback(tf.keras.callbacks.Callback):

[2021-07-28 07:24] perllaghu opened #10166 "Failing to install in a Tensor-flow Jupyter Notebook Docker image"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-07-28 08:54] perllaghu commented on #10166
Further information:

When I built my full docker image back in June (june 14th), I had the following libraries:
[code]
... and dependencies:
[code]
(`pip list` provides others.... )

[2021-07-28 11:54] mohammad-sayed-ahmad commented on #10049
Forget about it. I've tried Tensorflow 2.0 object detection and it worked

[2021-07-28 11:54] #10049 closed

[2021-07-28 13:56] Andrei997 commented on #9358
Still looking for a fix on this one.

[2021-07-28 14:38] #10124 closed

[2021-07-28 14:51] wangwenchao-job commented on #10163
@saikumarchalla
@bmabey
@alextp
@moonboots

[2021-07-28 15:50] s-nesterov commented on #10104
@GPhilo Hi! Thank you again for the recommendations in setting up training and preparing data! Following your instructions, we have successfully trained CenterNet! ;)

[2021-07-28 15:51] jessicametzger commented on #2203
FYI, for training from a general config file (as in the [tutorial](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html)) I had to go to the eager_train_step() method in model_lib_v2.py and print(trainable_variables) under its definition on [line 309](https://github.com/tensorflow/models/blob/697da6578fe886dc2478ce71291ccd7d39f5d51d/research/object_detection/mode

[2021-07-28 16:57] saikumarchalla commented on #10166
@perllaghu  Please check the official [documentation](https://github.com/tensorflow/models/tree/master/official) here and hope it helps  you. Thanks!

[2021-07-28 17:43] Chitti21 commented on #10133
@saikumarchalla @ymodak any suggestions?

[2021-07-28 18:13] jessicametzger opened #10167 "freeze_variables has no effect when training with model_main_tf2.py"
I noticed the freeze_variables train config is never accounted for when training with model_main_tf2.py

# Versions

- Tensorflow 2.5
- Commit: latest (Mon Jul 19 12:32:17 2021 -0700)
- tf_env_collect.sh output [here](https://textsaver.flap.tv/lists/48jl)

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py
ht

[2021-07-28 18:44] ymodak commented on #10129
From the stack trace looks like your `--model_dir` path is incorrect. You may also want to check `--pipeline_config_path` if correctly set.

[2021-07-28 19:05] jessicametzger commented on #2203
I also think freeze_variables (along with other parameters) is no longer being accessed. I opened a new issue [here](https://github.com/tensorflow/models/issues/10167). Trying to find a hacky way to implement it for the time being.

[2021-07-28 19:49] perllaghu commented on #10166
Thank you for the automated reply.

As you will see from the given Dockerfile, the installation is as per the README, lines 103-110.

If there is some other piece of documentation I've missed, please enlighten me.

[2021-07-29 00:43] vighneshbirodkar commented on #10120
@ahmadchalhoub In that commit we "map" the preprocessing function over all samples so that we can support batch size >= 1. If this is an important use case for you, can you test if just removing the map function works, and if so, send us a PR with disabling batching using a flag ?

[2021-07-29 00:48] vighneshbirodkar commented on #9958
I currently don't know what is causing this, I will re-open this for now so this is on our radar to fix.

[2021-07-29 03:44] saberkun commented on #10166
Sorry, I have no idea about pycocotools crash.

For the slow installation,
we released: https://github.com/tensorflow/models/releases/tag/v2.5.1
The cause is google-cloud-bigquery. The new pip resolver is very lower to resolve it.
We removed it as https://github.com/tensorflow/models/commit/703688aa7badcf21c12a3702705e8b51da449b85
Now both 2.5.1 and nightly package should fix the problem.

[2021-07-29 03:44] saberkun commented on #10149
For the slow installation,
we released: https://github.com/tensorflow/models/releases/tag/v2.5.1
The cause is google-cloud-bigquery. The new pip resolver is very lower to resolve it.
We removed it as 703688a
Now both 2.5.1 and nightly package should fix the problem.

[2021-07-29 03:45] saberkun commented on #10149
Object detection api has a temp fix happened too:
https://github.com/tensorflow/models/commit/7ecbac3c3bb727cb9f6170476a6957465cffdee1#diff-66f62d1807d3821a3865f2573b69c74be033f1341240ac861fefc6d430bff5e0

[2021-07-29 03:45] #10149 closed

[2021-07-29 04:50] jvishnuvardhan commented on #10148
@Choikyungho9 You could add `ModelCheckpoint` callback save model say every `n` steps or at the end of every epoch. For  more details please check the guide [here](https://keras.io/api/callbacks/model_checkpoint/)https://keras.io/api/callbacks/model_checkpoint/). Thanks!

[2021-07-29 05:41] jvishnuvardhan commented on #10142
@wzh19980523 Based on the error message, it looks like `--record_summaries` is looking for a boolean as shown below.
https://github.com/tensorflow/models/blob/03a5f09a095cbae5b2223c8423c2356f46dcdb71/research/object_detection/model_main_tf2.py#L67

Can you try setting it as `--record_summaries=True`. Thanks!

[2021-07-29 07:29] Kareem-negm commented on #9544
Mr.@AngelFloresM solution is working
Thanks

[2021-07-29 07:57] perllaghu commented on #10166
I can confirm that defining `tf-models-official==2.5.1` fixed the problem just lovely!

[2021-07-29 07:57] #10166 closed

[2021-07-29 16:23] jessicametzger commented on #10167
I have added the following code at [line 310 of model_lib_v2.py](https://github.com/tensorflow/models/blob/03a5f09a095cbae5b2223c8423c2356f46dcdb71/research/object_detection/model_lib_v2.py#L310), inside the eager_train_step method:

[code]

I have also added train_config as an argument to the eager_train_step method. I think this solves it, but I am not sure.

[2021-07-29 17:50] abdulghani91 commented on #9617
I have finished the training with TensorFlow 2 and I want to know how can I export my model as model.pb, and can I use it with OpenCV, anyone can help me with that

[2021-07-30 01:38] #10025 closed

[2021-07-30 02:27] Choikyungho9 commented on #10148
thank you so much

[2021-07-30 02:27] #10148 closed

[2021-07-30 05:49] Chitti21 commented on #9958
@vighneshbirodkar Sorry for the trouble. Just now figured out that my test.record file was corrupted. With the new test.record, the evaluation works fine. This issue may pls be closed.

Any help on [10133](https://github.com/tensorflow/models/issues/10133#issuecomment-880596266) would be more useful. Thank you.

[2021-07-30 06:30] YongSeongLee25 commented on #9958
Can you tell me what "fine_tune_checkpoint" means in the config file?

[2021-07-30 07:33] YongSeongLee25 opened #10171 "ValueError: The two structures don't have the same nested structure."
Hello

The efficient D2 model is being used.
I'm going to run the assessment with that code.
An error has occurred.

code:

python model_main_tf2.py --model_dir=woo/dev3/Data/train/d2/model_663 --pipeline_config_path=woo/dev3/Data/train/d2/pipeline.config --checkpoint_dir=woo/dev3/Data/train/d2/model_663

error message :

2021-07-30 16:30:04.240837: I tensorflow/stream_executor/platform/default/ds

[2021-07-30 18:23] vighneshbirodkar commented on #10133
Can you share your logs with the eval code ?

[2021-07-30 18:24] #9958 closed

[2021-07-31 18:55] KamyabAbedi commented on #9200
We are waiting for TF team to confirm the support of numpy 1.21.x

[2021-08-01 05:20] afrin321 commented on #8154
@dorarad worked for me as well. Thanks!
@amirabenrabah you can most likely find the path on the second last line of your error.

[2021-08-01 10:41] Meriipu commented on #9226
This is still an issue so probably should not be closed.

[2021-08-01 19:07] alex-klimov opened #10173 "Unclear installation steps for DeepMAC"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/deepmac.md#prerequisites

## 2. Describe the issue

Currently documentation says:
[code]
W

[2021-08-02 01:18] YongSeongLee25 commented on #10133
@vighneshbirodkar
#10171
This error occurs when you run it again.

[2021-08-02 08:14] kotran88 opened #10175 "is there a way that I can use cartucho mAP test code?"
Hello I 'm doing train and eval quite well(also using tensorboard)
but wonder how I can use https://github.com/Cartucho/mAP
for input , ground-truth is quite easy
but I' dont know how I can export with input / detection-results
example is
tvmonitor 0.471781 0 13 174 244
cup 0.414941 274 226 301 265
book 0.460851 429 219 528 247
bottle 0.287150 336 231 376 305
chair 0.292345 0 199 88 436
book 0.269

[2021-08-02 13:15] ahmadchalhoub commented on #10120
I will work on doing that! I've been extremely busy but I'll try to get a PR sent to you as soon as I can.

[2021-08-02 14:30] Unrivaled2 opened #10176 "run model_main_tf2.py error: Input is empty"
## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main.py

## 2. Describe the issue

I set arguments as follows:
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/40300045/127877536-4601e54e-40e6-43c5-89f9-fcad560dd56e.png">

The pipeline.config is as follows:
model {
  ssd {
    num

[2021-08-02 15:38] jessicametzger commented on #9706
I got the same `NotImplementedError` after making various minor changes to my conda environment. It was resolved when I uninstalled and reinstalled the tensorflow research module:

[code]

[2021-08-02 15:56] iumyx2612 opened #10178 "Can't export Faster-RCNN with number_of_stages: 1"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-08-02 18:48] vighneshbirodkar commented on #10171
Can you share the config file and error message as a github gist ?
It is hard to read them in github comments.

https://gist.github.com/

[2021-08-02 21:10] edsumpena commented on #8253
@rafaelmarconiramos
1. Train with more steps/iterations (100 is too little, 2000+ as least)
2. Load a pre-trained model checkpoint using --tf_initial_checkpoint="model.ckpt" since you are training with a low number of steps.

Hope this helps.

[2021-08-02 21:15] edsumpena commented on #3739
@gouri1694
Use vis.py to visualize the output like the following:
`!python /content/models/research/deeplab/vis.py --logtostderr \
  --vis_split="val" \
  --model_variant="mobilenet_v2" \
  --vis_crop_size="513,513" \
  --min_resize_value=513 \
  --max_resize_value=513 \
  --dataset="pascal_voc_seg" \
  --checkpoint_dir="/checkpoint" \
  --vis_logdir="/outputs" \
  --dataset_dir="/tfrecord" \
  --

[2021-08-03 01:38] YongSeongLee25 commented on #10171
@vighneshbirodkar

[https://gist.github.com/YongSeongLee25/d97e9e5f67d3692ecae81075521102d2](url)

Sorry, I'm giving you a link because I don't know how to upload the code itself to issues.

[2021-08-03 03:09] iumyx2612 commented on #3037
How do you visualize the proposals while training with `number_of_stages: 1`. Do you export the model to get the RPN only or you directly load it from a checkpoint then use visualize script?

[2021-08-03 05:44] faizan1041 opened #10179 "None of the Tensorflow 2.0 models from the models zoo working on documents"
I have a dataset of images from documents having tables, all the tables and signatures are annotated correctly. I used to train Faster RCNN InceptionV2 from tf1 models zoo and the accuracy was perfect. I was just trying to upgrade to tf2 models, I have been training following models:

Faster R-CNN ResNet50 V1 1024x1024
SSD ResNet50 V1 FPN 640x640 (RetinaNet50)
CenterNet Resnet101 V1 FPN 512x512
SS

[2021-08-03 07:04] weixinz1 opened #10180 "Deeplab model run on GPU"
When I convert deeplab graph to tflite, it contains these two operations and GPU doesn't support these two ops

BatchToSpaceNd
SpaceToBatchNd

I find one solution in #7953
I try to set output-stride=32, but it still not work

[2021-08-03 09:51] olimaye opened #10181 "Model training with ssd_resnet50_v1_fpn_640x640_coco17_tpu-8 results in a Tensor / numpy array conflict"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

## 2. Describe the bug

The script aborts with the error message:

NotImplementedError: Cannot convert a symbolic Tensor (cond_2/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supp

[2021-08-03 13:14] ghasemieh commented on #4177
I found a solution, in WIndows I changed the folder access by adding everyone and gave it full access.

[2021-08-03 16:17] marksandler2 commented on #10161
Can you try !pip install tf_slim?

[2021-08-03 18:50] ymodak commented on #10161
Please try https://colab.research.google.com/gist/ymodak/e13a9c9a72e7792ef2afe262835cbf17/mobilenet-example.ipynb
You need to install slim module as mentioned by mark and also disable eager execution. The above gist illustrates the steps.
Thanks!

[2021-08-03 19:17] #10145 closed

[2021-08-04 05:43] Eths33 commented on #10161
Thank you for the responses.
These are steps that I have already done, as mentioned in my first post.

Then I ran into this error, also mentioned but not shown in my first post:
[code]

I posted the issue since I am not sure how far the errors go.
Also, I was under the impression that examples shared in a preconfigured environment are intended to work with no changes.
Or is this part of the Tesnfo

[2021-08-04 15:43] marksandler2 commented on #10161
Apologies for not reading it all the way to the end: i just read the description, but not any additional details. You are right this notebook (and this repository) hasn't really kept up to date. I've created gist that runs all the way to end and will push a new pulll request

https://colab.research.google.com/gist/marksandler2/584692218748860348b3b9b6794dca8f/mobilenet-example.ipynb

[2021-08-04 20:06] kabyanil commented on #10160
hi, i tried netron. but i wasn't able to get useful info out of it.

<img width="1269" alt="Screenshot 2021-08-05 at 1 30 02 AM" src="https://user-images.githubusercontent.com/24878109/128246955-11b175e3-07e7-4cc2-afab-a5c641f9d431.png">

I don't understand what these nodes mean. i was looking for a layer structure similar to keras model.summary().

[2021-08-04 20:45] #10161 closed

[2021-08-05 09:48] rvdinter opened #10186 "Mask R-CNN Model stops training in CoLab"
# Prerequisites

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

## 2. Describe the bug

When running the command below, the script logs until `Use fn_output_signature instead`, prints `^C`, and stops.
[code]

## 3. Steps to reproduce

- label images using labelme
- partition datasets into train and test

[2021-08-05 10:25] Ostyk commented on #8990
I also converted a pytorch model to a SavedModel via onnx
Using: https://analyticsindiamag.com/converting-a-model-from-pytorch-to-tensorflow-guide-to-onnx/¶

Now facing the exact same issue when loading it in tf 2.5
`
AttributeError: '_UserObject' object has no attribute 'predict'
`

[2021-08-05 12:31] nilskk commented on #5672
I have the same problem. Did you find a solution?

[2021-08-05 15:02] nht-1999 opened #10188 "Context R-CNN second stage box and attention block issue"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

- config: https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/context_rcnn_resnet101_snapshot_serengeti_sync.config
- paper: https:/

[2021-08-05 21:21] shreyas-afk commented on #9298
sadly this is not working now

https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md, they partially moved some of the components i guess. did you install tensorflow_addons seperately ?

had to downgrade my tf from 2.5.0 to <1.3.1 to get it working

[2021-08-06 01:39] lxyzler opened #10190 "deeplabv2 or deeplabv3"
models/research/deeplab/  is the implementation of deeplabv3 +. If I want to train deeplabv2 or V3, how should I change it

[2021-08-06 03:51] kumariko commented on #10163
@wangwenchao-job In order to expedite the trouble-shooting process, Can you please provide the entire URL of the config file which you are using.    Thanks!

[2021-08-06 09:43] faizan1041 commented on #10179
Any update on this?

[2021-08-06 12:54] nilskk commented on #4245
@GeorgeSeif Did you find a solution for implementing softmax focal loss?

[2021-08-06 14:55] Ostyk commented on #8990
Ok I managed to run the model in the following manner (tf 2.3.1 cpu but should work for any Tensorflow version
`2.0 <= TF < 2.5`

According to https://www.tensorflow.org/guide/saved_model

[code]

[2021-08-06 16:27] ymodak commented on #10160
Looks like you are interested in conceptual graph of your model. In that case, TensorBoard provides an option to visualize the conceptual graph in addition to op level graph as displayed by the netron.
You may want to try examining your graph as shown [here](https://www.tensorflow.org/tensorboard/graphs#conceptual_graph).
Thanks!

[2021-08-06 17:17] MojtabaSr opened #10191 "TypeError: __init__(): incompatible constructor arguments"
Hi. Im getting the following error trying to start an object detection model in an enviroment. Im using windows 10

The code that i run:
python object_detection/model_main_tf2.py \--pipeline_config_path "D:\data\Experiment_1\faster_rcnn_resnet50_v1_640x640_coco17_tpu-8.config" --model_dir "D:\data\Experiment_1\training_process" --alsologtostderr

The error it throws:

WARNING:tensorflow:Collective

[2021-08-06 17:25] kabyanil commented on #10160
<img width="625" alt="Screenshot 2021-08-06 at 10 52 19 PM" src="https://user-images.githubusercontent.com/24878109/128548797-4116d843-7adb-4ad8-94b5-9bd0de7b6f1e.png">

in my case, the option was not available, as you can see from the image. btw, I'm using a script `https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/import_pb_to_tensorboard.py` to load my graph in tensor

[2021-08-07 06:00] Nitin-Raghuvansi opened #10192 "I have .data , .meta , .index file only how can I freeze it"

[2021-08-07 09:51] shadowwalkers commented on #4313
@jianlong-yuan , hi, you were able to reproduce author's result on val set. Did you use other pretraining  (other than imagenet, like coco, mapillary, JFT) ? Also, did you use coarse data as well for getting comparable val results.
Thanks

[2021-08-07 17:17] Muhammad-Talha-MT commented on #8892
@XVanilor @marvision-ai If you have trained all epochs once (completed model training), and then you are trying to train the model again (may be with some other parameters), you will find this in your "checkpoints" file of your training directory
![image](https://user-images.githubusercontent.com/47237123/128608460-2c92db57-5a36-4702-8adf-0fa0a5fc01a6.png)
So You can do the following things
- You

[2021-08-08 17:56] Chitti21 opened #10193 "How to get the best mAP after the training completes"
@vighneshbirodkar Can you pls help with this?
How can I get  the best weights after the training completes?

For example, the graph below shows the total loss trained upto 30k. It can be noticed that the loss at 30k is not the global minimum of the graph. However, if I evaluate the metric using --check_point_dir argument, it will evaluate the metric at 30k only and not at global minimum.

![image]

[2021-08-08 19:24] saberkun commented on #10192
These files are checkpoint files. The .meta should contains the meta graph. For detailed help, I would recommend stackoverflow and tensorflow main repo issues. If no other members in tensorflow_models community could answer more, we will close this issue later. Thanks!

[2021-08-08 19:25] saberkun commented on #9982
Hi folks, we are a bit behind because we need legal approval for artifact releases.
@xianzhidu I think we are getting legal approval on releasing the artifacts, right?

[2021-08-08 19:26] #4398 closed

[2021-08-08 19:27] #5302 closed

[2021-08-09 05:44] Chitti21 commented on #10186
@rvdinter
It usually takes some time at this point. Did you wait for long before making the keyboard interrupt?

[2021-08-09 07:17] iumyx2612 opened #10194 "Faster R-CNN, Checkpoint error with number_of_stages: 1"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-08-09 07:26] rvdinter commented on #10186
@Chitti21 that's my issue; the keyboard interrupt is not executed by me. The script stops by itself, which seemed quite weird to me. I could not find a line that executes a keyboard interrupt in the file itself, so why could this happen?

[2021-08-09 07:33] #10192 closed

[2021-08-09 09:05] Muhammad-Talha-MT commented on #8538
Hi, it's quite easy to use all record files

you should have placed `*` at the end of common names of your record
[code]

[2021-08-09 09:26] YeetusBoiRyan opened #10195 "Downloading file error for GitHub google coral camera"
Hello, I am having an error in downloading a mobilenet quant file.

When i type the code “wget -P ${DEMO_FILES}/ https://github.com/google-coral/test_data/raw/master/mobilenet_v2_1.0_224_quant_edgetpu.tflite”, it downloads but then it says “Cannot write to ‘ https://github.com/google-coral/test_data/raw/master/mobilenet_v2_1.0_224_quant_edgetpu.tflite’ (permission denied)’. Could anyone help with

[2021-08-09 09:40] mehditlili commented on #5302
Can you at least add a comment before closing @saberkun

[2021-08-09 12:07] kumariko commented on #10193
@Chitti21 In order to expedite the trouble-shooting process, Can you please provide the entire URL of the repository which you are using. Thanks!

[2021-08-09 12:10] claytonfk commented on #9706
I have got the same problem with TensorFlow 2.5 and different versions of Python.
I could only solve by editing array_ops.py as proposed by joshua-cogliati-inl above.

[2021-08-09 12:38] ridvanozdemir opened #10196 "ModuleNotFoundError: No module named 'tensorflow.python.types' during training in tensorflow object detection api"
ModuleNotFoundError: No module named 'tensorflow.python.types' during training in tensorflow object detection api

[2021-08-09 13:25] Chitti21 commented on #10193
@kumariko Thanks you for the response.

URL that I cloned : https://github.com/tensorflow/models.git

[2021-08-09 15:19] vighneshbirodkar commented on #10193
@Chitti21 The lowest point in the training loss curve is not the global minimum because it is only evaluated on a single batch and not the entire training set. With that said, there is currently no way of doing what you are suggesting, but we would welcome a PR if you want to implement that.

[2021-08-09 17:05] Chitti21 commented on #10193
@vighneshbirodkar Thank you for the information. This will be a very useful feature. I will try to contribute in the future. Closing this issue for now.

[2021-08-09 17:05] #10193 closed

[2021-08-09 17:22] fyangf commented on #10137
Could you let us know a few details so we can investigate?
- what is the model you are using for detection? If you are using models under official/vision, then it's probably not compatible with `export_tflite_graph_tf2.py`.
- have you tried the export lib here: https://github.com/tensorflow/models/blob/master/official/vision/beta/serving/export_saved_model.py? This is compatible with the models un

[2021-08-09 23:16] ymodak commented on #10195
You may try downloading quantized mobilenet models [here](https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/README.md#mobilenet-v2-imagenet-checkpoints)

[2021-08-09 23:42] dariazhuk357 commented on #3136
Same problem. Any fixes are appreciated.

[2021-08-10 12:42] marongwei opened #10199 "Questions about Windows fatal exception: access violation"
Hey，I can't solve this problem！
......
2021-08-10 20:36:02.534104: I tensorflow/core/common_runtime/bfc_allocator.cc:1046] InUse at 70e41ca00 of size 1024 by op AssignVariableOp action_count 6068986784258818395 step 0 next 213
2021-08-10 20:36:02.534607: I tensorflow/core/common_runtime/bfc_allocator.cc:1046] InUse at 70e41ce00 of size 1024 by op AssignVariableOp action_count 6068986784258818399 s

[2021-08-10 19:54] mihaidimoiu opened #10200 "Protocol message object_detection.protos.CenterNet.ObjectDetection has no non-repeated field "scale_head_params""
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-08-11 00:47] jvishnuvardhan commented on #10122
@Nomia Can you please share details of GPU system you are using?

[code]

Did you check with any other model? Are you noticing same OOM issue with other simple models? Thanks!

[2021-08-11 01:12] jvishnuvardhan commented on #10111
@liadpkatz GPU related warnings could be due to cuDNN driver compatibility with the tested TF builds as listed [here](https://www.tensorflow.org/install/source?hl=ca#gpu).

`TF2.5` was built with CUDA/cuDNN as 11.2/8.1 whereas you are using CUDA 10.1.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.5.0 | 3.6-3.9 | GCC 7.3.1 | Bazel 3.7.2 |

[2021-08-11 04:56] ShumailaAhmed commented on #8537
I was having same problem with model having moe than one custom layers, solved this by overriding default config by calling get_config inside the class after __init__
[code]
suggested by this comment https://stackoverflow.com/a/62838569/14975963

tensorflow version 2.5
windows 10

[2021-08-11 07:39] kumariko commented on #10199
@marongwei In order to expedite the trouble-shooting process, Could you please elaborate the issue. please provide the entire URL of the repository which you are using. Thanks!

[2021-08-11 08:05] milanpatel25 opened #10201 "Issue when converting deeplabv3_cityscapes_train (Xception65 backbone) to onnx using tf2onnx"
After downloading the model (http://download.tensorflow.org/models/deeplabv3_cityscapes_train_2018_02_06.tar.gz) I tried converting it to onnx using tf2onnx (https://github.com/onnx/tensorflow-onnx) but received this error.

[code]

When trying to use saved_model_cli on the model I get this.

`MetaGraphDef with tag-set: '' contains the following SignatureDefs:`

Any idea how to fix this/successful

[2021-08-11 12:26] milanpatel25 commented on #10201
Solved by using --inputs ImageTensor:0 --outputs SemanticPredictions:0 for tf2onnx parameters.

[2021-08-11 12:26] #10201 closed

[2021-08-11 16:46] atahmasb opened #10204 "issue with running forward passes using saved model format converted from a checkpoint"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

-  [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
-  [ x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
-  [ x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you a

[2021-08-11 17:57] devloper13 opened #10205 "Performance numbers on TF1 OD and TF2 OD"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
https://github.com/tensorflow/models/blob/master/research/object_detec

[2021-08-11 18:13] ymodak commented on #10160
`import_pb_to_tensorboard` is deprecated. You need to have tensorboard logs to examine graph.
See https://www.tensorflow.org/tensorboard/graphs#train_the_model_and_log_data

[2021-08-12 00:21] alex-klimov commented on #10173
Hi guys, any update?

[2021-08-12 05:04] ymodak commented on #10190
Have you tried https://github.com/google-research/deeplab2

[2021-08-12 05:26] kabyanil commented on #10160
how can I have tensorboard logs when using TFOD API? Which file should I edit? It's not the same as shown in the example.

[2021-08-12 06:24] kabyanil opened #10206 "Obtain TP, FP, TN for each class"
Hello, I have built an object detection model using Faster RCNN model. The COCO evaluation metrics only show precision and recall. I would like to obtain true positives (TP), false positives (FP) and true negatives (TN) for each class. How do I obtain the confusion matrix?

[2021-08-12 10:52] mijkami commented on #9706
With:

- Tensorflow 2.6.0
- Numpy 1.21.1

I had

`NotImplementedError: Cannot convert a symbolic Tensor (simple_rnn/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not supported`

Quickly followed by:
`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`

[2021-08-12 15:22] eltonfernando commented on #9340
A background like false positive has an .xml, but it doesn't have the tag `<object>`. for example.

`<annotation>`
`<folder>dataset</folder>`
`<filename>2021-08-11-10-47-12.jpg</filename>`
`<path>/home/elton/dataset/2021-08-11-10-47-12.jpg</path>`
`<source>`
`<database>Unknown</database>`
`</source>`
`<size>`
`<width>400</width>`
`<height>400</height>`
`<depth>3</depth>`
`</size>`
`<segmented>0</s

[2021-08-12 16:51] rcruzgar opened #10207 "module 'tensorflow._api.v1.compat.v2.compat' has no attribute 'v2'"
# Prerequisites

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/model_main_tf2.py

## 2. Describe the bug

[code]

I am using _model_main_tf2.py_ with the SSD MobileNet v2 320x320 model from https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

`python model_main_tf2.py -mod

[2021-08-12 17:38] #10129 closed

[2021-08-12 18:35] ymodak commented on #10160
You may view the architecture of pre trained model used as feature map extractor in object detection models by using keras.
For instance in SSD model you can view VGG16 model as a feature extractor with
[code]
You may try other models listed in https://www.tensorflow.org/api_docs/python/tf/keras/applications as well

[2021-08-12 19:18] #10142 closed

[2021-08-12 22:50] david-imagr opened #10208 "How to run interleaved LSTM object detection on edgeTPU"
Hi there,
I'm trying to inference the interleaved mobilenet v2 model on an edge-tpu with tflite. After freezing the graph I noticed that the graph contained both the small and large SSD model. I assume that this would mean that during inference both models would run.

In the paper "Looking Fast and Slow: Memory-Guided Mobile Video Object Detection" they would run either `f_0` or `f_1` to get new s

[2021-08-13 00:56] #10175 closed

[2021-08-13 01:31] DylanFendrich commented on #5417
I got this error but what resolved it for me was making sure the labels matched what I needed. This means I had 14 objects I was trying to detect, but I had only 4 in my def text_to_class. After adding the other 10 object it worked as intended.

If you only change the else to return 0, then you will probably will not get the correct output.

[2021-08-13 08:32] ansonnn07 commented on #5474
After some debugging, I found that the following 3 lines in the `generate_tfrecord.py` script would cause the `width` and `height` of the image to be read in a reversed manner, hence causing the `xmax` or `ymax` to exceed the `width` or `height` erroneously sometimes.
[code]

Therefore to avoid that, I commented the mentioned 3 lines above, then added this one line to get the correct width and hei

[2021-08-13 12:53] tft-robert commented on #9857
Anything new here? Been over 4 months.

[2021-08-14 03:37] zacps commented on #9755
This issue also occurs with the Spectral Normalized Gaussian Processes (SNGP) notebook [on collab](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/understanding/sngp.ipynb).

Is there a workaround?

[2021-08-14 04:36] narasimha63 commented on #6036
/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/training.py:1940: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  warnings.warn('`Model.fit_generator` is deprecated and '
Epoch 1/10
322/322 [==============================] - ETA: 0s - loss: 1.8194 - accuracy: 0.8515
----------------

[2021-08-14 07:29] saurabh-shandilya opened #10209 "Export Object Detection Models Without Preprocessor"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

I would like to export TF2.x object detection models without the pre-processing assuming a fixed input shape to simplify the graph. Is there a way to do

[2021-08-14 10:33] Eths33 commented on #10161
Thank you.

[2021-08-14 10:48] iumyx2612 commented on #10186
I think you should lower the batch_size. I experienced this once and lowering the batch_size works for me

[2021-08-14 11:21] iumyx2612 commented on #10160
I have this also, I asked [here](https://github.com/tensorflow/tensorboard/issues/5213) on Tensorboard github, you can go check it out for a more detailed visualization of your model

[2021-08-14 21:24] wingman-jr-addon commented on #8062
Great! Getting it running is the first step. I had good success with the one that didn't require the special porting, `roc_auc_loss`. As a baseline comparison, have you tried that one and did it work any better than the newly ported ones?

[2021-08-14 22:44] van-flow commented on #8062
Yes, I have. They all run now, but the precision/recall either do not improve or jump dramatically from epoch to epoch.

[2021-08-15 04:30] Tremocex commented on #9588
2021 - If you are here because you are trying to run the detection in a Python script, just use openc (cv2.imread) instead of Image.open from PIL :)

[2021-08-15 15:11] mic-p opened #10210 "segfault with gpu enabled on python3.9 and ubuntu 21"
Hi all,
I'm trying tensorflow into my laptop with:
- ubuntu 21 desktop just installed
- python3.9, tensorflow installed with pip3 install tensorflow (v. 2.6.0)
- cuDNN just downloaded from nvidia (8.2.2 (July 6th, 2021), for CUDA 11.4)
- GPU: product: GM108M [GeForce MX130]

root@mic:~# nvidia-smi
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.57.0

[2021-08-15 17:22] Noorainia commented on #9319
i have the same Error ,can you pls expline it to me, to get it work

[2021-08-15 17:54] mcbridemarci commented on #1990
Resolved on a Mac, running Python 3.9.5.

`sys.path.append('tensorflow/models/research/')
sys.path.append('tensorflow/models/research/object_detection/')
from utils import label_map_util
from utils import visualization_utils as vis_util`

[2021-08-15 18:43] dh7hong commented on #9706
Try making a new python environment and install tensorflow==2.4.0

[2021-08-16 06:05] chronicom commented on #8062
Hi would you mind to share the working code?

[2021-08-16 12:50] wsqshiqing commented on #7996
Guys, I meet this problem again, Had someone solve it ?

[2021-08-16 13:16] Nomia commented on #10122
`@Nomia Can you please share details of GPU system you are using?`

for this question, I've provided that, you can check it at `6.System information` above

`Did you check with any other model? Are you noticing same OOM issue with other simple models? Thanks!`

for this question, no, I haven't

[2021-08-16 14:22] #10163 closed

[2021-08-16 17:24] #10131 closed

[2021-08-16 18:30] saurabh-shandilya commented on #10209
Created a PR- I am not an expert in this, and maybe I have a myopic view as I am just looking at my needs so any feedback is welcome.
https://github.com/tensorflow/models/pull/10212

[2021-08-16 22:03] alexdwu13 commented on #10006
I had a similar experience running the `CenterNet MobileNetV2` tflite model on mobile GPU. My benchmarking tool logged these warnings

`ERROR: Following operations are not supported by GPU delegate:
CAST: Operation is not supported.
FLOOR_DIV: Operation is not supported.
GATHER_ND: Operation is not supported.
GREATER: Operation is not supported.
LESS: Operation is not supported.
...
95 operations

[2021-08-16 22:07] srjoglekar246 commented on #10006
@rdutta1999 mentions running on PC/browser, which is not what the TFLite GPU delegate is intended for.

@alexdwu13 WHat device are you using? Also could you mention the inference times you observe on CPU vs GPU?

[2021-08-17 01:47] Mark8282 commented on #9297
@haltersweb same problem. Did you solve it?

[2021-08-17 03:13] nazih1997 commented on #5961
HI , how did u resolved the problem?

[2021-08-17 04:13] wingman-jr-addon commented on #8062
@van-flow I train a CNN classifier with some special sauce as well as have the feature layer as an output. Then as a post-processing step I take the feature layer's output and feed it into a tiny net to create a binary classifier and that's where I use the `roc_auc_loss`.

Here's a sketch.

[code]

And with a little glue to the `roc_auc_loss`:
[code]

[2021-08-17 06:38] #10133 closed

[2021-08-17 12:38] rossGardiner commented on #8990
The underlying issue here is: "How can a Tensorflow pb saved_model be loaded into Keras?"
Does anyone know?

[2021-08-17 13:12] JuPasquin commented on #8953
Hi,

I'm also having the same issue. I'm trying to train from scratch by commenting the fine-tuning parameters, and the same error message occurs when running exporter_main_v2_py.

I'm using:

- TensorFlow 2.5.0
- Config file: centernet_resnet101_v1_fpn_512x512_coco17_tpu_8.config
- No pre-existing checkpoints (trying to train from scratch)
- Python v3.8
- Linux Mint 20.2 Uma

Modifications made t

[2021-08-17 17:35] dansitu commented on #9981
@ymodak are there any updates on this issue? Happy to help with debugging.

[2021-08-17 18:12] ymodak commented on #10210
TF 2.6 prebuilt binaries support cuda 11.2 and cudnn 8.1
https://www.tensorflow.org/install/source#gpu
Have you build TF from source fo cuda 11.4? If using pip install can you please switch back to cuda 11.2 and check if the issue persists? Thanks!

[2021-08-17 23:14] jvishnuvardhan commented on #10122
@Nomia Can you pleas try running any one of the examples as shown on this page https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/index.html

[2021-08-18 05:07] Reuben-Lim opened #10213 "Object Detection - ImportError: cannot import name 'resnet'"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the bug

I am trying to use the Tensorflow Object Detection API to train a mobilenet-ssd-v2 model with Tensorflow 1. I keep getting the following error when trying to import object_detection.builders. I am using a pyenv and have done the following steps:
$ protoc object_det

[2021-08-18 05:37] kumariko commented on #10213
@Reuben-Lim We see that you are using older version of tensorflow  1.14 which is not actively supported, We recommend that you upgrade to 2.6.0 which is latest stable version of TF and let us know if the issue still persists in newer versions .Thank you!

[2021-08-18 06:59] 5aurabhpathak commented on #8109
You also need to recreate train_spec with your early stopping hook. It will work then.

[code]

[2021-08-18 08:17] rcruzgar commented on #10213
Hi @Reuben-Lim ,

Try copying the _slim/nets_ folder into _object_detection_:

`cp -R models/research/slim/nets models/research/object_detection`

That solved the error to me.

[2021-08-18 08:23] Reuben-Lim commented on #10213
Hi @kumariko ,
Thank you for your reply. I'm currently trying to switch to Tensorflow 2, but its giving me another error: No module named 'official'. I'm still trying to resolve this and then try the Object Detection API with Tensorflow 2.

Hi @rcruzgar ,
Thank you for this! I'll see if it works for me.

[2021-08-18 09:04] mic-p commented on #10210
Hi,
thanks for your comment.
I installed all the packages from the already build sources: pip in the case of TF, cuda from the ubuntu archives and cuDNN from nvidia sites.

I haven't seen that the TF is compatible only with cuDNN 8.1 and I installed the last found on the nvidia website.
Now, with the right version 8.1 (cuda 11.2), all are flight like a concorde ;)

Thanks a lot and please close th

[2021-08-18 09:44] mayureshagashe2105 commented on #10122
@Nomia  Have you tried running this code on  Google Colab? If not please test if you are getting the same error.

[2021-08-18 11:44] eyradel commented on #4164
saadadadasd

[2021-08-18 12:23] DLPerf opened #10214 "Performance issues in the program"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [yes] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are

[2021-08-18 12:54] dpostolovski commented on #9755
https://github.com/tensorflow/tensorflow/issues/32574#issuecomment-532428339
This might be a clue why the imports are broken.

[code]

[2021-08-18 13:03] dpostolovski commented on #10213
change dir to the models folder and run:
`export PYTHONPATH=$PYTHONPATH:$(pwd)`

[2021-08-18 13:20] JonasCastro commented on #10073
Hi, @xLychee. I'm having the same problem and I would like to know if you managed to improve hit rate using the ml-1m dataset. If you succeed, please tell me the data used.

[2021-08-18 15:46] hafiz031 commented on #8595
@prinse1545 many things can go wrong, I have given an answer here: https://stackoverflow.com/a/64407725/6907424

[2021-08-18 22:00] Swazir9449 commented on #10104
Hello @GPhilo and @s-nesterov ,

Thank you so much for sharing your knowledge. I appreciate it a lot.

My question is regarding conversion from the COCO data set to TFRecord.
The script that @GPhilo  provided, is that the full script needed to generate the TFRecord? I am looking at the linked one and cant seem to figure out how to combine them. I also don't fully understand what is going on that s

[2021-08-19 05:55] iumyx2612 commented on #10167
I did as you said but this is the output message:
[code]

[2021-08-19 06:29] mayureshagashe2105 commented on #9337
Have you tried it on colab?

[2021-08-19 07:29] het-grubbrr commented on #8331
Hi, any updates on this?
@NobuoTsukamoto were you able to fix this?

[2021-08-19 09:14] Kannan665 commented on #10120
Excellent thread and I could see, how it came to a conclusion.......I was looking at it, as I am grappling with OpenVINO to convert a re-trained Faster R-CNN model to the IR (Intermediate Representation) files, which can be mounted in OpenVINO inference engine for inferencing......I still get the same errors as before......I am able to convert the same model from TF2 Model Zoo, but unable to conve

[2021-08-19 15:50] hubertjjj opened #10216 "Worker replacement area"
I wanted to add some automatic thinking part. I want models to predict results with high accuracy. I think it should be beneficial for all sectors, as the model would replace most workers

[2021-08-19 15:50] hubertjjj commented on #10216
I don't have code yet, but I believe u can write sth

[2021-08-19 16:01] #9158 closed

[2021-08-19 17:10] #10210 closed

[2021-08-19 17:35] 0rhisia0 commented on #10044
You need to change the max_number_of_boxes parameter in your config to something suitable (for your case maybe 1200, it is currently set at 200). Also consider increasing the first_stage_max_proposals value to around 2000.

[2021-08-20 02:35] Reuben-Lim commented on #10213
Hi. I've managed to resolve my issue by reinstalling both tensorflow 2.6.0 and the object detection api. I've also managed to get it to work for tensorflow 1.15.0 by using a virtualenv with pyenv. I was previously following some outdated installation steps for tensorflow object detection api from old blogposts. Using the current steps posted in the README for TF 1 & 2 did the trick.

Thank you eve

[2021-08-20 02:35] #10213 closed

[2021-08-20 08:12] divyanshu-quantiphi commented on #9375
Did we find a better solution?

[2021-08-20 09:32] sowmyyav commented on #9706
Thanks mijkami,

This solution worked for me by uninstall and reinstalling tensorflow and numpy.
My error on Python 3.8, tensorflow 2.5 and numpy 1.19.5 with GPU GTX 1080, CUDA 11.2 was

NotImplementedError: Cannot convert a symbolic Tensor (bidirectional/forward_lstm/strided_slice:0) to a numpy array. This error may indicate that you're trying to pass a Tensor to a NumPy call, which is not suppor

[2021-08-20 16:27] #9980 closed

[2021-08-20 21:18] dansitu commented on #9981
I tried upgrading to TF2.6 but it does not help with the memory leak.

[2021-08-21 06:27] Source82 commented on #5421
Please can you share the code you have written to tackle the clone issue.
Thanks

[2021-08-21 11:20] sainisanjay commented on #5421
@Source82
[code]

[2021-08-21 11:43] Source82 commented on #5421
Thanks

[2021-08-21 15:42] omi9y commented on #10044
Hi @0rhisia0,

I tried those but it starts giving me out of memory error.

[2021-08-22 03:07] #10216 closed

[2021-08-22 03:08] saberkun commented on #10214
This is a unit test? That's probably we did not use parallel calls.

[2021-08-22 09:20] chandyalex commented on #8713
@AdityaNikhil  @Mrinal18 @nyanye @i-m-vivek
As the part of GSoC I have implemented base library which consists of Dark pose and poseresnet model. You can have a look here
https://github.com/chandyalex/GSoC-2021-TF-DarkPose
More optimization in library , implementation of HR Net, Hourglass is yet to be implemented and tested. Feel free to contribute.

[2021-08-22 12:46] lavender-ling commented on #9844
hi，i have the same problem，how to solve it，thanks

[2021-08-22 13:02] DLPerf opened #10217 "Performance issues in Official Model (by P3)"
Hello! I've found a performance issue in official: `batch()` should be called before `map()`, which could make your program more efficient. Here is [the tensorflow document](https://tensorflow.google.cn/guide/data_performance?hl=zh_cn#vectorized_mapping) to support it.

Detailed description is listed below:

- in official/utils/testing/mock_task.py: `.batch(2, drop_remainder=True)`[(line 79)](http

[2021-08-22 13:10] DLPerf opened #10218 "Performance issue in research/delf/delf/python/datasets (by P3)"
Hello! I've found a performance issue in research/delf/delf/python/datasets/google_landmarks_dataset/googlelandmarks.py: `dataset.batch(batch_size)`[(line 175)](https://github.com/tensorflow/models/blob/e31d16933a6cfd59d085bb2a5648f078774e413c/research/delf/delf/python/datasets/google_landmarks_dataset/googlelandmarks.py#L175) should be called before `dataset.map(customized_parse_func)`[(line 174)

[2021-08-22 13:14] lavender-ling commented on #8253
你解决了这个问题吗，谢谢

[2021-08-22 14:34] amindadgar commented on #5796
This problem is answered in the link below:
https://stackoverflow.com/a/63916790/9070986

I know this issue is kind of old and your problem may be solved, But I Hope this comment will help anyone with the same problem in the future.

[2021-08-23 07:18] xLychee commented on #10073
Hi @JonasCastro , I made this change then it works: In https://github.com/tensorflow/models/blob/benchmark/official/recommendation/constants.py, change the NUM_EVAL_NEGATIVES from 999 to 100, which is compliant with the paper. I don't know why they set it as 999 in this codebase, though.

[2021-08-23 10:34] 827346462 commented on #10135
Have you solved it？I face the same problem

[2021-08-24 05:04] kumariko commented on #5828
@TitusTom Could you please let us know if this issue still persists ? If it it resolved then please feel free to move this issue to close status ? Thanks!

[2021-08-24 05:11] kumariko commented on #5466
@NazariAmin We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-08-24 05:16] kumariko commented on #5457
@sjain-stanford We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-08-24 05:29] kumariko commented on #5356
@tispratik Could you please let us know if this issue still persists ? If it it resolved then please feel free to move this issue to close status ?Thanks!

[2021-08-24 05:32] kumariko commented on #2485
@claudefalbriard Could you please let us know if this issue still persists ? If it it resolved then please feel free to move this issue to close status ?Thanks!

[2021-08-24 07:38] Aisharjaa commented on #3632
We got a .pth file. How can we connect this to an app?or we should apply another process?

[2021-08-24 09:35] 827346462 opened #10220 "iterating over `tf.Tensor` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature"
I have a problem . but i use "python model_builder_tf2_test.py" ,it's ok!

plaese help me.

Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/envs/Digit/lib/python3.8/site-packages/tensorflow-2.6.0-py3.8-linux-x86_64.egg/tensorflow/python/autograph/impl/api.py", line 432, in converted_call
    converted_f = _convert_actual(target_entity, program_ctx)
  File "/home/ubuntu/anaconda3/

[2021-08-24 10:37] kumariko commented on #10220
@827346462 Please refer to this [**`link`** ](https://stackoverflow.com/questions/65059475/iterating-over-tf-tensor-is-not-allowed-autograph-did-convert-this-function)and let us know if it helps?  In order to expedite the trouble-shooting process, please provide the Code snippet which you are using. Thanks!

[2021-08-24 15:20] LoicDagnas opened #10221 "Fail to save Bert2Bert model instance without passing the label input i.e. target_ids"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/official/nlp/nhnet/models.py

## 2. Describe the bug

When saving a Bert2Bert model instance, I am forced to pass the target_ids input which should be used only at training time.

Passing the target ids calling the model and using a custom serving function without these target ids as input make the sav

[2021-08-24 15:45] s-nesterov commented on #10104
Hello @Swazir9449
I used this [script](https://github.com/tensorflow/models/blob/4bd2888b8d2b0015a8fd28c8b9d3d3f275fd55ff/research/object_detection/dataset_tools/create_coco_tf_record.py) to convert markup from the COCO format to tfrecord. In this script, I have commented out only the part of the code that concerns densepose. I gave [examples](https://github.com/tensorflow/models/issues/10104#issu

[2021-08-24 16:09] LoicDagnas opened #10222 "Bert2Bert model call fails when setting padded_decode to True"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/official/nlp/nhnet/models.py

## 2. Describe the bug

While using a Bert2Bert model instance setting the `padded_decode` parameter to True (e.g. for TPU usage), I am forced to specify the batch size in the input when calling the model.

## 3. Steps to reproduce

You can simply run the following code:
[

[2021-08-24 16:33] adonisDias commented on #4433
I solve the problema adjusting the fixed_shape_resizer {
        height: 256
        width: 256
      }
before was 1024, 1024.

[2021-08-25 01:46] 827346462 commented on #10220
@kumariko I try reinstall setup.py. i l always met the version not match. suach as:
![image](https://user-images.githubusercontent.com/50097546/130712739-d77e2fd7-ea4d-4e05-8aa0-4d117f235628.png)

[2021-08-25 02:10] #10111 closed

[2021-08-25 08:32] rvdinter commented on #10186
@iumyx2612 My batch size is 1 on Google CoLab with GPU turned on. I hope Google's hardware has sufficient power to drive that ;-)

[2021-08-25 09:10] #10199 closed

[2021-08-25 10:06] JonasCastro commented on #10073
Hi, @xLychee. Thanks for answering. Even changing the NUM_EVAL_NEGATIVES from 999 to 100 the result is still 0.2.  Sorry, I'm new to this.  Please can you tell me the hyperparams you used.  Epochs? batch_size? learning_rate? And others

[2021-08-25 10:23] MteaHubHug commented on #8839
I also have this problem. Did you find the solution?

[2021-08-25 10:37] TannerGilbert commented on #8839
It seems like the notebook still hasn't been updated. To make it work replace:

[code]

with

[code]

[2021-08-25 12:35] AkkiSony opened #10224 "Unable to visualize the output layer of MobileNet V1 SSD model"
Hi,

I always use https://netron.app/ (web based IDE) to visualize the model. Just like that, I wanted to know the output layer of my model which was trained with Object Detection API. The other models such as darknet was easy for me to find out the output layer, but I find it difficult with this model.

Can you please help me understand the output layyer of the model? Please find the link attache

[2021-08-28 00:54] ymodak commented on #10196
What TF version are you using ? Also can you please elaborate the steps to reproduce the error?

[2021-08-28 01:01] ymodak commented on #10089
`dataset.unbatch()` was added with TF 1.15 https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/data/Dataset#unbatch
Please upgrade to TF 1.15 and try again. Thanks!

[2021-08-28 17:11] Shayendra commented on #3632
how to convert mask rcnn h5 custom data model to tflite and how to deploy it on android

[2021-08-28 18:31] ljubanradisin commented on #9706
It worked 👍 ! In my case array_ops.py was in .../site-packages/tensorflow-core/python/

[2021-08-29 00:53] randomgambit commented on #9200
interested in that too!

[2021-08-29 22:55] MePando opened #10229 "Enable to train my model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-08-30 08:29] MePando commented on #10229
Some updates: I've tried to reinstall everything in a v-environment, but the problem still persist.
I've searched more online this morning and I've find out that you can run:

pip uninstall pycocotools
pip install pycocotools==2.0.0

Seems to work now, but there are a lot of messages at the beginning of warning and other stuff:

2021-08-30 09:41:14.013768: W tensorflow/stream_executor/platform/def

[2021-08-30 13:35] Shaiken commented on #4114
我嘗試用相同的版本但不同的num_examples值去跑
結果當數值在30時可跑成功

success:
eval_config: {
  num_examples: 30
  # Note: The below line limits the evaluation process to 10 evaluations.
  # Remove the below line to evaluate indefinitely.
  max_evals: 10
}

fail:
eval_config: {
  num_examples: 8000
  # Note: The below line limits the evaluation process to 10 evaluations.
  # Remove the below line to evaluate indefinitely.

[2021-08-30 19:11] #4800 closed

[2021-08-30 21:16] ymodak commented on #10229
These logs can be ignored if you are not trying to utilize gpu for computation. The training will back on on cpu which can be high compared to cpu.
You may ignore the logs for now since they are rising from many different places due to TF enhancements in the latest version.

[2021-08-30 22:11] BiwenW commented on #8887
Hi Jacobsolawetz, thanks for the tutorial! I could successfully trained the EfficientDet on my personal dataset. However, I am wondering how could I evaluate the model? Like mAP?

[2021-08-31 02:14] iumyx2612 opened #10231 "Visualization of RPN looks wrong"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-08-31 05:08] saberkun commented on #10217
These mentions happen in the tests. I think most of them don't require deterministic order. We can apply the optimization you mentioned. If anyone expect certain inputs and outputs, the map and parallel call may change the orders.

[2021-08-31 06:51] AkkiSony commented on #10224
Thanks for your reply! :)

[2021-08-31 06:51] #10224 closed

[2021-08-31 07:38] debapriyamaji opened #10232 "Accuracy reproducibility issue for ssd_mobiledet_dsp_coco from TF1 modelzoo"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-08-31 08:52] zhimengf commented on #10190
is there an implementation of deeplab v3?

[2021-08-31 11:58] leafiadias commented on #3762
i am fairly new to this and am unable to understand what you have mentioned , i will be grateful if you may  repeat in a step wise order

[2021-08-31 13:44] danielTobon43 commented on #9706
Wonderful.

In my case, it works for:
-Tensorflow 2.5
- Numpy 1.21.2
- Python 3.8.10

I changed the import from ```tensorflow.math import reduce_prod``` to ```import tensorflow as tf```
and in the ```def _constant_if_small``` function I used:
```tf.math.reduce_prod``` according to the tf.math documentation for tf 2.5: https://www.tensorflow.org/api_docs/python/tf/math/reduce_prod?hl=ar

[2021-08-31 18:20] sebastian-sz opened #10234 "Cannot export Resnet-RS to Saved Model format."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-09-01 02:38] kumariko commented on #10232
@debapriyamaji We see that you are using older version of tensorflow 1.15 which is not actively supported, We recommend that you upgrade to 2.6.0 which is latest stable version of TF and let us know if the issue still persists in newer versions .Thank you!

[2021-09-01 04:15] debapriyamaji commented on #10232
Hi,
This model is part of TF1 modelzoo and excluded from TF2 modelzoo, Hence, I had to use TF1.15 to run the evaluation. Let me know what you think.. Thanks.

[2021-09-01 08:01] jake-is-ESD-protected opened #10235 "Question about changing the input size of YAMNet model to constant for TFlite applications"
YAMNet is able to accept dynamically sized inputs to be able to process audio of different lenghts and sample rates. However, when trying to port this to TFlite a few problems arise as seen [here](https://github.com/tensorflow/tensorflow/issues/24607).

A workaround could be to modify the input of YAMNet to only accept a fixed amount of samples (basically limiting the input to a certain sample rat

[2021-09-01 08:04] gcunhase opened #10236 "ResNet fine-tuning doesn't generate checkpoint"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-09-01 08:21] gcunhase commented on #9633
Same issue, is there a solution?

[2021-09-01 11:46] mohanr commented on #6249
Not sure if this is related. We don't need collision handling ?

[code]

[2021-09-01 16:37] Petros626 commented on #10213
hey nice to hear that, i have the same error, but it doesnt fit. maybe u can help me ?

i tried the tutorial from EdjeElectronics: **_https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10_** and still get every time the same error :(

[2021-09-01 17:28] Petros626 commented on #10213
hey can u explain this command im not familiar with that :D

[2021-09-01 17:32] Petros626 commented on #1842
hey from which directory i must run this command

[2021-09-02 01:24] Reuben-Lim commented on #10213
Hi @Petros626 are you using the latest tensorflow/models repo? If you are, I would suggest trying the installation steps from here: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1.md rather than the tutorial you provided. I think the updated installation step is a little different, particularly the compile protocs step.

export PYTHONPATH=$PYTHONPATH:$(pwd)

Th

[2021-09-02 07:16] sahasraa commented on #10031
@Priyabrata409 did you fix the above issue? please help if you did, i am facing the same issue

python export_inference_graph.py --input_type=image_tensor --pipeline_config_path=/home/sahasra/jukshio/object_det_rec/exported_models_trial1_gpu_py38_models_effdetdo_aug21_gpu/pipeline.config --trained_checkpoint_prefix=/home/sahasra/jukshio/object_det_rec/exported_models_trial1_gpu_py38_models_effdetd

[2021-09-02 08:14] TommyZihao opened #10237 "jupyter notebook bug"
something wrong with

https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/mobilenet_example.ipynb

can't open it with jupyter notebook

[2021-09-02 08:45] gloin01 commented on #8765
I have the exact same bug on OSX with the versions protoc-3.18.0-rc-2-osx-x86_64.zip (Pre-Release), protoc-3.17.3-osx-x86_64.zip (latest release), protoc-3.16.0-osx-x86_64.zip (Verified) and protoc-3.13.0-osx-x86_64.zip.

My guess is that this has something to do with OSX.

[2021-09-02 09:35] sahasraa opened #10238 "error while trying to converting .pb to tflite in object detection"
URL of the documentation with the issue
https://github.com/tensorflow/models/blob/master/research/seq_flow_lite/export_to_tflite.py

## Description of the issue:

i face an error while running the script from the above linked repo, in object detection.

python export_to_tflite.py --help

2021-09-02 14:48:34.746834: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dyna

[2021-09-02 11:17] plakal commented on #10235
We have released a couple of different TF-Lite versions of YAMNet on TF-Hub:

- https://tfhub.dev/google/lite-model/yamnet/tflite/1 is an unmodified TF-Lite conversion of YAMNet that accepts variable-length float32 samples as input. This uses the model exporter code from our GitHub repo.

- https://tfhub.dev/google/lite-model/yamnet/classification/tflite/1 is a quantized TF-Lite conversion with a

[2021-09-02 11:17] #10235 closed

[2021-09-02 15:21] AetherPrior commented on #9277
Hi everyone! Has the official model (trained model and code) for PQRNN been released yet? Or is there any plans for doing so?
There are unofficial implementations, but is there any plans for releasing the official one?
Thank you!

[2021-09-02 15:44] Petros626 commented on #10213
hey thank you for your answer. i use tensorflow 1.14 and the models from the model zoo for tf1, because i run in severals erros using tensorflow2 so i thought it would be working.

[2021-09-02 21:13] yeshbourne commented on #9371
If those who are still struggling to get the model converted here's my code for full quantization for edge-tpu compatibility

import numpy as np
import tensorflow as tf

#path to images
image_data = tf.data.Dataset.list_files("./quant-images/*.jpg")
HEIGHT, WIDTH = 640, 640

def representative_dataset_gen():
   for image_path in image_data:
       img = tf.io.read_file(image_path)
       img = tf.

[2021-09-02 22:02] #9724 closed

[2021-09-03 03:02] Paryavi opened #10239 "Let's code for more Classes in eager_few_shot_od_training_tf2_colab.ipynb !"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb

## 2. Describe the feature you request

A

[2021-09-03 08:14] Binh24399 commented on #7329
I am too facing the same problem. Anyone got a solution yet?

[2021-09-03 08:45] gcunhase commented on #10236
**Solution**: add `--enable_checkpoint_and_export` flag.

[2021-09-03 08:45] #10236 closed

[2021-09-04 01:19] tianrking commented on #10196
xVbSvxVbSvv VMjSs

在 2021年9月4日週六 09:10，google-ml-butler[bot] ***@***.***> 寫道：

[2021-09-04 01:52] Paryavi commented on #10239
Hi all,

Can we extend few shot detector example, URL is in the thread,  to multiclass detection, using a CSV generator(including bounding box and annotation labels)?

The only way I know people train TensorFlow OD API for multi-class problems currently is using TFRecords, right?

Thank you in advance,
MoZen

[2021-09-05 07:49] dtlam26 opened #10240 "RuntimeError: __iter__() is only supported inside of tf.function or when eager execution is enabled."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-09-05 10:47] Petros626 commented on #9236
where i must add these line? in jupyter itself before i run the cells all ? would be glad, if someone answer to this question

[2021-09-05 21:19] tensorbuffer commented on #9911
this is very helpful. I had the same issue just by import tensorflow inside docker (undefined symbol: _ZN10tensorflow8OpKernel11TraceStringEPNS_15OpKernelContextEb), and I see there are both tensorflow 2.6.0 and tensorflow-gpu 2.4.1 (I changed the base image in docker file to 2.4.1).
I wonder where it says to install 2.6.0, just find the latest in tensorflow?

[2021-09-06 07:07] eirikaso commented on #9911
The latest version seems to be installed as a dependency when the different python packages are being installed from a requirements.txt file. Since versions are not specified in this file, I think one of the packages  depends on tensorflow, so it installs the latest package

[2021-09-06 09:13] jake-is-ESD-protected opened #10241 "YAMNet for microcontrollers?"
After days of research and no success I'll try to grab the problem at it's root and ask directly:

### Can YAMNet be ported to microcontrollers such as Arduino, STM32xx, ESP32?

A similar question has been asked [here](https://github.com/tensorflow/models/issues/9693), but with a non-general answer. As of now, passing the the official .tflite-model to the STM CubeIDE with X Cube AI results in the

[2021-09-06 09:35] canseloguzz commented on #9371
Hello, thanks for sharing code. I want to try but can you explain what is the "./quant-images/*.jpg" . I'm working with coco dataset. What ı will give there?  Thanks.

[2021-09-06 12:02] rcruzgar commented on #9972
Hi @Zrufy @Mrinal18 @b04505009 ,

Are there any news on how to solve this? I am having the same error message for _ssd_mobilenet_v2_keras_, but not with _ssd_efficientnet-b1_bifpn_keras_, for example.

Cheers,
R.

[2021-09-06 13:13] Selventhiranraj opened #10242 "Evaluation accuracy with frozen graph lower than value given Deeplabv3+ Xception 65 baackbone"
When using the [xception65_cityscapes_trainfine](http://download.tensorflow.org/models/deeplabv3_cityscapes_train_2018_02_06.tar.gz) **frozen graph** alone instead of using the entire checkpoint provided to calculate the validation accuracy on the Cityscapes dataset with Eval scales of 1, I receive a total mIOU score of 63%, which is quite a bit lower than the stated mIOU score of 78.79%. I have u

[2021-09-06 13:21] sebastian-sz commented on #10234
Sorry for the slightly offtopic question but is there any way I can run inference with pretrained (this repository's checkpoint) resnet-rs models?

[2021-09-06 17:39] Petros626 commented on #9255
hey i use the code you shared with us, but in run in new errors:

![github1](https://user-images.githubusercontent.com/62354721/132249723-7237af79-86d0-44f2-bce1-7ba882e5c433.JPG)
![github2](https://user-images.githubusercontent.com/62354721/132249729-3e267360-9a4f-4d1f-87c8-8c0a308f4c05.JPG)

[2021-09-06 20:42] sebastian-sz commented on #10234
@kumariko
Update: Upon further inspection it seems that the checkpoints present [in this repository](https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#resnet-rs-models-trained-with-various-settings) are the same files as the ones from [tensorflow/tpu repository](https://github.com/tensorflow/tpu/tree/master/models/official/resnet/resnet_rs#imagenet-checkpoints).

[2021-09-06 21:44] IamExperimenting opened #10243 "is my model using GPU or not?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-09-06 21:47] IamExperimenting commented on #10243
![start](https://user-images.githubusercontent.com/74839416/132262130-abb4b0c5-8680-46b1-99f7-7690f382e2f8.PNG)
![third](https://user-images.githubusercontent.com/74839416/132262132-e043f973-fd76-4ae3-ab8a-5e05d575812a.PNG)
![second](https://user-images.githubusercontent.com/74839416/132262133-f30f8efc-a62e-455d-89ea-f35a863604e9.PNG)

[2021-09-06 23:27] yeshbourne commented on #9371
Since, I'm using a custom image set to train the folder point to the location of a my sample image set  directory. In your case you can take a sample of 100 images from coco dataset and create a directory to convert. Just make sure you're setting the right dimension of the image you used for training since I'm using mobilenet v2 640x640 I'm resizing my images to that dimension.

[2021-09-07 06:52] vscv commented on #5356
Thank you very much!! It works very fast!

def load_image_into_numpy_array(path):
    """Load an image from file into a numpy array.

    Puts image into numpy array to feed into tensorflow graph.
    Note that by convention we put it into a numpy array with shape
    (height, width, channels), where channels=3 for RGB.

    Args:
    path: a file path (this can be local or on colossus)

    Retur

[2021-09-07 07:08] #5466 closed

[2021-09-07 07:08] #5457 closed

[2021-09-07 07:29] MaxPRon commented on #9927
@e10101 @MariaKalt  Has this issue been solved by now ? I saw the the PR is not yet merged.

I'm running in the exact same issue when training:

![image](https://user-images.githubusercontent.com/17144445/132302435-045f12d9-2da6-4d64-9542-cdff38b4c786.png)

In this case car is also the most frequent class, hence it shouldn't be nearly as low as here. Also I ran the coco_evaluation_metrics on the s

[2021-09-07 07:33] kumariko commented on #4242
@Zumbalamambo We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-09-07 11:54] servercalap commented on #10194
same error. I cant train faster-rcnn rpn stage. But same rpn stage tf1 I was able to training.

[2021-09-07 15:41] MHaz95 opened #10244 "Evaluation custom RetinaNet model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-09-07 15:59] #9713 closed

[2021-09-07 16:01] plakal commented on #9713
Duplicate of #10241

[2021-09-07 16:08] plakal commented on #10241
I'll repeat what I said in issue #10235

"""
We have released a couple of different TF-Lite versions of YAMNet on TF-Hub:

https://tfhub.dev/google/lite-model/yamnet/tflite/1 is an unmodified TF-Lite conversion of YAMNet that accepts variable-length float32 samples as input. This uses the model exporter code from our GitHub repo.

https://tfhub.dev/google/lite-model/yamnet/classification/tflite/1

[2021-09-07 16:08] #10241 closed

[2021-09-07 16:59] Petros626 opened #10245 "AtrributeError: 'Autotrackable' object has no attribute 'output_shapes'"
hey guys,

i am trying to get the object detection of tensorflow to work, however i end up getting this error.

the images are displayed normally and i wonder if i installed everything properly.

Can someone explain this error to me and help me fix it. i already read a github topic about it:
https://github.com/tensorflow/models/issues/9255

error message:

![jupyter notebook](https://user-images.g

[2021-09-07 20:18] dpwe opened #10246 "YAMNet tflite export picking wrong output"
# Prerequisites

- [v] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [v] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [v] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/audioset/yamnet/expor

[2021-09-07 20:29] snooplsm commented on #8253
One problem I see is your model variant is mobilenetv2 and you have --atrous_rates=12 --atrous_rates=24 --atrous_rates=36 defined.  You need to remove the atrous_rates since the train.py says that variable should be None.

[2021-09-07 21:56] dpwe commented on #10241
I have an idea about this.  I made a test version of yamnet/export.py that exports a 4th model, `tflite_fixed`.  This tflite model accepts *exactly* 15600 samples, and generates *exactly* one frame of output (for scores and embeddings, and a 96x64 spectrogram).  This removes `unknown` dimensions in the model, which should make it easier to compile for special hardware.  It also simplifies the inpu

[2021-09-08 02:41] #9141 closed

[2021-09-08 06:47] canseloguzz commented on #9371
Thanks. When i try as you said, i'm getting this errror.
Have you got any idea for solution?

`2021-09-07 10:42:39.125057: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-09-07 10:42:39.229012: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:93

[2021-09-08 15:16] ankitdhall commented on #10035
Encountered the same error with `create_oid_tf_record.py`. Files and paths are existing and correct.

[2021-09-08 16:36] tensorbuffer commented on #8935
would like to use TF2 once this is resolved

[2021-09-08 17:00] srjoglekar246 commented on #9371
@canseloguzz Can you try the instructions [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md) to convert & run your model? Please try and see if the floating point conversion works fine first, then quantized.

[2021-09-08 21:05] #10246 closed

[2021-09-08 21:05] dpwe commented on #10246
Closed by #10248

[2021-09-09 00:09] IamExperimenting commented on #7456
Hey @dilvishjohn, thanks for your recommendation. Could you please provide the folder structure? because I didn't understand this bit "it will be generate need eval folder with evaluation data inside training folder" which you have mentioned in your previous comment.

[2021-09-09 00:10] ymodak commented on #10243
Indicates that gpu setup has been acknowledged.

Have you tried [limiting gpu memory growth](url) to overcome oom error;
[code]

[2021-09-09 00:17] IamExperimenting commented on #10243
@ymodak, I'm afraid I haven't tried this.

Do you want me to mention the below three lines in the model_main_tf2.py script?

[code]

because I faced this error whilst training the object detection model. It would be helpful if you point to some relevant article.
Thanks in advance.

[2021-09-09 00:17] ymodak commented on #10237
In the meantime you may try notebook pinned in the comment https://github.com/tensorflow/models/issues/10161#issuecomment-892766293

[2021-09-09 00:23] ymodak commented on #10237
Attempting with google colab throws error
<img width="947" alt="Screen Shot 2021-09-08 at 5 22 52 PM" src="https://user-images.githubusercontent.com/42785357/132602574-34981a96-4989-49d7-832f-bea2071c2948.png">

[2021-09-09 01:05] marksandler2 commented on #10237
I think the last commit checked invalid json. @ymodak  can you take a look?
![image](https://user-images.githubusercontent.com/6980056/132605362-97be74c4-479a-4545-97d2-f458fc924724.png)

[2021-09-09 01:53] daverim commented on #8935
@xhark, could you update with the latest developments?

[2021-09-09 03:33] karunreddy30 commented on #9277
We're working towards releasing them in Q4.

[2021-09-09 04:12] tensorflowbutler commented on #7020
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
What is the top-level directory of the model you are using
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and mem

[2021-09-09 04:30] tensorbuffer commented on #9835
The graph_rewriter is not handled in tf2: https://github.com/tensorflow/models/blob/master/research/object_detection/builders/graph_rewriter_builder.py#L23

[2021-09-09 06:46] jake-is-ESD-protected commented on #10241
That answers it, thanks. I might have run into memory issues anyways because of the model's size.

[2021-09-09 18:47] debapriyamaji commented on #10232
@ymodak Any update on this.

[2021-09-10 04:43] ymodak commented on #10237
@marksandler2 Thanks for the fix. https://github.com/tensorflow/models/commit/0d9ef8d392c747194972fed483dc2fcd54ed1f99

[2021-09-10 04:43] #10237 closed

[2021-09-10 06:10] #2485 closed

[2021-09-10 07:16] nardienapratama opened #10252 "Error When Evaluating Object Detection Model: The two structures don't have the same nested structure."
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

## 2. Describe the bug

I tried  training a custom object detector using the TFOD API's pre-trained faster rcnn resnet101 model using TF2.5.0. Then, I tried evaluating the model as explained in the [docs](https://tensorflow-object-detection-api-tutorial.read

[2021-09-10 09:38] gcunhase commented on #10205
Any updates on how to calculate "Speed (ms)" in https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md ?

[2021-09-10 09:52] gcunhase opened #10253 "How to obtain Speed metric in TF2 model zoo"
Dear TF experts,

How can we obtain the inference speed metrics in the [TF2 model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)?

This is my script to measure speed. I'm testing it on EfficientDet D0, but it's giving me a latency speed of 205ms instead of 39ms. Please advise.
[code]

[2021-09-10 10:42] Blackclaws commented on #8990
I'm seeing similar issues where the following doesn't work:
[code]
So basically saving and immediately loading makes summary not work anymore. Maybe I am very confused about what saving in this context actually means.

[2021-09-10 20:58] MHaz95 commented on #10244
Closing this issue!

COCO JSON had wrong format.

[2021-09-10 20:58] #10244 closed

[2021-09-11 01:10] #10089 closed

[2021-09-11 02:08] weixinz1 opened #10254 "Train deeplab use my own data"
When I train deeplabv3+, I use my own data which has two size (960720 and 20481024). I want to know how to set the value of "crop_size" in the train.py?

Another question, my train data are all landscape. If I use portrait image to test trained model, the result will be the same as ladscape image or not?

[2021-09-11 02:10] #10196 closed

[2021-09-11 22:01] kassfir commented on #4093
nice

[2021-09-12 13:16] llingtingzhe commented on #7456
does anyone know how to display the accuracy on tensorbord?

[2021-09-12 15:59] tucachmo2202 commented on #10092
Hi @riyaj8888,
Did you fix your error? Could you provide code for do inference video?
Best regard!

[2021-09-13 00:13] saberkun commented on #10221
bert2bert needs input_ids, input_mask, segment_ids and target_ids to train.
You should save the model with all features provided.

If you care about inference and there is no target_ids, you should not use Keras model.save(). Keras does not support None as inputs. Instead, we directly define a tf.Module including the bert2bert core model and save the tf.function using tf.saved_model.save() API. Us

[2021-09-13 00:13] #10221 closed

[2021-09-13 05:10] #5828 closed

[2021-09-13 14:18] Mihajasoa opened #10255 "Transfer learning code not working when loading dataset"
# Prerequisites
 - I am using the latest TensorFlow Model Garden release and TensorFlow 2.
 - I am reporting the issue to the correct repository
 - I checked to make sure that this issue has not been filed already.

## The entire URL of the file I am using

https://github.com/tensorflow/models

## Description of the bug

From the file **model_lib_v2.py** the transfer learning process seems to ente

[2021-09-13 16:41] #10229 closed

[2021-09-13 16:43] ymodak commented on #10243
Yes. Can you try to putting those lines on top of the script after importing tf?

[2021-09-13 16:51] ymodak commented on #10245
Have you tried similar post https://stackoverflow.com/questions/64058210/autotrackable-object-has-no-attribute-output-shapes ? What TF version are you using?

[2021-09-13 17:27] Petros626 commented on #10245
@ymodak hey I use tensorflow 1.15 ad find out that you must change some lines in the tutorial itself which you want to run on jupyter notebook. If you're interested I can share the github issue link with you.

[2021-09-13 17:29] ymodak commented on #10245
Yes please go ahead and share the link. Thanks!

[2021-09-13 17:43] Petros626 commented on #10245
i fix it with these two links:

1. https://github.com/ykchong45/models/commit/1eaef36a18a50711eb1ed5545e3319625f1f1a67
2. https://github.com/tensorflow/models/pull/9430/files

[2021-09-14 04:20] ArunaKote opened #10256 "Error while converting mrcnn tf dialect to HLo"
I am using   tf 2.7.0-dev20210831.
I am using https://tfhub.dev/tensorflow/mask_rcnn/inception_resnet_v2_1024x1024/1” and creating tf dialect using tf.mlir.experimental.convert_graph_def.  I have attached python code which I used to get tf dialect.

Then I used tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt -canonicalize --tf-shape-inference -xla-legalize-tf --print-ir-before-all &>1 tf.mlir

[2021-09-14 07:10] #5356 closed

[2021-09-14 07:43] BADAL244 opened #10257 "Deeplab model successfully loaded in tensorflow 2.5 but not able to predict the segmented output"
PARAMETERS
 * /deeplab_ros_node/model: mobilenetv2_coco_...
 * /deeplab_ros_node/rgb_input: /camera/rgb/image...
 * /deeplab_ros_node/visualize: True
 * /rosdistro: melodic
 * /rosversion: 1.14.11

NODES
  /
    bag (rosbag/play)
    deeplab_ros_node (deeplab_ros/deeplab_ros_node.py)
    rviz (rviz/rviz)

auto-starting new master
process[master]: started with pid [17911]
ROS_MASTER_URI=http://loca

[2021-09-14 19:20] esparig opened #10258 "Trying to train ResNet50 from scratch, documentation is not clear"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/vision/image_classification

## 2. Describe the issue

I can't reproduce the examples provided in the documentatio

[2021-09-14 23:01] gcunhase commented on #10253
Any updates on this issue?

[2021-09-14 23:25] IamExperimenting commented on #8375
@tispratik, thanks for sharing this. Currently, I'm training an object detection model, I'm just wondering how to visualise the mAP value during training and evaluation. Now, I see only the losses for training in the tensorboard but not the mAP value. During evaluation I can see a single pointfor mAP all, small, medium, large.  how to visualise the mAP value similar to your image which you have po

[2021-09-14 23:50] tispratik commented on #8375
Hi @IamExperimenting, it could mean that none of your bboxes meet the size criteria for mAP small/medium/large... check your bbox sizes.

[2021-09-15 06:45] esparig commented on #10258
Similarly for EfficientNet:
[code]

[2021-09-15 07:38] dpchami commented on #9694
I am new to tensorflow and tflite in general
I got the same problem as this issue
My script running on google **colab** Tensorflow 2.7.0-dev20210914

Anyone to assist

![image](https://user-images.githubusercontent.com/19475836/133390928-8642ccb1-4328-42f6-be1c-f43592d9f17f.png)

[2021-09-15 08:46] janjongboom commented on #9981
@ymodak Any updates here?

[2021-09-15 16:16] srjoglekar246 commented on #9694
Sorry for dropping the ball here, looks like this got lost in my email.

@dpchami can you paste the commands/code you are running when you got this error? I can take a look & reproduce it for debugging.

[2021-09-15 16:26] LoicDagnas commented on #10221
@saberkun thank you, and mea culpa.

[2021-09-15 16:32] LoicDagnas commented on #10221
@saberkun in fact I get the exact same error using
[code]
at the end of my example above.

[2021-09-15 19:53] vermavinay982 commented on #8862
Since the model is not Keras model, it is SSDMetaArch, So you can try saving the checkpoint and the config file. Build the model and load from the checkpoint to restore the weights. I found this solution, maybe not the best but it works. If you have a better one please share.

[code]
Loading the model from checkpoint
[code]

[2021-09-15 22:50] IamExperimenting commented on #5010
@tispratik, could please guide how to display metrics per category? I have tried this https://github.com/tensorflow/models/issues/4778#issuecomment-430262110. But, unfortunately, I'm not able to get it and moreover,
![error_](https://user-images.githubusercontent.com/74839416/133520048-893b1a87-ac41-4547-85c6-1062a5e41929.PNG)
 I got an error.

could please help me.

[2021-09-15 22:57] IamExperimenting commented on #5010
@pkulzc Hi, could you please let us know how to print out metric per category in the tensorboard in the current tf2 version?

[2021-09-15 23:59] tensorbuffer commented on #8935
@Xhark Any update? We will need to rewrite our model with TF1.x if this is not resolved. If it's not ready do you have a timeline?

[2021-09-16 00:06] monicadsong commented on #10055
Can you try doing `tf.keras.models.load_model(path)` instead of `tf.saved_model.load(path)`?

[2021-09-16 01:11] tispratik commented on #5010
@IamExperimenting sounds like you are using tf2 version... my diff above is for non tf2. You have to figure out similar way, I am sorry I am not uptodate with the latest code base.

[2021-09-16 07:13] dpchami commented on #9694
Thanks for the reply. Here is the code result to my issue @srjoglekar246

![image](https://user-images.githubusercontent.com/19475836/133566500-cf17e5a6-14e2-453d-89e7-2e0ff1925ad6.png)

![image](https://user-images.githubusercontent.com/19475836/133566669-16304862-8a74-4704-a31e-4af22927645b.png)

[2021-09-16 08:42] Qengineering commented on #10063
Beside all problems above, TensorFlow >= 2.5.0 [needs](https://www.tensorflow.org/install/gpu#software_requirements) **CUDA 11.2**, which in not available for the Jetson Nano, nor can it be [installed](https://forums.developer.nvidia.com/t/installing-cuda-11-x-on-jetson-nano/169109).

[2021-09-16 13:59] harrisdj opened #10260 "error running eager_few_shot_od_training_tflite in google colab"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb

## 2. Describe the issue

Running the n

[2021-09-16 16:19] srjoglekar246 commented on #9694
@dpchami Can you print `interpreter.get_output_details()`? It is possible that due to certain changes in the converter recently, the order of outputs might have changed. So the snippet of the code that obtains the boxes, classes & scores tensors might be wrong (in essence you might be interpreting the boxes or classes tensor as scores, or something like that)

[2021-09-16 17:00] recharles opened #10261 "[struct2depth] ValueError: Couldn't find 'checkpoint' file or checkpoints in given directory"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/archive/research/struct2depth

## 2. Describe the bug

ValueError: Couldn't find 'checkpoint' file or checkpoints in given directory when running the inference.py file with the model provided from https://sites.google.com/view/struct2depth (both from KITTI and CityScapes)

The error happens when running line

[2021-09-17 02:15] gcunhase commented on #10253
Is the reported time of 39ms for batch_size=1?

[2021-09-17 12:22] EtagiBI commented on #10035
@satojkovic Thanks for the hint!
I've checked my COCO files
[code]
Result:
[code]
It seems files are fine, but the problem is still there...

[2021-09-17 14:49] sakshamceo commented on #4864
ModuleNotFoundError: No module named 'utils'

[2021-09-17 14:57] ankitdhall commented on #10035
For me what worked was to add the `'rb'` flag here:
Change this:
`with tf.gfile.Open(image_path) as image_file:`
to:
`with tf.gfile.Open(image_path, 'rb') as image_file:`

[2021-09-17 17:15] Shubhambindal2017 opened #10264 "Get/save predictions made during evaluation for object detection models"
At present, if someone wants to evaluate and get/save predictions on same dataset for a trained model, they need to run evaluation (by running model_main_tf2.py with checkpoint_dir arguement) and inference separately, so what if the user gets an option to save the prediction during the evaluation itself, it can reduce need to run inference separately.

And a queries:
I have fine-tuned an SSD-Mobil

[2021-09-17 17:29] Shubhambindal2017 opened #10265 "SSD-MobilenetV2 - Preprocessing during Inference"
I have fine-tuned an SSD-Mobilenetv2 with train config fixed resize 300x300 built using tensorflow objection detection API and saved in TF Saved_Model format.
Questions:
 - How during inference it is able to accept input images of any shape (not 300x300) without the need for any preprocessing to resize to 300x300 first and then pass to the model.
 - Does it is because saved_model by default does r

[2021-09-17 18:45] jocelynbaduria commented on #8523
I am getting also the same error after training DenseNet.

    return target(*args, **kwargs)
  File "/opt/anaconda3/envs/Selfie_cpu/lib/python3.6/site-packages/tensorflow_core/python/ops/array_ops.py", line 1431, in concat
    return gen_array_ops.concat_v2(values=values, axis=axis, name=name)
  File "/opt/anaconda3/envs/Selfie_cpu/lib/python3.6/site-packages/tensorflow_core/python/ops/gen_array_

[2021-09-17 20:36] hiwaveSupport commented on #10038
I am seeing the same issue with the docker image. I also tried the pip install -U tensorflow==2.3.0, which gets over this issue but then creates a new one which seems to be related to base tf2 files installed. Any ideas how this can be resolved?

[2021-09-18 01:01] rsun-bdti opened #10266 "Object detection API installation does not recognize tensorflow-gpu==2.5.0 already installed in the Conda virtual environment"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-09-18 19:42] jocelynbaduria commented on #8523
I am currently running it in CPU not GPU and I solved it using the correct version of Tensorflow 2.0 and Python 3.7.7.

[2021-09-19 04:04] Niccari commented on #9911
As for the workaround, I was able to align the tensorflow-gpu and tensorflow versions by rewriting the Dockerfile as shown below. The object_detection library should be versioned for each TensorFlow version as well as the tf_models_official library, IMO.

[code]

The changes are as follows.

1. Manually install the versions of tensorflow and tf-models-official with the same version as tensorflow-g

[2021-09-19 05:09] fairuzsamihasaeed commented on #8432
Hi, I am a new user of YAMnet model. I have a question regarding this. Does yamnet requires equal duration of audio files for training the model? Thank you

[2021-09-20 06:16] kumariko commented on #10261
@recharles We can see you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-20 07:59] ArunaKote commented on #10256
@jaeyounkim,

1.tensorflow version 2.7.0-dev20210831

2.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimized build.
Default target: x86_64-unknown-linux-gnu
Host CPU: cascadelake
3.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimized build.
Default targ

[2021-09-20 13:14] duffjay commented on #10083
Is there a workaround for this problem?    for example, can I train from scratch to avoid the problem?  (if so, how do I train from scratch as opposed to the checkpoint?)

[2021-09-20 22:15] Dorian942 opened #10267 "ImportError: cannot import name 'deepmac_meta_arch' from 'object_detection.meta_architectures'"
## 1. I try to run this file

https://github.com/tensorflow/models/tree/master/research/object_detection/builders/model_builder_tf2_test.py

## 2. Describe the bug

Bug Happens when I try to run the model builder tf2 test

## 3. Steps to reproduce
run
[python object_detection/builders/model_builder_tf2_test.py](url)

## 4. System information
Tensorflow :
Name: tensorflow
Version: 2.5.0
Summary: Te

[2021-09-21 02:21] kotran88 opened #10268 "How to get better fps for raspberry pi with coral usb"
Hello I trained well with tf1 - coco ssd model and get result quite as I intended
normally, I do all command with google colab

with pb file to convert to tfltie,
I used this command

`!tflite_convert --graph_def_file=/content/drive/MyDrive/onoff_dnn/models/my_tflite_mobile/tflite_graph.pb --output_file=/content/drive/MyDrive/onoff_dnn/models/my_tflite_mobile/detect.tflite --input_shapes=1,300,300

[2021-09-21 03:58] vinny-xl commented on #4794
When I run train.py, show an error: absl.flags._exceptions.UnparsedFlagAccessError

`
from __future__ import print_function

import numpy as np
from tqdm import tqdm
import multiprocessing as mp
from absl import app
from absl import flags

import tensorflow as tf
from env import Environment
from game import CFRRL_Game
from model import Network
from config import get_config

FLAGS = flags.FLAGS
fla

[2021-09-21 03:59] vinny-xl commented on #4794
When I run train.py, show an error: absl.flags._exceptions.UnparsedFlagAccessError
``from __future__ import print_function

import numpy as np
from tqdm import tqdm
import multiprocessing as mp
from absl import app
from absl import flags

import tensorflow as tf
from env import Environment
from game import CFRRL_Game
from model import Network
from config import get_config

FLAGS = flags.FLAGS
flag

[2021-09-21 04:07] vinny-xl commented on #4794
When I run train.py, show an error: absl.flags._exceptions.UnparsedFlagAccessError
What is the top-level directory of the model you are using：python3.8_tf220/CFR-RL
Have I written custom code：No
OS Platform and Distribution: window 10
TensorFlow installed from：Anaconda and  Official Website
TensorFlow version ：2.2.0
CUDA/cuDNN version： cuda10.1 and cudnn 7.6.5
`from __future__ import print_functio

[2021-09-21 05:40] Rishit-dagli opened #10269 "Swin Transformers for image classification"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

I am planning to contribute this paper implementation: [![arXiv](https://img.shields.io/badge/arXiv-2003.06792-b31b1b.svg)](https://arxiv.org/abs/2103.14030)

## 2. Describe th

[2021-09-21 07:20] kotran88 commented on #10268
I tried new pretrained model
http://download.tensorflow.org/models/object_detection/ssdlite_mobiledet_edgetpu_320x320_coco_2020_05_19.tar.gz
but it cause error when I start training.
[code]

[2021-09-21 08:25] #4242 closed

[2021-09-21 09:00] anoldmaninthesea commented on #5317
I have the same problem...

Building wheels for collected packages: pycocotools
  Building wheel for pycocotools (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\iavta\anaconda3\envs\PythonCPU\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\iavta\\AppData\\Local\\Temp\\pip-install-23wmyn5i\\pycocotools_2add5938f11b43b19d

[2021-09-21 11:35] anoldmaninthesea opened #10270 "I cannot install tf-models-official on a PC with Windows 10. Error and undesired uninstallation."
## 1. Describe the bug

I cannot install tf-models-official on a PC with Windows 10. Not only that, but because of the bug, it removes previously installed packages (Pandas, NumPy, etc.) !

## 3. Steps to reproduce

pip install tf-models-official on the command prompt, I get the following error

## 4. Additional context

Building wheels for collected packages: pycocotools
Building wheel for pycoco

[2021-09-21 13:26] anoldmaninthesea commented on #10270
https://docs.microsoft.com/en-us/answers/questions/136595/error-microsoft-visual-c-140-or-greater-is-require.html

It seems that we need to install the Compiler for C++. I solved this by downloading the full 6GB...

[2021-09-21 13:26] #10270 closed

[2021-09-21 13:39] samra-irshad commented on #3365
Hey could you explain why have you suggested to use a different label for background images? I am currently working on a single object detection problem and the images that do not contain any groundtruth annotation/object, I assign '0' class to it.

[2021-09-21 13:42] samra-irshad commented on #3365
I am currently writing a loss function where I assign both the localization and confidence for the background images as '0', so no gradient update for these examples. Could you tell if its the right approach?

[2021-09-21 13:44] samra-irshad commented on #3365
Do you backpropagate the loss for background/negative images?

[2021-09-21 14:26] sachinprasadhs commented on #10231
Faster RCNN works in multiple stages.

- It takes the feature maps from CNN and passes them to the Region Proposal Network(RPN), and result of this is the n anchor boxes which you see in the left side of the image above.
These Anchor boxes have different sizes and RPN predicts the probability that anchor is an object(without labels) and bounding box regressor for adjusting the anchors for better f

[2021-09-21 15:36] sachinprasadhs commented on #10000
Could you please try the issue mentioned [here](https://github.com/tensorflow/models/issues/6595) and [here](https://stackoverflow.com/questions/51567728) and let us know if you still face an error.

[2021-09-21 17:43] sachinprasadhs commented on #10147
Since, Faster RCNN works in multiple stages.

First IoU is for the Regional Proposed Network ( RPN) to identify the foreground and background anchors based on the IoU threshold.
Second IoU is for the fully connected layer which has a softmax and linear regression layer to classify objects with labels by considering the proposed boxes from RPN and make the adjustment to the bounding boxes near to t

[2021-09-22 00:41] krishnaaxo commented on #10265
ok

[2021-09-22 00:41] krishnaaxo commented on #10243
Yes. Can you try to putting those lines on top of the script after importing tf?

[2021-09-22 01:15] #10268 closed

[2021-09-22 02:47] ChrisrunnerR commented on #6372
import numpy as np
import os
import six.moves.urllib as urllib
import sys
import tarfile
import tensorflow as tf
import zipfile

# adding here
import argparse

from collections import defaultdict
from io import StringIO
from matplotlib import pyplot as plt
from PIL import Image
#0 for camera 1
import cv2
cap = cv2.VideoCapture(0)

# This is needed since the notebook is stored in the object_detecti

[2021-09-22 06:38] cristyioan2000 commented on #3387
Hi, I am not very sure how this PR curve was obtained (Figure 5), was the model trained on the LF and LC dataset from the [DIR paper](https://arxiv.org/abs/1604.01325) and validated on the Google Landmarks v2 dataset ?
![image](https://user-images.githubusercontent.com/33129070/134294307-4215b65a-a96d-493f-8c95-f7a73a748ea5.png)

[2021-09-22 09:57] edwardfsoler commented on #10255
currently experiencing same issue as above

[2021-09-22 11:12] borarak opened #10271 "Movinet Colab link is wrong"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/movinet

## 2. Describe the issue

In the docs: https://github.com/tensorflow/models/tree/mas

[2021-09-22 12:42] Petros626 commented on #8711
THANK YOU VERY MUCH, WORKED FOR ME :) you saved my project work

[2021-09-22 14:10] jake-is-ESD-protected opened #10272 "What is a "score" exactly?"
From the [TFhub page for yamnet](https://tfhub.dev/google/yamnet/1) the following information can be obtained:

1. citation implies: output = independent predictions
2. citation implies: scores = direct identifier for events (by mean over frames)
3. citation implies: outputs != probabilities

What is the exact meaning of a score? Let's keep it simple without any mean aggregation, so only one frame

[2021-09-22 16:04] sachinprasadhs commented on #9926
Since you have already tried with different hyper parameter tuning and getting the convergence issue, one more thing you could do is to shuffle the entire data before train/test/val split to have good distribution of your data and try running the model again.
If you still get the convergence issues, it could due to below reason.

- Resnet is comparatively deeper network than VGG network, deeper ne

[2021-09-22 16:30] Erwanb2 opened #10274 "EfficientDet don't train"
# Prerequisites

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md : EfficientDet d0

## 2. Describe the bug

When i run the training of the EfficientDet model, everything is fine but when it's time to show me the classification_loss etc. it doesn't train and returns something about MirroredVariable

[2021-09-22 16:54] sachinprasadhs commented on #10245
Does the above fix works for Tensorflow 2.x as well? or you have tested only with Tensorflow 1.15?

[2021-09-22 19:24] jaeyounkim opened #10275 "[Help wanted] FCOS: Fully Convolutional One-Stage Object Detection"
# Help wanted: Research paper code and models

Please help us to implement the following research paper using TensorFlow 2.

If you want to contribute, please leave a comment to express your interest.

Awesome external contributors will be nominated for [Google Open Source Peer Bonus](https://opensource.google/docs/growing/peer-bonus/).

## Research papers

[![Paper](http://img.shields.io/badge/pa

[2021-09-22 21:26] rsun-bdti commented on #8872
All the discussions don't seem to address the original post, which was a feature request for the flexibility to include or exclude the post-processing part of SSD-Mobilenetv2 when generating a TFLite model. Am I missing something? Is that flexibility available now?

[2021-09-22 21:42] srjoglekar246 commented on #8872
@rsun-bdti Unfortunately, no. We never added that flexibility, because there weren't many use-cases for that. If you are willing to modify the exporting script locally, returning just the predicted tensors you want [here](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_lib_tf2.py#L174) should work. The rest of the exporting process should work fine, A

[2021-09-22 23:20] rsun-bdti commented on #8872
@srjoglekar246  Thanks for the confirmation. I will modify the code you mentioned. I am trying to run inference of an SSD-Mobilenetv2 model on an MCU; that flexibility would be handy in my application.

[2021-09-23 04:50] #7020 closed

[2021-09-23 08:52] EtagiBI commented on #10035
Hmm, I'm using `create_coco_tf_record.py`. There's no such line in this file:
`with tf.gfile.Open(image_path) as image_file:`

[2021-09-23 11:10] EtagiBI commented on #10035
I've managed to solve the issue. The problem was caused by backslash symbol (`\`) in my paths. Its' important to nothe that backslashes are default separators fow Windows, so I assume only Windows users could face this issue.
With 'normal' slashes (`/`) `create_coco_tf_record.py` runs flawlessly.

[2021-09-23 11:10] #10035 closed

[2021-09-23 11:51] klearchos-stav commented on #7938
For me saver = tf.train.Saver(tf.all_variables().append(max_to_keep=50)) #saver = tf.train.Saver(tf.all_variables()) in export_model.py didnt work.
I solved this by adding in train.py the following:
      saver = tf.train.Saver(tf.all_variables(), max_to_keep=50)

      slim.learning.train(
          train_tensor,
          logdir=FLAGS.train_logdir,
          log_every_n_steps=FLAGS.log_steps,

[2021-09-23 14:04] dpwe commented on #10272
We train them to estimate posterior probabilities, but the actual learned result depends entirely on the distribution of the training data and labels, and ends up not being a great posterior.

The scores are what comes out of the network, that's the bare fact. They want to be posteriors, but the limitations in what the model has learned means you'll want to be very cautious when assuming they are

[2021-09-23 23:07] chendbox commented on #5417
this helps a lot. I am using tensorflow 2.6 version, I had compatible issue. Then use this to update the generate TFRecord py file, it works. Thanks

[2021-09-24 06:07] uffoltzl commented on #9652
@romildojuliano did you find a way to optimize your application?

[2021-09-24 06:55] ai2ys opened #10276 "Documentation link in export_inference_graph.py with 404 page not found error"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

Documentation header of file:
[https://github.com/tensorflow/models/blob/master/research/object_detection/export_inference_graph.py](https://github.com/tensorflow/models/b

[2021-09-24 10:10] ketan4373 commented on #10055
No @monicadsong, it doesn't work with tf.keras too

[2021-09-24 14:16] Erwanb2 commented on #10274
I found the solution. In the pipeline.config file, i had to change fine_tune_checkpoint_type: "detection" instead of fine_tune_checkpoint_type: "classification"

[2021-09-24 14:16] #10274 closed

[2021-09-24 20:44] PoissonChasseur opened #10277 "ERROR: google.protobuf.text_format.ParseError: 11:5 : Message type "object_detection.protos.BoxCoder" has no field named "box_coder""
I am trying to use a pre-trained model for object detection where I have followed all the steps presented on other sites (like [https://pylessons.com/Tensorflow-object-detection-installation/](url) and [https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/tensorflow-1.14/install.html#tf-models-install-coco](url) ).

However, even though I was able to successfully run the files "model

[2021-09-26 08:31] techTutorialsYTube commented on #9652
Any way to optimize the model for react native

[2021-09-26 11:43] Prixxi commented on #7512
I had a similar error:
if classes[i] in six.viewkeys(category_index):
AttributeError: 'list' object has no attribute 'keys'
What fixed it for me was to change the lines 1207 and 1208 from the visualization_utils.py script to:
if classes[i] in six.viewvalues(category_index[classes[i]-1]):
              class_name = category_index[classes[i]-1]['name']

Depending on how you call the third argument o

[2021-09-26 18:42] eusojk commented on #8181
@yugaljain1999, did you have the chance to figure this one out by any chance?

[2021-09-27 03:24] yugaljain1999 commented on #8181
@eusojk No, I didn't get any solution of this.
I think tf developers needs to fix this.

[2021-09-27 03:38] saberkun commented on #10271
Thanks! I am fixing it directly as you did not sign cla yet.

[2021-09-27 03:41] saberkun commented on #10258
Do you have imagenet dataset processed ready? The tutorials don't contain processed imagenet dataset tfrecords because of the license issue.

[2021-09-27 03:43] saberkun commented on #10222
(1) batch size must be known for beam search; (2) target_ids tensor is not necessary for decoding.

[2021-09-27 03:44] mainisameer opened #10278 "coco-ssd and wasm"
Does coco-ssd not support wasm backend, we are seeing a drop in performance when we use cpu backend

[2021-09-27 03:50] #10271 closed

[2021-09-27 08:58] LoicDagnas commented on #10222
(1) it must the same only when padded_decode is set to true?

(2) yes, in fact it is related to my other issue concerning this model https://github.com/tensorflow/models/issues/10221

[2021-09-27 12:23] thmsgntz commented on #9911
Hello,
@Niccari's solution works fine on my side! Thanks for your help.
Last thing I would need is to freeze the version of the cloned repository *tensorflow/model*. To avoid update on the master branch that may break the installation. In this line :
[code]

The best thing would be something like:

[code]

BUT *research* directory under *models* are removed from the released versions (see the last

[2021-09-27 14:44] MatCorr commented on #9766
Same here. An EarlyStopping feature would be great. I have been trying to implement it somehow, but so far I've had no luck.

[2021-09-27 17:12] PoissonChasseur commented on #10277
Note: I was able to run the "train.py" and "eval.py" files (which came from "models\research\object_detection\legacy") with the pre-trained model "Faster R-CNN Inception-V2". So it seems that this problem is only related to SSD type models (or only this model in SSD version).

[2021-09-27 17:51] yanikc opened #10279 "Pretrained DELG model that is servable with TFServing"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

I'm trying to use pretrained DELG model on [SageMaker](https://github.com