[2017-04-26 10:14] Ettard commented on #1390
The dequeue operation is in <a href=https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L454>train_image_classifier.py</a>,line 454. I'm supposing to check on this but don't have a clear idea.

[2017-04-26 11:39] SarfraazMsa commented on #1389
OS Platform and Distribution - Linux Ubuntu 16.04LTS
TensorFlow installed from  binary (pip)
TensorFlow version - 1.1.0
Bazel version - Build label: 0.4.5
CPU Memory :16GB
PROCESSOR: Intel® Core™ i5-4590S CPU @ 3.00GHz × 4
OS Type - 64-bit

currently i'm trying to run this code without GPU, So is it possible to run with CPU? ..and if not then whats the requirement for GPU to run this code with rel

[2017-04-26 12:03] LtveG opened #1411 "A NameError given when use im2txt model"
Ubuntu
My TensorFlow version is 1.1.0-rc1 and its installed from source
Bazel version is 0.4.5
python is 2.7

I want to try the im2txt,and download the model.ckpt-3000000 and word_counts.txt from Google
Then i use :

[code]
The error form Terminal
[code]

The error : File "<string>", line 1, in <module>
NameError: name 'a' is not defined

I can't solve

[2017-04-26 14:20] girving commented on #1400
@arvind2505 Maybe add a note that you're not actively maintaining, but leave your name there.

[2017-04-26 14:56] gahu1125 commented on #1407
I have just realized that I missed some error from prep.py. Since prep.py is written in python 2, I had to change everything to python 3 language, and missed some things. Fixed it and all good!! thank you!!

[2017-04-26 14:56] #1407 closed

[2017-04-26 14:58] girving commented on #1410
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-26 14:58] #1410 closed

[2017-04-26 15:58] Shiro-mx opened #1413 "Ask : inception v4 .meta file"
Hello,

I am a newbie in tensor flow framework. I wanted to use the pre trained model of inception v4. I found on your github the checkpoint file but I did not find the .meta . I need it so as to load the model , does someone have this file ?

sorry if someone has already asked it

[2017-04-26 16:32] bakarov opened #1414 "SyntaxNet: InvalidArgumentError"
I start an example (`echo 'Bob brought the pizza to Alice.' | syntaxnet/demo.sh`) and I get such an error:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: Dimensions must be equal, but are 2304 and 512 for 'evaluation/while/logits/MatMul' (op: 'MatMul') with input shapes: [?,2304], [512,93].`

What can cause it? I've successfully installed `syntaxnet-0.2-cp35-cp35m-linux_x86_64.whl

[2017-04-26 17:01] aselle commented on #1389
Did you try ...
[code]
from the README? What is happening is you are using a newer compiler on ubuntu 16 than ubuntu 14 where we compile our code. You can probably solve this problem by building base tensorflow from source if the above suggestion doesn't work.

[2017-04-26 17:05] aselle commented on #1409
`slim.get_model_variables('vgg_16')` is returning None. Try printing `slim.get_model_variables()` and make sure `vgg_16` is actually there.

[2017-04-26 17:10] aselle commented on #1411
Your line 49 seems to have been modified. Are you sure you are using the latest master from tensorflow/models...
https://github.com/tensorflow/models/blob/master/im2txt/im2txt/inference_utils/vocabulary.py#L49
Your code seems to have an `eval()` around the split.

[2017-04-26 17:17] aselle commented on #1413
you can generate the meta yourself using the slim code. See this page...
https://github.com/tensorflow/models/blob/master/slim/README.md#pre-trained-models
Otherwise please ask on stackoverflow.

[2017-04-26 17:17] #1413 closed

[2017-04-26 18:01] gahu1125 opened #1415 "text2bin.py model"
I was trying Swivel.py, and after completing it, I was trying to use text2bin.py to create vocab.txt and output.bin.

However, when I run the code, it creates txt and bin files and they are empty, and the code continues to run.
I found out that it hovers at the below code. Still runs but not moving forward to write anything on the created files.
[code]

below is my whole code, which is in python 3

[2017-04-26 18:36] yaserkl opened #1416 "[textsum] sess.run in decode_topk prints out vectors"
When I try running the textsum in decode mode, it prints our some vectors rather than doing the work. I traced the problem and found that in the seq2seq_attention_model.py file under decode_topk function, sess.run(...) command is printing out these vectors rather than putting the result of the function call in 'result' variable.
I also changed the source code a bit to use Glove pre-trained word2ve

[2017-04-26 21:04] ybsave opened #1417 "GPU out of memory when using Tensorflow Slim"
I have used Tensorflow / Slim to implement ResNext 50 framework. When I run the program with a cardinality (the number of groups used in ResNext, see detailed explanations below) of 32, the GPU is always out of memory, even if I set the batch size to 1. When I use cardinality of 4, I can successfully run the program with a batch size of 16.

------------Update----------------
I find the reason is

[2017-04-26 21:36] nealwu commented on #1403
@18811376770 could you try using `six.b()` to convert the string to bytes? If that fixes your problem, please submit a pull request for it and we'll merge.

[2017-04-26 22:15] adam-tyemill commented on #208
@prakhar21 what was your solution here? would have been nice if you included it! 😛   I'm running into the same issue and not sure why it's hanging.

[2017-04-26 23:54] #1417 closed

[2017-04-27 01:41] LtveG commented on #1411
@aselle  Thank you very much! i has modified the it .
But it give other error:
`NotFoundError (see above for traceback): Tensor name "lstm/basic_lstm_cell/weights" not found in checkpoint files /home/sky/Lan/Tensorflow/im2txt/im2txt/model.ckpt-3000000`
`[[Node: save/RestoreV2_381 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/cpu:0"](_recv_save/Const_0, save/RestoreV2_381/

[2017-04-27 01:57] buaa1406LiuZheng opened #1418 "Implementation Question about the slim Resnet Model Downsampling Position"
I found that in the slim.nets.resnet_v1 and slim.nets.resnet_v2, the implementations of Resnet have a different Downsampling Position compared with the original paper[1] and its official caffe implementation[2].

Take the resnet_v1_50 for example, it downsamples at the first three blocks i.e. block1, block2 and block3, and in each block, it downsamples at the last unit i.e. the last bottleneck, an

[2017-04-27 02:53] jingcangcang commented on #1355
@bogatyy
I also have the same problem. Can you tell us how to fix it? Thanks.

[2017-04-27 06:47] tobiajo opened #1419 "Slim throws all Variables must have their device set: name: "global_step" after upgrade tensorflow to v1.0.0"
When running [Slim](https://github.com/tensorflow/models/tree/master/slim) with multiple worker replicas I get the following exception:
[code]

The line numbers does not match because of that I have added [this](https://github.com/tobiajo/yarntf/commit/23fdddc8fcfb4a55a90ed8f692b0f44100c759df) to `train_image_classifier.py`.

@nathansilberman @sguada

[2017-04-27 08:13] PavlosMelissinos commented on #887
@jeetp465 Alternatively you can clone the repository at commit f653bd2

[code]

[2017-04-27 08:38] harshthaker commented on #646
I am also getting the same error as @altosz. Running on OSx El Capitan. Is there a solution for the bug ?

[2017-04-27 08:42] santle opened #1420 "No input layer spotted"
My intended task is:
1) create checkpoint files for my custom classes using inception V3 arch.
2) freeze them to the protobuf (.pb) using freeze_graph
3) optimize the frozen graph using optimize_for_inference
4) Use pb file in android TF camera demo for classification

When I check the .pb file obtained in step 2 for input layer name and output layer name, it shows

	No inputs spotted.
	No variabl

[2017-04-27 10:35] jeansely commented on #1409
Hi,
i run with your recommend but occurs the same error.
the vgg_16.ckpt is in the "model" folder . os is windows . python is 3.5 . tensorflow is last version
this is full code:

from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import cv2
import numpy as np
import os
import sys
import tensorflow as tf
import urllib
from tensorflow.contrib.slim.python.slim.datasets import imagen

[2017-04-27 15:59] aselle commented on #1419
http://stackoverflow.com/questions/38793718/distributed-tensorflow-valueerror-when-when-using-replicas-all-variables-mus

[2017-04-27 15:59] aselle commented on #1415
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-27 15:59] #1415 closed

[2017-04-27 16:02] aselle commented on #1409
Did you do this?
"Try printing slim.get_model_variables() and make sure vgg_16 is actually there."
Could you attach what the printout returns?

Did you then print the results of slim.get_model_variables(...) where ... is some filter to make sure you get back the variable you expect?

[2017-04-27 17:02] jeansely commented on #1409
Hi, aselle
Thanks for response. i update the  files  in the slim ("nets folder") then take printout from  both slim.get_model_variables('vgg_16') and slim.get_model_variables() , show true pretend variables file.
Many Thanks.

[2017-04-27 18:18] girving commented on #1420
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-27 18:18] #1420 closed

[2017-04-27 21:18] drew870mitchell commented on #1200
(info)

I was facing this issue on Ubuntu 16.10, Bazel 0.4.5, when trying to compile from source to get the additional CPU instruction sets support, Python 2.7.3, Tensorflow 1.1.0, gcc 6.1.1.  `cd` to different directory didn't help; `bazel clean` and `bazel test` and `bazel test ...` all didn't improve anything.  If you're in the same boat, instead of pulling your hair out, here's a link to a Whe

[2017-04-27 21:55] tobiajo commented on #1419
@aselle already tried that.

If I add a `with tf.device("/job:ps/task:0"):` block as follows:
[code]

I instead get the following error:
[code]

[2017-04-28 00:04] tobiajo commented on #1419
And with the `sync_replicas` flag set, I get:

[code]

[2017-04-28 06:16] edouardfouche commented on #983
I had the same error. I am working with Python 3.5 and Tensorflow '0.12.1'
I replaced `s = f.read()` at line 86 in `lm_1b_eval.py` by `s = f.read().decode()`
Then I replaced the `xrange` occurences at line 180 and 272 in lm_1b_eval.py` by `range`
Now it works like a charm !

[2017-04-28 06:58] PaulGitt opened #1424 "module 'tensorflow.contrib.tfprof' has no attribute 'model_analyzer'"
Hello ,
       I run the resnet_main.py in Win 10 , python 3.5,tensorflow 1.0.
       It show the error: module 'tensorflow.contrib.tfprof' has no attribute 'model_analyzer'.
       I thought it was the file version problem , so I use tf_upgrade.py update the file , but it
       still show this error.

[2017-04-28 07:14] PaulGitt commented on #1378
_, end_points = self._resnet_plain(inputs, blocks, scope='tiny')
end_points = dict(tf.get_collection('end_points'))

because these two code cause the error : cannot convert dictionary update sequence element #0 to a sequence

[2017-04-28 07:16] PaulGitt commented on #1424
because these code cause the error
param_stats = tf.contrib.tfprof.model_analyzer.print_model_analysis(
      tf.get_default_graph(),
      tfprof_options=tf.contrib.tfprof.model_analyzer.
          TRAINABLE_VARS_PARAMS_STAT_OPTIONS)

[2017-04-28 14:07] girving commented on #983
Would you be up for submitting a pull request?

[2017-04-28 14:33] PavlosMelissinos commented on #1411
Hi, this looks like a compatibility issue.

You said you are on tensorflow v1.1. Which checkpoint files did you download? Please mind that the original ones do not work for v1.x.

Try downgrading to 0.12 or download and use the alternative 1M checkpoint that is offered [here](https://github.com/tensorflow/models/issues/466#issuecomment-295427641).

I've successfully tried both (the latter on 1.0 s

[2017-04-28 15:10] girving commented on #1424
Where are you getting that code snippet from?  I'm not sure `model_analyzer` is exposed in 1.0.

[2017-04-28 15:31] #1414 closed

[2017-04-28 16:31] tobiajo commented on #1419
I get the gRPC error only if the `clone_on_cpu` flag is set.

With no boolean flags set, the workaround seems to solve issue so that I can run the example.

[2017-04-28 17:37] edouardfouche commented on #983
Sure, this is done :)

[2017-04-28 18:03] aselle commented on #1409
Is your resolve problem resolved?

[2017-04-28 20:42] aselle commented on #1419
Sorry, I am unclear on exactly what you changed to make it work. Is it something that can be wrapped into a PR to fix the problem once and for all. I'd like to make sure nobody else hits this.

[2017-04-28 20:59] NanqingD commented on #1146
Hi, actually I have similar problem.
`NotFoundError (see above for traceback): Tensor name "InceptionResnetV2/Repeat_1/block17_18/Branch_0/Conv2d_1x1/biases" not found in checkpoint files /home/ndong/tb_v2/pre_trained/inception_resnet_v2_2016_08_30.ckpt
	 [[Node: save/RestoreV2_296 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/cpu:0"](_recv_save/Const_0, save/RestoreV2_29

[2017-04-28 21:34] tobiajo commented on #1419
I created a PR, if the fix is not sufficient, please have some other do a PR.

[2017-04-28 23:04] PaulGitt commented on #1424
I get the resnet_main.py from https://github.com/tensorflow/models/tree/master/resnet

[2017-04-28 23:22] PaulGitt commented on #1424
What should I do to solve this problem? I check the tensorflow1.0 API , it doesn't have the model_analyzer
or even the tf.contrib.tfprof.
Wait for your reply @girving

[2017-04-28 23:24] girving commented on #1424
Looks like you have to upgrade to 1.1.

[2017-04-28 23:24] #1424 closed

[2017-04-28 23:28] PaulGitt commented on #1424
Ok , I will try.
But I am confused because the resnet_main.py file should write before the 1.1 version.

[2017-04-29 06:16] jeansely commented on #1409
the problem resolved.
Thanks.

[2017-04-29 15:19] redserpent7 commented on #1222
Sorry for the late reply, been extremely busy the past month.
Yes it seems to be the file descriptors indeed. Increased the limit to 1000000 and it generated the records.

it did throw a couple of exceptions on some images but it has finished and did not terminate abruptly. I now have these training tf-records for the full imagenet data 21K classes and would like if someone can confirm if this is

[2017-04-30 03:12] LukeHe commented on #595
@a-maci, have you found any approaches to configure resnet depth? And how do you get that picture? If I set the mode to train, I only get the rusults on training data, and the final precision is 1.0.

[2017-04-30 03:56] a-maci commented on #595
@LukeHe I havent figured the depth aspect; I havent spent time in figuring this out.
I get the above picture from tensorboard. Once you have the training going, you can monitor the accuracy curves using tensorboard by pointing it to the log directory.

[2017-04-30 05:25] LukeHe commented on #595
@a-maci , thank you! Tensorboard is so powerful!  Have you run train and test at the same time? Because I see from the code that the test run for a while and sleep for 60s to wait the training processing goes for a some time to produce new parameters.

[2017-04-30 05:26] LukeHe commented on #595
@panyx0718 Is there some straight ways to modify the depth?

[2017-04-30 07:14] LukeHe commented on #595
@a-maci I try as you say, it works! But I am confused that I can only get a checkpoint every 2000 steps or so. That is a little sparse for me. I watched the code clearly, but couldn't find how to configure it. Do you have any ideas? Thanks in advance.

[2017-04-30 20:44] pcnfernando commented on #466
When trying to upgrade checkpoint file for compatibly with TF 1.0, when using the above code by @cshallue use the relative paths. Use of absolute paths gives out an error at
tf.train.NewCheckpointReader(OLD_CHECKPOINT_FILE)

OLD_CHECKPOINT_FILE = "./model.ckpt-2000000"
NEW_CHECKPOINT_FILE = "./model.ckpt-2000000"

[2017-05-01 02:00] micimize commented on #148
the currently recommended way to use syntaxnet from python is via [DRAGNN](https://github.com/tensorflow/models/tree/master/syntaxnet#docker-installation)

[2017-05-01 11:46] redserpent7 opened #1428 "[Slim] Imagenet training not utilizing multiple GPUs efficiently"
Hi,

I am running some tests on Slim's imagenet training using Inception Resnet V2. The training is done on AWS ec2 instances (p2.xlarge and p2.8xlarge): Here are the specs for both:

1) p2.xlarge: GPUs (1), vCPUs (4), Ram (61GB)
2) p2.8xlarge: GPUs (8), vCPUs (32), Ram (488GB)

The GPUs are all Nvidia Tesla K80

Tensorflow seems to detect and loads the training on all GPUs according to both the t

[2017-05-01 12:33] xtr33me commented on #1215
I got some time to upgrade to the latest and after changing over all references of CPU0 to GPU0 again, I do not seem to be having this issue any longer.  Going to close the ticket.

[2017-05-01 12:33] #1215 closed

[2017-05-01 13:32] shahparth123 opened #1429 "Im2Txt not working for other languages like hindi"
------------------------

### System information
- **What is the top-level directory of the model you are using** models/Im2Txt:
- **OS Platform and Distribution : Linux CentOS 7**:
- **TensorFlow installed from Binary**:
- **TensorFlow version:('v1.0.0-rc1-102-g1536a84-dirty', '1.0.0-rc2')**:

I am trying to use im2txt model with MSCOCO dataset modified to use hindi caption. When I tried to pre-p

[2017-05-01 14:16] SummerIcequeen commented on #1418
I also find this problem disturbing. From the github of Kaiming He, he also points to the visualization of the network configuration, for example [resnet-101](http://ethereon.github.io/netscope/#/gist/b21e2aae116dc1ac7b50). From there you can see when downsampling, the bottleneck will always perform it at conv1 with stride 2 and then continue to conv2 with stride 1. I checked the current slim impl

[2017-05-01 16:13] aselle commented on #1429
@cshallue, could you please take a look? Looks like it is not unicode compatible.

[2017-05-01 20:10] aselle commented on #1419
Thanks for the PR, @sguada, will hopefully look at it soon.

[2017-05-01 20:10] aselle commented on #1409
Glad to hear it!

[2017-05-01 20:10] #1409 closed

[2017-05-01 23:10] cshallue commented on #1429
Does the following work?
[code]

[2017-05-02 06:33] shahparth123 commented on #1429
After modifying to use encode function it gives following UnicodeDecode error:

Exception in thread Thread-20:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 811, in __bootstrap_inner
    self.run()
  File "/usr/lib64/python2.7/threading.py", line 764, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/root/.cache/bazel/_bazel_root/5d96493270bd616

[2017-05-02 07:07] SarfraazMsa commented on #1389
can this code run with CPU?

[2017-05-02 11:27] goodtogood opened #1433 "is it possible to compile rnn_ops.cc on windows by VS or msys64?"
@theraysmith
 is it possible to compile rnn_ops.cc on windows by VS or msys64?
thx.

[2017-05-02 14:04] DaveyTao commented on #1429
Hello, friends: I want to use Chinese caption and occured the same problem.
Have you solved this problem?
Thanks a lot.

[2017-05-02 15:12] cshallue commented on #1429
Do any of the following work?
[code]

[2017-05-02 18:22] aselle commented on #1389
I assume so, I don't see anything in the README.md
@theraysmith, any thoughts here?

[2017-05-02 20:30] sguada commented on #1419
Could you explain what is the problem?

[2017-05-02 22:42] tobiajo commented on #1419
The Slim model no longer works for distributed TensorFlow. This exception is thrown when using multiple workers. I attached [this example](https://github.com/tobiajo/yarntf/commit/23fdddc8fcfb4a55a90ed8f692b0f44100c759df) which show how I run it distributed. Where `yarntf.createClusterServer()` is just a wrapper around `tf.train.ClusterSpec()` and `tf.train.Server()`.

TensorFlowOnSpark had the sa

[2017-05-02 22:43] tobiajo commented on #1419
The Slim model no longer works for distributed TensorFlow. This exception is thrown when using multiple workers. I attached [this modification of the original](https://github.com/tobiajo/yarntf/commit/23fdddc8fcfb4a55a90ed8f692b0f44100c759df) which show how I run it distributed. Where `yarntf.createClusterServer()` is just a wrapper around `tf.train.ClusterSpec()` and `tf.train.Server()`.

TensorF

[2017-05-03 02:43] shahparth123 commented on #1429
Tried all three options, Error log of each case is as follows:

**return tf.train.Feature(bytes_list=tf.train.BytesList(value=value))**
Exception in thread Thread-20:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 811, in __bootstrap_inner
    self.run()
  File "/usr/lib64/python2.7/threading.py", line 764, in run
    self.__target(*self.__args, **self.__kwargs

[2017-05-03 03:39] DaveyTao commented on #1429
Are your images jpg format? The  function `bytes_feature(value):` converts a jpg image to string. If your images contain png, which may be `uft-16`, it will throw errors.

[2017-05-03 04:51] nlothian opened #1434 "Skip-Thought encoding-sentences script doesn't appear to handle out-of-vocab words"
### System information
- **What is the top-level directory of the model you are using**: https://github.com/tensorflow/models/tree/master/skip_thoughts
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, https://github.com/tensorflow/models/tree/master/skip_thoughts#encoding-sentences but with custom data
- **OS Platform and Distribution (e.g.,

[2017-05-03 04:53] nlothian commented on #1434
Actually, I just checked and I'm getting the same behavior using the movie review dataset data too (ie, the script exactly as documented).

[2017-05-03 05:11] nlothian commented on #1434
I rebooted my computer (for unrelated reasons), and now the same code is working. Unsure what happened, but I'm closing for now.

[2017-05-03 05:11] #1434 closed

[2017-05-03 08:37] zhwatgfkd opened #1435 "A ValueError while using compression models"
I run the following command:

python encoder.py --input_image=./example.png --output_codes=output_codes.npz --iteration=15 --model=/home/zhw/Download/compression_residual_gru/residual_gru.pb

the result is shown as follow:
Traceback (most recent call last):
  File "encoder.py", line 105, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py",

[2017-05-03 08:53] sboschang commented on #1429
try
`def _bytes_feature_list(values):
  """Wrapper for inserting a bytes FeatureList into a SequenceExample proto."""
  return tf.train.FeatureList(feature=[_bytes_feature(v.encode('_utf-8_')) for v in values])`

[2017-05-03 09:26] #1435 closed

[2017-05-03 10:47] shahparth123 commented on #1429
@DaveyTao Images are same as MSCOCO dataset, I have changed only caption language. For English it is working fine.

[2017-05-03 11:42] pokey opened #1436 "[slim] Python 3 support"
### System information
- **What is the top-level directory of the model you are using**: slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.12.3 (16D32)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **B

[2017-05-03 12:53] SarfraazMsa commented on #1389
i guess "with the help of CPU" , The mini FSNS dataset could be run .......and i get the following error when building tensor flow from source "IOError: [Errno 2] No such file or directory: '/tmp/tensorflow_pkg/tensorflow-0.10.0-cp27-none-linux_x86_64.whl'.

could u plz help me out to rectify the error ,let me the know the commands to build tensorflow from source. i tried to install from tensorflo

[2017-05-03 12:57] tobiajo commented on #1428
Have you tried to set `num_clones` to the number of GPUs?

[2017-05-03 14:00] DaveyTao commented on #1301
@obip Hello, friend: I encounter the same problem. When I increase the vocabulary size, I got  an error,
`Invalid argument: Assign requires shapes of both tensors to match. lhs shape= [40000] rhs shape= [12000]
`. Have you encountered this problem?

[2017-05-03 14:54] shahparth123 commented on #1429
Solution from @sboschang  has solved error while preprocessing dataset but it introduced new errors in training phase.

[root@tensorpc im2txt]# bazel-bin/im2txt/train \

INFO:tensorflow:Creating training directory: /root/mshindi/train
INFO:tensorflow:Prefetching values from 7 files matching /root/Downloads/mshindi/done/train-?????-of-00256
W tensorflow/core/platform/cpu_feature_guard.cc:45] The Te

[2017-05-03 16:05] cshallue commented on #1429
@shahparth123 looks like you've converted the image into a sequence of characters, which is why you get that error.

If the issue is the hindi text, a quick fix is to comment out [this line](https://github.com/tensorflow/models/blob/master/im2txt/im2txt/data/build_mscoco_data.py#L231), and not write the text in the proto buffers at all. The model only uses the int64 caption ids, so it won't notice

[2017-05-03 17:25] jeansely opened #1437 "add a image to summary for show in tensorboard"
Hi,
when add a image to default_gragh with below code , the tensorflow error that :"TypeError: Parameter to MergeFrom() must be instance of same class: expected Summary got Tensor. for field Event.summary"

the code :

<tf.Tensor 'Slice_2:0' shape=(1, 152, 138, 1) dtype=float32>

<tf.Tensor 'image_2:0' shape=() dtype=string>

[2017-05-03 18:16] markomernick commented on #1322
We have removed --no-preserve=all at head, so this issue should not recur.

[2017-05-03 18:16] #1322 closed

[2017-05-04 03:16] sgrvinod opened #1440 ""Segmentation fault (core dumped)" while trying to run Syntaxnet on GPU"
Hi, I'm new to tensorflow, and I've been trying to get syntaxnet to work on GPU.

I've tried the suggestions in #762 and #248, but these 6 tests still fail during compilation:
[code]
The log files don't seem to have any errors, except for `Segmentation fault      (core dumped)` at the end of each file. An example:
[code]
(I can paste any of the complete log files here, if it helps.)

If I try to r

[2017-05-04 04:37] SarfraazMsa commented on #1389
aselle??

[2017-05-04 04:55] AngJianHui commented on #1215
@xtr33me  Hi, I am facing the same issue. Could you share with me how you solve it?

[2017-05-04 05:47] JJTasi commented on #1396
Thanks for your help.
I can run it without error now.
But, I have another problem.
I follow instruction in [slim](https://github.com/tensorflow/models/tree/master/slim) and get mnist_train.tfrecord file.
Then, I modify the downloading and converting code in [slim](https://github.com/tensorflow/models/tree/master/slim) and get mnist_m_train.tfrecord file.
And I apply DSN on these two dataset by fol

[2017-05-04 08:37] linpt opened #1442 "issues with calling resnet on cognitive_mapping_and_planning"
Hi, folks also @s-gupta

I'm trying to run CMP and reproduce results, but few problems appears.
Still there was no mentions on what platform that package was tested.
I try to run on Ubuntu 14.04 and freshly installed 16.04.
TF version 1.1.0
CUDA 8.0,
cudnn 5.0 (6.0 on 16.04)

example script
CUDA_VISIBLE_DEVICES=0 LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64 PYTHONPATH='.' PYOPENGL_PLATFORM=egl \
  py

[2017-05-04 08:46] nealwu commented on #1389
Sorry @SarfraazMsa, I'm not so familiar with this code. @theraysmith is more likely to be able to help you.

[2017-05-04 09:01] MANJUNATH124 commented on #1389
@theraysmith ,,,, Could u plz help me out to eradicate this error? and what are the requirements to run this code?

[2017-05-04 09:03] SarfraazMsa commented on #1389
thanks neal..... @theraysmith ,, Could u plz help me out to eradicate this error? and what are the requirements to run this code?

[2017-05-04 10:05] santle commented on #1420
Ok . The question is moved to stackoverflow. Thanks.
http://stackoverflow.com/questions/43777481/crash-on-porting-inception-v3-custom-model-into-android-tensor-flow-camera-demo

[2017-05-04 11:44] povidanius commented on #1442
Very interesting approach, but I also run into aforementioned problems when trying to run the code. scripts/scripts_download_pretrained_models.sh is not in the repository as well (pretrained models seem to be at https://github.com/tensorflow/models/tree/master/cognitive_mapping_and_planning/output)

[2017-05-04 14:24] markomernick commented on #1440
Attaching one of the log files would help us a great deal. Thanks!

[2017-05-04 14:36] jeansely commented on #1437
i have to  first  eval the "imgsumarry" tensor to get a string first.

[2017-05-04 14:36] #1437 closed

[2017-05-04 15:08] sgrvinod commented on #1440
For the beam_reader_ops_test:
[code]

[2017-05-04 16:24] CaterinaM commented on #1429
I've had the same issue because of accented characters (language: Italian) and what worked out for me was resetting the default encoding before tf.app.run():

[code]
I don't know if this can apply to your issue, hope it helps.

[2017-05-04 16:56] s-gupta commented on #1442
Thanks for reporting these issues. Please find responses below:

1. Resnet issue (@povidanius , @linpt): I tested this code with the latest nightly build for tensorflow which includes commit [d82f8f818cec7a1099a7e680a30ba8f5f8ed2589](https://github.com/tensorflow/tensorflow/commit/d82f8f818cec7a1099a7e680a30ba8f5f8ed2589) which changes the interface for using resnet blocks. Switching to any versio

[2017-05-04 17:49] obip commented on #1301
Hello,

you have to create the tfrecords-files again, that is after changing the
vocabulary size.
Then you can train and will not encounter the error.

Hope this helps!
Obi

2017-05-03 16:01 GMT+02:00 DaveyTao <notifications@github.com>:

[2017-05-05 07:14] udnaan opened #1444 "Syntaxnet fails to compile with XLA enabled on MacOS"
### System information
- **What is the top-level directory of the model you are using**:
models/syntaxnet
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS 10.12.4
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
a7d6015

[2017-05-05 10:51] wangg12 commented on #967
@ogail The links you provided are dead, where can I find working examples?

[2017-05-05 11:38] weixsong commented on #54
Hi, does anyone know how to start 2 workers and each worker control 8 GPU, is there any example code to follow?

[2017-05-05 12:09] shahparth123 commented on #1429
I am getting same error even after removing line as sugested by @cshallue . I am setting up new project from using latest version of both tensorflow and mode.l Will report back after applying @cshallue and @CaterinaM solution.

[2017-05-05 12:35] SarfraazMsa opened #1445 "what are the requirements to run this code as the following errors results when the action python vgslspecs_test.py is performed"
root@sarfraaz-ThinkCentre-E73:/home/sarfraaz/Downloads/tensorflow-models-master/street/python# python vgslspecs_test.pyTraceback (most recent call last):
  File "vgslspecs_test.py", line 19, in <module>
    import vgslspecs
  File "/home/sarfraaz/Downloads/tensorflow-models-master/street/python/vgslspecs.py", line 24, in <module>
    import nn_ops
  File "/home/sarfraaz/Downloads/tensorflow-models

[2017-05-05 12:57] freud14 commented on #1314
Any news on that?

[2017-05-05 15:01] ppwwyyxx commented on #54
@weixsong https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks

[2017-05-05 22:29] xtr33me commented on #1215
@AngJianHui In seq2seq_attention in the _Train function I changed the entry for device to /gpu:0 rather than /cpu:0.  I also changed all references for the same thing in the seq2seq_attention_model.py file as well.  I still had some crazy allocation on virtual memory as shown in the screenshot but I have been at least able to train for the past week non-stop and haven't had any issues.  That said,

[2017-05-06 19:01] drpngx commented on #1433
I think it does compile under windows, but you need to use `tensorflow/contrib/cmake`. That will be using MSVC.

Feel free to reopen if that doesn't work for you.

[2017-05-06 19:01] #1433 closed

[2017-05-06 19:10] drpngx commented on #1436
@sguada are we aware of any issues with py3 and slim?

[2017-05-06 19:12] drpngx commented on #1444
Could you run `bazel fetch ...` again? Which version of tensorflow is that? We removed `bazel clean` during configure a while back.

[2017-05-06 19:21] drpngx commented on #1428
@tfboyd for performance.

[2017-05-06 22:41] tfboyd commented on #1428
That script does not detect the number of GPUs automatically.  You have to set it.  To double check run nvidia-smi or `watch -n 3 nvidia-smi`  (I think that is correct) and make sure you see 8 python processes and all 8 GPUs are active.  I have not run that model on slim but I have trained some of the other models and you should see a speedup.

[2017-05-06 22:50] udnaan commented on #1444
The commit tag is in the report. It's the version that works with syntaxnet and is provided as git submodule.

I'm following the instructions here to run syntaxnet: https://github.com/tensorflow/models/tree/master/syntaxnet#installation

I did try running it using master/HEAD beforehand but that seems to be broken altogether.

[2017-05-06 23:56] udnaan commented on #248
these instructions do no work on MacOS.

[2017-05-07 01:36] udnaan commented on #1444
Here is the error I get if I try using tensorflow from master branch with syntaxnet (note that syntaxnet itself is still using the git-tag mentioned in the report as it fails to compile with the master)

[code]

[2017-05-07 01:49] drpngx commented on #1444
Can you rebuild dragnn against TF master?

Here's the signature I have from the current codebase:
[code]

It's int64, not int32.

[2017-05-07 01:54] udnaan commented on #1444
Giving it a go. Note that the build only goes through if I omit the MacOS specific option `--linkopt=-headerpad_max_install_names` specified in the Syntaxnet build instructions.

[2017-05-07 04:31] udnaan commented on #1444
That seems to work. It also takes care of #248 if you separately built and install tensorflow with CUDA and XLA support

[2017-05-07 04:31] #1444 closed

[2017-05-07 04:34] udnaan commented on #762
Another workaround is to separately build and installed tensorflow with GPU support. Then use the same git-ref to build and install SyntaxNet. Tested on MacOS.

[2017-05-07 04:46] drpngx commented on #1444
Yay! Thanks for following up.

On May 6, 2017 9:31 PM, "Adnan" <notifications@github.com> wrote:

[2017-05-07 09:07] guitaowufeng opened #1451 "[domain adaptation] NotFoundError: .../domain_adaptation/domain_separation/datasets/mnist_train.tfrecord"
## System information

### -What is the top-level directory of the model:
`~/guitao_test/models-master$ls`
[code]
I'm facing this issue-
When I follow the the instructions:
[https://github.com/tensorflow/models/tree/master/domain_adaptation](url)
 and run
`./bazel-bin/domain_adaptation/domain_separation/dsn_train  \
      --similarity_loss=dann_loss  \
      --basic_tower=dann_mnist  \
      --sou

[2017-05-07 11:14] dubchek opened #1452 "Non-trainable layers are updated during fine-tuning"
### System information
- **What is the top-level directory of the model you are using**: models-master\slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I haven't written my code. I've only applied  https://github.com/tensorflow/models/pull/1422 and https://github.com/tensorflow/models/pull/1346 fixes which are related to reading of the data

[2017-05-08 05:52] SarfraazMsa commented on #1389
@aselle

[2017-05-08 05:57] redserpent7 commented on #1222
Yeah I think I found out the issue. It seems whenever one of the processing threads hits a corrupt jpeg it drops the entire batch and when all the threads stop, the 'download_and_preprocess_imagenet' just reports that it has succeeded.

I added a try/except block inside the processing loop to skip any corrupt images and I got a total of 1024 training files and 128 validation files.

[2017-05-08 06:30] nirmaljith opened #1453 "vidia-smi"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-05-08 06:40] #1453 closed

[2017-05-08 07:03] lambtron commented on #856
I experienced the same issue with tensorflow 0.9.0, but after building from master, I was able to successfully run the rnn tutorial.

[2017-05-08 07:45] redserpent7 commented on #1428
Ok I have set `num_clones` to 8 which is the number of GPUs I have. I can confirm that using nvidia-smi it shows me that all GPUs are being fully utilized. Volatile GPU-Util shows each GPU at ~88%  - 98% and I can see all GPUs running the training process with `10937MiB`.

However, the situation became worse. On a single GPU training reports an average of 3.1 step/sec. On 8 GPUs its now reporting

[2017-05-08 10:02] SarfraazMsa commented on #1445
@theraysmith

[2017-05-08 14:14] tfboyd commented on #1428
I will try to reproduce it today locally and go from there.  I have run a few models via slim but not this one.

[2017-05-08 14:18] rlucca commented on #1271
I hit this too.

[2017-05-09 06:29] stephensebastin commented on #257
@slavpetrov It didnt work . i did same as what mentioned above..
here my demo.sh file
PARSER_EVAL=bazel-bin/syntaxnet/parser_eval
MODEL_DIR=syntaxnet/models/parsey_mcparseface
[[ "$1" == "--conll" ]] && INPUT_FORMAT=stdin-conll || INPUT_FORMAT=stdin || INPUT_FORMAT=MAIN-IN

$PARSER_EVAL \
  --input=$INPUT_FORMAT \
  --output=stdout-conll //parser output\
  --hidden_layer_sizes=64 \
  --arg_prefix=

[2017-05-09 09:02] fanlu commented on #1374
The following code should block with if is_chief:
chief_queue_runners = [opt.get_chief_queue_runner()]
init_tokens_op = opt.get_init_tokens_op()
like
if is_chief:
    chief_queue_runners = [opt.get_chief_queue_runner()]
    init_tokens_op = opt.get_init_tokens_op()
Does it work?

[2017-05-09 13:37] ogail commented on #967
@wangg12 updated

[2017-05-09 15:20] girving commented on #1445
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-09 15:20] #1445 closed

[2017-05-09 16:01] woodthom2 commented on #658
Yes, I think so as TF has moved on since I opened the issue and we are now in Release 1.0. Thanks for your help.

[2017-05-09 16:01] #658 closed

[2017-05-09 19:18] vg-pulsepoint opened #1456 "im2txt: training questions"
Hi @cshallue - thank you for open-sourcing your im2txt model! :)

It's really nice to see a production-grade tensorflow example, I learned a lot going through your code...

I had a few quick questions about reducing the training time:

1. I'm using two TITAN Xp cards, but only one is being used during the training procedure. What would be a good approach for incorporating the second card?  A quick

[2017-05-09 23:28] #1222 closed

[2017-05-09 23:46] concretevitamin commented on #1442
@linpt seems like the issues have been addressed.  Closing this for now as part of the triage process.  If you've found them not to work, feel free to reopen with new info.  Thanks!

[2017-05-09 23:46] #1442 closed

[2017-05-10 01:46] nealwu commented on #1436
There are definitely issues, but it's not clear to me how best to fix them. See also https://github.com/tensorflow/models/pull/1346.

[2017-05-10 02:00] tfboyd commented on #1428
I have not forgotten you.  I had some personal items and some cleanup to do on another task.

[2017-05-10 02:03] tfboyd commented on #1267
@pedropgusmao   The benchmark code is [here](https://www.tensorflow.org/performance/performance_models).  It is designed to allow you to test a wide range of configs, which makes it not the easiest example to follow.  But that said if already pipes in ImageNet and you should be able to swap in other models.

[2017-05-10 02:03] #1267 closed

[2017-05-10 02:08] tfboyd commented on #490
@vonclites   The benchmark code is [out](https://www.tensorflow.org/performance/performance_models).  It does not use Estimators.  But good news, Estimators is now in core and has a team that is working to add features and add flexility so people can get great performance on a range of models.  If you follow that API you should have a good experience and be in good company.

[2017-05-10 02:08] #490 closed

[2017-05-10 02:57] zack6514 commented on #1120
I come across the same problem, look forward to reply

[2017-05-10 03:03] younthu commented on #1395
Come to the same issue. Is there anyone can help to resolve it?

[2017-05-10 03:29] Higgins2718 commented on #1395
@younthu Basically, this model is only compatible with Python 2.x. Unless you switch to that, you'll keep getting errors like this. Since switching to 2, I've had no problems.

[2017-05-10 03:46] younthu commented on #1395
@Higgins2718 , thanks.

Can you tell me how long it will to run the training script?

In my laptop, it is python 3.5, the training script keep throw this error, and never end.

We rent a cloud GPU, run the training script with python 2.7, it throws the same error, never end.

[2017-05-10 06:35] pedropgusmao commented on #1267
@tfboyd , thanks!

[2017-05-10 12:03] cshallue commented on #1456
Thanks for the questions - here are a few quick pointers. You may wish to ask stack overflow as there is a wider community to answer questions there.

1. You could run asynchronous or synchronous distributed training using your two GPUs. [Here](https://www.tensorflow.org/deploy/distributed)'s a pointer.

2. A quick thing to try would be to increase the batch size.

3. The "best way" to use queues

[2017-05-10 12:03] #1456 closed

[2017-05-10 14:15] stephensebastin commented on #1115
@bogatyy  here my test log.  pls tell me whats the error?

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
2017-05-10 14:07:45.963248: W external/org_tensorflow/tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and coul

[2017-05-10 14:56] thomas-imt commented on #1440
I have a very similar (the same?) error:

`external/bazel_tools/tools/test/test-setup.sh: line 105: 19914 Segmentation fault      "${EXE}" "$@"`

System:
  - cuda 8.0
  - cudcnn 6
  - bazel 0.4.2
  - GPU: 2x Titan X (Pascal)

Failing cases (all with a segfault in test-setup.sh)

- //util/utf8:unicodetext_unittest
- //dragnn/python:bulk_component_test
- //dragnn/python:digraph_ops_test
- //dragnn/p

[2017-05-10 18:16] tfboyd commented on #1428
Ahh I forgot until I setup the example and ran it.  What you are seeing is 100% correct and makes sense.  Slim is reporting time for the step.  You are running synchronized training so your images/sec would be

- (32/3.1) * 1(GPU) =  10.3 images/sec
- (32/3.4) * 8(GPUs) = 74 images/sec

[2017-05-10 18:16] #1428 closed

[2017-05-10 23:01] MarcoAlvarez opened #1458 "Can't run Python tutorials"
### System information
- **What is the top-level directory of the model you are using**:

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
Installed tensorflow-gpu using pip

- **TensorFlow version (use comma

[2017-05-11 01:32] withyou1771 commented on #466
I trained on the TF 1.0.1 and python2.7 without finetuned.
https://github.com/withyou1771/im2txt

Captions for image 1.jpg:
0) a cat laying on top of a grass covered field . (p=0.002806)
1) a black and white cat laying on top of a grass covered field . (p=0.000498)
2) a black and white cat laying on top of a green field . (p=0.000412)

[2017-05-11 04:15] redserpent7 commented on #1428
@tfboyd interesting. So can you explain this equation? Namely what does the number 32 represent?

[2017-05-11 04:45] tfboyd commented on #1428
@redserpent7  Apologies and I mean that with sincerity.  It makes me crazy when people do not explain things.  And I apologize again if I am to detailed but that is the best way I can think of to explain it.

32 is the batch-size, which is the default and very popular so I assume that is what you used.

With one GPU you did 32 images in 3.1 seconds, which would be 10.2 images per second
With 8 GPU

[2017-05-11 09:05] quanghoc opened #1459 "What train_dir to use for Tensorflow imagenet_train to train from scratch?"
I am following the below page

https://github.com/tensorflow/models/tree/master/inception

I got to the point I have to run:

`bazel-bin/inception/imagenet_train --num_gpus=1 --batch_size=32 --train_dir=/tmp/imagenet_train --data_dir=/tmp/imagenet_data`

However, I got below error:

[code]

My `DATA_DIR` is `/tmp/imagenet_data` from previous step `bazel-bin/inception/download_and_preprocess_imagen

[2017-05-11 10:39] Ettard commented on #1390
I noticed the discussion in #1428 . It reminded me that though training with multi GPUs, the training speed is measured by steps rather than images per second.  I wonder if it's possible to show number of images per step, or I just misunderstood.

[2017-05-11 14:05] roysG opened #1460 "How can i recognize age and gender, is there any model for that?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-05-11 14:47] selinachenxi commented on #698
I think this is a bug in tf 1.1.0.
If I use only slim model, then there is no problem. But if I use the same slim model in Siamese structure, in tf 1.0.0, there is no problem but in tf 1.1.0 it gives error like
`ValueError: Variable InceptionResnetV2/Conv2d_1a_3x3/weights/Adam/ does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope`

@s2244521 , tempo

[2017-05-11 16:05] redserpent7 commented on #1428
@tfboyd thaks so mucb for the info much appreciated. Well it all make sense now. So I am now trying to calculate the number of steps that I will require. I first started on 1 GPU for 10000 steps. This gave me a top-1 accuracy of 0.0022. I then tried running 100000 steps which assuming a linear progress should yeild 0.022 accuracy and using 8 GPUs should give me 8 times that.

Am I correct in my as

[2017-05-11 18:13] nealwu commented on #1390
Images per step is also known as batch size. In [`train_image_classifier.py`](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L189) it is 32 by default.

[2017-05-11 20:13] rylanchiu opened #1462 "Using of bucket in textsum"
I'd like to tackle the issue of the using of bucket in models/textsum. There is a `batch_reader` which supports bucketing. But in the `seq2seq_attention`, the length of sequence is directly defined by `hps.enc_timesteps` and `hps.dec_timesteps`.  I wonder why there is such a setting. And why don't you use dynamic_rnn instead. Do you think about making the sequence length more flexible?

[2017-05-11 20:19] girving commented on #1459
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-11 20:19] #1459 closed

[2017-05-11 20:20] girving commented on #1395
@nealwu @aselle What's the status of this issue?

[2017-05-11 20:35] nealwu commented on #1395
I'll submit a change to use `six.next`. Sounds like that may not be enough to get everything working though?

[2017-05-11 21:24] quanghoc commented on #1459
I posted in Stackoverflow and they said to post it here

http://stackoverflow.com/questions/43910534/what-train-dir-to-use-for-tensorflow-imagenet-train-to-train-from-scratch#comment74854423_43910534

What I am trying to get is a better Documentation to explain `train_dir`. Can someone help?

[2017-05-11 21:34] girving commented on #1459
"They" in this case means someone random on the internet.

Cc @shlens.

[2017-05-11 22:14] nealwu commented on #1395
Merged: https://github.com/tensorflow/models/pull/1463.

Just realized I misread the posts above, and this should actually be a sufficient fix. Going to close this issue. If any other problems come up, feel free to create a new issue.

[2017-05-11 22:14] #1395 closed

[2017-05-11 23:11] #1460 closed

[2017-05-11 23:13] concretevitamin commented on #1462
@panyx0718 could you take a look?

[2017-05-12 00:07] concretevitamin commented on #1458
Does #1444 help?

[2017-05-12 02:05] Ettard commented on #1390
So with 3 GPUs it trains 96 images per step?
The other question is, why it shows "Ignoring device specification /device:GPU:X for node 'clone_X/fifo_queue_Dequeue'"? Does it affect performance?

[2017-05-12 04:36] hfutxrg commented on #1390
Hi @Ettard @legel I also noticed the similar issue. Using multiple GPUs does not make the training faster.
I was training inception-v3 and the setting is as follows:
1 GPU: batch_size=32, steps=20000
2 GPUs: batch_size=64, steps=10000
4 GPUs: batch_size=128, steps=5000

The result is:
1 GPU: 0.6 sec/step which is 61.5 images/sec
2 GPUs: 0.99 sec/step which is 64.6 images/sec
4 GPUs: 2 sec/step whi

[2017-05-12 15:22] fredddy123 opened #1464 ""bazel test ..." doesn't work"
When run commands from readme instruction step-by-step in "bazel test ..." I receive error in terminal:
ERROR: Bad target pattern '../..': package name component contains only '.' characters.
INFO: Elapsed time: 0.113s
ERROR: Couldn't start the build. Unable to run tests.

[2017-05-12 20:12] MarcoAlvarez commented on #1458
I inspected these two files:
[code]
Both contain the following demangled symbol:
[code]
The function is defined in:
[code]
with the following header:
[code]
Well, I guess my question now will be how to make it work?

[2017-05-12 20:18] Tiyanak commented on #1257
for python 2 bytes are string (just a allias for str type), and for python 3 bytes are bytes, so shortly:

line 378 is problem:

def _load_and_process_metadata(captions_file, image_dir):

  with tf.gfile.FastGFile(captions_file, "r") as f:
     # WRONG
    captions_data = json.load(f)
     # " WRONG!!! f is bytes and json here in p3 looks for str so solution:
    change captions_data = json.load(f

[2017-05-13 12:12] continuesmile commented on #1355
In fact , I didn't train the whole process，that is too long，I interrupted the process during the train，i use  the Ctrl +C  to stop it and triggered the KeyboardInterrupt，then i use the `parser_spec.textproto` to run the
evaluator. So is that caused the `parser_spec.textproto` incomplete？

[2017-05-13 15:14] KranthiGV commented on #466
I have released a version trained on the latest TF 1.0 on a GPU.
It has both **1M without finetuning** and **2M with finetuning** model checkpoints.
https://github.com/KranthiGV/Pretrained-Show-and-Tell-model
Open an issue on the ([repository page](https://github.com/KranthiGV/Pretrained-Show-and-Tell-model/issues)) or email me at _kranthi.gv@gmail.com_ in case
you have a problem setting it up.
Th

[2017-05-13 15:41] KranthiGV commented on #1411
@LtveG
It certainly seems to be due to the difference in versions of tokenizer, etc.
If you use the model trained on older version of im2txt code, follow the steps at https://github.com/tensorflow/models/issues/466#issuecomment-254002590
There's also a trained model available which is trained using TF 1.0 [here](https://github.com/KranthiGV/Pretrained-Show-and-Tell-model). It would work without an

[2017-05-13 19:33] cyberutkarsh commented on #1436
@nealwu : SO whats the workaround in this case? Is it recommended to continue to use bazel to convert/train on the dataset?

[2017-05-14 05:06] rapaterno commented on #1192
@Helpper were you able to get this to work?

[2017-05-14 23:30] berkcoker opened #1467 "UTF-8 error in the compression model"
I was having a utf-8 error until I included 'rb' in line 62 of file compression/image_encoder/encoder.py. It is quick fix:)

[2017-05-15 02:50] Helpper commented on #1192
@lovolLiu Thank you for your help!
@rapaterno lovolLiu's answer is right!

[2017-05-15 03:55] Zehaos commented on #1390
Have the same problem.

[2017-05-15 05:41] stephensebastin commented on #680
@petterhh i tried and tests are passed. when i run echo 'bob brought the pizza' | syntaxnet/demo.sh
it says permission denied . even i tried as superuser. what should i do now?

[2017-05-15 07:38] lzq106 opened #1468 "tensorflow.python.framework.errors_impl.FailedPreconditionError: /tmp"
I was having a tensorflow.python.framework.errors_impl.FailedPreconditionError: /tmp when run the code models/differential_privacy/multiple_teachers/. And I read the code need a temporary storage the data , but  I do not know why cuase this error  . Any help would be appreciated, thanks.

[2017-05-15 07:55] rajnamitha opened #1469 "Inception-ResNet-v2 human readable class label not found"
I am using Inception-ResNet-v2 pretrained version to classify the images. I need human-readable class labels for this. I found one in following site: https://gist.github.com/yrevar/942d3a0ac09ec9e5eb3a.

However, when I try to validate these labels with the images, I find it doesn't map to correct labels. One such instance is I tried to classify "Panda" image- the class label it matches is : "barr

[2017-05-15 14:10] NuraAJ opened #1470 "TypeError: zeros_initializer() takes at least 1 argument (0 given) - fine turing inception model"
I am trying to run the inception example from Tensorflow: https://github.com/tensorflow/models/tree/master/inception

However, I am getting this error:

When I looked for a solution, there were mainly two:
1. changing zeros_initializer & ones_initializer to zeros_initializer() & ones_initializer(), but they were already this way.

2. Upgrading Tensorflow to its latest version, which I did by this:

[2017-05-15 14:23] SarfraazMsa commented on #1389
@theraysmith

[2017-05-15 16:13] concretevitamin commented on #1458
Ah, the issue seems to be that in a recent commit (~4/6/2017), this routine's was changed to take an int64 for its second argument.  Is it possible that two different versions of TensorFlow -- one 1.1, one master (e.g. a nightly build) -- were used in your build process?  Using a consistent version should make this work.

[2017-05-15 18:02] MarcoAlvarez commented on #1458
I installed Tensorflow 1.1 using `pip install tensorflow-gpu` (which seems to be using `int64`).  I also dowloaded the latest release of SyntaxNet which includes this file (which uses `int32`):
https://github.com/tensorflow/tensorflow/blob/a7d6015d3759bee447c8103979a5ebc831ce23d1/tensorflow/core/framework/shape_inference.cc

SyntaxNet is pointing to commit a7d6015:
https://github.com/tensorflow/mo

[2017-05-15 19:00] dgonzalez-ri opened #1472 "FileNotFoundError: [Errno 2] No such file or directory: '\\\\?\\bazel-bin\\im2txt\\run_inference'"
Hi,
I'm new here so I'm sorry if I don't describe this well enough.

I hope someone can help me, I'm stuck here:

I get the following error when I try to run:

bazel-bin/im2txt/run_inference \
  --checkpoint_path=${CHECKPOINT_PATH} \
  --vocab_file=${VOCAB_FILE} \
  --input_files=${IMAGE_FILE}

And the error I get is:

INFO: Found 1 target...
Target //im2txt:run_inference up-to-date:
  C:/users/di

[2017-05-15 19:46] nealwu commented on #1436
For now I would use Python 2 to work with these models if possible. `bazel` should still be fine; I don't think there are any issues there.

[2017-05-15 23:44] ali01 commented on #1469
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-15 23:44] #1469 closed

[2017-05-15 23:49] ali01 commented on #1467
Thanks for the heads up, @berkcoker!
@nickj-google, are you able to make the fix and test?

Thanks,
Ali

[2017-05-16 01:34] #1192 closed

[2017-05-16 01:36] skye commented on #1452
@shlens could you take a look or redirect to someone who can? Thanks!

[2017-05-16 01:39] skye commented on #1464
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-16 01:39] skye commented on #1468
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-16 01:42] skye commented on #1472
bazel creates weird paths like that, but I'm not exactly sure how it works with Windows. Can you try using C:/users/diana/appdata/local/temp/_bazel_diana/06k9x34i/execroot/im2txt/bazel-out/local-opt/bin/im2txt/run_inference instead of just bazel-bin/im2txt/run_inference to run the executable?

[2017-05-16 02:11] nealwu commented on #1470
@NuraAJ it looks like your upgrade of TensorFlow didn't work. [`tf.zeros_initializer()`](https://www.tensorflow.org/api_docs/python/tf/zeros_initializer) should work without arguments in TensorFlow 1.0 or later.

I would recommend uninstalling TensorFlow (`pip uninstall tensorflow`) and reinstalling.

[2017-05-16 02:28] dgonzalez-ri commented on #1472
Hello, skye :)

Thank you very much for your help.

I changed what you said in the script and the error didn't appear anymore, instead I got this:

INFO: Found 1 target...
Target //im2txt:run_inference up-to-date:
  C:/users/diana/appdata/local/temp/_bazel_diana/06k9x34i/execroot/im2txt/bazel-out/local-opt/bin/im2txt/run_inference
INFO: Elapsed time: 10.974s, Critical Path: 0.20s
Traceback (most r

[2017-05-16 03:47] guicunbin commented on #1451
I also have this problem

[2017-05-16 06:52] stephensebastin commented on #185
Alphabetical list of part-of-speech tags used in the Penn Treebank Project:

**No.   Tag             Description**

1. 	CC   	Coordinating conjunction
2. 	CD   	Cardinal number
3. 	DT   	Determiner
4. 	EX   	Existential there
5. 	FW   	Foreign word
6. 	IN   	       Preposition or subordinating conjunction
7. 	JJ     	Adjective
8. 	JJR   	Adjective, comparative
9. 	JJS   	Adjective, superlative
10.

[2017-05-16 07:09] g21589 commented on #1390
In [`train_image_classifier.py`](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py)
`batch_queue = slim.prefetch_queue.prefetch_queue(...)` is first assigned to **/device:CPU:0** in the `deploy_config.inputs_device()` block.
However, in `clone_fn`, the `batch_queue.dequeue()` assigns to **/device:GPU:X**.

This cause the confusion when assigning device. So, TensorFlow

[2017-05-16 07:42] Zehaos commented on #1390
I setted [--clone_on_cpu](https://github.com/tensorflow/models/blob/master/slim/train_image_classifier.py#L41) to be True, then the warning disappeared. Though this is not the solution, but it seems that something wrong with the device context setting.

[2017-05-16 11:03] harpone opened #1474 "Loading a skip_thoughts encoder without an extended vocabulary"
`EncoderManager().load_model` requires an embedding matrix file. However, if the model has been trained without an extended vocabulary, there is no such file and it seems that the model cannot be loaded...

When the model is built, an embedding matrix is initialized as the `word_emb` Variable. So it seems that I would need to load the model first, then dump the `word_emb` Variable to a numpy array

[2017-05-16 11:08] lzq106 commented on #1468
### System information
- **What is the top-level directory of the model you are using multiple_teachers:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow) https://github.com/tensorflow/models/tree/master/differential_privacy/multiple_teachers :
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04) centos7.3:
- **TensorFlow installed from (sour

[2017-05-16 11:41] harpone commented on #1474
Oops I need to run the vocabulary expansion script, closing...

[2017-05-16 11:41] #1474 closed

[2017-05-16 12:37] shlens commented on #1452
@sguada , would you be able to take a look?

[2017-05-16 13:52] lzq106 commented on #1468
Thanks for your reply the detial information as the picture and bazel
I use 0.3.1 , I have run the code models
<https://github.com/tensorflow/models>/differential_privacy
<https://github.com/tensorflow/models/tree/master/differential_privacy>/
dp_sgd/ that is well .
     Thank you for your help.

[image: 内嵌图片 2]

ll2017-05-16 9:40 GMT+08:00 Skye Wanderman-Milne <notifications@github.com>:

[2017-05-16 14:10] skye commented on #1472
This looks like some kind of install/configuration problem, but I'm not sure what. Please repost on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since Github issues are supposed to be for  bugs and feature requests. There is also a larger community that reads questions there. Thanks!

[2017-05-16 17:15] skye commented on #1468
Can you include the command you used to produce the error? (Maybe it was supposed to the be in the image, but the image didn't show up... please copy and paste the text.)

[2017-05-16 17:15] #1472 closed

[2017-05-16 18:21] NoNamesLeft4Me opened #1475 "Slim+python3+win training VGG interrupted and restore failed"
I am trying to duplicate the training of VGG19 on ImageNet 2012 from scratch using Slim. The training was fine in the beginning but then interrupted due to system update, then I am mot able to re-start the training from the saved checkpoint file. I am wondering if slim supports re-start training from saved ckp files, or if I missed some parameter setup?

System details:
Win-7 64 bit, python 3.5.2,

[2017-05-16 20:58] ali01 commented on #1475
Hi @NoNamesLeft4Me, does the file that the error message complains about actually exists? Are you able to provide a code file in the form of a [gist](https://gist.github.com/) that reproduces this problem?

[2017-05-17 01:07] NoNamesLeft4Me commented on #1475
Hi @ali01 Thanks for your reminding. You are right about the path of the ckpt files, which cause the errors. The error is caused by me using double forward slash in the path reference. Now I change all path using single slash, and the ckpt file can be correctly loaded. The following is the corrected code, and incorrect codes are commented
`import os

TRAIN_DIR = "--train_dir=E:/experiments/checkpo

[2017-05-17 01:08] #1475 closed

[2017-05-17 01:17] lzq106 commented on #1468
Dear Skye Wanderman-Milne：
      Thanks for your reply the and the command is as follow：

[liziqin@fourslave ~]$ cd differential_privacy/multiple_teachers/
[liziqin@fourslave multiple_teachers]$ python train_teachers.py
--nb_teachers=100 --teacher_id=10 --dataset=svhn
I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA
library libcublas.so.8.0 locally
I tensorflow/stream_execu

[2017-05-17 03:24] leifsyliongka opened #1476 "Attention_OCR Model"
### System information
- What is the top-level directory of the model you are using: attention_ocr
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): stock code
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): installed via pip
- TensorFlow version (use command below): 1.0.1 [also tried it in 1.1.0]
-

[2017-05-17 09:00] xiaohuizheng opened #1477 "cuda error"
E tensorflow/core/common_runtime/direct_session.cc:137] Internal: failed initializing StreamExecutor for CUDA device ordinal 0: Internal: failed call to cuDevicePrimaryCtxRetain: CUDA_ERROR_OUT_OF_MEMORY; total memory reported: 18446744073709551615
Traceback (most recent call last):
  File "resnet_main.py", line 247, in <module>
    tf.app.run()
  File "/home/zhengxiaohui/anaconda3/lib/python3.5/s

[2017-05-17 09:17] NuraAJ commented on #1470
I uninstalled TF then install it again,
now I am getting this error

[2017-05-17 09:29] OddUlrich opened #1478 "How to convert .mat file into image(.jpg file) and then convert them into tensorflow image data?"
I am learning next_freme_prediction of Tensorflow models.Followed the tutorial in the README.md file, I download series of dataset in .mat format from .tar.gz file.

I wonder what should I do to get my training data and continue my work.

As the tutorial said, the directory should be like this:

      $ ls -R
      .:
     data  next_frame_prediction  WORKSPACE

     ./data:
     tfrecords  tfreco

[2017-05-17 12:39] drormeir commented on #497
I typed the following command:
`sudo bazel build --config opt --copt=-msse4.1 --copt=-msse4.2 --copt=-mavx --copt=-mavx2 --copt=-mfma //tensorflow/tools/pip_package:build_pip_package`

...and I got this error:
`Extracting Bazel installation...`
`The 'build' command is only supported from within a workspace.`

Which workspace does it refer to? How can I resolve this?
10x

[2017-05-17 16:10] nickj-google commented on #1467
Yeah, I can fix this. I want to spend a little time digging into what broke between then and now as well.

[2017-05-17 16:40] nickj-google commented on #1467
@berkcoker, What version of TensorFlow are you running?

I'm not seeing the issue on 1.0.1.

[2017-05-17 17:56] skye commented on #1476
@alexgorban

[2017-05-17 17:58] skye commented on #1478
@panyx0718

[2017-05-17 20:25] alexgorban commented on #1476
Thanks for reporting this issue! I've fixed the README.md to point to the correct checkpoint  and updated instructions a little bit #1482. I've just double-checked that the training works in a virtualenv with both TensorFlow versions. Please try to use the virtualenv setup and let me know if it doesn't work for you. Have you tried to run tests?

[2017-05-17 23:47] ali01 commented on #1477
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-05-18 02:54] leifsyliongka commented on #1476
Yup, I ran the python -m unittest discover -p  '*_test.py' and I didn't get any errors.
I'm running TensorFlow in Anaconda right now but I'll try the virtualenv setup.

## Log

...................Parsing GraphDef...
Parsing RunMetadata...
Parsing OpLog...
Preparing Views...

=========================Options=============================
-max_depth                  10000
-min_bytes

[2017-05-18 06:22] zack6514 commented on #1419
have this problem solved?

[2017-05-18 11:11] tobiajo commented on #1419
@zack6514 no

[2017-05-18 16:03] myagues commented on #1390
I don't think there is a problem with the multi-GPU setup, but there are some metrics that create confusion. [This](https://github.com/tensorflow/models/issues/1428#issuecomment-300681075) comment states that you should not focus on the sec/step value, but also take into account the amount of GPUs (# of clones) that you are using, which has an impact on the total images per step.

Consider that [m

[2017-05-18 17:40] richardmarcum opened #1484 "resnet_v1_test.py Failing"
### System information
- **What is the top-level directory of the model you are using**:
models/slim/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Anaconda
- **TensorFlow version (use command below)**:
1.1

[2017-05-18 20:07] skye commented on #1484
@nathansilberman

[2017-05-18 20:17] hfutxrg commented on #1390
Hi @myagues, in @Ettard numbers, no batch_size is defined. The default batch size is 32. So he was using batch size 32 for both 1 GPU and 3 GPUs. And one batch images are divided into all GPUs. It does not mean  one GPU processes one batch images, it means all GPUs process different images in one batch at the same time. For me, I actually do not focus on images/sec, I focus on the total wall clock

[2017-05-19 00:55] nealwu commented on #1470
@NuraAJ Please pull the repository again to make sure you are on the newest version of the code. The [function calls](https://github.com/tensorflow/models/blob/master/inception/inception/image_processing.py#L400) were upgraded to the TensorFlow 1.0 API and shouldn't give you any issues with TF 1.0+ (if they do, let us know).

Closing this issue.

[2017-05-19 00:55] #1470 closed

[2017-05-19 01:44] Zehaos commented on #1428
How can we test it in asyn mode? than we can verify whether we are fully using every one of the gpus.

[2017-05-19 02:07] tfboyd commented on #1428
I do not believe there is an async mode built into the SLIM models for multi-GPU.  For inception and ResNet async is not going to gain much on a single machine with multi-GPUs.  Our [benchmark scripts ](https://www.tensorflow.org/performance/performance_models) have Aync mode for distributed (across servers) but not within a single machine.  The concept used in distributed should be applicable to

[2017-05-19 03:57] leifsyliongka commented on #1476
@alexgorban I've setup another TF environment using virtualenv this time, the parameters are now successfully restored from the updated model. Thanks! 😄

Is there a way for me to just predict using the 399731 model using my own image without having to go through training?

[2017-05-19 06:30] jinfagang opened #1489 "translate example error"
prepared data and tokenized, when begin to train just got error:

[code]

Any idea?

[2017-05-19 07:35] loretoparisi opened #1490 "Request: pre-trained text summarization model"
As in many cases in ML/DL when doing text summarization, sequence to sequence for NMT, to train LSTM it is needed the [Annotated English Gigaword](https://catalog.ldc.upenn.edu/LDC2012T21) dataset in the [LDC](https://catalog.ldc.upenn.edu/byproject) corpora.
Due to licensing issues (the Dataset license costs 6,000$), `tensorflow` cannot provide the dataset itself:

[code]

But what about to provi

[2017-05-19 07:37] tiberiuichim commented on #1490
I'm also interested in having this model available.

[2017-05-19 08:45] chunxia75qin commented on #1476
I have two questions：1、how to use my own image data to train Attention_OCR Model（how to convert my own image data to the format like FSNS dataset）？2、how to use pre-trained model to predict  result？ I'm looking forward to hearing answer。

[2017-05-19 23:23] Chejo-gt commented on #853
hello, I am using Ubuntu with ananconda and have the same issue, but when I tried to installing from source I obtain this error trying to executing the "./configure" scritpt:

...............
unexpected pipe read status: (error: 2): No such file or directory
Server presumed dead. Now printing '/home/cut_edge_technology/.cache/bazel/_bazel_cut_edge_technology/13ebb8ad2ebb0a0f86a2caa7ab0abb8f/server

[2017-05-19 23:45] nealwu commented on #853
Hi @Chejo-gt, you no longer need to install from source to use `tf.contrib.rnn.GRUCell`. Installing from pip should do the job; see https://www.tensorflow.org/install/.

[2017-05-20 00:43] nmfisher opened #1491 "lm_1b BATCH_SIZE > 1"
### System information
- **What is the top-level directory of the model you are using**:
lm_1b

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
e.g. modify the BATCH_SIZE variable to 10 at https://github.com/tensorflow/models/blob/master/lm_1b/lm_1b_eval.py#L69

Also minor modifications for Python 3 compatibility.

- **OS Platform and Distribut

[2017-05-20 00:48] ali01 commented on #1489
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-20 00:48] #1489 closed

[2017-05-20 01:15] jinfagang commented on #1489
I think the tutorial code should better update, can not even run now, I am just report an issue, make other won't mislead by those code.

[2017-05-20 04:36] irmowan commented on #1195
ResNet in slim doesn't have 18 layers version.
Hope ResNet-18 could be added to slim.

[2017-05-20 05:12] zeeshanzia84 commented on #1103
I was wondering if there are any updates on this?
Has tf.load_op_library() support been added yet, or any plans for the same?

Thanks a lot for the wondering library. I absolutely love it!!

[2017-05-21 02:16] KranthiGV opened #1493 "[im2txt][feature request] Finetuning the trained im2txt model on an other dataset"
### System information
- **What is the top-level directory of the model you are using**:
tensorflow/models/im2txt
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No. Not yet.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use co

[2017-05-21 16:03] mrry commented on #1103
@zeeshanzia84 Thanks to some heroic efforts by @guschmue, it's now possible to use `tf.load_op_library()` on Windows. There isn't a lot of documentation for it right now, but the `AddUserOps` CMake function will help, and you can see an example of its use here:

https://github.com/tensorflow/tensorflow/blob/e4296aefff97e6edd3d7cee9a09b9dd77da4c034/tensorflow/contrib/cmake/tf_python.cmake#L792

[2017-05-21 19:08] anurag25 opened #1494 "Skip_Thoughts: Key error in encoding data"
### System information
- **Top-level directory of the model** skip_thoughts
- **OS Platform and Distribution** Linux Ubuntu 16.04
- **Python version** 3.5.2
- **TensorFlow version**  1.1.0
- **CUDA/cuDNN version** N/A
- **GPU model and memory** N/A

### Problem description
I am trying to generate skip-thought vectors using pretrained models, but getting a key error while executing:
`encodings = en

[2017-05-22 00:35] yj-k commented on #1224
@smitch17 You should run commands in [Getting Started](https://github.com/tensorflow/models/tree/master/inception#getting-started) section. Then that file is created.

[2017-05-22 01:13] asanakoy opened #1497 "Resnet_v2 wrong default preprocessing and default_image_size"
In the readme file it is specified that

But in the source code it is different:
1. ResNet V2 preprocessing is set to `vgg_preprocessing`  [preprocessing_factory.py#L61](https://github.com/tensorflow/models/blob/master/slim/preprocessing/preprocessing_factory.py#L61)
2. Default image size is set to 224 [https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v2.py#L219](resnet_v2.py#L219

[2017-05-22 01:27] asanakoy opened #1498 "resnet_v2_test: 8 tests Failed"
Majority of the tests are failing in [resnet_v2_test.py](https://github.com/tensorflow/models/blob/master/slim/nets/resnet_v2_test.py )

11 of 17 Tests done. **8 failed**
Failed:
1. testAtrousFullyConvolutionalUnknownHeightWidth

2. testAtrousFullyConvolutionalEndpointShapes

3. testAtrousFullyConvolutionalValues

4.testClassificationEndPoints

5. testFullyConvolutionalEndpointShapes

6. testFully

[2017-05-22 06:51] OddUlrich commented on #1478
I wonder how to generate tfrecords and tfrecords_test in date directory.
@panyx0718

[2017-05-22 10:26] muayyad-alsadi commented on #444
this issue is fixed in [commit/253ca4ab8101dc2c2404530680b4a12e7518572d](https://github.com/tensorflow/models/commit/253ca4ab8101dc2c2404530680b4a12e7518572d)

but they used list instead of tuples

[2017-05-22 15:14] skye commented on #1468
@panyx0718 can you diagnose from here? Thanks!

[2017-05-23 01:01] alexgorban commented on #1476
leifsyliongka@, chunxia75qin@ please refer to the updated instructions #1500.

[2017-05-23 07:56] chunxia75qin commented on #1476
@alexgorban, I can use a pre-trained model to predict result with your advise. Thanks! For my first question, I want to use my own image data according to your first suggestion,  but I dont know how to store my data in the same format as the FSNS dataset?

[2017-05-23 08:37] leifsyliongka commented on #1476
@alexgorban many thanks!

@chunxia75qin hello, I might be missing something. Do you mind sharing your code? Either my machine is too slow or I'm doing something wrong. I've set the batch_size FLAG to 1 just to quickly test it out. I'm just trying to extract the texts predicted by the model in the FSNS and I have the ff. code. Am I doing it right?

## Code
dataset = common_flags.create_dataset(spli

[2017-05-23 16:20] PauloCirino commented on #1440
Don't know if this is it but I think tensorflow uses cudcnn 5.1

[2017-05-24 04:46] srinathperera commented on #148
Hi micimize,

I got the docker image started as described in the link, and then able to run the demo.sh. However, still cannot figure out how can I run the model from vanila python. Are there any resources that can help?

--Srinath

[2017-05-24 06:31] alexwwang commented on #1464
I thought you maybe run this cli under zsh. I met this problem too.
Since there exists some difference between zsh and bash, here you should use "" to quote those three dots under zsh, say `bazel test "..."`, then everything is ok.

[2017-05-24 12:05] ip01 opened #1502 "[neural_gpu] [failure] vocab_size=40000, multi GPUs"
### System information
- **What is the top-level directory of the model you are using**:
neural_gpu
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux 3fc345ec6592 4.4.0-75-generic #96~14.04.1-Ubuntu SMP Thu Apr 20 11:06:30 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.0

[2017-05-24 12:17] q3452 commented on #1271
@mjakubicek Thanks, I ran into the same thing building on Ubuntu 16.04

[2017-05-24 13:29] smolendawid commented on #1050
@ebrevdo Is there any chance for the tutorial/code to be updated? (as you mentioned few posts earlier?)

[2017-05-24 20:22] NoNamesLeft4Me commented on #991
Hi @junshi15, could you elaborate on how you followed the training steps in the paper using Slim? I am trying to train from scratch but it didn't work.
I modified the training parameters based on Slim default and some suggestion in the paper and these are the details:
labels_offset=1
weight_decay=4e-5
learning_rate=1e-2
rmsprop optimizer: momentum=0.9, rmsprop_decay=0.9, opt_epsilon=1e-10
learning

[2017-05-24 20:48] evalsocket commented on #373
I am working on a search engine. My inventory is movie name , actor's name etc.
My data set is : search_term and target_word(click)(from inventory)
My question is that we have only one or may be two three word search.  i want predication on 2-3 character  so is textsum useful for me

[2017-05-25 05:26] junshi15 commented on #991
The following setting worked for me.

--model_name=vgg_19 \
--num_preprocessing_threads=16 \
--num_gpus=8 \
--num_clones=8 \
--batch_size=32 \
--learning_rate=0.01 \
--num_epochs_per_decay=2.5 \
--learning_rate_decay_factor=0.1 \
--optimizer=momentum \
--weight_decay=0.0005 \
--max_number_of_steps=450000

[2017-05-25 09:12] srayuth089 commented on #417
Hello why went  run code are will be show that ...

(tensorflow)[root@192 textsum]# python seq2seq_attention.py    --mode=decode     --article_key=article     --abstract_key=abstract     --data_path=data/data    --vocab_path=data/vocab     --log_root=textsum/log_root     --decode_dir=textsum/log_root/decode     --beam_size=8
2017-05-21 08:18:58.098394: W tensorflow/core/platform/cpu_feature_guard.

[2017-05-25 09:45] Vimos commented on #1050
Using tensorflow r1.2, I got the error below:
[code]

[2017-05-25 13:01] burglarhobbit opened #1505 "Tensor name "seq_embedding/map" not found in checkpoint files inception_v3.ckpt"
I'm getting an error in reusing the 'inception_v3.ckpt' check point for using the [Show and Tell](https://github.com/tensorflow/models/tree/master/im2txt#generating-captions) model as described in that given link.
I'm using the same code `inference.py` that's provided and here's the stacktrace:

[code]

[2017-05-25 21:50] deepaksh0607 opened #1506 "Not able to import tensorflow"
I am using windows 10 64 bit machine and trying to load tensorflow package but it's giving me the below error

Traceback (most recent call last):

  File "<ipython-input-64-a649b509054f>", line 1, in <module>
    import tensorflow

  File "C:\Users\deepaksingh2\AppData\Local\Continuum\Anaconda3\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import *

  F

[2017-05-26 01:06] mmsabry opened #1507 "[im2txt] cannot build: No module named im2txt"
I am trying to use im2txt, but when I tried to train the model (on a cpu machine) I got the error:
Traceback (most recent call last):
  File "[InstallationDIR]/TensorFlow/models/im2txt/bazel-bin/im2txt/run_inference.runfiles/im2txt/im2txt/run_inference.py", line 27, in <module>
    from im2txt import configuration
ImportError: No module named im2txt

What would be the cause of this issue?

Thanks

[2017-05-26 03:46] befree2008 commented on #1489
I have the same issue either

[2017-05-26 11:27] burglarhobbit commented on #1507
What were the commands that you used?

[2017-05-26 14:17] IvyGongoogle opened #1508 "where to get the pre-trained models for “Show and Tell: A Neural Image Caption Generator”?"
As I have no resource to train the training datasets for Show and Tell: A Neural Image Caption Generator, so where to get the pre-trained models?
thank you very much~

[2017-05-26 14:34] #1508 closed

[2017-05-26 17:14] mmsabry commented on #1507
I was following the instructions in README.md
I first did
bazel build -c opt im2txt/...
Then
bazel-bin/im2txt/train --input_file_pattern="${MSCOCO_DIR}/train-?????-of-00256" --inception_checkpoint_file="${INCEPTION_CHECKPOINT}" --train_dir="${MODEL_DIR}/train" --train_inception=false --number_of_steps=1
This is where I have observed this error:
File "[InstallDIR]/TensorFlow/models/im2txt/bazel-bin

[2017-05-26 18:01] mmsabry commented on #1507
UPDATE: I have updated bazel to 0.50.0 and now it works well.

[2017-05-26 18:01] #1507 closed

[2017-05-26 23:05] KranthiGV commented on #1505
@burglarhobbit
You are mistakenly using the checkpoint of Inception V3 to run inference for Show and Tell model.
Since, the weights of LSTM part of the network are not present in Inception V3, you have difficulties running.
For you to infer, either train the im2txt model or use a pretrained network like [this](https://github.com/KranthiGV/Pretrained-Show-and-Tell-model).
I hope it is clarified.

[2017-05-28 03:15] jart commented on #1505
Thanks for helping our friend @KranthiGV.

[2017-05-28 03:15] #1505 closed

[2017-05-28 03:17] KranthiGV commented on #1505
My pleasure! :D

[2017-05-28 03:22] jart commented on #1493
Feature request for you @cshallue.

[2017-05-29 01:58] micimize commented on #148
@srinathperera I've only gotten it working via bazel and docker with the following `BUILD`:
[code]
and `Dockerfile`:
[code]

[2017-05-29 04:16] burglarhobbit commented on #1505
It worked. Thanks!

[2017-05-29 11:27] Bijin123 commented on #97
how to solve import error '_pywrap_tensorflow' in windows in python 3.5.2 ?

[2017-05-29 13:15] LEAAN commented on #466
@begongyal The latest version of tensorflow creates three files for checkpoints by default. Please do not delete or remove anything in your train_dir, and use:
[code]
in im2txt/train.py, I managed to get rid of the error.

[2017-05-29 14:08] crazyyanchao opened #1514 "能否添加一个R-FCN(resnet-101)做目标检测的model？"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-05-29 23:38] jmchen-g commented on #1514
Please redo this issue with english. Thanks.

[2017-05-29 23:38] #1514 closed

[2017-05-30 04:10] dgonzalez-ri commented on #1493
@KranthiGV Hi, I'm trying to do the same thing, finetune with a different dataset.
I convert my data to tfr files but it seems like im2txt its stuck or something and then the process its killed. I have the feeling I may not be doing it right but I don't know exactly where, could you guide me a little about how you did it?

Thanks :)

[2017-05-30 16:35] rylanchiu opened #1515 "[failure]textsum: fail to generate any meaningful headline shown in the Examples"
I have run the `seq2seq_attention.py` and the average loss reduce to about 0.5. And I run it in `decode` mode. But the output are filled of `UNK` symbols, instead of those meaningful ones shown in the examples. BTW, I trained the model using the toy example provided by you. I wonder why can't I get what you get, even I run the same model and with same data set. Did you get those examples by traini

[2017-05-30 17:37] K-Y-J opened #1516 "I have some question about im2txt"
When i run
-----------------------------------------------------------
bazel-bin/im2txt/run_inference \
  --checkpoint_path=${CHECKPOINT_PATH} \
  --vocab_file=${VOCAB_FILE} \
  --input_files=${IMAGE_FILE}
-----------------------------------------------------------

I Successfully get result but it takes about 40s.

I think import tensorflow ...etc
and close again and again.

whiat i want is just

[2017-05-30 21:00] asimshankar commented on #1506
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-05-30 21:00] #1506 closed

[2017-05-30 21:53] aselle commented on #1478
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-05-30 21:53] #1478 closed

[2017-05-30 21:54] aselle commented on #1476
It looks like this is resolved. Please close the issue if so. Thanks!

[2017-05-30 22:11] alexgorban commented on #1476
I also think the issue was resolved. leifsyliongka@ please close it.

chunxia75qin@ and others, for questions not related to the issue, please use the [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow+ocr).

[2017-05-31 03:17] leifsyliongka commented on #1476
@alexgorban many thanks.

[2017-05-31 03:17] #1476 closed

[2017-05-31 09:34] livington opened #1518 "seq2seq_model error on TF1.1 runing on Windows 7"
Hello

I have some errors if i try to run
tutorials\rnn\translate\translate.py
from
https://github.com/tensorflow/models

![tf_seq2seq_errors](https://cloud.githubusercontent.com/assets/29087895/26625043/987910ae-45fb-11e7-850d-61df2774f2cd.png)
I know about warnings, but my problems how runing seq2seq_model.
I know that https://github.com/tensorflow/models not upgrade to TF1.1 and /models_master

[2017-06-01 05:36] Zhijing1128 opened #1520 "TF1.1 WARNING:tensorflow in textsum"
Hi,

I got the warning: <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.LSTMCell object at 0x7f3f643a9e90>: Using a concatenated state is slower and will soon be deprecated. Use state_is_tuple=True.

I'm new to tensorflow. What does this mean and how to deal with it?

Thanks.

[2017-06-01 06:11] Zhijing1128 commented on #468
Hi,

I got output=<UNK> <UNK> <UNK> <UNK> <UNK> <UNK> <UNK> <UNK> <UNK> in my decode result. How should I deal with that?

Thanks.

[2017-06-01 07:45] Zhijing1128 commented on #512
Hi @xtr33me,

can you provide more information of how you generate the data-0-bin.txt file? I don't want how to generate the test data using correct format.

Thanks in advance.

[2017-06-01 10:57] irfan-zoefit opened #1521 "input contains unknown fields and/or extensions"
When I try to run the basel test on GPU it shows following error
[code]
### System information
- **Linux Ubuntu 16.04**:
- **Tensorflow Version=1.1.0**:
- **Bazel 0.5.0**:
- **CUDA/cuDNN 7.5/5.0**:
- **GeForce GTX 1080 Ti, 11170 MB**:
- **bazel test -c opt --config=cuda --define using_cuda_nvcc=true --define using_gcudacc=true syntaxnet/... util/utf8/...**:

Here is the output of tf_env_collect.sh

[2017-06-01 15:46] pianoman4873 opened #1522 "evaluation and training concurrently"
Very cool implementation !
I have a general design question regarding the code -
Can this implementation be easily extended to train on multiple GPUs on the same machine ?

Also, from the code I see that evaluation is reloading the model from a checkpoint , which means that the amount of memory consumption is doubled - this may be a problem if resources are scarce.
Can evaluation somehow be done w

[2017-06-01 17:28] Zhijing1128 commented on #622
Hi @xtr33me ,

I'm still confused about the vocab generation. I used your modified version of vocab file (which posted in one previous issue). But I got "nvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [11654,128] rhs shape= [10003,128]".
The vocab shouldn't depends on the text data, is that correct?

Thanks.

[2017-06-01 18:37] bogatyy commented on #1521
Can you try carefully following the instructions [here](https://github.com/tensorflow/models/issues/248#issuecomment-288991859) and letting us know about the outcome?

The parser error seems to indicate that `cxx_builtin_include_directory` is undefined in your case, and you need to define it to be the CUDA include directly (more precise instructions in the link above)

[2017-06-01 19:23] Zhijing1128 commented on #845
Hi @osamajamil12 @jart

I'm still confused by the vocab file. I first trained it with the toy data: data/vocab, and then I trained it with my generated vocab file and data/data . And I got the error as following:

InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match. lhs shape= [256,16935] rhs shape= [256,10003]...

The data/data has 10003 words. I don't

[2017-06-01 20:09] Mostafa-Samir opened #1523 "Syntaxnet ignores sentences in input"
I'm using the Arabic pre-trained syntaxnet model to perform dependency parsing on on sentences segmented with the Stanford word segmenter.  However, on a some segmented sentences, the model seems to ignore it completely, but it processes the un-segmented version of it resulting in a very poor parsing.

An example of this issue can be found with the segmented sentence in [`segmented_sentence.txt`](

[2017-06-02 01:49] jart commented on #1522
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 01:49] #1522 closed

[2017-06-02 01:49] jart commented on #1520
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 01:49] #1520 closed

[2017-06-02 01:53] jart commented on #1518
I'm noticing the backtrace goes to an `import tensorflow.contrib.crf` statement. Right now, as far as I know, many contrib packages aren't available for Windows. In the future we should hopefully be able to make more of it available on that platform. However you can consider using Docker in the interim.

[2017-06-02 01:53] #1518 closed

[2017-06-02 01:54] jart commented on #1494
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-02 01:54] #1494 closed

[2017-06-02 02:29] wjbKimberly opened #1524 "Cannot run the vgsl_model_test.py file owing to AttributeError"
When I Installi and set up the STREET model following the guide in https://github.com/tensorflow/models/tree/master/street

python vgsl_model_test.py

It shows:

  File "~/OCR/code/google/models-master/street/python/nn_ops.py", line 99, in <module>
    @tf.RegisterShape("VariableLSTM")
AttributeError: 'module' object has no attribute 'RegisterShape'

The tensorflow version is :
'v1.1.0-rc0-61-g1ec

[2017-06-02 06:03] osamajamil12 commented on #845
share what codes are you running.

On Fri, Jun 2, 2017 at 12:23 AM, Riitasusei <notifications@github.com>
wrote:

[2017-06-02 06:55] Zhijing1128 commented on #845
Hi @osamajamil12

Thanks for replying. When I download a new textsum folder and train it, it seems ok. So I cannot retrain the model. Is that because of the checkpoints?

The other question I have is that I cannot get good summarization results. My vocab is extracted from ~2 Yelp reviews. So is the bad result due to vocab or hyperparameter tunning? I got around 3.0 running_avg_loss for 5 hours' ru

[2017-06-02 07:27] irfan-zoefit commented on #173
I'm having the same issue and don't know where to put the value.

`config.gpu_options.allow_growth=true`
Would you specify the file.

[2017-06-02 10:35] osamajamil12 commented on #845
Hi,

You should be able to retrain it. What system are you using?

https://hackernoon.com/how-to-run-text-summarization-with-tensorflow-d4472587602d

Follow this tutorial, you should be able to get by fine.

I trained using 300k articles for around 3 days and avg loss of around 2. Results were not good.

According to my research it requires more data and training. The gigaword dataset which requir

[2017-06-02 18:35] pathaine commented on #240
Hey, so I was getting the same error, even when specifying the full paths within context.pbtxt.
Here is what solved it for me.

Python code:
`import os
 import subprocess

 for filename in os.listdir(docs_dir): #docs_dir is the directory which contains the files I want to parse
     if filename.endswith(".txt"):
         parsey_doc = open(parsey_dir + "/context.pbtxt", "r")#, encoding="utf-8")

[2017-06-02 19:24] ehfo0 commented on #1064
@tatatodd how did u reset ur cuDNN environment variable ? I have the same problem

[I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.so locally
I tensorflow

[2017-06-03 01:19] secsilm commented on #1064
@ehfo0 You can just replace the old files(5.0) with the new files(5.1), if you have set the cudnn environment variable in `PATH`.

[2017-06-03 08:59] Ali-Zareie commented on #373
Hi all...
I create my own data and now i wanna to convert it to binary file....when i run this:

python data_convert_example.py --command text_to_binary --in_file data/text_data --out_file data/binary_data

I encounter to this error:

Traceback (most recent call last):
  File "data_convert_example.py", line 65, in <module>
    tf.app.run()
  File "/home/az/.local/lib/python2.7/site-packages/tensor

[2017-06-03 09:05] Ali-Zareie opened #1528 ""ValueError: need more than 1 value to unpack" in convert text to binary files"
Hi all...
I create my own data and now i wanna to convert it to binary file....when i run this:

python data_convert_example.py --command text_to_binary --in_file data/text_data --out_file data/binary_data

I encounter to this error:

Traceback (most recent call last):
File "data_convert_example.py", line 65, in
tf.app.run()
File "/home/az/.local/lib/python2.7/site-packages/tensorflow/python/platf

[2017-06-04 12:07] foromer4 commented on #1061
encountered the same issue, any news on this one?

[2017-06-04 13:58] foromer4 commented on #967
Hi, following the above suggestions, I am running the **train_image_classifier.py** script and get this error:
`InvalidArgumentError (see above for traceback): Input to reshape is a tensor with 36100 values, but the requested shape has 784`

any ideas? thanks

[2017-06-04 21:52] b3rnix opened #1529 "weight_variable initializes variable is initializing weights to zero instead of random"
Randmon initialization is commented out, as some kind of test:

def weight_variable(shape):
    '''Helper function to create a weight variable initialized with
    a normal distribution
    Parameters
    ----------
    shape : list
        Size of weight variable
    '''
    **#initial = tf.random_normal(shape, mean=0.0, stddev=0.01)
    initial = tf.zeros(shape)**
    return tf.Variable(initial)

[2017-06-05 09:24] OwalnutO commented on #1528
I also got the same problem. The reason in my situation is that an extra line which has nothing is added after the last line in the raw text file. I remove it and the program works properly. You can have a try. If it doesn't work, maybe you should check the format of your raw text file.

[2017-06-05 19:52] lukaszkaiser commented on #1502
I think it is just running out of memory and giving this strange message. Remember that in `neural_gpu_trainer` the effective batch size is `batch_size = FLAGS.batch_size * FLAGS.num_gpus` -- so if you're sticking to the default batch of 32 with 8 gpus, you're effectively running at batch 256. And the embeddings are not sharded, so they might incur large memory cost. Could you try with `--batch_si

[2017-06-06 10:00] wjbKimberly opened #1533 "Issues of attention ocr: How to store my data in the same format as the FSNS dataset？"
Hi，I just want to train an OCR model by attention_ocr based on my own datasets, but I don't know how to
store my images and groundtruth in the same faormat as FSNS datasets.

Also:
1.Does it works on Chinese datasets?
2.If in one image, there are several groundtruths(more text segments), does it also works?

[2017-06-06 11:41] zhixy commented on #1442
@s-gupta  I suffer the same issue, whether with TF 1.1.0 or 1.0.1, I think 1.1.0 is later than the commit [d82f8f818cec7a1099a7e680a30ba8f5f8ed2589](https://github.com/tensorflow/tensorflow/commit/d82f8f818cec7a1099a7e680a30ba8f5f8ed2589)

[2017-06-06 12:03] stridom commented on #940
Hello, i meet this problem too, and can't solve it with myself... Can you tell me the solution about this problem ,thx !

[2017-06-06 12:29] zhixy commented on #1442
test with 1.2.0rc0 and 1.2.0rc1, above issue disappeared but new problem appears, look at the following output:

WARNING:tensorflow:From /home/xy/github/models/cognitive_mapping_and_planning/tfcode/nav_utils.py:101: calling resnet_arg_scope (from tensorflow.contrib.slim.python.slim.nets.resnet_utils) with is_training is deprecated and will be removed after 2017-08-01.
Instructions for updating:
Pa

[2017-06-06 15:50] michaelisard commented on #1515
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 15:50] #1515 closed

[2017-06-06 15:50] michaelisard commented on #1516
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 15:50] #1516 closed

[2017-06-06 16:16] michaelisard commented on #1528
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 16:16] #1528 closed

[2017-06-06 16:19] michaelisard commented on #1529
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-06 18:37] michaelisard commented on #1533
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 18:37] #1533 closed

[2017-06-07 05:54] ip01 commented on #1502
Thank you Lukasz, it is OOM indeed... Meaningfull memory allocation error handling in TF core would  be desirable anyway, but aparently your model is not the proper place to complain about it :-)

[2017-06-07 06:28] lukaszkaiser commented on #1502
Thanks for checking!

[2017-06-07 06:28] #1502 closed

[2017-06-07 09:02] vgupta-ai opened #1535 "Should I add the original image back to the dataset after distorting while augmenting training data?"
I was going through the [cifar10](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10.py) tutorial and noticed that the author distorts the images to augment the training data. However, the original image is not added back to the mix. Is there any specific reason for doing this?

How is it augmentation if we are replacing the original image with a new image instead of

[2017-06-07 11:04] nirmaljith commented on #1314
@nealwu @sguada @nathansilberman , guys any update on this. It will be of great help at-least if you mention the difference between the two models.

[2017-06-08 04:55] #1468 closed

[2017-06-08 11:21] vdevmcitylp commented on #373
@xtr33me @panyx0718
I want to train the textsum model on the [Insight](mlg.ucd.ie/datasets/bbc.html) dataset.

I ran data_convert_example.py on the toy dataset and got this result:

abstract=<d> <p> <s> sri lanka closes schools as war escalates . </s> </p> </d>	article=<d> <p> <s> the sri lankan government on wednesday announced the closure of government schools with immediate effect as a military

[2017-06-08 12:59] pronot commented on #1452
I observed the same situation. Any progress?

[2017-06-08 15:23] kuo000 opened #1537 "Skip thought models: fune-tuning pretrained models"
For the skip thought vector implementation, I was wondering whether it is possible to fine-tune the pretrained models instead of training a new model from scratch on my own data. If not, can I request such a feature?

Thanks.

### System information
- **What is the top-level directory of the model you are using**:
https://github.com/tensorflow/models/tree/master/skip_thoughts
- **Have I written cu

[2017-06-08 15:42] michaelisard commented on #1535
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-08 15:42] #1535 closed

[2017-06-08 20:01] cshallue commented on #1537
Yes - create a file called "checkpoint" in the folder containing the pretrained model. The file should contain the following two lines (where `XXXX` is the checkpoint number):

[code]

Then start the training script as described [here](https://github.com/tensorflow/models/tree/master/skip_thoughts#run-the-training-script) with `--model_dir=/path/to/model/`.

This will cause the pretrained model to

[2017-06-08 20:01] #1537 closed

[2017-06-08 20:17] kuo000 commented on #1537
Thanks @cshallue. I remember seeing something like this before. Thank you for the quick response.

[2017-06-08 23:20] evgliv opened #1539 "pretrained syntactic models are not found"
I want to download pretrained model as described in https://github.com/tensorflow/models/blob/master/syntaxnet/g3doc/universal.md
Looks like file here http://download.tensorflow.org/models/parsey_universal/English.zip doesn't exist.
Thanks

[2017-06-09 02:21] xtr33me commented on #373
@vdevmcitylp feel free to check out my github link below. I added some formatting scripts some time back I havent touched this code in a while, but I know it was working. Essentially I scraped articles, then had to format them for parsing in the referenced data_convert_example.py.  Hope it helps some.

https://github.com/tensorflow/models/tree/ef9c156ca7802a5e60018fb0cc7d950ea54569de/textsum

[2017-06-09 11:27] vdevmcitylp commented on #373
@xtr33me
It works!
I can't thank you enough for this.

[2017-06-09 12:52] ayushtiwariiitk opened #1540 "Text Prediction Code-RNN-PTB"
How to use pretrained model  for  text prediction?
How to user input and it show predicted words side by side ?
https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

[2017-06-09 13:11] carsonDB commented on #553
@cbfinn  Thanks for your paper and codes. And sorry to bother you for a little detail.
1. As you said above, "train/val split is different from what I used".
In the paper, `train_val_split` is 0.95. And I saw that this tf version also uses the same setting as default.
2. In the complete training (iteration 10K), I found that the `validation psnr` (I use this evaluation) is not always accordance wi

[2017-06-09 13:18] ngovanmao opened #1541 "rnn/ptb/ptb_word_lm.py cannot run with Python3 due to str.decode"
The example rnn/ptg/ptb_word_lm.py  cannot run with Python3.
~/models/tutorials/rnn/ptb$ python3 ptb_word_lm.py --data_path=/tmp/simple-examples/data --model=small
Traceback (most recent call last):
  File "ptb_word_lm.py", line 385, in <module>
    tf.app.run()
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + fla

[2017-06-09 13:23] ayushtiwariiitk commented on #856
How to use the trained model for text prediction?
How to user input and it show predicted words side by side ?
https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

[2017-06-09 13:25] ayushtiwariiitk commented on #774
How to use pretrained model for text prediction?
How to user input and it show predicted words side by side ?
https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

[2017-06-09 15:47] cbfinn commented on #553
@carsonDB The percentage is the same, but the actual videos used for training and validation are different (as they are randomized).

[2017-06-09 16:36] girving commented on #1541
@martinwicke Looks like https://github.com/tensorflow/models/tree/master/tutorials do not have obvious owners.

[2017-06-09 16:36] girving commented on #1541
E.g., https://github.com/tensorflow/models/tree/master/tutorials/rnn doesn't mention who to contact.

[2017-06-09 16:47] girving commented on #1540
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-09 16:47] #1540 closed

[2017-06-09 19:01] nealwu commented on #774
Hi @ayushtiwariiitk, I think your questions are better answered on StackOverflow: https://stackoverflow.com/questions/tagged/tensorflow

[2017-06-09 22:23] martinwicke commented on #1541
@ebrevdo, maybe you?

[2017-06-10 01:38] ebrevdo commented on #1541
I'll be ooo for next week, so best assign to Lukasz.

On Jun 9, 2017 3:23 PM, "Martin Wicke" <notifications@github.com> wrote:

[2017-06-10 10:57] linpt commented on #1442
@zhixy I'm just comment, such part. There was comment, that in some usage, that variable set to None, so that means not using. So you can run it without it.

[2017-06-11 12:25] kikirizki commented on #1200
@diahnuri bu diah sya juga dapat error yang sama tapi pas udah cd ke direktori lain anehnya jadi bisa gak tau kenapa haaha

[2017-06-12 09:00] autohomer commented on #1390
@Ettard have you figured out your problem?

[2017-06-12 15:20] Doreenruirui commented on #940
Hi @stridom ,  @aselle 's solution works for me!

[2017-06-12 17:44] dgiunchi opened #1546 "rnn/ptb/ptb_word_lm.py error"
tensorflow-gpu 1.1.0, windows

I try to run the following code:
[code]
I got now:

ValueError: Variable rnn/multi_rnn_cell/cell_0/basic_lstm_cell/weights already exists, disallowed. Did you mean to set reuse=True in VarScope? Originally defined at:

  File "C:\Users\dannox\.conda\envs\tensorflow\lib\site-packages\tensorflow\python\framework\ops.py", line 1228, in __init__
    self._traceback = _ex

[2017-06-13 01:48] lukaszkaiser commented on #1541
ngovanmao: great thanks for finding this and posing! Would you like to make a small PR that corrects the issue, or would you rather have us do it?

[2017-06-13 02:25] carsonDB commented on #553
@cbfinn Thanks for your quick reply!

[2017-06-13 14:34] ngovanmao commented on #1541
OK, I will make a small PR.

[2017-06-13 14:34] #1541 closed

[2017-06-13 15:47] EnricoBeltramo opened #1549 "Issue running rnn tutorial translate.py"
Dear all,
when I try to run translate.py script (following related rnn tutorial) I have follow error:

erber@erber-VirtualBox:~/models/tutorials/rnn/translate$ python translate.py --data_dir /home/erber/Alice/translatedata/ --train_dir /home/erber/Alice/translatetrain/ --size=256 --num_layers=2 --steps_per_checkpoints=50
Preparing WMT data in /home/erber/Alice/translatedata/
Creating 2 layers of 2

[2017-06-13 15:59] lukaszkaiser commented on #1541
Great thanks!

[2017-06-13 16:00] EnricoBeltramo commented on #1549
Sorry, looking in the issue history, it looks be same of issue #1050. I close

[2017-06-13 16:00] #1549 closed

[2017-06-13 19:17] timofei-durakov opened #1550 "Error during pre-trained inception v4 loaded from checkpoint"
### System information
- **What is the top-level directory of the model you are using**: slim/nets
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1.0
- **Baze

[2017-06-14 09:48] Hugh0120 commented on #1550
I met the same question when restored the inception_res_v2.ckpt

[2017-06-14 09:55] RusAlmighty opened #1553 "Inception-resnet v2 implementation differ from the paper"
the implementation of [inception-resnet v2](https://github.com/tensorflow/models/blob/master/slim/nets/inception_resnet_v2.py) doesn't follow the details in the [original paper ](https://arxiv.org/pdf/1602.07261.pdf).

- The number of repetition (Inception-resnet-A,B,C) is twice than what is described in figure 15.
- the Stem block doesn't contain a concat after 3X3 MaxPool as described in Figure

[2017-06-14 16:27] aselle commented on #1553
@nealwu, could you please take a look at this issue. Thanks!

[2017-06-14 21:44] nealwu commented on #1553
Looks like this is one of the slim models. @sguada can you take a look?

[2017-06-15 02:36] sguada commented on #1553
The implementation was done under the advise of the authors of the paper, the current implementation what they intended.

[2017-06-15 02:37] sguada commented on #1498
Fixed by #1559

[2017-06-15 02:37] #1498 closed

[2017-06-15 02:39] aselle commented on #1553
@sguarda, Is it worth making a note in the documentation of this model indicating it is different than the original paper. It is a common desire that researchers want to match exact parameters from a published result so as to compare for their own research.

[2017-06-15 05:12] goughjt commented on #1200
I am on Mac OS Sierra and I had
[code]
error being thrown by bazel test because I am using a pyenv (python virtual environment) for my tensorflow libs but bazel tries to use the system python (as opposed to trying to use the tensorflowVIrtualEnv python) when running tests. I can get the tests to pass by adding this to the bazel test command:
[code]
I am using python2 because syntaxnet seems to onl

[2017-06-15 05:14] cbfinn commented on #670
I think that the code fix in #1558 fixes this issue.

[2017-06-15 09:51] xunkaixin opened #1562 "cannot import name string_int_label_map_pb2"
ImportError                               Traceback (most recent call last)
<ipython-input-4-956de605e8fe> in <module>()
----> 1 from utils import label_map_util
      2
      3 from utils import visualization_utils as vis_util

/home/qkj/project/tools_project/tensorflow/models/object_detection/utils/label_map_util.py in <module>()
     20 import tensorflow as tf
     21 from google.protobuf impor

[2017-06-15 14:18] ShuuutUpandDance commented on #1562
yes, I have the same problem

[2017-06-15 14:37] smirnovevgeny commented on #1523
The same issue

[2017-06-15 14:39] ShuuutUpandDance commented on #1562
Hey, I met the same problem. However, I searched for information about ".proto" files -- they should be complied at first. For example, you should compile the file "string_int_label_map.proto" to get "string_int_label_map_pb2.py"

[2017-06-15 16:03] kaishijeng opened #1564 "can't import pretrained mobilenet model"
I download mobilenet_v1_1.0_224_2017_06_14.tar.gz and untar it and then use the following code to import it.

import tensorflow as tf
from tensorflow.contrib import layers
with tf.Session() as sess:
        tf.contrib
        saver = tf.train.import_meta_graph('./tmp/mobilenet_v1_1.0_224.ckpt.meta')

However, I got the following error. Any idea why this error happens.

Traceback (most recent call

[2017-06-15 20:05] derekjchow commented on #1562
Did you follow the [installation steps](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md)? In particular, you're required to [generate our protobuf library](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md#protobuf-compilation).

[2017-06-15 21:24] yan7109 commented on #1564
same issue on mac, tf version 1.2.0

[2017-06-15 23:09] aselle commented on #1564
@korrawat , do you have any thoughts on what is causing this?

[2017-06-15 23:51] aselle commented on #1562
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-15 23:51] #1562 closed

[2017-06-16 01:21] StanislawAntol commented on #1564
I'm also getting this on Ubuntu, TF 1.2.0.

As a work-around, I also tried to use the slim library definitions and restore the variables. I have been able to save (and test) frozen models for the 4 1.0 files, but on 0.75/0.50/0.25 models, I get errors due to dimension mismatches, e.g.:

[code]

The code (to be placed in the models/slim directory) I used can be found at [this gist](https://gist.git

[2017-06-16 04:59] MoAbd opened #1570 "Error in Protobuf libraries compilation during installing Object Detection API"
_object_detection/protos/anchor_generator.proto:11:3: Expected "required", "optional", or "repeated".
object_detection/protos/anchor_generator.proto:11:32: Missing field number._

**I got this error while running the command** `protoc object_detection/protos/*.proto --python_out=.`

I am using ubuntu 14.04, and tensorflow 1.2.0 installed in python3.6 env

[2017-06-16 06:19] yoershine commented on #263
@kivijoshi  I met the problem too. Thanks for your solution.

[2017-06-16 07:34] abhiML commented on #1570
I have a related question. Where is the tensorflow/models folder? Do you clone the gtihub repo or do you go to the installation folder after installation with pip?

[2017-06-16 07:53] laowu8615 commented on #1570
me too,then i git  clone https://github.com/tensorflow/models.git
done

[2017-06-16 10:36] rogerdehe opened #1573 "tensorflow.Supervisor cannot save global variable correctly"
tensorflow       1.1.0
    Python 3.6.1

I train `LSTM` model with code in `tutorials/rnn/ptb/ptb_word_lm.py`, it runs ok. But when I tried to restore model from file like this:

    import tensorflow as tf

    def main(_):
        initializer = tf.constant_initializer(0.9)
        with tf.Session() as sess:

            saver = tf.train.import_meta_graph("/data/ptb_out/model.ckpt-0.meta")

[2017-06-16 10:49] liuguiyangnwpu opened #1574 "models中的rnn模块的使用的"
file: ptb_word_lm.py
[code]

inspect中的getargspec被signature替代了。

[2017-06-16 10:52] abhiML opened #1575 "AttributeError: 'module' object has no attribute 'DEFINE_enum'"
When I try to run **create_pascal_tf_record.py** in **object_detection** I get the above error. I have Tensorflow 1.2.0 installed.

[2017-06-16 11:30] june9713 opened #1576 "no test_ckpt/ssd_inception_v2.pb file for /models/object_detection/object_detection_tutorial.ipynb"
Thanks for your new Great object detection model.

I'm trying to test  /models/object_detection/object_detection_tutorial.ipynb with jupyter notebook.

but there missing file , "test_ckpt/ssd_inception_v2.pb"

this is sample code.

PATH_TO_CKPT = os.path.join('test_ckpt', 'ssd_inception_v2.pb')

and,

with tf.gfile.GFile(PATH_TO_CKPT, 'rb') as fid:
        serialized_graph = fid.read()
        od_

[2017-06-16 11:52] irvanrahadhian commented on #1575
i have this problem too

[2017-06-16 12:00] abhiML commented on #1575
I think the latest tensorflow version hasn't been updated.

[2017-06-16 12:30] OverFlow7 commented on #1570
I have the same problem , i am using ubuntu 14.04 ,tensorflow 1.2.0, python 2.7 and anaconda2

[2017-06-16 12:34] chbaumgaertner commented on #1575
i have the same problem using tensorflow 1.2.0

[2017-06-16 12:50] korrawat commented on #1564
@aselle, I got the same error on Ubuntu, TF 1.2.0. I'm not really sure why the checkpoint files don't work either.

[2017-06-16 15:16] bwuzhang opened #1577 "Where is the RFCN model?"
Thanks for all your great work on the new object detection API. In the blog [post](https://research.googleblog.com/2017/06/supercharge-your-computer-vision-models.html), it says a R-FCN model is also available. But I didn't find it here.

[2017-06-16 15:41] thhung commented on #1570
Hi, I have the same issues.
OS: CentOS
Python 3.4.3
tensorflow-gpu (from pip)

[2017-06-16 16:02] aselle commented on #291
This issue is quite old and hasn't had recent activity. Looking at the code it appears to be refactored in a way that addresses this issue. So I am closing for now. Thanks!

[2017-06-16 16:02] #291 closed

[2017-06-16 16:14] tfboyd commented on #700
Automatically closing due to lack of recent activity. We hope that you were able to resolve it on your own. However, since this is a support issue rather than a bug or feature request, you will probably get more information by posting it on StackOverflow.

[2017-06-16 16:14] #700 closed

[2017-06-16 16:52] mayuresh51 opened #1579 "How to use the model/slim, Resnet152 ckpt and .graph files to do an inference in a C++ or Python inference using tensorflow?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-06-16 17:00] jrbtaylor commented on #1570
I have the same issue. I installed tensorflow 1.2 from source on Ubuntu 14.04, python 2.7

[2017-06-16 17:04] happyyxw511 commented on #1576
yes, I face the same issue. Please help with it. thx

[2017-06-16 17:12] jch1 commented on #1570
Hi everyone,

Thanks for trying this out!  So the problem here is that our code requires a newer version of the protoc compiler than is released by default by the older ubuntu versions (e.g. 14.04).  I recommend upgrading your protoc compiler to the latest version and trying again.

[2017-06-16 17:16] jch1 commented on #1576
Hi everyone -

Thanks for reporting this --- we need to update the documentation/notebook a bit to better reflect what needs to be done.

What you can do to get it running for now is to follow the instructions here:
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md
to download a checkpoint (you want to look for files of the form "frozen_inference_graph.

[2017-06-16 17:18] jch1 commented on #1577
Thank you for your interest.  You can find a pre-trained R-FCN model here:
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/detection_model_zoo.md
And the model configuration proto is defined here:
https://github.com/tensorflow/models/blob/master/object_detection/samples/configs/rfcn_resnet101_pets.config
(and can be edited to train on datasets other than the pet dataset)

[2017-06-16 17:28] derekjchow commented on #1576
We have a pull request out to address this issue:

https://github.com/tensorflow/models/pull/1580

[2017-06-16 18:37] StanislawAntol commented on #1564
@korrawat , Is the current slim MobileNet code the same code that was used to create those checkpoints? Otherwise, I don't understand what could be the issue with my restoring code. If you have a chance to look at that, I'd appreciate it.

[2017-06-16 19:02] jwnsu opened #1581 "object_detection_tutorial.ipynb detection error"
Running tensor flow 1.0 CPU version on Ubuntu 16.04.

Checkout latest models (which fixed a previous test_ckpt download issue). Got following error at end of detection (bear with me the long cut-and-paste):

---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-13-5b0b2c2421e3> in <modu

[2017-06-16 19:55] aselle commented on #1574
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-16 19:55] #1574 closed

[2017-06-16 20:14] derekjchow commented on #1581
It seems that the data_format attribute for the operation [was added in Tensorflow v1.1](https://github.com/tensorflow/tensorflow/blob/v1.1.0/tensorflow/core/kernels/depthwise_conv_op.cc). Could you install a new version of Tensorflow (v 1.1 or above) to see if it resolves your issue?

[2017-06-16 20:22] aselle commented on #1579
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-16 20:22] #1579 closed

[2017-06-16 20:37] jwnsu commented on #1581
After upgrade to tensorflow 1.2, it now works fine. Closing the issue.

much thanks!!

[2017-06-16 20:37] #1581 closed

[2017-06-16 20:41] AKSHAYUBHAT opened #1584 "object_detection / models / faster_rcnn_inception_resnet_v2_feature_extractor.py nets should be slim.nets?"
https://github.com/tensorflow/models/blob/master/object_detection/models/faster_rcnn_inception_resnet_v2_feature_extractor.py#L29

`from nets import inception_resnet_v2
`

Should be

`from tf.contrib.slim.nets import inception_resnet_v2
`

Though it seems that code is not used anywhere.

[2017-06-16 20:49] jch1 commented on #1584
Thanks - that line actually imports from from models/slim/nets.py (which you would have also checked out as part of the tensorflow/models repo)

[2017-06-16 20:58] darshanhegde opened #1585 "object_detection/models/faster_rcnn_resnet_v1_feature_extractor_test.py Broken !"
Looks like resnet_v1 feature extractors are broken. Here is the log of running the test - ` python models/faster_rcnn_resnet_v1_feature_extractor_test.py`

[code]

[2017-06-16 20:59] AKSHAYUBHAT commented on #1584
Oh I just saw the installation instructions, I thought the setup.py which installed object_detection took care of it but it appears its not ready and  we need to manually change the path and compile protobufs.

[2017-06-16 20:59] #1584 closed

[2017-06-16 21:18] derekjchow commented on #1585
Does [this PR](https://github.com/tensorflow/models/pull/1586) correct the issue for you?

[2017-06-16 21:20] aselle commented on #1577
Closing since this seems to be resolved. Thanks!

[2017-06-16 21:20] #1577 closed

[2017-06-16 21:23] aselle commented on #1576
@june9713, does @derekjchow's pr address your needs?

[2017-06-16 21:28] zhouphd opened #1587 "Mention of Python 3: AttributeError: 'dict' object has no attribute 'iteritems' for "python ./object_detection/builders/model_builder_test.py""
When you meet this:

[code]
This is a Python 2 to Python 3 of dict change.

Solution:
_change iteritems() to items()_

`for extractor_type, extractor_class in FEATURE_EXTRACTOR_MAPS.items():`

Then,
`python ./object_detection/builders/model_builder_test.py`

.......
----------------------------------------------------------------------
Ran 7 tests in 0.055s

OK

[2017-06-16 21:51] darshanhegde commented on #1585
Yes. Perfect !

[2017-06-16 21:51] #1585 closed

[2017-06-16 22:00] aselle commented on #1587
@zhouphd, thanks for finding this. Could you prepare a pull request, please?

[2017-06-16 22:04] nealwu commented on #1587
@justanhduc submitted a pull request at https://github.com/tensorflow/models/pull/1571/files.

[2017-06-16 22:17] nealwu commented on #1546
Hi @dgiunchi, it looks like you're running an old version of the code. For example see https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L112, which was updated in March. Please pull the repository and let me know if the issue still occurs.

[2017-06-16 22:23] sguada commented on #1564
Looking into this.

[2017-06-16 22:29] nealwu commented on #1573
Hi @rogerdehe, since your issue is related to your custom code and not the model code itself, I would recommend asking on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) as this isn't the best place.

[2017-06-16 22:29] #1573 closed

[2017-06-16 22:30] nealwu commented on #1570
Closing since it looks like this is solved.

[2017-06-16 22:30] #1570 closed

[2017-06-16 22:30] nealwu commented on #1570
@jch1 could you also add a note to the object_detection README to include your protoc tip above?

[2017-06-16 23:25] tombstone commented on #1575
https://github.com/tensorflow/models/pull/1590 fixes this.

[2017-06-16 23:32] #1575 closed

[2017-06-16 23:51] nealwu commented on #1550
@sguada could you take a look?

[2017-06-16 23:53] nealwu commented on #1550
Unfortunately, one possibility is the checkpoints simply aren't compatible with the code anymore after updates to TF 1.0+.

[2017-06-17 00:37] MoAbd commented on #1570
Hi @jch1
Many thanks , this worked with me but when trying `python object_detection/builders/model_builder_test.py`
I get error when the code imports **tensorflow**
full error:
[code]

[2017-06-17 01:58] nealwu commented on #358
Automatically closing due to lack of recent activity.

[2017-06-17 01:58] #358 closed

[2017-06-17 02:42] jessyuan24 opened #1591 "In object_detection_tutorial"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-3-956de605e8fe> in <module>()
----> 1 from utils import label_map_util
      2
      3 from utils import visualization_utils as vis_util

~/lab/dl/models/object_detection/utils/label_map_util.py in <module>()
     20 import tensorflo

[2017-06-17 03:47] june9713 commented on #1576
@aselle , It is updated! Now I can run test code now! Thanks! :-)
@jch1 Really appreciate to you.
@derekjchow Thanks!!

[2017-06-17 03:47] #1576 closed

[2017-06-17 03:55] zakizhou commented on #1591
you forgot to run this
#From tensorflow/models/
protoc object_detection/protos/*.proto --python_out=.

[2017-06-17 07:15] chbaumgaertner commented on #1591
I get an equal error after running
[code]

[code]

[2017-06-17 07:18] jch1 commented on #1591
@chbaumgaertner - Were there an error messages when you ran the protoc command?  If it was successful, then you should see a bunch of extra files in the object_detection/protos directory of the form "xxx_pb2.py"

[2017-06-17 08:14] Anuraag-Advani commented on #1591
I can see the files but got the error

[2017-06-17 08:19] Anuraag-Advani commented on #1591
`ImportError                               Traceback (most recent call last)
<ipython-input-1-956de605e8fe> in <module>()
----> 1 from utils import label_map_util
      2
      3 from utils import visualization_utils as vis_util

/Users/anuraag.advani/OneDriveNutanix/gapi/models/object_detection/utils/label_map_util.py in <module>()
     20 import tensorflow as tf
     21 from google.protobuf impo

[2017-06-17 08:27] Anuraag-Advani commented on #1591
from object_detection.protos import string_int_label_map_pb2

Got this error, shouldn't it be
from protos import string_int_label_map_pb2

[2017-06-17 09:20] june9713 commented on #1591
@jessyuan24
@zakizhou
@chbaumgaertner
@jch1
@Anuraag-Advani

I found some of reason. but I dont know how to solve it.
ipython notebook example file is in "object_detection" folder.
So , print(os.getcwd()) will show you "/models/object_detection"
but , "from object_detection.utils import label_map_util"
this line load utils from "/models"
current directory "/models/object_detection" but utils recog

[2017-06-17 11:52] Vikramank commented on #1591
Hi guys,
I had the same problem. But after running the
`protoc object_detection/protos/*.proto --python_out=.`
it worked fine.
But my classes name and scores are not printed. Any suggestions? do I need to raise a separate issue?

[2017-06-17 13:51] zhouphd commented on #1587
@aselle  I’d like to,  it seems a common issue, a pull request more like: moving python 2 to python 3,  just mention user who meet this, I 'll keep watching & following, :)

@nealwu @justanhduc  Thanks for you all, I was sleeping in the midnight, ~~

From #1571 , I think we could close this, :)

Best,

[2017-06-17 14:22] june9713 commented on #1591
@Vikramank jessyuan24 is aleady run protoc, but he said error is still showing. And I've had same problem in windows. :-)

[2017-06-17 14:24] jessyuan24 commented on #1591
@june9713 Maybe I should install protoc first

[2017-06-17 15:52] june9713 commented on #1591
@jessyuan24 Do you use windows virsion? or linux? If you are using windows, try my suggestion. :-)

[2017-06-17 16:09] chbaumgaertner commented on #1591
@june9713 your trick worked for now, thanks!

[2017-06-17 16:15] Vikramank commented on #1591
@june9713 @jessyuan24 great!

[2017-06-17 16:19] bsrinivas84 commented on #1576
**On Windows OS, I was getting this error**
NotFoundError: NewRandomAccessFile failed to Create/Open: test_ckpt\ssd_inception_v2.pb : The system cannot find the file specified.

**I downloaded the file "ssd_inception_v2_coco" and extracted the tar , renamed it to ssd_inception_v2.pb, now I get the below error**

---------------------------------------------------------------------------
DecodeErro

[2017-06-17 16:25] june9713 commented on #1576
@bsrinivas84 source code is updated. please re-download and check what is changed. new source code is working correctrly.

[2017-06-17 16:57] bsrinivas84 commented on #1576
Thanks June for quick response.
Forgot to mention that in prior step "Object detection imports" I was getting the following error

=============
ImportError                               Traceback (most recent call last)
<ipython-input-3-956de605e8fe> in <module>()
----> 1 from utils import label_map_util
      2
      3 from utils import visualization_utils as vis_util

D:\Personal\learn\ML\DL\Te

[2017-06-17 17:44] bsrinivas84 opened #1595 "ImportError: cannot import name 'string_int_label_map_pb2'"
In step "Object detection imports" I am getting the following error
=============
ImportError Traceback (most recent call last)
in ()
----> 1 from utils import label_map_util
2
3 from utils import visualization_utils as vis_util
D:\Personal\learn\ML\DL\Tensorflow\Official-Tutorial\models-master\object_detection\utils\label_map_util.py in ()
20 import tensorflow as tf
21 from google.protobuf import

[2017-06-17 19:10] matmoody commented on #1595
Make sure you run `protoc object_detection/protos/*.proto --python_out=.` as mentioned in installation instructions: https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md

[2017-06-17 19:30] bsrinivas84 commented on #1595
Thanks mat for the quick response.
I am unable to locate the tensorflow/models directory.

Couple of hits got me to these links, but It did not help me find the directory
https://github.com/tensorflow/tensorflow/issues/5953
https://github.com/tensorflow/tensorflow/issues/5953

For windows OS, the steps need to be better?
Please help

[2017-06-17 20:41] derekjchow commented on #1595
@bsrinivas84 tensorflow/models refers to the root of the git checkout.

[2017-06-17 20:49] jongold commented on #1591
I'm getting this when trying to run protoc
[code]

Any ideas? Using the [`dl-docker`](https://github.com/floydhub/dl-docker) image on a Mac

[2017-06-17 21:48] bryancresswell opened #1597 "Object_detection example error"
I am in the midst of doing the example on object_detection at `https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md`, and when i run the script for create_pet_tf_record.py, i get this error.

[code]

[2017-06-17 21:54] Anuraag-Advani commented on #1591
I am not being able to use any model but the 'ssd_mobilenet_v1_coco_11_06_2017' one.

[code]

[2017-06-17 23:21] taion opened #1598 "Follow TF performance guide in models available here"
### System information
N/A

### Describe the problem
Currently, none of the models available here generally follow the TF performance guidelines. None of the models here support running in NCHW, and only the newest object detection models use the fused batch norm op.

As such, this makes the [published TF benchmarks](https://www.tensorflow.org/performance/benchmarks) somewhat misleading – while th

[2017-06-17 23:33] salilkapur commented on #694
Change
`slim.metrics.streaming_recall_at_k(logits, labels, 5)`
to
`slim.metrics.streaming_sparse_recall_at_k(logits, labels, 5)`

[2017-06-17 23:49] june9713 commented on #1576
@bsrinivas84
from object_detection.protos import string_int_label_map_pb2  --> from protos import string_int_label_map_pb2
:-)

[2017-06-18 01:02] jessyuan24 commented on #1591
@june9713 No, I use mac osx

[2017-06-18 07:36] bsrinivas84 commented on #1595
Thanks Derek, realized first I had to install protoc-3.2.0-windows-x86_64.exe  from https://github.com/google/protobuf/releases (pointed environment variables to include the path to installation) and then go to root and run the command. It worked, Many Thanks

[2017-06-18 07:36] #1595 closed

[2017-06-18 07:37] bsrinivas84 commented on #1576
Thanks June, I did multiple edits to try get it working. It works now..Many Thanks to your quick inputs. Also had to do this https://github.com/tensorflow/models/issues/1595

[2017-06-18 11:14] astrung commented on #1591
For window users : Use protobuf binary : [protoc-3.3.0-win32.zip](https://github.com/google/protobuf/releases/download/v3.3.0/protoc-3.3.0-win32.zip) then : `\link\to\protoc object_detection/protos/*.proto --python_out=.` > then you can import `string_int_label_map_pb2`

[2017-06-18 11:55] astrung commented on #1591
Also, can we using transfer-learning for running locally ? i see that we have a doc about transfer learning on [cloud](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md) but i can not find any documents that write about transfer learning on local machine . I expected it in [pipeline](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/confi

[2017-06-18 12:04] neouyghur opened #1600 "Does the slim package support multilabel retrain?"
Hi, I am trying to retrain the inception model for multilabel classification problem.  Does slim package support this?

[2017-06-18 12:47] june9713 opened #1601 "How to make label-map.pbtxt for object detction?"
Hello everyone.
I am trying to make my own object detction model.

But, I cant start script because I dont know how to make label-map.pbtxt file.

In "object_detection/g3doc/running_pets.md" file, there is a direction about how to run training.

python object_detection/create_pet_tf_record.py \
    --label_map_path=object_detection/data/pet_label_map.pbtxt \
    --data_dir=`pwd` \
    --output_dir

[2017-06-18 14:49] insort commented on #1591
how to run this command?
protoc object_detection/protos/*.proto --python_out=.

cmd or python is error

[2017-06-18 16:01] wugh commented on #932
Hi @asimshankar

In the `PTBModel` class the initial_state has been initial to zeros state as follow
[code]
So Why we have to follow code to feed initial_state(initial state is seem not a placeholder)
[code]

[2017-06-18 16:14] jch1 commented on #1601
@june9713 - There should be a label map file (it is here: https://github.com/tensorflow/models/blob/master/object_detection/data/pet_label_map.pbtxt)

Can you check that this file is there for you as well?  Are you running the script from the root directory?

[2017-06-18 16:44] june9713 commented on #1601
@jch1 Thanks! I found it! I will try This one. Thank you!

[2017-06-18 16:44] #1601 closed

[2017-06-18 18:02] futurely opened #1602 "The checkpoint files of the object detection models cannot be imported"
### System information
OS: Ubuntu 16.04.2 LTS (Xenial Xerus)

TensorFlow version: ('v1.2.0-rc2-21-g12f033d', '1.2.0')

### Describe the problem
The checkpoint files of the [object detection models](https://github.com/tensorflow/models/blob/056965d53401e07b3f3d898f81830b3c5ccf9478/object_detection/g3doc/detection_model_zoo.md) cannot be imported. Related to https://github.com/tensorflow/models/issu

[2017-06-19 00:58] jessyuan24 commented on #1591
@astrung Thanks it works.
@insort  protoc install at https://github.com/google/protobuf

[2017-06-19 00:59] #1591 closed

[2017-06-19 01:46] Hugh0120 commented on #1550
simply apply the arg_scope could solve the issue

[2017-06-19 02:01] grapefruitXLJ opened #1603 "Error in object_detection_tutorial.ipynb:u'TensorArrayV3'"
Something wrong in the cell "Load a (frozen) Tensorflow model into memory":
OS: Ubuntu 16.04.2
TensorFlow Version: 1.2.0

**source code**:
detection_graph = tf.Graph()
with detection_graph.as_default():
    od_graph_def = tf.GraphDef()
    with tf.gfile.GFile(PATH_TO_CKPT, 'rb') as fid:
        serialized_graph = fid.read()
        od_graph_def.ParseFromString(serialized_graph)
        tf.import_g

[2017-06-19 02:25] danzelmo commented on #1597
I ran into this same problem. It appears the object detection library was written in python 2.7, and there are several compatibility issues if you try to run it with python 3. Looks like the last commit fixed a compatibility issues, so this may be something they address soon.

[2017-06-19 02:28] 10183308 opened #1604 "string_int_label_map_pb2 issue"
hello all,

when i run the create_pascal_tf_record.py,it shows that

    from protos import string_int_label_map_pb2
ImportError: cannot import name string_int_label_map_pb2

i want to konw where is the  string_int_label_map_pb2 ?

thank you very much

[2017-06-19 02:43] marlazinger200 opened #1605 "Mr."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here&#39;s why we have that policy**: TensorF

[2017-06-19 02:54] astrung commented on #1591
Also, can any one know about how to config for transfer learning on local machine ?

[2017-06-19 03:03] 10183308 commented on #1604
thank you very much ,

but when I run the commond ,it shows anthoer worng,
hc@hc-PC:/media/media_share/linkfile/models$ protoc object_detection/protos/*.proto --python_out=.
object_detection/protos/anchor_generator.proto:11:3: Expected "required", "optional", or "repeated".
object_detection/protos/anchor_generator.proto:11:32: Missing field number.

what is wrong ?

Could you help me?

thank you v

[2017-06-19 03:15] danzelmo commented on #1604
I am not sure what is wrong in your specific example. This type of question is also better suited to stackoverflow, you can ask, there and may get more responses.

[2017-06-19 03:41] june9713 commented on #1591
@astrung  transfer learning? Could you tell me what does it mean?
Actually , I wanna train from scratch , but many error is occured.
I followed instruction from "Quick Start: Training a pet detector" and  "Running locally" (is mixed)

1 . I downloaded pet image files and annotate files from http://www.robots.ox.ac.uk/~vgg/data/pets/

2. pet_label_map.pbtxt is already exist in data folder.

3. make

[2017-06-19 03:43] june9713 opened #1606 "Anybody know how to train "object_detction" model in local with own imageset?"
I wanna train from scratch , but many error is occured.
I followed instruction from "Quick Start: Training a pet detector" and "Running locally" (is mixed)

1 . I downloaded pet image files and annotate files from http://www.robots.ox.ac.uk/~vgg/data/pets/

pet_label_map.pbtxt is already exist in data folder.

make record file(https://github.com/tensorflow/models/blob/master/object_detection/g3doc

[2017-06-19 05:00] astrung commented on #1591
@june9713 Pls copy full of your error message. You may need absolute path . Also, transfer learning = train from previous model. You can check here when train in [google cloud](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md#downloading-a-coco-pretrained-model-for-transfer-learning) . But i can not understand why copy previous model to `GCS Bucket.` can help

[2017-06-19 06:16] L-CY commented on #1604
Same issue as @10183308 anyone can help me?

[2017-06-19 06:43] L-CY commented on #1604
Solved by updating protobuf

[2017-06-19 07:41] IvonaTau commented on #1603
Hi , I also get the same error on MacOS Sierra and Tensorflow 1.2.0

[2017-06-19 08:02] timofei-durakov commented on #1550
@Hugh0120 code snippet with the example will be very useful, could you please share?

[2017-06-19 08:43] dipthomas opened #1607 "tensorflow/models/street/ : Use LSTMCell in tensorflow to replace lstm_layer function in nn_ops.py"
I use LSTMCell in tensorflow to replace the lstm_layer function in nn_ops.py, but I can not get the good result in training an OCR system.

Can you help me figure out what the problem. @theraysmith

[2017-06-19 08:54] MatthiasWinkelmann commented on #1606
Your question would be easier to answer if you took some time to get the formatting right–i. e. use \`\`\` for code etc., and with a bit of care taken to avoid spelling mistakes.

It's also possibly a question better suited for StackOverflow. Github issues are for bugs, not for usage questions.

But to hopefully help you: it appears the files are in `~/Desktop/..., i. e. /home/<username>/Desktop/.

[2017-06-19 08:57] EN10 opened #1608 "In "object_detection_tutorial.ipynb", "detection model zoo" link not working!"
In
models/object_detection/object_detection_tutorial.ipynb
link to
models/object_detection/g3doc/detection_model_zoo.md
is not working.

[2017-06-19 09:46] futurely opened #1609 "NonMaxSuppression is the biggest performance bottleneck of the SSD-MobileNet object detection models on Android mobile phone"
### System information
- **What is the top-level directory of the model you are using**:
Standalone.

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Android 6.0

- **TensorFlow installed from (source or binary)**:
Source.

- **TensorFlow version (use command below)**:
master 1

[2017-06-19 10:35] RitwikGopi commented on #1591
I am also having the same error. On checking inside proto folder I couldnt findstring_int_label_map_pb2.py file

[2017-06-19 10:54] peciato commented on #1597
I have the same problem. How can i fix it?

[2017-06-19 11:03] june9713 commented on #1606
@MatthiasWinkelmann Thanks your kind answer. :-)
And, actually , that is miss spell of "~" is right.
But that is my mistake during copy text to here.
Anyway I found answer!
I changed all path to abs path , And it is work!
Thanks your kind reply!

[2017-06-19 11:03] #1606 closed

[2017-06-19 12:21] abhiML commented on #1606
Hey @june9713 did you try with your own dataset instead of the pet dataset?

[2017-06-19 12:31] abhiML commented on #1591
I think you just need to put the model for transfer learning(eg. VGG or Resnet) in a folder and specify the path in the config file.

[2017-06-19 12:56] tejus-gupta commented on #1591
For pascal_voc, the model configuration says num_classes=20 but the label_map file has an extra class with id=0 and name='none_of_the_above'. Why is this extra label added?

[2017-06-19 13:00] abhiML commented on #1591
Background.

[2017-06-19 14:12] rogerguess opened #1611 "Number of steps"
-https://github.com/tensorflow/models/tree/master/attention_ocr
-No custom code, following instructions
-Ubuntu 14.04.5
-TensorFlow installed from source
-('v1.1.0-rc0-61-g1ec6ed5', '1.1.0')
-following steps from instructions: https://github.com/tensorflow/models/tree/master/attention_ocr#how-to-use-this-code for  checkpoint_inception=inception_v3.ckpt

I am running train.py but am unable to see t

[2017-06-19 14:37] daniel0720 commented on #1591
Hello, I am in windows OS and downloaded protoc-3.3.0-win32.zip, after run `protoc.exe object_detection\protos\*.proto --python_out=.`, I got a bunch of  extra files in the object_detection/protos directory of the form "xxx_pb2.py".
But I still cannot run `python object_detection\builders\model_builder_test.py`.
Error is
![default](https://user-images.githubusercontent.com/12429142/27290412-bf8179

[2017-06-19 15:11] danzelmo commented on #1597
You can either install tensorflow in a 2.7 environment, or wait for an compatibility update. It looks like there are pull requests already being submitted addressing the issues.

[2017-06-19 15:40] june9713 commented on #1591
@daniel0720
This is simple reason....
Run cmd as administrator.
you need to run "python3 setup.py build " and  "python3 setup.py install" in models folder and /models/slim folder as Superuser(administrator).
That's all. :-)

[2017-06-19 16:33] jch1 commented on #1602
@futurely  - can you say what program you are trying to run and with what parameters please?

[2017-06-19 16:34] aselle commented on #1611
@nealwu, this would probably be a great feature to have on all garden models, perhaps as a library in tensorflow that could be used by even non-tensor garden models.

[2017-06-19 17:00] jch1 commented on #1609
Hi @futurely  -

Thanks for running this!  Yes, this is a known issue that is easily fixed.  The reason is that the models were exported using a very low non-max-suppression score threshold (which tells the model to threshold all detections under a certain score prior to running NMS).  A very low score threshold is good if you want to maximize recall, but it typically adds a significant penalty to

[2017-06-19 18:33] derekjchow commented on #1597
Does this PR address the python3 issues in running the pets script?
https://github.com/tensorflow/models/pull/1614

[2017-06-19 18:55] Anuraag-Advani commented on #1608
It works if you click on it in the Github repository not after loading as an ipython notebook

[2017-06-19 18:56] c0nn3r commented on #1597
Yes, I had this problem as well. Python string encoding is different in Python 2.7 vs 3.6 and it break Tensorflow.

[2017-06-19 19:00] derekjchow commented on #1604
@10183308 as mentioned, this issue is most likely caused an outdated version of the protobuf compiler. You can download a more recent version of the protobuf compiler here: https://github.com/google/protobuf/releases

We recommend using protobuf 2.6.1 or higher.

[2017-06-19 19:06] 3rd3 opened #1615 "Pre-trained inception_v4.ckpt contains batch normalization in slim.nets, but definition in inception_v4.py does not."
Here the network is defined without batch normalization.

https://github.com/tensorflow/models/blob/master/slim/nets/inception_v4.py

For example, the InceptionV4/*/biases variables are not present in the checkpoint:

[code]

[2017-06-19 19:35] 3rd3 commented on #1615
Looks like one needs to instatiate the model like this:

      batch_norm_params = {
          'decay': 0.9997,
          'epsilon': 0.001,
      }
      with slim.arg_scope([slim.conv2d], normalizer_fn=slim.batch_norm, normalizer_params=batch_norm_params):
        ...

[2017-06-19 20:05] #1587 closed

[2017-06-19 20:27] nealwu commented on #1570
Hi @MoAbd, unfortunately that's outside of the scope of the models repository. It looks to me like you may be getting some odd interactions between Anaconda and TensorFlow. I would try asking on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

[2017-06-19 21:05] ziemo opened #1616 "CMake - gmock: wrong path in tests.cmake"
Line 18 in cmake/tests.cmake:
`${protobuf_source_dir}/gmock/gtest/src/gtest-all.cc`

should be changed to:
`${protobuf_source_dir}/gmock/test/gmock_all_test.cc`

Otherwise you will get a CMake error if you are using gmock master.

[2017-06-19 22:18] tfboyd commented on #1598
The examples on tf.org are being updated and is something we are working on.  The code in tensorflow/models will be updated selectively and is owned by the individuals that posted the code.  I plan to make some improvements to the slim examples with help, but we found even just turning on fused batch_norm results in the original checkpoints not loading.

We are very shortly releasing a new area wi

[2017-06-19 22:30] ronakmb opened #1617 "error in model_builder_test.py"
I've tried all steps of object_detection model installation mentioned @ https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md

While testing the installation as mentioned in last step of article, I am getting below error.

ERROR: test_create_ssd_mobilenet_v1_model_from_config (main.ModelBuilderTest)

Traceback (most recent call last): File "/Users/RonakBhavsar/eDA

[2017-06-19 23:08] derekjchow commented on #1617
@ronakmb, could you report what version of Python, Tensorflow and protoc you're using?

[2017-06-19 23:26] ronakmb commented on #1617
Hi derekjchow,

I tried with python2 and python3, both giving same error.
with python 2.7 (/anaconda2/bin/python) I've TF 1.1.0
with python 3.5 (/Library/Frameworks/Python.framework/Versions/3.5/bin/python3) I've TF 1.0.1
The protoc in path (/usr/local/bin) seems to be (libprotoc 2.4.1) but i explicitly install protoc 2.6.1 which has got installed at /usr/local/Cellar/protobuf/2.6.1.

Do you think

[2017-06-19 23:45] conner-starsky opened #1618 "Error when attempting to try continue training of object detection model"
I am trying to retrain one of the vision models on a new task, sadly it will *sometimes* work for 1-2 epochs (sometimes it skips to the error) before giving the following error:
[code]
I'm not suring what I am doing wrong. `[1, 63, 4]` is very strange as it changes values between runs.

[2017-06-19 23:51] agshift opened #1619 "Retraining example on a custom image and bounding box annotation dataset"
Hi,
It will be great to have the instructions on how to do object detection by retraining an existing model (for example: ssd_mobilenet_v1_coco) on a custom image + bounding box annotation dataset.
Any plans to include that?
Thanks,
Amit

[2017-06-19 23:54] jch1 commented on #1619
Hi Amit - Our walkthrough for training a pet detector goes through the task of retraining an existing COCO model on a new dataset (the Oxford-IIIT pet dataset):
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md

Check it out and please let us know if there are additional things that might be helpful to discuss.

[2017-06-19 23:57] jch1 commented on #1618
Hi @conner-starsky - Can you say a bit about what your new task it?  These incompatible shape errors often mean that the non max suppression op returns fewer boxes than the training code expects --- hard to say more without knowing more details though.

[2017-06-19 23:59] conner-starsky commented on #1618
Sure @jch1, thank you for the quick response. I am retraining on the Udacity dataset. I have tried disabling the non-max suppression op, but it doesn't seem to fix the problem. Again, thank you so much for your help.

[2017-06-20 00:03] conner-starsky commented on #1618
[code]
Is the error I get after disabling the non-max suppression op, it seems about the same.

[2017-06-20 00:05] jch1 commented on #1618
Well you will need the NMS (and actually there are two such ops in Faster RCNN, which it looks like you are using) - usually these problems point to poor initialization or malformed data.  Are you initializing appropriately from a COCO checkpoint?  (Maybe you would like to provide logs and a config file?)  Are you properly normalizing the bounding boxes relative to image size when preparing traini

[2017-06-20 00:09] conner-starsky commented on #1618
The logs can be found here: https://gist.github.com/conner-starsky/5ff773cdadda6e1653ad26c123cafa64 and the config file here: https://gist.github.com/conner-starsky/f2a2c2724dfd218232c289e5481de60b I am dividing the bounding boxes by the image size.

[2017-06-20 00:16] jch1 commented on #1618
I'm not sure, to be honest.  What's your label map?  And how big is the dataset?

My inclination would be to try first training an SSD model which won't run into this issue.

[2017-06-20 00:19] conner-starsky commented on #1618
The dataset is 65,000 labels across 9,423 frames each image is 1920x1200. My label map is:
[code]
I will try to train a SSD model. Thank you again for your help and patience.

[2017-06-20 00:35] conner-starsky commented on #1618
I get a different error on SSD...

[2017-06-20 00:58] nealwu commented on #1611
Thanks Andy, we'll keep this in mind for the garden -- `tf.estimator` essentially provides this because we pass in a maximum number of training steps when running the model. In the meantime, I'll reassign this to @alexgorban who maintains the particular model mentioned.

[2017-06-20 00:59] nealwu commented on #1611
Looks like I can't officially reassign to him to, so @alexgorban can you take a look?

[2017-06-20 01:50] Hugh0120 commented on #1550
[https://github.com/tensorflow/models/issues/1030](url)
you may find it in issue 1030

[2017-06-20 02:04] tumusudheer opened #1620 "testing attention_ocr model on test set: getting "TypeError: The value of a feed cannot be a tf.Tensor object. Acceptable feed values include Python scalars, strings, lists, numpy ndarrays, or TensorHandles""
### System information
- **What is the top-level directory of the model you are using**: attention_ocr
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.0.0-2

[2017-06-20 02:11] jch1 commented on #1618
Okay, so one assumption we make (and should document) is that label maps start at 1 --- anything less is considered to be background or "none of the above".  In your case, it's ignoring all cars --- now I don't if this is the only problem, but try adding 1 to each item id, and running Faster RCNN again.

[2017-06-20 02:16] tatatodd commented on #1597
@bryancresswell @danzelmo @peciato @c0nn3r Can one of you try PR #1614 that @derekjchow mentioned, to see whether it fixes the issue for you?  Thanks!

[2017-06-20 02:18] tatatodd commented on #1603
Can you comment on this @derekjchow?  Based on @IvonaTau's comment, perhaps this is related (but different) from #1597?

[2017-06-20 02:20] tatatodd commented on #1607
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-20 02:20] #1607 closed

[2017-06-20 02:24] tatatodd commented on #1615
@3rd3 it sounds like you've resolved your own issue.  I'm closing this out, but feel free to comment on this issue if you'd like me to re-open.

[2017-06-20 02:24] #1615 closed

[2017-06-20 02:26] tatatodd commented on #1619
@agshift I'm closing this out, but if you still encounter problems feel free to comment on this issue and I'm re-open.

[2017-06-20 02:26] #1619 closed

[2017-06-20 02:26] mjohnst commented on #1601
I'm trying to modify an existing label map for my own class, but seeing an error.

My `businesscard_label_map.pbtxt`:
[code]

gives this error when I run `create_pascal_tf_record.py`:
[code]
Using Python3.5 from anaconda
Any help would be greatly appreciated!

[2017-06-20 02:51] conner-starsky commented on #1618
Perhaps it was coincidence, but it seems to work for the longest time and was able to get to epoch 5 without erroring. However, the original error returned. :cry: Anyway, nice catch with the label map change, seems like that will matter very much it I ever get it working. :wink:

[2017-06-20 02:53] futurely commented on #1602
Thanks! I've successfully fine-tuned models initialized with the released checkpoints. This issue no longer needs to be addressed.

[2017-06-20 02:53] #1602 closed

[2017-06-20 02:55] danzelmo commented on #1597
@tatatodd PR #1614 generates the two pet training files for in both python 3.5 and 2.7. I have not run the full example with files from both versions of python. the file sizes for are slightly different(a few kb) for 3.5 and 2.7 this may not be important though.

[2017-06-20 03:02] agshift commented on #1619
Hi,
Thanks for the pointer. A few questions:
1. On reading the retraining example from 'pet detector', it looks like we are tied to the 'gcloud'. Can we use it on a local machine? If I configure the object detection pipeline properly, then can I follow https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_locally.md for retraining as well, or do I need to do anything else

[2017-06-20 03:03] ahmetkucuk opened #1621 "Object detection model evaluation (precision) is always zero"
I am using object detection API. I am fine-tune Faster R-CNN with Resnet-101 using config file provided in samples folders.

I start train and test script at the same time. Tensorboard shows that loss is decreasing and in the Tensorboard's image section, I can see detected objects on the images.

However, Precision and PerformanceByCategory is always zero. Probably, it is because of following warn

[2017-06-20 03:07] splendor-kill commented on #1601
@mjohnst use python 2.7 env

[2017-06-20 04:20] kaishijeng commented on #1602
futurely,

   Can you share how you resolve this issue?
I have encountered the same issue as described in #1564

Thanks,

On Mon, Jun 19, 2017 at 7:54 PM, futurely <notifications@github.com> wrote:

[2017-06-20 04:24] futurely commented on #1609
@jch1 Thanks for your suggestions!

Since the benchmark_model tool use random images as the input, the prediction scores are quite low.  A
 score threshold as low as 0.1 is enough to reduce the time consumption percentage of NonMaxSuppression to 0.194%. Real world images may need higher thresholds.

The num_classes parameter used to export inference graph from a COCO checkpoint has to be 90. The t

[2017-06-20 04:24] #1609 closed

[2017-06-20 04:28] jch1 commented on #1609
Oops, yes, I'm sorry for the confusion.  90 is the correct number of labels for COCO.  Thanks for responding to this.

[2017-06-20 05:36] jch1 commented on #1618
Do you feel that by epoch 5 the training loss has gone down and the test mAP has increased?

[2017-06-20 05:37] korrawat commented on #1604
Should the [object detection tutorial](https://github.com/tensorflow/models/blob/master/object_detection/object_detection_tutorial.ipynb) mention the [installation](https://github.com/tensorflow/models/blob/master/object_detection/g3doc/installation.md) in the beginning? Issues #1562, #1591, #1595 and this one are all related to not knowing that such installation (especially the Protobuf compilati

[2017-06-20 05:58] conner-starsky commented on #1618
I will keep running it to try to get a "lucky" run (I didn't keep my terminal windows open :skull:), but for now:
[code]
I will update after more attempts. Thanks for your help.

[2017-06-20 05:58] catfalls commented on #1403
The following changes help me to run the code in python3. Basically it calls the str.decode() and str.encode() functions in python3:

At around line 189 in data.py:
[code]
At around line 194 in batch_reader.py:
[code]

[2017-06-20 06:18] jch1 commented on #1618
I misunderstood when you said "epoch" (I usually use that to refer to a full pass through the dataset).  BTW, I recommend training with a GPU as it will be painfully slow without one :)

One thing to try is to vary learning rates (e.g. decrease them by some factor and see if it helps).

[2017-06-20 06:31] conner-starsky commented on #1618
Yeah, I misused that term horribility. I do have a large GPU training rig that I normally train on, but I am at home and just using my laptop to try to debug the error. I cannot vary the learning rates if I keep getting the dimensional mismatch error, before I can see if anything is working (even super small learning rates have the same error).

[2017-06-20 06:41] avijit9 opened #1694 "Error in the dataset name"
The dataset mentioned is Oxford-IIT pet. But the actual name of the dataset is Oxford-IIIT pet dataset (http://www.robots.ox.ac.uk/%7Evgg/data/pets/). IIT means Indian Institute of Technology where as IIIT means International Institute of Information Technology.

[2017-06-20 07:45] abhiML opened #1695 "How to use GPU while training using Object Detection API?"
I am getting the following log. Please check the last line. Doing nvidia-smi shows my gpu is not being used while training:

[code]
[code]

[2017-06-20 08:10] daniel0720 commented on #1591
@june9713 Thank you very much. I know some diff py2 and py3.

[2017-06-20 09:21] wilderfield commented on #1409
I was seeing a similar problem tonight...
The root cause that I messed up my python indentation when cleaning up my code... if you see this error, check that functions are called within the correct scope...

[2017-06-20 09:41] futurely commented on #1602
To get rid of the `SSTableReaderV2 ` op that doesn't exist in the open source TensorFlow, build a graph with `logits, end_points = mobilenet_v1.mobilenet_v1(tf.random_uniform((1, 224, 224, 3)), 1001)` instead of importing from the checkpoint meta graph def with `saver = tf.train.import_meta_graph('mobilenet_v1_1.0_224.ckpt.meta')`. A complete example is in object_detection/exporter.py.

[2017-06-20 09:48] futurely commented on #1564
To get rid of the `SSTableReaderV2 ` op that doesn't exist in the open source TensorFlow, build a graph with `logits, end_points = mobilenet_v1.mobilenet_v1(tf.random_uniform((1, 224, 224, 3)), 1001)` instead of importing from the checkpoint meta graph def with `saver = tf.train.import_meta_graph('mobilenet_v1_1.0_224.ckpt.meta')`. A complete example is in [object_detection/exporter.py](https://gi

[2017-06-20 10:57] YanLiang0813 opened #1696 "Error in run eval.py WARNING:root:The following classes have no ground truth examples: 0"
when I running the tensorflow object detection API locally just as https://github.com/tensorflow/models/blob/9c17823e147ff2893427b47cb57d171da9350d20/object_detection/g3doc/running_locally.md suggest, it goes well when I run

 $ python object_detection/train.py -logtostderr --pipeline_config_path=object_detection/mymodels/model/faster_rcnn_resnet101_voc07.config --train_dir=object_detection/mymode

[2017-06-20 11:19] ahmetkucuk commented on #1695
It seems there is no error message in this log. For queue, It can use CPU. It does not mean it will ignore GPU completely.

[2017-06-20 11:20] ahmetkucuk commented on #1696
I have the same issue.

[2017-06-20 11:26] abhiML commented on #1695
It isnt an error. The training is completely running on cpu.

[2017-06-20 11:27] YanLiang0813 commented on #1696
@ahmetkucuk did your training works well? This is partial of my training log:
INFO:tensorflow:Restoring parameters from /home/yanliang/.conda/envs/tensorflow/models/object_detection/mymodels/faster_rcnn_resnet101_coco_11_06_2017/model.ckpt
INFO:tensorflow:Starting Session.
INFO:tensorflow:Saving checkpoint to path object_detection/mymodels/model/train/model.ckpt
INFO:tensorflow:Starting Queues.
IN

[2017-06-20 11:34] ahmetkucuk commented on #1696
@YanLiang0813 Yes, the total loss decreases gradually in my case as well.

[2017-06-20 12:06] arnaudmiribel commented on #1604
@danzelmo your comment fixed the issue for me.
@korrawat I do agree these commands should be in the README.

[2017-06-20 12:50] anish9 opened #1697 "how to input our own new dataset and what should be done for it???"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-06-20 13:40] jaydee713 commented on #1696
Having the same issue as well!

[2017-06-20 13:43] wuyuzaizai opened #1698 "ImportError: No module named image.python.ops"
Traceback (most recent call last):
  File "object_detection/builders/model_builder_test.py", line 21, in <module>
    from object_detection.builders import model_builder
  File "/home/omnisky/models/object_detection/builders/model_builder.py", line 23, in <module>
    from object_detection.builders import matcher_builder
  File "/home/omnisky/models/object_detection/builders/matcher_builder.py", l

[2017-06-20 14:31] StanislawAntol commented on #1564
@futurely , Have you tried this approach with the non-1.0 MobileNets? I get errors due to incompatible dimensions (see my previous post for gist link).

[2017-06-20 14:34] YanLiang0813 commented on #1696
@sguada I really need your help, could'd you give some suggestion on how to solve this problem? Thanks!!!

[2017-06-20 15:44] hosseinece opened #1700 "InvalidArgumentError (see above for traceback): Invalid JPEG data"
System information
    OS Platform and Distribution : Ubuntu Zesty 17.04:

Hello,
I am a new member in github and I hope I have followed your manual to ask my question. Please help me to handle this error in retraining inception module.
Successfully, I have converted my dicom images to jpeg with the following code (I used http://manpages.ubuntu.com/manpages/precise/man1/dcmj2pnm.1.html).

for file

[2017-06-20 15:55] conner-starsky commented on #1618
Another ideas (I have no clue if this could be it), I haven't defined:
[code]
As I didn't think I needed them for my task. Could this be a problem?

[2017-06-20 16:15] derekjchow commented on #1698
@wuyuzaizai  Which version of Tensorflow are you using?

[2017-06-20 16:20] conner-starsky commented on #1618
Been running into another annoying error:
[code]

[2017-06-20 16:26] derekjchow commented on #1696
@YanLiang0813 You can ignore the error. The class at index 0 is 'none_of_the_above' for both PASCAL and pet datasets and is a placeholder index. The TFRecords will contain no instances of this placeholder class.

[2017-06-20 16:50] conner-starsky commented on #1618
Also, I am running the model on four titan X GPUs, but finding I cannot increase the batch size past 5 or I get out of memory errors. Is this expected behavior?

[2017-06-20 16:52] taion commented on #1598
That sounds great, thank you! I just wanted to check that people were aware of the issue. Given that this is already being taken care of, then I'm going to close this issue out for now, since it appears there's nothing specific to this issue to track.

[2017-06-20 16:52] #1598 closed

[2017-06-20 16:58] jch1 commented on #1618
@conner-starsky  you do not need those additional fields.  Depending on the config you run, you will  get different batch size constraints.  For SSD, we can often run at batch size 32.  Faster R-CNN we typically train at much higher resolutions which means that we can process a lot fewer per batch.  This is why we usually just use batch size 1 for Faster R-CNN.

[2017-06-20 17:05] conner-starsky commented on #1618
Thank you so much. It seems to be running now? I think the problem was both the label issue along with the need to delete all of the checkpoint files. One last question and I promise to stop bugging you :wink:. When is evaluation ran for a model being trained?

[2017-06-20 17:11] jch1 commented on #1618
Congrats!  Hope you get great results :)  So you are running train.py only right now.  What you will have to do is run eval.py - see here:
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_locally.md

Or if you try out the cloud walkthrough:
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md
both jobs get launched simultaneously.

[2017-06-20 17:16] aselle commented on #694
Does @salikapur's suggestion resolve your issue?

[2017-06-20 17:16] #1618 closed

[2017-06-20 17:19] conner-starsky commented on #1618
Thank you so much for you help. You were both kind and helpful, and it really made my day to get this to work.

[2017-06-20 17:39] sguada commented on #1564
Take a look #1702

[2017-06-20 17:39] #1564 closed

[2017-06-20 17:41] sguada commented on #1550
[code]

[2017-06-20 17:41] #1550 closed

[2017-06-20 17:41] sguada commented on #1484
It should be fixed at head now, please re-open if it is not.

[2017-06-20 17:41] #1484 closed

[2017-06-20 17:43] jematos92 commented on #1700
It looks that the image is not a JPEG, try to run and debug using this minimal code snipped

[code]

[2017-06-20 17:44] sguada commented on #779
It sounds like a good idea, contributions are welcomed.

[2017-06-20 18:00] kaseyriver11 commented on #1591
I had the same problem. I changed my working directory to where the utils were:
`os.chdir('.../anaconda/lib/python3.6/site-packages/tensorflow/models')`

And the the code worked fine:
`from object_detection.utils import label_map_util
from object_detection.utils import visualization_utils as vis_util`

[2017-06-20 18:30] andrew-anki commented on #1617
I'm getting the same `scale cannot be an integer` problems, with TF 1.2.0
`libprotoc 2.6.0`
`Python 3.6.0`

[2017-06-20 18:32] fisch0920 commented on #1490
Unfortunately, until this is included, the `textsum` model will not be very useful to many people given the high cost of training.

Does anyone know of a paid, hosted API that offers this type of text summarization?

All of the text summarization APIs I could find just do simple key sentence extraction, which is relatively very easy.  I know I'm not alone in saying that I'd pay to play around with

[2017-06-20 18:37] tfboyd commented on #1598
If there are models people want updated the best way to get action is to open a issue with the model or directory.  There is hope we will have a magic tool in the near future that will actually do the conversion for you (no code change just a graph rewrite) and get almost the same performance as if you did it yourself.  In a dream world it might actually get better performance by knowing when NCHW

[2017-06-20 18:51] mjohnst commented on #1601
Thanks @splendor-kill this fixed my issue

[2017-06-20 19:02] hosseinece commented on #1700
Thanks!
Where should I use your code in poet steps? (I mean steps which are mentioned in https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#4)

[2017-06-20 19:13] jematos92 commented on #1700
Im not familiar with that codelabm but you can just run that code snippet to verify that tf.image.decode_jpeg is actually working with your MRII images.

[2017-06-20 19:14] jch1 commented on #1617
Hi Andrew!

@ronakmb , @andrew-anki  - I'm pretty sure this is an issue with the proto version as we haven't had issues with more recent proto versions.  I have a fix that I'll hopefully add by EOD.

[2017-06-20 19:59] siddhartha-iitd opened #1703 "object_detection: executing train.py throws ValueError"
### System information
OS: Linux Ubuntu 16.04
Python: 3.5
TensorFlow version: 1.2.0
tensorflow-gpu installed using pip3

On executing `train.py` using following command:
<pre><code>
python3 object_detection/train.py \
     --logtostderr \
     --pipeline_config_path=data/ssd_inception_v2_pets.config \
     --train_dir=/home/d3/imgs/train
</pre></code>

I got the following error:
<pre><code>
Traceb

[2017-06-20 19:59] andrew-anki commented on #1617
Hi Jon! Saw you were a dev on this... very cool. Thanks for the help!

[2017-06-20 20:01] andrew-anki commented on #1617
@jch1 In the mean time, should we just update protobufs to something newer? I only installed 2.6 because the installation instructions say that's the version dependency.

[2017-06-20 20:03] ronakmb commented on #1617
I replaced my protoc version with 2.6.1 as mentioned in the installation document (so that I just have one protoc version on my system). Still getting the same error.

@jch1 - I would wait for the fix

[2017-06-20 20:05] siddhartha-iitd opened #1704 "object_detection: model_builder_test.py throws ValueErrors"
System information

OS: Linux Ubuntu 16.04
Python: 3.5
TensorFlow version: 1.2.0
tensorflow-gpu installed using pip3

On executing `model_builder_test.py` from `object_detection/builders` directory, a sequence of errors is thrown as shown below:
<pre><code>
faster_rcnn {
  num_classes: 3
  image_resizer {
    keep_aspect_ratio_resizer {
      min_dimension: 600
      max_dimension: 1024
    }
  }

[2017-06-20 20:22] derekjchow commented on #1601
@mjohnst could you exact command (with arguments) you used in the python3.5 env?

[2017-06-20 20:38] tatatodd commented on #1621
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-20 20:38] #1621 closed

[2017-06-20 20:38] tatatodd commented on #1695
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-20 20:38] #1695 closed

[2017-06-20 20:39] tatatodd commented on #1697
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-20 20:39] #1697 closed

[2017-06-20 20:48] tatatodd commented on #1703
I believe this is a duplicate of https://github.com/tensorflow/models/issues/1597

It looks like python3 support for object_detection is being added here: https://github.com/tensorflow/models/pull/1614

[2017-06-20 20:48] #1703 closed

[2017-06-20 20:48] tatatodd commented on #1704
I believe this is a duplicate of https://github.com/tensorflow/models/issues/1597

It looks like python3 support for object_detection is being added here: https://github.com/tensorflow/models/pull/1614

[2017-06-20 20:48] #1704 closed

[2017-06-20 20:55] hosseinece commented on #1700
Thanks!
I have included this code in a file (decode_jpeg.py), then, I put this file and MRII directory in my working directory. Here is my code exactly:

import os, sys
import tensorflow as tf
fn = './MRII/ASL/*.JPEG'
with tf.Graph().as_default():
    image_contents = tf.read_file(fn)
    image = tf.image.decode_jpeg(image_contents, channels=3)
    init_op = tf.initialize_all_tables()
    with tf.

[2017-06-20 21:00] jematos92 commented on #1700
fn is cannot be found, just try with one image, something like:
`fn = './MRII/ASL/type_your_image_name_here.JPEG'`

[2017-06-20 21:08] andrew-anki commented on #1617
@jch1 Note that I did just try updating to protobuf version 3.3.0 and am still getting the same error

[2017-06-20 21:09] siddhartha-iitd commented on #1703
I did a fresh installation of Tensorflow and the Protobuf compiler. That solved the issue.

[2017-06-20 21:09] siddhartha-iitd commented on #1704
I did a fresh installation of Tensorflow and the Protobuf compiler. That solved the issue.

[2017-06-20 21:20] jch1 commented on #1617
Thanks for the info @andrew-anki - maybe I'm wrong about the proto version?  Are you running on a mac by any chance?

Can you try the fix I just added? (#1707) --- I was able to reproduce this problem on the mac and this fixed it for me.

[2017-06-20 21:23] hosseinece commented on #1700
Thanks!
I did that but this is the resulted error:

root@eac5e7360ae5:/tf_files# python decode_jpeg.py
WARNING:tensorflow:From decode_jpeg.py:7: initialize_all_tables (from tensorflow.python.ops.data_flow_ops) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.tables_initializer` instead.
2017-06-20 21:20:50.396507: W tensorflow/core/platform/cpu_feature_guard.c

[2017-06-20 21:27] andrew-anki commented on #1617
@jch1  I am on a mac. Will pull your fix and report back.

[2017-06-20 21:28] andrew-anki commented on #1617
woohoo!  that nailed it. Thanks!
[code]

[2017-06-20 21:50] ronakmb commented on #1617
.......
----------------------------------------------------------------------
Ran 7 tests in 0.034s

OK

Great. Thanks @jch1

[2017-06-20 22:00] rogerguess commented on #1611
Thank you for considering this feature.

Is there a way today that I can tell how many steps are in checkpoint_inception=inception_v3.ckpt?

[2017-06-20 22:29] nealwu commented on #1611
@rogerguess looks like Alex is out this week unfortunately but he'll be able to take a closer look next week.

[2017-06-20 22:44] rogerguess commented on #1611
no problem, thank you.

[2017-06-20 23:13] jch1 commented on #1694
Yes, thanks.  #1708 will fix this issue.

[2017-06-20 23:13] #1694 closed

[2017-06-20 23:16] june9713 commented on #1591
@kaseyriver11 Copy folder to site packages is good solution, but most easy way and clean way is setup.py insatll at models folder and slim folder to install models library. :-) Just type setup.py install at models folder and slim folder!

[2017-06-20 23:22] jch1 commented on #1617
Awesome, I will close this for now.  Good luck on your detection endeavors!

[2017-06-20 23:22] #1617 closed

[2017-06-20 23:58] mjohnst commented on #1695
@abhiML
Make sure your GPU is recognized by tensorflow by running this command:
[code]
For me, my GPU is recognized when I run in Python3.5, but not in Python2.7 (which is required to run `object_detection/train.py`)
Looking into why this is the case at the moment.

[2017-06-21 01:00] livenletdie commented on #1696
Same issue here... I could run the train script and got a gradual decrease in loss value as shown above. But running the evaluation script shows the error above and does not show my MAP (Mean Average Precision) value. Is there a way I can calculate the mAp of my detection model for Pascal VOC?

[2017-06-21 01:02] troylhy1991 opened #1709 "GPU device setting for python object_detecttion/train.py running on local machine"
Hi,

I'm running the train.py on my local machine (with four GPUs).

It's running on GPU:0 , but all the other three GPUs also got memory loaded, so I cannot use them for the other job at the same time.

Is there any idea for setting up the train.py on exactly only one GPU like --gpus 0?

Thanks,

Troy

[2017-06-21 01:12] tatatodd commented on #1709
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, you're looking for the environment variable CUDA_VISIBLE_DEVICES.  E.g. CUDA_VISIBLE_DEVICES=0 will restrict to gpu 0.

[2017-06-21 01:12] #1709 closed

[2017-06-21 02:05] ahmetkucuk commented on #1621
I solved the issue. For future reference, while I am creating evaluation tfrecords, I used 1 as difficulty for all records since I do not have difficulty in my own dataset. Somehow, eval.py does not count those records with difficulty 1.

[2017-06-21 02:52] YanLiang0813 commented on #1696
@derekjchow how to ignore the error, I comment the lines in object_detection_evaluation.py https://github.com/tensorflow/models/blob/a4944a57ad2811e1f6a7a87589a9fc8a776e8d3c/object_detection/utils/object_detection_evaluation.py#L197

    if (self.num_gt_instances_per_class == 0).any():
      logging.warn(
          'The following classes have no ground truth examples: %s',
          np.squeeze(np.

[2017-06-21 03:06] BoltzmannBrain opened #1710 "create_mscoco_tf_record.py for Object Detection API"
The new [Object Detection API](https://github.com/tensorflow/models/tree/master/object_detection) is great, but how come there are no details for evaluating the models on MS COCO? The models were trained on this data, so it would be great to include a create_mscoco_tf_record.py (like you have for the PASCAL and Oxford pet datasets) to test on the MS COCO data. Not to mention then people would be a

[2017-06-21 03:08] BoltzmannBrain commented on #1710
There's a version for the [im2txt model](https://github.com/tensorflow/models/blob/master/im2txt/im2txt/data/build_mscoco_data.py), but it's specific to the MS COCO captions dataset.

[2017-06-21 03:14] jch1 commented on #1710
Hi @BoltzmannBrain - yes, we'd like to have scripts for COCO.  For the first release, we decided to leave it out for a number of reasons, but if you don't want to wait, it should be easy enough to modify the code for the im2txt model to output tfrecord files for bounding box detection.

The config files that we have provided for the Pets dataset are exactly the same ones (except for the paths to l

[2017-06-21 03:30] BoltzmannBrain commented on #1710
Sounds good, I'll work off the im2txt version for now. Thank you for the quick response :)

[2017-06-21 05:38] mintlatte commented on #1617
@jch1 Thank you so much!

[2017-06-21 07:51] YanLiang0813 commented on #1696
@jaydee713 did you solve this problem?

[2017-06-21 07:52] phongnhhn92 opened #1713 "Can not restore pretrained model for Object Detection API"
I encounter this error when I execute train.py for fine tuning Oxford pet dataset using FasterRCNN Inception resnet V2.

DataLossError (see above for traceback): Unable to open table file /home/phong/TFZoo/model.ckpt.data-00000-of-00001: Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator?

This is the comma

[2017-06-21 07:56] jch1 commented on #1713
@phongnhhn92

For the fine_tune_checkpoint line in the config file, just write:
fine_tune_checkpoint: "/home/phong/TFZoo/model.ckpt"

(e.g., without the fine_tune_checkpoint: ".data-00000-of-00001" part)

[2017-06-21 08:01] YanLiang0813 commented on #1621
@ahmetkucuk I have the some issue, just described in https://github.com/tensorflow/models/issues/1696
 but the datasets I used is pascal_voc_2012, the difficult in "Annotation" xml file is 0. Could you give me some suggestion? thanks

[2017-06-21 08:17] phongnhhn92 commented on #1713
Oh thanks ! It works like a charm.
I know this is out of scope question but for example. If I want to fine tuning this with my own dataset so I guess I have to construct my dataset the same format with VOC or Pet Oxford dataset. So I would like to ask is there any tools to help me to do that ?

[2017-06-21 08:19] ZhyiXu opened #1714 "InvalidArgumentError for Object Detection Demo"
I ran the Object Detection Demo in python instead of ipython notebook and an error occured, it seems something wrong with the input format, but I used the image in the test_image file, and I used the model with the default setting "ssd_mobilenet_v1_coco_11_06_2017"

the error is below

tensorflow/core/common_runtime/executor.cc:549] Executor failed to create kernel. Invalid argument: NodeDef menti

[2017-06-21 08:28] jch1 commented on #1713
Great!

We don't have any additional tools currently.  The best thing to do is to read the examples that are provided for the Oxford-IIIT pets dataset and Pascal VOC.

[2017-06-21 08:34] GBJim opened #1715 "SSD-Moiblenet is slower than RFCN on the object_detection_tutorial.ipynb"
Hi:

I've been testing the processing time of object detection models with  GTX 1080.
The result is abnormal to me:

I tested  **SSD-Mobilenet-V1** and **RFCN-ResNet-101** on a hundred of 1280*720 images.
The average processing time per image for the models are:

**SSD-Mobilenet-V1**:  0.38 sec
**RFCN-ResNet-101***:  0.27 sec

This result is confusing to me. SSD-Mobilenet should be much faster bas

[2017-06-21 08:38] loretoparisi commented on #1490
@fisch0920 I understand the point, by the way, there are some hint that could help to improve `tensorflow` about text summarization, since so far the only text sum model I was able to train / test and inference was the one provided by `OpenNMT`:

See here:

[Text Summarization on Gigaword and ROUGE Scoring](http://forum.opennmt.net/t/text-summarization-on-gigaword-and-rouge-scoring/85)

Pre-traine

[2017-06-21 09:27] abhiML commented on #1695
Thanks. However my gpu seems to get a memory error.

[code]

[2017-06-21 12:08] AmitLakhi commented on #1523
Syssntaxnet parsing is being carried out parsing in two phases:
1>Tagging the tokens generated from the sentence.
2>Establishing the dependency relation between the tokens.
so @Mostafa-Samir  yeah ! if the token size exceeds a certain range then possibly parsing would not be possible. Though it would be able to generate POS Tag for token.

[2017-06-21 12:16] smirnovevgeny commented on #248
I've built docker image for syntaxnet to process russian sentences.

[2017-06-21 12:50] AmitLakhi commented on #226
Hi @satwat @prakhar21 @slavpetrov can you please share the context.pbtxt and demo.sh file with change suggested by @slavpetrov .
Thank you!

[2017-06-21 13:53] juliuswang0728 commented on #1714
#1581
would this help?

[2017-06-21 14:03] jaydee713 commented on #1696
@YanLiang0813  I didn't, decided I would just ignore it since it *is* just a warning :P doesn't seem to have caused me any problems yet...

[2017-06-21 14:08] kaseyriver11 commented on #1587
I believe this problem is also occurring when batcher.py is called.

tensorflow/models/object_detection/core/batcher.py

[2017-06-21 14:31] YanLiang0813 commented on #1696
@jaydee713 Yes, I now know it, we just ignore it and run train.py and eval.py concurrently, so we can see the precision on tensorboard

[2017-06-21 14:33] chakpongchung commented on #1591
Hi all, I had the same problem on ubuntu 16.04
tried:

cpchung:models$ uname -a
Linux microway 4.8.0-56-generic #61~16.04.1-Ubuntu SMP Wed Jun 14 11:58:22 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

cpchung:models$ protoc --version
libprotoc 3.2.0

protoc object_detection/protos/*.proto --python_out=.
python setup.py install

no warning message found from these, but not working in jupyter-notebook

[2017-06-21 14:45] june9713 commented on #1591
@chakpongchung Why dont you show Error message?

[2017-06-21 14:48] chakpongchung commented on #1591
@june9713

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-6-894414a64172> in <module>()
----> 1 from utils import label_map_util
      2 from utils import visualization_utils as vis_util

/local/home/cpchung/software/models/object_detection/utils/label_map_util.py in <module>()

[2017-06-21 15:01] june9713 commented on #1591
@chakpongchung
Do you use anaconda?
Or... is your notebook kernal python2?
Run python in console.
And type "import object_detection"
If there is no error, you need to find out what is kerneal in jupyter notebook

[2017-06-21 15:04] chakpongchung commented on #1591
cpchung:~$ python
Python 2.7.13 |Anaconda custom (64-bit)| (default, Dec 20 2016, 23:09:15)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org

My notebook kernel is python2

[2017-06-21 16:10] june9713 commented on #1591
@chakpongchung
I dont use anaconda... So I dont know what happens.
I think , your "setup.py" copies files to your conda path.
but your notebook is finding packages from your pure python2.7 path.
What do you think?

[2017-06-21 16:35] jrabary opened #1719 "Object Detection: class number 12 is missing in MSCoco category index"
When you read the label proto provided with the object detection demo, the generated category index doesn't contain the class numbered 12. Why is that ?

Sample code:

[code]

[2017-06-21 18:31] muayyad-alsadi opened #1720 "RFE: include DenseNet"
this is a request for a feature, which is to implement DenseNet

* [paper](https://arxiv.org/pdf/1608.06993.pdf)
* [karas code](https://github.com/flyyufelix/cnn_finetune/blob/master/densenet121.py)
* [pretrained weights](https://drive.google.com/open?id=0Byy2AcGyEVxfSTA4SHJVOHNuTXc)

[2017-06-21 18:48] proflim commented on #1715
I'm also having similar issues too.
**RFCN-ResNet-101** and **SSD-Inception-v2** seem to run much slower than the benchmarked time.
I'm using Pascal TitanXp with CUDA8.0

[2017-06-21 18:51] conner-starsky commented on #1715
I am having this problem as well.

[2017-06-21 18:53] chakpongchung commented on #1591
@june9713

Thanks for your feedback. But:

cpchung:models$ which jupyter-notebook
/local/home/cpchung/anaconda2/bin/jupyter-notebook

[2017-06-21 19:06] ghost opened #1721 "Error After Optimizing Model for Eval: tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[0] does not have value"
I have been trying to optimize a model for deployment using Tensorflow tools graph_transforms using the following configuration:
[code]
This completes without error, however when I try to eval the model I get the following error:
[code]
I have tried look for a operation to add to the list to ignore to stop the program from breaking, but I cannot find anything that seems to fix it.

[2017-06-21 19:24] jch1 commented on #1715
Thanks all - I'll look into this.  If you can provide logs and system information, that would be helpful too.

[2017-06-21 20:07] jch1 commented on #1719
Hi @jrabary - Yes, this is just how the COCO dataset is.  If you were to download it from mscoco.org you'd see the same missing label indices, and we chose to keep it that way.  I believe they originally planned to collect data for 90 categories, then ended up releasing 80 categories.

[2017-06-21 21:25] syeddanish41 opened #1722 "Notebook "object_detection_tutorial.ipynb" is not working for the pet detection data."
After a generating a valid `pet_detector.pb` file using the command
[code]
The [notebook](https://github.com/tensorflow/models/blob/master/object_detection/object_detection_tutorial.ipynb) after changing `PATH_TO_CKPT = 'pet_detector.pb'` is not generating any bounding boxes for the image as shown [here](https://github.com/syeddanish41/models/blob/master/object_detection/object_detection_tutorial.

[2017-06-21 21:39] mjohnst commented on #1601
@derekjchow I ran this command (CVdevkit is a custom data set I created with the same directory structure and annotation format as VOCdevkit)
[code]

[code]

[2017-06-21 22:33] conner-starsky opened #1723 "Is a pretrained Resnet-50 model available?"

[2017-06-21 23:53] phongnhhn92 commented on #1713
To be honest, I have no idea how make my dataset with the same format with Pascal VOC. I hope there will be addition tool for this in the future.

[2017-06-22 00:22] fisch0920 commented on #1490
@loretoparisi thank you very much -- your hints were extremely useful in pointing me in the right direction. OpenMNT would be perfect if it only included a better solution for handling OOV/unk words.

Still hoping `textsum` releases some basic pre-trained models soon :)

[2017-06-22 00:38] syw2014 commented on #1050
@Vimos have you solved the issue? I had the same issue too, any suggestions, thx?

[2017-06-22 01:37] jch1 commented on #1722
Hi @syeddanish41 , have you verified that your model gets good performance on tensorboard?

[2017-06-22 01:49] ahundt commented on #1720
I prefer this implementation of densent in keras:
https://github.com/farizrahman4u/keras-contrib/blob/master/keras_contrib/applications/densenet.py

[2017-06-22 02:05] ZhyiXu commented on #1714
thank you！I updated tensorflow to v1.2.0, this problem got fixed

[2017-06-22 02:05] #1714 closed

[2017-06-22 02:17] StevenLOL opened #1724 "Problem with adversarial_text when FLAGS.num_classes != 2"
In adversarial_losses.py line 215 when  FLAGS.num_classes != 2 the q is not defined.

@rsepassi

[2017-06-22 03:04] korrawat opened #1725 "Inception v3 scope name typos?"
I was looking at TensorBoard's Graphs of Inception v3, and found that the scope name of two layers do not match their actual filter sizes. This discrepancy made me confused when tracing sizes of the tensors that were passed along the net. This results from its [slim implementation](https://github.com/tensorflow/models/blob/master/slim/nets/inception_v3.py#L217) as shown below.

Lines 216-217
[code

[2017-06-22 03:18] korrawat commented on #1725
Similar to #1412.

[2017-06-22 03:23] Nikhil-Kasukurthi commented on #1713
I use this tool [labelImg](https://github.com/tzutalin/labelImg) for annotating my own dataset. It generates XML files in the same format of Pascal VOC. Hope it helps. Cheers

[2017-06-22 03:34] jch1 commented on #1723
Hi @conner-starsky --- not yet.  It's pretty easy to create these if people are interested, but it probably won't happen for a week or two at least.

[2017-06-22 05:37] tumusudheer commented on #1620
Hi,
Can someone please help me on this issue.
Thank you.

[2017-06-22 06:56] conner-starsky commented on #1723
Thanks for the response! I'm looking into Resnet-50 as I'm trying to get 10+ FPS out of a solid detection model and cannot seem to do it with Resnet-101 (hoping the evaluation speed is faster for Resnet-50).

[2017-06-22 06:56] #1723 closed

[2017-06-22 07:28] phongnhhn92 commented on #1713
Thanks ! @Nikhil-Kasukurthi I am looking for it

[2017-06-22 07:59] YanLiang0813 commented on #1715
@GBJim How can I test my own data, I have train my own data succeed, I just wonder how can I test my data and get a txt file which contain [ image_name, score,x,y,w,h], can you give me some suggestion? Thanks

[2017-06-22 08:12] YanLiang0813 opened #1728 "Problem on how to get the mAP by object detection API and how to get a txt file which contain [image_name,score,boxes]"
Follow the tutorial of Object Detection API, I have trained my own data successful, when I try to eval my model by using eval.py I juet get precision at 0.5IOU and I cannot get a txt file which contain

 [image_name,score,boxes]

I want to get test time as well, but there isn't a way to get it. Are there anybody can give me some suggestion? Thanks a lot.

[2017-06-22 08:42] rylanchiu opened #1729 "Clear explanation of the textsum code maybe better"
This issue concerns about the `batch_reader` in the `textsum` model. There are two for loops in line [71](https://github.com/tensorflow/models/blob/master/textsum/batch_reader.py#L71) and line [76](https://github.com/tensorflow/models/blob/master/textsum/batch_reader.py#L76) respectively. I am quite confused about these two for-loops. Maybe they are for reading more data given the toy data set? Ma

[2017-06-22 09:21] rylanchiu commented on #1729
Sorry, after reading the code again, I thought it may just create a number threads for multi-thread processing of batches. I made the guess about reusing the data since I found a tricky phenomenon during the training. After every n steps, the loss increased quite a lot and decreased again. And I have no idea why this happens. I would close this issue.

[2017-06-22 09:21] #1729 closed

[2017-06-22 09:54] xunkaixin opened #1730 "speed problem gtx1060 and jetson tx2"
i test the ssd_mobilenet on computer and jetson tx2, there are some problems.

On my computer(Ubuntu 16.04,  tensorflow 1.2.0,  cuda 8.0, cudnn 5.1.10,  gtx 1060), the speed is about 20ms/f, i think it is ok.

but when i test it on jetson tx2(Ubuntu 16.04,  tensorflow 1.2.0,  cuda 8.0, cudnn 5.1.10), the speed is only 200ms/f, and the GPU consumption most time is only 10%， sometimes 70%. I don't t

[2017-06-22 10:31] terryKing1992 opened #1731 "Cifar10's model do not have high accuracy on test data"
on train data, the cifar10's accuracy can reach 0.98, but on test data, it can only reach 0.59. my cifar cnn network as follow:
[code]
is it normal？and any suggestion？

[2017-06-22 11:28] OliveirShi commented on #1050
same error and same problem! @syw2014

[2017-06-22 12:42] syeddanish41 commented on #1722
Hi @jch1 , after training using `ssd_mobilenet_v1_pets.config` overnight on gtx1070 I get bounding box on 3 out of 5 images, How long will it take to train faster_rcnn(in global time steps) with batch size being 1? I would also like you to vrerify the directory setup I am using.
Thanks

[2017-06-22 12:46] abhiML opened #1732 "freeze_graph script error : google.protobuf.text_format.ParseError"
I am trying to run the freeze_graph script on my own .pb and .ckpt file. However I am getting this error.

[code]
The stack trace is as follows:
[code]