[2018-02-16 18:18] cy89 commented on #3384
@jch1 @tombstone is @rogercooper76 seeing expected behavior?

[2018-02-16 18:22] cy89 commented on #3388
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-16 18:29] cy89 commented on #3390
@ryan-summers I'm not exactly sure how we can help, as it's not clear whether the issue is from running on the Jetson TX2 or from object_detection or from something else, and I'm not sure who could replicate your bug here.

I'll ask @jch1 and @tombstone if they're aware of anything relevant, but I think we need help from the wider TF community on this one.

[2018-02-16 18:32] cy89 commented on #3392
@sidvip would you please fill out the form? I can't tell whether you're running entirely unmodified code, or whether you've written code of your own, for example.

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if po

[2018-02-16 18:50] oneTimePad commented on #3390
@ryan-summers  I believe this is due to the Jetson running out of memory. I had a similar problem when testing SSD Inception-v2-resnet and all versions of Faster R-CNN. Try to use MobileNet with SSD. That definitely works.

[2018-02-16 20:12] rogercooper76 commented on #3384
I notice there are quite amount of difference in the frozen_inference_graph.pb files between the pre-trained model and the data from step 0 checkpoint in training as well (pre-trained file is re-exported with same version of script). However, they are too large to attach here. If they will be useful to root cause the issue, please let me know what will be a good way to share them. Thanks.

[2018-02-16 20:36] ryan-summers commented on #3390
@oneTimePad I'm inclined to believe that you're correct. I'll try to run some more tests to see if MobileNet generates the same errors, but the initial work I have done indicates MobileNet will run successfully.

As a follow up, I continued digging into the problem and noticed that the error never occurs when running TensorFlow in CPU mode (e.g. setting CUDA_VISIBLE_DEVICES=-1).

I know that the J

[2018-02-16 20:39] oneTimePad commented on #3390
@ryan-summers

Fraction of memory:
[code]
Dynamic Growth:
[code]

[2018-02-16 20:51] ryan-summers commented on #3390
Thanks @oneTimePad - I implemented a static GPU memory fraction at 0.5 and initial tests are showing that the error disappears. I am now heavily inclined to believe the error is related to GPU memory usage - it would also explain the sporadic nature of the error (as the Linux system uses more memory for other processes, it would limit CPU/GPU memory on the Jetson and cause errors). I'm going to co

[2018-02-16 21:41] ryan-summers commented on #3390
I'm going to be closing this issue, as it appears that the issue has been resolved by limiting the amount of GPU memory on the Jetson.

[2018-02-16 21:41] #3390 closed

[2018-02-16 23:07] Josh-Payne commented on #3362
If anyone else has this problem, I came up with a solution:
`import numpy as np
from PIL import Image
from array import *

data_image = array('B')
Im = Image.open('image.png').convert('L') # convert to grayscale
pixel = Im.load()
width, height = Im.size
for x in range(0,width):
	for y in range(0,height):
		data_image.append(pixel[y,x]) # use the MNIST format

m = np.array(data_image)
img = np.resh

[2018-02-16 23:07] Josh-Payne commented on #3362
If anyone else has this problem, I came up with a solution:
`import numpy as np
from PIL import Image
from array import *

data_image = array('B')
Im = Image.open('image.png').convert('L') # convert to grayscale
pixel = Im.load()
width, height = Im.size
for x in range(0,width):
	for y in range(0,height):
		data_image.append(pixel[y,x]) # use the MNIST format

m = np.array(data_image)
img = np.resh

[2018-02-16 23:11] Josh-Payne commented on #3362
If anyone else has this problem, [npcon.txt](https://github.com/tensorflow/models/files/1733085/npcon.txt) is a solution

[2018-02-16 23:12] cy89 commented on #3362
Thanks, @Josh-Payne!

[2018-02-16 23:12] #3362 closed

[2018-02-16 23:33] muhammedchand commented on #3345
Im runnig 3.5.2 but I just re-ran the script and had no problems. My guess is it was a a weird networking issue that blocked the port. Didn't change anything but it's working fine now. Possible solution may be just resetting your router if anyone see's this.

[2018-02-17 05:59] sidvip commented on #3392
Arch:= Ubunutu 14.04
Tensorflow = 1.5.0
Issue in  tensorflow object detection master github repo.
made my own tfrecord as mentioned in the create_pascal_tf_records.py for mask rcnn facing the same issue for rcnn in new master repo.

Thanks

[2018-02-17 06:15] gsssrao commented on #1778
Enter the following in your terminal to switch to gpu 1:
`export CUDA_VISIBLE_DEVICES=1`

[2018-02-17 06:37] gsssrao commented on #3393
@lucadigiammarino This is because your GPU cannot allocate enough RAM for the network. You can try reducing the `batch_size` to a small number but even then if it doesn't work, you will need to change the layers parameters.

You can calculate the memory required for your network by following something like [this](http://imatge-upc.github.io/telecombcn-2016-dlcv/slides/D2L1-memory.pdf).

Regarding

[2018-02-17 06:47] gsssrao commented on #3395
It is already present in [object_detection/samples/configs/ssd_mobilenet_v1_focal_loss_coco.config](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_focal_loss_coco.config)

[2018-02-17 13:05] sidvip commented on #3392
ARCH UBUNTU 14.04
TF VERSION 1.5.0
BINARY INSTALLATION FOR TF
SOURCE INSTALLATION FOR MODEL-MASTER REPO

PROBLEM WHEN RUN train.py SCRIPT IN MODEL-MASTER REPO. PROBLEM I HAVE
ALREADY PASTED EARLIER.

THANKS IN ADVANCE

On 17 February 2018 at 00:03, Cliff Young <notifications@github.com> wrote:

[2018-02-17 14:56] rpetar commented on #967
New links:
[datasets folder](https://github.com/tensorflow/models/tree/master/research/slim/datasetsl)
[dataset factory](https://github.com/tensorflow/models/blob/master/research/slim/datasets/dataset_factory.py#L30)

"You can start with these files and customize them for your use case, check [this](https://github.com/tensorflow/models/blob/master/research/slim/datasets/flowers.py) and [this](http

[2018-02-17 15:28] zeynali opened #3405 "Make SSD nasnet"
Hi.
how do i can SSD with nasnet ?

[2018-02-17 19:55] zeynali opened #3407 "OOM when retian(resume) a model"
Hi ,
i fine-tuned a model , everything is ok , when i want to resume that model , i faced with error of OOM , so i must restart computer , and then resume that model , in this case my problem solved and the model retrains . why this problem these is ? i think this is a bug .

[2018-02-17 21:15] kazemSafari commented on #3221
@yaroslavvb I followed all the steps. After applying the fixes you mentioned, after uncompressing a bunch of training data it gives the following error:
Organizing the validation data into sub-directories.
Traceback (most recent call last):
  File "bazel-bin/download_and_convert_imagenet.runfiles/__main__/datasets/preprocess_imagenet_validation_data.py", line 54, in <module>
    from six.moves imp

[2018-02-17 21:43] kazemSafari commented on #3221
after "sudo easy_install six" i get the following error:

...
   --> skipped 0 boxes and 0 XML files.
   --> processed 535001 of 544546 XML files.
   --> skipped 0 boxes and 0 XML files.
--> processed 540001 of 544546 XML files.
--> skipped 0 boxes and 0 XML files.
Finished processing 544546 XML files.
Skipped 0 XML files not in ImageNet Challenge.
Skipped 0 bounding boxes not in ImageNet Challeng

[2018-02-17 21:52] yaroslavvb commented on #3221
@kazemSafari the pre-processing script doesn't work on Python 3. I think you were actually using Python 2, which also explains why "six" was not found. I use conda environments to keep things separate, although that fails sometimes (`conda install xyz` once replaced my Python 3 binary with Python 2). To summarize -- 1. don't `sudo` install anything, 2. use virtual environments like conda to switch

[2018-02-18 00:08] kazemSafari commented on #3221
@yaroslavvb I installed t.15 binary version for python2 using virtualenv. Activated the virtualenv and then ran the same command while in ```~/models/research/slim``` directory:
```export DATA_DIR = /media/kazem/ssd_1tb/imagenet-data```
```bazel-bin/download_and_convert_imagenet ${DATA_DIR}```
It worked fine:
[code]

[2018-02-18 00:15] songam128 commented on #2930
After 60 hour's trials and errors,  I finally succeeded in compiling the Protobuf libraries.
I like to share my mistakes during compilation.
First mistake : I used the protoc-3.5.0-win32 as a compiler.
Second mistake :
![image](https://user-images.githubusercontent.com/36578019/36346831-ace3b3ce-148a-11e8-8f8a-9a00fe67d9ac.png)

[2018-02-18 04:09] kazemSafari commented on #3221
Here is the summary of all the steps needed based on @yaroslavvb corrections:
#0i) Install tensorflow (The imagenet preprocessing code has dependencies to six package (six.xrange for instance) in python2. Also the rest of the code depends on tensorflow installed in python2). Also install ```bazel```.

Install tensorflow (1.5 current version) in python2 (For instance install the binary version usin

[2018-02-18 08:04] a-dai commented on #3269
Thanks for spotting this real bug.

[2018-02-18 12:40] zeynali opened #3408 "Test Faster RCNN with GTX 1080"
Hello ,
i want to test both faster rcnn nasnet / resnet50 with GTX 1080 by jupyter notebook in object detection , but whenever i tesed faster rcnn , i faced with this error :
why ??? doesn't this models with 1080 possible ?

---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
~/.local/lib/python3.5/

[2018-02-18 14:52] SKAE5 opened #3409 "Object recognition doesn't work"
I'm using the Tensorflow object-detection model to recognize a tennis player on a tennis field.

I've got two folder containing train images and test images which I divided in about 90%-10% of the total images I have. For each image there's an xml file describing the bounding box containing the tennis player.

I'm using ssd_mobilenet_v1_coco_2017_11_17 as a model and ssd_mobilenet_v1_coco.config a

[2018-02-18 20:35] madhavajay commented on #3155
I am having similarly bad performance.
On my Macbook Pro in Tensorflow CPU model I get:
Inference time 0.13113617897033691 sec
On an AWS px2.large K80 GPU instance im getting:
Inference time 0.08756685256958008 sec

Tensorflow GPU is installed and says its connected and I see the process in the nvidia-smi tool.

Anyone have an idea why inference is so slow on GPU?
Is it simply not possible to do i

[2018-02-18 20:36] madhavajay commented on #3270
I am having similarly bad performance.
On my Macbook Pro in Tensorflow CPU model I get:
Inference time 0.13113617897033691 sec
On an AWS px2.large K80 GPU instance im getting:
Inference time 0.08756685256958008 sec

Tensorflow GPU is installed and says its connected and I see the process in the nvidia-smi tool.

Anyone have an idea why inference is so slow on GPU?
Is it simply not possible to do i

[2018-02-18 21:47] madhavajay commented on #3243
I am having similarly bad performance.
On my Macbook Pro in Tensorflow CPU model I get:
Inference time 0.13113617897033691 sec
On an AWS px2.large K80 GPU instance im getting:
Inference time 0.08756685256958008 sec

Tensorflow GPU is installed and says its connected and I see the process in the nvidia-smi tool.

Anyone have an idea why inference is so slow on GPU?
Is it simply not possible to do i

[2018-02-18 22:12] Bidski commented on #3386
Ok, I discovered what the problem was.

Turns out that I had an error while generating my TFRecord files and they ended up being empty. I assume that the training script was then just doing nothing, giving the appearance that the tensorflow was hanging.

I think that invalid/empty datasets should be flagged as a warning.

[2018-02-19 14:42] GustavZ commented on #3179
@julianklumpers  thats normal, it does not mean its hanging.
evaluation is done in certain interval steps and between those it seems hanging

[2018-02-19 16:39] alensaqe commented on #3388
Sorry about that. I gave all the required details above in a post edit. If you need further details let me know. Meanwhile i will keep trying to make it work and post updates here if i make it work.

[2018-02-19 16:57] AVCarreiro commented on #3365
My experience is that, although you can put the background images in the tf-records (if you follow what is done for the open images dataset, they allow you to do this in their create_oid_tfrecord - something like this), but beware the difference between RCNN and SSD models. Unfortunately, I couldn't get a good loss convergence with this approach. I tried balancing the dataset (positive and negativ

[2018-02-19 18:45] vlachynska commented on #3377
I've tested the same thing on **Linux** system: **Debian Stretch**. Still **TensorFlow version 1.4.0**.
I've generated the TFRecord as well as my config files on this system and ended up with the same error message. Has anyone the same troubles?

[2018-02-19 18:47] vlachynska commented on #3377
#

[2018-02-19 20:18] asimshankar commented on #3408
I apologize, but without all the information asked for in the issue template (include version information and exact steps to reproduce the problem), it is hard to provide useful assistance.

From a cursory look at the error messages, it appears that you may be using an older version of TensorFlow which is not compatible with the model code. Can you upgrade the version of TensorFlow being used? (`p

[2018-02-19 20:40] srw-tuser commented on #3331
Issue still exists in the tutorial (and I couldn't find a repo for the doc to update the version in)

[2018-02-19 22:33] zeynali commented on #3408
Version 1.4

[2018-02-19 22:36] trihuynh88 commented on #2957
I am having the same problem. Were we able to fix this problem? @s-gupta

[2018-02-19 22:39] asimshankar commented on #3408
The error message is complaining about a feature that was added in TensorFlow 1.5 and doesn't exist in version 1.4. Can you upgrade to 1.5?

[2018-02-19 23:17] rogerpasky commented on #3064
After a few days of reverse-engineering, I'm afraid I must respectfully disagree with @ReeRay because his solution may work with `tutorial_1.py` but it's unlikely to make Syntaxnet work properly elsewhere. This is what I found:
* As @asimshankar said, in order to build and install Syntaxnet you must stick to the very Tensorflow version it comes with (1.3). It **does not** work properly even if you

[2018-02-20 04:03] bkj commented on #3387
@andrefaraujo

Actually -- I may be able to answer my own question about the loss and accuracy of the fine-tuned models.  But could you please point me to the name of the layer in the pretrained model that would precede the softmax layer in the finetuned model?  I should be able to grab the output using `graph.get_tensor_by_name` and then train my own linear classifier to estimate the loss/accurac

[2018-02-20 05:33] 89douner opened #3411 "Watch anchor boxes"
I executed object_detection_tutorial on pycharm using google-ssd-with inception v2.
I wanna see code about making anchor boxes.
I predicted that I can see variables value in /models/object_detection/anchor_generators/multiple_grid_generator.py if I apply break-point on multiple_grid_generator.py. But, When I executed debug, multiple_grid_generator.py was ignored (jump this section).

When I wanna

[2018-02-20 07:23] DominikAuras opened #3412 "object_detection trainer.py does not use train_config.load_all_detection_checkpoint_vars"
There might a be bug `trainer.py`. In

https://github.com/tensorflow/models/blob/af6527c975a65a834d71adfde1041333b6fb8dc2/research/object_detection/trainer.py#L270-L271

the parameter `load_all_detection_checkpoint_vars`, which is defined here

https://github.com/tensorflow/models/blob/af6527c975a65a834d71adfde1041333b6fb8dc2/research/object_detection/protos/train.proto#L41

is not honored.

What

[2018-02-20 13:24] imvinaypatil commented on #2694
![screenshot from 2018-02-20 18-50-50](https://user-images.githubusercontent.com/6937974/36426101-0b08166c-166f-11e8-84ab-eb1780d246a7.png)
My system configurations:
Tensorflow gpu 1.5
Cuda 9.0/9.1
GTX 1050 Ti
The training worked well whileon cpu, but with gpu all though the speed is high, the lossess are bizzare.
Kindly suggest, as to what might be the cause?

[2018-02-20 17:33] evolu8 commented on #2833
This is driving me crazy. I see the preprocessor_pb2.py file. I know the path to research is there. I don't see any other versions it could be looking at. Why is protobuf such pain?

If someone has an answer please post.

[2018-02-20 17:57] xav12358 commented on #2888
I used to work on windows but now I try to learn my ssd model on windows and I also have the same problem?

robn4690 do you solve your problem?

[2018-02-20 18:57] zeynali commented on #3408
yes , current my version TF is 1.5 .you think this problem has been solved with 1.5 ?

[2018-02-20 19:28] serfaniane opened #3413 "InfoGAN model: TypeError: unsupported operand type(s) for *: 'range' and 'int'"
When using `models/research/gan/tutorial.ipynb` in the InfoGAN Evaluation part I get the following error:
`TypeError: unsupported operand type(s) for *: 'range' and 'int'`

The line that throws the error is:
`cat_noise = tf.constant(range(cat_dim) * (images_to_eval // cat_dim))`

There are many many more errors on this tutorial as well.

[2018-02-20 19:52] serfaniane commented on #3413
A stupid way to fix it would be:

[code]

[2018-02-20 19:52] #3345 closed

[2018-02-20 22:11] rzhai commented on #3003
2/20/2018 version has coco detection metrics
EVAL_METRICS_CLASS_DICT = {
    'pascal_voc_detection_metrics':
        object_detection_evaluation.PascalDetectionEvaluator,
    'weighted_pascal_voc_detection_metrics':
        object_detection_evaluation.WeightedPascalDetectionEvaluator,
    'pascal_voc_instance_segmentation_metrics':
        object_detection_evaluation.PascalInstanceSegmentationEval

[2018-02-20 23:39] andrefaraujo commented on #3387
- Regarding preprocessing: correct. Recently, we have been experimenting with `tf.image.sample_distorted_bounding_box` and that seems to deliver similar results as the preprocessing described in the paper.
- Regarding the layer in the pretrained model just before softmax: it is not there, since during inference time we do not need that exact layer, so it is pruned out in the released pretrained mo

[2018-02-21 02:06] jerowe commented on #2386
Any word on this? Specifically, I am wondering what is the difference between truncated and occluded.

[2018-02-21 02:25] dung38tn commented on #3259
I found the solution in WINDOWS like the following:
 1. in 'models/research' directory run
      'python setup.py build'
      'python setup.py install'
2. go into the 'models/research/slim' run
      'pip install -e .'

Remember if you are using anaconda with multiple envs, you should run those commands for each env

[2018-02-21 03:48] bkj commented on #3387
Ah ok -- thanks.  Do you know the names of the layers that I'd need to grab to get a) the features and b) the attention weights?  The output of `graph.get_tensor_by_name('features:0')` look like they've already gone through non-maximum suppression and PCA -- presumably if I want to train the softmax classifier, I should be using the original dimension features?

~ Ben

[2018-02-21 05:32] divyanshj16 commented on #2838
I would like to take this up. Can somebody guide me in the correct direction?

[2018-02-21 05:57] andrefaraujo commented on #3387
right. Also, for the tensor names, you could directly look at the ones used in the example extraction script: https://github.com/tensorflow/models/blob/master/research/delf/delf/python/examples/extract_features.py#L103

[2018-02-21 06:34] Sammyreus opened #3415 "How to visualize tensorboard: graph visualization from the trained data where the checkpoints are generated"
I am very new to tensorflow, So need some assistant from the experts.
While i am training the data from this tensorflow/models by means of
python translate.py --data_dir [path] --train_dir [path]

now after training the data checkpoints are created accordingly as ____.ckpt
Now, how can i see the word2vec mapping of data in the tensorboard.
Please, Do help me if any code is required for the same.
A

[2018-02-21 08:06] zeynali opened #3416 "How to get mAP for SSD_Mobilent_coco"
Hello ,
Q1: i trained ssd_mobilenet_coco on my dataset and i created export_inference_graph.py and tested my model with object_detection_tutorial.ipynb , that's good , but i want to calculated mAP for this ? what do i do ?
Q2 : is there a way to see both my losses (train and evaluation) when i doing a training ? i want to know when i faced with over-fitting ? and how long to train my problem .

[2018-02-21 08:18] zeynali commented on #1735
@blake-varden , Hello dear , i trained ssd_mobile_coco on my custom dataset , and that's good , but i don't know how i get my mAP , recall , .... How do you get mAP for each category ? in my Tensorboard , the Performance Tab don't exist ?  what do i do ?

[2018-02-21 09:33] chrisrn opened #3418 "Different accuracy between NCHW-NHWC data format when finetuning from imagenet"
### System information
- **What is the top-level directory of the model you are using**: tensorflow/models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.1

[2018-02-21 10:31] rickragv commented on #2544
@tombstone
how do you create tfrecords with purely negative images? what do you put in the .xml?

[2018-02-21 12:15] ndrplz commented on #2977
+1 same problem in resnet_v2

fixed it with `with slim.arg_scope(resnet_v2.resnet_arg_scope())` but I agree it should be worth mentioning somewhere in the docs

[2018-02-21 13:00] mohdsubhi commented on #2225
Hi guys, wonder if you can help me out here... what am I doing wrong?

this is a copy of my cmd prompt://

C:\Users\Sawal\Desktop\models\models-master\research\object_detection>eval.py --logtostderr --pipeline_config_path=training/ssd_mobilenet_v1_pets.config --checkpoint_dir=training  --eval_dir=test
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additio

[2018-02-21 13:13] zeynali commented on #1728
Did you get any solution about mAP?

[2018-02-21 14:35] cipri-tom commented on #2225
@mohdsubhi  nothing is supposed to come out, IIRC. The evaluation results are published in summaries, which you can see in TensorBoard

[2018-02-21 14:38] mohdsubhi commented on #2225
@cipri-tom so basically I have to run the evaluation at the same time with training right ? or it doesn't matter?

[2018-02-21 17:05] rhys-saldanha commented on #3366
Tensorflow fills my GPU RAM then does all the work on the CPU... runs slower than if I force using just the CPU, what's going on here?

[2018-02-21 18:12] xav12358 opened #3419 "Object_detection in windows 10"
Hello,

I try to learn using object detection.

### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: from python
- **TensorFlow version

[2018-02-21 18:28] ashwinvijayakumar commented on #917
21 votes not enough to reopen this issue, or at least provide a close justification?

[2018-02-21 18:34] asimshankar commented on #917
Apologies, this was closed more than a year ago (before TensorFlow 1.0, i.e., before API stability guarantees from main TensorFlow).

This may be worth revisiting now.
@karmel - any thoughts?

[2018-02-21 18:38] asimshankar commented on #3416
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-21 18:38] #3416 closed

[2018-02-21 18:42] VanitarNordic commented on #3366
@rhys-saldanha

You are not alone. I hope they fix the bug as soon as possible

[2018-02-21 18:49] karmel commented on #917
We have discussed this, and everyone agrees it is a good idea. Let's leave this open to track for now.

[2018-02-21 20:45] pkulzc commented on #3419
Did you add slim to your python path?
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md#add-libraries-to-pythonpath

[2018-02-21 20:48] alensaqe commented on #1811
Still facing issues with TF 1.4 model serving. The uploads fail. We could go back to 1.2 for the moment.

[2018-02-21 23:29] bignamehyp commented on #3415
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-21 23:29] #3415 closed

[2018-02-21 23:30] karstenBehrendt opened #3420 "Object_detection: Classification loss spikes (10E22) and tfrecord input verification"
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 14.04, 16.04
- **TensorFlow installed from (source or binary)**: source and binary
- **TensorFlow version (use command below)**: v1.5.0-9-gc959ec71e8

[2018-02-21 23:49] mrry commented on #3386
We report EOF when you do `dataset.repeat()` and `dataset` is empty, to avoid an infinite loop. I'm not familiar with what the code is here, so can't say how you might detect that the input is invalid. We could warn when e.g. a TFRecordDataset terminates without producing any data, but a general empty dataset isn't something we'd want to warn about (any more than we'd warn about an empty list!).

[2018-02-21 23:57] cy89 commented on #3386
@Bidski I'll close; please feel free to reopen or file a new bug if there's a particular feature request you'd like to file about invalid/empty cases.

[2018-02-21 23:57] #3386 closed

[2018-02-22 00:40] karmel commented on #323
The associated PR has been closed, and there

[2018-02-22 00:42] karmel commented on #323
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:42] #323 closed

[2018-02-22 00:44] karmel commented on #337
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:44] #337 closed

[2018-02-22 00:45] karmel commented on #436
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:45] #436 closed

[2018-02-22 00:46] karmel commented on #452
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:46] #452 closed

[2018-02-22 00:47] karmel commented on #626
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:47] #626 closed

[2018-02-22 00:48] karmel commented on #644
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:48] #644 closed

[2018-02-22 00:49] karmel commented on #646
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:49] #646 closed

[2018-02-22 00:50] karmel commented on #650
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:50] #650 closed

[2018-02-22 00:50] karmel commented on #662
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:50] #662 closed

[2018-02-22 00:51] karmel commented on #670
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of the code. Thank you.

[2018-02-22 00:51] #670 closed

[2018-02-22 02:17] asimshankar commented on #3420
Thanks for the note, however we probably don't have the bandwidth to investigate and debug your input data.

If you could distill this into a more specific bug / feature request we'd be happy to take a look.
Alternatively, if you may want to seek support on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since there is also a larger community that reads questions there. Thoug

[2018-02-22 02:17] #3420 closed

[2018-02-22 03:33] xbcReal commented on #2214
Does anyone know how to fix this problem?

[2018-02-22 04:39] sidvip commented on #3392
Please tell me where is the problem as i have already mentioned the information that you asked to post.
Thanks

[2018-02-22 06:38] Bahramudin opened #3421 "While upgrade TensorFlow to 1.5, then training own data-set throwing the following error"
### System information
- **What is the top-level directory of the model you are using**: object detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.5.

[2018-02-22 07:22] xav12358 commented on #3419
Thanks you for the answer. Yes I mademoiselle it. I use git terminal to execute that command.

I installed Tensorflow 1.5 , I thought it comes from that version. I finally try un Tensorflow 1.4. and I still have the trouble.

[2018-02-22 07:59] zeynali opened #3422 "How to see mAP in Tensorboard for SSD_Mobilenet_v1_coco"
Hello,
i want to add mAP to object detection api to see this metric in Tensorboard for SSD_Mobilenet_v1_coco such as TotalLoss that i see in Tensorboard , what do i do to see mAP IN Tensorboard and also recall/precision ?

[2018-02-22 08:06] pkulzc commented on #3419
Hmm, this has nothing to do with tf version (though 1.5 is preferred). It's complaining about being unable to find "deployment" located in slim dir.
Could you please double check if you have "slim" dir under C:\Users\Xavier\AppData\Local\Programs\Python\Python36\lib\site-packages\object_detection-0.1-py3.6.egg, and C:\Users\Xavier\AppData\Local\Programs\Python\Python36\lib\site-packages\object_det

[2018-02-22 08:34] byungjae89 opened #3423 "object_detection preprocessor.py random_image_scale TypeError and bug"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- **Bazel version (if

[2018-02-22 09:43] Paspartout commented on #3421
I had the same problem since yesterday.

It looks like the pull request merged in be9b80251af1bc798553c9e5135f8b0f19fa0a81
caused some problems. After checking out the version before that commit everything worked fine.

[2018-02-22 10:00] FarooqKhan opened #3424 "Possible None check required in Dataset.map()"
**System information**

- **What is the top-level directory of the model you are using**: models/tutorials/rnn/quickdraw/train_model.py
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution**: MacOS High Sierra 10.13.3
- **TensorFlow installed from (source or binary)**: pip, virtualenv
- **TensorFlow version (use c

[2018-02-22 10:03] Bahramudin commented on #3421
@Paspartout Hmmm, today when I installed everything from the latest (TensorFlow and Models) everything goes well, but while starting to train, got this problem, but I have tried to solve it by my self or by searching on the internet, but none of them has solved the problem. [Here ](https://stackoverflow.com/questions/48920762/tensorflow-error-typeerror-init-got-an-unexpected-keyword-argument-dct)

[2018-02-22 10:05] RonakDedhiya commented on #3421
Facing out same problem

[2018-02-22 10:23] cipri-tom commented on #2225
preferably, yes, so you can get continuous evaluation and see how your model progresses

[2018-02-22 10:39] Lisandro79 commented on #3421
Same problem here.

[2018-02-22 12:30] zorancupic opened #3426 "MobileNet TF-Slim freezing graph / input and output nodes"
### System Information:

Tensorflow Version: 'v1.4.0-rc1-11-g130a514', '1.4.0'
Also tested this with all versions from 1.0.0 to 1.4.0
OS: Ubuntu 16.04
CUDA: CUDA 8.0

### Problem
I retrained the in TF-Slim implemented MobileNet on a custom dataset. I'm using this implementation of the Mobile Net in TF-Slim : https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.py

The r

[2018-02-22 13:14] zeynali commented on #3081
Hi ,
i faced with this error :

INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv be

[2018-02-22 13:30] rana3579 commented on #1863
Hi Folks,

I am facing issue while trying to run the train.py in Windows 10 system. Below is the error message what I am getting.
` from ._conv import register_converters as _register_converters
Traceback (most recent call last):
  File "train.py", line 49, in <module>
    from object_detection import trainer
  File "D:\New\PythonCode\models-master\models-master\research\object_detection\trainer.p

[2018-02-22 14:03] Walid-Ahmed commented on #2214
Me too have the same error

[code]

[2018-02-22 14:05] mstferis opened #3427 "Tensorflow Object Detection API Detects Old Classes as My Custom Object"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-02-22 14:38] harshitladdha commented on #3421
This error is due to the incompatibility of file tf_example_decoder.py with the Tensorflow installed.

In file models/research/object_detection/data_decoders/tf_example_decoder.py:

line 28:

[code]

line 104:

    self.items_to_handlers = {
        fields.InputDataFields.image:
            slim_example_decoder.Image(
                image_key='image/encoded',
                format_key='image/for

[2018-02-22 15:27] Bhumbra opened #3428 "Pickle load code in generate_cifar10_tfrecords com not compatible with Python 3.x"
### Describe the problem
Read pickle load code in /model-master/tutorials/image/cifar10_estimator/generate_cifar_tfrecords.py causes the usual pickle error when run in Python 3.

### Source code / logs

Culprit line (#66):
`data_dict = pickle.load(f)`

... should presumably be...

`data_dict = pickle.load(f, encoding='latin1')`

... to avoid errors in Python 3.x

[2018-02-22 15:46] pujoseno commented on #3316
yes, we have same error but i'dont no to fixed this bug.

[2018-02-22 16:46] Rabia-Metis opened #3429 "Query about inception layers"
No issue in the code. I just want to know that inception-resnet-v2 model consists of how many layers? I have counted them to be 95 but I am not sure

[2018-02-22 17:43] bkj opened #3430 "DELF: Evaluation (Figure 5 in paper)"
Are you able to give further explanation of Figure 5 in the [paper](https://arxiv.org/pdf/1612.06321.pdf)?

Specifically, the description in the text makes it sound like the x axis is the total number of true positives across all queries -- but there are 111K query images and the plot is truncated at 1K.  Am I misinterpreting the chart somehow?

Thanks

cc @andrefaraujo

[2018-02-22 17:55] karmel commented on #673
Is this still an issue? @calberti , can you comment?

[2018-02-22 17:56] karmel commented on #679
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 17:56] #679 closed

[2018-02-22 18:00] andrefaraujo commented on #3430
I think your interpretation is correct: the x axis denotes the number of retrieved true positives across all queries (which corresponds to an unnormalized true recall value), for each technique. So in the plot we can see eg: for technique A, when it retrieves 500 true positives, with which precision does it do so?

Many queries do not show landmarks (in the paper referred to as distractor queries)

[2018-02-22 18:03] ptruka commented on #3252
I tried ohnabes solution and it fixed the error for me.
Thank you very much for your support!

[2018-02-22 18:11] karmel commented on #726
@sguada Can you comment on this issue and related PR #408 ?

[2018-02-22 18:19] bkj commented on #3430
OK -- got it.  So the moral of the plot is that the dataset is extremely hard -- eg, for CONGAS, it says "if you take the 100 most confident matches, only half of them are actually correct?.  And for DELF, that number improves to roughly "if you take the 500 most confident matches, only half of them are actually correct"

[2018-02-22 18:19] atabakd commented on #2474
I'm having the same issue!

[2018-02-22 18:22] andrefaraujo commented on #3430
right

[2018-02-22 19:15] tatianashp commented on #3252
Great. @ohnabe thank you for your help!

[2018-02-22 19:15] #3252 closed

[2018-02-22 19:20] karmel commented on #742
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:20] #742 closed

[2018-02-22 19:20] karmel commented on #788
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 19:20] #788 closed

[2018-02-22 19:21] karmel commented on #814
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:21] #814 closed

[2018-02-22 19:22] karmel commented on #827
@cshallue Can you comment?

[2018-02-22 19:24] karmel commented on #828
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:24] #828 closed

[2018-02-22 19:26] a-dai commented on #2784
Fixed in PR #3414

[2018-02-22 19:26] #2784 closed

[2018-02-22 19:27] karmel commented on #830
@calberti Can you comment?

[2018-02-22 19:27] karmel commented on #843
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:28] karmel commented on #856
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:28] #856 closed

[2018-02-22 19:29] #843 closed

[2018-02-22 19:29] karmel commented on #859
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:29] #859 closed

[2018-02-22 19:30] karmel commented on #869
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:30] #869 closed

[2018-02-22 19:30] karmel commented on #874
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:30] #874 closed

[2018-02-22 19:32] karmel commented on #942
#946 was merged; closing this issue.

[2018-02-22 19:32] #942 closed

[2018-02-22 19:33] karmel commented on #975
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 19:33] #975 closed

[2018-02-22 19:33] karmel commented on #986
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:33] #986 closed

[2018-02-22 19:34] karmel commented on #1005
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:34] #1005 closed

[2018-02-22 19:36] derekjchow commented on #3422
Have you [run the evaluation job](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_locally.md#running-the-evaluation-job)?

[2018-02-22 19:40] karmel commented on #1034
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:40] #1034 closed

[2018-02-22 19:42] karmel commented on #1050
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow, and using the preferred version of the tutorial linked above. Thank you.

[2018-02-22 19:42] #1050 closed

[2018-02-22 19:42] karmel commented on #1056
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:42] #1056 closed

[2018-02-22 19:42] a-dai commented on #3269
Fixed in 4c21dfa

[2018-02-22 19:42] #3269 closed

[2018-02-22 19:43] karmel commented on #1061
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:43] #1061 closed

[2018-02-22 19:43] karmel commented on #1078
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:43] #1078 closed

[2018-02-22 19:44] a-dai commented on #1917
Adversarial_text has been changed to not use bazel.

[2018-02-22 19:45] karmel commented on #1116
It sounds like this is an XCode/protobuf issue. This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 19:45] #1116 closed

[2018-02-22 19:47] karmel commented on #1120
The inception model being discussed here has been deprecated in favor of [the SLIM version](https://github.com/tensorflow/models/tree/master/research/slim). I am closing this issue, but please reopen an issue if necessary after switching to the SLIM model.

[2018-02-22 19:47] #1120 closed

[2018-02-22 19:49] karmel commented on #1156
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-22 19:49] #1156 closed

[2018-02-22 19:57] karmel commented on #1163
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:57] #1163 closed

[2018-02-22 19:59] karmel commented on #1195
Please take a look at the [official version of Resnet](https://github.com/tensorflow/models/tree/feat/multi-gpu-resnet/official/resnet), which accepts different sizes as a command line arg.

[2018-02-22 19:59] #1195 closed

[2018-02-22 20:00] karmel commented on #1196
@sguada Can you comment?

[2018-02-22 20:01] karmel commented on #1213
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 20:01] #1213 closed

[2018-02-22 20:04] zeynali commented on #3422
i've retrained ssd_mobienet_coco on my dataset and i want to calculate mAP ? what do i do ? is need to install cocoapi ? my custom subfolder in object detection folder :
 data : contains: my_label_map.pbtxt and my_train.record and my_val.record ssd_mobilenet_v1_coco_2017_11_17 : downloaded check point model and ssd.config from samples/config training_ssd_mobile :
my trained check points in the eva

[2018-02-22 20:43] agnellodcosta opened #3431 "slim_example_decoder.BackupHandler( AttributeError: 'module' object has no attribute 'BackupHandler"
### System information
- **What is the top-level directory of the model you are using**: /tensorflow/models/research/object_detection/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comm

[2018-02-22 21:13] gariepyalex commented on #3270
The hack works on the pretrained model from the model zoo but not on finetuned model exported using `export_inference_graph.py`.

[2018-02-22 21:29] karmel commented on #1224
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 21:29] #1224 closed

[2018-02-22 21:56] noahstier opened #3432 "models/research/object_detection requires Tensorflow 1.5"
### System information
- **What is the top-level directory of the model you are using**:
models/research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary: "conda install tensorflow-gpu=1

[2018-02-22 22:04] noahstier commented on #3432
This issue also references a dependency on the 1.5 release:
https://github.com/tensorflow/models/issues/3421

[2018-02-22 22:05] karmel commented on #1245
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 22:05] #1245 closed

[2018-02-22 22:07] karmel commented on #1251
@lukaszkaiser Can you comment on this or close if no longer relevant?

[2018-02-22 22:15] harahu opened #3433 "Mismatch between code and docs"
[train_input_fn()](https://github.com/tensorflow/models/blob/d903d5edbc0dc540ebf7971a7fec8b5d0dc903cb/samples/core/get_started/iris_data.py#L30-L39) in iris_data.py is used as the basis for the [Datasets quickstart tutorial](https://www.tensorflow.org/get_started/datasets_quickstart). At the moment there is a mismatch between the code in the tutorial and the actual code in the models repo. The tut

[2018-02-22 22:47] bignamehyp commented on #3433
Thanks for finding this bug! @nealwu can you please take a look?

[2018-02-22 22:55] bignamehyp commented on #3427
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 22:55] #3427 closed

[2018-02-22 22:56] bignamehyp commented on #3429
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 22:56] #3429 closed

[2018-02-22 23:02] bignamehyp commented on #3431
@tombstone can you please take a look?

[2018-02-22 23:12] Superlee506 commented on #1418
@waleedka I also found this issue, and doubted about their explanation.  In the other hand, they said their pretrained parameters of Resnet V1 was converted from the original Caffe. It makes more confused.

![image](https://user-images.githubusercontent.com/13114675/36569473-f592a462-17fb-11e8-9c78-71d9f614c40d.png)

[2018-02-22 23:20] bignamehyp commented on #3423
@tombstone  can you please take a look? Thanks

[2018-02-22 23:23] bignamehyp commented on #3421
@nathansilberman can you please take a look? Thanks

[2018-02-22 23:26] Superlee506 commented on #1418
@irmowan Which version of ResNet did you modify? The ResNet models were trained by themselves except the ResNet V1 which was converted from Caffe. So if change the models trained by themselves, the performance should decrease.

[2018-02-22 23:28] bignamehyp commented on #3413
@joel-shor can you please take a look?

[2018-02-22 23:35] foreverYoungGitHub commented on #3081
@zeynali, This is caused by the `metrics` is not define first.

If in repeated_checkpoint_run it should be defined as following:

[code]

[2018-02-22 23:41] atabakd commented on #2474
Ok I figured it out :muscle:
If you want to use a classifier which is trained on imagenet but train the detector yourself, you should download the models from tensorflow zoo and not the detector zoo. E.g. the ssd models are [here](https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md).
:fire: Remeber to change back the depth_multiplier to its original value if you had

[2018-02-23 00:06] bignamehyp commented on #3411
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-23 01:48] lukaszkaiser commented on #1251
I think it's still a bug, just nobody corrected it (and the above PR didn't get merged).

[2018-02-23 02:55] harmajoma commented on #3348
Can we have an update in this matter? Has the pre-trained model for NASNet-A (7 @ 1920) been released?

[2018-02-23 03:41] pkulzc commented on #3421
@harshitladdha is right, this code depends on latest tf.contrib.slim.tfexample_decoder, which does not exist in tf 1.5. A fix will be applied soon.

[2018-02-23 03:58] asimshankar commented on #3430
Closing since it appears your question has been answered.

[2018-02-23 03:58] #3430 closed

[2018-02-23 03:59] asimshankar commented on #3432
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon : Perhaps the documentation needs to be updated?

[2018-02-23 04:25] zeshaoaaa opened #3434 "__init__() got an unexpected keyword argument 'dct_method'"
### System information
- **What is the top-level directory of the model you are using**:
      C:\Users\Administrator\Documents\Projects\models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
     Just changed the filename of 'train.py' to 'my_train.py'.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Windows 10
- **TensorFl

[2018-02-23 04:30] xiaoyongzhu commented on #2653
@caroline6927 I can also confirm the same issue from my side. I have the latest tensorflow/model repo cloned and I am using Tensorflow 1.4.0 in the installation.

[2018-02-23 05:28] asimshankar commented on #3434
Note that the code in the master branch of the repository may depend on code in the master branch of the TensorFlow repository. Could you try the version in the `r1.4` or `r.15` branch instead?

[2018-02-23 05:41] bignamehyp commented on #3373
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-23 05:43] AshutoshSancheti commented on #3358
I have resolved the ckpt file error issue. but now I get this error.
[code]

[2018-02-23 05:51] AshutoshSancheti opened #3435 "ValueError: Variable InceptionV4/Conv2d_1a_3x3/weights already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope?"
###System Information
- My OS is Windows 10 64-bit.
- Tensorflow 1.5 GPU version. Installed from binary.
- CUDA version 9.0  cuDNN version 7.0
-GPU -  NVIDIA GeForce 920M 2 GiB

I am using stock example script inception_v4.py  provided in tensorFlow/models/research/slim/nets/
without modifing it and added  new layers to classify 120 objects instead of 1001 objects. The code is given below:

The pa

[2018-02-23 06:29] bignamehyp commented on #3435
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-23 06:35] bignamehyp commented on #3409
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 06:35] #3409 closed

[2018-02-23 06:52] zeshaoaaa commented on #3434
@asimshankar r1.5 works, thanks a lot!

[2018-02-23 06:59] #3369 closed

[2018-02-23 07:00] bignamehyp commented on #3365
@tombstone can you please take a look?

[2018-02-23 07:01] #3361 closed

[2018-02-23 07:03] VanitarNordic commented on #3365
Background only images definitely increase the performance, specially by adding false positive containing images

[2018-02-23 07:23] bignamehyp commented on #3407
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-23 07:29] bignamehyp commented on #3405
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 07:29] #3405 closed

[2018-02-23 07:48] #3393 closed

[2018-02-23 07:49] #3395 closed

[2018-02-23 07:50] bignamehyp commented on #3397
Please provide more details for your problem description. Maybe a figure?

[2018-02-23 07:51] zeynali commented on #3081
again got error

[2018-02-23 07:57] bignamehyp commented on #3391
Maybe follow examples from: https://www.tensorflow.org/tutorials/layers instead?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what

[2018-02-23 08:25] bignamehyp commented on #3385
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:25] #3385 closed

[2018-02-23 08:28] #3381 closed

[2018-02-23 08:32] bignamehyp commented on #3377
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:32] bignamehyp commented on #3379
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:32] #3379 closed

[2018-02-23 08:39] asimshankar commented on #3412
@jch1 @tombstone @derekjchow @jesu9 @dreamdragon : Mind taking a look?

[2018-02-23 08:40] bignamehyp commented on #3351
@nealwu what do you think?

[2018-02-23 08:44] liu09114 commented on #3385
Did you solve this problem?

[2018-02-23 08:46] bignamehyp commented on #3355
Thanks! @sguada can you please take a look?

[2018-02-23 08:56] MTDzi commented on #2418
Hey,

it seems this problem has an easy solution, but was not fixed yet, and I can't find a matching Pull Request.
@himani-arora would you like to make a Pull Request resolving this?

[2018-02-23 09:08] asimshankar commented on #3426
Could you elaborate on how you created the unfrozen graph to begin with? Were you using the [export script](https://github.com/tensorflow/models/blob/master/research/slim/scripts/export_mobilenet.sh), or did you use something else to create the graph that was later frozen? If not using the script, the name of the input node would depend on the details of how you created the graph.

[2018-02-23 09:28] asimshankar commented on #3418
See https://www.tensorflow.org/performance/performance_guide#data_formats for some discussion on data formats. Generally, we use NCHW when training on NVIDIA GPUs with cuDNN.  The training script selects the format automatically (see [flags](https://github.com/tensorflow/models/blob/master/official/resnet/resnet.py#L606) and [code](https://github.com/tensorflow/models/blob/master/official/resnet/r

[2018-02-23 09:28] #3418 closed

[2018-02-23 09:29] nguyeho7 commented on #3270
@gariepyalex is it slower? Or how does it not work?

[2018-02-23 09:48] zeynali commented on #2387
@shamanez , did you can train Faster_rcnn_res101 ? my system 1080 , 16G ram ,
https://github.com/tensorflow/models/issues/3408

[2018-02-23 09:53] GustavZ opened #3437 "Error using mask networks"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0
- **Baze

[2018-02-23 10:28] zeynali commented on #1696
@YanLiang0813 , what's your GPU ?

[2018-02-23 11:01] zorancupic commented on #3426
I used this script to [script](https://gist.github.com/morgangiraud/249505f540a5e53a48b0c1a869d370bf#file-medium-tffreeze-1-py) freeze the graph, which uses the checkpoint state files. In the export script there is a unfrozen graph as pb file needed, which I did not have trough the training. For training I used the `train_image_classifier.py` which is provided in TF-Slim and it does not write me a

[2018-02-23 11:04] zeynali opened #3438 "fine_tune faster_resnet101_coco by GTX 1080"
hello ,
is it possible to fine-tune that model with 1080 ? for test that model with 1080 what ?

[2018-02-23 11:31] FarooqKhan commented on #3424
I totally agree with your reply, I have raised a [PR 3440](https://github.com/tensorflow/models/pull/3440).
I have tested this change and this part works fine. However, I do want to mention that I have been trying out predict and so far have not succeeded completely so cannot be 100% sure about this change.

[2018-02-23 12:00] clovking commented on #1700
@hosseinece ，I meet a silimar question with you, May i ask if the question has been solved? thank you!

[2018-02-23 12:07] nguyeho7 commented on #3437
Maybe try updating to TF 1.5?

[2018-02-23 12:12] clovking commented on #597
@ajkl , I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-23 12:17] zorancupic commented on #3426
I also tried the export script from the scripts directory independent of my graph to test if it works. I got this error

`ERROR: Skipping 'slim:export_inference_graph': no such package 'scripts/slim': BUILD file not found on package path
WARNING: Target pattern parsing failed.
ERROR: no such package 'scripts/slim': BUILD file not found on package path
INFO: Elapsed time: 1,464s
FAILED: Build did N

[2018-02-23 12:20] clovking commented on #564
@danleh93 ,  I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-23 12:33] GustavZ commented on #3437
@nguyeho7 yeah that solved the problem.
In the tutorial is still written that 1.4 is sufficient.
@tensorflowbutler should maybe update this

[2018-02-23 13:17] itsergiu opened #3441 "Jupyter Notebook iris_data.ipynb for iris_data.py"
The purpose of  application iris_data.ipynb is to provide Tensorflow iris_data.py tested step by step code in format of Jupyter Notebook .
This may help you to speed up your tests and understanding.

Source:
https://www.tensorflow.org/get_started/get_started_for_beginners
https://github.com/tensorflow/models/blob/master/samples/core/get_started/iris_data.py

Solution:
https://github.com/itsergiu/T

[2018-02-23 13:39] madhavajay commented on #3270
Why is that speed still faster than my Nvidia K80 on the AWS px2.large?
I suspect its only using the CPU.... but i see the python process being bound to the nvidia-smi tool. Do I need to re-export the graph using the same tensorflow-gpu / device setup that I want to run it on?

[2018-02-23 14:55] gariepyalex commented on #3270
@nguyeho7 It looks like the model in the model zoo has been generated from an older version of the code (november 17 if you look at the name of the tar.gz file). After running `export_inference_graph.py`, the graph is now slightly different and I have an error when I load the frozen graph. I try to add another cutoff point without success.

[2018-02-23 15:00] ajinkya933 commented on #3397
Ok, sure. I have trained Tensorflow object-detection API to detect confinements I am using faster rcnn resnet 101 model (retraining the last layer of it) to do so. If you see the following figure: Figure 1 it detects all the confinements correctly (it also does so when there are many confinements at aligned vertically or horizontally)

Figure 1:
![capture](https://user-images.githubusercontent.com

[2018-02-23 15:16] nguyeho7 commented on #3270
@madhavajay No you don't need to re-export the graph, it should pick the GPU automatically and from your previous message it does look like the speed improved when you added the GPU. There are many other factors (resolution, image loading is very notable, batch sizes) that affect the speed. Also note that their reported times are on an Titan X instead of a k80.

This thread is more about proper de

[2018-02-23 15:26] DavidDota commented on #373
@UB1010  Can you give me your QQ or Wechat？ I have some difficults in doing summatization, my QQ is 343464360

[2018-02-23 15:27] agnellodcosta commented on #3431
@tombstone - Any update on this? appreciate your help. I am trying to create/train a model for identifying "guns", "weapons" for a school project, using object detection.

[2018-02-23 15:51] RonakDedhiya opened #3443 "TypeError: Expected int32, got range(0, 3) of type 'range' instead."
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.

[2018-02-23 17:35] getaleks commented on #3432
Is there an update on this issue? Or has anybody found a work around to enable training?
Unfortunately, I am unable to update to Tensorflow 1.5 at the moment.

Is there an earlier commit that we can revert to before this issue arose?

[2018-02-23 18:35] noahstier commented on #3432
This is the last commit before those changes were merged, I haven't tested it at that point though: d3143cbcf1adfd5fd2c1ec3db160465a16b905be

[2018-02-23 18:37] av8ramit commented on #3326
Sounds good. I'll take it from here.

[2018-02-23 19:46] NoamWhy commented on #3394
Hi vladpaunescu,

I am having the same error message, could you please explain better how exactly did you solve it?

Thanks

[2018-02-23 19:47] NoamWhy opened #3444 "Error: cycle_length must be greater than zero."
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-02-23 19:56] NoamWhy commented on #3444
Hi, I am trying to train my own model, but I am getting the following error:

INFO:tensorflow:Error reported to Coordinator:
<class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, cycle_length must be greater than zero.

I have noticed that https://github.com/tensorflow/models/issues/3394 has also got the same error, and he managed somehow to resolve it, though I couldn't fully un

[2018-02-23 21:26] getaleks commented on #3432
I tested [d3143cb](https://github.com/tensorflow/models/commit/d3143cbcf1adfd5fd2c1ec3db160465a16b905be) and unfortunately got the BackupHandler error:

`in __init__
    label_handler = slim_example_decoder.BackupHandler(
AttributeError: 'module' object has no attribute 'BackupHandler'`

This error has already been described here: [#2653](https://github.com/tensorflow/models/issues/2653).

[2018-02-23 21:43] lukaszkaiser commented on #2418
Please make a PR guys, thanks!

[2018-02-23 22:08] npeirson commented on #3431
In my experience, `pip3 install tensorflow` doesn't necessarily install the latest version, so be sure to check your version and upgrade if necessary. You can check it with 'python3` --> `import tensorflow as tf` --> `print(tf.__version__)`  but you could also just run `pip3 install --upgrade tensorflow` and it'll ignore it if not needed.

Also, be sure to set the PYTHONPATH environmental variable

[2018-02-23 22:30] martinwicke commented on #3329
It is possible. Many ops already support higher rank tensors. If you run into problems with some who don't, for those for which such an extension is straightforward it is often enough to add an op registration for a higher rank (see for example the registrations for tf.reverse up to rank 8: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/reverse_op.cc#L190).

The main

[2018-02-23 22:30] #3329 closed

[2018-02-24 00:40] JackLaii commented on #2888
Same problem here....
![image](https://user-images.githubusercontent.com/30027539/36623307-0e99bad6-18c9-11e8-98c4-75c889fa94b0.png)

[2018-02-24 01:46] siyuanzhuang opened #3449 "sess.run() operation is too time-consuming"
sess.run operation is too time-consuming,take me about 30s. Is there any other way to replace it? Improve the speed of detection
CPU:1
frozen_inference_graph.pb size:181M
### Source code / logs
# Actual detection.
(boxes, scores, classes, num_detections) = sess.run(
                [boxes, scores, classes, num_detections],
                feed_dict={image_tensor: image_np_expanded})
Using the GPU

[2018-02-24 02:45] clovking commented on #1840
@FPerezHernandez92 ,  I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-24 05:45] kosintop commented on #3385
@liu09114 sadly no, i also posted this question on stackoverflow with no answer

https://stackoverflow.com/questions/48795950/tensorflowobject-detection-valueerror-when-try-to-train-with-num-clones-2

[2018-02-24 06:09] liu09114 commented on #3385
The batch_size in config file should be set the same number as your num_clones, which could prevent this.
The batch_size in detection and classification tasks has different definition.

[2018-02-24 07:05] kosintop commented on #3385
@liu09114 I wont have access to PC that i used for training for a while, i'll try your suggestion once i could. Thank you for your guide

[2018-02-24 07:34] vonchenplus commented on #3443
I am having the same error message

[2018-02-24 08:08] mattryles commented on #1840
I think it may have ran out of memory, trying halfing the size of the images, if it runs then it was.

[2018-02-24 08:26] vonchenplus commented on #3444
update to last version

[2018-02-24 09:56] Chaoyang-Zhu opened #3451 "PCA projection matrix"
I'm wondering where is the pca projection matrix I saw in `extract_feature.py` that pca matrix is stored in `config.delf_local_config.pca_parameters.projection_matrix_path`, which points to `delf_config_pb2` imported from `delf`, but I can't find it.

[2018-02-24 12:06] maedhril commented on #2930
This command solved my problem. However, you have to run this batch process in the research folder because some of the proto dependencies are hardcoded.

`for /r %%v in (*.proto) do <YOUR_PROTO_PATH> object_detection\protos\%%~nv%%~xv --python_out=.`

[2018-02-24 14:35] cipri-tom commented on #1840
@clovking the problem in his case was `InvalidArgumentError: Invalid JPEG data, size 3210028` (among the last lines of the error). He probably had an incorrect JPEG. So check your input data

[2018-02-24 17:12] ParinithShekar commented on #3366
@VanitarNordic I am experiencing the same behavior. I am trying to use TensorFlow's object detection API.
**Platform**: Ubuntu 16.04 64-bit
**CUDA**: Cuda-9.0.176.1 and CuDNN-7.0.5 - GTX 1060 6GB GPU
**Tensorflow version**: 1.5.0. Installed through pip (_pip install tensorflow-gpu_ also tried _tensorflow-gpu==1.5.0_)
Specifically, I am running SSD mobilenet using a webcam and  I can see CPU load s

[2018-02-24 17:16] VanitarNordic commented on #3366
@ParinithShekar

Hi. Yes you are not alone. at least 3 people reported it under this issue. I hope @cy89  consider it as soon as possible.

[2018-02-24 17:29] karmel commented on #1251
@cclauss Note that this is an open issue on Python3 compatibility with a code owner available, if you want to contribute.

[2018-02-24 17:35] karmel commented on #1261
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-24 17:35] #1261 closed

[2018-02-24 17:38] karmel commented on #1263
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-24 17:38] #1263 closed

[2018-02-24 17:49] karmel commented on #1287
The Inception model referenced here has been deprecated in favor of https://github.com/tensorflow/models/tree/master/research/slim . Please have a look at that version.

[2018-02-24 17:49] #1287 closed

[2018-02-24 17:50] karmel commented on #1288
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 17:50] #1288 closed

[2018-02-24 18:07] karmel commented on #1295
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 18:07] #1295 closed

[2018-02-24 18:08] karmel commented on #1296
@tfboyd is this issue still relevant?

[2018-02-24 18:09] karmel commented on #1311
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 18:09] #1311 closed

[2018-02-24 18:10] karmel commented on #1313
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 18:10] #1313 closed

[2018-02-24 18:11] karmel commented on #1314
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 18:12] #1314 closed

[2018-02-24 18:14] karmel commented on #1316
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Please also see #1314 . Thanks!

[2018-02-24 18:14] #1316 closed

[2018-02-24 18:32] karmel commented on #1355
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 18:32] #1355 closed

[2018-02-24 18:37] karmel commented on #1374
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 18:37] #1374 closed

[2018-02-24 18:38] karmel commented on #1376
@keveman can you comment?

[2018-02-24 18:39] karmel commented on #1378
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-24 18:39] #1378 closed

[2018-02-24 18:42] arberzela opened #3452 "Problem reproducing results for CIFAR-10 with the TF-Slim NASNet model"
**System information**

TensorFlow Version: 1.5.0
TensorFlow installed from source
Bazel version: 0.10.1
OS: Ubuntu 16.04
CUDA: 8.0
cuDNN: 5.0
GPU model: NVIDIA Titan X

**Issue**

I want to reproduce the results for the NASNet models on CIFAR-10 for some benchmarking purposes, using the TF-Slim implementation in https://github.com/tensorflow/models/tree/master/research/slim. In order to train thi

[2018-02-24 18:54] karmel commented on #1389
Automatically closing due to lack of recent activity. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2018-02-24 18:54] #1389 closed

[2018-02-24 18:55] karmel commented on #1392
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 18:55] #1392 closed

[2018-02-24 18:56] karmel commented on #1396
@bousmalis can you comment?

[2018-02-24 18:57] karmel commented on #1400
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 18:57] #1400 closed

[2018-02-24 18:57] karmel commented on #1402
Closing as a duplicate of #726

[2018-02-24 18:57] #1402 closed

[2018-02-24 19:00] karmel commented on #1403
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 19:00] #1403 closed

[2018-02-24 19:01] karmel commented on #1411
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-24 19:01] #1411 closed

[2018-02-24 19:02] karmel commented on #1416
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-24 19:02] #1416 closed

[2018-02-24 20:21] MTDzi commented on #2418
Hey,

I've made a PR: #3453

I would be also interested in understanding the code better, and I think I have a few ideas for refactoring it -- would you be interested in another PR with proposed changes?

[2018-02-24 20:39] agnellodcosta commented on #3431
@npeirson  Thanks. I was able to train export the graph locally. However, when I use the jupyter  notebook for object_detection_tutorial, I receive the following error,

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-121-b19082c2666b> in <module>()
      7   image_np_expanded = n

[2018-02-24 22:55] evolu8 commented on #2225
@cipri-tom  "The evaluation results are published in summaries, which you can see in TensorBoard"
Where? I'm not seeing anything useful in tensorboard. I see some images, and the graph. I want to see metrics. I'm running eval.py

Many thanks in advance.

[2018-02-25 00:37] ptruka opened #3455 "pipeline.config: max_to_keep"
Hello,
I'm picking up the feature request #3197.

Because of the default value (5) of max_to_keep, only the latest 5 checkpoints are available.
An easily accessible parameter in the pipeline.config (train_config) would be a helpful feature.

As @slsd123 mentioned, this should also be possible by a modification of trainer.py.
I unsuccessfully tried to force max_2_keep to 'None' by changing line num

[2018-02-25 03:52] MrWanter commented on #1028
+1

[2018-02-25 09:49] xav12358 commented on #3419
I check the folder on my computer:

C:\Users\Xavier\AppData\Local\Programs\Python\Python36\lib\site-packages\object_detection-0.1-py3.6.eg : exist

C:\Users\Xavier\AppData\Local\Programs\Python\Python36\lib\site-packages\object_detection-0.1-py3.6.egg\slim : don't exist

How to check the python path in windows?

[2018-02-25 10:33] PureMM opened #3456 "Got a problem trying to run premade_estimator.py (pandas - error tokenizing data)"
Hi. I've been following instructions given at :
 https://www.tensorflow.org/get_started/get_started_for_beginners
And I found an error after putting in the "python premade_estimator.py" command in the prompt.

 Error code is as follows;

File "c:\Users\HOME\models\samples\core\get_started\premade_estimator.py", line 34, in main
    (train_x, train_y), (test_x, test_y) = iris_data.load_data()
  Fil

[2018-02-25 11:57] AdamMiltonBarker opened #3457 "Slim Inception TF 1.5.0 / 1.4.0 / 1.3.0"
Hi guys should everything be working as expected with retraining Inception v3 on 1.5.0 / 1.4.0 / 1.3.0 ? On both CPU installation and GPU installations I am receiving errors and cannot retrain.

https://github.com/tensorflow/models/tree/master/research/slim

TF 1.5.0 Windows  GPU GTX1050ti
TF 1.4.0 Ubuntu LTS CPU
TF 1.3.0 (Raspian Stretch)

Errors include:

[code]

Similar errors on CPU. TIA

[2018-02-25 14:39] zeynali commented on #1715
@GBJim , Hi , i have trained ssd_mobile_coco on my own dataset , and i have some questions :
Q1: i want to measurement of speed ,
Q2 :  i want to measurement of mAP .
Q3 : is it possible to view mAP for validation when i running training ? HOW?
Q3 : how to be converted (ms) to FPS ?

[2018-02-25 14:45] s7ev3n opened #3458 "How to train the fc layer which computes the representation in top-view space ?"
@s-gupta , I'd like to train my own model, but a little confused about how to train the fc layer in the mapping module. Plz give me a little help, thanks so much.

[2018-02-25 15:13] pianas commented on #3366
Any news on this? I have the same problem with tensorflow 1.6.0rc1, keras 2.1.4 and cuda 9.0 (on both Linux and Windows, single-GPU and multi-GPU).

[2018-02-25 19:37] DominikAuras opened #3459 "object_detection Python3 compatibility variables_helper.filter_variable"
In Python 3, the builtin `filter` returns an iterator. Consequently, the function `utils.variables_helper.filter_variables(...)` does not work properly, due to this code line:
https://github.com/tensorflow/models/blob/4d1f67cf1a0c6f4cccdd2e3e46ce036c0a734e94/research/object_detection/utils/variables_helper.py#L45
Possible solution: convert to list, e.g. `list(filter(None, ...`

I noticed that when

[2018-02-26 03:24] xbcReal commented on #2661
@tombstone hi tombstone,do you know how to use the embedded ssd mobilenet in opencv c++ version ,I just met this problem,could you please have a look at this issue:https://github.com/opencv/opencv/issues/10939

[2018-02-26 03:57] wudeshi opened #3460 "How much memory is enough to run adversarial_txt？"
I have a GPU of 24G memory，but it is not enough。

![image](https://user-images.githubusercontent.com/18420038/36652879-8dcd2e44-1aec-11e8-9455-8022ac76aa48.png)

[2018-02-26 07:13] yash486gadhavi commented on #1595
In my case, the proto folder contains no file named  'string_int_label_map_pb2' instead there is a file named string_int_label_map.proto but still i  am not able to import that file please help me

[2018-02-26 07:35] zhaoxin19 commented on #3304
I meet the same problem with tensorflow1.5. Something should be noticed, that the conv2d op is put on CPU while the code put it on GPU. And the same code can run well on tensorflow 1.4. Looking forward for a solution.

_device="/job:localhost/replica:0/task:0/device:CPU:0"

[2018-02-26 08:18] pkulzc commented on #3419
Object detection depends on slim, so you need to download slim and put it there first. As for windows python path, you can probably google it (this is the first [result](http://www.codingdefined.com/2015/09/how-to-set-up-pythonpath-in-windows-10.html) for me).

[2018-02-26 08:33] ducanh841988 opened #3461 "Android mobile. Why is there a difference in speed inference time in conv2D layers for SSD mobile models?"
### System information
- **What is the top-level directory of the model you are using: models/research/object_detection/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:No
- **OS Platform and Distribution **:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:Binary
- **TensorFlow version (use command below)**:1.5
- **Bazel ver

[2018-02-26 08:39] #3449 closed

[2018-02-26 09:01] antlad opened #3462 "Can't run an `Instance Segmentation` model example from docs (Object detection / TF 1.5)"
### System information
- **What is the top-level directory of the model you are using**:
models/research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
pip install tensorflow-gpu
- **TensorFl

[2018-02-26 09:17] antlad commented on #3462
same [issue](https://github.com/tensorflow/models/issues/3443)

[2018-02-26 09:45] nguyeho7 commented on #3421
Another workaround is to install tf-nightly (version 1.7)

[2018-02-26 10:23] thecortex opened #3463 "Feature Suggestion: Song Han 2015 & 2017 Deep Compression"
Hello,

One of my projects is to apply Song Han 2015 & 2017 Deep Compression on a model generated by Google Detection API: https://github.com/tensorflow/models/tree/master/research/object_detection

I have some questions:

1- Is it a good idea?
2- Have you guys attempted a similar compression technique for mobile and embedded devices?
3- Should I modify the training and the model methods in Tensor

[2018-02-26 10:28] #3463 closed

[2018-02-26 10:31] zack686 opened #3464 "Feature Suggestion: Song Han 2015 & 2017 Deep Compression"
Hello,

One of my projects is to apply Song Han 2015 & 2017 Deep Compression on a model generated by Google Detection API: https://github.com/tensorflow/models/tree/master/research/object_detection

I have some questions:

1- Is it a good idea?
2- Have you guys attempted a similar compression technique for mobile and embedded devices?
3- Should I modify the training and the model methods in Tensor

[2018-02-26 10:56] DominikAuras opened #3465 "object_detection: python3 compatibility: range creates iterator"
In Python 3, `range(...)` creates an iterator. This leads to a failure here:
https://github.com/tensorflow/models/blob/4d1f67cf1a0c6f4cccdd2e3e46ce036c0a734e94/research/object_detection/utils/learning_schedules.py#L153
The op `tf.constant` correctly complains, that it received an iterator, not a list of integers.

Possible fix: use `list(range(...))` or adapt `tf.constant` to accept iterators.

[2018-02-26 11:39] steveBetl commented on #3092
You can fix this by editing pixelda_train.py
I'm not sure this is the best way, but it works.
Go to line 326 and change:
        **vars_to_train = list(discriminator_vars)**
        discriminator_train_op = slim.learning.create_train_op(
            discriminator_loss,
            discriminator_optimizer,
            update_ops=discriminator_update_ops,
            **variables_to_train=vars_to_tra

[2018-02-26 12:15] nguyeho7 opened #3466 "resnet_v1_50() got an unexpected keyword argument 'store_non_strided_activations'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-02-26 13:31] chrisrn commented on #3418
Thank you my question is answered but you have to make clear in slim documentation that pre-trained models are in NCHW since slim models are not optimized for this kind of format.

[2018-02-26 13:36] Vento96 opened #3467 "Box Label for object detection"
Hello.
I would like to find out how to return the ID of the detected object.

------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: YES
- **OS Platform and Distribution (e.g., Windows 10)**:
- **TensorFlow installed from (source or binary)**:YES
- **TensorFlow version ()**:1.5.0
-CPU(Intel i5 3320m, 8gb

[2018-02-26 14:33] gariepyalex commented on #3270
What is weird is that if you look in tensorboard at the graph generated when running `eval.py`, there is no device information either. I propose to directly fix the device to CPU in `ssd_meta_arch.py` (see my pull request). This way, pre- and post-processing steps are correctly run on CPU in the exported graph.
I tested on a TX2 and I achieve around 18 FPS. Also, there is no more need for the orig

[2018-02-26 17:42] idorozenberg commented on #3323
The bigger issue is the parent variable scope - or the lack of it.
If you look at the summaries you will see that this op is named 'Conv' without a parent scope.
Another issue this brings is using transfer learning from a detection model - see the `restore_map` in

A better solution will be using the first_stage_box_predictor_scope as the variable scope:
[code]

[2018-02-26 17:53] zeynali commented on #1817
@derekjchow ,I am a new in Tensorflow , i saw these queue_capacity and min_after_dequeue at the input_reader.proto in the object_detection/protos (object detection api) path. First, I wanted to know the meaning of these two, and what could the role and effect of the two be? in the CPU/GPU ? why ? What are the high and low the effect of these? please more explain about these.

[2018-02-26 18:13] asimshankar commented on #3458
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 18:13] #3458 closed

[2018-02-26 19:05] jhovell opened #3470 "Evaluation step for pets demo does not work in Google Cloud ML engine"
When following the step described [here in the documentation](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_cloud.md#running-an-evaluation-job-on-cloud) an error is thrown about pycocotools being missing.

This issue is described [here](https://github.com/tensorflow/models/issues/3367) as well as on a [Stack Overflow thread](https://stackoverflow.com/q

[2018-02-26 19:08] angersson commented on #3464
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) or discuss@tensorflow.org since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:08] #3464 closed

[2018-02-26 19:10] angersson commented on #3462
Duplicate of https://github.com/tensorflow/models/issues/3443

[2018-02-26 19:10] #3462 closed

[2018-02-26 19:12] angersson commented on #3443
@tombstone Looks like a small Python 3 incompatibility, can you take a look?

[2018-02-26 19:29] angersson commented on #3470
Can you include the exact commands you are using?

[2018-02-26 19:33] angersson commented on #3460
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:33] #3460 closed

[2018-02-26 19:40] angersson commented on #3466
@sguada Any thoughts on this?

[2018-02-26 19:43] angersson commented on #3456
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:43] #3456 closed

[2018-02-26 19:45] #2418 closed

[2018-02-26 19:52] angersson commented on #3438
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:52] #3438 closed

[2018-02-26 19:52] angersson commented on #3444
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:52] #3444 closed

[2018-02-26 19:53] angersson commented on #3452
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-26 19:53] #3452 closed

[2018-02-26 19:58] angersson commented on #3428
@joel-shor Can you look at this?

[2018-02-26 20:00] pkulzc commented on #3470
Please follow the COCO API installation section described [here](https://github.com/pkulzc/models/blob/master/research/object_detection/g3doc/installation.md#coco-api-installation).

[2018-02-26 23:36] ngksai93 commented on #1897
i have also the same issue

[2018-02-27 01:03] madhavajay commented on #3270
@nguyeho7 okay but surely the Titan X isnt as fast as the K80?
I understand that its possible that many images could be done in a batch, but if they are from a video source they are only coming in at a certain rate. Does that mean that SSD for inference can't be done faster than 8fps no matter the hardware currently? Is the entire model just too big and slow to execute through?

Thats what im tryi

[2018-02-27 01:26] s7ev3n commented on #3458
@asimshankar I think you misunderstand me. I am asking s-gupta questions about his paper in reserach/cognitive_mapping_and_planning, and his code and paper do not specify how to train fc layer in his mapping module.
Alright, I will ask this question somewhere else.

[2018-02-27 01:55] MicrocontrollersAndMore opened #3476 "when using train.py, getting error TypeError: __init__() got an unexpected keyword argument 'dct_method'"
What is the top-level directory of the model you are using:
I'm not sure I understand this question entirely, but the file I'm having a problem with is https://github.com/tensorflow/models/blob/master/research/object_detection/data_decoders/tf_example_decoder.py

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No, the concern exists using the stock f

[2018-02-27 02:23] markeroon commented on #2241
I'm really struggling with training a Resnet-50 from scratch also. Is there something wrong with the implementation?

[2018-02-27 02:57] maxwang7 commented on #3476
I'm getting the same problem when going through the quick start tutorial (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md), removing the line fixes the problem for me

[2018-02-27 03:04] rbothra3 commented on #3426
@zorancupic How did you make it work? Thanks!

[2018-02-27 03:04] chengmengli06 commented on #3307
@drpngx  is the problem verified? when will you solve this problem?

[2018-02-27 03:17] gewenpulan commented on #2984
i just solved in my machine,  it because  space
my error commandline is:
python3 train.py \
--logtostderr \
--pipeline_config_path= /home/nvidia/liuhao/ObjectDetectTry/training/ssd_mobilenet_v1_pets.config \
--train_dir=/home/nvidia/liuhao/ObjectDetectTry/training

in this line have a space
--pipeline_config_path= **(space here should be remove )**/home/nvidia/liuhao/ObjectDetectTry/training/ssd_m

[2018-02-27 03:23] DrifterFun commented on #2957
I meet the same problem. Have you solved the problem or could you give me some advice? @AmitSoli

[2018-02-27 03:32] maxwang7 commented on #3431
I'm reproing this problem as well with the same error message, following the pet detector tutorial

[2018-02-27 04:24] akileshbadrinaaraayanan opened #3478 "Unable to run drawing classification tutorial train_model.py"
Tutorial link: https://github.com/tensorflow/models/blob/master/tutorials/rnn/quickdraw/train_model.py

Error message:
Traceback (most recent call last):
  File "train_model.py", line 369, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_pa

[2018-02-27 06:36] guoxiaolu opened #3479 "audioset hyper-parameter problem"
I have noticed that given the wav file, audioset will output sec*96*64 examples_batch and final output sec*128 embedding output. I want to get a larger and fixed embedding output such as 400, but I don't know how to change the hyper-parameter in vggish-params.py. I'm new to wave problems and can you give me some suggestion? @plakal and @dpwe Thank you very much.

[2018-02-27 07:41] lebinhe commented on #202
Thanks @danielschonfeld.
vim bazel-bin/inception/download_and_preprocess_imagenet
Find WORK_DIR and fix it to a right path.

[2018-02-27 07:46] zeynali commented on #3438
https://stackoverflow.com/questions/49003590/fine-tune-faster-resnet101-coco-by-gtx-1080

[2018-02-27 09:05] MicrocontrollersAndMore commented on #3476
maxwang7 thanks for the posting, it seems it's not just me experiencing this concern.  I just posted a pull request:

https://github.com/tensorflow/models/pull/3480

Hopefully one of the TensorFlowers will be able to review this soon, thanks!

[2018-02-27 09:09] beyondli opened #3481 "Does any mobilenetV2 model file release by GOOGLE?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-02-27 09:14] beyondli commented on #3481
I want test this pre-trained model in my project, any hint is appreciated !!

[2018-02-27 10:08] jppgks opened #3482 "TFGAN: distributed training CIFAR example"
@joel-shor I see that the TFGAN CIFAR example is set up to benefit from distributed training:
https://github.com/tensorflow/models/blob/cdb58352b7ee8c2111b7d1183fc28b5bd9b10ff9/research/gan/cifar/train.py#L78
However, I can't seem to find code for a) a cluster spec, and b) where the servers are started using the cluster spec.

[2018-02-27 10:49] Sixigma opened #3483 "Different training behavior using tfrecord produced by "build_image_data.py" and "download_and_convert_cifar10.py""
### System information
- **What is the top-level directory of the model you are using**: slim and inception
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0

[2018-02-27 11:18] JCass45 commented on #1064
Was having similar problems while attempting to train my own CNN models. Deleting the .nv folder in my home directory fixed things for me. I have a repo on my Github with code for the specific project.

RHEL 7
Python 3.5.2
TF-GPU 1.4
CUDA 8.0
cuDNN 5.1

[2018-02-27 15:05] RT-TL commented on #16
@robwell This issue has come of age but did you re-address this & come across a solution? I have the same issue (training with CPU instead of GPU). The issue also appears with mobilnet for most configuurations.

[2018-02-27 16:19] ngksai93 commented on #1897
/home/gopalakrishna/anaconda2/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Traceback (most recent call last):
  File "object_detection/train.py", line 1

[2018-02-27 16:29] mateuszbuda commented on #2751
@MayankSingal Did you post this question on SO or maybe resolved it eventually?
I face the same issue using `faster_rcnn_resnet50_coco.config` on a custom dataset with 2 classes and only one class present in each image.
I tried with tensorflow 1.4 and 1.5.
The only difference was that TF 1.5 run longer before this exception happened (~4k iterations on 1.4 vs ~25k iterations of 1.5).

<details>
  <

[2018-02-27 17:06] skhater commented on #557
@ogail @D-X-Y  Hi there, I'm trying to extract features from custom trained inception resnet v2, for a further step of  indexing the images.Were you able to extract the next to last feature from the inception resnet v2? can you provide some help with how to extract features and how to get the correct tensor name?
Thanks

[2018-02-27 17:32] maxwang7 commented on #3476
@MicrocontrollersAndMore awessome, thanks for doing that. I made the same change locally and it fixed it. I'm guessing the dct_method serves some purpose though so curious if there's something we should be passing in...

[2018-02-27 18:15] deepaksuresh commented on #3167
@nealwu I have trained a model in `channel_first` format on `GPU`. I'd like to perform inference using that model on `CPU`, but `CPU` supports only `channel_last` format. Is there a way I can convert the trained model to run on `CPU`?

[2018-02-27 18:33] angersson commented on #3478
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-27 18:33] #3478 closed

[2018-02-27 18:34] angersson commented on #3476
@derekjchow Can you take a look?

[2018-02-27 19:45] agnellodcosta commented on #3470
I have the same issue as @jhovell . The pycocotools are installed on my machine, and so local train and eval works. But GoogleCloud eval does not work, due to the pycococo error. I had uploaded the pycococotools to GoogleCloud via object_detection and slim package, but that too did not resolve the issue.

[2018-02-27 19:50] agnellodcosta commented on #3431
@tombstone @derekjchow Can one of you please direct us to the solution of this ValueError issue

[2018-02-27 19:54] rogercooper76 commented on #3412
Hi @DominikAuras , Thanks for your sharing. I think I bumped into the similar issue. Would you mind elaborating a little bit more how you fix this? Did you just change the default value of load_all_detection_checkpoint_vars from false to true in .proto file? Or, is there any more elegant way to achieve it? Thank you in advance.

[2018-02-27 22:16] darraghdog commented on #3388
You may need to execute from one directory up... `py object_detection/train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/ssd_inception_v2_coco.config`

The builders folder is in `/object_detection` folder.

[2018-02-27 22:50] jhovell commented on #3470
thanks @angersson . I basically just used the steps in [this demo](https://towardsdatascience.com/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe1d9) which links to the "Running on Google Cloud Platform" docs in this repo.

Here is a bash script with the exact command I am running. The constants refer to private Google Cloud buckets used to store my config, eva

[2018-02-27 23:34] npeirson commented on #2888
Same here. A solid 5/7

[2018-02-27 23:42] JackLaii commented on #2888
If you are using windows, try to change 'pwd' to your actual path to models while setting PYTHONPATH.
i.e, 'pwd'---change to--->'\path to\tensorflow\models'

[2018-02-28 00:26] npeirson commented on #2888
It's a hacky fix, but I'm on a vm so I don't care: moved the dependencies (deployment and the others) to /usr/local/lib/python3.5/dist-packages/object_detection-0.1-py3.5.egg/
Messy, but works.
Also, don't forget that if you run into the new dct_method problem, you can follow @jqcorreia's fix [here](https://github.com/tensorflow/tensorflow/issues/17208)

[2018-02-28 00:40] nealwu commented on #3433
The samples/ folder is owned by @MarkDaoust. Re-assigning to him.

[2018-02-28 00:41] nealwu commented on #3351
eval_image_classifier.py is owned by @sguada; re-assigning.

[2018-02-28 01:03] nealwu commented on #3167
Hi @deepaksuresh, I believe you can just run the model again passing in the same `model_dir` that you used before, except this time with `--data_format=channels_last`. Let me know if that works.

[2018-02-28 02:16] beyondli commented on #3481
@sguada ？ when SLIM will integrate mobilenetV2(mobilenetV2+ssd), if not any plan  recently, maybe  I have to code by myself which seems just recreated wheel in SLIM soon or later.
thanks!

[2018-02-28 03:25] apachemycat opened #3488 "TypeError: __init__() takes at least 3 arguments (1 given)"
when run example , there are some problem as fowling , how to correct ? thanks

    model_fn_results = self._model_fn(features=features, **kwargs)
  File "mnist.py", line 89, in model_fn
    model = Model(params['data_format'])
  File "mnist.py", line 48, in __init__
    super(Model, self).__init__()
TypeError: __init__() takes at least 3 arguments (1 given)

[2018-02-28 03:33] #1262 closed

[2018-02-28 04:40] lukaszkaiser commented on #2418
Sure, feel free to send more PRs!

[2018-02-28 05:45] deepaksuresh commented on #3167
Hi @nealwu , I get the following error when I try to run the model with `--data_format=channels_last`
`INFO:tensorflow:Restoring parameters from ./multires\model.ckpt-32208
2018-02-28 11:09:27.817211: W C:\tf_jenkins\workspace\rel-win\M\windows-gpu\PY\36\tensorflow\core\framework\op_kernel.cc:1198] Not found: Key batch_normalization_33/beta/Momentum not found in checkpoint
2018-02-28 11:09:27.8173

[2018-02-28 07:43] mkrech opened #3489 "Bug in Tensorflow object detection evaluation"
I want  evaluate my object detection model with mAP (mean average precision). In https://github.com/tensorflow/models/tree/master/research/object_detection/utils/ there is object_detection_evaluation.py that I want to use.

I use following for the groundtruth boxes:

pascal_evaluator = object_detection_evaluation.PascalDetectionEvaluator( categories, matching_iou_threshold=0.1)
groundtruth_boxes =

[2018-02-28 08:19] maxwang7 commented on #3476
For those stuck on getting the pet detector running, I made a few fixes in this PR: https://github.com/tensorflow/models/pull/3490 that were sufficient for getting training working. There were some notes added to the tutorial README as well.

[2018-02-28 08:32] tanndx17 commented on #2225
@cipri-tom I had the same problem. Can you tell me what suppose to be the output file in eval directory? I only had several even.out.tfevetsXXXX file and a pipeline.config, should be an eval.pbtxt file as output there?
Thank you!!

[2018-02-28 08:33] DominikAuras commented on #3412
@rogercooper76
I have changed the lines

[code]

to

[code]

This also restores `global_step`. If that is not what you want, you might change the next lines too:

[code]

This is a workaround.

[2018-02-28 09:04] deaspo commented on #2793
Also waiting on this request

[2018-02-28 11:13] GeorgeARM commented on #3313
Noticed the same issue in the Inception-B block. In the provided model, in `Branch_1` instead of performing a `1x7` followed by `1x7` , a `1x7` followed by `7x1` is performed. Moreover in `Branch_2` the convolution filters are swapped. I assume that the output concept remains the same as the fms of a `1x7` convolution and `7x1` convolution are concatenated, but what is the reason behind this chang

[2018-02-28 12:54] hhu-luqi opened #3491 "TypeError: __init__() missing 2 required positional arguments: 'inputs' and ‘outputs'"
I want to review the code of tensorflow/models/official/mnist/mnist.py in the Python 3.5.2. But while I was running the code in the Spyder of Anaconde, a mistake, which is typeError: __init__() missing 2 required positional arguments: 'inputs' and ‘outputs' ,occurred.Why?
![default](https://user-images.githubusercontent.com/32589325/36788491-0f788230-1cc9-11e8-94dd-d00a7faa6f9a.png)
That is error

[2018-02-28 13:31] apachemycat opened #3492 "should give the python code to generate example.npy file"
I found no python code to generate example.npy file ,so users have difficult to test there custom hand write files.

[2018-02-28 13:48] xbcReal opened #3493 "Does the depth multiplier refer to the width multiplier in the mobilenet paper?"
I want to know what will happen if I change depth multiplier number from 1 to 0.5? Will it be more fast when infereence?And is the depth multiplier here the same thing as the width multiplier in the mobilenet paper?

[2018-02-28 14:42] paradiseHIT commented on #3348
I am also insteresting with this pre-trained model for NASNet-A (7 @ 1920) . we have a lot of scences of classfication.

[2018-02-28 14:56] deepaksuresh commented on #3167
Hi @nealwu , I forgot to mention that the model has already been trained, in `channel_first` format on `GPU`, and was exported as a `.pb` file using `tf.estimator..export_savedmodel`. Is there a way to make this model run on `CPU`, which supports only `channel_last` operations?
Thanks for your time.

[2018-02-28 16:13] zeynali commented on #1854
@s5plus1,I follow you command , i open 2 terminal windows separately, in ones i run train.py this is ok and running well, but when i run eval.py in the other terminal windows , i got this error:
python3 eval.py \

INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box pred

[2018-02-28 16:28] ngksai93 commented on #2214
you got any solution for this issue i am also having the same issue if you have please reply me

[2018-02-28 16:38] aloerch commented on #1854
@zeynali following @s5plus1 's solution disables cuda devices from being found by eval.py and therefore you see a message about no cuda devices available. Does the eval keep running? It should have used CPU and kept running for the eval process.

[2018-02-28 16:53] zeynali commented on #2761
@liuxinyuk , Hi , i can't not reach to high mAP , please mention your step for eval.py , do you run both train.py and eval.py at the same time ? How many num_steps/batch_size did you have?

[2018-02-28 17:23] zeynali commented on #1854
@s5plus1 , i follow your command, you mention Evaluation: Use CPU , therefor , Should not it use cpu?
It should not be run in GPU ? Right?

[2018-02-28 17:24] zeynali commented on #1854
@s5plus1 , i follow your command, you mention Evaluation: Use CPU , therefor , Should not it use cpu?
It should not be run in GPU ? Right?

[2018-02-28 19:01] nealwu commented on #3167
@deepaksuresh try using my pre-trained model at the bottom of https://github.com/tensorflow/models/tree/master/official/resnet#pre-trained-model.

[2018-02-28 19:17] pkulzc commented on #3270
@wkelongws sharing a few facts:
1. We train models on cluster whose environment is different from a single machine, that's why we clear the device info as it's not useful at all (aka there isn't an optimized device assignment).
2. The speed reported in model zoo is the mean time of running inference for hundreds of test images. It's not comparable with running inference for this one single image.

[2018-02-28 19:28] cipri-tom commented on #2225
no, there's only `*tfevents` files. These contain tensorBoard summaries. Fire up `tensorboard --logdir /path/to/eval/dir`

[2018-02-28 21:41] mpsdskd commented on #1817
@oldsqlwnb I'm also having problems with my mere 8GB of RAM,
cold you please explain how to do that?

[2018-02-28 22:11] angersson commented on #3488
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-28 22:11] #3488 closed

[2018-02-28 23:02] davin83803 opened #3495 "Feature Request: ptb_word_lm.py do not generate metadata.tsv for Tensorboard"
Dear Tensorflow team,

I have been working with the PTB language model from your tensorflow tutorial.
The files I am using are the files form:
https://github.com/tensorflow/models/tree/master/tutorials/rnn/ptb

I haven't modified any line of code.

When I run you code with the command "python ptb_word_lm.py --data_path=simple-examples/data/  --save_path=results/ --model=medium", eveything works pe

[2018-02-28 23:06] alensaqe commented on #3388
@darraghdog No difference. Still the same error. I will get the latest clone of the repo in a few days and try again with it.

[2018-03-01 02:47] rogercooper76 commented on #3412
Thanks a lot, @DominikAuras. It works! Those are all quite useful information.

[2018-03-01 04:38] SandW opened #3497 "Training process was killed without throwing any problems"
### System information
- **What is the top-level directory of the model you are using**: research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:

[2018-03-01 06:47] guicunbin opened #3498 "why decay_steps not related with num_clones ？？"
https://github.com/tensorflow/models/blob/17a5bdc87855f5fc23ebc89baf5484f82c4698e2/research/slim/train_image_classifier.py#L236

here defined decay_steps,    it  may  be  a  error;
total_batch_size = FLAGS.num_clones * FLAGS.batch_size;
So  here  may  be:
decay_steps = int(num_samples_per_epoch / (FLAGS.batch_size  *  FLAGS.num_clones  )*
              FLAGS.num_epochs_per_decay);

@nealwu   @sgua

[2018-03-01 06:58] DhineshAJ commented on #2214
**Me too having the same problem.**
Traceback (most recent call last):
  File "train.py", line 120, in <module>
    tf.app.run()
  File "/home/dhinesh/Desktop/Tensorflow/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 124, in run
    _sys.exit(main(argv))
  File "train.py", line 116, in main
    worker_job_name, is_chief, FLAGS.train_dir)
  File "/home/dhinesh/Desktop/DeepLear

[2018-03-01 08:01] John1231983 opened #3499 "Fails to load multiple checkpoints in TF-slim"
I have two model checkpoints A and B that obtained after training from the model `inception_v4`. I want to extract the last feature of each model and concatenate together for input of another model C. To do it, first I build two graph A and B then create two sessions to restore variable from two models. However, I got the error `ValueError: No variables to save` that looks my graph did not constru

[2018-03-01 08:53] leo-nullptr commented on #3488
Downgrade tensorflow/models to [v.1.4.0](https://github.com/tensorflow/tensorflow/releases/tag/v1.4.0) and try again.

[2018-03-01 08:56] tanndx17 commented on #2312
Have you solved the problem? I got the same error.

[2018-03-01 10:38] jkravanja commented on #3397
An interesting feature would be to add "rotation" to the anchors, so it would be possible to regress not only the exact position of the bounding boxes, but also the rotation.

[2018-03-01 13:18] c13arm opened #3500 "Transferring the inference graph to a PI not working?"
### System information
- **What is the top-level directory of the model you are using**: research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows 10 on laptop and Rasbian GNU/Linux 9 on Raspberry PI 3
- **TensorFlow installed from (source or binary)**: B

[2018-03-01 13:43] Walid-Ahmed commented on #2214
It was due to some images not encoded correctly in record files.

[2018-03-01 17:11] janeliulwq commented on #1710
FYI, https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_coco_tf_record.py was added in a recent update :), and coco_detection_metrics was added too!

[2018-03-01 19:03] angersson commented on #3500
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-03-01 19:03] #3500 closed

[2018-03-01 19:35] angersson commented on #3498
I can't understand what you're asking. Can you rephrase the question? Thanks!

[2018-03-02 01:57] shivaniag commented on #3441
Did you want this to raise this as an issue?

[2018-03-02 01:58] apachemycat commented on #3492
how to generate the example.npy file from files of example3.png and example5.png
maybe the python source  code should included ?

[2018-03-02 02:52] aldrin233 commented on #3373
That just means just that, you don't have enough memory. Reduce the image size?

[2018-03-02 04:03] neouyghur commented on #1452
I also observed the same situation. Did someone find the problem?

[2018-03-02 05:23] guicunbin commented on #3498
@tfboyd  say that
one  GPU  process  FLAGS.batch_size  images
FLAGS.num_clones  GPU  will  process     FLAGS.batch_size * FLAGS.num_clones   images ,
so the number  in one epoch  will  be :
num_samples_per_epoch / (FLAGS.batch_size * FLAGS.num_clones )
So
decay_steps = decay_steps = int(num_samples_per_epoch / (FLAGS.batch_size * FLAGS.num_clones )*
FLAGS.num_epochs_per_decay);
is  that right ? @a

[2018-03-02 06:22] tfboyd commented on #3498
I am not sure what you are suggesting I said.  A snippet of the command I would run to run a batch-size of 64 per GPU for a total batch of 64*8 would be
[code]
I think what you are saying is that translation of epochs to steps ends up incorrect because the equation does not account for number of GPUs.  To make it more concrete I assume ImageNet is 1.2M images.
[code]
The code says it is global_ste

[2018-03-02 08:29] s5plus1 commented on #1854
@zeynali It seems that the cuda devices were not disabled correctly, and you were using GPU instead of CPU which doesn't make sense if you followed my code:

`import os`
`os.environ['CUDA_VISIBLE_DEVICES'] = '-1'`

[2018-03-02 08:35] shahparth123 commented on #3491
Facing same error. I tried tensorflow 1.5 and 1.6 (Both CPU and GPU version as well as Python 2.7 and Python 3.5.2)

[2018-03-02 08:48] pcstyles opened #3505 "PC Styles"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-03-02 08:48] zeynali commented on #1854
s5plus1, Yes ,I did the same. What seems to me: os.environ['CUDA_VISIBLE_DEVICES'] = '-1' didn't work for me , i have TF 1.5 , CUDA8 , CUDNN7 , perhaps i must change '-1' to other. What do you think ?

[2018-03-02 09:07] BKZero opened #3506 "Tensorflow Lite model load error about mobilenet_v1_1.0_224.tflite"
version info
tensorflow r1.5
ubuntu 14.04

the file mobilenet_v1_1.0_224.tflite included by the mobilenet_v1_1.0_224.tgz from the link:
http://download.tensorflow.org/models/mobilenet_v1_2018_02_22/mobilenet_v1_1.0_224.tgz
cannot be loaded.
but the file mobilenet_v1_1.0_224.tflite included by the mobilenet_v1_1.0_224_float_2017_11_08.zip from the link:
https://storage.googleapis.com/download.tenso

[2018-03-02 10:01] itsergiu commented on #3441
I do not want to raise an issue. I wanted to contribute with tested working code in ipynb format.

[2018-03-02 12:17] oldsqlwnb commented on #1817
@mpsdskd effectively I ended up doing this:
`reshaped_output = tf.reshap(output,[1,image_width*image_hight]`
`reshaped_ground_truth = tf.reshape(ground_truth,[1,image_width*image_hight]`

I didn't even needed to use a variable.
I fed those two tensors into the `tf.losses.sigmoid_cross_entropy` function.

However I only have a very shallow neural network(one conv layer and one deconv layer), if I t

[2018-03-02 17:15] sakethramanujam opened #3507 "Can we do something like raise an exception / display alert when an object is detected using the object_detection model of tensorflow?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-03-02 18:30] springishere opened #3508 "retrained tfslim mobilenet_v1 model does not have input node?"
### System information
- **What is the top-level directory of the model you are using**:
/tensorflow/models/research/slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Binary. It's a tensorflow docker image

[2018-03-02 19:22] mhasnat commented on #3431
Same error as @agnellodcosta. Any solution so far?

[2018-03-02 19:50] xuzhiyuan1528 commented on #3491
Following the tutorial models/official/mnist/mnist.py, I meet the same error (python3.5 tensorflow-gpu 1.6), the super class tf.keras.Model needs arguments inputs and outputs.

[2018-03-02 19:57] ahmadra commented on #1992
As of now, the slim folder has been moved to `models/research`. So if [models][1] is in the `/home` directory, do the following to resolve the issue:

1- Open the `~/.bashrc` and add the following line to the end of the file:

`export PYTHONPATH="$PYTHONPATH:/home/models:/home/models/research/slim/"`

3- Close the file and do `source ~/.bashrc`

[2018-03-03 00:27] angersson commented on #3506
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-03-03 00:38] angersson commented on #3508
@sguada Can you take a look at this?

[2018-03-03 00:56] asimshankar commented on #3491
The code in the master branch of this repository may not be compatible with TensorFlow 1.5.
To get the version of code compatible with TensorFlow 1.5, please use the r1.5 branch of the models repository.

Does that work?

(FYI @karmel )

[2018-03-03 01:33] fye881 commented on #3508
one data point is that in the mobilenet_v1_test.py an input placeholder is added in testUnknowBatchSize():
    inputs = tf.placeholder(tf.float32, (None, height, width, 3))
    logits, _ = mobilenet_v1.mobilenet_v1(inputs, num_classes)
So maybe this is expected? I am not sure if this is the right procedure to modify the pb file (restore, add placeholder, and store) --- if this is needed please giv

[2018-03-03 02:14] angersson commented on #3492
Please be more clear. It's not obvious what files are you're referring to. Can you link to relevant documentation or code samples? Thanks!

[2018-03-03 04:01] s5plus1 commented on #1854
@zeynali
Yes, you can change it if you have multiple GPUs.

‘-1’ means CPU,
‘0’ means GPU 0,
‘1’ means GPU 1,
etc.

Or you can try another way:
config = tf.ConfigProto(
        device_count = {'GPU': 0}
    )
sess = tf.Session(config=config)

According to https://groups.google.com/a/tensorflow.org/forum/m/#!topic/discuss/cFsmoeO9Nd4

[2018-03-03 05:11] cbballantyne commented on #3394
Hi NoamWhy,

Not sure if this helps but I hit the same issue, and to elaborate on what vladpaunescu said, the issue ended up being a bad path in my .config file.  Specifically I had something like this is the train_input_reader section:
input_path: "<some_path>\train.record"
but I needed to have:
input_path: "<some_path>/train.record"
very tricky to spot...

[2018-03-03 05:38] NoamWhy commented on #3394
Thanks for that.

I solved the problem simply by switching to Microsoft's CNTK. It's orders of magnitudes simpler to use, and most importantly... It works out of the box!

On Mar 3, 2018 07:12, cbballantyne <notifications@github.com> wrote:

Hi NoamWhy,

Not sure if this helps but I hit the same issue, and to elaborate on what vladpaunescu said, the issue ended up being a bad path in my .config fi

[2018-03-03 05:50] cbballantyne commented on #3394
Haha, I may have to check that out.  Tensorflow does seem to have a pretty
steep learning curve.

On Mar 3, 2018 12:39 AM, "NoamWhy" <notifications@github.com> wrote:

Thanks for that.

I solved the problem simply by switching to Microsoft's CNTK. It's orders
of magnitudes simpler to use, and most importantly... It works out of the
box!

On Mar 3, 2018 07:12, cbballantyne <notifications@github.com

[2018-03-03 06:00] NoamWhy commented on #3394
Yep, you can start by visiting

https://docs.microsoft.com/en-us/cognitive-toolkit/Object-Detection-using-Faster-R-CNN

<div class="quo
Haha, I may have to check that out. Tensorflow does seem to have a pretty
steep learning curve.

On Mar 3, 2018 12:39 AM, "NoamWhy" <notifications@github.com> wrote:

Thanks for that.

I solved the problem simply by switching to Microsoft's CNTK. It's orders
of ma

[2018-03-03 06:43] zeynali commented on #1854
@s5plus1 , where i add this lines ?
config = tf.ConfigProto(
device_count = {'GPU': 0}
)
sess = tf.Session(config=config)

[2018-03-03 14:44] n84awaz opened #3513 "assertion failed: [predictions must be in [0, 1]] ArgMax:0)"
i am working on tensorflow/slim package there are training file and evaluation file , i have done the training successfully but when i run evaluation file get error .

the error from issue in terminal file

to

here is snap code of the eval. file

[code]

[2018-03-03 17:27] innjoshka commented on #1948
I'm the new one here but I have the same question that was asked in this issue. I created [stackoverflow question] (https://stackoverflow.com/questions/49065432/tfrecord-format-for-multiple-instances-of-the-same-or-different-classes-on-one-t) but I didn't got any answer by the way I followed all the way that @yanfengliu said. Are these lists for multiple object values work fine/not or am I missing

[2018-03-03 18:45] #682 closed

[2018-03-04 11:57] KishoreKaushal opened #3514 "During handling of the above exception, another exception occurred: TypeError: a bytes-like object is required, not 'str'"
**python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config**

INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
WARNING:tensorflow:From /home/kaushal/tensorflow1/models/research/object_detection/trainer.py:228: create_global_step (from tensorflow.contrib.framework.python.ops.variables) i

[2018-03-04 13:55] vinay0410 commented on #1772
I still have the same problem, my ```max_evals : 1```, still I am getting ```UnboundLocalError: local variable 'metrics' referenced before assignment```

[2018-03-04 15:08] #3513 closed

[2018-03-04 16:50] #3437 closed

[2018-03-04 21:26] polaroidkidd commented on #3117
How did you solve it? I'm having problems as well

[2018-03-05 03:45] achao2013 opened #3515 "Does NasNet-A has a train code?"
hi, i just want to ask if there is a train code of NasNet-A.
@sguada

[2018-03-05 08:40] zeynali commented on #1907
@yossibiton, Hi,
are you solved your problem ? how do you convert caltech dataset to record file, please give me renfence or doing step by step for this.

[2018-03-05 09:20] GustavZ opened #3516 "Feature Request: mask_ssd_mobilenet"
Is there already an implementation of a mask ssd network somewhere out there in the depth of the world wide web?
If not (i did not find one yet), why? Is anybody currently working on this by any chance?
Are there any well known incompatibilities i am currently not aware of?
The point is, mask rcnn is nice, but way too slow for mobile usage. So i really would like a ssd version of that.

With that

[2018-03-05 09:35] dreamibor commented on #1490
Still hoping textsum releases in 2018!

[2018-03-05 10:06] apachemycat commented on #3492
the  python source code for enerate the example.npy file  from raw images like example5.png

[2018-03-05 15:04] agnellodcosta opened #3517 "ValueError: Cannot feed value of shape (1, 199, 254, 3) for Tensor u'encoded_image_string_tensor:0', which has shape '(?,)'"
I was able to train and export the graph locally. However, when I use the jupyter notebook for object_detection_tutorial, I receive the following error,

ValueError Traceback (most recent call last)
in ()
7 image_np_expanded = np.expand_dims(image_np, axis=0)
8 # Actual detection.
----> 9 output_dict = run_inference_for_single_image(image_np, detection_graph)
10 # Visualization of the results of a

[2018-03-05 15:05] pixx1 commented on #1897
Hi!
found a solution.
I checked my label files with small Linux command-line program "file", the result was:
[code]
So when you editing your label files keep track of it.

Hopefully it helps

[2018-03-05 15:14] AcodeWang commented on #3437
Hi, I got the same problem in Object detection API and i'm using Tf 1.6.0.
What should I update for the object detection module?

Much Thanks

[2018-03-05 17:11] derekjchow commented on #3517
Please [re-export](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md) your model specifying the input_type as image_tensor.

[2018-03-05 18:08] plakal commented on #3479
Please use the mailing list https://groups.google.com/forum/#!forum/audioset-users for these kinds of questions and discussion. Use the issue tracker for specific feature request or bug reports or code contributions.

Closing.

[2018-03-05 18:08] #3479 closed

[2018-03-05 18:13] ybsave commented on #3421
But there is no recent nightly built version for Windows users that has the 'dct_method' version. The last successful windows nightly built is almost one month ago!

[2018-03-05 18:22] leejang commented on #3084
@oneTimePad, I'm working on the similar thing with SSD. If you don't mind, could you please share your code? I also have similar issue since I'm trying to classify one "Entire" thing (i.e, a place like a room, playground, etc) given a whole image and one "Small" things (i,e, like a table, a cup, etc). I think the your suggestion makes sense. Do you have any update on this?

[2018-03-05 18:44] oneTimePad commented on #3084
@leejang  Yes, I tried to train just the classifier not associated with the bounding boxes. I froze the feature extractor, and box predictor (localization and class associated with bounding boxes). It got the loss down to around 4~5 from 20. Whereas training altogether drops the loss to about .8, but as mentioned the localization accuracy is affected, even though the loss is low. I also added more

[2018-03-05 18:51] leejang commented on #3084
@oneTimePad Great! Thank you so much for letting me know this update. I will share with you once I get some good news to fix the issue :)

[2018-03-05 19:18] ngksai93 commented on #2214
i created tf records again it also showing the same error

[2018-03-06 00:32] wanghuite opened #3522 "I can't train,and many errors occurs when I test the tf_example_decoder_test.py and dataset_builder_test.py"
PS D:\models\research\object_detection\builders> python dataset_builder_test.py
C:\Users\42911\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register

[2018-03-06 01:18] aselle commented on #2840
Could you give some context where you found "NEW and OLD" that you are referring to?

[2018-03-06 02:54] ViktorsRoze commented on #3392
I also have this issue. I have tried different versions and different models but with no success.
I will try some older versions of object detection API.

[2018-03-06 02:59] agnellodcosta commented on #3517
Thanks very much @derekjchow , That solved the issue

[2018-03-06 03:01] agnellodcosta commented on #3431
@mhasnat @maxwang7 Pls check #3517, the shape error was resolved, after exporting the graph using the command given by @derekjchow. My issue was caused because I was using the wrong input_type. This command resolved my issues with the shape dimension error.

python object_detection/export_inference_graph.py \
    --input_type image_tensor \
    --pipeline_config_path=/Users/agi/downloads/tensorflo

[2018-03-06 03:27] aldrin233 commented on #3522
`File "C:\Users\42911\AppData\Local\Continuum\anaconda3\lib\site-packages\google\protobuf\text_encoding.py", line 105, in CUnescape
.decode('unicode_escape')
UnicodeDecodeError: 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape`

Escape characters, i think. usually when this guy pops up i double the backslash

[2018-03-06 06:07] prp20 opened #3523 "None.de file not found"
when i run the nmt module for GNMT with 4 layers i get this error
"tensorflow.python.framework.errors_impl.NotFoundError: None.de; No such file or directory"
finding it very hard to solve. my tensorflow version is 1.5.0 and also have install tf-nightly 1.7.0.dev20180304.
please provide suggestions in this matter.
thanks in advance

[2018-03-06 09:23] chenghuige commented on #2505
I face similar problem
The name 'classifier/main/encoding/fw_0/cudnn_gru/opaque_kernel_saveable' refers to an Operation not in the graph.

[2018-03-06 10:20] somsukla opened #3526 "Box Error while running eval.py"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-03-06 10:24] somsukla opened #3527 "Box error while running eval.py"
(virtual-py3) somsukla@somsukla-Precision-Tower-7810:~/Desktop/models/research/object_detection$ python3 eval.py --logtostderr  --pipeline_config_path=Vehicle_Detection/training/ssd_mobilenet_v1_coco.config  --checkpoint_dir=Vehicle_Detection/training --eval_dir=Vehicle_Detection/eval/
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before

[2018-03-06 11:17] gfphoenix opened #3528 "object detection: how to train ssd from scratch use my own base network?"
Hi, all:
I want to make some model changes from ssd/mobilenet, but when I do this, the training process crashes. The error message tells me that the tensors with same names between the pre-trained model and new model are incompatible. So I can't use the training method as the tutorial recommends.
Now, I want to train the model from scratch. My machine info is:
* CPU : i7-6700
* Memory : 16GB
* GPU

[2018-03-06 11:29] SandW commented on #3497
It was caused by ran-out-of-memory.
Please check your RAM consumption.

[2018-03-06 11:29] #3497 closed

[2018-03-06 12:38] hhu-luqi commented on #3491
It did work, thanks!

[2018-03-06 13:30] muayyad-alsadi commented on #3248
please remove `stat:awaiting response`

[2018-03-06 14:10] seefun opened #3529 "How can I change the network structure in object_detection ssd-mobilenet"
How can I change the ssd network structure in object_detection using ssd-mobilenetV1

[2018-03-06 14:35] ant2n opened #3530 "Error with tag-sets when serving model using tensorflow_model_server tool"
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: yes
- **TensorFlow version (use command below)**: 1.5
- **Bazel version (if compiling from sour

[2018-03-06 14:36] 89douner opened #3531 "object_detection_tutorial test runtime"
### System information
- **What is the top-level directory of the model you are using**: ssd_inception_v2_coco_2017_11_17
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: installing on Python and Pip
(https://www.t

[2018-03-06 16:06] PythonImageDeveloper opened #3532 "Add NasMobile to SSD detector"
Please Add NasMobile to SSD.

[2018-03-06 16:07] felipheggaliza commented on #3001
I can't find neither parsey_universal nor parse.sh.

[2018-03-06 16:11] zeynali commented on #3337
@JayJoeSeventh , Hi , are you try to fine-tune this model ?

[2018-03-06 16:16] #3517 closed

[2018-03-06 16:20] karmel commented on #3248
Thanks for the bump. Closing this as we have a solution for future releases, and will not be re-releasing 1.4.

[2018-03-06 16:20] #3248 closed

[2018-03-06 17:36] sidvip commented on #3392
i don't  think so it will work  because it is written on tf version 1.4 or
later ..........
because i tried it with older version also it didn't work somewhere issue
is in the new input reader format of box detector i think so...........

On 6 March 2018 at 08:25, ViktorsRoze <notifications@github.com> wrote:

[2018-03-06 19:39] pkulzc commented on #3531
Your running time is "image loading + inference + visualization", which isn't inference at all.
Please also refer to the following section in model zoo:

[2018-03-06 21:27] davidblumntcgeo commented on #2739
I've made the fixes posted by @andersskog , but I still get errors similar to those reported by @ddurgaprasad . Any ideas?

[2018-03-06 21:31] davidblumntcgeo commented on #3291
This error was also reported as issue 2739
https://github.com/tensorflow/models/issues/2739

A solution was posted that worked for some users, but not everyone (including myself).

[2018-03-06 22:11] jhovell commented on #2739
seems like an unrelated error @davidblumntcgeo ? `NotFoundError: ; No such file or directory` doesn't seem to have to do with matplotlib?

It's probably worth mentioning here that for the folks suggesting upgrading to 1.4 runtime, this sort of does work, though the reason the docs aren't updated is the Object Detection API really doesn't support 1.4 yet and that's why 1.2 is still in the documenta

[2018-03-06 22:35] davidblumntcgeo commented on #2739
Thanks, @jhovell . I was getting the failure to load matplotlib error up until I made the fixes recommended in this issue. After making the fixes, the errors changed to the ones I posted, similar to the other user. It sounds, though, that you’re saying the errors are unrelated, and the matplotlib issue was just masking this second issue.

[2018-03-06 23:15] weshar commented on #3331
If you need to use TF version 1.4 you can clone the git repo as it instructs in the tutorial and then checkout version 1.4.0. The scripts then work as advertised, eg:

`[ruser@node442 models]$ git tag
v.1.6.0
v1.4.0
[ruser@node442 models]$ git checkout v1.4.0`

Then run the premade and other example python scripts.  Hope this helps.

[2018-03-07 01:27] FightForCS commented on #3268
@joel-shor , sorry for the late reply, it has been busy those days. Actually, I am totally a self-learner in GAN and TF. Anyway, I have tried to modify the discriminator code following your instruction.

[code]

and add another test function

[code]

[2018-03-07 02:04] UCASJingKun opened #3536 "CapsNet model on CIFAR10(Quick CIFAR10 ensemble test results for capsule)"
### Describe the problem
ResourceExhaustedError (see above for traceback): OOM when allocating tensor with shape[921600,160] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
         [[Node: tower_0/capsule2/Wx_plus_b/Sum = Sum[T=DT_FLOAT, Tidx=DT_INT32, keep_dims=false, _device="/job:localhost/replica:0/task:0/device:GPU:0"](tower_0/capsule2/Wx_plus_b/mul, tow

[2018-03-07 04:57] ddurgaprasad opened #3537 "Smaple Request :Preparing data and TFRecords for Semantic Segmentation"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-03-07 05:12] HarshalGarg commented on #2214
@Walid-Ahmed same tfrecord worked fine with other model (Rcnn_resnet) but with ssd_mobilenet_v1 it  showing error.so i think   tfrecord is encoded properly so this issue is related with something else

[2018-03-07 06:54] HarshalGarg commented on #2214
problem solved.
In your pipeline.config
make
loss {
classification_loss {
weighted_sigmoid {
}
}
localization_loss {
weighted_smooth_l1 {
}
}
hard_example_miner {
num_hard_examples: 3000
iou_threshold: 0.99
loss_type: CLASSIFICATION
max_negatives_per_positive: 3
min_negatives_per_image: 0
}
classification_weight: 1.0
localization_weight: 1.0
}

to

loss {
  classification_loss {
    weighted_sigmo

[2018-03-07 07:13] DontsingListen commented on #2694
@imvinaypatil I also occoured this situation when traing a image classifiter using slim, and configuring the "num_classes" according to my task worked. I think modifying the "num_classes=N"(noted that the default number class N probably isn't consist on your task) in your *.config file may help.

[2018-03-07 09:28] jungchan1 commented on #3196
Hi @Tsuihao

Could you share your trained model(faster-rcnn)?

And what framework did you use for training, caffe or tensorflow?

Thanks

[2018-03-07 10:03] wanghuite opened #3538 "I can't train, how to code with the problem, I have tried many times."
Traceback (most recent call last):
  File "train.py", line 167, in <module>
    tf.app.run()
  File "C:\Users\as\AppData\Local\conda\conda\envs\kate\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train.py", line 163, in main
    worker_job_name, is_chief, FLAGS.train_dir)
  File "D:\as\models\research\object_dete

[2018-03-07 10:39] aqsasamreen opened #3539 "how to separate training data and evaluate data from Rerecord?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-03-07 12:10] tanndx17 commented on #3081
@foreverYoungGitHub I got error in object_detection_evalution.py:
  File "/data/detection/research/object_detection/utils/object_detection_evaluation.py", line 288, in evaluate
    pr_value[display_name] = {'precisions':precisions_per_class[idx],'recalls':recalls_per_class[idx]}

I followed all your changes but I got this error. Did I miss anything?

[2018-03-07 12:49] jrruijli commented on #3489
Hi,

Did you also change the order of the scores? Because if you did not the behavior is correct.

Cheers,
Jasper

[2018-03-07 13:15] Walid-Ahmed commented on #2214
@HarshalGarg
My records worked fine with other configuration as well, still when I cleared the error in records, they can run  now on all config

[2018-03-07 14:36] b10112157 opened #3540 "windows word2vec_ops.so not found"
i wonder how to compiler word2vec_ops.cc detail
tensorflow.python.framework.errors_impl.NotFoundError: C:\pythonwork\NLPWord2Vec\word2vec_ops.so not found.
enviornment:
1.win10
2.python3
3.gpu 740

Any suggestions to solve this problem,thanks for listen

[2018-03-07 14:45] Slaybesh commented on #3420
I'm having the same issue, have you solved the issue?

[2018-03-07 15:04] iamtodor commented on #2231
@drpngx I have the same issue. I downloaded it from [model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md), ssd_mobilenet_v1_coco

[2018-03-07 15:17] LaurentBerder commented on #1809
@ryanphung I've downloaded the COCO dataset and converted it to a TF Record.
I've also labeled my own custom dataset and converted it to a TF Record.

What I'd like to know is if there's a way to combine both TF Records to train a model on the addition of COCO + Custom classes...

[2018-03-07 15:22] GPhilo commented on #3348
Jumping in too, I'd also be interested in the pretrained model.

[2018-03-07 15:34] LaurentBerder opened #3541 "Add data to existing dataset"
I am trying to train a model for object detection of a class that does not exist in standard datasets, so I created my own, labeled it and converted the whole thing to TF Record.

However, my different models (based on config files from the sample models in [/samples/configs](https://github.com/tensorflow/models/tree/fd7b6887fb294e90356d5664724083d1f61671ef/research/object_detection/samples/config

[2018-03-07 16:13] DominikAuras commented on #3459
Closing, fixed by #3322

[2018-03-07 16:13] #3459 closed

[2018-03-07 16:23] DominikAuras opened #3542 "object_detection python3 compatibility dict.iteritems() in coco evaluation metric"
In Python 3, the `iteritems()` method of  `dict` class was removed.

Code line:
https://github.com/tensorflow/models/blob/95385809e79369337e5431f3e778700a77dc93a9/research/object_detection/metrics/coco_evaluation.py#L196

Reference:
https://www.python.org/dev/peps/pep-0469/#abstract

The above PEP provides the solution: `iter(dict.items())`

[2018-03-07 17:08] jkravanja opened #3543 "eval.py evaluates same image multiple times"
While evaluating a Mask RCNN model, i noticed that same images get evaluated multiple times. I counted the number of times images repeated and it was the same as 'num_readers' variable set in the configuration file. This was my initial configuration:

    eval_config: {
      eval_interval_secs: 300
      num_examples: 500
      max_evals: 10
      num_visualizations: 500
      visualization_expor

[2018-03-07 17:21] cantren commented on #1809
Is there something specific about this model that is preventing you from
using Transfer learning? If you can recover the weight matrices from the
pretrained model, you should be able to freeze all the weights except for
the final fully connected layer, or am I missing something?

On Wed, Mar 7, 2018 at 7:21 AM, Laurent Berder <notifications@github.com>
wrote:

[2018-03-07 17:34] aayushARM commented on #1257
@Tiyanak I wasn't getting any error on caption_data variable, but only in _bytes_feature() method, however, I made both changes as you did. Doing this solved the 2nd error, but gave a new one on caption_data:
[code]
I reverted the change on caption_data but kept changes on _bytes_feature(), and all errors were gone. Why do you think this happened?

[2018-03-07 18:02] kuanting commented on #2957
I hit the same problem. Is there any solution yet?

[2018-03-07 18:57] karstenBehrendt commented on #3420
My issue was that one label name in the pbtxt did not have the same name as the label-text in the tfrecord. Since the name in the label map did not exist, it was assigned a "-2" as label id which messed
 up the training.

I assumed that the label id in the tfrecord would be used for training and that the text would be ignored at that stage. Digging through the code I saw that the label text is pre

[2018-03-07 19:09] drpngx commented on #2231
@suharshs reassigning to you since it looks like you might have touched the model last?

[2018-03-07 20:49] Yuvarajganesh112 commented on #3443
I tried making that tf.constant(list(range(num_boundaries)), dtype=tf.int32), but I get
Type error: list() takes at most 1 argument (2 given)﻿

[2018-03-07 21:18] Slaybesh commented on #3420
Thanks very much! What I had proposed earlier was wrong so I removed it.
That definitely solved the issue.

[2018-03-07 21:37] suharshs commented on #2231
I haven't touched the ssd models so am unfamiliar with this issue :( @iamtodor what is the exact command you are running so we can repro? Thanks

[2018-03-07 21:38] andrefaraujo commented on #3451
It is included in the tar.gz you downloaded from http://download.tensorflow.org/models/delf_v1_20171026.tar.gz

[2018-03-08 03:14] Shirhe-Lyh commented on #3538
Hello, wanghuite. I got a simple but not elegent solution to this problem. You can remove the argument 'dct_method' in __init__(..., dct_method='') and in line 110 in the file tf_example_decoder.py.

[2018-03-08 05:09] rewreu commented on #1314
Is that possible there is dropout path used for the inference makes the accuracy goes down from the checkpoint?

[2018-03-08 05:15] DrifterFun commented on #2957
@kuanting I try tensorflow from 1.3-1.7. However I find it is no use. This problem may not related to version of tensorflow.

[2018-03-08 06:35] offbye commented on #2737
I met this error too.   Any ideas to solve it ?

[2018-03-08 08:04] deepaksuresh commented on #3167
@nealwu
1. "I believe you can just run the model again passing in the same model_dir that you used before, except this time with --data_format=channels_last", yes this works!
I ran the script with `--data_format=channels_first`, saved the model, and then ran the script with the same `model_dir` with `--data_format=channels_last`. I was able to run this model on `CPU`!

2.  The above solution works

[2018-03-08 08:19] sjaiswal25 commented on #2694
hi @DontsingListen I too am having the same problem and have tried your suggestion, but in vain. My num_classes is set to 1 in the pipeline.config file. I am using the faster rcnn resnet 50 model.

[2018-03-08 10:19] dotannn commented on #1859
@thinh185 did you found out how to do it?

[2018-03-08 10:56] chansekar opened #3546 "Unable to run Mask RCNN Resnet 101"
Hi,

I was trying to train 'mask_rcnn_resnet101', with the below command

python3 train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/mask_rcnn_resnet101_atrous_coco.config

However i get bug which states

Message type "object_detection.protos.FasterRcnn" has no field named "number_of_stages".

Not sure how to go about, can anyone let me know how to go about?

Regards
Seka

[2018-03-08 13:15] jcRisch commented on #1595
My problems was :
- protos correctly build pb2 files
- _"from object_detection import anchor_generator_pb2"_ returns no error using the python2.7 console but returned an error with _"python2.7 object_detection/builders/model_builder_test.py"_ command

On Ubuntu17 and with tensorflow 1.6 @gedeon1310 's solution worked for me too.

Thanks

[2018-03-08 13:26] changshihyoung commented on #1713
@jch1 your answer perfectly solve my problem in restoring tf model.
Thank u, thank u, thank u!!!

[2018-03-08 14:25] Kuldeep-Attri commented on #2544
Hello Everyone, I am new with Faster-RCNN program and I am trying to extract negative example from my training dataset (like getting the bounding box of the regions with label == 0 i.e. no object), I am reading the code but I am still confused about how to do this. Is it possible to extract negative example (a part of an image) from the training dataset? Any help would be appreciated. Thank you!!!

[2018-03-08 14:35] RFXMed opened #3547 "Trained model ..."
Hi,

Where can i download trained model "frozen_inference_graph.pb" of pets ...

Thanks

RFXMed

[2018-03-08 18:41] LaurentBerder commented on #1809
@humayun, I'm trying with a new approach:
Instead of combining TF Records together, I'm doing it before converting both my dataset and the COCO dataset from JSON to TF Records.

I made a python program to do so, see below. However, it is of course highly customized to the format I had which is not so common...

[code]

[2018-03-08 18:45] LaurentBerder commented on #3541
Instead of combining TF Records together, I'm doing it before converting both my dataset and the COCO dataset from JSON to TF Records.

I made a python program to do so, see below.

[code]

However, it is of course highly customized to the format I had labeled my images in (based on [this labeling tool](https://github.com/yuyu2172/image-labelling-tool)) which is not so common...

[2018-03-08 19:41] yogeshl18 commented on #2653
Getting following error on GCP. It works locally. Any ideas ?

The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python

[2018-03-08 19:45] dorudoru1 commented on #1772
@vinay0410 check this thread [](https://stackoverflow.com/questions/48163085/tensorflow-object-detection-api-eval-py-metrics-referenced-before-assignment)

[2018-03-08 19:45] nealwu commented on #3167
Excellent! Glad that worked for you.

[2018-03-08 19:46] dorudoru1 commented on #1772
@vinay0410  check this thread [https://stackoverflow.com/questions/48163085/tensorflow-object-detection-api-eval-py-metrics-referenced-before-assignment](url) -  It may help to you.

[2018-03-08 21:35] rclough commented on #2267
@Gustavz add ryanc@vimeo.com if possible, thanks!

[2018-03-08 22:52] cipri-tom commented on #2544
@Kuldeep-Attri what do you mean *extract* ? Please use [StackOverflow](stackoverflow.com) to ask questions (and give good examples if you want answers 😃 )!

[2018-03-09 02:31] Sixigma commented on #3483
I kickoff the training with hand made script modified from download_and_convert_flowers.py and here is the code :

[code]

I didn't go through build_image_data.py in detail , but that might something out of date.

[2018-03-09 02:32] #3483 closed

[2018-03-09 03:32] Kuldeep-Attri commented on #2544
@cipri-tom I am sorry if I was not clear, what I mean by extract is that can we save the negative examples as an image(like .jpg file) after knowing the bbox of the negative examples and the original image? I want to store all background images in a folder. Thank you!!!

[2018-03-09 07:55] yuanyiwhu commented on #3072
Exact same problem on Win10 Python 3.5

[2018-03-09 09:49] nguyeho7 commented on #3541
Why not just use both .record files and shuffle them? You can add a list of tf records like this:

[code]

[2018-03-09 11:04] LaurentBerder commented on #3541
@nguyeho7 that simple?!
![jaw_drop](https://st2.depositphotos.com/8029582/12255/v/950/depositphotos_122553586-stock-illustration-emoticon-with-dropped-jaw-shock.jpg)

no way, that's a lot of effort taken away from me!

However, when I tried that, it returned this Traceback:

[code]

[2018-03-09 12:26] wildpig22 commented on #3366
I have a similar symptom:

While training with SSD Mobilenet(with ssd_mobilenet_v1_coco_2017_11_17 and research\object_detection\train.py), the GPU is not fully loaded, instead it jumps from 0~60% forming a "comb" shaped pattern in GPU-Z

However while trying the cifar-10 training example(tutorials\image\cifar10\cifar10_train.py), GPU usage keeps a solid/constant 90%

I then did some more experime

[2018-03-09 12:45] VanitarNordic commented on #3366
@cy89

You don't want to consider this?

[2018-03-09 13:27] 89douner commented on #3531
Thanks for you reply
Could you let me know how to measure detection time (except for above them you mentioned such as image loading, inference, visualization and so on) ??
It is also good method to let me know any reference sites or paper.
Thanks!

[2018-03-09 14:02] zhangbin0917 opened #3552 "UnboundLocalError in Object detection api train Oxford-IIIT Pet dataset on ssd_mobilenet"
### System information
- **OS Platform ：windows**:
- **TensorFlow installed from binary**:
- **TensorFlow version ：1.6.0**:
- **Python version:  3.6.4**;
- **Device:  cpu**;

### Describe the problem
When I run train.py has a UnboundLocalError , I don't know why:
[code]

### Source code / logs
train.sh
[code]
ssd_mobilenet_v1_pets.config
[code]

[2018-03-09 16:09] nguyeho7 commented on #3541
You should probably move this to stackoverflow and close the issue, but did you edit the pipeline config file correctly? Post a snipped there.

[2018-03-09 16:56] RoboEvangelist opened #3553 "model/official/resnet/cifar10_main.py TypeError"
### System information
- **What is the top-level directory of the model you are using**: model/official/resnet
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4

[2018-03-09 17:16] somsukla commented on #3546
I am also facing similar issues, somebody please help us out.

[2018-03-09 18:08] rohitkharanghar opened #3554 "Object Detection: an unexpected keyword argument 'groundtruth_is_difficult_list'"
### System information
- **Have I written custom code - No**
- **OS Platform and Distribution-Ubuntu 16.04)**
- **TensorFlow installed from binary**:
- **TensorFlow version **:1.4.1
- **CUDA/cuDNN version**:8.0/6.0
- **GPU model and memory**:NVIDIA Corporation Device 1b80 and 8GB
- **Exact command to reproduce**:python eval.py --logtostderr --checkpoint_dir=training/ --pipeline_config_path=trainin

[2018-03-09 18:23] Yuvarajganesh112 commented on #1925
Could you resolve the issue? I have similar problem.

[2018-03-09 18:35] pkulzc commented on #3531
Typically the inference time refers to the time spent on the "session.run()" block. It's the time of a forward pass(from input layer to output layer).

[2018-03-09 22:23] pkulzc commented on #3546
Please check if your models/research/object_detection/protos/faster_rcnn.proto file is up-to-date. We added this number_of_stages field and refactor the code a bit some time earlier. I guess you're using a earlier version which is not compatible with the models built with newer version.

[2018-03-09 23:20] ilkarman opened #3556 "Slim resnet_v1, is_training"
I see this has been mentioned previously in several issues however gets closed because of inactivity: https://github.com/tensorflow/models/issues/1288 & https://github.com/tensorflow/models/pull/2138#issuecomment-323225293 & https://github.com/tensorflow/models/issues/391

`from tensorflow.contrib.slim.python.slim.nets import resnet_v1`

If I train a model with is_training=True and then evaluate w

[2018-03-09 23:29] ilkarman commented on #391
I still have the same issue, 2 years later

[2018-03-10 03:58] #3552 closed, assigned to nobody

[2018-03-10 05:19] BrownTian commented on #3291
Hi, do you figure out this? I have the same problem when training in the cloud. Is it related to the python version? I can train locally on my computer, and I use the python version is 3.6 in Anaconda.

[2018-03-10 07:06] wenmin-wu commented on #3556
How can you evaluate with `is_training=True`? The test set is used to evaluate the performance of trained model and should absolutely run with `is_training=False`. If you evaluate with `is_training=True` the model parameters will be updated to fit the test set. So the performance is better.

[2018-03-10 11:52] aayushARM opened #3559 "TFSlim: Exporting NASNet-A large inference graph always produces a graph with input batch_size=1?"
### System information
- **What is the top-level directory of the model you are using**:
[https://github.com/tensorflow/models/tree/master/research/slim/nets/nasnet](url)
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or

[2018-03-10 15:25] sebastianfast commented on #3476
I experience the same problem. Proposed temporary solution worked.

[2018-03-10 17:35] davidblumntcgeo commented on #3291
Im training a SSD using the fix that I referenced except that I use TF runtime 1.2 instead of 1.4, and Python 2.7. It is working for me. I’m not exactly sure which methods contained in the fix require runtime 1.4, but evidently some of them do.

[2018-03-10 17:50] BrownTian commented on #3291
So you fix the code in setup.py following the suggestion in #2739 ? And it works when the runtime = 1.2? By the way, may I ask you are using Windows or MacOS?

[2018-03-10 20:50] sstolpovskiy opened #3562 "from_detection_checkpoint missed in faster_rcnn_inception_resnet_v2_atrous_oid.config"
Hi,

It should be from_detection_checkpoint: true
inside https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/faster_rcnn_inception_resnet_v2_atrous_oid.config

Without it model can't load checkpoint.

[2018-03-11 05:57] jpdeleon opened #3564 "SyntaxError: invalid token"
The line throws a SyntaxError: invalid token:

https://github.com/tensorflow/models/blob/3f78f4cfd21c786c62bf321c07830071027ebb5e/research/astronet/astronet/data/generate_download_script.py#L93

[2018-03-11 06:02] kamalsomu opened #3565 "AttributeError: 'module' object has no attribute 'LookupTensor'"
**I am trying to run a training job in Google Cloud using Tensorflow . I tried to run the training using by running the following command.**

gcloud ml-engine jobs submit training training_1 --job-dir=gs://object-detection-bucket-test/train --packages dist/object_detection-0.1.tar.gz,slim/dist/slim-0.1.tar.gz --module-name object_detection.train --region us-central1 --config object_detection/sampl

[2018-03-11 13:40] moustafa2121 commented on #1925
@Yuvarajganesh112 Having same issue. Any solution?

[2018-03-11 14:08] Ifeng96 commented on #3443
can you solve it, I have met the same error

[2018-03-11 16:19] smasoudn commented on #3565
I got the same error when running `python ../../../tensorflow_models/research/object_detection/train.py` on my desktop.

[2018-03-11 21:35] ChandanVerma commented on #729
Can someone provide a proper solution for windows?

[2018-03-11 21:58] VastoLorde95 commented on #1925
You can refer to my [answer](https://stackoverflow.com/questions/45029977/tensorflow-object-detection-api-weird-behavior/45115503) on Stackoverflow.

[2018-03-11 22:19] Kishwar commented on #3161
@jimo123 you saved my day...

[2018-03-11 22:20] Kishwar commented on #3161
@marcbelmont change python to 3.5

[2018-03-12 05:51] jiaxiang-wu commented on #3553
Hi @RoboEvangelist
I have encountered the similar problem with you. After upgrading my TensorFlow version to 1.5.0 (installed from *.whl file), everything works fine. BTW, the CUDA version is 9.0, and cuDNN version is 7.0. Hope this could help you out.

[2018-03-12 06:20] RoboEvangelist commented on #3553
I will upgrade to 1.6, then

[2018-03-12 06:42] oja1 opened #3567 "proto buff compilation error"
object_detection/protos/*.proto: No such file or directory.this error occured even after setting the whole path
![screenshot 1](https://user-images.githubusercontent.com/37286601/37268921-4fbc2800-25ee-11e8-8c08-6f862f96e4b1.png)
i'm kinda new to this .I'll be really grateful if anyone solves my problem

[2018-03-12 08:06] wwdguu commented on #3565
Tensorflow version: 1.4.1
I also have the same problem when trying to train a ssd_mobilenet model.

[2018-03-12 08:10] chenbiaolong commented on #3387
@andrefaraujo I have some question about your training. DELF employ a two-step training strategy, first training a classification task,  second learning the attention weight.So, at step 1, the **logit**  is base on the **feature_map** * **attention_prob**, but the attention_prob initialized with random parameters? or at step 1 you bypass the attention_prob?

[2018-03-12 08:38] LaurentBerder commented on #3541
Here is the content of the pipeline config:

[code]

[2018-03-12 08:55] nguyeho7 commented on #3541
[code]
**{** should be **[**

[code]

[2018-03-12 09:16] yoosan commented on #1064
Same problem as provided by @HaoshengZou

[2018-03-12 09:24] iamtodor commented on #2231
@suharshs Thank you for attantion. Here is my command.
[code]
My [ssd.config](https://gist.github.com/iamtodor/07c13577456ea75994452885c283ff4d).
Dir data contains following files:
[code]
Is there something else I could provide to you?

[2018-03-12 10:10] hubbup opened #3568 "Training restarts at every epoch"
I created two tfrecord files (for training and validation) which have two-class labels and images.
Then, I modified "models/official/resnet/imagenet_main.py".

INFO:tensorflow:loss = 0.29520494, step = 11850 (8.141 sec)
INFO:tensorflow:global_step/sec: 12.8693
INFO:tensorflow:learning_rate = 0.0125, cross_entropy = 5.276655e-05, train_accuracy = 0.6666667 (7.770 sec)
INFO:tensorflow:loss = 0.29434

[2018-03-12 11:01] chengmengli06 commented on #3307
@drpngx @sukritiramesh  any improvements?

[2018-03-12 11:15] jrosebr1 commented on #3565
Same problem as well.

[2018-03-12 11:28] jrosebr1 commented on #3565
UPDATE:

For TensorFlow 1.4 compatibility I used the `fad6075359b852b9c0a4c6f1b068790d44a6441a` commit instead.

[code]
From there I was able to get past the `LookupTensor` tensor error.

I then ran into a _second_ error when trying to run `train.py`:

[code]
I encountered this error before and resolved it by adding `anchorwise_output: true` to the `weighted_sigmoid` and `weighted_smooth_l1` in my

[2018-03-12 12:58] GustavZ opened #3571 "SSD Architecture"
### System information
- **What is the top-level directory of the model you are using**: object_detection

I have a general question about the ssd models that are used in the object detection api.
Are they implemented in the advanced manner of [Rainbow SSD](https://arxiv.org/abs/1705.09587) with concatenated layers?

Furthermore what are the Base Networks for each used ssd version in the model zoo

[2018-03-12 14:29] ilkarman commented on #3556
@wenmin-wu Thanks for the reply! When my [model](https://github.com/ilkarman/DeepLearningFrameworks/blob/multi_gpu/notebooks/Chainer_MultiGPU.ipynb) using Chainer I get AUC of 0.79, I can replicate this AUC only on [Tensorflow](https://github.com/ilkarman/DeepLearningFrameworks/blob/multi_gpu/notebooks/Tensorflow_MultiGPU.ipynb) by doing inference with `is_training=True`. Otherwise it gets somethi

[2018-03-12 15:55] ViktorsRoze commented on #3392
Hey, I solved my issue just by switching to CPU mode. I still got the warnings, but at least after 8h my training was done.

[2018-03-12 16:29] drpngx commented on #3307
@chengmengli06 sorry I didn't have time to spend on this. You could try to modify the code of `gather_nd`, and print out the inputs in both cases. Either the inputs are not the same, or the operator behaves differently.

[2018-03-12 17:39] rogercooper76 commented on #3412
Hi @DominikAuras, sorry for bugging you. After I successfully loaded all parameters, the detection precision was dropping throughout the training with exactly same network (I also posted an issue [here](https://github.com/tensorflow/models/issues/3384)). May I know whether you observe similar issue or not? Thanks.

[2018-03-12 17:58] sidvip commented on #3392
HOW HAVE YOU SET CPU MODE IN IT CAN YOU SHARE THE WAY YOU PREPARED DATA IS
IT THE SAME WAY AS DESCRIBED IN TENSOR FLOW PET RECORD.PY OR SOMEWHERE ELSE
WAY I SHALL ALSO TRY IT IN THIS WAY ............

THANKS..............

On 12 March 2018 at 21:26, ViktorsRoze <notifications@github.com> wrote:

[2018-03-12 18:00] andrefaraujo commented on #3387
In step 1, no attention layers are used. In this case, a simple average pooling is performed.

[2018-03-12 20:10] Andreas71 opened #3573 "Error when trying to run object_detection_tutorial"
Hello

I am trying to run object_detection_tutorial using spyder and i am getting this error. Can you help me please?

![screenshot from 2018-03-12 20-09-23](https://user-images.githubusercontent.com/24529098/37307004-72b28ab4-2631-11e8-9ca2-297362418a90.png)

[2018-03-12 21:55] RoboEvangelist commented on #3553
Aight. @jiaxiang-wu I upgraded to tensorflow 1.6.0, and I don't have the issue anymore.

[2018-03-12 21:56] #3553 closed

[2018-03-12 22:55] pkulzc commented on #3554
Could you please sync to HEAD and try again?

[2018-03-12 22:58] pkulzc commented on #3542
Thanks for reporting this! The fix will go out with our next release.

[2018-03-13 01:21] hubbup commented on #3568
Solved. It was the problem of unsorted dataset.

[2018-03-13 01:21] #3568 closed

[2018-03-13 03:52] poddar414 commented on #2761
@sushilmdpatil @Draichi Could you solve this problem. I am using tensor flow 1.4, model : ssd_mobilenet_v1_coco_2017_11_17.

Inference of existing models are working fine, but re-training of same existing model screws up the results.  Any help here is appreciated.

[2018-03-13 04:54] szm2015 commented on #1741
Hey guys, I'm also wondering how to compile the code. Following the example in [C++ API guide ](https://www.tensorflow.org/versions/master/api_guides/cc/guide) I changed the BUILD to look like this:

`load("//tensorflow:tensorflow.bzl", "tf_cc_binary")

tf_cc_binary(
    name = "OB_Inference",
    srcs = ["OB_Inference.cc"],
    deps = [
        "//tensorflow/cc:cc_ops",
        "//tensorflow/cc:c

[2018-03-13 05:33] aldrin233 commented on #3547
[Try here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md)

[2018-03-13 07:22] cuicuizhang1989 opened #3577 "deeplab"
AttributeError: 'module' object has no attribute 'DEFINE_multi_float'
 when run python deeplab/model_test.py , this error happened. how to resolve it, thanks!

[2018-03-13 07:23] RFXMed commented on #3547
Thanks, but there is not the trained model for pets (dogs and cats) recognize ...

Dr Franck ROUSSIA

[2018-03-13 07:48] liangxiao05 opened #3578 "Add purely negative images gets error when using object detection API to create tf records?"
I met this problem when I tested my SSD model trained by object detection API.The model preforms well until it meets some images that contain the objects very simillar to the objective classfications.
I don't want to add another class to these wrong detected objects ,so I decide to include these images in my training datasets.
Refered to https://github.com/tensorflow/models/issues/2544，
''
You nee

[2018-03-13 08:01] KishoreKaushal commented on #3567
First of all bro this doesn't seems like a compilation error. You need to specify the locations properly.

As  given in the [installation documentation](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md):-

Protobuf Compilation:
The Tensorflow Object Detection API uses Protobufs to configure model and training parameters. Before the framework can be u

[2018-03-13 08:05] KishoreKaushal commented on #3573
I never considered this as an error. I encountered this multiple times. Feel free to proceed further, it won't affect you program.

[2018-03-13 08:07] #3514 closed

[2018-03-13 08:09] ozkansafak opened #3579 "Is there a way to extract gradients at each iteration step from a `tf.estimator.DNNLinearCombinedClassifier` model?"
I'm trying to to implement the [SWATS](https://arxiv.org/abs/1712.07628) optimization algorithm.

I'm able to extract the  weights values by `model.get_variable_value(name)`. Is there a similar way to extract the gradients while using an `tf.train.AdamOptimizer` or a `tf.train.GradientDescentOptimizer`?

[2018-03-13 08:28] cuicuizhang1989 commented on #3577
the problem is solved, as the  tf version needed 1.6

[2018-03-13 08:28] #3577 closed

[2018-03-13 09:18] Z-Zheng commented on #3579
The graph for training contains grad tensors corresponding to TRAINABLE_VARIABLES, so  you can call `tf.get_default_graph().get_tensor_by_name("tensor_name:0")` to get it if you use default_graph.

[2018-03-13 09:40] lightningsoon commented on #1992
edit ./bash_profile  in Mac os

[2018-03-13 09:44] CARASO commented on #1754
try `check_range=False`

[2018-03-13 09:55] achao2013 commented on #3515
i hope the answer sincerely.
if the answer is no , i want to implement it.
thank you very much.
@pkulzc  @sguada

[2018-03-13 10:33] aqsasamreen commented on #3413
i was also facing this problem while running create_dataset.py  for drawing classifier and i solve it as
reading_order = list(range(len(file_handles))) * int(observations_per_class)

[2018-03-13 10:58] MetaPeak commented on #3571
The base networks of ssd which implemented in object detection api are  inception_v2, inception_v3 and mobilenet_v1.

[2018-03-13 11:06] UesugiErii commented on #1064
I had the same program.But after i close chrome and VMware.(free more memory).

It work!!!

[2018-03-13 12:43] dfoley84 commented on #1809
I have COCO Training Images and Wider Face I don't have a GPU so I would have to retrain on a CPU,

 What I am interested in is a detection of a Person along with a Face detection, does anyone know if there is a pre-trained model on this already?

[2018-03-13 13:22] HutzelFutzel commented on #1396
Same problem here. Is there a solution for it?

[2018-03-13 14:44] chenghuige commented on #2505
@xingjinglu One workaround is to use freezed graph.

[2018-03-13 15:21] pkulzc commented on #3562
It depends on what your use case is.
- If you want to fine tune a trained detection checkpoint, then you should assign a detection ckpt path to fine_tune_checkpoint and set from_detection_checkpoint to true.
- If you want to load a pre-trained classification checkpoint to initialize your training, you should provide a classification ckpt path to fine_tune_checkpoint and set from_detection_checkpoi

[2018-03-13 17:15] aqsasamreen opened #3582 "Drawing Classifier"
I am facing an error when running the train.py code for training and evaluate Quickdraw model.
2018-03-13 22:03:48.821192: I C:\tf_jenkins\workspace\rel-win\M\windows\PY\35\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX
2018-03-13 22:04:11.623656: W C:\tf_jenkins\workspace\rel-win\M\windows\PY\35\tensorflow

[2018-03-13 22:00] joel-shor commented on #3413
The tutorial isn't yet python3 compatible. I'll make changes in the next few days go make it so. In the meantime, can you try running the tutorial with python2 and see if it works?

[2018-03-13 22:21] funkysandman commented on #3565
I'm trying to run training job on the google cloud and I'm getting the  same **AttributeError: 'module' object has no attribute 'LookupTensor'**
I'm trying @jrosebr1 's fix but I can't seem to checkout that fad6075359b852b9c0a4c6f1b068790d44a6441a commit.  I'm on Windows 10, python 2.7
it comes back with this:
**fatal: Not a git repository (or any of the parent directories): .git**

[2018-03-13 22:39] rbothra3 commented on #3527
How did you generate the TFRecord?

[2018-03-13 22:53] acardoco commented on #3552
Did you resolve it? How?

[2018-03-14 01:48] #3578 closed

[2018-03-14 02:07] scotthuang1989 opened #3588 "How do I use multiple GPU on 1 server to train model slim"
### System information
- **What is the top-level directory of the model you are using**: research/slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no

I have 4 GPU on 1 server, I want use them all to train ` models/research/slim`.  My understanding is that.
I need create 1 replica, 4 clones. So I use following commands.

But, the after I run

[2018-03-14 04:17] sidvip commented on #3392
i tried but issue is still there ........

[2018-03-14 04:44] aldrin233 commented on #3547
interesting, i actually can't find pre-trained models for dogs and cats.

[2018-03-14 07:07] liu09114 commented on #3388
@alensaqe
I got the same problem, Had you solve the problem?

[2018-03-14 07:20] xhzcyc commented on #3588
When I training object detection model, I have the same problem.
Thanks

[2018-03-14 07:42] RFXMed commented on #3547
"Dommage" ;-) ... I haven't got an NVIDIA GPU so how many time we can trained this model with different GPU / CPU ... Your experiences ? ... Thanks ...

Dr Franck ROUSSIA

[2018-03-14 08:15] scotthuang1989 commented on #3588
@xhzcyc  do you have a solution by now?

[2018-03-14 08:36] riokt opened #3589 "slim_example_decoder object has no attribute LookupTensor"
I got this error I don't know how to fix it. I use tensorflow 1.4.1 because my cuda is version 8. Maybe you could give me other alternative to solve this (beside change tensorflow to the newest)

![image](https://user-images.githubusercontent.com/12220831/37391378-94a739ae-279d-11e8-9310-003d4f082f71.png)

[2018-03-14 09:02] WillLiGitHub opened #3590 "mobilenet batch norm effect single image's prediction"
I finetune mobilenet with retrained ckpt file, I feed batch images to model when training , the train result is good, but when i feed single image to trained model, the result is bad, single images' predict distribution similar to each other. I guess the moving mean and moving variable(batch norm parameters) change when i feed the model with single image!

[2018-03-14 09:20] frkhit commented on #3547
you can train your model in colab of google with one K80 gpu. It's free!

[2018-03-14 09:26] WenguoLi opened #3591 "MobileNet V1 Quantized Training Failed!"
**System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): tensorflow 1.6.0
Python version: pyhton 2.7.14
Bazel version (if compiling from source): 0.11.0
GCC/Co

[2018-03-14 09:30] jrosebr1 commented on #3565
You need to `cd` into `models` first which is the repo you just cloned down. I'll edit my response to include this.

[2018-03-14 10:19] Sammyreus opened #3592 "if i give a custom vocabualary file of both source and target will it work.?"
when i am using the vocabulary from within the trained generated model vocab file of source and target it is generating the same vocab files with different line no equivalent to a certain word.
for eg. if in english vocab "Police" word is at line no 512 the equivalent meaning word w.r.t the english word is at line no 46.
Is it a error in real?
or shall it work while decoding the same.
my question

[2018-03-14 10:22] #3294 closed

[2018-03-14 10:25] thomasjanssens opened #3593 "Object detection: Tracking loss on test set, early stopping"
I'm interested in monitoring performance of a Faster RCNN object detection model on a custom dataset and stopping training before overfitting occurs. I've got two questions/feature requests related to this:
- Is it currently possible to evaluate the actual loss function on the test set, ideally every N (e.g. 1000) iterations?
- Is it possible to save the checkpoint that's the highest-scoring on so

[2018-03-14 12:38] Sammyreus opened #3594 "training with GPU, sampling with CPU"
Does tensorflow 1.6.0 allow us to train on GPU and then test the model on CPU. If i am using tensorflow/model, train.py as training set data.
If yes how can i perform it.

[2018-03-14 13:17] chansekar commented on #3546
Hi pkulzc

I downloaded the latest version and tried training, however i got the below error

AttributeError: module 'tensorflow.contrib.slim.python.slim.data.tfexample_decoder' has no attribute 'LookupTensor'

is it something to do 'tfexample_decoder.py'?

Regards
Sekar

[2018-03-14 13:32] sstolpovskiy commented on #3562
I see your point, but this configuration placed under object_detection folder, and have link from object_detection model zoo page.
It means that main purpose which it will be used should be object detection.

People who start using object detection model zoo will be very confused when they doing everything by instruction and get error at the end.

[2018-03-14 14:40] dketterer commented on #3589
I had the same issue, you have to update tensorflow. Maybe it is an option for you to build tensorflow from source with CUDA 8.0. This is possible, though it is not recommended.

[2018-03-14 14:48] dketterer commented on #3443
Problem seems to be, that they tried to enforce int32 for the TPU architecture.
[code]

[2018-03-14 14:50] kris-grig opened #3595 "Combine results of many trained models"
Is it possible to train object detection models on different computers and see the combined results of them on one image right during detection without losing speed?

[2018-03-14 14:51] kris-grig opened #3596 "Speed of training"
Does the speed of training process depend on the number of classes? If yes, is the dependence linear?

[2018-03-14 14:52] dketterer commented on #3443
@Yuvarajganesh112 did you write  `tf.constant(list(range(num_boundaries), dtype=tf.int32)),` instead of ` tf.constant(list(range(num_boundaries)), dtype=tf.int32),`

[2018-03-14 15:13] pkulzc commented on #3546
Ah, LookupTensor is in tf 1.5 and later version. Please install tensorflow 1.5.0 if possible.

[2018-03-14 15:37] pkulzc commented on #3562
When you start to modify the config file, you should go through [this](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/configuring_jobs.md#configuring-the-object-detection-training-pipeline) section, especially [Model Parameter Initialization](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/configuring_jobs.md#model-parameter-initia

[2018-03-14 22:22] Viehzeug opened #3600 "Export for Inception Resnet Atrous model"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no, only custom data
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04, macOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use c

[2018-03-15 00:23] WZMIAOMIAO commented on #3542
I has got same problem, when I  add metrics_set: "coco_detection_metrics" to the eval_config message in the config file. I wish contributors early fix the problem.

[2018-03-15 00:24] dcyoung commented on #3588
I am also a bit confused about the required flags for the case of multi-gpu training. As described [here](https://www.tensorflow.org/tutorials/deep_cnn#training_a_model_using_multiple_gpu_cards), I interpret a common strategy to be:  place a model replica on each GPU and use the CPU as the parameter server. However I am unsure what combination of flags produce this behavior.

Looking at `train_ima

[2018-03-15 02:20] jazoom commented on #3203
I'd love to bypass this error by using other models but other models give another error, for which there is already an issue:

`Expected int32, got range(0, 3) of type 'range' instead.`

So, I've so far been unsuccessful at using ANY model with TF object detection.

[2018-03-15 02:44] ethereon opened #3603 "Plots should be explicitly closed in add_cdf_image_summary"
In the function `add_cdf_image_summary` within `object_detection/utils/visualization_utils.py`:

The CDF plots created using `matplotlib` (for instance, when training an object detector with focal loss) are not properly closed. Consequently, they aren't garbage collected and result in the following warning during training:

Inserting `plt.close(fig)` before returning the image resolves the issue.

[2018-03-15 03:22] mhsamavatian commented on #3523
same error I got with version 1.6
tensorflow.python.framework.errors_impl.NotFoundError: None.de; No such file or directory
Any solution?

[2018-03-15 07:04] ksnzh commented on #3577
@cuicuizhang1989 Which python version do you use?

[2018-03-15 07:37] haoxi911 commented on #3508
@fye881 @angersson Any updates on this issue?

I am facing the same problem, after fine-tuning mobilenet_v1 on my own dataset (`Oxford IIIT Pet`), the new protocol buffer file was created by can't be used with `label_image` sample, same error as @fye881 mentioned:

[code]

The error message is:

[2018-03-15 07:42] jrabary opened #3605 "feature_map_generator in Object Detection API and Python 3 compatibility"
The function `fpn_top_down_feature_maps` is not working with python 3 and cause the following error
[code]

The workaround is to change `zip(...)` into `list(zip(...))`

[2018-03-15 07:57] WillLiGitHub commented on #1836
@chenyuZha  I finetune mobilenet for classification and got four files, checkpoint, out_graph-2000.data-00000-of-00001, out_graph-2000.index, out_graph-2000.meta. so which one should delete.

[2018-03-15 07:58] lpengc opened #3606 "AttributeError: 'module' object has no attribute 'DEFINE_enum'"
I was trying to run the deeplab's recent demo, when I run the code:bash download_and_convert_voc2012.sh, it shows that something wrong with the model's attribute, I don't know if there have someone meet the same trouble like me, and if yes, could u please tell me how to solve this problem, thanks a lot! Here are logs below:

lipengcheng@bogon:/data/lipengcheng/deeplab-master/research/deeplab/datas

[2018-03-15 08:22] TheFlashover commented on #3203
Solution for issue #3443 might help you, @jazoom.

[2018-03-15 08:49] ksnzh commented on #3606
try python2 and tf 1.6

[2018-03-15 08:50] chenyuZha commented on #1836
@gavincmartin That means train_dir should be empty.

[2018-03-15 08:53] chenyuZha commented on #1836
@WillLiGitHub The checkpoint file contains the paths of all of ckpt that you have trained (in your case you have only one because it seems like you trained just for one ckpt). The rest 3 files is used to export your graph .pb. So if you delete any of 3 you will not success to have .pb file.

[2018-03-15 08:59] ambr89 commented on #3594
I've the same problem, my code doesn't work with GPU with tensorflow-gpu 1.6.0

[2018-03-15 08:59] sainttelant opened #3607 "no module named matplotlib in google cloud training"
The replica ps 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python2.7/site-packages/object_detection/train.py", line 51, in <module>

[2018-03-15 09:06] KhaledSharif opened #3608 "TypeError: Expected string, got dict_keys in astronet model"
### System information
- **What is the top-level directory of the model you are using**: `models/research/astronet`
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Below
- **TensorFlow version (use command bel

[2018-03-15 09:11] jrabary commented on #3605
Another function that is not working with python 3 is:

[code]

The line with `tf.constant(range(...))` produces an error.

[2018-03-15 09:19] ahmed-18 opened #3610 "Tensorflow Object Detection Api Instance Segmentation takes up entire RAM (>32 GB)"
### System information
- **What is the top-level directory of the model you are using**: mask_rcnn_resnet50_atrous_coco
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comman

[2018-03-15 09:23] sainttelant commented on #3607
everyone, i installed tf1.6 in cloud vm, not sure whether it is compatible with what the instruction mentioned in Read.M

[2018-03-15 09:24] DominikAuras opened #3611 "object_detection evaluator graph_hook_fn() might insert model variables to be restored"
The graph hook function, executed in `trainer.py`
https://github.com/tensorflow/models/blob/c31b3c2c883aadffc37bc33643fa727185f59ce2/research/object_detection/trainer.py#L317-L319
and `evaluator.py`
https://github.com/tensorflow/models/blob/c31b3c2c883aadffc37bc33643fa727185f59ce2/research/object_detection/evaluator.py#L216
might actually insert model variables that should be restored from checkpo

[2018-03-15 09:29] dzfowen opened #3612 "About errors when training in Resnet with CIFAR10"
Hi, when I tried  models/research/resnet/  there is a error:

Caused by op 'SparseToDense', defined at:
  File "/Users/dzf/models/research/resnet/resnet_main.py", line 215, in <module>
    tf.app.run()
  File "/anaconda/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "/Users/dzf/models/research/resnet/res

[2018-03-15 09:51] WillLiGitHub commented on #1836
@chenyuZha
Thanks!!
I have find the error, when i saved model variables, I just saved variables_trainable, actualy should saved variables_to_restore.
Thanks again!

[2018-03-15 10:23] helloworld77 opened #3613 "InvalidArgumentError: Nan in summary histogram"
hi,
I'm trying to train cityscapes dataset by deeplab, I have successfully converted the dataset into tfrecord and started the training, but a 'Nan' error occured around step 1400 and break the training. could u please tell me how to solve this error, thanks a lot!

### environment
nvidia-docker, tensorflow/tensorflow:latest-gpu(ubuntu16.04, tf1.6, cuda8, nvidia1080ti)

### command
python deeplab/

[2018-03-15 11:12] Bhavyabhushanyadav commented on #3582
I get the same error when running a job on cloud ml engine, but the code works fine on my local machine.

[2018-03-15 11:30] sainttelant commented on #2739
@andersskog
is it worked for TF1.4 version? not supported by TF1.6 deployed in GCP?

[2018-03-15 11:39] chansekar commented on #3546
Hi pkulzc,

I did install tf 1.5, its on cuda 8.

However i get the error 'Expected int32, got range(0, 3) of type 'range' instead'

There is a thread with similar error, but i dont see any credible solution on it too

Regards
Sekar

[2018-03-15 11:42] sainttelant commented on #3607
i've tried million times to train, i uninstalled TF1.6,and installed TF1.4 again, and the error is still there, didn;t solve, anyone knows why? by the way, i found some places proposed by issue #2739 which has been modified yet by new version of 1.4, however, the problem matplotlib error was still occurred, anyone helps me, thanks in advance

[2018-03-15 12:04] sainttelant commented on #3291
@davidblumntcgeo @BrownTian
have you guys found the exact solution to solve the issue, i 've tried many times referenced by issue #2739, it doesn't work, i deployed the training in cloud, and used TF1.4

[2018-03-15 12:05] sainttelant commented on #3291
The replica ps 0 exited with a non-zero status of 1. Termination reason: Error. Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python2.7/site-packages/object_detection/train.py", line 51, in <module>

[2018-03-15 12:14] chrisrn commented on #3418
Well the network that I used was not official/resnet but the one from research/slim/nets. The functionality for training these networks with NCHW is not yet integrated but when I did it by myself I had higher accuracy

[2018-03-15 12:25] drdlfy opened #3614 "How to load a pre-trained xception model when deeplab trains new data"
How to load pre-trained xception models when I use deeplab to train new data, thank you very much for your help.

[2018-03-15 12:30] HutzelFutzel opened #3615 "PixelDA Bazel Server terminated abruptly"
### System information
- **What is the top-level directory of the model you are using**:
~/models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4.1
-

[2018-03-15 14:38] andersskog commented on #2739
@sainttelant it worked on TF 1.4. TF1.6 is not currently supported (https://cloud.google.com/ml-engine/docs/runtime-version-list)

[2018-03-15 16:03] danamyu commented on #2087
Hi @balansky ,

For training multiple classes, do you need individual train and val tfrecords for each class? And then, would you need to train the network separately for each class?

Many of my train images contain object instances across classes. It would be most efficient to keep all images in one directory and create single tfexamples for each image that can list annotations for multiple class

[2018-03-15 16:20] helloworld77 commented on #3613
https://stackoverflow.com/a/49260201/9498482, as Chen said,  I modified the fine_tune_batch_norm to false (in train.py), and that works.

[2018-03-15 16:43] civilman628 commented on #2087
@tvkpz your question is wrong. you can always train more than one class in one tr.record. One image can contains many different classes. It is not one tf.record file for one class. This is wrong way to train. Shuffle classes are very important to make network converge.

[2018-03-15 17:10] willSapgreen commented on #2386
Any update on this?
Also, I wonder if I can either

1. put the dummy value to the field for which information is not available. For example, difficult/view/truncated.

or
2. ignore that field when creating the tf example.

Thank you!

[2018-03-15 17:39] YknZhu commented on #3614
After downloading the pretrained model, please refer to https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/pascal.md#running-the-trainevalvis-jobs for training commandline. Just direct `${PATH_TO_INITIAL_CHECKPOINT}` to your downloaded checkpoint will do.

[2018-03-15 17:39] #3614 closed

[2018-03-15 17:44] YknZhu commented on #3577
The root cause should be python gflags version. Please keep it up-to-date.

https://github.com/google/python-gflags/blob/80bcd7d8fcf8db0ab8fa037122a0ea9c7bafc681/gflags/__init__.py#L775

[2018-03-15 17:46] mbarnes1 commented on #3606
Confirmed, you need to upgrade to tf 1.6

[2018-03-15 17:53] bduman commented on #3470
I tried to install pycocotools with editing setup.py

`REQUIRED_PACKAGES = ['Pillow>=1.0', 'Matplotlib>=2.1', 'Cython>=0.28', 'pycocotools>=2.0.0']`

but failed.

`Traceback (most recent call last): File "<string>", line 1, in <module> File "/tmp/pip-build-0CFyea/pycocotools/setup.py", line 2, in <module> from Cython.Build import cythonize ImportError: No module named Cython.Build`

I think Cython

[2018-03-15 17:57] pkulzc commented on #3589
If you can't update tensorflow, one option is to copy the definition of LookupTensor to object_detection/data_decoders/tf_example_decoder.py and use it as a replacement.

We will fix this soon (likely next week).

[2018-03-15 19:29] Supersak80 commented on #3565
Thanks for the tip about checkout of the particular commit, @jrosebr1 . Interestingly enough, after I did that, it worked, and I didn't run into the second error that you mentioned above...

[2018-03-15 19:47] parallelo commented on #3612
I believe I saw this as well.  I think dropping back to an older commit helped.  For example:
[code]
If that fixes your issue, perhaps try a `git-bisect` to find the faulty commit.

[2018-03-15 20:00] jrosebr1 commented on #3565
@Supersak80 Hm, interesting. Did your `.prototxt` file already include the update mentioned? I pulled mine from the bleeding edge of the repo.

[2018-03-15 20:13] Supersak80 commented on #3565
@jrosebr1 Which .proto file has those parameters?

[2018-03-15 20:29] jrosebr1 commented on #3565
@Supersak80 Whoops, I didn't mean to say .prototxt. I mean the pipeline.config. In particular, I needed to update the Faster R-CNN and SSDs for the COCO and Pets examples.

[2018-03-16 00:17] cshallue commented on #3608
Thanks for bringing this to my attention! I'll send a fix shortly.

[2018-03-16 01:04] sainttelant commented on #2739
@andersskog ,hi guy, i tried to uninstall TF1.6 version, and reinstall Version1.4, however, the same error is still there, i checked the places you mentioned above, tried to fix them up, however, all places has been fixed yet i found, so i still couldn;t figure out how to address them

[2018-03-16 01:09] sainttelant commented on #2739
@andersskog , thanks for sharing the link with compatible runtime -version instruction, i hope it will be helpful.

[2018-03-16 02:03] dzfowen commented on #3612
@parallelo sorry  did you mean resnet located at /models/official/resnet?

Because I tried /models/research/resnet as your instructions but failed. It seems it has no this branch.

Thanks a lot.

[2018-03-16 02:55] huangh12 commented on #3606
Hello, updating ot tf1.6 does solve the problem. But I fail to find the exact definition of the attribute `'DEFINE_enum'` in tf1.6's source code(check [here](https://github.com/tensorflow/tensorflow/blob/v1.6.0/tensorflow/python/platform/flags.py)). Can anyone help? Thank you :)

[2018-03-16 03:18] YknZhu commented on #3606
I believe TF 1.6 is using the latest abseil flags:

https://github.com/abseil/abseil-py/blob/9dd9c42657fee7f4022d625e39ca0f1f25ce265e/absl/flags/__init__.py#L65

[2018-03-16 03:45] pandasMX commented on #3514
hi, how did you solved this?

[2018-03-16 03:52] pandasMX opened #3624 "how to prepare labelmap.pbtxt"
Hi, I'm training on my own dataset, so i need to generate my own labelmap.pbtxt. The code i used to generate it is as below. It seems to be fine during training.
[code]

the final output looks like this:
[code]

However, when i run eval.py, it gave me an error:
[code]
Is it because the pbtxt i generated not correct? If so, why the training seems to be ok. And what's the correct way to generate the

[2018-03-16 05:06] KishoreKaushal commented on #3514
I reinstalled the library from scratch on a fresh Ubuntu GNOME 16.04. It worked. (Silly method , I know).

[2018-03-16 05:10] KishoreKaushal commented on #3514
Most importantly, every time I installed the library I got an error regarding 'dct_method'. There is a fix for that in another issue. I resolved it by removing a line of code in the file 'example_decoders.py'. I still don't know what that error means. And why do they included that line in the code, if we just have to remove it.

[2018-03-16 06:56] pkulzc commented on #3565
Upgrading to tensorflow 1.5+ would resolve missing LookupTensor issue. I'm also preparing a fix to make it tf 1.4 compatible(likely early next week).