[2021-09-27 23:33] MrinalJain17 commented on #10266
Faced a similar issue.

Internally, the object detection package installs `tf-models-official`, which has a dependency on `tensorflow-text`. Pip ends up fetching the latest version of text (2.6.0), which in turn requires TF 2.6. That is probably why your TF installation is overridden.

A potential workaround could be to manually install `tensorflow-text` (2.4) before installing the object detectio

[2021-09-28 03:43] awaisbajwaml commented on #9808
I had a fix and similar to this , closing this issue.

https://medium.com/mlearning-ai/tensorflow-2-4-with-cuda-11-2-gpu-training-fix-87f205215419

[2021-09-28 04:48] awaisbajwaml commented on #8912
I have fixed the issue and the solution was to upgrade the TF version. I think the original version was unstable

[2021-09-28 04:48] awaisbajwaml commented on #8912
closing this issue

[2021-09-28 04:48] #8912 closed

[2021-09-28 05:56] hanikh commented on #9766
I have implemented this feature. I can contribute

On Mon, Sep 27, 2021 at 6:14 PM Matheus Correia Ferreira <
***@***.***> wrote:

[2021-09-28 06:43] Edwardsleo commented on #9414
**Hi folks ... i just need to do all the things from scratch for keypoint detection with centernet_mobilenetv2fpn_512x512_coco17_kpts.tar.gz**

I downloaded coco2017 datasets from here https://cocodataset.org/#download
**Tfrecords**
Generated tfrecords using https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_coco_tf_record.py
python create_coco_tf_recor

[2021-09-28 06:54] Edwardsleo opened #10280 "Training on coco dataset from scratch using centernet_mobilenetv2fpn_512x512_coco17_kpts.. tflite keypoint detection inference not working"
**Hi folks ... i started from scratch for keypoint detection with centernet_mobilenetv2fpn_512x512_coco17_kpts.tar.gz**

I downloaded coco2017 datasets from here https://cocodataset.org/#download
**Tfrecords**
Generated tfrecords using https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_coco_tf_record.py
python create_coco_tf_record.py --logtostderr \

[2021-09-28 11:38] esparig commented on #10258
Yes, I figured out I needed the tfrecords, I did this:

### Dataset preparation
#### Download Imagenet2012: https://image-net.org/

`export IMAGENET_HOME=<my_imagenet_folder>`

#### Setup folders
`mkdir -p $IMAGENET_HOME/validation`
`mkdir -p $IMAGENET_HOME/train`

#### Extract validation and training
`tar xf ILSVRC2012_img_val.tar -C $IMAGENET_HOME/validation`
`tar xf ILSVRC2012_img_train.tar -C

[2021-09-28 14:55] srjoglekar246 commented on #9414
Hey @Edwardsleo  can you paste the commands you ran to export & convert the TFLite model? There might be some discrepancy with how we generated the model vs how you are doing it. Also I assume you tested your trained *TF* model & it does inference fine before conversion to TFLite?

[2021-09-28 15:07] andrefaraujo commented on #3387
This curve was obtained with the initial version of the Google Landmarks dataset, which we used in the DELF paper. The dataset was modified before releasing it as [GLDv1](https://www.kaggle.com/google/google-landmarks-dataset), so the curve cannot be reproduced exactly with the current externally-available dataset.

[2021-09-28 15:08] andrefaraujo commented on #10218
Thanks @DLPerf ! Did you run experiments with and without the change to see if there are significant changes in practice?

[2021-09-28 15:10] andrefaraujo commented on #9579
Did you find out what the issue was? Closing due to lack of activity, but feel free to reopen as needed.

[2021-09-28 15:10] #9579 closed

[2021-09-28 15:11] andrefaraujo commented on #9572
Duplicate of #9579

[2021-09-28 15:11] #9572 closed

[2021-09-28 23:37] PoissonChasseur commented on #10277
Note: I can also run the "SSD MobileNet-V2" (normal and light version) without problem - so maybe the problem is only related to this specific model (the SSD Inception-V2).

[2021-09-29 00:50] #10243 closed

[2021-09-29 06:26] cristyioan2000 commented on #3387
Hi, the LC and LF datasets are no longer available [here](http://download.europe.naverlabs.com/Computer-Vision-CodeandModels/). There are some urls from this .txt files that are not working anymore, and also there are a lot of corrupted images. Is there another place where the LC and LF are stored as images not urls?

[2021-09-29 11:20] Edwardsleo commented on #9414
Hi srjoglekar246 thanks for your reply,

 **can you paste the commands you ran to export & convert the TFLite model?**

This the commands i used to export saved model and converted to tflite

python export_tflite_graph_tf2.py \
  --pipeline_config_path=/centernet_mobilenetv2_fpn_kpts/pipeline.config \
  --trained_checkpoint_dir=/mypath/edwardcheckpoint \
  --output_directory=/mypath/output \
  --c

[2021-09-29 12:07] andrefaraujo commented on #3387
Not that I know of. You should contact the original authors from the LC an LF datasets for that.

[2021-09-29 15:41] Edwardsleo opened #10282 "Keypoint detection inferencing is not working on predefined checkpoints available in centernet_mobilenetv2fpn_512x512_coco17_kpts.tar.gz"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-09-29 18:21] snooplsm commented on #10254
deeplab uses a fixed size so you will need to resize your data for use with the trained model.

[2021-09-29 20:24] srjoglekar246 commented on #9414
@Edwardsleo It looks like there is something going wrong with your custom model training, so we should probably debug that before looking at TFLite conversion (because that won't work before the TF model works as intended). What error do you get when running your model with `colab_tutorials/inference_tf2_colab.ipynb`?

[2021-09-30 02:49] LUYIJUN1206074121 commented on #10266
I have the same question, may I know you how to solove it?

[2021-09-30 03:03] Edwardsleo commented on #9414
Hi srjoglekar246 , the pretrained checkpoints which is available in centernet_mobilenetv2fpn_512x512_coco17_kpts itself not able  to detect the keypoints of image on inferencing with  `colab_tutorials/inference_tf2_colab.ipynb`. it is not showing any bug but warning message.

I am using that pretrained checkpoints for my model training ..during training and in inferencing... i am getting WARNING:t

[2021-09-30 03:13] gganduu commented on #9926
To be honest, I don't think it's because of complex data. I use Resnet in pytorch, it works fine. So I think it's model problem or maybe caused by some wrong configuration in my side. Actually you could just copy my code and repeat the same problem.

[2021-09-30 06:34] DORSA-co opened #10284 "ssd_resnet50_v1_fpn_keras is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow"
I am using the latest TensorFlow Model Garden release and TensorFlow 2.5.0
I am reporting the issue to the research directory

https://github.com/tensorflow/models/tree/master/research

## Describe the bug
when I run the following command for test instalation, i got error
`python object_detection/builders/model_builder_tf2_test.py`

##  Additional context

`========================================

[2021-09-30 07:03] cristyioan2000 commented on #3387
Hi, when training with Google Landmarks v2 what dataset was used during validation ? (During Fine-Tune and Attention training)

[2021-09-30 08:19] iumyx2612 commented on #10231
I understand the concept but in Resnet-50 backbone below, the FPN did a pretty good job on the proposal regions. I'm scared that in the Resnet-101 backbone, the region passed to the pooling layer isn't good (which is weird because Resnet-101 is expected to do better than Resnet-50 right?) which may make the prediction head to do poorly.

[2021-09-30 11:21] andrefaraujo commented on #3387
Please see the answer to that in [these detailed instructions](https://github.com/tensorflow/models/tree/master/research/delf/delf/python/training#prepare-the-data-for-training).

[2021-09-30 15:22] jvishnuvardhan commented on #8778
@codebugged I think this was resolved. I couldn't reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f175038fcdfd2763062467f9a76ab8b7/untitled.ipynb) is a colab gist where it was successfully installed and tested. Thanks!

[2021-09-30 15:22] #8778 closed

[2021-09-30 18:44] raikonenfnu commented on #10275
Hey @jaeyounkim, my friends @nithinsubbiah, @stwinata and I are interested in contributing and implementing this paper. It's our first time contributing to tensorflow/models (typically we play around MLIR land HLO/Linalg for nextgen tf compilers), Would the project be structured in [this manner](https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/example)? Thanks in adva

[2021-09-30 21:48] SAFI36 commented on #9633
This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDN
N) to use the following CPU instructions in performance-critical operations:  AVX
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
 Aidez- moi s'il vous plait

[2021-09-30 22:40] jcgarciaca commented on #9557
Do you know the `EfficientDet D7` requirements? I try to train a model in local machine with 32GB RAM memory and `batch_size=1`, but it does not work.

[2021-09-30 22:45] ekesdf commented on #9557
Well the ram size is not point where it stops it is the vram from your you that crashes the model bc I tried a 1024x1024
Model and it still crashed even with 12gb of vram

[2021-10-01 04:37] saberkun commented on #10278
The question is quite vague. If you are using a particular model, please tag the code owner.

[2021-10-01 04:37] #10278 closed

[2021-10-01 04:39] saberkun commented on #10258
Using official/vision/beta/train.py  is right. You need to provide --experiment.
https://github.com/tensorflow/models/blob/master/official/vision/beta/configs/image_classification.py#L115
@yeqingli @jaeyounkim I feel we need to have basic documentation of the main models ASAP. The projects already have documentation.

[2021-10-01 05:14] saberkun commented on #10279
Which folder contains the DELG model?
Can you just wrap the pretrain model with another model and save with new signatures?

[2021-10-01 05:18] paxbun commented on #10275
Hi @raikonenfnu, I'm already working on this paper (I've just finished reading this paper now), so we need some rearrangements if you and your friends want to implement this paper.

[2021-10-01 05:53] raikonenfnu commented on #10275
hi @paxbun, thanks for letting me know. that's alright, we can look for other papers to implement! Goodluck on this implementation, hope you have a lot of fun! :)

[2021-10-01 10:38] gamenerd457 opened #10287 "Adding dice loss"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request
Implement dice loss so we can use it in segmentation tasks

## 4. Are you willing to contribute it? YES

my pull request:-
added dice loss file #10249
htt

[2021-10-01 11:15] esparig commented on #10258
I got it! thank you for your help @saberkun. Here I explain what I did, in case someone finds it useful:
[code]
$MODEL_DIR is the path where to save checkpoints.

$DATA_DIR is the path that has the TF Records that I build from the tars that I downloaded from https://www.image-net.org using this script https://github.com/tensorflow/tpu/blob/master/tools/datasets/imagenet_to_gcs.py but changing the

[2021-10-01 16:05] yanikc commented on #10279
That is what I tried in the first place. Following [this thread](https://stackoverflow.com/a/60508632) and instructions for tf.function [here](https://www.tensorflow.org/guide/function). Unfortunately, resulting saved model did not work at all was only a couple of mbs compared to the original 100mb.

[2021-10-01 18:59] stanwinata opened #10289 "Pix2Seq paper implementation"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/pix2seq

## 2. Describe the feature you request

We'd like to implement [pix2seq](https://arxiv.o

[2021-10-03 00:16] Enzodtz opened #10290 "object_detections.protos imports broken?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are

[2021-10-03 00:29] Enzodtz commented on #10290
Ended up reinstalling the api and it was fixed. I'm sorry

[2021-10-03 00:29] #10290 closed

[2021-10-03 00:45] yinxx opened #10291 "NameError: name 'category_index' is not defined"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-10-04 05:35] IamShubhamGupto commented on #9800
Hey, I am also working on reproducing TransUnet on TF2. Is there any way I can contribute ?

[2021-10-04 05:57] kumariko commented on #10276
@tombstone @jch1 @pkulzc please review PR https://github.com/tensorflow/models/pull/10285

[2021-10-04 07:04] #10261 closed

[2021-10-04 08:45] HoseinHashemi commented on #4676
I am also keen to see a documentation on how to use the OD API for kp-detection.

[2021-10-04 11:40] neso613 opened #10293 "Inference for AttentionOCR model"
Hi there!
I am trying to understand Attention OCR repo and its inference.
I have seen its input/output details -
![image](https://user-images.githubusercontent.com/31642462/135845091-faaede6e-3d90-4c8e-ac13-97a661a554ce.png)

it says, it takes (32) as string. I don't get this. What does it mean?
In demo_inference.py, there is run method-
def run(checkpoint, batch_size, dataset_name, image_path_pat

[2021-10-05 02:55] pramodisamaratunga commented on #5474
Did you Just remove the eamples where xmax>height from .csv file?

[2021-10-05 04:48] ansonnn07 commented on #5474
He most likely just remove the associated images and annotations, just like what I did. I just added some lines of code to ask for user confirmation to delete the bad images & annotations.

[2021-10-05 05:18] ankitbansal811 commented on #5474
Yes, as @ansonnn07 guessed, I removed the cases where xmax>height.

[2021-10-05 05:55] ryotaro137 opened #10294 "How to improve mAP"
I ran the code below.
However, I am in trouble because the mAP value is too low.
Will you tell me what to do?

eval_result:
![スクリーンショット 2021-10-05 144703](https://user-images.githubusercontent.com/77430355/135968111-d45d7a87-40c0-4d01-b447-525dfda143e0.png)

Below is my code.

[code]

[code]
I kindly thank you.

[2021-10-05 06:14] neso613 commented on #10293
Hi @kumariko
Any idea for this isuue?

[2021-10-05 08:58] fgraffitti-cyberhawk commented on #9766
@hanikh do you have a github repo or example codes of your callbacks implementation?

[2021-10-05 10:40] kumariko commented on #10294
@ryotaro137 In order to expedite the trouble-shooting process, Can you please provide the entire URL of the repository which you are using. Thanks!

[2021-10-05 11:05] mikibella commented on #6465
Hello, is it possible to extract a object motion vector for every instance from the instance mask which will be provided inside the inference.py ?

[2021-10-05 12:31] ryotaro137 commented on #10294
I'm sorry. There is no repository for local execution.
What information would lead to a solution?

[2021-10-05 15:12] fgraffitti-cyberhawk opened #10295 "Object detection API - error when finetuning centernet and faster_rcnn models: RuntimeError: Groundtruth tensor weights has not been provided"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [V ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [V ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [V ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-10-05 16:04] #10000 closed

[2021-10-05 18:04] #10147 closed

[2021-10-05 23:45] stwinata commented on #10289
Do we have the blessing to go ahead and if yes is the official/vision/beta/projects the place to be in 🙂

[2021-10-06 05:42] sebastian-sz commented on #10234
@jaeyounkim
Any updates on this?

Will you be releasing the checkpoints from this repo?

[2021-10-06 11:34] GerdHel opened #10296 "Object Dectection API: Training/Finetuning efficientdet_d0 with pascalVOC -> Dimension 1 in both shapes must be equal"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
  (I use TensorFlow 2.5.0)
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
  issue need to switched to research directory
- [x] I checked to make sure that this issue ha

[2021-10-06 21:25] saberkun commented on #10279
The general question should discuss on stackoverflow or Tensorflow repo.
This repo is for the model garden. Sorry, we don't know how to resolve your problem. Thanks

[2021-10-06 21:25] #10279 closed, assigned to jaeyounkim, saberkun, rachellj218

[2021-10-06 21:33] arashwan commented on #10258
Imagenet needs to be downloaded manually as per its license even if tfds is used https://www.tensorflow.org/datasets/catalog/imagenet2012

[2021-10-07 03:04] get93 opened #10297 "Implementing different model for object detection but I have error stating this: Exception: URL fetch failure on http://download.tensorflow.org/model"

[2021-10-07 03:32] get93 commented on #10297
So I am working on this repository https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/object_detection_tutorial.ipynb

[2021-10-07 06:02] pramodisamaratunga commented on #5474
@ansonnn07 if u can. can you please the lines of codes that you used to ask user confirmation to delete the bad images & annotations from the datset.

[2021-10-07 08:23] neso613 commented on #10293
@kumariko  This model trained on TF1.x version. Still model can be exported to saved format.
Can we use TF2.x for model and training.
Pls reply.

[2021-10-07 18:42] AbdullahJirjees opened #10299 "'PIPELINE_CONFIG_PATH' is not recognized"
Hi I am getting this error when I just tryed to use the pipline config
'PIPELINE_CONFIG_PATH' is not recognized as an internal or external command,
operable program or batch file.

any Idea how to solve this?
THank you

# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x]

[2021-10-07 19:33] ansonnn07 commented on #5474
I created my own `generate_tfrecord.py` and here are some changes that I made:

https://github.com/ansonnn07/object-detection/blob/a66a32c27ea49677bcd786202d0625e6cd6470b5/utils/generate_tfrecord.py#L184-L217

https://github.com/ansonnn07/object-detection/blob/a66a32c27ea49677bcd786202d0625e6cd6470b5/utils/generate_tfrecord.py#L261-L274

The repo also has some good guidelines on using TensorFlow O

[2021-10-08 00:25] pramodisamaratunga commented on #5474
Thank you very much for your big help

[2021-10-08 07:11] MeghanshBansal commented on #9706
I am having the same error, I am also using the latest version of anaconda with TensorFlow version 2.3.0.

The program was working with the general installation of TensorFlow with pip. It is not working with anaconda.

[2021-10-08 15:50] aegonwolf opened #10301 "Object Detection Model linear increase in memory usage with predicing"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ Yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Yes ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Yes] I checked to make sure that this issue has not already been filed. #Though I have seen many similar issues

[2021-10-09 10:21] alelotti96 commented on #4783
@parameswaraRao-13 this actually didn't solve the problem, I'm still facing the same issue while converting the ssd_mobilenet_v2_mnasfpn_coco model from the model zoo with export_tflite_ssd_graph.py. Any news from anybody?

[2021-10-09 11:26] bhaskatripathi commented on #3366
Check if Tensorflow GPU version is installed. If you have Tensorflow CPU then uninstall it and use the GPU version.

[code]

[2021-10-09 11:59] hitlhz666 opened #10302 "'range' object does not support item assignment"
when i run the "slim/datasets/build_imagenet_data.py",it has problems.
please look at "https://blog.csdn.net/qq_26535271/article/details/82801220"

[2021-10-10 04:30] zig-zaggity commented on #9832
I am experiencing the same issue. Has anyone found a solution?

[2021-10-11 16:31] Nozoomhs opened #10304 "Trouble evaluating modell during training using model_main_tf2.py"
I am having trouble evalutaing my training process during training a Tensorflow2 Custom Object Detector. After reading several issues related to this problem I found that evaluation and training should be treated as two seperate proccesses therefore I should use a new anaconda prompt for starting the evaluation job. I am training on the ssd_mobilenetv2 640x640 version.  I would like to montior eva

[2021-10-11 22:15] poorjin opened #10305 "Probably a mistake in neumf_model.py evaluation"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/recommendation/neumf_model.py#L423-L429

## 2. Describe the issue

In line 397, the args description of compute_

[2021-10-12 03:36] robmarkcole opened #10306 "interactive_eager_few_shot_od_training_colab.ipynb error: Failed to get convolution algorithm."
# Prerequisites
- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using
https://github.com/tensorflow/models/blob/master/research/object_detection/colab_

[2021-10-13 09:43] thmsgntz commented on #10253
Hello, I think this is highly related to your hardware setup.
I'm guessing that results presented [TF2 Model Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) are directly the ones presented in research papers. Research teams are using latests GPUs like the Nvidia Titan serie.

For example, if you check [EfficientDet D0's paper](https://ope

[2021-10-13 12:09] mohsinmx opened #10307 "How to convert faster_rcnn_resnet101_kitti tf1 model to tf2"
I want to use faster_rcnn_resnet101_kitti tf1 model in tf2 for transfer learning purpose.

[2021-10-13 15:07] MMB019 commented on #9209
python model_main_tf2.py --model_dir=models/my_ssd_resnet50_v1_fpn --pipeline_config_path=models/my_ssd_resnet50_v1_fpn/pipeline.config

verify thes file , i had the same problem , when i verify i se i have fogorten the = after the link of my directory

[2021-10-14 12:56] aahlexxx commented on #9958
Hello, can I request for this issue to be reopened? I was training ResNet50 and it went fine but when I started to evaluate the model I got this error. Please help, huhuhu.

File "Tensorflow/models/research/object_detection/model_main_tf2.py", line 115, in <module>
    tf.compat.v1.app.run()
  File "C:\Users\aclab\anaconda3\envs\thesis\lib\site-packages\tensorflow\python\platform\app.py", line 40,

[2021-10-14 13:18] vighneshbirodkar commented on #9958
@aahlexxx You can re-open it. Could you attach the full log from start to finish?

[2021-10-14 15:57] myopengit opened #10308 "Spinenet, TypeError: Value passed to parameter 'grads' has DataType bfloat16 not in list of allowed values: uint8, int8, int32, float16, float32, float64"
# Prerequisites
I am reporting the issue to the correct repository. (Model Garden official )
https://github.com/tensorflow/models/tree/master/official/vision/detection

## 2. Describe the bug

When training on tpu for the spinenet - 49, the following issue comes out
TypeError: Value passed to parameter 'grads' has DataType bfloat16 not in list of allowed values: uint8, int8, int32, float16, float3

[2021-10-15 02:55] xyn123321 commented on #10099
Hi @rezama ,
I wonder how to draw dense gt depth map with kitti dataset ? Like the gt depth maps in your paper.
![QQ截图20211015102830](https://user-images.githubusercontent.com/44809132/137424264-916f905e-af21-4a60-8100-33042de61292.jpg)
I read some papers, they mentioned that the ground truth velodyne depth being very sparse, authors interpolate it for visualization purposes. But I can't figure ou

[2021-10-15 03:38] KrystalCWT opened #10309 "how to extract fasterrcnn box features?"
how to extract fasterrcnn box features? could you give me a script?

[2021-10-15 04:44] saberkun commented on #10308
If you are not using intel CPU/TPU, maybe some default flags are set to bfloat16 which causes the problem to run on devices that don't support bfloat16.

[2021-10-15 06:15] KrystalCWT opened #10310 "how to extract feature for each roi boxes?"
I check the graph and only found box, class and score for output , how can I get the feature for each roi box?

[2021-10-15 06:25] KrystalCWT commented on #9361
same prpblem,have you solved it?

[2021-10-15 12:30] neso613 commented on #10293
pls update on this.

[2021-10-15 23:04] rezama commented on #10099
See this function:
https://github.com/tinghuiz/SfMLearner/blob/master/kitti_eval/depth_evaluation_utils.py#L171

[2021-10-16 05:39] TobyHuang328 opened #10311 "converting SavedModel.pb to .tflite outputs an ERROR: TFLite interpreter needs to link Flex delegate in order to run the model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x ] I checked to make sure that this issue has not already been filed.

# 1. The entire URL of the file you are u

[2021-10-16 20:50] rmcanany opened #10313 "AudioSet embedding range mismatch between TFRecords and vggish_postprocess.py"
@plakal and @dpwe,

The TFRecord embeddings have a range of [-128, +127].  vggish_postprocess.py produces embeddings with range [0, 255]

[2021-10-17 13:26] kyscg commented on #10293
You should be able to use TF2.x for training and inference

[2021-10-18 02:22] Cipher-zzz commented on #10260
Got a same output_details, this solved my problem. Thank you!

[2021-10-18 09:57] usryokousha opened #10314 "Using EMA optimizer with mixed precision LossScaleOptimizer"
I am currently using the beta vision image classification trainer and had an issue with the LossScaleOptimizer wrapper.  When wrapping the EMA Optimizer wrapper there appears to be a conflict in “base_optimizer” naming since the EMA optimizer is already assigning “base_optimizer” to the optimizer it is wrapping.  After looking at the code for the experimental version of LossScaleOptimizer this con

[2021-10-18 13:36] kumariko commented on #9299
@tombstone @pkulzc @jch1 any update on  PR **[#9300](https://github.com/tensorflow/models/pull/9300)**?

[2021-10-18 14:17] alexcali85 opened #10315 "Oxford5k results"
Hello, in the DELF paper (ICCV, 2017) the mAP reported for Oxford5k is 83.8, while in the DELG paper, in table 3, for Oxford5k medium the result for DELF is 67.8.
I tried to implement a validation on my own, and after combining extract_features.py and perform_retrieval.py from the 'delg' folder with 'match_images.py' from the 'examples' folder I've got 74.14. For this, I used the model and configu

[2021-10-18 16:04] opendedup opened #10316 "Detection Boxes are not aligned with object"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-10-18 21:57] plakal commented on #10313
If you are referring to the AudioSet embeddings documented at https://research.google.com/audioset/download.html, please note that, as per the example on that page, the embeddings are represented as tensorflow.BytesList which in turn is represented by a 'bytes' protocol message type which is a sequence of arbitrary byte values. These are not signed integers and you should interpret the values as u

[2021-10-19 00:25] apivovarov opened #10317 "SSD MobileNet v2 batch size 1 only"
I'm trying to use [SSD MobileNet v2 320x320](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)

I used `exporter_main_v2.py` to get saved model.
The generated saved model has hardcoded batch size 1.
Is it the Limitation of SSD models?
Is it possible to save the model with different batch sizes except of 1?

The command I'm running:
[code]

[2021-10-19 02:24] usryokousha commented on #10314
A temporary workaround I found was simply changing the name the EMA optimizer assigns to the optimizer it is wrapping.  Instead of self._tracker.trackable(optimizer, "base_optimizer") , I simply changed it to "_base_optimizer".  I am not sure how this will affect restoration of checkpoints however.

[2021-10-19 02:36] usryokousha opened #10318 "Issue with MixupAndCutmix postprocessing using float16 preprocessing and one-hot labels"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-10-19 04:25] kumariko commented on #10310
Can you please fill the issue [template](https://github.com/tensorflow/models/issues/new/choose).Also can you please elaborate your issue. Thanks!

[2021-10-19 05:11] usryokousha opened #10319 "EMA optimizer needs to implement "experimental_aggregate_gradients" in apply_gradients method"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-10-19 09:50] mattdibi commented on #10006
Hi @srjoglekar246,

I'm observing the same behaviour on different devices further aggravated by the lack of speedup after post-training quantization (I observe a slow down in some circumstances).

I'm mainly focused on the following two models:
- [SSD MobileNet V2 FPNLite 320x320](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.

[2021-10-19 12:05] NobuoTsukamoto opened #10320 "export_tflite_ssd_graph.py of spaghettinet_edgetpu_l fails."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
  **I am using TensorFlow 1.**
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire

[2021-10-20 02:02] Mrinal18 opened #10322 "adding Yolov5 model in tensorflow."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/Mrinal18/YOLOv5_tensorflow#readme

## 2. Describe the feature you request

YOLOv5 model implementation in tensorflow
## 3. Additional context

Add any other

[2021-10-20 08:05] adsk2050 opened #10323 "No documentation available for Maskrcnn model."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ Yes ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/vision/detection/modeling/maskrcnn_model.py

## 2. Describe the issue

The ```Maskrcnn``` class needs ```param

[2021-10-20 15:52] usryokousha commented on #10318
Submitted a PR with the fixes

[2021-10-20 17:06] srjoglekar246 commented on #10006
@mattdibi Can you try increasing the number of threads being used by the TFLite Interpreter? Also note that our kernels are optimized for the Arm NEON instruction set, which may or may not be available on all the devices you mentioned.
In the benchmarks you showed, SSD does indeed perform faster with full-int quantization than on floating point.

Note that the numbers we mention on our devsite etc

[2021-10-20 17:07] srjoglekar246 commented on #10006
@teijeong FYI for quantization issues.

[2021-10-20 17:53] Mrinal18 commented on #10322
@arashwan , Yolov5 has been implemented in pytorch and this model is also being used for many compititions (for example Kaggle), i wonder why it is not implemented in tensorflow.

Thanks,
Mrinal

[2021-10-20 20:21] chandyalex commented on #8713
Hi Everyone , due to lack of time I couldn't produce much further progress on this project last month, the major issues and further steps are listed in my Git repository, so feel free to check it and contribute. The major issue which I am focusing is the mean average precision is zero in every epoch , So would be nice if someone can check and figure out the issue. I will try to contribute upcoming

[2021-10-20 23:09] apivovarov commented on #10317
Thank you for your explanation. I think I can just use `float_image_tensor`.
Do you know if it is possible to export inference graph for a fixed input shape with batch size greater than one? e.g. for input shape `(8,300,300,3)`?
I need to get `pbtxt` frozen graph where all dimensions for all ops are clearly defined.
The graph will be used outside of Tensorflow.

[2021-10-21 06:42] 99991 opened #10325 "[Security Issue] Invalid HTTPS certificate, models served from http:// URL"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ Yes ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

(Probably elsewhere, too)

## 2. Describe the issue

The models a

[2021-10-21 10:51] dtlam26 opened #10326 "Object Detection Training process was killed without throwing any problems (not RAM overflow problem)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-10-21 11:43] dtlam26 commented on #10326
The problem is because of the slum job

[2021-10-21 11:43] #10326 closed

[2021-10-21 14:03] #10297 closed, assigned to sushreebarsa

[2021-10-21 14:24] #10313 closed

[2021-10-22 08:04] mikibella opened #10327 "Extract Objectmotion from objects"
- What is the top-level directory of the model you are using: models/research/struct2depth
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): anaconda
- TensorFlow version (use command below): 1.15
- Python version: 3.7
- CUDA/cuDNN version: CUDA 10
- GPU model and memory: No Gpu
- Exact command to reproduce: inference.py

Describe

[2021-10-22 14:11] harsh020 opened #10328 "Unable to build trained object detection model restored using `checkpoint`"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. -> **research directory**
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

https://github.com/

[2021-10-22 15:51] K-H-Ismail opened #10329 "Cropping to 513x513 policy and inference for original size images"
Hello,

The documentation of Deeplab on semantic segmentation task in PascalVoc2012 (https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/pascal.md) describes how to train and validate the model on the validation set with cropped images (513x513). This doesn't describe how to make the segmentation for the test set (with the uncropped images).
The only way I found to do so is to

[2021-10-23 08:33] Paperone80 opened #10330 "reframe_image_corners_relative_to_boxes() breaks run_inference_for_single_image()"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-10-23 11:37] samahwaleed opened #10331 "How to calculate the angles between the bounding box python?"
I did object detection for the image dataset and I saved the bbox coordinator for each detected object in CSV file like this format: X1,  Y1,  X2,  Y2, and I calculated the centroid.

I want to ask how we can find the angle between the bounding boxes?

[2021-10-24 09:23] XX-leaner opened #10332 "module'tensorflow_addons'has no attribute "gelu""
![GU3PV36~_HQ 3W8 Y0T GKE](https://user-images.githubusercontent.com/90250990/138588033-78feb9e3-fa5b-4c4f-9c01-114ab17f0c7b.png)
I encontered the following peoblem:
module'tensorflow_addons'has no attribute "gelu"
Is there anybody can help me to solve it?

[2021-10-25 07:03] #10301 closed, assigned to sushreebarsa

[2021-10-25 20:54] tomwimmenhove opened #10334 "Broken dependencies"
When trying to install the research model on Ubuntu 20.04 (and I'm guessing other's. Since it's using pip, I'm guessing every install is affected) you'll run into dependency issues as shown below:

## Using Docker:
[code]

## Using pip:
[code]

I don't know if this is a pip version issue. Running it without ```--use-feature``` yields:

[code]

[2021-10-25 21:21] #10330 closed, assigned to tombstone, jch1, pkulzc

[2021-10-27 14:59] Wuxinxiaoshifu opened #10335 "my cuda is 11.0 but it need libcudart.so.10.0"
# Prereqisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 1.15.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usin

[2021-10-28 10:01] aaltonenzhang opened #10337 "confused with coco map meaning and can't get good result"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md#user-content-fn-1-389938ae008e4b49d16b1c9c0c403066

## 2. Describe the

[2021-10-29 22:53] HoopsMcann commented on #10204
Any status update here? I am having a similar issue..

[2021-10-30 05:38] kabyanil commented on #7641
any update on this?

[2021-10-30 10:16] sparshgarg23 opened #10339 "Unable to install tensorflow object detection API on windows 10"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-10-30 11:31] thatdc commented on #8990
Same issue here. I have a .pth PyTorch model and I exported it with Onnx:
`batch_size = 1
x = torch.randn(batch_size, 1, 512, 2381, requires_grad=True)
torch_out = torch_model(x)

# Export the model
torch.onnx.export(torch_model,               # model being run
                  x,                         # model input (or a tuple for multiple inputs)
                  "PE_model.onnx",   # where t

[2021-10-30 12:27] samahwaleed commented on #10331
Thank you. It's very helpful

[2021-10-30 18:40] myopengit commented on #10308
Any updates?

[2021-10-31 11:25] aaltonenzhang commented on #6636
@saurabh-shandilya @Zhihang-Li @roadcode did somebody solved this? I have same problem for ssd_mobilenet_v1_coco_2018_01_28:
Average Precision (AP) @[ IoU=0.50:0.95 | area= all | maxDets=100 ] = 0.184
Average Precision (AP) @[ IoU=0.50 | area= all | maxDets=100 ] = 0.307
Average Precision (AP) @[ IoU=0.75 | area= all | maxDets=100 ] = 0.192
Average Precision (AP) @[ IoU=0.50:0.95 | area= small | m

[2021-10-31 13:56] satojkovic commented on #9875
@KacperKromka
As for the file specified in label_map_path, shouldn't the extension be pbtxt, not bptxt?

[2021-10-31 16:56] siddheshgunjal opened #10340 "training is getting stuck at `I1031 21:56:07.055561 12308 supervisor.py:1099] global_step/sec: 0`"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-10-31 16:57] #10340 closed

[2021-10-31 16:59] siddheshgunjal opened #10341 "Training is getting stuck at `I1031 21:56:07.055561 12308 supervisor.py:1099] global_step/sec: 0`"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-01 02:14] JapinderSandhu opened #10342 "Resnet3DRS documentation and checkpoints"
Prerequisites
Please answer the following question for yourself before submitting an issue.

I checked to make sure that this issue has not been filed already.
1. The entire URL of the documentation with the issue
https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#video-classification

2. Describe the issue
I dont understand how to find the 3D-ResNet or ResNet-RS

[2021-11-01 02:17] HoseinHashemi commented on #3397
Keen for this feature, would be great to add the bounding box rotation to the API.
I guess what needs to be added is another regression node for the bounding box rotation as well as the IoU calculation should be updated since with rotation the IoU will need to be calculated in a polygon manner.

[2021-11-01 14:27] #9705 closed

[2021-11-01 20:24] r2ba7 opened #10343 "NotFoundError: Failed to create a NewWriteableFile: model"
So after walking through https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html I had a problem with pycocotools and I'm working on it, while running it on jupyter:
after configuring my pipeline.config to my model,
config_text = text_format.MessageToString(pipeline_config)
with tf.io.gfile.GFile(config_text, 'wb') as f:
    f.write(config_text)
Error as follow :
[c

[2021-11-01 20:55] #10343 closed

[2021-11-02 02:06] alexdwu13 opened #10344 "Centernet TFlite Export: AssertionError: Some Python objects were not bound to checkpointed values"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/centernet_on_device.ipynb

## 2. Describe the bug

When running the official `object_detection/colab_tutorials/centernet_on_device.ipynb` notebook to export `centernet_mobilnetv2_fpn` to tflite, the cell:
[code]

fails with the following error:

[code]

## 3. S

[2021-11-02 03:56] Wuxinxiaoshifu opened #10345 "tensorflow.python.framework.errors_impl.NotFoundError: /.jpeg; No such file or directory"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using tensorflow 2.3.0
- [ ] I am reporting the issue to the correct repository. v2.3.0
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/v2.3.0

## 2. Describe the bug

in model

[2021-11-02 04:14] kumariko commented on #10331
@samahwaleed If your issue got resolved , could you please move this issue to close status ? Thanks!

[2021-11-02 04:16] #10310 closed

[2021-11-02 04:24] kumariko commented on #10345
@Wuxinxiaoshifu Could you please have a look on the **[link1](https://github.com/tensorflow/models/issues/3762)** , **[link2](https://stackoverflow.com/questions/65473849/getting-an-error-while-converting-my-dataset-in-tfrecord-format-for-running-deep)** and let us know if it helps? Thanks!

[2021-11-02 06:12] kumariko commented on #10181
@olimaye Could you please have a look on the https://github.com/tensorflow/models/issues/10181#issuecomment-954892180, **[link](https://stackoverflow.com/questions/58636087/tensorflow-valueerror-failed-to-convert-a-numpy-array-to-a-tensor-unsupporte)** and let us know if it helps? Thanks!

[2021-11-02 06:25] kumariko commented on #10344
@alexdwu13 Could you please have a look on the **[link1](https://github.com/tensorflow/models/issues/8399)**, **[link2](https://stackoverflow.com/questions/63552169/some-python-objects-were-not-bound-to-checkpointed-values)** and let us know if it helps? Thanks!

[2021-11-02 06:42] kumariko commented on #10341
@siddheshgunjal Could you please have a look on the [link](https://stackoverflow.com/questions/41574802/re-training-inception-google-cloud-stuck-at-global-step-0) and let us know if it helps? Thanks!

[2021-11-02 06:43] gamefake588 opened #10346 "Yolov5 V6 The exported TFJS model is not available because img SIez cannot be set to 300"
// Yolov5 python export.py --weights runs/train/exp9/weights/best.pt --include tfjs --img 300
WARNING: --img-size 300 must be multiple of max stride 32, updating to 320

// coco-ssd js
Error: The shape of dict['x'] provided in model.execute(dict) must be [1,320,320,3], but was [1,300,300,3]

[2021-11-02 07:45] kumariko commented on #10339
@sparshgarg23 Could you please have a look on the **[link1](https://medium.com/@marklabinski/installing-tensorflow-object-detection-api-on-windows-10-7a4eb83e1e7b)**, [link2](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html) and let us know if it helps? Thanks!

[2021-11-02 07:47] satyajeet1997 commented on #8062
Here is my code.  Help me out with this one

from loss import precision_at_recall_loss
from loss import roc_auc_loss
from loss import precision_recall_auc_loss
from loss import recall_at_precision_loss

class precision_at_recall(tf.keras.losses.Loss):
    def __init__(self, target_recall=0.1, name="precision_at_recall"):
        super().__init__(name=name)
        self.target_recall = target_recal

[2021-11-02 11:33] #10331 closed

[2021-11-02 13:39] kumariko commented on #10346
@gamefake588 Could you please have a look on the [link1](https://github.com/ultralytics/yolov5/issues/2127), [link2](https://github.com/tensorflow/tfjs/issues/2046) and let us know if it helps? Thanks!

[2021-11-02 22:56] alexdwu13 commented on #10344
@kumariko thanks for the references. Unfortunately I've already tried both those solutions with no luck. Regardless, I'm running the official, unchanged collab tutorial provided by Tensorflow (only difference being TF 2.6.0 vs. nightly 2.8 build). Shouldn't I be able to run it without making modifications to the source code?

[2021-11-03 01:12] gamefake588 commented on #10346
This does not help, as it is possible to convert directly to TFJS in yolov5 v6.0，[1,300,300,3] cannot be converted when using cocossd

[2021-11-03 01:13] gamefake588 commented on #10346
@kumariko This does not help, as it is possible to convert directly to TFJS in yolov5 v6.0，[1,300,300,3] cannot be converted when using cocossd

[2021-11-03 12:50] tft-robert commented on #10136
This is set in the pipeline.config based on what you want:

       1. "classification": Restores only the classification backbone part of
            the feature extractor. This option is typically used when you want
            to train a detection model starting from a pre-trained image
            classification model, e.g. a ResNet model pre-trained on ImageNet.
       2. "detection": Restores

[2021-11-03 12:50] #10136 closed

[2021-11-03 13:20] seragENTp opened #10347 "Movinet export saved model & tflite for inference"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-11-04 10:01] seragENTp commented on #10347
@hyperparticle @yuanliangzhe @yeqingli

[2021-11-04 12:27] siddheshgunjal commented on #10341
Thank you Very Much! It helped! There was a problem in my train.record file. model was unable to read it.

No it has started training.

[2021-11-04 13:48] sayannath commented on #9371
I have used this tutorial and tried to do the inference in android device it failed. Any workaround for this. I used `SSD MobileNet 320x320`.

I trained the model on my custom dataset. Exported the model using `exporter_main_v2.py`

The command I used:
[code]

After exporting the model, I exported the TensorFlow Inference Graph
[code]

After this I converted the model into tflite

[code]

This is

[2021-11-04 14:46] siddheshgunjal commented on #10341
The Issue is resolved and model is training now. Thanks @kumariko for suggestion.

[2021-11-04 17:13] abramjos commented on #5587
The issue still persist.
The evaluation dataset has to be reduced to continue training without the infinite loop during the training after running local_init_op.

[2021-11-05 02:46] Jackbrocp commented on #9096
Have you solved this problem?
I train on original PASCAL VOC dataset without using per-trained model, the predicted mask is all black and eval result is all 0(mIOU).

[2021-11-05 12:30] SananSuleymanov opened #10348 "Tensorflow Object detection API training error"
Hi,

I want to use Object Detection API of tensorflow. I followed the given instructions while I encountered error during training.

I used ssd_resnet101_v1_fpn_1024x1024_coco17_tpu-8.

/usr/local/lib/python3.7/dist-packages/tensorflow_addons/utils/ensure_tf_install.py:67: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.4.0 and strictly belo

[2021-11-05 14:31] oconnor127 opened #10349 "Post-Quantization of mobilenetv2-keras model slower your given quantized model"
Hey,
I am quantizing the mobilenetv2_1.4_224 keras model using the post-training quantization tool (full integer). However, the runtime numbers are different to the runtime when I use your provided quantized mobilenetv2_1.4_224. Analyzing this issue, I found out that you converted it with TOCO, while by default the tflite converter uses MLIR. Explicitly setting converter.experimental_new_converter

[2021-11-06 02:31] TobyHuang328 opened #10350 "raise ValueError("Shapes %s and %s are incompatible" % (self, other)) ValueError: Shapes (1, 1, 576, 6) and (1, 1, 576, 273) are incompatible"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-07 06:10] sparshgarg23 commented on #10339
I followed the same links for installing,still ran into the error log mentioned above.

[2021-11-07 14:16] mikibella commented on #10327
Did someone found a solution for this?

[2021-11-07 14:19] mikibella commented on #6465
@knightzazh Did you were able to extract the objectmotion of the objects in the instance mask?

[2021-11-07 19:28] janmejaya-nanda commented on #8931
@gagika I have one follow-up, what's the best strategy for a single host, single GPU training.
I am training an object detection model using "mask_rcnn" model on fashionpedia dataset. My training process fails with exact same error.
 I have TF=1.15.1, batch size = 168, images size = (120,120).

[2021-11-08 04:10] saberkun commented on #10342
@xianzhidu could you help response this question? Thanks

[2021-11-08 06:31] danishansari commented on #8990
I am getting similar error with TF2.6, cuda-10.2, TRT-7.2

2021-11-04 16:06:55.345573: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-04 16:06:55.349826: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from Sy

[2021-11-08 06:35] kumariko commented on #10347
@seragENTp Could you please have a look on the **[link1](https://github.com/tensorflow/tensorflow/issues/40815)**, **[link2](https://stackoverflow.com/questions/63514487/tfliteconverter-segmentation-fault-when-running-integer-quantization)**, [**link3**](https://github.com/tensorflow/tensorflow/issues/29829) , **[link4](https://github.com/tensorflow/tensorflow/issues/42535)** and let us know if it

[2021-11-08 08:47] erwangccc opened #10352 "How to do inference frame by frame based on MoviNets?"
# Prerequisites

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/movinet

## 2. Describe the feature you request

Train 'movinets-A0' model by clip=1, Tclip=8, and the acc on my custom test dataset is good, but when the model do inference fo

[2021-11-08 09:03] bensenW commented on #9379
File "D:\indirilenler\models-2.3.0\models-2.3.0\research\object_detection\model_hparams.py", line 43, in create_hparams
hparams = contrib_training.HParams(
NameError: name 'contrib_training' is not defined

I have the same problem,how to handle with that...

[2021-11-08 09:30] #10332 closed

[2021-11-08 11:06] #10352 closed

[2021-11-08 12:00] rcruzgar opened #10353 "Are images from different TF-records contained in different folders shuffled to form the training batches?"
Hi,

I am trying to understand how the **object_detection** API deals with the training TF-records.
As you know, TF-records can be provided specifying as many _input_path_ items as wanted in the _train_input_reader_ section of the _pipeline.config_ file.

For example:

[code]

My question is: in which order are the TF-records used in the training, are they shuffled? I understand the images inside

[2021-11-08 13:13] kumariko commented on #10350
@TobyHuang328 Could you please have a look on the [link1](https://github.com/tensorflow/tensorflow/issues/34143), [link2](https://github.com/tensorflow/tensorflow/issues/37052), [link3](https://stackoverflow.com/questions/61742556/valueerror-shapes-none-1-and-none-2-are-incompatible) and let us know if it helps? Thanks!

[2021-11-08 13:41] olimaye commented on #10181
Thank you, @martindeveloper !
Unfortunatelly, upgrading to Tensorflow 2.6.0 breaks other dependencies. The `pip check` dump is as follows:

[code]

Fixing these dependencies manually and running the script again, results in a runtime error of the numpy module as follows:
[code]
At this point, I'm somewhat lost and feel as upgrading the whole environment could be a good idea ...?

[2021-11-08 14:08] kumariko commented on #10348
@SananSuleymanov In order to expedite the trouble-shooting process, please provide the tf version which you are using. Thanks!

[2021-11-08 17:14] srjoglekar246 commented on #9371
@sayannath You don't have you use `exporter_main_v2.py` is you are using `export_tflite_graph_tf2.py`.
Also, avoid providing any `output_arrays` & `input_arrays` params to `tflite_convert`. The actual model may have different different names for the tensors.

[2021-11-08 17:48] saberkun commented on #10349
The OD API team may not use keras.applications. keras.applications is not released by the original MobileNet team. So there might be something they missed. Good to ask keras team.
@tombstone for MobileNet used by OD API.

[2021-11-08 18:09] xianzhidu commented on #10342
Hi, we are still in the process of releasing checkpoints/documentation. The implementation is checked in. Here are some pointers:

ResNet-3D-RS config: https://github.com/tensorflow/models/blob/master/official/vision/beta/configs/experiments/video_classification/k400_resnet3drs_50_tpu.yaml

Build the model:
https://github.com/tensorflow/models/blob/master/official/vision/beta/modeling/backbones/re

[2021-11-08 21:58] saberkun commented on #10342
https://github.com/tensorflow/models/commit/af554fdb10275a741d054514ce56ac78b0e5637b is supposed to add this.

[2021-11-09 08:41] joytianya opened #10354 "When training and test, the first initialized token is inconsistent"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ yes] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you a

[2021-11-10 03:39] Rishit-dagli commented on #10269
@tombstone @jch1 @pkulzc I was wondering if there was any update on this?

[2021-11-10 03:45] Rishit-dagli opened #10357 "ConvMixer Models"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

I am planning to contribute this paper implementation: [Patches Are All You Need?](https://openreview.net/pdf?id=TVHS5Y4dNvM)

## 2. Describe the feature you request

I plan to

[2021-11-10 06:38] JapinderSandhu commented on #10342
Hi thank you for the reply and providing more information.

Here there is a PyTorch 3D-ResNets example which is very clear on how to fine-tune, download the weights and even providing examples on how to train and test.
https://github.com/kenshohara/3D-ResNets-PyTorch

Is there any way you could provide examples on how to execute build, train and test scripts/commands on a dataset like kinetics? Th

[2021-11-10 09:11] Petros626 opened #10358 "Where is the VGG16 Network implemented in the SSD ?"
hey guys,

i've been doing some work on object detection and have looked at the config file of **ssd_mobilenet_v2_quantized_300x300_coco**.

my understanding is that the single shot multibox detector developed consists of a **VGG16** base network with **SSD layers** attached. my question would be where do i see this architecture now and why does it not show up in the file.

I am only interested in

[2021-11-10 11:04] kateriska opened #10359 "Dependency conflicts when install Object Detection API and failed of load cuDNN lib on Google Colab"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/packages/tf2/setup.py

## 2. Describe the bug

During installation of Object Detection API on Google Colab following message displays:

`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of t

[2021-11-10 11:58] kabyanil commented on #10348
getting the same error with tf 2.7.0 on google colab pro GPU.

[2021-11-10 13:06] ibyou1997 opened #10360 "TensorFlow2 Object detection-Error:Loaded runtime CuDNN library: 8.0.5 but source was compiled with: 8.1.0."
I were training FasterRCNN with ResNet50 as backbone  yesterday with no error at all, but I face this problem today. I trained on Collab PRO.

I think there a dependency conflict when I install object detection API  https://github.com/tensorflow/models.

Any help ? or idea what I should do ?

Thanks in advanced

[2021-11-10 13:17] ibyou1997 commented on #10359
I am facing the same problem.

[2021-11-10 13:45] kumariko commented on #10360
@ibyou1997 Could you please have a look on the [link1](https://stackoverflow.com/questions/69395671/loaded-runtime-cudnn-library-8-0-5-but-source-was-compiled-with-8-1-0), [link2](https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html), [link3](https://github.com/tensorflow/text/issues/554) and let us know if it helps? Thanks!

[2021-11-10 13:51] abhilash-chintada commented on #10359
This issue seems to be only on GPU, training and inference is working fine on CPU.
Error says "Loaded runtime CuDNN library: 8.0.5 but source was compiled with: 8.1.0. CuDNN library needs to have matching major version" so I've tried upgrading CuDNN packages to 8.1.* (commands mentioned below) in "cuda", "cuda-11", "cuda-11.1" folders which didn't work.

!wget https://developer.download.nvidia.com

[2021-11-10 14:27] ibyou1997 commented on #10360
II already tried to follow the above links, but they were not helpful in my case. I am training my network on Colab pro. I could not figure out how to upgrade CuDNN in Collab.  Thanks!

[2021-11-10 15:54] Petros626 commented on #6866
you must copy the folder slim from research to the object_detection folder

[2021-11-10 15:55] Petros626 commented on #6866
try pip uninstall tf-slim and use conda install tf-slim, furthermore you must be carefull which version of tf-slim you use in combination with tensorflow, hope it helps you

[2021-11-10 16:06] kabyanil opened #10361 "TFOD 2 Faster R-CNN Inception ResNet V2 1024 training error: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

## 1. The entire URL of the file you are using

https://drive.google.com/file/d/1E4L_iGZUHyNv_4XSLlNbIthcPSpP5jaQ/view?usp=sharing

## 2. Describe the bug

I am trying to train an object detection model on custom dataset using faster r-cnn inception resnet 101 1024x1024 from model zoo. when i start tra

[2021-11-10 16:13] kabyanil commented on #10359
i am facing the exact same issue while trying to train on object detection model on faster r-cnn inception resnet 101 1024x1024.

[2021-11-10 17:15] frMitola commented on #10360
Wow same error

[2021-11-10 18:07] xianzhidu commented on #10342
@yeqingli will there be any tutorials on how to train 3D models on Kinetics datasets?

[2021-11-11 00:59] freds0 commented on #10360
Today I had the same error. Is it possible install CUDA at google colab using conda?

[2021-11-11 06:26] wahabrind commented on #9508
Hey can you share the json files that you used for training ? i wanna know the format of keypoints annotation

[2021-11-11 07:50] ibyou1997 commented on #10360
Thank you very much, it is working for me.

[2021-11-11 07:52] ibyou1997 commented on #10360
@frMitola  provided a link, there are instructions of how you could install cuDNN on a collab.

[2021-11-11 07:55] ibyou1997 commented on #10361
Here is a link to how to solve this [issue](https://github.com/tensorflow/models/issues/10360#issuecomment-965560460). There an instruction on how you could upgrade CuDNN in google collab

[2021-11-11 07:57] ibyou1997 commented on #10359
Here is a link to how to solve this [issue.](https://github.com/tensorflow/models/issues/10360#issuecomment-965560460) There an instruction on how you could upgrade CuDNN in google collab

[2021-11-11 07:57] yeashen1113 opened #10362 "ERROR: You must give at least one requirement to install (see "pip help install")"
Hi all, I'm trying to set up TensorFlow CPU 1.15.0 on an Anaconda environment,

I was following tutorials on how to set up but I encounter an error when I reach this step:
cp object_detection/packages/tf1/setup.py .
python -m pip install

I understand that I'm using windows thus I change the above step to
copy object_detection/packages/tf1/setup.py
python -m pip install

Here is the error statemen

[2021-11-11 12:51] SilviaJuzova opened #10363 "Following error when trying to run model_tpu_main.py: AttributeError: 'WeightSharedConvolutionalBoxPredictor' object has no attribute 'inputs'"
I am attempting to run the model_tpu_main.py file for object detection on a customized dataset on Google Colab and encountering this issue.

The link to the code in colab can be found here : https://colab.research.google.com/drive/10ZLZJG6KYP5mwbjv-ULbRYHTVhzLKU-V?usp=sharing

[2021-11-11 13:15] kabyanil commented on #10361
Thanks for the suggestion. I have ubuntu 18.04.5 LTS and CUDA 11.2 . which cuDNN installer should i get?

available installers are:

cuDNN Runtime Library for Ubuntu18.04 x86_64 (Deb)
cuDNN Developer Library for Ubuntu18.04 x86_64 (Deb)

[2021-11-11 17:38] alsnac commented on #10359
#Just download and install cuDNN 8.1.0:
%%bash
dpkg -i "~/libcudnn8_8.1.1.33-1+cuda11.2_amd64.deb"
ls -l /usr/lib/x86_64-linux-gnu/libcudnn.so.8*

[2021-11-11 20:23] aaryaab commented on #8702
hey @kyscg I am interested in working on this research paper. Is the issue still open and can I work and contribute for this paper?

[2021-11-11 22:42] freds0 commented on #10360
It works for me! Thanks @frMitola!!!

[2021-11-12 08:44] melanih commented on #10360
It works :"

[2021-11-12 13:55] jim2046 opened #10364 "Help:WARNING:root:Variable [......] is not available in checkpoint"
System information
What is the top-level directory of the model you are using: research
Have I written custom code: no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10
TensorFlow installed from (source or binary): conda
TensorFlow version (use command below): 1.13.1
Bazel version (if compiling from source): -
CUDA/cuDNN version: CUDA 11.4.136
GPU model and memory: nvidia 3070, 8GB
Ex

[2021-11-12 14:06] HariAragonda opened #10365 "Requesting od installation support for different versions of OD"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ Y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/object_detection#readme
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

[2021-11-12 21:16] williamj20 commented on #4108
Hey, I'm currently having the exact same issue as dan62 described, on tensorflow 2.6.0

[2021-11-12 21:17] williamj20 commented on #4108
Hey, I'm having the exact same issue as dan62 described, for Tensorflow 2.6.0

[2021-11-12 21:52] williamj20 opened #10366 "Object Detection API ValueError: The function random_horizontal_flip does not exist in func_arg_map"
I'm encountering an issue when I try using the object detection API. Specifically, the error occurs here

https://github.com/tensorflow/models/blob/master/research/object_detection/core/preprocessor.py

I am using TensorFlow 2.6.0 and I noticed that this issue was also reported here https://github.com/tensorflow/models/issues/4108 but there wasn't really any response or solution to the issue.

Her

[2021-11-13 04:26] TobyHuang328 commented on #10350
Link 1 helped me a little bit, but at the end of the day, I am still stuck. Here is my situation, I have trained and exported a mobilenet model using exporter_main_v2.py, and right now I am playing around with convert_tflite and export_tflite_ssd_graph.py. I do not know if my model is frozen or quantized or something else. Sorry I am quite a beginner in object detection

[2021-11-13 17:32] ChintadaAbhilash commented on #10360
I've changed CuDNN in my colab using this command :
!dpkg -i "/content/libcudnn8-dev_8.1.0.77-1+cuda11.2_amd64.deb", still throws me an error. should we reinstall cuda drivers as well.
please paste your command here if possible. thanks !

[2021-11-14 04:53] Kipsora opened #10368 "YAMNet Pre-training Dataset"
AudioSet has two different training datasets the unbalanced version and the balanced version. The docs haven't discussed anything on the pre-training process. While I totally understand that the training code is not available yet, I am especially wondering the following questions:

1. Which dataset was used for pre-training YAMNet?
2. Which optimizers was used? What is the batch size and the learn

[2021-11-14 15:08] the-data-guy commented on #6300
I was getting this error while running the following command:
"gcloud beta ai-platform versions create"

Solution: I had chosen the wrong runtime-version. My TF version was 2.6.0 while the runtime-version specified was 2.1. As soon as I corrected it, the issue was fixed. See more details [here](gcloud beta ai-platform versions create).

[2021-11-15 03:44] kumariko commented on #10364
Could you please have a look on the [link1](https://github.com/tensorflow/models/issues/7705), [link2](https://stackoverflow.com/questions/55177652/warning-variable-is-not-available-in-checkpoint), [link3](https://stackoverflow.com/questions/54094981/how-to-solve-variable-is-available-in-checkpoint-but-has-an-incompatible-shape) , [link4](https://stackoverflow.com/questions/58504469/warningrootvar

[2021-11-15 03:55] kumariko commented on #10360
If it is resolved then please feel free to move this issue to close status ?Thanks!

[2021-11-15 06:10] saberkun commented on #10354
This looks like a bug. Compared with T5 implementation: https://github.com/tensorflow/models/blob/master/official/nlp/modeling/models/t5.py#L1229
The correct logic should be: [0, token id 1, token id 2] for the decoder input ids and we look up embeddings from them.
@frederick0329 do you see the problem as well?

[2021-11-15 07:06] napohou opened #10369 "Code for "Spatiotemporal Contrastive Video Representation Learning""
Hi all,
How can we perform a downstream task of action detection?

[2021-11-15 07:08] napohou commented on #10369
The official code is here: https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/video_ssl
But it looks no evaluation code for action detection.

[2021-11-15 07:25] yeashen1113 commented on #10362
Guys update on my problem,
Upon googling, I realize that I might have typed the wrong command as simple command:
**pip install .**
started the installation.

However, after the installation, I run the following command to test if the installation is successful:
**python builders\model_builder_tf1_test.py**

A new error occur:
(tensorflow1) C:\tensorflow1\models\research\object_detection>python bui

[2021-11-15 07:26] yeashen1113 commented on #10362
Guys update on my problem,
Upon googling, I realize that I might have typed the wrong command as simple command:
pip install .
started the installation.

However, after the installation, I run the following command to test if the installation is successful:
python builders\model_builder_tf1_test.py

A new error occur:
(tensorflow1) C:\tensorflow1\models\research\object_detection>python builders\mo

[2021-11-15 07:54] yeashen1113 opened #10370 "ModuleNotFoundError: No module named 'tensorflow_io'"
Upon running the command: python builders\model_builder_tf1_test.py
I got the below error:
(tensorflow1) C:\tensorflow1\models\research\object_detection>python builders\model_builder_tf1_test.py
2021-11-15 15:49:12.718784: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-11-15 15:49:12.718926

[2021-11-15 10:54] kumariko commented on #10370
@yeashen1113 Could you please have a look on the [link1](https://stackoverflow.com/questions/58986079/tensorflow-io-module-is-missing-how-do-i-get-gfile), [link2](https://githubmemory.com/repo/tensorflow/io/issues/1453) and let us know if it helps? Thanks!

[2021-11-15 13:32] jim2046 commented on #10364
Thank you for your answer.
link1: My pipeline.config file setting is correct,about "fine_tune_checkpoint_type: 'detection'".
link2: My model_main.py file setting is correct.
link3: I did not have a problem with 1x1 || 3x3.
link4: It seems that the problem has not been solved.

[2021-11-15 14:46] dpwe commented on #10368
YAMNet is trained on the full AudioSet training set.  It was trained with a batch size of 128, a learning rate of 1e-5, and the Adam optimizer.  However, we use various other modifications to a standard training scheme: We compensate for class imbalance by scaling the objective error per example (unpublished) and we automatically label silence frames (unpublished). We also propagate labels up the

[2021-11-15 14:46] #10368 closed

[2021-11-15 14:59] nightsharer opened #10371 "Mask R-CNN cannot be compiled with edgetpu compiler due to dynamic graph"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-11-15 15:28] frederick0329 commented on #10354
Thanks for pointing this out. This looks like a bug. I'll send a fix and test it out probably by the end of this week.
I will only fix this https://github.com/tensorflow/models/blob/master/official/nlp/modeling/models/seq2seq_transformer.py
since we are working towards deprecating
https://github.com/tensorflow/models/blob/v2.6.0/official/nlp/transformer/transformer.py

[2021-11-16 03:14] napohou commented on #10369
any update?

[2021-11-16 03:53] alfanme commented on #10360
Hi, guys. I've been facing the same issue and it was fixed by following [this link](https://stackoverflow.com/questions/57791108/how-to-downgrade-cuda-and-cudnn-version-in-google-colab). It worked for about a few days, but yesterday the issue came back.

I did a little digging and find out it's pretty hard to download & install cuDNN directly in Colab. Then, I stored the downloaded cuDNN installer

[2021-11-16 04:01] sumanthreddy-a commented on #10360
Finally resolved
am using faster rcnn inception v2 1024*1024 four days back I got an issue while training in google colab

downloaded cudnn 8.1 runtime deb and installed using
!sudo dpkg -i "path/libcudnn8_8.1.1.33-1+cuda11.2_amd64.deb"
it solved my issue
find screenshot for references
![Screenshot from 2021-11-16 09-29-57](https://user-images.githubusercontent.com/23355545/141899703-420b2b62-9c5a

[2021-11-16 09:47] #10360 closed

[2021-11-16 10:53] Naitiksonawane commented on #9588
You just need to convert it to uint8 and add a new dimension to it.
That worked for me!

[2021-11-16 15:47] rossGardiner commented on #10191
I am also having this problem!

Training SSD_mobilenet_v2_fpnlite_320x320_coco17_tpu-8

TF==2.7.0

[2021-11-16 19:47] liveinfootball opened #10374 "movinet a0 model fine-tuning and save weight/model issues"
Hi all!

Appreciate your support in advance!

I successfully downloaded the a0 model from tf hub and trained with my custom dataset.  The result was great but saved weights/model is empty when it was loaded.

Is there any specific way to save model/weight for model with custom layers?

<code>
model_id = 'a0'

tf.keras.backend.clear_session()

backbone = movinet.Movinet(model_id=model_id)
model = m

[2021-11-17 04:32] srositad commented on #9591
Hey I have the same issues, did you solve it?

[2021-11-17 05:26] srositad commented on #6656
Hey sorry I got the same error and I read your problem was solved. I wanna know whats mean "with an invalid value", should I change with something? Thankyou..

[2021-11-17 06:57] #10362 closed

[2021-11-17 07:00] yeashen1113 commented on #10370
Hi all, so I think I figure out the problem, I checked my TensorFlow version and it is at 2 for some reason. Maybe it auto-upgrade after running some commands, I downloaded TensorFlow 1.15.0 and the model_builder_tf1_test.py is working normally.

However I'm facing other issues when running the final command, python model_main.py --model_dir=training/ pipeline_config_path=training/ ssd_mobilenet_v

[2021-11-17 07:01] #10370 closed

[2021-11-17 07:26] mohsinmx commented on #10307
Hi Team,

Can you please provide any update on this issue?

[2021-11-17 07:54] alfanme opened #10375 "pip is looking for multiple version of <library> to determine which version is compatible with other requirements."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-17 09:07] mohsinmx opened #10376 "Unable to reproduce same mAP with kitti pretrained tf1 model on Kitti dataset"
- [ ] I am using the TensorFlow 1.14
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/...

Downloaded Kitti pretrained model from
http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet101_kitti_2018_01_28.tar.gz

## 2. Describe the bug
When evaluatio

[2021-11-17 09:59] Kei-Iino-waseda commented on #10375
having the same problem

[2021-11-17 11:21] Justsecret123 commented on #10375
I am facing the same issue on this Notebook, which worked fine a few days ago.

[Link to the Notebook](https://www.kaggle.com/ibrahimserouis99/custom-object-detector-one-piece-characters)

[2021-11-17 11:59] sivamani-k commented on #10375
Me too facing the same issue in my Google COLAB Notebook. Please fix the issue. Already, training the model is taking high duration of time. Now, the installation of pip packages taking longer than training the model.

[2021-11-17 12:04] esparig commented on #10258
Hello everyone, I tried using `tfds` as @jackd suggested, but it didn't work. I got an error that says "Not enough disk space", but I do have more than 200GB available. Any further suggestions?

[code]

[2021-11-17 13:29] XueZ-phd commented on #8932
I solve this issue by updating my tensorflow to 1.15.0

[2021-11-17 17:30] Sandell0 commented on #10375
`!pip install --upgrade pip`
Changed pip version from 21.1.3 to 21.3.1 and resolved this problem for me.
I was able to run the following command successfully, when before it did not finish even after several hours:
[code]

If after that you will face an issue with cuDNN initialization, look at this thread for a solution:
https://github.com/tensorflow/models/issues/10360#issuecomment-965560460

[2021-11-17 17:31] yhydhx commented on #10375
having the same problem

[2021-11-18 00:52] liveinfootball commented on #10374
I've tried several ways but finally saved with keras get_weights() and set_weights(). Fortunately, this is the best way to save custom layered models.

[2021-11-18 02:05] ZakZheng commented on #10375
having the same problem

[2021-11-18 02:35] kumariko commented on #10376
@mohsinmx As you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 or later version and let us know if the issue still persists in newer versions. Thanks!

[2021-11-18 03:08] yhydhx commented on #10375
I updated the pip first and it works for me.

zakzheng ***@***.***> 于2021年11月17日周三 下午9:05写道：

[2021-11-18 03:17] mohsinmx commented on #10376
@kumariko , it is a tf1 model. How to use a tf1 model in tf2?

[2021-11-18 03:22] YeeunLee8245 commented on #10294
Hello. How did you get the output results of mApp and IOU? For me, the output result of MobileNet only shows the loss rate.

INFO:tensorflow:Step 3500 per-step time 1.279s
I1116 03:27:39.100062 140238237828992 model_lib_v2.py:700] Step 3500 per-step time 1.279s
INFO:tensorflow:{'Loss/classification_loss': 0.608724,
 'Loss/localization_loss': 0.002722901,
 'Loss/regularization_loss': 0.035686538,

[2021-11-18 08:58] glcsvg opened #10377 "fps of the quantized model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest  and TensorFlow 2.5

hey
i trained a model with ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8 and then exported  with export_tflite_graph_tf2.pytflite_convert --output_file=./tflite/detectquantt.tflite
--graph_def_file=/home/dell/Desktop/TF1/models/research/object_detection/

[2021-11-18 11:20] glcsvg opened #10378 "setup error"
Im using tensorflow 2.5(cpu),a few days ago i was not getting error

`
/TensorFlow/models/research$ python object_detection/builders/model_builder_tf2_test.py`

My eeror:
Traceback (most recent call last):
  File "object_detection/builders/model_builder_tf2_test.py", line 25, in <module>
    from object_detection.builders import model_builder
  File "/home/dell/TensorFlow/models/research/object_de

[2021-11-18 13:34] tilakrayal commented on #3316
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-11-18 15:02] laszlo-luminous opened #10379 "`official.vision` seems missing in `tf-models-nightly`"
## 1. The entire URL of the file you are using

N/A

## 2. Describe the bug

I am unable to import the `official.vision` module from the nightly binary builds on pypi (https://pypi.org/project/tf-models-nightly/).

## 3. Steps to reproduce
[code]
yields
[code]

## 4. Expected behavior
Be able to import `official.vision`.

## 5. Additional context

I tried older versions of `tf-models-nightly` and

[2021-11-18 15:46] mhs-achyut opened #10380 "Request for TPU compatible pipeline_config for Mask-RCNN model training."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [*] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

There is no TPU compatible pipeline config file for the maskRCNN model gi

[2021-11-19 02:42] joytianya commented on #10354
Thank you for fixing it, look forward to seeing the effect after fixing it.

[2021-11-19 03:03] joytianya commented on #6467
@khudebhakti You just turn over the list and take the value of the BEAM Size, it is not accurate enough.

[2021-11-19 03:32] kumariko commented on #10375
@alfanme please check[ #34834 (comment)](https://github.com/tensorflow/models/issues/10375#issuecomment-972474889) and let us know if your issue got resolved or not?

[2021-11-19 04:37] saberkun commented on #10378
Hi, sorry about this. it is because the __init__.py was accidentally removed. (our internal build system does not rely on it)
I will fix it soon.

I am not sure why Python3 pip still need this __init__.py. Please share your knowledge if you know if with py3, the __init__.py can go away for package release.

[2021-11-19 05:38] #10378 closed

[2021-11-19 05:49] saberkun commented on #10379
Hi, sorry about this. it is because the init.py was accidentally removed. (our internal build system does not rely on it)
I will fix it soon.

I am not sure why Python3 pip still need this init.py. Please share your knowledge if you know if with py3, the init.py can go away for package release.

[2021-11-19 05:50] #10379 closed

[2021-11-19 06:38] saberkun commented on #10374
Can you use tf savedmodel format instead of h5 format? H5 has several limitation?

[2021-11-19 06:38] #10374 closed

[2021-11-19 06:41] saberkun commented on #10380
Yes, TPU is well supported.
Please read: https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#object-detection-and-instance-segmentation
@xianzhidu @allenwang28 for instructions

[2021-11-19 08:29] gcuder opened #10381 "Mixed precision training and LayerNormalization"
Hello everyone,

is it safe to use `LayerNormalization` with `mixed_precision` training? I am referring to [this comment].(https://github.com/tensorflow/models/blob/bd7732dac80fbb2c6c62212e75e578d34bea760c/official/nlp/modeling/layers/transformer_encoder_block.py#L154)

[2021-11-19 14:49] laszlo-luminous commented on #10379
Thanks, this has indeed resolved the issue, `tf-models-nightly-2.7.0.dev20211119` works as expected. As far as I know, you need a `__init__.py` for every subdirectory that you want treat as a package, even in python3: https://docs.python.org/3/tutorial/modules.html#packages

[2021-11-19 16:53] frederick0329 commented on #10354
Thanks for bringing this up. Here are the results.
![image](https://user-images.githubusercontent.com/3983652/142659327-4131d808-3270-44d8-824a-79ea789193f5.png)
Doesn't seem to make a huge difference in the end (beginning yes) because 0 tokens are will not be attended.
So the difference is:
Don't attend to first token vs attend to zero vector.
I'll send a fix since your proposed fix is more intui

[2021-11-19 16:56] allenwang28 commented on #10380
Hi,

Please take a look at the [maskrcnn_resnetfpn_coco](https://github.com/tensorflow/models/blob/master/official/vision/beta/configs/maskrcnn.py#L292-L355) config.

You can do some standard Cloud TPU setup similar to [the Cloud TPU ResNet-RS tutorial](https://cloud.google.com/tpu/docs/tutorials/resnet-rs-2.x).

Your train command might look like this (running on a v3-32, you'll need to modify th

[2021-11-19 18:39] frederick0329 commented on #10354
Fixed [commit](https://github.com/tensorflow/models/commit/19e3d234887d42599d2f7d0b817280c0d3e79827)

[2021-11-19 18:39] #10354 closed

[2021-11-19 19:05] arashwan commented on #10371
Hello! to export to tflite, you will need to strip the model from the nms, and from input preprocessing. These preprocessing, and post-processing will have to be done on cpu.

[2021-11-19 19:06] frederick0329 commented on #10381
Tagging mixed expert, Reed, here.

[2021-11-19 19:14] frederick0329 commented on #10381
Discussed with Reed offline, we think it's fine but haven't have a chance to validate this. Feel free to try it on your use case and report back.

[2021-11-19 19:27] frederick0329 commented on #10369
Hi, the author is not around this week. Will leave a note for him to take a look when he's back.

[2021-11-19 20:54] ivankrsul commented on #10375
Had the same problem.  Was stuck for two weeks.  I updated the pip first and it seems to work.

[2021-11-19 21:02] rui1996 commented on #10369
Hi, thanks for your interest in our work. We use external codebase of https://github.com/open-mmlab/mmaction.

[2021-11-20 00:25] yeqingli commented on #10342
Unfortunately, we don't have document for that yet. We are working on it, stay tune!

For running Kinetics experiment, the config would looks like below. The default config was expected be be run on TPU (v3-128 for training, and v3-32 for eval). The Kinetics data would need to be downloaded separately and the converted to TFRecord (format similar to [this test](https://github.com/tensorflow/models

[2021-11-20 00:39] napohou commented on #10369
@rui1996 I see. Thanks for your reply. I am looking forward to somebody updates a document about how to use video_ssl at https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/video_ssl
And could you please give me a demo about a downstream task of action detection for video_ssl?

[2021-11-20 16:32] rui1996 commented on #10369
Hi, a document of video_ssl would updated. But probably we would not provide a demo for action detection. If you are interested, you can refer to other codebases.

[2021-11-20 16:37] rui1996 commented on #10369
BTW, would you mind removing the tag of bug? I don't think there are any bugs in the code.

[2021-11-21 01:33] nightsharer commented on #10371
Hello! Thank you for the hint. After disabling nms in roi_generator and detection_generator, it compiles successfully. The model has decoded_boxes and decoded_box_scores as output.

Another question is, do I have to compile mask_head as another model, which also holds the pretrained weights? Or is there a proper way to convert the model as a whole? Cuz now the whole model is like: first tflite mod

[2021-11-21 01:49] arashwan commented on #10371
If you're not planning to use full integer quantization, then you can export the model with a tflite nms friendly version (which is available through a config, batched_nms version). Otherwise, nms will need to be done on cpu either using different tflite/saved_model modules.

[2021-11-21 07:15] napohou commented on #10369
I see. Thanks buddy.

[2021-11-21 11:56] frMitola opened #10382 "Missing documentation on model zoo tf2"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

## 2. Describe the issue

There is no reference to papers from which the

[2021-11-21 12:24] Zero0one1 opened #10383 "tf.logging does not exist in tf 2, yet is used from r2 to master"
All versions from r2 to master, which states using TF 2, still uses `tf.logging` in `compute_bleu.py`. Here is an example of master.

https://github.com/tensorflow/models/blob/f59c465145e56fba8b25c447dba636da5eb163b9/official/nlp/transformer/compute_bleu.py#L144-L148

[2021-11-22 02:53] nightsharer commented on #10371
I tried use_batched_nms=True and apply_nms=True. The convertion process failed sliently with the finnal output:

error: illegal scale: INF

There is no information about this error and I have no idea how to debug it. The convertion succeeded only when I disabled the nms. So I think converting the model into submodules is the way to go.

Thanks again for your help. Have a nice day!

[2021-11-22 05:23] kateriska commented on #10375
I am also facing the same problem on Google Colab.

[2021-11-22 07:07] priiyaanjaalii0611 commented on #9297
Yes just delete the fine-tuning checkpoint version line172 from your pipeline config file

[2021-11-22 07:37] joytianya commented on #10354
Thank you very much! It seems that the effect of test is not big.
"Doesn't seem to make a huge difference in the end (beginning yes) because 0 tokens are will not be attended."
How to understand this? In the encode([line 138](https://github.com/tensorflow/models/blob/v2.6.0/official/nlp/transformer/transformer.py#L138), 0 tokens are will not be attended. but in the decode, the first tokens are wil

[2021-11-22 07:41] frederick0329 commented on #10354
Sorry, I'm referring to [official/nlp/modeling/models/seq2seq_transformer.py](
https://github.com/tensorflow/models/blob/32bf58a912a9a4bff3505e36cadeb780282d25ca/official/nlp/modeling/models/seq2seq_transformer.py#L211)
When creating mask, we check if the token is 0.

[2021-11-22 08:05] joytianya commented on #10354
I understand what you said, but it just checks if the source tokens is 0, and does not check if the first token of decode is 0, and does not affect the first 0 token of decoder will be attended.
And I understand this bug is decoder's first token is 0 token or zero vector.
They theoretically affect the first token generated in the target, because the first input Embedding is first position embeddin

[2021-11-22 08:07] #10347 closed

[2021-11-22 08:19] frederick0329 commented on #10354
Sorry wrong line.
This [line](https://github.com/tensorflow/models/blob/32bf58a912a9a4bff3505e36cadeb780282d25ca/official/nlp/modeling/models/seq2seq_transformer.py#L236) checks for decoder tokens.
You are right about the position embedding part. So before the commit, it was attend to position embedding vs no attend. My guess the learned position embedding will be close to zero so attending to it

[2021-11-22 09:02] joytianya commented on #10354
I saw your fix(https://github.com/tensorflow/models/commit/19e3d234887d42599d2f7d0b817280c0d3e79827)
But https://github.com/tensorflow/models/blob/master/official/nlp/modeling/models/seq2seq_transformer.py#L267, because of the mask, then before and after fix, the first token embedding of decoder are zero vectors, this still does not fix this inconsistent situation.
When training, [line 204](https:

[2021-11-22 09:37] fabrizioschiano commented on #6833
Hi, @essalahsouad , did you manage to do that, and will to share the process you adopted to do that?

[2021-11-22 11:07] sash-a opened #10384 "How to use efficient HRL to train ant gather"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/efficient-hrl

## 2. Describe the feature you request

It seems that ant gather was not included with efficient HRL, even though maze, push and fall are. The code is very oriented to an env that requires a goal, but ant gather has no goal, I am wondering how to configure the ant gather from rl

[2021-11-22 13:02] kateriska commented on #10359
Thank you a lot! This solved my problem ❤️

[2021-11-22 13:03] #10359 closed

[2021-11-22 14:49] AnandaRauf commented on #9048
Best answer and problem solving :

One walk-around is :

[2021-11-22 16:49] frederick0329 commented on #10354
Thanks I missed the multiplication part. Do you think removing  this [line](https://github.com/tensorflow/models/blob/f59c465145e56fba8b25c447dba636da5eb163b9/official/nlp/modeling/models/seq2seq_transformer.py#L266)
[code]
would make it consistent?

[2021-11-22 17:53] #10369 closed

[2021-11-22 23:12] saberkun commented on #10383
Thanks for reporting. I am fixing this.

[2021-11-23 00:06] #10371 closed

[2021-11-23 00:53] #10383 closed

[2021-11-23 00:54] saberkun commented on #10383
https://github.com/tensorflow/models/commit/6f4e596a60ffd5102db2d5f01691691b0c6446a4 merged

[2021-11-23 01:07] #10345 closed

[2021-11-23 02:37] joytianya commented on #10354
yes, because of weights in (https://github.com/tensorflow/models/blob/f59c465145e56fba8b25c447dba636da5eb163b9/official/nlp/tasks/translation.py#L261), 0 tokens in targets do not participate in the calculation of loss, so embedding_mask here seems unnecessary

[2021-11-23 05:26] frederick0329 commented on #10354
Thank you for finding this.
Here's a run without the masking.
![image](https://user-images.githubusercontent.com/3983652/142975252-c4b961d3-0330-45dc-b852-67450f1ed7e6.png)

[2021-11-23 06:37] joytianya commented on #10354
Thank you very much! It seems that this impact on test effect is not very big for translation task.
I think it should be repaired, it may have a certain impact on other tasks such as summary.
what do you think?

[2021-11-23 06:51] frederick0329 commented on #10354
Thank you so much for your advice. I am trying to send a fix as you suggested. However, there are many tests I need to fix since this changes the numerics of a forward pass. I will update this thread once the fix is in. Thank you again.

[2021-11-23 08:41] frederick0329 commented on #10354
[Fixed](https://github.com/tensorflow/models/commit/f6557386f8f82eb18a18be91693e4fcdf717fa31)

[2021-11-23 10:06] tbikash62 commented on #9033
Hello All, and @srjoglekar246

Anyone tried recently converting efficentdet1 model to convert to tflite?

model trained successfully on a custom data but, NO ABLE TO CONVERT TO TFLITE.

Command-
python Tensorflow\models\research\object_detection\export_tflite_graph_tf2.py  --pipeline_config_path=Tensorflow\workspace\models\efficientdet_d1\pipeline.config --trained_checkpoint_dir=Tensorflow\workspa

[2021-11-23 12:49] huzongxiang opened #10387 "Unable to save weights using checkpoint"
File "/home/phy-zhumy/.conda/envs/tensorflow/lib/python3.8/site-packages/keras/engine/training.py", line 1230, in fit
    callbacks.on_epoch_end(epoch, epoch_logs)
  File "/home/phy-zhumy/.conda/envs/tensorflow/lib/python3.8/site-packages/keras/callbacks.py", line 413, in on_epoch_end
    callback.on_epoch_end(epoch, logs)
  File "/home/phy-zhumy/.conda/envs/tensorflow/lib/python3.8/site-packages/

[2021-11-23 15:48] kumariko commented on #10387
@huzongxiang Could you please have a look on the [link1](https://github.com/titu1994/Keras-NASNet/issues/16) , [link2](https://stackoverflow.com/questions/33759623/how-to-save-restore-a-model-after-training) , [link3](https://stackoverflow.com/questions/55749070/error-during-keras-model-checkpoint-save-oserror-unable-to-create-file-permi) and let us know if it helps? Thanks!

[2021-11-23 15:56] ofirnachum commented on #10384
Hi,

The changes you've made so far sound correct and are what I recall doing when running the experiments myself (I don't have the code available to me any more). Other than this, I would suggest the following:

- Ensure that you have updated the gear ranges: "The ant is equivalent to the standard Rllab Ant, except that its gear range is reduced from (−150, 150) to (−30, 30)".
- Ensure that you h

[2021-11-23 16:06] bias commented on #9309
I had this warning, for efficientDet D2 and D3, that I don't have for mobile_ssd and other models, and thought it was related to a memory leak issue however my problem was I had a tpu configuration turned on while running on a physical server `use_bfloat16: true` needed to be `use_bfloat16: false`. The model will run with the tensorflow bfloat but will memory balloon (not unlike some observed memo

[2021-11-23 17:33] purvang3 opened #10388 "Unable to download coco pretrained object detection models."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md

## 2. Describe the issue

Hi Tensorflow Object Detection team,

Thank

[2021-11-23 19:08] vlasenkoalexey opened #10390 "DCN v2 model can't be exported"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-11-23 19:15] vlasenkoalexey opened #10391 "Criteo preprocessing documentation is incomplete/outdated"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/recommendation/ranking/preprocessing

## 2. Describe the issue

Spent several hours trying to figure out how to ma

[2021-11-24 00:03] vighneshbirodkar commented on #10388
Hi @purvang3

It looks like clicking the links in the README is not working, and I don't know why.

But if you right-click and copy the link address, you should be able to download it using `wget`, `curl` or just by pasting the link in a new tab.

[2021-11-24 00:03] #10388 closed

[2021-11-24 02:37] joytianya commented on #10354
Thank you for fixing it~

[2021-11-24 02:52] huzongxiang commented on #10387
Adding attribute 'name' to add_weight and add_bias giving them different names. This solves my problem!

[2021-11-24 03:42] #10387 closed

[2021-11-24 03:56] tankienleong commented on #9525
Hi @mocialov , I have the same issue after change RTX2060 to RTX3060 ti.

May I know how you upgrade all the libraries and dependenices?

[2021-11-24 05:14] HoseinHashemi commented on #2336
This is apparently not yet implemented. Any updates?

[2021-11-24 09:06] XuJianzhi commented on #1071
GREAT! thank you !!!
but how do you find this solution ???

[2021-11-24 12:08] shaiSchneider commented on #5135
which file did you end up using? i tried all of them as input but none works.
it seems the ckpt file is missing from this zip

[2021-11-24 12:24] alexanderuo commented on #5959
You can use an all-black image instead of the motion mask to solve this problem.I haven't found any way to generate the right motion mask image yet.This happens every time I try, unless I use a pure black image

[2021-11-24 13:44] rossGardiner commented on #8935
I would also like to see this feature, the full integer quantisation method is just too lossy otherwise!

[2021-11-24 14:55] phydesmith opened #10393 "Module 'tensorflow._api.v2.experimental' has no attribute 'register_filesystem_plugin'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed. (It has been, but it was closed with no explanat

[2021-11-24 20:02] JackNoseWorthy opened #10394 "eager_eval_loop() fails to loop over dataset"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-24 21:16] sash-a commented on #10384
Hi

Thanks for the response. Good catch on the gear ranges, I hadn't done that however it's still definitely not training correctly. This is the uvf reward for gather

![image](https://user-images.githubusercontent.com/22861775/143312545-d239c66c-bd14-441f-b317-50cbdc7c50d1.png)

Looks about right, -3.5k is quite high, but the meta reward is all over the show and doesn't seem like it can learn at

[2021-11-24 21:25] ofirnachum commented on #10384
The `meta_context_range` should be irrelevant to the gather task, since you're using plain_rewards. You may even want to set it to ((0, 0), (0, 0)) to avoid confusing the agent.

Another thing that may help is changing the AntGatherEnv to always return done=False (disable all termination). There may be some issue in how the HIRO code handles environment terminations, so this might fix it.

[2021-11-24 21:53] sash-a commented on #10384
Thanks, I'll give that a try and see if it helps

[2021-11-25 07:47] BIGWangYuDong opened #10395 "something about object evaluation"
https://github.com/tensorflow/models/blob/c57621dad9e0373fcc3074efc1976055c0d8cb0a/research/object_detection/utils/per_image_evaluation.py#L494-L499

does this code have a logic error? seems that this function does not calculate tp fp. seem loss some import code

[2021-11-25 08:07] sash-a commented on #10384
I tried both of the fixes above and the meta reward still looks the same, hovering between -0.2 and 0.2. I did find another issue, I was using the rllab ant class which includes the cfrc and body com observations, so I switch to using the HIRO included ant. Is there anything you can think of like observation order which might be an issue (it's currently [obs, sensor readings])?

This time the prim

[2021-11-25 08:51] kabyanil opened #10396 "python -m pip install --use-feature=2020-resolver . taking forever to install dependencies"
I'm using the following commands to install TFOD 2.

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

there is this specific command - python -m pip install --use-feature=2020-resolver .

when i run this, the installation keeps on running indefinitely and eventually the runtime terminates.

You can reproduce the issue by following the mentioned approach to i

[2021-11-25 08:56] kabyanil commented on #10361
I resolved the issue by following method:

1. download CuDNN 8.1.0 installer from Nvidia developer website
2. upload the installer file into your google drive
3. mount you google drive in the colab file
4. install CuDNN using the following command: !dpkg -i "[PATH_TO_INSALLER_FILE]/libcudnn8_8.1.0.77-1+cuda11.2_amd64.deb"

hope this helps.

[2021-11-25 14:30] didierquintius commented on #10396
I have the same issue. It seems to have something to do with the fact that pip has to download multiple versions of some of the packages which is ok in the beginning but after some time it just stops.

[2021-11-26 02:28] ViaGun opened #10397 "How do I convert a mask to a polygon"
I would like to know how I can get polygon points from detections['mask'] detected with custom mask rcnn model.

[code]

[2021-11-26 04:55] kumariko commented on #10397
@ViaGun Could you please have a look on the [link1](https://stackoverflow.com/questions/58884265/python-convert-binary-mask-to-polygon) , [link2](https://github.com/cocodataset/cocoapi/issues/131) and let us know if it helps? Thanks!

[2021-11-26 12:26] mikibella commented on #6465
@poornimajd did you were able to extract the object motion?

[2021-11-26 12:49] fontes99 commented on #466
got the same issue

[2021-11-26 13:41] aluxen commented on #10396
Same issue here...

[2021-11-27 02:02] gauthamk28 commented on #10396
I am also facing the same issue , using google colab pro , I ran it without any issue last month
and last month I ran it in tf 2.4.1 but this time I am unable to install tf2.4.1 in colab,it is showing some error

[2021-11-27 02:02] primnp commented on #10396
I am also facing this issue, would appreciate any update thanks!

[2021-11-27 03:46] kabyanil commented on #10396
apparently, the issue is with the pip version. you can try updating pip using the following command -

`!pip install --upgrade pip`

[2021-11-27 05:48] yichanshiwoa opened #10398 "how to print the result of the number of detected object?"
i have train my model on this github ,but i want to use the result of detected object .i use the code in this github,num ,but, always output 100, who can help me thanks sincerly.

[2021-11-27 06:26] ahmedhassan86 opened #10399 "File "C:\Users\IGS\anaconda3\lib\site-packages\object_detection\predictors\convolutional_box_predictor.py", line 22, in <module> slim = tf.contrib.slim AttributeError: module 'tensorflow' has no attribute 'contrib'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-11-28 00:03] Livijn commented on #10396
This worked for me! Thanks :)

[2021-11-28 11:34] marcosapj2 opened #10400 "Unable to install "setup.py" because of tensorflow_io package"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-28 12:32] mradul2 opened #10401 "EfficientNet for Semantic Segmentation in TensorFlow"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://arxiv.org/abs/1606.02147

## 2. Describe the feature you request

I want to contribute a new research paper code for the work: `ENet: A Deep Neural Network Architecture

[2021-11-28 13:41] Sumano15 opened #10402 "ValueError: ssd_mobilenet_v2 is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the issue

A clear and concise description of what needs to be changed.

[2021-11-28 15:29] ofirnachum commented on #10384
There's nothing else I can think of that you may be missing. It's strange that it doesn't make any progress on the task... best advice I have right now is to just go over your changes again carefully and make sure there isn't anything else obviously wrong. You could also try making the AntGather task easier somehow -- maybe a smaller arena, or provide the apple/bomb coordinates directly instead of

[2021-11-28 15:49] innat commented on #10401
It would be better to have these models within the high-level API like [keras-CV](https://github.com/keras-team/keras-cv). This `tensorflow/models` is too messy to work with (IMHO).

[2021-11-28 15:52] innat commented on #6752
[ISSUE #15270
](https://github.com/keras-team/keras/issues/15270)
[Alternative.](https://github.com/qubvel/classification_models#architectures)

[2021-11-28 16:03] mradul2 commented on #10401
Sure, can you guide me through that? I could not find appropriate contribution guidelines for keras-CV.

[2021-11-28 20:50] gagika commented on #10390
Hi Aleksey,
There seams to be an issue of saving function traces for the custom Cross layer (not sure why), as a workaround  could you please try passing `save_traces=False` and see if that works for you.
[code]

[2021-11-29 07:17] kumariko commented on #10398
@yichanshiwoa Could you please have a look on the [link](https://stackoverflow.com/questions/45674696/tensorflow-object-detection-api-print-objects-found-on-image-to-console) and let us know if it helps? Thanks!

[2021-11-29 08:37] jinho2020 opened #10403 "We need documentation for pre-training BERT with train.py."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [v] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/nlp/docs/train.md

## 2. Describe the issue

There is no examples for pre-training BERT.

[2021-11-29 15:44] kumariko commented on #10399
@ahmedhassan86 Please elaborate your issue to expedite the troubleshooting process. Thanks!

[2021-11-29 15:53] kumariko commented on #10402
@Sumano15 Could you please have a look on the [link1](https://github.com/tensorflow/models/issues/4056) , [link2](https://stackoverflow.com/questions/62892405/ssd-inception-v2-is-not-supported-see-model-builder-py-for-features-extractor) , [link3](https://github.com/tensorflow/tensorflow/issues/46970) and let us know if it helps? Thanks!

[2021-11-29 18:14] srjoglekar246 commented on #9033
@tbikash62 the script does not support converting the efficientdet models, unfortunately. The TF architectures for those models were not authored keeping TFLite in mind, so its difficult to make them mobile-friendly post-hoc. You can either try using the SSD or CenterNet (mobilenet) versions, OR look into our [Model Maker](https://www.tensorflow.org/lite/tutorials/model_maker_object_detection) API

[2021-11-29 18:51] CrickWu commented on #10403
Hi @jinho2020! We will try to make these documents more complete. FYI if you want to do a quick test, you can try with the `bert/pretraining` option:

[code]

[2021-11-29 20:16] innat commented on #10401
@mradul2
Please check this update list about [contributions](https://github.com/keras-team/keras/pull/15447). AFAIK, we may get some updates about keras-cv soon, [source](https://github.com/keras-team/keras/issues/15545#issuecomment-954902928). IMO, if you maintain ENet in your own repo and contribute to `keras.application` when the time comes, that would be really good.

[2021-11-29 21:29] saberkun commented on #10403
The data preprocessing is a bit painful. You need to use: https://github.com/tensorflow/models/blob/master/official/nlp/data/create_pretraining_data.py at this moment.

[2021-11-29 21:39] tbikash62 commented on #9033
Hello @srjoglekar246

Thank you for the guidance.

Interestingly, the Model maker library, I'm able to train with few lines of codes, and generate tflite file in the end.

Approach 1 -- (Which is working, very few lines of codes, but no flexibility to change hyperparameters)
URL - https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tutorials/model_maker

[2021-11-29 21:42] srjoglekar246 commented on #9033
@lu-wang-g Could you take a look at @tbikash62 's comment above about modifying the Model Maker config for detection?

[2021-11-30 08:56] sash-a commented on #10384
Will try making it easier, thanks for the help :)

While I have you a quick question on the maze observations: in the paper appendix it says "The agent observes qpos,qvel, the current time step t, and the target location." This may be a stupid question, but I can't seem to find the answer, when you say target location do you mean the raw target location, is it normalized, or is it multiplied by so

[2021-11-30 10:19] bwieciech opened #10404 "Unable to install object_detection package in object_detection_tutorial.ipynb"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-11-30 10:35] bwieciech commented on #10404
I have added a pull request here:
https://github.com/tensorflow/models/pull/10406

[2021-11-30 15:35] ofirnachum commented on #10384
The target location is the "meta_context" which is defined in the training configs. I believe it provides absolute coordinates.

[2021-11-30 18:43] lu-wang-g commented on #9033
@tbikash62 do you mind to share the model that doesn't work in the Android app with me, so that I can take a look?

[2021-11-30 20:11] tbikash62 commented on #9033
Hello @lu-wang-g

Thank you for getting back.

I have trained a tflite model using https://www.tensorflow.org/lite/api_docs/python/tflite_model_maker/object_detector/EfficientDetLite4Spec

I want to share more details here.

`tflite_model_maker.object_detector.EfficientDetLite4Spec(
    *, model_name='efficientdet-lite4',
    uri='https://tfhub.dev/tensorflow/efficientdet/lite4/feature-vector/2',

[2021-11-30 21:55] lu-wang-g commented on #9033
I can run your model using the android ref app with [lib_task_api](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android#switch-between-inference-solutions-task-library-vs-tflite-interpreter). If using lib_interpreter, I got a different error, such as
[code]

This is because the [expected output tensor order](https://github.com/tensorflow/examples/blob/e120e031f

[2021-12-01 02:38] PiggsBoson commented on #9633
I encountered this trying to run other people's code. I solved this by changing from tf 2 to tf1.

[2021-12-01 03:31] kumariko commented on #10400
@marcosapj2 Could you please have a look on the [link1](https://stackoverflow.com/questions/59938365/python-setup-py-could-not-find-suitable-distribution-for-requirement-parseten) and let us know if it helps? Thanks!

[2021-12-01 04:43] jjd9 opened #10408 "Error exporting inference graph for spaghettinet"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release...
- [ ] ... and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or **research** directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the fi

[2021-12-01 08:32] yichanshiwoa commented on #10398
thanks for your reple, sorry to tell you that this answer is not my want. i want to print the number of detected object.such as the number of detected person.

[2021-12-01 14:24] DianeBouchacourt opened #10409 "Weird temporal sampling in implementation of Spatiotemporal Contrastive Video Representation Learning"
Reading the original paper seems like here we should be using linear temporal decreasing distribution (as you mention here https://github.com/tensorflow/models/blob/5d3df060cf36850138c8e4683b6201dfc56c8eee/official/vision/beta/projects/video_ssl/dataloaders/video_ssl_input.py#L80)

However I don't get your implementation of the power CDF here https://github.com/tensorflow/models/blob/5d3df060cf368

[2021-12-01 16:30] bhaskarpnd commented on #9743
Your custom-trained model might not have 6 checkpoints. Check the folder where the model is saved. There would be checkpoint files. The highest number on the checkpoint file should be used instead of ckpt-6 in _ckpt.restore(os.path.join(CHECKPOINT_PATH, 'ckpt-6')).expect_partial()_

[2021-12-02 02:51] BIGWangYuDong opened #10410 "Question about Faster R-CNN training OpenImages"
https://github.com/tensorflow/models/blob/0b6e571a39764426df5b2f4788091001e842242a/research/object_detection/samples/configs/faster_rcnn_inception_resnet_v2_atrous_oid_v4.config#L1-L6
Where can I find the mAP result of OpenImages v4? I cannot find docs. Also is it possible to get the log file?

[2021-12-02 12:17] userVl opened #10411 "MobileNet_V3 Centernet pipeline for local training"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

Custom made centernet model for human keypoints estimation using mobilenet v3 small wit fpn as feature extractor

## 2. Describe the feature you request

I have made a custom

[2021-12-02 12:18] alievrusik commented on #9200
Any news from TF team to confirm the support of numpy 1.21.x?

[2021-12-02 14:39] #3316 closed

[2021-12-02 17:40] nguaki commented on #9048
when you say a walk-around,  are you saying do step 1 and step 2?

Is it an alternative, step 1 or step 2?

It seems like step 1 or step 2.

[2021-12-03 03:12] GivralNguyen opened #10415 "Which hardware is used to benchmark TensorFlow 2 Detection Model Zoo"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
## 2. Describe the issue

Hi, according to the TensorFlow 1 Detection

[2021-12-03 07:15] jacoverster commented on #5451
Same error on my side, I had an extra " in the config file. Agree with @basedrhys.

[2021-12-04 10:45] srihari9176 commented on #10415
@tombstone is object detection module not found error solved

[2021-12-04 10:45] srihari9176 commented on #10415
@jch1 is object detection module not found error solved

[2021-12-04 10:45] srihari9176 commented on #10415
@pkulzc is object detection module not found error solved

[2021-12-04 12:32] #10400 closed

[2021-12-05 22:09] GoldschmittGabriel commented on #9927
I have the same problem and have investigated it.
![image](https://user-images.githubusercontent.com/58830501/144765735-028eed3e-bbc1-455a-bf01-074aa992d69d.png)

In the line where the ground truth class are set, the argmax function is used.
It returns the index of the largest value.
But if all values are 0 (so no ground truth class exists) it refers to the first element. So the ground truth class

[2021-12-06 09:30] puentene opened #10416 "SNGP for additional layers: Con1D, GRU or LSTM"
## 1. The URL of interest:
https://github.com/tensorflow/models/blob/master/official/nlp/modeling/layers/spectral_normalization.py

## 2. Describe the feature you request:
We are interested in trying to apply the SNGP process, to see if it is able to distinguish out-of-domain data, to a problem (and hence model) we are working on.

## 3. Additional context:
The model we are applying consists of th

[2021-12-06 12:29] #10375 closed

[2021-12-06 14:45] kumariko commented on #2922
@ppgiannak please check https://github.com/tensorflow/models/issues/2922#issuecomment-640831455 and let us know if your issue got resolved or not?

[2021-12-06 22:27] jvishnuvardhan commented on #9553
@tibbe Based on the comment above, looks like this was resolved by loading the model as a TF model (instead of a keras model).

Is this still an issue for you? Thanks!

[2021-12-07 11:17] kumariko commented on #1721
@ghost Could you please let us know if you still need help on this issue ? and please refer [link1](https://stackoverflow.com/questions/48295072/invalidargumenterror-retval0-does-not-have-value-is-thrown-when-using-tflearn), [link2](https://github.com/tensorflow/tensorflow/issues/30467) and let us know if it helps? Thanks!

[2021-12-07 11:19] LotusTang commented on #1721
您发送的邮件已经收到，我会尽快阅读并给您回复。

[2021-12-07 13:40] Rayndell opened #10417 "object_detection: AttributeError: 'NoneType' object has no attribute 'message_types_by_name'"
After installing object_detection for TF 2 (Windows) following the link: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

When executing the test program (python object_detection\builders\model_builder_tf2_test.py), got this error message:

D:\TensorFlow\models\research>python object_detection\builders\model_builder_tf2_test.py
Traceback (most recent call la

[2021-12-07 14:06] Rayndell commented on #10417
OK, after further verification it turned out that the protobuf version installed on my Python was outdated.

For those with the same problem : pip install --upgrade protobuf should solve the case.

[2021-12-07 15:11] kumariko commented on #2942
@ghost could you please refer [link1](https://stackoverflow.com/questions/53317592/reading-pascal-voc-annotations-in-python), [link2](https://gist.github.com/Prasad9/30900b0ef1375cc7385f4d85135fdb44) and let us know if it helps?

[2021-12-07 18:34] AlvaroCavalcante commented on #1754
I had this problem and solved it as @rmekdma suggested, correcting the difference in the image resolution when the image is read. It turns out that some images have the width and height changed because of the metadata of the file. To prevent this, in my **generate_tfrecord.py** script I changed how the image is opened from this:
[code]
to this:
[code]
And it solved the problem.

[2021-12-07 19:23] Curid opened #10418 "Mobiledet TF2 Port?"
Is there a reason [Mobiledet](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssdlite_mobiledet_edgetpu_320x320_coco_sync_4x4.config) haven't been ported to TF2? Is there another model with similar accuracy at around 10ms on a Coral?

[2021-12-08 07:16] KaviyaSubramanian706 commented on #8487
I had same issue..reduced batch size and tried and it was same ..tried setting allow_growth..still same..on rebooting the systems..the problem went away..but on killing training in between and starting the training again...made the issue rebounce

[2021-12-08 09:38] kumariko commented on #4655
@harshilpatel312 we are checking to see if you still need help on this issue ?  Could you please have a look on the [link1](https://github.com/tensorflow/models/issues/3752) , [link2](https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/issues/11) and let us know if it helps? Thanks!

[2021-12-08 13:24] DmblnNicole commented on #9297
When I delete "fine-tuning checkpoint version: V2"  in line 172 I get a ValueError when training:

Value Error: Checkpoint version should be V2

So deleting doesn't work for me. Did someone solve this?

[2021-12-08 14:29] tttzof351 commented on #8990
If you work from ONNX you can do (for inference) something like this:

[code]

And if you want use it with keras you probably can wrap this concrete function in custom layer

[2021-12-09 02:36] 453606803 opened #10419 "about the structure of the inception-resnetv2"
Why is the structure of inception different from that proposed in the paper

[2021-12-09 07:30] gcunhase opened #10420 "Obtained baseline accuracy for ResNet50v2 is different than officially reported"
# Prerequisites

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/slim/nets/resnet_v2.p

[2021-12-09 11:28] tbikash62 commented on #9033
Hello @ziyeqinghan

This is regarding efficientdet model configs.

I have below configs-
`def configModel():
    specs = tflite_model_maker.object_detector.EfficientDetSpec(
        model_name='efficientdet-lite1',
        uri='https://tfhub.dev/tensorflow/efficientdet/lite1/feature-vector/1',
        hparams=f'{yamlConfig}\\efficientdet1.yaml',
        model_dir=modelRunning,
        epochs=1,

[2021-12-09 14:42] NeverTalk commented on #8941
Hi, I have the exact same problem. Anyone managed to solve this?

[2021-12-09 18:38] AvishayDev opened #10422 "cannot import name 'string_int_label_map_pb2' from 'object_detection.protos'"
# Prerequisites

The entire URL of the documentation with the issue:
models\research\object_detection\protos\string_int_label_map_pb2.py

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the issue
i try to  run this comman for creating tfrecord files, with no success..
python Tensorflow/scripts/generate_tfrecord.py -x Tensorflow/workspace/images/train -l Tensorflow/wor

[2021-12-10 01:36] kumariko commented on #10422
@AvishayDev Could you please have a look on the [link1](https://github.com/tensorflow/models/issues/6148) , [link2](https://stackoverflow.com/questions/60600529/cannot-import-name-string-int-label-map-pb2) , [link3](https://github.com/tensorflow/models/issues/1595) and let us know if it helps? Thanks!

[2021-12-10 06:01] Zhiwei35 commented on #10420
I met the same issue, my resnet50v2 performed 0.659, alse far lower than officially reported

[2021-12-10 06:29] #10397 closed

[2021-12-10 21:40] Kobra173 commented on #6669
muchas gracias

[2021-12-11 15:47] Source82 commented on #9771
Hello,
Thanks for the hack. :-)

this part
[code]
What part of the code does one add it to please?

can you share your version of the code please.
Thanks

[2021-12-12 08:17] yumemio opened #10423 "UnknownError in eager_few_shot_od_training_tf2_colab.ipynb"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-12-12 09:26] Suzan009 opened #10424 "Clean - Modular and Task Specific Repositories!"
##  Describe the feature you request

- Why do I need to bother all sorts of **Vision** and **NLP** and **Recommendation** tasks if I am only required to work with only **Vision** tasks? All of these should be separated and maintained with a clean interface.  It should be a clean, modular, and task-specific repo.

- And Why It's needed to install `tensorflow/model` separately and not tightly inclu

[2021-12-12 11:02] Shakerlicious commented on #9771
[code]

This is how the end of my model_lib_v2.py script looks like. Hope it helps!

[2021-12-12 18:30] blackburn07x commented on #8708
@jaeyounkim I would like to work on this paper if no one is working on this. Can you assign this to me?

[2021-12-13 11:12] kumariko commented on #10423
@yumemio Could you please have a look on the [link1](https://stackoverflow.com/questions/53698035/failed-to-get-convolution-algorithm-this-is-probably-because-cudnn-failed-to-in) , [link2](https://github.com/tensorflow/tensorflow/issues/24828) and let us know if it helps? Thanks!

[2021-12-13 17:15] #10402 closed

[2021-12-13 19:08] almirfilho77 commented on #10241
Hello, could you please tell me the minimum TFLite version that can load the quantized model?

[2021-12-14 02:55] animeesh commented on #7727
still not getting any way to run ssd mobilenet v3 ?
if anyone have the resources do attached the link.

[2021-12-14 06:38] saberkun commented on #10424
(1) there are a lot of multi-modal works and all areas are in the same design as a single package.
(2) tensorflow/model is not strictly tight with tf versions. the models often can work with previous TF versions
(3) we don't control colab and kaggle
(4) keras-cv is something separated. Keras as a high-level api has limitation to support research. We adopt keras modeling apis and leave the training

[2021-12-14 06:38] #10424 closed

[2021-12-14 06:41] saberkun commented on #10420
Slim models are not actively maintained. For reproducible baselines, please take a look at: https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#imagenet-baselines

[2021-12-14 06:42] saberkun commented on #10416
@jereliu adding the author for concrete suggestions

[2021-12-14 06:49] #10381 closed

[2021-12-14 06:49] #10380 closed

[2021-12-14 06:49] #4490 closed

[2021-12-14 06:50] #4066 closed

[2021-12-14 06:50] #2790 closed

[2021-12-14 06:51] #5298 closed

[2021-12-14 06:51] saberkun commented on #5298
TOCO is deprecated

[2021-12-14 06:51] hxtkyne commented on #5298
邮件已收到了哦亲，经常联系啊。好朋友走一生

[2021-12-14 06:51] #6082 closed

[2021-12-14 06:52] #5989 closed

[2021-12-14 06:52] #5303 closed

[2021-12-14 06:53] #4795 closed

[2021-12-14 06:53] #6100 closed

[2021-12-14 07:30] jereliu commented on #10416
Hi! I believe the spectral normalization wrapper needs to be modified to work properly with Conv1D layer. It should not be too difficult to do  (e.g, by modifying the implementation of the Conv2D wrapper so it works with the Conv1D layer).

[2021-12-14 07:48] puentene commented on #10416
So, the basic calculation within the layer would stay the same? I guess this is not so easy for the GRU layer?
Thank you for the input, already!

[2021-12-14 07:57] jereliu commented on #10416
Hi! I believe the basic calculation should be the same (although I haven’t
implemented it myself). To make it work for GRU layer, you probably need to
subclass the official GRU layer, and experiment with wrapping its dense
layers  with the spectral normalization wrapper. If you want to be careful,
can consider start with only wrapping one the main layers with GRU.

On Mon, Dec 13, 2021 at 11:48 PM

[2021-12-14 08:47] Zhiwei35 commented on #10420
hi, do you mean the tf.keras.applications.ResNet50V2 is one of slim models?

[2021-12-14 11:05] yumemio commented on #10423
As per @kumariko's suggestion, I re-ran the code without `!pip install -U --pre tensorflow=="2.2.0"` (the first cell), and voilà, all went well[^1]. Turned out it was a problem with TF version.
I am filing a PR to fix this.

@kumariko, thanks for the reply, you helped me a lot!

[^1]: Gist: https://gist.github.com/yumemio/389b7d3fa47ebae24e88080195486458 . Note that the last cell is not executed b

[2021-12-14 14:15] Chasing987 commented on #8138
could you tell me how to change, please; the problem trouble me a long time

[2021-12-14 14:16] Chasing987 commented on #8138
could you tell me how to change, please; the problem trouble me a long time @NyiNyiNaing86

[2021-12-14 20:20] saberkun commented on #10420
Hi, sorry, I am confused by: https://github.com/tensorflow/models/blob/master/research/slim/nets/resnet_v2.py

tf.keras.applications.ResNet50V2 is not in slim and it is not in the tensorflow/models repo.
The keras applications models are developed by Keras team. Please report the issue to keras team.
To my knowledge, keras applications only make sure the weights are correctly loaded. I don't know

[2021-12-14 20:20] #10420 closed

[2021-12-14 20:26] Suzan009 commented on #10424
@saberkun It's not proper to close the issue that I opened.

---

Reading your answer, I'm wondering, who is the target audience of tensorflow? Is it for commercial purposes or research purposes?

If it's the only commercial purpose, then I've no more questions. But if it's for research purposes, then please think again about this repo. In my Ph.D. work, I should mostly be concerned about my topic

[2021-12-15 02:32] saberkun commented on #10424
Thanks for the suggestions. The OpenMMLab is definitely a top tier repo that we should learn from. Sorry about the confusion due to the limited resource to support you. Sorry, I closed the issue in a confusing way. Could you open specific issues to the code and model that you have questions?

Could you elaborate more on which model and experiment you are looking for?
It seems that you are interest

[2021-12-15 06:23] kumariko commented on #10423
@yumemio Thanks for the update. If it is resolved then please feel free to move this issue to close status ?Thanks!

[2021-12-15 06:35] Kimxbzheng commented on #9706
For cpu version, I found `from tensorflow.math import reduce_prod` works.
For gpu version, I found `from tensorflow.python.ops.math_ops import reduce_prod` works.

[2021-12-15 06:36] Kimxbzheng commented on #9706
For cpu version, I found from tensorflow.math import reduce_prod works.
For gpu version, I found from tensorflow.python.ops.math_ops import reduce_prod works.

[2021-12-15 11:56] cristyioan2000 commented on #9008
Worked for me:

# From within TensorFlow/models/research/
cp object_detection/packages/tf2/setup.py .
python -m pip install --use-feature=2020-resolver .

[2021-12-16 00:46] gmundewadi commented on #9652
Set a `PREDICTION_INTERVAL = 60`. This would ensure that you only load into memory every 60th frame. See how its done in the following link:

https://talmpro.com/2020/04/18/build-react-native-app-with-tensorflow-js-and-mobilenet-part-2/

[2021-12-16 09:19] gcuder commented on #10381
I am sorry that it took me that long, but I tried using `mixed_precision` and I had a `NaN` loss during training. I attached the `tf.debugging.enable_check_numerics` debugger which yielded the following result

[code]

[2021-12-16 09:22] gcuder opened #10426 "Numeric instabilities in LayerNorm when training with `mixed_precision`"
Hello, since this issue has been closed, I opened a new one. For a description of the problem, please see Issue #10381

I am sorry that it took me that long, but I tried using mixed_precision and I had a NaN loss during training. I attached the tf.debugging.enable_check_numerics debugger which yielded the following result

[code]

[2021-12-16 17:31] EdwinKuriakose opened #10427 "TF2 Object Detection Model Post training Quantization Error"
After training an Object detection model with SSD MobileNet v2_fpnlite_320x320_coco17_tpu-8, I used the exporter_main_v2.py, and then used the 'export_tflite_graph_tf2.py' to export the graph before converting it to tflite. Now I am trying to do the post training quantization using the code provided in this #9033  , and in the convert step I am getting an error  :  'Given shapes, [1,20,20,128] and

[2021-12-16 18:04] EdwinKuriakose commented on #10427
Okay so I did a mistake and the converter.convert function ran with the tf nightly showing the output as "WARNING:absl:Buffer deduplication procedure will be skipped when flatbuffer library is not properly loaded".

Now when I run that tflite model to check the input/ output details, in raspberry pi 4 model b, it throws segmentation error. Does this have to do with the tflite model or the hardware

[2021-12-17 01:16] saberkun commented on #10426
Hi, this is from the layer norm. I have experienced this for some models. The layer norm has the "sum", "divide" which could be challenging for fp16 and b16.
If NaN happens, you need to make sure the computation inside the layer norm is fp32. You can set it dtype as fp32 and add cast before/after.

enable_check_numerics is the right way to debug. I often need to bisect the model structure and add

[2021-12-17 06:04] dsjosh opened #10428 "Same code running optimized in Windows and heavy in Linux"
[✔️ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2
[ ✔️] I am reporting the issue to the correct repository
[✔️ ] I checked to make sure that this issue has not already been filed

## File URL

https://github.com/tensorflow/models/blob/master/research/audioset/yamnet/inference.py

## Bug Description

I understand that usually codes run more efficiently in Linux than Windo

[2021-12-17 07:19] 1612190130 commented on #9625
I successfully use deeplab with following  configuration:
- python 3.7
- tensforflow==1.15 && tensforflow-gpu==1.15
- export PYTHONPATH=$PYTHONPATH:pwd:pwd/slim
- pip install tf_slim
I think you missed the third step @ssnirgudkar

[2021-12-17 08:40] gcuder commented on #10426
Thanks for the answer. As there's no way around it, I think this issue can be closed

[2021-12-17 08:40] #10426 closed

[2021-12-17 09:41] rooney-mechanics commented on #9379
I have the same problem, too. Could someone help to fix it?

[2021-12-17 18:57] abhishekgautam101 opened #10429 "Could you please add support for Apple's M1 chip for running Mobilenet SSD V2 training"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

## 2. Describe the feature you request

I tried installing the Mobilenet SSD V2 on Appl

[2021-12-18 09:52] sunsibar opened #10430 "Efficient HRL: Feature / Documentation Request. Steps needed to adjust HIRO to a new environment"
## 1. The entire URL of the file you are using:

https://github.com/tensorflow/models/tree/master/research/efficient-hrl

## 2. Describe the feature you request

Similar to issue  #10384 , I would like to use efficient-hrl for a new environment. I would like to start a list of steps to take here, by listing what I did so far and what still does not seem to function. I would be grateful for correct

[2021-12-18 10:27] VivekMBhasi opened #10431 "Enabling MultiWorkerMirrored Strategy in transformer code"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/nlp/transformer/transformer_main.py

## 2. Describe the feature you request

How to enable MultiWorkerMirroredStrategy

[2021-12-18 11:27] #10431 closed

[2021-12-18 11:28] VivekMBhasi commented on #10431
I was able to get it to work by specifying  the flag --distribution_strategy=multi_worker_mirrored while launching the script

[2021-12-19 02:35] saberkun commented on #10426
Just wanted to check, if you keep the tf.float32 in```tf.keras.layers.LayerNormalization(
            name="self_attention_layer_norm",
            axis=-1,
            epsilon=self._norm_epsilon,
            dtype=tf.float32)```, the fp16 training still works? mixed precision policy should help cast inputs for keras layers.

There are some solutions to replace layer norm, like Rezero.

[2021-12-19 11:34] gcuder commented on #10426
Yes, if I keep the dtype fixed to float32, mixed_precision training works like a charm.

[2021-12-19 14:00] wayne931121 commented on #8862
參考這個網站，可以這樣 https://www.tensorflow.org/lite/guide/signatures

@tf.function(input_signature=[tf.TensorSpec(shape=[None,640,640,3], dtype=tf.float32)])
def detect(input_tensor):
  preprocessed_image, shapes = detection_model.preprocess(input_tensor)
  prediction_dict = detection_model.predict(preprocessed_image, shapes)
  return detection_model.postprocess(prediction_dict, shapes)

!mkdir save_model

[2021-12-20 15:34] #2922 closed

[2021-12-20 19:38] muyigl95 opened #10433 "Evaluating in TensorFlow Object Detection API - AttributeError"
Hello,

I have successfully trained my model using the TensorFlow Object Detection API and wanted to evaluate it on it. I used the following site as a guide: https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html

Link for the code "model_main_tf2.py": https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

After running the sc

[2021-12-20 20:50] ofirnachum commented on #10430
It is hard to say whether and how well HIRO will work out-of-the-box on a new environment, but here are my immediate reactions to your post:

- Yes, using task/plain_rewards is the right way to go.
- I would be hesitant to use an environment with its own termination signal. The code was not tested with these sorts of environments (the code handles termination on its own), and I suspect there may b

[2021-12-20 23:34] #9553 closed

[2021-12-21 03:54] Endless-Debugger commented on #10423
I am facing the same error for the same notebook. I removed the `!pip install -U --pre tensorflow=="2.2.0` which worked for @yumemio but the error is still being thrown

[2021-12-21 08:56] GerdHel opened #10434 "Train network on custom live data - e.g. tf.data.Dataset.from_generator() instead TFRecord()"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/object_detection/model_main_tf2.py

## 2. Describe the feature you request

I would like to train a object detection n

[2021-12-21 09:16] GerdHel commented on #10296
Because I have solved the issue for me by changing the input data format in the keras.json I close this issue.

[2021-12-21 09:16] #10296 closed

[2021-12-21 11:09] yumemio commented on #10423
@Endless-Debugger My gist was run on a Colab VM, which has `TensorFlow==2.7.0` preinstalled.
Are you running the notebook in Colab? If not, installing the latest version of TensorFlow might help.

[2021-12-21 12:16] puentene commented on #10416
So you would suggest something like this:

class SpectralNormalizationConv1D(tf.keras.layers.Wrapper):
  """Implements spectral normalization for Conv2D layer based on [3]."""

  def __init__(self,
               layer,
               iteration=1,
               norm_multiplier=0.95,
               training=True,
               aggregation=tf.VariableAggregation.MEAN,
               legacy_mode=Fa

[2021-12-21 12:30] puentene commented on #10416
Hi again!
Sorry, I am not quite sure if I understand correctly:
Would you apply the normalization (as for the dense layer) to the weights of the hidden layer at each step i.e. in https://github.com/keras-team/keras/blob/v2.7.0/keras/layers/recurrent_v2.py#L204-L525
h = z * h_tm1 + (1 - z) * hh in line 595
or to the last_output of the backend.rnn? Or did I completeley misunderstand and you mean an

[2021-12-21 12:34] #1721 closed

[2021-12-21 15:34] #2942 closed

[2021-12-21 17:44] jereliu commented on #10416
Hi!

In general, I think the spectral normalization are mostly intended to be applied to the hidden layers (not the input layer or the output layer).

In the context of the `standard_gru` function, I think the spectral normalization should be applied to the recurrent_kernel updates (https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/layers/recurrent_v2.py#L585)

[2021-12-21 19:47] plakal commented on #10428
Please note that the YAMNet inference demo is a toy and is only meant to show how to pass audio data from an audio file into the model and read out the predictions. If you wanted to do real-time inference on an audio stream, you would definitely not repeatedly run inference.py as it's written, you would write your own custom audio-handling loop.

The performance differences you are seeing between

[2021-12-21 19:47] #10428 closed

[2021-12-22 03:50] Endless-Debugger commented on #10423
@yumemio I too was running the same notebook on colab, I have checked the version of the preinstalled tensorflow module and it too was 2.7.0 but the error is still being thrown

[2021-12-22 08:18] sunsibar commented on #10430
Thank you for your comments on what will likely go wrong / would need to be adjusted. It seems we would need to address the second point, especially, if we want to try to make this work, and that a major modification would be necessary.
That's all helpful to know.

[2021-12-22 10:34] #4655 closed

[2021-12-22 10:46] yumemio commented on #10423
I re-ran the code from my PR #10425, and confirmed no errors are raised.

Steps to reproduce (assumes you are on Linux):

1. Run `wget https://raw.githubusercontent.com/tensorflow/models/febe1cf98ebf8b951020f6f292513e3f561b7cca/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb` (which downloads the notebook from my PR)
2. Upload the notebook to Colab.
3. Uncommen

[2021-12-22 13:25] dsjosh commented on #10428
Thank you @plakal and @kumariko . That makes sense.

[2021-12-22 13:42] Abdel-Elmoukhtari commented on #8965
###########################################
#####  if you are using TensorFlow 1.x version #######
###########################################
import tensorflow.compat.v1 as tf1
tf1.disable_v2_behavior()
import tensorflow as tf2 #Tensorflow 1.15.2
from tensorflow.contrib.rnn import LSTMCell
###########################################
#####  if you are using TensorFlow 2.x version #######
#########

[2021-12-23 01:15] thewq commented on #10011
@itai12312 @anshkumar Is there any update? I also meet the similar issue

[2021-12-23 07:51] itai12312 commented on #10011
I think it also happened with mirrored, but I don't remember, I moved on to something else.

[2021-12-23 13:01] dtlam26 commented on #5801
Just use the `legacy/train.py` 🍡

[2021-12-24 11:46] nimabahrami commented on #10423
just create a cell at the beginning of the colab and jot down:
!find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf
!pip install -U --pre tensorflow="2.7.0"

[2021-12-25 09:02] muyigl95 opened #10436 "TensorFlow Object Detection API - Access Violation (Windows 10) - Nvidia RTX 2080"
Hello,

i want to train my model using the TensorFlow Object Detection API. I used the following site as a guide: https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html

When i execute „model_main_tf2.py“, I receive following error message:

[code]
application error:
![Anwendungsfehler](https://user-images.githubusercontent.com/96444082/147381647-1f634a90-4219-41aa

[2021-12-25 22:40] myasser63 opened #10438 "Training error using TF2.x object detection"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ YES] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ YES] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ YES ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you

[2021-12-26 05:53] longqua69 opened #10439 "Unable to install TensorFlow object detection API with Docker"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-12-27 15:26] muyigl95 commented on #9691
Hi @ebrarsahin,

what do you mean by correct path for files? What was your mistake and how did you fix it?

Greetings
Muhammed

[2021-12-27 15:56] ebrarsahin commented on #9691
@muyigl95 It's been long time may be I am wrong but I've mentioned about given paths for training etc.

[2021-12-27 18:54] ISJSOUL opened #10440 "OP_REQUIRES failed at conv_ops.cc:1120 : UNKNOWN: Failed to get convolution algorithm"
I am getting this error when try to run on gpu using colab but working fine on CPU. I am using **tensorflow-gpu=2.7.0**
**Error is following:**

2021-12-27 13:00:13.558557: E tensorflow/stream_executor/cuda/cuda_dnn.cc:359] Loaded runtime CuDNN library: 8.0.5 but source was compiled with: 8.1.0.  CuDNN library needs to have matching major version and equal or higher minor version. If using a binar

[2021-12-28 08:47] muyigl95 commented on #9691
@ebrarsahin Too bad, thanks anyway!

[2021-12-29 03:39] orangeronald commented on #5296
![image](https://user-images.githubusercontent.com/96806771/147625020-a5440427-8921-47b9-9a9a-e00326d1036a.png)
Have similar issue before. After reducing the size of the model, somehow the usage of RAM drop back to a low point before reaching the RAM limit. The issue of RAM growth during the process is still unacknowledged.

[2021-12-29 05:04] #10422 closed

[2021-12-29 14:37] anguoyuan opened #10441 "Has DELG removed the overlap between GLDv2 and Oxf/Par during training?"
Hi, DELF and DELG are awesome models and has achieved very impressive results on Oxford5k/Paris6k. I noticed that the DELF paper clearly says they removed the overlapping classes with Oxford/Paris. But  I did not find this kind of claim in the DELG paper. I am wondering if the DELG model also removed the overlapping between GLDv2 and Oxford5k/Paris6k during training. Many thanks.

[2021-12-29 20:11] PhilippWillms commented on #9706
Hi all,
today I am stumbling across this issue while setting my conda environment to use ray-rllib. What is actually now the working mix of versions in order to effectively apply tensorflow, numpy and ray-rllib together? During the last couple of hours , I experienced many hickups and necessary downgrades of libraries like numpy needed to make that work.

[2021-12-29 23:02] diego200052 commented on #8844
I have the same issue. I have trained my custom model with TF2 Object Detection API (using this guide: https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html). I would like to obtain the frozen inference graph, I tried running the script export_inference_graph.py but I get the same error as the other users describe:

raise RuntimeError("tf.placeholder() is not comp

[2021-12-30 09:03] AI-P-K commented on #8844
@diego200052 your purpose is to make the inference faster right? i can't believe that thay did not solved this issue yet :(

[2021-12-30 23:17] planetroger2020 opened #10442 "ImportError: cannot import name '_registerMatType' from 'cv2.cv2' (/usr/local/lib/python3.7/dist-packages/cv2/cv2.cpython-37m-x86_64-linux-gnu.so)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-12-30 23:26] #10442 closed

[2021-12-31 03:39] rahman-mdatiqur opened #10443 "InaccessibleTensorError while using the ssd_random_crop preprocessing function in object_detection api"
Hello,
I was trying to use the [`preprocessor.py`](https://github.com/tensorflow/models/blob/master/research/object_detection/core/preprocessor.py#L4670) script in object_detection api to use the [`ssd_random_crop`](https://github.com/tensorflow/models/blob/master/research/object_detection/core/preprocessor.py#L3526) pre-processing function. However, i was getting the `InaccessibleTensorError` err

[2021-12-31 13:45] YanisSadou commented on #9544
Hi huys, I have a similar error, but it lokks like this :
![erreur](https://user-images.githubusercontent.com/73648930/147826389-9f5664da-f7bd-4daa-91b0-19a4be33bac6.PNG)

Do you know, how can I fix this error ? Kind Regards

[2021-12-31 19:16] diego200052 commented on #8844
Exactly, the only solution that I found is to use TF1 to train the model and then get the freeze graph.
[Here](https://github.com/opencv/opencv/issues/19257) there is a related issue.

[2021-12-31 20:39] jjd9 commented on #10408
Figured it out! :grinning: You have to set the input_shape when exporting the inference graph for some reason. Although it is odd that this is not the case with the other tf1 model zoo models I have tried, my bad for not figuring it out sooner... :man_facepalming:

[2021-12-31 20:39] #10408 closed

[2022-01-01 07:11] StevenTang1998 opened #10444 "Error of downloading NewSHead dataset"
Following the [readme](https://github.com/tensorflow/models/tree/a80c26b1dca130c220f15515f70732ece78eab65/official/projects/nhnet), I run `news-please -c news_please`, and the following error orrurs:

[code]

[2022-01-01 18:12] saberkun commented on #10444
@remenberl

[2022-01-01 19:28] AI-P-K commented on #8844
Or you could just dump TF and go to PyTorch.. as I did. Easier, faster, better :)\

[2022-01-01 20:44] remenberl commented on #10444
Please install an older version as below. It should solve the config key issue.
`pip3 install news-please==1.4.26`

[2022-01-02 00:39] StevenTang1998 commented on #10444
It works. Thanks for you help!!

[2022-01-02 05:52] dmitry-vlt commented on #10439
I have the same exact issue on Ubuntu 20.04.1 LTS with CUDA 10.1 (and tried with 11).
My system config:
-------------------------
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:07:16_PDT_2019
Cuda compilation tools, release 10.1, V10.1.243
--------------------------
+---------------------------------------------------------------------------

[2022-01-02 09:40] IamSierraCharlie commented on #8844
I'm in the same boat.  After hours of investigation, Ive arrived exactly at the same point as others here.
Historically in TF1, if used the frozen inference graph - created a session and then pumped images through a placeholder with great speed because my project demanded it..  It seems that TF2 has no mechanism for this? Please correct / direct me if I am wrong.  Either that or I am looking in th

[2022-01-02 12:17] lihe07 commented on #9151
Same problem and solved when LR is reduced to 1e-5.
My batch_size is 4 and it trains on 4 GPUs.

[2022-01-02 13:17] muyigl95 commented on #10436
Hello,

i fixed the problem. It wasn't the GPU.

It was the Virtual Memory (Pagefile). I changed to "System managed size"
Here is the link for setting the Virtual Memory:
https://www.tomshardware.com/news/how-to-manage-virtual-memory-pagefile-windows-10,36929.html

Greetings
muyigl95

[2022-01-02 13:17] #10436 closed

[2022-01-02 14:42] AI-P-K commented on #8844
You are not wrong... I investigated this problem for about 2 weeks, I have tried different ways but unsuccessfully. I was working on a real-life project as you probably are and I had to take the same decision ... I changed to PyTorch. Even if this meant I kind of threw away 4 months of work. If you ever find another alternative just give us a shout... I am still very curious about this problem.

[2022-01-02 16:22] longqua69 commented on #10439
Hope the Tensorflow team can help with this soon.

[2022-01-03 08:28] vermavinay982 commented on #8862
@wayne931121 It worked, the pb file is generated and it detecting perfectly. Thanks

[2022-01-03 13:29] CometManAtGitHub commented on #9379
Hi,
i had the same problems with hparams etc.

These steps finally worked for me. Maybe TF-2.7.0 resolved the errors i had in the beginning with TF-2.5.0, or to not paste TF-models into the conda-env TF installation folder, see below for context.

Please follow exactly these instructions here:
https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html#

You can avoid th

[2022-01-03 14:50] Antima99 opened #10445 "Error in importing library, during training of the custom object detection model with tensorflow"
here is the error, I am hoping there is some new update or something, that's why it's causing me this issue, if someone knows about it
please help me out!
![error during training](https://user-images.githubusercontent.com/91019535/147944481-a7b3d161-8d56-4b04-ad83-047d08c65d21.PNG)

[2022-01-03 14:51] Antima99 commented on #10445
![error during training](https://user-images.githubusercontent.com/91019535/147944762-e0c3d6f8-887b-4503-a788-aaf986b37625.PNG)

[2022-01-03 15:22] andrefaraujo commented on #10441
Hi @anguoyuan , thanks for the question.

There is some overlap between GLDv2 and Oxford5k/Paris6k (eg, GLDv2 contains Eiffel Tower, and likely other Oxf/Par landmarks too). We never measured the overlap, so I am not sure how much overlap there is. Given our [dataset explorer](https://storage.googleapis.com/gld-v2/web/index.html), I guess it shouldn't be too hard to search for the Oxf/Par landmark

[2022-01-03 15:22] #10441 closed

[2022-01-03 17:35] diego200052 commented on #8844
@AI-P-K thank you for the advice I'll try with PyTorch.

[2022-01-03 21:48] xiang-burlington opened #10446 "Couldn't convert ssd_efficientdet_d0_512x512_coco17_tpu-8 model to int8 tflite model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Yes] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Yes] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are

[2022-01-04 00:07] IamSierraCharlie commented on #8844
I actually think I could be mistaken.  I spent hours last night trolling the internet and I found this page:
https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/plot_object_detection_saved_model.html
At first glance, I thought I'd seen it all before and is not what I'm looking for because it doesnt use a frozen inference graph.
On second glance and with nothing

[2022-01-04 01:09] anguoyuan commented on #10441
Thanks for your answer!

[2022-01-05 05:43] kumariko commented on #10446
@xiang-burlington Could you please have a look on the [link1](https://stackoverflow.com/questions/66767195/run-inference-with-quantized-tflite-model-int8-in-python) , [link2](https://stackoverflow.com/questions/67330342/converting-ssd-object-detection-model-to-tflite-and-quantize-it-from-float-to-ui), [link3](https://stackoverflow.com/questions/66551794/tflite-cant-quantize-the-input-and-output-of

[2022-01-05 05:47] kumariko commented on #10445
@Antima99 Could you please have a look on the [link](https://stackoverflow.com/questions/70537488/cannot-import-name-registermattype-from-cv2-cv2) and let us know if it helps? Thanks!

[2022-01-05 10:56] Petros626 commented on #3196
hey could you share the changes in the config file for the training? I guess you change there the model architecture?

[2022-01-05 12:36] kumariko commented on #4330
@harshthaker Could you please have a look on the [link1](https://stackoverflow.com/questions/60775254/memory-error-oom-while-testing-tensorflow-object-detection-api) , [link2](https://stackoverflow.com/questions/66563512/tensorflow-object-detection-api-gpu-memory-issue) and let us know if it helps? Thanks!

[2022-01-05 12:43] kumariko commented on #4862
@navinkeshava We are checking to see if you still need help on this issue? Could you please have a look on the [link](https://stackoverflow.com/questions/46158202/tensorflow-object-detection-using-a-classification-checkpoint) and let us know if it helps? Thanks!

[2022-01-05 12:48] kumariko commented on #4905
@shauviks We are checking to see if you still need help on this issue? Could you please have a look on https://github.com/tensorflow/models/issues/4905#issuecomment-488750640 and let us know if it helps? Thanks!

[2022-01-05 12:50] kumariko commented on #5008
@yswang1717 We are checking to see if you still need help on this issue? Could you please have a look on the [link1](https://github.com/tensorflow/models/issues/3643), [link2](https://stackoverflow.com/questions/50619150/how-can-i-load-a-pre-trained-model-on-coco-dateset-for-image-segmentation) and let us know if it helps? Thanks!

[2022-01-05 12:55] kumariko commented on #5056
@aseelam We are checking to see if you still need help on this issue? We recommend that you upgrade to 2.7 which is latest stable version of TF and let us know if the issue still persists in newer versions. Also please have a look on the [link](https://stackoverflow.com/questions/53250360/typeerror-non-max-suppression-got-an-unexpected-keyword-argument-score-thres/54779304) . Thanks!

[2022-01-05 13:01] kumariko commented on #5150
@jackyLens We are checking to see if you still need help on this issue? Could you please have a look on the [link1](https://stackoverflow.com/questions/60032276/converting-audioset-ckpt-to-pb-file), [link2](https://stackoverflow.com/questions/56766639/how-to-convert-ckpt-to-pb) and let us know if it helps? Thanks!

[2022-01-05 16:39] xiang-burlington commented on #10446
As "link1" suggested, used larger dataset for conversion. The codes were basically the same as "document" suggested:

def representative_dataset():
    for _ in range(512):
      data = np.random.rand(1, args.height, args.width, 3) * 2 - 1
      yield [data.astype(np.float32)]

# Convert the model
converter = tf.lite.TFLiteConverter.from_saved_model(args.model_dir)
converter.optimizations = [tf.li

[2022-01-05 23:53] reedwm commented on #10426
@gcuder, when using mixed precision, can you make sure you are using passing `"mixed_float16"` policy instead of  `"float16"`  to [`tf.keras.mixed_precision.set_global_policy`](https://www.tensorflow.org/api_docs/python/tf/keras/mixed_precision/set_global_policy)? The error you posted shows the output of `ReadVariableOp` is float16 which indicicates the variable is float16. However with mixed prec

[2022-01-06 02:32] #7982 closed

[2022-01-06 08:08] ecrows commented on #9471
I spent the night tearing my hair out debugging the eval util scripts before I realized what was happening.  Also very interested in what the impact has been on our training in past weeks.

[2022-01-06 08:30] lovelyczli opened #10447 "MoViNets models on Kinetics 400"
Thanks for your outstanding work for MoViNet.
Could you please provide a model trained on Kinetics 400 as Table 9 in [1].
It is quite important for our future works.
@hyperparticle
@yuanliangzhe
@yeqingli
Looking forward to your reply.

[1] MoViNets: Mobile Video Networks for Efficient Video Recognition

[2022-01-06 09:35] alexcali85 commented on #10315
@andrefaraujo , any clues please?

[2022-01-06 13:15] andrefaraujo commented on #10315
Hi @alexcali85 , sorry for the delay.

The Oxf dataset versions used in the DELF and DELG papers are different: in DELF the Oxford5k is used, while in DELG the **R**Oxford5k is used. Please see the references in both papers and you will find the differences in the datasets there.

It seems like the 67.8% number you mention is for DELF with ASMK, right? (in the ROxf-M dataset) To reproduce ASMK/R-A

[2022-01-06 13:15] #10315 closed

[2022-01-06 15:15] kumariko commented on #5384
@tianye2017resnet We are checking to see if you still need help on this issue? We recommend that you upgrade to 2.7 which is latest stable version of TF . Also please have a look on the [link1](https://stackoverflow.com/questions/39774449/fully-convolutional-resnets-using-tf-slim-run-very-slow) and let us know if it helps? Thanks!

[2022-01-06 15:19] kumariko commented on #5210
@samclearman We are checking to see if you still need help on this issue? Could you please have a look on the [link](https://github.com/GoogleCloudPlatform/cloudml-samples/issues/224) and let us know if it helps? Thanks!

[2022-01-06 15:28] kumariko commented on #4881
@Luca3424 We are checking to see if you still need help on this issue? We recommend that you upgrade to 2.7 which is latest stable version of TF and have a look on this https://github.com/tensorflow/models/issues/4881#issuecomment-882120809) ,  and let us know if it helps? Thanks!

[2022-01-06 15:33] kumariko commented on #6354
@KaaiLee We are checking to see if you still need help on this issue? Could you please have a look on the [link1](https://github.com/opencv/opencv/issues/11805), [link2](https://github.com/tensorflow/tensorflow/issues/48927) , [comment](https://github.com/tensorflow/models/issues/6354#issuecomment-534923045) and let us know if it helps? Thanks!

[2022-01-06 22:22] oryjkov commented on #10344
It stopped working at https://github.com/tensorflow/models/commit/4b617781f28e6cccd5b081856e7797d4c5b9acd4

to fix set ```use_separable_conv: true``` in the downloaded model config, i.e. ```model.center_net.feature_extractor.use_separable_conv = true```

[2022-01-07 01:34] dqthang1323 opened #10448 "Error: maximum box coordinate value is too large"
I am following this tutorial, but with my own data: https://www.youtube.com/watch?v=yqkISICHH-U

I ran into this error, I trained my data successfully but when trying to evaluate my data I am running into this error: tensorflow.python.framework.errors_impl.InvalidArgumentError: Expected ‘tf.Tensor(False, shape=(), dtype=bool)’ to be true. Summarized data: b’maximum box coordinate value is larger t

[2022-01-07 01:59] taki0112 commented on #7381
what is the `get_pixel_value` ?

[2022-01-07 05:47] StevenTang1998 commented on #10444
Hello, I have downloaded them and use the script to preprocess them. However, the file is in the tfrecord format and I want to know how I can get the (article, headline) pair in the string format. I want to use them to conduct summarization task in my own model.

Thanks.

[2022-01-07 07:52] erichhhhho commented on #9434
Any update?

[2022-01-07 08:32] kirisakow commented on #9603
@shvamabps In cell 24, run

[code]

instead of

[code]

[2022-01-07 09:47] OlaOlaoni commented on #8026
Hello. Where you able to solve this

[2022-01-07 10:04] OlaOlaoni commented on #8026
Okay
I solved this by including the full path to the model

[2022-01-07 10:46] kirisakow commented on #9603
# There is another issue concerning the masking model part of that notebook

`TypeError: Cannot interpret 'tf.uint8' as a data type` occurs while running the `show_inference` function for `masking_model`.

The `show_inference` function calls the `run_inference_for_single_image` function which, in case of the `masking_model`, also calls the `utils_ops.reframe_box_masks_to_image_masks` function.

Th

[2022-01-07 12:27] Nikhil-Mudgal commented on #10438
Is this issue still open for contributions ? I am new and would like to contribute.

[2022-01-07 12:55] NobuoTsukamoto opened #10450 "Incorrect download link for Checkpoint in MobileNetEdgeTPUv2 (Classification models)"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/projects/edgetpu/vision/README.md

## 2. Describe the issue

Unable to download checkpoint for MobileNetEdgeTPUv2.

[2022-01-07 15:38] remenberl commented on #10444
The tfrecord files should contain title and article content by default, as it is controled by [this parameter](https://github.com/tensorflow/models/blob/master/official/projects/nhnet/raw_data_processor.py#L50) (set to True by default in the main file).

To process tfrecord, please refer to [this Tensorflow page](https://www.tensorflow.org/tutorials/load_data/tfrecord#reading_a_tfrecord_file_2)

[2022-01-07 17:05] ezius07 opened #10451 "MoViNets trained on Epic Kitchens 100"
Could you please provide also models trained on Epic Kitchens 100 as Table 15 in [1].
It would be really important in order to have a comparison for our future works.
@Hyperparticle
@yuanliangzhe
@yeqingli
Kind regards.

[1] MoViNets: Mobile Video Networks for Efficient Video Recognition

[2022-01-08 02:33] StevenTang1998 commented on #10444
Thanks for your help.

After I process them, I want to check if A is the news headline and BCDE is different articles under that headline.

[2022-01-08 19:55] remenberl commented on #10444
Yes, A is the headline, followed by different articles.

[2022-01-09 08:56] StevenTang1998 commented on #10444
Thank you very much!

[2022-01-09 08:56] #10444 closed

[2022-01-09 23:42] kamwoh commented on #9189
Hi, although the autoencoder is implemented, the provided pre-trained weights of DELG R50 GLDv2 contains a batch normalization layer for autoencoder but the implementation doesn't.

The snippet below is part of the weights from `r50delg_gldv2clean_20200914`
[code]

[2022-01-10 07:44] gathierry opened #10452 "what if ExponentialMovingAverage and tf.keras.mixed_precision.LossScaleOptimizer are used together?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2022-01-10 08:01] gathierry commented on #10452
sorry, I think this duplicate to #10314

[2022-01-10 10:19] yuxiazff commented on #8137
When my tfrecord file's name was train.tfrecord, I got the same error.    So i change the name to train-00000-of-000001.tfrecord, it run succeed.

[2022-01-10 12:29] mouhannadali commented on #10334
I have the same issue and made it work with "pip install --upgrade pip" but model training loss is worse than if I run the same code in Colab. any idea?

[2022-01-11 00:13] jinho2020 commented on #10403
Thanks, @saberkun @CrickWu
I'm getting a warning on pre-training BERT with train.py.
Is this ignorable or am I missing something on my yaml?

WARNING:tensorflow:Gradients do not exist for variables ['pooler_transform/kernel:0', 'pooler_transform/bias:0'] when minimizing the loss. If you're using `model.compile()`, did you forget to provide a `loss`argument?

[2022-01-11 02:14] Cover-yu opened #10453 "detect_to_retrieve：some problems"
Hello！
When I want to perform image retrieval on Revisited Oxford/Paris datasets using the "perform_retrieval.py " and the aggregation types I chose is VLAD , the code remind me " list index out of range". It seems in file "/home/desc/models/research/delf/delf/python/detect_to_retrieve/perform_retrieval.py", line 169" the query_visual_words[i] and  index_visual_words[j] is empty. And I found it co

[2022-01-11 03:10] lovelyczli commented on #10447
@Hyperparticle
@yuanliangzhe
@yeqingli
Sorry to bother you again. And I also sent you a mail a week ago.
It REALLY matters to me. I am looking forward to your prompt reply.

[2022-01-11 03:25] kumariko commented on #10448
@dqthang1323 Could you please have a look on this [link](https://stackoverflow.com/questions/46135528/object-detection-api-assertion-failed-maximum-box-coordinate-value-is-larger-t) and let us know if it helps? Thanks!

[2022-01-11 07:08] rutvij-25 commented on #8704
I'm open to contribution, let me know if I can start my work. Would love to contribute!

[2022-01-11 07:25] rutvij-25 opened #10454 "Implementation of RoBERTa"
I came across #8709 and I would love to implement RoBERTa #8704. I am familiar with the concepts of BERT and Transformers. Looking forward to contributing!

[2022-01-11 10:29] deepali0162 commented on #10107
@satojkovic I tried your recommendations but still facing the same error as reported by @Drisnor .
I am struggling on this code since 2 days, could someone please help with below error.
`Traceback (most recent call last):
  File "model_main_tf2.py", line 115, in <module>
    tf.compat.v1.app.run()
  File "/Users/deepali/Documents/CV_Projects/Decarb_ObjectDetection/models/venv/lib/python3.7/site-pa

[2022-01-11 11:12] sulc commented on #10439
I am facing **the same issue**.

I tried blindly following a [similar issue from tensorflow/text](https://github.com/tensorflow/text/issues/385) where tensorflow:2.3.0 worked, and
- changed `research/object_detection/dockerfiles/tf2/Dockerfile`  to `tensorflow/tensorflow:2.3.0-gpu`
- re-build the docker with `--no-cache`
- re-run protoc (after removing the previous output)
- re-installed with pip

[2022-01-11 12:27] yuxiazff commented on #9661
you can change line 214 in eval.py as follows:
`session_config = tf.ConfigProto(
        allow_soft_placement=True, log_device_placement=False)
    session_config.gpu_options.allow_growth = True
    contrib_training.evaluate_repeatedly(
        checkpoint_dir=FLAGS.checkpoint_dir,
        master=FLAGS.master,
        eval_ops=list(metrics_to_updates.values()),
        max_number_of_evaluations=num

[2022-01-11 12:28] yuxiazff commented on #9661
you can change line 214 in eval.py as follows:
[code]

[2022-01-11 12:29] yuxiazff commented on #9661
you can change line 214 in eval.py as follows:
[code]

[2022-01-11 12:46] satojkovic commented on #10107
@deepali0162
How did you create the tfrecord file?
Looking at the traceback log, it looks like the image format of tfrecord is not correct.
I'd recommend checking the sanity of your data.

[2022-01-11 14:05] deepali0162 commented on #10107
@satojkovic just figured out one of the image was causing the issue, thank you so much for your reply.

[2022-01-12 08:31] jinho2020 commented on #10403
@saberkun @CrickWu
How can I define the yaml for pre-training BERT?
[code]
[code]

[2022-01-12 15:45] Kia4631 commented on #3316
I'm experiencing the same issue with Tensorflow 2.7.
When it crashed after some epochs for the first time, I re-ran the training command without any changes and it went for more steps. Then it crashed again! Now I'm adding this **"TF_GPU_ALLOCATOR=cuda_malloc_async"** to my training command as  Tensorflow has suggested in the error.
I'll update here if it doesn't crash again!

[2022-01-12 15:52] aafaqin opened #10455 "How to create a dataset for Movinet transfer learning?"
official/vision/beta/projects/movinet/movinet_tutorial.ipynb

How to create your own dataset for doing transfer learning on movinet. I was able to see the tutorial for ucf101 dataset. But the dataset format is not clearly visible it automatically downloads and creates  'train_dataset'  I could see some TFrecord files getting downloaded in a Ucf101 dataset. but how to train your own videos?

[2022-01-12 17:43] neso613 commented on #10293
Same issue with TF2.x inferencing. Input details are not clear

[2022-01-13 01:19] reedwm commented on #10452
Or maybe we could have LSO not create the `base_optimizer` optimizer dependency if the inner optimizer already has it? Since LSO only creates the `base_optimizer` dependency for backwards compatibility with TF 2.2 and below, I think it is OK to not create the dependency in such cases.

[2022-01-13 01:47] saberkun commented on #10452
The user @gathierry  reports the usage of TF 2.5

[2022-01-13 02:13] reedwm commented on #10452
That's true. I meant that LSO creates a `base_optimizer` dependency so that users can load TF 2.2 checkpoints into later versions of TF. Even if one is using the latest TF version, they may still load a checkpoint originally created by TF 2.2.

[2022-01-13 07:50] k-w-w commented on #10452
@reedwm What is the correct behavior for LSO here? Should it be tracking ExponentialMovingAverage's `base_optimizer`, or the `base_optimizer` that it sets?

[2022-01-13 13:04] gustavojoseleite commented on #9215
Any updates about this? @shakey-cuimiao

[2022-01-13 14:21] hoya-cho opened #10457 "How can I modify Efficient D3 Model multiscale_anchor_generator in pipeline.config ?"
<!--
I am currently training using the Efficient D3 model.

Then, I am trying to modify the min_level and max_level of FPN in multiscale_anchor_generator in pipeline.config.
Several bugs occur.

- base pipeline.config -
`feature_extractor {
      type: "ssd_efficientnet-b3_bifpn_keras"
      conv_hyperparams {
        regularizer {
          l2_regularizer {
            weight: 4e-05
          }

[2022-01-13 20:56] reedwm commented on #10452
I'm not sure what the correct behavior should be. LSO's `base_optimizer` is basically a hack that allows checkpoints from TF 2.2 to be loaded into current versions of TF/Keras. Ideally we would keep that compatibility, while still allowing LSO to wrap optimizers that also have a `base_optimizer` depdendency.

WDYT about having LSO not create the `base_optimizer` dependency if the inner optimizer a

[2022-01-14 02:05] saberkun commented on #10450
I have emailed the edgetpu team. I realized that I cannot assign the issue to them. Checking...

[2022-01-14 16:26] Abrmalkawi commented on #10348
Hello,
I tried to train a Tensorflow 2.0 API model at Colab. The training statement posted the following error and stop.
Knowing that the used Tensorflow-gpu 2.7

Errors may have originated from an input operation.
Input Source operations connected to node ssd_mobile_net_v2_keras_feature_extractor/model/Conv1/Conv2D:
In[0] args_1 (defined at /usr/local/lib/python3.7/dist-packages/object_detection/

[2022-01-14 20:21] saberkun commented on #10454
Hi @rutvij-25, the key roberta difference is only on the data preprocessing and hyper parameter tuning. We internally reproduced it roughly to something very close but it is probably not worthwhile to release. However, it would be great to convert the roberta torch checkpoints to TF2 checkpoint to fit the existing BERT implementation in this repo (https://github.com/tensorflow/models/blob/master/o

[2022-01-14 23:49] ramkrishna1121 commented on #4691
Still facing this issue. Any known resolutions?

[2022-01-16 19:27] xiang-burlington commented on #10446
Any updae?

[2022-01-17 04:41] mgmike opened #10461 "Error running tensorflow from docker container"
I am following the directions of the [tf2.md](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md) doc. I built the docker image and ran the container successfully.

When running the 'test the integration' line,

I get the following error message:

  File "object_detection/builders/model_builder_tf2_test.py", line 22, in <module>
    import tensorflow.compat.v1

[2022-01-17 07:21] congjianting commented on #10269
any update by now?

[2022-01-17 09:52] AleksandarTokarev opened #10462 "Android Tensorflow ObjectDetection lib_task_api default number of threads?"
Hello,
We are working on implementing Tensorflow object detection based on the example provided here:
https://github.com/tensorflow/examples/tree/eb925e460f761f5ed643d17f0c449e040ac2ac45/lite/examples/object_detection/android
It seems that there are 2 implementations for that one:
[code]
We are using `lib_task_api` and we don't see the way how we can set the number of threads with it?
For the `lib

[2022-01-17 10:23] SuvarnaDalin commented on #1595
Error: cannot import name 'string_int_label_map_pb2' from 'object_detection.protos'

I solved this error simply by moving the .ipynb file to 'research' folder

[2022-01-17 15:45] mikibella commented on #6392
@kadut99 Hey kadut thank you for your tipps. I'm also doing some testing with the struct2depth framework. I'm having trouble finding the resnet18 pretrained model for Tensorflow. I found some converting tools from pytorch to tf but they seem to not do it right, or I'm doing the mistake. Do you mind sharing your resnet18 checkpoint?

[2022-01-18 02:51] zenetio commented on #10260
I got the same issue. Thank you!

[2022-01-18 11:52] t2kien opened #10463 "MoviNet: Can not assign pretrained weighted because of the difference between pretrained and defined model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ]x I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2022-01-18 13:26] jen-co commented on #9434
Also waiting for an update on this.

[2022-01-18 19:53] jvishnuvardhan commented on #10323
@adsk2050 Recently the model path you mentioned above was deprecated and was moved to `legacy` folder https://github.com/tensorflow/models/blob/master/official/legacy/detection/modeling/maskrcnn_model.py.

The updated model code with the expanded params and documentation are in new locations as shown below.
https://github.com/tensorflow/models/blob/master/official/vision/beta/modeling/maskrcnn_mod

[2022-01-19 04:54] adsk2050 commented on #10323
Yes, the documentation is available. Thanks a lot :-)

[2022-01-19 04:55] adsk2050 commented on #10323
Yes, the documentation is available. Thanks a lot :-)

[2022-01-19 04:55] #10323 closed

[2022-01-19 04:57] saberkun commented on #10452
Hi @gathierry, are you loading the model from some of our pre-trained checkpoints? Could you please let us know what are they?

[2022-01-19 06:11] #10445 closed

[2022-01-19 06:37] vineetsharma14 commented on #10429
I am having a similar issue. I have installed Tensorflow Mac OS using miniforge3 as per the instruction mentioned on the link : https://developer.apple.com/metal/tensorflow-plugin/

I have verified that the Tensorflow is correctly installed and is using the GPU on the M1 Mac.

I then tried to installed Tensorflow Object Detection API (tried both version 1 and 2); but the installation always gives

[2022-01-19 13:11] #4330 closed

[2022-01-19 13:11] #4862 closed

[2022-01-19 13:11] #5056 closed

[2022-01-19 14:11] #5195 closed

[2022-01-19 19:17] MarcelRobitaille commented on #9706
Is this change proposed by @athenasaurav expected to be released anytime soon? Modifying a file from the package after installing does not seem like a good solution to me. Neither does downgrading numpy, especially if the rest of my code uses features only available in numpy 1.20.

[2022-01-19 21:05] joan-yanqiong commented on #2676
Hi guys, I don't know if it is still a problem for you, but I had the following files:
model.ckpt-100000.data-00000-of-00001
model.ckpt-100000.index
model.ckpt-100000.meta

When I used the following code:

[code]

I hope this helps you!

[2022-01-20 01:08] jvishnuvardhan commented on #9839
@DeepakShanthaiah This is a stale issue. Just checking whether it is still an issue for you? Can you please check recent TF versions and let us know whether the issue was resolved for you. Thanks!

[2022-01-20 02:16] zldrobit commented on #8966
I found a way to convert TF Saved Model to frozen graph in TF2. Here is the code I excerpt from  https://colab.research.google.com/drive/1It4V8R0E_3KLezMhXjWTBXcvEifP4aea?usp=sharing,
[code]
.

[2022-01-20 02:34] jvishnuvardhan commented on #10423
I think this was resolved by upgrading the TF version. [Here](https://colab.research.google.com/gist/jvishnuvardhan/b07001fcdcd77f9f3960508eddac72e5/untitled.ipynb) is a gist for reference.

I think once @yumemio PR merges, it will update the *.ipynb file. I will followup this PR. Thanks!

As this is resolved, I will close the issue. Thanks!

[2022-01-20 02:34] #10423 closed

[2022-01-20 06:08] ItsCRC commented on #10463
I am facing the same issue. @t2kien Can you tell more about how to rename keys from "base->b" and "layer->l"?

[2022-01-20 08:32] Suraez commented on #10348
Same error while training the  model.
`2022-01-20 08:25:03.256900: W tensorflow/core/common_runtime/gpu/gpu_bfc_allocator.cc:39] Overriding allow_growth setting because the TF_FORCE_GPU_ALLOW_GROWTH environment variable is set. Original config value was 0.
INFO:tensorflow:Using MirroredStrategy with devices ('/job:localhost/replica:0/task:0/device:GPU:0',)
I0120 08:25:03.260049 140080655730560 mir

[2022-01-20 08:33] Suraez commented on #10348
PS: using Google Colab with GPU runtime environment

[2022-01-20 08:58] sulc commented on #10461
Looks like (unresolved) issue #10439

[2022-01-20 15:23] isspid commented on #5172
Does a solution to this problem exist yet? I am also interested in such a feature.

[2022-01-20 15:38] jvishnuvardhan commented on #10463
@t2kien @ItsCRC Can you please share simple standalone code (py/colab/jupyter notebook) to reproduce the issue? Thanks!

[2022-01-20 16:11] #5384 closed

[2022-01-20 16:11] #5210 closed

[2022-01-20 16:11] #5008 closed

[2022-01-20 16:11] #4881 closed

[2022-01-20 16:14] isspid commented on #1914
@aloisDeLaComble Hey how are you, I am struggling with this functionality. Could you please offer some help with this?

[2022-01-21 01:33] jvishnuvardhan commented on #10450
@NobuoTsukamoto Thanks for the opening this issue. It was resolved.

I am closing this issue as this got resolved and the links are working now. Thanks!

[2022-01-21 01:33] #10450 closed

[2022-01-21 05:17] PritiDrishtic commented on #9047
Is there any samples available to run video inference on saved model ? anyone succeded with this approach ?  I tried to do inference but not succeeded using saved model of TF-2. Please guide.

[2022-01-21 05:48] PritiDrishtic opened #10466 "how to do semantic segmentation on video using saved model from tensorflow-2?"
Currently we have TF2 on production environment so wanted to  do semantic segmentation on video using saved_model.pb
Video segmentation worked for frozen graph using TF-1  but TF-2 dont support frozen graph so please provide script or any working example.

##  System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**
- TensorFlow version (use command below): *

[2022-01-21 06:36] gathierry commented on #10452
Hi @saberkun. No, I'm not using pre-trained checkpoint. I was trying to implement my own model with EMA optimizer

[2022-01-21 07:05] PritiDrishtic commented on #9047
@Farjad3253  are you able to run infernece on Video ?

[2022-01-21 09:11] hamihamiland opened #10467 "fpn max_level unused ssd keras feature extractor"
https://github.com/tensorflow/models/blob/d3a3f1435dc35598ad74afb356bcc712865d2129/research/object_detection/models/ssd_resnet_v1_fpn_keras_feature_extractor.py#L359

If this is the case, an execution error will occur when learning the level of fpn.

[2022-01-21 10:33] ItsCRC commented on #10463
[code]

It shows error: "KeyError: 'b0/l0/bneck/expansion/conv2d/conv2d/kernel:0'"

[2022-01-21 15:33] ReuvenBirnbaum opened #10468 "learning_rate is constantly zero after restarting training from a previous run with EfficientDet D4"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2022-01-21 17:05] frederick0329 commented on #10466
Do you mind providing the link to code you are referring to?

[2022-01-21 17:11] Hyperparticle commented on #10463
@t2kien @ItsCRC I see you are using the v1 model version. Can you try to use the current (v3) version which has the updated weight names?

So for example you should do

https://tfhub.dev/tensorflow/movinet/a0/base/kinetics-600/classification/3

for a0 instead of

https://tfhub.dev/tensorflow/movinet/a0/base/kinetics-600/classification/1

[2022-01-21 17:15] #10447 closed

[2022-01-21 17:34] Hyperparticle commented on #10455
If you want to try something fast and easy you can try to [convert your videos to numpy arrays](https://stackoverflow.com/questions/42163058/how-to-turn-a-video-into-numpy-array), preprocess them, and then wrap the arrays in a [TF dataset](https://www.tensorflow.org/api_docs/python/tf/data/Dataset). For a large number of examples it's best to [write a custom dataset](https://www.tensorflow.org/dat

[2022-01-22 07:58] t2kien commented on #10463
Actually, I just renames the keys of defined model's weight dictionary as below and it works
[code]
@Hyperparticle : I've tried with both v1 and v3 but no luck. I also test with stream version of both predefined and defined model, and they are also different.
@jvishnuvardhan I just follow the tutorial in the movinet_tutorial.ipynb file. It is quite strange

[2022-01-22 14:20] dusskapark commented on #10429
Same problem here

[2022-01-22 16:11] t2kien commented on #10463
@Hyperparticle: I've tested again with model v3 and dump both pretrained model and declared model as below:
[code]
A dump of pretrained model's weight is displayed:
[code]
[code]
and declared model's weight dumps:
[code]
[code]

[2022-01-22 22:11] GhaithArf opened #10469 "Training object detection models cause CPU soft lockup"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2022-01-23 02:02] Hyperparticle commented on #10463
I see, we might have renamed the weights after we exported the TF Hub modules. I will make a note and make sure to update the weight names once we release the next version (v4). For now you can manually rename the weights `"b" -> "block", "l" -> "layer"`.

[2022-01-23 07:20] ItsCRC commented on #10463
@t2kien thanks, it worked. However, it needs to be fixed as it does not work on any version @Hyperparticle.

[2022-01-23 09:24] satojkovic commented on #10306
@robmarkcole
Did you run the first cell?
You can run the code without `!pip install -U --pre tensorflow=="2.2.0"`.
I did it and it all worked out.
For your reference: [link](https://github.com/tensorflow/models/issues/10423#issuecomment-993427975)

[2022-01-24 03:30] zero90169 opened #10470 "Object Detection API cannot save checkpoint more than five."
System Info:

Docker images  = nvcr.io/nvidia/tensorflow:20.12-tf1-py3 which is from https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/rel_21-08.html#rel_21-08

Previous Issues:

https://github.com/tensorflow/models/issues/5076.

My Question:

I have modified the model_lib.py and model_main.py follow the suggestion from https://github.com/tensorflow/models/issues/5076, but i

[2022-01-24 07:46] PritiDrishtic commented on #10466
Hi @frederick0329  I am refering jupyter notebook from models/deeplab folder
[](https://github.com/tensorflow/models/blob/master/research/deeplab/deeplab_demo.ipynb)
I want to run above jupyter notebook for video inference.

Also refferring another jupyter notebook where she implemented run_video function for video, but this is not working with new set of models from TF-2  [](https://github.com/pr

[2022-01-24 14:43] kellyabreu commented on #8887
Hi Jacobsolawetz, thanks for the tutorial! I could successfully trained the EfficientDet on my personal dataset. However, I am wondering how could I evaluate the model? Like mAP?

[2022-01-24 16:17] frederick0329 commented on #10466
Got it. Sorry, I don't work on it. Tagging the authors.

[2022-01-24 16:48] #10453 closed

[2022-01-24 16:53] andrefaraujo commented on #10218
Closing due to lack of activity. Please feel free to reopen as needed.

[2022-01-24 16:53] #10218 closed

[2022-01-25 02:20] #10463 closed

[2022-01-25 04:10] Let-me-look opened #10471 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa7 in position 8: invalid start byte"
tensorflow-gpu 2.5
Win11
python3.8

I'm learning "tensorflow 2 objection detection api" from [here](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html)
Python model_main_FT2.py --model_dir=D:/tf_train/workspaces/cats_dogs/trained_frozen_models --pipeline_config_path=D:/tf_train/workspaces/cats_dogs/training/ssd_mobilenet_v2_coke. config --alsologtostderr" error

[2022-01-25 05:07] #10448 closed

[2022-01-25 11:20] ItsCRC commented on #10463
Any tutorial or guide for fine-tuning a stream model? I actually tried with movienet as backbone and movinet classifier with my own number of classes. It resulted in error: layer movienet-classifier-11 expects 125 input(s), but it received input tensors. ( following READ.MD ,  I changed params for movienet.Movinet(... )

[2022-01-25 11:51] mikibella commented on #6465
@aneliaangelova

regarding 1. Is there a way to do a transfer to the global metric system from the "network units".
Thank you

[2022-01-25 14:18] sulc commented on #10439
What (so far) seems to work for me as a workaround without gcloud and gsutil:
- change `tensorflow/tensorflow:2.2.0-gpu` to `tensorflow/tensorflow:2.7.0-gpu` on line 1 in [tf2/Dockerfile](https://github.com/tensorflow/models/blob/master/research/object_detection/dockerfiles/tf2/Dockerfile)
- comment out installation of gcloud and gsutil on lines 18-21 (otherwise it fails with this image..)

[2022-01-25 19:42] jvishnuvardhan commented on #10438
@myasser63 Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? The link you provided above is not working. Thanks

[2022-01-25 21:11] lvanderheijden opened #10472 "Determining the number of Parameters and FLOPs of SSD-MobileNetV2-FPN-Lite"
I have trouble finding a way to determine the number of parameters and FLOPs of the networks in the Model Zoo TF2.  Is there a function/feature that allows the calculation of this?

Thanks!

[2022-01-25 21:13] jvishnuvardhan commented on #9883
@Jahanzeb-jogo Is this still an issue for you? I ran the colab with custom dataset (2 classes- similar to you) and I didn't notice any colab crash.

Can you please check with recent TF versions and let us know whether it is still an issue for you. Thanks!

[2022-01-26 02:53] Let-me-look commented on #10471
I solved the problem because I put the.pbtxt and.record paths backwards. I can't believe I've been stuck with this problem for so long

[2022-01-26 02:53] #10471 closed

[2022-01-26 09:13] YihanCao123 opened #10473 "Will hub.load() models be updated if encoder is finetuned in a MLM task?"
Hi, I have a question concerning tf_hub and masked lm models.

In the documentation, it says that a `mlm` task can be trained using:
[code]

But what about multitask pretraining using this mlm task? I mean it seems like only the `mlm` weights are updated during finetune, will the encoder weights be updated during this masked lm task? Because I might need the encoder to perform other tasks. If not,

[2022-01-26 16:15] jvishnuvardhan commented on #10291
@yinxx When I used `TF2.7` version, I couldn't reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f44dbc23ecd7a360dfc9147e5cf51ff5/object-detection-inference-on-tf-2-and-tf-hub.ipynb) is a gist for reference. Thanks!

Only changed the first line in the Colab
`# !pip install -U "tensorflow>=2.5"`

[2022-01-27 01:41] kingmacth commented on #9542
@NiuCY Did you solve this problem? I also encountered the same problem.

[2022-01-27 05:59] PritiDrishtic commented on #10466
@jaeyounkim @YknZhu is there any updates on this?

[2022-01-27 06:04] frederick0329 commented on #10466
Sorry @jaeyounkim and I do not work on this. It might be most efficient to reach out to the maintainers.
https://github.com/tensorflow/models/tree/master/research/deeplab#contacts-maintainers

[2022-01-27 06:05] frederick0329 commented on #10466
In the README, they also mention this.
To new and existing DeepLab users: We have released a unified codebase for dense pixel labeling tasks in TensorFlow2 at https://github.com/google-research/deeplab2. Please consider switching to the newer codebase for better support.

[2022-01-27 12:34] kumariko commented on #10470
@zero90169 Could you please have a look on this [link](https://stackoverflow.com/questions/49685923/how-to-store-best-models-checkpoints-not-only-newest-5-in-tensorflow-object-de) and let us know if it helps? Thanks!