[2020-12-10 05:53] saberkun commented on #9538
Keras framework itself will populate 'training' argument inside all layer __call__. As long as the keras model is called with training=True, it will populate to all inner layers.
It is convenient but hidden behavior. Thank you for asking the question. I believe many users/researchers have the same question. https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/engine/base_la

[2020-12-10 06:04] saberkun commented on #9538
Sorry for missing the feature request part.
@arashwan

[2020-12-10 06:08] arashwan commented on #9538
Thanks Jaonary for your question. The vision beta directory is still under development. Freezing bn layers during training is indeed helpful in some cases. We plan to support this feature soon.

[2020-12-10 06:54] NiuCY commented on #9542
@ravikyram
Thanks for your reply, I have read the links you quoted,but I didn't get what I wanted.This model is based in SSD, the input size of offical model is 300*300 or 512*512, but the input size of this model is 320*320, I don't know how to decode it's output without box_prior.This model is provided by TensorFlow, however tensorflow does not provide model configuration, in this case, how to g

[2020-12-10 08:58] #9499 closed

[2020-12-10 10:08] domindominik commented on #9272
@androuino
1. What is the size of your photos for learning and testing the model?
2. Have you tried using another model?
3. Write something more about the environment

[2020-12-10 11:13] androuino commented on #9272
1. The size of the photos is 800x1440.

2. Two different models I have already tried.

3. The environment was tested in Colab, the dataset was mounted from Google drive, the browser I am using is Chrome.

[2020-12-10 13:43] huberemanuel commented on #9537
@xumengwei I think it would be nice to open your new questions on a new issue, to make it easily accessible.

[2020-12-10 14:17] saikumarchalla commented on #9545
@ayah1126  Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2020-12-10 15:08] saikumarchalla commented on #9522
@mashalahmad  Please go ahead and close the issue if it was resolved. Thanks!

[2020-12-10 16:15] stefgootzen opened #9546 "Typo in pipeline.config (in .tar.gz) of Mask R-CNN Inception ResNet V2 1024x1024 model"
In the `pipeline.config` file of the `Mask R-CNN Inception ResNet V2 1024x1024` there is an extra _'s'_ placed.

See:
[code]

Programmatically changing this config with, for example:
[code]
Will result in the following error: `google.protobuf.text_format.ParseError: 153:40 : Message type "object_detection.protos.TFRecordInputReader" has no field named "s".`

[2020-12-10 18:56] McBusinessTime commented on #2267
I see multiple PRs for YOLO related changes. Any ETA on when YOLO models will be available in the OD API?

[2020-12-10 19:49] akrsrivastava opened #9547 "tf.app not available"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2020-12-10 20:00] ymodak commented on #9547
`tf.app` has been removed in TF2 versions.
See https://www.tensorflow.org/guide/effective_tf2#api_cleanup
You may want to use [`tf.compat.v1.flags`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/flags#functions) for using in TF2 versions.

[2020-12-10 22:22] eilifsolberg opened #9548 "No effect of 'freeze_variables' in TensorFlow Objection API when using Tensorflow 2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Y] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Y] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Y] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-12-11 05:51] stassy8 commented on #9200
Попробуй
pip uninstall numpy
или
!pip uninstall numpy

[2020-12-11 06:19] akrsrivastava commented on #9547
It would be helpful if tutorial at https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md#conversion-script-outline-conversion-script-outline is updated with TF2 compliant code.

[2020-12-11 06:51] YuByoungJoon opened #9549 "python model_main_tf2.py error"
anaconda3
   Python3.8.5
   Tensorflow 2.3.1

I am now running tensorflow2 object_detection.
Faced with various problems, we are reducing errors one by one through Github.
But I don't know how to solve this problem.

`(tensorflow) PS C:\Users\Admin\Tensorflow\models\research\object_detection> python model_main_tf2.py --logtostderr --train_dir=training/ --pipeline_config_path=trainin/ssd_mobilenet_

[2020-12-11 06:59] YuByoungJoon commented on #9549
In the tutorial, I was told to use the `train.py` file, but an error occurred and I checked on github and told me to use the `model_main_tf2.py` file.

[2020-12-11 10:15] saikumarchalla commented on #9549
@YuByoungJoon  Could you please let us know which tutorial are you referring to?. Thanks!

[2020-12-11 12:10] flaco5 opened #9550 "TypeError: export_inference_graph() got an unexpected keyword argument 'use_side_inputs'"
I'm currently training an Object-Detection Model. Everything worked out well until I wanted to export my graph.

When I'm running the command: python export_inference_graph.py --input_type image_tensor --pipeline_config_path training/faster_rcnn_inception_v2_coco.config --trained_checkpoint_prefix training/model.ckpt-1606 --output_directory new_graph I get the following error:

Traceback (most rec

[2020-12-11 12:26] #9550 closed

[2020-12-11 12:35] #2267 closed

[2020-12-11 12:54] theumang100 commented on #8974
if anyone found the solution till now?

[2020-12-11 20:07] yhli96 opened #9552 "Follow the Few Shot Object Detection for TensorFlow Lite instruction and can't test it"
I follow the instruction in [https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb](url) and the training process seems ok. But after I convert the model to tflite and use the model to test. The output of the tflite are all 0.0. Does anyone know what's going on?

[2020-12-11 20:51] tibbe opened #9553 "keras.models.load_model fails with "list index out of range" for ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8"
## 1. The entire URL of the file you are using

http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz

## 2. Describe the bug

Loading the model in TF 2.3.1 fails with "list index out of range". End of stack trace"

[code]

## 3. Steps to reproduce

[code]

## 4. Expected behavior

The model to load without errors.

## 5. Additiona

[2020-12-11 23:53] zshancock opened #9554 "Cannot use tf.saved_model.load() on a Mask RCNN model exported with exporter_main_v2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-12-12 01:31] zshancock commented on #9554
Additionally, I tried putting this model on AI Platform (framework 2.3) and making the call with this payload (worked for Mask RCNN of similar configuration in TF 1.15 framework.
[code]
And that call error'd with:
[code]

[2020-12-12 01:51] savhascelik commented on #3688
@carlosfab  you are absolutely right. You saved the day. Thank you

[2020-12-12 06:36] GavinatorK commented on #9524
how did you resolve this ?

[2020-12-12 09:08] Faiz-hmed commented on #9287
Well, with ssd_resnet101_v1_fpn_640x640, I seem to be getting accurate results with a tflite model, converted from the command line tool. [Works with dynamic Quantization of the python API as well, but takes a VERY LONG time to load the model & give inference]
{A notebook doing all of that is linked down below, if you want to check it out}

![image](https://user-images.githubusercontent.com/650323

[2020-12-12 09:30] Sowmik23 commented on #8965
@richarnaik @Kuehlhausvogel  I have the same problem. I can solved using it.

https://stackoverflow.com/questions/61066142/unable-to-use-tf-contrib

[2020-12-12 10:48] xumengwei opened #9556 "Quantize SSD models with TF TensorFlow model optimization tool"
I'm trying to compress the ssd_mobilenet_v1_fpn_640x640_coco17_tpu-8 model (from model zoo) with tensorflow optimization tool, or more specifically, tensorflow_model_optimization, which supports quantizing TF/Keras models by choosing which to quantize.

[code]
However, I had this warning and error:
[code]
The inputted SavedModel is converted by object_detection/export_tflite_graph_tf2.py. Anyone k

[2020-12-12 13:19] YuByoungJoon commented on #9549
It is possible.
The tutorial I'm learning right now `https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html` this homepage and `https://www.youtube.com/watch?v=JR8CmWyh2E8` youtube channel!

[2020-12-12 15:11] YuByoungJoon commented on #9549
This problem has been resolved.
The above problem was caused by an error in the` label_map.pbtxt` file.
After solving the problem, it was confirmed that `ssd_mobilenet_v1` is not supported by Tensorflow2.
Therefore, I checked the items supported by Tensorflow in `Model_builder.py`, and I want to try object_detection again with the supported `*.config` file.

[2020-12-12 15:12] #9549 closed

[2020-12-12 17:08] egamez099 commented on #7918
Is there any solution?
I do have the same error with a rpi 3 with tensorflow 1.15.2, tried to downgrade with tf 1.13 and below but the error still occurs.
The weirdest thing is that if I run the code on my workstation (tf 1.15.2), runs flawlessly without any error...

Any help will be so apreciated.

[2020-12-12 19:58] #9501 closed

[2020-12-13 03:02] CloneHub94 opened #9557 "Tensorflow Object Detection Training using EfficientDet D7 1536x1536 keeps crashing on Colab?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ yes] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you a

[2020-12-13 03:04] CloneHub94 commented on #9557
Here is a word document version of the txt file that might be easier to navigate.

[batch_sizes.docx](https://github.com/tensorflow/models/files/5684130/batch_sizes.docx)

[2020-12-13 08:37] aulosea commented on #7640
When is this problem going to be fixed?

[2020-12-14 00:52] zshancock commented on #9462
The 15x15 box is a grid of the predicted box. So use your box[0] to plot mask[0] using the dimensions of the box. Hope this helps even though it was asked a month ago 👍

[2020-12-14 00:58] zshancock commented on #9131
Short answer - Yes. The repo is listed under the Apache 2.0 license which allows for commercial use.

[code]

[2020-12-14 01:51] ternaus commented on #9131
It would be great to get the same answer from a legal representative of Google.

The Facebook team was not able to give the answer: https://github.com/pytorch/vision/issues/2597#issuecomment-708573372

[2020-12-14 03:22] zshancock commented on #9131
Pytorch is on another permissive license, though it is different... The Apache 2.0 license is one of the most permissive licenses in the industry. You will not get an answer from Google legal, as they have done their due diligence in putting the license on the repository (as has Facebook/Pytorch).

I would suggest instead of waiting on Google legal, consult your own legal team about using an Apach

[2020-12-14 04:00] ternaus commented on #9131
` as they have done their due diligence in putting the license on the repository (as has Facebook/Pytorch).`

Legal in the world of machine learning is a Wild West at the moment.

I would guess that they did not do any due diligence regarding the license of the pre-trained models and added them to the repo that has a permissive license.

Standard [Hanlon's razor](https://en.wikipedia.org/wiki/Hanl

[2020-12-14 07:53] xumengwei commented on #9087
@ChowderII have you solved this issue? I also want to load the OD models with keras API.

[2020-12-14 14:43] xumengwei commented on #9087
I've added a similar issue [here](https://github.com/tensorflow/models/issues/9556) but also no response yet... I feel it could be an issue of version diff about SavedModel format. Hope someone can help one this. I feel it's a common demand to load the OD models with keras format.

[2020-12-14 17:58] #9516 closed

[2020-12-14 19:12] abark-electric commented on #9278
Having the same issue here. Any updates?

[2020-12-14 21:27] andrefaraujo commented on #9189
Done, we just checked it in. Thanks for the patience: https://github.com/tensorflow/models/pull/9555

[2020-12-14 21:43] #9364 closed

[2020-12-14 21:50] andrefaraujo commented on #9526
We usually train with fixed input resolution, and in the DELG paper we used 512x512 images, lots of details are provided in the paper. In our codebase, you will see that we use the `tf.image.sample_distorted_bounding_box` function during training [here](https://github.com/tensorflow/models/blob/master/research/delf/delf/python/training/datasets/googlelandmarks.py#L85) to include data augmentation

[2020-12-14 21:50] #9526 closed

[2020-12-15 06:25] LightSun opened #9562 "How to train posenet"
I have find a mobilenet-v1 module of posetnet on android , which used tflite module.
But I want to train it self.  could anyone help me ?
the core is

https://github.com/tensorflow/examples/blob/master/lite/examples/posenet/android/posenet/src/main/java/org/tensorflow/lite/examples/posenet/lib/Posenet.kt

the module url is : https://storage.googleapis.com/download.tensorflow.org/models/tflite/pose

[2020-12-15 06:57] u10116032 commented on #9495
same here

[2020-12-15 10:58] #9251 closed

[2020-12-15 16:21] BassantTolba1234 commented on #2676
Please all,
After I trained the tensrflow session , I do not have the name of files as .ckpt.data
model.ckpt-1000000.data-00000-of-00001
model.ckpt-1000000.index
model.ckpt-1000000.meta
but instead
Pretrained.data-00000-of-00001
Pretrained.index
Pretrained.meta
what should I do to solve the above problem of Data loss with my these saved files ??

[2020-12-15 17:13] theumang100 opened #9563 "tensorflow.python.framework.errors_impl.InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2020-12-16 04:59] abark-electric commented on #9133
Same issue here. Model trained fine. I stopped training, then tried to export it. This is what I got:

ValueError: Tensor's shape (3, 3, 256, 12) is not compatible with supplied shape (3, 3, 256, 546)

[2020-12-16 09:01] yuanrui1987 opened #9564 "centernet to tf1.0， train and eval were normal， but got same score （very low）for all the boxes"
I am doing a tf1.0 centernet thing.
I have added center_net_mobilenet_v2 to model_builders, and train & eval looks pretty normal (by model_main.py), but inference result is strange, all the boxes had a same score!
any one has ideas, really appreciate!

[2020-12-16 10:06] juliusyong opened #9565 "object_detection_tutorial.ipynb Missing?"
Hi, is this file missing?

[2020-12-16 10:08] #9565 closed

[2020-12-16 10:35] punchnami commented on #9133
@abark-electric  I just solved the problem by the following procedures, please try it out.

- I deleted the old pre-trained model(ssd_resnet101_640x640) and installed the new one
- I replaced with new pre-trained model
- I changed the file(dataset and pre-trained model) directory
- Make sure you use the correct training command line not the evaluation command !!! as @mgon5170 suggested

Hope it he

[2020-12-16 16:11] saikumarchalla commented on #9563
@theumang100  Please have a look at this [issue](https://github.com/tensorflow/tensorflow/issues/38518) and hope it helps your query. Thanks!

[2020-12-16 16:27] theumang100 commented on #9563
This error is for different process. I'm trying to convert my tensorflow model to tflite.

[2020-12-17 00:01] lu-wang-g commented on #7918
We've made a fix today, and relaxed the constraint of verifying boxes. So now cases that xmin=xmax or ymin=ymax won't raise the error, and the rest of the pipeline can handle this case very well.

It fix will be available in the tf-nightly build tomorrow.

[2020-12-17 00:01] #7918 closed

[2020-12-17 02:46] jimmery-XUT opened #9566 "run train_image_classifier.py training mnist datasets error"
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Starting Session.
INFO:tensorflow:Saving checkpoint to path saver_1/resnet_v1_50_mnist/model.ckpt
INFO:tensorflow:Starting Queues.
INFO:tensorflow:global_step/sec: 0
2020-12-17 10:32:03.724587: W tensorflow/core/framework/op_kernel.cc:1275] OP_REQUIRES failed at strided_slice_op.cc:105 : Invalid argu

[2020-12-17 04:25] saikumarchalla commented on #9563
@theumang100  Could you please provide the saved model so that it helps debugging the issue at our end.

Also, please try using this code to convert the saved model to tflite and let us know if it works.

converter = tf.lite.TFLiteConverter.from_saved_model(SAVED_MODEL_PATH)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.experimental_new_converter = True
converter.target_spec.suppo

[2020-12-17 08:32] llwowowowoll opened #9568 "How can I save the best model while training?"
I use TF-Slim to train InceptionV4 for image classificaiton, but slim.evaluation.evaluation_loop only save the 5 latest model.
I want the best model in the whole training process, not the latest model.
Thanks

[2020-12-17 09:30] hypadr1v3 commented on #9379
Is there any way to resolve this without reinstalling everything? I added:
`   autoaugment_image {
	policy_name: "v2"
}`
which resulted in the same issue as the Author. The same autoaugment_image works in the legacy training program with tensorflow 1.

[2020-12-17 09:47] #9542 closed

[2020-12-17 12:57] theumang100 commented on #9563
same issue with this code also!!!

My saved model is:

[saved_model.zip](https://github.com/tensorflow/models/files/5709568/saved_model.zip)

[2020-12-17 14:00] MatheuSerrao opened #9569 "Model stopped to do inference after some steps"
I'm using SSD MobileNet v2 Open Images v4 (only works/train in tf1) then I created a conda env with tf1 to train

Setup to train
- Tensorflow-gpu 1.15
- Cuda 10.0
- Cudnn 7.6.0
- Python 3.7.9

To make inferences a use other conda env, with tf2

Setup to inference
- Tensorflow 2.4.0
- Cuda 11.1
- Cudnn 8.0.4
- Python 3.8.5

I have two env because some models only works in tf1 and other only in tf2,

[2020-12-17 15:17] MiXaiLL76 commented on #9337
I have same issue, mask-rcnn
[code]

after:
[code]

[2020-12-17 15:42] saikumarchalla commented on #9564
@yuanrui1987
Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2020-12-17 15:45] saikumarchalla commented on #9566
@jimmery-XUT Could you please fill the issue template. Also,Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2020-12-17 15:52] #9522 closed

[2020-12-17 21:05] notacodingguy commented on #8707
Interested

[2020-12-17 21:47] maralbek commented on #9309
Run this code first

`os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'`

If the problem still there, check your RAM usage in the upper right corner just before the Colab stops executing. I guess it just the warning and it is not causing the error. The problem is that you are running out of memory. Try decreasing the Batch size and run again.

[2020-12-17 22:00] DimaRFF commented on #6853
Have you solved this problem?

[2020-12-18 00:19] purvang3 commented on #7411
Thank you for answer. I got that we will be using pre-trained feature extractor's weights. in that case, why it is necessary to define conv_hyperparams under feature extractor in pipeline.config. over there we need to define initializer, if we don't define, it will give error of """ ValueError: SSD Inception V2 feature extractor always usesscope returned by conv_hyperparams_fn for both the base fe

[2020-12-18 06:18] yuanrui1987 commented on #9564
@saikumarchalla Thanks a lot for reply!

I updated to the latest centernet code from the master branch, and now i got a centernet_mobilenet_v2 TF1.0 model with a AP 0.32 (train and eval with model_main.py).
I try to freeze it with export_inference_graph.py, but get a error "Not found: Key sequential/conv2d_3/bias not found in checkpoint".

_Traceback (most recent call last):
  File "object_detecti

[2020-12-18 06:50] swapnil3597 commented on #8695
Worked for me. :)

[2020-12-18 07:53] LightSun commented on #9562
@ravikyram @ymodak could you help me?

[2020-12-18 15:02] kylelindgren commented on #5204
I have not seen `num_examples` have an effect in any of my tests. Regardless of what I list for this parameter, the number of evaluation examples is equal to the samples listed in the `eval_input_reader` `input_path` list up to a maximum of 1000 samples. Is this a bug or am I missing something?

[2020-12-18 21:09] DimaRFF opened #9570 "google.protobuf.text_format.ParseError: 1:1 : '﻿# CenterNet meta-architecture from the "Objects as Points" [2] paper with the': Expected identifier or number, got ﻿."
I use:

- Window 8.1
- Tensorflow 2.3.1

This is my config file.

_Originally posted by @DimaRFF in https://github.com/tensorflow/models/issues/6853#issuecomment-747727941_

[2020-12-18 23:18] ymodak commented on #9562
Currently there is [no training code](https://github.com/tensorflow/tfjs/issues/1581) available to do it.
Track  https://github.com/tensorflow/tfjs/issues/1418 for updates

[2020-12-18 23:18] #9562 closed

[2020-12-19 02:50] RArbore commented on #8990
I've got the same issue with a model I've converted from onnx... Is this issue going to be resolved ever?

[2020-12-19 08:12] farshbafdoustar opened #9571 "dataset_tools/context_rcnn/add_context_to_examples.py aborts processing without showing error or saving outputs"
When I run it in colab , it shows the following log and then nothing:

2020-12-18 17:05:36.113653: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
**^C**

based on this ^C at the end in the log I think the process is aborted but I can not find out why. I thought maybe the problem is Memory and I have reduced the number of record

[2020-12-19 08:58] smeyg commented on #2145
@irmowan which file do you mean by "Add 'means = list(means)' before Line 1474"? I am in need of this info since i cannot upgrade tensorflow at the moment

[2020-12-19 22:31] AKillhorn commented on #5264
Hasanudoy - I'm actually getting the same exact error. Here's what the full error looks like:

  File "train.py", line 57, in <module>
    from object_detection.builders import model_builder
  File "C:\tensorflow1\models\research\object_detection\builders\model_builder.py", line 33, in <module>
    from object_detection.meta_architectures import context_rcnn_meta_arch
  File "C:\tensorflow1\models

[2020-12-19 22:59] DonaldM164 commented on #5264
I have the same error. I'm pretty sure it's due to a failure during 'python setup.py install' command. I get the following error during the install.

[code]

The setup script still finishes without notifying you of the error at the end, which may leave you to believe it completely successfully. so I'm uncertain if this error is negligible or if it's the cause of fpn_pb2 not being generated.

Any i

[2020-12-19 23:05] DonaldM164 commented on #5264
Okay. I've realized that the output from that script tells us that the generated files were placed in the wrong location. Namely, in site-packages. @hasanudoy We need to figure out why the generated files are going to the wrong location. Verify your PYTHONPATH. My python path is set correctly and it didn't resolve my issue. However, setting your python path as mentioned above may solve the problem

[2020-12-20 03:21] jiwi90 opened #9572 "Fatal error appears in the middle of Index feature and box extraction"
Dear all,

I am using the DELF's trained model with new Korean landmark images. The extract_index_boxes_and_features.py  code is running fine. The problem is that it crashes in the middle of the extraction with the following error:

![image](https://user-images.githubusercontent.com/42596420/102704348-a4703000-42bd-11eb-9511-2b54f71b26ab.png)

After having searched in google I could think of the f

[2020-12-20 10:12] arsadmd13 commented on #9553
Also happens with the latest version 2.4.0

`Traceback (most recent call last):
  File "dem.py", line 217, in <module>
    mark_detector = MarkDetector()
  File "dem.py", line 76, in __init__
    self.model = keras.models.load_model('pose_model')
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tensorflow/python/keras/saving/save.py", line 212, in load_model

[2020-12-21 00:47] 3d-illusions commented on #3366
same problem on a 1070

[2020-12-21 01:01] 3d-illusions commented on #1942
same problem on a 1070. Installed in anaconda prompt:

conda create -n tf-gpu tensorflow-gpu
conda activate tf-gpu

[2020-12-21 01:02] 3d-illusions commented on #1942
does this issue only affect non rtx cards?

[2020-12-21 04:16] tucachmo2202 commented on #9371
Thank for sharing. However, I have a question that I see you set `converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8, tf.lite.OpsSet.TFLITE_BUILTINS]`, means when an op not supported for integer quantization implementation, the converter will use tflite-builtin op instead? So how does it run on device only using integer op??

[2020-12-21 06:04] LizardLad opened #9573 "Mismatched dimensions of FPN layers while training."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [DONE ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [DONE ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [DONE ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file yo

[2020-12-21 08:22] shehroz010 commented on #3366
@3d-illusions I solved it by installing the conda package of tf-gpu(not the pip one) after cleaning all the previous envs(deleting anconda and its whole file system and then reinstalling it). Installing conda version of TF-GPU installs cuda 10.1 and cudnn by default. Install corrssponding tensorflow version with respect to tf-gpu too, as TF OD API installs TF module too. I have 1060 and now works

[2020-12-21 11:37] theumang100 commented on #9563
@saikumarchalla any update?

[2020-12-21 12:09] theumang100 commented on #9563
@saikumarchalla have you got anything?

[2020-12-21 13:29] flavienbwk commented on #195
@leimao Seems to be infinite (-1)

[2020-12-21 14:10] OliverPfau opened #9576 "Clone a loaded object detection model in memory fails"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Done] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Done] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Done] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you a

[2020-12-21 14:29] MatheuSerrao commented on #7527
Do you have images that have not objects in your test dataset?

[2020-12-21 15:40] Trumpiter-max opened #9577 "Fail to convert to tflite"
Hi
I got problem:
Traceback (most recent call last):
  File "/content/models/research/object_detection/export_tflite_graph_tf2.py", line 126, in <module>
    app.run(main)
  File "/usr/local/lib/python3.6/dist-packages/absl/app.py", line 300, in run
    _run_main(main, args)
  File "/usr/local/lib/python3.6/dist-packages/absl/app.py", line 251, in _run_main
    sys.exit(main(argv))
  File "/conten

[2020-12-21 16:11] srjoglekar246 commented on #9371
@tucachmo2202 SSD models typically do not run only in integer format. The post-processing (NMS) step works best in float, so only the heavy Convolutional backbone (for eg, MobileNet) is run quantized.

[2020-12-21 18:58] 3d-illusions commented on #3366
@shehroz010

deleted everything and did the below (still not working)

open anaconda
create new environment
in the channels section change dropdown to non installed
search for tensor
select tensorflow-gpu and apply

still not recognising the gpu.  You mentioned install corresponding tensorflow version with respect to tf-gpu.  does this mean that I need to select tensorflow (without -gpu) and apply

[2020-12-21 19:23] shehroz010 commented on #3366
@3d-illusions 1st I uninstalled the anaconda through control panel and they removed the remaining files of anaconda by searching all the files and deleting it manually as I wanted no trace of anaconda in my system. After reinstalling it, I opened anaconda command prompt  and used this command
`conda install -c anaconda tensorflow-gpu`
 This installs the TF x.x.x version. You can check the list of

[2020-12-21 19:28] shehroz010 commented on #3366
@3d-illusions
One quick question, when did this problem started ? I mean was it working before ? In my case, it started when I installed the TF Object Detection API, before that everything was working fine for me.

[2020-12-21 22:17] ymodak commented on #9563
Can you try converting in to TFLite using TF 2.4 and tf-nightly? You may use google colab to quickly test with different TF versions. Thanks!

[2020-12-21 22:56] Wheest commented on #8339
Also looking for a way to do this, for any model using the object detection model zoo pipeline.

I seriously doubt it will improve accuracy for my use-case, but I need to train a reinitialised model from scratch to compare against.

Is there a way, following the steps outlined in the [Object Detection API tutorial](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.h

[2020-12-22 02:33] jiwi90 opened #9579 "Fatal error appears in the middle of Delf's index features and boxes extraction"
Dear all,

I am using the DELF's trained model with new Korean landmark images. The extract_index_boxes_and_features.py  code is running fine. The problem is that it crashes in the middle of the extraction with the following error:

![image](https://user-images.githubusercontent.com/42596420/102704348-a4703000-42bd-11eb-9511-2b54f71b26ab.png)

After having searched in google I could think of the f

[2020-12-22 04:17] dhirajpatnaik16297 opened #9580 "Same models trained on ssd mobilenet v2 fpn lite 640*640 have different FPS."
I have a 1650ti gpu 4gb and i trained an object detection model for detection of one class and then trained another model with 38 classes. The model with 1 class is giving 30 FPS but the model with 38 classes is giving 0.03 FPS. I have exported the saved model into a frozen graph and have done the inference from the checkpoint as mentioned here::
https://tensorflow-object-detection-api-tutorial.re

[2020-12-22 08:47] Zrufy commented on #9298
@agnieszkajust how do you solve the problem of `name 'contrib_training' is not defined`

[2020-12-22 10:23] JulianAssmann commented on #2509
Is the model available yet? If I understand correctly, the [tfjs-models](https://github.com/tensorflow/tfjs-models) library provides an implementation of this [here](https://github.com/tensorflow/tfjs-models/tree/master/posenet), right?

[2020-12-22 10:36] OliverPfau commented on #9576
If I try to load the model saved with `exporter_main_v2.py` with `tf.keras.models.load_model(model_path)` I get an exception:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/saving/save.py", line 211, in load_model
    loader_impl.parse_saved_model(filepath)
  File "/usr/local/lib/python3.6/dist-packag

[2020-12-22 12:51] thibo73800 commented on #8707
Here is a tensorflow implementation : https://github.com/Visual-Behavior/detr-tensorflow

[2020-12-22 15:33] p4vlos commented on #9220
I still get the same error on Colab

[2020-12-23 01:37] SerQuicky opened #9581 "Model training hangs"
I am currently trying to train an object detection model that uses the TensorFlow object detection API.
(I used this [page](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html) for some guidance)

**System information**

Using Tensorflow version 2.3.0 under Google Colab.

The Colab can be found under https://colab.research.google.com/drive/1-c4ZvcZAN5dmtTNXAXlei

[2020-12-23 01:49] Mariela1817 commented on #4058
Traceback (most recent call last):
  File "guardardatos.py", line 8, in <module>
    faceClassif= cv2.CascadeClassifier(cv2.data.Haarcascades+'haarcascade_frontalface_default.xml')
AttributeError: 'module' object has no attribute 'data'
help me

[2020-12-23 06:33] sarvajeethaldar opened #9582 "Request for using Callbacks in Object detection API Tutorial Tensorflow"
I have gone through the tutorial and trained a lot of custom models. But still I am facing this issue of not finding a way to use callbacks in my training. This is the last thing that might help me achieve the desired accuracy of my model.
It would be very helpful if someone can post a tutorial or some links or methods to use callbacks in this object detection API.

[2020-12-23 09:29] Lillian9707 commented on #8486
I have met the same question. Have you had a solution? @DTM3302

[2020-12-23 13:30] theumang100 commented on #9563
@ymodak can you refer me a process of how convert using tf-nighty?  As i can't find something right.

[2020-12-23 17:19] shekhuverma commented on #1957
Thanks for the suggestion , worked like a charm

[2020-12-23 18:08] Andreahernandezt commented on #9341
I used this and the model is not fully supported by android studio. Any solutions?

[2020-12-23 20:28] mmikolajewicz-sifd opened #9583 "Problem with getting reproducible results, set seed object detection API"
I am using object detection API with tensorflow v1.12. I am having troubles getting reproducible results - each time I run my code I am getting different results. Is there any way to set random seed at training / prediction level? I tried to set seed in model_main.py, but it didn't help.

def main(unused_argv):
  **tf.random.set_random_seed(1234)**
  flags.mark_flag_as_required('model_dir')
  flag

[2020-12-23 22:12] saberkun commented on #9446
Keras is a high level framework where TF/Pytorch is the general purpose framework.
TF in TF 2.x standardize the model building with tf.Keras (based on tf.Module, similarly sonnet v2). Torch and TF can both be very flexible and code quality is up to the model authors.
Some of the old projects are using old TF style and researchers are not maintaining them.
Please comment to https://github.com/googl

[2020-12-23 22:12] #9446 closed

[2020-12-24 01:50] 3d-illusions commented on #3366
everyone having this problem.  Here's the solution:

https://www.youtube.com/watch?v=PnK1jO2kXOQ

I think the only step I was missing was the registration at the end.

[2020-12-24 03:40] shehroz010 commented on #3366
@3d-illusions good to know that now it's working for you. Even I had so much trouble while I faced this issue. I had everything working fine untill I installed the TF Object Detection API. It messed up my envs. Installing package from conda hub is the best way to handle it instead of pip. Anyway, goodluck for your future work

[2020-12-24 04:25] #9543 closed

[2020-12-24 07:22] mahamatnoumai commented on #4763
Hi @pkulzc I couldnt find any documentations for Quantization training for GPU. Could you please share where is the documentation for training custom model of object detection with Quantization. most of the config files I see are compatible TPU. how can we trained a Quantized object detection model using GPU. Thanks

https://github.com/tensorflow/models/blob/master/research/object_detection/sample

[2020-12-24 10:41] NyiNyiNaing86 commented on #8138
I met the same problem, but now I  solved the problem.
I changed  from num_classes = 5 to number_classes = 10000
And then, I got the result.

[2020-12-24 12:48] saikumarchalla commented on #9535
@umerzia-7001  Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-12-24 12:48] #9535 closed

[2020-12-24 12:49] saikumarchalla commented on #9571
Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2020-12-24 15:25] #9545 closed

[2020-12-24 17:54] theumang100 opened #9584 "OSError: Unable to create file (unable to open file: name = './checkpoints/yolov4-416', errno = 2, error message = 'No such file or directory', flags = 13, o_flags = 302)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-12-24 20:18] innat commented on #9446
That's it!
IMHO, that really doesn't answer the question.

What do you mean by

[2020-12-24 21:25] #9533 closed

[2020-12-24 23:36] Smilkoski commented on #9126
I downloaded many models from TF2 zoo and have similar problem. Mine is
ValueError: faster_rcnn_inception_resnet_v2 is not supported. See `model_builder.py` for features extractors compatible with different versions of Tensorflow.
And i'm using newest version of all libraryes.

[2020-12-25 03:06] atanumandal0491 opened #9585 "Vggish Feature Extraction"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/audioset/vggish/vggish_inference_demo.py

## 2. Describe the feature you request

I was trying to use "vggish" for fea

[2020-12-25 09:38] zjcs opened #9586 "About DELG trainning epochs, input image size, pre-trained model"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [Y] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/delf/delf/python/training

## 2. Describe the issue

A clear and concise description of what needs to be changed.

[2020-12-25 13:35] KandulaBadrinath commented on #9544
did you get its answer ?
plz do share it

[2020-12-26 08:13] DTM3302 commented on #8486
Sorry, I didn't solve it. Finally, I didn't use correlation_cost for eval.

[2020-12-26 09:02] parcodepie opened #9588 "Python inputs incompatible with input_signature"
I'm trying to train an object detection model using ssd_efficientdet_d0_512x512_coco17_tpu-8
I followed the documentation in github by editing the config file and train went smooth
Trained images are 1024x800
here is the config file

`
model {
  ssd {
    inplace_batchnorm_update: true
    freeze_batchnorm: false
    num_classes: 5
    add_background_class: false
    box_coder {
      faster_rcnn_

[2020-12-26 09:46] karuneshpalekar commented on #9341
I faced the same issue following the above gist .I found a tutorial doing the needful on Youtube. Here is the Link
https://www.youtube.com/watch?v=p56ILZdLddc  .
It is divided into 8 parts wherein the first 4 parts Model is created and in the next 4 parts process of integrating  the model  with android is shown.

[2020-12-26 11:53] parcodepie commented on #9588
I tried another model [http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz)
but almost the same error
`Input 0 is incompatible with layer model: expected shape=(None, None, None, 3), found shape=(1, 512, 512, 4)`

[2020-12-26 11:58] theumang100 commented on #9563
There is a issue with tensorflow-gpu version i used **tensorflow-gpu=2.4.0** and can't find this error. Thank You!!

[2020-12-26 11:58] #9563 closed

[2020-12-26 13:20] theumang100 opened #9589 "tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc("batch_normalization/moving_mean"): is not immutable, try running tf-saved-model-optimize-global-tensors to prove tensors are immutable"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-12-26 15:54] agnim25 commented on #9568
You can try using `BestExporter`: [https://www.tensorflow.org/api_docs/python/tf/estimator/BestExporter](https://www.tensorflow.org/api_docs/python/tf/estimator/BestExporter)

[2020-12-26 16:19] MrLuer commented on #4531
that's the root reason

[2020-12-26 21:04] DimaRFF commented on #9570
I use:

- Window 8.1
- Tensorflow 2.3.1

[2020-12-27 03:42] Krishna2709 commented on #7641
@tispratik @Mazharul-Hossain Can anyone of you share your code of evaluating the TensorFlow object detection model on Validation set? Thank you :-)

[2020-12-27 04:09] weichen456 opened #9590 "Segmentation model evaluate mode error."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2020-12-27 08:39] omerbrandis opened #9591 "deeplab model_variant="nas_pnasnet" - unable to export_model"
Hello supporters

I am using tensorflow 1.13.1
with tensorflow model garden version 1.11

## 2. Describe the bug

export_model.py --checkpoint_path=myCheckpoint num_classes=2 --export_path=MyTarget.pb --model_variant="nas_pnasnet"
fails with InvalidArgumentError: Restoring from checkpoint failed
Assign requires shapes of both tensors to match. lhs shape= [3,3,**40**,1] rhs shape= [3,3,**80**,1]

m

[2020-12-27 08:45] omerbrandis opened #9592 "deeplab - unable to train model_variant=nas_hnasnet"
Hello supporters

I am using tensorflow 1.13.1
with tensorflow model garden version 1.11

## 2. Describe the bug
I am trying to train for 100 epochs, export a frozen graph , execute it on a few images and check the runtime of each model variant.
i have managed to train with model_variants mobilenet_v2, resnet_v1_50, resnet_v1_50_Beta, resnet_v1_101, resnet_v1_101_beta, xception_41, xception_65, xc

[2020-12-27 12:55] HaritYadav commented on #9588
Try making the input tensor type uint8 instead of float32. Worked for me

[2020-12-27 15:35] theumang100 commented on #9589
@ravikyram are you there??

[2020-12-27 18:32] dhirajpatnaik16297 commented on #9580
@

[2020-12-27 21:43] innat opened #9593 "How to insert custom layer inside a pre trained model?"
We're trying to add a custom layer inside a pre-trained imagenet model. For a non-sequential model, we can easily do that with functional API. But here are some requirements.

First of all, we **don't wanna disclose** the whole imagenet model and deal with the **desired inside layer**.

[code]

The whole requirement can be demonstrated as follows

![deit](https://user-images.githubusercontent.com/

[2020-12-28 01:22] ravikyram commented on #9593
@innat

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
What is the top-level directory of the model you are using.Thanks!

[2020-12-28 02:25] ravikyram commented on #9589
@theumang100

Looks like duplicate of issue # [44790](https://github.com/tensorflow/tensorflow/issues/44790).Thanks!

[2020-12-28 03:27] theumang100 commented on #9589
@ravikyram but there is not a soltion there that's why I'm asking it again. Thank you!!

[2020-12-28 09:21] Rishav-hub commented on #9151
@koolvn what was your size of the dataset. I am training my model in collab and getting a loss of **0.036** for the same configuration that is mentioned above and for **5000** steps. But it seems that when I am visualizing the output it's not able to detect and also draw the bounding box. Any help??

[2020-12-28 10:17] koolvn commented on #9151
@Rishav-hub sorry, I can't remember what was the size of my dataset. Probably five thousand steps is not enough. Try training for 50k steps. Also use validation dataset to monitor metrics, especially recall.

[2020-12-28 10:29] Rishav-hub commented on #9151
But the loss is not decreasing after 8K steps also it remains between 0.04 to 0.03.

[2020-12-28 14:24] artdana commented on #9544
@KandulaBadrinath nope, no answer yet! Did you manage to find any solution?

[2020-12-28 15:01] MrLuer opened #9594 "gup not work"
I training deeplabv3 with VOC2012 follow recommendation step, nvidia-smi shows the gpu  unilization ratio  always 0, tensorflow version is 1.14.0 and it work well on gpu when training other model

[2020-12-28 15:11] MrLuer commented on #9594
I tried different  version of tensorflow and cuda but they not working

[2020-12-28 15:54] saikumarchalla commented on #9588
@parcodepie   Could you please   try with the suggestion provided above and let us know if the issue still persists. Thanks!

[2020-12-29 00:23] #9593 closed

[2020-12-29 03:49] aa12356jm opened #9595 "Post-training Quantization for tensorflow2 object api"
can you add the codes of  Post-training Quantization  for tf2 object api ?thanks

[2020-12-29 06:25] #9547 closed

[2020-12-29 09:32] VigneshKathirkamar commented on #6580
Check the input image size for test data. In my case the issue was solved when the high resolution images(3840x2160) from the test dataset were removed.

[2020-12-29 11:23] AndyTheFactory opened #9596 "Cumbersome use of create_pretraining_data.py as a module due to one use of global FLAGS variable in write_instance_to_example_files"
## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/official/nlp/data/create_pretraining_data.py

## 2. Describe the bug

At lines 151-157 the function **write_instance_to_example_files** uses the FLAGS global to check for _use_v2_feature_names_

This renders the call of the function as a module cumbersome
## 3. Steps to reproduce

using this approach w

[2020-12-29 19:55] chenGitHuber commented on #9596
Hi AndyTheFactory,

Thanks for reporting this. It is fixed now.

[2020-12-29 19:55] #9596 closed

[2020-12-30 02:42] hieuthehungry opened #9597 "Prediction code for deep_speech"
I think it would be nice for deep_speech to have prediction code as well, which inputs a wav file and then output a text prediction

[2020-12-30 04:50] wronk commented on #9366
For a quick and dirty solution on Mask R-CNN: https://stackoverflow.com/a/65502165/4766029

[2020-12-30 08:21] #9594 closed

[2020-12-30 16:43] theumang100 commented on #9589
@tombstone @jch1 @pkulzc **Anyone finded solution?** _Please help me_

[2020-12-30 18:38] #8495 closed

[2020-12-30 18:38] #8579 closed

[2020-12-31 11:00] MuhammadZainEhtesham commented on #9524
can you please post the solution cause I am facing the same problem?

[2020-12-31 11:26] JanaranjaniPalaniswamy commented on #2879
I am using tensorflow version 2.3.0 and facing the same issue. Can anyone tell me what exactly is the fix?

[2020-12-31 16:38] #9566 closed

[2021-01-01 23:18] neilyoung opened #9599 "Installation and runtime errors with the docker setup"
I'm having two issues while building the docker image on MacOS Big Sur 11.1, using Docker Desktop 3.0.3

During the build I'm first getting this trace:

[code]

which obviously reports the download and installation of tf 2.4.0

Later this happens:

[code]

The build finishes nevertheless.

Then, at runtime, this error pops up:

[code]

Any idea, what's wrong?

[2021-01-01 23:45] neilyoung commented on #9599
That was easy. Created a PR. https://github.com/tensorflow/models/pull/9600

I didn't sign the CLA yet.

[2021-01-02 00:12] saberkun commented on #9599
tensorflow 2.4 is just released. I guess some assumptions do not hold now.

[2021-01-02 21:13] michielva commented on #9115
Is there already a definite solution for this problem?

I have tried the fix suggested by @Moritz-Weisenboehler (thanks for this btw!), but it did not fix the oversaturated visualizations for my case in Tensorboard. It does have an effect on the image, but does not result in the correct image.

Printing the input image tensor shows that, for me, the values are not in [-1,1] but ranging from -2.11

[2021-01-03 06:50] duckbest opened #9601 "Saver not created because there are no variables in the graph to restore"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-01-03 11:00] qraleq opened #9602 "Adding explicit_padding to EfficientDet model"
# Prerequisites

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/models/ssd_efficientnet_bifpn_feature_extractor.py

## 2. Describe the feature you request

Currently, in `ssd_efficientnet_bifpn_feature_extractor.py`

https://github.com/tensorflow/models/blob/83b2ad3bf9557ec684c80d5e1760887f847b6ab6/research/object_detectio

[2021-01-03 12:10] shvamabps opened #9603 "Issue when using mask_rcnn_inception_resnet_v2_atrous_coco_2018_01_28 model"
![Screenshot from 2021-01-03 17-39-52](https://user-images.githubusercontent.com/37547983/103478158-b2a86b00-4dea-11eb-89e3-1aea09f72d01.png)

Kindly explain the reason as to why the model now downloaded doesn't work the way it should've.

[2021-01-03 20:32] rafiqhasan commented on #8845
Is something missing here, the URLs still seem to be the same even after 6 months since the date of reporting.

[2021-01-04 01:35] yieniggu opened #9604 "Installing tf2 od in Jetson Xavier NX"
Hello, I'm trying to install the object detection api, but it gets stuck in a circular requirements check.

How can i solve this?

[code]

I just keep getting this message...

[2021-01-04 04:45] dhirajpatnaik16297 commented on #9580
Guys, did anyone face anything like this? Please help me out. I am stuck.

[2021-01-04 05:13] ravikyram commented on #9603
@shvamabps

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose)
Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2021-01-04 05:23] ravikyram commented on #9601
@duckbest
Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose)
Please, let us know which pretrained model you are using and share related code .
Can you please refer this [link](https://github.com/tensorflow/tensorflow/issues/37262) and [SO link](https://stackoverflow.com/questions/37023954/restoring-graph-in-tensorflow-fails-because-there-is-no-variable-to-save)

[2021-01-04 06:25] mahamatnoumai commented on #7273
@jenapss I've encountered similar problem while training tensorflow object detection using sdd mobilent. I would like to know if you were able to fix the issues, and manage to added background images. and also does help to increase the detection accuracy? Thanks.

[2021-01-04 08:57] agnieszkajust commented on #9298
I don't solve it.

[2021-01-04 10:51] shvamabps commented on #9603
@ravikyram  this is the url [https://colab.research.google.com/github/tensorflow/models/blob/master/research/object_detection/colab_tutorials/object_detection_tutorial.ipynb#scrollTo=vQ2Sj2VIOZLA](url)

here the last part of the code responds this way and it is precoded in the tf2.x Object Detection API Jupiter notebook

[2021-01-04 10:51] saikumarchalla commented on #9604
@yieniggu Can you create virtual environment and then try to install TF OD API again. Please let us know if you are facing the same error.

Please go through this [link](https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html)  to install Objection Detection API.Thanks!

[2021-01-04 13:11] yieniggu commented on #9604
@saikumarchalla , thanks for your prompt reply. I'll try it and update this topic afterwards.

Also, can I ask you to check this post in stackoverflow about how are the checkpoints saved when training a custom model?

https://stackoverflow.com/questions/65556338/how-are-checkpoints-created-in-a-custom-object-detector-with-tensorflow-2-model

Thanks.

[2021-01-04 17:17] ShlomiRex commented on #9200
Still same problem
Uninstalled numpy but tensorflow installed 1.19.4 (automatically)
tensorflow 2.3.1 requires numpy<1.19.0,>=1.16.0, but you have numpy 1.19.4 which is incompatible.

[2021-01-04 17:23] bersbersbers commented on #9200
Maybe try to upgrade pip before:
[code]
The new `pip` may help ensure that your set of packages is consistent after installation of `tensorflow==2.3.1` (or fail with an error message saying that that is not possible). See also https://pip.pypa.io/en/stable/news/#id15

[2021-01-04 17:51] deepdatadive commented on #8990
I get the same issue when trying to load a model using trained using the object detection API and google colab when trying to import the .pb as a keras model:

imported = tf.keras.models.load_model(PATH_TO_SAVED_MODEL)

  1067   spec = fn.concrete_functions[0].structured_input_signature[0][0]
   1068   for concrete in fn.concrete_functions[1:]:
   1069     spec2 = concrete.structured_input_signatu

[2021-01-04 18:09] yieniggu opened #9605 "Number of checkpoints saved do not match the checkpoints per step flag"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-01-04 18:16] ShlomiRex commented on #9200
It's the latest
(Requirement already satisfied: pip in ...)

[2021-01-05 01:48] supersteph opened #9606 "SuperGLUE task (AX-g) support"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request

Add the AX-g preprocessor to the create_finetuning_data script
Finetune o

[2021-01-05 07:32] mahamatnoumai commented on #9340
Hi @Jahanzeb-jogo, how to add background images to reduce false positive detections, am currently working on tensroflow object, and the number of false positive is very high. specially if your model is related to detect outdoor objects, it would give a lot of false positive detection.  pls share your approach  @Jahanzeb-jogo.

@MustafaAlahmid have you managed to reduce the false positive on your m

[2021-01-05 13:37] effilyn commented on #9357
@chenGitHuber  thank you for your suggestion but for me it didn't help. I installed it in my Tensorflow enviroment that I created in conda.

[2021-01-05 17:02] ehsanaghaei commented on #9357
I am not sure about Conda, by in pip environment, I installed the following
and it worked for me. You may try it:
TF: 2.4.0
Cuda: 10.2 (did not work properly in 11 and 11.1)
TF-nightly: 2.4.0.dev20201023  (Only and only this version worked properly)

===============================================
*Ehsan Aghaei - Ph.D. Candidate*

Cyber Defense and Network Assurability Research Center
NSF Cybersec

[2021-01-05 17:33] janaswamirishi1999 commented on #4900
how ?? can you please explain!!

[2021-01-05 18:00] paulgavrikov opened #9609 "Lacks information about used dataset for checkpoints"
## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/vision/detection

## 2. Describe the issue

I cannot find any information on what dataset the provided checkpoints of RetinaNet (ResNet-50), Mask R-CNN (ResNet-50), ShapeMask (ResNet-50) were trained on. Could you please provide that info?

[2021-01-05 18:58] o92 commented on #1993
This issue should not be closed.. Tsk

[2021-01-05 18:59] o92 commented on #1993
Hi, Which file to modify?

[2021-01-05 19:19] yieniggu commented on #9604
@saikumarchalla  currently it's not possible to install it following the approach you mentioned, since anaconda doesn't support aarch64 architecture from the Jetson Xavier NX as stated here https://forums.developer.nvidia.com/t/is-it-possible-to-install-anaconda-on-xavier-at-all/83560.

Any other recommendation?

[2021-01-05 19:39] Whrothus opened #9610 "object_detection/export_tflite_graph_tf2.py error ValueError: Tensor's shape is not compatible with supplied shape"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-01-05 20:02] mgon5170 commented on #8715
any news on if this will be implemented?

[2021-01-05 20:20] andrefaraujo commented on #9586
## Q1
512x512 is the right one to use for reproducing the paper results. You can do that by setting the [image_size](https://github.com/tensorflow/models/blob/master/research/delf/delf/python/training/train.py#L85) flag to 512. Make sure your cloned repo is current, because we did fix a related bug on this recently (https://github.com/tensorflow/models/pull/9561).

## Q2
Indeed, there is some conf

[2021-01-05 20:20] #9586 closed

[2021-01-05 20:50] pouryahoseini commented on #6964
I also confirm that the training time on Windows 10 is at least 3 times slower than Ubuntu 20.04, on the same models, the same RTX 3090, Cuda 11.0, Cudnn 8, and Tensorflow 2.4.0 both. There is no specific warning in both the Windows and Linux versions.

[2021-01-05 21:07] DevLob-zz opened #9611 "efficientdet_d4_coco17_tpu-32 is exclusive only for TPU or can use with GPU"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [efficientdet_d4_coco17_tpu-32 ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ Yes] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Yes] I checked to make sure that this issue has not been filed already.

## 1. The en

[2021-01-05 21:23] DJT777 opened #9612 "Modifying Tensor Input from UINT8"
Hello,

I am wondering if someone can demonstrate how I would modify one of these models' input tensors to an alternate data type.

[2021-01-05 23:35] eddie-scio opened #9613 "Expose `mlm` logits in Albert TF2 Hub Model"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/official/nlp/modeling/networks/albert_encoder.py

## 2. Describe the feature you request

I have been using https://tfhub.dev/g

[2021-01-06 04:26] mahamatnoumai commented on #9340
@MustafaAlahmid alright noted. thanks for sharing. I will try that way and see.

[2021-01-06 05:18] chenGitHuber commented on #9613
Hi,

The TF2 hub model actually has a .mlm signature (sorry that we have not updated the docs yet). Please see the usage below:

[code]

[2021-01-06 05:44] saberkun commented on #9609
Sorry, the repo is not maintained well. @yeqingli as the owner.
I guess it is COCO for all three.
Please checkout the ongoing work here: https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md

[2021-01-06 06:14] Neway6655 commented on #9507
Still not work... it returns KeyError: 'Person', is there any other place need to be updated?

[2021-01-06 06:24] saberkun commented on #9357
Do you use other packages that require TF? Some of them like tf.text will override the TF version installed.

[2021-01-06 06:29] ehsanaghaei commented on #9357
No I don’t. I was trying to pre-train BERT that requires the given
specifications.

On Wed, Jan 6, 2021 at 01:25 Hongkun Yu <notifications@github.com> wrote:

--

===============================================
*Ehsan Aghaei - Ph.D. Candidate*

Cyber Defense and Network Assurability Research Center
NSF Cybersecurity Analytics and Automation
Department of Computer Science
University of North Caroli

[2021-01-06 07:22] hhsinhan commented on #9507
what keypoint_label_map_path you put inside?

[2021-01-06 08:47] yinghuang commented on #9056
Computing iou loss needs decoded boxes not "box_encodings".
Hence I think the source code of arch meta is with bugs in "def loss" function.

[2021-01-06 08:51] LaraNeves commented on #9136
I found this [tutorial](https://github.com/abdelrahman-gaber/tf2-object-detection-api-tutorial) to be really useful to get evaluation on tensorboard while training the model with TF2. Check that for more details but basically you have to run your model_main_tf2.py script in parallel, one for training with the training dataset the other for evaluating with the validation dataset. You can either use

[2021-01-06 09:29] Neway6655 commented on #9507
models/research/object_detection/data/mscoco_label_map.pbtxt

[2021-01-06 09:30] Neway6655 commented on #9507
models/research/object_detection/data/mscoco_label_map.pbtxt

[2021-01-06 09:36] hhsinhan commented on #9507
can your try this pbtxt instead?
models/research/object_detection/data/face_person_with_keypoints_label_map.pbtxt

[2021-01-06 09:40] ucasiggcas commented on #9386
when I use ml-20m dataset, error
[code]

[2021-01-06 09:40] Neway6655 commented on #9507
it worked, thanks.

[2021-01-06 10:10] varunjain3 commented on #8523
I was stuck at this problem a few days back, changing the tf environment variable before running the same script works for me
```$ export TF_FORCE_GPU_ALLOW_GROWTH=true```

[2021-01-06 10:14] MattVoge commented on #8844
The exporter_main_v2 does NOT allow to export frozen graph. The output is always a .pb proto plus a checkpoint. If I want to export a frozen graph which includes all weights and stuff of the recent checkpoint, how should I proceed if export_inference_graph obviously isn't working?

[2021-01-06 11:18] saikumarchalla commented on #9612
@DJT777 Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.
If  your query is not related to models, please raise a new issue [here](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2021-01-06 12:37] leaf918 opened #9614 "export_inference_graph.py import error"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-01-06 12:57] leaf918 commented on #9614
https://github.com/tensorflow/models/issues/1962

[2021-01-06 12:57] #9614 closed

[2021-01-06 17:02] eddie-scio commented on #9613
Wow, thanks for the quick update, that's awesome!  I'll give this a whirl and make sure it works and report back.

[2021-01-06 17:08] NaumanHSA commented on #6372
I used the exact same command but didn't work for me. Then I copied your command and it worked ... LOL

[2021-01-06 17:40] dhirajpatnaik16297 commented on #9580
Guys one more update.Its the same for other models as well. the 320*320 version of ssd mobilenet and efficientnet. I have tried them out too but no luck till now.
One more thing, the pretrained COCO weights has 90 classes but it is not slow then how come a custom one with 38 classes is dead slow. Please help me out or provide me with a hack or something that will solve this.

[2021-01-06 19:28] Whrothus commented on #9610
Dit try to change the input (train and eval)
Used Roboflow got a TFrecord not a record
But still the same output

[2021-01-06 19:30] DJT777 commented on #9612
I have used this tutorial on training: https://github.com/roboflow-ai/tensorflow-object-detection-faster-rcnn

With a custom dataset from Caltec University Birds 2011 written to train and test tfrecords. The dataset produces detection with accuracy.

However when the model is converted to ONNX and then run through TensorRT's trtexec I receive an error stating that the input type of UINT8 is unsupp

[2021-01-06 23:15] 04633435 commented on #5507
Hi, @carolchenyx Did you fix this problem? I encountered the same case after I changed the depth_multiplier from 1.0 to 0.5.

` raise ValueError("Shapes %s and %s are incompatible" % (self, other))
ValueError: Shapes (3, 3, 3, 16) and (3, 3, 3, 32) are incompatible`

[2021-01-06 23:37] DJT777 opened #9616 "Huge Error When Attempting to Train Using This API"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2021-01-07 00:27] xdhmoore commented on #8712
Just in case someone else sees this, I think there is no hyphen in the first message (at least not anymore):
[code]
Took me a second to find it.

[2021-01-07 00:44] rjghendrikx commented on #6964
I also have the same issue with the  RTX 3090, Cuda 11, Cudnn 8 and tf 2.4 on Windows.
It seems that Nvidia Ampere requires Cuda >= 11.1 while the specific tensor flow version that supports RTX 3090 is tested against 11.0 - in other words / this platform is quite new (few months) and I am guessing that future updates will resolve these performance issues.

[2021-01-07 01:46] jvishnuvardhan commented on #9583
@mmikolajewicz-sifd Can you please try recent Tensorflow version (TF1.15.3 as your are using TF1.x) and let us know whether the issue is same with latest version. Thanks!

[2021-01-07 09:42] rabbitme commented on #9616
I got the same error when I trained CenterNet.

[2021-01-07 09:53] MattVoge opened #9617 "Exporting a trained model for inference (Tensorflow 2)"
I have a general question: How can I export a Object Detection model including all weights into a protobuf file without using checkpoints? Tensorflow 1 allowed this (export_inference_graph.py), however, I see no way in TF2.

[2021-01-07 09:58] ravikyram commented on #9171
@DevanshBheda

As original issue was resolved please close this issue. Request you to raise a new issue by filling issue template.Thanks!

[2021-01-07 10:01] ravikyram commented on #9208
@shawntyshawny

Any update on this issue please. Thanks!

[2021-01-07 13:01] dietermaes commented on #9366
Thanks, I'll try this out soon

[2021-01-07 13:50] #9571 closed

[2021-01-07 15:41] yieniggu commented on #9605
@tombstone, @jch1 , @pkulzc. Is there any update on this topic?

[2021-01-07 18:53] Whrothus commented on #9610
Solved was pointing to the base model not the changed

[2021-01-07 18:53] #9610 closed

[2021-01-07 21:33] DJT777 commented on #9616
@rabbitme

I was able to somehow get these models to train when using a modified version of [AbdelRahman](https://github.com/abdelrahman-gaber/tf2-object-detection-api-tutorial)'s Tf2 API training tutorial scripts. I simply modified his bash file to redirect to my configs and alternate directores and such.

[2021-01-08 02:44] lucky-xu-1994 commented on #9617
I have the same question with @MattVoge .

[2021-01-08 05:13] OrkhanHI commented on #7381
any updates?

[2021-01-08 05:59] ravikyram commented on #9532
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-01-08 05:59] #9532 closed

[2021-01-08 06:03] ravikyram commented on #9484
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-01-08 06:03] #9484 closed

[2021-01-08 07:24] jaeyounkim commented on #9584
Please provide detailed steps and information to reproduce your issue. Which file from the GitHub repository are you using?

[2021-01-08 08:47] lucky-xu-1994 commented on #9270
hi, have you solved the problem, if yes, how?  thanks!

[2021-01-08 10:00] ucasiggcas opened #9618 "how to run the NCF after clone down?"
hi,dear all
In the rp-[NCF](https://github.com/tensorflow/models/tree/master/official/recommendation),after I download the whole the [models](https://github.com/tensorflow/models),
`cd official/recommendation`
then
`python ncf_keras_main.py`
and I got error down,
[code]
how to deal with the problem ?
thx

[2021-01-08 10:09] ucasiggcas commented on #9618
我直接说中文吧，**下载好都不能跑，这都没法玩**

[2021-01-08 10:11] j-o-d-o commented on #1993
@o92 I would say this is not a tensorflow issue to begin with. There are multiple things you can do:
- Decrease batch size
- Decrase model input size
- Decrease other model properties such as filter size
- Get better hardware

[2021-01-08 13:13] fabian57fabian commented on #9390
Hi, i was trying to **start a new training** on mobiledet model (because i have my own model on mobilenet v2 but has low mAP).

i copied sample pipeline conf file from sample/configs/ssdlite_mobiledet_edgetpu_320x320_coco_sync_4x4.config and changed class num and dataset paths. Also changed to execute fine-tuning and downloaded checkpoint.

Followed every step in the coral AI website.

Is the mobi

[2021-01-08 13:17] fabian57fabian commented on #8380
Have the same problem on training mobiledet.
Posted comment [here](https://github.com/tensorflow/models/issues/9390#issuecomment-756749391).

[2021-01-08 16:53] ravikyram commented on #9618
@ucasiggcas

Please install official models by this command `pip install tf-models-official`.

Please, refer similar issues #8291,[SO link](https://stackoverflow.com/questions/50121477/tensorflow-no-module-named-official), [link2](https://stackoverflow.com/questions/64441356/modulenotfounderror-no-module-named-official) and see if it helps you. Thanks!

[2021-01-08 19:30] saberkun commented on #9618
Please take a look at this section: https://github.com/tensorflow/models/tree/master/official#method-2-clone-the-source
The python path need to be set.

[2021-01-08 20:38] jaeyounkim commented on #9611
Are you using https://github.com/tensorflow/models/tree/master/research/object_detection?

[2021-01-08 20:41] #9601 closed

[2021-01-09 00:50] arashwan commented on #9590
Is validation data properly located? Can you make sure validation data is processed and located correctly at the validation input_path. Also make sure there are no files other than tfrecords at the validation input_path.

[2021-01-09 02:50] EE-SIS commented on #9589
stuck in the same problem for many days too😂

[2021-01-09 02:52] ucasiggcas commented on #9618
I have download the needed dataset in the data_dir,but when I run
`$ python ncf_keras_main.py --model_dir=./tmp/models --data_dir=./tmp/movielens-data --dataset=ml-20m --num_gpus=2`
downloading the dataset again,why ??
when I Ctrl+C ,find the down
[code]
how to address?thx

In Chinese down,
当我设置好路径后没有了上述的问题，但是我已经将数据放在指定的dir了为啥还在下载数据？下载数据这么慢，我自己下好了放到指定位置咋就不行呢？大佬指点下啊。多谢

[2021-01-09 03:21] ucasiggcas commented on #9618
so I'm confused that the params input like this are not useful
`--data_dir=./tmp/movielens-data --dataset=ml-1m`

[2021-01-09 03:36] ucasiggcas commented on #9618
after much more time for downloading the dataset, encounter with the bug down,
`$ python ncf_keras_main.py --model_dir=./tmp/models --data_dir=./tmp/movielens-data --dataset=ml-1m --num_gpus=2`
[code]
when I use one gpu,error again,so what's wrong ?
`$ python ncf_keras_main.py --model_dir=./tmp/models --data_dir=./tmp/movielens-data --dataset=ml-1m --num_gpus=1`
[code]
please help me?SOS

[2021-01-09 03:45] saberkun commented on #9618
What TF version do you use? Could you follow TF 2.3/2.4?

Here are the parameters we use for regression tests:
https://github.com/tensorflow/models/blob/benchmark/official/benchmark/ncf_keras_benchmark.py#L90
They should work.

[2021-01-09 03:57] ucasiggcas commented on #9618
some env
[code]
[code]

[code]

[2021-01-09 04:00] saberkun commented on #9618
The code does not work on TF 1.15. I think we can only verify that the master works on TF 2.3 and 2.4 to my knowledge.
The master head targets the TF nightly in principle.
If you use TF 1.15, please checkout the past releases (https://github.com/tensorflow/models/releases/tag/v1.13.0), although they were not managed by the current team.

[2021-01-09 04:11] #2332 closed

[2021-01-09 04:12] saberkun commented on #5095
keras now is used in the object detection api  for TF 2.x

[2021-01-09 04:12] #5095 closed

[2021-01-09 05:14] ucasiggcas commented on #9618
after I update the TF-2.3.0
has the same problem down,so how to handle?
[code]

tf-env
[code]

[2021-01-09 06:02] saberkun commented on #9618
If you have two gpus, https://github.com/tensorflow/models/blob/benchmark/official/benchmark/ncf_keras_benchmark.py#L198
--num_gpus=2, --eval_batch_size=160000

Your current eval batch size is 99000 as the logging states.
The error is raised here:
https://github.com/tensorflow/models/blob/master/official/recommendation/ncf_input_pipeline.py#L149

[2021-01-09 06:42] ucasiggcas commented on #9618
it's Okey,but when I re-open the Xshell Client met the error again
I have set before
`export PYTHONPATH=$PYTHONPATH:/path/to/models  `
[code]
Should I set the **export** every time I run the rp ?

[2021-01-09 08:19] ucasiggcas commented on #9618
and how to understand the params down after training?
[code]
thx

[2021-01-09 16:45] DevLob-zz commented on #9611
Yes sir i test another models and worked but this one raise this error with me

[2021-01-10 05:13] saberkun commented on #9589
Could you also file the issue to tensorflow repo? This seems to be a tf-lite issue.
@liufengdb do you have any idea on this?

[2021-01-10 05:40] theumang100 commented on #9589
@saberkun ohk let me submit it to tensorflow repo

[2021-01-10 10:29] SidMalladi commented on #2543
@derekjchow @jaskierLTD I followed the steps (my path was right) and I did get "Finished processing dependencies for object-detection==0.1".
But when I'm trying to run the code on Google Collab, I'm still getting the same error:
Traceback (most recent call last):
  File "/content/generate_tfrecord.py", line 29, in <module>
    from object_detection.utils import dataset_util, label_map_util
ModuleN

[2021-01-10 12:41] ALENTL commented on #8665
2021-01-10T12:30:56.050562+00:00 app[worker.1]: AttributeError: type object 'Config' has no attribute 'DB_URI'
2021-01-10T12:30:56.410790+00:00 heroku[worker.1]: Process exited with status 1
2021-01-10T12:30:56.476702+00:00 heroku[worker.1]: State changed from up to crashed

[2021-01-10 12:41] ALENTL commented on #8665
2021-01-10T12:30:56.050562+00:00 app[worker.1]: AttributeError: type object 'Config' has no attribute 'DB_URI'
2021-01-10T12:30:56.410790+00:00 heroku[worker.1]: Process exited with status 1
2021-01-10T12:30:56.476702+00:00 heroku[worker.1]: State changed from up to crashed

[2021-01-10 14:08] saikumarchalla commented on #9617
@MattVoge @lucky-xu-1994  Could you please use [exporter_main_v2.py ](https://github.com/tensorflow/models/blob/2986bcafb9eaa8fed4d78f17a04c4c5afc8f6691/research/object_detection/exporter_main_v2.py) for TF2  and let us know if that solves your query. Thanks!

[2021-01-10 14:12] saikumarchalla commented on #9507
@Neway6655  Closing this issue since the issue was resolved. Please feel free to reopen the issue if you have any concern, Thanks!

[2021-01-10 14:12] #9507 closed

[2021-01-10 15:54] pascal-hwky commented on #9525
I'm having the same issue with an RTX 3080.

[2021-01-10 23:38] raulcarlomagno opened #9620 "Object Detection (tf2) use of BestExporter"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ X] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_lib_v2.py

## 2. Describe the feature you request

When training for example an efficientdet m

[2021-01-11 01:48] lucky-xu-1994 commented on #9617
I have used  exporter_main_v2.py to export model, it created a saved_model (assets, variables, saved_model.pb),and can only be used as an inference model,  not supported to be used on other platforms.
so what I need is to freeze the model like in TF1, please help!

[2021-01-11 04:03] LizardLad opened #9621 "Disabling the return of particular outputs from TF Serving"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [DONE] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8.config

## 2. Describe the featur

[2021-01-11 05:56] ravikyram commented on #9611
@DevLob-zz

Can you please share colab link or reproducible code to test in our environment.It helps us in localizing the issue faster. Thanks!

[2021-01-11 06:00] wenbotse commented on #9357
tensorflow 2.4.0 works with MultiHeadAttention

[2021-01-11 07:41] ucasiggcas commented on #9618
`W0111 15:39:04.122567 139644182779648 callbacks.py:328] Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0170s vs `on_train_batch_end` time: 0.0909s). Check your callbacks.`

[2021-01-11 08:34] indritnallbani commented on #4046
Why so? Can you elaborate more? Is this due to the images being encoded?

[2021-01-11 09:20] devloper13 commented on #9616
@DJT777 I got the same error as wel. Thanks for pointing us to AbdelRahman's code. All I changed was from classifiation to detection and mentioned the checkpoint steps. And it worked.

[2021-01-11 10:23] dexter2406 commented on #9158
Hello. It seems there's no update... It's a really good dataset with rich yaw & row movement, would be nice to make it available for training/testing!

[2021-01-11 12:05] zjcs commented on #9586
It's very clear, Thank you very much for your reply.

[2021-01-11 13:59] MattVoge commented on #9617
Thanks for your reply. But as I've said above, I want to export it without checkpoints. Just one protobuf including all weights and stuff.

[2021-01-11 16:50] #9588 closed

[2021-01-11 21:16] DJT777 commented on #9616
@devloper13 You're welcome!

[2021-01-12 02:17] Jinbang129 opened #9624 "Low mAP due to wrong num_gt"
I run the tensorflow 2.3 Object Detection API on my own dataset, but the mAP is very low.
Since I have dense objects on the images, I changed  the (max_number_of_boxes) [here](https://github.com/tensorflow/models/blob/master/research/object_detection/protos/input_reader.proto#L113) to 600.
I used the  evaluation protocol of pascal_voc_detection_metrics.

After running the  _model_main_tf2.py_  wit

[2021-01-12 04:26] ssnirgudkar opened #9625 "tensorflow has no attribute 'app'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

I am using the latest TensorFlow Model Garden release and TensorFlow 2.4.0.
I am reporting the issue to the correct repository. (Model Garden research directory) : This is related to deeplab.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/deep

[2021-01-12 04:48] ravikyram commented on #9625
@ssnirgudkar

Please, refer similar issue #[34431](https://github.com/tensorflow/tensorflow/issues/34431) , [SO link](https://stackoverflow.com/questions/58258003/attributeerror-module-tensorflow-has-no-attribute-app) and see if it helps you. Thanks!

[2021-01-12 06:53] Jinbang129 commented on #9624
Configration file:
# Faster R-CNN with Resnet-50 (v1)
# Trained on COCO, initialized from Imagenet classification checkpoint

# This config is TPU compatible.

model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      fixed_shape_resizer {
        width: 1024
        height: 1024
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101_keras'
      batch_norm_trainable:

[2021-01-12 06:54] Jinbang129 commented on #9624
_# Faster R-CNN with Resnet-50 (v1)
# Trained on COCO, initialized from Imagenet classification checkpoint

# This config is TPU compatible.

model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      fixed_shape_resizer {
        width: 1024
        height: 1024
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101_keras'
      batch_norm_trainable: true
    }
    fir

[2021-01-12 06:55] Jinbang129 commented on #9624
_# Faster R-CNN with Resnet-50 (v1)
# Trained on COCO, initialized from Imagenet classification checkpoint

# This config is TPU compatible.

model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      fixed_shape_resizer {
        width: 1024
        height: 1024
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101_keras'
      batch_norm_trainable: true
    }
    fir

[2021-01-12 07:31] Jinbang129 commented on #9624
**Configuration file:**
model {
  faster_rcnn {
    num_classes: 1
    image_resizer {
      fixed_shape_resizer {
        width: 1024
        height: 1024
      }
    }
    feature_extractor {
      type: 'faster_rcnn_resnet101_keras'
      batch_norm_trainable: true
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        height: 32
        width: 32
        scales: [0.25,

[2021-01-12 08:17] SidMalladi opened #9626 "MacOS: ModuleNotFoundError: No module named 'object_detection'"
`!python {'/content/generate_tfrecord.py'} -x {'/content/Training'} -l {'/content/label_map.pbtxt'} -o {ANNOTATION_PATH + '/train.record'}
!python {'/content/generate_tfrecord.py'} -x{'/content/Testing'} -l {'/content/label_map.pbtxt'} -o {ANNOTATION_PATH + '/test.record'}`
running which i get the error:
`Traceback (most recent call last):
  File "/content/generate_tfrecord.py", line 29, in <modul

[2021-01-12 08:41] Jinbang129 commented on #9624
I reckon this problem is caused by the big number of groundtruth number.

[2021-01-12 11:35] devloper13 commented on #8844
On using SavedModel for inference, it also causes an error. Is there a TF2 specific inference script?

[2021-01-12 13:16] sayakpaul opened #9627 "Single anchor box specification in SSDs"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/object_detection/g3doc

## 2. Describe the issue

Is it possible to modify the config of an SSD MobileNet to allow

[2021-01-12 13:56] ssnirgudkar commented on #9625
So you are suggesting that I should modify the code of 'DeepLab' in the file : <deeplab>/models/research/deeplab/common.py?

I will try it today but I am surprised by this error because the DeepLab page says it works with TF 2.X

[2021-01-12 15:16] topekekere commented on #8047
Click Runtime and select Factory reset runtime

[2021-01-12 16:36] JungleLeopard commented on #8047
HI!

I dont want to have any e- mails anymore

Thank you for unsubscribe

 

Gesendet: Dienstag, 12. Januar 2021 um 16:18 Uhr
Von: "topekekere" <notifications@github.com>
An: "tensorflow/models" <models@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Betreff: Re: [tensorflow/models] Using TensorFlow backend. ERROR:root:Internal Python error in the inspect module. Below is the

[2021-01-12 18:23] PetrDvoracek commented on #8990
this worked for me `model = tf.keras.models.load_model(MODEL_PATH)`

[2021-01-13 02:25] ssnirgudkar commented on #9625
By using 'flags = tf.compat.v1.flags' I was able to get past the issue. However, now I am hitting -
ModuleNotFoundError: No module named 'tensorflow.contrib'

Traceback (most recent call last):
  File "deeplab/model_test.py", line 22, in <module>
    from deeplab import model
  File "/deeplab/models/research/deeplab/model.py", line 56, in <module>
    from tensorflow.contrib import slim as contrib

[2021-01-13 02:32] ssnirgudkar commented on #9625
Alternatively, you can tell me which exact version of TensorFlow I should use with which the code will not give such errors every now and then.

[2021-01-13 06:06] krcc5978 opened #9628 "vid2depth dose not work with Tensorflow 2.4"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-01-13 06:56] saberkun commented on #9628
AttributeError: module 'tensorflow' has no attribute 'contrib'
This indicates the code only works for TF 1.15.
In the readme, we have added a badge indicating it does not run with TF 2.x.
The model is from researchers so they may not update the code.

[2021-01-13 06:57] saberkun commented on #9625
@jaeyounkim Is Deeplab supposed to work with TF 2.x?
The errors indicate that the code base is based on TF 1.x.

[2021-01-13 07:28] krcc5978 commented on #9628
@saberkun

Thank you for reply!!
I thought vid2depth would work with tensorflow2.4 when I read this README(https://github.com/tensorflow/models/blob/master/README.md)
I hope this is updated!!

[2021-01-13 07:28] #9628 closed

[2021-01-13 08:50] shamilam commented on #8844
I tried this and it works!
https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/auto_examples/plot_object_detection_saved_model.html

[2021-01-13 09:54] Diaislam opened #9629 "separate the feauture extractor from the model"
Hello,
I'm using tensorflow 1.4 and have trained custom model Faster rcnn resnet101 with it.
I want  to separate the feauture extractor,
in other words a model where the ouput is feauture map only, so i can freez it and deploy it.

[2021-01-13 11:58] ricardoantonello commented on #9524
I have the same problem...

[2021-01-13 16:11] Raj-08 opened #9630 "Non Deterministic Behaviour from DeeplabV3+"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow 1.14.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/mo

[2021-01-13 16:12] Raj-08 opened #9631 "Non Deterministic Behaviour from Deeplabv3+"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow 1.14.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/mo

[2021-01-14 00:10] khu834 commented on #8953
For those who thumbed down this answer, can you provide some feedback as to why this is not the solution?
I'm guessing if you run fine-tuning training again with this flag, then export the object detection model, it should work?

[2021-01-14 01:11] mohammedayub44 commented on #9507
@saikumarchalla  @Neway6655  I still get an error however a different one -

### Code:
I'm using the same model and checkpoint as before, changed the label_map and class_name to "Person" accordingly.

[code]

### Error:

[code]

[2021-01-14 01:39] khu834 commented on #8953
I just tested this on the `faster_rcnn_resnet50_v1_1024x1024_coco17_tpu-8.config` model.
First try I trained it with `fine_tune_checkpoint_type: "classification"`, running `exporter_main_v2.py` resulted in the AssertionError above (even if I modify the config file to be "detection".

Next, I trained the model again with `fine_tune_checkpoint_type: "detection"`, running `exporter_main_v2.py` again

[2021-01-14 02:58] rgangu commented on #7894
Any update at all to this issue?

[2021-01-14 06:54] ysefwakil opened #9633 "Object detection API stuck on None of the MLIR optimization passes are enabled (registered 2)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2021-01-14 09:29] ravikyram commented on #9626
@SidMalladi

Please, refer similar issue #5773 and [SO link](https://stackoverflow.com/questions/50113683/modulenotfounderror-no-module-named-object-detection) and see if it helps you. Thanks!

[2021-01-14 12:14] ctc53 commented on #9525
Same issue here.

[2021-01-14 13:35] xiuzhizheng commented on #7583
您好，请问解决了嘛？我也是到这一步报错，另外你的tfrecord是怎么准备的,可以分享下嘛

[2021-01-14 13:39] Chop1 opened #9634 "Install tf2 object detection api with tensorflow 2.2 rather than 2.4"
Following the tutorial, I install the tensorflow object detection

[code]

[2021-01-14 14:03] hhsinhan commented on #9627
i'll try to answer this question.

here's partially the configure looks like this:
[code]
you can try to write in this way:
[code]
reference code: last function in: https://github.com/tensorflow/models/blob/master/research/object_detection/anchor_generators/multiple_grid_anchor_generator.py
and
https://github.com/tensorflow/models/blob/master/research/object_detection/protos/ssd_anchor_generator.p

[2021-01-14 14:11] sayakpaul commented on #9627
Thank you, @hhsinhan!

Could you point me to the code in the configuration file where we are specifying the anchors explicitly?

[2021-01-14 15:13] ChowderII opened #9635 "TypeError: '_UserObject' object is not callable on Saved Model"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not already been filed.

## 2. Describe the bug

When I try to run infer

[2021-01-14 15:20] vilmara commented on #6159
Hi @tensorflowbutler, how can we solve the Incomplete shape issue?
[code]

[2021-01-14 16:34] Jon573 opened #9636 "Lack of Documentation on Transfer Learning"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [/ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research//object_detection/meta_architectures/ssd_meta_arch.py

## 2. Describe the issue
_Background:_
In the function 're

[2021-01-14 16:39] hiyamgh commented on #3513
I am getting a similar error using this:
[code]

**Note: ** I am using tensorflow 1.14

[2021-01-14 17:08] LaraNeves commented on #9115
I'm facing the same problem where the training images on Tensorboard look like:

![image](https://user-images.githubusercontent.com/55484583/104618791-10f40a00-5685-11eb-8335-664268e3ae24.png)

While the images from the validation set (which was built exactly like the training set) look as they should during the evaluation steps.

Note that in both datasets I crop the images to 1000x1000 patches b

[2021-01-14 17:36] HoopsMcann commented on #9634
I'm having the same issue. I tried cloning with the tag==2.3.0 but then there is no setup.py file for object detection.

[2021-01-14 18:52] gagika commented on #9618
Here is how you can interpret those metrics:
validation hit rate (at [TOP_K](https://github.com/tensorflow/models/blob/master/official/recommendation/constants.py#L50)) `val_hr_sum / val_hr_count`. You can update [TOP_K](https://github.com/tensorflow/models/blob/master/official/recommendation/constants.py#L50) in the code, right now it's 10.

If you use custom training loop (by passing `--keras_us

[2021-01-14 23:19] yieniggu commented on #9616
@rabbitme where you able to train the centernet? I'm getting the same error when training a centernet_hg_104. Unfortunately for me, none of @DJT777 or @devloper13 tricks worked for me.

Does any colaborator here have something to say or help with?

[2021-01-15 02:00] ssnirgudkar commented on #9625
Just wanted to follow up on this question. I am currently blocked because of it. Please let me know which **exact** version of TF (GPU as well as CPU) I should be using.

[2021-01-15 02:30] ssnirgudkar commented on #9625
If I use TF 1.15.0, then the script produces following error -

tf-docker /deeplab/models/research > python deeplab/model_test.py
Traceback (most recent call last):
  File "deeplab/model_test.py", line 22, in <module>
    from deeplab import model
  File "/deeplab/models/research/deeplab/model.py", line 58, in <module>
    from deeplab.core import feature_extractor
  File "/deeplab/models/research

[2021-01-15 05:17] saikumarchalla commented on #9633
@ysefwakil Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-01-15 06:37] jaeyounkim commented on #9584
Let me close this issue for now. @theumang100 Please reopen this issue with more detailed information.

[2021-01-15 06:37] #9584 closed

[2021-01-15 06:44] alan303138 opened #9638 "tf2 mobilenetv2 fpnlite 320x320 has extremely poor accuracy on edgeTPU"
tf-nightly-gpu:2.4.0.dev20201016

Five categories are trained on PC, and they are recognized well on PC. After going through
`python export_tflite_graph_tf2.py --pipeline_config_path ./training/ssd_mobilenet_v2_FPN_320x320/pipeline.config --trained_checkpoint_dir ./training/ssd_mobilenet_v2_FPN_320x320/ --output_directory ./training`
Convert to a .pb file

And then use the following command to con

[2021-01-15 09:41] Raj-08 commented on #9631
any update?

[2021-01-15 10:13] Jinbang129 commented on #9463
![image](https://user-images.githubusercontent.com/41824297/104712303-5b48ba00-575d-11eb-9339-aabf9c6c71e6.png)
Try adding this two lines

[2021-01-15 15:18] MustafaAlahmid commented on #9340
sorry for late replay,  yes you create xml file,  using labelimg, just click Space on the image and it will create xml file for it

[2021-01-15 17:28] pnmartinez commented on #7767
I would add: create a specific environment for this and use it for TF1 stuff. You can do that in conda like:

[code]

Then you can happily:

[code]

[2021-01-15 17:33] mmikolajewicz-sifd commented on #9583
Thanks for your response. According to your suggestion, I uptaded the version of tensorflow and tensorflow-gpu to 1.15.3, but my results still differ.

[2021-01-15 20:16] ationder commented on #9633
i keep getting the same one :/

[2021-01-15 20:37] #9609 closed

[2021-01-15 20:40] saberkun commented on #9461
We have open sourced the tagging task: https://github.com/tensorflow/models/blob/master/official/nlp/tasks/tagging.py.
The training guide is: https://github.com/tensorflow/models/blob/master/official/nlp/docs/train.md
Sentence piece model from albert can be used in our tools in https://github.com/tensorflow/models/blob/master/official/nlp/data/

[2021-01-15 20:41] #9262 closed

[2021-01-15 20:42] #8977 closed

[2021-01-15 20:43] saberkun commented on #8357
The new transformer model is released: https://github.com/tensorflow/models/blob/master/official/nlp/tasks/translation.py
https://github.com/tensorflow/models/tree/master/official/nlp/modeling/models

[2021-01-15 20:43] #8357 closed

[2021-01-15 20:44] saberkun commented on #8131
Object Detection API works with TF 2.x now.
The official/vision/detection is deprecating and we are actively consolidating the works into official/vision/beta now.

[2021-01-15 20:44] #8131 closed

[2021-01-15 20:45] #6718 closed

[2021-01-15 20:46] saberkun commented on #9625
"ImportError: No module named nets.mobilenet"
this error is not related to TF package. Do you miss any deeplab installation guide or you need to have python path environment variable be set?

[2021-01-15 22:50] ssnirgudkar commented on #9625
Please read the entire thread from the beginning. I am trying in earnest to figure out which version of TF will work with DeepLabV3+. I tried TF 2.4, it did not work (see above), I tried 1.15, it did not work (see above). I have a very simple question and I have not got answer to it yet.

[2021-01-16 02:52] ahaliu1 opened #9639 "NHNET documentation issue"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/official/nlp/nhnet

## 2. Describe the issue

In the README.md line 85. There is a mistake in the script to process the cra

[2021-01-16 03:22] ahaliu1 commented on #9639
Successfully merging pull request #9640 will close this issue.

[2021-01-16 04:42] PradipNichite commented on #8704
Hi, @jaeyounkim  is it still open for contribution. I would like to contribute, please let me know.

[2021-01-16 06:33] Harsh188 commented on #8704
I'm currently working on implementing BERT for a personal project. I'm open to contribute!

[2021-01-16 11:08] michielva commented on #9115
Hi @LaraNeves,

Maybe this is not really a big help, but I also searched a bit deeper in the tensorflow code and tried to do some debugging.
Some things I noticed:
- Adding `retain_original_images: true`  in train_config in your `pipeline.config` gives you the possibility to show the original image (as it is in the tfrecord). To view it in TensorBoard, I had to add the following piece of code in `

[2021-01-16 11:20] sayakpaul commented on #9638
As the inputs of your TFLite are integer quantized, you would need to scale the input images accordingly with respect to the quantization scale. Something like the following -

[code]

The above snippet is referred from the [official guide](https://www.tensorflow.org/lite/performance/post_training_integer_quant). Also, MobileNetV2 probably does not need the flex operators if you exported the final

[2021-01-16 11:24] sayakpaul opened #9641 "Transfer Learning with the MobileDet checkpoints"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/object_detection/g3doc

## 2. Describe the issue

The config files related to MobileDet do not have options like `

[2021-01-17 04:34] ssnirgudkar opened #9642 "Dockerfile for DeepLabV3+"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/...

## 2. Describe the feature you request

I am trying to get DeepLabv3+ in a docker image on Ubuntu 18. However, I

[2021-01-17 05:05] ssnirgudkar commented on #9642
I was able to get my dockerfile working with the simple unit test  'deeplab/model_test.py'.
Here is my dockerfile
/////////////////////////////////////////////////////////////////////////////////////////
FROM tensorflow/tensorflow:1.15.0-gpu
# Spaces around = in below statement are not allowed.
ARG deeplabpath=/deeplab
WORKDIR $deeplabpath
ENV MPLCONFIGDIR=/tmp/matplotlib/images

# -e : exit immed

[2021-01-17 05:20] ssnirgudkar commented on #9625
I have found out answers to my questions.
The DeepLabV3+ code corresponds TF 1.15.0. See my dockerfile copy/pasted in above issue #9642. With this setup, I am able to run the unit test (quick check). I am yet to engage DeepLabV3+ in serious training phase.

[2021-01-17 06:07] sidharth1805 commented on #8997
@harikudil I have also gone through this exactly the same I initially wanted to use faster r-cnn resnet but my ram was only 8 gb and my graphics card of 2 GB even though i switched to colab got the same issue because colab has only 12 gb allocated ram so i suggest you to switch to other models from tensorflow zoo if you can sacrifice the accuracy it works fine for me now after switching to mobile

[2021-01-17 06:27] sidharth1805 commented on #1993
these oom allocation errors main reason is the unavailability of  enough ram so these are the fixes you can try

1. Switch to other TF2 object detection models like mobile net with less processing time(you have to sacrifice the accuracy)
2. Decrease the batch size
3. change the image resizer values
Try one by one and if it's showing the same error then choose a lite model and reduce the batch size

[2021-01-17 06:28] sidharth1805 commented on #7166
Refer here: https://github.com/tensorflow/models/issues/1993#issuecomment-761742221

[2021-01-17 06:29] sidharth1805 commented on #7319
https://github.com/tensorflow/models/issues/1993#issuecomment-761742221

[2021-01-17 07:31] harikudil commented on #8997
@sidharth1805 , you are right, sacrifice has to be made at some end. On the contrary, a similar model and similar configuration of hardware can be used in Keras to train MRCNN without any trouble. this is what puzzles me. how could different APIs do it and why not the Tensorflow API. Hope someone can give an explanation.

[2021-01-17 20:10] DemolationPeter opened #9643 "Cyclic Learning Rate implementation in TF1 ObjectDetectionAPI google.protobuf.text_format.ParseError:"
**Prerequisites**
--------------------------------------------------------------------------------------------------------------------------------------------------------

-  [ ]  I am using the latest TensorFlow Model Garden release and TensorFlow 2. No TF1.15

- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)

- [ x] I checked to make sure t

[2021-01-17 20:24] saberkun commented on #9642
It would be great that if you can help with a PR to the documentation or adding a docker reference.
@YknZhu

[2021-01-17 20:24] #9639 closed

[2021-01-17 23:58] ysefwakil commented on #9633
There is no code its just following the Tensorflow object detection tutorial API https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/

[2021-01-18 00:56] ssnirgudkar commented on #9642
Sure, please let me know what I need to do.

[2021-01-18 04:38] saikumarchalla commented on #9641
@sayakpaul  Please have a look at this [issue](https://github.com/tensorflow/models/issues/8695#issuecomment-656704512) and let know if it doesn't work for you. Thanks!

[2021-01-18 05:03] sayakpaul commented on #9641
@saikumarchalla no it does not. From the mentioned issue, it's not clear as to how one could include the fine-tuning options inside the `.config` file.

[2021-01-18 11:57] LaraNeves commented on #9115
@michielva thank you for the update, it's helpful to discuss this issue and know that I'm not alone in this.

So I've also been digging around the Object Detection API code and here's what I found:

- I've extracted the input images during the training loop (`train_loop()` of the `model_lib_v2.py` file) both on tensorboard and as .png file. In both, the issue was still visible, which is why, like

[2021-01-18 12:11] bnascimento commented on #9468
Hi @allenwang28, thank you for the help.
I am using image_classification module to train a efficientnet-b0 from scratch, it takes lots of resources and time.
So I wanted to try to load the imagenet efficientnet-b0 weights ( seen on https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet ) as a pre trained checkpoint.
I extracted the files inside the model_dir and try to kickoff

[2021-01-18 12:17] #9599 closed

[2021-01-18 13:34] ophirSarusi commented on #9115
According to the [documentation](https://www.tensorflow.org/api_docs/python/tf/image/convert_image_dtype):

`tf.image.convert_image_dtype( image, dtype, saturate=False, name=None)`

"Note that converting from floating point inputs to integer types may lead to over/underflow problems. Set saturate to True to avoid such problem in problematic conversions. If enabled, saturation will clip the output

[2021-01-18 21:00] ekesdf commented on #9557
it is very easy what is happening right now you have a stack overflow you don't have enough ram that's the reason there is a "^C" at the end. If you overrun the max amount of ram in a google collab machine the machine will automatically shut off the currently running cell so I would suggest lowering the batch size to like 2 or 3. I know that isn't that much but better than running every time into

[2021-01-18 21:24] ekesdf opened #9645 "Weard Protobuf error while transferlearning with Objectdetection Api 2.0"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usin

[2021-01-19 05:47] mohammedayub44 opened #9647 "Unable to do "out-of-the-box" inference using the CenterNet Hourglass104 Keypoints Model - Object detection"
- [ X] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ X] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ X] I checked to make sure that this issue has not already been filed.

## The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/infer

[2021-01-19 07:43] parcodepie commented on #9588
@HaritYadav @saikumarchalla Tried so many options with no luck but after trying so many images . I found that the issue related to the whole image collection.
I'm not sure what the wrong with these images but  when I tried another image collection the problem solved.

Thanks

[2021-01-19 09:28] chengqianma commented on #7766
@yeyupiaoling Hi I countered the same issue with you. Did you solve this? Can you give me some suggestion on this one? Thanks,

[2021-01-19 09:37] yeyupiaoling commented on #7766
@chengqianma Sorry, I didn't solve this problem, I switched to a deep learning framework
对不起，我没有解决这个问题，我换了一种深度学习框架

[2021-01-19 12:43] arsenal-2004 commented on #8769
@Namburger I used the model from here.

However, I am facing a number of issues. There's multiple detections for the same person, indicating NMS isn't working. Secondly, the detections in itself are very inaccurate. Other objects are constantly identified as the Person class.

Can you please help me with this?

[2021-01-19 14:30] sachinkmohan commented on #9556
Can you post the code snippet here pls?

[2021-01-19 16:08] Derricktao commented on #8990
I got the exact same issue, did you manage to solve it?

[2021-01-19 16:44] Namburger commented on #8769
@arsenal-2004 sorry, not sure if I can help more with this since this model is owned by tensorflow, however, I've been using it without issue and have made a tutorial on it here: https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain
Maybe it'll give you more insignt?

[2021-01-19 16:45] arsenal-2004 commented on #8769
Yeah, I did follow the tutorial, but I was still facing these issues after that.

[2021-01-19 19:25] allenwang28 commented on #9468
The checkpoint you linked is trained on the original TF 1.x/TPUEstimator codebase which is not compatible with the image_classification codebase.

You could maybe try using TF Hub as mentioned in the above comment. Example for b0 is here: https://tfhub.dev/tensorflow/efficientnet/b0/classification/1

[2021-01-19 22:42] DevLob-zz opened #9650 "Save Check point while training checkpoint_every_n"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ True] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ research directory] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ Yes] I checked to make sure that this issue has not already been filed.

## 1. The entire URL o

[2021-01-20 03:26] xdhmoore commented on #6553
Found this in `input_reader.proto`:
[code]

It looks like this just uses `Dataset.shard` under the hood, so result will be all data item whose index mod 3 == 0.

Haven't tried this yet, but it appears to be a workaround for  `num_eval_steps` and `num_examples`.

[2021-01-20 03:30] xdhmoore commented on #6106
I'm still piecing together how to do this myself, but I found this in `input_reader.proto`:
[code]

It looks like this just uses `Dataset.shard` under the hood, so the result will be all the data items whose index mod 3 == 0.

Haven't tried this yet, but it appears to be a possible way to limit eval size with `num_eval_steps` and `num_examples` not working.

[2021-01-20 03:57] gt5-gerry commented on #9633
Hi I just had the same problem and I was at it for hours. I realised there were no test pictures in my images folder. I had to restart and it’s working now

[2021-01-20 04:30] ucasiggcas commented on #9618
thanks,now I got success
@gagika
will close the issue
thanks for your help
@saberkun @ravikyram @tensorflowbutler

[2021-01-20 04:30] #9618 closed

[2021-01-20 05:52] Harish-sy opened #9651 "AttributeError: module 'tensorflow._api.v1.compat.v2.compat' has no attribute 'v2"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-01-20 05:54] chengqianma commented on #7766
好吧~谢谢啦！

[2021-01-20 06:28] sidharth1805 commented on #8997
@harikudil yes bro you are right TensorFlow has a complex architecture you can refer to this[https://www.Simplilearn.com/keras-vs-tensorflow-vs-pytorch-article#:~:text=TensorFlow%20is%20an%20open%2Dsourced,because%20it's%20built%2Din%20Python.](url)
hope this helps.

[2021-01-20 06:30] soltaniehha commented on #8265
I am getting this error in Colab mounting Drive as my storage. All of my training data and checkpoints are in Drive. Is there a way to use TPU in Colab with this setup?

[2021-01-20 07:23] sayakpaul commented on #8265
You would need to have your data stored inside a GCS bucket and the Cloud TPUs should have access to that.

You are probably better off using Kaggle TPUs here.

[2021-01-20 08:57] Yonma commented on #8990
There's an approach to solve the "IndexError: list index out of range" Error, hope this could help you, and welcome to your comments. https://github.com/tensorflow/tensorflow/issues/43527#issuecomment-763430516

[2021-01-20 09:28] ianharlee commented on #9357
how to install tf2.4 in win10？

[2021-01-20 09:30] LaraNeves commented on #9115
@ophirSarusi Thank you for your suggestion, I did try it however correct me if I'm wrong but I think that those kinds of conversions are only happening in the data augmentation in the `preprocessor.py` in the `_rgb_to_grayscale()`  which I have disabled for the time being, so it hasn't solved the issue.

Again, thank you for the help and if you have any other ideas please let me know.

[2021-01-20 10:49] HUI11126 commented on #9045
Hello, my friend. Have solved this issue?

[2021-01-20 13:36] asimeonovMLPS commented on #9033
Hi, I am trying to convert SSD MobileNet V2 FPNLite 320x320 so that during inference I can set batch size larger than 1. Here is my code for conversion:

[code]
As a result I get a tflite model with size 464 bytes. I use tf_nightley (version 2.5.0-dev20201107) for training and conversion.
Any help is highly appreciated, Thank you.

[2021-01-20 13:44] sayakpaul commented on #9033
Did you follow the guidelines as mentioned here - https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md?

[2021-01-20 15:46] #9645 closed

[2021-01-20 15:47] ekesdf commented on #9645
I have found the issue: There was wrong set bracket in the config file closing out the line with the sync_replicas= true

[2021-01-20 15:54] ekesdf commented on #9650
Do you use the model_main.py ??

If so
there is a default value in the flags right at the top of the file
If you change this value it will work as you expect

[2021-01-20 16:14] saikumarchalla commented on #9651
@Harish-sy  Could you please let us know which TF version are you using?Also, make sure you have downloaded the right version from Tensorflow models repo.

Example: İf you use TensorFlow 1.5.0 you should download TensorFlow models r1.5.

[2021-01-20 16:45] asimeonovMLPS commented on #9033
@sayakpaul  thanks for the reply. Yes i have followed the instructions and actually when i use the following code for conversion, i get a tflite model with a size of 3.8 MB.

[code]
The tflite model works for inference of one image, but when I want to give it several images in a batch, and call **interpreter.allocate_tensors ()** I get error **num_input_elements! = num_output_elements**.
This is t

[2021-01-20 16:59] sayakpaul commented on #9033
I see, this one is new to me. @srjoglekar246 any inputs here? Also, @asimeonovMLPS could you provide a stand-alone Colab Notebook to reproduce this?

[2021-01-20 17:00] srjoglekar246 commented on #9033
Our current SSD post-processing in TFLite does not support multi-batch inference :-(.

@asimeonovMLPS, are you facing a steep drop in latency if you pass images one-by-one? Most of our clients until now have used single-batch inference, so we never really optimized for multi-batch. Let me know what your experience is with image-by-image inference.

In the worst case, if you *need* multi-batch infe

[2021-01-20 19:41] saberkun commented on #9651
compat module is added after TF 1.15.
TF 1.5 won't work.

[2021-01-20 19:41] #9651 closed

[2021-01-20 19:52] soltaniehha commented on #8265
Thank you for your response. The big challenge with accessing GCS data is the storage egress charge that I have been acquiring since Colab sometimes randomly assigns a VM in EU or APAC. This makes Colab TPUs very impractical for any non-public dataset. I would like to take advantage of TPUs with my Colab pro account but I guess it's not possible at this moment. The ability to read local tfrecords

[2021-01-20 22:29] romildojuliano opened #9652 "@tensorflow-models/handpose running too slow on React Native"
Hi everyone.
I'm trying to develop an app to process sign language using React Native, Expo and @mediapipe/handpose, but the performance I get is too slow for what we need. The smartphone I'm testing with is the **Samsung Galaxy S9**, which is not at all a bad phone, and the FPS I get is around 2 ~ 6 fps;
The process is very simple: I load the handpose model -> Then with the CameraWithTensors from

[2021-01-21 08:18] DevLob-zz commented on #9650
i used model_main_v2.py should i use model_main.py instead of model_main_v2.py

[2021-01-21 08:50] xumengwei commented on #9556
@sachinkmohan I've attached my code. Basically I want to apply quantization-aware training on TF OD models, but it seems doesn't work.
[ssd.txt](https://github.com/tensorflow/models/files/5847982/ssd.txt)

[2021-01-21 09:11] ravikyram commented on #9652
@romildojuliano

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2021-01-21 09:20] Jayden0211 commented on #9392
same problem. plz, help!

[2021-01-21 09:40] sachinkmohan commented on #9556
Instead of giving the `model_dir`, try giving `filepath` as mentioned in the TF [Documentation](https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model)

[code]

[2021-01-21 10:26] #9171 closed

[2021-01-21 10:48] asimeonovMLPS commented on #9033
@srjoglekar246, @sayakpaul  thanks for the replies. The inference time image by image is a constant, about 0.8 seconds (for my hardware I think it's good, Debian 10 for 32-bit ARM).
Since I'm looking for small objects in high-resolution images, I want to cut a high-resolution image into small images with resolution that the model expects, this way I will give all the information from the high-reso

[2021-01-21 11:06] sayakpaul commented on #9033
Have you considered other solutions to tackle the small object detection problem? Like anchor box fixation? In my experience, tuning the hyperparameters of prior anchor box generation has been very useful while specifically focusing on detecting small objects from large images. Two important hyperparameters I care about here - scale and size.

[2021-01-21 11:40] xumengwei commented on #9556
@sachinkmohan Nope we're using pb files downloaded from the [model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md), not h5 models.

[2021-01-21 11:58] HUI11126 commented on #3196
[https://github.com/DetectionTeamUCAS/FPN_Tensorflow](url)
This project based Faster rcnn + FPN, which is accurate to detect small objects. But I was not able to deploy the project on Openvino, sinice the merge function  in "fusion_two_layer" is limited on Openvino.

[2021-01-21 14:03] sachinkmohan commented on #9556
I couldn't find any results, loading .pb files using `load_model`. Just a suggestion, convert `.pb `files to `h5` files and then try again otherwise just load the `.pb` file to the model and execute `model.summary()` to verify if you have loaded it correctly.

[2021-01-21 16:40] mgon5170 opened #9653 "installation instructions need updating --use-feature=2020-resolver results in "no such option --use-feature""
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

## 2. Describe the issue

--use-feature is no longer necessary due to update. Repla

[2021-01-21 17:50] srjoglekar246 commented on #9033
@asimeonovMLPS Your last point is correct. Even if you just use a model from the Detection Zoo that has significantly large input dimensions, the total latency will be lesser than multi-batch inference (especially with GPU acceleration). There might be better accuracy as well, since some objects could end up getting chopped in the process of cutting the high-res image.

[2021-01-21 18:49] ekesdf commented on #9650
it does not matter what version do you use if you use the model_main.py you can use only model zoo tf1 models and with mode_main_v2.py you can only use model zoo tf2
so you have to decide between those two so it is just a compatible thing like a fit with b but a does not fit with h

[2021-01-21 21:47] smitheric95 opened #9654 "Comments for tile_anchors() incorrectly state number of boxes generated."
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/anchor_generators/grid_anchor_generator.py#L140

## 2. Describe the issue

I believe the function

[2021-01-21 22:18] shazz opened #9655 "eager_few_shot_od_training_tflite / how to add 2 new classes"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb

## 2. Describe the issue

Hi. Could you

[2021-01-21 22:54] DevLob-zz commented on #9650
i used model_main_v2 with model zoo tf2
and for now no way to run Evaluation with training in the same time

[2021-01-22 01:09] freezestudio opened #9656 "A minor naming error"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-01-22 07:26] #9304 closed

[2021-01-22 09:01] asimeonovMLPS commented on #9033
@srjoglekar246, @sayakpaul thanks for the replies.
 А model that accepts an input image with a higher resolution and anchor box fixation really seems to be the best way go.

Thank you very much!

[2021-01-22 11:56] FORPROJECTPURPOSE commented on #7411
Use this link to get this correct,
[](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_inception_v2_coco.config)

feature_extractor {
      type: 'ssd_inception_v2'
      min_depth: 16
      depth_multiplier: 1.0
      conv_hyperparams {
        activation: RELU_6,
        regularizer {
          l2_regularizer {
            weight: 0.00004
          }

[2021-01-22 12:56] NandreyN opened #9657 "module not found error during import of official.vision.beta.modeling (version 2.4.0)"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-01-22 14:50] shahshawaiz commented on #9589
Same issue!! 🦖

[2021-01-22 15:43] ecatkins opened #9658 "Error submitting Object Detection job to ai-platform"
I am using the instructions laid out in the documentation to submit a job to Google Clouds ai-platform. My pipeline runs correctly both locally and when deploying to a Google Cloud VM.

The command I am running is below, it is practically the same as the documentation, except updated for the latest runtime versions. I have also tried the GPU training instructions with the same result

[code]

In t

[2021-01-22 15:54] DemolationPeter commented on #9643
I have found the solution.

The problem was that the changed files weren't in the correct folder. You need to copy them into the path from your python Version. Inside the directory of Python /site_packages is a directory /object_detection and  a directory /object_detection-0.1-py3.6.egg (name can be different). Inside the /object_detection-0.1-py3.6.egg directory you have also the folder /protos,

[2021-01-22 15:54] #9643 closed

[2021-01-22 16:24] Petrosyanich opened #9659 "[deeplab] Slow inference speed"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 1903**
- Mobile device (e.g., Pixel 4, Samsung Galaxy 10) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **npm**
- TensorFlow version (use command belo

[2021-01-22 16:44] saikumarchalla commented on #9653
@mgon5170 Please upgrade your pip version to 20.2.2 and check again it works as expected. Thanks!

[2021-01-22 16:56] srjoglekar246 commented on #9655
If you wanted to add two new classes:

You would need to change `num_classes` to 3 (1 + 2 more)
Add ids for each class starting from 1 (Like `duck_class_id = 1`)
Then in `category_index` just map each class' ID to a dict containing `id` & `name` keys.

Some of the later code for inference might also need to change (if it assumes there are only two classes). Some of the Python errors there will be

[2021-01-22 17:05] saikumarchalla commented on #9657
@NandreyN  If you are using colab, please set your python path correctly. Add the below code and then try it again. Hope it helps.

[code]

[2021-01-22 17:26] mgon5170 commented on #9653
I'm using pip version 20.3.3. Perhaps because I'm on a more recent version it's behaving a bit differently. I'll go ahead and close the ticket since it seems you've tested it.

[2021-01-22 17:26] #9653 closed

[2021-01-22 17:36] HoopsMcann commented on #9634
Any update on this?

[2021-01-22 17:57] saikumarchalla commented on #9653
@mgon5170  Thanks for closing the ticket.In case if you are  facing issue still, please feel free to reopen the issue.

[2021-01-22 18:07] Petrosyanich commented on #9659
P.S. The problem was caused by slow graphics card

[2021-01-22 18:07] #9659 closed

[2021-01-22 18:08] lechwolowski opened #9660 "Way to huge event files - Disabled feature for GPU in model_lib_v2.py"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [ ] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/blob/master/research/object_detection/model_lib_v2.py#L553

## 2. Describe the feature you request

I would like training on gpu to write l

[2021-01-22 19:10] saberkun commented on #9656
Thank you! Fixed the 1. item. Asking the team @yeqingli @arashwan for the second.

[2021-01-22 19:11] ravikyram commented on #9658
@ecatkins

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).Please, let us know which TF version you are using?

Please, share complete code snippet with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2021-01-22 19:44] ecatkins commented on #9658
@ravikyram Thanks for your response.

The tensorflow/runtime version is [2.3](https://cloud.google.com/ai-platform/training/docs/runtime-version-list) as specified in the script above.

The script above is effectively my full code snippet as indicated by the notebook [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md). I am runnin

[2021-01-22 20:04] arashwan commented on #9656
Thank you, vision part was fixed.

[2021-01-22 20:04] #9656 closed

[2021-01-22 21:26] #9613 closed

[2021-01-22 21:52] NandreyN commented on #9657
@saikumarchalla  Thanks for the response. The problem initially was discovered not in colab. However, I have just updated the notebook according to your response. Could you please have a look one more time?

[2021-01-23 04:13] ssnirgudkar opened #9661 "During evaluation phase of Pascal VOC dataset with DeepLabv3/xception_65, 'Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR' error is emitted"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/deeplab

## 2. Describe the bug

As per the [documentation](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/pascal.md), I am trying to run Pascal VOC dataset on DeepLabV3 an

[2021-01-23 13:48] akshattodi opened #9662 "Issus in Object_detection_tutorial code"
Sir how can I use this **objet_detection_tutorial** code without using internet

[2021-01-23 14:39] mrjaved121 opened #9663 "I am getting error object_detection.builders import model_builder"
![image](https://user-images.githubusercontent.com/44700120/105585354-875bd080-5d45-11eb-832a-510ef8671801.png)

(tensorflow1) C:\tensorflow1\models\research\object_detection>python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/faster_rcnn_inception_v2_pets.config
2021-01-23 19:20:39.137987: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not lo

[2021-01-23 15:00] mrjaved121 commented on #9663
![image](https://user-images.githubusercontent.com/44700120/105596896-af006800-5d48-11eb-92a2-37ea8058a233.png)

[2021-01-23 15:23] thasin96 opened #9664 "Unable to download pre-trained model from zoo"
I am unable to download model files from the <a href="https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md">link</a>.
The download API response is 206. I am not sure whether only i am facing this issue or everyone?

[2021-01-23 18:48] weekenddeveloper opened #9666 "Got an AttributeError: module 'tensorflow' has no attribute 'contrib' when following Tensorflow 2.0 object detection tutorial"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-01-23 21:43] michielva commented on #9115
@LaraNeves Thank you for your extensive answer and the suggested workaround.

I have not tried it yet, but I'm a bit hesitant for two reasons:
1) I assume that there's a reason they chose to apply this kind of transformation.
As you say "to convert the input to a preferred format for the NN".
2) My last models perform really well actually. This gave me some reassurance that the inputs (as we see t

[2021-01-24 01:56] TheBubblePopped opened #9667 "Is it possible to train on a CPU?"
Hi there,

i was trying to run python object_detection/model_main_tf2.py but what happens is, at one point after restoring the checkpoints my ram gets filled (50gb) and my pc ends up hanging. Does this have anything to do with the fact that i do not have a tf compatible graphic card?

[2021-01-24 02:10] TheBubblePopped opened #9668 "How to pass multiple groundtruth_boxes to model"
So i tried to follow the tutorial at https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb.

I can see that the script uses 1 groundtruth box with [xmin,xmax,ymin,ymax] but how would i pass images that have multiple objects(can be the same) for training?

[2021-01-24 03:19] romildojuliano commented on #9652
You can check at our repo:
https://github.com/romildojuliano/Silent-Spell

[2021-01-24 03:56] #9312 closed

[2021-01-24 03:58] saberkun commented on #9333
Sorry, we are not sure how to use this keras feature.

[2021-01-24 03:58] #9333 closed

[2021-01-24 04:03] saberkun commented on #9479
We are working on new implementation https://github.com/tensorflow/models/blob/master/official/nlp/tasks/translation.py, which fully supports the functionality you need.
@frederick0329 Do you mind planning to add docs to run the new translation model?

[2021-01-24 04:18] TheBubblePopped commented on #9667
Reducing the batch size has solved the problem. It was strange because i had only 10 pictures, thus a batch size of 64 would be a fixed 10. I still don't understand why 10 pictures allocated so much ram

[2021-01-24 04:18] #9667 closed

[2021-01-24 05:04] #4846 closed

[2021-01-24 05:06] #6423 closed

[2021-01-24 05:06] #7137 closed

[2021-01-24 18:07] frederick0329 commented on #9479
Will work on adding documentation this week!

[2021-01-25 04:49] Llamrei commented on #9117
Hey I was having an identical issue when trying to recover some runs of BERT models - could you perhaps provide some hints/a gist on how to load these models or if there has been a fix to this?

When trying to run the solution provided by monologue it seemed like the checkpoint restore was expecting a file and not the directory which typical ModelCheckpoint or model.save() serialize into:

[code]

[2021-01-25 06:26] #9611 closed

[2021-01-25 09:42] SaimAli420 commented on #3868
I was facing the same issue. But later on, I found that this error occurs due to differences in class names or number of classes in file.record and file.pbtxt. So, you need to pass the same name and number of classes in file.pbtxt as it is as you pass in tf_record while generating the tf_records.
example:
********************************************
file.record(while generating tf_record)
********

[2021-01-25 11:18] LaraNeves commented on #9115
So with the exact same dataset:
- generated with TF 2.2 according to the object detection api tutorials
- where my original images were cropped into 1000x1000 cropped images around the labeled objects
- train-validation-test split of 75%-15%-10% respectively

And with the .config files as similar as possible:
- very little hyperparameter tuning for now
- only "random_horizontal_flip" data augmenta

[2021-01-25 13:01] tmbenhura commented on #7890
You need to generate the *.py files from the protobufs **BEFORE** you install the object detection package. If you already installed it, just re-run the installation command.

[2021-01-25 13:47] saikumarchalla commented on #9664
@thasin96 Could you please tell us which Pre-trained model are you trying to download so that will check at our end, Thanks!

[2021-01-25 13:49] thasin96 commented on #9664
All the listed pre-trained models. I was able to download once I copy the direct download link and paste to new tab.

[2021-01-25 13:49] #9664 closed

[2021-01-25 17:59] saikumarchalla commented on #9664
@thasin96 Good to hear that issue is resolved for you.

[2021-01-25 18:17] saikumarchalla commented on #9663
@mrjaved121 Please check the indentation error  after the if statement(line num: 67). Also, see this [link](https://github.com/tensorflow/models/issues/1832) if it helps. Thanks!

[2021-01-25 18:28] saikumarchalla commented on #9662
@akshattodi  Could you please elaborate your query so that we can help you in a better way.  Also,please fill the issue template. Thanks!

[2021-01-25 18:32] akshattodi commented on #9662
My problem is resolved. Thanks

[2021-01-26 00:04] Nailemre commented on #7037
–train_dir=/training it is work you should try it

[2021-01-26 00:13] mohammedayub44 commented on #9284
@RomStriker  I run into a somewhat similar issue while finetuning from available checkpoints downloaded form Model Zoo. Since the model zoo provides a trained checkpoint in a `checkpoint` directory, passing this directory gives an error. Training script throws warnings that checkpoint directory is ignored and tried to create a checkpoint.tmpXXXXX directory and error out.
I'm guessing it's also bec

[2021-01-26 02:46] xander-sun commented on #9634
same question, any update?

[2021-01-26 03:29] ssnirgudkar commented on #9661
Is there any update on this issue?

[2021-01-26 05:12] #9662 closed

[2021-01-26 07:59] romeolandry commented on #9617
I have the same Problem. Please Help!

[2021-01-26 09:30] daruai commented on #9554
I have the same problem when I try to put the [maskrcnn from the model zoo](http://download.tensorflow.org/models/object_detection/tf2/20200711/mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8.tar.gz)  on AI Platform models for inference.

[2021-01-26 11:12] Slyne commented on #9235
I checked the weights(.ckpt) trained by using  callbacks (save weights only)  and transformer.Transformer(self.params, name="transformer_v2").
The name of these weights are not the same.
Could you give some instructions on how to convert them?

[2021-01-26 12:13] Jon573 commented on #9636
Are there any updates on this? I appreciate writing documentation takes a while so I was, probably naively, hoping for a workaround in the short term, but I do think there is a problem in general with the API lacking clear written documentation outside of docstrings.

For those who happen to read this with the same problem in the future (if it hasn't been addressed), a quick workaround I used was

[2021-01-26 13:46] Jon573 commented on #9660
Hi, to address the I/O problem (but not necessarily the python overhead problem of having 1 step per iteration), I removed the image summary created on line 267 of model_lib_v2.py. This line specifically:

`  tf.compat.v2.summary.image(
      name='train_input_images',
      step=global_step,
      data=features[fields.InputDataFields.image],
      max_outputs=3)`.

As far as I could tell, 3 image

[2021-01-26 16:29] saikumarchalla commented on #9633
@ysefwakil  Could you please create a fresh environment and  follow  the steps as mentioned in the document again. If the issue still persists please let us know. Thanks!

[2021-01-26 17:03] WisdomPill commented on #8792
Hello @ouzzane and @AndreiBaraian, I am having the same issue, is there any way to check an image?

[2021-01-26 17:39] saikumarchalla commented on #9657
@NandreyN  I  could able to import all the modules properly. Please check the gist [here](https://colab.research.google.com/gist/saikumarchalla/e4b507cee38456b5eb077f4428f47182/-8291.ipynb).

Aslo please  go through the  official [documentation](https://github.com/tensorflow/models/blob/r2.4.0/official/README.md) and this [issue](https://github.com/tensorflow/models/issues/8291) for additional inf

[2021-01-26 18:57] ymodak commented on #9612
Have you tried setting converter inference input/output types to uint8
[code]
https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only

[2021-01-26 20:00] NandreyN commented on #9657
@saikumarchalla
That works, but it is not the solution, because I need pip-package, not a fork of the repo

[2021-01-26 20:06] NandreyN commented on #9657
@saikumarchalla
Just trying to say that there is probably a problem with pip-package.
Issue you`ve linked uses clone of the repo from the beggining, not a package.

[2021-01-27 00:05] khu834 commented on #8881
This appears to be fixed in tensorflow 2.4.0

[2021-01-27 03:21] dsnsabari opened #9673 "Message type "object_detection.protos.BatchNonMaxSuppression" has no field named "use_static_shapes"
i am trying to convert ssd mobilenet v3 to tensorRT  in jetson xavier. But i am getting the above error.

TF version : 1.15.2

``declare -x JETSON_BOARD="P3509-000"
declare -x JETSON_BOARDIDS=""
declare -x JETSON_CHIP_ID="25"
declare -x JETSON_CODENAME="jakku"
declare -x JETSON_CUDA="10.2.89"
declare -x JETSON_CUDA_ARCH_BIN="7.2"
declare -x JETSON_CUDNN="8.0.0.145"
declare -x JETSON_JETPACK="4.4 D

[2021-01-27 04:37] ravikyram commented on #9673
@dsnsabari

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2021-01-27 04:51] Awais-commit commented on #7411
I have the same issue and I tried the same solution but gives the same error. I have tried 3 different models but the error is same.

[2021-01-27 05:26] FORPROJECTPURPOSE commented on #7411
They've updated the config files. It'll be better if you take the whole .py file and add you custom configurations into it.

[2021-01-27 06:49] #7161 closed

[2021-01-27 07:35] xiuzhizheng opened #9674 "How to quantize the lstm object detection model"
Hi,  I have trained the lstm object detection, and deploy to mobile Huawei mate 20 pro. the inference runtime is 20 FPS, which is far below the paper result 72.3 FPS.  I found the paper use Quantization Aware Training to optimize model. but the code of this part is missing. Any one knows how to revise the code to adopt QAT.
Thanks

[2021-01-27 08:21] TheBubblePopped opened #9675 "Does the training scale the input images automatically?"
For example dividing the pixels / 255

[2021-01-27 09:21] ravikyram commented on #9675
@TheBubblePopped

You have to scale the data before training the model.Please, see this [tutorial ](https://www.tensorflow.org/tutorials/images/cnn)for your reference.Thanks!

[2021-01-27 10:03] sourabhx003 commented on #9309
Trying the same but loss isnt going down with this approach.
Any solution yet?

[2021-01-27 10:10] elvinest commented on #9634
same question, any update?

[2021-01-27 12:35] WisdomPill commented on #8792
Solved it, the script `remove_gt_colormap` is misleading, it is used for pascal dataset just to convert the images to uint8 with numpy and pil.

I used the following
[code]

[2021-01-27 12:46] WisdomPill commented on #8138
Have a look at #3939

[2021-01-27 15:11] sourabhx003 commented on #8892
Out of above : "detection" works but
create a folder <Your Folder> and paste config file from pretrained model into it.
And then

!python model_main_tf2.py --pipeline_config_path=<your config file> --model_dir=<Your folder> --alsologtostderr

[2021-01-28 01:35] ysefwakil commented on #9633
I decided to not use roboflow for conversion of xml and just follow the exact same steps and my model worked.

[2021-01-28 04:09] saikumarchalla commented on #9633
@ysefwakil  Please go ahead and close the issue if it is resolved for you. Thanks!

[2021-01-28 06:00] elvinest commented on #9666
I had the same issue.

[2021-01-28 07:36] rohit220594 opened #9679 "not able to create model for export_inference_graph.py"
python3 export_inference_graph.py --input_type image_tensor --pipeline_config_path training/ssd_mobilenet_v1_pets.config --trained_checkpoint_prefix training/model.ckpt-2822 --output_directory inference_graph1
WARNING:tensorflow:From /Users/cronj/Documents/custom/models/research/object_detection/object_detection.py:64: The name tf.GraphDef is deprecated. Please use tf.compat.v1.GraphDef instead.

[2021-01-28 08:34] xumengwei commented on #8935
Guys, is it supported now? I believe it's an important feature that many people need.

[2021-01-28 08:38] #9633 closed

[2021-01-28 09:15] 2vin2vin opened #9680 "training doesn't start"
**it stops over here**
I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2999995000 Hz

**and the event file in the train folder is**
Error! train/events.out.tfevents.xxxxxxxxxxxxx.v2 is not UTF-8 encoded
Saving disabled
See console for more details

[2021-01-28 10:27] ravikyram commented on #9680
@2vin2vin

Please, fill [issue template.](https://github.com/tensorflow/models/issues/new/choose).
Please, let us know which pretrained model you are using and share related code .
What is the top-level directory of the model you are using.Thanks!

[2021-01-28 11:01] #9626 closed

[2021-01-28 12:13] Slyne opened #9681 "convert transformer model to tftrt: node xxx has inputs from different frames"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ yes ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ yes ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ yes ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file yo

[2021-01-28 12:56] zhanggyarcher commented on #7640
Windows 10 1909
Python 3.7.9
tf-nightly 2.5.0
CUDA 11.0.2
cuDNN 8.05
RTX 3090

`pciBusID: 0000:02:00.0 name: GeForce RTX 3090 computeCapability: 8.6
coreClock: 1.86GHz coreCount: 82 deviceMemorySize: 24.00GiB deviceMemoryBandwidth: 871.81GiB/s
2021-01-28 20:43:30.629553: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1898] Adding visible gpu devices: 0
2021-01-28 20:43:30.634386: I tensorflow/

[2021-01-28 13:50] qraleq commented on #9602
@tombstone @pkulzc Can you please check this and provide some guidance, please?

[2021-01-28 14:00] ravikyram commented on #9589
@theumang100

As suggested by @saberkun please submit a new issue in Tensorflow repo by filling issue template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) . Thanks!

[2021-01-28 15:18] JanderHungrige commented on #9126
Same issue with ssd_mobilenet_v2
I tried `model_main` and  `model_main_tf2.py`

TF version 2.4.1, python3.6 / 3.7

[my stackpost](https://stackoverflow.com/questions/65938445/tensorflow-objct-detection-api-error-valueerror-ssd-mobilenet-v2-is-not-suppor)

I checked in `model_builder.py`, but in line 185, the `ssd_mobilenet_v2` is included as feature extractor, so should not throw an error.

[2021-01-28 15:31] 2vin2vin commented on #9680
I am using centernet resnet50 v1 fpn 512x512 coco17 tpu-8
I solved it, the problem was that in the pipeline I put detection and also my records file was empty

[2021-01-28 15:31] #9680 closed

[2021-01-28 15:57] msalvaris commented on #9414
Bump, any update?

[2021-01-28 16:53] Siddhijain16 opened #9682 "Hi,"

[2021-01-28 16:55] #9682 closed

[2021-01-28 17:28] Siddhijain16 opened #9683 "IndexError: invalid index to scalar variable."
Hi,
I used the [eager_few_shot_od_training_tflite.ipynb](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb) to train a model then generate a (downloadable) TensorFlow Lite model for on-device inference using the same predefined dataset files(ducky) as described in the notebook. I am able to generated model.tflite file

[2021-01-28 17:32] Rakesh1802 commented on #4236
@TheoPaput  Thanks brother!!! it worked, you saved me a lot of time😊

[2021-01-28 21:26] sgc445 commented on #5445
Is it true? Please someone confirm please.

[2021-01-29 01:18] SinDongHwan commented on #6273
Hi, @shelkesagar29.
I faced the same situation.

I had trained two case models with a same own dataset.

1) first tried to fine-tuning a model 'faster_resnet101_coco', i reached good mAP.
2) second tried to fine-tuning a model 'ssd_resnet50_v1_fpn', i reached bad mAP.(like mAP graph on your tensorboard)

how did you solve a problem?

[2021-01-29 02:00] levimcclenny opened #9684 "Physics-Informed Deep Learning implementations in models/research?"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [X] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/

## 2. Describe the feature you request

Curious if anyone has considered adding Physics-Informed Neural Networks to

[2021-01-29 03:06] xumengwei commented on #9556
@sachinkmohan Sorry for the late response. I've tried the way you mentioned but failed. I can load it with tf.saved_model.load, but not into keras format. I think this issue has been mentioned many times such as [here](https://github.com/tensorflow/models/issues/9087). Can you give it a try to load the [pre-trained OD model](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_m

[2021-01-29 03:25] rushitnshah commented on #7998
Upgrading to Tensorflow 2.0 works best.

Upgrading to Tensorflow 2.0 works best.

[2021-01-29 04:41] ngotra2710 commented on #8331
I set inplace_batchnorm_update: false and train normally. However, I want a quantization model. If I set false at the variable. The model is not quantized. Can someone show that how to fix the config (even inside the code) to make quantized ssdmobilenetv3?

[2021-01-29 06:32] aparico commented on #9589
Here's a possible solution:

https://github.com/hunglc007/tensorflow-yolov4-tflite/issues/285#issuecomment-759416899

[2021-01-29 08:01] #9590 closed

[2021-01-29 09:19] BounSweFerhatSal commented on #9209
A bit late but , I think the problem is just about specifying the path correctly.

I got the same error when I use the --trained_checkpoint_dir parameter as  `\models\faster_rcnn_resnet50_v1_1024x1024_coco17_tpu-8\v1\ ` , then I realized I've forgotten the '.' ! So the correct path should be : `.\models\faster_rcnn_resnet50_v1_1024x1024_coco17_tpu-8\v1\ ` . After this little touch , everything wor

[2021-01-29 09:46] JanderHungrige commented on #1897
Hi, I solved it by using the ubuntu text editor directly. Before it was opened by LibreOffice writer. At saving it asked me for the format and I saved as txt. That created the error. Using the text editor directly keep the .record form.

[2021-01-29 12:07] xumengwei opened #9685 "Load Object Detection Model into Keras format"
Is there any way that I can load the models from the [OD model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) into a keras format, so that I can use tfmot tool with it? Simply using tf.keras.models.load_model doesn't work:

`WARNING:tensorflow:SavedModel saved prior to TF 2.5 detected when loading Keras model. Please ensure that you are

[2021-01-29 16:33] Zumbalamambo opened #9687 "Training Delf"
How do I train delf?

[2021-01-29 17:24] srjoglekar246 commented on #9414
Looks like the Research team had other priorities last couple of months :-(.
We have started training a MobileNet version of CenterNet, but that might take some time to land. I tried using our scripts to convert CenterNet, but looks like the older versions in the detection zoo don't do well with TFLite.

To help move things forward for you in the meantime, can you specify whether you require both

[2021-01-29 18:05] srjoglekar246 commented on #9655
@shazz Did your issue get resolved?

[2021-01-30 11:46] IvyGongoogle opened #9689 "Why the score_threshold is 100 in delf_config_example.pbtxt?"
hello, I have a question.
In the `research/delf/delf/python/examples/delf_config_example.pbtxt`, the [score_threshold](https://github.com/tensorflow/models/blob/master/research/delf/delf/python/examples/delf_config_example.pbtxt#L18) is `100.0`, and in the `research/delf/delf/python/training/model/export_model_utils.py`  I see the [attention_prob >= abs_thres](https://github.com/tensorflow/models/

[2021-01-30 13:01] msalvaris commented on #9414
Thanks @srjoglekar246.  At the moment just care about the bounding box output

[2021-01-30 14:45] AdityaNikhil commented on #8713
@jaeyounkim I would like to start working on this. I request you to please assign this to me.

[2021-01-30 17:09] shazz commented on #9655
Unfortunately no, later parts in the code also expect only one class. I'll post the details on Monday.

[2021-01-30 19:35] rabiaathar commented on #7641
@Krishna2709  did you find anything?

[2021-01-31 00:26] Sahanave commented on #9209
I faced the same error, I would double-check that the trained_checkpoint_dir points to the output_dir/ training_dir(the directory) wherever the training script dumped the training artifacts.

[2021-01-31 00:30] Sahanave opened #9690 "FlagValues not intialized"
When I try to run the export_inference_graph.py command via the command line it works.
After I refactored the code so that I can call the export_inference_graph function of the exporter_lib_v2  from another script, the flags verbosity,v, etc are not initialized and the program crashes.

[2021-01-31 04:08] AdityaNikhil commented on #8715
Working on it 👍

[2021-01-31 05:19] 1advait commented on #4657
I am also having the same issue :
cuda 9
windows 10
cudnn 7.1.3
tensorflow==1.5
![issue](https://user-images.githubusercontent.com/75311266/106375426-eb1f7280-63b1-11eb-9931-82f511591c10.png)
pleaase any one help me.

[2021-01-31 05:30] 1advait commented on #3011
may you please solve my problem also I am suffering with the same problem .
![issue](https://user-images.githubusercontent.com/75311266/106375601-71888400-63b3-11eb-9634-c9e41b45097a.png)
please answer as soon as possible I am suffering from a long span of time.please help

[2021-01-31 08:53] ebrarsahin opened #9691 "Please HELP!!"
Windows fatal exception: access violation

Current thread 0x00004b10 (most recent call first):
  File "C:\Users\shneb\Anaconda3\envs\forest\lib\site-packages\tensorflow_core\python\lib\io\file_io.py", line 84 in _preread_check
  File "C:\Users\shneb\Anaconda3\envs\forest\lib\site-packages\tensorflow_core\python\lib\io\file_io.py", line 122 in read
  File "C:\Users\shneb\Anaconda3\envs\forest\lib\s

[2021-01-31 14:11] saikumarchalla commented on #9685
Duplicate issues: #9087 #9556

[2021-01-31 14:20] xumengwei commented on #9685
@saikumarchalla Sorry for the duplicates. When digging into this, I found there're many people needing this feature. Please let us know if there's any solution, or it just cannot be done at this point?

[2021-01-31 14:25] #9691 closed

[2021-01-31 20:37] #9690 closed

[2021-01-31 20:48] michielva commented on #9115
Hi @LaraNeves,

Sorry it took a while for me to respond, I was working on other cases.
I am using EfficientDet-D1 model with pretrained weights on the COCO dataset.
The mAP's I am getting are quite high on my last test set.
mAP@.50IoU was 0.997 and mAP@.50;.05;.95IoU was about 0.545.
So the model was able to find almost all objects, however the bounding boxes were far from pixel perfect.

But I do

[2021-02-01 04:02] xpdrycry opened #9693 "change YAMNet for micro，We're having trouble"
# Prerequisites
 tensorflow version : 2.4.0
code:
import tensorflow as tf
saved_model_dir = 'yamnet'
# Convert the model
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir) # path to the SavedModel directory
tflite_model = converter.convert()

# Save the model.
with open('model.tflite', 'wb') as f:
  f.write(tflite_model)
output:
<unknown>:0: error: failed while converting: 'main

[2021-02-01 06:41] IvyGongoogle commented on #9689
need help.

[2021-02-01 07:11] Siddhijain16 opened #9694 "IndexError: invalid index to scalar variable."
Hi,
I used the [eager_few_shot_od_training_tflite.ipynb](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb) to train a model then generate a (downloadable) TensorFlow Lite model for on-device inference using the same predefined dataset files(ducky) as described in the notebook. I am able to generated model.tflite file

[2021-02-01 07:12] #9683 closed

[2021-02-01 08:28] ravikyram commented on #9693
@xpdrycry

Please, share colab link or simple standalone code with proper indentation and with supporting files(model files) to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2021-02-01 09:48] saikumarchalla commented on #9694
@Siddhijain16   It seems you are iterating  the testing data  which is a scalar value.  Please  have a look at this [issue](https://stackoverflow.com/questions/32978575/how-to-fix-indexerror-invalid-index-to-scalar-variable) for more information.

Hope it helps you. Thanks!

[2021-02-01 09:51] ravikyram commented on #9687
@Zumbalamambo

Please, refer the below link which has detailed instructions to train delf.
https://github.com/tensorflow/models/blob/master/research/delf/delf/python/training/README.md

[2021-02-01 11:23] Siddhijain16 commented on #9694
Hi @saikumarchalla ,
I am using the exactly same file https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb to train a model on  a novel class(ducky)

test_image_dir = 'models/research/object_detection/test_images/ducky/test/'
test_images_np = []
for i in range(1, 50):
  image_path = os.path.join(test_image_dir, 'out' + s

[2021-02-01 15:16] saikumarchalla commented on #9679
@rohit220594  Could you please check whether the frozen_inference_graph.pb file is in proper path  or not. Thanks!

[2021-02-01 15:31] Hrayo712 commented on #7561
Hello @BraginIvan

I hope you're doing well. I am trying to do a similar thing, so I was wondering if you managed to reproduce the results you were looking for, and if so, with which configuration settings.

[2021-02-01 15:35] BraginIvan commented on #7561
This works.
https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs/ssd_mobilenet_v1_300x300_coco14_sync.config
I trained on Google TPU and it took ~5-8 hours.

Also tried on local RTX 2080TI with smaller batchsize and learning rate and got almost the same result as on TPU but it took 6 days.

[2021-02-01 15:39] Hrayo712 commented on #7561
@BraginIvan

Thanks for the quick response. Did you tried with SSD mobilenetv2 as well ? by any chance

[2021-02-01 15:43] BraginIvan commented on #7561
No, I developed for specific device and MobileNet V1 was faster then MobileNet V2

[2021-02-01 16:31] tmori2918 opened #9695 "How do I get Precision and Recall to be calculated together when I run model_main_tf2.py ?"
Hello, I usually create my models by using Tensorflow2 Object Detection API and my original data.

When I create a model, I always only see the Loss graph in Tensorboard.
I know that if I run model_main_tf2.py with the option "--checkpoint_dir" after creating the model, Precison and Recall will be calculated.
However, I want to check the progress of learning while calculating Precision and Recall

[2021-02-01 17:04] srjoglekar246 commented on #9414
You can try the SSD MobileNet V2 FPNLite 640x640 model from the [detection zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). It seems to have a comparable mAP to the CenterNet model, for bounding box output. See [this guide](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md) for conve

[2021-02-01 17:26] andrefaraujo commented on #9689
The right `score_threshold` to use depends on the model you are using. Usually, for the models we released, the `attention_prob` scores are in the range of hundreds, and setting to `100.0` tends to be a good choice.

What model are you using for these experiments? Is it a pretrained one, or one that you trained yourself? For the model in `delf_config_example.pbtxt`, the score of `100.0` is a reaso

[2021-02-01 17:26] #9689 closed

[2021-02-01 21:06] shazz commented on #9655
Hi @srjoglekar246,

That we have tried as suggested:
[code]

But in the next cell, the sanity check fails as all boxes are tagged `rubber_ducky`. So I guess there is something missing to map which gt_boxes are `rubber_pigeon` and which gt_boxes are `rubber_ducky`  in:

[code]

Are do you make this distinction ?

Thanks!

[2021-02-01 21:31] srjoglekar246 commented on #9655
Yup. Looking at the [documentation](https://www.tensorflow.org/api_docs/python/tf/one_hot) for `tf.one_hot`, the `zero_indexed_groundtruth_classes` should be a list of all class indices that are true for the training image (after subtracting label_id_offset).

It might be helpful to print out what some of these tensors are, to manipulate them accordingly. IIUC, `gt_box_np.shape[0]` is always 1, so

[2021-02-01 22:18] lorynebissuel commented on #9655
Hello,
I'm working with @shazz. Based on your answer this is what we changed. Does it make sense to you?

[code]

Still waiting for the result as it takes time to train. Thanks :) !

[2021-02-01 22:30] srjoglekar246 commented on #9655
I think this should work, atleast for the correct class labels part :-)

[2021-02-02 00:59] digiwang opened #9697 "Creating TFRecords from COCO v1.0 Annotations"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [X] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are using

[2021-02-02 02:45] prabh27 commented on #3136
any updates on the issue? I face the same problem. GPU utilization is 4% - 9%

[2021-02-02 05:40] theumang100 commented on #9589
yeh it's work for me. Thanks!!

[2021-02-02 06:02] ravikyram commented on #9589
@theumang100

Please, close this thread if your issue was resolved. Thanks!

[2021-02-02 11:06] theumang100 commented on #9589
Ohk, here the issue will resolve by changing tensorflow version. But it's not working for all the version of tensorflow. So currently i'm closing the issue.

[2021-02-02 11:06] #9589 closed

[2021-02-02 17:39] intouch1233 opened #9698 "Why can't I do the extract feature (DELF)?"
I have trained my own data and this is the script I use.

**Training**

python3 train.py   --train_file_pattern=/home/sornnarong/workspace/share_drive_31/dataset/AiProducts-Challenge-master/tfrecord2/train*   --validation_file_pattern=/home/sornnarong/workspace/share_drive_31/dataset/AiProducts-Challenge-master/tfrecord2/validation*   --imagenet_checkpoint=resnet50_weights_tf_dim_ordering_tf_kerne

[2021-02-02 17:55] jvishnuvardhan commented on #9635
@ChowderII Can you please share a simple standalone code with your saved model to reproduce the issue? Thanks!

[2021-02-02 20:08] areiner-novetta opened #9699 "Documentation and Examples for BertPretrainer(V2)"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [+] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/blob/master/official/nlp/modeling/models/bert_pretrainer.py

## 2. Describe the issue

I'm attempting to use BertPretrainer(V2) and the

[2021-02-03 00:21] danielspicar opened #9700 "exporter_main_v2.py error: TypeError: map_fn_v2() got an unexpected keyword argument 'fn_output_signature'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [ x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [ x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are usi

[2021-02-03 01:16] aii-jayson commented on #9502
similar situation here. @SamLee514 did you get any workaround?

[2021-02-03 02:05] SamLee514 commented on #9502
@aii-jayson unfortunately not :(, just been working with other models in the meantime

[2021-02-03 05:29] saberkun commented on #9699
BertPretrainerV2 is used in https://github.com/tensorflow/models/blob/master/official/nlp/tasks/masked_lm.py and we have corresponding unit tests for it.

For your problems, (1) sorry, I don't think the implementation support ragged inputs of positions. In fact, we only tested with fixed shape tensors; (2) In the masked_lm.py, we are doing masking and only use the loss of tokens that have weights

[2021-02-03 05:45] PrimeshShamilka commented on #9467
Hi, I'm trying to re-create this issue, @techds could you please share the pipeline.config file? I couldn't find any reference to the pipeline.config file in the repo, I believe it's a custom configured pipeline.

[2021-02-03 11:43] anand08 commented on #8953
Hey @khu834 , i'm also getting the same error while training the model

`# SSD with Mobilenet v2
# Trained on COCO17, initialized from Imagenet classification checkpoint
# Train on TPU-8
#
# Achieves 22.2 mAP on COCO17 Val

model {
  ssd {
    inplace_batchnorm_update: true
    freeze_batchnorm: false
    num_classes: 1
    box_coder {
      faster_rcnn_box_coder {
        y_scale: 10.0
        x_

[2021-02-03 13:06] JJonahJson commented on #8844
@pkulzc  The problem is that currently the TF2 installation for C ++ is far from working, and the OpenCV method readNetFromTensorFlow requires the frozen inference graph and the pbtxt file that TF1 provided. There are a lot of workarounds suggested by many users but no one works, at least for the Mask R-CNN Inception Resnet V2 model. Have you got any suggestion on how to proceed? Do you have any i

[2021-02-03 16:42] mohammedayub44 commented on #4778
Just ran into the same issues this week while training. I will try the changes proposed by @ChowderII
Surprising that this is not fixed officially as of yet.

[2021-02-03 17:21] srjoglekar246 commented on #9694
Hey @Siddhijain16 how many classes have you trained on? Also, it looks like your TFLite model hasn't come out right. Could you download it and share, if possible (no need to fully train)?

[2021-02-03 17:37] sydleither commented on #9634
Hey! Tensorflow has a package tf-models-official that is keeping your Tensorflow version as 2.4 instead of 2.2. To fix this, what I did was:
[code]
Now your Tensorflow version is 2.2 and it should all work correctly!

[2021-02-03 17:52] Siddhijain16 commented on #9694
For a single class duck.
here is my model
[model.zip](https://github.com/tensorflow/models/files/5920452/model.zip)

I want to trained for my custom classes but before that I tried to train it on the same class (ducky) given in that notebook.

[2021-02-03 17:54] ianferreira commented on #9272
@androuino
I have the same error. Using the pipeline config that is in the model tar and getting error with checkpoint restore.
`nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Sun_Jul_28_19:12:52_Pacific_Daylight_Time_2019
Cuda compilation tools, release 10.1, V10.1.243`

and with TF / Python version

`Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 2

[2021-02-03 17:54] srjoglekar246 commented on #9694
@Siddhijain16 What version of TF are you running? We added this support recently, so maybe try the latest nightly (or TF 2.4 or later)?

[2021-02-03 17:57] Siddhijain16 commented on #9694
@srjoglekar246 I am using TF nightly2.5.0-dev20210203

[2021-02-03 18:07] srjoglekar246 commented on #9694
That is an empty model. Hence, it always returns 0. If you used TF version > 2.3 *while generating the model* (was it in the Colab environment?), then the model should be larger than 1.5kb. You need TF nightly while generating/converting the model too, then things should work.

[2021-02-03 18:11] Siddhijain16 commented on #9694
Yes it is in Colab environment but Iam using TF nightly2.5.0-dev20210203 which is > 2.3 ,so why it is generating empty model ?

[2021-02-03 20:13] khu834 commented on #8953
I have tested ssd_mobilenet_v2 training and export on TF 2.4.0 it has worked fine.
Can you try the following?
* Train from scratch and export (not using the fine_tuning_checkpoint)
* Try and export the checkpoint to see if it works.

If the fine_tuning_checkpoint and your training config are both in the 'detection' format, the export should work.

[2021-02-03 21:08] areiner-novetta commented on #9699
Thanks for the speedy response!  My impression from reading through this is that it's relatively new and some features may not be full fleshed out.  In particular, all examples appear to use batch-size of 1 and num_token_predictions=20.  In my particular application, both these numbers will be variable and implementation complexity will ramp up quickly.

I feel like the major problem I have is the

[2021-02-03 22:05] saberkun commented on #9699
Yes, you have good thoughts. First of all, the code works on TPU usually needs to be relatively static shape. The dynamic operations are not well compiled/optimized.
Second, I do see your approach with ragged inputs in other gpu libraries.
Lastly, the input processing script we have now generated fixed number of max masked tokens with padding.
Right now, we are gathering a fixed number of position

[2021-02-03 23:19] ASMIftekhar commented on #6106
Same issue, keep alive.

[2021-02-04 06:31] Amarnathde commented on #9491
I have the same problem:
`WARNING:tensorflow:Skipping full serialization of Keras layer <object_detection.meta_architectures.ssd_meta_arch.SSDMetaArch object at 0x164dedc50>, because it is not built.
[02/04 11:11:58] tensorflow WARNING: Skipping full serialization of Keras layer <object_detection.meta_architectures.ssd_meta_arch.SSDMetaArch object at 0x164dedc50>, because it is not built.
2021-02-

[2021-02-04 07:55] sourangshupal commented on #9544
Webcam testing not working getting the same error. Any workaround?

[2021-02-04 09:43] Adrian-Fleck commented on #3316
The Error ist also There for me

[2021-02-04 10:22] aniketchopade commented on #8274
I faced the same error but then I realized I forgot to mention prefix resnet50/

[code]

[2021-02-04 12:36] Bueddi opened #9701 "Different loading time of models depending on used distro"
Hey tf-team,
I have an question about loading models in two diffrent distributions (windows + manjaro linux). I want to load the same model with labels using `tf.saved_model.load()`.
On manjaro linux it last round about 60 seconds, on windows up to 260 seconds.
Why is there such a diffrent loading time?

On both distros I'm using:
tf2
CUDA10.1
CUDNN7.1

[2021-02-04 13:08] ozlemalci commented on #8516
I completede project ,thanks

[2021-02-04 13:08] #8516 closed

[2021-02-04 17:27] areiner-novetta commented on #9699
Thanks for the feedback.  I will close this issue for now but will be keeping an eye on this code for further developments.  At least you linked me to that concrete example from the `tasks` directory.  Thanks.

[2021-02-04 17:27] #9699 closed

[2021-02-04 18:07] Siddhijain16 commented on #9694
Hi @srjoglekar246
I am now able to generate tflite model file of size 11.5 MB but when in an app its not working ..
Any suggestion...

[2021-02-04 18:16] srjoglekar246 commented on #9694
What is the error? How do you use it in the app?

[2021-02-04 18:33] Siddhijain16 commented on #9694
@srjoglekar246  I made flutter app using some boilerplate code. In that code I pass my tflite model file.
Have you also made the app?

[2021-02-04 19:12] srjoglekar246 commented on #9694
Aah no I don't have a lot of experience with the app, I just work on the TensorFlow Lite team :-)
Does the model now work in the Colab?

For the app, take a look at [this code](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/lib_interpreter/src/main/java/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.java#L167) from our [androi

[2021-02-04 20:55] angelaunique opened #9702 "The object detection API demo is not working"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-02-04 22:11] stevelaclasse opened #9703 "Pretrained Models number of classes doesnt match own dataset number of classes : Cannot assign to variable WeightSharedConvolutionalBoxPredictor/WeightSharedConvolutionalClassHead/ClassPredictor/bias:0 due to variable shape (18,) and value shape (546,) are incompatible"
Hello Everyone,

i am trying to train a custom detection model with just 2 classes (car and person), from a pretrained model (resnet), i am using this tutorial : [https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html](url).

I successfully generated the record file for the train and test, but when i start the training, i got the following error :

I assumed it com

[2021-02-05 00:53] andrefaraujo commented on #9698
Thanks for the detailed notes, very helpful for debugging. I believe I found the issue.

Quick hack to make it work: edit [here](https://github.com/tensorflow/models/blob/master/research/delf/delf/python/training/model/export_model_utils.py#L75) the `feature_depth` to 128 (or whatever dimension you used for the autoencoder), instead of 1024. Then re-export the model, and extraction should work at

[2021-02-05 01:46] supersteph opened #9704 "RTE SuperGLUE preprocessor"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this feature has not been requested already.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/official/...

## 2. Describe the feature you request
an RTE preprocessor specifically for SuperGLUE

## 3. Additional context

[2021-02-05 04:34] pranavgundewar commented on #8666
Did you solve this issue?

[2021-02-05 06:32] saberkun commented on #9697
Fixed by https://github.com/tensorflow/models/commit/fb6e611af030db2374230919d6467b23aa988388.
Thanks for reporting.

[2021-02-05 06:32] #9697 closed

[2021-02-05 07:04] dan-anghel commented on #9698
Hi @andrefaraujo ! Sure, I can take a look at it and make the changes.

[2021-02-05 08:26] MoscowskyAnton commented on #5296
Hello!
I did exactly you mentioned, but when start training it says that shuffle buffer is still 2048
`2021-02-05 11:19:52.076080: I tensorflow/core/kernels/data/shuffle_dataset_op.cc:177] Filling up shuffle buffer (this may take a while): 1417 of 2048`
Any suggestions?

[2021-02-05 10:11] FalconMadhab commented on #9209
Whichever checkpoint path you want to use just specify in the checkpoint file. It will load data from that specific checkpoint file. Make sure that ckpt-XX.data and ckpt-XX.index are also available in the same folder as the checkpoint file.
![Capture](https://user-images.githubusercontent.com/32309032/107020084-6e80ff80-67c8-11eb-809f-0be474607115.PNG)

[2021-02-05 13:05] Siddhijain16 commented on #9694
Yes it's working in colab.
Thanks I will go through those links..

[2021-02-05 13:54] Homayra22 commented on #5753
Hi, I am having the error

(object) C:\Users\homay\OneDrive\Documents\Object API\models\research\object_detection>python train.py --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.config --logtostderr
Traceback (most recent call last):
  File "C:\Users\homay\OneDrive\Documents\Object API\models\research\object_detection\train.py", line 48, in <module>
    import tensorflo

[2021-02-05 13:56] Homayra22 opened #9705 "Problem Object API\models\research\object_detection>python train.py --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.config --logtostderr"
(object) C:\Users\homay\OneDrive\Documents\Object API\models\research\object_detection>python train.py --train_dir=training/ --pipeline_config_path=training/ssd_mobilenet_v1_pets.config --logtostderr
Traceback (most recent call last):
  File "C:\Users\homay\OneDrive\Documents\Object API\models\research\object_detection\train.py", line 48, in <module>
    import tensorflow as tf
ModuleNotFoundError

[2021-02-05 14:20] saikumarchalla commented on #9701
@Bueddi  Could you please let me know which model are you trying to load?. Thanks!

[2021-02-05 14:30] aniketbote opened #9706 "NotImplementedError: Cannot convert a symbolic Tensor (strided_slice:0) to a numpy array."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

https://git

[2021-02-05 14:37] omar16100 commented on #9655
@lorynebissuel @shazz Is it working now?

[2021-02-05 15:44] Siddhijain16 commented on #9694
Hi @srjoglekar246
I have one doubt , the size of my actual model file (saved_model.pb) is of 11 MB but when I converted into tflite, it's size become 50 MB. As it has to be compressed but it's size increased. Why is it so ? Any suggestion ....
I used this piece of code to convert my model into tflite-

import tensorflow as tf
converter = tf.lite.TFLiteConverter.from_saved_model('/content/drive/MyD

[2021-02-05 17:05] ravikyram commented on #9705
@Homayra22

 What is your cpu make/model?
I suspect that your cpu does not support AVX instructtion sets.See [hardware requirements](https://www.tensorflow.org/install/pip#hardware-requirements).
Check if your Python is for 32- or 64-bit installation?. IT should be 64 bit.
Also, can you create a fresh environment and then try to install Tensorflow. and let us know if the issue still persists. Than

[2021-02-05 19:14] Homayra22 commented on #9705
My CPU is Corei5, 8 gm RAM.
I am using Tensor flow 1.12
My Python is  3.8- 64 bit
I am trying to create a new environment for my anaconda tensor flow. In the anaconda navigator the  available tensor flow package is 2.3.0 but I require 1.12 or 1.15. Can you please help me how can I install tensor flow 1.12 or 1.15 in anaconda navigator?

[2021-02-05 20:00] saberkun commented on #9657
@chenGitHuber @arashwan

[2021-02-05 22:20] dademiller360 commented on #9706
**System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Archlinux
TensorFlow installed from (source or binary): PIP
TensorFlow version (use command below): 2.4.1
Python version: 3.8
CUDA/cuDNN version: cudaToolkit 10.1 cuDnn 7.6.5
GPU model and memory: Quadro M2000**

I have the same error **if** I use numpy 1.2.0
`NotImplementedError: Cannot convert a symbolic Tensor (cond_2

[2021-02-06 10:58] Chop1 opened #9708 "floating precision & bfloat on GPU"
## 2. Describe the issue

When constructing a model with the tensorflow 2 object detection API, what is the floating precision used during training ?

Also, the pipeline.config used to configurate a model offer the possibility to use "bfloat". Is this possible on GPU or is it limited to TPU ?

[2021-02-06 16:54] dademiller360 commented on #9706
fixed using python 3.6

[2021-02-06 17:18] aniketbote commented on #9706
Thank you @dademiller360 changing the Python version from 3.8 to 3.6 fixed the issue.
@saikumarchalla Can you clarify if this is intended behavior or a bug? If it's not a bug you can close the issue.

[2021-02-06 19:09] himanshu-dutta commented on #6752
I am interested in adding this implementation. Is it still up for grabs?

[2021-02-06 20:24] andrivm11 opened #9710 "Problem when there are several boxes in a same image"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [Yes, I am ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [Yes ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [Yes, I checked ] I checked to make sure that this issue has not already been filed.

## 1. The entire URL

[2021-02-07 01:37] hankster opened #9711 "Object Detection API installation fails on a Raspberry Pi 4"
I'm trying to install the Object Detection API using a Raspberry Pi 4 with all the latest updates (Raspbian Linux raspberrypi-4a 5.4.83-v7l+ #1379 SMP Mon Dec 14 13:11:54 GMT 2020 armv7l GNU/Linux).

Following the guide exactly as written. Starts out ok and then downloads maybe 35 versions of "scipy" and multiple versions of other packages. Ran it all day and it never completed.

root@raspberrypi-

[2021-02-07 04:06] Neway6655 opened #9712 "Object Detection model failed to predict some pics."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x] I checked to make sure that this issue has not already been filed.

## 1. The entire URL of the file you are using

[2021-02-07 06:29] xpdrycry opened #9713 "How to use yamnet model for microprocessor?"
tensorflow provide 3 type yamnet for computer , js , lite,but not for microprocessor,can you provide yamnet model for microprocees?

[2021-02-07 06:30] xpdrycry commented on #9693
tensorflow provide 3 type yamnet for computer , js , lite,but not for microprocessor,can you provide yamnet model for microprocees?

[2021-02-07 09:24] Bueddi commented on #9701
@saikumarchalla I loaded "CenterNet HourGlass104 1024x1024".

[2021-02-07 11:54] kakkaranupam commented on #9527
Hi,
Is there any update on this issue? i am facing the same while trying to train a Mask RCNN Inception Resnet v2 on custom dataset.

[2021-02-07 17:03] arastogi1997 opened #9714 "[DeepLab] How to use my own tf_initial_checkpoint, specifically the resulting graph from a model trained on deeplab the usual way on another dataset?"
In DeepLab v3+, I have managed to my own dataset and train on it using a tf_initial_checkpoint from pascalvoc pre-trained models provided at the Model Zoo. These were some parameters as set during training.

--initialize_last_layer=False \
--last_layers_contain_logits_only=True \
--fine_tune_batch_norm=True \

Now I have the resulting model checkpoints and a frozen graph export (.pb) from this tra

[2021-02-07 17:57] Tieckby opened #9720 "Why does the training SSD MobileNet V2 on GPU don't get more accuracy ?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): I used google colab for the training model
- TensorFlow version (use command below): 1.15.2 on Colab
- Python version: 3.6
- GPU model and memory: Colab GPU

**Describe the current behavior**
After training my ssd mobilenet model on colab with GPU and 500000 steps during 2 days, I have got bad accuracy.
But when I tr

[2021-02-07 20:21] saberkun commented on #9708
In theory, this should be easy to configure: https://www.tensorflow.org/guide/mixed_precision
I don't know much of the OD API code base. Need the OD API team to answer where to add the mixed precision call.

[2021-02-07 22:51] ValYouW opened #9715 "SSD Mobilenet v2 reported as 320x320 but is 300x300"
In the TensorFlow 2 Detection Model Zoo the model `SSD MobileNet v2 320x320` is actually expecting a 300x300 image.
From the pipeline.config of [this](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz) file:
[code]

Should rename the model...

[2021-02-08 03:33] hglx opened #9716 "checkpoint files have no ".meta" file"
hello
tensorflow version : 2.4.0
config:  ssd_resnet50_v1_fpn_shared_box_predictor_640x640_coco14_sync.config ; and I change feature_extractor type from "ssd_resnet50_v1_fpn" to "ssd_resnet50_v1_fpn_keras" ;
when I run "model_main_tf2.py" , my model file only has "ckpt.data" and "ckpt.index", but no "ckpt.meta"
![1](https://user-images.githubusercontent.com/64958634/107172853-5cd66c80-6a01-11eb-8c

[2021-02-08 04:52] ravikyram commented on #9705
@Homayra22

Please, see tested build configurations for [windows](https://www.tensorflow.org/install/source_windows#cpu) and [linux](https://www.tensorflow.org/install/source#cpu) . Please try with python 3.6 and see if the issue still persists. Thanks!

[2021-02-08 05:41] arashwan commented on #7188
The image sizes don't need to be the same for transfer learning purpose. We do train image classifier on 224x224, and use trained checkpoints to train detectors on image sizes of 640x640 and 1024x1024.

[2021-02-08 06:58] jaeyounkim commented on #8715
YOLOv3 & v4 implementations will be completed soon.
Please check https://github.com/tensorflow/models/tree/master/official/vision/beta/projects/yolo

[2021-02-08 06:58] #8715 closed

[2021-02-08 06:59] arashwan commented on #9657
I think that issue is caused by missing __init__.py files inside some folders. For some reason, pip excludes folders that don't include __init__.py files. The following commit should fix the issue (https://github.com/tensorflow/models/commit/736f653c1377e9f16ee9dec5ccb4186538bc45f9), you will need to install using ```pip install tf-models-nightly``` until the 2.4.0 version is fixed.

[2021-02-08 07:36] dademiller360 commented on #9151
I'm trying to train the EfficientDet d0 512x512, but it doesn't seem to converge.

batch_size: 4
learning_rate_base: 0.00249999994412064
total_steps: 300000
warmup_learning_rate: 0.0010000000474974513
warmup_steps: 2500

![image](https://user-images.githubusercontent.com/78317189/107188852-b41c1300-69e8-11eb-9175-a8eb21c623d1.png)

any tips?

[2021-02-08 07:57] koolvn commented on #9151
@dademiller360 sims like learning rate is too high for your batch size. Try dividing LR by 10 or 100

[2021-02-08 09:52] advaza commented on #9298
My workaround in `utils/autoaugment_utils.py` :

[code]

[2021-02-08 09:53] advaza commented on #9379
My workaround in `utils/autoaugment_utils.py` :

[code]

[2021-02-08 13:47] stevelaclasse commented on #9703
I have change the model for Mobilnet, but the same Error :

    raise ValueError(
ValueError: Cannot assign to variable ssd_mobile_net_v2fpn_keras_feature_extractor/bottom_up_Conv2d_20_batchnorm/beta:0 due to variable shape (128,) and value shape (256,) are incompatible

[2021-02-08 14:35] dpwe commented on #9693
Duplicate of #9713

[2021-02-08 14:35] #9693 closed

[2021-02-08 14:57] dpwe commented on #9713
Based on the content in #961, I believe OP is looking for a tflite conversion for int8 data types, e.g.

  converter.inference_input_type = tf.int8

We don't support this at present.  We've run with int8 calculations internally, but the waveform input requires int16 resolution at a minimum, and a good 8-bit deployment will probably need to separate waveform preprocessing from deep net computation.

[2021-02-08 15:37] Chop1 commented on #9294
It is still not working for me. Not sure why it is closed.

[2021-02-08 16:50] stevelaclasse commented on #9703
I have edited the pipeline.config file and left **num_classes:90**, and i don't get that error. So like i suggested the error may come from the number of classes

[2021-02-08 17:25] jaeyounkim opened #9717 "[Help wanted] CenterNet: Objects as Points"
# Help wanted

Please help us to improve the implementation of the following research papers using TensorFlow 2.

If you want to contribute, please leave a comment to express your interest.

## Research papers

[![Paper](http://img.shields.io/badge/paper-arXiv.1904.07850-B3181B.svg)](https://arxiv.org/abs/1904.07850) CenterNet: [Objects as Points](https://arxiv.org/abs/1904.07850)

### Current imp

[2021-02-08 17:53] srjoglekar246 commented on #9694
@Siddhijain16 TFLite stores the model's weights along with the graph, so that no other file is needed at runtime. The SavedModel you refer to might not.

If you want a smaller model, feel free to look at the other SSDs in the [TF2 Detection Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) (with smaller input dimensions). Also, which model

[2021-02-08 19:03] #9663 closed

[2021-02-08 19:03] Siddhijain16 commented on #9694
@srjoglekar246 Yes ,I'm using ssd_resnet50_v1. I did the dynamic range quantization. When I remove the converter.optimizations line it generate tflite model file with 193.26 MB.

[2021-02-08 19:06] Homayra22 opened #9718 "tensorflow.python.framework.errors_impl.NotFoundError: NewRandomAccessFile failed to Create/Open: models\my_ssd_mobilenet_v2_fpnlite\pipeline.config : The system cannot find the path specified. ; No such process"
I am creating a object detection model using tensor flow 2.0, Python 3.7.8 and windows 10. I have no GPU on my laptop I am following this tutorial https://github.com/armaanpriyadarshan/Training-a-Custom-TensorFlow-2.X-Object-Detector.

After creating object detection API , when its time for training the model, as aprt of last step os training I run this command
python model_main_tf2.py --model_dir

[2021-02-08 20:32] jaeyounkim commented on #6752
@himanshu-dutta Feel free to contribute.
You can contribute to our [new codebase](https://github.com/tensorflow/models/tree/master/official/vision/beta), or we can add your implementation as a community model to the [community](https://github.com/tensorflow/models/tree/master/community) directory if we can reproduce the paper results.

[2021-02-08 20:57] xdhmoore commented on #8695
Would it not fix the code to change the end of the mentioned line from `False` to `True`?
[code]

This would allow one to pass in `hparams` if needed, but if `hparams` was not passed in would use only the value of `train_config.fine_tune_checkpoint`.

Just finished running a job with this change and it seems to have loaded the checkpoint where it wasn't before.

[2021-02-08 21:09] JanderHungrige commented on #9553
Same here with mobileNet trained with the TF objedction detection api. TFv2.4.1

[2021-02-08 21:40] jianyinglang opened #9719 "Question on the mobileNetV2 convergence time."
I found this information in https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet/README.md <The numbers above can be reproduced using slim's train_image_classifier. Below is the set of parameters that achieves 72.0% for full size MobileNetV2, after about 700K when trained on 8 GPU. If trained on a single GPU the full convergence is after 5.5M steps. Also note that learning

[2021-02-08 22:37] jaeyounkim commented on #9293
@thunderfyc Can you provide any pointers for @kartikJ-9?

[2021-02-08 22:38] saberkun commented on #9716
TF2 checkpointing does not write meta graph anymore.

[2021-02-08 23:08] jaeyounkim commented on #8618
main.py has been changed. Please run with the --mode=eval.

[2021-02-08 23:08] #8618 closed

[2021-02-08 23:14] Homayra22 commented on #9705
@ravikyram

Hi, After trying here for so long hours, I have moved to another tutorial. I am facing a problem when training a custom model

tensorflow.python.framework.errors_impl.InvalidArgumentError: NewRandomAccessFile failed to Create/Open: C:\Tensorflow\workspace        raining_demonnotations\label_map.pbtxt : The filename, directory name, or volume label syntax is incorrect.
; no protocol opt

[2021-02-09 01:01] pranavgundewar commented on #8631
@sramirez where did you exactly add the @add_arg_scope function?

I am also trying to train MobileEdgeTPU on the custom dataset. Thanks for the help.

[2021-02-09 03:25] pranavgundewar opened #9721 "EdgeTPU Mobilenet Training Fails"
I am training edgetpu_mobilnet on the custom dataset and follow this link for the model selection. https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md

However, I am unable to start training due to an issue with the model loading (I believe this is the problem)

WARNING:tensorflow:From /ds_data3/arm/models/research/deeplab/core/conv2d_ws.py:40: The name tf.layers.L

[2021-02-09 05:08] ravikyram commented on #9705
@Homayra22

Please, refer similar issue #2215 and see if it helps you. Thanks!

[2021-02-09 06:13] ravikyram commented on #9721
@pranavgundewar

tensorflow.contrib exists only in TensorFlow 1.x, which is not actively supported anymore.
Deprecation messages are needed to inform people who want to use an actual version of TensorFlow what is going to happen in the future, and give them time to adapt.The warning messages are specific to Tf functions not to the tutorial.Warning messages will not hamper the execution.

You can s

[2021-02-09 06:17] ravikyram commented on #9721
@pranavgundewar

Please, refer below links for TF 1.x and TF 2.x models.

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md

Thanks!

[2021-02-09 06:59] pranavgundewar commented on #9721
@ravikyram -thanks for the suggestion. My actual question is for training failure for semantic segmentation using Deeplab v3+ edgetpu_mobilnet backbone. If you can see at the last of the given logs- training is just starting and failing immediately.

[2021-02-09 07:17] ravikyram commented on #9718
@Homayra22

Please refer similar issue #2215 and see if it helps you. Thanks!

[2021-02-09 09:22] dongyoungjeong opened #9723 "Mask-RCNN, DataLossError: corrupted record at 0"
Hello, I've tested Mask-RCNN in the model garden on coco dataset. However, I encountered these (error) messages below that I can't currently figure out. Could you give any solution to this? thanks

I used this command.
-> python official/vision/detection/main.py \
  --strategy_type=one_device \
  --num_gpus=1 \
  --model_dir={MODEL_DIR} \
  --mode=train \
  --model=mask_rcnn \
  --config_file="my_

[2021-02-09 11:12] msalvaris commented on #9414
Thanks @srjoglekar246 . Actually MobileDet seems better. Will stick with TF1 for now.

[2021-02-09 12:27] orihash commented on #9414
What about getting only keypoints ?

[2021-02-09 12:50] DevLob-zz commented on #9226
This great Many thanks

[2021-02-09 17:46] srjoglekar246 commented on #9414
@orihash That is being worked on; the model is being trained. The uploads on the detection zoo currently don't have a labels file that is required for any kind of re-export of the model (unless you use the SavedModel they already provide) - so I am pushing for them to include it with the upload this time.

[2021-02-09 18:43] allenwang28 commented on #7842
For ResNet CTL with 8 V100s and fp16 on TF 2.4, we expect around 7k examples/sec which is much higher than the 2900 ex/sec reported originally.

I am closing this out due to staleness, feel free to follow up if this still affects you.

[2021-02-09 18:43] #7842 closed

[2021-02-09 19:03] #9638 closed

[2021-02-09 19:03] #9612 closed

[2021-02-09 20:53] hadikoub opened #9724 "Object Detection API with TensorFlow 2 Not Training On GPU or Recognizing it"
# Prerequisites

Please answer the following question for yourself before submitting an issue.

- [x] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the documentation with the issue

https://github.com/tensorflow/models/tree/master/research/object_detection/g3doc/tf2.md

## 2. Describe the issue

I tried to build the docker image of the tf2 object detec

[2021-02-10 04:19] Homayra22 commented on #9718
Thanks. I have solved the error. I have changed the path address of train.record, test.record, checkpoint path, lebal_path in pipeline.config file. I have changed the backslash with forward slash.

[2021-02-10 04:51] ravikyram commented on #9718
@Homayra22

Glad to know that issue was resolved. Please, close this thread as your issue was resolved.Thanks!

[2021-02-10 04:52] #9718 closed

[2021-02-10 05:03] #9673 closed

[2021-02-10 05:25] muhiddinov commented on #9700
Hello everybody!
I had this problem fixed when I changed Tensorflow_GPU to version 2.4.1.
Tensorflow_GPU version 2.2 was when I started this.

[2021-02-10 05:28] muhiddinov commented on #9700
python -m pip uninstall tensorflow-gpu==2.2
python -m pip uninstall tensorflow==2.4.1

python -m pip install tensorflow-gpu==2.4.1
python -m pip install numpy==1.17.1

[2021-02-10 07:24] AdityaNikhil commented on #9717
Hey @jaeyounkim, I would love to contribute to this. Kindly assign this to me if possible.!

[2021-02-10 14:03] hadikoub commented on #9724
Update:

after trying to
execute this command
` python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"`
I'm getting this response
[code]
-

[2021-02-10 18:30] jianyinglang opened #9726 "Loss value keeps increasing in mobileNetV2 imagenet training"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

## 1. The entire URL of the file you are using

https://github.com/tensorflow/models/tree/master/research/slim

## 2. Describe the bug

The loss value in mobileNetV2 ImageNet training keeps increasing instead of decreasing.

## 3. Steps to reproduce

1. git clone the repo: https://github.com/tensorflow

[2021-02-10 19:44] pranavgundewar commented on #9721
@aquariusjay @YknZhu Any suggestions for expanded_conv @arg_scope? I am unable to tackle the issue

[2021-02-10 19:48] pranavgundewar commented on #8682
I am still facing a similar issue after downgrading. Any other suggestions?

[2021-02-10 20:18] random-mortal commented on #4240
Getting the same error man. Any luck finding a solution?

[2021-02-11 06:21] #9716 closed

[2021-02-11 09:00] ValerianGonnot commented on #9553
I have the same error using TF 2.4.1 and efficientdet-d0

[2021-02-11 10:26] 130050029 commented on #9700
Hi, @danielspicar,,

@muhiddinov is partially correct with his solution.

I will add a bit more to explain what is happening behind the scenes.

TF has changed map_fn_v2() implementation in going from TF 2.2 to TF2.3. Posting below function definition from both files.

**TF2.2 version** [https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/python/ops/map_fn.py](url)

`def map_fn_v2(fn,

[2021-02-11 18:02] srikanth9444 commented on #1988
Hi, I followed your suggestion, but I'm getting this error, can anyone help me with this?
File "/content/drive/My Drive/tfod/models/research/object_detection/exporter.py", line 660, in export_inference_graph
    side_input_types=side_input_types)
  File "/content/drive/My Drive/tfod/models/research/object_detection/exporter.py", line 601, in _export_inference_graph
    write_saved_model(saved_mode