[2017-11-10 17:24] #2764 closed

[2017-11-10 17:26] bignamehyp commented on #2766
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-10 17:26] #2766 closed

[2017-11-10 18:09] tombstone commented on #2762
@luyuesheng  I am not sure how to reproduce this. I am able to successfully export models. Would you mind pasting the exact command you ran.

Also, I don't understand what you mean by loading an exported model in Open CV since you would always need tensorflow to run inference with exported models.

[2017-11-10 18:36] shlens commented on #2763
I am sorry you are having such trouble with NASNet. I have a few clarification questions that are not clear from your question:

What is the average (over multiple iterations) duration it takes to run 1 training batch for 1 GPU with batch size 16?

What is the average (over multiple iterations) duration it takes to run 1 training batch for 2 GPUs where each GPU contains batch size 8? (This means t

[2017-11-10 18:53] angersson commented on #2767
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-10 18:53] #2767 closed

[2017-11-10 19:37] David-Levinthal opened #2769 "ptb fails on R1.4 built with cuda9, cudnn7"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-11-10 19:40] David-Levinthal commented on #2769
Traceback (most recent call last):
  File "ptb_word_lm.py", line 525, in <module>
    tf.app.run()
  File "/home/levinth/tf_r1.4.x_cuda9/tensorflow/python/platform/app.py", line 133, in run
    _sys.exit(main(argv))
  File "ptb_word_lm.py", line 469, in main
    m = PTBModel(is_training=True, config=config, input_=train_input)
  File "ptb_word_lm.py", line 134, in __init__
    output, state = self

[2017-11-10 20:54] chenghuige commented on #2763
@shlens  Well I noticed there might be some perf issue due to running on p40 cluster reading from hdfs.
So I changed to test on local gtx1080ti machine, due to 11G mem, I can only run batch size 8 for each gpu at most. I just tested with using 1 gpu with batch size 8 and using 2 gpu with each gpu batch size 4.

Using 1 gpu, batch size 8
one batch took **2.08 s**,  batch_size:[8] batches/s:[0.48] i

[2017-11-10 21:10] mrfortynine commented on #2754
@tombstone I don't seem allow to create branch in this repo. So I'm not sure how to create a PR.

[2017-11-10 21:21] rudycazabon commented on #2761
Greetings everyone, I am getting precisely the same error that @starwars110  is reporting. For reference purposes, based on the advice I updated my model from the detection_model_zoo.md to ssd_mobilenet_v1_coco_2017_11_08.tar.gz.

I am still receiving the same errors.

[2017-11-10 23:40] MisterMorden opened #2770 "Apparent incorrect behavior from resize_to_range() in object_detection/core/preprocessor.py"
From the comments for resize_to_range():

  The output size can be described by two cases:
  1. If the image can be rescaled so its minimum dimension is equal to the
     provided value without the other dimension exceeding max_dimension,
     then do so.
  2. Otherwise, resize so the largest dimension is equal to max_dimension.

This logic would yield the wrong behavior for images with an aspect

[2017-11-11 00:13] niyazpk commented on #2544
@tombstone Thank you! This was helpful.

[2017-11-11 00:24] luyuesheng commented on #2762
@tombstone I will try to export and paste command on monday.
After training model ,I want to wrap it by C ++ .then java use c++ dll. I know tensorflow C++ api , but it is a little difficult to use for me ,also, I failed to find some samples.I am wonder how to use tensorflow trained model to engineering?

[2017-11-11 00:52] frederictost opened #2771 "utils: detected object labels are sometimes not visible on the image"
Issue:
Sometimes the **object labels** added over an image are out of image bounding. For example, see function **visualize_boxes_and_labels_on_image_array**

Solution:
Draw the label at the bottom of the detected object bounding box. The file to be modified is:
**visualization_utils.py**

    # draw.rectangle(
    #     [(left, text_bottom - text_height - 2 * margin), (left + text_width,
    #

[2017-11-11 01:36] anne1994 commented on #1736
@MartinAbilev where do we update? could you give few directions?

[2017-11-11 01:37] anne1994 commented on #1736
@shahabdroid i am also getting the same error.

[2017-11-11 01:57] angersson commented on #2771
Thanks for the work you've done so far. Can you submit a pull request with your change?

[2017-11-11 01:58] angersson commented on #2769
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-11 01:58] #2769 closed

[2017-11-11 02:51] starwars110 commented on #2761
I tried the network with the new released ssd_mobilenet_v1_coco_2017_11_08.tar.gz model, but no success.

The old version works well even with this new model. Tried also generating tf records again with the new version, but did not hep.

As my last option, I tried the standard pet detector, but still observed similar behavior in terms of number of boxes.
this  might only happens on  windows versio

[2017-11-11 03:03] czwxian commented on #2749
It seems fixed for both ssd_mobile and ssd_inception, great!

[2017-11-11 05:31] daavoo commented on #2714
I'll try that as soon as possible

[2017-11-11 05:50] singlasahil14 commented on #2477
@lukaszkaiser Can you please reopen? The problem is still not solved. It doesn't reproduce the results.

[2017-11-11 12:43] mghildiy commented on #2653
Hi, what should I need to do to solve this issue on Windows machine.
I ran the command:
python train.py --logtostderr --train_dir=path-to-my-training-directory --pipeline_config_path=path-to-my-ssd_mobilenet_v1_pets.config

I get similar error:
 label_handler = slim_example_decoder.BackupHandler(
AttributeError: module 'tensorflow.contrib.slim.python.slim.data.tfexample_decoder' has no attribute '

[2017-11-11 15:55] Kaushal28 opened #2773 "Boundary of detected objects is not visible or detection is failing."
I've just copy pasted the code and ran it. It runs perfectly fine, but at last, when result of testing is shown, the original image is shown without labels and boundary of detected objects. I've also asked the same on stack overflow. You can find it here: https://stackoverflow.com/questions/47237388/nothing-is-being-detected-tensorflow-object-detection-api

Please help.

[2017-11-11 19:16] kashifmin commented on #1564
I am facing the same issue and have been trying to fix it since hours. I don't have a fast internet access right now and hence would like to know if anyone has a solution without having to download tensorflow/models ?

[2017-11-11 19:29] johannesschaefer101 commented on #2773
I have got the same problem. No error messages.

[2017-11-11 19:49] andresferreira commented on #2773
I also have the same problem

[2017-11-11 20:36] uzu22 opened #2774 "Running export_inference_graph.py gives TypeError: x and y must have the same dtype, got tf.float32 != tf.int32"
Running the following commands in cmd

    python export_inference_graph.py \ --input_type image_tensor \ --pipeline_config_path training/ssd_mobilenet_v1_pets.config \ --trained_checkpoint_prefix training/model.ckpt-2453 \ --output_directory heart_graph

Results with an error:

    Traceback (most recent call last):
      File "export_inference_graph.py", line 119, in <module>
        tf.app.run(

[2017-11-11 21:23] Georg-W commented on #2773
Same for me.
Using an older version ('ssd_mobilenet_v1_coco_11_06_2017') worked.

[2017-11-11 21:24] johannesschaefer101 commented on #2773
also works with "ssd_mobilenet_v1_coco_11_06_2017"

[2017-11-11 21:59] lukaszkaiser commented on #2477
I reran it some weeks ago and the results were ok, what kind of problems do you see? I'm happy to help if you email me (userid at google dot com), but this github issue tracker is for code bugs -- like "code doesn't run in python 3" -- not ML research problems like "I'm having trouble reproducing on my setup", so let's not reopen it.

[2017-11-11 22:02] jch1 commented on #2773
Can you all say which version of tensorflow you are running?

e.g., with print tf.__version__

[2017-11-11 22:05] johannesschaefer101 commented on #2773
version 1.4

[2017-11-11 22:12] jch1 commented on #2773
hmmm strange :)  I thought I had tested this.  Can you check to see if the Faster R-CNN models work alright?

And can you verify that it is 1.4.0 and not 1.4.0rc1?

[2017-11-11 22:19] johannesschaefer101 commented on #2773
@jch1

- I use version **1.4.0**
- @andresferreira workaround **works** for me. but the faster R-CNN version is multiple times slower than the ssd modul

[2017-11-11 23:12] #2571 closed

[2017-11-12 02:42] mghildiy commented on #2773
I am also facing this issue. And if model has this issue,does it mean training with that model would also be not a good idea?Actually I started the training with my dataset and its stuck at:
global_step/sec: 0
Its stuck for almost 9 hours.
I am training on CPU.

[2017-11-12 04:04] jch1 commented on #2773
Also, just to collect a bit more info, can you say what OS you are using please?

[2017-11-12 04:10] mghildiy commented on #2773
I am using Windows 10.

[2017-11-12 04:13] Kaushal28 commented on #2773
I'm using windows 8.1, with tensor flow version 1.4

[2017-11-12 04:37] mghildiy commented on #2773
I have a question about the nature of data one should train with Tensorflow object detection models.
My data set is satellite imagery, and my aim is to detect vehicles. Are TF object detection models good fit for this use case? When I try to train with 'ssd_mobilenet_v1_coco_11_06_2017', python crashes(3.6.3) after 2 global steps.

[2017-11-12 05:33] hiewliwen commented on #2773
Likewise.
Win 10 Pro
TF 1.4

ssd_mobilenet_v1_coco_2017_11_08 doesn't work.
ssd_mobilenet_v1_coco_11_06_2017 works.

[2017-11-12 06:13] lengstrom opened #2775 "Problem running imagenet data conversion script in slim"
### System information
- **What is the top-level directory of the model you are using**:
/scratch/engstrom/models/research
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use com

[2017-11-12 17:43] frederictost commented on #2771
Hi Austin,

I'm working on a better solution (algo to find the better location for
labels), to make it simple I will change only the file
*visualization_utils.py*

I don't know how to submit a pull request to the community before
validation (may be I can find on GitHub).

Frederic

2017-11-11 2:58 GMT+01:00 Austin Anderson <notifications@github.com>:

[2017-11-12 18:39] iamtodor commented on #2031
For mac os sierra steps to install. Run from `models/research`:
[code]
If you use jupyter notebook you need to restart it.

[2017-11-13 00:46] crizzy9 commented on #2031
I fixed it
Go to slim and run this

this will install slim which allows you to use import nets

[2017-11-13 01:10] tuobay commented on #2703
**System information

What is the top-level directory of the model you are using: object_detection
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.3.0
CUDA/cuDNN version: 8.0/ 6

[2017-11-13 01:12] sahiljuneja opened #2777 "AttributeError: module 'tensorflow.python.platform.flags' has no attribute 'mark_flag_as_required'"
### System information
- **What is the top-level directory of the model you are using**:
~/tensorflow/models/research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No. Only slightly modified the config file of the model I am trying to work with.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04

[2017-11-13 01:41] sahiljuneja commented on #2777
Found out that only TF 1.4 has that particular attribute and not any versions before that. (Tried the above with 1.3 as well and doesn't work. https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/platform/flags.py

Will 1.3 be updated as well for the Object Detection API? Could be an issue for the project I am working on 😞

[2017-11-13 02:21] luyuesheng commented on #2762
@tombstone   thank for your help. Today ,I run export_inference_graph.py on another pc, the problem is the same as before.I edited the issue ,New information is updated above.I hope your help. thank you!

[2017-11-13 04:04] rwightman opened #2778 "Odd batch_size specific behaviour with nasnet_large on ImageNet validation"
I've been trying to reproduce the ImageNet validation accuracies posted with the pretrained weights.

I cannot reproduce the results with an image size of 331 and the default batch size of 100 used in the eval_image_classifer script. With defaults I get roughly 64% top-1 and 74% top-5 using the command:

`python eval_image_classifier.py --dataset_dir ~/imagenet/ --dataset_split_name validation --m

[2017-11-13 04:42] Gagazet opened #2779 "object_detection_tutorial.ipynb doest not generate boxes on picture"
Hello everyone! Have a problem with object_detection_tutorial.ipynb, when executing it, at the final images I don't have any boxes, just dogs, and beach, totally clean~
Test, by python object_detection/builders/model_builder_test.py works well at the terminal.
Using ubuntu 14, last version of tf and python 2.7
What can it be?

[2017-11-13 06:09] temiklis commented on #2774
install tensorflow version 1.4

[2017-11-13 06:18] DavidWiesner commented on #2720
I'm sorry it was my fault. Using `model.ckpt` instead of `model.ckpt.index` resolves the issue.

[2017-11-13 06:18] #2720 closed

[2017-11-13 06:37] scotthuang1989 commented on #2672
found some error in test case for creating input tfrecords, here is the [fix](https://github.com/tensorflow/models/pull/2747)

[2017-11-13 06:54] indra215 commented on #2735
I've asked it on stackoverflow but I couldn't get any answer. Could anyone please help me with this issue ?

[2017-11-13 07:37] siyuanzhuang opened #2780 "The detected object box Ymin, ymax, xmin, xmax, how to convert image coordinates"
The detected object box Ymin, ymax, xmin, xmax, how to convert image coordinates?

[2017-11-13 08:33] chenghuige commented on #2778
@rajatmonga , I face this also... Ando when train I use eval_batch_size 50 and eval result during train is as expected. I frozen ops for inference, and when inference from pb model saved and set inference buffer size 100, I got worse inference result. But when set inference batch size to 50 the result is ok.
Is it due to moving average decay 0.9999  as other models like incpetion V4 do not met thi

[2017-11-13 08:33] sandromario commented on #2773
Same problem here, on Linux (Ubuntu) this time. The net named "ssd_mobilenet_v1_coco_2017_11_08" doesn't work; it produces abnormally low scores.

[2017-11-13 08:50] Rasoul20sh opened #2781 "Scores for classes are so weak and api does not create boxes."
After updating tensorflow to 1.4.0, I run object_detection api but the scores for classes are so weak for 'ssd_inception_v2_coco_2017_11_08' and 'ssd_mobilenet_v1_coco_2017_11_08' (even for its test classes). Therefore it do not create any boxes inoutput. It is just fine for other models like 'faster_rcnn_inception_v2_coco_2017_11_08'. Whats the problem?

[2017-11-13 08:56] Rasoul20sh commented on #2779
Same problem

[2017-11-13 09:33] temiklis commented on #2780
I don't understand what you want, but you can convert coordinates to normal.
ymin * image.Height, ymax * image.Height, xmin * image.Width, xmax * image.Width.

[2017-11-13 09:36] siyuanzhuang commented on #2780
Thank you. The problem has been solved

[2017-11-13 09:36] #2780 closed

[2017-11-13 10:34] kaka-lin commented on #2779
The same

[2017-11-13 10:45] singlasahil14 commented on #2477
Can you please send me the exact command line arguments you used for 20-way classification?

[2017-11-13 12:16] chenghuige commented on #2778
1. I verified on two machines, there might be some env idff, running same code inference using same model. I have tested both tf 1.3 and tf 1.4 on one machine batch size 100 and 50 all get cider 1.73,
on another machine batch size 100 can only get cider 1.49.
2. On both machine, different inference run will get slightly different result.

[2017-11-13 13:02] chenghuige commented on #2778
Is it the problem related to below code in nasnet.py ? seems is_batchnorm_training is always True, even
when inference, if using nets_factory.py as we only call
 func(images, num_classes, is_training=is_training, **kwargs)

def build_nasnet_large(images, num_classes,
                       is_training=True, is_batchnorm_training=True,
                       final_endpoint=None):
with arg_scope([sl

[2017-11-13 13:02] guanlinting opened #2782 "Failed to train tensorflow object detection on priviate detection dataset"
Hi, I want to train tensorflow object detection framework on my dataset, so I create record with my dataset, and it can train on ssd framework (for both mobilenet and inception v2), but it cannot train on faster rcnn framework, I have tried for resnet50, resnet101 and faster_rcnn_inception_resnet_v2_atrous, it all report the follow error:

INFO:tensorflow:Error reported to Coordinator: <class 'ten

[2017-11-13 14:47] shlens commented on #2778
@rwightman @chenghuige
Does your version of nasnet include this [change](https://github.com/tensorflow/models/commit/cf8f014b82d1126d73c219ba0b5815e8c891ebcc)? This change fixes a bug that left BatchNorm on during evaluation and would lead to lower performance.

[2017-11-13 15:26] depauwjimmy commented on #2774
Hello,
I have exactly the same problem but i have 1.4.0 installed already.
Any other possible cause for this error?

[2017-11-13 15:39] mpeniak commented on #2777
I have the same problem, have you managed to solve this?

[2017-11-13 16:24] OverFlow7 commented on #2716
It seems  the error  come from _process_batch in evaluator.py , every time this exception is raised :

InvalidArgumentError:
`Incompatible shapes: [51300] vs. [20320]\n\t [[Node: Decode/mul = Mul[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/device:GPU:0"](Decode/Exp, Decode/get_center_coordinates_and_sizes/sub)]]\n\t [[Node: ToAbsoluteCoordinates/Assert/AssertGuard/Assert/Switch_1/_1343 =

[2017-11-13 16:45] rwightman commented on #2778
@shlens
Yes, my code includes that change. I synced up with the latest yesterday and also re-downloaded the checkpoints. I expect if that was the issue I would not have full performance with batch 50 and degraded with batch size of 100 but degraded in all cases.

I ran another test overnight, I ran imagenet validation with batch size of 100 on my CPU. It produces the correct result.

[2017-11-13 17:19] tombstone commented on #2672
@scotthuang1989  Does this solve your original problem though since its just a fix to the tests ?

[2017-11-13 17:41] write2mouli commented on #2779
Same problem. Below is what it prints for the boxes. They look either out of range or on corner of images

[[[ 0.74907494  0.14624405  1.          1.        ]
  [ 0.          0.          1.          1.        ]
  [ 0.          0.20880127  1.          1.        ]
  [ 0.74907494  0.14624405  1.          1.        ]
  [ 0.          0.          1.          1.        ]
  [ 0.          0.          1.

[2017-11-13 19:41] dgriffiths3 commented on #2777
I had the same error, commenting out lines 96-98 starting with `tf.app.flags.mark_flag_as_required` in `export_inference_graph.py` seemed to worked for me. Will this have affected the exported model in someway? From what I can tell it hasn't.

[2017-11-13 21:56] shlens commented on #2778
@rwightman I am surprised by your results. Would you be able to run with batch size = 25 and batch size = 200? Just for clarity, are you running on all 50,000 validation images?

[2017-11-13 21:57] shlens commented on #2763
@chenghuige I am surprised by this behavior. Would you be able to run with batch size = 8, 16, 32 on 1 GPU to see if the scaling with batch is as expected?

[2017-11-13 22:50] abuhman opened #2784 "Build issue for adversarial_text"
### System information
- **What is the top-level directory of the model you are using**:
/models/research/adversarial_text

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I do not have custom code and am trying to run the sequence of commands from adversarial_text's readme.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux

[2017-11-14 01:33] kaka-lin commented on #2773
Same problem,
use ssd_mobilenet_v1_coco_11_06_2017 works. -> run function draw_bounding_box_on_image
use ssd_mobilenet_v1_coco_2017_11_08 doesn't work. -> No run function draw_bounding_box_on_image

[2017-11-14 01:47] sunzhuoshi commented on #2779
I have the same issue on both windows and mac OS
windows
  OS: 8.1
  Python: 3.5.4
Mac OS
  OS: 10.11.6
  Python: 2.7.10

Really frustrated...

[2017-11-14 02:11] rwightman commented on #2778
@shlens
Okay, so I've run some more passes, results not what I was expecting, so had to do more passes including an 'am I going insane' re-run of batch_size=100.

The problem seems very specific to batch_size=100 on GPU. At a batch_size of 100, performance peaks somewhere around 288-290 image size as opposed to the native 331x331. I've posted results from both yesterday's and now today's runs. All

[2017-11-14 02:15] erickvinsan opened #2786 "Updated Frozen Model doesn't work in tutorial jupyter notebook"
Hello everyone!

I think there is an issue with the frozen graph of this version "ssd_mobilenet_v1_coco_2017_11_08" of model base. I just can't hit any object, even in the object_detection_tutorial example. However, with the frozen graph from the version "ssd_mobilenet_v1_coco_11_06_2017" it works! I spend just 2 hole days trying to figure out the solution and I just could overpass the problem lik

[2017-11-14 02:16] chenghuige commented on #2778
@shlens just updated slim lib and re tested,  still face the two problem I mentioned above.

[2017-11-14 02:24] erickvinsan commented on #2781
I'm walking through that error to! I have opened another issue before read yours. But I think this will reinforce the solution.

[2017-11-14 02:30] chenghuige commented on #2763
@shlens  Well due to mem limit I can not run batch size 16 on gtx1080ti card.
I tested batch size 4 as below, one batch about 0.5 s
batch_size:[4] batches/s:[1.99] insts/s:[7.98]  1epoch:[1.88h]

[2017-11-14 02:33] hetaoaoao opened #2787 "Nasnet-A medium performance issue"
As described in nasnet paper, nasnet medium(7@1920) should has comparable runtime performance with inception-v3 (close params number & FLOPS), but when I try it on single GTX1080Ti, given the 299x299 input, inception-v3 runs at ~40 samples/sec, where nasnet medium runs at ~18 samples/sec.

Here's my config file for nasnet medium
def _medium_imagenet_config(is_training=True):
    drop_path_keep_pro

[2017-11-14 03:01] shakugan0shana opened #2788 "there is nothing happen after running object_detection_tutorial.ipynb"
I follow the steps in the Installation,
then I run the object_detection_tutorial.ipynb,
there in no error in running the code，
however，the output of image is same the original picture,
in other words，obejct code has no effects。

Here is the code：

import os
os.system('protoc object_detection/protos/*.proto --python_out=.')
import numpy as np
import os
import six.moves.urllib as urllib
import sys
i

[2017-11-14 03:05] izzrak commented on #2673
I just updated to the latest commit, looks like they fixed the training issue. I tried the focal loss they provided and it worked great. The converge speed of the precision is faster and the loss is much smaller.

[2017-11-14 03:06] shakugan0shana commented on #2786
I have the same problem ,the ssd_mobilenet_v1_coco_11_06_2017 has no effects,I run the object_detection_tutorial example,the output of image is same as the original picture.

[2017-11-14 03:42] singlasahil14 commented on #2477
@lukaszkaiser  Can you please post the exact command line arguments you used here? I will run the code on them and get back to you.

[2017-11-14 04:03] erickvinsan commented on #2786
In the object_detection_tutorial, change the value of the variable that has this string "ssd_mobilenet_v1_coco_2017_11_08"  to "ssd_mobilenet_v1_coco_11_06_2017". This is going to correct your problem as corrected mine.

[2017-11-14 05:01] shakugan0shana commented on #2786
Yes ,I change the  string "ssd_mobilenet_v1_coco_2017_11_08" to "ssd_mobilenet_v1_coco_11_06_2017",it works well.I think it must exit something wrong in the "ssd_mobilenet_v1_coco_2017_11_08".

[2017-11-14 08:28] hoou commented on #2774
I am having exactly the same error. I am putting down my system information. Hope it helps and you guys figure it out soon, good luck.

### System information
- **What is the top-level directory of the model you are using**:
object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu

[2017-11-14 09:22] Rasoul20sh commented on #2781
I do my job with an older version of 'ssd_mobilenet..' and it was ok. you can use this one until they correct probable bugs.
this is the link,
http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_11_06_2017.tar.gz

[2017-11-14 09:41] mpeniak commented on #2777
I don't think you can just commented it out as those params specify important paths. You can roll back to previous version of that file but you will get other errors such as:

TypeError: x and y must have the same dtype, got tf.float32 != tf.int32

[2017-11-14 09:44] mpeniak commented on #2774
I have the same issue when trying to freeze embedded_ssd_mobilenet_v1. Previously I would get this:

https://github.com/tensorflow/models/issues/2777

but after reverting to previous version of that file I get the error specified in this thread.

Any ideas what to do and how to freeze this model?

[2017-11-14 09:46] mpeniak opened #2790 "Cannot freeze embedded_ssd_mobilenet_v1"
I cannot freeze embedded_ssd_mobilenet_v1. Previously I would get this:

https://github.com/tensorflow/models/issues/2777

but after reverting to previous version of that file I get error specified in this thread:

https://github.com/tensorflow/models/issues/2774

I have tried all possible combinations of versions of tf as well as models repo but no luck.
Any ideas what to do and how to freeze thi

[2017-11-14 09:50] mpeniak commented on #2661
Did you manage to freeze this model? I am facing thig problem:

https://github.com/tensorflow/models/issues/2790

[2017-11-14 10:28] dgriffiths3 commented on #2777
@mpeniak thats what I thought, but it seemed to work fine for me? Lines 77 - 94 define all the input params. I am guessing `tf.app.flags.mark_flag_as_required` is just there to throw an error if you have not given all the input params? Seems odd as well they use the full name `tf.apps.flags.<>` instead of `flags.<>`, I know its the same but makes me think it shouldn't be there.

[2017-11-14 11:34] mharshe commented on #2703
I'm seeing the same problems. I try either of the two ways suggested in [this comment](https://github.com/tensorflow/models/issues/2703#issuecomment-343784912) and I see that the process consumes all free memory in the GPU.
In fact, I see that other users on the machine are using lesser memory but they can't explain why the same command works for them and not for me.

[2017-11-14 11:34] liuxinyuk commented on #2761
I have the same problem with you ,using the ssd_mobilenet_v1_coco_2017_11_08.tar.gz model, get bad mAP(≈0)， even replace the 【test.record】 with 【train.record】

and when perform validation,it turns out:
[code]
the warning doesn't show on when i use the old version in 2017.09 with 【window10】

- What is the top-level directory of the model you are using: object_detection
- Have I written custom code

[2017-11-14 12:19] temiklis commented on #2774
google cloud requires a version 1.2, but I can't do export_graph on this version. On version 1.4 everything is fine, but the cloud does not perceive the model as it needs version 1.2. I'm having the same error as users above. Will notify if I find a solution.

[2017-11-14 13:09] marco-cardoso commented on #2779
I have the same problem ...

[2017-11-14 13:18] chenghuige commented on #2778
@shlens  Also if I'm using old code(with is_batchnorm_traning param) train model, seems I can not change to use new code to finetune from old models, the result will be nearly all random start..

[2017-11-14 13:23] bhamill638 commented on #2779
I also have this issue, tried it with python 3.5 and 3.6. Could not get the bounding boxes to appear on either Ubuntu 16.4 or macOS 10.13.1

[2017-11-14 14:13] bozzmob commented on #2779
Same here. Have issue with Ubuntu 16.04, Python 3.5 (and Python 3.6).
Was so frustrated that suddenly it stopped working. I think the latest commits(5 days back) has introduced something.
Bounding box overlay doesn't show up.

[2017-11-14 16:06] NguyenHoanh1703 commented on #2762
this error happen because of the link to your folder, something wrong with access to them, or may be check your path to the model, saving directory,.. or check spell, for example, its must be =data/ not = data/.

[2017-11-14 16:57] write2mouli commented on #2779
Actual issue is not related to OS or Python version. On github we are so used to pulling master branch always which is a bad practice as it could be unstable.

Tensor 1.4.0 upgrade is assigning low scores for inception and mobile coco. The example works with fast-rcnn. Please use older version of tensor flow 1.3 for object detection example to work or use Fast rcnn model.

[2017-11-14 17:10] bhamill638 commented on #2779
@write2mouli you are correct, a workaround is to use the fast rcnn model, or an older version of the ssd_mobilenet model also seems to work.

See [this issue](https://github.com/tensorflow/models/issues/2773) for more details and workaround info.

[2017-11-14 17:35] Kaushal28 commented on #2773
#2788

[2017-11-14 17:35] Kaushal28 commented on #2773
#2788

[2017-11-14 17:39] Kaushal28 commented on #2773
If anyone want to use old  `ssd_mobilenet_v1_coco`, then you can find it [here].(http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_11_06_2017.tar.gz) It is working and perfect for applications where you need faster detection instead of higher accuracy.

[2017-11-14 18:58] #2606 closed

[2017-11-14 19:01] bogatyy commented on #2355
Could you try again? While a longer-term solution is not ready, we have a fix out.

More specifically, synced the TF subrepo to a version before the registration mechanism.
Right now, SyntaxNet should build with Bazel 0.5.4 (this is mentioned in the README as well).

[2017-11-14 19:01] lukaszkaiser commented on #2477
For me just  --rep_dim=256 works ok. I will not continue the discussion here, please send me an email if you have further trouble reproducing.

[2017-11-14 19:08] tombstone commented on #2781
@Rasoul20sh  @erickvinsan  Can you confirm if you are on the latest object detection code and have also recompiled the protos using `protoc object_detection/protos/*.proto --python_out=.`

[2017-11-14 19:26] plakal opened #2791 "AudioSet tfrecord files should be case-insensitive"
### System information
- **What is the top-level directory of the model you are using**:

research/audioset

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Any recent version of MacOS with a case-insensitive file system, e.g., HFS+

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **TensorFlow installed from (source or binary)

[2017-11-14 20:40] staturecrane commented on #2777
I also simply commented out the lines and it seems to work. Don't understand why the authors chose to validate in a breaking way.

[2017-11-14 21:37] Cospel commented on #1816
It seems to me that this is still not working. Am I right? I still get the sequence error when trying to use batch.

[code]

[2017-11-14 21:43] sahiljuneja commented on #2777
I copied the flags.py script from the 1.4v repo and pasted it instead of the flags.py in my local installation of 1.3v. It's working so far for me.

[2017-11-14 21:48] rohan100jain commented on #2790
When you're using TF v1.4, what is the behaviour?

[2017-11-14 21:56] rohan100jain commented on #2784
Which directory are you running the command from? In order for that bazel command to succeed, you will have to issue it from the adversarial_text directory.

[2017-11-14 22:05] rohan100jain commented on #2786
This seems to be a dupe of https://github.com/tensorflow/models/issues/2773 Seems like there is some problem with the latest version of that model.

[2017-11-14 22:05] #2786 closed

[2017-11-14 22:06] rohan100jain commented on #2788
This seems to be a dupe of #2773 Seems like there is some problem with the latest version of that model.

[2017-11-14 22:06] #2788 closed

[2017-11-14 22:30] abuhman commented on #2784
Thanks, I have tried from the adversarial_text directory.  It is giving a different error, but still cannot find the data package:

INFO: Found 1 target...
Target //research/adversarial_text/data:gen_vocab up-to-date:
  bazel-bin/research/adversarial_text/data/gen_vocab
INFO: Elapsed time: 0.931s, Critical Path: 0.08s
INFO: Build completed successfully, 1 total action

INFO: Running command line:

[2017-11-14 23:23] rwightman commented on #2778
This has truly baffled me. I want to ensure there are no issues before investing more time doing some work with this model so I rsync'd my whole experiment to another machine with same driver/cuda/cudnn versions and ran the eval again. It works, no weird behaviour at batch 100. The GPU isn't exactly the same but it's same family (Pascal) so I doubt that's a factor.

At this point I am thinking I h

[2017-11-14 23:44] bhack opened #2793 "Instance segmentation API"
What is the timing of the new [Instance segmentation API](http://presentations.cocodataset.org/Places17-GMRI.pdf)? Will it cover ops like https://github.com/tensorflow/tensorflow/issues/2169 too?

[2017-11-15 00:07] rwightman commented on #2778
Alright, more data. I did manage reproduce on the other machine. I made one very small change before rsyncing, I changed the data format from NHWC to NCHW before I started a training session on the original machine.

The only delta in the diff is this line: https://github.com/tensorflow/models/blob/master/research/slim/nets/nasnet/nasnet.py#L79

If I flip that line back to the original 'NHWC' the

[2017-11-15 00:28] luyuesheng commented on #2762
@NguyenHoanh1703
Thank you .but I don't agree with you . First,the training model is saved in this same directory,if the directory is something wrong,the model can not be saved. Second,the offical tip is"'Path to trained checkpoint, typically of the form '
 'path/to/model.ckpt'.

[2017-11-15 01:24] shakugan0shana opened #2794 "Are there some errors in 'Tensorflow detection model zoo' tar.gz?"
I download the tar which are ssd_mobilenet_v1_coco,ssd_inception_v2_coco,faster_rcnn_inception_v2_coco.
However,as the detection_model_zoo.md describe,it exits the file 'graph.pbtxt',when I tar -zxvf the tar,I don't find the graph.pbtxt in the above three tar.Although,using these frozen_inference_graph.pb,the obeject_model_api doesn't work.

[2017-11-15 03:27] Dragonkingpan opened #2796 "GPU Out of memory and Where is the Net Structure"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-11-15 03:47] CoderGxw commented on #2694
@bignamehyp Thank you for your suggestion,  sorry for posting the issue in the wrong place ，and next time I will pay attention it.            I upgraded all the software and then failed to reproduce the problem,I think this problem may be due to my previous software version。The environment version I am using now is：python3.5 / tensorflow1.4 / ubuntu17.04 /  swap(100G)

[2017-11-15 04:27] kaishijeng commented on #2673
@izzrak

Should I just check out the latest models to get your latest commit?
Thanks,

[2017-11-15 05:27] guanlinting commented on #2782
It's my fault, i gives wrong record file to pipeline config file

[2017-11-15 05:27] #2782 closed

[2017-11-15 05:28] MyAusweis opened #2797 "freeze while restoring model-ckpt using pretrained ssd-mobilenet"
Dear All

what happened when i use eval.py (from models/research/objectdetection) it freeze after restoring model.ckpt. the eval.py is still original that i downloaded from github,

here the result:

python eval.py --logtostderr --pipeline_config_path=./ssd_mobilenet_v1_pets.config --eval_dir=. --checkpoint_dir=.
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:dept

[2017-11-15 06:14] #2797 closed

[2017-11-15 06:37] Rasoul20sh commented on #2781
Yes, with older version of 'ssd_mobilenet..' (I mean ssd_mobilenet_v1_coco_11_06_2017.tar.gz)  and changing the model name in the code to MODEL_NAME = 'ssd_mobilenet_v1_coco_11_06_2017' , scores are good and boxes would be created.

[2017-11-15 07:07] skyson opened #2798 "im2txt interface to android"
anyone know how can i used the pb file of im2txt in android；
any information will be appreciated！

[2017-11-15 08:40] BrianZhu01 opened #2799 "[street] when I restored the model trained by the street meet some errors"
when I run the vgsl_train.py ,it have the right results. and saved the modes, but when I stop it ,and restart it ,it have some errors. what's wrong for it? the errors as follows :
terminate called recursively
terminate called after throwing an instance of 'terminate called after throwing an instance of 'terminate called after throwing an instance of 'std::system_errorstd::system_errorterminate cal

[2017-11-15 08:44] ypasichnyk commented on #2774
I get very similar error while running the following command:

python.app object_detection/eval.py --logtostderr --pipeline_config_path=object_detection/data/faster_rcnn_resnet101_pets.config --checkpoint_dir=object_detection/models/sigs_faster_rcnn_resnet101_pets/train --eval_dir=object_detection/models/sigs_faster_rcnn_resnet101_pets/eval

INFO:tensorflow:Scale of 0 disables regularizer.
INFO:te

[2017-11-15 09:13] indra215 opened #2800 "Changing Optimizer results in "Not found in checkpoint" errors"
I've trained a MobilenetV1 model using `rmsprop` optimizer for certain number of steps. And now I would like to switch the optimizer from `rmsprop` to `adam` and resume the training from here on. But when it's loading the trained model I get the following errors when I change the optimizer from `rmsprop` to `adam`. I'm using TF-slim for training the model.

2017-11-08 12:02:55.573251: W tensorflow

[2017-11-15 09:46] cosmicpowercr commented on #2774
I solve this problem. This  is a small bug about TypeError ,we can do as follow:
In the file:post_processing_builder.py, I change the codes as follow:
def _score_converter_fn_with_logit_scale(tf_score_converter_fn, logit_scale):
  """Create a function to scale logits then apply a Tensorflow function."""
  def score_converter_fn(logits):
    cr = logit_scale
    cr = tf.constant([[cr]],tf.float32)

[2017-11-15 09:57] BrianZhu01 commented on #2799
how can i restored the modes from trained ,and continue to training

[2017-11-15 10:17] depauwjimmy commented on #2774
I tried your suggestion but i receive:
AttributeError: 'function' object has no attribute 'name'

I am using python 2.7 which maybe is why it does not work?

[2017-11-15 10:26] hoou commented on #2774
@depauwjimmy
**LONG STORY:**
look what code he actually changed/added in comparison with old code, don't just simply copy his text, github is not interpreting his text as python code, so for example github changed "\_\_name__" to "name" but with bold font....

**SHORT STORY:**
just replace "score_converter_fn.name" with "score_converter_fn.\_\_name__" and "tf_score_converter_fn.name" with "tf_scor

[2017-11-15 10:27] tcwalther commented on #917
I understand this issue is closed, but wanted to put this back on the radar. I believe that installing pre-trained models is a fair use case, and having the ability to run `pip install tensorflow-models` would be fantastic. Could you elaborate a bit more on the reasons for not considering a pip package for tensorflow/models?

[2017-11-15 10:35] hoou commented on #2774
@cosmicpowercr thanks, it is working now!

[2017-11-15 14:13] blaskowitz100 opened #2801 "Is it now possible to add more than one TFrecord for object detection training?"
I have noticed that in the newest commit of the object detection API it is now possible to add multiple TFRecords for the train and evaluation reader in the model pipeline. So my question is if all added TFRecords will be used for training or only the first one?

[2017-11-15 14:50] OverFlow7 commented on #2716
Ok, closing the issue, the error was due to having

instead of having the same stride for the 3 .

[2017-11-15 14:50] #2716 closed

[2017-11-15 15:53] jingyibo123 opened #2803 "Error running train_lenet example -- no supported GPU kernel for 'Predictions/Softmax' ?"
### System information
- **What is the top-level directory of the model you are using**: slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 7
- **TensorFlow installed from (source or binary)**: binary using pip install
- **TensorFlow version (use command below)**: 1.4.0

[2017-11-15 16:36] smitshilu commented on #2757
Same error here. Did you find an answer?

[2017-11-15 16:52] ellisdg commented on #2257
I had this problem and figured out that it was due to a mismatch between CUDA and my anaconda environment. CUDA 8  was installed on the system, but the anaconda environment was using ```cudatookit: 7.5-0```.

Updating the ```cudatoolkit``` fixed the problem:
[code]

[2017-11-15 17:11] pooyan1983 commented on #2757
Yes I managed to solve this. The problem is with input_reader_builder module in object_detection\builders folder. In the build definition, there is a  line which reads
  _, string_tensor = parallel_reader.parallel_read(config.input_path,.......

For some reason, config.input_path does not create a string but gives back ['data/train.record'] so I just fixed that parameter as "data/train.record". Th

[2017-11-15 17:30] h8907283 commented on #2794
I downloaded the latest (November edition) of ssd_mobilenet and tried to use it on my TensorFlow 1.4.0 installation. I have code that already works with the previous version of ssd_mobilenet. After switching to the new one, my code stopped working. Each inference finished without errors but there was no detection.

[2017-11-15 18:01] bogatyy commented on #2715
@MathiasDesch thanks for the fix!

[2017-11-15 18:01] #2715 closed

[2017-11-15 18:23] rajatmonga commented on #2778
@rwightman thanks for narrowing down the issue.

@vrv Have you looked at the NHWC format support for nasnet?

[2017-11-15 18:33] vrv commented on #2778
NHWC works for CPU, and NCHW works for GPU.  Based on this evidence, it seems like likely to be a CuDNN bug or a bug in a GPU-specific codepath for convolution in TensorFlow, given it fails at a very specific batch size.

[2017-11-15 19:12] rajatmonga commented on #2778
@vrv Is it feasible to turn off the untested path/raise error on CPU/GPU so
users don't get incorrect issues?

Also worth creating a separate issue for NHWC on GPU.

On Wed, Nov 15, 2017 at 10:34 AM Vijay Vasudevan <notifications@github.com>
wrote:

[2017-11-15 19:18] rwightman commented on #2778
On that note, the reason I hit this issue right away is that the default batch size for eval_image_classifier.py is 100, and NHWC is the default data format for both CPU and GPU.

So, anyone that decides to try Nasnet large out with defaults is likely to hit the problem. Might be worth a quick change to the script while the root problem is figured out.

[2017-11-15 19:23] vrv commented on #2778
We don't really know how to detect that the GPU is going to be used at graph construction time (at our layer of abstraction).  If we did, we would have already chosen NCHW for GPU and NHWC for CPU.

We can change the default eval batch size to 50 to avoid this problem, if that makes things easier.

[2017-11-15 20:40] vrv commented on #2778
@rwightman

One thing you can try doing: set the TF_CUDNN_USE_AUTOTUNE environment variable to 0 when running your program with batch size 100 and see if the problem goes away.  I wonder whether it's caused by a bug in the algorithm chosen by the autotuner.

[2017-11-15 21:13] lozuwa commented on #2724
Hello, I am having the same issue. I have all the dependencies installed.

[2017-11-15 21:18] pooyan1983 commented on #2312
Hi, have you found any solution to this?

[2017-11-15 21:26] vrv commented on #2778
Or more precisely, the autotuner is selecting an algorithm that has a bug for the particular shape we are using.

(One idea that comes to mind is that the autotuner could check for rough output agreement from all algorithms and disqualify the algorithms that differ significantly).  cc @zheng-xq @yzhwang

[2017-11-15 22:51] yzhwang commented on #2778
Setting the data_format to "NHWC" means we won't do NHWCtoNCHW() and NCHWtoNHWC() before and after each cudnn kernel, that include different types of convolutions as well as batch normalization.
Given that the problem only exists in the above case, another possibility is that these two conversions return incorrect values silently.

@rwightman Is there a minimum reproducer you can provide so that I

[2017-11-15 22:56] zheng-xq commented on #2778
We are working extensively with NVIDIA to test the functional correctness for each algorithm on many shapes.

Vijay's proposition would be very useful. I've talked to Yang, and he will be adding that check.

[2017-11-15 23:35] rwightman commented on #2778
I've set TF_CUDNN_USE_AUTOTUNE=0 in my environment before running and there was no change, still bad results with batch_size=100 and NHWC, good otherwise.

[2017-11-15 23:44] zheng-xq commented on #2778
@yzhwang, please also look into whether there is a problem with the tensor transpose operations. Thanks

[2017-11-15 23:57] yzhwang commented on #2778
Thanks @vrv and @zheng-xq , I will reproduce the problem with the command from the original comment.

[2017-11-16 01:28] JounyWang commented on #2777
I have the same problem,prepare to install 1.4v and try again.

[2017-11-16 01:54] cy89 commented on #2787
This looks like a duplicate of #2763. If you don't mind, please CC yourself there, and I'll close this issue in favor of that one.

[2017-11-16 01:56] cy89 commented on #2775
Could you also please copy the text of your error result, so we can better direct your issue?

[2017-11-16 01:58] cy89 commented on #2779
I'll close this issue; please feel free to reopen if @write2mouli 's workaround is still not sufficient for you.

[2017-11-16 01:58] #2779 closed

[2017-11-16 02:00] yzhwang commented on #2778
OK. Running eval_image_classifier script now with imagenet dataset. I'm not sure how long it will take to get the results, but I will start some debugging once I reproduce the low accuracy results (I know a few places to look at) and give updates once I have some insights.

[2017-11-16 02:00] cy89 commented on #2781
There appears to be a related discussion with a similar workaround (use the older version) in #2779.

[2017-11-16 02:05] yzhwang commented on #2778
Also, I'm wondering if I ever need to wait for the model to converge at all? It would also be good if someone can provide me with instructions on how to get some additional outputs such as these:
2017-11-13 17:12:32.546138: eval/Accuracy[0.82706]
2017-11-13 17:12:32.546145: eval/Recall_5[0.96168]

@rwightman Could you provide more details on how to experiments with different batch_size and image_s

[2017-11-16 02:09] vrv commented on #2778
This isn't training, this is just running eval on a pretrained model; it shouldn't take too long of a time.

[2017-11-16 02:11] rwightman commented on #2778
@yzhwang Do you have the pretrained weights for the nasnet large model? There's no convergence, those summaries are dumped at the end of the 500 (for batch size 100) batches.

`python eval_image_classifier.py --dataset_dir /data/imagenet/validation/ --dataset_split_name validation --model_name nasnet_large --checkpoint_path /data/nasnet_large/model.ckpt  --dataset_name imagenet --moving_average_de

[2017-11-16 02:15] yzhwang commented on #2778
Thanks @vrv and @rwightman . I understand how to download the pretrained model and run the script now.

[2017-11-16 02:30] hetaoaoao commented on #2787
@cy89 no, it's not a duplicate actually. My experiments are based on models/research/slim without any code change except that I added the nasnet medium config. I didn't see any performance differences when running on one gpu or more.

My issue is, does nasnet-a medium really beat inception-v3? Therically speaking, they run at comparable cost (4.93B vs 5.72B according to https://arxiv.org/pdf/1707.

[2017-11-16 03:07] kannan60 opened #2808 "tfnightly - Unknown command line flag 'logtostderr'"
### System information
OS Platform and Distribution: Windows 10 64 Bit
TensorFlow installed from (source or binary): binary
TensorFlow version :1.5.0-dev20171115'
Python version 3.5.2(v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55)
GPU: nVidia GeForce 755M 2GB
CPU: Intel x64-64 Intel Core i5-4200M CPU  @ 2.50Ghz, 8GB memory

### Describe the problem
So, I have the same problem as described in #2653
ht

[2017-11-16 03:28] jinfagang opened #2809 "Object Detection API trainer.py where is the deployment?"
I opened object_detection as separately project, but it says deployment not found. I suspect it locates in parent directly in research dir, but it's not, what is the delpoyment exactly from?

[code]
`from deployment import model_deploy` not found.

[2017-11-16 05:12] lozuwa commented on #2739
Same issue here, thanks.

[2017-11-16 05:57] meenuagarwal commented on #2809
Try this! I got the same error
# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim

[2017-11-16 06:05] jinfagang commented on #2809
ok, then this is from slim sub-package, but why not import contrib from slim, many people want integrate this as standalone application, mess those things is not a good idea.

[2017-11-16 06:18] vishnu-ks commented on #2557
Same error..

[2017-11-16 06:45] ashizhao commented on #2739
Having the same issue with pet's retrainer tutorial.

[2017-11-16 07:09] yzhwang commented on #2778
@rwightman I tried your script with both TensorFlow r1.4 branch built from source (https://github.com/tensorflow/tensorflow/tree/r1.4) and TensorFlow current head built from source and I was able to get the expected results:
2017-11-15 22:55:14.932129: I tensorflow/core/kernels/logging_ops.cc:79] eval/Accuracy[0.82706]
2017-11-15 22:55:14.932129: I tensorflow/core/kernels/logging_ops.cc:79] eval/R

[2017-11-16 07:56] shakugan0shana commented on #2794
@h8907283 You can download the other model in 'Tensorflow detection model zoo'  such asfaster_rcnn_inception_v2_coco ,you can find that the file in the tar lost  graph.pbtxt.,I guess this is the reason for the no detection.

[2017-11-16 08:28] #2781 closed

[2017-11-16 08:42] skyson commented on #2798
im not sure whether the input node name is Mul or image_feed, i used the Mul as input name, but i seems it will take a long time to run to get the lstm/initial_state output node

[2017-11-16 09:00] AlgorithmR commented on #2808
I can confirm that this issue appears while using the latest commit to tensorflow/models [(commit #1440)](https://github.com/tensorflow/models/tree/d710a97330152b9767f40f2554cda147d580cc5c), as well as using tf_nightly_gpu-1.5.0.dev**20171115**.

This was not an issue when using tf_nightly_gpu-1.5.0.dev**20171027** and tensorflow/models from October 30th 2017 [(commit #1370).](https://github.com/t

[2017-11-16 09:49] kannan60 commented on #2808
Hey @AlgorithmR ! Thanks for the reply! I omitted --logtostderr and tried the same command. I probably ended up with a memory allocation error from the looks of it as seen here in the PDF attached below. I know it is really long. To make it easy, I have highlighted the important errors: Page 1, 2, 106, 107, 111 and 115.

[Memory Error.pdf](https://github.com/tensorflow/models/files/1478064/Memory.

[2017-11-16 10:18] AlgorithmR commented on #2808
Have you modified the config file (ssd_mobilenet_v1_pets.config)?
Looking at the error log you submitted it seems like the batch size is 24, judging by '**Resource exhausted: OOM when allocating tensor with shape[24,19,19,256]**', which is the default batch size in the config file.

Can you double check your config file?

[2017-11-16 10:43] kannan60 commented on #2808
@AlgorithmR  Oh my god...You are right!!!! **THE SAVIOUR! ** I just changed it to '1' now and it is training. By the way, what do I lose by not using the logtostderr command? and when do you know the training is sufficient? 300 steps have been executed and the loss rate is around 40-3 (keeps fluctuating). To stop the training it is ctrl + c, yes?

[2017-11-16 11:07] AlgorithmR commented on #2808
@kannan60 I'm glad the issue is resolved!

You might want to increase the batch size as high as you can to decrease the fluctuations of the results, but in the long run the end-results are more or less the same. The research on whether one should choose a low or high batch size is still in the early stages.

I believe **logtostderr** writes debug information to a temporary file, but I'm not 100% s

[2017-11-16 11:50] MaeThird opened #2811 "What's the matter with "clone_fn" ?"
I'm trying to use "**train_image_classifier.py**" to train model and need to **modify the loss** calculation. But even  small modifications caused the errors. such as:
![t](https://user-images.githubusercontent.com/14851411/32889558-51daf408-cac3-11e7-898f-ba15c48dff6f.jpg)
got "**Cannot assign a device for operation 'Print': Could not satisfy explicit device specification '/device:GPU:0' because

[2017-11-16 13:32] brunovollmer opened #2812 "Object Detection Jupyter Notebook not working"
I tried to run the Jupyter Notebook example for the object detection of tensorflow but there are no detections. I printed the scores and it's seems to work but the results are very bad. Does anyone have an idea what I might have done wrong.

*print(scores[0]):*

I'm running the example with tensorflow 1.4, python 3.5 and I tested the installation as suggested.

[2017-11-16 13:48] scotthuang1989 commented on #2672
@tombstone  sorry for the confusion. I solve my problem by rebuilding my tfrecord files. But When I try to find if there is a test case to test the integrity of tfrecord files, I found this a error related to test case(nothing to do with original problem).
BTW, the test case for creating tfrecord just use dummy data to test functionality of related module, nothing to make sure tfrecord is ok for t

[2017-11-16 14:46] rajarsheem commented on #1948
The above link is broken. [Here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md) is the updated one. But one question I have though is how ```create_cat_tf_example``` in the example change if the image has multiple objects with corresponding bboxes.

[2017-11-16 14:47] rajarsheem commented on #1948
The above link is broken. [Here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/using_your_own_dataset.md) is the updated one.

[2017-11-16 15:16] floft commented on #2739
I was having a similar issue in that whenever I tried importing matplotlib it would give some _tkinter error on the cluster I was training on. I installed matplotlib with pip and then as a temporary fix in *research/object_detection/utils/visualization_utils.py* before `import matplotlib.pyplot as plt`:

	import os
	import matplotlib as mpl
	if os.environ.get('DISPLAY','') == '':
		print('no displ

[2017-11-16 16:24] OverFlow7 commented on #2544
Thank you @tombstone .

But how do you create tfrecords with purely negative images? what do you put in the .xml?

[2017-11-16 19:07] tombstone commented on #2773
@Kaushal28  Could you please clarify two things.
1. Are you using the latest version of object detection code ? (If not can you try this ?. The new models in the zoo need the latest object detection code to work correctly)
2. Are you on python 3 ?

[2017-11-16 19:11] yzhwang commented on #2778
OK I tried with the installed version of tensorflow-gpu 1.4. I still got the expected results.
@rwightman Could you report your display driver version? If it is an older one (such as 367) could you try update it to 381, 384, or 387 and try again?

[2017-11-16 19:26] rwightman commented on #2778
I've got the standard driver for the Ubuntu 16.04 cuda 8 deb which is still
375. I did also spin up a 16.04 p100 in GCP with cuda 9 and a 384 driver
and it also exhibits the same problem. Your driver cuda combo is newer than
any of the default configs.

On Thu, Nov 16, 2017, 11:12 AM Yangzihao Wang <notifications@github.com>
wrote:

[2017-11-16 19:29] tombstone commented on #2773
I am able to reproduce this with python 2.7 , tf 1.4 and latest object detection code. Taking a look at his.

[2017-11-16 19:58] Jatik commented on #2812
I have similar low results.

[2017-11-16 20:32] RenukaNale opened #2814 "Loss not changing when training"
I am using tensorflow object detection api for my own dataset I am facing some problem.  I am using centos , with GPU Geforce 1080, 8 GB GPU memory, tensorflow 1.2.1 . I did the following steps and I  have two problems.
1. I annotated my images using LabelImg tool
2. Created tfrecord successfully
3.I used ssd_inception_v2_coco.config. I modified the only path, no of class and I did not train from

[2017-11-16 20:34] Jatik commented on #2812
Okay, you need to change the model name to "faster_rcnn_resnet101_coco_2017_11_08" as described here: https://github.com/tensorflow/models/issues/2773

[2017-11-16 21:18] jmayer13 opened #2815 "Add COCO version used in the models/checkpoints"
### Describe the problem
Please, if applicable inform the version of the dataset used to train/validate the models in object_detection/models

EX: MS COCO
- 2014 Train/Val
- 2017 Train/Val

More details: http://cocodataset.org/#download

[2017-11-16 21:24] jmayer13 commented on #2814
I belief that the "default" model is broken #2812
Could you try another model like *faster_rcnn_resnet101_coco_2017_11_08* to see if something changes?

[2017-11-16 21:29] RenukaNale commented on #2814
Thank you for the suggestion but I am not getting what do you mean that the "default" model is broken.

[2017-11-16 21:37] siavash-khodadadeh opened #2816 "script_test_pretrained_model.sh"
It seems that there is a bug when I run this command. It says that
scale cannot be an integer: False

ERROR:root:Checkpoint_dir: output/bl.v2.noclip.sbpd_d_r2r_h0_64_80
Traceback (most recent call last):
  File "scripts/script_nav_agent_release.py", line 253, in <module>
    app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(m

[2017-11-16 22:03] yzhwang commented on #2778
I downgraded my driver to 375.82 and ran this:
`python eval_image_classifier.py --dataset_dir ~/imagenet-2012-tfrecord/ --dataset_split_name validation --model_name nasnet_large --checkpoint_path ~/nasnet_large_ckpt/model.ckpt --dataset_name imagenet --moving_average_decay=0.9999 --eval_image_size 331 --batch_size 100`
It still gives me the expected results. (For all these runs, I was using CUDA 8

[2017-11-16 23:32] avolkov1 commented on #2712
RNNParamsSaveable is not deprecated, it's completely missing in TF 1.4.This is not helpful, but whatever. I'll be on the lookout.
Seems another issue has popped up already. Issue #2709

[2017-11-17 00:32] kannan60 commented on #2808
Heyy @AlgorithmR! So, I followed your steps and ended up with the loss_rate graph as shown.
![total_loss](https://user-images.githubusercontent.com/31975295/32920110-3e387196-cb7c-11e7-8691-95c86576727e.JPG)

It has been running for well over 12 hours now with a batch size of 1(just to check if it works or not).  As you can see the lowest loss is still around 10. Sentedx recommends it to be less t

[2017-11-17 01:25] Jatik commented on #1704
I have all fresh libraries but I have these errors (11 errors). OS - Win 7

[2017-11-17 02:06] NguyenHoanh1703 commented on #1956
you cannot change this because its "fixed", actually, if you take the pre-trained model, its basically based on the fixed 300x300, so if you change that, you need to trained from the scratch

[2017-11-17 02:38] macro-dadt commented on #1595
Make sure you run:
# From tensorflow/models/research/
protoc object_detection/protos/*.proto --python_out=.
# From tensorflow/models/research/
export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim

[2017-11-17 02:53] yuezhilanyi commented on #2779
use ssd_mobilenet_v1_coco_11_06_2017.tar instead
ssd_mobilenet_v1_coco_2017_11_08.tar doest not generate boxes

[2017-11-17 06:50] rwightman commented on #2778
Well, this one is an odd puzzle.

I've reproduced on my initial two local systems with:
1080TI/TitanX - Driver 375.88, CUDA V8.0.61, CUDNN 6.0.21, Python 3.5.1+

I reproduced problem on a GCP instance with:
P100 - Driver 384.90, CUDA V9.0.176, CUDNN 7.0.2, Python 3.5.2

I spun up another cloud instance today. I could not reproduce on an AWS P3 instance with:
V100 - Driver 384.81, CUDA V9.0.176, CU

[2017-11-17 07:02] Kitter commented on #464
Hi, @xtr33me
  Are test data trained data? I trained a model. If I use trained data to test, the results are similar to yours. But I don't understand a thing, the decode output less one word(the first word) than reference output. Why is this happend，do you konw? Thanks.

[2017-11-17 08:08] AlgorithmR commented on #2808
There are too many factors to know for sure what the ideal solution is. You could try to evaluate the data and see how it performs. That'll give you the mAP (mean average precision) for all of the classes. You can then use this data to see whether or not you should keep training.

You also have to keep in mind how large your dataset is. If you train too much on the same dataset it will overfit, wh

[2017-11-17 08:16] MaeThird commented on #2811
`allow_soft_placement=True` can solve.

[2017-11-17 08:16] #2811 closed

[2017-11-17 08:43] chrisrn opened #2818 "Bug using 2 gpus"
### System information
- **What is the top-level directory of the model you are using**:
tensorflow/models/research/slim
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use comm

[2017-11-17 09:06] vlan100 opened #2819 "请问一下收敛的问题"
同样的数据集，我用restnet很快就收敛了，但是mobienet很难收敛，是网络特性的原因吗

[2017-11-17 09:30] adezoguns opened #2820 "Bounding box for mobileNet SSD fixed on the screen and the size of .pb is 22Mb instead of 29Mb"
Good day guys.  I have a challenge with SSD mobileNet (ssd_mobilenet_v1_coco_11_06_2017) graph .pb. I have frozen the graph using export_inference_graph.py after training for object detection and the size of the frozen graph is 22MB instead of the usual 29MB. I checked the graph from the coco dataset that came with mobileNet and the @Raccoon detection graph, they were both 29MB. I tested the graph

[2017-11-17 10:06] zhoulukuan commented on #2740
@KimmoOjala Great! I have difficulty in Protobuf Compilation because I cannot protoc
those .proto files in object_detection\protos\. And I got it work by your method.

[2017-11-17 10:26] mishra011 opened #2821 "How can I train a seq2seq model on new data (incremental adaptation)?"
I have trained a seq2seq model with 1M samples and saved the latest  checkpoint. Now, I have some additional training data of 50K sentence  pairs which has not been seen in previous training data. How can I adapt  the current model to this new data without starting the training from  scratch?

[2017-11-17 12:00] mpeniak commented on #2790
Using 1.4 TF and the latest models verison of the repo I get the folliowing:

Traceback (most recent call last):
  File "object_detection/export_inference_graph.py", line 96, in <module>
    tf.app.flags.mark_flag_as_required('pipeline_config_path')
AttributeError: module 'tensorflow.python.platform.flags' has no attribute 'mark_flag_as_required'

[2017-11-17 12:59] kannan60 commented on #2808
@AlgorithmR  Thank you so much for that! Really appreciate your help :) So, I finally stopped training and the loss rate was around 8. I anyway tried testing my model with a few test images. I followed through sentdex tutorial 6 on object detection API. However,  there are no bounding boxes drawn on any of the images after testing. There is no error also in the jupyter notebook. I have a doubt reg

[2017-11-17 13:27] AlgorithmR commented on #2808
@kannan60 Your pbtxt file is setup correctly. Have you also specified '2' classes in the .config file? If you're not getting any bounding boxes it might mean that **A)** there's not enough data to train the model, **B)** the model is overfitting, **C)** you haven't trained enough, or **D)** your model is somewhat accurate, but doesn't find anything for your specific test set.

How many images do y

[2017-11-17 13:46] vladmos opened #2822 "TF-models project is broken on Bazel CI"
Bazel CI for tensorflow/models/syntaxnet is broken by 4364390adbf16b57c093a05217897831f48da7d3: https://ci.bazel.io/job/tf_models_syntaxnet/

`Unexpected error reading .blazerc file '/home/ci/workspace/tf_models_syntaxnet-variation=,node=ubuntu_16.04-x86_64/research/syntaxnet/tensorflow/.tf_configure.bazelrc`

[2017-11-17 14:32] JohRust commented on #1816
@Cospel Some models from the [model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) were uploaded just a week ago. Maybe redownloading them helps.
Using print(image_tensor) now gives me:
`Tensor("image_tensor:0", shape=(?, ?, ?, 3), dtype=uint8)`
So batch processing should now be possible.

[2017-11-17 14:40] marvrez commented on #1730
Hello, I also have the same problem with the TX2 I am using. Did you find a solution to this?

[2017-11-17 16:00] juandes opened #2823 "Object Detection frozen models not working on Android"
Hi.
I have a custom trained model I did using the Object Detection API, and the frozen version, produced by the `export_inference_graph.py` is not being compiled while trying to deploy it on Android, specifically the TF Detect project.

This is the error
[code]

Is this the actual right way to freeze a model to used on Android? Or is there another way to freeze a model for that use case?

Thanks

[2017-11-17 16:24] law826 commented on #2739
I have tried adding matplotlib as @glc12125 suggested and got around the _tkinter error as @floft suggested. I'm not sure if my problem is specific to doing transfer learning from the new faster_rcnn_nas_coco model, but it still seems like I still get the following downstream error on Google's Cloud ML:

The replica master 0 exited with a non-zero status of 1. Termination reason: Error. Traceback

[2017-11-17 16:28] SaintNazaire commented on #2355
Roger that, seen updated readme a couple minutes ago, work in progress please stand-by.

[2017-11-17 16:29] law826 commented on #2739
I have tried it on Google's Cloud ML. So I got around the matplotlib issue as @glc12125 suggested and around the tkinter error as @floft suggested. I am not sure if my problem is specific to running transfer learning on the new faster_rcnn_nas_coco model, but I get the following downstream error (after correcting for https://github.com/tensorflow/models/issues/2668 as well):

The replica master 0

[2017-11-17 16:55] headdab commented on #2794
I'm having similar problems - I get no detections when using the new models.
I'm also having a hard time understanding the answer above.

[2017-11-18 00:10] yzhwang commented on #2778
Hi @rwightman , I tried with Python 3.4 on my 1080 with driver 375 and CUDA 8 + cudnn 6. Still showing expected results (82.7% top one and 96.2% top five).
For CUDA 9 and cudnn 7 version, I assume you built from source? I'm doing this right now on a machine with P100, so that I can match your configuration. I will report my findings later.

[2017-11-18 00:48] rwightman commented on #2778
I used this wheel for GCP P100 (https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9-generic) .

On AWS, I used their latest AMI which includes a build of TF 1.4. The AMI is advertised as having CUDA 9 and that's what nvcc and libs in the path indicate, however the included module looks like it's linking against CUDA 8.0 based on the ldd output. So it is not in fact CUDA 9.

Is your TF link

[2017-11-18 00:56] rwightman commented on #2778
My machine (has issue @ batch 100):

libtensorflow_framework.so
[code]
contrib/framework/python/ops/_variable_ops.so
[code]

GCP P100 (has issue @ batch size 100)

libtensorflow_framework.so
[code]

contrib/framework/python/ops/_variable_ops.so:
[code]
AWS V100 (does not have issue)

libtensorflow_framework.so
[code]
contrib/framework/python/ops/_variable_ops.so:
[code]

[2017-11-18 03:56] jerowe commented on #1881
I am also having this problem. My images do not have any sort of orientation, so I am have flipped,flopped,transposed,transversed, and rotated my images by 90,-90, and 180 degrees. It works great on the original dataset, but not on artificially augmented training set.

[2017-11-18 04:38] #2672 closed

[2017-11-18 04:38] #2773 closed

[2017-11-18 06:14] tombstone commented on #2779
Please try the new ssd models from the zoo. That should fix the problem.

[2017-11-18 06:14] tombstone commented on #2781
Please try the new ssd models from the zoo. That should fix the problem.

[2017-11-18 06:16] tombstone commented on #2812
@brunovollmer  Please check the detection model zoo again. We pushed fresh models that should solve this problem.

[2017-11-18 06:18] #2812 closed

[2017-11-18 06:19] tombstone commented on #2773
Please try the updated ssd models from the detection zoo again. That should fix the problem.

[2017-11-18 06:21] tombstone commented on #2794
#2829 fixes this issue. Please try the updated SSD models. Feel free to reopen if you are still having problems with SSD models.

[2017-11-18 06:21] #2794 closed

[2017-11-18 06:25] Rasoul20sh commented on #2781
Thanks alot

[2017-11-18 06:36] tombstone commented on #2714
SSD models have been updated yet again. Please try the latest models. Feel free to reopen if you run into this problem again.

[2017-11-18 06:36] #2714 closed

[2017-11-18 06:47] tombstone commented on #2819
Sorry, Can't understand this issue. Could you please follow the template and reopen with the required information ?

[2017-11-18 06:47] #2819 closed

[2017-11-18 06:52] tombstone commented on #2809
@jinfagang This is an unfortunately a little complicated as you rightly pointed out but the instructions @meenuagarwal  points to should help you solve it for now.

[2017-11-18 06:52] #2809 closed

[2017-11-18 06:56] tombstone commented on #2801
@blaskowitz100 It uses all the tf record files.

[2017-11-18 06:56] #2801 closed

[2017-11-18 07:18] daavoo commented on #2714
Can confirm that I'm not having the problem anymore

El 18 nov. 2017 7:38, "vivek rathod" <notifications@github.com> escribió:

[2017-11-18 07:29] tombstone commented on #2796
@Dragonkingpan Looks like you don't have a gpu with enough memory. One thing you can try is to change the batch_size int the ssd_mobilenet_v1_coco.config to 16 from 32.

If you need to look at the network definition, please see:
https://github.com/tensorflow/models/blob/master/research/object_detection/models/ssd_mobilenet_v1_feature_extractor.py
and
https://github.com/tensorflow/models/blob/maste

[2017-11-18 07:29] #2796 closed

[2017-11-18 07:33] tombstone commented on #2661
@chihyuwang  That is hard to diagnose without a lot of info. You can try simple things like using a smaller learning rate.

[2017-11-18 07:36] Pawan2721 commented on #2773
Hold onnn!!!!!! I got the proper output for 'ssd_mobilenet_v1_coco_11_06_2017' in Ubuntu 16.04 using tensorflow 1.4.  I tried the same on Windows bt I dint get!!!!

[2017-11-18 07:37] tombstone commented on #2770
@MisterMorden  I wouldn't call this incorrect. Its just one way to resize it. But if you find doing it the way you describe helps you achieve better performance, please feel free to send a PR and we will be more than happy to review and merge it :)

[2017-11-18 07:39] Kaushal28 commented on #2773
Why this issue is closed even if it is not solved?

[2017-11-18 07:40] Kaushal28 commented on #2773
@tombstone yes I'm using latest version of code with Python 3.x

[2017-11-18 07:40] tombstone commented on #2761
@starwars110  @liuxinyuk  we updated the SSD models yet again. Can you please retry and let us know if this solves the problem?

[2017-11-18 07:41] tombstone commented on #2754
@mrfortynine  please fork this repository and send a pull request from there.

[2017-11-18 07:45] tombstone commented on #2585
@T0MTOM1  closing this issue since we have no idea what problem you are referring to. Please follow the template specified by @michaelisard  and reopen the issue.

[2017-11-18 07:45] #2585 closed

[2017-11-18 07:47] tombstone commented on #2577
I will close this for now since things seems to work as expected. If you are still having problems please feel free to reopen this issue.

[2017-11-18 07:47] #2577 closed

[2017-11-18 07:54] gpeier commented on #2194
I had the same error with the pet dataset, but it is now working. I first went through the images folder and found that the following files had the .jpg extension but were actually .png files:

egyptian_mau_14, 139, 145, 156, 167, 177, 186, 191; abyssinian_5, 34.

I still had the error after deleting these files and .xml data. After running "jpeginfo" in the images folder I found that chihuahua_12

[2017-11-18 07:56] tombstone commented on #2376
@jingjingwang  we do not have all the implementations in the API we released. Some of those were implemented in a older API. We don't have plans to reimplement every model from that paper but we welcome contributions.

[2017-11-18 08:31] tombstone commented on #2714
@daavoo Thanks!

[2017-11-18 10:18] tansut commented on #2194
Removed the above files @gpeier mentioned. Still getting:

Corrupt JPEG data: 240 extraneous bytes before marker 0xd9

[2017-11-18 13:42] flipflop98 opened #2830 "Error from "python object_detection/builders/model_builder_test.py" command."
I have following error while doing the installation final step.
I'm using tensorflow (1.4), cuda (8.0), cudnn (6.0), matplotlib (2.1.0) under anaconda virtual environment.

----------------------------------------------------------------------------------------------------------------------------
(tensorflow) chkim@chkim-PMTSB09D-Samsung-DeskTop:~/다운로드/models-master/research$ python object_detecti

[2017-11-18 14:06] tombstone commented on #2773
@kaushal28 this was closed automatically as it was referenced in the PR that updated the model zoo. This problem should go away if you use the latest model from the zoo on tensorflow 1.4 . Here's a link for your convenience  http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2017_11_17.tar.gz. . please feel free to reopen if this doesn't work for you

[2017-11-18 14:09] tombstone commented on #2773
@Pawan2721 please verify that you have tensorflow 1.4 installed on Windows and you are using the latest object detection code and model http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2017_11_17.tar.gz. If you still continues to have problems on Windows let's open a separate issue for it.

[2017-11-18 15:35] mrfortynine commented on #2754
[PR 2831](https://github.com/tensorflow/models/pull/2831)

[2017-11-18 16:44] Shisir commented on #2815
I used 2014 MSCOCO dataset.

[2017-11-18 17:26] SumanyuShukla commented on #2292
how to do evaluation using checkpoints....mine is not loading.

[2017-11-18 19:46] #2815 closed

[2017-11-18 21:50] gpeier commented on #2194
I also removed the .xmls and the entries in list.txt, test.txt, and trainval.txt. I am very to new to tensorboard so I really can't tell if those were necessary steps. Also, consider installing jpeginfo and running it in the images folder and then checking to see if you missed any corrupt jpegs.

[2017-11-18 22:08] seahawks8 commented on #2194
I would recommend setting a “try and except” statement on the specific line or whatever means to narrow down what file is causing that issue. Could be caused by JPG instead of JPEG or PNG. How did you acquire the images you are trying to train. Many people who download images from google via some script, always end up with corrupted or bad images with wrong extensions

[2017-11-18 23:28] cy89 commented on #2763
@shlens any other observations here? Is there any advice to offer @chenghuige?

[2017-11-18 23:29] cy89 commented on #2787
I don't think this is quite the right forum for a discussion of relative performance of the different models; have you also asked on StackOverflow?

[2017-11-18 23:33] cy89 commented on #2793
Is your question when any code might be released? Have you tried asking the authors of the paper you linked?

[2017-11-18 23:33] niyazpk commented on #2267
This is great news. Thanks for working on this. Will the YOLOV2 implementation support all the data augmentation techniques too?

[2017-11-18 23:33] cy89 commented on #2799
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-11-18 23:39] cy89 commented on #2803
@thenbasilmanran, any advice to offer?

[2017-11-18 23:40] cy89 commented on #2821
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-18 23:40] #2821 closed

[2017-11-18 23:41] cy89 commented on #2823
@andrewharp can you offer any advice?

[2017-11-18 23:45] gpeier commented on #2194
Images are from the oxford/pets website as described in the tutorial. I suspect that either some files in the archive were already corrupted or were corrupted during download. Definitely not a fast download considering I only got 500kb/s on a 1000mb/s google fiber connection.

[2017-11-18 23:46] bhack commented on #2793
Yes see slide n. 34. I've not Alireza Fathi github account to mention him. Probably you have some internal reference to other members of Google Team G-RMI to expose a roadmap.

[2017-11-18 23:51] shlens commented on #2763
We will not have time investigate this further but I would suggest that @chenghuige examine a timeline profile of the function to potentially identify bottleneck in speed.

[2017-11-19 00:14] chenghuige commented on #2763
Ok @shlens  thanks, currently I find 2gpu can still have good finetune result so just use 2gpu running. I will examine more when I have time.

[2017-11-19 01:20] afathi3 commented on #2793
We plan to release the instance segmentation API by the end of November or early December.
Right now we do not have an implementation of the unpooling op you pointed to as far as I know, but we will look into it.

[2017-11-19 02:14] Peterwu1994 commented on #2145
I think this is a bug: When I use some preprocess to input images e.g` random_contrast`, It needs the input image normalized between 0 and 1 first. However when running test procedure, you cannot  normalize the image, so you get nothing. It bothered me a long time, please give some comments

[2017-11-19 04:44] headdab opened #2832 "lowproposals models are no faster than corresponding models with more proposals"
### System information
- **What is the top-level directory of the model you are using**:

research/object_detection

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes, I've written a simple script that allows me to select the model, input video, frames, etc.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Ubuntu 17.04

- **T

[2017-11-19 06:57] kosintop opened #2833 "ImportError: cannot import name preprocessor_pb2 when trying to run job on google cloud"
i'm trying run my own custom object detection training job by following 'pet training quickstart' and guideline on 'running on cloud' but has the following error

and a few more error for each worker with the same pattern

this is the input show in Google console

I'm not sure if this is a bug or if I do something wrong? Do i need to build proto files by myself? or did the script not building prop

[2017-11-19 08:44] bhack commented on #2793
Thank you Alireza for the update. Seems that it is really near. On segmentation we have also FC-Densenet waiting in https://github.com/tensorflow/models/pull/2308

[2017-11-19 14:58] Cospel commented on #1816
Thank you, you are right with new models it working fine!

[2017-11-19 17:46] gnazareths commented on #2674
Same error

[2017-11-19 18:02] batu opened #2834 "[Feature Request] Mark checkpoints not to be deleted."
It would be very useful to be able to mark checkpoints not to be deleted.

A little context:

I am creating a reinforcement learning model and I want to save my best model throughout the training. In order to do that, I am keeping the best score and whenever it is updated saving a checkpoint at that moment in time.

Unfortunately, my best_score checkpoints are getting deleted. I understand that th

[2017-11-19 21:14] waleedka commented on #1418
I noticed this as well while debugging another issue. The comments in resnet_v1.py say

However, MSRA didn't participate in [MSCOCO 2016](http://image-net.org/challenges/LSVRC/2016/results). Maybe they meant [2015](http://image-net.org/challenges/LSVRC/2015/results). The [official code](https://github.com/KaimingHe/deep-residual-networks) from Kaiming He, which he states was used in the MS COCO co

[2017-11-20 00:41] Jatik opened #2835 "Which checkpoint file to put into config as fine_tune_checkpoint?"
I'm pretty newbie and trying to use pretrained model but I can't figure out which file should be put into .config file as fine_tune_checkpoint? All the articles mention model.ckpt but these models don't have such file. Anything else (meta, index, data) show some errors.

[2017-11-20 00:59] waleedka commented on #1418
Found this note in [resnet_utils.py](https://github.com/tensorflow/models/blob/master/research/slim/nets/resnet_utils.py).

implementation we subsample the output activations in the last residual unit of
each block, instead of subsampling the input activations in the first residual
unit of each block. The two implementations give identical results but our
implementation is more memory efficient.

[2017-11-20 01:04] staturecrane commented on #2739
Was this issue ever addressed? I am unable to run a model I could previously run with an older version of the object_detection API due to the matplotlib and python-tk dependency issue.

[2017-11-20 01:37] Jreyno40 commented on #1936
I'm also having a problem. My eval.py gives me the "following classes have no ground truth" message, and further, when I look on tensorboard I see no bounding boxes at all. It'll have an "Images" tab where it states "image-9", then has a slider for the steps, but as I move the slider it's just displaying different images, and no bounding boxes are displayed. Does anyone know what is going on?

[2017-11-20 01:44] sirebellum commented on #2757
Changing config.input_path to config.input_path[:] fixed this issue for me

[2017-11-20 01:46] sczhengyabin commented on #2832
Also confirmed.
The models in "lowproposals" have exactly the same configuration pipeline file and model (same md5 sum)    compared to the regular models.

[2017-11-20 01:51] Jreyno40 commented on #2779
I'm experiencing this problem when training locally on ssd ssd_mobilenet_v1_pets.config and trying to run evaluate and look at tensorboard. I posted a GitHub question about it: https://stackoverflow.com/questions/47384021/no-bounding-boxes-showing-up

[2017-11-20 01:54] BrianZhu01 commented on #2799
thank you for your response,
the OS Platform is  Red Hat 4.4.7-16
the TensorFlow installed from binary
the TensorFlow version is 1.10
python version is 2.7
gcc version is 4.8.2 and compiling from source
GPU is K80, and memory is 12G

I just run the Mini FSNS dataset as described in the outline, it also meet the same errors . and after I delete the file such as 'rm -rf $train_dir'.  the error is di

[2017-11-20 02:29] qysnn opened #2836 "slim script doesn't work properly with Tensorboard when training on multiple GPUs"
### System information
- **What is the top-level directory of the model you are using**:research/slim
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow version (use command below)**:1.4
- **GPU model and memory**:GTX 1080 X4
- **Exact command to reproduce**:tensorboard --logdir=${TRAIN_DIR}

### Describe the problem
I am trying to use train_image_class

[2017-11-20 02:58] zhangchunsheng opened #2837 "Can't freeze model Data loss: not an sstable (bad magic number)"
Training with my own data, Get this when I train model. More info here: https://github.com/zhangchunsheng/tensorflow-rbnr
config: faster_rcnn_numobj.config
tensorflow:1.4.0, models project is newest.
gen.py will make the record file
I train it on my Mac.

INFO:tensorflow:Summary name /clone_loss is illegal; using clone_loss instead.
/Library/Python/2.7/site-packages/tensorflow/python/ops/gradients

[2017-11-20 03:37] Axe-- commented on #2674
I had faced this issue with the nasnet_10_24 ckpt.   (TF - 1.3)
However, after upgrading to the nasnet_ 11_8 ckpt. the issue was resolved. (TF - 1.4)

[2017-11-20 09:12] deepk91 commented on #1409
Hello, Could you please share how you solved this error? I am using similar code but with inception-v4 module and constantly getting the same error. THough I have mentioned the correct checkpoint directory and ckpt file is also there but error is still the same.

[2017-11-20 09:53] argman opened #2838 "NASnet is not fully convolutional"
In line [here](https://github.com/tensorflow/models/blob/master/research/slim/nets/nasnet/nasnet_utils.py#L375), it uses static shape, but this causes the model can only be used when shape is pre-defined, I think a better way is to store the stride of each cell, not use the H or W of feature map

[2017-11-20 11:18] onlyNata commented on #2837
I have the same problem.Update TF-1.4 and the model(git pull ..) to the latest, then ,is OK~

[2017-11-20 14:17] RenukaNale commented on #1936
same error`INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
INFO:tensorflow:Scale of 0 disables regularizer.
2017-11-20 14:53:04.346351: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow

[2017-11-20 14:31] kannan60 commented on #2808
@AlgorithmR Hey! So, I tried running the classic mac_and_cheese dataset to make sure the method is working. I got decent results for mac and cheese images(mostly 98% over). However, it classified pizza and burgers as macncheese.  Luckily, it did not classify anything for the dog image.  Btw, I was able to use TF v 1.4 this time around and I had no trouble getting it to work. I even uninstalled the

[2017-11-20 15:52] ibr123 opened #2839 "Tensorflow[attention_ocr] Use Pretrained Model for Detection"
Hi,
I'm calling the function "create_base" which exists in the model.py which is the following

[code]

so when i run the following code

[code]
i get the following error:

[code]
keep in mind that im using the model "inception_v3.ckpt"
Thanks

[2017-11-20 16:44] ybsave commented on #2194
I confirmed that there is no download problem, too. It seems that the problem is the pet data set's own problem.

[2017-11-20 17:11] mpeniak opened #2840 "SSD-Mobilenet 11 Nov 2017 vs. 11 June 2017"
Hi,

I see the ssd-mobilenet-v1-coco has been updated and the page claims that the speeds are faster.

Could someone please let me know what exactly is the difference between these ?

NEW: ssd_mobilenet_v1_coco_2017_11_17
OLD: ssd_mobilenet_v1_coco_11_06_2017

I am currently running this via tensorflow mobile demo but my end goal is to use Tensorflow lite. Since there are no demos or explanations

[2017-11-20 19:01] yzhwang commented on #2778
@rwightman I did reproduce this bug using tf 1.4 built from source with python 3.5 on P100 + CUDA9 + cudnn7. The result is:
2017-11-20 10:58:07.427593: I tensorflow/core/kernels/logging_ops.cc:79] eval/Recall_5[0.76182]
2017-11-20 10:58:07.427593: I tensorflow/core/kernels/logging_ops.cc:79] eval/Accuracy[0.65166]
I will start looking into the problem.

[2017-11-20 19:10] tyleretchart opened #2841 "random_pad_image throwing a "type int32 that does not match type float32" error"
### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.

[2017-11-20 21:17] mrfortynine commented on #2714
@tombstone I ran into this issue with SSD model as well. Is this due to older SSD model not being compatible with recent export script? Is there a workaround if I can't retrain with more recent SSD model?

[2017-11-20 21:44] mrfortynine commented on #2714
It seems using latest SSD model alone (while still using TF 1.2) isn't enough to fix this problem. Again, I'm running into issue that requires TF 1.4. It would be great if we can keep this project working out of box with TF 1.2 since that's what's available on google ML engine.

[2017-11-20 21:51] mrfortynine commented on #2714
Reading the original issue report more closely, I realized that I'm seeing a different symptom. What I'm experiencing is that object_detection/export_inference_graph.py crashed when I try to export fine turned SSD model.

[2017-11-20 22:28] mrfortynine opened #2843 "object_detection/export_inference_graph.py crashes when exporting fine tuned ssd model."
### System information
- **What is the top-level directory of the model you are using**:
`research/object_detection`

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04 LTS

- **TensorFlow installed from (source or binary)**:
binary

- **TensorFlow version (use command

[2017-11-20 22:37] wationgo commented on #1842
Thanks a lot. It worked for me

[2017-11-20 22:54] mrfortynine commented on #2843
Given the stackbrace, it's not surprising that [removing `constfold` optimization](https://github.com/tensorflow/models/blob/master/research/object_detection/exporter.py#L74) makes the crash go away.

[2017-11-21 01:16] Baby47 commented on #2312
i also encounterd this problem .
indices[1] = 1 is not in [0, 1) + Caught OutOfRangeError

[2017-11-21 01:27] huahandsome opened #2844 "when training will complete"
Hello,

When I tried to tune a inception model to identify the flowers, I found that the program never end.

I read and follow the step posted in the link: https://github.com/tensorflow/models/tree/master/research/inception

The command I used to run the training is:
/usr/bin/python /share_folder/220Proj/flower_demo/bazel-bin/inception/flowers_train.runfiles/inception/inception/flowers_train.py \

[2017-11-21 01:49] nmoezzi commented on #1879
I have similar issue when quantizing using 'transform_graph'. I used the tool on AlexNet trained on ImageNet. When quantizing only the weights the accuracy is great, when quantizing both weights and nodes, I get "graph_def is invalid" error:
'''
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/util/deprecation.py", line 316, in new_func
    return func(*args, **kwargs)
  File "/usr

[2017-11-21 01:50] j2233ack commented on #637
I also encountered the same problem, if you have a solution, can you teach me? Thank you~

[2017-11-21 02:48] FightForCS commented on #2025
Hi, everyone, I have already fine tune a classification model from slim, and I want to combine this fine tuned model with the RPN network from object detection model zoo(RPN will not be fine tuned, I want to just use the parameter of the object detection model), is there some ways to achieve this?

[2017-11-21 02:57] starwars110 commented on #2761
Still I see the problem for training. But the inference for the updated model now shows the bboxes.

[2017-11-21 03:02] snownus commented on #1879
@nmoezzi  Make sure the tensorflow version is consistent in you machine

[2017-11-21 03:23] FightForCS opened #2845 "combine RPN (from object_detection) and classification(from slim)"
Hi, everyone, I have already fine tune a classification model(using resnet 50 and change number of class) from slim, and I want to combine this fine tuned model with the RPN network from object detection model zoo(RPN will not be fine tuned, I want to just use the parameter of the pretrained object detection model), is there some ways to achieve this?

I have googled a lot and check out issues, fi

[2017-11-21 03:28] offbye commented on #2823
have u quantized the model? I met this issue after quantized  the frozen model

[2017-11-21 05:18] freddypv commented on #2207
I solved this issue by providing an extra arg '`--clone_on_cpu=True`' while running ( which is False by default)
`python train_image_classifier.py --clone_on_cpu=True --train_dir=${TRAIN_DIR} --dataset_name=flowers --dataset_split_name=train --dataset_dir=${DATASET_DIR} --model_name=inception_v3`

[2017-11-21 05:19] SragAR commented on #2207
I solved this issue by providing an extra arg '`--clone_on_cpu=True`' while running ( which is False by default)
`python train_image_classifier.py --clone_on_cpu=True --train_dir=${TRAIN_DIR} --dataset_name=flowers --dataset_split_name=train --dataset_dir=${DATASET_DIR} --model_name=inception_v3`

[2017-11-21 06:20] Jreyno40 opened #2850 "Hello, multiple issues (no bounding boxes, can't run eval and train at the same time, and trouble using checkpoints"
Hello! Here to mention some issues I'm having, as it seems they may not be my fault (but happy to be corrected if they are). I've asked a stackoverflow question here but received no responses.: https://stackoverflow.com/questions/47384021/no-bounding-boxes-showing-up

I'm running tensorflow on a windows 10 system, and I don't have any custom code, but rather a novel dataset. I have a GTX 1070. I a

[2017-11-21 06:29] vikramg1 commented on #2025
What type of classification model do you have? If it is one of the ones
from the model zoo, then you should be able to add RPN to it.

On Nov 20, 2017 6:49 PM, "FightForCS" <notifications@github.com> wrote:

[2017-11-21 06:39] nmoezzi commented on #1879
I used bazel-build for creating the quantized graph and python to run the tf inference example. I think the version is consistent.

This time instead of "transform_graph" (for weight and node quantization) I used bazel-bin/tensorflow/tools/quantization/quantize_graph and it worked and I am having about 2% accuracy loss for AlexNet. Although some posts have mentioned that "quantize_graph" is obsole

[2017-11-21 07:11] FightForCS commented on #2025
@vikramg1 resnet 50, can you give me some instruction on how to add RPN,
I have googled a lot, but still did not get useful information, Thanks

[2017-11-21 08:22] LeoDMeL opened #2851 "ImportError: No module named util"
running ptb_word_lm.py ([https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py](url)) on my computer throwing the error, I'd appreciate it if anyone give me some advice.

    ImportError: No module named util

my environment: windows10+tensorflow1.4.1+cuda8.0+cudnn6.1.

[2017-11-21 08:35] mapicc opened #2852 "why does slim.get_model_variables('vgg_16') return []?"
The error message as follows:

Traceback (most recent call last):
  File "taylor_expansion.py", line 292, in <module>
    slim.get_model_variables('vgg_16'))
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/contrib/framework/python/ops/variables.py", line 643, in assign_from_checkpoint_fn
    raise ValueError('var_list cannot be empty')
ValueError: var_list cannot be empty

[2017-11-21 09:02] hugosimasalmeida commented on #2790
I have the same issue but with a previous version of tensorflow (this issue was not there before so i am unsure what changed (was it an update on protobuf version?), tried on ubuntu14.04 with GPU and Mac os with CPU and i have the same error):
python3 export_inference_graph.py \

Traceback (most recent call last):
  File "export_inference_graph.py", line 96, in <module>
    tf.app.flags.mark_flag_

[2017-11-21 09:19] raytroop commented on #1733
if passsing same cell to enc_cell and dec_cell arguments, then encoder and decoder will share variable.
It's right?

[2017-11-21 09:43] offbye opened #2853 "After quantize the ssd_mobilenet_v1_android_export.pb, Tensorflow Android can not load it"
I have tried the below  commands  to compress sdd-mobilenet_v1 model.
[code]

When load the quantized model on android demo， I met errors.
Is there anyone who can help ?
thanks.

[code]

[2017-11-21 10:19] philippwerner commented on #2803
I ran into the same problem with another model of slim. For me, a workaround for the problem was to add "with tf.device('/cpu:0'):" in front of the softmax definition. I think, in your case this is probably in front of line 77 in lenet.py.

[2017-11-21 10:23] madekwe commented on #2835
You need to download the model first :

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

[2017-11-21 10:45] juandes commented on #2823
@offbye What do you mean by that? Could you explain it? What I did is what is referred as "exporting a trained model for inference" or simply "freezing" the model. It is discussed here: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/exporting_models.md

[2017-11-21 11:25] #2852 closed

[2017-11-21 11:33] mpeniak commented on #2853
I'd be interested to know this too. BTW, did you look into using TF Lite for object detection using ssd_mobilenet? I am currently looking into this as it should result in significant speedup if supported.

[2017-11-21 11:38] mpeniak commented on #2823
I think you're doing something wrong. First, you freeze the model then you load it frozen on Android. You do freeze it on Android. Just check the Android FT app and see how it's loaded.

[2017-11-21 11:40] mpeniak commented on #2820
While you're training, try also run evaluation in parallel...in that way you will see how the networks behaves right away and you'll narrow down the problem.

[2017-11-21 12:41] juandes commented on #2823
Mmm...as far I as understand, I am freezing the model first to generate my .pb file. Said .pb file is what I am trying to load to Android. I believe my loading "pipeline" is correctly, because the app is being created. However, upon opening it, I get the error I posted before.

My code on the Android side is basically a copy of the Android FT app. In fact, I was able to load one of the Android fro

[2017-11-21 13:13] smarzban commented on #1811
@Himanshu141 how did export in TF 1.2 using export_inference_graph.py ? downgrading TF to 1.2 doesnt work

[2017-11-21 13:44] Himanshu141 commented on #1811
@smarzban  I downloaded the zip file for tensorflow 1.2 and installed it in my conda environment .

[2017-11-21 13:57] smarzban commented on #1811
thanks for quick reply, did you compile tf 1.2?
With `pip install tensorflow==1.2` I get following seg fault while exporting:
[code]

[2017-11-21 14:39] zmonoid opened #2855 "resnet models actually use inception preprocessing function in slim"
However the preprocessing factory in slim map resnet into vgg preprocessing, which cannot give corrent prediction.

see
https://github.com/tensorflow/models/blob/master/research/slim/preprocessing/preprocessing_factory.py

[2017-11-21 15:30] ebrevdo commented on #1733
Yup

On Tue, Nov 21, 2017, 1:20 AM raytroop <notifications@github.com> wrote:

[2017-11-21 15:40] ibr123 commented on #2839
I used the line of code
`endpoints = modelout.create_base(images_placeholder, labels_one_hot=None)`

[2017-11-21 15:40] #2839 closed

[2017-11-21 15:41] Jreyno40 commented on #2773
I'm adding a comment here; I'm seeing the same issue of no bounding boxes showing up, but when training models using the sample configurations and not in the entry ipynb.

[2017-11-21 15:45] ibr123 opened #2856 "Tensorflow[attention_ocr] Dimension Error"
Hi,

I intend to make detection using attention_ocr so I'm using the following code
[code]
and I'm getting the following error
[code]
any idea to solve this problem?
Thanks

[2017-11-21 15:49] kleinash opened #2857 "Error thrown when trying to run classify_image.py"
I am beginning to think this is a bug.

I have posted a question on SO but I don't think the answer is general.

------------------------

### System information
- **What is the top-level directory of the model you are using**:

models/tutorials/image/imagenet ( https://github.com/tensorflow/models)

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)

[2017-11-21 16:03] jingyibo123 commented on #2803
@philippwerner Thank you for the help! I encountered the same problem for lenet and mobilenet as well.
Could you give some more details on where you added the line? Is it gen_nn_ops.py ?

[2017-11-21 17:29] ashizhao commented on #2739
This blog mentions some changes in setup.py that addresses compatibility issues with Tensorflow and GCP: https://medium.com/google-cloud/object-detection-tensorflow-and-google-cloud-platform-72e0a3f3bdd6

[2017-11-21 18:21] Jatik commented on #2835
The point of my question is different, not just where to get the models. The problem is none of these model has the model.ckpt file. But I already figured out that nevertheless I need to point to checkpoint_folder/model.ckpt **EVEN** if there is no such file. The documentation is very, very confusing.

[2017-11-21 18:21] #2835 closed

[2017-11-21 20:10] glc12125 commented on #2739
Hey ashizhao,

Thanks for pointing out the direction. I have tried the "fix" for setup.py in the blog you mentioned, and faced another GCP runtime version not-up-to-date issue in [#2707](https://github.com/tensorflow/models/issues/2707). I followed the solution mentioned in #2707 again, where I have to change the source code, in both object_detection/evaluator.py(line 184) and object_detection/bui

[2017-11-21 21:35] Vardan95 opened #2861 "Error while exporting inference graph."
After pulling repo (0cc986287ca655ac0c675870a22ea90fdb3c4ece) got an error on object_detection/export_inference_graph.py call.
Error message:
[code]
TF version: latest nightly build

[2017-11-22 01:18] offbye commented on #2853
I have tried  Tflite on  some models , bu I find only mobilenet model can be converted to  .lite format.
Many operators can not be supported now.

[2017-11-22 02:08] zmonoid commented on #2855
Also, MobileNet model and NASNet model gives near 0 accuracy, any reason?

[2017-11-22 03:55] j2233ack opened #2869 "Some training problems in im2txt"
I try to use different data sets in im2txt and the files to be processed are also executed

I use the CPU and also call batch_size = 16
I find the relevant issues on the stackoverflow, but basically I do not know where to start this error.
So who can give me a hint or teaching?

This error is what I got while training:

hsu@ubuntu:~/models-master/research/im2txt$ MSCOCO_DIR="/home/hsu/models-maste

[2017-11-22 04:01] j2233ack commented on #2869
I use Ubuntu 16.04

[2017-11-22 04:27] sunjinghua opened #2871 "OSError: [Errno socket error] [Errno 101] Network is unreachable"
I have run the object_detection_tutorial.ipynb successfully,then i restart my computer,
I run the object_detection_tutorial.ipynb again, but got this error:
OSError: [Errno socket error] [Errno 101] Network is unreachable

[2017-11-22 05:00] vikramg1 commented on #2025
So, the thing is that the Resnet-50 that you have will probably be different than the implementations released by Google. They have BN, and also the structure is slightly different w.r.t. the downsampling location.

Anyways, try it by setting the from_detection_checkpoint set to false in the config file for object detection API. Then set the model location to your trained model.
The one thing that

[2017-11-22 05:11] sakethbsv commented on #2823
I have the exact same issue. Unable to load a frozen model that was trained on the cloud on my android phone. Gives the same error as above. Can someone help?

[2017-11-22 05:54] FightForCS commented on #2025
@vikramg1 now I want to load the resnet50 detection model (Say model A) from tensorflow detection model zoo, then I will load my already fine tuned slim resnet50 model(Say model B), and hopefully, the feature extract part of model B will overwrite the feature  extract part of model A, which is what I want that combines RPN parameter from model A and classification head from model B.

now, my encou

[2017-11-22 05:59] ELI95 opened #2872 "pickle.load()"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-11-22 06:01] ELI95 commented on #2872
when i run the  generate_cifar10_tfrecords.py , it comes out:

  File "D:/CIFAR10/cifar10_res_net/generate_cifar10_tfrecords.py", line 86, in main
    convert_to_tfrecord(input_files, output_file)

  File "D:/CIFAR10/cifar10_res_net/generate_cifar10_tfrecords.py", line 60, in convert_to_tfrecord
    data_dict = read_pickle_from_file(input_file)

  File "D:/CIFAR10/cifar10_res_net/generate_cifar10_

[2017-11-22 06:24] liuxinyuk commented on #2761
it works!Thank you!
I download the tensorflow/models again in 2017.11.22 (also **reinstall** the Ubuntu16.04 system in this date)
and download the **Newest SSD model**——ssd_mobilenet_v1_coco_2017_11_17.tar.gz
it gets 0.83 mAP in my own dataset

[2017-11-22 06:57] #2872 closed

[2017-11-22 07:21] #2837 closed

[2017-11-22 07:24] philippwerner commented on #2803
@jingyibo123: I only fixed the problem for NASnet, but I think the fix should work for the other networks as well if used at the right line of code. If you want to fix it for all networks, the softmax() function in tensorflow/python/ops/nn_ops.py, line 1667 is probably a good place to add it. Try to replace

[code]
by

[code]

[2017-11-22 08:45] pjl1995 commented on #2833
Hi, I have the same problem with you. Did you solve it? Thank you~

[2017-11-22 08:51] kosintop commented on #2833
@pjl1995 sadly, I have no idea how to fix this yet. I will update if I found a solution

[2017-11-22 08:53] pjl1995 commented on #2833
@kosintop Thanks, if I found the solution, I will also tell you~

[2017-11-22 09:37] Jreyno40 opened #2873 "AttributeError: 'SsdFeatureExtractor' object has no attribute 'pad_to_multiple'"
I am attempting to run ssd_mobilenet_v1_coco.config from the samples directory locally, and I am receiving this issue. This is on the most recent master branch with tensorflow 1.4 on windows 10.
[code]

[2017-11-22 09:59] pjl1995 commented on #2833
Maybe you forget this?
protoc object_detection/protos/*.proto --python_out=.
In detail, you can look the link:
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md

Now I have another problem......
ImportError: No module named matplotlib.pyplot

[2017-11-22 11:15] juandes commented on #2823
@sakethbsv how are you generating the model? Maybe we could help ourselves.

[2017-11-22 11:32] frankist opened #2875 "Oxford-IIIT Pet TFRecord file generation"
### System information
- environment capture script output:
[code]

- tensorflow version: ('v1.4.0-rc1-11-g130a514', '1.4.0')
- command to reproduce: from the models/research directory run:
`python object_detection/create_pet_tf_record.py --label_map_path=object_detection/data/pet_label_map.pbtxt --data_dir=`pwd`  --output_dir=`pwd``
- not using any gpu
- tensorflow was installed through pip
- I a

[2017-11-22 11:36] kosintop commented on #2833
@pjl1995 thanks, I checked and it turn out my problem is i didn't properly config PYTHONPATH.
I already compile proto files but the build script couldn't find those because there's no PYTHONPATH

and now i'm having another error "unexpected keyword argument 'file'" though

i will close this issue for now

[2017-11-22 11:36] #2833 closed

[2017-11-22 13:07] Smokrow opened #2876 "Error when running the cifar10_train.py"
When you try to run models\tutorials\image\cifar10\cifar10_train.py with tensorflow 1.4 this Error pops up:
"AttributeError: module 'tensorflow.python.training.training' has no attribute 'get_or_create_global_step'"

[2017-11-22 13:13] Smokrow commented on #2876
Seems like somebody already resolved this problem!
https://github.com/tensorflow/tensorflow/issues/8794

pip install --upgrade tensorflow
seems to work

[2017-11-22 13:13] #2876 closed

[2017-11-22 13:15] kleinash commented on #2857
https://www.bountysource.com/issues/40693589-crash-could-not-create-cudnn-handle-when-convnets-are-used

These fixes have not worked for me.

[2017-11-22 16:00] ibr123 opened #2877 "Tensorflow[attention_ocr] Placeholder"
I'm writing a python code to use attention_ocr and in the line that is described [here](https://github.com/tensorflow/models/blob/master/research/attention_ocr/python/eval.py#L60)

the line of code is
`images_placeholder = tf.placeholder(tf.float32, shape=[1024, 1024])`

returns the error
`ValueError: Dimensions must be equal, but are 1053 and 905 for 'MatMul' (op: 'MatMul') with input shapes: [90

[2017-11-22 18:46] Jreyno40 commented on #2873
I believe this is my fault; I haven't re-compiled the protos after updating to the most recent version of the repo. I will close this after I have checked.

[2017-11-22 22:10] glc12125 commented on #2724
Hey @lozuwa , please see my update in [#2739](https://github.com/tensorflow/models/issues/2739), where I updated with a workaround for this issue.

[2017-11-22 22:46] kleinash commented on #2857
This is not much of a solution - but its the only one that worked:

Finally solved it.

CUDNN 6 doesn’t play nicely with TF. So if you have the library anywhere it crashes. Basically it’s version control not memory or paths. Had to make sure CUDNN v6 was no where to be found and TF was version 1.2 not 1.4.

Final set up:

Ubuntu 16.04. CUDA 8, CUDNN 5.1, TF 1.2.

Installing tf version has to be do

[2017-11-22 22:46] #2857 closed

[2017-11-22 22:47] bogatyy commented on #2355
@SaintNazaire you need to install a compatible version of autograd, as explained in the README:
`pip install autograd==1.1.13`

Let me know if that works (also, again, make sure you have Bazel 0.5.4)

[2017-11-23 00:53] yzhwang commented on #2778
@rwightman I spent some time with this and here are some updates:
All experiments were done using TensorFlow OSS version built from source.
I tried four settings with python 2.7/3.5 and CUDA8+cudnn6/CUDA9+cudnn7. Two settings with CUDA9+cudnn7 constantly reproduce the problem for me.
I can also confirm that transpose op and fused_batch_norm has no effects to the problem (switched to different kern

[2017-11-23 01:52] realwol commented on #1809
@saikishor
http://androidkt.com/train-object-detection/
https://pythonprogramming.net/testing-custom-object-detector-tensorflow-object-detection-api-tutorial/?completed=/training-custom-objects-tensorflow-object-detection-api-tutorial/

[2017-11-23 02:41] Wenstery commented on #1881
@jerowe ,You can try to fixing the bounding boxes  as the same like @ph463, "I double checked my annotations and found some bounding boxes outside the image boundaries".

[2017-11-23 02:43] Wenstery commented on #1881
@jerowe ,You can try to fix the bounding boxes like @ph463," I double checked my annotations and found some bounding boxes outside the image boundaries."

[2017-11-23 02:59] baimin1 opened #2879 "AttributeError: module 'tensorflow' has no attribute 'data'"
Why runing mnist.py has:
dataset = tf.data.TFRecordDataset([filename])
AttributeError: module 'tensorflow' has no attribute 'data'

My env is ubuntu and a conda installed tensrflow

[2017-11-23 03:05] baimin1 commented on #2879
another:
dataset = dataset.map(example_parser).prefetch(batch_size)
AttributeError: 'MapDataset' object has no attribute 'prefetch'

[2017-11-23 03:15] vslm698 commented on #2875
I also meet the same issue, still on debugging.

[2017-11-23 04:15] ninception commented on #2857
The suggested fixes did not work for me (Cuda 8, CudNN 6, ubuntu16.04, Tf1.4).
But the suggestion by @kleinash worked for me. Downgraded CudNN to 5.1 and Tf to 1.2.

[2017-11-23 04:41] sunjinghua commented on #2875
same issue,haven't solved

[2017-11-23 04:47] blairjordan commented on #2879
Try tf.contrib.data

See release https://github.com/tensorflow/tensorflow/releases

[2017-11-23 05:00] amirjamez opened #2880 "Evaluating a tf.slim using a new test dataset (no cross-validation)"

[2017-11-23 05:00] blairjordan commented on #2879
The arguments accepted by the Dataset.map() transformation have also changed:

dataset.map(..., output_buffer_size=B) is now dataset.map(...).prefetch(B).

I'd check that you have the latest version.  In my case, I still need to use the old tf.contrib.data.

[2017-11-23 05:05] jorgemf commented on #2648
@vrv I am having issues loading these models:
[code]

I run `checkpoint_utils.list_variables` and, obviously, that variable is not listed. I am not sure if it was the change made to the base code 20 days ago.

[2017-11-23 05:34] vrv commented on #2648
Nothing has changed about the model or the checkpoints, so it's probably that you're somehow not using the right set of arguments, models, and checkpoints together.
 Maybe https://github.com/tensorflow/models/issues/2720  is related

[2017-11-23 06:15] kannan60 commented on #2808
Update:
I cannot see the images and the IOU chart. What I get in the images tab is “No image data was found”. While in the scalar tab the “Precision” section is missing together with PerformanceByCategory and maybe others (but I have Loss, TotalLoss, Learning_Rate, batch, queue , etc,…).

[2017-11-23 06:22] #2880 closed

[2017-11-23 07:20] sanbeng commented on #1879
@snownus  @sungsulim I met the same issue,did you adderss thr issue: control input %r not found in graph_def?  I update the source code of tensorflow on branch1.40 with the above commit, and install pip from official site, when I run faster rcnn, it still occurs the error:
ValueError: graph_def is invalid at node u'Decode/get_center_coordinates_and_sizes/add_1_eightbit/Decode/get_center_coordinate

[2017-11-23 07:35] saikishor commented on #1809
@realwol Thanks for the comment. Using the links you have posted we will be able to design a new model for the respective classes it is trained on, but I would like to know, how to add additional classes to the model. For instance, models trained on COCO dataset have 90 classes, I would like to know, how to add one more class to that model and get a model with 91 classes as an outcome of it. I gue

[2017-11-23 07:52] justinshaohi commented on #2877
see [demo_inference.py](https://github.com/tensorflow/models/blob/master/research/attention_ocr/python/demo_inference.py),you can get image from [fsns.py](https://github.com/tensorflow/models/blob/master/research/attention_ocr/python/datasets/fsns.py),and write unit8 imagearray to png file,then use demo_inference to test

[2017-11-23 08:36] Smokrow commented on #1597
Same problem here. Did anyone find a solution?

[2017-11-23 08:45] scotthuang1989 commented on #2875
they change the folder structure recently. maybe the document is not up to date now.

[2017-11-23 13:02] temiklis commented on #1811
@smarzban i have same problem, you fix this?

[2017-11-23 13:39] jstypka commented on #1811
@yixinshi you suggested that ML-engine will support TF 1.4 soon. Can I ask how do you know that? And how _soon_ exactly? Is it a matter of weeks or rather months?

[2017-11-23 13:43] smarzban commented on #1811
@temiklis unfortunately not. I think this ticket needs to be re-opened (or create a fresh one).

[2017-11-23 14:36] SaintNazaire commented on #2355
Works. Fully tested docker file for your reference:

[code]

[2017-11-23 15:16] SaintNazaire opened #2881 "Could you link repos to a documentation generation website?"
@calberti To assist in understanding changes and documenting what is what where, would you mind setting up a documentation website, something like a Readthedocs for /models/research/syntaxnet?

[2017-11-23 15:21] tomahawklin opened #2882 "Swivel: Force bufsz to be the square of shard_size?"
Hey, I'm new to swivel and I tried it on my custom dataset. Since my vocabulary is quite large, I increased the shard_size and left everything unchanged. Then I found this will not throw any error during running prep.py, but will cause encoding error while running swivel.py. For example:

`UnicodeDecodeError: 'utf8' codec can't decode byte 0xc1 in position 40: invalid start byte`

Then I realized

[2017-11-23 15:23] jorgemf commented on #2648
Thanks for the fast response @vrv.

I load other models without issues, #2720 is not related. I am using the default functions in `nasnet.py` to load the model: `def build_nasnet_mobile(images, num_classes, is_training=True, final_endpoint=None)`. So I don't think the arguments are an issue, at least not the arguments of my code. It could be the error in that function.

Either the model or the che

[2017-11-23 15:27] nguyeho7 opened #2883 "Object Detection API: ssd_inception_v2_coco_2017_11_17 missing pipeline.config"
The pipeline.config file seems missing from ssd_inception_v2_coco_2017_11_17 and ssd_mobilenet_v1_coco_2017_11_17 models. It was contained in the previous (2017_11_08 I think) version. Is there any particular reason for it?

[2017-11-23 16:07] ibr123 opened #2884 "Tensorflow[attention_ocr] eval.py Freezes"
when I run the example that is wrote in the [link](https://github.com/tensorflow/models/blob/master/research/attention_ocr/python/eval.py)
 which is: `A simple usage example:
python eval.py`

the server freezes with the outputs:
[code]

[2017-11-23 18:53] vrv commented on #2648
I see, I'm not entirely sure how others were able to finetune if there is a mismatch, but let's dig deeper.

For the mobile case: @BarretZoph it looks like biases are being added with separable_conv2d using tf.contrib.slim; should we be setting the bias_initializer to None to prevent biases from being added to the graph?

For the large case: it looks like the name of the variable in the checkpoint

[2017-11-23 21:33] shivaniag commented on #2777
Closing this issue since it seems to be working in v1.4, feel free to reopen if it doesn't solve the problem.

[2017-11-23 21:33] #2777 closed

[2017-11-23 22:24] adezoguns commented on #2820
Ok thank you very much. I finally got it working. Although, the size of the .pb frozen graph is 22MB which is quite strange to me. I have tried to start the evaluation job in parallel with the training job even even reducing the allotted GPU to the training job to 0.3, no luck.

[2017-11-24 02:50] #2871 closed

[2017-11-24 04:17] RippleZou commented on #2875
I also meet the same issue

[2017-11-24 06:54] vrv commented on #2648
@jorgemf  Okay I re-uploaded the checkpoints so that they use 'fully_connected' instead of 'FC' as the scope name, so hopefully that part works.  Please try to redownload the checkpoints and see if you still get the same error.

For the second part, I would suggest trying to change the following: https://github.com/tensorflow/models/blob/3f5dbba947a5a0755b93ee8af9b36b464df5d49e/research/slim/nets/

[2017-11-24 10:26] thisray commented on #2195
@coolKeen it works for me, thanks :)

[2017-11-24 11:40] sahiljuneja commented on #2777
@shivaniag So, it won't be fixed for any of the recent prior versions, like 1.3?

[2017-11-24 12:56] madekwe opened #2887 "Save checkpoints more frequently (object detection)"
System information

What is the top-level directory of the model you are using: object_detection
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
TensorFlow installed from (source or binary): source
TensorFlow version (use command below): 1.3.0
CUDA/cuDNN version: Cuda compilation t

[2017-11-24 13:48] estelle1722 commented on #2869
I  have the same problem as you.But  I use the dataset called Xray.And  there are 14 classes in the dataset.If you have time, we can communicate with each other.

[2017-11-24 14:18] j2233ack commented on #2869
Okay !!
The above problem I have solved.
As long as the size of the vocabulary to adjust large like, for example, the original set 12000 my vocabulary more than 12000, the size transferred to 15000 will be okay.

[2017-11-24 14:35] estelle1722 commented on #2869
I know how you solve your problem.But my program reports error like this:tensorflow.python.framework.errors_impl.InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [64,14] rhs shape= [64,10]
the number 14 means my dataset classes,and I don't know what the number 10 means?

[2017-11-24 14:45] estelle1722 commented on #2869
@j2233ack And when you apply resnet on your own dataset im2txt,you make a clssification or not.And in the procession,what parameters do you modify?

[2017-11-24 14:48] lucasharada opened #2888 "Getting ImportError: No module named deployment on object_detection/train.py"
I found a lot of problem about this, tried a bunch of proposed solution but didn't get it to work.
I'm following the guides found [here](https://github.com/tensorflow/models/tree/master/research/object_detection) to make a custom object detector with Tensorflow.

I already passed through the Installation guide, including the `models/research` and `models/research/slim` in the `$PYTHONPATH` variabl

[2017-11-24 16:35] vrv commented on #2648
@BarretZoph pointed out to me that arg scopes are setting the right thing in both cases:

https://github.com/tensorflow/models/blob/3f5dbba947a5a0755b93ee8af9b36b464df5d49e/research/slim/nets/nasnet/nasnet.py#L111

'FC' is specified in scope for fully connected, and biases_initializer is set for separable conv2d.

So it sounds like are need to set or pass the arg scopes.

See https://github.com/te

[2017-11-24 17:25] j2233ack commented on #2869
You have to clear your model / train?
A new start to training.

[2017-11-25 01:14] #2888 closed

[2017-11-25 01:41] jorgemf commented on #2648
Thanks @vrv I saw the scopes in the build functions and supposed those were the only scopes for the network.

[2017-11-25 01:55] lucasharada opened #2890 "Can't train detector model using Google Cloud"
I'm trying to train my own Detector model based on Tensorflow sample and [this post](https://towardsdatascience.com/how-to-train-your-own-object-detector-with-tensorflows-object-detector-api-bec72ecfe1d9). And I did succeed on training locally on a Macbook Pro. The problem is that I don't have a GPU and doing it on the CPU is too slow (about 25-40s per iteration).

This way, I'm trying to run on G

[2017-11-25 02:18] bogatyy commented on #2355
Great to hear, closing the issue then.

[2017-11-25 02:18] #2355 closed

[2017-11-25 02:37] jorgemf commented on #2648
@vrv I think you changed the names of the checkpoints and now I cannot find the correct variable, now is 'aux_11/aux_logits/fully_connected/weights' (what I didn't find before) and it should be 'aux_11/aux_logits/FC/weights'. Can you roll back the changes?

[2017-11-25 04:24] robin4690 commented on #2888
I'm in a similar position, It seems like you solved the issue, how did you manage that?
Cheers.

[2017-11-25 05:47] vrv commented on #2648
@jorgemf I believe I did; can you try redownloading the checkpoint?  I re-uploaded them about 12 hours ago.

[2017-11-25 06:20] shastakr commented on #1497
same puzzled 2

[2017-11-25 10:26] mghildiy commented on #2773
I tried training with this new model, but training fails after few steps.
Here is the SO link:
https://stackoverflow.com/questions/47484883/tensorflow-object-detection-training-makes-python-crash

[2017-11-25 10:28] mghildiy opened #2891 "Tensorflow object detection training makes python crash"
Hi,

I am training with latest ssd_mobilenet_v1_coco_2017_11_17 model, but it fails with python issues.
Description is here:
https://stackoverflow.com/questions/47484883/tensorflow-object-detection-training-makes-python-crash

[2017-11-25 10:57] lucasharada commented on #2888
When I installed the object_detection module, I included the path in the
.bashrc file, but it didn't load automatically. All I needed to do is to
load the package manually everytime.

Em 25 de nov de 2017 1:24 AM, "robin4690" <notifications@github.com>
escreveu:

[2017-11-25 13:32] chrza opened #2892 "Object detection API: Inference and evaluation incompatible issue on Windows Systems"
### System information
- **What is the top-level directory of the model you are using**:
research/object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Win 10, Version 1709 (Build 16299.64) (sorry for that)
- **TensorFlow installed from (source or binary)**:
bin
- **Te

[2017-11-25 14:57] jorgemf commented on #2648
@vrv tested now and it seems to load. I only have an issue with the number of outputs, my model has a different number of classes than ImageNet:
[code]
I just let you know in case the checkpoint has to change. I can solve the issue on my side easily.

[2017-11-25 15:19] law826 commented on #2890
Make sure you have run the following from the models/research/ directory before running setup.py

`export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim`

[2017-11-25 17:47] vrv commented on #2648
@jorgemf I believe the slim finetuning infrastructure should show you how to handle a different number of classes.  It sounds like everything is working as intended.

[2017-11-25 18:19] BarretZoph commented on #2838
NASNet is fully convolution, in that it can handle images of any shape as long as the image size is statically defined.  At the moment the code does not support dynamic image sizes.

[2017-11-26 02:48] warmspringwinds opened #2897 "Shallow pre-activation resnet models"
Feature request:

Are you planning on releasing shallow v2 (preactivation) resnet pretrained models?:
https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models

Like resnet-18 and 34.

Thank you.

[2017-11-26 06:17] scotthuang1989 opened #2899 "Is there a similar API for C/C++"
I can only find python API for object detection with TF. If I want do this with c/c++, if there a similar API?

[2017-11-26 06:55] hetaoaoao commented on #2787
Oh, I'll try to do it on StackOverlow. Pls close it ;-)

[2017-11-26 07:23] kiran4848 commented on #2740
i am getting error in this file=DESCRIPTOR,please let me what is that file ??
C:\ProgramData\Anaconda3) C:\Object-identity\models\research>python object_det
tion/builders/model_builder_test.py
raceback (most recent call last):
 File "object_detection/builders/model_builder_test.py", line 21, in <module>
   from object_detection.builders import model_builder
 File "c:\object-identity\models\researc

[2017-11-26 09:12] Pawan2721 commented on #2672
Did ny one tried executing object detection model in GPU system???? I just want to know the cuda, tensorflow, cuDNN versions!!!!

[2017-11-26 10:08] jke-zq commented on #54
@ppwwyyxx  The benchmarks only perform "in-graph replication" across the GPUs in a single worker and asynchronous training across workers.
Is  there any way to change it to perform synchronously training across workers? like mentioned in:https://stackoverflow.com/questions/39595747/tensorflow-distributed-training-hybrid-with-multi-gpu-methodology
 Any hints will be appreciated.

[2017-11-26 21:32] lucasharada commented on #2890
@law826 I already did it. Unfortunatelly, getting the same error.

[2017-11-27 01:41] joel-shor commented on #2525
This should be partially or completely fixed by https://github.com/tensorflow/models/pull/2902

[2017-11-27 05:08] SnShine opened #2903 "[Slim] How to make sure that multiple clones are seeing different images while training inception on 4 GPUs."
I'm using `num_clones=1`, `batch_size=96` on a P3 instance to train inception net with custom images. It's taking `0.5secs/step` and as I set learning_rate decay after 2 epochs, learning_rate **decays after 280 steps** which is correct with my calculations.

Now, when using 4 GPUs on the same instance with `num_clones=4`, `batch_size=384`, I get an error saying it can't load them into GPU. So, I'm

[2017-11-27 05:13] rakashi opened #2904 "How to retrain my own model with additional images"
Hi

I have trained im2txt model using mscoco dataset which is having train and validation datasets. The train data contains 82000 images and validation data contains 40000 images. Initially, I have trained with total dataset with inception checkpoint. Now I am trying to do by adding 30000 images of validation into train data. Here I am trying to place the model as what I have trained previously wi

[2017-11-27 08:49] withme6696 commented on #2709
I change the code as follows, then it works:
if self._cell and rnn_params:
    params_saveable = tf.contrib.cudnn_rnn.CudnnLSTMSaveable(
        rnn_params,
        self._cell.num_layers,
        self._cell.num_units,
        self._cell.input_size,
        self._cell.input_mode,
        self._cell.direction,
        scope="Model/RNN")
remove this line"tf.add_to_collection(tf.GraphKeys.SAVEABLE_OBJ

[2017-11-27 09:26] golu-golu commented on #2891
You need to decease the batch size for training and evaluation.

[2017-11-27 10:02] RippleZou commented on #2540
I also met this problem,and my cuda version is 9.0 too

[2017-11-27 10:10] nisseb commented on #2887
Summary and checkpoint are two different things. You want to use slim.learning.train(..., save_interval_secs=10, ...) to save every 10 seconds.

[2017-11-27 10:13] chenyuZha opened #2905 "Question of the performance of model faster_rcnn_nas"
### System information
- **What is the top-level directory of the model you are using**: Object Detection
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow version (use command below)**: 1.4
- **CUDA/cuDNN version**: cuda 8.0
- **GPU model and memory**: GeForce GTX 1080 Ti x2

### Describe the problem
I recently downloaded the model [faster_rcnn_nas](http:/

[2017-11-27 10:20] lukashruby commented on #2883
I am suffering the same problem.

[2017-11-27 10:30] madekwe commented on #2887
save_interval_secs is also is not working

[2017-11-27 10:45] Santubasa opened #2906 "3D reconstruction using tensorflow implementation of ptn, error in pretraining rotator"
Hi,
When I tried to pretrain the rotator model with the dataset provided in the webpage, I'm getting the following Value error and I guess the problem is with the inp_dir path for the dataset on the system.

Tried providing both absolute and relative path but still the problem persist, any help would be great since I'm completely new to tensorflow .

ERROR:
INFO: Analysed target //:pretrain_rotato

[2017-11-27 12:40] jerowe commented on #1881
@Wenstery , I took another look back over my dataset. I checked the annotations for boxes outside of the boundaries, and I didn't find any. I am using the faster_rcnn_inception_resnet_v2_atrous_coco model. I do have very small boxes.

Oddly enough I found that when I tried to use the flipped (horizontal), flopped (vertical), transverse (y=x), or rotate 90/180/-90 I got the NaN error, but when I us

[2017-11-27 14:56] Whisper-Cao opened #2907 "How can we know the class of detected objects?"
Thanks a lot first for the brilliant code. Now, I want to know which class the detected object belongs to. For example, we have got a bounding box of an object, but some pictures don't have a tag for it. I want to make  ensure the code has detected a dog as a dog, not a cat. Should I revise some parameters in the eval_config to make this? I did't make it.

[2017-11-27 15:01] jorgemf commented on #2648
@vrv sorry for bothering you again. The checkpoint might be corrupted: `Checksum does not match: stored 939082234 vs. calculated on the restored bytes 2293605473`

[2017-11-27 16:07] scotthuang1989 commented on #2891
you can also take a look at parameters like: queue capacity, min after dequeue. because sometimes, in order to avoid starve GPU, default implementation will try to cache more data on system RAM.

[2017-11-27 16:50] shivaniag commented on #2904
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-27 16:50] #2904 closed

[2017-11-27 17:38] hkhatod opened #2908 "Visualizing the Learned Embeddings"
How was this implemented. I didnt see any lines in the code to visualize the data

[2017-11-27 17:57] taewookim opened #2909 "Not found: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for train/model.ckpt-0"
Setup
====================
ubuntu 16.04 LTS with Nvidia k80 / CUDNN 8.0
python 3.6.3 (anaconda)
TF 1.4
Keras 2.1.1
I updated TF models to latest this morning.

I'm using TF object detection API w/ SSD mobile net v1 (config: https://pastebin.com/e4QfEe5s)

Not sure why im getting this error.  Solutions? This is a brand new dataset, so there shouldn't be any existing checkpoints

Note:

1) this setu

[2017-11-27 19:40] #2873 closed

[2017-11-27 19:41] Jreyno40 commented on #2850
I've updated Tensorflow and pulled the latest model repo, but nothing is fixing my issue.

[2017-11-27 20:17] frederictost commented on #2771
I've published a pull request to fix this issue.

[2017-11-27 22:43] nisseb commented on #2887
That is weird considering it is how I do it. I have never tried to go down to 10 seconds but anything between 60 and 1800 seconds have worked for me.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/learning.py
The argument is specified on row 606, no particular comment on why it might have a lower bound.

Best, Nils

[2017-11-27 23:02] codinalot opened #2912 "No bounding boxes"
------------------------

### System information
- **What is the top-level directory of the model you are using**: object_detection
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use co

[2017-11-27 23:31] taewookim commented on #2909
strangely enough, using full path worked ([as per this comment](https://github.com/tensorflow/tensorflow/issues/6082#issuecomment-291641193))

so instead of

`python ../models-master/research/object_detection/eval.py --logtostderr 	--checkpoint_dir=train/  --eval_dir=val/ --pipeline_config_path=faster_rcnn_resnet101_coco.config`

used

`python ../models-master/research/object_detection/eval.py --l

[2017-11-27 23:31] #2909 closed

[2017-11-28 00:05] ashizhao commented on #2739
Hi @glc12125 , thank you for your help.  I tried everything you mentioned above and got this error:

`Traceback (most recent call last): File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main "__main__", fname, loader, pkg_name) File "/usr/lib/python2.7/runpy.py", line 72, in _run_code exec code in run_globals File "/root/.local/lib/python2.7/site-packages/object_detection/train.py",

[2017-11-28 01:26] macro-dadt commented on #2890
i heard someone fixed it by modifying train.py. Maybe [this](https://medium.com/google-cloud/object-detection-tensorflow-and-google-cloud-platform-72e0a3f3bdd6) will help

[2017-11-28 01:55] macro-dadt commented on #2888
@lucasharada make sure that you cd .../models/research in .bashrc file

[2017-11-28 03:07] glc12125 commented on #2739
Hey @ashizhao,

I believe you need to replace the YOUR_GCS_BUCKET with your actual bucket name in the pipeline config file.

[2017-11-28 05:12] #2912 closed, assigned to nobody

[2017-11-28 05:55] SnShine opened #2913 "[Slim] There is no op named "input" in custom trained inception v3 model on custom data."
Hello,

(Following the read me here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/label_image)

I've trained inception v3 model from scratch with custom data and ran eval code. It worked fine and gave good results.

When I'm trying to run inference via `feed_dict`, I have to find the tensor named "input" as shown in tutorials and Slim Readme.md. However, I couldn't find

[2017-11-28 07:11] #2907 closed

[2017-11-28 07:50] scotthuang1989 commented on #2775
I thin I have similar issue: here is my error output

@cy89  any suggestions?

[2017-11-28 09:03] zhoulukuan opened #2914 "[object detection] How to early stop when I use the object detection api?"
I want to use the object detection api to train my own data.
However, I'm worried about overfitting so that I want to early stop. But I have no idea how to do. Does this API have this function, or I must achieve it on my own?
Is there anyone who can help me? Thank you in advance.

[2017-11-28 13:09] oldschool69 opened #2915 "Crash on TF Detect app for some faster rcnn models."
Hi everyone,

I'm training some faster rcnn models with only one class on
my own data set. The training goes fine but when I export
model for inference and try to used it on android sample app
(TF Detect), I'm getting the following exception:

11-28 10:56:27.002 15666 16593 E AndroidRuntime: FATAL EXCEPTION: inference
11-28 10:56:27.002 15666 16593 E AndroidRuntime: Process: org.tensorflow.demo, P

[2017-11-28 13:55] chrza commented on #2915
Hi,
I tried to use other meta architectures with the andorid demo as well. But except for SSD no other architecture is working. I get the same exception like you. Maybe the proposal networks of faster r-cnn and r-fcn have too many processing requirements?
It can't be the size of the graph because the faster r-cnn with inception v2 is 54,5 MB compared to the working SSD inception model with 97,2 MB

[2017-11-28 13:57] Whisper-Cao opened #2916 "Problems about low-accuracy in object detection"
I train and evaluate pasval_vol_2012 dataset, with the pre-trained model generated by faster_rcnn_resnet101_coco_2017. I train the model for 99 steps but the evaluation result is rather poor. What's the problem? Should I try to choose another pre-trained model or train for more steps?
Morever, it seems only person can be detected. Why is this?

[2017-11-28 14:30] parthg opened #2917 "resnet50 initialization in version 1.4 doesn't work"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-11-28 14:53] oldschool69 commented on #2915
Hi @chrza,

Same as you. Only SSD mobile net is working on the android sample. I'm testing other meta architectures right now and let you know the results after testing them.

Thanks

[2017-11-28 15:09] jvlmdr commented on #202
I had the same problem. It seems to occur because `$0` is a relative path. I made the following change to `download_and_preprocess_imagenet` and this seems to have fixed it.
[code]

If you can't depend on `realpath`, then something like this might work (I can't use `readlink` because you don't want to actually follow the link)
[code]

[2017-11-28 15:52] shlens commented on #202
The inception library is deprecated. Please use the corresponding scripts in the [slim](https://github.com/tensorflow/models/tree/master/research/slim) repository.

[2017-11-28 16:01] MariamMohamedFawzy commented on #2888
@lucasharadacan you explain how you load the package manually? I don't get it.
I have the same problem, but I have my code inside object detection folder. export path ... does not solve the issue.

[2017-11-28 16:16] scotthuang1989 commented on #202
I have similar issues with slim module. I think the tutorial is not up to date, miss some instructions.

[2017-11-28 16:22] lucasharada commented on #2888
Everytime I open a Terminal, I have to run the final step of the [Installation guide](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md). That is:

`export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim`

[2017-11-28 18:27] aselle commented on #2814
Change the model name to "faster_rcnn_resnet101_coco_2017_11_08"  as
specified here ... https://github.com/tensorflow/models/issues/2773

[2017-11-28 18:35] aselle commented on #2816
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-28 18:35] #2816 closed

[2017-11-28 18:38] aselle commented on #2818
@sguada, do you have any thoughts or suggestions? Is the 2 gpu mainly just to get the problem to fit into RAM, and it is expected the utilization is low? @chrisrn, you might also try the tensorflow garden version of resnet, but I believe it only supports 1 gpu right no @nealwu, please look as well.

[2017-11-28 18:39] aselle commented on #2818
Two more things suggested by @tfboyd,
1. Could you also provide how many imagfes/second you are getting as a training rate.
2. You are using two different types of GPUs. It is unlikely to get good load balancing when different gpu architectures are involved, you will likely have a bottl3eneck on one that makes the other wait longer.

[2017-11-28 18:43] tfboyd commented on #2818
A few things that might help get more info:

- What is your images/sec or global batch for 1 GPU and then 2 GPUs
- what is your batch-size?  I did not look at the code I assume you have the default but nice to know.

he SLIM examples use slightly older versions of the input pipeline but you should still be able to get decent scaling for 2 GPUs.

[2017-11-28 19:14] chrisrn commented on #2818
I confirmed the problem by running the benchmark code that tensorflow provides. Using batch-size=64 I got approximately 190 images/sec in 1 gpu and 240 images/sec in 2 gpus without being utilized all the time. So the problem still exists without using slim. And I believe that there is no problem with the gpus I use because training in 1 gpu only I have good utilization and also fast time.

[2017-11-28 19:37] aselle commented on #2820
@adezoguns, it sounds like some parameter is different in the training script. You could play with some of the model size parameters and see if you can get the same size. Look for number of layers. Sometimes things like including biases will change it as well. Are you training on the same image size?

[2017-11-28 19:47] aselle commented on #2830
@flipflop98, this looks like a python 3 incompatibilityl. You can work around this  by using python 2
@derekjchow, could you look into supporting python 3 properly?

[2017-11-28 19:49] aselle commented on #2834
What model are you trying to do this? Is this a specific TensorFlow model. You might try asking on StackoverFlow to see if there is a recommended way of accomplishing this. I imagine tf.estimator can accomplish this with a callback hook.

[2017-11-28 19:49] #2834 closed

[2017-11-28 19:52] chrza commented on #2830
Pls take a look at the infer_detections.py script also when fixing python 3 issues as I mentioned in #2892
my workaround was setting up an ubuntu env with python 2.7

[2017-11-28 21:17] tatatodd commented on #2841
@jch1 @tombstone can you comment on this?

[2017-11-28 21:31] tatatodd commented on #2843
Adding @benoitsteiner @rmlarsen for grappler expertise - do you have any thoughts on this?

It's crashing on TensorShape::end() in TensorShape::AsProto(), which would imply that the shape we're passing in is invalid.  I took a quick look at grappler::ConstantFolding::CreateNodeDef, but didn't see anything obvious.

[2017-11-28 21:52] tatatodd commented on #2845
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-28 21:52] #2845 closed

[2017-11-28 21:59] tatatodd commented on #2851
@LeoDMeL Change your current working directory to `tutorials/rnn/ptb` before running `ptb_word_lm.py`.

[2017-11-28 23:54] cy89 commented on #2787
Thanks, @hetaoaoao. Good luck!

[2017-11-28 23:54] #2787 closed

[2017-11-29 00:51] tatatodd commented on #2853
The error indicates a graph serialization mismatch:
[code]

What do you mean when you say you "load the quantized model on android demo"?  I'm suspecting that there's a mismatch between the version of the code that the android demo is using, vs. the code that built the GraphDef.

[2017-11-29 01:07] tatatodd commented on #2855
@zmonoid Can you clarify the issue?  I see the mapping from resnet to vgg preprocessing, in the `preprocessing_factory.py` file that you linked.

But I don't know what you mean in the title "resnet models actually use inception preprocessing function in slim".  Can you provide an example or link?

[2017-11-29 01:13] tatatodd commented on #2869
Looks like you resolved your own issue, nice!

For future reference, this type of question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 01:13] #2869 closed

[2017-11-29 01:20] tatatodd commented on #2875
@tombstone Looks like you moved `create_pet_tf_record.py` with 6f4dff46a40e73de03dc4a7fe87363956bb76522, can you take a look at this?

[2017-11-29 01:22] tatatodd commented on #2877
For future reference: this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 01:22] #2877 closed

[2017-11-29 01:26] tatatodd commented on #2879
Yes, as @blairjordan mentions, `tf.contrib.data` has been upgraded to just `tf.data` in TensorFlow v1.4.  So you need to make sure you're using v1.4.

Also check out the differences between the old and new API:
https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/contrib/data/README.md

@baimin1 does that resolve your issue?

[2017-11-29 01:29] bhack commented on #1357
Now that tf.keras is in core I think that there is need of a bit disambiguation to avoid of incurring in pretrained models fragmentation.
Seems that new models like NASNet are still developed with slim.
I think that layers, slim, and tf.keras can disorientate new user that want to consume TF high level API.
So I think that model interoperability could help if you want to maintain all the high leve

[2017-11-29 01:30] tatatodd commented on #2881
It seems to me there's quite a bit of documentation already:
https://github.com/tensorflow/models/tree/master/research/syntaxnet
https://github.com/tensorflow/models/tree/master/research/syntaxnet/g3doc

I'll leave this as contributions welcome, in case others would like to contribute to code-level documentation.

[2017-11-29 01:33] tatatodd commented on #2771
@frederictost Thanks for the work!  Can you add a link to your PR in the comments here?

Also marking this as contributions welcome, since you're already working on this.

[2017-11-29 01:35] tatatodd commented on #2793
Closing this out, since this is really a request for information, rather than a bug or feature request.

[2017-11-29 01:35] #2793 closed

[2017-11-29 01:38] tatatodd commented on #2799
@BrianZhu01 have you tried with a more recent version of TensorFlow?

@theraysmith might have some more suggestions here.

[2017-11-29 01:39] tatatodd commented on #2883
@jch1 @tombstone @derekjchow Can you comment on this?

[2017-11-29 01:40] tatatodd commented on #2887
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 01:40] #2887 closed

[2017-11-29 01:41] tatatodd commented on #2891
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 01:41] #2891 closed

[2017-11-29 01:44] tatatodd commented on #2897
@s-gupta @sguada Might know the plans here.

[2017-11-29 01:52] tatatodd commented on #2899
@scotthuang1989 Note that since object_detection is just loading and running a frozen graph, in concept you should be able to just use the regular TensorFlow C++ support:
https://www.tensorflow.org/api_guides/cc/guide

That said, the python object_detection API provides some nice utilities and stuff like that.

@jch1 @tombstone @derekjchow do we have any plans for C++ support?

[2017-11-29 01:53] tatatodd commented on #2903
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 01:53] #2903 closed

[2017-11-29 01:56] tatatodd commented on #2905
@jch1 might have some ideas here.

[2017-11-29 02:00] tatatodd commented on #2913
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 02:00] #2913 closed

[2017-11-29 02:01] tatatodd commented on #2915
@petewarden might know the latest status of various models on Android.

[2017-11-29 02:03] tatatodd commented on #2917
@s-gupta @sguada Do you guys have any ideas here?

[2017-11-29 02:03] Hatinennshiro commented on #1189
@solitaire2015 I have the same problem,  how do you solve this problem? Thank you.

[2017-11-29 02:19] bhack commented on #2793
@tatodd Was a request for information about a feature pre-announce (istance segmentation API/models) and the reply could be still of public interest. But it is so near that we could close this.

[2017-11-29 02:30] BrianZhu01 commented on #2799
@ I find that when I restore the models it need more memory and cpu resources. so How I can use more little resources to train it if I don't have enough resources. can I config it ?

[2017-11-29 03:04] ccnankai opened #2919 "[attention_ocr] about eval.py and demo_inference.py different reslut"
There are only numbers in my training samples.
 When I run #  python eval.py --split_name test --train_log_dir , it shows good results,
![webwxgetmsgimg](https://user-images.githubusercontent.com/33537489/33356004-0780b9ba-d4f5-11e7-8613-685589304c5e.jpg)
accuracy get 0.99.

but wehn I  predict one picture only , converted the image to [150,600,3],
python demo_inference.py –batch_size=1 –checkpoin

[2017-11-29 03:54] SnShine commented on #2913
Is there any way we can encourage some questions in here? Lack of proper documentation is one reason for this question.
Someone would work on documentation if issues like this are allowed on GitHub.

[2017-11-29 04:04] tatatodd commented on #2913
I do sympathize with the need for more documentation.  We're making efforts in that regard.

In case you missed it, below is the template that's auto-filled when you click on "New issue" on github.  This attempts to explain our policy.  Also note that we regularly monitor StackOverflow issues, just as we do for github issues.

AUTO-FILLED TEMPLATE BELOW
---

Please go to Stack Overflow for help an

[2017-11-29 06:06] adezoguns commented on #2820
@ Andrew thank you for the reply. I am training on the same image size and
never changed any parameters. Although I have got it working with 22MB .pb
graph. I still don't know why my graph is smaller.

On Tue, Nov 28, 2017 at 9:38 PM, Andrew Selle <notifications@github.com>
wrote:

[2017-11-29 06:53] offbye commented on #1823
same error in tensorflow 1.4 ubuntu

[2017-11-29 07:25] ccnankai commented on #2919
Sorry, I should go to stackoverflow to ask questions.

[2017-11-29 08:57] ccnankai commented on #2839
Hi @ibr123
Can this code be  use to detect one image by  my own trained model (trained by my own dataset )? I have a tough problem

[2017-11-29 11:20] realwol commented on #1809
@saikishor
https://www.tensorflow.org/tutorials/image_retraining#other_model_architectures
I think this is what you want.

[2017-11-29 12:23] cindysillence opened #2921 "visualization_utils.py change font size but still does not work."
hallo
I just run the object_detection_tutorial.ipynb script , but the text in the bounding box is too small and not clear. So I go to **/visualization_utils.py ** script to change the font size to "font = ImageFont.truetype('arial.ttf', 24)" but it still does not work.

how can I do it right now?

waiting for help

cindy chen

[2017-11-29 12:31] cindysillence commented on #2771
I just change the font size "font = ImageFont.truetype('arial.ttf', 32)" but the labels still as same as usual . how I can do it ?

[2017-11-29 12:35] MikelBa commented on #2648
I ´m trying to finetune nasnet_mobile to the flowers dataset and i get this error:

`NotFoundError (see above for traceback): Unsuccessful TensorSliceReader constructor: Failed to find any matching files for /tmp/checkpoints/nasnet_mobile/model.cpkt
         [[Node: save/RestoreV2_7 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"]
(_arg_save/Const_0_0, save/Re

[2017-11-29 12:57] jorgemf commented on #2648
@MikelBa -> `Failed to find any matching files for /tmp/checkpoints/nasnet_mobile/model.cpkt`. It cannot find the checkpoints file

[2017-11-29 13:09] cindysillence commented on #2594
@afixibiranchi I alos use mac , and i change it to the full path. but it still don't work ...

[2017-11-29 13:47] ppgiannak opened #2922 "Exporting features"
Hello,
I am using the object_detection API and specifically Faster RCNN to train an object detector on my own dataset. My question is this:
During testing, is there any way of exporting also the feature map that corresponds to each one of the bounding boxes the network gives as outputs from the inference?
Many thanks in advance.

[2017-11-29 14:03] #2919 closed

[2017-11-29 14:05] frederictost commented on #2771
The Pull Request is #2805

[2017-11-29 14:37] aweichina commented on #1842
Thank you for all! I have solved this problem by run setup.py. Thank you!

[2017-11-29 15:02] MikelBa commented on #2648
I see, but i don't get why it happens. If I execute
`python tensorflow/python/tools/inspect_checkpoint.py \
  --file_name=${CHECKPOINT_PATH}/model.cpkt \
  --tensor_name=cell_0/comb_iter_1/left/separable_5x5_1/depthwise_weights`
I get back this:
`[[[[ -1.26436604e-02]
   [  9.43558384e-03]
   [  5.74761443e-02]
   ...,`
So in this example the file `model.ckpt` has been found but when finetuning no

[2017-11-29 15:25] ibr123 commented on #2839
I don't know actually, I still have a problem in the placeholder, if I gave it shape the width and height "shape=[635, 1219}" it says it data should be equal, if they are equal it will give another error.
but the problem is that the shape is optional, so I can just ignore it but the eval.py it self freezes so this code freezes as well, but if you got any results please let me know :)

[2017-11-29 15:26] vanpersie32 opened #2923 "feature requests: inference in batch mode in im2txt?"
According to [https://github.com/tensorflow/models/blob/master/research/im2txt/im2txt/inference_utils/caption_generator.py](https://github.com/tensorflow/models/blob/master/research/im2txt/im2txt/inference_utils/caption_generator.py),  inference in im2txt is done in single image mode, not in batch mode.

System information:
    OS Platform and Distribution : Linux Ubuntu 14.04
    8  Intel(R) Core

[2017-11-29 15:32] apacha commented on #1934
I've gotten quite far, by manually installing [protobuffer for windows](https://github.com/google/protobuf/releases) Version 2.6 (!) and building each file individually, since it [did not understand](https://github.com/google/protobuf/issues/3957) the *-command on my side.

For my purpose I just wanted to use the ObjectDetectionEvaluation class, so I attempted the following:
[code]

Since this did

[2017-11-29 16:31] zerodarkzone commented on #248
I have some tests fails with an OUT_OF_MEMORY error.
I built it with Bazel 0.5.4. Any update on this error?

[2017-11-29 17:18] shlens commented on #2905
I am sorry that you have had such trouble with the model but thank you for the clear documentation of the problem. I have a few comments and questions that might require some investigation on your part:
1. What is the distribution of image resolutions in your dataset? The exported model runs on high resolution (1200x1200) images and if the average image resolution in your dataset is less then this

[2017-11-29 17:55] chenyuZha commented on #2905
@shlens
1.The resolutions of my images is mostly below 600, because I've resized 3 times smaller to have more images to train in my tfRecord. (which is 9G)
2. I've tried to set the keep_aspect_ratio_resizer {
        min_dimension: 600
        max_dimension: 1024
      } in the configuration file of **faster_rcnn_nas**, as you said above, this is not available yet , so I set fixed_shape_resizer {

[2017-11-29 18:14] shlens commented on #2905
If your images are below 600 x 600 in resolution, then artificially resizing the images to 800 x 800 (or higher) resolutions will only waste computation and potentially slow down the learning speed of the network. Employing a keep_aspect_ratio_resizer with a min_dimension of 600 would therefore be appropriate. Since that resizing operation is not available for NAS, the next best option is to used

[2017-11-29 18:50] aselle commented on #2916
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-29 18:50] #2916 closed

[2017-11-29 18:51] aselle commented on #2914
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 18:51] #2914 closed

[2017-11-29 18:53] aselle commented on #2906
@xcyan, @hellojas, could you take a look please.

[2017-11-29 19:10] nealwu commented on #2818
For the official folder version ('garden' version), that's correct, it currently just supports one GPU.

[2017-11-29 19:22] nealwu commented on #2505
Hi @qtdaniel and @Utumno, could you try pulling the model and running it again now to check the perplexity? I believe the regressions that occurred earlier should be fixed by this commit: https://github.com/tensorflow/models/commit/25a16a2940b952d3f899abc55d107a5106d7790c

[2017-11-29 19:23] FalcoGer commented on #1992
I had the same problem.
make sure you export the right path.
namely <repository-clone>/models/research and <repository-clone>/models/research/slim

you can check with echo $PYTHONPATH in linux and echo %PYTHONPATH% in windows if it's set alright.
try cd-ing into those directories with absolute paths.

[2017-11-29 19:41] xcyan commented on #2906
@Santubasa Can you try to print out some debugging information in the losses.py
Just put the following lines ahead of line 172.
`print(scope_vars)`
`print(scope)`
https://github.com/tensorflow/models/blob/master/research/ptn/losses.py#L172

I can help you debug when you send the feedback to me. Thanks!

[2017-11-29 19:42] RenukaNale commented on #2814
Thank you for a suggestion I will try faster_rcnn_resnet101_coco_2017_11_08.
I only tried faster_rcnn_inception_resnet_v2_atrous_coco-from step 0 until 3000, my loss has dramatically decreased but after that, it stays constant between 1 to 2.
ssd_inception_v2_coco and ssd_mobilenet_v1_coco- same from step 0 until 3000, my loss has dramatically decreased but after that, it stays constant between 5

[2017-11-29 21:19] ybsave opened #2926 "The faster rcnn module does not support batch_size > 1 for each clone"
https://github.com/tensorflow/models/blob/b63a73df70656ecfcd2d50bfc98b09b3ce06f635/research/object_detection/trainer.py#L155

The above line has a concat operation which only works for single image or images with the same width/height ratio, i.e., the same size after resize.

This seems to be a bug; because in
https://github.com/tensorflow/models/blob/01aa7a4a6190bf021f448dee26fc649f4b47753e/resea

[2017-11-29 21:34] aselle commented on #2856
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-29 21:34] #2856 closed

[2017-11-29 21:35] aselle commented on #2882
Are you using python 3? If so, try using python 2. It looks like an incorrect unicode  implementation?

[2017-11-29 21:36] aselle commented on #2882
@waterson, have you tested Swivel on python 3?

[2017-11-29 21:37] aselle commented on #2884
@nealwu, could you please take a look?

[2017-11-29 21:38] aselle commented on #2890
Did @macro-dadt, suggestion help?

[2017-11-29 21:48] aselle commented on #2908
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-11-29 21:48] #2908 closed

[2017-11-29 21:54] SaintNazaire commented on #2881
Thank you @tatatodd, I have read this documentation. This suggestion comes from my experience at rebuilding Syntaxnet for Bazel 0.7.0 step by step: with no easy way to navigate the issue and very limited documentation of the underlying code I resorted to pen and paper to trace step by step.

From my end there is two options: cloning the repo and documenting with a dedicated solution for my persona

[2017-11-29 22:06] brunnoattorre commented on #1811
Any updates on this? I'm facing the same issue.

[2017-11-29 22:13] nealwu commented on #2884
The code owner for attention_ocr is @alexgorban. Reassigning.

[2017-11-29 22:15] #2219 closed

[2017-11-29 22:15] #2240 closed

[2017-11-29 22:51] Utumno commented on #2505
I had already fixed that here: https://github.com/Utumno/models/commit/34e9041f196b412a1b0930ee74580786a6de8dae which is part of https://github.com/tensorflow/models/pull/2524

I can't run the perplexity test still as I don't have access to GPUs ATM

[2017-11-29 23:05] aselle commented on #2844
Yes, you end it manually. You can then check if your model is sufficiently accurate.  Usually researchers use tensorboard to monitor the loss graph and when it plateaus they call it done. The loss is not a direct measure of accuracy, you need to see what percentage of a held out testing set is correctly classified. Good Luck!

[2017-11-29 23:05] #2844 closed

[2017-11-29 23:32] tahouse commented on #2832
I'd also like to confirm I'm seeing no difference between lowproposals and regular models.

In addition, and more importantly, ALL of the faster_rcnn models have the exact same detection time (for me about 1.5 secs/image) and produce the same detections.

I also am running a script to try out all of the models, previously with tensorflow 1.3 (before object_detection was moved to models/research) I

[2017-11-30 00:03] tomahawklin commented on #2882
I'm sure that I'm using python 2 for this.

[2017-11-30 00:54] nmoezzi commented on #1879
This time I tried quantizing the graph based on examples on https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#eight-bit-calculations

first quantized inception_v3_2016_08_28_frozen.pb using following:
`bazel-bin/tensorflow/tools/graph_transforms/transform_graph --in_graph=tensorflow/examples/label_image/data/inception_v3_2016_08_28_frozen.pb --out_graph=tensor

[2017-11-30 01:36] ccnankai commented on #2839
@ibr123   ok ,thank you very much for  your answer.If I find the answer, I will contact you

[2017-11-30 01:36] nealwu commented on #2505
Yes; unfortunately we had a regression on that bug as a result of some recent changes.

[2017-11-30 01:42] tatatodd commented on #2921
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-30 01:42] #2921 closed

[2017-11-30 01:45] tatatodd commented on #2501
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-11-30 01:45] #2501 closed

[2017-11-30 01:47] tatatodd commented on #2923
@cshallue might be able to tell us how feasible this is.

[2017-11-30 02:43] sanbeng commented on #1879
@snownus thanks for your answer.I noted the same problem,when i remove 'quantize_nodes',it worked well on linux(gpu) , the size of .pb turned into 1/4 ,but it did not speed up the inference.And when i removed the quantized .pb to windows(without gpu) ,the .pb did not work and raised error ,someone said that windows does not support quantize,now i was helplessess .

[2017-11-30 02:52] sanbeng commented on #1879
@snownus  the mode I used was 'faster_rcnn_inception_resnet_v2_atrous_coco ' comes from object detection API,but I retrained it with my data. Another error was that  i can not extend 'fold_constants',it would raise another error when import for inference.such like:
totalMemory: 10.91GiB freeMemory: 10.64GiB
2017-11-24 13:22:10.619632: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1120] Creati

[2017-11-30 03:20] sanbeng commented on #1879
@snownus the error if i extended 'quantize_nodes' when i import the quantized .pb was :
/home/emg/anaconda3/bin/python ./detectionImage.py
Traceback (most recent call last):
  File "/home/emg/anaconda3/lib/python3.5/site-packages/tensorflow/python/framework/importer.py", line 364, in import_graph_def
    source_op = name_to_op[input_name[1:]]
KeyError: 'Decode/get_center_coordinates_and_sizes/unst

[2017-11-30 04:22] LeoDMeL commented on #2851
@tatatodd Thanks a lot, now it works!

[2017-11-30 04:22] #2851 closed

[2017-11-30 06:09] Hemanth2396 opened #2930 "object_detection/protos/*.proto: No such file or directory"
As mentioned above the error takes place in while executing the command in the windows cmd prompt.

as for the reference in the installation process of object detection in this model.

in protobuf compilation.

[2017-11-30 06:33] #2137 closed

[2017-11-30 07:13] jeffrwatts commented on #2890
I'm also trying what @lucasharada is doing (training with my own dataset).  I'm running fine locally on macbook pro (although very slow... approx 25 sec per step).  I get the exact same error when trying to run Google Clound Engine.

I did try the link @macro-dadt suggested and did not have any luck (resulted in the same error).

[2017-11-30 09:28] zapersea commented on #2207
I also  encountered the same problem . Could you please talk about how you fix it ?And the kernel problem means?  Thanks @vaibhav0195

[2017-11-30 09:41] qtdaniel commented on #2505
I can confirm that this problem has been resolved.

Using the RNN tutorial code as of commit 77cab72 I get the following results using the default BLOCK RNN mode:

    Epoch: 13 Train Perplexity: 40.726
    Epoch: 13 Valid Perplexity: 119.508
    Test Perplexity: 113.303

And using the BASIC RNN mode I get something very similar (just trains a bit slower):

    Epoch: 13 Train Perplexity: 40.518

[2017-11-30 10:10] rakashi opened #2931 "how to create our own dataset"
hi,
how to create our own dataset for ImageCaptioning. and how to create annotation file.
anyone suggest me is there is any tool.

[2017-11-30 11:16] guotong1988 commented on #2141
THX

[2017-11-30 11:22] guotong1988 commented on #1790
same problem ...

[2017-11-30 12:12] flipflop98 commented on #2078
Hello @jch1 @stevenpclark  - I really need to SSD+VGG and FasterRCNN+VGG and R-FCN+VGG combination. If you finish to change at least one combination, please give me one examples what is the changes in files. Then, we can apply the rule to every combination. Thank you in advance.

[2017-11-30 12:32] Santubasa commented on #2906
@xcyan fortunately I found the solution in the meantime, wherein I was working on a python 3.6.3 version and downgraded the version to 2.7 and the error no longer exists.

Thanks for your support!

[2017-11-30 12:32] #2906 closed

[2017-11-30 13:28] liuqy1994 commented on #2931
this may help you：

[2017-11-30 13:29] liuqy1994 commented on #2930
check your workspace

[2017-11-30 16:47] waterson commented on #2882
@aselle I've not run Swivel using python 3, but I can give that a try and see if any problems arise.
@tomahawklin do you have a stack trace?

[2017-11-30 18:48] ybsave commented on #2930
This is a typical bug in Windows. Here are detailed discussion #1591.

A solution is to compile those .proto files one by one. You can write a batch to run.

[2017-11-30 18:57] nealwu commented on #2505
Great! I got improvements on my end as well, including for the medium and large models.

[2017-11-30 19:15] cyberphantom commented on #2031
@crizzy9 Can you please tell which slim? I found 2 in models

[2017-11-30 19:37] tatatodd commented on #2931
@liuqy1994 Thanks for the link!

@rakashi For future reference, this type of question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-11-30 19:37] #2931 closed

[2017-11-30 21:18] bitbitsbyte commented on #378
@xtr33me thanks for the clarification. I started with toy data comes with the project. I started the training last night, still Its going on, running_avg_loss is reached 0.000001. Default max_run_steps value is 10M, When the training will get over? Should I run and eval mode after the training completes?

[2017-11-30 21:26] zerodarkzone commented on #173
Hi,
I keep getting the CUDA_OUT_OF_MEMORY error. I already tried the fix proposed here but it doesn't work. I compiled it with bazel 0.5.4

[2017-11-30 21:59] sshillo commented on #796
seeing the same problem using on aws using the default tensorflow ubuntu ami ami-2edccb38

[2017-11-30 22:11] cshallue commented on #2923
In inference mode a single image is actually a batch of captions because we use beam search. For example, if beam_size=100 then inference for that image uses a batch size of 100 captions. This code is just one example of running inference for generating captions, and is not meant to cover all use cases.

[2017-11-30 22:11] #2923 closed

[2017-11-30 22:24] sshillo commented on #796
seems to be working with the amazon linux ami ami-4b44745d

[2017-11-30 22:29] tatatodd commented on #2853
Looks like you duplicated this question in the tensorflow/tensorflow repository as: https://github.com/tensorflow/tensorflow/issues/14777

Please don't ask the same question in multiple repositories.  It's unfriendly, and wastes our time and resources.

Closing this out; please follow-up on the other issue.

[2017-11-30 22:29] #2853 closed

[2017-12-01 01:48] vanpersie32 commented on #2923
Thanks for your reply. I agree with you.

[2017-12-01 03:09] xtr33me commented on #378
Hey @bitbitsbyte ... you are doing the same thing I first did when messing with Tensorflow. You do not want to overfit, which is what you are doing with an avg loss of 0.0000001. One important thing to remember anytime you are training any model is to never overfit. What will happen if you do this is that your model will ONLY work with your training data and not be able to work with anything else.

[2017-12-01 04:03] tobigithub opened #2936 "precision vs accuracy in cifar10_eval.py"
### System information
- **What is the top-level directory of the model you are using**: /tensorflow/models/tree/master/tutorials/image/cifar10
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04.3
- **TensorFlow installed from (source or binary)**:binary
- **TensorF

[2017-12-01 05:54] Zhangxu0501 opened #2937 "export_inference_graph.py"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-12-01 05:54] #2937 closed

[2017-12-01 07:50] cclough commented on #2890
I am getting this problem too!

[2017-12-01 09:15] loretoparisi commented on #378
This is a very old post, but I can say one of the most interesting task in TensorFlow! So I'm updating here my findings about some real world example. Hopefully this will help TF authors to add something similar.

This tutorial shows how to train a Text Summarization model with the **Gigaword Dataset** and **OpenNMT** in C++
[Text Summarization on Gigaword and ROUGE Scoring](http://forum.opennmt.n

[2017-12-01 09:43] SnShine opened #2939 "[Slim] Building summarize_graph mentioned in slim readme fails to build."
### System information
- **What is the top-level directory of the model you are using**: SLIM
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.4.0-14-gb5df90f

[2017-12-01 15:35] akhiljain100 commented on #2737
I am having the same problem and couldn't find the question in Stack Overflow. Did you find any solution for it ?

[2017-12-01 15:40] sxr3455 commented on #2737
Yes. It worked when I tried with python 3 installation of tensorflow 1.2.

[2017-12-01 15:55] johnyboyoh commented on #2930
@Hemanth2396 Indeed there is a problem with version 3.5.0 of protobuf on Windows. This line works fine for me using version 3.4.0. Get it from here:
https://github.com/google/protobuf/releases/tag/v3.4.0

[2017-12-01 16:14] EffePen commented on #2739
@glc12125  thanks for summarising how to fix these issues
I succeeded in fixing the  not-up-to-date issue also by adding 'tensorflow>=1.4' to the required packaged in setup.py

[2017-12-01 16:30] akhiljain100 commented on #2737
No, this doesn't fix my problem. I think its related with the shapes of the bounding box and bounding box labels. Did you changed your training tfrecord format?

[2017-12-01 17:58] sxr3455 commented on #2737
No, worked with the same old tf record files.

[2017-12-01 19:24] aselle commented on #2481
@itsmeolivia , could you please take a look at this issue.

[2017-12-01 19:27] aselle commented on #2936
@nealwu, could you please take a look?

[2017-12-01 19:33] aselle commented on #2930
@Hemanth2396 , do these suggestions resolve your issues? either writing a batch file, using 3.4 instead of 3.5, and the info on #1591?

[2017-12-01 19:37] aselle commented on #2926
@derekjchow , could you please take a look?

[2017-12-01 20:46] nealwu commented on #2936
Hi @tobigithub, feel free to [make a pull request](https://github.com/tensorflow/models/compare) to correct the issues you're seeing. In the meantime, I would also recommend checking out https://github.com/tensorflow/models/tree/master/official/resnet as it is a more updated implementation of a CIFAR-10 model and also achieves much higher accuracy (92-94%) than the tutorial model.

[2017-12-01 21:05] ghost opened #2942 "add a tag to an xml file in pascal voc format"
can I add a tag to an xml file in pascal voc format? For example I want to add age .

`<age>52</age>`

[2017-12-01 21:55] pkdogcom commented on #2292
It turns out that this issue has nothing to do with export. The cause of lower performance is the way Tensorflow decodes JPEG image, using JDCT_IFAST Discrete Cosine Transform by default, is different from how OpenCV or Scipy/PIL does, which can lead to non-trivial difference in read numpy image array. Please refer to [stackoverflow](https://stackoverflow.com/a/45222202) for more details.

Since m

[2017-12-01 22:05] pkdogcom commented on #2292
@psuff To manually evaluate the exported model or checkpoints, you can use the object_detection_evaluation API directly, as how evaluator.py does. For example,

[code]

[2017-12-02 01:29] pkdogcom commented on #2292
Well, in fact the way Tensorflow decodes the image has minimal impact on the performance. The reason I have much lower performance with OpenCV decoded input image is that OpenCV use BGR color space in imread or VideoCapture while Tensorflow uses RGB. Changing the color space fix my issue.

[2017-12-02 02:50] soumenms2015 commented on #2737
I am having same problem.  I don't think that it is problem with tensorflow version.

[2017-12-02 03:05] tobigithub commented on #2936
Thank you.

[2017-12-02 03:05] #2936 closed

[2017-12-02 08:21] liangyihuai opened #2943 "the FLAGS.train_epochs is invalid"
tensorflow-> models -> official -> mnist.py. The default FLAGS.train_epochs is 40. But It does not stop when the training step is up to 10000.

[2017-12-02 11:18] chrisrn commented on #2818
Now I have 2 gpus GTX 1080 which have 6.1 cuda compute capability. The speed issue seems to be resolved according to tensorflow benchmark code. The images/sec are now almost 2 times more. But the utilization issue still exists according to slim code. The gpus are not fully utilized during training and sometimes they are close to 0%. So I don't know if it is a tensorflow bug.

[2017-12-02 13:04] scotthuang1989 opened #2944 "tensoflow slim inception v1 implementation don't have auxiliary classifiers"
I have posted this question at [stackoverflow](https://stackoverflow.com/questions/47605092/tensoflow-slim-inception-v1-implementation-dont-have-auxiliary-classifiers). But don't get answer so far, thought post it here might get answer quickly.

Here is the question:

I recently start to read this [paper ](https://arxiv.org/abs/1409.4842v1)about inception v1. in section 5, they show me a picture o

[2017-12-02 14:43] lozuwa commented on #2739
Thanks for the answers, I was able to solve the issue as well. Nonetheless,
I ended up buying myself a GTX 1080 ti. Training locally is way better.

On 1 Dec 2017 12:14 p.m., "EffePen" <notifications@github.com> wrote:

[2017-12-02 17:30] frederictost commented on #2771
"font = ImageFont.truetype('arial.ttf', 32)"
Which line from which file did you changed ?

[2017-12-02 17:46] cindysillence commented on #2771
@frederictost  i just change the number from 16 to 32 . The label should be more biger . but it still am small as usual .

[2017-12-02 19:09] mosab-r opened #2945 "use API for gender recognition"
can I use tensorflow object detection API for gender recognition?
I want to train SSD_mobile net for gender recognition and detection. I changed labelmap to:
[code]
and num_classes=2
but the network cant be trained and this is the result:
[
![photo_2017-12-02_22-36-24](https://user-images.githubusercontent.com/30953765/33518845-42f3316c-d7b1-11e7-92b4-2cf7f06e2da2.jpg)
](url)
what should I do? can

[2017-12-02 20:23] frederictost commented on #2771
With my new code I used the option **font_size = 42**
 vis_util.visualize_boxes_and_labels_on_image_array(
                    image_np,
                    np.squeeze(boxes),
                    np.squeeze(classes).astype(np.int32),
                    np.squeeze(scores),
                    category_index,
                    use_normalized_coordinates=True,
                    line_thickness=0,

[2017-12-02 23:30] staturecrane commented on #2739
I think we are going to try out Amazon's Sagemaker, instead of dealing with all of these dependency issues with training and model version hosting. Somehow it supports Tensorflow > 1.2 and Google Cloud does not.

[2017-12-03 00:19] devilsnare007 commented on #1595
@fera0013 , if you're on windows and running that command it won't work, for some reason it doesn't recognize /* as iterating thru all .proto files, you will have to manually (or create a batch file) do all .proto files one by one:
D:\Tensorflow_Object_Detection_API\protoc-3.5\bin\protoc object_detection/protos/"filename.proto" --python_out=.
##Running this from the folder containing protoc.exe ##

[2017-12-03 04:39] cclauss opened #2946 "27 Python syntax errors"
27 Python syntax errors can be found at:
* https://travis-ci.org/cclauss/itinerant-tester/jobs/310724357#L977-L1058

[2017-12-03 04:53] ronyuzhang opened #2947 "slim examples don't provide coders with self-adaption batch_size, and now i must set batch_size value in advance"

[2017-12-03 04:56] ronyuzhang commented on #2947
python train_image_classifier_faces.py \
  --train_dir=${TRAIN_DIR} \
  --dataset_name=faces \
  --dataset_split_name=train \
  --dataset_dir=${DATASET_DIR} \
  --model_name=inception_resnet_v1 \
  --checkpoint_path=${CKPT_PATH} \
  --checkpoint_exclude_scopes=InceptionResnetV1/Logits,InceptionResnetV1/Bottleneck,Logits \
  --trainable_scopes=InceptionResnetV1/Logits,InceptionResnetV1/Bottleneck,L

[2017-12-03 07:12] cuixiongwen commented on #2633
@cipri-tom : Thank you for your answer.
@asimshankar : I don't know if @cipri-tom 's suggestion helps. I changed to python2.7, and this problem disappeared.

[2017-12-03 11:16] lucaslingle commented on #1494
Hello,

I had the same problem. I am posting to confirm that it is not a bug.

If the `'<unk>'` token was missing from the pretrained model's `vocab.txt` file, it **would** be a bug to be fixed by the skip_thoughts maintainers, because the code would crash on OOV tokens, when it was explicitly designed not to do so.

But the truth is, `'<unk>'` is not missing.

To anyone who encountered the same i

[2017-12-03 13:49] ViktorM opened #2948 "Error starting Mujoco task with Trust-PCL"
When trying to start Mujoco task with Trust-PCL as recommended in https://github.com/tensorflow/models/tree/master/research/pcl_rl readme I've hit an error:
[code]
I have TF 1.4 installed with Python 3.5.2. Looks like code was developed on Python 2.7, I had to replace all xrange with range function to be able to start it. And then got an error above.

[2017-12-03 14:30] soumenms2015 opened #2949 "ImportError: No module named 'tkinter' during testing the installation"
Hello I am using python3.4 and tensorflow 1.2.1 . I am getting the following error while testing the installation of object detection api.

Here is:
..models/research> python object_detection/builders/model_builder_test.py
Traceback (most recent call last):
  File "object_detection/builders/model_builder_test.py", line 21, in <module>
    from object_detection.builders import model_builder
  File

[2017-12-03 16:31] RoshanADK commented on #2246
This is what it says exactly, I opened all files throwing errors, didn't find anything to work, Am I missing something ?

Traceback (most recent call last):
  File "C:\object_detection\models\research\Object Detection demo.py", line 50, in <module>
    label_map = label_map_util.load_labelmap(PATH_TO_LABELS)
  File "C:\object_detection\models\research\object_detection\utils\label_map_util.py", lin

[2017-12-04 02:51] zbsean opened #2950 "Any function test my dataset mAP for object detection?"
Any function test my dataset mAP for object detection?

[2017-12-04 08:33] ronyuzhang opened #2951 "how to prebuid a is_training placeholder in slim.learning.train function"
when i run test mode, i can use is_training=false, But tensorflow slim example don‘t provide code the above mentioned

[2017-12-04 08:34] ronyuzhang commented on #2951
@bmabey @alextp @moonboots @ewilderj @jtoy

[2017-12-04 08:35] ronyuzhang commented on #2947
@bmabey @alextp @moonboots @ewilderj @jtoy

[2017-12-04 09:03] Viveco commented on #1990
I have faced the same error: ImportError: cannot import name 'label_map_util'
so The file in ‘object_detection/utils’

[2017-12-04 09:47] xiaoxTM opened #2952 "Got high loss after restoring parameters from ckpt"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow

[2017-12-04 09:53] #2762 closed

[2017-12-04 10:10] luyuesheng commented on #2762
@tombstone
I  trained model on voc2007 data using default param in  faster_rcnn_resnet101_voc07.config,but   I found the result is not so good ,can you please give me a better faster_rcnn_resnet101_voc07.config about pascal2007?

[2017-12-04 10:39] ronyuzhang commented on #2926
how to make batch_size placeholder

[2017-12-04 10:55] MikelBa commented on #2648
I solved my problem. I was choosing the  wrong checkpoints for nasnet_mobile model. I used the checkpoints from below and everything went fine.

`--checkpoint_exclude_scopes=aux_7/aux_logits/FC,final_layer/FC \`
`--trainable_scopes=.*/aux_logits/FC,final_layer/FC \`

[2017-12-04 12:40] jorgemf opened #2953 "NasNet models not loading the checkpoint files due a bad magic number"
TensorFlow 1.4 with cuda support.

Download the nasnet model from the web into CHECKPOINT_PATH and create the directories DATASET_DIR and TRAIN_DIR, then:
[code]
The error:
[code]
It also happens with the mobile net

[2017-12-04 15:24] scotthuang1989 commented on #2944
can anyone help me on this questions?

[2017-12-04 16:32] SumanyuShukla opened #2955 "Segmentation fault while training with 22 classes an large dataset"
When I am training with 22 classes with around 8000 images while training it is using entire memory and showing segmentation fault, even with batch size 1 it is not working. I am using ssd mobilenet model and its configuration file provided by tensorflow.

[2017-12-04 17:20] aselle commented on #2955
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-12-04 17:20] #2955 closed

[2017-12-04 17:23] AmitSoli opened #2957 "Problem in "regularizers.py""
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**: ('v1.4.0-rc1-11-g130

[2017-12-04 17:31] SumanyuShukla commented on #2955
Tensorflow version 3.5
Ubuntu OS 16.04
Installed from source
exact command-
python train.py --logtostderr --train_dir=training/ --pipeline_config_path=training/c.config

[2017-12-04 18:35] reedwm commented on #2957
/CC @s-gupta, can you take a look?

[2017-12-04 18:40] davidenitti opened #2958 "create_pet_tf_record.py is broke"
create_pet_tf_record.py does not work anymore
the flag faces_only=True does not work

all the images are ignored:
WARNING:root:Invalid example: annotations/xmls/great_pyrenees_15.xml, ignoring.

the bug should be here:
mask_stack = np.stack(masks).astype(np.float32)

[2017-12-04 18:43] benoitsteiner commented on #2843
I can't reproduce the problem with the latest codebase. It looks like the best course of action is to avoid folding constant until 1.5 is released.

[2017-12-04 18:43] #2843 closed

[2017-12-04 19:20] derekjchow commented on #2883
Do the configs from our [samples folder](https://github.com/tensorflow/models/blob/master/research/object_detection/samples/configs) work?

[2017-12-04 19:23] derekjchow commented on #2950
Consider running our [evaluation script](https://github.com/tensorflow/models/blob/master/research/object_detection/eval.py) on your test data set, which will report your mAP.

[2017-12-04 19:30] reedwm commented on #2943
The number of steps is not the same as the number of epochs. Training an epoch means to go over all the training images in MNIST once, so 40 epochs means to go over all the training images 40 times.

[2017-12-04 19:30] #2943 closed

[2017-12-04 19:46] reedwm commented on #2949
/CC @tombstone, can you take a look? This might be related to #2739

[2017-12-04 22:01] reedwm commented on #2939
This is a duplicate to tensorflow/tensorflow#13243. Try the workarounds listed there.

[2017-12-04 22:01] #2939 closed

[2017-12-04 22:04] reedwm commented on #2945
/CC @jesu9 @dreamdragon, can either of you comment?

[2017-12-05 00:18] reedwm commented on #2953
@sguada, do you know what the issue is?

[2017-12-05 00:25] reedwm commented on #2951
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-05 00:25] #2951 closed

[2017-12-05 00:28] reedwm commented on #2947
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-12-05 01:31] 807660937 commented on #2803
@jingyibo123 I have the same error with you but I have tried methods of philippwerner‘s but I failed.Have
 you  ever solve it?

[2017-12-05 01:41] jorgemf commented on #2953
@reedwm In other code I have, it seems to work with the nightly build. So probably an issue with 1.4. Feel free to close it

[2017-12-05 01:45] reedwm commented on #2633
/CC @tombstone, can you ensure Object Detection works with Python 3?

[2017-12-05 01:59] reedwm commented on #2953
Closing, feel free to repoen if you determine the issue is still on nightly.

[2017-12-05 01:59] #2953 closed

[2017-12-05 02:49] jesu9 commented on #2945
@mosab-r
What kind of training data are you using?

Chen

[2017-12-05 07:27] besarsol commented on #1917
I just edited the import lines not to refer 'adversarial_text.data' because they are in same folder.
Not sure this is intended by author but this solved mine.

ex)
`#from adversarial_text.data import document_generators`
`import document_generators`

[2017-12-05 09:32] andmiles2go opened #2960 "Object detection API : faster_rcnn_nas config problem"
When i trained a faster_rcnn_nas model locally, i got a error as bellow

`Traceback (most recent call last):
  File "train.py", line 198, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train.py", line 194, in main
    worker_job_name, is_chief, FLAGS.train

[2017-12-05 12:07] sorny92 commented on #2899
Maybe #1741 can help you. There's a C++ example.

[2017-12-05 13:04] iirina commented on #2822
Ping, this is still failing

[2017-12-05 13:05] iirina commented on #2822
cc: @bogatyy @calberti

[2017-12-05 15:50] davemers0160 commented on #1934
Windows has a problem with the *.proto and trying to pass in multiple files into protoc.exe

[run_protoc.txt](https://github.com/tensorflow/models/files/1531808/run_protoc.txt)

Here's a quick script, just rename the extension to .bat and place it in /master-models/research and then run the file from the command line.

[2017-12-05 17:04] drpngx commented on #2944
We try to keep the github for bugs and feature requests only. @sguada, feel free to answer on stackoverflow and close here.

[2017-12-05 17:08] drpngx commented on #2946
Sorry, I can't see the log, but it would be very good if you would submit PRs to fix the errors?

[2017-12-05 17:12] drpngx commented on #2948
Sorry, this is not our code. We can't really support that.

FWIW, For `xrange`, we usually get it from `six`.

[2017-12-05 17:12] #2948 closed

[2017-12-05 17:19] drpngx commented on #2356
Sorry this fell through the cracks. Did you try with the latest (1.4) version?

[2017-12-05 17:36] drpngx commented on #2784
@nealwu do you know who maintains this?

[2017-12-05 17:42] drpngx commented on #2790
@petewarden any idea?

[2017-12-05 17:46] drpngx commented on #2798
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-05 17:46] #2798 closed

[2017-12-05 17:48] drpngx commented on #2800
So, if I understand correctly, you were using Adam, and you are now trying to use a different optimizer, so the variables from Adam are missing. You can filter out what you need using the var list when creating the [saver](https://www.tensorflow.org/api_docs/python/tf/train/Saver), and omit the Adam variables.

[2017-12-05 17:48] #2800 closed

[2017-12-05 17:59] tatatodd commented on #2899
Ah nice, thanks @sorny92 for the link!

I'm closing this out since this really is a dup of #1741 (sorry, I should have found that earlier).  If there are any follow-ups, they should go on that issue.

[2017-12-05 17:59] #2899 closed

[2017-12-05 18:09] drpngx commented on #2814
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-12-05 18:09] #2814 closed

[2017-12-05 18:14] drpngx commented on #2822
@gunan who maintains that CI?

[2017-12-05 18:24] drpngx commented on #2836
@sguada does that ring a bell?

[2017-12-05 19:13] cclauss commented on #2946
Yeah Mon https://github.com/tensorflow/models/pulls/cclauss

[2017-12-05 19:41] gunan commented on #2822
The CI is maintained by bazel team (also reporters are bazel team :) )
@nealwu @bogatyy Could you take a look?

[2017-12-05 19:56] bogatyy commented on #2822
Thank you!
We are aware of the issue. The cause is SyntaxNet relying on an outdated Bazel version (0.5.4) because more recent versions introduced breaking changes.
Is there a way to specify the Bazel version we want in Jenkins?

[2017-12-05 20:11] ChenyuWang123 commented on #2930
I have try 3.4 but it also doesn't work. Has anyone solved the problem?

[2017-12-05 20:46] RaymondDixon commented on #2958
Same issue, create_pet_tf_record.py ignores all xml files inside annotation folder and creates 2 empty pet_train_with_masks.record and pet_val_with_masks.record files.

command: python object_detection/dataset_tools/create_pet_tf_record.py --label_map_path=object_detection/data/pet_label_map.pbtxt --data_dir='pwd' --output_dir='pwd'

Output:
WARNING:root:Invalid example: annotations/xmls/great_pyr

[2017-12-05 21:22] ChenyuWang123 commented on #2930
I have solved the problem. My mistake occurs because the directory of the files has been updated. So we should run cmd in 'research' file instead of 'models' file. I hope that helps.

[2017-12-05 21:41] monomon opened #2961 "InvalidArgumentError: TypeError: 'numpy.float64' object cannot be interpreted as an integer"
### System information
- **What is the top-level directory of the model you are using**: `object_detection`
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes (but using object_detection extensively)
- **OS Platform and Distribution**: Windows 10
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)